LANGUAGE LANG_ROMANIAN, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_HIDE_MOUSE, "Asc&unde indicatorul șoricelului"
    IDS_SHOW_MOUSE, "Afișea&ză indicatorul șoricelului"
    IDS_VDM_MENU  , "ReactOS &VDM"
END

STRINGTABLE
BEGIN
    IDS_VDM_DUMPMEM_TXT,    "Captură memorie (te&xt)"
    IDS_VDM_DUMPMEM_BIN,    "Captură memorie (&binară)"
    IDS_VDM_QUIT       ,    "I&eșire din ReactOS VDM"
END
