[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]
  
[%# INTERFACE:
  #%]

[% DEFAULT width = 600
           height = 350 
%]

[% PROCESS global/header.html.tmpl 
  title = "Chart"
  header_addl_info = time2str("%Y-%m-%d %H:%M:%S", time)
%]

<div align="center">

  [% imageurl = BLOCK %]chart.cgi?
    [% imagebase FILTER html %]&amp;ctype=png&amp;action=plot&amp;width=
    [% width %]&amp;height=[% height -%]
  [% END %]

  <img alt="Graphical report results" src="[% imageurl %]"
    width="[% width %]" height="[% height %]">
  <p>
    [% sizeurl = BLOCK %]chart.cgi?
      [% imagebase FILTER html %]&amp;action=wrap
    [% END %]
    <a href="[% sizeurl %]&amp;width=[% width %]&amp;height=
             [% height + 100 %]">Taller</a><br>
    <a href="[% sizeurl %]&amp;width=[% width - 100 %]&amp;height=
             [% height %]">Thinner</a> * 
    <a href="[% sizeurl %]&amp;width=[% width + 100 %]&amp;height=
             [% height %]">Fatter</a>&nbsp;&nbsp;&nbsp;&nbsp;<br>
    <a href="[% sizeurl %]&amp;width=[% width %]&amp;height=
             [% height - 100 %]">Shorter</a><br>
  </p>
  
  <p>
    <a href="chart.cgi?
      [% imagebase FILTER html %]&amp;ctype=csv&amp;action=plot">CSV</a> |
    <a href="chart.cgi?[% imagebase FILTER html %]&amp;action=assemble">Edit 
    this chart</a>
  </p>
 
</div>

[% PROCESS global/footer.html.tmpl %]
