[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # products: an array of product names the user is allowed to view.
  # datasets: an array of hashes with available statuses and resolutions.
  # url_image: URL of the generated graph.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% PROCESS global/header.html.tmpl title = "$terms.Bug Charts"
                                   h1 = "Welcome to the $terms.Bugzilla Charting Kitchen" %]

<div align="center">
  [% IF url_image %]
    <img src="[% url_image FILTER html %]">
    <br clear="both">
  [% ELSE %]
    <form id="choose_product" method="get" action="reports.cgi">
      <table border="1" cellpadding="5" cellspacing="2">
        <tr>
          <th>Product:</th>
          <td align="center">
            <select id="product" name="product">
              [% FOREACH product = products %]
                <option value="[% product FILTER html %]">[% product FILTER html %]</option>
              [% END %]
            </select>
          </td>
        </tr>
        <tr>
          <th>Chart datasets:</th>
          <td align="center">
            <select id="datasets" name="datasets" multiple="multiple" size="5">
              [%# We cannot use translated statuses and resolutions from field-descs.none.html
                # because old charts do not distinguish statuses from resolutions. %]
              [% FOREACH dataset = datasets %]
                <option value="[% dataset.value FILTER html %]:"
                  [% " selected=\"selected\"" IF dataset.selected %]>
                  [% dataset.value FILTER html %]</option>
              [% END %]
            </select>
          </td>
        </tr>
        <tr>
          <th colspan="2">
            <input type="submit" id="submit" value="Continue">
          </th>
        </tr>
      </table>
    </form>
  [% END %]
</div>

[% PROCESS global/footer.html.tmpl %]
