/* Translation and UTF-8 Conversion by mkbu95 <mkbu95@gmail.com> (August, 2011) */

LANGUAGE LANG_PORTUGUESE, SUBLANG_NEUTRAL

IDD_MAIN_DIALOG DIALOGEX 0, 0, 478, 280
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP |
    WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU
CAPTION "Programa de Diagnóstico ReactX"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Tab1",IDC_TAB_CONTROL,"SysTabControl32",WS_TABSTOP,2,2,474,250
    PUSHBUTTON "&Ajuda", IDC_BUTTON_HELP, 2, 261, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    DEFPUSHBUTTON "&Próxima página", IDC_BUTTON_NEXT, 257, 261, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "Sal&var Informações...", IDC_BUTTON_SAVE_INFO, 311, 261, 110, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "Sai&r", IDC_BUTTON_EXIT, 425, 261, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

IDD_SYSTEM_DIALOG DIALOGEX 0, 0, 462, 220
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Esta ferramenta fornece informações detalhadas sobre os componentes e drivers do ReactX instalados no sistema.", -1, 10, 10, 443, 17
    LTEXT "Se você souber que área está causando o problema, clique na guia adequada acima. Caso contrário, você pode usar o botão ""Próxima página"" abaixo para visitar cada página em sequência.", -1, 10, 30, 443, 25
    GROUPBOX "Informações do sistema", -1, 10, 55, 443, 130, SS_RIGHT
    LTEXT "Data/hora atual:", -1, 70, 70, 80, 10, SS_RIGHT
    LTEXT "Nome do computador:", -1, 70, 80, 80, 10, SS_RIGHT
    LTEXT "Sistema pperacional:", -1, 70, 90, 80, 10, SS_RIGHT
    LTEXT "Idioma:", -1, 70, 100, 80, 10, SS_RIGHT
    LTEXT "Fabricante do sistema:", -1, 70, 110, 80, 10, SS_RIGHT
    LTEXT "Modelo do sistema:", -1, 70, 120, 80, 10, SS_RIGHT
    LTEXT "BIOS:", -1, 70, 130, 80, 10, SS_RIGHT
    LTEXT "Processador:", -1, 70, 140, 80, 10, SS_RIGHT
    LTEXT "Memória:", -1, 70, 150, 80, 10, SS_RIGHT
    LTEXT "Arquivo de paginação:", -1, 70, 160, 80, 10, SS_RIGHT
    LTEXT "Versão do ReactX:", -1, 70, 170, 80, 10, SS_RIGHT
    LTEXT "", IDC_STATIC_TIME, 155, 70, 195, 10, SS_LEFT
    LTEXT "", IDC_STATIC_COMPUTER, 155, 80, 195, 10, SS_LEFT
    LTEXT "", IDC_STATIC_OS, 155, 90, 195, 10, SS_LEFT
    LTEXT "", IDC_STATIC_LANG, 155, 100, 195, 10, SS_LEFT
    LTEXT "", IDC_STATIC_MANU, 155, 110, 195, 10, SS_LEFT
    LTEXT "", IDC_STATIC_MODEL, 155, 120, 195, 10, SS_LEFT
    LTEXT "", IDC_STATIC_BIOS, 155, 130, 195, 10, SS_LEFT
    LTEXT "", IDC_STATIC_PROC, 155, 140, 195, 10, SS_LEFT
    LTEXT "", IDC_STATIC_MEM, 155, 150, 195, 10, SS_LEFT
    LTEXT "", IDC_STATIC_SWAP, 155, 160, 195, 10, SS_LEFT
    LTEXT "", IDC_STATIC_VERSION, 155, 170, 195, 10, SS_LEFT
END

IDD_DISPLAY_DIALOG DIALOGEX 0, 0, 462, 220
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Dispositivo", -1, 10, 10, 250, 100
    RTEXT "Nome:", -1, 20, 25, 70, 10
    RTEXT "Fabricante:", -1, 20, 35, 70, 10
    RTEXT "Tipo de processador:", -1, 20, 45, 70, 10
    RTEXT "Conv. analógico-digital:", -1, 20, 55, 70, 10
    RTEXT "Total aprox. memória:", -1, 20, 65, 70, 10
    RTEXT "Modo de exib. atual:", -1, 20, 75, 70, 10
    RTEXT "Monitor:", -1, 20, 85, 70, 10
    LTEXT "", IDC_STATIC_ADAPTER_ID, 95, 25, 150, 10
    LTEXT "", IDC_STATIC_ADAPTER_VENDOR, 95, 35, 150, 10
    LTEXT "", IDC_STATIC_ADAPTER_CHIP, 95, 45, 150, 10
    LTEXT "", IDC_STATIC_ADAPTER_DAC, 95, 55, 150, 10
    LTEXT "", IDC_STATIC_ADAPTER_MEM, 95, 65, 150, 10
    LTEXT "", IDC_STATIC_ADAPTER_MODE, 95, 75, 150, 10
    LTEXT "", IDC_STATIC_ADAPTER_MONITOR, 95, 85, 150, 10

    GROUPBOX "Drivers", -1, 270, 10, 190, 100
    RTEXT "Driver principal:", -1, 275, 25, 55, 10
    RTEXT "Versão:", -1, 275, 35, 55, 10
    RTEXT "Data:", -1, 275, 45, 55, 10
    RTEXT "Assinado por WHQL:", -1, 275, 55, 55, 10
    RTEXT "Mini-VDD:", -1, 275, 65, 55, 10
    RTEXT " vvdddVDD:", -1, 275, 75, 55, 10
    RTEXT "Versão do DDI:", -1, 275, 85, 55, 10
    LTEXT "", IDC_STATIC_ADAPTER_DRIVER, 335, 35, 100, 10
    LTEXT "", IDC_STATIC_ADAPTER_VERSION, 335, 35, 100, 10
    LTEXT "", IDC_STATIC_ADAPTER_DATE, 335, 45, 100, 10
    LTEXT "", IDC_STATIC_ADAPTER_LOGO, 335, 55, 100, 10
    LTEXT "", IDC_STATIC_ADAPTER_MINIVDD, 335, 65, 100, 10
    LTEXT "", IDC_STATIC_ADAPTER_VDD, 335, 75, 100, 10
    LTEXT "", IDC_STATIC_ADAPTER_DDI, 335, 85, 100, 10

    GROUPBOX "Recursos dos ReactX", -1, 10, 115, 450, 60
    RTEXT "Aceleração do DirectDraw:", -1, 15, 130, 110, 12
    RTEXT "Aceleração do Direct3D:", -1, 15, 145, 110, 12
    RTEXT "Aceleração de textura AGP:", -1, 15, 160, 110, 12
    LTEXT "", IDC_STATIC_DDSTATE, 130, 130, 40, 10
    LTEXT "", IDC_STATIC_D3DSTATE, 130, 145, 40, 10
    LTEXT "", IDC_STATIC_AGPSTATE, 130, 160, 40, 10
    PUSHBUTTON "Ativado", IDC_BUTTON_DDRAW, 170, 124, 60, 14, WS_DISABLED
    PUSHBUTTON "Ativado", IDC_BUTTON_D3D, 170, 140, 60, 14, WS_DISABLED
    PUSHBUTTON "Ativado", IDC_BUTTON_AGP, 170, 156, 60, 14, WS_DISABLED
    PUSHBUTTON "Testar DirectDraw", IDC_BUTTON_TESTDD, 250, 124, 80, 14
    PUSHBUTTON "Testar Direct3D", IDC_BUTTON_TEST3D, 250, 140, 80, 14

    GROUPBOX "Observações", -1, 10, 180, 450, 40
    EDITTEXT  IDC_TEXT_INFO, 20, 192, 432, 20, WS_DISABLED | WS_TABSTOP
END


IDD_SOUND_DIALOG DIALOGEX 0, 0, 462, 220
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Dispositivo", -1, 10, 10, 250, 100
    RTEXT "Nome:", -1, 20, 25, 70, 10
    RTEXT "ID do Hardware:", -1, 20, 35, 70, 10
    RTEXT "Ident. do fabricante:", -1, 20, 45, 70, 10
    RTEXT "Ident. do produto (Product ID):", -1, 20, 55, 70, 10
    RTEXT "Tipo:", -1, 20, 65, 70, 10
    RTEXT "Dispositivo padrão:", -1, 20, 75, 70, 10
    LTEXT "", IDC_STATIC_DSOUND_NAME, 95, 25, 150, 10
    LTEXT "", IDC_STATIC_DSOUND_DEVICEID, 95, 35, 150, 10
    LTEXT "", IDC_STATIC_DSOUND_VENDORID, 95, 45, 150, 10
    LTEXT "", IDC_STATIC_DSOUND_PRODUCTID, 95, 55, 150, 10
    LTEXT "", IDC_STATIC_DSOUND_TYPE, 95, 65, 150, 10
    LTEXT "", IDC_STATIC_DSOUND_STANDARD, 95, 75, 150, 10
    GROUPBOX "Drivers", -1, 270, 10, 190, 100
    RTEXT "Nome:", -1, 275, 25, 55, 10
    RTEXT "Versão:", -1, 275, 35, 55, 10
    RTEXT "Data:", -1, 275, 45, 55, 10
    RTEXT "Assinado por WHQL:", -1, 275, 55, 55, 10
    RTEXT "Outros arquivos:", -1, 275, 65, 55, 10
    RTEXT "Provedor:", -1, 275, 75, 55, 10
    LTEXT "", IDC_STATIC_DSOUND_DRIVER, 335, 25, 100, 10
    LTEXT "", IDC_STATIC_DSOUND_VERSION, 335, 35, 100, 10
    LTEXT "", IDC_STATIC_DSOUND_DATE, 335, 45, 100, 10
    LTEXT "", IDC_STATIC_DSOUND_LOGO, 335, 55, 100, 10
    LTEXT "", IDC_STATIC_DSOUND_FILES, 335, 65, 100, 10
    LTEXT "", IDC_STATIC_ADAPTER_PROVIDER, 335, 75, 100, 10
    GROUPBOX "Recursos do ReactX", -1, 10, 115, 450, 60
    CONTROL "", IDC_SLIDER_DSOUND, "msctls_trackbar32", TBS_BOTTOM | TBS_AUTOTICKS | WS_TABSTOP, 120, 135, 80, 17
    RTEXT "Hardware de Som\nNível de Aceleração:", -1, 20, 135, 90, 20
    PUSHBUTTON "Testar DirectSound", IDC_BUTTON_TESTDSOUND, 270, 134, 80, 14
    GROUPBOX "Observações", -1, 10, 180, 450, 40
    EDITTEXT  IDC_TEXT_DSOUNDINFO, 20, 192, 432, 20, WS_DISABLED | WS_TABSTOP
END

IDD_MUSIC_DIALOG DIALOGEX 0, 0, 462, 220
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
END


IDD_INPUT_DIALOG DIALOGEX 0, 0, 462, 220
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Dispositivos do DirectInput", -1, 10, 10, 452, 80
    CONTROL "", IDC_LIST_DEVICE, "SysListView32", LVS_REPORT | WS_CHILD | WS_BORDER | WS_TABSTOP, 20, 22, 432, 60
    GROUPBOX "Dispositivos relacionados a entrada", -1, 10, 100, 452, 60
    CONTROL "", IDC_TREE_PORT, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | TVS_SHOWSELALWAYS | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 20, 112, 432, 40, 0x00000200
    GROUPBOX "Informações", -1, 10, 170, 452, 50
    EDITTEXT  IDC_RICH_INFO, 20, 182, 432, 30, WS_DISABLED | WS_TABSTOP
END

IDD_NETWORK_DIALOG DIALOGEX 0, 0, 462, 220
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Provedor de Serviço DirectPlay Registrado", -1, 10, 10, 452, 80
    CONTROL "", IDC_LIST_PROVIDER, "SysListView32", LVS_REPORT | WS_CHILD | WS_BORDER | WS_TABSTOP, 20, 22, 432, 60
END

IDD_HELP_DIALOG DIALOGEX 0, 0, 462, 220
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
END

STRINGTABLE
BEGIN
	IDS_MAIN_DIALOG "Ferramenta de Diagnóstico ReactX"
	IDS_SYSTEM_DIALOG "Sistema"
	IDS_DISPLAY_DIALOG "Exibição"
	IDS_SOUND_DIALOG "Som"
	IDS_MUSIC_DIALOG "Música"
	IDS_INPUT_DIALOG "Entrada"
	IDS_NETWORK_DIALOG "Rede"
	IDS_HELP_DIALOG "Ajuda"
	IDS_FORMAT_MB "%I64uMB RAM"
	IDS_FORMAT_SWAP "%I64u MB usados, %I64u MB disponíveis"
	IDS_FORMAT_UNIPROC "%s (%u CPU)"
	IDS_FORMAT_MPPROC  "%s (%u CPUs)"
	IDS_VERSION_UNKNOWN "Versão Desconhecida"
	IDS_DEVICE_STATUS_ATTACHED "Conectado"
	IDS_DEVICE_STATUS_MISSING "Desconectado"
	IDS_DEVICE_STATUS_UNKNOWN "Desconhecido"
	IDS_DEVICE_NAME "Nome do dispositivo"
	IDS_DEVICE_STATUS "Status"
	IDS_DEVICE_CONTROLLER "Identificação do controlador"
	IDS_DEVICE_MANUFACTURER "Identificação do fornecedor"
	IDS_DEVICE_PRODUCT "Identificação do produto (Product ID)"
	IDS_DEVICE_FORCEFEEDBACK "Driver do Force Feedback"
	IDS_NOT_APPLICABLE "Não aplicável"
	IDS_OPTION_YES "Sim"
	IDS_DIRECTPLAY_COL_NAME1 "Nome"
	IDS_DIRECTPLAY_COL_NAME2 "Registro"
	IDS_DIRECTPLAY_COL_NAME3 "Arquivo"
	IDS_DIRECTPLAY_COL_NAME4 "Versão"
	IDS_DIRECTPLAY8_MODEMSP "Provedor de Serviço de Modem DirectPlay8"
	IDS_DIRECTPLAY8_SERIALSP "Provedor de Serviço de Serial DirectPlay8"
	IDS_DIRECTPLAY8_IPXSP "Provedor de Serviço DirectPlay8 IPX"
	IDS_DIRECTPLAY8_TCPSP "Provedor de Serviço DirectPlay8-TCP/IP"
	IDS_DIRECTPLAY_TCPCONN "Conexão de Internet TCP/IP Para DirectPlay"
	IDS_DIRECTPLAY_IPXCONN "Conexão IPX Para DirectPlay"
	IDS_DIRECTPLAY_MODEMCONN "Conexão de Modem Para DirectPlay"
	IDS_DIRECTPLAY_SERIALCONN "Conexão Serial Para DirectPlay"
	IDS_REG_SUCCESS "OK"
	IDS_REG_FAIL "Erro"
	IDS_DDTEST_ERROR "Teste falhou!"
	IDS_DDTEST_DESCRIPTION "Será iniciada a interface de teste do DirectDraw. Prosseguir?"
	IDS_DDPRIMARY_DESCRIPTION "Este teste utilizará DirectDraw para desenhar em camada primária. Retângulos brancos e pretos serão desenhados. Prosseguir?"
	IDS_DDPRIMARY_RESULT "Você visualizou retângulos brancos e pretos?"
	IDS_DDOFFSCREEN_DESCRIPTION "Este teste utilizará DirectDraw para desenhar em offscreen buffer. Um retângulo branco em movimento será desenhado. Prosseguir?"
	IDS_DDOFFSCREEN_RESULT "Você visualizou um retângulo branco se movendo?"
	IDS_DDFULLSCREEN_DESCRIPTION "Este teste utilizará DirectDraw para desenhar em tela cheia. Um retângulo branco em movimento será desenhado. Prosseguir?"
	IDS_DDFULLSCREEN_RESULT "Você visualizou o retângulo branco se movendo em tela cheia?"
	IDS_FORMAT_ADAPTER_MEM "%u MB"
	IDS_FORMAT_ADAPTER_MODE "%04u x %04u (%u bit)(%uHz)"
	IDS_OPTION_NO "Não"
	IDS_D3DTEST_DESCRIPTION "Será iniciada a interface de teste do Direct3D. Prosseguir?"
	IDS_D3DTEST_D3Dx "Este teste utilizará a interface Direct3D %u com aceleração por hardware."
END
