/*
 * Copyright 2010 Thomas Larsen
 *                Paul Vriens
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_DANISH, SUBLANG_DEFAULT

STRINGTABLE
{
    IDS_TO_PRIMITIVE        "Fejl ved konvertering af objekt til primitiv type"
    IDS_INVALID_CALL_ARG    "Ugyldig procedure kald eller argument"
    IDS_SUBSCRIPT_OUT_OF_RANGE "Subscript out of range"
    IDS_OBJECT_REQUIRED     "Object required"
    IDS_CREATE_OBJ_ERROR    "Automations-serveren kan ikke oprette objektet"
    IDS_NO_PROPERTY         "Objektet understøtter ikke denne egenskab eller metode"
    IDS_UNSUPPORTED_ACTION  "Object doesn't support this action"
    IDS_ARG_NOT_OPT         "Argument ikke valgfrit"
    IDS_SYNTAX_ERROR        "Syntaksfejl"
    IDS_SEMICOLON           "Forventet ';'"
    IDS_LBRACKET            "Forventet '('"
    IDS_RBRACKET            "Forventet ')'"
    IDS_EXPECTED_IDENTIFIER "Expected identifier"
    IDS_EXPECTED_ASSIGN     "Expected '='"
    IDS_INVALID_CHAR        "Invalid character"
    IDS_UNTERMINATED_STR    "Uafsluttet streng konstant"
    IDS_MISPLACED_RETURN    "'return' statement outside of function"
    IDS_INVALID_BREAK       "Can't have 'break' outside of loop"
    IDS_INVALID_CONTINUE    "Can't have 'continue' outside of loop"
    IDS_LABEL_REDEFINED     "Label redefined"
    IDS_LABEL_NOT_FOUND     "Label not found"
    IDS_EXPECTED_CCEND      "Expected '@end'"
    IDS_DISABLED_CC         "Conditional compilation is turned off"
    IDS_EXPECTED_AT         "Expected '@'"
    IDS_NOT_FUNC            "Funktion forventet"
    IDS_NOT_DATE            "[objekt]' er ikke en dato objekt"
    IDS_NOT_NUM             "Nummer forventet"
    IDS_OBJECT_EXPECTED     "objekt forventet"
    IDS_ILLEGAL_ASSIGN      "Ulovlig tildeling"
    IDS_UNDEFINED           "'|' er ikke defineret"
    IDS_NOT_BOOL            "Boolean objekt forventet"
    IDS_INVALID_DELETE      "Cannot delete '|'"
    IDS_NOT_VBARRAY         "VBArray object expected"
    IDS_JSCRIPT_EXPECTED    "JScript objekt forventet"
    IDS_REGEXP_SYNTAX_ERROR "Syntax fejl i regulært udtryk"
    IDS_URI_INVALID_CODING  "URI to be decoded is incorrect"
    IDS_URI_INVALID_CHAR    "URI, der skal kodes indeholder ugyldige tegn"
    IDS_FRACTION_DIGITS_OUT_OF_RANGE "Number of fraction digits is out of range"
    IDS_PRECISION_OUT_OF_RANGE "Precision is out of range"
    IDS_INVALID_LENGTH      "Array længde skal være et endeligt positivt heltal"
    IDS_ARRAY_EXPECTED      "Array objekt forventet"
    IDS_INVALID_WRITABLE_PROP_DESC "'writable' attribute on the property descriptor cannot be set to 'true' on this object"
    IDS_NONCONFIGURABLE_REDEFINED  "Cannot redefine non-configurable property '|'"
    IDS_NONWRITABLE_MODIFIED       "Cannot modify non-writable property '|'"
    IDS_PROP_DESC_MISMATCH         "Property cannot have both accessors and a value"
}
