/*
 * Copyright 2009 Piotr Caban
 * Copyright 2010 Igor Paliychuk
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

STRINGTABLE
{
    IDS_TO_PRIMITIVE        "Помилка конвертування об'єкту в примітивний тип"
    IDS_INVALID_CALL_ARG    "Невірний виклик процедури або аргумент"
    IDS_SUBSCRIPT_OUT_OF_RANGE "Subscript out of range"
    IDS_OBJECT_REQUIRED     "Object required"
    IDS_CREATE_OBJ_ERROR    "Сервер автоматизації не може створити об'єкт"
    IDS_NO_PROPERTY         "Об'єкт не підтримує цю властивість чи метод"
    IDS_UNSUPPORTED_ACTION  "Object doesn't support this action"
    IDS_ARG_NOT_OPT         "Відсутній обов'язковий аргумент"
    IDS_SYNTAX_ERROR        "Синтаксична помилка"
    IDS_SEMICOLON           "Очікується ';'"
    IDS_LBRACKET            "Очікується '('"
    IDS_RBRACKET            "Очікується ')'"
    IDS_EXPECTED_IDENTIFIER "Expected identifier"
    IDS_EXPECTED_ASSIGN     "Expected '='"
    IDS_INVALID_CHAR        "Invalid character"
    IDS_UNTERMINATED_STR    "Незавершена рядкова константа"
    IDS_MISPLACED_RETURN    "'return' statement outside of function"
    IDS_INVALID_BREAK       "Can't have 'break' outside of loop"
    IDS_INVALID_CONTINUE    "Can't have 'continue' outside of loop"
    IDS_LABEL_REDEFINED     "Label redefined"
    IDS_LABEL_NOT_FOUND     "Label not found"
    IDS_EXPECTED_CCEND      "Expected '@end'"
    IDS_DISABLED_CC         "Conditional compilation is turned off"
    IDS_EXPECTED_AT         "Expected '@'"
    IDS_NOT_FUNC            "Очікується функція"
    IDS_NOT_DATE            "'[object]' не об'єкт типу date"
    IDS_NOT_NUM             "Очікується число"
    IDS_OBJECT_EXPECTED     "Очікується об'єкт"
    IDS_ILLEGAL_ASSIGN      "Невірне присвоєння"
    IDS_UNDEFINED           "'|' не визначено"
    IDS_NOT_BOOL            "Очікується об'єкт Boolean"
    IDS_INVALID_DELETE      "Cannot delete '|'"
    IDS_NOT_VBARRAY         "VBArray object expected"
    IDS_JSCRIPT_EXPECTED    "Очікується об'єкт JScript"
    IDS_REGEXP_SYNTAX_ERROR "Синтаксична помилка в регулярному виразі"
    IDS_URI_INVALID_CODING  "URI to be decoded is incorrect"
    IDS_URI_INVALID_CHAR    "URI, що буде закодований, містить неприпустимі символи"
    IDS_FRACTION_DIGITS_OUT_OF_RANGE "Number of fraction digits is out of range"
    IDS_PRECISION_OUT_OF_RANGE "Precision is out of range"
    IDS_INVALID_LENGTH      "Довжиною масиву повинне бути скінченне додатнє ціле число"
    IDS_ARRAY_EXPECTED      "Очікується об'єкт Array"
    IDS_INVALID_WRITABLE_PROP_DESC "'writable' attribute on the property descriptor cannot be set to 'true' on this object"
    IDS_NONCONFIGURABLE_REDEFINED  "Cannot redefine non-configurable property '|'"
    IDS_NONWRITABLE_MODIFIED       "Cannot modify non-writable property '|'"
    IDS_PROP_DESC_MISMATCH         "Property cannot have both accessors and a value"
}
