/*
 *  Copyright 1997,98 Marcel Baur <mbaur@g26.ethz.ch>
 *  Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

#include "windef.h"
#include "winbase.h"
#include "winuser.h"
#include "main.h"
#include "winnls.h"
#include "commctrl.h"
#include "notepad_res.h"

ID_ACCEL ACCELERATORS
{
    "^A", CMD_SELECT_ALL
    "^C", CMD_COPY
    "^F", CMD_SEARCH
    "^G", CMD_GOTO
    "H", CMD_REPLACE, VIRTKEY, CONTROL 
    "^O", CMD_OPEN
    "^S", CMD_SAVE
    "^V", CMD_PASTE
    "^X", CMD_CUT
    "^Z", CMD_UNDO
    VK_F3, CMD_SEARCH_NEXT, VIRTKEY
    VK_F5, CMD_TIME_DATE, VIRTKEY
}

IDI_NPICON ICON "res/notepad.ico"

#include "res/En.rc"
#include "res/Cs.rc"
#include "res/Da.rc"
#include "res/De.rc"
#include "res/Es.rc"
#include "res/Fi.rc"
#include "res/Fr.rc"
#include "res/Gr.rc"
//#include "res/Hu.rc"
#include "res/It.rc"
#include "res/Ja.rc"
#include "res/Nl.rc"
#include "res/Pl.rc"
#include "res/Pt.rc"
#include "res/Ru.rc"
#include "res/Si.rc"
#include "res/Sk.rc"
#include "res/Sv.rc"
#include "res/Th.rc"
#include "res/Uk.rc"
#include "res/Wa.rc"
#include "res/Zh.rc"
