LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

IDC_REACTOS_SNDREC32 ACCELERATORS
BEGIN
    "?", IDM_ABOUT, ASCII, ALT
    "/", IDM_ABOUT, ASCII, ALT
END

IDD_ABOUTBOX DIALOGEX 0, 0, 196, 75
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Информация о программе ""Звукозапись для ReactOS"" "
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    ICON IDI_SNDREC32, -1, 19, 14, 21, 20
    LTEXT "Звукозапись для ReactOS, версия 1.0", IDC_STATIC, 56, 16, 114, 8, SS_NOPREFIX
    LTEXT "Copyright (C) 2009", IDC_STATIC, 56, 25, 114, 8
    DEFPUSHBUTTON "OK", IDOK, 139, 54, 50, 14, WS_GROUP
END

IDR_MENU1 MENU
BEGIN
    POPUP "&Файл"
    BEGIN
        MENUITEM "&Создать", ID_FILE_NEW
        MENUITEM "&Открыть...", ID_FILE_OPEN
        MENUITEM "&Сохранить", ID_FILE_SAVE, GRAYED
        MENUITEM "Сохранить к&ак...", ID_FILE_SAVEAS, GRAYED
        MENUITEM "&Восстановить...", ID_FILE_RESTORE, GRAYED
        MENUITEM "Сво&йства", ID_FILE_PROPERTIES
        MENUITEM SEPARATOR
        MENUITEM "В&ыход", ID_FILE_EXIT
    END
    POPUP "&Правка"
    BEGIN
        MENUITEM "&Копировать", ID_EDIT_COPY
        MENUITEM "&Вставить", ID_EDIT_PASTE, GRAYED
        MENUITEM "Вставить и с&мешать", ID_EDIT_PASTEMIX, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Вставить &файл...", ID_EDIT_INSERTFILE
        MENUITEM "Сме&шать с файлом...", ID_EDIT_MIXFILE
        MENUITEM SEPARATOR
        MENUITEM "&Удалить до текущей позиции", ID_EDIT_DELETEBEFORE, GRAYED
        MENUITEM "Уда&лить после текущей позиции", ID_EDIT_DELETEAFTER, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Сво&йства аудио", ID_EDIT_AUDIOPROPS
    END
    POPUP "&Эффекты"
    BEGIN
        MENUITEM "&Увеличить громкость (на 25%)", ID_EFFECTS_INCVOL
        MENUITEM "У&меньшить громкость", ID_EFFECTS_DECVOL
        MENUITEM SEPARATOR
        MENUITEM "У&величить скорость (на 100%)", ID_EFFECTS_INCSPD
        MENUITEM "Ум&еньшить скорость", ID_EFFECTS_DECSPD
        MENUITEM SEPARATOR
        MENUITEM "Добавить &эхо", ID_EFFECTS_ECHO
        MENUITEM "О&братить", ID_EFFECTS_REVERSE
    END
    POPUP "&?"
    BEGIN
        MENUITEM "&О программе...", ID_ABOUT
    END
END

STRINGTABLE
BEGIN
    IDS_APP_TITLE "Звукозапись"
    IDC_REACTOS_SNDREC32 "REACTOS_SNDREC32"
END

STRINGTABLE
BEGIN
    IDS_STRPOS "Позиция: %.2f с."
    IDS_STRDUR "Длина: %.2f с."
    IDS_STRBUF "Буфер: %.2f Кб"
    IDS_STRFMT "%.1f кГц, %u бит"
    IDS_STRMONO "моно"
    IDS_STRSTEREO "стерео"
    IDS_STRCHAN "%s"
END
