
#roscms_page { padding: 1ex; }

#myReactOS { text-align: right; padding-right: 10px; }

#mt { margin-top: 0.5ex; width: 100%; border: 0px none transparent; border-collapse: separate; }

#mt TH { background-color: #E5ECF9; cursor: pointer; font-family: arial,sans-serif; font-size: small; font-weight: bold; text-align: center; }
#mt TH.int2 { background-color: #C9DAF8; }

/* branch round (left/right) top corners */
.tcL { background: transparent url("../images/corner_tl_sharp.gif") no-repeat scroll left top; }
.tcR { background: transparent url("../images/corner_tr_sharp.gif") no-repeat scroll right top; padding: 1px 6px; }

#mt .text { padding: 1px 1em 1px; }
#mt .text A { color: black; text-decoration: none;}

/* information below the selected branch menu */
#branchInfo { font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; padding: 4px 3px 3px 4px; background-color: #C9DAF8; }