/* Italian translation by Daniele Forsi (dforsi at gmail.com) */

LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL

IDD_WELCOMEPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installazione dispositivo"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Benvenuto", IDC_WELCOMETITLE, 120, 8, 195, 16
    LTEXT "Questa procedura guidata installa un nuovo driver di dispositivi per:", IDC_STATIC, 120, 21, 195, 16
    LTEXT "Selezionare Successivo per continuare.", IDC_STATIC, 120, 169, 195, 16
    LTEXT "DISPOSITIVO SCONOSCIUTO", IDC_DEVICE, 148, 36, 147, 12
    LTEXT "ATTENZIONE! INSTALLARE UN DISPOSITIVO PERSONALIZZATO PUÒ BLOCCARE IL COMPUTER O IMPEDIRNE L'AVVIO!", IDC_STATIC, 120, 59, 195, 16
    CONTROL "Installa il driver automaticamente", IDC_RADIO_AUTO, "Button", BS_AUTORADIOBUTTON, 120, 112, 195, 12
    CONTROL "Installa il driver da una posizione specifica", IDC_RADIO_MANUAL, "Button", BS_AUTORADIOBUTTON, 120, 133, 195, 12
END

IDD_NODRIVER DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installazione dispositivo"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "L'installazione è fallita", IDC_FINISHTITLE, 120, 8, 195, 16
    LTEXT "Impossibile installare il dispositivo perché il driver non è stato trovato.", IDC_STATIC, 120, 32, 195, 16
    LTEXT "Selezionare Indietro se si ha un disco con il driver o si conosce il percorso dove trovarlo.", IDC_STATIC, 120, 98, 195, 16
    CONTROL "Non mostrare più questo dialogo", IDC_DONOTSHOWDLG, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 120, 170, 195, 12
END

IDD_INSTALLFAILED DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installazione dispositivo"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "L'installazione è fallita", IDC_FINISHTITLE, 120, 8, 195, 16
    LTEXT "Impossibile installare il dispositivo perché si è verificato un errore inatteso.", IDC_STATIC, 120, 32, 195, 16
    LTEXT "DISPOSITIVO SCONOSCIUTO", IDC_DEVICE, 148, 53, 147, 12
END

IDD_CHSOURCE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installazione dispositivo"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Cerca in queste posizioni", IDC_RADIO_SEARCHHERE, "Button", BS_AUTORADIOBUTTON, 27, 11, 239, 12
    CONTROL "Scegli il driver manualmente", IDC_RADIO_CHOOSE, "Button", BS_AUTORADIOBUTTON, 27, 98, 171, 12
    CONTROL "Cerca nei supporti rimuovibili", IDC_CHECK_MEDIA, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 47, 33, 163, 12
    CONTROL "Includi questo percorso", IDC_CHECK_PATH, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 47, 54, 162, 12
    PUSHBUTTON "Sfoglia", IDC_BROWSE, 248, 70, 50, 14
    COMBOBOX IDC_COMBO_PATH, 61, 71, 176, 12, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP | CBS_AUTOHSCROLL
END

IDD_SEARCHDRV DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installazione dispositivo"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "DISPOSITIVO SCONOSCIUTO", IDC_DEVICE, 51, 20, 169, 16
END

IDD_INSTALLDRV DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installazione dispositivo"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "DISPOSITIVO SCONOSCIUTO", IDC_DEVICE, 51, 20, 169, 16
END

IDD_NEEDREBOOT DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installazione dispositivo"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Installazione completata", IDC_FINISHTITLE, 120, 8, 195, 12
    LTEXT "È necessario riavviare per terminare l'installazione di:", IDC_STATIC, 120, 32, 195, 16
    LTEXT "Selezionare Fine per chiudere questa procedura guidata.", IDC_STATIC, 120, 174, 195, 12
    LTEXT "DISPOSITIVO SCONOSCIUTO", IDC_DEVICE, 148, 53, 147, 12
END

IDD_FINISHPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installazione dispositivo"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Installazione completata", IDC_FINISHTITLE, 120, 8, 195, 12
    LTEXT "La procedura guidata ha terminato l'installazione del driver per:", IDC_STATIC, 120, 32, 195, 16
    LTEXT "Selezionare Fine per chiudere questa procedura guidata.", IDC_STATIC, 120, 174, 195, 12
    LTEXT "DISPOSITIVO SCONOSCIUTO", IDC_DEVICE, 148, 53, 147, 12
END

STRINGTABLE
BEGIN
    IDS_INSTALLWIZARDTITLE "New Hardware Wizard"
    IDS_UPDATEWIZARDTITLE "Update Driver Wizard"
    IDS_CHSOURCE_TITLE "Choose search and install options"
    IDS_SEARCHDRV_TITLE "Searching..."
    IDS_INSTALLDRV_TITLE "Installing..."
END
