/*
 * PROJECT: New device installer (newdev.dll)
 * FILE:    dll/win32/newdev/lang/ro-RO.rc
 * PURPOSE: Romanian Language File for new device installer
 * TRANSLATORS:
 *          Petru Dimitriu (petrimetri at gmail dot com)
 *          Ștefan Fulea (stefan dot fulea at mail dot md)
 */

LANGUAGE LANG_ROMANIAN, SUBLANG_NEUTRAL

IDD_WELCOMEPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Asistent de instalare dispozitiv"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Bun venit!", IDC_WELCOMETITLE, 120, 8, 195, 16
    LTEXT "Acest asistent va instala modúle-pilot pentru dispozitivul:", IDC_STATIC, 120, 21, 195, 16
    LTEXT "Apăsați „Înainte” pentru a continua.", IDC_STATIC, 120, 169, 195, 16
    LTEXT "DISPOZITIV NECUNOSCUT", IDC_DEVICE, 148, 36, 147, 12
    LTEXT "AVERTISMENT: INSTALAREA UNUI DISPOZITIV NEOBIȘNUIT VĂ POATE SCOATE DIN FUNCȚIUNE CALCULATORUL!", IDC_STATIC, 120, 59, 195, 16
    CONTROL "Instalează modulele-pilot a&utomat", IDC_RADIO_AUTO, "Button", BS_AUTORADIOBUTTON, 120, 112, 195, 12
    CONTROL "Instalează modulele-pilot din lo&cație specificată", IDC_RADIO_MANUAL, "Button", BS_AUTORADIOBUTTON, 120, 133, 195, 12
END

IDD_NODRIVER DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Asistent de instalare dispozitiv"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Instalarea a eșuat", IDC_FINISHTITLE, 120, 8, 195, 16
    LTEXT "Dispozitivul nu a putut fi instalat pentru că modulele-pilot nu au fost găsite.", IDC_STATIC, 120, 32, 195, 16
    LTEXT "Apăsați „Înapoi” dacă dețineți un disc sau cunoașteți calea către modulele-pilot.", IDC_STATIC, 120, 98, 195, 16
    CONTROL "N&u doresc recurența acestui dialog", IDC_DONOTSHOWDLG, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 120, 170, 195, 12
END

IDD_INSTALLFAILED DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Asistent de instalare dispozitiv"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Instalarea a eșuat", IDC_FINISHTITLE, 120, 8, 195, 16
    LTEXT "Dispozitivul nu a fost instalat din cauza unei erori neașteptate.", IDC_STATIC, 120, 32, 195, 16
    LTEXT "DISPOZITIV NECUNOSCUT", IDC_DEVICE, 148, 53, 147, 12
END

IDD_CHSOURCE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Asistent de instalare dispozitiv"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Specific locații de căutare", IDC_RADIO_SEARCHHERE, "Button", BS_AUTORADIOBUTTON, 27, 11, 239, 12
    CONTROL "Specific manual modulele-pilot", IDC_RADIO_CHOOSE, "Button", BS_AUTORADIOBUTTON, 27, 98, 171, 12
    CONTROL "Caută pe unitățile detașabile", IDC_CHECK_MEDIA, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 47, 33, 163, 12
    CONTROL "Caută acest dosar", IDC_CHECK_PATH, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 47, 54, 162, 12
    PUSHBUTTON "Spe&cificare…", IDC_BROWSE, 248, 70, 60, 14
    COMBOBOX IDC_COMBO_PATH, 61, 71, 176, 12, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP | CBS_AUTOHSCROLL
END

IDD_SEARCHDRV DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Asistent de instalare dispozitiv"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "DISPOZITIV NECUNOSCUT", IDC_DEVICE, 51, 20, 169, 16
END

IDD_INSTALLDRV DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Asistent de instalare dispozitiv"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "DISPOZITIV NECUNOSCUT", IDC_DEVICE, 51, 20, 169, 16
END

IDD_NEEDREBOOT DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Asistent de instalare dispozitiv"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Instalare completă", IDC_FINISHTITLE, 120, 8, 195, 12
    LTEXT "Este necesară repornirea sistemului pentru a încheia instalarea:", IDC_STATIC, 120, 32, 195, 16
    LTEXT "Apăsați „Sfârșit” pentru a închide asistentul.", IDC_STATIC, 120, 174, 195, 12
    LTEXT "DISPOZITIV NECUNOSCUT", IDC_DEVICE, 148, 53, 147, 12
END

IDD_FINISHPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Asistent de instalare dispozitiv"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Instalare completă", IDC_FINISHTITLE, 120, 8, 195, 12
    LTEXT "Asistentul a încheiat instalarea dispozitivului:", IDC_STATIC, 120, 32, 195, 16
    LTEXT "Apăsați „Sfârșit” pentru a încheia instalarea.", IDC_STATIC, 120, 174, 195, 12
    LTEXT "DISPOZITIV NECUNOSCUT", IDC_DEVICE, 148, 53, 147, 12
END

STRINGTABLE
BEGIN
    IDS_INSTALLWIZARDTITLE "Asistent pentru un nou dispozitiv"
    IDS_UPDATEWIZARDTITLE "Asistent pentru actualizare modúl-pilot"
    IDS_CHSOURCE_TITLE "Alegere opțiuni de căutare și instalare"
    IDS_SEARCHDRV_TITLE "Căutare…"
    IDS_INSTALLDRV_TITLE "Instalare…"
END
