/*
* translation by xrogers
* xxrogers@users.sourceforge.net
* https://sourceforge.net/projects/reactospl
*
* translation update by Caemyr (Olaf Siejka)
* April, 2008
*/
LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

IDD_PROPPAGECOMPUTER DIALOGEX 0, 0, 256, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Nazwa komputera"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    ICON        IDI_COMPNAME, IDC_STATIC, 4, 3, 26, 24, SS_ICON
    LTEXT       "ReactOS u¿ywa nastêpuj¹cych informacji do identyfikacji komputera w sieci", IDC_STATIC, 40, 5, 204, 20
    LTEXT       "Opis komputera:", IDC_STATIC, 6, 40, 70, 9
    EDITTEXT    IDC_COMPDESC, 98, 38, 146, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    LTEXT       "Pe³na nazwa komputera:", IDC_STATIC, 6, 68, 64, 9
    LTEXT       "(domyœlna)", IDC_COMPUTERNAME, 98, 68, 144, 11
    LTEXT       "Grupa robocza:", IDC_WORKGROUPDOMAIN, 6, 84, 64, 9
    LTEXT       "(pusta)", IDC_WORKGROUPDOMAIN_NAME, 98, 84, 144, 9
    LTEXT       "Aby u¿yæ Kreatora identyfikacji sieciowej do do³¹czenia do domeny i stworzyæ lokalnego u¿ytkownika, wciœnij ID sieciowe.", IDC_STATIC, 6, 108, 172, 24
    PUSHBUTTON  "&ID sieciowe...", IDC_NETWORK_ID, 190, 114, 58, 15
    LTEXT       "Aby zmieniæ nazwê tego komputera lub przy³¹czyæ siê do grupy roboczej, kliknij przycisk Zmieñ.", IDC_STATIC, 6, 149, 170, 17
    PUSHBUTTON  "Z&mieñ...",IDC_NETWORK_PROPERTY, 190, 149, 58, 15
    LTEXT       "Uwaga: Tylko administratorzy mog¹ zmieniæ identyfikator tego komputera.", IDC_STATIC, 6, 179, 300, 9
END

IDD_PROPPAGECOMPNAMECHENGE DIALOGEX 0, 0, 232, 222
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Zmiana nazwy komputera"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "(message goes here)", 1017, 7, 5, 218, 30
    LTEXT "&Nazwa komputera:", -1, 7, 41, 219, 8
    EDITTEXT 1002, 7, 53, 218, 14, ES_AUTOHSCROLL | ES_OEMCONVERT
    LTEXT "Pe³na nazwa komputera:", 1016, 7, 72, 218, 10
    EDITTEXT 1001, 7, 82, 219, 14, ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
    PUSHBUTTON "&Wiêcej...", 1003, 150, 102, 75, 14
    GROUPBOX "Nale¿y do", 1018, 7, 119, 219, 73
    AUTORADIOBUTTON "&Domeny:", 1008, 17, 132, 192, 10, WS_GROUP
    AUTORADIOBUTTON "&Grupy roboczej:", 1004, 17, 161, 191, 10
    EDITTEXT 116, 28, 144, 181, 14, ES_AUTOHSCROLL | WS_GROUP
    PUSHBUTTON "Wy&szukaj moj¹ domenê", 1010, 7, 203, 109, 14, NOT WS_VISIBLE | WS_DISABLED
    EDITTEXT 1007, 28, 172, 181, 14, ES_UPPERCASE | ES_AUTOHSCROLL | ES_OEMCONVERT
    DEFPUSHBUTTON "OK", 1, 121, 203, 50, 14, WS_GROUP
    PUSHBUTTON "Anuluj", 2, 176, 203, 50, 14
END

IDD_PROPPAGEDNSANDNETBIOS DIALOGEX 0, 0, 266, 125
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Sufiksy DNS i nazwa NetBIOS komputera"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Podstawowy sufiks DNS tego komputera:", -1, 7, 5, 253, 8
    EDITTEXT 1011, 7, 17, 252, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "&Zmieñ podstawowy sufiks DNS przy zmianie cz³onkostwa domeny", 115, 11, 39, 250, 10
    LTEXT "&Nazwa komputera NetBIOS:", -1, 7, 57, 148, 8
    EDITTEXT 1013, 7, 69, 150, 14, ES_UPPERCASE | ES_AUTOHSCROLL | ES_READONLY
    DEFPUSHBUTTON "OK", 1, 153, 104, 50, 14
    PUSHBUTTON "Anuluj", 2, 209, 104, 50, 14
    LTEXT "Nazwa ta jest niezbêdna przy pracy ze starszymi serwerami i us³ugami.", 13, 7, 88, 253, 8
END

STRINGTABLE
BEGIN
    1 "* Nieznane *"
    2 "GRUPA ROBOCZA"
    3 "Podczas odczytywania informacji o cz³onkowstwie w domenie, wyst¹pi³ b³¹d:"
    4 "Zmiana nazwy komputera"
    5 "Grupa Robocza:"
    6 "Domena:"
    22 "Witamy w grupie roboczej %1."
    23 "Witamy w domenie %1."
    24 "Musisz zrestartowaæ komputer aby zmiany odnios³y skutek."
    1021 "Uwaga: Tylko Administratorzy mog¹ zmieniaæ identyfikator tego komputera."
    1022 "Uwaga: Identyfikator tego komputera nie zosta³ zmieniony, powód:"
    3210 "&Szczegó³y >>"
    3220 "<< &Szczegó³y"
END
