/*
 * FILE:        dll/win32/netid/lang/sk-SK.rc
 * PURPOSE:     Slovak Language File for ReactOS Network ID
 * TRANSLATOR:  Kario <kario@szm.sk>
 * DATE OF TR.: 25-07-2007
 */

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

IDD_PROPPAGECOMPUTER DIALOGEX 0, 0, 256, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Názov počítača"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_COMPNAME, IDC_STATIC, 4, 3, 26, 24, SS_ICON
    LTEXT "ReactOS použije nasledujúce informácie pri identifikácii počítača v sieti.", IDC_STATIC, 40, 5, 204, 20
    LTEXT "&Popis počítača:", IDC_STATIC, 6, 40, 70, 9
    EDITTEXT IDC_COMPDESC, 98, 38, 146, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    LTEXT "Úplný názov počítača:", IDC_STATIC, 6, 68, 75, 9
    EDITTEXT IDC_COMPUTERNAME, 98, 68, 144, 12, ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Pracovná skupina:", IDC_WORKGROUPDOMAIN, 6, 84, 70, 9
    EDITTEXT IDC_WORKGROUPDOMAIN_NAME, 98, 84, 144, 12, ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Ak sa chcete pripojiť pomocou Sprievodcu identifikáciou v sieti na doménu a vytvoriť lokálne používateľské konto, kliknite na tlačidlo Sieťová identifikácia.", IDC_STATIC, 6, 108, 160, 33
    PUSHBUTTON "&Sieťová identifikácia", IDC_NETWORK_ID, 176, 114, 72, 15
    LTEXT "Ak chcete zmeniť názov počítača alebo sa pripojiť na doménu, kliknite na tlačidlo Zmeniť.", IDC_STATIC, 6, 149, 160, 17
    PUSHBUTTON "Z&meniť...", IDC_NETWORK_PROPERTY, 176, 149, 72, 15
    LTEXT "Poznámka: Identifikáciu počítača môžu zmeniť len správcovia počítača.", IDC_STATIC, 6, 179, 244, 9
END

IDD_PROPPAGECOMPNAMECHENGE DIALOGEX 0, 0, 232, 222
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Zmena názvu počítača"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "(správa príde sem)", 1017, 7, 5, 218, 30
    LTEXT "&Názov počítača:", -1, 7, 41, 219, 8
    EDITTEXT 1002, 7, 53, 218, 14, ES_AUTOHSCROLL | ES_OEMCONVERT
    LTEXT "Úplný názov počítača:", 1016, 7, 72, 218, 10
    EDITTEXT 1001, 7, 82, 219, 14, ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP
    PUSHBUTTON "Ď&alšie...", 1003, 150, 102, 75, 14
    GROUPBOX "Členstvo", 1018, 7, 119, 219, 73
    AUTORADIOBUTTON "&Doména:", 1008, 17, 132, 192, 10, WS_GROUP
    AUTORADIOBUTTON "&Pracovná skupina:", 1004, 17, 161, 191, 10
    EDITTEXT 116, 28, 144, 181, 14, ES_AUTOHSCROLL | WS_GROUP
    PUSHBUTTON "&Nájsť moju doménu", 1010, 7, 203, 109, 14, NOT WS_VISIBLE | WS_DISABLED
    EDITTEXT 1007, 28, 172, 181, 14, ES_UPPERCASE | ES_AUTOHSCROLL | ES_OEMCONVERT
    DEFPUSHBUTTON "OK", 1, 121, 203, 50, 14, WS_GROUP
    PUSHBUTTON "Zrušiť", 2, 176, 203, 50, 14
END

IDD_PROPPAGEDNSANDNETBIOS DIALOGEX 0, 0, 266, 125
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Prípona DNS a názov počítača pre NetBIOS"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Pri&márna prípona počítača pre názov DNS:", -1, 7, 5, 253, 8
    EDITTEXT 1011, 7, 17, 252, 14, ES_AUTOHSCROLL
    AUTOCHECKBOX "&Pri zmene členstva v doméne zmeniť primárnu príponu názvu DNS", 115, 11, 39, 250, 10
    LTEXT "Názov počítača pre protokol &NetBIOS:", -1, 7, 57, 148, 8
    EDITTEXT 1013, 7, 69, 150, 14, ES_UPPERCASE | ES_AUTOHSCROLL | ES_READONLY
    DEFPUSHBUTTON "OK", 1, 153, 104, 50, 14
    PUSHBUTTON "Zrušiť", 2, 209, 104, 50, 14
    LTEXT "Tento názov sa používa pri spolupráci so staršími počítačmi alebo službami.", 13, 7, 88, 253, 8
END

STRINGTABLE
BEGIN
    1 "* Neznáme *"
    2 "WORKGROUP"
    3 "The following error occurred while attempting to read domain membership information:"
    4 "Zmena názvu počítača"
    5 "Pracovná skupina:"
    6 "Doména:"
    7 "The domain name ""%1"" does not conform to Internet Domain Name Service specifications, although it is a legal ReactOS name. You must use ReactOS DNS server for non-standard names."
    8 "The domain name ""%1"" is not properly formatted. Periods (.) are used to separate domains. Each domain is limited to 63 characters. Example: domain-1.reactos.org."
    10 "The new computer name ""%1"" is too long. The name may not be longer than 63 characters."
    11 "The new computer name entered is not properly formatted. Standard names may contain letters (a-z, A-Z), numbers (0-9), and hyphens (-), but no spaces or periods (.). The name may not consist entirely of digits."
    22 "Vitajte v pracovnej skupine %1."
    23 "Vitajte v doméne %1."
    24 "Aby sa prejavili vykonané zmeny, musíte reštartovať počítač."
    25 "You can change the name and the membership of this computer. Changes may affect access to network resources."
    1021 "Poznámka: Iba správcovia môžu zmeniť identifikáciu tohto počítača."
    1022 "Poznámka: Identifikácia počítača nemôže byť zmenená, lebo:"
    1029 "The new computer name ""%1"" is a number. The name may not be a number."
    1030 "The new computer name ""%1"" contains characters which are not allowed. Characters which are not allowed include ` ~ ! @ # $ %% ^ & * ( ) = + [ ] { } \\ | ; : ' "" , < > / and ?"
    1031 "The first domain of the domain name ""%1"" is a number. The first domain may not be a number."
    1032 "The domain name ""%1"" contains characters which are not allowed. Standard DNS names may contain letters (a-z, A-Z), numbers (0-9), and hyphens, but no spaces. Periods (.) are used to separate domains. Example: domain-1.reactos.org."
    3210 "&Podrobnosti >>"
    3220 "<< &Podrobnosti"
    4000 "Information"
    4001 "Can't set new a computer name!"
END
