LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    /* Names of code pages */
    1250 "1250  (ANSI - центрально-европейская)"
    1251 "1251  (ANSI - кириллица)"
    1252 "1252  (ANSI - латиница 1)"
    1253 "1253  (ANSI - греческая)"
    1254 "1254  (ANSI - турецкая)"
    1255 "1255  (ANSI - иврит)"
    1256 "1256  (ANSI - арабская)"
    1257 "1257  (ANSI - балтийская)"
    1258 "1258  (ANSI/OEM - вьетнамская)"
    874  "874   (ANSI/OEM - тайская)"
    932  "932   (ANSI/OEM - японская Shift-JIS)"
    936  "936   (ANSI/OEM - китайская упрощенная GBK)"
    949  "949   (ANSI/OEM - корейская)"
    950  "950   (ANSI/OEM - китайская традиционная Big5)"

    437  "437   (OEM - США)"
    737  "737   (OEM - греческая 437G)"
    775  "775   (OEM - балтийская)"
    850  "850   (OEM - многоязычная латиница 1)"
    852  "852   (OEM - латиница 2)"
    855  "855   (OEM - кириллица традиционная)"
    856  "856   (OEM - иврит PC)"
    857  "857   (OEM - турецкая)"
    858  "858   (OEM - многоязычная латиница 1 + Евро)"
    860  "860   (OEM - португальская)"
    861  "861   (OEM - исландская)"
    862  "862   (OEM - иврит)"
    863  "863   (OEM - франко-канадская)"
    864  "864   (OEM - арабская)"
    865  "865   (OEM - скандинавская)"
    866  "866   (OEM - русская)"
    869  "869   (OEM - греческая современная)"

    10000 "10000 (MAC - латиница)"
    10001 "10001 (MAC - японская)"
    10002 "10002 (MAC - китайская традиционная Big5)"
    10003 "10003 (MAC - корейская)"
    10004 "10004 (MAC - арабская)"
    10005 "10005 (MAC - иврит)"
    10006 "10006 (MAC - греческая 1)"
    10007 "10007 (MAC - кириллица)"
    10008 "10008 (MAC - китайская упрощенная GB 2312)"
    10010 "10010 (MAC - румынская)"
    10017 "10017 (MAC - украинская)"
    10021 "10021 (MAC - тайская)"
    10029 "10029 (MAC - латиница 2)"
    10079 "10079 (MAC - исландская)"
    10081 "10081 (MAC - турецкая)"
    10082 "10082 (MAC - хорватская)"

    65000 "65000 (UTF-7)"
    65001 "65001 (UTF-8)"

    3700  "37    (IBM EBCDIC - США/Канада)" /* FIXME */
//  424   "424   (IBM EBCDIC - иврит)" // On Windows, this is CP 20424
    1026  "1026  (IBM EBCDIC - турецкая (латиница-5))"
    1047  "1047  (IBM EBCDIC - латиница 1/Open System)"
    1140  "1140  (IBM EBCDIC - США/Канада (37 + евро))"
    1141  "1141  (IBM EBCDIC - немецкая (20273 + евро))"
    1142  "1142  (IBM EBCDIC - датская/норвежская (20277 + евро))"
    1143  "1143  (IBM EBCDIC - финская/шведская (20278 + евро))"
    1144  "1144  (IBM EBCDIC - итальянская (20280 + евро))"
    1145  "1145  (IBM EBCDIC - латиноамер/испанская (20284 + евро))"
    1146  "1146  (IBM EBCDIC - британская (20285 + евро))"
    1147  "1147  (IBM EBCDIC - французская (20297 + евро))"
    1148  "1148  (IBM EBCDIC - международная (500 + евро))"
    1149  "1149  (IBM EBCDIC - исландская (20871 + евро))"
    20273 "20273 (IBM EBCDIC - немецкая)"
    20277 "20277 (IBM EBCDIC - датская/норвежская)"
    20278 "20278 (IBM EBCDIC - финская/шведская)"
    20280 "20280 (IBM EBCDIC - итальянская)"
    20284 "20284 (IBM EBCDIC - латиноамериканская/испанская)"
    20285 "20285 (IBM EBCDIC - британская)"
    20290 "20290 (IBM EBCDIC - японская расширенная катакана)"
    20297 "20297 (IBM EBCDIC - французская)"
    20420 "20420 (IBM EBCDIC - арабская)"
    20423 "20423 (IBM EBCDIC - греческая)"
    20424 "20424 (IBM EBCDIC - иврит)"
    20833 "20833 (IBM EBCDIC - корейская расширенная)"
    20838 "20838 (IBM EBCDIC - тайская)"
    20871 "20871 (IBM EBCDIC - исландская)"
    20880 "20880 (IBM EBCDIC - кириллица (русская))"
    20905 "20905 (IBM EBCDIC - турецкая)"
    20924 "20924 (IBM EBCDIC - латиница 1/Open System (1047 + евро))"
    21025 "21025 (IBM EBCDIC - кириллица (сербская, болгарская))"
    500   "500   (IBM EBCDIC - международная)"
    870   "870   (IBM EBCDIC - многоязычная/ROECE (латиница-2))"
    875   "875   (IBM EBCDIC - современная греческая)"

    20269 "20269 (ISO 6937 диакритические знаки)"
    28591 "28591 (ISO 8859-1 латиница 1)"
    28592 "28592 (ISO 8859-2 центральноевропейская)"
    28593 "28593 (ISO 8859-3 латиница 3)"
    28594 "28594 (ISO 8859-4 балтийская)"
    28595 "28595 (ISO 8859-5 кириллица)"
    28596 "28596 (ISO 8859-6 арабская)"
    28597 "28597 (ISO 8859-7 греческая)"
    28598 "28598 (ISO 8859-8 иврит: визуальная сортировка)"
    28599 "28599 (ISO 8859-9 латиница 5 турецкая)"
    28600 "28600 (ISO 8859-10 латиница 6 скандинавская)"
    28603 "28603 (ISO 8859-13 латиница 7 Estonian)"
    28604 "28604 (ISO 8859-14 латиница 8 Celtic)"
    28605 "28605 (ISO 8859-15 латиница 9)"
    28606 "28606 (ISO 8859-16 латиница 10 Balkan)"
    38598 "38598 (ISO 8859-8 иврит: логическая сортировка)"

    20105 "20105 (IA5 IRV международный алфавит №5)"
    20106 "20106 (IA5 немецкая)"
    20107 "20107 (IA5 шведская)"
    20108 "20108 (IA5 норвежская)"

    1361  "1361  (корейская - Johab)"
    20000 "20000 (CNS - тайваньская)"
    20001 "20001 (TCA - тайваньская)"
    20002 "20002 (Eten - тайваньская)"
    20003 "20003 (IBM5550 - тайваньская)"
    20004 "20004 (TeleText - тайваньская)"
    20005 "20005 (Wang - тайваньская)"
    20127 "20127 (США-ASCII)"
    20261 "20261 (T.61)"
//  878   "878   (русская - КОИ8)" // On Windows, this is CP 20866
    20866 "20866 (русская - КОИ8)"
    21027 "21027 (расш. алф. нижний регистр)"
    21866 "21866 (украинская - КОИ8-U)"
    708   "708   (арабская - ASMO)"
    720   "720   (арабская - прозрачная ASMO)"
    20932 "20932 (JIS X 0208-1990 & 0212-1990)"
    20936 "20936 (GB2312 китайская упрощенная)"
    20949 "20949 (Korean Wansung)"

    57002 "57002 (ISCII деванагари)"
    57003 "57003 (ISCII бенгальская)"
    57004 "57004 (ISCII тамильская)"
    57005 "57005 (ISCII телугу)"
    57006 "57006 (ISCII ассамская)"
    57007 "57007 (ISCII ория)"
    57008 "57008 (ISCII каннада)"
    57009 "57009 (ISCII малаялам)"
    57010 "57010 (ISCII гуджарати)"
    57011 "57011 (ISCII гурмухи)"

    50930 "50930 (IBM EBCDIC - японская (с катаканой))"
    50931 "50931 (IBM EBCDIC - США/Канада и японская)"
    50933 "50933 (IBM EBCDIC - корейская и расширенная корейская)"
    50935 "50935 (IBM EBCDIC - китайская упрощенная)"
    50937 "50937 (IBM EBCDIC - США/Канада и китайская традиционная)"
    50939 "50939 (IBM EBCDIC - японская (латиница) расширенная и японская)"

    50220 "50220 (ISO-2022 японская без полуширинной катаканы)"
    50221 "50221 (ISO-2022 японская с полуширинной катаканой)"
    50222 "50222 (ISO-2022 японская JIS X 0201-1989)"
    50225 "50225 (ISO-2022 корейская)"
    50227 "50227 (ISO-2022 китайская упрощенная)"
    50229 "50229 (ISO-2022 китайская традиционная)"

    51932 "51932 (EUC-японская)"
    51936 "51936 (EUC-китайская упрощенная)"
    51949 "51949 (EUC-корейская)"
    51950 "51950 (EUC-китайская традиционная)"

    52936 "52936 (HZ-GB2312 китайская упрощенная)"
    54936 "54936 (GB18030 китайская упрощенная)"

    /* Locations */
    2+NLSRC_OFFSET "Антигуа и Барбуда"
    3+NLSRC_OFFSET "Афганистан"
    4+NLSRC_OFFSET "Алжир"
    5+NLSRC_OFFSET "Азербайджан"
    6+NLSRC_OFFSET "Албания"
    7+NLSRC_OFFSET "Армения"
    8+NLSRC_OFFSET "Андорра"
    9+NLSRC_OFFSET "Ангола"
    10+NLSRC_OFFSET "Американское Самоа"
    11+NLSRC_OFFSET "Аргентина"
    12+NLSRC_OFFSET "Австралия"
    14+NLSRC_OFFSET "Австрия"
    17+NLSRC_OFFSET "Бахрейн"
    18+NLSRC_OFFSET "Барбадос"
    19+NLSRC_OFFSET "Ботсвана"
    20+NLSRC_OFFSET "Бермуды"
    21+NLSRC_OFFSET "Бельгия"
    22+NLSRC_OFFSET "Багамы"
    23+NLSRC_OFFSET "Бангладеш"
    24+NLSRC_OFFSET "Белиз"
    25+NLSRC_OFFSET "Босния и Герцеговина"
    26+NLSRC_OFFSET "Боливия"
    27+NLSRC_OFFSET "Мьянма"
    28+NLSRC_OFFSET "Бенин"
    29+NLSRC_OFFSET "Беларусь"
    30+NLSRC_OFFSET "Соломоновы Острова"
    32+NLSRC_OFFSET "Бразилия"
    34+NLSRC_OFFSET "Бутан"
    35+NLSRC_OFFSET "Болгария"
    37+NLSRC_OFFSET "Бруней"
    38+NLSRC_OFFSET "Бурунди"
    39+NLSRC_OFFSET "Канада"
    40+NLSRC_OFFSET "Камбоджа"
    41+NLSRC_OFFSET "Чад"
    42+NLSRC_OFFSET "Шри-Ланка"
    43+NLSRC_OFFSET "Конго"
    44+NLSRC_OFFSET "Демократическая Республика Конго"
    45+NLSRC_OFFSET "Китай"
    46+NLSRC_OFFSET "Чили"
    49+NLSRC_OFFSET "Камерун"
    50+NLSRC_OFFSET "Коморы"
    51+NLSRC_OFFSET "Колумбия"
    54+NLSRC_OFFSET "Коста-Рика"
    55+NLSRC_OFFSET "Центрально-Африканская Республика"
    56+NLSRC_OFFSET "Куба"
    57+NLSRC_OFFSET "Кабо-Верде"
    59+NLSRC_OFFSET "Кипр"
    61+NLSRC_OFFSET "Дания"
    62+NLSRC_OFFSET "Джибути"
    63+NLSRC_OFFSET "Доминика"
    65+NLSRC_OFFSET "Доминиканская Республика"
    66+NLSRC_OFFSET "Эквадор"
    67+NLSRC_OFFSET "Египет"
    68+NLSRC_OFFSET "Ирландия"
    69+NLSRC_OFFSET "Экваториальная Гвинея"
    70+NLSRC_OFFSET "Эстония"
    71+NLSRC_OFFSET "Эритрея"
    72+NLSRC_OFFSET "Эль-Сальвадор"
    73+NLSRC_OFFSET "Эфиопия"
    75+NLSRC_OFFSET "Чешская Республика"
    77+NLSRC_OFFSET "Финляндия"
    78+NLSRC_OFFSET "Фиджи"
    80+NLSRC_OFFSET "Микронезия, Федеративные Штаты"
    81+NLSRC_OFFSET "Фарерские Острова"
    84+NLSRC_OFFSET "Франция"
    86+NLSRC_OFFSET "Гамбия"
    87+NLSRC_OFFSET "Габон"
    88+NLSRC_OFFSET "Грузия"
    89+NLSRC_OFFSET "Гана"
    90+NLSRC_OFFSET "Гибралтар"
    91+NLSRC_OFFSET "Гренада"
    93+NLSRC_OFFSET "Гренландия"
    94+NLSRC_OFFSET "Германия"
    98+NLSRC_OFFSET "Греция"
    99+NLSRC_OFFSET "Гватемала"
    100+NLSRC_OFFSET "Гвинея"
    101+NLSRC_OFFSET "Гайана"
    103+NLSRC_OFFSET "Гаити"
    104+NLSRC_OFFSET "Гонконг S.A.R."
    106+NLSRC_OFFSET "Гондурас"
    108+NLSRC_OFFSET "Хорватия"
    109+NLSRC_OFFSET "Венгрия"
    110+NLSRC_OFFSET "Исландия"
    111+NLSRC_OFFSET "Индонезия"
    113+NLSRC_OFFSET "Индия"
    114+NLSRC_OFFSET "Британская территория в Индийском океане"
    116+NLSRC_OFFSET "Иран"
    117+NLSRC_OFFSET "Израиль"
    118+NLSRC_OFFSET "Италия"
    119+NLSRC_OFFSET "Кот-д'Ивуар"
    121+NLSRC_OFFSET "Ирак"
    122+NLSRC_OFFSET "Япония"
    124+NLSRC_OFFSET "Ямайка"
    125+NLSRC_OFFSET "Ян Мейен"
    126+NLSRC_OFFSET "Иордания"
    127+NLSRC_OFFSET "Джонстонский атолл"
    129+NLSRC_OFFSET "Кения"
    130+NLSRC_OFFSET "Кыргызстан"
    131+NLSRC_OFFSET "Северная Корея"
    133+NLSRC_OFFSET "Кирибати"
    134+NLSRC_OFFSET "Корея"
    136+NLSRC_OFFSET "Кувейт"
    137+NLSRC_OFFSET "Казахстан"
    138+NLSRC_OFFSET "Лаос"
    139+NLSRC_OFFSET "Ливан"
    140+NLSRC_OFFSET "Латвия"
    141+NLSRC_OFFSET "Литва"
    142+NLSRC_OFFSET "Либерия"
    143+NLSRC_OFFSET "Словакия"
    145+NLSRC_OFFSET "Лихтенштейн"
    146+NLSRC_OFFSET "Лесото"
    147+NLSRC_OFFSET "Люксембург"
    148+NLSRC_OFFSET "Ливия"
    149+NLSRC_OFFSET "Мадагаскар"
    151+NLSRC_OFFSET "Макао S.A.R."
    152+NLSRC_OFFSET "Молдова"
    154+NLSRC_OFFSET "Монголия"
    156+NLSRC_OFFSET "Малави"
    157+NLSRC_OFFSET "Мали"
    158+NLSRC_OFFSET "Монако"
    159+NLSRC_OFFSET "Марокко"
    160+NLSRC_OFFSET "Маврикий"
    162+NLSRC_OFFSET "Мавритания"
    163+NLSRC_OFFSET "Мальта"
    164+NLSRC_OFFSET "Оман"
    165+NLSRC_OFFSET "Мальдивы"
    166+NLSRC_OFFSET "Мексика"
    167+NLSRC_OFFSET "Малайзия"
    168+NLSRC_OFFSET "Мозамбик"
    173+NLSRC_OFFSET "Нигер"
    174+NLSRC_OFFSET "Вануату"
    175+NLSRC_OFFSET "Нигерия"
    176+NLSRC_OFFSET "Нидерланды"
    177+NLSRC_OFFSET "Норвегия"
    178+NLSRC_OFFSET "Непал"
    180+NLSRC_OFFSET "Науру"
    181+NLSRC_OFFSET "Суринам"
    182+NLSRC_OFFSET "Никарагуа"
    183+NLSRC_OFFSET "Новая Зеландия"
    184+NLSRC_OFFSET "Палестинская Автономия"
    185+NLSRC_OFFSET "Парагвай"
    187+NLSRC_OFFSET "Перу"
    190+NLSRC_OFFSET "Пакистан"
    191+NLSRC_OFFSET "Польша"
    192+NLSRC_OFFSET "Панама"
    193+NLSRC_OFFSET "Португалия"
    194+NLSRC_OFFSET "Папуа - Новая Гвинея"
    195+NLSRC_OFFSET "Палау"
    196+NLSRC_OFFSET "Гвинея-Бисау"
    197+NLSRC_OFFSET "Катар"
    198+NLSRC_OFFSET "Воссоединение"
    199+NLSRC_OFFSET "Маршалловы Острова"
    200+NLSRC_OFFSET "Румыния"
    201+NLSRC_OFFSET "Филиппины"
    202+NLSRC_OFFSET "Пуэрто-Рико"
    203+NLSRC_OFFSET "Россия"
    204+NLSRC_OFFSET "Руанда"
    205+NLSRC_OFFSET "Саудовская Аравия"
    206+NLSRC_OFFSET "Св. Пьер и Миклон"
    207+NLSRC_OFFSET "Сент-Китс и Невис"
    208+NLSRC_OFFSET "Сейшельские острова"
    209+NLSRC_OFFSET "Южная Африка"
    210+NLSRC_OFFSET "Сенегал"
    212+NLSRC_OFFSET "Словения"
    213+NLSRC_OFFSET "Сьерра-Леоне"
    214+NLSRC_OFFSET "Сан-Марино"
    215+NLSRC_OFFSET "Сингапур"
    216+NLSRC_OFFSET "Сомали"
    217+NLSRC_OFFSET "Испания"
    218+NLSRC_OFFSET "Сент-Люсия"
    219+NLSRC_OFFSET "Судан"
    220+NLSRC_OFFSET "Шпицберген"
    221+NLSRC_OFFSET "Швеция"
    222+NLSRC_OFFSET "Сирия"
    223+NLSRC_OFFSET "Швейцария"
    224+NLSRC_OFFSET "Объединенные Арабские Эмираты"
    225+NLSRC_OFFSET "Тринидад и Тобаго"
    227+NLSRC_OFFSET "Таиланд"
    228+NLSRC_OFFSET "Таджикистан"
    231+NLSRC_OFFSET "Тонга"
    232+NLSRC_OFFSET "Того"
    233+NLSRC_OFFSET "Сан-Томе и Принсипи"
    234+NLSRC_OFFSET "Тунис"
    235+NLSRC_OFFSET "Турция"
    236+NLSRC_OFFSET "Тувалу"
    237+NLSRC_OFFSET "Тайвань"
    238+NLSRC_OFFSET "Туркменистан"
    239+NLSRC_OFFSET "Танзания"
    240+NLSRC_OFFSET "Уганда"
    241+NLSRC_OFFSET "Украина"
    242+NLSRC_OFFSET "Соединенное Королевство"
    244+NLSRC_OFFSET "Соединенные Штаты"
    245+NLSRC_OFFSET "Буркина-Фасо"
    246+NLSRC_OFFSET "Уругвай"
    247+NLSRC_OFFSET "Узбекистан"
    248+NLSRC_OFFSET "Сент-Винсент и Гренадины"
    249+NLSRC_OFFSET "Боливарианская Республика Венесуэла"
    251+NLSRC_OFFSET "Вьетнам"
    252+NLSRC_OFFSET "Виргинские острова"
    253+NLSRC_OFFSET "Ватикан"
    254+NLSRC_OFFSET "Намибия"
    257+NLSRC_OFFSET "Западная Сахара (оспаривается)"
    258+NLSRC_OFFSET "Остров Уэйк"
    259+NLSRC_OFFSET "Самоа"
    260+NLSRC_OFFSET "Свазиленд"
    261+NLSRC_OFFSET "Йемен"
    263+NLSRC_OFFSET "Замбия"
    264+NLSRC_OFFSET "Зимбабве"
    269+NLSRC_OFFSET "Сербия и Черногория (бывшая)"
    270+NLSRC_OFFSET "Черногория"
    271+NLSRC_OFFSET "Сербия"
    273+NLSRC_OFFSET "Кюрасао"
    276+NLSRC_OFFSET "Южный Судан"
    300+NLSRC_OFFSET "Ангилья"
    301+NLSRC_OFFSET "Антарктида"
    302+NLSRC_OFFSET "Аруба"
    303+NLSRC_OFFSET "Остров Вознесения"
    304+NLSRC_OFFSET "о-ва Эшмор и Картье"
    305+NLSRC_OFFSET "о. Бэйкер"
    306+NLSRC_OFFSET "о. Бювет"
    307+NLSRC_OFFSET "Каймановы о-ва"
    308+NLSRC_OFFSET "Нормандские о-ва"
    309+NLSRC_OFFSET "о. Рождества"
    310+NLSRC_OFFSET "о. Клиппертон"
    311+NLSRC_OFFSET "Кокосовые о-ва"
    312+NLSRC_OFFSET "о-ва Кука"
    313+NLSRC_OFFSET "о-ва Кораллового моря"
    314+NLSRC_OFFSET "Диего-Гарсиа"
    315+NLSRC_OFFSET "Фолклендские (Мальвинские) о-ва"
    317+NLSRC_OFFSET "Французская Гвиана"
    318+NLSRC_OFFSET "Французская Полинезия"
    319+NLSRC_OFFSET "Французские южные и антарктические территории"
    321+NLSRC_OFFSET "Гваделупа"
    322+NLSRC_OFFSET "Гуам"
    323+NLSRC_OFFSET "Гуантанамо"
    324+NLSRC_OFFSET "Гернси"
    325+NLSRC_OFFSET "о-ва Херд и Макдональд"
    326+NLSRC_OFFSET "о.Хаулэнд"
    327+NLSRC_OFFSET "о.Джарвис"
    328+NLSRC_OFFSET "Джерси"
    329+NLSRC_OFFSET "риф Кингмен"
    330+NLSRC_OFFSET "Мартиника"
    331+NLSRC_OFFSET "Майотт"
    332+NLSRC_OFFSET "Монсеррат"
    333+NLSRC_OFFSET "Нидерландские Антилы (бывшая)"
    334+NLSRC_OFFSET "Новая Каледония"
    335+NLSRC_OFFSET "Ниуэ"
    336+NLSRC_OFFSET "о.Норфолк"
    337+NLSRC_OFFSET "Северные Марианские острова"
    338+NLSRC_OFFSET "атолл Пальмэйре"
    339+NLSRC_OFFSET "о-ва Питкерн"
    340+NLSRC_OFFSET "о.Рота"
    341+NLSRC_OFFSET "о.Сайпан"
    342+NLSRC_OFFSET "Южная Джорджия и Южные Сандвичевы о-ва"
    343+NLSRC_OFFSET "о.Св.Елены"
    346+NLSRC_OFFSET "о.Тиниан"
    347+NLSRC_OFFSET "Токелау"
    348+NLSRC_OFFSET "Тристан-да-Куньа"
    349+NLSRC_OFFSET "о-ва Туркс и Кайкос"
    351+NLSRC_OFFSET "Британские Виргинские о-ва"
    352+NLSRC_OFFSET "Уоллис и Футуна"
    15126+NLSRC_OFFSET "Man, Isle of"
    19618+NLSRC_OFFSET "Македония, бывшая югославская республика"
    21242+NLSRC_OFFSET "Атолл Мидуэй"
    30967+NLSRC_OFFSET "Синт-Мартен (голландская часть)"
    31706+NLSRC_OFFSET "Сен-Мартен (французская часть)"
    (7299303+NLSRC_OFFSET)&0xffff "Демократическая Республика Тимор-Лесте"
    (10028789+NLSRC_OFFSET)&0xffff "Аландские острова"
    (161832015+NLSRC_OFFSET)&0xffff "Сен-Бартелеми"
    (161832256+NLSRC_OFFSET)&0xffff "U.S. Minor Outlying Islands"
END
