/* TRANSLATOR: 2015 Erdem Ersoy (eersoy93) (erdemersoy [at] erdemersoy [dot] net) */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_USAGE "\nŞimdiki anabilgisayarın adını yazdırır.\n\nhostname\n"
    IDS_NOSET "sethostname: Open the ""Computer Name"" tab in the ""System"" Control Panel applet\nto change the host name.\nhostname -s desteklenmiyor.\n"
    IDS_ERROR "Hatası: "
END
