/*
 *Korean Translation by Seungju Kim(www.manatails007.org) manatails007*
 */

LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT

DLG_SCRNSAVECONFIGURE DIALOGEX 0, 0, 273, 178
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "3D 텍스트 화면 보호기 설정"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "확인",IDOK,216,7,50,14
    PUSHBUTTON      "취소",IDCANCEL,216,24,50,14
    EDITTEXT        IDC_MESSAGE_TEXT,18,28,122,14,ES_AUTOHSCROLL
    LTEXT           "커스텀 텍스트",IDC_STATIC,18,17,65,8
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DESCRIPTION "3D 텍스트 화면 보호기"
END
