<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ghostpdf</string>
	<key>CFBundleIconFile</key>
	<string>macpdf.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.artofcode.GhostPDF</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1</string>
	<key>CSResourcesFileMapped</key>
	<true/>

	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
					<string>pdf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>macpdf.icns</string>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>

	<key>NSAppleScriptEnabled</key>
	<string>YES</string>

</dict>
</plist>
