#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	VFT_APP
#define	VER_FILESUBTYPE	VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "SNMP Trap Service"
#define VER_INTERNALNAME_STR        "snmptrap.exe"
#define VER_ORIGINALFILENAME_STR    "snmptrap.exe"

#include "common.ver"
