/*
* PROJECT:     ReactOS Client/Server Runtime subsystem
* LICENSE:     GPL - See COPYING in the top level directory
* FILE:        subsystems/win32/csrss/win32csr/lang/it-IT.rc
* PURPOSE:     Italian Translation of subsystems/win32/csrss/win32csr/lang/en-US.rc
* PROGRAMMERS: 
*              Copyright (C) 2007 Daniele Forsi (dforsi at gmail.com) Italian Translation
*/

LANGUAGE LANG_ITALIAN, SUBLANG_ITALIAN

IDD_END_NOW DIALOG DISCARDABLE  0, 0, 200, 95
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Fine del programma - "
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Fine del programma... Attendere",IDC_STATIC,7,7,186,11
    CONTROL         "Progresso",IDC_PROGRESS,"msctls_progress32",WS_BORDER,
                    7,20,186,13
    LTEXT           "Se si sceglie di terminare il programma immediatamente, si perderanno tutti i dati non salvati. Per terminare il programma ora, selezionare Termina ora.",
                    IDC_STATIC,7,40,186,26
    DEFPUSHBUTTON   "T&ermina ora",IDC_END_NOW,150,71,43,17
END

IDD_NOT_RESPONDING DIALOG DISCARDABLE 0, 0, 192, 122
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "End Program - "
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Annulla",IDCANCEL,142,98,43,17
    PUSHBUTTON      "T&ermina ora",IDC_END_NOW,78,98,43,17
    LTEXT           "Il programma non risponde",IDC_STATIC,7,7,178,8
    LTEXT           "Per tornare a ReactOS e controllare lo stato del programma, selezionare Annulla",
                    IDC_STATIC,7,26,178,16
    LTEXT           "Se si sceglie di terminare il programma immediatamente, si perderanno tutti i dati non salvati. Per terminare il programma ora, selezionare Termina ora.",
                    IDC_STATIC,7,53,178,26
END

STRINGTABLE
BEGIN
  IDS_EDIT "Modifica"
  IDS_MARK "Seleziona"
  IDS_COPY "Copia\tInvio"
  IDS_PASTE "Incolla"
  IDS_SELECTALL "Seleziona tutto"
  IDS_SCROLL "Scorri"
  IDS_FIND "Trova..."
  IDS_DEFAULTS "Impostazioni predefinite"
  IDS_PROPERTIES "Proprietà"
  IDS_SCROLLHERE "Scorri qui"
  IDS_SCROLLTOP "Scorri in cima"
  IDS_SCROLLBOTTOM "Scorri in fondo"
  IDS_SCROLLPAGE_UP "Pagina sù"
  IDS_SCROLLPAGE_DOWN "Pagina giù"
  IDS_SCROLLUP "Scorri sù"
  IDS_SCROLLDOWN "Scorri giù"
END
