/*
 * Chinese (Traditional) resources for shlwapi
 *
 * Copyright 2004 Jon Griffiths
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 * TRANSLATORS: Copyright 2008 Hongbo Ni <hongbo@njstar.com> 
 *              Copyright 2021 Chan Chilung <eason066@gmail.com>
 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

STRINGTABLE
{
    IDS_BYTES_FORMAT    "%ld 位元組"
    IDS_TIME_INTERVAL_HOURS    " 小時"
    IDS_TIME_INTERVAL_MINUTES  " 分"
    IDS_TIME_INTERVAL_SECONDS  " 秒"
#ifdef __REACTOS__
    IDS_KB_FORMAT "%s KB"
    IDS_MB_FORMAT "%s MB"
    IDS_GB_FORMAT "%s GB"
    IDS_TB_FORMAT "%s TB"
    IDS_PB_FORMAT "%s PB"
    IDS_EB_FORMAT "%s EB"
#endif
}

IDD_ERR_DIALOG DIALOGEX 0, 0, 220, 60
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "錯誤"
FONT 9, "新細明體"
{
 LTEXT "", IDS_ERR_USER_MSG2, 15, 5, 28, 20
 LTEXT "", IDS_ERR_USER_MSG, 15, 5, 210, 8
 CHECKBOX "不再顯示這個訊息", IDC_ERR_DONT_SHOW, 5, 20, 210, 10, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "確定(&O)", IDOK, 105, 40, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "取消(&C)", IDCANCEL, 160, 40, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "是(&Y)", IDYES, 105, 40, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "否(&N)", IDNO, 160, 40, 50, 14, WS_GROUP | WS_TABSTOP
}
