#include <windows.h>
#include <reactos/resource.h>
#include "resource.h"

#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION	"ReactOS Access Control List Editor\0"
#define REACTOS_STR_INTERNAL_NAME	"aclui\0"
#define REACTOS_STR_ORIGINAL_FILENAME	"aclui.dll\0"
#include <reactos/version.rc>

IDB_USRGRPIMAGES BITMAP "res/usrgrp.bmp"

#include "aclui_De.rc"
#include "aclui_El.rc"
#include "aclui_En.rc"
#include "aclui_Es.rc"
#include "aclui_Fr.rc"
#include "aclui_Hu.rc"
#include "aclui_Id.rc"
#include "aclui_It.rc"
#include "aclui_Ja.rc"
#include "aclui_Nl.rc"
#include "aclui_Pl.rc"
#include "aclui_Ru.rc"
#include "aclui_Sv.rc"
#include "aclui_Th.rc"
#include "aclui_Uk.rc"
