LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

// Dialog

DLG_SCRNSAVECONFIGURE DIALOGEX 0, 0, 292, 282
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "設定"
FONT 9, "MS UI Gothic"
BEGIN
    GROUPBOX        "オプション",IDC_STATIC,16,100,260,76
    RTEXT           "星の数:",IDC_STATIC,24,116,68,12,
                    SS_CENTERIMAGE
    CONTROL         "Slider1",IDC_SLIDER_NUM_OF_STARS,"msctls_trackbar32",
                    TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,96,116,140,12
    CTEXT           "固定",IDC_TEXT_NUM_OF_STARS,240,116,24,12,
                    SS_CENTERIMAGE,WS_EX_STATICEDGE
    RTEXT           "速度:",IDC_STATIC,24,137,68,12,SS_CENTERIMAGE
    CONTROL         "Slider1",IDC_SLIDER_SPEED,"msctls_trackbar32",TBS_BOTH |
                    TBS_NOTICKS | WS_TABSTOP,96,137,140,12
    CTEXT           "固定",IDC_TEXT_SPEED,240,137,24,12,SS_CENTERIMAGE,
                    WS_EX_STATICEDGE
    RTEXT           "回転:",IDC_STATIC,24,156,68,12,SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_ROTATION,100,156,80,60,CBS_DROPDOWNLIST |
                    WS_TABSTOP
    CONTROL         "",IDC_IMAGE_COSMOS,"Static",SS_BITMAP | SS_CENTERIMAGE,
                    4,4,284,92
    GROUPBOX        "上級者向け",IDC_STATIC,16,180,260,72
    CONTROL         "背景のブレンドを有効にする",IDC_CHECK_DOBLENDING,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,24,196,160,10
    CONTROL         "正確な遠近法補正を可能にする",
                    IDC_CHECK_PERSPECTIVE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,24,208,160,10
    CONTROL         "テクスチャ フィルタを有効にする",IDC_CHECK_FILTERING,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,24,220,160,10
    CONTROL         "スムーズ シェーディングを有効に",IDC_CHECK_SHADING,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,24,232,160,10
    PUSHBUTTON      "OK",IDOK,60,260,52,16
    PUSHBUTTON      "キャンセル",IDCANCEL,120,260,52,16
    PUSHBUTTON      "情報...",IDC_BUTTON_ABOUT,179,260,52,16
END

// String Tables

STRINGTABLE
BEGIN
    IDS_DESCRIPTION         "スターフィールド"
    IDS_ROTATION_NONE       "なし"
    IDS_ROTATION_LINEAR     "線形"
    IDS_ROTATION_PERIODIC   "周期的"
    IDS_LICENSE             "スターフィールドは、GNU GPL ライセンスに基づいてリリースされたフリー ソフトウェアです。"
    IDS_AUTHOR              "Carlo Bramini によって製作された"
END
