/*
 * PROJECT:     Star field screensaver
 * LICENSE:     LGPL-2.1-or-later (https://spdx.org/licenses/LGPL-2.1-or-later)
 * PURPOSE:     Slovak resource file
 * TRANSLATOR:  Copyright 2025 Václav Zouzalík (Venca24) <vaclav.zouzalik@seznam.cz>
 */

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

// Dialog

DLG_SCRNSAVECONFIGURE DIALOGEX 0, 0, 292, 282
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Nastavenia"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Voľby",IDC_STATIC,16,100,260,76
    RTEXT           "Počet hviezd:",IDC_STATIC,24,116,68,12,
                    SS_CENTERIMAGE
    CONTROL         "Slider1",IDC_SLIDER_NUM_OF_STARS,"msctls_trackbar32",
                    TBS_BOTH | TBS_NOTICKS | WS_TABSTOP,96,116,140,12
    CTEXT           "Static",IDC_TEXT_NUM_OF_STARS,240,116,24,12,
                    SS_CENTERIMAGE,WS_EX_STATICEDGE
    RTEXT           "Rýchlosť:",IDC_STATIC,24,137,68,12,SS_CENTERIMAGE
    CONTROL         "Slider1",IDC_SLIDER_SPEED,"msctls_trackbar32",TBS_BOTH |
                    TBS_NOTICKS | WS_TABSTOP,96,137,140,12
    CTEXT           "Static",IDC_TEXT_SPEED,240,137,24,12,SS_CENTERIMAGE,
                    WS_EX_STATICEDGE
    RTEXT           "Rotácia:",IDC_STATIC,24,156,68,12,SS_CENTERIMAGE
    COMBOBOX        IDC_COMBO_ROTATION,100,156,80,60,CBS_DROPDOWNLIST |
                    WS_TABSTOP
    CONTROL         "",IDC_IMAGE_COSMOS,"Static",SS_BITMAP | SS_CENTERIMAGE,
                    4,4,284,92
    GROUPBOX        "Pokročilé",IDC_STATIC,16,180,260,72
    CONTROL         "Povoliť prelívanie pozadia",IDC_CHECK_DOBLENDING,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,24,196,160,10
    CONTROL         "Povoliť presnú korekciu perspektívy",
                    IDC_CHECK_PERSPECTIVE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,24,208,160,10
    CONTROL         "Povoliť filtrovanie textúr",IDC_CHECK_FILTERING,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP,24,220,160,10
    CONTROL         "Povoliť plynulé stínovanie",IDC_CHECK_SHADING,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,24,232,160,10
    PUSHBUTTON      "OK",IDOK,60,260,52,16
    PUSHBUTTON      "Storno",IDCANCEL,120,260,52,16
    PUSHBUTTON      "O programe",IDC_BUTTON_ABOUT,179,260,52,16
END

// String Tables

STRINGTABLE
BEGIN
    IDS_DESCRIPTION         "Hviezdne pole"
    IDS_ROTATION_NONE       "Žiadna"
    IDS_ROTATION_LINEAR     "Lineárna"
    IDS_ROTATION_PERIODIC   "Periodická"
    IDS_LICENSE             "Hviezdne pole je slobodný softvér vydaný pod licenciou GNU GPL."
    IDS_AUTHOR              "Napísal Carlo Bramini"
END
