/*
 * Polish resources for WLDAP32
 *
 * Copyright 2005 Hans Leidekker
 * Copyright 2008 Mikolaj Zalewski
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

STRINGTABLE
{
    0 "Sukces"
    1 "Błąd operacji"
    2 "Błąd protokołu"
    3 "Przekroczony limit czasu"
    4 "Przekroczony limit rozmiaru"
    5 "Porównanie dało wynik negatywny"
    6 "Porównanie dało wynik pozytywny"
    7 "Metoda uwierzytelniania nie jest obsługiwana"
    8 "Wymagana mocna metoda uwierzytelniania"
    9 "Odwołanie (v2)"
    10 "Odwołanie"
    11 "Przekroczony limit administracyjny na serwerze"
    12 "Bezwzględnie wymagane rozszerzenie nie jest dostępne"
    13 "Wymagana poufność"
    14 "SASL Bind in Progress"
    15 ""
    16 "Nie ma takiego atrybutu"
    17 "Niezdefiniowany typ"
    18 "Nieodpowiednie dopasowanie"
    19 "Naruszenie więzów"
    20 "Atrybut lub wartość już isnieją"
    21 "Błąd składni"
    22 ""
    23 ""
    24 ""
    25 ""
    26 ""
    27 ""
    28 ""
    29 ""
    30 ""
    31 ""
    32 "Nie ma takiego obiektu"
    33 "Problem aliasu"
    34 "Błąd składni DN"
    35 "Jest liściem"
    36 "Problem z odwołaniem do aliasu"
    37 ""
    38 ""
    39 ""
    40 ""
    41 ""
    42 ""
    43 ""
    44 ""
    45 ""
    46 ""
    47 ""
    48 "Niewłaściwe uwierzytelnienie"
    49 "Nieprawidłowe poświadczenie"
    50 "Niewystarczające prawa dostępu"
    51 "Zajęty"
    52 "Niedostępny"
    53 "Brak chęci wykonania"
    54 "Wykryto pętlę"
    55 ""
    56 ""
    57 ""
    58 ""
    59 ""
    60 "Brak formantu sortowania"
    61 "Błąd zakresu indeksu"
    62 ""
    63 ""
    64 "Naruszenie zasad nazewnictwa"
    65 "Naruszenie klasy obiektu"
    66 "Operacja niedozwolona na nie-liściu"
    67 "Operacja niedozwolona na RDN"
    68 "Już istnieje"
    69 "Nie można modyfikować klasy obiektu"
    70 "Wynik zbyt duży"
    71 "Dotyczy wielu DSA"
    72 ""
    73 ""
    74 ""
    75 ""
    76 ""
    77 ""
    78 ""
    79 ""
    80 "Inne"
    81 "Serwer wyłączony"
    82 "Błąd lokalny"
    83 "Błąd podczas kodowania"
    84 "Błąd podczas dekodowania"
    85 "Limit czasu"
    86 "Nieznane uwierzytelnianie"
    87 "Błąd filtru"
    88 "Akcja anulowana przez użytkownika"
    89 "Błędny parametr"
    90 "Brak pamięci"
    91 "Nie można się połączyć z serwerem LDAP"
    92 "Operacja nie jest obsługiwana przez tę wersję protokołu LDAP"
    93 "Brak określonego formantu w wiadomości"
    94 "Brak wyników z wiadomości"
    95 "Zwrócono więcej wyników"
    96 "Natrafiono na pętlę podczas obsługi odwołań"
    97 "Przekroczono limit skoków odwołań"
}
