/*
 *    Translated by Sebastian Gasiorek
 *    UTF-8 conversion by Caemyr (May, 2011)
 */

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

/* Dialogs */

SELWINDOW DIALOGEX 20, 20, 220, 140
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Wybieranie okna"
BEGIN
    LISTBOX 100, 5, 5, 210, 110, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL
    PUSHBUTTON "&OK", 1, 60, 120, 40, 15, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "&Anuluj", 2, 120, 120, 40, 15, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

/* Menus */

EDITMENU MENU
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Cofnij", EM_UNDO
        MENUITEM SEPARATOR
        MENUITEM "&Wytnij", WM_CUT
        MENUITEM "&Kopiuj", WM_COPY
        MENUITEM "Wkl&ej", WM_PASTE
        MENUITEM "&Usuń", WM_CLEAR
        MENUITEM SEPARATOR
        MENUITEM "Zaznacz w&szystko", EM_SETSEL
    END
END

SYSMENU MENU
BEGIN
    MENUITEM "&Przywróć", SC_RESTORE
    MENUITEM "Prz&enieś", SC_MOVE
    MENUITEM "&Rozmiar", SC_SIZE
    MENUITEM "&Minimalizuj", SC_MINIMIZE
    MENUITEM "Mak&symalizuj", SC_MAXIMIZE
    MENUITEM SEPARATOR
    MENUITEM "Zam&knij\tAlt+F4", SC_CLOSE
END

SYSMENUMDI MENU
BEGIN
    MENUITEM "&Przywróć", SC_RESTORE
    MENUITEM "Prz&enieś", SC_MOVE
    MENUITEM "&Rozmiar", SC_SIZE
    MENUITEM "&Minimalizuj", SC_MINIMIZE
    MENUITEM "Mak&symalizuj", SC_MAXIMIZE
    MENUITEM SEPARATOR
    MENUITEM "Zam&knij\tCtrl+F4", SC_CLOSE
    MENUITEM SEPARATOR
    MENUITEM "Nas&tępny\tCtrl+F6", SC_NEXTWINDOW
END

/* Strings */

STRINGTABLE
BEGIN
    IDS_ERROR "Błąd"
    IDS_OK "OK"
    IDS_CANCEL "Anuluj"
    IDS_ABORT "&Przerwij"
    IDS_RETRY "&Ponów próbę"
    IDS_IGNORE "&Ignoruj"
    IDS_YES "&Tak"
    IDS_NO "&Nie"
    IDS_HELP "Pomoc"
    IDS_TRYAGAIN "&Ponów próbę"
    IDS_CONTINUE "&Kontynuuj"
END

STRINGTABLE
BEGIN
    IDS_MDI_MOREWINDOWS "&Więcej okien..."
END
