/*
 *    Translated by Caemyr - Olaf Siejka (Dec,2007)
 *    Use ReactOS forum PM or IRC to contact me
 *    http://www.reactos.org
 *    IRC: irc.freenode.net #reactos-pl;
 *    UTF-8 conversion by Caemyr (May, 2011)
 */

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

DLG_SCRNSAVECONFIGURE DIALOGEX 0, 0, 273, 178
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ustawienia wygaszacza ekranu Tekst 3d"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 216, 7, 50, 14
    PUSHBUTTON "Anuluj", IDCANCEL, 216, 24, 50, 14
    EDITTEXT IDC_MESSAGE_TEXT, 18, 28, 122, 14, ES_AUTOHSCROLL
    LTEXT "Własny tekst", IDC_STATIC, 18, 17, 65, 8
END

STRINGTABLE
BEGIN
    IDS_DESCRIPTION "Wygaszacz ekranu Tekst 3d"
END
