/*
 * cryptdlg dll resources
 *
 * Copyright 2008 Juan Lang
 * Copyright 2008 YunSong Hwang
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "cryptres.h"

LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
{
    IDS_CERT_POLICY "인증 정책"
    IDS_POLICY_ID "정책 식별자: "
    IDS_POLICY_QUALIFIER_INFO "정책 구별자 정보"
    IDS_POLICY_QUALIFIER_ID "정책 구별자 아이디="
    IDS_CPS "CPS"
    IDS_USER_NOTICE "사용자 통지"
    IDS_QUALIFIER "구별자"
    IDS_NOTICE_REF "통지 참조"
    IDS_ORGANIZATION "기관="
    IDS_NOTICE_NUM "통지 번호="
    IDS_NOTICE_TEXT "통지 텍스트="
}
