/////////////////////////////////////////////////////////////////////////////
// Norwegian (N.O.) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
#ifdef _WIN32
LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL
#pragma code_page(1252)
#endif //_WIN32

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_FDEBUG MENU DISCARDABLE 
BEGIN
    POPUP "&Fil"
    BEGIN
        MENUITEM "Koble &til", IDM_FILE_CONNECT
        MENUITEM "Koble &fra", IDM_FILE_DISCONNECT, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Clear display", IDM_FILE_CLEARDISPLAY
        MENUITEM SEPARATOR
        MENUITEM "&Start Opptak", IDM_FILE_STARTCAPTURE
        MENUITEM "S&topp Opptak", IDM_FILE_STOPCAPTURE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Lokalt Ekko", IDM_FILE_LOCALECHO
        MENUITEM SEPARATOR
        MENUITEM "&Avslutt", IDM_EXIT
    END
    POPUP "&Hjelp"
    BEGIN
        MENUITEM "&Om ...", IDM_ABOUT
    END
END


/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDC_FDEBUG ACCELERATORS MOVEABLE PURE 
BEGIN
    63,            IDM_ABOUT,              ASCII,  ALT // "?"
    47,            IDM_ABOUT,              ASCII,  ALT // "/"
END


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

2 TEXTINCLUDE DISCARDABLE 
BEGIN
    "#define APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""windows.h""\r\n"
    "#undef APSTUDIO_HIDDEN_SYMBOLS\r\n"
    "#include ""resource.h""\r\n"
    "\0"
END

3 TEXTINCLUDE DISCARDABLE 
BEGIN
    "\r\n"
    "\0"
END

1 TEXTINCLUDE DISCARDABLE 
BEGIN
    "resource.h\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO DISCARDABLE 
BEGIN
    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 252
        TOPMARGIN, 7
        BOTTOMMARGIN, 203
    END

    IDD_CONNECTION, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 189
        TOPMARGIN, 7
        BOTTOMMARGIN, 93
    END

    IDD_CAPTURE, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 244
        TOPMARGIN, 7
        BOTTOMMARGIN, 88
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_ABOUTBOX DIALOG DISCARDABLE  22, 17, 259, 210
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Om FreeLoader feilsøker"
FONT 8, "Tahoma"
BEGIN
    CONTROL         "FreeLoader feilsøker v1.0\nopphavsrett (C) 2003\nlaget av Brian Palmer (brianp@reactos.org)",
                    IDC_STATIC,"Static",SS_LEFTNOWORDWRAP | WS_GROUP,53,28,
                    122,26
    DEFPUSHBUTTON   "OK",IDOK,183,189,44,14,WS_GROUP
    ICON            IDI_FDEBUG,IDC_STATIC,19,30,20,20
    EDITTEXT        IDC_LICENSE_EDIT,53,63,174,107,ES_MULTILINE | 
                    ES_READONLY | WS_VSCROLL
END

IDD_CONNECTION DIALOG DISCARDABLE  0, 0, 196, 100
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Connection Options"
FONT 8, "Tahoma"
BEGIN
    LTEXT           "Enter the COM port (e.g. COM1):",IDC_STATIC,7,7,108,8
    EDITTEXT        IDC_COMPORT,7,17,182,14,ES_AUTOHSCROLL
    LTEXT           "Enter the baud rate (e.g. 115200):",IDC_STATIC,7,38,114,
                    8
    EDITTEXT        IDC_BAUTRATE,7,48,182,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,45,79,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,100,79,50,14
END

IDD_CAPTURE DIALOG DISCARDABLE  0, 0, 251, 95
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Capture File"
FONT 8, "Tahoma"
BEGIN
    LTEXT           "Opptak fil Navn:",IDC_STATIC,7,17,62,8
    EDITTEXT        IDC_CAPTUREFILENAME,7,26,181,14,ES_AUTOHSCROLL
    PUSHBUTTON      "&Bla gjennom",IDC_BROWSE,194,26,50,14
    DEFPUSHBUTTON   "OK",IDOK,139,74,50,14
    PUSHBUTTON      "Avbryt",IDCANCEL,194,74,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_APP_TITLE           "fdebug"
    IDS_HELLO               "Hei verden!"
    IDC_FDEBUG              "FDEBUG"
END

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_LICENSE             "Dette programmet er fri programvare; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.\r\n\r\nThis program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.\r\n\r\nYou should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA."
END

#endif    // Norwegian (N.O.) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

