/* The contents of this file are subject to the Mozilla Public
  * License Version 1.1 (the "License"); you may not use this file
  * except in compliance with the License. You may obtain a copy of
  * the License at http://www.mozilla.org/MPL/
  *
  * Software distributed under the License is distributed on an "AS
  * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  * implied. See the License for the specific language governing
  * rights and limitations under the License.
  *
  * The Original Code is the Bugzilla Bug Tracking System.
  *
  * Contributor(s): Marc Schumann <wurblzap@gmail.com>
  */

.warningmessages, .criticalmessages {
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 1ex 1ex 1ex 4ex;
    margin: 1ex;
}

.warningmessages {
    border-color: yellow;
}

.criticalmessages {
    border-color: red;
}

p.areyoureallyreallysure {
    color: red;
    font-size: 120%;
    font-weight: bold;
}

tr.param_disabled {
    background-color: lightgrey;
}
