/* The contents of this file are subject to the Mozilla Public
  * License Version 1.1 (the "License"); you may not use this file
  * except in compliance with the License. You may obtain a copy of
  * the License at http://www.mozilla.org/MPL/
  *
  * Software distributed under the License is distributed on an "AS
  * IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  * implied. See the License for the specific language governing
  * rights and limitations under the License.
  *
  * The Original Code is the Bugzilla Bug Tracking System.
  *
  * Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  */

/* Highlight the row for the bug being voted on */
tr.bz_bug_being_voted_on {
    background-color: #e2e2e2;
}

tr.bz_bug_being_voted_on td {
    border-style: solid none solid none;
    border-width: thin;
}
