/*
 * Korean translation by manatails007(www.manatails007.org)
 */
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
BEGIN

IDS_USAGE, "사용법: shutdown [-?] [-l | -s | -r] [-f]\n\n\
  지시문 없음 -?\t이 메세지 표시\n\
  -l\t\t\t로그 오프\n\
  -s\t\t\t컴퓨터 끄기\n\
  -r\t\t\t컴퓨터 재시작\n\
  -f\t\t\t프로세스 강제종료\n\
    \t\t\t아무 파라미터도 입력하지 않으시면,\n\
    \t\t\t로그오프 될 것입니다"
END
