/*
 * PROJECT:     ReactOS Shutdown Utility
 * FILE:        base/applications/shutdown/lang/sk-SK.rc
 * PURPOSE:     Slovak Language File for shutdown
 * TRANSLATOR:  Kario (kario@szm.sk)
 * DATE OF TR:  25-07-2007
 */

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
BEGIN

IDS_USAGE, "Pou§itie: shutdown [-?] [-l | -s | -r] [-f]\n\n\
  ¦iadne argumenty\tZobraz¡ sa t to spr va\n\
  -?\t\t\tZobraz¡ t£to spr vu\n\
  -l\t\t\tOdhl si pou§¡vate–a\n\
  -s\t\t\tVypne poŸ¡taŸ\n\
  -r\t\t\tReçtartuje poŸ¡taŸ\n\
  -f\t\t\tDon£ti spusten‚ programy aby sa vypli bez upozornen¡.\n\
    \t\t\tAk nebol zadanì §iadny inì parameter, tak aj odhl si\n\
    \t\t\tpou§¡vate–a."
END
