#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Windows Socket 2.0 Installation Utility"
#define VER_INTERNALNAME_STR        "ws2inst.exe"
#define VER_ORIGINALFILENAME_STR    "ws2inst.exe"

#include <common.ver>

