LANGUAGE LANG_DANISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_PROFILEPATH    "%SystemDrive%\\Lokale Indstillinger"
    IDS_APPDATA        "Application Data"
    IDS_DESKTOP        "Skrivebord"
    IDS_FAVORITES      "Favoritter"
    IDS_STARTMENU      "Start Menu"
    IDS_PROGRAMS       "Start Menu\\Programmer"
    IDS_ADMINTOOLS     "Start Menu\\Programmer\\Administrative Værktøjer"
    IDS_STARTUP        "Start Menu\\Programmer\\Opstart"
    IDS_MYDOCUMENTS    "Mine Dokumenter"
    IDS_MYPICTURES     "Mine Dokumenter\\Mine Billeder"
    IDS_MYMUSIC        "Mine Dokumenter\\Min Musik"
    IDS_MYVIDEOS       "Mine Dokumenter\\Mine Videoer"
    IDS_TEMPLATES      "Skabeloner"
    IDS_RECENT         "Midlertidige"
    IDS_SENDTO         "Send Til"
    IDS_PRINTHOOD      "PrintHood"
    IDS_NETHOOD        "NetHood"
    IDS_LOCALSETTINGS  "Lokale Indstillinger"
    IDS_LOCALAPPDATA   "Lokale Indstillinger\\Application Data"
    IDS_TEMP           "Lokale Indstillinger\\Temp"
    IDS_CACHE          "Lokale Indstillinger\\Midlertidige Internet Filer"
    IDS_HISTORY        "Lokale Indstillinger\\Historie"
    IDS_COOKIES        "Cookies"
    IDS_PROGRAMFILES   "%SystemDrive%\\Programmer"
    IDS_COMMONFILES    "Common Files"
END
