LANGUAGE LANG_FINNISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_PROFILEPATH "%SystemDrive%\\Documents and Settings"
    IDS_APPDATA "Application Data"
    IDS_DESKTOP "Työpöytä"
    IDS_FAVORITES "Suosikit"
    IDS_STARTMENU "Käynnistä Valikko"
    IDS_PROGRAMS "Käynnistä Valikko\\Kaikki Ohjelmat"
    IDS_ADMINTOOLS "Käynnistä Valikko\\Kaikki Ohjelmat\\Apuohjelmat"
    IDS_STARTUP "Käynnistä Valikko\\Kaikki Ohjelmat\\Käynnistys"
    IDS_MYDOCUMENTS "Omat Tiedostot"
    IDS_MYPICTURES "Omat Tiedostot\\Omat kuvatiedostot"
    IDS_MYMUSIC "Omat Tiedostot\\Omat musiikkitiedostot"
    IDS_MYVIDEOS "Omat Tiedostot\\Omat videot"
    IDS_TEMPLATES "Pohjat"
    IDS_RECENT "Viimeisin"
    IDS_SENDTO "Lähetä"
    IDS_PRINTHOOD "Tulostimet"
    IDS_NETHOOD "Lähiverkko"
    IDS_LOCALSETTINGS "Paikalliset Asetukset"
    IDS_LOCALAPPDATA "Paikalliset Asetukset\\Application Data"
    IDS_TEMP "Paikalliset Asetukset\\Temp"
    IDS_CACHE "Paikalliset Asetukset\\Temporary Internet Files"
    IDS_HISTORY "Paikalliset Asetukset\\Historia"
    IDS_COOKIES "Keksit"
    IDS_PROGRAMFILES "%SystemDrive%\\Program Files"
    IDS_COMMONFILES "Common Files"
END
