/*
 * PROJECT:    ReactOS userenv.dll
 * LICENSE:    GPL - See COPYING in the top level directory
 * FILE:       dll/win32/userenv/lang/it-IT.rc
 * PURPOSE:    Italian Translation of dll/win32/userenv/lang/en-US.rc
 * TRANSLATOR: Copyright (C) 2007 Daniele Forsi (dforsi at gmail.com) Italian Translation
 *
 * UPDATE HISTORY:
 *    11 Feb 2009: Gabriel Ilardi (gabrielilardi at hotmail.it) - compatibility fixes/update.
 */

LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_PROFILEPATH "%SystemDrive%\\Documents and Settings"
    IDS_APPDATA "Dati applicazioni"
    IDS_DESKTOP "Desktop"
    IDS_FAVORITES "Preferiti"
    IDS_MYDOCUMENTS "Documenti"
    IDS_NETHOOD "Risorse di rete"
    IDS_PRINTHOOD "Stampanti"
    IDS_RECENT "Recenti"
    IDS_SENDTO "Invia a"
    IDS_TEMPLATES "Modelli"
    IDS_STARTMENU "Menu Avvio"
    IDS_PROGRAMS "Menu Avvio\\Programmi"
    IDS_STARTUP "Menu Avvio\\Programmi\\Esecuzione automatica"
    IDS_LOCALSETTINGS "Impostazioni locali"
    IDS_LOCALAPPDATA "Impostazioni locali\\Dati applicazioni"
    IDS_TEMP "Impostazioni locali\\Temp"
    IDS_CACHE "Impostazioni locali\\Temporary Internet Files"
    IDS_HISTORY "Impostazioni locali\\Cronologia"
    IDS_COOKIES "Cookies"
END
