/* Traditional Chinese translation by Henry Tang Ih 2016 (henrytang2@hotmail.com) */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

STRINGTABLE
BEGIN
    STRING_HELP "用法：%s 驅動器: [-FS:檔案系統] [-V:卷標] [-Q] [-A:大小] [-C]\n\n\
  [驅動器:]           指定要格式化的驅動器。\n\
  -FS:檔案系統        指定檔案系統的類型 (%s)。\n\
  -V:卷標             指定卷標。\n\
  -Q                  執行快速格式化。\n\
  -A:大小             覆蓋默認分配單元的大小。通常用途時強烈推薦默認設定。\n\
                        NTFS 支援 512, 1024, 2048, 4096, 8192, 16K, 32K, 64K.\n\
                        FAT 支援 8192, 16K, 32K, 64K, 128K, 256K.\n\
                        NTFS 壓縮不支援 4096 以上的分配單元大小。\n\
  -C                  在新捲上創建的檔案默認將會被壓縮。\n\n"
    STRING_COMPLETE   "已完成百分之 %lu。\r"
    STRING_FORMAT_FAIL "FormatEx 無法成功完成。\n\n"
    STRING_NO_SUPPORT "不支援的操作"
    STRING_FMIFS_FAIL "不能定位 FMIFS 入口點。\n\n"
    STRING_UNKNOW_ARG "未知參數：%s\n"
    STRING_DRIVE_PARM "必要的驅動器參數缺失。\n\n"
    STRING_ERROR_DRIVE_TYPE "無法獲得驅動器類型"
    STRING_INSERT_DISK "在驅動器 %C: 中插入一張新的軟盤\n就緒時按 Enter..."
    STRING_NO_VOLUME "無法查詢卷"
    STRING_NO_VOLUME_SIZE "無法查詢卷大小"
    STRING_FILESYSTEM "檔案系統的類型是 %s。\n"
    STRING_LABEL_NAME_EDIT "為驅動器 %C 輸入當前卷標："
    STRING_ERROR_LABEL "輸入的卷標不正確。\n"
    STRING_YN_FORMAT "\n警告：不可移動磁碟驅動器 %C: 上的所有資料都將丟失！\n確認要格式化嗎 (Y/N)？"
    STRING_YES_NO_FAQ "YN"
    STRING_VERIFYING "正在檢驗"
    STRING_FAST_FMT "正在快速格式化"
    STRING_CREATE_FSYS "正在創建檔案系統結構。\n"
    STRING_FMT_COMPLETE "格式化完成。\n"
    STRING_VOL_COMPRESS "卷不支援壓縮。\n"
    STRING_ENTER_LABEL "卷標 (11 個字元，Enter 忽略)？"
    STRING_NO_LABEL "無法為卷添加捲標"
    STRING_FREE_SPACE "\n%I64d 位元組總磁碟空間。\n%I64d 位元組可用。\n"
    STRING_SERIAL_NUMBER "\n卷的序列號是 %04X-%04X\n"
END
