/*
 * Copyright 2004 by Krzysztof Foltman
 * Copyright 2007 by Alexander N. Sørnes <alex@thehandofagony.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include <windef.h>
#include <winuser.h>

#include "wordpad.h"

#define REACTOS_STR_FILE_DESCRIPTION  "ReactOS WordPad"
#define REACTOS_STR_INTERNAL_NAME     "wordpad"
#define REACTOS_STR_ORIGINAL_FILENAME "wordpad.exe"

#include <reactos/version.rc>

MAINACCELTABLE ACCELERATORS
BEGIN
    "1",          ID_BACK_1,          VIRTKEY, CONTROL
    "2",          ID_BACK_2,          VIRTKEY, CONTROL
    VK_F3,        ID_FIND_NEXT,       VIRTKEY
    "L",          ID_ALIGN_LEFT,      VIRTKEY, CONTROL
    "E",          ID_ALIGN_CENTER,    VIRTKEY, CONTROL
    "R",          ID_ALIGN_RIGHT,     VIRTKEY, CONTROL
    "F",          ID_FIND,            VIRTKEY, CONTROL
    "H",          ID_REPLACE,         VIRTKEY, CONTROL
    "A",          ID_EDIT_SELECTALL,  VIRTKEY, CONTROL
    "X",          ID_EDIT_CUT,        VIRTKEY, CONTROL
    "C",          ID_EDIT_COPY,       VIRTKEY, CONTROL
    "Z",          ID_EDIT_UNDO,       VIRTKEY, CONTROL
    "Y",          ID_EDIT_REDO,       VIRTKEY, CONTROL
    "B",          ID_FORMAT_BOLD,     VIRTKEY, CONTROL
    "I",          ID_FORMAT_ITALIC,   VIRTKEY, CONTROL
    "U",          ID_FORMAT_UNDERLINE,VIRTKEY, CONTROL
    "N",          ID_FILE_NEW,        VIRTKEY, CONTROL
    "O",          ID_FILE_OPEN,       VIRTKEY, CONTROL
    "S",          ID_FILE_SAVE,       VIRTKEY, CONTROL
    "P",          ID_PRINT,           VIRTKEY, CONTROL
END

/* @makedep: toolbar.bmp */
IDB_TOOLBAR BITMAP "res/toolbar.bmp"

/* @makedep: formatbar.bmp */
IDB_FORMATBAR BITMAP "res/formatbar.bmp"

/* @makedep: wordpad.ico */
IDI_WORDPAD ICON "res/wordpad.ico"

/* @makedep: document.ico */
IDI_RTFDOC ICON "res/document.ico"

/* @makedep: zoom.cur */
IDC_ZOOM CURSOR "res/zoom.cur"

#include <reactos/manifest_exe.rc>

/* UTF-8 */
#pragma code_page(65001)

#ifdef LANGUAGE_CS_CZ
    #include "lang/cs-CZ.rc"
#endif
#ifdef LANGUAGE_DA_DK
    #include "lang/da-DK.rc"
#endif
#ifdef LANGUAGE_DE_DE
    #include "lang/de-DE.rc"
#endif
#ifdef LANGUAGE_EN_US
    #include "lang/en-US.rc"
#endif
#ifdef LANGUAGE_ES_ES
    #include "lang/es-ES.rc"
#endif
#ifdef LANGUAGE_FR_FR
    #include "lang/fr-FR.rc"
#endif
#ifdef LANGUAGE_HE_IL
    #include "lang/he-IL.rc"
#endif
#ifdef LANGUAGE_HR_HR
    #include "lang/hr-HR.rc"
#endif
#ifdef LANGUAGE_HU_HU
    #include "lang/hu-HU.rc"
#endif
#ifdef LANGUAGE_IT_IT
    #include "lang/it-IT.rc"
#endif
#ifdef LANGUAGE_JA_JP
    #include "lang/ja-JP.rc"
#endif
#ifdef LANGUAGE_KO_KR
    #include "lang/ko-KR.rc"
#endif
#ifdef LANGUAGE_LT_LT
    #include "lang/lt-LT.rc"
#endif
#ifdef LANGUAGE_NL_NL
    #include "lang/nl-NL.rc"
#endif
#ifdef LANGUAGE_NO_NO
    #include "lang/no-NO.rc"
#endif
#ifdef LANGUAGE_PL_PL
    #include "lang/pl-PL.rc"
#endif
#ifdef LANGUAGE_PT_BR
    #include "lang/pt-BR.rc"
#endif
#ifdef LANGUAGE_PT_PT
    #include "lang/pt-PT.rc"
#endif
#ifdef LANGUAGE_RO_RO
    #include "lang/ro-RO.rc"
#endif
#ifdef LANGUAGE_RU_RU
    #include "lang/ru-RU.rc"
#endif
#ifdef LANGUAGE_SL_SI
    #include "lang/sl-SI.rc"
#endif
#ifdef LANGUAGE_SQ_AL
    #include "lang/sq-AL.rc"
#endif
#ifdef LANGUAGE_SV_SE
    #include "lang/sv-SE.rc"
#endif
#ifdef LANGUAGE_TR_TR
    #include "lang/tr-TR.rc"
#endif
#ifdef LANGUAGE_UK_UA
    #include "lang/uk-UA.rc"
#endif
#ifdef LANGUAGE_ZH_CN
    #include "lang/zh-CN.rc"
#endif
#ifdef LANGUAGE_ZH_TW
    #include "lang/zh-TW.rc"
#endif
