/*
 * Превод на Български/ Bulgarian translation
 * http://www.reactos.org/wiki/Bulgarian_translation
 * LOCATION: base/applications/network/ping/lang
 */

LANGUAGE LANG_BULGARIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_USAGE "\nУпотреба: ping [-t] [-n пъти] [-l размер] [-w просрочване] целеви_приемник\n\n\
Възможности:\n\
    -t             Прави пинг към указания приемник до прекъсване.\n\
                   За прекъсване- натиснете Контрол+C.\n\
    -n пъти        Колко пъти да бъдат подадени заявките.\n\
    -l размер      Размер на изпращания буфер.\n\
    -w просрочване Просрочване на чакането [милисекунди].\n\n\0"

    IDS_PING_WITH_BYTES "\nПрави пинг %1 [%2] с %3!d! байта данни:\n\n\0"
    IDS_PING_STATISTICS "\nСтатистика за пинга за %1:\n\0"
    IDS_PACKETS_SENT_RECEIVED_LOST "    Пакети: пратени= %1!d!, получени= %2!d!, изгубени = %3!d! (%4!d!%% загуби),\n\0"
    IDS_APPROXIMATE_ROUND_TRIP "Приблизителна времетраене на приемо-предаването:\n\0"
    IDS_MIN_MAX_AVERAGE "    Най-малко= %1, Най-голямо= %2, Средно= %3\n\0"
    IDS_NOT_ENOUGH_RESOURCES "Няма достатъчно свободни средства.\n\0"
    IDS_UNKNOWN_HOST "Неизвестен приемник %1.\n\0"
    IDS_SETSOCKOPT_FAILED "Грешка при setsockopt (%1!d!).\n\0"
    IDS_COULD_NOT_CREATE_SOCKET "Грешка при създаване на гнездо (#%1!d!).\n\0"
    IDS_COULD_NOT_INIT_WINSOCK "Грешка при подкаравнето на библиотеката (dll) за winsock.\n\0"
    IDS_DEST_MUST_BE_SPECIFIED "Трябва да укажете името или IP адреса на целевият приемник.\n\0"
    IDS_BAD_PARAMETER "Неправилен параметър %1.\n\0"
    IDS_BAD_OPTION_FORMAT "Неправилно записване на възможността %1.\n\0"
    IDS_BAD_OPTION "Неправилна стойност %1.\n\0"
    IDS_BAD_VALUE_OPTION_L "Неправилна стойност за -l, допустимите са от 0 до %1!d!.\n\0"
    IDS_BAD_VALUE_OPTION_N "Неправилна стойност за -n, допустимите са от 1 до %1!u!.\n\0"
    IDS_REPLY_FROM "Отговор от %1: байта=%2!d! време%3%4 ВЖ(TTL)=%5!d!\n\0"
    IDS_DEST_UNREACHABLE "Целевия приемник е недостижим.\n\0"
    IDS_COULD_NOT_TRANSMIT "Грешка при предаване на данните (%1!d!).\n\0"
    IDS_COULD_NOT_RECV "Грешка при получаване на данните (%1!d!).\n\0"
    IDS_REQUEST_TIMEOUT "Заявката е просрочена.\n\0"
    IDS_MS "мс\0"
    IDS_1MS "1 мс\0"
END
