/*
 * FILE:        base/applications/network/ping/lang/es-ES.rc
 * PURPOSE:     Spanish translations for ReactOS Ping Command
 * TRANSLATORS: Ismael Ferreras Morezuelas
 */

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_USAGE "\n\
Uso: ping [-t] [-a] [-n cuenta] [-l tamaño] [-f] [-i TTL] [-v TOS]\n\
          [-w tiempo_de_espera] [-4] [-6] nombre_de_destino\n\
\n\
Opciones:\n\
    -t          Ping the specified host until stopped.\n\
                To see statistics and continue - type Control-Break;\n\
                To stop - type Control-C.\n\
    -a          Resolve addresses to hostnames.\n\
    -n cuenta   Número de solicitudes de eco a enviar.\n\
    -l tamaño   Tamaño de búfer a enviar.\n\
    -f          Set Don't Fragment flag in packet (IPv4-only).\n\
    -i TTL      Time To Live.\n\
    -v TOS      Type Of Service (IPv4-only. This setting has been deprecated\n\
                and has no effect on the type of service field in the IP\n\
                Header).\n\
    -w t_espera Tiempo de espera en milisegundos para cada respuesta.\n\
    -4          Force using IPv4.\n\
    -6          Force using IPv6.\n\
\n"

    IDS_CTRL_BREAK "Control-Break\n"
    IDS_CTRL_C "Control-C\n"
    IDS_NO_RESOURCES "No hay suficientes recursos libres disponibles.\n"
    IDS_MISSING_ADDRESS "IP address must be specified.\n"
    IDS_MISSING_VALUE "Value must be supplied for option %1.\n"
    IDS_BAD_OPTION "La opción %1 no es válida.\n"
    IDS_BAD_PARAMETER "El parámetro %1 no es válido.\n"
    IDS_BAD_VALUE "El valor para la opción %1 no es válido, debe de estar entre %2!d! y %3!u!.\n"
    IDS_WRONG_FAMILY "The option %1 is only supported for %2.\n"
    IDS_UNKNOWN_HOST "Ping could not find host %1. Please check the name and try again.\n"
    IDS_PINGING_ADDRESS "\nHaciendo ping a %1 %0"
    IDS_PINGING_HOSTNAME "\nHaciendo ping a %1 [%2] %0"
    IDS_SOURCE_ADDRESS "from %1!s! %0"
    IDS_PING_SIZE "con %1!d! bytes de datos:\n\n"
    IDS_REPLY_FROM "Respuesta desde %1: %0"
    IDS_REPLY_BYTES "bytes=%1!d! %0"
    IDS_REPLY_TIME_MS "tiempo=%1!d!ms %0"
    IDS_REPLY_TIME_0MS "tiempo<1ms %0"
    IDS_REPLY_TTL "TTL=%1!d!\n"
    IDS_REPLY_STATUS "Echo reply returned %1.\n"
    IDS_DEST_HOST_UNREACHABLE "Destination host unreachable.\n"
    IDS_DEST_NET_UNREACHABLE "Destination net unreachable.\n"
    IDS_REQUEST_TIMED_OUT "La petición ha caducado.\n"
    IDS_TTL_EXPIRED "TTL expired in transit.\n"
    IDS_TRANSMIT_FAILED "PING: transmit failed. (Error %1!u!)\n"

    IDS_STATISTICS "\n\
Estadísticas de ping para %1!s!:\n\
    Paquetes: enviados = %2!d!, recibidos = %3!d!, perdidos %4!d! (%5!u!%% perdidos),\n"

    IDS_APPROXIMATE_RTT "Tiempos aproximados de ida y vuelta en milisegundos:\n\
    Mínimo = %1!u!ms, Máximo = %2!u!ms, Media = %3!u!ms\n"
END
