/*
 * FILE:        base/applications/network/ping/lang/ru-RU.rc
 * PURPOSE:     Russian translations for ReactOS Ping Command
 * TRANSLATORS:
 */

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_USAGE "\n\
Использование: ping [-t] [-a] [-n <число>] [-l <размер>] [-f] [-i TTL] [-v TOS]\n\
                    [-w <тайм-аут>] [-4] [-6] конечный_узел\n\
\n\
Параметры:\n\
    -t            Проверка связи с указанным узлом до прекращения.\n\
                  Для просмотра статистики и продолжения проверки нажмите\n\
                  Control-Break;\n\
                  Для прекращения нажмите Control-C.\n\
    -a            Определение имен узлов по адресам.\n\
    -n <число>    Число отправляемых эхо-запросов.\n\
    -l <размер>   Размер буфера отправки.\n\
    -f            Установить флаг ""Не фрагментировать"" для IP пакета\n\
                  (только IPv4).\n\
    -i TTL        Задание срока жизни пакета (TTL).\n\
    -v TOS        Тип обслуживания (только IPv4. Этот параметр является\n\
                  устаревшим и не влияет на поле TOS в заголовке IP).\n\
    -w <тайм-аут> Тайм-аут для каждого ответа (в миллисекундах).\n\
    -4            Принудительное использование протокола IPv4.\n\
    -6            Принудительное использование протокола IPv6.\n\
\n"

    IDS_CTRL_BREAK "Control-Break\n"
    IDS_CTRL_C "Control-C\n"
    IDS_NO_RESOURCES "Невозможно выделить требуемую память.\n"
    IDS_MISSING_ADDRESS "Необходимо указать адрес IP.\n"
    IDS_MISSING_VALUE "Для опции %s должно быть указано значение.\n"
    IDS_BAD_OPTION "Неверная опция %s.\n"
    IDS_BAD_PARAMETER "Неверный параметр %s.\n"
    IDS_BAD_VALUE "Недопустимое значение параметра %s, допустимый диапазон с %u по %u.\n"
    IDS_WRONG_FAMILY "Опция %s доступна только для %s.\n"
    IDS_UNKNOWN_HOST "Ping не может найти узел %s. Пожалуйста, проверьте имя и повторите попытку.\n"
    IDS_PINGING_ADDRESS "\nОбмен пакетами с %s "
    IDS_PINGING_HOSTNAME "\nОбмен пакетами с %s [%s] "
    IDS_SOURCE_ADDRESS "from %s %s"/* unused string */
    IDS_PING_SIZE "по %lu байта данных:\n\n"
    IDS_REPLY_FROM "Ответ от %s: "
    IDS_REPLY_BYTES "число байт=%d "
    IDS_REPLY_TIME_MS "время=%luмс "
    IDS_REPLY_TIME_0MS "время<1мс "
    IDS_REPLY_TTL "TTL=%d\n"
    IDS_REPLY_STATUS "Ответ от %lu.\n"
    IDS_DEST_HOST_UNREACHABLE "Заданный узел недоступен.\n"
    IDS_DEST_NET_UNREACHABLE "Заданная сеть недоступна.\n"
    IDS_REQUEST_TIMED_OUT "Превышен интервал ожидания для запроса.\n"
    IDS_TTL_EXPIRED "Превышен срок жизни (TTL) при передаче пакета.\n"
    IDS_TRANSMIT_FAILED "PING: сбой передачи. (Ошибка %u)\n"

    IDS_STATISTICS "\n\
Статистика Ping для %s:\n\
    Пакетов: отправлено = %d, получено = %d, потеряно %d (%d%% потерь),\n"

    IDS_APPROXIMATE_RTT "Приблизительное время приема-передачи в мс:\n\
    Минимальное = %luмс, Максимальное = %luмс, Среднее = %luмс\n"

    IDS_WINSOCK_FAIL "Не удалось инициализировать WinSock: %i\n"
END
