/*
 * FILE:        base/applications/network/ping/lang/tr-TR.rc
 * PURPOSE:     Turkish translations for ReactOS Ping Command
 * TRANSLATORS: 2015, 2016 Erdem Ersoy <erdemersoy@live.com>
 */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_USAGE "\n\
Kullanım: ping [-t] [-a] [-n sayı] [-l boyut] [-f] [-i TTL] [-v TOS]\n\
            [-w süre aşımı] [-4] [-6] varış anabilgisayarı\n\
\n\
Seçenekler:\n\
    -t             Belirtilen anabilgisayar durana kadar ping yap.\n\
                   Sayımlamaları görmek ve sürdürmek için Denetim'e ve Kes'e basınız.\n\
                   Durdurmak için Denetim'e ve C'ye basınız.\n\
    -a             Anabilgisayar adları için adresleri çözümle.\n\
    -n sayı        Gönderilecek yankı istekleri sayısı.\n\
    -l boyut       Arabellek boyutunu gönder.\n\
    -f             Paketteki imi parçalamamaya ayarla (yalnızca IPv4 için).\n\
    -i TTL         Yaşama süresi.\n\
    -v TOS         Hizmet türü (Yalnızca IPv4 için. Bu ayar, kullanımdan\n\
                   kaldırılmıştır ve IP üst bilgisinde hizmet türü alanı\n\
                   üzerinde bir etkisi yoktur.\n\
    -w süre aşımı  Tüm yanıtlar için beklemeye mili sâniye olarak süre aşımı.\n\
    -4             IPv4 kullanmaya zorla.\n\
    -6             IPv6 kullanmaya zorla.\n\
\n"

    IDS_CTRL_BREAK "Denetim+Kes\n"
    IDS_CTRL_C "Denetim+C\n"
    IDS_NO_RESOURCES "Kullanılabilir yeterli boş kaynak yok.\n"
    IDS_MISSING_ADDRESS "IP adresi belirtilmelidir.\n"
    IDS_MISSING_VALUE "Değer %1 seçeneği için sağlanmalıdır.\n"
    IDS_BAD_OPTION "Geçersiz seçenek: %1.\n"
    IDS_BAD_PARAMETER "Geçersiz değişken: %1.\n"
    IDS_BAD_VALUE "%1 seçeneği için geçersiz değer, geçerli aralık %2!d!'den %3!u!'e dektir.\n"
    IDS_WRONG_FAMILY "%1 seçeneği yalnızca %2 için desteklenmektedir.\n"
    IDS_UNKNOWN_HOST "Ping %1 anabilgisayarını bulamadı. Lütfen adı gözden geçirip yeniden deneyiniz.\n"
    IDS_PINGING_ADDRESS "\nPing yapılıyor: %1 %0"
    IDS_PINGING_HOSTNAME "\nPing yapılıyor: %1 [%2] %0"
    IDS_SOURCE_ADDRESS "%1!s!'den %0"
    IDS_PING_SIZE " %1!d! bayt veriyle:\n\n"
    IDS_REPLY_FROM "%1 varışından yanıt: %0"
    IDS_REPLY_BYTES "çoklu=%1!d! %0"
    IDS_REPLY_TIME_MS "süre=%1!d!ms %0"
    IDS_REPLY_TIME_0MS "süre<1ms %0"
    IDS_REPLY_TTL "TTL=%1!d!\n"
    IDS_REPLY_STATUS "Yankı yanıtı geri döndü %1.\n"
    IDS_DEST_HOST_UNREACHABLE "Varış anabilgisayarı erişilemez.\n"
    IDS_DEST_NET_UNREACHABLE "Varış ağı erişilemez.\n"
    IDS_REQUEST_TIMED_OUT "İstek süre aşımına uğradı.\n"
    IDS_TTL_EXPIRED "Geçişte yaşama süresi bitti.\n"
    IDS_TRANSMIT_FAILED "PING: Geçiş başarısız oldu. (Yanlışlık %1!u!)\n"

    IDS_STATISTICS "\n\
%1!s! için ping sayımlamaları:\n\
    Paketler: Gönderilen = %2!d!, Alınan = %3!d!, Yitirilen %4!d! (%%%5!u! yitik),\n"

    IDS_APPROXIMATE_RTT "Mili sâniye olarak yaklaşık gidiş geliş süreleri:\n\
    En Az = %1!u!ms, En Çok = %2!u!ms, Ortalama = %3!u!ms\n"

    IDS_WINSOCK_FAIL "Failed to initialize WinSock: %1!d!\n"
END
