LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

ID_ACCEL ACCELERATORS
BEGIN
    VK_DELETE, CMD_DELETE, VIRTKEY
END

MAIN_MENU MENU
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "開く(&O)...", CMD_OPEN
        MENUITEM "名前を付けて保存(&A)...", CMD_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "終了(&X)", CMD_EXIT
    END
    POPUP "編集(&E)"
    BEGIN
        MENUITEM "削除(&D)\tDel", CMD_DELETE
    END
    POPUP "表示(&D)"
    BEGIN
        MENUITEM "自動(&A)", CMD_AUTOMATIC
    END
    POPUP "ヘルプ(&H)"
    BEGIN
        MENUITEM "ヘルプ トピック(&H)", CMD_HELP
        MENUITEM SEPARATOR
        MENUITEM "バージョン情報(&A)", CMD_ABOUT
    END
END

STRINGTABLE
BEGIN
    STRING_CLIPBOARD "クリップボード ビュア"
    STRING_CLIPFILE  "クリップボードの要素"
    STRING_DELETE_MSG "クリップボードの内容をクリアしますか?"
    STRING_DELETE_TITLE "クリップボードのクリア"
    STRING_FORMAT_NT "ReactOS 用のクリップボード ファイル (*.clp)"
    STRING_FORMAT_GEN "クリップボード ファイル (*.clp)"
END

STRINGTABLE
BEGIN
    STRING_CF_UNKNOWN "未知の形式"
    STRING_CF_TEXT "テキスト"
    STRING_CF_BITMAP "ビットマップ"
    STRING_CF_OEMTEXT "OEM テキスト"
    STRING_CF_UNICODETEXT "Unicode テキスト"
    STRING_CF_DIB "DIB ビットマップ"
    STRING_CF_LOCALE "ロケール データ"
    STRING_CF_ENHMETAFILE "拡張メタファイル"
    STRING_CF_METAFILEPICT "メタファイル"
    STRING_CF_PALETTE "カラー パレット"
    STRING_CF_DIBV5 "DIB ビットマップ (バージョン 5)"
    STRING_CF_SYLK "シンボリック リンク形式"
    STRING_CF_DIF "データ交換フォーマット"
    STRING_CF_HDROP "ドロップ データ"
END

STRINGTABLE
BEGIN
    ERROR_UNSUPPORTED_FORMAT "表示できない形式のデータがクリップボードにあります。"
    ERROR_INVALID_FILE_FORMAT "選択したファイルは有効なクリップボードファイルではありません。"
END
