/*
 * PROJECT:         ReactOS Kernel
 * LICENSE:         GPL - See COPYING in the top level directory
 * FILE:            base/applications/osk/lang/es-ES.rc
 * PURPOSE:         On screen keyboard (Spanish resources)
 * PROGRAMMERS:     Denis ROBERT
 * TRANSLATOR:      Ismael Ferreras Morezuelas <swyterzone+ros@gmail.com>
 *                  Catalin Gabriel Draghita <catalingabriel.reactos@outlook.com>
 */

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

IDR_OSK_MENU MENU
BEGIN
    POPUP "Archivo"
    BEGIN
        MENUITEM "&Cerrar", IDM_EXIT
    END

    POPUP "Teclado"
    BEGIN
        MENUITEM "Teclado Mejorado", IDM_ENHANCED_KB, CHECKED
        MENUITEM "Teclado Estándar", IDM_STANDARD_KB
        MENUITEM SEPARATOR
        MENUITEM "Diseño Regular", IDM_REG_LAYOUT, CHECKED, GRAYED
        MENUITEM "Bloquear Diseño", IDM_BLOCK_LAYOUT, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "101 teclas", IDM_101_KEYS, CHECKED, GRAYED
        MENUITEM "102 teclas", IDM_102_KEYS, GRAYED
        MENUITEM "106 teclas", IDM_106_KEYS, GRAYED
    END

    POPUP "Configuración"
    BEGIN
        MENUITEM "Siempre encima", IDM_ON_TOP, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "&Hacer sonar la Tecla", IDM_CLICK_SOUND
        MENUITEM SEPARATOR
        MENUITEM "&Modo de Escritura...", IDM_TYPE_MODE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Fuente...", IDM_FONT
    END

    POPUP "Ayuda"
    BEGIN
        MENUITEM "&Temas de Ayuda", IDM_HELP_TOPICS, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Acerca de Teclado en Pantalla...", IDM_ABOUT
    END
END

IDD_WARNINGDIALOG_OSK DIALOGEX 0, 0, 250, 97
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Teclado en Pantalla"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON "Aceptar", IDOK, 193, 76, 50, 14
    ICON IDI_OSK, IDC_STATIC, 7, 17, 20, 20
    LTEXT "Teclado en Pantalla proporciona un nivel mínimo de funcionalidad para usuarios con movibilidad limitada. Los usuarios con movibilidad limitada necesitarán un programa con mayor funcionalidad para uso diario.", IDC_STATIC, 36, 7, 207, 33
    CONTROL "No volver a mostrar este mensaje", IDC_SHOWWARNINGCHECK, "Button",
            BS_AUTOCHECKBOX | WS_TABSTOP, 43, 80, 137, 10
END

STRINGTABLE
BEGIN
    IDS_OSK "Teclado en Pantalla"
    IDS_AUTHORS "Copyright Denis Robert"
    IDS_NUMLOCK "Num"
    IDS_CAPSLOCK "Caps"
    IDS_SCROLLLOCK "Scroll"
    /* Make sure the text fits onto the buttons */
    IDS_ESCAPE "Esc"
    IDS_PRN "Prn"
    IDS_STOP "Stop"
    IDS_ATTN "Attn"
    IDS_INSERT "ins"
    IDS_NUMLOCKKEY "nlk"
    IDS_DELETE "del"
    IDS_END "end"
    IDS_CTRL "ctrl"
    IDS_LEFTALT "alt"
    IDS_RIGHTALT "alt"
END

/* EOF */
