/*
 * PROJECT:         ReactOS Kernel
 * LICENSE:         GPL - See COPYING in the top level directory
 * FILE:            base/applications/osk/lang/id-ID.rc
 * PURPOSE:         On screen keyboard (Indonesian resources).
 * TRANSLATOR:      Mas Ahmad Muhammad
 */

LANGUAGE LANG_INDONESIAN, SUBLANG_DEFAULT

IDR_OSK_MENU MENU DISCARDABLE
BEGIN
    POPUP "Be&rkas"
    BEGIN
        MENUITEM "&Keluar", IDM_EXIT
    END

    POPUP "Papan &Ketik"
    BEGIN
        MENUITEM "Papan Ketik Sempurna", IDM_ENHANCED_KB, CHECKED
        MENUITEM "Papan Ketik Standar", IDM_STANDARD_KB
        MENUITEM SEPARATOR
        MENUITEM "Tata Letak Biasa", IDM_REG_LAYOUT, CHECKED, GRAYED
        MENUITEM "Tata Letak Blok", IDM_BLOCK_LAYOUT, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "101 kunci", IDM_101_KEYS, CHECKED, GRAYED
        MENUITEM "102 kunci", IDM_102_KEYS, GRAYED
        MENUITEM "106 kunci", IDM_106_KEYS, GRAYED
    END

    POPUP "&Pengaturan"
    BEGIN
        MENUITEM "&Selalu di Atas", IDM_ON_TOP, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "&Gunakan Suara", IDM_CLICK_SOUND
        MENUITEM SEPARATOR
        MENUITEM "Mode &Mengetik...", IDM_TYPE_MODE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Fon...", IDM_FONT
    END

    POPUP "&Bantuan"
    BEGIN
        MENUITEM "Topik &Bantuan", IDM_HELP_TOPICS, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Tentang Papan Ketik Layar...", IDM_ABOUT
    END
END

IDD_WARNINGDIALOG_OSK DIALOGEX 0, 0, 250, 97
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Papan Ketik Layar"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 193, 76, 50, 14
    ICON IDI_OSK, IDC_STATIC, 7, 17, 20, 20
    LTEXT "Papan Ketik Layar menyediakan fungsionalitas minimum bagi pengguna yang mengalami keterbatasan gerak. Keterbatasan gerak pengguna tentu membutuhkan program utilitas dengan fungsionalitas tinggi untuk penggunaan sehari-hari.", IDC_STATIC, 36, 7, 207, 33
    CONTROL "Jangan tampilkan pesan ini lagi", IDC_SHOWWARNINGCHECK, "Button",
            BS_AUTOCHECKBOX | WS_TABSTOP, 43, 80, 137, 10
END

STRINGTABLE
BEGIN
    IDS_OSK "Papan Ketik Layar"
    IDS_AUTHORS "Hak Cipta Denis Robert"
    IDS_NUMLOCK "Num"
    IDS_CAPSLOCK "Caps"
    IDS_SCROLLLOCK "Scroll"
    /* Make sure the text fits onto the buttons */
    IDS_ESCAPE "Esc"
    IDS_PRN "Prn"
    IDS_STOP "Stop"
    IDS_ATTN "Attn"
    IDS_INSERT "ins"
    IDS_NUMLOCKKEY "nlk"
    IDS_DELETE "del"
    IDS_END "end"
    IDS_CTRL "ctrl"
    IDS_LEFTALT "alt"
    IDS_RIGHTALT "alt"
END

/* EOF */
