/*
 * PROJECT:     ReactOS Virtual Keyboard - OSK
 * LICENSE:     GPL - See COPYING in the top level directory
 * PURPOSE:     Virtual Keyboard On screen (Italian resources)
 * COPYRIGHT:   Copyright Denis ROBERT
 *              Copyright 2018 George Bișoc (george.bisoc@reactos.org)
 */

LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL

IDR_OSK_MENU MENU DISCARDABLE
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "&Esci", IDM_EXIT
    END

    POPUP "Tastiera"
    BEGIN
        MENUITEM "Tastiera Estesa", IDM_ENHANCED_KB, CHECKED
        MENUITEM "Tastiera Standard", IDM_STANDARD_KB
        MENUITEM SEPARATOR
        MENUITEM "Mappatura Regolare", IDM_REG_LAYOUT, CHECKED, GRAYED
        MENUITEM "Mappatura a blocchi", IDM_BLOCK_LAYOUT, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "101 tasti", IDM_101_KEYS, CHECKED, GRAYED
        MENUITEM "102 tasti", IDM_102_KEYS, GRAYED
        MENUITEM "106 tasti", IDM_106_KEYS, GRAYED
    END

    POPUP "Impostazioni"
    BEGIN
        MENUITEM "Sempre in primo piano", IDM_ON_TOP, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "&Usa suono al click", IDM_CLICK_SOUND
        MENUITEM SEPARATOR
        MENUITEM "&Modalità di scrittura...", IDM_TYPE_MODE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Tipo di carattere...", IDM_FONT
    END

    POPUP "Aiuto"
    BEGIN
        MENUITEM "&Guida in linea", IDM_HELP_TOPICS, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Informazioni sulla tastiera a schermo...", IDM_ABOUT
    END
END

IDD_WARNINGDIALOG_OSK DIALOGEX 0, 0, 250, 97
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "Tastiera a schermo"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 193, 76, 50, 14
    ICON IDI_OSK, IDC_STATIC, 7, 17, 20, 20
    LTEXT "La tastiera virtuale fornisce un livello minimo di funzionalità per gli utenti con mobilità ridotta. Gli utenti con mobilità ridotta hanno bisogno di un programma con maggiori funzionalità per un uso giornaliero.", IDC_STATIC, 36, 7, 207, 33
    CONTROL "Non visualizzare più questo messaggio", IDC_SHOWWARNINGCHECK, "Button",
            BS_AUTOCHECKBOX | WS_TABSTOP, 43, 80, 137, 10
END

STRINGTABLE
BEGIN
    IDS_OSK "Tastiera a schermo"
    IDS_AUTHORS "Diritti d'autore Denis Robert"
    IDS_NUMLOCK "Num"
    IDS_CAPSLOCK "Caps"
    IDS_SCROLLLOCK "Scroll"
    /* Make sure the text fits onto the buttons */
    IDS_ESCAPE "Esc"
    IDS_PRN "Prn"
    IDS_STOP "Stop"
    IDS_ATTN "Attn"
    IDS_INSERT "ins"
    IDS_NUMLOCKKEY "nlk"
    IDS_DELETE "del"
    IDS_END "end"
    IDS_CTRL "ctrl"
    IDS_LEFTALT "alt"
    IDS_RIGHTALT "alt"
END

/* EOF */
