LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_INCORRECT_PARAMETER_COUNT "Nombre incorrect de paramètres - %s\n"
    IDS_INVALID_PARAMETER "Nombre incorrect de paramètres - %s\n"
    IDS_INVALID_PARAMETER2 "Paramètre incorrect - %s\n"
    IDS_PATH_NOT_FOUND "Chemin d'accès introuvable - %s\n"
    IDS_ACCESS_DENIED "Accès refusé - %s\n"
    IDS_DRIVE_ALREADY_SUBSTED "Disque déjà substitué\n"
    IDS_FAILED_WITH_ERRORCODE "Échoue avec le code d'erreur 0x%x : %s\n"
    IDS_USAGE "Associe un chemin avec une lettre de lecteur.\n\n\
SUBST [disque1: [disque2:]chemin]\n\
SUBST disque1: /D\n\n\
  disque1:          Lecteur virtuel auquel vous voulez affecter un chemin.\n\
  [disque2:]chemin  Disque physique/chemin attribués à un disque virtuel.\n\
  /D                Supprime un disque (virtuel) substitué.\n\n\
Tapez SUBST sans paramètre pour afficher la liste des lecteurs virtuels.\n"
END
