#include "resource.h"

LANGUAGE LANG_THAI, SUBLANG_DEFAULT
STRINGTABLE DISCARDABLE
{

STRING_WelcomeMsg,      "รองรับการทำงานระบบดอสเสมือนของ ReactOS\n"
STRING_PromptMsg,       "แบบ r<cr> เพื่อทำงาน, s<cr> เพื่อปิดระบบหรือ q<cr> เพื่อออกทันที"
}
