LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

IDD_KEYBSPEED DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Rychlost"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Opakování znakù", -1, 5, 5, 230, 130
  ICON -1, IDC_ICON_REPEAT_DELAY, 15, 15, 15, 15
  LTEXT "&Prodleva pøed opakováním", -1, 40, 15, 150, 10
  LTEXT "Dlouhá", -1, 40, 30, 25, 10
  LTEXT "Krátká", -1, 200, 30, 25, 10
  CONTROL "",IDC_SLIDER_REPEAT_DELAY, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 65, 30, 130, 17
  ICON -1, IDC_ICON_REPEAT_RATE, 15, 70, 15, 15
  LTEXT "&Rychlost opakování", -1, 40, 70, 120, 10
  LTEXT "Malá", -1, 40, 85, 25, 10
  LTEXT "Velká", -1, 200, 85, 25, 10
  CONTROL "",IDC_SLIDER_REPEAT_RATE, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 65, 85, 130, 17
  LTEXT "Zde mùžete vyzkoušet rychlost opakování:", -1, 15, 105, 150, 10
  EDITTEXT IDC_EDIT_REPEAT_RATE, 15, 115, 200, 15, WS_CHILD | WS_VISIBLE | WS_GROUP
  GROUPBOX "Rychlost &blikání kurzoru:", -1, 5, 145, 230, 50
  LTEXT "", IDC_TEXT_CURSOR_BLINK, 20, 165, 1, 8
  LTEXT "Žádná", -1, 40, 165, 30, 10
  LTEXT "Velká", -1, 200, 165, 30, 10
  CONTROL "",IDC_SLIDER_CURSOR_BLINK, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 65, 165, 130, 17
END

IDD_HARDWARE DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Hardware"
FONT 8, "MS Shell Dlg"
BEGIN
END

IDD_CLICK_LOCK DIALOGEX 0, 0, 246, 100
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CAPTION | WS_SYSMENU
CAPTION "Nastavení funkce ClickLock"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Krátká", -1, 35,  50, 30, 10
  LTEXT "Dlouhá", -1, 140, 50, 30, 10
  CONTROL "",IDC_SLIDER_CLICK_LOCK, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 65, 50, 70, 17
  PUSHBUTTON "Ok", IDOK, 120, 75, 50, 15
  PUSHBUTTON "Storno", IDCANCEL, 175, 75, 50, 15
  LTEXT "&Nastavte dobu, po kterou musíte držet tlaèítko myši stisknuté, než se funkce ClickLock aktivuje.",-1,60,15,170,30
  ICON -1, IDC_ICON_CLICK_LOCK, 15, 15, 15, 15
END

IDD_PAGE_BUTTON DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Tlaèítka"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Nastavení tlaèítek", -1, 5, 5, 230, 70
  CHECKBOX "Z&amìnit levé a pravé tlaèítko", IDC_SWAP_MOUSE_BUTTONS, 10, 15, 140, 10
  CONTROL "", IDC_IMAGE_SWAP_MOUSE, "Static", SS_ICON | SS_CENTERIMAGE | WS_VISIBLE, 165, 15, 65, 57, WS_EX_STATICEDGE
  LTEXT "Zaškrtnutím toto políèka nastavíte pravé tlaèítko jako primární pro funkce jako výbìr nebo pøetažení.", -1, 10, 30, 150, 30
  GROUPBOX "Rychlost poklepání", -1, 5, 75, 230, 70
  LTEXT "Poklepejte na složku pro otestování nastavení. Pokud se složka neotevøe, zkuste nižší rychlost.", -1, 10, 85, 150, 30
  LTEXT "&Rychlost:   Malá", -1, 10, 120, 90, 8
  LTEXT "Velká", -1, 140, 120, 30, 8
  CONTROL "",IDC_SLIDER_DOUBLE_CLICK_SPEED, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 60, 120, 70, 17
  CONTROL "", IDC_IMAGE_DOUBLE_CLICK_SPEED, "Static", SS_ICON | SS_NOTIFY | SS_CENTERIMAGE | WS_VISIBLE, 165, 85, 65, 57, WS_EX_STATICEDGE
  GROUPBOX "Funkce ClickLock", -1, 5, 150, 230, 70
  CHECKBOX "&Zapnout funkci ClickLock", IDC_CHECK_CLICK_LOCK, 10, 160, 100, 20
  PUSHBUTTON "&Nastavení...", IDC_BUTTON_CLICK_LOCK, 170, 160, 50, 10
  LTEXT "Funkce ClickLock Vám umožní oznaèení nebo pøetažení bez držení tlaèítka myši. Krátkým stisknutím tlaèítka funkci zapnete, další stisknutí funkci vypne.", -1, 10, 180, 190, 30
END

IDD_PAGE_POINTER DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Ukazatele"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Sc&héma", -1, 5, 5, 170, 45
  COMBOBOX IDC_COMBO_CURSOR_SCHEME, 10, 15, 145, 200, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
  PUSHBUTTON "&Uložit jako...", IDC_BUTTON_SAVEAS_SCHEME, 70, 30, 50, 15
  PUSHBUTTON "&Odstranit", IDC_BUTTON_DELETE_SCHEME, 125, 30, 40, 15
  CONTROL "", IDC_IMAGE_CURRENT_CURSOR, "Static", SS_ICON | SS_CENTERIMAGE | WS_VISIBLE, 190, 9, 45, 41, WS_EX_STATICEDGE
  LTEXT "Vl&astní", -1, 5, 60, 40, 10
  LISTBOX IDC_LISTBOX_CURSOR, 5, 70, 230, 120, WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_VSCROLL | LBS_OWNERDRAWFIXED | LBS_NOTIFY
  CHECKBOX "&Zobrazit stín pod ukazatelem", IDC_CHECK_DROP_SHADOW, 5, 200, 110, 10
  PUSHBUTTON "Použít &výchozí", IDC_BUTTON_USE_DEFAULT_CURSOR, 120, 200, 50, 15
  PUSHBUTTON "&Procházet", IDC_BUTTON_BROWSE_CURSOR, 175, 200, 50, 15
END

IDD_CURSOR_SCHEME_SAVEAS DIALOGEX 0, 0, 200, 75
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CAPTION | WS_SYSMENU
CAPTION "Uložit Schéma"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Uložit toto schéma jako:", -1, 5, 5, 100, 10
  EDITTEXT IDC_EDIT_SCHEME_NAME, 5, 15, 180, 15, WS_CHILD | WS_VISIBLE | WS_GROUP
  PUSHBUTTON "Ok", IDOK, 60, 45, 50, 15
  PUSHBUTTON "Storno", IDCANCEL, 115, 45, 50, 15
END


IDD_PAGE_OPTION DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Možnosti ukazatele"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Pohyb", -1, 5, 5, 230, 60
  LTEXT "&Vyberte rychlost ukazatele:", -1, 60, 15, 110, 10
  LTEXT "Malá", -1, 60, 30, 20, 10
  CONTROL "",IDC_SLIDER_MOUSE_SPEED, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 90, 30, 70, 17
  LTEXT "Velká", -1, 170, 30, 20, 10
  ICON -1, IDC_ICON_MOUSE_SPEED, 15, 15, 15, 15
  CHECKBOX "&Zvýšit pøesnost ukazatele.", IDC_CHECK_POINTER_PRECISION, 60, 50, 100, 10
  GROUPBOX "Pøichytit", -1, 5, 65, 230, 40
  CHECKBOX "&Automaticky pøesunout ukazatel nad výchozí tlaèítko.",
           IDC_CHECK_SNAP_TO, 60, 75, 170, 20, BS_MULTILINE | BS_TOP
  ICON -1, IDC_ICON_SNAP_TO, 15, 75, 15, 15
  GROUPBOX "Viditelnost", -1, 5, 105, 230, 95
  CHECKBOX "&Zobrazit stopu ukazatele.", IDC_CHECK_POINTER_TRAIL, 60, 115, 150, 10
  LTEXT "Krátká", IDC_TEXT_TRAIL_SHORT, 60, 130, 30, 10
  LTEXT "Dlouhá", IDC_TEXT_TRAIL_LONG, 160, 130, 30, 10
  ICON -1, IDC_ICON_POINTER_TRAIL, 15, 115, 15, 15
  CONTROL "", IDC_SLIDER_POINTER_TRAIL ,"msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 80, 130, 70, 17
  CHECKBOX "&Skrýt ukazatel, pokud píšete.", IDC_CHECK_HIDE_POINTER, 60, 150, 150, 10
  ICON -1, IDC_ICON_HIDE_POINTER, 15, 145, 15, 15
  CHECKBOX "&Ukázat pozici ukazatele pøi stisknutí klávesy Ctrl.",
           IDC_CHECK_SHOW_POINTER, 60, 175, 170, 20, BS_MULTILINE | BS_TOP
  ICON -1, IDC_ICON_SHOW_POINTER, 15, 170, 15, 15
END

IDD_PAGE_WHEEL DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Koleèko"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Posouvání", -1, 5, 5, 230, 80
  ICON -1, IDC_ICON_WHEEL, 20, 35, 15, 15
  LTEXT "Otoèení koleèka o jeden krok posune o:", -1, 60, 15, 150, 10
  RADIOBUTTON "&tento poèet øádkù", IDC_RADIO_WHEEL_SCROLL_LINES, 60, 30, 150, 10, WS_VISIBLE | WS_GROUP | WS_TABSTOP
  RADIOBUTTON "&celou obrazovku", IDC_RADIO_WHEEL_SCROLL_PAGE, 60, 65, 90, 10
  EDITTEXT IDC_EDIT_WHEEL_SCROLL_LINES, 70, 45, 60, 15, ES_RIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
  CONTROL "", IDC_UPDOWN_WHEEL_SCROLL_LINES, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_BORDER, 125, 45, 12, 12
END

STRINGTABLE
BEGIN
  IDS_CPLNAME_1 "Myš"
  IDS_CPLDESCRIPTION_1 "Zmìní nastavení myši."
  IDS_CPLNAME_2 "Klávesnice"
  IDS_CPLDESCRIPTION_2 "Zmìní nastavení klávesnice."
  IDS_ARROW "Normální výbìr"
  IDS_HELP "Výbìr nápovìdy"
  IDS_APPSTARTING "Práce v pozadí"
  IDS_WAIT "Zaneprázdnìn"
  IDS_CROSSHAIR "Pøesný výbìr"
  IDS_IBEAM "Výbìr textu"
  IDS_NWPEN "Psaní rukou"
  IDS_NO "Není k dispozici"
  IDS_SIZENS "Zmìna výšky"
  IDS_SIZEWE "Horizontal Resize"
  IDS_SIZENWSE "Diagonální zmìna velikosti 1"
  IDS_SIZENESW "Diagonální zmìna velikosti 2"
  IDS_SIZEALL "Pøesunout"
  IDS_UPARROW "Alternativní výbìr"
  IDS_HAND "Výbìr odkazu"
  IDS_NONE "(Není)"
  IDS_SYSTEM_SCHEME "(systémové schéma)"
  IDS_BROWSE_FILTER "Cursors (*.ani, *.cur)\0*.ani;*.cur\0Animated Cursors (*.ani)\0*.ani\0Static Cursors (*.cur)\0*.cur\0All Files\0*.*\0\0"
  IDS_BROWSE_TITLE "Browse"
  IDS_REMOVE_TITLE "Confirm Scheme Removal"
  IDS_REMOVE_TEXT "Are you sure you want to remove the cursor scheme '%s'?"
  IDS_OVERWRITE_TITLE "Confirm Cursor Scheme Overwrite"
  IDS_OVERWRITE_TEXT "The cursor scheme name you chose is already in use. Do you want to overwrite the existing cursor scheme?"
END
