LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

IDD_KEYBSPEED DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Velocidad"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Repetición de caracteres", -1, 5, 5, 230, 130
  ICON -1, IDC_ICON_REPEAT_DELAY, 15, 15, 15, 15
  LTEXT "Retra&so de la repetición", -1, 40, 15, 50, 10
  LTEXT "Largo", -1, 40, 30, 20, 10
  LTEXT "Corto", -1, 200, 30, 20, 10
  CONTROL "",IDC_SLIDER_REPEAT_DELAY, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 65, 30, 130, 17
  ICON -1, IDC_ICON_REPEAT_RATE, 15, 70, 15, 15
  LTEXT "Velocidad de &repetición", -1, 40, 70, 50, 10
  LTEXT "Lenta", -1, 40, 85, 20, 10
  LTEXT "Rápida", -1, 200, 85, 20, 10
  CONTROL "",IDC_SLIDER_REPEAT_RATE, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 65, 85, 130, 17
  LTEXT "&Haga clic aquí y mantenga presionada una tecla para probar la velocidad de repetición:", -1, 15, 105, 150, 10
  EDITTEXT IDC_EDIT_REPEAT_RATE, 15, 115, 200, 15, WS_CHILD | WS_VISIBLE | WS_GROUP
  GROUPBOX "&Velocidad de intermitencia del cursor:", -1, 5, 145, 230, 50
  LTEXT "", IDC_TEXT_CURSOR_BLINK, 20, 165, 1, 8
  LTEXT "Ninguna", -1, 40, 165, 30, 10
  LTEXT "Rápida", -1, 200, 165, 30, 10
  CONTROL "",IDC_SLIDER_CURSOR_BLINK, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 65, 165, 130, 17
END

IDD_HARDWARE DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Hardware"
FONT 8, "MS Shell Dlg"
BEGIN
END

IDD_CLICK_LOCK DIALOGEX 0, 0, 246, 100
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CAPTION | WS_SYSMENU
CAPTION "Configuración de Bloqueo de clic"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Corto", -1, 35,  50, 30, 10
  LTEXT "Largo", -1, 140, 50, 30, 10
  CONTROL "",IDC_SLIDER_CLICK_LOCK, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 65, 50, 70, 17
  PUSHBUTTON "&Aceptar", IDOK, 120, 75, 50, 15
  PUSHBUTTON "&Cancelar", IDCANCEL, 175, 75, 50, 15
  LTEXT "&Ajustar el tiempo que debe mantenerse presionado un botón del ratón o de la bola de seguimiento antes de que el clic se bloquee.",-1,60,15,170,30
  ICON -1, IDC_ICON_CLICK_LOCK, 15, 15, 15, 15
END

IDD_PAGE_BUTTON DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Botones"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Configuración de botones", -1, 5, 5, 230, 70
  CHECKBOX "&Intercambiar botones primario y secundario", IDC_SWAP_MOUSE_BUTTONS, 10, 15, 140, 10
  CONTROL "", IDC_IMAGE_SWAP_MOUSE, "Static", SS_ICON | SS_CENTERIMAGE | WS_VISIBLE, 165, 15, 65, 57, WS_EX_STATICEDGE
  LTEXT "Activar esta casilla de verificación para asignar al botón de la derecha del ratón las funciones principales, tales como seleccionar y arrastrar", -1, 10, 30, 150, 30
  GROUPBOX "Velocidad de doble clic", -1, 5, 75, 230, 70
  LTEXT "Double-click the folder to test your settings. If the folder does not open or close, try using a slower setting.", -1, 10, 85, 150, 30
  LTEXT "&Velocidad:   Lenta", -1, 10, 120, 90, 8
  LTEXT "Rápida", -1, 140, 120, 30, 8
  CONTROL "",IDC_SLIDER_DOUBLE_CLICK_SPEED, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 60, 120, 70, 17
  CONTROL "", IDC_IMAGE_DOUBLE_CLICK_SPEED, "Static", SS_ICON | SS_NOTIFY | SS_CENTERIMAGE | WS_VISIBLE, 165, 85, 65, 57, WS_EX_STATICEDGE
  GROUPBOX "Bloqueo de clic", -1, 5, 150, 230, 70
  CHECKBOX "Ac&tivar bloqueo de clic", IDC_CHECK_CLICK_LOCK, 10, 160, 70, 20
  PUSHBUTTON "C&onfiguración...", IDC_BUTTON_CLICK_LOCK, 170, 160, 50, 10
  LTEXT "Le permite resaltar o arrastrar sin tener que mantener apretado el botón del ratón. Para activarlo, presione brevemente el botón del mouse. Para soltarlo, vuelva a hacer clic en el botón del ratón", -1, 10, 180, 190, 30
END

IDD_PAGE_POINTER DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Punteros"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Esquema", -1, 5, 5, 170, 45
  COMBOBOX IDC_COMBO_CURSOR_SCHEME, 10, 15, 145, 200, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
  PUSHBUTTON "&Guardar como...", IDC_BUTTON_SAVEAS_SCHEME, 70, 30, 50, 15
  PUSHBUTTON "&Eliminar", IDC_BUTTON_DELETE_SCHEME, 125, 30, 40, 15
  CONTROL "", IDC_IMAGE_CURRENT_CURSOR, "Static", SS_ICON | SS_CENTERIMAGE | WS_VISIBLE, 190, 9, 45, 41, WS_EX_STATICEDGE
  LTEXT "Personali&zar", -1, 5, 60, 40, 10
  LISTBOX IDC_LISTBOX_CURSOR, 5, 70, 230, 120, WS_VISIBLE | WS_BORDER | WS_TABSTOP | WS_VSCROLL | LBS_OWNERDRAWFIXED | LBS_NOTIFY
  CHECKBOX "&Habilitar sombra del puntero", IDC_CHECK_DROP_SHADOW, 5, 200, 100, 10
  PUSHBUTTON "&Predeterminada", IDC_BUTTON_USE_DEFAULT_CURSOR, 120, 200, 50, 15
  PUSHBUTTON "E&xaminar", IDC_BUTTON_BROWSE_CURSOR, 175, 200, 50, 15
END

IDD_CURSOR_SCHEME_SAVEAS DIALOGEX 0, 0, 200, 75
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CAPTION | WS_SYSMENU
CAPTION "Guardar combinación"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Guardar esta combinación de cursores como:", -1, 5, 5, 100, 10
  EDITTEXT IDC_EDIT_SCHEME_NAME, 5, 15, 180, 15, WS_CHILD | WS_VISIBLE | WS_GROUP
  PUSHBUTTON "&Aceptar", IDOK, 60, 45, 50, 15
  PUSHBUTTON "&Cancelar", IDCANCEL, 115, 45, 50, 15
END


IDD_PAGE_OPTION DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Opciones de puntero"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Movimiento", -1, 5, 5, 230, 60
  LTEXT "S&eleccionar la velocidad del puntero:", -1, 60, 15, 110, 10
  LTEXT "Lenta", -1, 60, 30, 20, 10
  CONTROL "",IDC_SLIDER_MOUSE_SPEED, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 90, 30, 70, 17
  LTEXT "Rápida", -1, 170, 30, 20, 10
  ICON -1, IDC_ICON_MOUSE_SPEED, 15, 15, 15, 15
  CHECKBOX "&Habilitar precisión del puntero", IDC_CHECK_POINTER_PRECISION, 60, 50, 100, 10
  GROUPBOX "Ajustar a", -1, 5, 65, 230, 40
  CHECKBOX "Mover A&utomaticamente el puntero al botón predeterminado en un cuadro de diálogo",
           IDC_CHECK_SNAP_TO, 60, 75, 170, 20, BS_MULTILINE | BS_TOP
  ICON -1, IDC_ICON_SNAP_TO, 15, 75, 15, 15
  GROUPBOX "Visibilidad", -1, 5, 105, 230, 95
  CHECKBOX "&Mostrar rastro del puntero del ratón", IDC_CHECK_POINTER_TRAIL, 60, 115, 80, 10
  LTEXT "Corto", IDC_TEXT_TRAIL_SHORT, 60, 130, 30, 10
  LTEXT "Largo", IDC_TEXT_TRAIL_LONG, 160, 130, 30, 10
  ICON -1, IDC_ICON_POINTER_TRAIL, 15, 115, 15, 15
  CONTROL "", IDC_SLIDER_POINTER_TRAIL ,"msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 80, 130, 70, 17
  CHECKBOX "&Ocultar puntero mientras se escribe", IDC_CHECK_HIDE_POINTER, 60, 150, 90, 10
  ICON -1, IDC_ICON_HIDE_POINTER, 15, 145, 15, 15
  CHECKBOX "Mo&strar ubicación del puntero al presionar la tecla CTRL",
           IDC_CHECK_SHOW_POINTER, 60, 175, 170, 20, BS_MULTILINE | BS_TOP
  ICON -1, IDC_ICON_SHOW_POINTER, 15, 170, 15, 15
END

IDD_PAGE_WHEEL DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Rueda"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Desplazamiento", -1, 5, 5, 230, 80
  ICON -1, IDC_ICON_WHEEL, 20, 35, 15, 15
  LTEXT "Girar la rueda una posición para desplazar", -1, 60, 15, 150, 10
  RADIOBUTTON "&El siguiente número de líneas a la vez", IDC_RADIO_WHEEL_SCROLL_LINES, 60, 30, 150, 10, WS_VISIBLE | WS_GROUP | WS_TABSTOP
  RADIOBUTTON "&Una pantalla a la vez", IDC_RADIO_WHEEL_SCROLL_PAGE, 60, 65, 90, 10
  EDITTEXT IDC_EDIT_WHEEL_SCROLL_LINES, 70, 45, 60, 15, ES_RIGHT | WS_VISIBLE | WS_GROUP | WS_TABSTOP
  CONTROL "", IDC_UPDOWN_WHEEL_SCROLL_LINES, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_BORDER, 125, 45, 12, 12
END


STRINGTABLE
BEGIN
  IDS_CPLNAME_1 "Ratón"
  IDS_CPLDESCRIPTION_1 "Ajusta las propiedades del ratón."
  IDS_CPLNAME_2 "Teclado"
  IDS_CPLDESCRIPTION_2 "Ajusta las propiedades del teclado."
  IDS_ARROW "Selección normal"
  IDS_HELP "Selección de Ayuda"
  IDS_APPSTARTING "Trabajando en segundo plano"
  IDS_WAIT "Ocupado"
  IDS_CROSSHAIR "Selección de precisión"
  IDS_IBEAM "Selección de texto"
  IDS_NWPEN "Escritura manual"
  IDS_NO "No disponible"
  IDS_SIZENS "Ajuste vertical"
  IDS_SIZEWE "Ajuste horizontal"
  IDS_SIZENWSE "Ajuste Diagonal 1"
  IDS_SIZENESW "Ajuste Diagonal 2"
  IDS_SIZEALL "Mover"
  IDS_UPARROW "Selección alternativa"
  IDS_HAND "Selección de vínculo"
  IDS_NONE "(Ninguno)"
  IDS_SYSTEM_SCHEME "(esquema de sistema)"
  IDS_BROWSE_FILTER "Cursores (*.ani, *.cur)\0*.ani;*.cur\0Cursores Animados (*.ani)\0*.ani\0Cursores Estáticos(*.cur)\0*.cur\0Todos los archivos\0*.*\0\0"
  IDS_BROWSE_TITLE "Examinar"
  IDS_REMOVE_TITLE "Confirmar la eliminación de la combinación"
  IDS_REMOVE_TEXT "¿Desea quitar completamente la combinación '%s' del sistema?"
  IDS_OVERWRITE_TITLE "¿Desea reemplazar el esquema?"
  IDS_OVERWRITE_TEXT "El nombre del esquema de cursores que seleccionó ya está en uso. ¿Desea reemplazar el esquema original?"
END
