/*
 * PROJECT:     ReactOS Registry Command Line Utils
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Romanian resource file
 * TRANSLATORS: Copyright 2011 Claudia Cotună
 *              Copyright 2011-2015 Michael Stefaniuc
 *              Copyright 2011-2016 Ștefan Fulea <stefan.fulea@mail.com>
 *              Copyright 2023 Andrei Miloiu <miloiuandrei@gmail.com>
 */

LANGUAGE LANG_ROMANIAN, SUBLANG_NEUTRAL

STRINGTABLE
{
    STRING_USAGE, "Utilizare:\n\
  REG [operațiune] [parametri]\n\n\
Operațiuni suportate:\n\
  ADD | COPY | DELETE | EXPORT | IMPORT | QUERY\n\n\
Pentru ajutor la o operațiune specifică, tastați:\n\
  REG [operațiune] /?\n\n"

    STRING_ADD_USAGE, "REG ADD <cheie> [/v numele_valorii | /ve] [/t tip] [/s separator] [/d date] [/f]\n\n\
  Adaugă o cheie la registru sau adaugă o valoare nouă la o cheie dată a registrului.\n\n\
  <cheie>\n\
     Cheia registrului de adăugat sau dacă e specificat fie [/v], fie [/ve],\n\
     cheia în care urmează să fie adăugate noile date de registru.\n\n\
     Format: ROOT\\Subcheie\n\n\
     ROOT: O cheie de registru predefinită. Aceasta trebuie să fie una dintre următoarele:\n\n\
         HKEY_LOCAL_MACHINE  | HKLM\n\
         HKEY_CURRENT_USER   | HKCU\n\
         HKEY_CLASSES_ROOT   | HKCR\n\
         HKEY_USERS          | HKU\n\
         HKEY_CURRENT_CONFIG | HKCC\n\n\
     Subcheie: Calea completă către o cheie de registru sub o anumită cheie dată ROOT.\n\n\
  /v <numele_valorii>\n\
     Numele valorii registrului de adăugat.\n\n\
  /ve\n\
     Adaugă o valoare de registru fără nume. Această opțiune modifică valoarea\n\
     (implicită) a registrului.\n\n\
  /t <tip>\n\
     Tipul de date ce urmează să fie adăugate în registru. Dacă [/t] e specificat,\n\
     <tip> trebuie să fie una din următoarele:\n\n\
         REG_SZ    | REG_MULTI_SZ | REG_EXPAND_SZ\n\
         REG_DWORD | REG_BINARY   | REG_NONE\n\n\
     Dacă [/t] nu e specificat, tipul implicit de date este REG_SZ.\n\n\
  /s <separator>\n\
     Caracterul folosit ca să separe șiruri în datele REG_MULTI_SZ.\n\
     If [/s] is not specified, the default separator is \\0.\n\n\
  /d <data>\n\
     The data to add to the new registry value.\n\n\
  /f\n\
     Modify the registry without prompting for confirmation.\n\n"

    STRING_DELETE_USAGE, "REG DELETE <key> [/v value_name | /ve | /va] [/f]\n\n\
  Deletes a registry key (including all subkeys and values), or deletes\n\
  one or more values from a given registry key.\n\n\
  <key>\n\
     The registry key to delete or, if one of [/v], [/ve] or [/va] is\n\
     specified, the registry key in which to delete one or more values.\n\n\
     Format: ROOT\\Subkey\n\n\
     ROOT: A predefined registry key. This must be one of the following:\n\n\
         HKEY_LOCAL_MACHINE  | HKLM\n\
         HKEY_CURRENT_USER   | HKCU\n\
         HKEY_CLASSES_ROOT   | HKCR\n\
         HKEY_USERS          | HKU\n\
         HKEY_CURRENT_CONFIG | HKCC\n\n\
     Subkey: The full path to a registry key under a given ROOT key.\n\n\
  /v <value_name>\n\
     The name of the registry value to delete.\n\n\
  /ve\n\
     Delete an unnamed registry value. This option deletes the (Default)\n\
     registry value.\n\n\
  /va\n\
     Delete all values from a registry key.\n\n\
  /f\n\
     Delete a registry key (including all subkeys and values) without\n\
     prompting for confirmation.\n\n"

    STRING_QUERY_USAGE, "REG QUERY <key> [/v value_name | /ve] [/s]\n\n\
  Queries a specified registry key and lists all immediate subkeys, values\n\
  and data within that key. Use [/s] to recursively query each subkey.\n\n\
  <key>\n\
     The registry key to query.\n\n\
     Format: ROOT\\Subkey\n\n\
     ROOT: A predefined registry key. This must be one of the following:\n\n\
         HKEY_LOCAL_MACHINE  | HKLM\n\
         HKEY_CURRENT_USER   | HKCU\n\
         HKEY_CLASSES_ROOT   | HKCR\n\
         HKEY_USERS          | HKU\n\
         HKEY_CURRENT_CONFIG | HKCC\n\n\
     Subkey: The full path to a registry key under a given ROOT key.\n\n\
  /v <value_name>\n\
     The name of the registry value to query. If neither [/v] nor [/ve] is\n\
     specified, all values under <key> are listed.\n\n\
 /ve\n\
     Query an unnamed registry value. This option queries the (Default)\n\
     registry value.\n\n\
  /s\n\
     List all registry entries under <key> and its subkeys.\n\n"

    STRING_SUCCESS, "Operațiunea a fost îndeplinită cu succes\n"
    STRING_INVALID_KEY, "Eroare: Nume de cheie nevalid\n"
    STRING_INVALID_CMDLINE, "Eroare: Parametri nevalizi pentru linia de comandă\n"
    STRING_NO_REMOTE, "Eroare: Nu pot fi adăugate chei într-un calculator la distanță\n"
    STRING_VALUE_NONEXIST, "Eroare: Sistemul nu a putut găsi cheia sau valoarea de registru specificată\n"
    STRING_UNSUPPORTED_TYPE, "Eroare: Tip nerecunoscut\n"
    STRING_MISSING_NUMBER, "reg: The option [/d] must be followed by a valid numeric value\n"
    STRING_MISSING_HEXDATA, "reg: Opțiunea [/d] trebuie să fie urmată de o valoare hexezecimală\n"
    STRING_UNHANDLED_TYPE, "reg: Tip de dată nerecunoscut [/t 0x%1!x!, /d %2]\n"
    STRING_OVERWRITE_VALUE, "Valoarea de registru «%1» deja există. Doriți s-o suprascrieți?"
    STRING_YES, "Y"
    STRING_NO, "N"
    STRING_ALL, "A"
    STRING_YESNO, " (Yes|No)"
    STRING_YESNOALL, " (Yes|No|All)"
    STRING_CANCELLED, "Operațiunea de registru a fost anulată\n"
    STRING_DEFAULT_VALUE, "(Implicită)"
    STRING_DELETE_VALUE, "Sigur doriți ștergerea valorii de registru «%1»?"
    STRING_DELETE_VALUEALL, "Sigur doriți ștergerea tuturor valorilor de registru din «%1»?"
    STRING_DELETE_SUBKEY, "Sigur doriți ștergerea cheii de registru «%1»?"
    STRING_INVALID_STRING, "reg: Opțiunea [/d] trebuie urmată de un șir valid\n"
    STRING_VALUEALL_FAILED, "reg: Nu au putut fi șterse toate valorile de registru din «%1». A apărut o eroare neașteptată.\n"
    STRING_MATCHES_FOUND, "Căutare efectuată. Numărul de potriviri găsite: %1!d!\n"
    STRING_INVALID_SYNTAX, "reg: Sintaxă nerespectată. "
    STRING_INVALID_OPTION, "reg: Opțiune nevalidă [%1]. "
    STRING_REG_HELP, "Tastați «REG /?» pentru mai multe informații.\n"
    STRING_FUNC_HELP, "Tastați «REG %1 /?» pentru mai multe informații.\n"
    STRING_VALUE_NOT_SET, "(valoare nealocată)"

    STRING_IMPORT_USAGE, "REG IMPORT <file>\n\n\
  Imports keys, values and data from a given file into the registry.\n\n\
  <file>\n\
     The name and path of the registry file to import.\n\n"

    STRING_FILE_NOT_FOUND, "reg: Fișierul «%1» nu a putut fi găsit.\n"
    STRING_ESCAPE_SEQUENCE, "reg: Secvența de sustracție [\\%1!c!] nu este recunoscută.\n"

    STRING_EXPORT_USAGE, "REG EXPORT <key> <file> [/y]\n\n\
  Exports a specified registry key (including all subkeys and values)\n\
  to a file.\n\n\
  <key>\n\
     The registry key to export.\n\n\
     Format: ROOT\\Subkey\n\n\
     ROOT: A predefined registry key. This must be one of the following:\n\n\
         HKEY_LOCAL_MACHINE  | HKLM\n\
         HKEY_CURRENT_USER   | HKCU\n\
         HKEY_CLASSES_ROOT   | HKCR\n\
         HKEY_USERS          | HKU\n\
         HKEY_CURRENT_CONFIG | HKCC\n\n\
     Subkey: The full path to a registry key under a given ROOT key.\n\n\
  <file>\n\
     The name and path of the registry file that will be created.\n\
     This file must have a .reg extension.\n\n\
  /y\n\
     Overwrite <file> without prompting for confirmation.\n\n"

    STRING_INVALID_SYSTEM_KEY, "reg: Cheia de sistem [%1] nu este una validă.\n"
    STRING_OVERWRITE_FILE, "Fișierul «%1» deja există. Doriți suprascrierea lui?"
    STRING_KEY_NONEXIST, "reg: Unable to find the specified registry key\n"
    STRING_KEY_IMPORT_FAILED, "reg: Unable to import the registry key '%1'\n"

    STRING_REG_VIEW_USAGE, "  /reg:32\n\
     Access the registry using the 32-bit view.\n\n\
  /reg:64\n\
     Access the registry using the 64-bit view.\n\n"
    STRING_ACCESS_DENIED, "reg: Unable to access or create the specified registry key\n"

    STRING_COPY_USAGE, "REG COPY <key1> <key2> [/s] [/f]\n\n\
  Copies the contents of a specified registry key to another location.\n\
  By default, this operation only copies registry values. Use [/s] to\n\
  recursively copy all subkeys and values.\n\n\
  <key1>, <key2>\n\
     Registry keys specifying the source (<key1>) and destination (<key2>)\n\
     of the data. If <key2> does not exist, it is created.\n\n\
     Format: ROOT\\Subkey\n\n\
     ROOT: A predefined registry key. This must be one of the following:\n\n\
         HKEY_LOCAL_MACHINE  | HKLM\n\
         HKEY_CURRENT_USER   | HKCU\n\
         HKEY_CLASSES_ROOT   | HKCR\n\
         HKEY_USERS          | HKU\n\
         HKEY_CURRENT_CONFIG | HKCC\n\n\
     Subkey: The full path to a registry key under a given ROOT key.\n\n\
  /s\n\
     Copy all subkeys and values from <key1> to <key2>.\n\n\
  /f\n\
     Overwrite all registry data in <key2> without prompting for confirmation.\n\
     This option does not modify subkeys and values that only exist in <key2>.\n\n"

    STRING_COPY_SRC_DEST_SAME, "reg: The source and destination keys cannot be the same\n"
    STRING_COPY_CONFIRM, "The value '%1\\%2' already exists in the destination key. Do you want to overwrite it?"
}
