/*
 * cryptui dll resources
 *
 * Copyright 2008 Juan Lang
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_LITHUANIAN, SUBLANG_DEFAULT

STRINGTABLE
{
    IDS_CERTIFICATE "Liudijimas"
    IDS_CERTIFICATEINFORMATION "Liudijimo informacija"
    IDS_CERT_INFO_BAD_SIG "Šis liudijimas turi neteisingą parašą. Liudijimas galėjo būti pakeistas ar pažeistas."
    IDS_CERT_INFO_UNTRUSTED_CA "Šis vyriausiasis liudijimas yra nepatikimas. Norėdami juo pasitikėti įtraukite jį į sistemos patikimų vyriausiųjų liudijimų saugyklą."
    IDS_CERT_INFO_UNTRUSTED_ROOT "Nepavyko patvirtinti šio liudijimo pagal patikimą vyriausiąjį liudijimą."
    IDS_CERT_INFO_PARTIAL_CHAIN "Nepavyko rasti liudijimo išdavėjo."
    IDS_CERT_INFO_BAD_PURPOSES "Nepavyko patikrinti visų šio liudijimo paskirties tikslų."
    IDS_CERT_INFO_PURPOSES "Šis liudijimas yra skirtas šiems tikslams:"
    IDS_SUBJECT_HEADING "Kam išduota: "
    IDS_ISSUER_HEADING "Išdavė: "
    IDS_VALID_FROM "Galioja nuo "
    IDS_VALID_TO " iki "
    IDS_CERTIFICATE_BAD_SIGNATURE "Šis liudijimas turi neteisingą parašą."
    IDS_CERTIFICATE_BAD_TIME "Šis liudijimas jau nebegalioja arba dar negalioja."
    IDS_CERTIFICATE_BAD_TIMENEST "Šio liudijimo galiojimo periodas yra didesnis už išdavėjo."
    IDS_CERTIFICATE_REVOKED "Šis liudijimas buvo panaikintas išdavėjo."
    IDS_CERTIFICATE_VALID "Šis liudijimas yra geras."
    IDS_FIELD "Laukas"
    IDS_VALUE "Reikšmė"
    IDS_FIELDS_ALL "<visi laukai>"
    IDS_FIELDS_V1 "Tik pirmos versijos laukai"
    IDS_FIELDS_EXTENSIONS "Tik plėtiniai"
    IDS_FIELDS_CRITICAL_EXTENSIONS "Tik būtini plėtiniai"
    IDS_FIELDS_PROPERTIES "Tik savybės"
    IDS_FIELD_VERSION "Versija"
    IDS_FIELD_SERIAL_NUMBER "Numeris"
    IDS_FIELD_ISSUER "Išdavėjas"
    IDS_FIELD_VALID_FROM "Galioja nuo"
    IDS_FIELD_VALID_TO "Galioja iki"
    IDS_FIELD_SUBJECT "Subjektas"
    IDS_FIELD_PUBLIC_KEY "Viešasis raktas"
    IDS_FIELD_PUBLIC_KEY_FORMAT "%1 (%2!d! bitai)"
    IDS_PROP_HASH "maiša SHA1"
    IDS_PROP_ENHKEY_USAGE "Ypatingas rakto naudojimas (savybė)"
    IDS_PROP_FRIENDLY_NAME "Draugiškas vardas"
    IDS_PROP_DESCRIPTION "Aprašas"
    IDS_CERTIFICATE_PROPERTIES "Liudijimo savybės"
    IDS_CERTIFICATE_PURPOSE_ERROR "Prašau įveskite organizacijos identifikatorių tokia forma: 1.2.3.4"
    IDS_CERTIFICATE_PURPOSE_EXISTS "Įvestas organizacijos identifikatorius jau egzistuoja."
    IDS_SELECT_STORE_TITLE "Išrinkite liudijimų saugyklą"
    IDS_SELECT_STORE "Prašau išrinkite liudijimų saugyklą."
    IDS_IMPORT_WIZARD "Liudijimo importo vediklis"
    IDS_IMPORT_TYPE_MISMATCH "Faile yra objektų, kurie neatitinka nustatytų kriterijų. Prašau išrinkite kitą failą."
    IDS_IMPORT_FILE_TITLE "Importo failas"
    IDS_IMPORT_FILE_SUBTITLE "Nurodykite failą importui."
    IDS_IMPORT_STORE_TITLE "Liudijimų saugykla"
    IDS_IMPORT_STORE_SUBTITLE "Liudijimų saugyklos yra liudijimų rinkiniai, atšauktų liudijimų sąrašai ir patikintų liudijimų sąrašai."
    IDS_IMPORT_FILTER_CERT "X.509 liudijimas (*.cer; *.crt)"
    IDS_IMPORT_FILTER_PFX "Asmeninės informacijos mainai (*.pfx; *.p12)"
    IDS_IMPORT_FILTER_CRL "Atšauktų liudijimų sąrašas (*.crl)"
    IDS_IMPORT_FILTER_CTL "Patikintų liudijimų sąrašas (*.stl)"
    IDS_IMPORT_FILTER_SERIALIZED_STORE "Išdėstyta serijomis liudijimų saugykla (*.sst)"
    IDS_IMPORT_FILTER_CMS "CMS/PKCS #7 pranešimai (*.spc; *.p7b)"
    IDS_IMPORT_FILTER_ALL "Visi failai (*.*)"
    IDS_IMPORT_EMPTY_FILE "Prašau išrinkite failą."
    IDS_IMPORT_BAD_FORMAT "Neatpažintas failo formatas. Prašau išrinkite kitą failą."
    IDS_IMPORT_OPEN_FAILED "Nepavyko atverti "
    IDS_IMPORT_DEST_DETERMINED "Nustatyta programos"
    IDS_IMPORT_SELECT_STORE "Prašau išrinkite saugyklą"
    IDS_IMPORT_STORE_SELECTION "Išrinkta liudijimų saugykla"
    IDS_IMPORT_DEST_AUTOMATIC "Automatiškai nustatyta programos"
    IDS_IMPORT_FILE "Failas"
    IDS_IMPORT_CONTENT "Turinys"
    IDS_IMPORT_CONTENT_CERT "Liudijimas"
    IDS_IMPORT_CONTENT_CRL "Atšauktų liudijimų sąrašas"
    IDS_IMPORT_CONTENT_CTL "Patikintų liudijimų sąrašas"
    IDS_IMPORT_CONTENT_CMS "CMS/PKCS #7 pranešimas"
    IDS_IMPORT_CONTENT_PFX "Asmeninės informacijos mainai"
    IDS_IMPORT_CONTENT_STORE "Liudijimų saugykla"
    IDS_IMPORT_SUCCEEDED "Importas sėkmingas."
    IDS_IMPORT_FAILED "Importas nepavyko."
    IDS_WIZARD_TITLE_FONT "Arial"
    IDS_PURPOSE_ALL "<visi laukai>"
    IDS_PURPOSE_ADVANCED "<papildomos paskirtys>"
    IDS_SUBJECT_COLUMN "Kam išduotas"
    IDS_ISSUER_COLUMN "Išdavė"
    IDS_EXPIRATION_COLUMN "Galiojimo data"
    IDS_FRIENDLY_NAME_COLUMN "Draugiškas vardas"
    IDS_ALLOWED_PURPOSE_ALL "<visi laukai>"
    IDS_ALLOWED_PURPOSE_NONE "<jokios>"
    IDS_WARN_REMOVE_MY "Su šiuo liudijimu jūs daugiau nebegalėsite iššifruoti pranešimų ar pasirašyti pranešimų.\nAr tikrai norite pašalinti šį liudijimą?"
    IDS_WARN_REMOVE_PLURAL_MY "Su šiuo liudijimu jūs daugiau nebegalėsite iššifruoti pranešimų ar pasirašyti pranešimų.\nAr tikrai norite pašalinti šiuos liudijimus?"
    IDS_WARN_REMOVE_ADDRESSBOOK "Su šiuo liudijimu jūs daugiau nebegalėsite iššifruoti pranešimų ar patikrinti pasirašytų pranešimų.\nAr tikrai norite pašalinti šį liudijimą?"
    IDS_WARN_REMOVE_PLURAL_ADDRESSBOOK "Su šiuo liudijimu jūs daugiau nebegalėsite iššifruoti pranešimų ar patikrinti pasirašytų pranešimų.\nAr tikrai norite pašalinti šiuos liudijimus?"
    IDS_WARN_REMOVE_CA "Liudijimais, išduotais šios liudijimo įstaigos, nebebus pasitikima.\nAr tikrai norite pašalinti šį liudijimą?"
    IDS_WARN_REMOVE_PLURAL_CA "Liudijimais, išduotais šių liudijimo įstaigų, nebebus pasitikima.\nAr tikrai norite pašalinti šiuos liudijimus?"
    IDS_WARN_REMOVE_ROOT "Liudijimais, išduotais šios vyriausiosios liudijimo įstaigos, ar bet kurios jos išduotos liudijimų įstaigos liudijimais, nebebus pasitikima.\nAr tikrai norite pašalinti šį patikimą vyriausiąjį liudijimą?"
    IDS_WARN_REMOVE_PLURAL_ROOT "Liudijimais, išduotais šių vyriausiųjų liudijimo įstaigų, ar bet kurių jų išduotų liudijimų įstaigų liudijimais, nebebus pasitikima.\nAr tikrai norite pašalinti šiuos patikimus vyriausiuosius liudijimus?"
    IDS_WARN_REMOVE_TRUSTEDPUBLISHER "Nebebus pasitikima programine įranga pasirašyta šio leidėjo.\nAr tikrai norite pašalinti šį liudijimą?"
    IDS_WARN_REMOVE_PLURAL_TRUSTEDPUBLISHER "Nebebus pasitikima programine įranga pasirašyta šių leidėjų.\nAr tikrai norite pašalinti šiuos liudijimus?"
    IDS_WARN_REMOVE_DEFAULT "Ar tikrai norite pašalinti šį liudijimą?"
    IDS_WARN_REMOVE_PLURAL_DEFAULT "Ar tikrai norite pašalinti šiuos liudijimus?"
    IDS_CERT_MGR "Liudijimai"
    IDS_FRIENDLY_NAME_NONE "<jokios>"
    IDS_PURPOSE_SERVER_AUTH "Garantuoja nutolusio kompiuterio tapatumą"
    IDS_PURPOSE_CLIENT_AUTH "Įrodo jūsų tapatumą nutolusiam kompiuteriui"
    IDS_PURPOSE_CODE_SIGNING "Garantuoja, kad programinė įranga yra iš šio leidėjo\nApsaugo programinę įrangą nuo pakeitimų po išleidimo"
    IDS_PURPOSE_EMAIL_PROTECTION "Apsaugo el. pašto pranešimus"
    IDS_PURPOSE_IPSEC "Leidžia saugu ryšį internete"
    IDS_PURPOSE_TIMESTAMP_SIGNING "Leidžia pasirašyti duomenis dabartiniu laiku"
    IDS_PURPOSE_CTL_USAGE_SIGNING "Leidžia skaitmeniškai pasirašyti patikintų liudijimų sąrašą"
    IDS_PURPOSE_EFS "Leidžia užšifruoti duomenis diske"
    IDS_PURPOSE_EFS_RECOVERY "Failų atkūrimas"
    IDS_PURPOSE_WHQL "Windows tvarkyklių patikra"
    IDS_PURPOSE_NT5 "Windows sistemos komponentų patikra"
    IDS_PURPOSE_OEM_WHQL "OEM Windows sistemos komponentų patikra"
    IDS_PURPOSE_EMBEDDED_NT "Įtaisytų Windows sistemos komponentų patikra"
    IDS_PURPOSE_ROOT_LIST_SIGNER "Pagrindinio sąrašo pasirašytojas"
    IDS_PURPOSE_QUALIFIED_SUBORDINATION "Patikslintoji hierarchija"
    IDS_PURPOSE_KEY_RECOVERY "Rakto atkūrimas"
    IDS_PURPOSE_DOCUMENT_SIGNING "Dokumentų pasirašymas"
    IDS_PURPOSE_LIFETIME_SIGNING "Gyvavimo ciklo pasirašymas"
    IDS_PURPOSE_DRM "Skaitmeninės teisės"
    IDS_PURPOSE_LICENSES "Kodų pako licencijos"
    IDS_PURPOSE_LICENSE_SERVER "Licencijų serverio patikra"
    IDS_PURPOSE_ENROLLMENT_AGENT "Liudijimo užklausos priemonė"
    IDS_PURPOSE_SMARTCARD_LOGON "Lustinių kortelių įvedimas"
    IDS_PURPOSE_CA_EXCHANGE "Privačiojo rakto archyvavimas"
    IDS_PURPOSE_KEY_RECOVERY_AGENT "Rakto atkūrimo priemonė"
    IDS_PURPOSE_DS_EMAIL_REPLICATION "Katalogų serverio el. pašto dauginimas"
    IDS_EXPORT_WIZARD "Liudijimo eksporto vediklis"
    IDS_EXPORT_FORMAT_TITLE "Eksporto formatas"
    IDS_EXPORT_FORMAT_SUBTITLE "Išsirinkite formatą duomenims išsaugoti."
    IDS_EXPORT_FILE_TITLE "Eksporto failas"
    IDS_EXPORT_FILE_SUBTITLE "Nurodykite failą, kuriame bus išsaugoti duomenys."
    IDS_EXPORT_FILE_EXISTS "Nurodytas failas egzistuoja. Ar norite jį perrašyti?"
    IDS_EXPORT_FILTER_CERT "DER-užkoduotas dvejetainis X.509 (*.cer)"
    IDS_EXPORT_FILTER_BASE64_CERT "Base64-užkoduotas X.509 (*.cer)"
    IDS_EXPORT_FILTER_CRL "Atšauktų liudijimų sąrašas (*.crl)"
    IDS_EXPORT_FILTER_CTL "Patikintų liudijimų sąrašas (*.stl)"
    IDS_EXPORT_FILTER_CMS "CMS/PKCS #7 pranešimai (*.p7b)"
    IDS_EXPORT_FILTER_PFX "Asmeninės informacijos mainai (*.pfx)"
    IDS_EXPORT_FILTER_SERIALIZED_CERT_STORE "Išdėstyta serijomis liudijimų saugykla (*.sst)"
    IDS_EXPORT_FORMAT "Failo formatas"
    IDS_EXPORT_INCLUDE_CHAIN "Apimti visus liudijimus liudijimų kelyje"
    IDS_EXPORT_KEYS "Eksportuoti raktus"
    IDS_YES "Taip"
    IDS_NO "Ne"
    IDS_EXPORT_SUCCEEDED "Eksportas sėkmingas."
    IDS_EXPORT_FAILED "Eksportas nepavyko."
    IDS_EXPORT_PRIVATE_KEY_TITLE "Eksportuoti privatųjį raktą"
    IDS_EXPORT_PRIVATE_KEY_SUBTITLE "Liudijimas turi privatųjį raktą, kuris gali būti išeksportuotas kartu su liudijimu."
    IDS_EXPORT_PASSWORD_TITLE "Įveskite slaptažodį"
    IDS_EXPORT_PASSWORD_SUBTITLE "Jūs galite apsaugoti privatųjį raktą slaptažodžiu."
    IDS_EXPORT_PASSWORD_MISMATCH "Slaptažodžiai nesutampa."
    IDS_EXPORT_PRIVATE_KEY_UNAVAILABLE "Pastaba: nepavyko atverti privačiojo rakto šiam liudijimui."
    IDS_EXPORT_PRIVATE_KEY_NON_EXPORTABLE "Pastaba: šio liudijimo privatusis raktas neišeksportuojamas."
    IDS_INTENDED_USE_COLUMN "Intended Use"
    IDS_LOCATION_COLUMN "Location"
    IDS_SELECT_CERT_TITLE "Select Certificate"
    IDS_SELECT_CERT "Select a certificate"
    IDS_NO_IMPL "Not yet implemented"
}

IDD_GENERAL DIALOGEX 0, 0, 255, 236
CAPTION "Bendrosios"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "", -1, "Static", WS_BORDER|SS_WHITERECT, 6,10,241,200
  CONTROL "", IDC_CERTIFICATE_ICON,"RichEdit20W", ES_READONLY|WS_DISABLED,8,11,26,26
  CONTROL "", IDC_CERTIFICATE_INFO,"RichEdit20W", ES_READONLY|WS_DISABLED,34,11,212,26
  CONTROL "", -1, "Static", SS_BLACKFRAME, 16,37,222,1
  CONTROL "", IDC_CERTIFICATE_STATUS,"RichEdit20W", ES_READONLY|ES_MULTILINE,8,38,238,78
  CONTROL "", -1, "Static", SS_BLACKFRAME, 16,116,222,1
  CONTROL "", IDC_CERTIFICATE_NAMES,"RichEdit20W", ES_READONLY|ES_MULTILINE|WS_DISABLED,8,118,238,90
  PUSHBUTTON "&Įdiegti liudijimą...", IDC_ADDTOSTORE,53,216,95,14
  PUSHBUTTON "Išdavėjo &teiginys", IDC_ISSUERSTATEMENT,152,216,95,14
END

IDD_DETAIL DIALOGEX 0, 0, 255, 236
CAPTION "Išsamiai"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Rodyti:", -1, 6,12,40,14
  COMBOBOX IDC_DETAIL_SELECT, 48,10,100,60, CBS_DROPDOWNLIST|WS_BORDER|WS_VSCROLL|WS_TABSTOP
  CONTROL "", IDC_DETAIL_LIST, "SysListView32",
    LVS_REPORT|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER, 6,28,241,100
  CONTROL "", IDC_DETAIL_VALUE, "RichEdit20W", ES_READONLY|ES_MULTILINE|WS_TABSTOP, 6,136,241,70
  PUSHBUTTON "Redaguoti &savybes...", IDC_EDITPROPERTIES,53,216,95,14
  PUSHBUTTON "&Kopijuoti į failą...", IDC_EXPORT,152,216,95,14
END

IDD_HIERARCHY DIALOGEX 0, 0, 255, 236
CAPTION "Liudijimo kelias"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Liudijimo kelias", -1,6,10,245,165, BS_GROUPBOX
  CONTROL "",IDC_CERTPATH, "SysTreeView32", TVS_HASLINES|WS_BORDER,
    13,22,231,130
  PUSHBUTTON "&Peržiūrėti liudijimą", IDC_VIEWCERTIFICATE,155,156,90,14
  LTEXT "Liudijimo &būsena:", IDC_CERTIFICATESTATUS,6,183,200,14
  CONTROL "", IDC_CERTIFICATESTATUSTEXT,"RichEdit20W",
    WS_BORDER|ES_READONLY|ES_MULTILINE|WS_DISABLED,6,195,245,36
END

IDD_USERNOTICE DIALOGEX 0, 0, 255, 256
CAPTION "Garantijų nedavimas"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "", IDC_USERNOTICE,"RichEdit20W",
    WS_BORDER|ES_READONLY|ES_MULTILINE|WS_DISABLED,6,10,241,200
  PUSHBUTTON "Užverti", IDOK,73,216,85,14
  PUSHBUTTON "Daugiau &informacijos", IDC_CPS,162,216,85,14
END

IDD_CERT_PROPERTIES_GENERAL DIALOGEX 0, 0, 255, 236
CAPTION "Bendrosios"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Draugiškas vardas:", -1, 6,14,60,14
  EDITTEXT IDC_FRIENDLY_NAME, 70,12,181,14, ES_AUTOHSCROLL|WS_TABSTOP
  LTEXT "&Aprašas:", -1, 6,32,60,14
  EDITTEXT IDC_DESCRIPTION, 70,30,181,14, ES_AUTOVSCROLL|ES_MULTILINE|WS_TABSTOP|WS_VSCROLL
  GROUPBOX "Liudijimo paskirtys", -1,6,48,245,185, BS_GROUPBOX
  AUTORADIOBUTTON "&Įjungti visas šio liudijimo paskirtis",
    IDC_ENABLE_ALL_PURPOSES, 12,58,230,14, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "Išj&ungti visas šio liudijimo paskirtis",
    IDC_DISABLE_ALL_PURPOSES, 12,70,230,14, BS_AUTORADIOBUTTON
  AUTORADIOBUTTON "Įjungti &tik šias šio liudijimo paskirtis:",
    IDC_ENABLE_SELECTED_PURPOSES, 12,82,230,14, BS_AUTORADIOBUTTON
  CONTROL "", IDC_CERTIFICATE_USAGES,"SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    24,100,220,106
  PUSHBUTTON "Pridėti &paskirtį...", IDC_ADD_PURPOSE,174,212,70,14
END

IDD_ADD_CERT_PURPOSE DIALOGEX 0,0,200,68
CAPTION "Pridėti paskirtį"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Pridėkite objekto identifikatorių (OID) liudijimo paskirčiai, kurią norite pridėti:",
    -1, 6,6,190,28
  EDITTEXT IDC_NEW_PURPOSE, 6,28,190,14, ES_AUTOVSCROLL|ES_MULTILINE|WS_TABSTOP|WS_VSCROLL
  PUSHBUTTON "Gerai", IDOK, 33,48,60,14
  PUSHBUTTON "Atsisakyti", IDCANCEL, 100,48,60,14
END

IDD_SELECT_STORE DIALOGEX 0,0,200,136
CAPTION "Išrinkite liudijimų saugyklą"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Išrinkite liudijimų saugyklą, kurią norite naudoti:", IDC_STORE_TEXT, 6,6,190,28
  CONTROL "",IDC_STORE_LIST, "SysTreeView32", TVS_HASLINES|WS_BORDER|WS_TABSTOP,
    6,28,188,70
  CHECKBOX "&Rodyti fizines saugyklas", IDC_SHOW_PHYSICAL_STORES, 6,102,180,14, BS_AUTOCHECKBOX|WS_TABSTOP
  PUSHBUTTON "Gerai", IDOK, 90,118,50,14, BS_DEFPUSHBUTTON
  PUSHBUTTON "Atsisakyti", IDCANCEL, 144,118,50,14
END

IDD_IMPORT_WELCOME DIALOGEX 0,0,317,143
CAPTION "Liudijimo importo vediklis"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Sveiki atvėrę liudijimo importo vediklį", IDC_IMPORT_TITLE, 115,7,195,30
  LTEXT "Šis vediklis padeda jums importuoti liudijimus, atšauktų liudijimų sąrašus ir patikintų liudijimų sąrašus iš failo į liudijimų saugyklą.\n\nKompiuteriai gali naudoti sertifikatus identifikavimui ir pasirašymui.",
    -1, 115,40,195,120
END

IDD_IMPORT_FILE DIALOGEX 0,0,317,178
CAPTION "Liudijimo importo vediklis"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Failas:", -1, 21,1,195,10
  EDITTEXT IDC_IMPORT_FILENAME, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
  PUSHBUTTON "Pari&nkti...", IDC_IMPORT_BROWSE_FILE, 236,11,60,14
  LTEXT "Pastaba: Šie failų formatai gali turėti daugiau negu vieną liudijimą, atšauktų liudijimų sąrašą ar patikintų liudijimų sąrašą:",
    -1, 21,30,265,16
  LTEXT "Kriptografinio pranešimo sintaksės standarto/PKCS #7 pranešimai (*.p7b)",
    -1, 31,53,265,10
  LTEXT "Asmeninės informacijos mainai/PKCS #12 (*.pfx; *.p12)",
    -1, 31,68,265,10
  LTEXT "Microsoft išdėstyta serijomis liudijimų saugykla (*.sst)",
    -1, 31,83,265,10
END

IDD_IMPORT_STORE DIALOGEX 0,0,317,143
CAPTION "Liudijimo importo vediklis"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Wine gali automatiškai parinkti liudijimų saugyklą arba jūs galite nurodyti vietą liudijimams.",
    -1, 21,1,220,25
  AUTORADIOBUTTON "Automatiškai pa&rinkti liudijimų saugyklą",
    IDC_IMPORT_AUTO_STORE, 31,28,220,12, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "Patalpinti &visus liudijimus į šią saugyklą:",
    IDC_IMPORT_SPECIFY_STORE, 31,42,220,12, BS_AUTORADIOBUTTON
  EDITTEXT IDC_IMPORT_STORE, 44,61,185,14, ES_READONLY
  PUSHBUTTON "Pari&nkti...", IDC_IMPORT_BROWSE_STORE, 236,61,60,14
END

IDD_IMPORT_FINISH DIALOGEX 0,0,317,178
CAPTION "Liudijimo importo vediklis"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Liudijimo importo vediklio pabaiga", IDC_IMPORT_TITLE,
    115,1,195,40
  LTEXT "Jūs sėkmingai baigėte liudijimo importo vediklį.",
    -1, 115,33,195,24
  LTEXT "Jūs nurodėte šias nuostatas:",
    -1, 115,57,195,12
  CONTROL "", IDC_IMPORT_SETTINGS, "SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    115,67,174,100
END

IDD_CERT_MGR DIALOGEX 0,0,335,270
CAPTION "Liudijimai"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Numatytos paskirtys:", -1, 7,9,100,12
  COMBOBOX IDC_MGR_PURPOSE_SELECTION, 83,7,245,60, CBS_DROPDOWNLIST|WS_BORDER|WS_VSCROLL|WS_TABSTOP
  CONTROL "", IDC_MGR_STORES, "SysTabControl32", WS_CLIPSIBLINGS|WS_TABSTOP, 7,25,321,140
  CONTROL "", IDC_MGR_CERTS, "SysListView32", LVS_REPORT|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER, 15,46,305,111
  PUSHBUTTON "&Importuoti...", IDC_MGR_IMPORT, 7,172,65,14
  PUSHBUTTON "&Eksportuoti...", IDC_MGR_EXPORT, 76,172,65,14, WS_DISABLED
  PUSHBUTTON "Pa&šalinti", IDC_MGR_REMOVE, 145,172,65,14, WS_DISABLED
  PUSHBUTTON "Išs&amiau...", IDC_MGR_ADVANCED, 263,172,65,14
  GROUPBOX "Liudijimo numatytos paskirtys", -1,7,194,321,47, BS_GROUPBOX
  LTEXT "", IDC_MGR_PURPOSES, 13,206,252,32
  PUSHBUTTON "&Rodymas", IDC_MGR_VIEW, 269,218,51,14, WS_DISABLED
  PUSHBUTTON "&Užverti", IDCANCEL, 277,249,51,14, BS_DEFPUSHBUTTON
END

IDD_CERT_MGR_ADVANCED DIALOGEX 0,0,248,176
CAPTION "Išsamios parinktys"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Liudijimo paskirtis", -1, 7,7,234,141, BS_GROUPBOX
  LTEXT "Išrinkite vieną ar daugiau paskirčių rodymui, kai yra pasirinkta „papildomos paskirtys“.",
    -1, 14,18,220,16
  LTEXT "&Liudijimo paskirtys:", -1, 14,41,90,12, WS_TABSTOP
  CONTROL "", IDC_CERTIFICATE_USAGES,"SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    14,51,220,90
  PUSHBUTTON "Gerai", IDOK, 132,155,51,14, BS_DEFPUSHBUTTON
  PUSHBUTTON "Atsisakyti", IDCANCEL, 190,155,51,14
END

IDD_EXPORT_WELCOME DIALOGEX 0,0,317,143
CAPTION "Liudijimo eksporto vediklis"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Sveiki atvėrę liudijimo eksporto vediklį", IDC_EXPORT_TITLE, 115,7,195,30
  LTEXT "Šis vediklis padeda jums eksportuoti liudijimus, atšauktų liudijimų sąrašus ir patikintų liudijimų sąrašus iš liudijimų saugyklos į failą.\n\nKompiuteriai gali naudoti sertifikatus identifikavimui ir pasirašymui.",
    -1, 115,40,195,120
END

IDD_EXPORT_PRIVATE_KEY DIALOGEX 0,0,317,143
CAPTION "Liudijimo eksporto vediklis"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Jei pasirinksite eksportuoti privatųjį raktą, kitame lape būsite paklausti įvesti slaptažodį raktui apsaugoti.", -1, 21,1,195,25
  LTEXT "Ar norite eksportuoti privatųjį raktą?", -1, 21,27,195,10
  AUTORADIOBUTTON "&Taip, eksportuoti privatųjį raktą",
    IDC_EXPORT_PRIVATE_KEY_YES, 31,36,200,12, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "&Ne, neeksportuoti privačiojo rakto",
    IDC_EXPORT_PRIVATE_KEY_NO, 31,48,200,12, BS_AUTORADIOBUTTON
  LTEXT "", IDC_EXPORT_PRIVATE_KEY_UNAVAILABLE, 21,60,200,24
END

IDD_EXPORT_PASSWORD DIALOGEX 0,0,317,143
CAPTION "Liudijimo eksporto vediklis"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Slaptažodis:", -1, 21,1,195,10
  EDITTEXT IDC_EXPORT_PASSWORD, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
  LTEXT "&Patvirtinti slaptažodį:", -1, 21,35,195,10
  EDITTEXT IDC_EXPORT_PASSWORD_CONFIRM, 21,45,208,14, ES_AUTOHSCROLL|WS_TABSTOP
END

IDD_EXPORT_FORMAT DIALOGEX 0,0,317,143
CAPTION "Liudijimo eksporto vediklis"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Išrinkite formatą, kurį norite naudoti:", -1, 21,1,195,10
  AUTORADIOBUTTON "&DER-užkoduotas X.509 (*.cer)",
    IDC_EXPORT_FORMAT_DER, 31,18,280,12, BS_AUTORADIOBUTTON|WS_TABSTOP
  AUTORADIOBUTTON "Ba&se64-užkoduotas X.509 (*.cer):",
    IDC_EXPORT_FORMAT_BASE64, 31,30,280,12, BS_AUTORADIOBUTTON
  AUTORADIOBUTTON "&Kriptografinio pranešimo sintaksės standarto/PKCS #7 pranešimas (*.p7b)",
    IDC_EXPORT_FORMAT_CMS, 31,42,280,12, BS_AUTORADIOBUTTON
  CHECKBOX "&Jei įmanoma, apimti visus liudijimus liudijimų kelyje",
    IDC_EXPORT_CMS_INCLUDE_CHAIN, 44,57,280,8, BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  AUTORADIOBUTTON "&Asmeninės informacijos mainai/PKCS #12 (*.pfx)",
    IDC_EXPORT_FORMAT_PFX, 31,72,280,12, BS_AUTORADIOBUTTON|WS_DISABLED
  CHECKBOX "A&pimti visus liudijimus liudijimų kelyje",
    IDC_EXPORT_PFX_INCLUDE_CHAIN, 44,87,280,8, BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  CHECKBOX "Įjungti stiprų &šifravimą",
    IDC_EXPORT_PFX_STRONG_ENCRYPTION, 44,102,280,8, BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
  CHECKBOX "Iš&trinti privatųjį raktą, kai eksportas sėkmingas",
    IDC_EXPORT_PFX_DELETE_PRIVATE_KEY, 44,117,280,8, BS_AUTOCHECKBOX|WS_TABSTOP|WS_DISABLED
END

IDD_EXPORT_FILE DIALOGEX 0,0,317,143
CAPTION "Liudijimo eksporto vediklis"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "&Failas:", -1, 21,1,195,10
  EDITTEXT IDC_EXPORT_FILENAME, 21,11,208,14, ES_AUTOHSCROLL|WS_TABSTOP
  PUSHBUTTON "Pari&nkti...", IDC_EXPORT_BROWSE_FILE, 236,11,60,14
END

IDD_EXPORT_FINISH DIALOGEX 0,0,317,178
CAPTION "Liudijimo eksporto vediklis"
STYLE DS_SHELLFONT | WS_VISIBLE | DS_MODALFRAME
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Liudijimo eksporto vediklio pabaiga", IDC_EXPORT_TITLE,
    115,1,195,40
  LTEXT "Jūs sėkmingai baigėte liudijimo eksporto vediklį.",
    -1, 115,33,195,24
  LTEXT "Jūs nurodėte šias nuostatas:",
    -1, 115,57,195,12
  CONTROL "", IDC_EXPORT_SETTINGS, "SysListView32",
    LVS_REPORT|LVS_NOCOLUMNHEADER|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER,
    115,67,174,100
END

IDD_SELECT_CERT DIALOG 0,0,278,157
CAPTION "Select Certificate"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Select a certificate you want to use", IDC_SELECT_DISPLAY_STRING, 7,7,264,26
  CONTROL "", IDC_SELECT_CERTS, "SysListView32",
    LVS_REPORT|LVS_SINGLESEL|WS_CHILD|WS_VISIBLE|WS_TABSTOP|WS_BORDER, 7,40,264,89
  PUSHBUTTON "OK", IDOK, 91,136,51,14, BS_DEFPUSHBUTTON
  PUSHBUTTON "Cancel", IDCANCEL, 149,136,51,14
  PUSHBUTTON "&View Certificate", IDC_SELECT_VIEW_CERT, 207,136,65,14, WS_DISABLED
END
