#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "dummy program"
#define VER_INTERNALNAME_STR        "dummy.exe"
#define VER_ORIGINALFILENAME_STR    "dummy.exe"

#include "common.ver"

1 11 MSG00001.bin
