/* Norwegian translation by FrodeL */

LANGUAGE LANG_NORWEGIAN, SUBLANG_NEUTRAL

IDD_WELCOMEPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installasjon av enhet"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Velkommen", IDC_WELCOMETITLE, 120, 8, 195, 16
    LTEXT "Denne veiviseren installerer driver for ny enhet:", IDC_STATIC, 120, 21, 195, 16
    LTEXT "Klikk Neste for å fortsette.", IDC_STATIC, 120, 169, 195, 16
    LTEXT "UKJENT ENHET", IDC_DEVICE, 148, 36, 147, 12
    LTEXT "ADVARSEL! INSTALLASJON AV EN DRIVER KAN FRYSE DIN MASKIN, ELLER GJØRE AT DEN IKKE STARTER OPP!", IDC_STATIC, 120, 59, 195, 16
    CONTROL "Installer driver automatisk", IDC_RADIO_AUTO, "Button", BS_AUTORADIOBUTTON, 120, 112, 195, 12
    CONTROL "Installer driver fra spesifikk lokasjon", IDC_RADIO_MANUAL, "Button", BS_AUTORADIOBUTTON, 120, 133, 195, 12
END

IDD_NODRIVER DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installasjon av enhet"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Installasjonen feilet", IDC_FINISHTITLE, 120, 8, 195, 16
    LTEXT "Enheten kunne ikke bli installert fordi driveren ble ikke funnet.", IDC_STATIC, 120, 32, 195, 16
    LTEXT "Klikk Tilbake dersom du har en disk med driveren, eller kjenner stien til driveren.", IDC_STATIC, 120, 98, 195, 16
    CONTROL "Ikke vis denne dialogboksen lenger", IDC_DONOTSHOWDLG, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 120, 170, 195, 12
END

IDD_INSTALLFAILED DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installasjon av enhet"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Installasjonen feilet", IDC_FINISHTITLE, 120, 8, 195, 16
    LTEXT "Enheten kunne ikke installeres fordi en ukjent feil oppstod.", IDC_STATIC, 120, 32, 195, 16
    LTEXT "UKJENT ENHET", IDC_DEVICE, 148, 53, 147, 12
END

IDD_CHSOURCE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installasjon av enhet"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Søk i disse områdene", IDC_RADIO_SEARCHHERE, "Button", BS_AUTORADIOBUTTON, 27, 11, 239, 12
    CONTROL "Velg driver manuelt", IDC_RADIO_CHOOSE, "Button", BS_AUTORADIOBUTTON, 27, 98, 171, 12
    CONTROL "Søk i flyttbart media", IDC_CHECK_MEDIA, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 47, 33, 163, 12
    CONTROL "Inkluder denne stien", IDC_CHECK_PATH, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 47, 54, 162, 12
    PUSHBUTTON "Søk", IDC_BROWSE, 248, 70, 50, 14
    COMBOBOX IDC_COMBO_PATH, 61, 71, 176, 12, CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | WS_TABSTOP | CBS_AUTOHSCROLL
END

IDD_SEARCHDRV DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installasjon av enhet"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "UKJENT ENHET", IDC_DEVICE, 51, 20, 169, 16
END

IDD_INSTALLDRV DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installasjon av enhet"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "UKJENT ENHET", IDC_DEVICE, 51, 20, 169, 16
END

IDD_NEEDREBOOT DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installasjon av enhet"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Installasjonen er ferdig", IDC_FINISHTITLE, 120, 8, 195, 12
    LTEXT "Du må starte maskinen på nytt for å fullføre installasjonen av:", IDC_STATIC, 120, 32, 195, 16
    LTEXT "Trykk Fullfør for å avslutte veiviseren.", IDC_STATIC, 120, 174, 195, 12
    LTEXT "UKJENT ENHET", IDC_DEVICE, 148, 53, 147, 12
END

IDD_FINISHPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Installasjon av enhet"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Installasjonen er ferdig", IDC_FINISHTITLE, 120, 8, 195, 12
    LTEXT "Veiviseren har installert driveren for: ", IDC_STATIC, 120, 32, 195, 16
    LTEXT "Trykk Fullfør for å avslutte veiviseren.", IDC_STATIC, 120, 174, 195, 12
    LTEXT "UKJENT ENHET", IDC_DEVICE, 148, 53, 147, 12
END

STRINGTABLE
BEGIN
    IDS_INSTALLWIZARDTITLE "New Hardware Wizard"
    IDS_UPDATEWIZARDTITLE "Update Driver Wizard"
    IDS_CHSOURCE_TITLE "Choose search and install options"
    IDS_SEARCHDRV_TITLE "Searching..."
    IDS_INSTALLDRV_TITLE "Installing..."
END
