#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION	"Watercolor Emico Visual Style\0"
#define REACTOS_STR_INTERNAL_NAME	"WE Olive\0"
#define REACTOS_STR_ORIGINAL_FILENAME	"watercoloremicoolive.msstyles\0"
#include <reactos/version.rc>

#include <windows.h>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

1 COLORNAMES					{L"Normal Color Olive M\0Normal Color Olive C0\0"}
COMBO COMBODATA					{0x0003,0x0003, 0x0000, 0x0003, 0x0006, 0x0001,0x0004,0x0007,0x0002,0x0005,0x08,}
1 PACKTHEM_VERSION				{0x03,}
1 FILERESNAMES					{L"NORMALOLIVEC_INI\0LARGEFONTSOLIVEC_INI\0EXTRALARGEOLIVEC_INI\0NORMALOLIVEM_INI\0LARGEFONTSOLIVEM_INI\0EXTRALARGEOLIVEM_INI\0\0"}
1 SIZENAMES						{L"Normal Size\0Large Fonts\0Extra Large Fonts\0\0"}
1 MINDEPTH						{0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x000F,0x0000,}

EXTRALARGEOLIVEC_INI TEXTFILE "textfiles/ExtraLargeOliveC_utf16.INI"
EXTRALARGEOLIVEM_INI TEXTFILE "textfiles/ExtraLargeOliveM_utf16.INI"
LARGEFONTSOLIVEC_INI TEXTFILE "textfiles/LargeFontsOliveC_utf16.INI"
LARGEFONTSOLIVEM_INI TEXTFILE "textfiles/LargeFontsOliveM_utf16.INI"
NORMALOLIVEC_INI TEXTFILE "textfiles/NormalOliveC_utf16.INI"
NORMALOLIVEM_INI TEXTFILE "textfiles/NormalOliveM_utf16.INI"
THEMES_INI TEXTFILE "textfiles/Theme_utf16.INI"

OLIVEC_BALLOONCLOSE_BMP BITMAP "bitmaps/Bitmap_1.bmp"
OLIVEC_BUTTON_BMP BITMAP "bitmaps/Bitmap_2.bmp"
OLIVEC_CAPTIONBUTTON_BMP BITMAP "bitmaps/Bitmap_3.bmp"
OLIVEC_CHECKBOX13_BMP BITMAP "bitmaps/Bitmap_4.bmp"
OLIVEC_CHEVRON_BMP BITMAP "bitmaps/Bitmap_5.bmp"
OLIVEC_CLOSEGLYPHS_BMP BITMAP "bitmaps/Bitmap_6.bmp"
OLIVEC_CLOSEGLYPH_BMP BITMAP "bitmaps/Bitmap_7.bmp"
OLIVEC_COMBOBOXBEVEL_BMP BITMAP "bitmaps/Bitmap_8.bmp"
OLIVEC_COMBOBUTTONGLYPH_BMP BITMAP "bitmaps/Bitmap_9.bmp"
OLIVEC_COMBOBUTTON_BMP BITMAP "bitmaps/Bitmap_10.bmp"
OLIVEC_EXPLORERBARHEADERBACKGROUND_BMP BITMAP "bitmaps/Bitmap_11.bmp"
OLIVEC_EXPLORERBARHEADERCLOSE_BMP BITMAP "bitmaps/Bitmap_12.bmp"
OLIVEC_EXPLORERBARHEADERPIN_BMP BITMAP "bitmaps/Bitmap_13.bmp"
OLIVEC_EXPLORERBARTOOLBARBACKGROUND_BMP BITMAP "bitmaps/Bitmap_14.bmp"
OLIVEC_EXPLORERBARTOOLBARBUTTONS_BMP BITMAP "bitmaps/Bitmap_15.bmp"
OLIVEC_FIELDOUTLINEBLUE_BMP BITMAP "bitmaps/Bitmap_16.bmp"
OLIVEC_FRAMEBOTTOM_BMP BITMAP "bitmaps/Bitmap_17.bmp"
OLIVEC_FRAMECAPTIONMIN_BMP BITMAP "bitmaps/Bitmap_18.bmp"
OLIVEC_FRAMECAPTIONSIZING_BMP BITMAP "bitmaps/Bitmap_19.bmp"
OLIVEC_FRAMECAPTION_BMP BITMAP "bitmaps/Bitmap_20.bmp"
OLIVEC_FRAMELEFT_BMP BITMAP "bitmaps/Bitmap_21.bmp"
OLIVEC_FRAMEMAXIMIZED_BMP BITMAP "bitmaps/Bitmap_22.bmp"
OLIVEC_FRAMERIGHT_BMP BITMAP "bitmaps/Bitmap_23.bmp"
OLIVEC_GRIPPERVERT_BMP BITMAP "bitmaps/Bitmap_24.bmp"
OLIVEC_GROUPBOX_BMP BITMAP "bitmaps/Bitmap_25.bmp"
OLIVEC_HELPCAPTIONBUTTON_BMP BITMAP "bitmaps/Bitmap_26.bmp"
OLIVEC_HELPGLYPHS_BMP BITMAP "bitmaps/Bitmap_27.bmp"
OLIVEC_HELPGLYPH_BMP BITMAP "bitmaps/Bitmap_28.bmp"
OLIVEC_IE_PERSONALBARMENU_BMP BITMAP "bitmaps/Bitmap_29.bmp"
OLIVEC_LISTVIEWHEADERBACKGROUND_BMP BITMAP "bitmaps/Bitmap_30.bmp"
OLIVEC_LISTVIEWHEADER_BMP BITMAP "bitmaps/Bitmap_31.bmp"
OLIVEC_MAXIMIZEGLYPHS_BMP BITMAP "bitmaps/Bitmap_32.bmp"
OLIVEC_MAXIMIZEGLYPH_BMP BITMAP "bitmaps/Bitmap_33.bmp"
OLIVEC_MDICAPTIONBUTTON_BMP BITMAP "bitmaps/Bitmap_34.bmp"
OLIVEC_MDIGLYPHCLOSE_BMP BITMAP "bitmaps/Bitmap_35.bmp"
OLIVEC_MDIGLYPHMINIMIZE_BMP BITMAP "bitmaps/Bitmap_36.bmp"
OLIVEC_MDIGLYPHRESTORE_BMP BITMAP "bitmaps/Bitmap_37.bmp"
OLIVEC_MINIMIZEGLYPHS_BMP BITMAP "bitmaps/Bitmap_38.bmp"
OLIVEC_MINIMIZEGLYPH_BMP BITMAP "bitmaps/Bitmap_39.bmp"
OLIVEC_NORMALGROUPBACKGROUND_BMP BITMAP "bitmaps/Bitmap_40.bmp"
OLIVEC_NORMALGROUPCOLLAPSE_BMP BITMAP "bitmaps/Bitmap_41.bmp"
OLIVEC_NORMALGROUPEXPAND_BMP BITMAP "bitmaps/Bitmap_42.bmp"
OLIVEC_NORMALGROUPHEAD_BMP BITMAP "bitmaps/Bitmap_43.bmp"
OLIVEC_PLACEBARBACKGROUND_BMP BITMAP "bitmaps/Bitmap_44.bmp"
OLIVEC_PLACEBARBUTTONS_BMP BITMAP "bitmaps/Bitmap_45.bmp"
OLIVEC_PROGRESSCHUNKVERT_BMP BITMAP "bitmaps/Bitmap_46.bmp"
OLIVEC_PROGRESSCHUNK_BMP BITMAP "bitmaps/Bitmap_47.bmp"
OLIVEC_PROGRESSTRACKVERT_BMP BITMAP "bitmaps/Bitmap_48.bmp"
OLIVEC_PROGRESSTRACK_BMP BITMAP "bitmaps/Bitmap_49.bmp"
OLIVEC_RADIOBUTTON_BMP BITMAP "bitmaps/Bitmap_50.bmp"
OLIVEC_RESIZEGRIP2_BMP BITMAP "bitmaps/Bitmap_51.bmp"
OLIVEC_RESTOREGLYPHS_BMP BITMAP "bitmaps/Bitmap_52.bmp"
OLIVEC_RESTOREGLYPH_BMP BITMAP "bitmaps/Bitmap_53.bmp"
OLIVEC_SCROLLARROWGLYPHSSMALL_BMP BITMAP "bitmaps/Bitmap_54.bmp"
OLIVEC_SCROLLARROWGLYPHS_BMP BITMAP "bitmaps/Bitmap_55.bmp"
OLIVEC_SCROLLARROWS_BMP BITMAP "bitmaps/Bitmap_56.bmp"
OLIVEC_SCROLLSHAFTHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_57.bmp"
OLIVEC_SCROLLSHAFTVERTICAL_BMP BITMAP "bitmaps/Bitmap_58.bmp"
OLIVEC_SCROLLTHUMBGRIPPERHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_59.bmp"
OLIVEC_SCROLLTHUMBGRIPPERVERTICAL_BMP BITMAP "bitmaps/Bitmap_60.bmp"
OLIVEC_SCROLLTHUMBHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_61.bmp"
OLIVEC_SCROLLTHUMBVERTICAL_BMP BITMAP "bitmaps/Bitmap_62.bmp"
OLIVEC_SEPARATORVERT_BMP BITMAP "bitmaps/Bitmap_63.bmp"
OLIVEC_SEPARATOR_BMP BITMAP "bitmaps/Bitmap_64.bmp"
OLIVEC_SLIDERTRACK_BMP BITMAP "bitmaps/Bitmap_65.bmp"
OLIVEC_SMALLCLOSEBUTTON_BMP BITMAP "bitmaps/Bitmap_66.bmp"
OLIVEC_SMALLCLOSEGLYPH_BMP BITMAP "bitmaps/Bitmap_67.bmp"
OLIVEC_SMALLFRAMEBOTTOM_BMP BITMAP "bitmaps/Bitmap_68.bmp"
OLIVEC_SMALLFRAMECAPTIONSIZING_BMP BITMAP "bitmaps/Bitmap_69.bmp"
OLIVEC_SMALLFRAMECAPTION_BMP BITMAP "bitmaps/Bitmap_70.bmp"
OLIVEC_SMALLFRAMELEFT_BMP BITMAP "bitmaps/Bitmap_71.bmp"
OLIVEC_SMALLFRAMERIGHT_BMP BITMAP "bitmaps/Bitmap_72.bmp"
OLIVEC_SPECIALGROUPBACKGROUND_BMP BITMAP "bitmaps/Bitmap_73.bmp"
OLIVEC_SPECIALGROUPCOLLAPSE_BMP BITMAP "bitmaps/Bitmap_74.bmp"
OLIVEC_SPECIALGROUPEXPAND_BMP BITMAP "bitmaps/Bitmap_75.bmp"
OLIVEC_SPECIALGROUPHEAD_BMP BITMAP "bitmaps/Bitmap_76.bmp"
OLIVEC_SPINBUTTONBACKGROUNDDOWN_BMP BITMAP "bitmaps/Bitmap_77.bmp"
OLIVEC_SPINBUTTONBACKGROUNDLEFT_BMP BITMAP "bitmaps/Bitmap_78.bmp"
OLIVEC_SPINBUTTONBACKGROUNDRIGHT_BMP BITMAP "bitmaps/Bitmap_79.bmp"
OLIVEC_SPINBUTTONBACKGROUNDUP_BMP BITMAP "bitmaps/Bitmap_80.bmp"
OLIVEC_SPINDOWNGLYPH_BMP BITMAP "bitmaps/Bitmap_81.bmp"
OLIVEC_SPINLEFTGLYPH_BMP BITMAP "bitmaps/Bitmap_82.bmp"
OLIVEC_SPINRIGHTGLYPH_BMP BITMAP "bitmaps/Bitmap_83.bmp"
OLIVEC_SPINUPGLYPH_BMP BITMAP "bitmaps/Bitmap_84.bmp"
OLIVEC_STARTBUTTON_BMP BITMAP "bitmaps/Bitmap_85.bmp"
OLIVEC_STARTGROUPBACKGROUND_BMP BITMAP "bitmaps/Bitmap_86.bmp"
OLIVEC_STARTGROUPNEWAPPBUTTON_BMP BITMAP "bitmaps/Bitmap_87.bmp"
OLIVEC_STARTGROUPSEPERATOR_BMP BITMAP "bitmaps/Bitmap_88.bmp"
OLIVEC_STARTGROUPTOOLBARBUTTON_BMP BITMAP "bitmaps/Bitmap_89.bmp"
OLIVEC_STARTPANELLOGOFFBACKGROUND_BMP BITMAP "bitmaps/Bitmap_90.bmp"
OLIVEC_STARTPANELLOGOFFBUTTONSHOT_BMP BITMAP "bitmaps/Bitmap_91.bmp"
OLIVEC_STARTPANELLOGOFFBUTTONS_BMP BITMAP "bitmaps/Bitmap_92.bmp"
OLIVEC_STARTPANELMFUBACKGROUND_BMP BITMAP "bitmaps/Bitmap_93.bmp"
OLIVEC_STARTPANELMOREPROGARROWHOT_BMP BITMAP "bitmaps/Bitmap_94.bmp"
OLIVEC_STARTPANELMOREPROGARROW_BMP BITMAP "bitmaps/Bitmap_95.bmp"
OLIVEC_STARTPANELMOREPROGBACKGROUND_BMP BITMAP "bitmaps/Bitmap_96.bmp"
OLIVEC_STARTPANELPLACESBACKGROUND_BMP BITMAP "bitmaps/Bitmap_97.bmp"
OLIVEC_STARTPLACESSEPARATOR_BMP BITMAP "bitmaps/Bitmap_98.bmp"
OLIVEC_STARTPROGRAMSSEPARATOR_BMP BITMAP "bitmaps/Bitmap_99.bmp"
OLIVEC_STARTUSERPANEL_BMP BITMAP "bitmaps/Bitmap_100.bmp"
OLIVEC_STATUSBACKGROUND_BMP BITMAP "bitmaps/Bitmap_101.bmp"
OLIVEC_STATUSPANE_BMP BITMAP "bitmaps/Bitmap_102.bmp"
OLIVEC_TABBACKGROUND133_BMP BITMAP "bitmaps/Bitmap_103.bmp"
OLIVEC_TABBACKGROUND_BMP BITMAP "bitmaps/Bitmap_104.bmp"
OLIVEC_TABITEMBOTH_BMP BITMAP "bitmaps/Bitmap_105.bmp"
OLIVEC_TABITEMLEFT_BMP BITMAP "bitmaps/Bitmap_106.bmp"
OLIVEC_TABITEMRIGHT_BMP BITMAP "bitmaps/Bitmap_107.bmp"
OLIVEC_TABITEMTOPBOTH_BMP BITMAP "bitmaps/Bitmap_108.bmp"
OLIVEC_TABITEMTOPLEFT_BMP BITMAP "bitmaps/Bitmap_109.bmp"
OLIVEC_TABITEMTOPRIGHT_BMP BITMAP "bitmaps/Bitmap_110.bmp"
OLIVEC_TABITEMTOP_BMP BITMAP "bitmaps/Bitmap_111.bmp"
OLIVEC_TABITEM_BMP BITMAP "bitmaps/Bitmap_112.bmp"
OLIVEC_TABPANEEDGE_BMP BITMAP "bitmaps/Bitmap_113.bmp"
OLIVEC_TASKBANDBUTTONNOEDGEVERTICAL_BMP BITMAP "bitmaps/Bitmap_114.bmp"
OLIVEC_TASKBANDBUTTONNOEDGE_BMP BITMAP "bitmaps/Bitmap_115.bmp"
OLIVEC_TASKBANDBUTTONVERTICAL_BMP BITMAP "bitmaps/Bitmap_116.bmp"
OLIVEC_TASKBANDBUTTON_BMP BITMAP "bitmaps/Bitmap_117.bmp"
OLIVEC_TASKBANDFLASHBUTTONGROUPMENU_BMP BITMAP "bitmaps/Bitmap_118.bmp"
OLIVEC_TASKBANDFLASHBUTTON_BMP BITMAP "bitmaps/Bitmap_119.bmp"
OLIVEC_TASKBANDSCROLLARROWGLYPHS_BMP BITMAP "bitmaps/Bitmap_120.bmp"
OLIVEC_TASKBANDSCROLLARROWS_BMP BITMAP "bitmaps/Bitmap_121.bmp"
OLIVEC_TASKBANDSCROLLSHAFTHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_122.bmp"
OLIVEC_TASKBANDSCROLLSHAFTVERTICAL_BMP BITMAP "bitmaps/Bitmap_123.bmp"
OLIVEC_TASKBANDSCROLLTHUMBGRIPPERHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_124.bmp"
OLIVEC_TASKBANDSCROLLTHUMBGRIPPERVERTICAL_BMP BITMAP "bitmaps/Bitmap_125.bmp"
OLIVEC_TASKBANDSCROLLTHUMBHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_126.bmp"
OLIVEC_TASKBANDSCROLLTHUMBVERTICAL_BMP BITMAP "bitmaps/Bitmap_127.bmp"
OLIVEC_TASKBARBACKGROUNDTOP_BMP BITMAP "bitmaps/Bitmap_128.bmp"
OLIVEC_TASKBARBACKGROUNDVERTICAL_BMP BITMAP "bitmaps/Bitmap_129.bmp"
OLIVEC_TASKBARBACKGROUND_BMP BITMAP "bitmaps/Bitmap_130.bmp"
OLIVEC_TASKBARCHEVRONVERT_BMP BITMAP "bitmaps/Bitmap_131.bmp"
OLIVEC_TASKBARCHEVRON_BMP BITMAP "bitmaps/Bitmap_132.bmp"
OLIVEC_TASKBARGRIPPERVERTICAL_BMP BITMAP "bitmaps/Bitmap_133.bmp"
OLIVEC_TASKBARGRIPPER_BMP BITMAP "bitmaps/Bitmap_134.bmp"
OLIVEC_TASKBARSIZINGBARBOTTOM_BMP BITMAP "bitmaps/Bitmap_135.bmp"
OLIVEC_TASKBARSIZINGBARLEFT_BMP BITMAP "bitmaps/Bitmap_136.bmp"
OLIVEC_TASKBARSIZINGBARRIGHT_BMP BITMAP "bitmaps/Bitmap_137.bmp"
OLIVEC_TASKBARSIZINGBARTOP_BMP BITMAP "bitmaps/Bitmap_138.bmp"
OLIVEC_TASKBARTRAYVERTICAL_BMP BITMAP "bitmaps/Bitmap_139.bmp"
OLIVEC_TASKBARTRAY_BMP BITMAP "bitmaps/Bitmap_140.bmp"
OLIVEC_TOOLBARBACKGROUND_BMP BITMAP "bitmaps/Bitmap_141.bmp"
OLIVEC_TOOLBARBUTTONSSPLITDROPDOWNGLYPH_BMP BITMAP "bitmaps/Bitmap_142.bmp"
OLIVEC_TOOLBARBUTTONSSPLITDROPDOWN_BMP BITMAP "bitmaps/Bitmap_143.bmp"
OLIVEC_TOOLBARBUTTONSSPLIT_BMP BITMAP "bitmaps/Bitmap_144.bmp"
OLIVEC_TOOLBARBUTTONS_BMP BITMAP "bitmaps/Bitmap_145.bmp"
OLIVEC_TOOLBARGRIPPERVERT_BMP BITMAP "bitmaps/Bitmap_146.bmp"
OLIVEC_TOOLBARGRIPPER_BMP BITMAP "bitmaps/Bitmap_147.bmp"
OLIVEC_TRACKBARDOWN_BMP BITMAP "bitmaps/Bitmap_148.bmp"
OLIVEC_TRACKBARHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_149.bmp"
OLIVEC_TRACKBARLEFT_BMP BITMAP "bitmaps/Bitmap_150.bmp"
OLIVEC_TRACKBARRIGHT_BMP BITMAP "bitmaps/Bitmap_151.bmp"
OLIVEC_TRACKBARUP_BMP BITMAP "bitmaps/Bitmap_152.bmp"
OLIVEC_TRACKBARVERTICAL_BMP BITMAP "bitmaps/Bitmap_153.bmp"
OLIVEC_TRAYCHEVRONHORIZONTALOPEN_BMP BITMAP "bitmaps/Bitmap_154.bmp"
OLIVEC_TRAYCHEVRONHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_155.bmp"
OLIVEC_TRAYCHEVRONVERTICALOPEN_BMP BITMAP "bitmaps/Bitmap_156.bmp"
OLIVEC_TRAYCHEVRONVERTICAL_BMP BITMAP "bitmaps/Bitmap_157.bmp"
OLIVEC_TREEEXPANDCOLLAPSE_BMP BITMAP "bitmaps/Bitmap_158.bmp"
OLIVEC_USERTILEBACKGROUND_BMP BITMAP "bitmaps/Bitmap_159.bmp"
OLIVEM_BALLOONCLOSE_BMP BITMAP "bitmaps/Bitmap_160.bmp"
OLIVEM_BUTTON_BMP BITMAP "bitmaps/Bitmap_161.bmp"
OLIVEM_CAPTIONBUTTON_BMP BITMAP "bitmaps/Bitmap_162.bmp"
OLIVEM_CHECKBOX13_BMP BITMAP "bitmaps/Bitmap_163.bmp"
OLIVEM_CHEVRON_BMP BITMAP "bitmaps/Bitmap_164.bmp"
OLIVEM_CLOSEGLYPHS_BMP BITMAP "bitmaps/Bitmap_165.bmp"
OLIVEM_CLOSEGLYPH_BMP BITMAP "bitmaps/Bitmap_166.bmp"
OLIVEM_COMBOBOXBEVEL_BMP BITMAP "bitmaps/Bitmap_167.bmp"
OLIVEM_COMBOBUTTONGLYPH_BMP BITMAP "bitmaps/Bitmap_168.bmp"
OLIVEM_COMBOBUTTON_BMP BITMAP "bitmaps/Bitmap_169.bmp"
OLIVEM_EXPLORERBARHEADERBACKGROUND_BMP BITMAP "bitmaps/Bitmap_170.bmp"
OLIVEM_EXPLORERBARHEADERCLOSE_BMP BITMAP "bitmaps/Bitmap_171.bmp"
OLIVEM_EXPLORERBARHEADERPIN_BMP BITMAP "bitmaps/Bitmap_172.bmp"
OLIVEM_EXPLORERBARTOOLBARBACKGROUND_BMP BITMAP "bitmaps/Bitmap_173.bmp"
OLIVEM_EXPLORERBARTOOLBARBUTTONS_BMP BITMAP "bitmaps/Bitmap_174.bmp"
OLIVEM_FIELDOUTLINEBLUE_BMP BITMAP "bitmaps/Bitmap_175.bmp"
OLIVEM_FRAMEBOTTOM_BMP BITMAP "bitmaps/Bitmap_176.bmp"
OLIVEM_FRAMECAPTIONMIN_BMP BITMAP "bitmaps/Bitmap_177.bmp"
OLIVEM_FRAMECAPTIONSIZING_BMP BITMAP "bitmaps/Bitmap_178.bmp"
OLIVEM_FRAMECAPTION_BMP BITMAP "bitmaps/Bitmap_179.bmp"
OLIVEM_FRAMELEFT_BMP BITMAP "bitmaps/Bitmap_180.bmp"
OLIVEM_FRAMEMAXIMIZED_BMP BITMAP "bitmaps/Bitmap_181.bmp"
OLIVEM_FRAMERIGHT_BMP BITMAP "bitmaps/Bitmap_182.bmp"
OLIVEM_GRIPPERVERT_BMP BITMAP "bitmaps/Bitmap_183.bmp"
OLIVEM_GROUPBOX_BMP BITMAP "bitmaps/Bitmap_184.bmp"
OLIVEM_HELPCAPTIONBUTTON_BMP BITMAP "bitmaps/Bitmap_185.bmp"
OLIVEM_HELPGLYPHS_BMP BITMAP "bitmaps/Bitmap_186.bmp"
OLIVEM_HELPGLYPH_BMP BITMAP "bitmaps/Bitmap_187.bmp"
OLIVEM_IE_PERSONALBARMENU_BMP BITMAP "bitmaps/Bitmap_188.bmp"
OLIVEM_LISTVIEWHEADERBACKGROUND_BMP BITMAP "bitmaps/Bitmap_189.bmp"
OLIVEM_LISTVIEWHEADER_BMP BITMAP "bitmaps/Bitmap_190.bmp"
OLIVEM_MAXIMIZEGLYPHS_BMP BITMAP "bitmaps/Bitmap_191.bmp"
OLIVEM_MAXIMIZEGLYPH_BMP BITMAP "bitmaps/Bitmap_192.bmp"
OLIVEM_MDICAPTIONBUTTON_BMP BITMAP "bitmaps/Bitmap_193.bmp"
OLIVEM_MDIGLYPHCLOSE_BMP BITMAP "bitmaps/Bitmap_194.bmp"
OLIVEM_MDIGLYPHMINIMIZE_BMP BITMAP "bitmaps/Bitmap_195.bmp"
OLIVEM_MDIGLYPHRESTORE_BMP BITMAP "bitmaps/Bitmap_196.bmp"
OLIVEM_MINIMIZEGLYPHS_BMP BITMAP "bitmaps/Bitmap_197.bmp"
OLIVEM_MINIMIZEGLYPH_BMP BITMAP "bitmaps/Bitmap_198.bmp"
OLIVEM_NORMALGROUPBACKGROUND_BMP BITMAP "bitmaps/Bitmap_199.bmp"
OLIVEM_NORMALGROUPCOLLAPSE_BMP BITMAP "bitmaps/Bitmap_200.bmp"
OLIVEM_NORMALGROUPEXPAND_BMP BITMAP "bitmaps/Bitmap_201.bmp"
OLIVEM_NORMALGROUPHEAD_BMP BITMAP "bitmaps/Bitmap_202.bmp"
OLIVEM_PLACEBARBACKGROUND_BMP BITMAP "bitmaps/Bitmap_203.bmp"
OLIVEM_PLACEBARBUTTONS_BMP BITMAP "bitmaps/Bitmap_204.bmp"
OLIVEM_PROGRESSCHUNKVERT_BMP BITMAP "bitmaps/Bitmap_205.bmp"
OLIVEM_PROGRESSCHUNK_BMP BITMAP "bitmaps/Bitmap_206.bmp"
OLIVEM_PROGRESSTRACKVERT_BMP BITMAP "bitmaps/Bitmap_207.bmp"
OLIVEM_PROGRESSTRACK_BMP BITMAP "bitmaps/Bitmap_208.bmp"
OLIVEM_RADIOBUTTON_BMP BITMAP "bitmaps/Bitmap_209.bmp"
OLIVEM_RESIZEGRIP2_BMP BITMAP "bitmaps/Bitmap_210.bmp"
OLIVEM_RESTOREGLYPHS_BMP BITMAP "bitmaps/Bitmap_211.bmp"
OLIVEM_RESTOREGLYPH_BMP BITMAP "bitmaps/Bitmap_212.bmp"
OLIVEM_SCROLLARROWGLYPHSSMALL_BMP BITMAP "bitmaps/Bitmap_213.bmp"
OLIVEM_SCROLLARROWGLYPHS_BMP BITMAP "bitmaps/Bitmap_214.bmp"
OLIVEM_SCROLLARROWS_BMP BITMAP "bitmaps/Bitmap_215.bmp"
OLIVEM_SCROLLSHAFTHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_216.bmp"
OLIVEM_SCROLLSHAFTVERTICAL_BMP BITMAP "bitmaps/Bitmap_217.bmp"
OLIVEM_SCROLLTHUMBGRIPPERHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_218.bmp"
OLIVEM_SCROLLTHUMBGRIPPERVERTICAL_BMP BITMAP "bitmaps/Bitmap_219.bmp"
OLIVEM_SCROLLTHUMBHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_220.bmp"
OLIVEM_SCROLLTHUMBVERTICAL_BMP BITMAP "bitmaps/Bitmap_221.bmp"
OLIVEM_SEPARATORVERT_BMP BITMAP "bitmaps/Bitmap_222.bmp"
OLIVEM_SEPARATOR_BMP BITMAP "bitmaps/Bitmap_223.bmp"
OLIVEM_SLIDERTRACK_BMP BITMAP "bitmaps/Bitmap_224.bmp"
OLIVEM_SMALLCLOSEBUTTON_BMP BITMAP "bitmaps/Bitmap_225.bmp"
OLIVEM_SMALLCLOSEGLYPH_BMP BITMAP "bitmaps/Bitmap_226.bmp"
OLIVEM_SMALLFRAMEBOTTOM_BMP BITMAP "bitmaps/Bitmap_227.bmp"
OLIVEM_SMALLFRAMECAPTIONSIZING_BMP BITMAP "bitmaps/Bitmap_228.bmp"
OLIVEM_SMALLFRAMECAPTION_BMP BITMAP "bitmaps/Bitmap_229.bmp"
OLIVEM_SMALLFRAMELEFT_BMP BITMAP "bitmaps/Bitmap_230.bmp"
OLIVEM_SMALLFRAMERIGHT_BMP BITMAP "bitmaps/Bitmap_231.bmp"
OLIVEM_SPECIALGROUPBACKGROUND_BMP BITMAP "bitmaps/Bitmap_232.bmp"
OLIVEM_SPECIALGROUPCOLLAPSE_BMP BITMAP "bitmaps/Bitmap_233.bmp"
OLIVEM_SPECIALGROUPEXPAND_BMP BITMAP "bitmaps/Bitmap_234.bmp"
OLIVEM_SPECIALGROUPHEAD_BMP BITMAP "bitmaps/Bitmap_235.bmp"
OLIVEM_SPINBUTTONBACKGROUNDDOWN_BMP BITMAP "bitmaps/Bitmap_236.bmp"
OLIVEM_SPINBUTTONBACKGROUNDLEFT_BMP BITMAP "bitmaps/Bitmap_237.bmp"
OLIVEM_SPINBUTTONBACKGROUNDRIGHT_BMP BITMAP "bitmaps/Bitmap_238.bmp"
OLIVEM_SPINBUTTONBACKGROUNDUP_BMP BITMAP "bitmaps/Bitmap_239.bmp"
OLIVEM_SPINDOWNGLYPH_BMP BITMAP "bitmaps/Bitmap_240.bmp"
OLIVEM_SPINLEFTGLYPH_BMP BITMAP "bitmaps/Bitmap_241.bmp"
OLIVEM_SPINRIGHTGLYPH_BMP BITMAP "bitmaps/Bitmap_242.bmp"
OLIVEM_SPINUPGLYPH_BMP BITMAP "bitmaps/Bitmap_243.bmp"
OLIVEM_STARTBUTTON_BMP BITMAP "bitmaps/Bitmap_244.bmp"
OLIVEM_STARTGROUPBACKGROUND_BMP BITMAP "bitmaps/Bitmap_245.bmp"
OLIVEM_STARTGROUPNEWAPPBUTTON_BMP BITMAP "bitmaps/Bitmap_246.bmp"
OLIVEM_STARTGROUPSEPERATOR_BMP BITMAP "bitmaps/Bitmap_247.bmp"
OLIVEM_STARTGROUPTOOLBARBUTTON_BMP BITMAP "bitmaps/Bitmap_248.bmp"
OLIVEM_STARTPANELLOGOFFBACKGROUND_BMP BITMAP "bitmaps/Bitmap_249.bmp"
OLIVEM_STARTPANELLOGOFFBUTTONSHOT_BMP BITMAP "bitmaps/Bitmap_250.bmp"
OLIVEM_STARTPANELLOGOFFBUTTONS_BMP BITMAP "bitmaps/Bitmap_251.bmp"
OLIVEM_STARTPANELMFUBACKGROUND_BMP BITMAP "bitmaps/Bitmap_252.bmp"
OLIVEM_STARTPANELMOREPROGARROWHOT_BMP BITMAP "bitmaps/Bitmap_253.bmp"
OLIVEM_STARTPANELMOREPROGARROW_BMP BITMAP "bitmaps/Bitmap_254.bmp"
OLIVEM_STARTPANELMOREPROGBACKGROUND_BMP BITMAP "bitmaps/Bitmap_255.bmp"
OLIVEM_STARTPANELPLACESBACKGROUND_BMP BITMAP "bitmaps/Bitmap_256.bmp"
OLIVEM_STARTPLACESSEPARATOR_BMP BITMAP "bitmaps/Bitmap_257.bmp"
OLIVEM_STARTPROGRAMSSEPARATOR_BMP BITMAP "bitmaps/Bitmap_258.bmp"
OLIVEM_STARTUSERPANEL_BMP BITMAP "bitmaps/Bitmap_259.bmp"
OLIVEM_STATUSBACKGROUND_BMP BITMAP "bitmaps/Bitmap_260.bmp"
OLIVEM_STATUSPANE_BMP BITMAP "bitmaps/Bitmap_261.bmp"
OLIVEM_TABBACKGROUND133_BMP BITMAP "bitmaps/Bitmap_262.bmp"
OLIVEM_TABBACKGROUND_BMP BITMAP "bitmaps/Bitmap_263.bmp"
OLIVEM_TABITEMBOTH_BMP BITMAP "bitmaps/Bitmap_264.bmp"
OLIVEM_TABITEMLEFT_BMP BITMAP "bitmaps/Bitmap_265.bmp"
OLIVEM_TABITEMRIGHT_BMP BITMAP "bitmaps/Bitmap_266.bmp"
OLIVEM_TABITEMTOPBOTH_BMP BITMAP "bitmaps/Bitmap_267.bmp"
OLIVEM_TABITEMTOPLEFT_BMP BITMAP "bitmaps/Bitmap_268.bmp"
OLIVEM_TABITEMTOPRIGHT_BMP BITMAP "bitmaps/Bitmap_269.bmp"
OLIVEM_TABITEMTOP_BMP BITMAP "bitmaps/Bitmap_270.bmp"
OLIVEM_TABITEM_BMP BITMAP "bitmaps/Bitmap_271.bmp"
OLIVEM_TABPANEEDGE_BMP BITMAP "bitmaps/Bitmap_272.bmp"
OLIVEM_TASKBANDBUTTONNOEDGEVERTICAL_BMP BITMAP "bitmaps/Bitmap_273.bmp"
OLIVEM_TASKBANDBUTTONNOEDGE_BMP BITMAP "bitmaps/Bitmap_274.bmp"
OLIVEM_TASKBANDBUTTONVERTICAL_BMP BITMAP "bitmaps/Bitmap_275.bmp"
OLIVEM_TASKBANDBUTTON_BMP BITMAP "bitmaps/Bitmap_276.bmp"
OLIVEM_TASKBANDFLASHBUTTONGROUPMENU_BMP BITMAP "bitmaps/Bitmap_277.bmp"
OLIVEM_TASKBANDFLASHBUTTON_BMP BITMAP "bitmaps/Bitmap_278.bmp"
OLIVEM_TASKBANDSCROLLARROWGLYPHS_BMP BITMAP "bitmaps/Bitmap_279.bmp"
OLIVEM_TASKBANDSCROLLARROWS_BMP BITMAP "bitmaps/Bitmap_280.bmp"
OLIVEM_TASKBANDSCROLLSHAFTHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_281.bmp"
OLIVEM_TASKBANDSCROLLSHAFTVERTICAL_BMP BITMAP "bitmaps/Bitmap_282.bmp"
OLIVEM_TASKBANDSCROLLTHUMBGRIPPERHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_283.bmp"
OLIVEM_TASKBANDSCROLLTHUMBGRIPPERVERTICAL_BMP BITMAP "bitmaps/Bitmap_284.bmp"
OLIVEM_TASKBANDSCROLLTHUMBHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_285.bmp"
OLIVEM_TASKBANDSCROLLTHUMBVERTICAL_BMP BITMAP "bitmaps/Bitmap_286.bmp"
OLIVEM_TASKBARBACKGROUNDTOP_BMP BITMAP "bitmaps/Bitmap_287.bmp"
OLIVEM_TASKBARBACKGROUNDVERTICAL_BMP BITMAP "bitmaps/Bitmap_288.bmp"
OLIVEM_TASKBARBACKGROUND_BMP BITMAP "bitmaps/Bitmap_289.bmp"
OLIVEM_TASKBARCHEVRONVERT_BMP BITMAP "bitmaps/Bitmap_290.bmp"
OLIVEM_TASKBARCHEVRON_BMP BITMAP "bitmaps/Bitmap_291.bmp"
OLIVEM_TASKBARGRIPPERVERTICAL_BMP BITMAP "bitmaps/Bitmap_292.bmp"
OLIVEM_TASKBARGRIPPER_BMP BITMAP "bitmaps/Bitmap_293.bmp"
OLIVEM_TASKBARSIZINGBARBOTTOM_BMP BITMAP "bitmaps/Bitmap_294.bmp"
OLIVEM_TASKBARSIZINGBARLEFT_BMP BITMAP "bitmaps/Bitmap_295.bmp"
OLIVEM_TASKBARSIZINGBARRIGHT_BMP BITMAP "bitmaps/Bitmap_296.bmp"
OLIVEM_TASKBARSIZINGBARTOP_BMP BITMAP "bitmaps/Bitmap_297.bmp"
OLIVEM_TASKBARTRAYVERTICAL_BMP BITMAP "bitmaps/Bitmap_298.bmp"
OLIVEM_TASKBARTRAY_BMP BITMAP "bitmaps/Bitmap_299.bmp"
OLIVEM_TOOLBARBACKGROUND_BMP BITMAP "bitmaps/Bitmap_300.bmp"
OLIVEM_TOOLBARBUTTONSSPLITDROPDOWNGLYPH_BMP BITMAP "bitmaps/Bitmap_301.bmp"
OLIVEM_TOOLBARBUTTONSSPLITDROPDOWN_BMP BITMAP "bitmaps/Bitmap_302.bmp"
OLIVEM_TOOLBARBUTTONSSPLIT_BMP BITMAP "bitmaps/Bitmap_303.bmp"
OLIVEM_TOOLBARBUTTONS_BMP BITMAP "bitmaps/Bitmap_304.bmp"
OLIVEM_TOOLBARGRIPPERVERT_BMP BITMAP "bitmaps/Bitmap_305.bmp"
OLIVEM_TOOLBARGRIPPER_BMP BITMAP "bitmaps/Bitmap_306.bmp"
OLIVEM_TRACKBARDOWN_BMP BITMAP "bitmaps/Bitmap_307.bmp"
OLIVEM_TRACKBARHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_308.bmp"
OLIVEM_TRACKBARLEFT_BMP BITMAP "bitmaps/Bitmap_309.bmp"
OLIVEM_TRACKBARRIGHT_BMP BITMAP "bitmaps/Bitmap_310.bmp"
OLIVEM_TRACKBARUP_BMP BITMAP "bitmaps/Bitmap_311.bmp"
OLIVEM_TRACKBARVERTICAL_BMP BITMAP "bitmaps/Bitmap_312.bmp"
OLIVEM_TRAYCHEVRONHORIZONTALOPEN_BMP BITMAP "bitmaps/Bitmap_313.bmp"
OLIVEM_TRAYCHEVRONHORIZONTAL_BMP BITMAP "bitmaps/Bitmap_314.bmp"
OLIVEM_TRAYCHEVRONVERTICALOPEN_BMP BITMAP "bitmaps/Bitmap_315.bmp"
OLIVEM_TRAYCHEVRONVERTICAL_BMP BITMAP "bitmaps/Bitmap_316.bmp"
OLIVEM_TREEEXPANDCOLLAPSE_BMP BITMAP "bitmaps/Bitmap_317.bmp"
OLIVEM_USERTILEBACKGROUND_BMP BITMAP "bitmaps/Bitmap_318.bmp"

#pragma code_page(65001)

#ifdef LANGUAGE_EN_US
    #include "lang/en-US.rc"
#endif
