/*
 * Turkish Resources for Wordpad
 *
 * Copyright 2006 Fatih Aþýcý <fasici@linux-sevenler.org>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

MAINMENU MENU DISCARDABLE 
BEGIN
    POPUP "&Dosya"
    BEGIN
        MENUITEM "&Yeni",         ID_FILE_NEW
        MENUITEM "&Aç",           ID_FILE_OPEN
        MENUITEM "&Kaydet",       ID_FILE_SAVE
        MENUITEM SEPARATOR
        MENUITEM "&Çýk",          ID_FILE_EXIT
    END
    POPUP "&Düzen"
    BEGIN
        MENUITEM "&Geri Al\tCtrl+Z",            ID_EDIT_UNDO
        MENUITEM "&Yinele\tCtrl+Y",             ID_EDIT_REDO
        MENUITEM "&Tümünü seç\tCtrl+A",         ID_EDIT_SELECTALL
        MENUITEM SEPARATOR
        MENUITEM "Ke&s\tCtrl+X",                ID_EDIT_CUT
        MENUITEM "&Kopyala\tCtrl+C",            ID_EDIT_COPY
        MENUITEM SEPARATOR
        MENUITEM "Salt-&okunur",                ID_EDIT_READONLY
        MENUITEM "&Deðiþmiþ",                   ID_EDIT_MODIFIED
        MENUITEM SEPARATOR
        POPUP "D&iðerleri"
        BEGIN
            MENUITEM "Seçim &bilgisi",              ID_EDIT_SELECTIONINFO
            MENUITEM "Karakter bi&çimi",            ID_EDIT_CHARFORMAT
            MENUITEM "&Öntanýmlý kar. biçimi",      ID_EDIT_DEFCHARFORMAT
            MENUITEM "Paragra&f biçimi",            ID_EDIT_PARAFORMAT
            MENUITEM "&Metni al",                   ID_EDIT_GETTEXT
        END
    END
    POPUP "&Biçim"
    BEGIN
        POPUP "&Arkaplan"
        BEGIN
            MENUITEM "S&istem\tCtrl+1",         ID_BACK_1
            MENUITEM "&Sarýmtýrak\tCtrl+2",     ID_BACK_2
        END
        POPUP "&Hizalama"
        BEGIN
            MENUITEM "S&ol\tCtrl+L",          ID_ALIGN_LEFT
            MENUITEM "O&rta\tCtrl+E",         ID_ALIGN_CENTER
            MENUITEM "S&að\tCtrl+R",          ID_ALIGN_RIGHT
        END
    END
END
