/* TRANSLATOR: 2014 Erdem Ersoy (eersoy93) (erdemersoy@live.com) */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

IDD_NETPROPERTIES DIALOGEX 0, 0, 246, 246
STYLE DS_SHELLFONT | WS_CHILD | WS_CAPTION
CAPTION "Umûmî"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_COMPONENTSLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 9, 71, 230, 55
    LTEXT "Bağlantıda Kullanılıyor:", -1, 9, 9, 217, 8
    EDITTEXT IDC_NETCARDNAME, 9, 21, 230, 12, WS_BORDER | WS_TABSTOP | ES_READONLY
    PUSHBUTTON "&Yapılandır", IDC_CONFIGURE, 189, 38, 50, 14
    LTEXT "Bu Bağlantıyla Kullanılan Seçilmiş Bileşenler:", -1, 9, 59, 217, 8
    PUSHBUTTON "&Kur", IDC_INSTALL, 9, 130, 65, 14, WS_DISABLED | WS_TABSTOP
    PUSHBUTTON "K&aldır", IDC_UNINSTALL, 90, 130, 65, 14, WS_DISABLED | WS_TABSTOP
    PUSHBUTTON "&Husûsiyetler", IDC_PROPERTIES, 174, 130, 65, 14
    GROUPBOX "Tanım", -1, 9, 153, 230, 46, BS_GROUPBOX
    LTEXT "Bileşen tanımı buraya gelecek.", IDC_DESCRIPTION, 15, 165, 217, 28, WS_GROUP
    CHECKBOX "&Bağlandığında Görev Çubuğunda Simge Göster", IDC_SHOWTASKBAR, 9, 206, 230, 12, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "B&u Bağlantının, Kısıtlı Bağlanabilirliği Varsa ya da Bağlanabilirliği Yoksa Beni Uyar", IDC_NOTIFYNOCONNECTION, 9, 220, 230, 12, BS_AUTOCHECKBOX | WS_TABSTOP
END

IDD_STATUS DIALOGEX 0, 0, 200, 280
STYLE DS_SHELLFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Umûmî"
FONT 8, "MS Shell Dlg"
BEGIN
END

IDD_LAN_NETSTATUS DIALOGEX 0, 0, 200, 180
STYLE DS_SHELLFONT | WS_CHILD | WS_CAPTION
CAPTION "Umûmî"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Bağlantı", -1, 9, 8, 182, 58, BS_GROUPBOX
    LTEXT "Durum:", -1, 19, 20, 60, 8
    LTEXT "Süre:", -1, 19, 34, 60, 8
    LTEXT "Hız:", -1, 19, 48, 60, 8
    GROUPBOX "Etkinlik", -1, 9, 74, 182, 70, BS_GROUPBOX
    RTEXT "Gönderilen", -1, 26, 90, 60, 8
    ICON "", IDC_NETSTAT, 110, 85, 32, 32
    LTEXT "Alınan", -1, 149, 90, 37, 8
    LTEXT "Çoklu:", -1, 17, 115, 32, 8
    RTEXT "000.000.000", IDC_SEND, 63, 115, 44, 8
    RTEXT "000.000.000", IDC_RECEIVED, 139, 115, 44, 8
    PUSHBUTTON "&Husûsiyetler", IDC_STATUS_PROPERTIES, 10, 150, 50, 14
    PUSHBUTTON "&Edilginleştir", IDC_ENDISABLE, 66, 150, 50, 14
    RTEXT "", IDC_STATUS, 83, 20, 98, 8
    RTEXT "", IDC_DURATION, 83, 34, 98, 8
    RTEXT "", IDC_SPEED, 83, 48, 98, 8
END

IDD_LAN_NETSTATUSADVANCED DIALOGEX 0, 0, 200, 180
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Destek"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Bağlantı Durumu", -1, 9, 8, 190, 88, BS_GROUPBOX
    LTEXT "Adres Türü:", -1, 22, 20, 80, 8
    LTEXT "IP Adresi:", -1, 22, 34, 80, 8
    LTEXT "Alt Ağ Maskesi:", -1, 22, 48, 80, 8
    LTEXT "Ön Tanımlı Geçit:", -1, 22, 62, 80, 8
    RTEXT "Yok", IDC_DETAILSTYPE, 112, 20, 80, 8
    RTEXT "000.000.000.000", IDC_DETAILSIP, 112, 34, 80, 8
    RTEXT "000.000.000.000", IDC_DETAILSSUBNET, 112, 48, 80, 8
    RTEXT "", IDC_DETAILSGATEWAY, 112, 62, 80, 8
    PUSHBUTTON "&Ayrıntılar...", IDC_DETAILS, 22, 76, 62, 14
END

IDD_LAN_NETSTATUSDETAILS DIALOGEX 0, 0, 190, 175
STYLE DS_SHELLFONT | WS_POPUP | WS_CAPTION
CAPTION "Ağ Bağlantısı Ayrıntıları"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Ağ Bağlantısı Ayrıntıları:", -1, 10, 4, 170, 12
    CONTROL "", IDC_DETAILS, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 10, 15, 170, 130
    PUSHBUTTON "&Kapat", IDC_CLOSE, 120, 155, 60, 14
END

STRINGTABLE
BEGIN
    IDS_PHYSICAL_ADDRESS "Fizîkî Adres"
    IDS_IP_ADDRESS "IP Adresi"
    IDS_SUBNET_MASK "Alt Ağ Maskesi"
    IDS_DEF_GATEWAY "Ön Tanımlı Geçit"
    IDS_DHCP_SERVER "DHCP Sunucusu"
    IDS_LEASE_OBTAINED "Elde Edilen Kirâ"
    IDS_LEASE_EXPIRES "Kirâ Bitişi"
    IDS_DNS_SERVERS "DNS Sunucuları"
    IDS_WINS_SERVERS "WINS Sunucuları"
    IDS_PROPERTY "Husûsiyet"
    IDS_VALUE "Değer"
    IDS_NETWORKCONNECTION "Ağ Bağlantısı"
    IDS_SHV_COLUMN_NAME "Ad"
    IDS_SHV_COLUMN_TYPE "Tür"
    IDS_SHV_COLUMN_STATE "Durum"
    IDS_SHV_COLUMN_DEVNAME "Aygıt Adı"
    IDS_SHV_COLUMN_PHONE "Telefon Numarası ya da Anabilgisayar Adresi"
    IDS_SHV_COLUMN_OWNER "İye"
    IDS_TYPE_ETHERNET "LAN ya da Yüksek Hızlı Umûmî Ağ"
    IDS_STATUS_NON_OPERATIONAL "Edilgin"
    IDS_STATUS_UNREACHABLE "Bağlı Değil"
    IDS_STATUS_DISCONNECTED "Ağ kablosu takılmamış."
    IDS_STATUS_CONNECTING "Elde Edilen Ağ Adresi"
    IDS_STATUS_CONNECTED "Bağlı"
    IDS_STATUS_OPERATIONAL "Bağlı"
    IDS_NET_ACTIVATE "Etkinleştir"
    IDS_NET_DEACTIVATE "Edilginleştir"
    IDS_NET_STATUS "Durum"
    IDS_NET_REPAIR "Onar"
    IDS_NET_CREATELINK "Kısayol Oluştur"
    IDS_NET_DELETE "Sil"
    IDS_NET_RENAME "Yeniden Adlandır"
    IDS_NET_PROPERTIES "Husûsiyetler"
    IDS_FORMAT_BIT "%u Bit/s"
    IDS_FORMAT_KBIT "%u KBit/s"
    IDS_FORMAT_MBIT "%u MBit/s"
    IDS_FORMAT_GBIT "%u GBit/s"
    IDS_DURATION_DAY "%d Gün %s"
    IDS_DURATION_DAYS "%d Gün %s"
    IDS_ASSIGNED_DHCP "DHCP eliyle atanmış."
    IDS_ASSIGNED_MANUAL "Elle yapılandırılmış."
END
