LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_NT_AUTHORITY "ZARZĄDZANIE NT"
    IDS_NULL_RID "NULL SID"
    IDS_WORLD_RID "Wszyscy"
    IDS_LOCAL_RID "LOKALNY"
    IDS_CREATOR_OWNER_RID "TWÓRCA-WŁAŚCICIEL"
    IDS_CREATOR_GROUP_RID "GRUPA TWÓRCÓW"
    IDS_CREATOR_OWNER_SERVER_RID "SERWER TWÓRCA-WŁAŚCICIEL"
    IDS_CREATOR_GROUP_SERVER_RID "SERWER GRUPY TWÓRCÓW"
    IDS_DIALUP_RID "DIALUP"
    IDS_NETWORK_RID "SIEĆ"
    IDS_BATCH_RID "WSADOWY"
    IDS_INTERACTIVE_RID "INTERAKTYWNA"
    IDS_SERVICE_RID "USŁUGA"
    IDS_ANONYMOUS_LOGON_RID "LOGOWANIE ANONIMOWE"
    IDS_PROXY_RID "PROXY"
    IDS_ENTERPRISE_CONTROLLERS_RID "KONTROLERY DOMENY PRZEDSIĘBIORSTWA"
    IDS_PRINCIPAL_SELF_RID "SELF"
    IDS_AUTHENTICATED_USER_RID "Użytkownicy uwierzytelnieni"
    IDS_RESTRICTED_CODE_RID "Z OGRANICZENIAMI"
    IDS_TERMINAL_SERVER_RID "UŻYTKOWNIK SERWERA TERMINALI"
    IDS_REMOTE_LOGON_RID "ZDALNE LOGOWANIE INTERAKCYJNE"
    IDS_THIS_ORGANIZATION_RID "Ta organizacja"
    IDS_LOCAL_SYSTEM_RID "SYSTEM"
    IDS_LOCAL_SERVICE_RID "USŁUGA LOKALNA"
    IDS_NETWORK_SERVICE_RID "USŁUGA SIECIOWA"
    IDS_BUILTIN_DOMAIN_RID "BUILTIN"
    IDS_ALIAS_RID_ADMINS "Administratorzy"
    IDS_ALIAS_RID_USERS "Użytkownicy"
    IDS_ALIAS_RID_GUESTS "Goście"
    IDS_ALIAS_RID_POWER_USERS "Użytkownicy zaawansowani"
    IDS_ALIAS_RID_ACCOUNT_OPS "Operatorzy kont"
    IDS_ALIAS_RID_SYSTEM_OPS "Operatorzy serwerów"
    IDS_ALIAS_RID_PRINT_OPS "Operatorzy drukowania"
    IDS_ALIAS_RID_BACKUP_OPS "Operatorzy kopii zapasowych"
    IDS_ALIAS_RID_REPLICATOR "Replikatorzy"
    IDS_ALIAS_RID_RAS_SERVERS "Serwery RAS i IAS"
    IDS_ALIAS_RID_PREW2KCOMPACCESS "Dostęp zgodny z systemami starszymi niż Windows 2000"
    IDS_ALIAS_RID_REMOTE_DESKTOP_USERS "Użytkownicy pulpitu zdalnego"
    IDS_ALIAS_RID_NETWORK_CONFIGURATION_OPS "Operatorzy konfiguracji sieci"
END

STRINGTABLE
BEGIN
    IDS_CREATE_TOKEN_PRIVILEGE "Utwórz obiekt tokenu"
    IDS_ASSIGNPRIMARYTOKEN_PRIVILEGE "Zamień token na poziomie procesu"
    IDS_LOCK_MEMORY_PRIVILEGE "Blokuj strony w pamięci"
    IDS_INCREASE_QUOTA_PRIVILEGE "Dostosuj przydziały pamięci dla procesów"
    IDS_MACHINE_ACCOUNT_PRIVILEGE "Dodaj stacje robocze do domeny"
    IDS_TCB_PRIVILEGE "Działanie jako część systemu operacyjnego"
    IDS_SECURITY_PRIVILEGE "Zarządzaj dziennikami inspekcji i zabezpieczeń"
    IDS_TAKE_OWNERSHIP_PRIVILEGE "Przejmij na własność pliki lub inne obiekty"
    IDS_LOAD_DRIVER_PRIVILEGE "Ładuj i zwalniaj sterowniki urządzeń"
    IDS_SYSTEM_PROFILE_PRIVILEGE "Profiluj wydajność systemu"
    IDS_SYSTEMTIME_PRIVILEGE "Zmień czas systemowy"
    IDS_PROF_SINGLE_PROCESS_PRIVILEGE "Profiluj pojedynczy proces"
    IDS_INC_BASE_PRIORITY_PRIVILEGE "Zwiększ priorytet planowania"
    IDS_CREATE_PAGEFILE_PRIVILEGE "Utwórz plik stronicowania"
    IDS_CREATE_PERMANENT_PRIVILEGE "Utwórz trwałe obiekty udostępnione"
    IDS_BACKUP_PRIVILEGE "Wykonuj kopie zapasowe plików i katalogów"
    IDS_RESTORE_PRIVILEGE "Przywracaj pliki i katalogi"
    IDS_SHUTDOWN_PRIVILEGE "Zamknij system"
    IDS_DEBUG_PRIVILEGE "Debuguj programy"
    IDS_AUDIT_PRIVILEGE "Generuj inspekcje zabezpieczeń"
    IDS_SYSTEM_ENVIRONMENT_PRIVILEGE "Modyfikuj wartości środowiskowe oprogramowania układowego"
    IDS_CHANGE_NOTIFY_PRIVILEGE "Obejdź sprawdzanie przy przechodzeniu"
    IDS_REMOTE_SHUTDOWN_PRIVILEGE "Wymuszaj zamknięcie z systemu zdalnego"
    IDS_UNDOCK_PRIVILEGE "Usuń komputer ze stacji dokującej"
    IDS_SYNC_AGENT_PRIVILEGE "Synchronizuj dane usługi katalogowej"
    IDS_ENABLE_DELEGATION_PRIVILEGE "Określ konta komputerów i użytkowników jako zaufane w kwestii delegowania"
    IDS_MANAGE_VOLUME_PRIVILEGE "Wykonuj zadania konserwacji woluminów"
    IDS_IMPERSONATE_PRIVILEGE "Personifikuj klienta po uwierzytelnieniu"
    IDS_CREATE_GLOBAL_PRIVILEGE "Utwórz obiekty globalne"
END
