/*
 * Copyright 1994 Martin von Loewis
 * Copyright 2004 Henning Gerhardt
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "resources.h"

#pragma code_page(65001)

LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

SYSMENU MENU
{
 MENUITEM "&Wiederherstellen", 61728
 MENUITEM "&Verschieben", 61456
 MENUITEM "&Größe", 61440
 MENUITEM "Mi&nimieren", 61472
 MENUITEM "Ma&ximieren", 61488
 MENUITEM SEPARATOR
 MENUITEM "&Schließen\tAlt-F4", 61536
 MENUITEM SEPARATOR
 MENUITEM "&Über Wine...", 61761
}

EDITMENU MENU
{
	POPUP ""
	BEGIN
		MENUITEM "&Rückgängig", EM_UNDO
		MENUITEM SEPARATOR
		MENUITEM "&Ausschneiden", WM_CUT
		MENUITEM "&Kopieren", WM_COPY
		MENUITEM "&Einfügen", WM_PASTE
		MENUITEM "&Löschen", WM_CLEAR
		MENUITEM SEPARATOR
		MENUITEM "&Alles markieren", EM_SETSEL
	END
}

MSGBOX DIALOG 100, 80, 216, 168
STYLE DS_MODALFRAME | DS_NOIDLEMSG | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
BEGIN
        ICON "", 1088, 8, 20, 16, 16, WS_CHILD | WS_VISIBLE
        LTEXT "", 100, 32, 4, 176, 48, WS_CHILD | WS_VISIBLE | WS_GROUP | SS_NOPREFIX
        PUSHBUTTON "&OK", 1, 16, 56, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Abbrechen", 2, 84, 56, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "Abbr&uch", 3, 152, 56, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Wiederholen", 4, 220, 56, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ignorieren", 5, 288, 56, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Ja", 6, 356, 56, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Nein", 7, 424, 56, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Erneut versuchen", 10, 492, 56, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "&Fortsetzen", 11, 560, 56, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
        PUSHBUTTON "Hilfe", 9, 628, 56, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

MDI_MOREWINDOWS DIALOG 20, 20, 232, 122
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Fenster auswählen"
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX         MDI_IDC_LISTBOX, 5, 7, 222, 90, WS_VSCROLL | WS_HSCROLL /* defined in mdi.h */
    DEFPUSHBUTTON   "OK", IDOK, 75, 100, 35, 14
    PUSHBUTTON      "Abbrechen", IDCANCEL, 120, 100, 35, 14
END


STRINGTABLE
{
    IDS_ERROR "Fehler"
    IDS_MDI_MOREWINDOWS "&Mehr Fenster..."
}
