[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Marc Schumann <wurblzap@gmail.com>
  #%]

[%# INTERFACE:
  #
  # listselectionvalues: selection values to recreate the current user list.
  #%]

[% BLOCK listselectionurlparams %]
  [% FOREACH field = listselectionvalues.keys %]&amp;
    [% field FILTER url_quote %]=
    [% listselectionvalues.$field FILTER url_quote %]
  [% END %]
[% END %]

[% BLOCK listselectionhiddenfields %]
  [% FOREACH field = listselectionvalues.keys %]
    <input type="hidden" name="[% field FILTER html %]"
           value="[% listselectionvalues.$field FILTER html %]" />
  [% END %]
[% END %]
