[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Marc Schumann <wurblzap@gmail.com>
  #%]

[%# INTERFACE:
  #
  # editform:  is this an edit form? (It's a create form otherwise)
  # editusers: is viewing user member of editusers?
  # otheruser: Bugzilla::User object of user to edit
  #%]

<tr>
  <th><label for="login">Login name:</label></th>
  <td>
    [% IF editusers %]
      <input size="64" maxlength="255" name="login" 
             id="login" value="[% otheruser.login FILTER html %]" />
      [% IF editform %]
        [% IF !otheruser.groups.bz_sudo_protect %]
          <br />
          <a href="relogin.cgi?action=prepare-sudo&amp;target_login=
          [%- otheruser.login FILTER url_quote %]">Impersonate this user</a>
        [% END %]
      [% END %]
    [% ELSE %]
      [% otheruser.login FILTER html %]
    [% END %]
  </td>
</tr>
<tr>
  <th><label for="name">Real name:</label></th>
  <td>
    [% IF editusers %]
      <input size="64" maxlength="255" name="name"
             autocomplete="off"
             id="name" value="[% otheruser.name FILTER html %]" />
    [% ELSE %]
      [% otheruser.name FILTER html %]
    [% END %]
  </td>
</tr>
[% IF editusers %]
  <tr>
    <th><label for="password">Password:</label></th>
    <td>
      <input type="password" size="16" maxlength="16" name="password"
             autocomplete="off"
             id="password" value="" />
      [% IF editform %]<br />
        (Enter new password to change.)
      [% END %]
    </td>
  </tr>
  <tr>
    <th><label for="disable_mail">[% terms.Bug %]mail Disabled:</label></th>
    <td>
      <input type="checkbox" name="disable_mail" id="disable_mail" value="1" 
      [% IF otheruser.email_disabled %] checked="checked" [% END %] />
      (This affects [% terms.bug %]mail and whinemail, not password-reset or other 
      non-[% terms.bug %]-related emails)
    </td>
  </tr>
  <tr>
    <th><label for="disabledtext">Disable text:</label></th>
    <td>
      [% INCLUDE global/textarea.html.tmpl
         name           = 'disabledtext'
         id             = 'disabledtext'
         minrows        = 2
         maxrows        = 10
         defaultrows    = 10
         cols           = 60
         defaultcontent = otheruser.disabledtext
       %]<br>
      (If non-empty, then the account will be disabled, and this text should
      explain why.)
    </td>
  </tr>
[% END %]
