/* Slovak translation
 * Copyleft 2007 Kario (kario@szm.sk)
 */

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

IDM_MAINMENU MENU DISCARDABLE
BEGIN
    POPUP "&Moûnosti"
    BEGIN
        MENUITEM "&Vlastnosti", IDC_PROPERTIES
        MENUITEM "RozöÌrenÈ &ovl·danie", IDC_ADVANCED_CONTROLS
        MENUITEM SEPARATOR
        MENUITEM "&SkonËiù", IDC_EXIT
    END
    POPUP "&PomocnÌk"
    BEGIN
        MENUITEM "&TÈmy PomocnÌka", IDC_HELP_TOPICS
        MENUITEM SEPARATOR
        MENUITEM "»&o je Ovl·danie hlasitosti", IDC_ABOUT
    END
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_SNDVOL32       "Ovl·danie hlasitosti"
    IDS_NOMIXERDEVICES "Nie s˙ dostupnÈ ûiadne zariadenie zmieöavaËa! Program sa teraz ukonËÌ."
END

IDD_PREFERENCES DIALOGEX 0, 0, 224, 250
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Vlastnosti"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  LTEXT "&Zariadenie zmieöavaËa:", -1, 7,4,43,16
  COMBOBOX IDC_MIXERDEVICE, 55,8,162,80, CBS_DROPDOWNLIST | WS_TABSTOP
  GROUPBOX "Nastaviù hlasitosù pre:", -1, 7,25,211,77
  PUSHBUTTON "&Preh·vanie", IDC_PLAYBACK, 13,43,53,8, BS_AUTORADIOBUTTON
  PUSHBUTTON "&Nahr·vanie", IDC_RECORDING, 13,61,53,8, BS_AUTORADIOBUTTON
  PUSHBUTTON "&InÈ:", IDC_OTHER, 13,80,35,8, BS_AUTORADIOBUTTON | WS_DISABLED
  COMBOBOX IDC_LINE, 55,80,155,50, CBS_DROPDOWNLIST | WS_TABSTOP | WS_DISABLED
  LTEXT "Zobraziù tieto ovl·daËe hlasitosti:", IDC_LABELCONTROLS, 7, 109, 162, 8
  CONTROL "", IDC_CONTROLS, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER | WS_TABSTOP | WS_BORDER, 7, 122, 211, 96

  PUSHBUTTON "OK", IDOK, 114,226,50,14
  PUSHBUTTON "Zruöiù", IDCANCEL, 168,226,50,14
END
