/*
 *Spanish Language resource file
 * Traducido por: Javier Remacha 2008-01-12
 */

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
	4097 "El script '%1' no pudo ser encontrado."
	4098 "%1(%2!d!) : fin de archivo inesperado"
	4099 "%1(%2!d!) : '%3' : error de sintaxis"
	4100 "%1 : 'proc main' declaración perdida"
	4101 "%1(%2!d!) : identificador esperado"
	4102 "%1(%2!d!) : parámetro cadena esperado"
	4103 "%1(%2!d!) : parámetro entero esperado"
	4104 "%1(%2!d!) : '%3' : tipo incorrecto"
	4105 "No hay memoria suficiente para procesar este script."
	4106 "%1(%2!d!) : '%3' : ha ocurrido un error interno."
	4107 "%1(%2!d!) : '%3' : parámetro incorrecto"
	4108 "%1(%2!d!) : '%3' : parámetro 'set ipaddr' incorrecto"
	4109 "%1(%2!d!) : '%3' : parámetro 'set port' incorrecto"
	4110 "%1(%2!d!) : '%3' : rango numerico incorrecto"
	4111 "%1(%2!d!) : '%3' : parámetro 'set screen' incorrecto"
	4112 "%1(%2!d!) : '%3' : '(' esperado"
	4113 "%1(%2!d!) : '%3' : el tipo esperado es un entero"
	4114 "%1(%2!d!) : '%3' : el tipo esperado es una cadena"
	4115 "%1(%2!d!) : '%3' : el tipo esperado es un booleano"
	4116 "%1(%2!d!) : '%3' : el tipo esperado es un entero o una cadena"
	4117 "%1(%2!d!) : '%3' : tipos no coincidentes"
	4118 "%1(%2!d!) : '%3' : identificador ya definido"
	4119 "%1(%2!d!) : '%3' : identificador no definido"
	4120 "%1(%2!d!) : '%3' : el tipo esperado es una etiqueta"
	4121 "%1(%2!d!) : divido por cero"
	4122 "%1(%2!d!) : '%3' : el tipo esperado es un entero, una cadena, o un booleano"
END
