LANGUAGE LANG_INDONESIAN, SUBLANG_DEFAULT

IDD_WELCOMEPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Penyetelan ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Selamat datang di Penuntun Penyetelan ReactOS.", IDC_WELCOMETITLE, 115, 8, 195, 24
    LTEXT "Penuntun ini memasang ReactOS di komputer anda. Penuntun ini membutuhkan beberapa informasi terkait anda dan komputer anda untuk menyetel ReactOS dengan baik.", IDC_STATIC, 115, 40, 195, 100
    LTEXT "Klik Lanjut untuk melanjutkan Penyetelan.", IDC_STATIC, 115, 169, 195, 17
END

IDD_ACKPAGE DIALOGEX 0, 0, 317, 145
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Penyetelan ReactOS"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "Pengembang ReactOS ingin berterima kasih kepada beberapa proyek Sumber Terbuka berikut, yang (bagiannya) digunakan untuk membuat ReactOS:", IDC_STATIC, 15, 7, 286, 19
    LISTBOX IDC_PROJECTS, 15, 30, 286, 75, LBS_NOSEL | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL
    LTEXT "ReactOS terdaftar di bawah GPL, jadi jika anda ingin menggunakan atau menyalurkan (bagian) itu harus menghargai GPL tersebut.", IDC_STATIC, 15, 110, 222, 19
    PUSHBUTTON "&Tunjukkan GPL...", IDC_VIEWGPL, 239, 110, 63, 19
    LTEXT "Klik Lanjut untuk melanjutkan Penyetelan.", IDC_STATIC, 15, 136, 195, 17
END

IDD_PRODUCT DIALOGEX 0, 0, 317, 143
CAPTION "Penyetelan ReactOS"
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
FONT 8, "MS Shell Dlg"
BEGIN
    ICON "", IDC_PRODUCT_ICON, 5, 5, 20, 20
    LTEXT "Silahkan pilih opsi produk:", IDC_STATIC, 35, 7, 230, 12
    LTEXT "Pilihan Pr&oduk:", IDC_STATIC, 5, 32, 85, 10
    COMBOBOX IDC_PRODUCT_OPTIONS, 95, 30, 170, 300, CBS_HASSTRINGS | CBS_AUTOHSCROLL | CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    GROUPBOX "Informasi Produk", IDC_STATIC, 5, 50, 305, 85
    LTEXT "Deskripsi:", IDC_STATIC, 20, 65, 70, 10
    EDITTEXT IDC_PRODUCT_DESCRIPTION, 95, 65, 205, 60, ES_READONLY | ES_AUTOVSCROLL | ES_MULTILINE | WS_VSCROLL
END

IDD_OWNERPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Penyetelan ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_ICON2, IDC_STATIC, 21, 7, 20, 20
    LTEXT "Ketikkan nama lengkap anda beserta perusahaan atau organisasi anda.", IDC_STATIC, 54, 7, 242, 21
    LTEXT "Na&ma:", IDC_STATIC, 54, 37, 44, 8
    EDITTEXT IDC_OWNERNAME, 132, 35, 163, 14, WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "&Organisasi:", IDC_STATIC, 54, 57, 44, 8
    EDITTEXT IDC_OWNERORGANIZATION, 132, 55, 163, 14, WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL
END

IDD_COMPUTERPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Penyetelan ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_ICON1, IDC_STATIC, 21, 7, 20, 20
    LTEXT "Ketikkan nama komputer anda maksimal 15 karakter. Jika anda berada dalam jaringan, nama komputer anda haruslah unik.", IDC_STATIC, 54, 7, 250, 24
    LTEXT "Nama &Komputer:", IDC_STATIC, 54, 38, 75, 8
    EDITTEXT IDC_COMPUTERNAME, 132, 35, 163, 14, WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL | ES_UPPERCASE
    ICON IDI_ICON5, IDC_STATIC, 21, 57, 20, 20
    LTEXT "Penyetel ini akan membuat akun pengguna yang dinamai dengan Administrator. Jadi anda bisa menggunakan akun ini ketika membutuhkan akses penuh pada komputer anda.", IDC_STATIC, 54, 57, 250, 25
    LTEXT "Ketikkan Kata Sandi Administrator maksimal 127.", IDC_STATIC, 54, 87, 250, 8
    LTEXT "Kata Sandi &Administrator:", IDC_STATIC, 54, 104, 75, 8
    EDITTEXT IDC_ADMINPASSWORD1, 132, 101, 172, 14, WS_VISIBLE | WS_TABSTOP | ES_PASSWORD
    LTEXT "Konfir&masi Kata Sandi:", IDC_STATIC, 54, 123, 75, 8
    EDITTEXT IDC_ADMINPASSWORD2, 132, 120, 172, 14, WS_VISIBLE | WS_TABSTOP | ES_PASSWORD
END

IDD_LOCALEPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Penyetelan ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_ICON4, IDC_STATIC, 21, 7, 20, 20
    LTEXT "Bahasa sistem lokal harus sama dengan aplikasi yang ingin anda gunakan. Pengguna lokal mengontrol tampilan angka, kurs, dan tanggal.", IDC_STATIC, 53, 7, 253, 20
    LTEXT "%s", IDC_LOCALETEXT, 53, 29, 250, 16
    LTEXT "Untuk mengubah setelan lokal sistem atau pengguna, klik Sesuaikan.", IDC_STATIC, 53, 60, 184, 16
    PUSHBUTTON "&Sesuaikan...", IDC_CUSTOMLOCALE, 245, 57, 50, 14
    LTEXT "", IDC_STATIC, 53, 81, 241, 1, SS_ETCHEDHORZ
    LTEXT "Tata letak papan ketik mengontrol tampilan karakter yang muncul ketika anda ketik.", IDC_STATIC, 53, 86, 253, 8
    LTEXT "%s", IDC_LAYOUTTEXT, 53, 100, 250, 16
    LTEXT "Untuk mengubah tata letak papan ketik, klik Sesuaikan.", IDC_STATIC, 53, 126, 184, 8
    PUSHBUTTON "S&esuaikan...", IDC_CUSTOMLAYOUT, 245, 122, 50, 14
END

IDD_DATETIMEPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Penyetelan ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_ICON3, IDC_STATIC, 21, 10, 20, 20
    LTEXT "Tanggal dan Jam", IDC_STATIC, 53, 7, 253, 8
    CONTROL "", IDC_DATEPICKER, "SysDateTimePick32", DTS_LONGDATEFORMAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 17, 137, 14
    CONTROL "", IDC_TIMEPICKER, "SysDateTimePick32", DTS_TIMEFORMAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 17, 54, 14
    LTEXT "Zona waktu", IDC_STATIC, 53, 42, 253, 8
    COMBOBOX IDC_TIMEZONELIST, 53, 52, 201, 93, CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
    AUTOCHECKBOX "Otomatis menyesuaikan waktu atas perubahan &daylight saving", IDC_AUTODAYLIGHT, 53, 124, 211, 10
END

IDD_THEMEPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Penyetelan ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_THEMEPICKER, "SysListView32", LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | WS_TABSTOP, 18, 8, 288, 130
END

IDD_PROCESSPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Penyetelan ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Meregister komponen", IDC_TASKTEXT1, 65, 27, 232, 8
    LTEXT "Installing start menu items", IDC_TASKTEXT2, 65, 39, 232, 8
    LTEXT "Saving settings", IDC_TASKTEXT3, 65, 51, 232, 8
    LTEXT "Removing temporary files", IDC_TASKTEXT4, 65, 63, 232, 8
    LTEXT "", IDC_ITEM, 21, 85, 275, 8
    CONTROL "", IDC_PROCESSPROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 21, 97, 275, 11
END

IDD_FINISHPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Menyelesaikan Penyetelan ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Menyelesaikan Penuntun Penyetelan ReactOS", IDC_FINISHTITLE, 115, 8, 195, 24
    LTEXT "Anda telah menyelesaikan Penyetelan ReactOS.\n\nSaat anda mengklik Selesai, komputer anda akan dimulai ulang.", IDC_STATIC, 115, 40, 195, 100
    CONTROL "", IDC_RESTART_PROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 115, 138, 188, 12
    LTEXT "Jika ada CD di dalam drive, keluarkan. Lalu, untuk memulai ulang komputer anda, klik Selesai.", IDC_STATIC, 115, 169, 195, 17
END

IDD_GPL DIALOGEX 0, 0, 333, 230
STYLE DS_SHELLFONT | DS_CENTER | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GNU General Public License"
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT IDC_GPL_TEXT, 7, 7, 319, 190, ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL
    DEFPUSHBUTTON "OK", IDOK, 141, 209, 50, 14
END

IDD_STATUSWINDOW_DLG DIALOGEX 0, 0, 275, 78
STYLE NOT WS_VISIBLE | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP
CAPTION "Mohon tunggu..."
FONT 8, "MS Shell Dlg", 400, 0, 1
BEGIN
    CONTROL IDB_REACTOS, IDC_ROSLOGO, "Static", SS_BITMAP, 0, 0, 275, 54
    CONTROL "", IDC_BAR, "Static", SS_OWNERDRAW, 0, 44, 275, 4
    LTEXT "", IDC_STATUSLABEL, 7, 59, 235, 12, SS_WORDELLIPSIS
END

IDD_PS2MOUSEPROPERTIES DIALOGEX 0, 0, 252, 218
STYLE WS_CHILD | WS_VISIBLE | WS_CAPTION
CAPTION "Setelan Tingkat Lanjut"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "", IDC_PS2STATIC, 5, 20, 242, 110
    RTEXT "&Sample Rate:", -1, 27, 35, 90, 8
    LTEXT "laporan per detik", -1, 169, 35, 76, 8
    COMBOBOX IDC_PS2MOUSESAMPLERATE, 124, 33, 42, 41, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
    RTEXT "Deteksi &Roda:", -1, 27, 55, 90, 8
    COMBOBOX IDC_PS2MOUSEWHEEL, 124, 53, 95, 46, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
    RTEXT "&Panjang penyangga masukan:", -1, 27, 71, 90, 16
    LTEXT "paket", -1, 169, 75, 26, 8
    EDITTEXT IDC_PS2MOUSEINPUTLEN, 124, 72, 40, 14, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | ES_NUMBER | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_BORDER
    CONTROL "", IDC_PS2MOUSEINPUTUPDN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_CHILD | WS_VISIBLE, 168, 70, 10, 14
    AUTOCHECKBOX "Inisialisasi &Cepat", IDC_PS2MOUSEFASTINIT, 124, 97, 90, 10
    PUSHBUTTON "&Asli", IDC_PS2MOUSEDEFAULTS, 195, 188, 50, 14
END

STRINGTABLE
BEGIN
    IDS_ACKTITLE "Berterima kasih"
    IDS_ACKSUBTITLE "Tempat berdiri ReactOS dan informasi lisensi"
    IDS_OWNERTITLE "Personalisasi Perangkat Lunak anda"
    IDS_OWNERSUBTITLE "Penyetelan ini menggunakan informasi terkait diri anda untuk menyesuaikan ReactOS."
    IDS_COMPUTERTITLE "Nama Komputer dan Kata sandi Administrator"
    IDS_COMPUTERSUBTITLE "Anda harus menyediakan nama dan Kata sandi Administrator untuk komputer anda."
    IDS_LOCALETITLE "Setelan Daerah"
    IDS_LOCALESUBTITLE "Anda bisa menyesuaikan ReactOS untuk daerah dan bahasa berbeda."
    IDS_LOCALETEXT "The Standards and formats are set to %s, and the location is set to %s."
    IDS_LAYOUTTEXT "Your default text input language and method is: %s keyboard layout"
    IDS_DATETIMETITLE "Tanggal dan Jam"
    IDS_DATETIMESUBTITLE "Setel tanggal dan jam yang benar untuk komputer anda."
    IDS_PROCESSTITLE "Finishing the Installation"
    IDS_PROCESSSUBTITLE "Please wait while Setup completes the final steps."
    IDS_THEMESELECTIONTITLE "Tampilan"
    IDS_THEMESELECTIONSUBTITLE "Pilih tampilan yang anda suka."
END

STRINGTABLE
BEGIN
    IDS_REACTOS_SETUP "Penyetelan ReactOS"
    IDS_UNKNOWN_ERROR "Kesalahan tidak dikenal"
    IDS_LOADLIBRARY_FAILED "LoadLibrary gagal: "
    IDS_GETPROCADDR_FAILED "GetProcAddr gagal: "
    IDS_REGSVR_FAILED "DllRegisterServer gagal: "
    IDS_DLLINSTALL_FAILED "DllInstall gagal: "
    IDS_TIMEOUT "Kehabisan waktu selama registrasi"
    IDS_REASON_UNKNOWN ""
    /*
     * ATTENTION:
     *   If you translate the administrator account name, keep IDS_ADMINISTRATOR_NAME and
     *   samsrv.dll:IDS_USER_ADMINISTRATOR_NAME synchronized.
     *   Also check the IDD_COMPUTERPAGE dialog.
     */
    IDS_ADMINISTRATOR_NAME "Administrator"
    IDS_MACHINE_OWNER_NAME "Pemilik"
END

STRINGTABLE
BEGIN
    IDS_WZD_NAME "Penyetelan tidak bisa dilanjutkan sebelum anda memasukkan nama anda."
    IDS_WZD_SETCOMPUTERNAME "Penyetelan gagal memasukkan nama komputer."
    IDS_WZD_COMPUTERNAME "Penyetelan tidak bisa dlanjutkan sebelum anda memasukkan nama komputer anda."
    IDS_WZD_PASSWORDEMPTY "Masukkan kata sandi!"
    IDS_WZD_PASSWORDMATCH "Kata sandi yang anda masukkan tidak sama. Masukkan lagi kata sandi yang sesuai."
    IDS_WZD_PASSWORDCHAR "Kata sandi yang anda masukkan mengandung karakter tidak sah. Masukkan kata sandi yang sah."
    IDS_WZD_LOCALTIME "Penyetelan tidak bisa menyetel waktu lokal."
END

STRINGTABLE
BEGIN
    IDS_STATUS_INSTALL_DEV "Memasang perangkat..."
END

/* ATTENTION: Synchronize these strings with dll/win32/shell32/lang */
STRINGTABLE
BEGIN
    IDS_PROGRAMFILES "%SystemDrive%\\Berkas Program"
    IDS_COMMONFILES "Berkas Umum"
END

STRINGTABLE
BEGIN
    IDS_DETECTIONDISABLED "Deteksi dimatikan"
    IDS_LOOKFORWHEEL "Mencari roda"
    IDS_ASSUMEPRESENT "Anggap terdapat roda"
END

STRINGTABLE
BEGIN
    IDS_CLASSIC "Klasik"
    IDS_LAUTUS "Lautus"
    IDS_LUNAR "Lunar"
    IDS_MIZU "Mizu"
END

STRINGTABLE
BEGIN
    IDS_PRODUCTTITLE "Pilihan Produk"
    IDS_PRODUCTSUBTITLE "Anda bisa memilih opsi produk yang bisa mempengaruhi tindakan sistem."
    IDS_PRODUCTSERVERNAME "ReactOS Server"
    IDS_PRODUCTWORKSTATIONNAME "ReactOS Workstation"
    IDS_PRODUCTSERVERINFO "Sistem akan dikenal sebagai server. Folder pribadi ""Gambar Saya"", ""Video Saya"" dan ""Musik Saya"" disendirikan dari ""Dokumen Saya""."
    IDS_PRODUCTWORKSTATIONINFO "Sistem akan dikenal sebagai workstation. Folder pribadi ""Gambar Saya"", ""Video Saya"" dan ""Musik Saya"" dimasukkan dalam ""Dokumen Saya""."
    IDS_DEFAULT "(Asli)"
END
