LANGUAGE LANG_INDONESIAN, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
BEGIN
  IDS_APPNAME   "ImageSoft"
  IDS_VERSION   "v0.1"
END

IDR_MAINMENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "&Baru...",            ID_NEW
    MENUITEM "B&uka...",            ID_OPEN
    MENUITEM SEPARATOR
    MENUITEM "&Tutup\tCtrl+F4",     ID_CLOSE,   GRAYED
    MENUITEM "Tutup s&emua",        ID_CLOSEALL,GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Simpan",             ID_SAVE,    GRAYED
    MENUITEM "Simpan Seb&agai...",  ID_SAVEAS,  GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Tin&jau Cetakan",     ID_PRINTPRE,GRAYED
    MENUITEM "&Cetak...",           ID_PRINT,   GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Pr&operti...",        ID_PROP,    GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Keluar\tAlt+F4",     ID_EXIT
  END
  POPUP "&Edit"
  BEGIN
    MENUITEM "&Undo",               ID_UNDO,    GRAYED
    MENUITEM "&Redo",               ID_REDO,    GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Cu&t",                ID_CUT,     GRAYED
    MENUITEM "&Copy",               ID_COPY,    GRAYED
    MENUITEM "&Paste",              ID_PASTE,   GRAYED
    MENUITEM "Paste sebagai gambar &baru", ID_PASTENEWIMAGE, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Pilih &Semua",        ID_SELALL,  GRAYED
  END
  POPUP "&Lihat"
  BEGIN
    MENUITEM "&Piranti",            ID_TOOLS
    MENUITEM "&Warna",              ID_COLOR
    MENUITEM "&Histori",            ID_HISTORY
    MENUITEM "Bar &Status",         ID_STATUSBAR
  END
  POPUP "Sesu&aikan"
  BEGIN
    MENUITEM "Kecerahan...",        ID_BRIGHTNESS
    MENUITEM "Kontras...",          ID_CONTRAST
    MENUITEM "Hue/Saturasi...",     -1, GRAYED
    POPUP "Warna"
    BEGIN
      MENUITEM "Hitam dan Putih"    ID_BLACKANDWHITE
      MENUITEM "Balikkan Warna"     ID_INVERTCOLORS
    END
    MENUITEM SEPARATOR
    MENUITEM "Blur",                ID_BLUR
    MENUITEM "Sharpen",             ID_SHARPEN
    MENUITEM "Lembutkan Sisi",      -1, GRAYED
    MENUITEM "Tambah Bayangan",     -1, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Ukuran Gambar...",    -1, GRAYED
    MENUITEM "Flip",                -1, GRAYED
    MENUITEM "Cermin",              -1, GRAYED
    MENUITEM "Rotasi",              -1, GRAYED

  END
  POPUP "&Warna"
  BEGIN
    MENUITEM "&Edit Warna...",      ID_EDITCOLOURS
  END
  POPUP "&Jendela"
  BEGIN
    MENUITEM "&Cascade",            ID_WINDOW_CASCADE
    MENUITEM "Tile &Horisontal",    ID_WINDOW_TILE_HORZ
    MENUITEM "Tile &Vertikal",      ID_WINDOW_TILE_VERT
    MENUITEM "&Atur Ikon",          ID_WINDOW_ARRANGE
    MENUITEM SEPARATOR
    MENUITEM "Beriku&t\tCtrl+F6",   ID_WINDOW_NEXT
  END
  POPUP "&Bantuan"
  BEGIN
    MENUITEM "&Tentang...",         ID_ABOUT
  END
END

IDR_POPUP MENU
BEGIN
  POPUP "popup"
  BEGIN

    MENUITEM SEPARATOR

  END
END


IDD_BRIGHTNESS DIALOGEX 6, 5, 193, 120
CAPTION "Kecerahan"
FONT 8,"MS Sans Serif", 0, 0
STYLE WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
BEGIN
  LTEXT      "", IDC_PICPREVIEW, 0, 1, 132, 96, SS_OWNERDRAW | SS_SUNKEN
  LTEXT      "Form warna:", IDC_STATIC, 135, 5, 36, 9
  GROUPBOX   "", IDC_BRI_GROUP, 138 ,30, 50, 48
  CONTROL    "Penuh (RGB)", IDC_BRI_FULL, "Button", BS_AUTORADIOBUTTON, 138, 18, 46, 9
  CONTROL    "Merah", IDC_BRI_RED, "Button", BS_AUTORADIOBUTTON, 142, 38, 42, 9
  CONTROL    "Hijau", IDC_BRI_GREEN, "Button", BS_AUTORADIOBUTTON, 142, 51, 42, 9
  CONTROL    "Biru", IDC_BRI_BLUE, "Button", BS_AUTORADIOBUTTON, 142, 64, 42, 9
  EDITTEXT   IDC_BRI_EDIT, 98, 103, 28, 13
  CONTROL    "", IDC_BRI_TRACKBAR, "msctls_trackbar32", TBS_BOTH | TBS_NOTICKS | WS_TABSTOP, 2, 105, 90, 11
  PUSHBUTTON "OK", IDOK, 142, 88, 48, 13
  PUSHBUTTON "Batal", IDCANCEL, 142, 105, 48, 13
END

IDD_ABOUTBOX DIALOGEX 22,16,210,182
CAPTION "Tentang ImageSoft"
FONT 8,"MS Sans Serif",0,0
STYLE WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
//EXSTYLE WS_EX_LAYERED
BEGIN
  LTEXT      "ImageSoft v0.1\nHak Cipta (C) 2006\nThomas Weidenmueller (w3seek@reactos.org)\nGed Murphy (gedmurphy@gmail.com)", IDC_STATIC, 48, 7, 150, 36
  PUSHBUTTON "Tutup", IDOK, 75, 162, 44, 15
  ICON       IDI_IMAGESOFTICON, IDC_STATIC, 10, 10, 7, 30
  EDITTEXT   IDC_LICENSE_EDIT, 8, 44, 194, 107, WS_VISIBLE | WS_VSCROLL | WS_TABSTOP | ES_READONLY | ES_MULTILINE
END


IDD_IMAGE_PROP DIALOGEX 6, 5, 156, 163
CAPTION "Properti Gambar"
FONT 8,"MS Sans Serif",0,0
STYLE WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
BEGIN
  LTEXT      "Nama:", IDC_STATIC, 12, 5, 38, 9
  EDITTEXT   IDC_IMAGE_NAME_EDIT,  58, 3, 94, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  GROUPBOX   "Properti Kanvas", IDC_STATIC, 4, 22, 148, 98
  LTEXT      "Tipe gambar:", IDC_STATIC, 12, 36, 42, 9
  CONTROL    "", IDC_IMAGETYPE, "ComboBox", WS_CHILD | WS_VISIBLE | WS_TABSTOP | CBS_DROPDOWNLIST, 58, 35, 88, 54
  LTEXT      "Panjang:", IDC_STATIC, 12, 51, 42, 9
  EDITTEXT   IDC_WIDTH_EDIT, 58, 49, 32, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_NUMBER
  LTEXT      "", IDC_WIDTH_STAT, 94, 51, 40, 9
  LTEXT      "Tinggi:", IDC_STATIC, 12, 68, 42, 9
  EDITTEXT   IDC_HEIGHT_EDIT, 58, 66, 32, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_NUMBER
  LTEXT      "", IDC_HEIGHT_STAT, 94, 68, 40, 9
  LTEXT      "Resolusi:", IDC_STATIC, 12, 84, 42, 9
  EDITTEXT   IDC_RES_EDIT, 58, 83, 32, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP | ES_NUMBER
  LTEXT      "", IDC_RES_STAT, 94, 84, 40, 9
  LTEXT      "Unit:", IDC_STATIC, 12, 99, 42, 9
  CONTROL    "", IDC_UNIT, "ComboBox", WS_CHILD | WS_VISIBLE | WS_TABSTOP | CBS_DROPDOWNLIST, 58, 99, 54, 50
  LTEXT      "Besar gambar:", IDC_STATIC, 12, 125, 42, 9
  LTEXT      "", IDC_IMAGE_SIZE, 58, 125, 54, 9
  PUSHBUTTON "OK", IDOK, 50, 144, 48, 13
  PUSHBUTTON "Batal", IDCANCEL, 102, 144, 48, 13
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_LICENSE           "Program ini adalah software bebas; anda dapat mendistribusikan dan/atau mengubahnya di bawah term GNU General Public License seperti dipublikasikan oleh Free Software Foundation; baik Lisensi versi 2, atau (menurut opini anda) setiap versi berikutnya.\r\n\r\nProgram ini didistribusikan dengan harapan ia akan berguna, tetapi TANPA JAMINAN APAPUN; bahkan tanpa jaminan berarti dari MERCANTABILITAS atau KECUKUPAN UNTUK KEPERLUAN TERTENTU.  Lihat GNU General Public License untuk lebih jelasnya.\r\n\r\nAnda seharusnya menerima duplikat GNU General Public License bersamaan dengan program ini; jika tidak, tulis ke Free Software Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA."
  IDS_READY             " Siap."
  IDS_TOOLBAR_STANDARD  "Standar"
  IDS_TOOLBAR_TEST      "Uji"
  IDS_IMAGE_NAME        "Gambar %1!u!"
  IDS_FLT_TOOLS         "Piranti"
  IDS_FLT_COLORS        "Warna"
  IDS_FLT_HISTORY       "Histori"
END

/* imageprop.c */
STRINGTABLE DISCARDABLE
BEGIN
  IDS_IMAGE_MONOCHROME  "Monokrom (1 bit)"
  IDS_IMAGE_GREYSCALE   "Abu-abu (8 bit)"
  IDS_IMAGE_PALETTE     "Palet atau 256 warna (8 bit)"
  IDS_IMAGE_TRUECOLOR   "Warna asli (24 bit)"

  IDS_UNIT_PIXELS       "Pixel"
  IDS_UNIT_CM           "Cm"
  IDS_UNIT_INCHES       "Inci"
  IDS_UNIT_DOTSCM       "Dot / Cm"
  IDS_UNIT_DPI          "DPI"
  IDS_UNIT_KB           "%d KB"
  IDS_UNIT_MB           "%d MB"
END

/* Tooltips */
STRINGTABLE DISCARDABLE
BEGIN
  IDS_TOOLTIP_NEW       "Baru"
  IDS_TOOLTIP_OPEN      "Buka"
  IDS_TOOLTIP_SAVE      "Simpan"
  IDS_TOOLTIP_PRINTPRE  "Tinjau cetakan"
  IDS_TOOLTIP_PRINT     "Cetak"
  IDS_TOOLTIP_CUT       "Cut"
  IDS_TOOLTIP_COPY      "Copy"
  IDS_TOOLTIP_PASTE     "Paste"
  IDS_TOOLTIP_UNDO      "Undo"
  IDS_TOOLTIP_REDO      "Redo"
END


/* Hints */
STRINGTABLE DISCARDABLE
BEGIN
  IDS_HINT_BLANK        " "
  IDS_HINT_NEW          " Membuat dokumen baru."
  IDS_HINT_OPEN         " Membuka dokumen yang sudah ada."
  IDS_HINT_CLOSE        " Menutup jendela ini."
  IDS_HINT_CLOSEALL     " Menutup semua jendela."
  IDS_HINT_SAVE         " Menyimpan dokumen aktif."
  IDS_HINT_SAVEAS       " Menyimpan dokumen aktif dengan nama baru."
  IDS_HINT_PRINTPRE     " Meninjau dulu dokumen yang dicetak."
  IDS_HINT_PRINT        " Mencetak dokumen aktif."
  IDS_HINT_PROP         " Menampilkan properti gambar yang aktif."
  IDS_HINT_EXIT         " Keluar aplikasi ini."

  IDS_HINT_TOOLS        " Menampilkan atau menyembunyikan jendela layang piranti."
  IDS_HINT_COLORS       " Menampilkan atau menyembunyikan jendela layang warna."
  IDS_HINT_HISTORY      " Menampilkan atau menyembunyikan jendela layang  histori."
  IDS_HINT_STATUS       " Menampilkan atau menyembunyikan bar status."

  IDS_HINT_CASCADE      " Mengatur jendela agar saling tindih."
  IDS_HINT_TILE_HORZ    " Mengatur jendela seperti ubin tidak saling tindih."
  IDS_HINT_TILE_VERT    " Mengatur jendela seperti ubin tidak saling tindih."
  IDS_HINT_ARRANGE      " Mengatur ikon di bawah jendela."
  IDS_HINT_NEXT         " Mengaktifkan jendela berikutnya."

  IDS_HINT_SYS_RESTORE  " Mengembalikan jendela ini ke ukuran normal."
  IDS_HINT_SYS_MOVE     " Memindahkan jendela ini."
  IDS_HINT_SYS_SIZE     " Mengukur ulang jendela ini."
  IDS_HINT_SYS_MINIMIZE " Menyempitkan jendela ini menjadi ikon."
  IDS_HINT_SYS_MAXIMIZE " Melebarkan jendela ini memenuhi layar ini."
END
