#include <windows.h>

//
// Version resources
//
#include <ntverp.h>
#define VER_FILETYPE                VFT_DLL
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Driver Cab Sort and remove duplicates Utility"
#define VER_INTERNALNAME_STR        "CABPREP.EXE"
#define VER_ORIGINALFILENAME_STR    "CABPREP.EXE"
#include <common.ver>

