//German translation by Michael Wirth

LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

IDD_SHUTDOWNCOMPUTER DIALOG  45, 22, 164, 52
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Computer herunterfahren"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Sie können den Computer jetzt ausschalten.", IDC_SHUTDOWNCOMPUTER, 31, 13, 132, 8
    ICON  IDI_WINLOGON, IDC_SHTDOWNICON, 6, 7, 18, 20
    DEFPUSHBUTTON "Neusta&rt", IDC_BTNSHTDOWNCOMPUTER, 62, 32, 40, 14
END

IDD_GINALOADFAILED DIALOG  58, 83, 231, 119
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Benutzer Interface Fehler"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Die Logon Benutzer Schnittstelle DLL %s konnte nicht geladen werden.", IDC_GINALOADFAILED, 39, 16, 156, 24
    LTEXT "Kontaktieren Sie Ihren Systemadministrator um die DLL zu ersetzen, oder stellen Sie die Original-DLL wieder her.", IDC_GINALOADFAILEDCONTACT, 39, 53, 151, 25
    DEFPUSHBUTTON "Neusta&rt", 1, 80, 91, 68, 14
END

STRINGTABLE
BEGIN
    IDS_PREPARENETWORKCONNECTIONS "Netzwerkverbindungen vorbereiten..."
    IDS_APPLYINGCOMPUTERSETTINGS "Computereinstellungen laden..."
    IDS_RUNNINGSTARTUPSCRIPTS "Startskripte ausführen..."
    IDS_RUNNINGSHUTDOWNSCRIPTS "Skripte um den Computer herunterzufahren ausführen..."
    IDS_APPLYINGYOURPERSONALSETTINGS "Ihre persönlichen Einstellungen setzen..."
    IDS_RUNNINGLOGOFFSCRIPTS "Skripte um abzumelden ausführen..."
    IDS_RUNNINGLOGONSCRIPTS "Skripte um anzumelden ausführen..."
    IDS_LOADINGYOURPERSONALSETTINGS "Ihr persönlichen Einstellungen laden..."
    IDS_CLOSINGNETWORKCONNECTIONS "Netzwerkverbindungen schliessen..."
    IDS_REACTOSISSHUTTINGDOWN "ReactOS fährt herunter..."
    IDS_PREPARETOSTANDBY "Vorbereiten für den StandBy Modus..."
    IDS_PREPARETOHIBERNATE "Vorbereiten für den Nachtmodus..."
    IDS_SAVEYOURSETTINGS "Speichern Ihrer persönlichen Einstellungen..."
    IDS_REACTOSISSTARTINGUP "ReactOS startet..."
END

STRINGTABLE
BEGIN
    IDS_FAILEDACTIVATEUSERSHELL "Winlogon konnte die Benutzershell nicht aktivieren!"
END
