LANGUAGE LANG_FRENCH, SUBLANG_FRENCH

IDD_DOWNLOAD DIALOG LOADONCALL MOVEABLE DISCARDABLE  0, 0, 220, 76
STYLE DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Téléchargement..."
FONT 8, "MS Shell Dlg"
{
  CONTROL "Progress1",IDC_PROGRESS,"msctls_progress32",WS_BORDER|PBS_SMOOTH,10,10,200,12
  LTEXT "", IDC_STATUS, 10, 30, 200, 10, SS_CENTER
  PUSHBUTTON "Annuler", IDCANCEL, 85, 58, 50, 15, WS_GROUP | WS_TABSTOP
}

STRINGTABLE DISCARDABLE 
BEGIN
  IDS_WINDOW_TITLE 		"Télécharger ! - Téléchargeur de ReactOS"
  IDS_WELCOME_TITLE		"Bienvenue dans le Téléchargeur de ReactOS"
  IDS_WELCOME 			"Veuillez choisir une catégorie sur la droite. C'est la version 1.0."
  IDS_NO_APP_TITLE		"Aucune application selectionnée"
  IDS_NO_APP	  		"Veuillez sélectionner une application avant de cliquer sur le bouton Télécharger, si vous avez besoin d'aide, veuillez cliquer sur le point d'interrogation dans le coin supérieur droit."
  IDS_UPDATE_TITLE 		"Mise à jour"
  IDS_UPDATE			"Désolé, cette fonctionnalité n'est pas encore implémentée."
  IDS_HELP_TITLE 		"Aide"
  IDS_HELP			"Choisissez une catégorie sur la droite, puis choisissez une application et cliquez sur le bouton Télécharger. Pour mettre à jour les informations sur l'application, cliquez sur le bouton à côté du bouton d'aide."
  IDS_NO_APPS			"Désolé, il n'y a pas encore d'application dans cette catégorie. Vous pouvez contribuer et ajouter plus d'applications."
  IDS_CHOOSE_APP		"Veuillez choisir une application."
  IDS_CHOOSE_SUB		"Veuillez choisir une sous-catégorie."
  IDS_CHOOSE_CATEGORY		"Veuillez choisir une catégorie."
  IDS_CHOOSE_BOTH		"Veuillez choisir une sous-catégorie ou une application."
  IDS_XMLERROR_1		"Impossible de trouver le fichier xml !"
  IDS_XMLERROR_2		"Impossible d'analyser le fichier xml !"
  IDS_DOWNLOAD_ERROR		"Impossible de télécharger le fichier.\nVeuillez vérifier votre connexion Internet."
  IDS_VERSION			"Version: "
  IDS_LICENCE			"Licence: "
  IDS_MAINTAINER		"Maintainer: "
END
