/*
 * Resources for Common Dialogs
 *
 * Copyright 1999 Bertho Stultiens
 * Copyright 1999 Klaas van Gend
 *
 * Translated to Portuguese language
 * by: Jose Carlos Jesus 02-09-2019 zecarlos1957@hotmail.com
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_PORTUGUESE, SUBLANG_NEUTRAL

STRINGTABLE
{
    IDS_FILENOTFOUND        "Ficheiro não encontrado"
    IDS_VERIFYFILE          "Por favor verifique se foi fornecido o nome correcto do ficheiro"
    IDS_CREATEFILE          "O ficheiro não existe.\nGostaria de o criar?"
    IDS_OVERWRITEFILE       "O ficheiro já existe.\nGostaria de o substituir?"
    IDS_INVALID_FILENAME_TITLE "Caracter(es) inválidos na localização"
    IDS_INVALID_FILENAME    "Um nome de ficheiro não pode conter quaisquer dos seguintes caracteres:\n\
/ : < > |"
    IDS_PATHNOTEXISTING     "A localização não existe"
    IDS_FILENOTEXISTING     "O ficheiro não existe"
    IDS_INVALID_FOLDERNAME  "A sua selecção não contém nenhuma pasta"
}

STRINGTABLE
{
    IDS_UPFOLDER         "Um nível acima"
    IDS_NEWFOLDER        "Criar nova pasta"
    IDS_LISTVIEW         "Lista"
    IDS_REPORTVIEW       "Detalhes"
    IDS_TODESKTOP        "Ecrã"
}

STRINGTABLE
{
    PD32_PRINT_TITLE       "Imprimir"

    PD32_VALUE_UREADABLE                  "Entrada ilegível"
    PD32_INVALID_PAGE_RANGE               "Este valor não se encaixa na faixa de páginas.\nPor favor indique um valor entre %d e %d."
    PD32_FROM_NOT_ABOVE_TO                "A entrada 'de' não pode exceder 'até'."
    PD32_MARGINS_OVERLAP                  "As margens estão fora das medidas do papel.\nPor favor indique as margens."
    PD32_NR_OF_COPIES_EMPTY               "O número de cópias não pode ter valor vazio."
    PD32_TOO_LARGE_COPIES                 "Esta grande quantidade de cópias não é suportada pela sua impressora.\nPor favor indique um valor entre 1 e %d."
    PD32_PRINT_ERROR                      "Ocorreu um erro de impressão."
    PD32_NO_DEFAULT_PRINTER               "Não existe uma impressora predefinida."
    PD32_CANT_FIND_PRINTER                "Não é possível encontrar uma impressora."
    PD32_OUT_OF_MEMORY                    "Memória insuficiente."
    PD32_GENERIC_ERROR                    "Ocorreu algum erro."
    PD32_DRIVER_UNKNOWN                   "Controlador de impressora desconhecido."
    PD32_NO_DEVICES                       "Antes de realizar tarefas relacionadas com a impressora tais como configuração de páginas ou imprimir um documento, precisa instalar uma impressora. Por favor instale uma impressora e tente novamente."

    PD32_DEFAULT_PRINTER                  "Impressora predefinida;"
    PD32_NR_OF_DOCUMENTS_IN_QUEUE         "Existem %d documentos na fila"
    PD32_MARGINS_IN_INCHES                "Margens [polegadas]"
    PD32_MARGINS_IN_MILLIMETERS           "Margens [mm]"
    PD32_MILLIMETERS                      "mm"

    PD32_PRINTER_STATUS_READY             "Pronto"
    PD32_PRINTER_STATUS_PAUSED            "Pausada;"
    PD32_PRINTER_STATUS_ERROR             "Erro;"
    PD32_PRINTER_STATUS_PENDING_DELETION  "Exclusão pendente;"
    PD32_PRINTER_STATUS_PAPER_JAM         "Papel atolado;"
    PD32_PRINTER_STATUS_PAPER_OUT         "Sem papel;"
    PD32_PRINTER_STATUS_MANUAL_FEED       "Alimentação manual;"
    PD32_PRINTER_STATUS_PAPER_PROBLEM     "Problemas com o papel;"
    PD32_PRINTER_STATUS_OFFLINE           "Impressora desligada;"
    PD32_PRINTER_STATUS_IO_ACTIVE         "E/S Activa;"
    PD32_PRINTER_STATUS_BUSY              "Ocupada;"
    PD32_PRINTER_STATUS_PRINTING          "A imprimir;"
    PD32_PRINTER_STATUS_OUTPUT_BIN_FULL   "A bandeja de saida encontra-se cheia;"
    PD32_PRINTER_STATUS_NOT_AVAILABLE     "Não disponível;"
    PD32_PRINTER_STATUS_WAITING           "Em espera;"
    PD32_PRINTER_STATUS_PROCESSING        "A processar;"
    PD32_PRINTER_STATUS_INITIALIZING      "A inicializar;"
    PD32_PRINTER_STATUS_WARMING_UP        "A aquecer;"
    PD32_PRINTER_STATUS_TONER_LOW         "Pouco toner;"
    PD32_PRINTER_STATUS_NO_TONER          "Sem toner;"
    PD32_PRINTER_STATUS_PAGE_PUNT         "Lançar página;"
    PD32_PRINTER_STATUS_USER_INTERVENTION "Intervenção do utilizador;"
    PD32_PRINTER_STATUS_OUT_OF_MEMORY     "Memória insuficiente;"
    PD32_PRINTER_STATUS_DOOR_OPEN         "A impressora está aberta;"
    PD32_PRINTER_STATUS_SERVER_UNKNOWN    "Servidor de impressão desconhecido;"
    PD32_PRINTER_STATUS_POWER_SAVE        "Modo económico;"
}

STRINGTABLE /* Font styles */
{
    IDS_FONT_REGULAR       "Normal"
    IDS_FONT_BOLD          "Negrito"
    IDS_FONT_ITALIC        "Itálico"
    IDS_FONT_BOLD_ITALIC   "Negrito Itálico"
}

STRINGTABLE /* Color names */
{
    IDS_COLOR_BLACK     "Preto"
    IDS_COLOR_MAROON    "Castanho"
    IDS_COLOR_GREEN     "Verde"
    IDS_COLOR_OLIVE     "Verde-oliva"
    IDS_COLOR_NAVY      "Azul-marinho"
    IDS_COLOR_PURPLE    "Roxo"
    IDS_COLOR_TEAL      "Azul-petróleo"
    IDS_COLOR_GRAY      "Cinza"
    IDS_COLOR_SILVER    "Prateado"
    IDS_COLOR_RED       "Vermelho"
    IDS_COLOR_LIME      "Verde-limão"
    IDS_COLOR_YELLOW    "Amarelo"
    IDS_COLOR_BLUE      "Azul"
    IDS_COLOR_FUCHSIA   "Matiz"
    IDS_COLOR_AQUA      "Azul-piscina"
    IDS_COLOR_WHITE     "Branco"
}

STRINGTABLE
{
    IDS_FONT_SIZE   "Seleccione o tamanho do tipo de letra entre %d e %d pontos."
    IDS_SAVE_BUTTON "&Guardar"
    IDS_SAVE_IN     "Guardar &em:"
    IDS_SAVE        "Guardar"
    IDS_SAVE_AS     "Guardar Como"
    IDS_OPEN_FILE   "Abrir ficheiro"
    IDS_SELECT_FOLDER "Seleccione uma pasta"
    IDS_FONT_SIZE_INPUT "Tamanho do tipo de letra terá de ser um número."
}

/*
 * WARNING: DO NOT CHANGE THE SIZE OF THE STANDARD DIALOG TEMPLATES.
 */

OPEN_FILE DIALOG 36, 24, 275, 134
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Abrir"
FONT 8, "MS Shell Dlg"
{
    LTEXT "Nome do &ficheiro:", stc3, 6, 6, 76, 9
    EDITTEXT edt1, 6, 16, 90, 12, ES_AUTOHSCROLL | ES_OEMCONVERT | WS_BORDER | WS_TABSTOP
    LISTBOX lst1, 6, 32, 90, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
    LTEXT "&Directórios:", -1, 110, 6, 92, 9
    LTEXT "", stc1, 110, 18, 92, 9, SS_NOPREFIX | WS_GROUP
    LISTBOX lst2, 110, 32, 92, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
    LTEXT "Listar ficheiros do &Tipo:", stc2, 6, 104, 90, 9
    COMBOBOX cmb1, 6, 114, 90, 60, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    LTEXT "&Controladores:", stc4, 110, 104, 92, 9
    COMBOBOX cmb2, 110, 114, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "Abrir", IDOK, 208, 6, 60, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancelar", IDCANCEL, 208, 24, 60, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "A&juda", pshHelp, 208, 46, 60, 14, WS_GROUP | WS_TABSTOP
    CHECKBOX "&Apenas de leitura", chx1, 208, 68, 65, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}

SAVE_FILE DIALOG 36, 24, 275, 134
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Guardar como..."
FONT 8, "MS Shell Dlg"
{
    LTEXT "Nome do &ficheiro:", stc3, 6, 6, 76, 9
    EDITTEXT edt1, 6, 16, 90, 12, ES_AUTOHSCROLL | ES_OEMCONVERT | WS_BORDER | WS_TABSTOP
    LISTBOX lst1, 6, 32, 90, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
    LTEXT "&Directórios:", -1, 110, 6, 92, 9
    LTEXT "", stc1, 110, 18, 92, 9, SS_NOPREFIX | WS_GROUP
    LISTBOX lst2, 110, 32, 92, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
    LTEXT "Listar ficheiros do &tipo:", stc2, 6, 104, 90, 9
    COMBOBOX cmb1, 6, 114, 90, 60, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    LTEXT "&Controladores:", stc4, 110, 104, 92, 9
    COMBOBOX cmb2, 110, 114, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "Guardar Como", IDOK, 208, 6, 60, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancelar", IDCANCEL, 208, 24, 60, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "&Ajuda", pshHelp, 208, 46, 60, 14, WS_GROUP | WS_TABSTOP
    CHECKBOX "Apenas de &leitura", chx1, 208, 68, 65, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}

PRINT DIALOG 36, 24, 264, 134
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Imprimir"
FONT 8, "MS Shell Dlg"
{
    LTEXT "Impressora:", stc1, 6, 6, 40, 9
    LTEXT "", stc2, 60, 6, 150, 9
    GROUPBOX "Faixa de impressão", grp1, 6, 30, 160, 65, BS_GROUPBOX
    RADIOBUTTON "&Todos", rad1, 16, 45, 60, 12
    RADIOBUTTON "S&elecção", rad2, 16, 60, 60, 12
    RADIOBUTTON "&Páginas", rad3, 16, 75, 60, 12
    DEFPUSHBUTTON "&Imprimir", IDOK, 206, 6, 56, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancelar", IDCANCEL, 206, 24, 56, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "&Configurar", psh1, 206, 46, 56, 14, WS_GROUP | WS_TABSTOP
    LTEXT "De:", stc3, 60, 80, 30, 9
    LTEXT "Até:", stc4, 120, 80, 30, 9
    LTEXT "Qualidade de impressão:", stc5, 6, 100, 76, 9
    COMBOBOX cmb1, 80, 100, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    CHECKBOX "Imprimir para &ficheiro", chx1, 20, 120, 50, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    CHECKBOX "C&ondensado", chx2, 160, 120, 50, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}

PRINT_SETUP DIALOG 36, 24, 264, 134
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Configurações de Impressão"
FONT 8, "MS Shell Dlg"
{
    GROUPBOX "Impressora", grp1, 6, 6, 180, 72, BS_GROUPBOX
    RADIOBUTTON "&Impressora predefinida", rad1, 16, 16, 150, 12
    LTEXT "[none]", stc1, 35, 30, 120, 9
    RADIOBUTTON "Impressora &específica", rad2, 16, 44, 150, 12
    COMBOBOX cmb1, 35, 58, 145, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 206, 6, 56, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancelar", IDCANCEL, 206, 24, 56, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "&Configurar", psh1, 206, 46, 56, 14, WS_GROUP | WS_TABSTOP
    GROUPBOX "Orientação", grp2, 6, 82, 100, 50, BS_GROUPBOX
    RADIOBUTTON "&Retrato", rad3, 50, 95, 50, 12
    RADIOBUTTON "&Paisagem", rad4, 50, 110, 50, 12
    ICON "LANDSCAP", stc10, 10, 95, 32, 32
    ICON "PORTRAIT", stc11, 10, 95, 32, 32
    GROUPBOX "Papel", grp3, 116, 82, 178, 50, BS_GROUPBOX
    LTEXT "&Tamanho", stc2, 126, 95, 35, 9
    LTEXT "&Fonte de alimentação", stc3, 126, 110, 35, 9
    COMBOBOX cmb2, 155, 95, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    COMBOBOX cmb3, 155, 110, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
}

CHOOSE_FONT DIALOG  13, 54, 274, 169
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Tipo de Letra"
FONT 8, "MS Shell Dlg"
{
    LTEXT           "&Tipo de letra:",stc1 , 6, 3, 90, 9
    COMBOBOX        cmb1, 6, 13, 94, 76,  CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | CBS_DISABLENOSCROLL |
                    CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP | CBS_SIMPLE
    LTEXT           "&Estilo do tipo de letra:", stc2, 108, 3, 60, 9
    COMBOBOX        cmb2, 108, 13, 64, 76, CBS_OWNERDRAWFIXED | CBS_HASSTRINGS |
                    WS_VSCROLL | WS_TABSTOP | CBS_SIMPLE
    LTEXT           "&Tamanho:", stc3, 179, 3, 32, 9
    COMBOBOX        cmb3, 179, 13, 32, 76, CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | CBS_DISABLENOSCROLL |
                                           WS_VSCROLL | WS_TABSTOP | CBS_SIMPLE | CBS_SORT
    DEFPUSHBUTTON   "OK", IDOK, 218, 6, 50, 14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "Cancelar", IDCANCEL, 218, 23, 50, 14,WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "&Aplicar", psh3, 218, 40, 50, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "A&juda" , pshHelp, 218, 57, 50, 14, WS_GROUP | WS_TABSTOP
    GROUPBOX        "Efeitos", grp1, 6, 92, 84, 36, WS_GROUP
    CHECKBOX        "&Riscado", chx1, 10, 102, 78, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX        "&Sublinhado", chx2, 10, 114, 78, 10, BS_AUTOCHECKBOX
    LTEXT           "Cor:", stc4, 6, 134, 80, 9
    COMBOBOX        cmb4, 6, 144, 84, 100, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS |
                                           CBS_AUTOHSCROLL |  WS_BORDER | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Exemplo", grp2, 98, 92, 120, 36, WS_GROUP
    CTEXT           "", stc5, 103, 101, 109, 24, SS_NOPREFIX | NOT WS_VISIBLE
    LTEXT           "Script:", stc7, 98, 134, 40, 9
    COMBOBOX        cmb5, 98, 144, 120, 90, CBS_DROPDOWNLIST | CBS_HASSTRINGS |
                                            CBS_AUTOHSCROLL |   WS_VSCROLL | WS_TABSTOP
}

CHOOSE_COLOR DIALOG 36, 24, 300, 185
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Cor"
FONT 8, "MS Shell Dlg"
{
    LTEXT "Cores &básicas:", stc1, 4,    4,  140, 10
    LTEXT "&Cores do utilizador:",  stc2, 4,   106, 140, 10
    LTEXT "Colorido|sólid&o", stc3, 150, 151,  48, 10
    LTEXT "Ver&melho:", IDC_COLOR_RL /*1094*/, 247, 126, 27, 10
    EDITTEXT IDC_COLOR_EDIT_R, 275, 124, 21, 12, WS_BORDER | WS_GROUP | WS_TABSTOP
    LTEXT "&Verde:", IDC_COLOR_GL /*1095*/, 247, 140, 27, 10
    EDITTEXT IDC_COLOR_EDIT_G, 275, 138, 21, 12, WS_BORDER | WS_GROUP | WS_TABSTOP
    LTEXT "A&zul:", IDC_COLOR_BL /*1096*/, 247, 154, 27, 10
    EDITTEXT IDC_COLOR_EDIT_B, 275, 152, 21, 12, WS_BORDER | WS_GROUP | WS_TABSTOP
    LTEXT "Mat&iz:" , IDC_COLOR_HL /*1091*/, 200, 126, 24, 10
    EDITTEXT IDC_COLOR_EDIT_H, 224, 124, 21, 12, WS_BORDER | WS_GROUP | WS_TABSTOP
    LTEXT "Sa&t:", IDC_COLOR_SL /*1092*/, 200, 140, 24, 10
    EDITTEXT IDC_COLOR_EDIT_S, 224, 138, 21, 12, WS_BORDER | WS_GROUP | WS_TABSTOP
    LTEXT "&Lum:", IDC_COLOR_LL /*1093*/, 200, 154, 24, 10
    EDITTEXT IDC_COLOR_EDIT_L, 224, 152, 21, 12, WS_BORDER | WS_GROUP | WS_TABSTOP
    CONTROL "", IDC_COLOR_PREDEF, "STATIC", SS_SIMPLE | WS_TABSTOP | WS_GROUP, 4, 14, 140, 86
    CONTROL "", IDC_COLOR_USRDEF, "STATIC", SS_SIMPLE | WS_TABSTOP | WS_GROUP, 4, 116, 140, 28
    CONTROL "", IDC_COLOR_GRAPH, "STATIC", WS_BORDER | SS_SIMPLE | WS_TABSTOP | WS_GROUP, 152, 4, 118, 116
    CONTROL "", IDC_COLOR_LUMBAR, "STATIC", SS_SIMPLE | WS_TABSTOP | WS_GROUP, 278, 4, 8, 116
    CONTROL "", IDC_COLOR_RESULT, "STATIC", SS_SIMPLE | WS_TABSTOP | WS_GROUP, 152, 124, 40, 26
    DEFPUSHBUTTON "OK", IDOK, 4, 167, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancelar", IDCANCEL, 58, 167, 50, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "A&juda", pshHelp, 100, 166, 44, 14
    PUSHBUTTON "&Adicionar cor personalizada", IDC_COLOR_ADD /*1024*/, 152, 167, 144, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "&Definir cores personalizadas >>", IDC_COLOR_DEFINE /*1025*/, 4, 149, 142, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Colorido|&sólido", IDC_COLOR_RES, 300, 200, 4, 14 /* just a dummy */
}

FINDDLGORD DIALOG 36, 24, 276, 62
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Procurar"
FONT 8, "MS Shell Dlg"
{
    LTEXT "&Procurar:", -1, 4, 8, 52, 8
    EDITTEXT edt1, 57, 7, 148, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
    CHECKBOX "Palavra &inteira", chx1, 4, 26, 140, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    CHECKBOX "&Maiúsculas/minúsculas", chx2, 4, 42, 140, 12, BS_AUTOCHECKBOX | WS_TABSTOP
    GROUPBOX "Direcção", grp1, 147, 21, 58, 38
    AUTORADIOBUTTON "&Acima", rad1, 151, 30, 48, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "A&baixo", rad2, 151, 44, 48, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    DEFPUSHBUTTON "Pr&ocurar", IDOK, 212,  6, 60, 14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
    PUSHBUTTON "Cancelar", IDCANCEL, 212, 24, 60, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "A&juda", pshHelp, 212, 42, 60, 14, WS_GROUP | WS_TABSTOP
}

REPLACEDLGORD DIALOG 36, 24, 276, 94
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Substituir"
FONT 8, "MS Shell Dlg"
{
    LTEXT "&Procurar:", -1, 4, 8, 52, 8
    EDITTEXT edt1, 57, 7, 148, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
    LTEXT "Substituir po&r:", -1, 4, 26, 52, 8
    EDITTEXT edt2, 57, 24, 148, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
    CHECKBOX "Palavra &inteira", chx1, 5, 46, 120, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
    CHECKBOX "&Maiúsculas/minúsculas", chx2, 5, 62, 120, 12, BS_AUTOCHECKBOX | WS_TABSTOP
    DEFPUSHBUTTON "Pr&ocurar", IDOK, 212,  6, 60, 14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
    PUSHBUTTON "&Substituir", psh1, 212, 24, 60, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Substituir &tudo", psh2 , 212, 42, 60, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "Cancelar", IDCANCEL, 212, 60, 60, 14, WS_GROUP | WS_TABSTOP
    PUSHBUTTON "A&juda", pshHelp, 212, 78, 60, 14, WS_GROUP | WS_TABSTOP
}

PRINT32 DIALOG  32, 32, 288, 186
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CONTEXTHELP
CAPTION "Imprimir"
FONT 8, "MS Shell Dlg"
{
    DEFPUSHBUTTON "OK", IDOK, 176, 164, 50, 14, WS_GROUP | BS_DEFPUSHBUTTON
    PUSHBUTTON "Cancelar", IDCANCEL, 230, 164, 50, 14, WS_GROUP
    PUSHBUTTON "A&juda", pshHelp, 50, 161, 50,14, WS_GROUP
    GROUPBOX "Impressora", grp4, 8, 4, 272, 84, WS_GROUP
    CONTROL "Para &ficheiro", chx1, "Button", BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 185, 36, 90, 16
    PUSHBUTTON "&Propriedades", psh2, 212, 17, 60,14, WS_GROUP
    LTEXT "&Nome:", stc6, 16, 20, 36,8
    COMBOBOX cmb4, 52, 18, 152, 152, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT "Status:", stc8,  16, 36,  47,10, SS_NOPREFIX
    LTEXT "", stc12, 65, 36, 120, 10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT "Tipo:", stc7, 16, 48, 47, 10, SS_NOPREFIX
    LTEXT "", stc11, 65, 48, 212, 10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT "Local:", stc10, 16, 60, 47, 10, SS_NOPREFIX
    LTEXT "", stc14, 65, 60, 212, 10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT "Nota:", stc9, 16, 72, 47, 10, SS_NOPREFIX
    LTEXT "", stc13, 65, 72, 212, 10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    GROUPBOX "Cópias", grp2, 160, 92, 120, 64, WS_GROUP
    LTEXT "Número de &cópias:", stc5, 168, 105, 68, 8
    ICON "", ico3, 210, 131, 76, 24, WS_GROUP
    CONTROL "A&grupar", chx2, "Button", BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 168, 118, 100, 12
    EDITTEXT edt3, 240, 103, 32, 12, WS_GROUP | ES_NUMBER
    GROUPBOX "Faixa de impressão", grp1, 8, 92, 144, 64, WS_GROUP
    AUTORADIOBUTTON "&Todos", rad1, 16, 106, 64, 12, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Pág&inas", rad3, 16, 122, 36, 12
    AUTORADIOBUTTON "&Selecção", rad2, 16, 138, 64, 12
    EDITTEXT edt1, 73, 122,  26, 12, WS_GROUP | ES_NUMBER
    EDITTEXT edt2, 120, 122,  26, 12, WS_GROUP | ES_NUMBER
    RTEXT "&de:", stc2, 52, 124, 20, 8
    RTEXT "&até", stc3, 99, 124, 20, 8
}

PRINT32_SETUP DIALOG  32, 32, 288, 178
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CONTEXTHELP
CAPTION "Configurações de Impressão"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 176, 156, 50, 14, WS_GROUP
    PUSHBUTTON "Cancelar", IDCANCEL, 230, 156, 50, 14
/*    PUSHBUTTON      "Network...", psh5, 284,156,48,14 */
    GROUPBOX "Impressora", grp4, 8, 4, 272, 84, WS_GROUP
    PUSHBUTTON "&Propriedades", psh2, 212, 17, 60, 14, WS_GROUP
    LTEXT "&Nome:", stc6, 16, 20, 36, 8
    COMBOBOX cmb1, 52, 18, 152, 152, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT "Status:", stc8, 16, 36, 47, 10, SS_NOPREFIX
    LTEXT "", stc12, 65, 36, 212, 10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT "Tipo:", stc7, 16, 48, 47, 10, SS_NOPREFIX
    LTEXT "", stc11, 65, 48, 212, 10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT "Local:", stc10, 16, 60, 47, 10, SS_NOPREFIX
    LTEXT "", stc14, 65, 60, 212, 10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT "Nota:", stc9, 16, 72, 47, 10, SS_NOPREFIX
    LTEXT "", stc13, 65, 72, 212, 10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    GROUPBOX "Papel", grp2, 8, 92, 164, 56, WS_GROUP
    LTEXT "Tama&nho:", stc2, 16, 108, 36, 8
    COMBOBOX cmb2, 52, 106, 112, 112,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT "&Origem:", stc3, 16, 128, 36, 8
    COMBOBOX cmb3, 52, 126, 112, 112, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    GROUPBOX "Orientação", grp1, 180, 92, 100, 56, WS_GROUP
    ICON "", ico1, 195, 112, 18, 20, WS_GROUP
    AUTORADIOBUTTON "&Retrato", rad1, 224, 106, 52, 12, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Pai&sagem", rad2, 224, 126, 52, 12
END

PAGESETUPDLGORD DIALOG 32, 32, 240, 240
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Configurações de Página"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", rct1, "Static", SS_WHITERECT, 80, 8, 80, 80
    CONTROL "", rct2, "Static", SS_GRAYRECT, 160, 12, 4, 80
    CONTROL "", rct3, "Static", SS_GRAYRECT, 84, 88, 80, 4
    GROUPBOX "Papel", grp2, 8, 96, 224, 56, BS_GROUPBOX
    LTEXT "&Tamanho:", stc2, 16, 112, 36, 8
    COMBOBOX cmb2, 64, 110, 160, 160, CBS_SIMPLE | CBS_DROPDOWN | CBS_SORT | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT "&Bandeja:", stc3, 16, 132, 36, 8
    COMBOBOX cmb3, 64, 130, 160, 160, CBS_SIMPLE | CBS_DROPDOWN | CBS_SORT | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    GROUPBOX "Orientação", grp1, 8, 156, 64, 56, BS_GROUPBOX
    AUTORADIOBUTTON "&Retrato", rad1, 16, 170, 52, 12
    AUTORADIOBUTTON "P&aisagem", rad2, 16, 190, 52, 12
    GROUPBOX "", grp4, 80, 156, 152, 56, BS_GROUPBOX
    LTEXT "&Esquerda:", stc15, 88, 172, 30, 8
    EDITTEXT edt4, 119, 170, 36, 12, WS_TABSTOP|WS_GROUP | WS_BORDER
    LTEXT "&Direita:", stc16, 159, 172, 30, 8
    EDITTEXT edt6, 190, 170, 36, 12, WS_TABSTOP|WS_GROUP | WS_BORDER
    LTEXT "&Superior:", stc17, 88, 192, 30, 8
    EDITTEXT edt5, 119, 190, 36, 12, WS_TABSTOP|WS_GROUP | WS_BORDER
    LTEXT "&Inferior:", stc18, 159, 192, 30, 8
    EDITTEXT edt7, 190, 190, 36, 12, WS_TABSTOP|WS_GROUP | WS_BORDER
    DEFPUSHBUTTON "OK", IDOK, 70, 220, 50, 14, BS_PUSHBUTTON
    PUSHBUTTON "Cancelar", IDCANCEL, 126, 220, 50, 14
    PUSHBUTTON "Im&pressora...", psh3, 182, 220, 50, 14
END

NEWFILEOPENORD DIALOG 0, 0, 280, 164
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN
CAPTION "Abrir"
FONT 8, "MS Shell Dlg"
{
    LTEXT "Ver &em:", IDC_LOOKINSTATIC, 4, 6, 43, 8, SS_NOTIFY
    COMBOBOX IDC_LOOKIN, 49, 3, 132, 100, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT "", IDC_TOOLBARSTATIC, 181, 2, 102, 17, NOT WS_GROUP | NOT WS_VISIBLE
    LISTBOX IDC_SHELLSTATIC, 4, 20, 272, 85, LBS_SORT | LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN | WS_HSCROLL | NOT WS_VISIBLE
    LTEXT "&Nome do ficheiro:", IDC_FILENAMESTATIC, 5, 112, 56, 16, SS_NOTIFY
    EDITTEXT IDC_FILENAME,63,110,150,12,ES_AUTOHSCROLL
    CONTROL "", cmb13, "ComboBoxEx32", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP, 63, 110, 150, 150
    LTEXT "Ficheiros do &tipo:", IDC_FILETYPESTATIC, 5, 130, 56, 16, SS_NOTIFY
    COMBOBOX IDC_FILETYPE, 63, 128, 150, 53,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL "Abrir como apenas-&leitura", IDC_OPENREADONLY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 63, 148, 150, 10
    DEFPUSHBUTTON "&Abrir", IDOK, 222, 110, 54, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 222, 128, 54, 14
    PUSHBUTTON "A&juda", pshHelp, 222, 145, 54, 14
}

NEWFILEOPENV2ORD DIALOG 0, 0, 370, 237
STYLE DS_MODALFRAME | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN
CAPTION "Abrir"
FONT 8, "MS Shell Dlg"
{
    LTEXT "Ver &em:", IDC_LOOKINSTATIC, 28, 6, 43, 8, SS_NOTIFY
    COMBOBOX IDC_LOOKIN, 64, 3, 150, 100, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    LTEXT "" , IDC_TOOLBARSTATIC, 209, 2, 102, 17, NOT WS_GROUP | NOT WS_VISIBLE
    CONTROL "", IDC_TOOLBARPLACES, "ToolbarWindow32", 0x800 | CCS_NORESIZE | CCS_TOP | CCS_NOPARENTALIGN | CCS_NODIVIDER, 4, 20, 56, 192
    LISTBOX IDC_SHELLSTATIC, 64, 20, 300, 155, LBS_SORT | LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN | WS_HSCROLL | NOT WS_VISIBLE
    LTEXT "&Nome do ficheiro:", IDC_FILENAMESTATIC, 65, 182, 56, 16, SS_NOTIFY
    EDITTEXT IDC_FILENAME, 123, 180, 180, 12, ES_AUTOHSCROLL
    CONTROL "", cmb13, "ComboBoxEx32", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP, 123, 180, 180, 150
    LTEXT "Ficheiros &tipo:", IDC_FILETYPESTATIC, 65, 200, 56, 16, SS_NOTIFY
    COMBOBOX IDC_FILETYPE, 123, 198, 180, 53, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL "Abrir como só &leitura", IDC_OPENREADONLY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 123, 218, 150, 10
    DEFPUSHBUTTON "&Abrir", IDOK, 310, 180, 54, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 310, 198, 54, 14
    PUSHBUTTON "A&juda", pshHelp, 310, 215, 54, 14
}

NEWFILEOPENV3ORD DIALOG 0, 0, 440, 300
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN | WS_THICKFRAME
CAPTION "Abrir"
FONT 8, "MS Shell Dlg"
{
    LTEXT "&Nome do ficheiro:", IDC_FILENAMESTATIC, 160, 240, 60, 9, SS_RIGHT | WS_CLIPSIBLINGS
    EDITTEXT IDC_FILENAME, 226, 240, 100, 12,  WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_CLIPSIBLINGS | ES_AUTOHSCROLL
    LTEXT "Ficheiros do &tipo:", IDC_FILETYPESTATIC, 160, 256, 60, 9, SS_RIGHT | WS_CLIPSIBLINGS
    COMBOBOX IDC_FILETYPE, 226, 256, 100, 60,  WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL |
                                               WS_CLIPSIBLINGS | CBS_HASSTRINGS | CBS_DROPDOWNLIST
    DEFPUSHBUTTON "&Abrir",  IDOK,     350, 240, 40, 14, WS_GROUP | WS_CLIPSIBLINGS //FIXME: accelerator collision &A
    /* drop-down menu for open button */
    CONTROL "6", psh1, "Button", WS_CHILD | WS_CLIPSIBLINGS | WS_GROUP | WS_TABSTOP | BS_CHECKBOX | BS_PUSHLIKE, 342, 240, 8, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 395, 240, 40, 14, WS_CLIPSIBLINGS
    PUSHBUTTON "A&juda",  pshHelp,  350, 272, 40, 14, WS_CLIPSIBLINGS
}
