/*
 * Resources for Common Dialogs
 *
 * Copyright 1999 Bertho Stultiens
 * Copyright 1999 Klaas van Gend
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_GERMAN, SUBLANG_DEFAULT

STRINGTABLE
{
    IDS_FILENOTFOUND        "Datei nicht gefunden"
    IDS_VERIFYFILE          "Bitte überprüfen sie, ob der korrekte Dateiname angegeben wurde"
    IDS_CREATEFILE          "Die Datei existiert nicht.\n\
Wollen Sie sie neu anlegen?"
    IDS_OVERWRITEFILE       "Die Datei existiert bereits.\n\
Wollen Sie sie überschreiben?"
    IDS_INVALID_FILENAME_TITLE "Unzulässige Zeichen im Pfad"
    IDS_INVALID_FILENAME    "Ein Dateiname darf folgende Zeichen nicht enthalten:\n\
                          / : < > |"
    IDS_PATHNOTEXISTING     "Der Pfad existiert nicht"
    IDS_FILENOTEXISTING     "Die Datei existiert nicht"
    IDS_INVALID_FOLDERNAME  "The selection contains a non-folder object"
}

STRINGTABLE
{
    IDS_UPFOLDER         "Eine Verzeichnisebene höher"
    IDS_NEWFOLDER        "Neuen Ordner anlegen"
    IDS_LISTVIEW         "Liste"
    IDS_REPORTVIEW       "Details"
    IDS_TODESKTOP        "Desktopordner anzeigen"
}

STRINGTABLE
{
    PD32_PRINT_TITLE       "Drucken"

    PD32_VALUE_UREADABLE                  "Unlesbarer Eintrag"
    PD32_INVALID_PAGE_RANGE "Dieser Wert liegt nicht auf der Seite.\n\
Bitte geben sie einen Wert zwischen %1!d! und %2!d! an."
    PD32_FROM_NOT_ABOVE_TO                "Der 'von' Eintrag kann nicht größer sein als der 'bis' Eintrag."
    PD32_MARGINS_OVERLAP                  "Die Ränder überlappen oder sind außerhalb des Papiers.\n\
Bitte die Ränder neu eingeben."
    PD32_NR_OF_COPIES_EMPTY               "Es muss ein Wert bei der Anzahl der Kopien angegeben werden."
    PD32_TOO_LARGE_COPIES                 "Ihr Drucker unterstützt so viele Kopien nicht.\n\
Bitte geben Sie eine Zahl zwischen 1 und %d ein."
    PD32_PRINT_ERROR                      "Ein Druckerfehler ist aufgetreten."
    PD32_NO_DEFAULT_PRINTER               "Es ist kein Standarddrucker eingestellt."
    PD32_CANT_FIND_PRINTER                "Kann den Drucker nicht finden."
    PD32_OUT_OF_MEMORY                    "Kein freier Speicher mehr."
    PD32_GENERIC_ERROR                    "Ein unbekannter Fehler ist aufgetreten."
    PD32_DRIVER_UNKNOWN                   "Unbekannter Druckertreiber."
    PD32_NO_DEVICES                       "Bevor Sie Drucker-relevante Aufgaben ausführen können, wie die Seiteneinrichtung oder ein Dokument zu drucken, müssen Sie einen Drucker installieren. Bitte führen Sie dies zuerst aus und versuchen Sie es erneut."

    PD32_DEFAULT_PRINTER                  "Standarddrucker; "
    PD32_NR_OF_DOCUMENTS_IN_QUEUE         "Es sind %d Dokumente in der Warteschlange"
    PD32_MARGINS_IN_INCHES                "Ränder [Zoll]"
    PD32_MARGINS_IN_MILLIMETERS           "Ränder [mm]"
    PD32_MILLIMETERS                      "mm"

    PD32_PRINTER_STATUS_READY             "Bereit"
    PD32_PRINTER_STATUS_PAUSED            "Gestoppt; "
    PD32_PRINTER_STATUS_ERROR             "Fehler; "
    PD32_PRINTER_STATUS_PENDING_DELETION  "Wartet auf Löschung; "
    PD32_PRINTER_STATUS_PAPER_JAM         "Papierstau; "
    PD32_PRINTER_STATUS_PAPER_OUT         "Papierfach leer; "
    PD32_PRINTER_STATUS_MANUAL_FEED       "Papier manuell zuführen; "
    PD32_PRINTER_STATUS_PAPER_PROBLEM     "Papierproblem; "
    PD32_PRINTER_STATUS_OFFLINE           "Drucker ist unerreichbar; "
    PD32_PRINTER_STATUS_IO_ACTIVE         "Datenübertragung; "
    PD32_PRINTER_STATUS_BUSY              "Beschäftigt; "
    PD32_PRINTER_STATUS_PRINTING          "Druckt; "
    PD32_PRINTER_STATUS_OUTPUT_BIN_FULL   "Ausgabefach ist voll; "
    PD32_PRINTER_STATUS_NOT_AVAILABLE     "Nicht vorhanden; "
    PD32_PRINTER_STATUS_WAITING           "Warten; "
    PD32_PRINTER_STATUS_PROCESSING        "In Bearbeitung; "
    PD32_PRINTER_STATUS_INITIALIZING      "Initialisierung; "
    PD32_PRINTER_STATUS_WARMING_UP        "Aufwärmen; "
    PD32_PRINTER_STATUS_TONER_LOW         "Tonerstand niedrig; "
    PD32_PRINTER_STATUS_NO_TONER          "Kein Toner mehr; "
    PD32_PRINTER_STATUS_PAGE_PUNT         "Seitenausgabe; "
    PD32_PRINTER_STATUS_USER_INTERVENTION "Durch Benutzer unterbrochen; "
    PD32_PRINTER_STATUS_OUT_OF_MEMORY     "Kein Speicher mehr; "
    PD32_PRINTER_STATUS_DOOR_OPEN         "Druckergehäuse ist offen; "
    PD32_PRINTER_STATUS_SERVER_UNKNOWN    "Druckserver unbekannt; "
    PD32_PRINTER_STATUS_POWER_SAVE        "Stromsparmodus; "
}

STRINGTABLE /* Font styles */
{
    IDS_FONT_REGULAR       "Normal"
    IDS_FONT_BOLD          "Fett"
    IDS_FONT_ITALIC        "Kursiv"
    IDS_FONT_BOLD_ITALIC   "Fett Kursiv"
}

STRINGTABLE /* Color names */
{
    IDS_COLOR_BLACK     "Schwarz"
    IDS_COLOR_MAROON    "Kastanienbraun"
    IDS_COLOR_GREEN     "Grün"
    IDS_COLOR_OLIVE     "Olivgrün"
    IDS_COLOR_NAVY      "Dunkelblau"
    IDS_COLOR_PURPLE    "Lila"
    IDS_COLOR_TEAL      "Blaugrün"
    IDS_COLOR_GRAY      "Grau"
    IDS_COLOR_SILVER    "Silber"
    IDS_COLOR_RED       "Rot"
    IDS_COLOR_LIME      "Hellgrün"
    IDS_COLOR_YELLOW    "Gelb"
    IDS_COLOR_BLUE      "Blau"
    IDS_COLOR_FUCHSIA   "Fuchsie"
    IDS_COLOR_AQUA      "Aquamarin"
    IDS_COLOR_WHITE     "Weiß"
}

STRINGTABLE
{
    IDS_FONT_SIZE   "Wählen Sie eine Schriftgröße zwischen %1!d! und %2!d! Punkten aus."
    IDS_SAVE_BUTTON "&Speichern"
    IDS_SAVE_IN     "Speichern &unter:"
    IDS_SAVE        "Speichern"
    IDS_SAVE_AS     "Speichern als"
    IDS_OPEN_FILE   "Öffne Datei"
    IDS_SELECT_FOLDER "Ordner auswählen"
    IDS_FONT_SIZE_INPUT "Schriftgröße muss eine Zahl sein."
}

/*
 * WARNING: DO NOT CHANGE THE SIZE OF THE STANDARD DIALOG TEMPLATES.
 */

OPEN_FILE DIALOG 36, 24, 275, 134
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Öffnen"
FONT 8, "MS Shell Dlg"
{
 LTEXT "Datei&name:", stc3, 6, 6, 76, 9
 EDITTEXT edt1, 6, 16, 90, 12, ES_AUTOHSCROLL | ES_OEMCONVERT | WS_BORDER | WS_TABSTOP
 LISTBOX lst1, 6, 32, 90, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
 LTEXT "&Verzeichnisse:", -1, 110, 6, 92, 9
 LTEXT "", stc1, 110, 18, 92, 9, SS_NOPREFIX | WS_GROUP
 LISTBOX lst2, 110, 32, 92, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
 LTEXT "Liste der Datei&typen:", stc2, 6, 104, 90, 9
 COMBOBOX cmb1, 6, 114, 90, 60, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT "&Laufwerke:", stc4, 110, 104, 92, 9
 COMBOBOX cmb2, 110, 114, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "Öffnen", IDOK, 208, 6, 60, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Abbrechen", IDCANCEL, 208, 24, 60, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Hilfe", pshHelp, 208, 46, 60, 14, WS_GROUP | WS_TABSTOP
 CHECKBOX "&Schreibgeschützt", chx1, 208, 68, 65, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}


SAVE_FILE DIALOG 36, 24, 275, 134
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Speichern als..."
FONT 8, "MS Shell Dlg"
{
 LTEXT "Datei&name:", stc3, 6, 6, 76, 9
 EDITTEXT edt1, 6, 16, 90, 12, ES_AUTOHSCROLL | ES_OEMCONVERT | WS_BORDER | WS_TABSTOP
 LISTBOX lst1, 6, 32, 90, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
 LTEXT "&Verzeichnisse:", -1, 110, 6, 92, 9
 LTEXT "", stc1, 110, 18, 92, 9, SS_NOPREFIX | WS_GROUP
 LISTBOX lst2, 110, 32, 92, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
 LTEXT "Liste der Datei&typen:", stc2, 6, 104, 90, 9
 COMBOBOX cmb1, 6, 114, 90, 60, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT "&Laufwerke:", stc4, 110, 104, 92, 9
 COMBOBOX cmb2, 110, 114, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "Speichern als", IDOK, 208, 6, 60, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Abbrechen", IDCANCEL, 208, 24, 60, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Hilfe", pshHelp, 208, 46, 60, 14, WS_GROUP | WS_TABSTOP
 CHECKBOX "&Schreibgeschützt", chx1, 208, 68, 65, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}


PRINT DIALOG 36, 24, 264, 134
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Drucken"
FONT 8, "MS Shell Dlg"
{
 LTEXT "Drucker:", stc1, 6, 6, 40, 9
 LTEXT "", stc2, 60, 6, 150, 9
 GROUPBOX "Druckbereich", grp1, 6, 30, 160, 65, BS_GROUPBOX
 RADIOBUTTON "&Alles", rad1, 16, 45, 60, 12
 RADIOBUTTON "A&uswahl", rad2, 16, 60, 60, 12
 RADIOBUTTON "&Seiten", rad3, 16, 75, 60, 12
 DEFPUSHBUTTON "Drucken", IDOK, 206, 6, 56, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Abbrechen", IDCANCEL, 206, 24, 56, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Einrichten", psh1, 206, 46, 56, 14, WS_GROUP | WS_TABSTOP
 LTEXT "&Von:", stc3, 60, 80, 30, 9
 LTEXT "&Bis:", stc4, 120, 80, 30, 9
 LTEXT "Druck&qualität:", stc5, 6, 100, 76, 9
 COMBOBOX cmb1, 80, 100, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 CHECKBOX "In &Datei drucken", chx1, 20, 120, 50, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "Verdichtet", chx2, 160, 120, 50, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}


PRINT_SETUP DIALOG 36, 24, 264, 134
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Druckereinrichtung"
FONT 8, "MS Shell Dlg"
{
 GROUPBOX "Drucker", grp1, 6, 6, 180, 72, BS_GROUPBOX
 RADIOBUTTON "&Standarddrucker", rad1, 16, 16, 150, 12
 LTEXT "[keiner]", stc1, 35, 30, 120, 9
 RADIOBUTTON "Bestimmter &Drucker", rad2, 16, 44, 150, 12
 COMBOBOX cmb1, 35, 58, 145, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDOK, 206, 6, 56, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Abbrechen", IDCANCEL, 206, 24, 56, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Einrichten", psh1, 206, 46, 56, 14, WS_GROUP | WS_TABSTOP
 GROUPBOX "Ausrichtung", grp2, 6, 82, 100, 50, BS_GROUPBOX
 RADIOBUTTON "&Hochformat", rad3, 50, 95, 50, 12
 RADIOBUTTON "&Querformat", rad4, 50, 110, 50, 12
 ICON "LANDSCAP", stc10, 10, 95, 32, 32
 ICON "PORTRAIT", stc11, 10, 95, 32, 32
 GROUPBOX "Papier", grp3, 116, 82, 178, 50, BS_GROUPBOX
 LTEXT "&Größe", stc2, 126, 95, 35, 9
 LTEXT "P&apierquelle", stc3, 126, 110, 35, 9
 COMBOBOX cmb2, 155, 95, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 COMBOBOX cmb3, 155, 110, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
}


CHOOSE_FONT DIALOG  13, 54, 274, 169
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Schriftart"
FONT 8, "MS Shell Dlg"
{
    LTEXT           "Schrift&art:",stc1 ,6,3,90,9
    COMBOBOX        cmb1, 6,13,94,76,  CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | CBS_DISABLENOSCROLL |
                    CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP | CBS_SIMPLE
    LTEXT           "Schrift&stil:",stc2 ,108,3,60,9
    COMBOBOX        cmb2,108,13,64,76, CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | CBS_DISABLENOSCROLL |
                    WS_VSCROLL | WS_TABSTOP | CBS_SIMPLE
    LTEXT           "&Größe:",stc3,179,3,32,9
    COMBOBOX        cmb3,179,13,32,76, CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | CBS_DISABLENOSCROLL |
                    WS_VSCROLL | WS_TABSTOP | CBS_SIMPLE | CBS_SORT
    DEFPUSHBUTTON   "OK",IDOK,218,6,50,14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "Abbrechen",IDCANCEL,218,23,50,14,WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "&Anwenden", psh3,218,40,50,14,WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "&Hilfe" , pshHelp,218,57,50,14,WS_GROUP | WS_TABSTOP
    GROUPBOX        "Darstellung",grp1,6,92,84,36,WS_GROUP
    CHECKBOX	    "&Durchgestrichen", chx1, 10,102,78,10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX 	    "&Unterstrichen", chx2, 10,114,78,10, BS_AUTOCHECKBOX
    LTEXT           "&Farbe:", stc4 ,6,134,80,9
    COMBOBOX        cmb4,6,144,84,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS |
		    CBS_AUTOHSCROLL |  WS_BORDER | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Muster",grp2,98,92,120,36,WS_GROUP
    CTEXT           "",stc5,103,101,109,24,SS_NOPREFIX | NOT WS_VISIBLE
    LTEXT           "Skr&ipt:",stc7 ,98,134,40,9
    COMBOBOX        cmb5,98,144,120,90,CBS_DROPDOWNLIST | CBS_HASSTRINGS |
		    CBS_AUTOHSCROLL |   WS_VSCROLL | WS_TABSTOP
}


CHOOSE_COLOR DIALOG 36, 24, 300, 185
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Farbe"
FONT 8, "MS Shell Dlg"
{
 LTEXT "Gr&undfarben:",   stc1, 4,    4,  140, 10
 LTEXT "Selbs&t definierte Farben:",  stc2, 4,   106, 140, 10
 LTEXT "Farbe |  B&asis",  stc3, 150, 151,  48, 10
 LTEXT   "&Rot:", IDC_COLOR_RL /*1094*/,247,126,27,10
 EDITTEXT IDC_COLOR_EDIT_R, 275,124,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT   "&Grün:", IDC_COLOR_GL /*1095*/,247,140,27,10
 EDITTEXT IDC_COLOR_EDIT_G, 275,138,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT   "&Blau:", IDC_COLOR_BL /*1096*/,247,154,27,10
 EDITTEXT IDC_COLOR_EDIT_B, 275,152,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT  "&Farbe:" , IDC_COLOR_HL /*1091*/,200,126,24,10
 EDITTEXT IDC_COLOR_EDIT_H, 224,124,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT  "&Sätt:", IDC_COLOR_SL /*1092*/,200,140,24,10
 EDITTEXT IDC_COLOR_EDIT_S, 224,138,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT  "H&ell:", IDC_COLOR_LL /*1093*/,200,154,24,10
 EDITTEXT IDC_COLOR_EDIT_L, 224,152,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 CONTROL "" , IDC_COLOR_PREDEF, "STATIC",SS_SIMPLE|WS_TABSTOP|WS_GROUP,4,14,140,86
 CONTROL "" , IDC_COLOR_USRDEF, "STATIC",SS_SIMPLE|WS_TABSTOP|WS_GROUP,4,116,140,28
 CONTROL "" , IDC_COLOR_GRAPH, "STATIC",WS_BORDER|SS_SIMPLE|WS_TABSTOP|WS_GROUP, 152,4,118,116
 CONTROL "" , IDC_COLOR_LUMBAR, "STATIC",SS_SIMPLE|WS_TABSTOP|WS_GROUP, 278,4,8,116
 CONTROL "" , IDC_COLOR_RESULT, "STATIC",SS_SIMPLE|WS_TABSTOP|WS_GROUP, 152,124,40,26
 DEFPUSHBUTTON "OK",  IDOK,  4, 167, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Abbrechen", IDCANCEL, 58, 167, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Hilfe", pshHelp,100,166, 44, 14
 PUSHBUTTON "Farbe hin&zufügen",    IDC_COLOR_ADD /*1024*/, 152, 167, 144, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Farben &definieren >>", IDC_COLOR_DEFINE /*1025*/,   4, 149, 142, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Farbe |  B&asis", IDC_COLOR_RES, 300,200,4,14   /* just a dummy */
}


FINDDLGORD DIALOG 36, 24, 276, 62
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Suchen"
FONT 8, "MS Shell Dlg"
{
 LTEXT "S&uchen nach:", -1, 4, 8, 52, 8
 EDITTEXT edt1, 57, 7, 148, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 CHECKBOX "Nu&r ganzes Wort suchen", chx1, 4, 26, 140, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "Groß-/Klein&schreibung", chx2, 4, 42, 140, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 GROUPBOX "Suchrichtung", grp1, 147, 21, 58, 38
 CONTROL "&Oben", rad1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 151, 30, 48, 12
 CONTROL "&Unten", rad2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 151, 44, 48, 12

 DEFPUSHBUTTON "&Weitersuchen", IDOK, 212,  6, 60, 14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
 PUSHBUTTON "Abbrechen", IDCANCEL	 , 212, 24, 60, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Hilfe", pshHelp	 , 212, 42, 60, 14, WS_GROUP | WS_TABSTOP
}


REPLACEDLGORD DIALOG 36, 24, 276, 94
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ersetzen"
FONT 8, "MS Shell Dlg"
{
 LTEXT "S&uchen nach:", -1, 4, 8, 52, 8
 EDITTEXT edt1, 57, 7, 148, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT "Ersetzen &durch:", -1, 4, 26, 52, 8
 EDITTEXT edt2, 57, 24, 148, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 CHECKBOX "Nu&r ganzes Wort suchen", chx1, 5, 46, 120, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "Groß-/Klein&schreibung", chx2, 5, 62, 120, 12, BS_AUTOCHECKBOX | WS_TABSTOP

 DEFPUSHBUTTON "&Weitersuchen", IDOK, 212,  6, 60, 14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
 PUSHBUTTON "&Ersetzen", psh1	 , 212, 24, 60, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "A&lles ersetzen", psh2 , 212, 42, 60, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Abbrechen", IDCANCEL	 , 212, 60, 60, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Hilfe", pshHelp	 , 212, 78, 60, 14, WS_GROUP | WS_TABSTOP
}


PRINT32 DIALOG  32, 32, 288, 186
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU |
      DS_CONTEXTHELP
CAPTION "Drucken"
FONT 8, "MS Shell Dlg"
{
    DEFPUSHBUTTON   "OK",     IDOK,     176,164, 50,14, WS_GROUP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "Abbrechen", IDCANCEL, 230,164, 50,14, WS_GROUP
    PUSHBUTTON      "&Hilfe",  pshHelp,  50, 161, 50,14, WS_GROUP

    GROUPBOX        "Drucker",        grp4,   8,  4, 272,84, WS_GROUP
    CONTROL         "In Da&tei drucken", chx1, "Button",BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,185,36,90,16
    PUSHBUTTON      "&Eigenschaften",    psh2, 212, 17,  60,14, WS_GROUP
    LTEXT           "&Name:",         stc6,  16, 20,  36,8
    COMBOBOX                          cmb4,  52, 18, 152,152,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT           "Status:",        stc8,  16, 36,  47,10, SS_NOPREFIX
    LTEXT           "",               stc12, 65, 36, 120,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "Typ:",          stc7,  16, 48,  47,10, SS_NOPREFIX
    LTEXT           "",               stc11, 65, 48, 212,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "Ort:",         stc10, 16, 60,  47,10, SS_NOPREFIX
    LTEXT           "",               stc14, 65, 60, 212,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "Kommentar:",       stc9,  16, 72,  47,10, SS_NOPREFIX
    LTEXT           "",               stc13, 65, 72, 212,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP

    GROUPBOX        "Kopien",         grp2, 160, 92, 120,64, WS_GROUP
    LTEXT           "Anzahl &Kopien:",stc5,168,105,68,8
    ICON            "",               ico3, 210,131,  76,24, WS_GROUP
    CONTROL         "S&ortieren",       chx2,"Button",BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,168,118,100,12
    EDITTEXT                          edt3, 240,103,  32,12, WS_GROUP | ES_NUMBER

    GROUPBOX        "Druck Bereich",    grp1,   8,92,  144,64, WS_GROUP
    CONTROL         "&Alles",           rad1,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,16,106,64,12
    CONTROL         "&Seiten",         rad3,"Button",BS_AUTORADIOBUTTON,16,122,36,12
    CONTROL         "Aus&wahl",     rad2,"Button",BS_AUTORADIOBUTTON,16,138,64,12
    EDITTEXT                          edt1,  73,122,  26,12, WS_GROUP | ES_NUMBER
    EDITTEXT                          edt2, 120,122,  26,12, WS_GROUP | ES_NUMBER
    RTEXT           "&von:",         stc2,  52,124,  20,8
    RTEXT           "&bis:",           stc3,  99,124,  20,8
}

PRINT32_SETUP DIALOG  32, 32, 288, 178
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CONTEXTHELP
CAPTION "Druckereinrichtung"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,176,156,50,14,WS_GROUP
    PUSHBUTTON      "Abbrechen",IDCANCEL,230,156,50,14
/*    PUSHBUTTON      "Network...", psh5, 284,156,48,14 */

    GROUPBOX        "Drucker",        grp4,   8,  4, 272,84, WS_GROUP
    PUSHBUTTON      "&Eigenschaften",    psh2, 212, 17,  60,14, WS_GROUP
    LTEXT           "&Name:",         stc6,  16, 20,  36,8
    COMBOBOX                          cmb1,  52, 18, 152,152,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT           "Status:",        stc8,  16, 36,  47,10, SS_NOPREFIX
    LTEXT           "",               stc12, 65, 36, 212,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "Typ:",          stc7,  16, 48,  47,10, SS_NOPREFIX
    LTEXT           "",               stc11, 65, 48, 212,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "Ort:",         stc10, 16, 60,  47,10, SS_NOPREFIX
    LTEXT           "",               stc14, 65, 60, 212,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "Kommentar:",       stc9,  16, 72,  47,10, SS_NOPREFIX
    LTEXT           "",               stc13, 65, 72, 212,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP

    GROUPBOX        "Papier",          grp2,   8, 92, 164,56, WS_GROUP
    LTEXT           "G&röße:",         stc2,  16,108,  36, 8
    COMBOBOX                          cmb2,  52,106, 112,112,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT           "&Zufuhr:",       stc3,  16,128,  36, 8
    COMBOBOX                          cmb3,  52,126, 112,112,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP

    GROUPBOX        "Ausrichtung",    grp1, 180, 92, 100,56, WS_GROUP
    ICON            "",               ico1, 195,112,  18,20, WS_GROUP
    CONTROL         "&Hochformat",      rad1,"Button",BS_AUTORADIOBUTTON | WS_GROUP |WS_TABSTOP,224,106,52,12
    CONTROL         "&Querformat",     rad2,"Button",BS_AUTORADIOBUTTON,224,126,52,12
END

PAGESETUPDLGORD DIALOG 32, 32, 240, 240
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Seite einrichten"
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "", rct1, "Static", SS_WHITERECT, 80, 8, 80, 80
  CONTROL "", rct2, "Static", SS_GRAYRECT, 160, 12, 4, 80
  CONTROL "", rct3, "Static", SS_GRAYRECT,  84, 88, 80, 4
  GROUPBOX "Papier", grp2, 8, 96, 224, 56, BS_GROUPBOX
  LTEXT "&Größe:", stc2, 16, 112, 36, 8
  COMBOBOX cmb2, 64, 110, 160, 160, CBS_SIMPLE|CBS_DROPDOWN|CBS_SORT|WS_GROUP|WS_TABSTOP|WS_VSCROLL
  LTEXT "&Zufuhr:", stc3, 16, 132, 36, 8
  COMBOBOX cmb3, 64, 130, 160, 160, CBS_SIMPLE|CBS_DROPDOWN|CBS_SORT|WS_GROUP|WS_TABSTOP|WS_VSCROLL
  GROUPBOX "Ausrichtung", grp1, 8, 156, 64, 56, BS_GROUPBOX
  AUTORADIOBUTTON "&Hochformat", rad1, 16, 170, 52, 12, BS_AUTORADIOBUTTON
  AUTORADIOBUTTON "&Querformat", rad2, 16, 190, 52, 12, BS_AUTORADIOBUTTON
  GROUPBOX "", grp4, 80, 156, 152, 56, BS_GROUPBOX
  LTEXT "&Links:", stc15, 88, 172, 30, 8
  EDITTEXT edt4, 119, 170, 36, 12, WS_TABSTOP|WS_GROUP|WS_BORDER
  LTEXT "&Rechts:", stc16, 159, 172, 30, 8
  EDITTEXT edt6, 190, 170, 36, 12, WS_TABSTOP|WS_GROUP|WS_BORDER
  LTEXT "&Oben:", stc17, 88, 192, 30, 8
  EDITTEXT edt5, 119, 190, 36, 12, WS_TABSTOP|WS_GROUP|WS_BORDER
  LTEXT "&Unten:", stc18, 159, 192, 30, 8
  EDITTEXT edt7, 190, 190, 36, 12, WS_TABSTOP|WS_GROUP|WS_BORDER
  DEFPUSHBUTTON "OK", IDOK, 70, 220, 50, 14, BS_PUSHBUTTON
  PUSHBUTTON "Abbrechen", IDCANCEL, 126, 220, 50, 14
  PUSHBUTTON "&Drucker...", psh3, 182, 220, 50, 14
END

NEWFILEOPENORD DIALOG 0, 0, 280, 164
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN
CAPTION "Öffnen"
FONT 8, "MS Shell Dlg"
{
    LTEXT	"&Suche in:",IDC_LOOKINSTATIC,4,6,43,8, SS_NOTIFY
    COMBOBOX	IDC_LOOKIN,49,3,132,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

    LTEXT	"" , IDC_TOOLBARSTATIC, 181, 2, 102, 17, NOT WS_GROUP | NOT WS_VISIBLE
    LISTBOX	IDC_SHELLSTATIC,4,20,272,85, LBS_SORT | LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN | WS_HSCROLL | NOT WS_VISIBLE

    LTEXT	"Datei&name:",IDC_FILENAMESTATIC,5,112,56,16, SS_NOTIFY
    EDITTEXT	IDC_FILENAME,63,110,150,12,ES_AUTOHSCROLL
    CONTROL     "", cmb13, "ComboBoxEx32", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP, 63,110,150,150

    LTEXT	"Datei&typen:",IDC_FILETYPESTATIC,5,130,56,16, SS_NOTIFY
    COMBOBOX	IDC_FILETYPE,63,128,150,53,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL	"Schreibgeschüt&zt",IDC_OPENREADONLY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,63,148,150,10

    DEFPUSHBUTTON	"&Öffnen",		 IDOK,222,110,54,14
    PUSHBUTTON		"Abbrechen",		 IDCANCEL,222,128,54,14
    PUSHBUTTON		"&Hilfe",		 pshHelp,222,145,54,14
}

NEWFILEOPENV2ORD DIALOG 0, 0, 370, 237
STYLE DS_MODALFRAME | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN
CAPTION "Open"
FONT 8, "MS Shell Dlg"
{
    LTEXT "Look &in:", IDC_LOOKINSTATIC, 28, 6, 43, 8, SS_NOTIFY
    COMBOBOX IDC_LOOKIN, 64, 3, 150, 100, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

    LTEXT "" , IDC_TOOLBARSTATIC, 209, 2, 102, 17, NOT WS_GROUP | NOT WS_VISIBLE
    CONTROL "", IDC_TOOLBARPLACES, "ToolbarWindow32", 0x800 | CCS_NORESIZE | CCS_TOP | CCS_NOPARENTALIGN | CCS_NODIVIDER, 4, 20, 55, 208
    LISTBOX IDC_SHELLSTATIC, 64, 20, 300, 155, LBS_SORT | LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN | WS_HSCROLL | NOT WS_VISIBLE

    LTEXT "File &name:", IDC_FILENAMESTATIC, 65, 182, 56, 16, SS_NOTIFY
    EDITTEXT IDC_FILENAME, 123, 180, 180, 12, ES_AUTOHSCROLL
    CONTROL "", cmb13, "ComboBoxEx32", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP, 123, 180, 180, 150

    LTEXT "Files of &type:", IDC_FILETYPESTATIC, 65, 200, 56, 16, SS_NOTIFY
    COMBOBOX IDC_FILETYPE, 123, 198, 180, 53, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL "Open as &read-only", IDC_OPENREADONLY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 123, 218, 150, 10

    DEFPUSHBUTTON "&Open", IDOK, 310, 180, 54, 14
    PUSHBUTTON "Cancel", IDCANCEL, 310, 198, 54, 14
    PUSHBUTTON "&Help", pshHelp, 310, 215, 54, 14
}

NEWFILEOPENV3ORD DIALOG 0, 0, 440, 300
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN |
      WS_THICKFRAME
CAPTION "Öffnen"
FONT 8, "MS Shell Dlg"
{
    LTEXT           "Dateiname:", IDC_FILENAMESTATIC, 160, 240, 60, 9, SS_RIGHT | WS_CLIPSIBLINGS
    EDITTEXT        IDC_FILENAME, 226, 240, 100, 12,  WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_CLIPSIBLINGS | ES_AUTOHSCROLL

    LTEXT           "Dateien vom Typ:", IDC_FILETYPESTATIC, 160, 256, 60, 9, SS_RIGHT | WS_CLIPSIBLINGS
    COMBOBOX        IDC_FILETYPE, 226, 256, 100, 60,  WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL |
                    WS_CLIPSIBLINGS | CBS_HASSTRINGS | CBS_DROPDOWNLIST

    DEFPUSHBUTTON   "&Öffnen",  IDOK,     350, 240, 40, 14, WS_GROUP | WS_CLIPSIBLINGS

    /* drop-down menu for open button */
    CONTROL         "6", psh1, "Button", WS_CHILD | WS_CLIPSIBLINGS | WS_GROUP | WS_TABSTOP |
                    BS_CHECKBOX | BS_PUSHLIKE, 342, 240, 8, 14

    PUSHBUTTON      "Abbrechen", IDCANCEL, 395, 240, 40, 14, WS_CLIPSIBLINGS
    PUSHBUTTON      "&Hilfe",  pshHelp,  350, 272, 40, 14, WS_CLIPSIBLINGS
}
