/*
 * Resources for Common Dialogs
 *
 * Copyright 1999 Bertho Stultiens
 * Copyright 1999 Klaas van Gend
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE
{
    IDS_FILENOTFOUND        "Файл не найден"
    IDS_VERIFYFILE          "Проверьте, правильно ли указано имя файла"
    IDS_CREATEFILE          "Файла не существует.\n\
Хотите ли вы его создать?"
    IDS_OVERWRITEFILE       "Файл уже существует.\n\
Заменить его?"
    IDS_INVALID_FILENAME_TITLE "Некорректный символ(ы) в записи пути"
    IDS_INVALID_FILENAME    "Имя файла не может содержать следующие символы:\n\
                          / : < > |"
    IDS_PATHNOTEXISTING     "Путь не существует"
    IDS_FILENOTEXISTING     "Файл не существует"
    IDS_INVALID_FOLDERNAME  "Выбор содержит объект не являющийся папкой"
}

STRINGTABLE
{
    IDS_UPFOLDER         "Вверх на один уровень"
    IDS_NEWFOLDER        "Создать новую папку"
    IDS_LISTVIEW         "Список"
    IDS_REPORTVIEW       "Таблица"
    IDS_TODESKTOP        "Переход на рабочий стол"
}

STRINGTABLE
{
    PD32_PRINT_TITLE       "Печать"

    PD32_VALUE_UREADABLE                  "Нечитаемый элемент"
    PD32_INVALID_PAGE_RANGE "Это значение не лежит внутри диапазона страниц.\n\
Введите значение между %1!%d! и %2!d!."
    PD32_FROM_NOT_ABOVE_TO                "Значение ""от"" не должно превышать значения ""до""."
    PD32_MARGINS_OVERLAP                  "Границы перекрывают или превышают размеры бумаги.\n\
Введите их заново."
    PD32_NR_OF_COPIES_EMPTY               "Поле ""Число копий"" не может быть пустым."
    PD32_TOO_LARGE_COPIES                 "Такое большое количество копий не может быть напечатано вашим принтером.\n\
Введите значение от 1 до %d."
    PD32_PRINT_ERROR                      "Произошла ошибка принтера."
    PD32_NO_DEFAULT_PRINTER               "Не задан принтер по умолчанию."
    PD32_CANT_FIND_PRINTER                "Не удалось найти принтер."
    PD32_OUT_OF_MEMORY                    "Мало памяти."
    PD32_GENERIC_ERROR                    "Произошла ошибка."
    PD32_DRIVER_UNKNOWN                   "Неизвестный драйвер принтера."
    PD32_NO_DEVICES                       "Перед тем как настраивать страницу печати или печатать документ нужно установить принтеры. Пожалуйста установите его и попробуйте еще раз."

    PD32_DEFAULT_PRINTER                  "Принтер по умолчанию; "
    PD32_NR_OF_DOCUMENTS_IN_QUEUE         "Документов в очереди: %d"
    PD32_MARGINS_IN_INCHES                "Поля (дюймы)"
    PD32_MARGINS_IN_MILLIMETERS           "Поля (мм)"
    PD32_MILLIMETERS                      "мм"

    PD32_PRINTER_STATUS_READY             "Готово"
    PD32_PRINTER_STATUS_PAUSED            "Приостановлено; "
    PD32_PRINTER_STATUS_ERROR             "Ошибка; "
    PD32_PRINTER_STATUS_PENDING_DELETION  "Ожидание удаления; "
    PD32_PRINTER_STATUS_PAPER_JAM         "Замятие бумаги; "
    PD32_PRINTER_STATUS_PAPER_OUT         "Недостаточно бумаги; "
    PD32_PRINTER_STATUS_MANUAL_FEED       "Вставьте бумагу вручную; "
    PD32_PRINTER_STATUS_PAPER_PROBLEM     "Проблема с бумагой; "
    PD32_PRINTER_STATUS_OFFLINE           "Принтер в автономном режиме; "
    PD32_PRINTER_STATUS_IO_ACTIVE         "Ввод/Вывод активен; "
    PD32_PRINTER_STATUS_BUSY              "Занят; "
    PD32_PRINTER_STATUS_PRINTING          "Идет печать; "
    PD32_PRINTER_STATUS_OUTPUT_BIN_FULL   "Лоток переполнен бумагой; "
    PD32_PRINTER_STATUS_NOT_AVAILABLE     "Не доступен; "
    PD32_PRINTER_STATUS_WAITING           "Ожидание; "
    PD32_PRINTER_STATUS_PROCESSING        "Обработка; "
    PD32_PRINTER_STATUS_INITIALIZING      "Подготовка; "
    PD32_PRINTER_STATUS_WARMING_UP        "Прогрев; "
    PD32_PRINTER_STATUS_TONER_LOW         "Тонер на исходе; "
    PD32_PRINTER_STATUS_NO_TONER          "Нет тонера; "
    PD32_PRINTER_STATUS_PAGE_PUNT         "Страница не напечатана; "
    PD32_PRINTER_STATUS_USER_INTERVENTION "Прервано пользователем; "
    PD32_PRINTER_STATUS_OUT_OF_MEMORY     "Недостаточно памяти; "
    PD32_PRINTER_STATUS_DOOR_OPEN         "Крышка принтера открыта; "
    PD32_PRINTER_STATUS_SERVER_UNKNOWN    "Неизвестный принт-сервер; "
    PD32_PRINTER_STATUS_POWER_SAVE        "Режим экономии энергии; "
}

STRINGTABLE /* Font styles */
{
    IDS_FONT_REGULAR       "Нормальный"
    IDS_FONT_BOLD          "Жирный"
    IDS_FONT_ITALIC        "Курсив"
    IDS_FONT_BOLD_ITALIC   "Жирный курсив"
}

STRINGTABLE /* Color names */
{
    IDS_COLOR_BLACK     "Чёрный"
    IDS_COLOR_MAROON    "Малиновый"
    IDS_COLOR_GREEN     "Зелёный"
    IDS_COLOR_OLIVE     "Оливковый"
    IDS_COLOR_NAVY      "Тёмно-синий"
    IDS_COLOR_PURPLE    "Сиреневый"
    IDS_COLOR_TEAL      "Бирюзовый"
    IDS_COLOR_GRAY      "Серый"
    IDS_COLOR_SILVER    "Серебряный"
    IDS_COLOR_RED       "Красный"
    IDS_COLOR_LIME      "Лимонный"
    IDS_COLOR_YELLOW    "Жёлтый"
    IDS_COLOR_BLUE      "Синий"
    IDS_COLOR_FUCHSIA   "Розовый"
    IDS_COLOR_AQUA      "Голубой"
    IDS_COLOR_WHITE     "Белый"
}

STRINGTABLE
{
    IDS_FONT_SIZE   "Выберите шрифт размером от %1!d! до %2!d! пунктов."
    IDS_SAVE_BUTTON "&Сохранить"
    IDS_SAVE_IN     "Сохранить &в:"
    IDS_SAVE        "Сохранить"
    IDS_SAVE_AS     "Сохранить как"
    IDS_OPEN_FILE   "Открыть файл"
    IDS_SELECT_FOLDER "Выбрать папку"
    IDS_FONT_SIZE_INPUT "Размер шрифта должен быть числом."
}

/*
 * WARNING: DO NOT CHANGE THE SIZE OF THE STANDARD DIALOG TEMPLATES.
 */

OPEN_FILE DIALOG 36, 24, 275, 134
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Открытие файла"
FONT 8, "MS Shell Dlg"
{
 LTEXT "&Имя файла:", stc3, 6, 6, 76, 9
 EDITTEXT edt1, 6, 16, 90, 12, ES_AUTOHSCROLL | ES_OEMCONVERT | WS_BORDER | WS_TABSTOP
 LISTBOX lst1, 6, 32, 90, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
 LTEXT "&Папки:", -1, 110, 6, 92, 9
 LTEXT "", stc1, 110, 18, 92, 9, SS_NOPREFIX | WS_GROUP
 LISTBOX lst2, 110, 32, 92, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
 LTEXT "&Типы файлов:", stc2, 6, 104, 90, 9
 COMBOBOX cmb1, 6, 114, 90, 60, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT "&Диски:", stc4, 110, 104, 92, 9
 COMBOBOX cmb2, 110, 114, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDOK, 208, 6, 60, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Отмена", IDCANCEL, 208, 24, 60, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Справка", pshHelp, 208, 46, 60, 14, WS_GROUP | WS_TABSTOP
 CHECKBOX "Только &чтение", chx1, 208, 68, 65, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}


SAVE_FILE DIALOG 36, 24, 275, 134
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Сохранить как..."
FONT 8, "MS Shell Dlg"
{
 LTEXT "&Имя файла:", stc3, 6, 6, 76, 9
 EDITTEXT edt1, 6, 16, 90, 12, ES_AUTOHSCROLL | ES_OEMCONVERT | WS_BORDER | WS_TABSTOP
 LISTBOX lst1, 6, 32, 90, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
 LTEXT "&Каталоги:", -1, 110, 6, 92, 9
 LTEXT "", stc1, 110, 18, 92, 9, SS_NOPREFIX | WS_GROUP
 LISTBOX lst2, 110, 32, 92, 68, LBS_STANDARD | LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_DISABLENOSCROLL | WS_TABSTOP
 LTEXT "Показывать файлы &типа:", stc2, 6, 104, 90, 9
 COMBOBOX cmb1, 6, 114, 90, 60, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 LTEXT "&Диски:", stc4, 110, 104, 92, 9
 COMBOBOX cmb2, 110, 114, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "Сохранить как", IDOK, 208, 6, 60, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Отмена", IDCANCEL, 208, 24, 60, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Справка", pshHelp, 208, 46, 60, 14, WS_GROUP | WS_TABSTOP
 CHECKBOX "&Только для чтения", chx1, 208, 68, 65, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}


PRINT DIALOG 36, 24, 264, 134
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Печать"
FONT 8, "MS Shell Dlg"
{
 LTEXT "Принтер:", stc1, 6, 6, 40, 9
 LTEXT "", stc2, 60, 6, 150, 9
 GROUPBOX "Диапазон печати", grp1, 6, 30, 160, 65, BS_GROUPBOX
 RADIOBUTTON "&Все", rad1, 16, 45, 60, 12
 RADIOBUTTON "В&ыделенный фрагмент", rad2, 16, 60, 60, 12
 RADIOBUTTON "С&траницы", rad3, 16, 75, 60, 12
 DEFPUSHBUTTON "OK", IDOK, 206, 6, 56, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Отмена", IDCANCEL, 206, 24, 56, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Сво&йства", psh1, 206, 46, 56, 14, WS_GROUP | WS_TABSTOP
 LTEXT "&с:", stc3, 60, 80, 30, 9
 LTEXT "&по:", stc4, 120, 80, 30, 9
 LTEXT "&Качество печати:", stc5, 6, 100, 76, 9
 COMBOBOX cmb1, 80, 100, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 CHECKBOX "Пе&чать в файл", chx1, 20, 120, 50, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "Сжато", chx2, 160, 120, 50, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
}


PRINT_SETUP DIALOG 36, 24, 264, 134
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Настройка принтера"
FONT 8, "MS Shell Dlg"
{
 GROUPBOX "Принтер", grp1, 6, 6, 180, 72, BS_GROUPBOX
 RADIOBUTTON "Принтер по &умолчанию", rad1, 16, 16, 150, 12
 LTEXT "[нет]", stc1, 35, 30, 120, 9
 RADIOBUTTON "&Другой принтер", rad2, 16, 44, 150, 12
 COMBOBOX cmb1, 35, 58, 145, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 DEFPUSHBUTTON "ОК", IDOK, 206, 6, 56, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Отмена", IDCANCEL, 206, 24, 56, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Сво&йства", psh1, 206, 46, 56, 14, WS_GROUP | WS_TABSTOP
 GROUPBOX "Ориентация", grp2, 6, 82, 100, 50, BS_GROUPBOX
 RADIOBUTTON "&Книжная", rad3, 50, 95, 50, 12
 RADIOBUTTON "&Альбомная", rad4, 50, 110, 50, 12
 ICON "LANDSCAP", stc10, 10, 95, 32, 32
 ICON "PORTRAIT", stc11, 10, 95, 32, 32
 GROUPBOX "Бумага", grp3, 116, 82, 178, 50, BS_GROUPBOX
 LTEXT "Ра&змер", stc2, 126, 95, 35, 9
 LTEXT "&Подача", stc3, 126, 110, 35, 9
 COMBOBOX cmb2, 155, 95, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
 COMBOBOX cmb3, 155, 110, 92, 68, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
}


CHOOSE_FONT DIALOG  13, 54, 274, 169
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Шрифт"
FONT 8, "MS Shell Dlg"
{
    LTEXT           "&Шрифт:",stc1 ,6,3,90,9
    COMBOBOX        cmb1, 6,13,94,76,  CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | CBS_DISABLENOSCROLL |
                    CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL | WS_TABSTOP | CBS_SIMPLE
    LTEXT           "&Начертание:",stc2 ,108,3,60,9
    COMBOBOX        cmb2,108,13,64,76, CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | CBS_DISABLENOSCROLL |
                    WS_VSCROLL | WS_TABSTOP | CBS_SIMPLE
    LTEXT           "Размер:",stc3,179,3,32,9
    COMBOBOX        cmb3,179,13,32,76, CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | CBS_DISABLENOSCROLL |
                    WS_VSCROLL | WS_TABSTOP | CBS_SIMPLE | CBS_SORT
    DEFPUSHBUTTON   "ОК",IDOK,218,6,50,14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "Отмена",IDCANCEL,218,23,50,14,WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "При&менить", psh3,218,40,50,14,WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "&Справка" , pshHelp,218,57,50,14,WS_GROUP | WS_TABSTOP
    GROUPBOX        "Атрибуты",grp1,6,92,84,36,WS_GROUP
    CHECKBOX	    "&Зачёркнутый", chx1, 10,102,78,10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX 	    "Под&чёркнутый", chx2, 10,114,78,10, BS_AUTOCHECKBOX
    LTEXT           "Цвет:", stc4 ,6,134,80,9
    COMBOBOX        cmb4,6,144,84,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS |
		    CBS_AUTOHSCROLL |  WS_BORDER | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Образец",grp2,98,92,120,36,WS_GROUP
    CTEXT           "",stc5,103,101,109,24,SS_NOPREFIX | NOT WS_VISIBLE
    LTEXT           "На&бор символов:",stc7 ,98,134,40,9
    COMBOBOX        cmb5,98,144,120,90,CBS_DROPDOWNLIST | CBS_HASSTRINGS |
		    CBS_AUTOHSCROLL |   WS_VSCROLL | WS_TABSTOP
}


CHOOSE_COLOR DIALOG 36, 24, 300, 185
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Выбор цвета"
FONT 8, "MS Shell Dlg"
{
 LTEXT "&Базовая палитра:",   stc1, 4,    4,  140, 10
 LTEXT "До&полнительные цвета:",  stc2, 4,   106, 140, 10
 LTEXT "Цвет|За&ливка",  stc3, 150, 151,  48, 10
 LTEXT   "Крас&ный:", IDC_COLOR_RL /*1094*/,247,126,27,10
 EDITTEXT IDC_COLOR_EDIT_R, 275,124,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT   "&Зелёный:", IDC_COLOR_GL /*1095*/,247,140,27,10
 EDITTEXT IDC_COLOR_EDIT_G, 275,138,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT   "С&иний:", IDC_COLOR_BL /*1096*/,247,154,27,10
 EDITTEXT IDC_COLOR_EDIT_B, 275,152,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT  "О&ттенок:" , IDC_COLOR_HL /*1091*/,200,126,24,10
 EDITTEXT IDC_COLOR_EDIT_H, 224,124,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT  "&Контраст:", IDC_COLOR_SL /*1092*/,200,140,24,10
 EDITTEXT IDC_COLOR_EDIT_S, 224,138,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT  "&Яркость:", IDC_COLOR_LL /*1093*/,200,154,24,10
 EDITTEXT IDC_COLOR_EDIT_L, 224,152,21,12, WS_BORDER | WS_GROUP | WS_TABSTOP
 CONTROL "" , IDC_COLOR_PREDEF, "STATIC",SS_SIMPLE|WS_TABSTOP|WS_GROUP,4,14,140,86
 CONTROL "" , IDC_COLOR_USRDEF, "STATIC",SS_SIMPLE|WS_TABSTOP|WS_GROUP,4,116,140,28
 CONTROL "" , IDC_COLOR_GRAPH, "STATIC",WS_BORDER|SS_SIMPLE|WS_TABSTOP|WS_GROUP, 152,4,118,116
 CONTROL "" , IDC_COLOR_LUMBAR, "STATIC",SS_SIMPLE|WS_TABSTOP|WS_GROUP, 278,4,8,116
 CONTROL "" , IDC_COLOR_RESULT, "STATIC",SS_SIMPLE|WS_TABSTOP|WS_GROUP, 152,124,40,26
 DEFPUSHBUTTON "ОК",  IDOK,  4, 167, 50, 14, BS_DEFPUSHBUTTON | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Отмена", IDCANCEL, 58, 167, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Справка", pshHelp,100,166, 44, 14
 PUSHBUTTON "&Добавить в набор",    IDC_COLOR_ADD /*1024*/, 152, 167, 144, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Определить цвет >>", IDC_COLOR_DEFINE /*1025*/,   4, 149, 142, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Цвет|За&ливка", IDC_COLOR_RES, 300,200,4,14   /* just a dummy */
}


FINDDLGORD DIALOG 36, 24, 276, 62
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Поиск"
FONT 8, "MS Shell Dlg"
{
 LTEXT "&Образец:", -1, 4, 8, 52, 8
 EDITTEXT edt1, 57, 7, 148, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 CHECKBOX "&Только слово целиком", chx1, 4, 26, 140, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "C &учетом регистра", chx2, 4, 42, 140, 12, BS_AUTOCHECKBOX | WS_TABSTOP
 GROUPBOX "Направление", grp1, 147, 21, 58, 38
 CONTROL "В&верх", rad1, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 131, 38, 35, 12
 CONTROL "В&низ", rad2, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 163, 38, 35, 12

 DEFPUSHBUTTON "&Найти далее", IDOK, 212,  6, 60, 14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
 PUSHBUTTON "Отмена", IDCANCEL	 , 212, 24, 60, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Справка", pshHelp	 , 212, 42, 60, 14, WS_GROUP | WS_TABSTOP
}


REPLACEDLGORD DIALOG 36, 24, 276, 94
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Замена"
FONT 8, "MS Shell Dlg"
{
 LTEXT "&Образец:", -1, 4, 8, 52, 8
 EDITTEXT edt1, 57, 7, 148, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 LTEXT "З&аменить на:", -1, 4, 26, 52, 8
 EDITTEXT edt2, 57, 24, 148, 12, ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP
 CHECKBOX "&Только слово целиком", chx1, 5, 46, 120, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 CHECKBOX "C &учетом регистра", chx2, 5, 62, 120, 12, BS_AUTOCHECKBOX | WS_TABSTOP

 DEFPUSHBUTTON "&Найти далее", IDOK, 212,  6, 60, 14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
 PUSHBUTTON "&Заменить", psh1	 , 212, 24, 60, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Заменить &всё", psh2 , 212, 42, 60, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Отмена", IDCANCEL	 , 212, 60, 60, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "&Справка", pshHelp	 , 212, 78, 60, 14, WS_GROUP | WS_TABSTOP
}


PRINT32 DIALOG  32, 32, 288, 186
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU |
      DS_CONTEXTHELP
CAPTION "Печать"
FONT 8, "MS Shell Dlg"
{
    DEFPUSHBUTTON   "ОК",     IDOK,     176,164, 50,14, WS_GROUP | BS_DEFPUSHBUTTON
    PUSHBUTTON      "Отмена", IDCANCEL, 230,164, 50,14, WS_GROUP
    PUSHBUTTON      "Спр&авка",  pshHelp,  50, 161, 50,14, WS_GROUP

    GROUPBOX        "Принтер",        grp4,   8,  4, 272,84, WS_GROUP
    CONTROL         "Пе&чать в файл", chx1, "Button",BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,185,36,90,16
    PUSHBUTTON      "Сво&йства...",    psh2, 212, 17,  60,14, WS_GROUP
    LTEXT           "&Имя:",         stc6,  16, 20,  36,8
    COMBOBOX                          cmb4,  52, 18, 152,152,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT           "Состояние:",        stc8,  16, 36,  47,10, SS_NOPREFIX
    LTEXT           "",               stc12, 65, 36, 120,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "Тип:",          stc7,  16, 48,  47,10, SS_NOPREFIX
    LTEXT           "",               stc11, 65, 48, 212,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "Место:",         stc10, 16, 60,  47,10, SS_NOPREFIX
    LTEXT           "",               stc14, 65, 60, 212,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "Комментарий:",       stc9,  16, 72,  47,10, SS_NOPREFIX
    LTEXT           "",               stc13, 65, 72, 212,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP

    GROUPBOX        "Копии",         grp2, 160, 92, 120,64, WS_GROUP
    LTEXT           "Число &копий:",stc5,168,105,68,8
    ICON            "",               ico3, 210,131,  76,24, WS_GROUP
    CONTROL         "&Разобрать по копиям",       chx2,"Button",BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP,168,118,100,12
    EDITTEXT                          edt3, 240,103,  32,12, WS_GROUP | ES_NUMBER

    GROUPBOX        "Диапазон печати",    grp1,   8,92,  144,64, WS_GROUP
    CONTROL         "&Все",           rad1,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,16,106,64,12
    CONTROL         "С&траницы",         rad3,"Button",BS_AUTORADIOBUTTON,16,122,36,12
    CONTROL         "В&ыделенный фрагмент",     rad2,"Button",BS_AUTORADIOBUTTON,16,138,64,12
    EDITTEXT                          edt1,  73,122,  26,12, WS_GROUP | ES_NUMBER
    EDITTEXT                          edt2, 120,122,  26,12, WS_GROUP | ES_NUMBER
    RTEXT           "&с:",         stc2,  52,124,  20,8
    RTEXT           "&по:",           stc3,  99,124,  20,8
}

PRINT32_SETUP DIALOG  32, 32, 288, 178
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | DS_CONTEXTHELP
CAPTION "Настройка печати"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "ОК", IDOK, 176, 156, 50, 14, WS_GROUP
    PUSHBUTTON      "Отмена", IDCANCEL, 230, 156, 50, 14
/*    PUSHBUTTON      "Сеть...", psh5, 284, 156, 48, 14 */

    GROUPBOX        "Принтер",        grp4,   8,  4, 272,84, WS_GROUP
    PUSHBUTTON      "&Свойства",    psh2, 212, 17,  60,14, WS_GROUP
    LTEXT           "&Имя:",         stc6,  16, 20,  36,8
    COMBOBOX                          cmb1,  52, 18, 152,152,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT           "Состояние:",        stc8,  16, 36,  47,10, SS_NOPREFIX
    LTEXT           "",               stc12, 65, 36, 212,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "Тип:",          stc7,  16, 48,  47,10, SS_NOPREFIX
    LTEXT           "",               stc11, 65, 48, 212,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "Место:",         stc10, 16, 60,  47,10, SS_NOPREFIX
    LTEXT           "",               stc14, 65, 60, 212,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP
    LTEXT           "Комментарий:",       stc9,  16, 72,  47,10, SS_NOPREFIX
    LTEXT           "",               stc13, 65, 72, 212,10, SS_NOPREFIX | SS_LEFTNOWORDWRAP

    GROUPBOX        "Бумага",          grp2,   8, 92, 164,56, WS_GROUP
    LTEXT           "Ра&змер:",         stc2,  16,108,  36, 8
    COMBOBOX                          cmb2,  52,106, 112,112,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP
    LTEXT           "Пода&ча:",       stc3,  16,128,  36, 8
    COMBOBOX                          cmb3,  52,126, 112,112,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_GROUP | WS_TABSTOP

    GROUPBOX        "Ориентация",    grp1, 180, 92, 100,56, WS_GROUP
    ICON            "",               ico1, 195,112,  18,20, WS_GROUP
    CONTROL         "&Книжная",      rad1,"Button",BS_AUTORADIOBUTTON | WS_GROUP |WS_TABSTOP,224,106,52,12
    CONTROL         "&Альбомная",     rad2,"Button",BS_AUTORADIOBUTTON,224,126,52,12
END

PAGESETUPDLGORD DIALOG 32, 32, 240, 240
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Параметры страницы"
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "", rct1, "Static", SS_WHITERECT, 80, 8, 80, 80
  CONTROL "", rct2, "Static", SS_GRAYRECT, 160, 12, 4, 80
  CONTROL "", rct3, "Static", SS_GRAYRECT,  84, 88, 80, 4
  GROUPBOX "Бумага", grp2, 8, 96, 224, 56, BS_GROUPBOX
  LTEXT "Размер:", stc2, 16, 112, 36, 8
  COMBOBOX cmb2, 64, 110, 160, 160, CBS_SIMPLE|CBS_DROPDOWN|CBS_SORT|WS_GROUP|WS_TABSTOP|WS_VSCROLL
  LTEXT "Пода&ча:", stc3, 16, 132, 36, 8
  COMBOBOX cmb3, 64, 130, 160, 160, CBS_SIMPLE|CBS_DROPDOWN|CBS_SORT|WS_GROUP|WS_TABSTOP|WS_VSCROLL
  GROUPBOX "Ориентация", grp1, 8, 156, 64, 56, BS_GROUPBOX
  AUTORADIOBUTTON "&Книжная", rad1, 16, 170, 52, 12, BS_AUTORADIOBUTTON
  AUTORADIOBUTTON "&Альбомная", rad2, 16, 190, 52, 12, BS_AUTORADIOBUTTON
  GROUPBOX "", grp4, 80, 156, 152, 56, BS_GROUPBOX
  LTEXT "&Левое:", stc15, 88, 172, 30, 8
  EDITTEXT edt4, 119, 170, 36, 12, WS_TABSTOP|WS_GROUP|WS_BORDER
  LTEXT "&Правое:", stc16, 159, 172, 30, 8
  EDITTEXT edt6, 190, 170, 36, 12, WS_TABSTOP|WS_GROUP|WS_BORDER
  LTEXT "&Верхнее:", stc17, 88, 192, 30, 8
  EDITTEXT edt5, 119, 190, 36, 12, WS_TABSTOP|WS_GROUP|WS_BORDER
  LTEXT "&Нижнее:", stc18, 159, 192, 30, 8
  EDITTEXT edt7, 190, 190, 36, 12, WS_TABSTOP|WS_GROUP|WS_BORDER
  DEFPUSHBUTTON "ОК", IDOK, 70, 220, 50, 14, BS_PUSHBUTTON
  PUSHBUTTON "Отмена", IDCANCEL, 126, 220, 50, 14
  PUSHBUTTON "&Принтер...", psh3, 182, 220, 50, 14
END

NEWFILEOPENORD DIALOG 0, 0, 280, 164
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN
CAPTION "Открыть"
FONT 8, "MS Shell Dlg"
{
    LTEXT	"Искать &в:",IDC_LOOKINSTATIC,4,6,43,8, SS_NOTIFY
    COMBOBOX	IDC_LOOKIN,49,3,132,100,CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

    LTEXT	"" , IDC_TOOLBARSTATIC, 181, 2, 102, 17, NOT WS_GROUP | NOT WS_VISIBLE
    LISTBOX	IDC_SHELLSTATIC,4,20,272,85, LBS_SORT | LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN | WS_HSCROLL | NOT WS_VISIBLE

    LTEXT	"Имя &файла:",IDC_FILENAMESTATIC,5,112,56,16, SS_NOTIFY
    EDITTEXT	IDC_FILENAME,63,110,150,12,ES_AUTOHSCROLL
    CONTROL     "", cmb13, "ComboBoxEx32", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP, 63,110,150,150

    LTEXT	"&Тип файлов:",IDC_FILETYPESTATIC,5,130,56,16, SS_NOTIFY
    COMBOBOX	IDC_FILETYPE,63,128,150,53,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL	"Только для &чтения",IDC_OPENREADONLY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,63,148,150,10

    DEFPUSHBUTTON	"&Открыть",		 IDOK,222,110,54,14
    PUSHBUTTON		"Отмена",		 IDCANCEL,222,128,54,14
    PUSHBUTTON		"&Справка",		 pshHelp,222,145,54,14
}

NEWFILEOPENV2ORD DIALOG 0, 0, 370, 237
STYLE DS_MODALFRAME | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN
CAPTION "Открыть"
FONT 8, "MS Shell Dlg"
{
    LTEXT "Искать &в:", IDC_LOOKINSTATIC, 28, 6, 43, 8, SS_NOTIFY
    COMBOBOX IDC_LOOKIN, 64, 3, 150, 100, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP

    LTEXT "" , IDC_TOOLBARSTATIC, 209, 2, 102, 17, NOT WS_GROUP | NOT WS_VISIBLE
    CONTROL "", IDC_TOOLBARPLACES, "ToolbarWindow32", 0x800 | CCS_NORESIZE | CCS_TOP | CCS_NOPARENTALIGN | CCS_NODIVIDER, 4, 20, 55, 208
    LISTBOX IDC_SHELLSTATIC, 64, 20, 300, 155, LBS_SORT | LBS_NOINTEGRALHEIGHT | LBS_MULTICOLUMN | WS_HSCROLL | NOT WS_VISIBLE

    LTEXT "Имя &файла:", IDC_FILENAMESTATIC, 65, 182, 56, 16, SS_NOTIFY
    EDITTEXT IDC_FILENAME, 123, 180, 180, 12, ES_AUTOHSCROLL
    CONTROL "", cmb13, "ComboBoxEx32", CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP, 123, 180, 180, 150

    LTEXT "&Тип файлов:", IDC_FILETYPESTATIC, 65, 200, 56, 16, SS_NOTIFY
    COMBOBOX IDC_FILETYPE, 123, 198, 180, 53, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    CONTROL "Только для &чтения", IDC_OPENREADONLY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 123, 218, 150, 10

    DEFPUSHBUTTON "&Открыть", IDOK, 310, 180, 54, 14
    PUSHBUTTON "Отмена", IDCANCEL, 310, 198, 54, 14
    PUSHBUTTON "&Справка", pshHelp, 310, 215, 54, 14
}

NEWFILEOPENV3ORD DIALOG 0, 0, 440, 300
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_VISIBLE | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_CLIPCHILDREN |
      WS_THICKFRAME
CAPTION "Открыть"
FONT 8, "MS Shell Dlg"
{
    LTEXT           "Имя файла:", IDC_FILENAMESTATIC, 160, 240, 60, 9, SS_RIGHT | WS_CLIPSIBLINGS
    EDITTEXT        IDC_FILENAME, 226, 240, 100, 12,  WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_CLIPSIBLINGS | ES_AUTOHSCROLL

    LTEXT           "Файлы типа:", IDC_FILETYPESTATIC, 160, 256, 60, 9, SS_RIGHT | WS_CLIPSIBLINGS
    COMBOBOX        IDC_FILETYPE, 226, 256, 100, 60,  WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL |
                    WS_CLIPSIBLINGS | CBS_HASSTRINGS | CBS_DROPDOWNLIST

    DEFPUSHBUTTON   "&Открыть",  IDOK,     350, 240, 40, 14, WS_GROUP | WS_CLIPSIBLINGS

    /* drop-down menu for open button */
    CONTROL         "6", psh1, "Button", WS_CHILD | WS_CLIPSIBLINGS | WS_GROUP | WS_TABSTOP |
                    BS_CHECKBOX | BS_PUSHLIKE, 342, 240, 8, 14

    PUSHBUTTON      "Отмена", IDCANCEL, 395, 240, 40, 14, WS_CLIPSIBLINGS
    PUSHBUTTON      "&Справка",  pshHelp,  350, 272, 40, 14, WS_CLIPSIBLINGS
}
