LANGUAGE LANG_DANISH, SUBLANG_DEFAULT

IDD_PROPPAGEGENERAL DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Generelt"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  LTEXT "Operativsystem:",-1,SYSTEM_COLUMN,LABELLINE(2),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING(1),8
  LTEXT REACTOS_STR_PRODUCT_NAME,-1,SYSTEM_COLUMN+PROPSHEETPADDING(1),LABELLINE(3),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING(1),8
  LTEXT "Version: "REACTOS_STR_PRODUCT_VERSION,-1,SYSTEM_COLUMN+PROPSHEETPADDING(1),LABELLINE(4),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING(1),8
  
  LTEXT "Computer:",-1,SYSTEM_COLUMN,LABELLINE(6),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING(1),8
  LTEXT "Processor Forhandler:",IDC_PROCESSORMANUFACTURER,SYSTEM_COLUMN+PROPSHEETPADDING(1),LABELLINE(7),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING(1),8
  LTEXT "Processor Navn:",IDC_PROCESSOR,SYSTEM_COLUMN+PROPSHEETPADDING(1),LABELLINE(8),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING(1),8
  LTEXT "Processor Hastighed:",IDC_PROCESSORSPEED,SYSTEM_COLUMN+PROPSHEETPADDING(1),LABELLINE(9),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING(1),8
  LTEXT "Hukommelse:",IDC_SYSTEMMEMORY,SYSTEM_COLUMN+PROPSHEETPADDING(1),LABELLINE(10),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING(1),8
  
  EDITTEXT IDC_LICENSEMEMO,PROPSHEETPADDING(1),LABELLINE(13),PROPSHEETWIDTH-PROPSHEETPADDING(2),PROPSHEETHEIGHT-LABELLINE(13)-PROPSHEETPADDING(1),ES_LEFT|WS_TABSTOP|WS_BORDER|WS_VSCROLL|WS_HSCROLL|WS_GROUP|ES_MULTILINE|ES_READONLY
END

IDD_PROPPAGEHARDWARE DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Hardware"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN  
  GROUPBOX "Hardware Guide",-1,PROPSHEETPADDING(1),LABELLINE(1),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(6)+PROPSHEETPADDING(1)
  LTEXT "Hardware Guiden hjælper dig med at Installer, Afinstaller, Reparerer, Afmontere, Fjerne, og konfigurer din hardware.",-1,PROPSHEETPADDING(4)+ICONSIZE,LABELLINE(2),PROPSHEETWIDTH-PROPSHEETPADDING(6)-ICONSIZE,LABELLINE(3)
  ICON IDI_DEVMGR, IDC_ICON1, PROPSHEETPADDING(2),LABELLINE(2), ICONSIZE, ICONSIZE, SS_ICON
  PUSHBUTTON "&Hardware Guide...",IDC_HARDWARE_WIZARD,PROPSHEETWIDTH-PROPSHEETPADDING(17),LABELLINE(5)+2,PROPSHEETPADDING(15),14

  GROUPBOX "Enhedshåntering",-1,PROPSHEETPADDING(1),LABELLINE(8)+5,PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(7)+2
  ICON IDI_DEVMGR, IDC_ICON1, PROPSHEETPADDING(2),LABELLINE(10)-3,ICONSIZE, ICONSIZE, SS_ICON
  LTEXT "Enhedshåntering viser alle dine hardware enheder installeret på din computer. Brug Enhedshåntering til at skifte indstillinger for alle Hardware Enheder.",-1,PROPSHEETPADDING(4)+ICONSIZE,LABELLINE(10)-3,PROPSHEETWIDTH-PROPSHEETPADDING(6)-ICONSIZE,LABELLINE(3)
  
  PUSHBUTTON "&Enhedshåntering...",IDC_HARDWARE_DEVICE_MANAGER,PROPSHEETWIDTH-PROPSHEETPADDING(17),LABELLINE(13)+2,PROPSHEETPADDING(15),14

  GROUPBOX "Hardware Profiler",-1,PROPSHEETPADDING(1),LABELLINE(16)+3,PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(6)+PROPSHEETPADDING(1)
  ICON IDI_DEVMGR, IDC_ICON1, PROPSHEETPADDING(2),LABELLINE(18)-5, ICONSIZE, ICONSIZE, SS_ICON
  LTEXT "Hardware Profiler Giver dig en mulighed for at sætte og gemme forskellinge hardware indstillinger.",0,PROPSHEETPADDING(4)+ICONSIZE,LABELLINE(18)-5,PROPSHEETWIDTH-PROPSHEETPADDING(6)-ICONSIZE,LABELLINE(3)
  PUSHBUTTON "Hard&ware Profiler...",IDC_HARDWARE_PROFILE,PROPSHEETWIDTH-PROPSHEETPADDING(17),LABELLINE(20)+2,PROPSHEETPADDING(15),14
END

IDD_PROPPAGEUSERPROFILE DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Bruger Profiler"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  ICON IDI_DEVMGR, IDC_ICON1, PROPSHEETPADDING(1),LABELLINE(1), ICONSIZE, ICONSIZE, SS_ICON
  LTEXT "Bruger Profiler indeholde skrivebords indstillinger og andre informationer relateret til dit login. En Anden bruger profil bliver oprette på alle computere du logger på, eller du kan vælge en Roaming profil some er den samme på alle computer du logger på.",-1,PROPSHEETPADDING(4)+ICONSIZE,LABELLINE(1),PROPSHEETWIDTH-PROPSHEETPADDING(6)-ICONSIZE,LABELLINE(4)
  LTEXT "Bruger Profiler gemt på denne computer:",-1,PROPSHEETPADDING(1),LABELLINE(6),PROPSHEETWIDTH-PROPSHEETPADDING(6)-ICONSIZE,LABELLINE(1)
  CONTROL "",IDC_USERPROFILE_LIST,"SysListView32",LVS_REPORT|LVS_SINGLESEL|LVS_SHOWSELALWAYS|LVS_SORTASCENDING|WS_BORDER|WS_TABSTOP,PROPSHEETPADDING(1),LABELLINE(8),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(11),WS_EX_CLIENTEDGE
  
  PUSHBUTTON "&Slet",IDC_USERPROFILE_DELETE,PROPSHEETPADDING(1),LABELLINE(20),60,LABELLINE(1)+2
  PUSHBUTTON "Skift &Type...",IDC_USERPROFILE_CHANGE,95,LABELLINE(20),60,LABELLINE(1)+2
  PUSHBUTTON "&Kopiere Til...",IDC_USERPROFILE_COPY,180,LABELLINE(20),60,LABELLINE(1)+2
END

IDD_PROPPAGEADVANCED DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Avanceret"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  GROUPBOX "Hukommelses Indstillinger",-1,PROPSHEETPADDING(1),LABELLINE(1),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(6)+PROPSHEETPADDING(1)
  ICON IDI_DEVMGR, IDC_ICON1, PROPSHEETPADDING(2),LABELLINE(2), ICONSIZE, ICONSIZE, SS_ICON
  LTEXT "Hukommelses indstillingerne styrer programmers brug af hukommelse, hvilket påvirker hastigheden af din computer.",-1,PROPSHEETPADDING(4)+ICONSIZE,LABELLINE(2),PROPSHEETWIDTH-PROPSHEETPADDING(6)-ICONSIZE,LABELLINE(3)
  PUSHBUTTON "&Hukommelses indstillinger...",IDC_PERFOR,PROPSHEETWIDTH-PROPSHEETPADDING(20),LABELLINE(5)+2,PROPSHEETPADDING(18),14
  GROUPBOX "Miljø Variabler",-1,PROPSHEETPADDING(1),LABELLINE(8)+2,PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(6)+PROPSHEETPADDING(1)
  ICON IDI_DEVMGR, IDC_ICON1, PROPSHEETPADDING(2),LABELLINE(10)-5, ICONSIZE, ICONSIZE, SS_ICON
  LTEXT "Miljø Variabler fortæller din computer hvor den kan finde forskellige typer af informationer.",-1,PROPSHEETPADDING(4)+ICONSIZE,LABELLINE(10)-5,PROPSHEETWIDTH-PROPSHEETPADDING(6)-ICONSIZE,LABELLINE(11)
  PUSHBUTTON "&Miljø Variabler...",IDC_ENVVAR,PROPSHEETWIDTH-PROPSHEETPADDING(20),LABELLINE(12)+2,PROPSHEETPADDING(18),14
  GROUPBOX "&Opstart og Gendannelse",-1,PROPSHEETPADDING(1),LABELLINE(15)+3,PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(6)+PROPSHEETPADDING(1)
  ICON IDI_DEVMGR, IDC_ICON1, PROPSHEETPADDING(2),LABELLINE(17)-5, ICONSIZE, ICONSIZE, SS_ICON
  LTEXT "Opstart og Gendannelse fortæller din computer hvordan den skal starte og hvad den skal gøre hvis en kritisk fejl opstår som får din computer til at stoppe.",0,PROPSHEETPADDING(4)+ICONSIZE,LABELLINE(17)-5,PROPSHEETWIDTH-PROPSHEETPADDING(6)-ICONSIZE,LABELLINE(3)
  PUSHBUTTON "&Opstart og Gendannelse...",IDC_STAREC,PROPSHEETWIDTH-PROPSHEETPADDING(20),LABELLINE(19)+2,PROPSHEETPADDING(18),14
END

IDD_ENVIRONMENT_VARIABLES DIALOGEX 6, 18, 252, 245
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Miljø Variabler"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  GROUPBOX "Brugere Variabler",-1,7,12,238,100
  LTEXT "&Variabler:",-1,14,24,224,8
  CONTROL "",IDC_USER_VARIABLE_LIST,"SysListView32",LVS_REPORT|LVS_SINGLESEL|LVS_SHOWSELALWAYS|LVS_SORTASCENDING|LVS_NOSORTHEADER|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP,14,35,224,48,WS_EX_CLIENTEDGE
  PUSHBUTTON "&Ny...",IDC_USER_VARIABLE_NEW,80,90,50,14
  PUSHBUTTON "&Redigere...",IDC_USER_VARIABLE_EDIT,134,90,50,14
  PUSHBUTTON "&Slet",IDC_USER_VARIABLE_DELETE,188,90,50,14

  GROUPBOX "System Variabler",-1,7,116,238,100
  LTEXT "V&ariabler:",-1,14,128,224,8
  CONTROL "",IDC_SYSTEM_VARIABLE_LIST,"SysListView32",LVS_REPORT|LVS_SINGLESEL|LVS_SHOWSELALWAYS|LVS_SORTASCENDING|LVS_NOSORTHEADER|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP,14,139,224,48,WS_EX_CLIENTEDGE
  PUSHBUTTON "N&y...",IDC_SYSTEM_VARIABLE_NEW,80,194,50,14
  PUSHBUTTON "R&edigere...",IDC_SYSTEM_VARIABLE_EDIT,134,194,50,14
  PUSHBUTTON "S&let",IDC_SYSTEM_VARIABLE_DELETE,188,194,50,14

  DEFPUSHBUTTON "OK",IDOK,141,224,50,14,WS_GROUP
  PUSHBUTTON "Fortryd",IDCANCEL,195,224,50,14
END


IDD_EDIT_VARIABLE DIALOGEX 10, 15, 227, 71
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Redigere Variable"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  LTEXT           "&Navn:",-1,7,14,50,8
  EDITTEXT        IDC_VARIABLE_NAME,75,12,145,12,ES_AUTOHSCROLL
  LTEXT           "&Indhold:",-1,7,32,50,8
  EDITTEXT        IDC_VARIABLE_VALUE,75,30,145,12,ES_AUTOHSCROLL
  
  DEFPUSHBUTTON "OK",IDOK,116,50,50,14,WS_GROUP
  PUSHBUTTON "Fortryd",IDCANCEL,170,50,50,14
END


STRINGTABLE 
BEGIN
  IDS_CPLSYSTEMNAME "System Indstillinger"
  IDS_CPLSYSTEMDESCRIPTION "Se mere information omkring din computer, og skift diverse system og hardware indstillinger."
    IDS_VARIABLE "Variable"
    IDS_VALUE    "Value"
    IDS_NO_DUMP "(None)"
    IDS_MINI_DUMP "Minidump(64KB)"
    IDS_KERNEL_DUMP "Kernel dump"
    IDS_FULL_DUMP "Complete dump"
END
