LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/* Basic application information */
STRINGTABLE
BEGIN
    IDS_APP_HEADER "ReactOS DiskPart"
    IDS_APP_USAGE "\nDisk Partitioning Interpreter.\n\n\
Usage: DISKPART [/S filename] [/T timeout] [/?]\n\n\
/S filename\tRuns the given script.\n\
/T timeout\tTimeout in seconds to prevent DiskPart usage overlap.\n\
/?\t\tDisplay this help message.\n\n"
    IDS_APP_LICENSE "Licensed under the GNU GPLv2\n"
    IDS_APP_CURR_COMPUTER "On computer: %s\n\n"
    IDS_APP_LEAVING "\nLeaving DiskPart...\n"
    IDS_APP_PROMPT "DISKPART> "
END

/* Disk Information Labels */
STRINGTABLE
BEGIN
    IDS_DETAIL_INFO_DISK_ID "Disk ID: %08lx\n"
    IDS_DETAIL_INFO_TYPE "Type"
    IDS_DETAIL_INFO_STATUS "Status"
    IDS_DETAIL_INFO_PATH   "Path   : %hu\n"
    IDS_DETAIL_INFO_TARGET "Target : %hu\n"
    IDS_DETAIL_INFO_LUN_ID "Lun ID : %hu\n"
    IDS_DETAIL_INFO_LOC_PATH "Location Path"
    IDS_DETAIL_INFO_CURR_RO_STATE "Current Read-only State"
    IDS_DETAIL_INFO_RO "Read-only"
    IDS_DETAIL_INFO_BOOT_DSK "Boot Disk"
    IDS_DETAIL_INFO_PAGE_FILE_DSK "Pagefile Disk"
    IDS_DETAIL_INFO_HIBER_FILE_DSK "Hibernation File Disk"
    IDS_DETAIL_INFO_CRASH_DSK "Crashdump Disk"
    IDS_DETAIL_INFO_CLST_DSK "Clustered Disk"
    IDS_DETAIL_PARTITION_NUMBER "Partition %lu\n"
    IDS_DETAIL_PARTITION_TYPE   "Type          : %02x\n"
    IDS_DETAIL_PARTITION_HIDDEN "Hidden        : %s\n"
    IDS_DETAIL_PARTITION_ACTIVE "Active        : %s\n"
    IDS_DETAIL_PARTITION_OFFSET "Offset in Byte: %I64u\n"
END

STRINGTABLE
BEGIN
    IDS_HELP_FORMAT_STRING "%-11.11s - %s"
END

/* Detail header titles */
STRINGTABLE
BEGIN
    IDS_LIST_DISK_HEAD "\n  Disk ###  Status      Size     Free     Dyn  Gpt\n"
    IDS_LIST_DISK_LINE "  --------  ----------  -------  -------  ---  ---\n"
    IDS_LIST_DISK_FORMAT "%c %7lu   %-10s  %4I64u %-2s  %4I64u %-2s   %1s    %1s\n"
    IDS_LIST_PARTITION_HEAD "\n  Partition      Type              Size     Offset\n"
    IDS_LIST_PARTITION_LINE "  -------------  ----------------  -------  -------\n"
    IDS_LIST_PARTITION_FORMAT "%c Partition %2lu   %-16s  %4I64u %-2s  %4I64u %-2s\n"
    IDS_LIST_PARTITION_NO_DISK "\nThere is no disk to list partitions.\nPlease select a disk and try again.\n\n"
    IDS_LIST_VOLUME_HEAD "  Volume ###  Ltr  Label        FS     Type        Size     Status   Info\n"
    IDS_LIST_VOLUME_LINE "  ----------  ---  -----------  -----  ----------  -------  -------  --------\n"
    IDS_LIST_VOLUME_FORMAT "  Volume %-3lu   %c   %-11.11s  %-5s  %10u  %4I64u %-2s\n"
END

/* RESCAN command string */
STRINGTABLE
BEGIN
    IDS_RESCAN_START "\nPlease wait while DiskPart scans your configuration...\n"
    IDS_RESCAN_END "\nDiskPart has finished scanning your configuration.\n\n"
END

/* Select command strings */
STRINGTABLE
BEGIN
    IDS_SELECT_NO_DISK "\nThere is no disk currently selected.\nPlease select a disk and try again.\n\n"
    IDS_SELECT_DISK "\nDisk %lu is now the selected disk.\n\n"
    IDS_SELECT_DISK_INVALID "\nInvalid disk.\n\n"
    IDS_SELECT_NO_PARTITION "\nThere is no partition currently selected.\nPlease select a disk and try again.\n\n"
    IDS_SELECT_PARTITION "\nPartition %lu is now the selected partition.\n\n"
    IDS_SELECT_PARTITION_NO_DISK "\nThere is no disk for selecting a partition.\nPlease select a disk and try again.\n\n"
    IDS_SELECT_PARTITION_INVALID "\nInvalid partition.\n\n"
    IDS_SELECT_NO_VOLUME "\nThere is no volume currently selected.\nPlease select a disk and try again.\n\n"
    IDS_SELECT_VOLUME "\nVolume %lu is now the selected volume.\n\n"
    IDS_SELECT_VOLUME_INVALID "\nInvalid volume.\n\n"
END

/* Disk Status */
STRINGTABLE
BEGIN
    IDS_STATUS_YES "Yes"
    IDS_STATUS_NO "No"
    IDS_STATUS_DISK_HEALTHY "Healthy"
    IDS_STATUS_DISK_SICK "Sick"
    IDS_STATUS_UNAVAILABLE "UNAVAILABLE"
    IDS_STATUS_ONLINE "Online"
    IDS_STATUS_OFFLINE "Offline"
    IDS_STATUS_NO_MEDIA "No Media"
END

/* CMD Messages for commands */
STRINGTABLE
BEGIN
    IDS_MSG_ARG_SYNTAX_ERROR "The argument(s) specified for this command are not valid.\nFor more information on the command type:"
END

/* Help Command Descriptions */
STRINGTABLE
BEGIN
    IDS_HELP_ACTIVE                    "Mark the selected partition as active.\n"
    IDS_HELP_ADD                       "Add a mirror to a simple volume.\n"
    IDS_HELP_ASSIGN                    "Assign a drive letter or mount point to the selected volume.\n"
    IDS_HELP_ATTACH                    "Attaches a virtual disk file.\n"
    IDS_HELP_ATTRIBUTES                "Manipulate volume or disk attributes.\n"
    IDS_HELP_AUTOMOUNT                 "Enable and Disable automatic mounting of basic volumes.\n"
    IDS_HELP_BREAK                     "Break a mirror set.\n"
    IDS_HELP_CLEAN                     "Clear the configuration information, or all information, off\n              the disk.\n"
    IDS_HELP_COMPACT                   "Attempts to reduce the physical size of the file.\n"
    IDS_HELP_CONVERT                   "Convert between different disk formats.\n"

    IDS_HELP_CREATE                    "Create a volume, partition, or virtual disk.\n"
    IDS_HELP_CREATE_PARTITION          "Create a partition.\n"
    IDS_HELP_CREATE_PARTITION_EFI      "Create an EFI system partition.\n"
    IDS_HELP_CREATE_PARTITION_EXTENDED "Create an extended partition.\n"
    IDS_HELP_CREATE_PARTITION_LOGICAL  "Create a logical drive.\n"
    IDS_HELP_CREATE_PARTITION_MSR      "Create an MSR partition.\n"
    IDS_HELP_CREATE_PARTITION_PRIMARY  "Create a primary partition.\n"
    IDS_HELP_CREATE_VOLUME             "Create a volume.\n"
    IDS_HELP_CREATE_VDISK              "Create a virtual disk file.\n"

    IDS_HELP_DELETE                    "Delete an object.\n"
    IDS_HELP_DETACH                    "Detaches a virtual disk file.\n"

    IDS_HELP_DETAIL                    "Provide details about an object.\n"
    IDS_HELP_DETAIL_DISK               "Print disk details.\n"
    IDS_HELP_DETAIL_PARTITION          "Print partition details.\n"
    IDS_HELP_DETAIL_VOLUME             "Print volume details.\n"

    IDS_HELP_EXIT                      "Exit DiskPart.\n"
    IDS_HELP_EXPAND                    "Expands the maximum size available on a virtual disk.\n"
    IDS_HELP_EXTEND                    "Extend a volume.\n"
    IDS_HELP_FILESYSTEMS               "Display current and supported file systems on the volume.\n"
    IDS_HELP_FORMAT                    "Format the volume or partition.\n"
    IDS_HELP_GPT                       "Assign attributes to the selected GPT partition.\n"
    IDS_HELP_HELP                      "Display a list of commands.\n"
    IDS_HELP_IMPORT                    "Import a disk group.\n"
    IDS_HELP_INACTIVE                  "Mark the selected partition as inactive.\n"

    IDS_HELP_LIST                      "Display a list of objects.\n"
    IDS_HELP_LIST_DISK                 "List disks.\n"
    IDS_HELP_LIST_PARTITION            "List partitions.\n"
    IDS_HELP_LIST_VOLUME               "List volumes.\n"
    IDS_HELP_LIST_VDISK                "List virtual disk files.\n"

    IDS_HELP_MERGE                     "Merges a child disk with its parents.\n"
    IDS_HELP_OFFLINE                   "Offline an object that is currently marked as online.\n"
    IDS_HELP_ONLINE                    "Online an object that is currently marked as offline.\n"
    IDS_HELP_RECOVER                   "Refreshes the state of all disks in the invalid pack,\n              and resynchronizes mirrored volumes and RAID5 volumes\n              that have stale plex or parity data.\n"
    IDS_HELP_REM                       "Does nothing. This is used to comment scripts.\n"
    IDS_HELP_REMOVE                    "Remove a drive letter or mount point assignment.\n"
    IDS_HELP_REPAIR                    "Repair a RAID-5 volume with a failed member.\n"
    IDS_HELP_RESCAN                    "Rescan the computer looking for disks and volumes.\n"
    IDS_HELP_RETAIN                    "Place a retained partition under a simple volume.\n"
    IDS_HELP_SAN                       "Display or set the SAN policy for the currently booted OS.\n"

    IDS_HELP_SELECT                    "Shift the focus to an object.\n"
    IDS_HELP_SELECT_DISK               "Moves the focus to the disk.\n"
    IDS_HELP_SELECT_PARTITION          "Moves the focus to the partition.\n"
    IDS_HELP_SELECT_VOLUME             "Moves the focus to the volume.\n"
    IDS_HELP_SELECT_VDISK              "Moves the focus to the virtual disk.\n"

    IDS_HELP_SETID                     "Change the partition type.\n"
    IDS_HELP_SHRINK                    "Reduce the size of the selected volume.\n"

    IDS_HELP_UNIQUEID                  "Displays or sets the GUID partition table (GPT) identifier\n              or master boot record (MBR) signature of a disk.\n"
    IDS_HELP_UNIQUEID_DISK             "Displays or sets the GUID partition table (GPT) identifier\n              or master boot record (MBR) signature of a disk.\n"
END

/* Active help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_ACTIVE "<Add ACTIVE command help text here>\n"
END

/* Add help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_ADD "<Add ADD command help text here>\n"
END

/* Assign help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_ASSIGN "<Add ASSIGN command help text here>\n"
END

/* Attach help description */
STRINGTABLE
BEGIN
    IDS_COMMAND_ATTACH "<Add ATTACH command help text here>\n"
END

/* Attributes Command Messages */
STRINGTABLE
BEGIN
    IDS_COMMAND_ATTRIBUTES "<Add ATTRIBUTES command help text here>\n"
END

/* Automount help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_AUTOMOUNT "<Add AUTOMOUNT command help text here>\n"
END

/* Break help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_BREAK "<Add BREAK command help text here>\n"
END

/* Clean help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_CLEAN "<Add CLEAN command help text here>\n"
END

/* Compact help description */
STRINGTABLE
BEGIN
    IDS_COMMAND_COMPACT "<Add COMPACT command help text here>\n"
END

/* Convert help description */
STRINGTABLE
BEGIN
    IDS_COMMAND_CONVERT "<Add CONVERT command help text here>\n"
END

/* Create help description */
STRINGTABLE
BEGIN
    IDS_COMMAND_CREATE_PARTITION_EFI "<Add CREATE PARTITION EFI command help text here>\n"
    IDS_COMMAND_CREATE_PARTITION_EXTENDED "<Add CREATE PARTITION EXTENDED command help text here>\n"
    IDS_COMMAND_CREATE_PARTITION_LOGICAL"<Add CREATE PARTITION LOGICAL command help text here>\n"
    IDS_COMMAND_CREATE_PARTITION_MSR"<Add CREATE PARTITION MSR command help text here>\n"
    IDS_COMMAND_CREATE_PARTITION_PRIMARY"<Add CREATE PARTITION PRIMARY command help text here>\n"
END

/* Delete help description */
STRINGTABLE
BEGIN
    IDS_COMMAND_DELETE "<Add DELETE command help text here>\n"
END

/* Delete help description */
STRINGTABLE
BEGIN
    IDS_COMMAND_DETAIL_DISK "<Add DETAIL DISK command help text here>\n"
    IDS_COMMAND_DETAIL_PARTITION "<Add DETAIL PARTITION command help text here>\n"
    IDS_COMMAND_DETAIL_VOLUME "<Add DETAIL VOLUME command help text here>\n"
END

/* Detach help description */
STRINGTABLE
BEGIN
    IDS_COMMAND_DETACH "<Add DETACH command help text here>\n"
END

/* Exit help description */
STRINGTABLE
BEGIN
    IDS_COMMAND_EXIT "<Add EXIT command help text here>\n"
END

/* Expand help description */
STRINGTABLE
BEGIN
    IDS_COMMAND_EXPAND "<Add EXPAND command help text here>\n"
END

/* Extend help description */
STRINGTABLE
BEGIN
    IDS_COMMAND_EXTEND "<Add EXTEND command help text here>\n"
END

/* Filesystems help description */
STRINGTABLE
BEGIN
    IDS_COMMAND_FILESYSTEMS "<Add FILESYSTEMS command help text here>\n"
END

/* Format help description */
STRINGTABLE
BEGIN
    IDS_COMMAND_FORMAT "<Add FORMAT command help text here>\n"
END

/* GPT help description */
STRINGTABLE
BEGIN
    IDS_COMMAND_GPT "<Add GPT command help text here>\n"
END

/* Help help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_HELP "<Add HELP command help text here>\n"
END

/* Import help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_IMPORT "<Add IMPORT command help text here>\n"
END

/* Inactive help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_INACTIVE "<Add INTERACTIVE command help text here>\n"
END

/* List help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_LIST_DISK "<Add LIST DISK command help text here>\n"
    IDS_COMMAND_LIST_PARTITION "<Add LIST PARTITION command help text here>\n"
    IDS_COMMAND_LIST_VOLUME "<Add LIST VOLUME command help text here>\n"
    IDS_COMMAND_LIST_VDISK "<Add LIST VDISK command help text here>\n"
END

/* Merge help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_MERGE "<Add MERGE command help text here>\n"
END

/* Offline help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_OFFLINE "<Add OFFLINE command help text here>\n"
END

/* Online help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_ONLINE "<Add ONLINE command help text here>\n"
END

/* Recover help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_RECOVER "<Add RECOVER command help text here>\n"
END

/* Rem help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_REM "<Add REM command help text here>\n"
END

/* Remove help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_REMOVE "<Add REMOVE command help text here>\n"
END

/* Repair help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_REPAIR "<Add REPAIR command help text here>\n"
END

/* Rescan help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_RESCAN "<Add RESCAN command help text here>\n"
END

/* Retain help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_RETAIN "<Add RETAIN command help text here>\n"
END

/* San help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_SAN "<Add SAN command help text here>\n"
END

/* Select help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_SELECT_DISK "<Add SELECT DISK command help text here>\n"
    IDS_COMMAND_SELECT_PARTITION "<Add SELECT PARTITION command help text here>\n"
    IDS_COMMAND_SELECT_VOLUME "<Add SELECT VOLUME command help text here>\n"
    IDS_COMMAND_SELECT_VDISK "<Add SELECT VDISK command help text here>\n"
END

/* Setid help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_SETID "<Add SETID command help text here>\n"
END

/* Setid help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_SHRINK "<Add SHRINK command help text here>\n"
END

/* Uniqueid help descriptions */
STRINGTABLE
BEGIN
    IDS_COMMAND_UNIQUEID_DISK "<Add UNIQUEID DISK command help text here>\n"
END

/* Common Error Messages */
STRINGTABLE
BEGIN
    IDS_ERROR_MSG_NO_SCRIPT "Error opening script: %s\n"
    IDS_ERROR_MSG_BAD_ARG "Error processing argument: %s\n"
    IDS_ERROR_INVALID_ARGS "Invalid arguments\n"
END
