#include <windows.h>
#include <scrnsave.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION    "ReactOS Logon ScreenSaver\0"
#define REACTOS_STR_INTERNAL_NAME       "logon\0"
#define REACTOS_STR_ORIGINAL_FILENAME   "logon.scr\0"

#include <reactos/version.rc>

IDB_WORKSTATION BITMAP DISCARDABLE	"res/0.bmp"
IDB_SERVER 	BITMAP DISCARDABLE	"res/1.bmp"

#include "lang/bg-BG.rc"
#include "lang/de-DE.rc"
#include "lang/en-US.rc"
#include "lang/es-ES.rc"
#include "lang/eu-ES.rc"
#include "lang/fr-FR.rc"
#include "lang/ko-KR.rc"
#include "lang/lt-LT.rc"
#include "lang/nl-NL.rc"
#include "lang/no-NO.rc"
#include "lang/ro-RO.rc"
#include "lang/sk-SK.rc"
#include "lang/uk-UA.rc"
#include "lang/ru-RU.rc"
