LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_USER_HEADER "BENUTZERINFORMATIONEN"
    IDS_GROU_HEADER "GRUPPENINFORMATIONEN"
    IDS_PRIV_HEADER "BERECHTIGUNGSINFORMATIONEN"
    IDS_COL_USER_NAME "Benutzername"
    IDS_COL_GROUP_NAME "Gruppenname"
    IDS_COL_TYPE "Typ"
    IDS_COL_SID "SID"
    IDS_COL_ATTRIB "Attribute"
    IDS_COL_PRIV_NAME "Berechtigungsname"
    IDS_COL_DESCRIPTION "Beschreibung"
    IDS_COL_STATE "Status"
    IDS_TP_WELL_KNOWN_GROUP "Bekannte Gruppe"
    IDS_TP_ALIAS "Alias"
    IDS_TP_LABEL "Bezeichnung"

    /* [!] important note from the programmer: the program tries to remove
       the last ', ' after concatenating, so keep than in mind when translating.

       you can test your translation of these attributes by using 'whoami /groups' */

    IDS_ATTR_GROUP_MANDATORY "Verbindliche Gruppe, "
    IDS_ATTR_GROUP_ENABLED_BY_DEFAULT "Standardmäßig aktiviert, "
    IDS_ATTR_GROUP_ENABLED "Aktivierte Gruppe, "
    IDS_ATTR_GROUP_OWNER "Gruppenbesitzer, "
    IDS_UNKNOWN_DESCRIPTION "???"
    IDS_STATE_ENABLED "Aktiviert"
    IDS_STATE_DISABLED "Deaktiviert"
    IDS_ERROR_UPN "FEHLER: Der UPN (User Principal Name) konnte nicht abgerufen werden, da\nder aktuelle Benutzer kein Domänenbenutzer ist.\n"
    IDS_ERROR_FQDN "FEHLER: Der FQDN (Fully Qualified Distinguished Name) konnte nicht\nabgerufen werden, da der aktuelle Benutzer kein Domänenbenutzer ist.\n"
    IDS_ERROR_VALUEXPECTED "FEHLER: Ungültige Syntax. Wert für '/fo' erwartet.\nGeben Sie ""WHOAMI /?"" ein, um die Syntax anzuzeigen.\n"
    IDS_ERROR_VALUENOTALLOWED "FEHLER: Das angegebene Format (/FO) ist ungültig.\nGeben Sie ""WHOAMI /?"" ein, um die Syntax anzuzeigen.\n"
    IDS_ERROR_1TIMES "FEHLER: Ungültige Syntax. Option ""%s"" darf nicht mehr als '1' Mal verwendet werden.\nGeben Sie ""WHOAMI /?"" ein, um die Syntax anzuzeigen.\n"
    IDS_ERROR_INVALIDSYNTAX "FEHLER: Ungültige Syntax.\nGeben Sie ""WHOAMI /?"" ein, um die Syntax anzuzeigen.\n"
    IDS_ERROR_INVALIDARG "FEHLER: Argument/Option ungültig - '%s'.\nGeben Sie ""WHOAMI /?"" ein, um die Syntax anzuzeigen.\n"
    IDS_ERROR_NH_LIST "FEHLER: Option /NH kann nicht mit Format LIST verwendet werden.\nGeben Sie ""WHOAMI /?"" ein, um die Syntax anzuzeigen.\n"
    IDS_HELP "BESCHREIBUNG:\n\
  Ermittelt Benutzername, Gruppen und Berechtigungen für den aktuellen Benutzer auf dem lokalen System.\n\
  Ohne Parameterangabe werden die aktuelle Domäne und Benutzername angezeigt.\n\
\n\
  Gültige Ausgabeformate für den '/fo' Parameter sind 'CSV', 'LIST' und 'TABLE'.\n\
  '/nh' legt fest, dass der Spaltenheader nicht in der Ausgabe angezeigt wird. Standardmäßig werden diese in einer TABLE angezeigt.\n\
\n\
SYNTAX:\n\
  whoami [/upn | /fqdn | /logonid] \n\
  whoami {[/user] [/groups] [/priv]} [/fo <Format>] [/nh] \n\
  whoami /all [/fo <Format>] [/nh] \n\
\n\
BEISPIELE: \n\
  whoami /groups /priv /nh /fo csv \n\
  whoami /logonid \n\
  whoami \n"
END
