/*
 * Top level resource file for Common Controls
 *
 * Copyright 1999 Bertho Stultiens
 * Copyright 1999 Eric Kohl
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include "comctl32.h"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

#define WINE_FILEDESCRIPTION_STR "Wine Common Controls"
#define WINE_FILENAME_STR "comctl32.dll"
#define WINE_FILEVERSION COMCTL32_VERSION, COMCTL32_VERSION_MINOR, 4704, 1100
#define WINE_FILEVERSION_STR "5.82"
#define WINE_PRODUCTVERSION WINE_FILEVERSION
#define WINE_PRODUCTVERSION_STR WINE_FILEVERSION_STR

#include "wine/wine_common_ver.rc"

/* @makedep: idt_check.bmp */
IDT_CHECK BITMAP idt_check.bmp

/* @makedep: idb_std_small.bmp */
IDB_STD_SMALL BITMAP idb_std_small.bmp

/* @makedep: idb_std_large.bmp */
IDB_STD_LARGE BITMAP idb_std_large.bmp

/* @makedep: idb_view_small.bmp */
IDB_VIEW_SMALL BITMAP idb_view_small.bmp

/* @makedep: idb_view_large.bmp */
IDB_VIEW_LARGE BITMAP idb_view_large.bmp

/* @makedep: idb_hist_small.bmp */
IDB_HIST_SMALL BITMAP idb_hist_small.bmp

/* @makedep: idb_hist_large.bmp */
IDB_HIST_LARGE BITMAP idb_hist_large.bmp

/* @makedep: idc_copy.cur */
IDC_COPY CURSOR idc_copy.cur

/* @makedep: idc_divider.cur */
IDC_DIVIDER CURSOR idc_divider.cur

/* @makedep: idc_divideropen.cur */
IDC_DIVIDEROPEN CURSOR idc_divideropen.cur

/* @makedep: idc_movebutton.cur */
IDC_MOVEBUTTON CURSOR idc_movebutton.cur

/* @makedep: idi_dragarrow.ico */
IDI_DRAGARROW ICON idi_dragarrow.ico

/* @makedep: idi_tt_info_sm.ico */
IDI_TT_INFO_SM ICON idi_tt_info_sm.ico

/* @makedep: idi_tt_warn_sm.ico */
IDI_TT_WARN_SM ICON idi_tt_warn_sm.ico

/* @makedep: idi_tt_error_sm.ico */
IDI_TT_ERROR_SM ICON idi_tt_error_sm.ico


/*
 * Everything specific to any language goes
 * in one of the specific files.
 * Note that you can and may override resources
 * which also have a neutral version. This is to
 * get localized bitmaps for example.
 */

/* UTF-8 */
#pragma code_page(65001)

#ifdef LANGUAGE_BG_BG
    #include "lang/comctl_Bg.rc"
#endif
#ifdef LANGUAGE_CS_CZ
    #include "lang/comctl_Cs.rc"
#endif
#ifdef LANGUAGE_DA_DK
    #include "lang/comctl_Da.rc"
#endif
#ifdef LANGUAGE_DE_DE
    #include "lang/comctl_De.rc"
#endif
#ifdef LANGUAGE_EL_GR
    #include "lang/comctl_El.rc"
#endif
#ifdef LANGUAGE_EN_US
    #include "lang/comctl_En.rc"
#endif
#ifdef LANGUAGE_EO_AA
    #include "lang/comctl_Eo.rc"
#endif
#ifdef LANGUAGE_ES_ES
    #include "lang/comctl_Es.rc"
#endif
#ifdef LANGUAGE_ET_EE
    #include "lang/comctl_Et.rc"
#endif
#ifdef LANGUAGE_EU_ES
    #include "lang/comctl_Eu.rc"
#endif
#ifdef LANGUAGE_FR_FR
    #include "lang/comctl_Fr.rc"
#endif
#ifdef LANGUAGE_HE_IL
    #include "lang/comctl_He.rc"
#endif
#ifdef LANGUAGE_HI_IN
    #include "lang/comctl_Hi.rc"
#endif
#ifdef LANGUAGE_HU_HU
    #include "lang/comctl_Hu.rc"
#endif
#ifdef LANGUAGE_ID_ID
    #include "lang/comctl_Id.rc"
#endif
#ifdef LANGUAGE_IT_IT
    #include "lang/comctl_It.rc"
#endif
#ifdef LANGUAGE_JA_JP
    #include "lang/comctl_Ja.rc"
#endif
#ifdef LANGUAGE_KO_KR
    #include "lang/comctl_Ko.rc"
#endif
#ifdef LANGUAGE_LT_LT
    #include "lang/comctl_Lt.rc"
#endif
#ifdef LANGUAGE_NL_NL
    #include "lang/comctl_Nl.rc"
#endif
#ifdef LANGUAGE_NO_NO
    #include "lang/comctl_No.rc"
#endif
#ifdef LANGUAGE_PL_PL
    #include "lang/comctl_Pl.rc"
#endif
#ifdef LANGUAGE_PT_PT
    #include "lang/comctl_Pt.rc"
#endif
#ifdef LANGUAGE_RO_RO
    #include "lang/comctl_Ro.rc"
#endif
#ifdef LANGUAGE_RU_RU
    #include "lang/comctl_Ru.rc"
#endif
#ifdef LANGUAGE_SK_SK
    #include "lang/comctl_Sk.rc"
#endif
#ifdef LANGUAGE_SL_SI
    #include "lang/comctl_Si.rc"
#endif
#ifdef LANGUAGE_SQ_AL
    #include "lang/comctl_Sq.rc"
#endif
#ifdef LANGUAGE_SR_SP
    #include "lang/comctl_Sr.rc"
#endif
#ifdef LANGUAGE_SV_SE
    #include "lang/comctl_Sv.rc"
#endif
#ifdef LANGUAGE_TH_TH
    #include "lang/comctl_Th.rc"
#endif
#ifdef LANGUAGE_TR_TR
    #include "lang/comctl_Tr.rc"
#endif
#ifdef LANGUAGE_UK_UA
    #include "lang/comctl_Uk.rc"
#endif
#ifdef LANGUAGE_ZH_TW
    #include "lang/comctl_Tw.rc"
#endif
#ifdef LANGUAGE_ZH_CN
    #include "lang/comctl_Zh.rc"
#endif
