LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE DISCARDABLE
{

IDS_USAGE, "Usage: shutdown [-?] [-l | -s | -r] [-f]\n\n\
  No arguments or -?\tDisplay this message\n\
  -l\t\t\tLog off\n\
  -s\t\t\tShutdown the computer\n\
  -r\t\t\tShutdown and restart the computer\n\
  -f\t\t\tForces running applications to close without warnings\n\
    \t\t\tIf you did not specify any other parameter, this option\n\
    \t\t\twill also log off"
}
