

#include <windows.h>
#include "resource.h"

/* define language neutral resources */

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

/* include localised resources */
#include "Cz.rc"
#include "De.rc"
#include "Dk.rc"
#include "En.rc"
#include "Es.rc"
#include "Fi.rc"
#include "Gr.rc"
#include "Hu.rc"
#include "Ja.rc"
#include "Nl.rc"
#include "No.rc"
#include "Pl.rc"
#include "Ru.rc"
#include "Sv.rc"
#include "Uk.rc"


