/* Basic CSS taken from http://www.blogger.com/styles/atom.css */

feed {
  display:block;
  font-family:verdana, sans-serif;
  margin:2%;
  font-size:90%;
  color:#000000;
  background:#ffffff;
}

title {
  display:block;
  font-size:1.3em;
  color:inherit;
  background:inherit;
  font-weight:bold;
}

tagline, link {
  display:block;
  font-size:0.9em;
}

id, modified {
  display:none;
}

generator {
  display:block;
  font-size:0.9em;
}

info {
  display:block;
  margin:3em 4em 3em 4em;
  color:#CC3333;
  background:#FFFF66;
  border:solid #CCCC66 2px;
  text-align:center;
  padding:1.5em;
  font-family:mono;
  font-size:0.8em;
}

entry {
  display:block;
  color:inherit;
  background:inherit;
  padding:0;
  margin:1em 1em 4em 1em;
  
}

entry modified, entry name {
  display:inline;
  color:#999999;
  background:inherit;
  font-size:0.8em;
}

entry created, entry issued, entry id {
  display:none;
}

/* Using a single 'commentRSS' and 'comments' is used for compatibility to Opera */
slash\:comments, wfw\:commentRss, commentRss, comments, wfw\:comment, comment {
  display:none;
}

entry title {
  display:block;
  font-size:1em;
  font-weight:bold;
  color:inherit;
  background:inherit;
  padding:1em 1em 0em 1em;
  margin:0;
  border-top:solid 1px #dddddd;
}

content {
  display:block;
  font-size:0.9em;
  color:inherit;
  background:inherit;
  padding:1em;
  line-height:1.5em;
}