LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

/* String Tables */

/* Default settings */
STRINGTABLE
BEGIN
    IDS_APPTITLE "ReactOS - Welcome"
    IDS_DEFAULTTOPICTITLE "ReactOS"
    IDS_DEFAULTTOPICDESC "ReactOS へようこそ。\n\n左側のトピックをクリックしてください。"

    IDS_CHECKTEXT "Show this dialog again"
    IDS_CLOSETEXT "Exit"
END

/* Topic buttons */
STRINGTABLE
BEGIN
    IDS_TOPICBUTTON0 "ReactOS をインストールする"
    IDS_TOPICBUTTON1 "この CD を開く"
    IDS_TOPICBUTTON2 "終了"
END

/* Topic titles */
STRINGTABLE
BEGIN
    IDS_TOPICTITLE0 "ReactOS をインストールする"
    IDS_TOPICTITLE1 "この CD を開く"
    IDS_TOPICTITLE2 "終了"
END

/* Topic descriptions */
STRINGTABLE
BEGIN
    IDS_TOPICDESC0 "コンピュータに新しく ReactOS をインストールしたり、既存の ReactOS をアップグレードします。"
    IDS_TOPICDESC1 "CD の内容を参照します。"
    IDS_TOPICDESC2 "クリックするとこのアプリケーションを終了します。"
END
