/* Slovak translation by Kario  2007 <kario@szm.sk> */

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

/* String Tables */

/* Default settings */
STRINGTABLE
BEGIN
    IDS_APPTITLE "ReactOS - Vitajte"
    IDS_DEFAULT_TOPIC_TITLE "ReactOS"
    IDS_DEFAULT_TOPIC_DESC "Vitajte v operačnom systéme ReactOS.\n\nKliknite na tlačidlo v ľavom stĺpci."

    IDS_CHECKTEXT "&Zobraziť toto okno aj nabudúce"
    IDS_CLOSETEXT "&Koniec"
END

/* Topic buttons */
STRINGTABLE
BEGIN
    IDS_TOPIC_BUTTON0 "&Inštalovať ReactOS"
    IDS_TOPIC_BUTTON1 "&Prezerať toto CD"
    IDS_TOPIC_BUTTON2 "&Koniec"
END

/* Topic titles */
STRINGTABLE
BEGIN
    IDS_TOPIC_TITLE0 "Inštalovať ReactOS"
    IDS_TOPIC_TITLE1 "Prezerať toto CD"
    IDS_TOPIC_TITLE2 "Koniec"
END

/* Topic descriptions */
STRINGTABLE
BEGIN
    IDS_TOPIC_DESC0 "Nainštaluje ReactOS na Váš počítač alebo zaktualizuje už existujúci systém."
    IDS_TOPIC_DESC1 "Prezerať toto CD."
    IDS_TOPIC_DESC2 "Kliknutím ukončíte tento program."
END
