[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # product: object; Bugzilla::Product object representing the product to
  #               which the versions belongs.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %]Select version of product
                   '[% product.name FILTER html %]'[% END %]
[% PROCESS global/header.html.tmpl
  title = title
%]

[% edit_contentlink = BLOCK %]editversions.cgi?action=edit&amp;product=
  [%- product.name FILTER url_quote %]&amp;version=%%name%%[% END %]
[% delete_contentlink = BLOCK %]editversions.cgi?action=del&amp;product=
  [%- product.name FILTER url_quote %]&amp;version=%%name%%[% END %]
[% bug_count_contentlink = BLOCK %]buglist.cgi?version=%%name%%&amp;product=
  [%- product.name FILTER url_quote %][% END %]


[% columns = [
     { 
       name => "name"
       heading => "Edit version..."
       contentlink => edit_contentlink
     }
   ]
%]

[% IF showbugcounts %]

  [% columns.push({
       name => "bug_count"
       heading => "$terms.Bugs"
       align => "right"
       contentlink => bug_count_contentlink
     })
  %]

[% END %]

[% columns.push({
       heading => "Action"
       content => "Delete"
       contentlink => delete_contentlink
     })
%]

[% PROCESS admin/table.html.tmpl
     columns = columns
     data = product.versions
%]

[% IF ! showbugcounts %]

  <p><a href="editversions.cgi?product=[% product.name FILTER url_quote %]&amp;showbugcounts=1">
      Redisplay table with [% terms.bug %] counts (slower)</a></p>

[% END %]

[% PROCESS admin/versions/footer.html.tmpl
  no_edit_other_versions_link = 1
 %]

[% PROCESS global/footer.html.tmpl %]
