/* TRANSLATOR: 2013, 2014, 2020 Erdem Ersoy (eersoy93) (erdemersoy [at] erdemersoy [dot] net) */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_CPLSYSTEMNAME "Telefon ve Modem Seçenekleri"
    IDS_CPLSYSTEMDESCRIPTION "Telefon arama kurallarınızı ve modem ayarlarınızı yapılandırır."
END
