LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

IDD_DISCONNECTDRIVES DIALOGEX 0, 0, 300, 200
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Odłączanie dysków sieciowych"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Wybierz dyski sieciowe, które chcesz odłączyć, a następnie kliknij przycisk OK.", -1, 7, 7, 286, 8
    LTEXT "&Dyski sieciowe:", -1, 7, 23, 286, 8
    CONTROL "", IDC_CONNECTEDDRIVELIST, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SORTASCENDING | LVS_SINGLESEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 31, 286, 140
    PUSHBUTTON "OK", ID_OK, 189, 179, 50, 14
    PUSHBUTTON "Anuluj", IDCANCEL, 243, 179, 50, 14
END

STRINGTABLE
BEGIN
    IDS_DIALOG_CAPTION "Odłączanie dysku sieciowego"
    IDS_DRIVE_LETTER "Litera dysku"
    IDS_NETWORK_PATH "Ścieżka sieciowa"
    IDS_NO_DRIVES "Nie masz żadnych dysków sieciowych do odłączenia."
END
