/*
 * PROJECT:     ReactOS Network Places Wizard
 * LICENSE:     GPL-2.0+ (https://spdx.org/licenses/GPL-2.0+)
 * PURPOSE:     Romanian resource file
 * TRANSLATORS: Copyright 2022 Andrei Miloiu <miloiuandrei@gmail.com>
 */

LANGUAGE LANGUAGE LANG_ROMANIAN, SUBLANG_DEFAULT

IDD_DISCONNECTDRIVES DIALOGEX 0, 0, 300, 200
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Deconectează unitățile de rețea"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Selectați unitatea/unitățile pe care vreți să le deconectați, apoi dați clic pe Confirmă.", -1, 7, 7, 286, 8
    LTEXT "&Unități de rețea:", -1, 7, 23, 286, 8
    CONTROL "", IDC_CONNECTEDDRIVELIST, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_SORTASCENDING | LVS_SINGLESEL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 31, 286, 140
    PUSHBUTTON "Confirmă", ID_OK, 189, 179, 50, 14
    PUSHBUTTON "Anulează", IDCANCEL, 243, 179, 50, 14
END

STRINGTABLE
BEGIN
    IDS_DIALOG_CAPTION "Deconectează unitatea de rețea"
    IDS_DRIVE_LETTER "Litera unității"
    IDS_NETWORK_PATH "Calea rețelei"
    IDS_NO_DRIVES "Nu aveți unități de rețea de deconectat."
END
