h4,h3 {
    margin: 0;
}

.serendipitySideBarContent input {
    width: 175px;
}

#mainpane {
    line-height: 140%;
    text-align: left;
    padding: 0px;
    width: 700px;
    background-color: #ffffff;
    border: 1px solid #FFFFFF;
    margin: auto;
}

#content {
    width: 500px;
}

#serendipityRightSideBar {
    width: 170px;
    padding: 10px;
    background-color: #ffffff;
    vertical-align: top;
}

#serendipityLeftSideBar {
    width: 130px;
    padding: 10px;
    vertical-align: top;
    background-color: #ffffff;
}

body {
    margin: 0px 0px 20px 0px;
    background-color: #0F314E;
}

input, textarea {
    font-size: x-small;
    font-family: verdana, arial, helvetica, sans-serif;
}

td, td {
    font-size: x-small;
}

p, td, th, div, span {
    font-family: verdana, arial, helvetica, sans-serif;
}

#serendipity_banner {
    font-family: Georgia, 'Times New Roman', serif;
    color: #FFFFFF;
    background-color: #B22222;
    text-align: left;
    border-bottom: 1px solid #FFFFFF;
    width: 700px;
    height: 72px;
    margin: auto;
}

a.homelink1,
a.homelink1:hover,
a.homelink1:link,
a.homelink1:visited,
#serendipity_banner h1 {
    color: #ffffff;
    font-size: xx-large;
    font-weight: normal;
    padding-left: 10px;
    padding-top: 2px;
    margin: 0px;
    text-decoration: none;
}

a.homelink2,
a.homelink2:hover,
a.homelink2:link,
a.homelink2:visited,
#serendipity_banner h2 {
    color: #FFFFFF;
    padding-left: 10px;
    font-size: small;
    font-weight: normal;
    margin: 0px;
    text-decoration: none;
}

.serendipity_title {
    color: #333;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: small;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0px;
}

.serendipity_title a:link,
.serendipity_title a:visited,
.serendipity_title a:hover {
    color: #333;
    text-decoration: none;
}

.serendipity_entry {
    background-color: #ffffff;
    color: #666666;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: small;
    clear:both;
}

.serendipity_entry_body_folded,
.serendipity_entry_body_unfolded,
.serendipity_entry_extended {
    /* Inner blocks of .serendipity_entry, can be used for further customization */
}

div.serendipity_Entry_Date {
    width: auto;
    padding-left: 15px;
}

.serendipity_date {
    color: #B22222;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: small;
    text-align: left;
    font-weight: bold;
    padding-top: 5px;
    margin-bottom: 10px;
}

.serendipity_commentTitle {
    display: block;
    color: #333;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    border-bottom: 1px solid #999999;
    font-size: small;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

div.serendipity_entryFooter {
    color: #999999;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: x-small;
    border-top: 1px solid #999999;
    text-align: left;
    margin-bottom: 25px;
    line-height: normal;
    padding: 3px;

}

img.serendipity_entryIcon {
    float: right;
    border: 0px;
}

img.serendipity_entryIcon {
    float: right;
    border: 0px;
}

td.serendipity_commentsLabel {
    font-size: x-small;
    font-weight: bold;
    vertical-align: top;
}

td.serendipity_commentsValue input,
td.serendipity_commentsValue select,
td.serendipity_commentsValue textarea {
    width: 99%;
    border: 1px solid #333;
    padding: 2px;
}

.serendipity_commentForm {
    font-size:x-small;
    color: #ffffff;
    margin-bottom: 13px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #FFFFFF;
}
.serendipity_comment {
    font-size: x-small;
    margin-right: 15px;
    margin-left: 15px;
    padding: 3px;
    padding-bottom: 0;
    background-color: #FFFFFF;
    border-right: 1px dotted #BBB;
    overflow: auto;
}

.serendipity_comment_source {
    margin-top: 5px;
    padding-left: 5px;
}

td.serendipity_admin {
    padding: 10px;
}

a {
    text-decoration: underline;


    }

a:link {
    color: #0F314E;
    }

a:visited {
    color: #0F314E;
    }

a:active {
    color: #0F314E;
    }

a:hover {
    color: #B22222;
    }

table.serendipity_calendar td {
    text-align: center;
}
table.serendipity_calendar a {
    text-decoration:underline;
}

table.serendipity_calendar a:hover {
    text-decoration: none;
}

td.serendipity_weekDayName {
    text-align: center;
    font-weight: normal;
}
td.serendipity_calendarHeader a:link,
td.serendipity_calendarHeader a:visited,
td.serendipity_calendarHeader a:hover {
    color: #B22222;
    font-family: Verdana, Arial, sans-serif;
    font-size: x-small;
    text-align: left;
    font-weight: bold;

    text-transform: uppercase;
    padding: 3px;
    letter-spacing: .25em;
    text-decoration: none;
}
div.serendipityPlug {
    text-align: center;
}

div.serendipityPlug a {
    text-decoration: none;
    border: 0px;
}

.serendipitySideBarContent {
    padding: 3px;
}

/* Container for each item on the side bar */
div.serendipitySideBarItem {
    color: #666666;
    font-family: 'Trebuchet MS', Verdana, sans-serif;
    font-size: x-small;
    text-align: left;
    margin-bottom: 15px;
    line-height: normal;
    padding: 3px;
}

/* title of an individual item */
.serendipitySideBarTitle {
    color: #B22222;
    font-family: Verdana, Arial, sans-serif;
    font-size: x-small;
    border-bottom: 1px solid #B22222;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding: 3px;
}

.serendipityImageButton {
    cursor: pointer;
}

td.serendipitySideBar {
    font-size: x-small;
    width: 200px;
    padding: 10px;
}

div.serendipity_admin_title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
}

div.serendipity_admin_list_title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}

td.serendipity_admin_list_item {
    border: dashed 1px #000000;
}

.serendipity_entry p {
    margin: 0px;
    padding-bottom: 10px;
}

/** Embedded images with the s9y image manager **/
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid black;
    background-color: #EFEFEF;
    margin: 3px;
}

.serendipity_imageComment_center {
    margin: 0px;
}

.serendipity_imageComment_left {
    float: left;
}

.serendipity_imageComment_right {
    float: right;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
}

.serendipity_imageComment_txt {
    margin: 0px;
    padding: 3px;
    clear: both;
    font-size: xx-small;
    text-align: center;
}

.serendipity_admin_list_item_even {
    background-color: #fefefe;
}

.serendipity_admin_list_item_uneven {
    background-color: #eee;
}

.serendipity_admin_filters {
    border: 1px dashed;
    background-color: #FFFFFF;
    font-size: 10px;
    margin-bottom: 10px;
    padding: 2px;
}

.serendipity_admin_filters_headline {
    border-bottom: 1px solid;
}

.serendipity_admin_sortorder {
    font-size: 10px;
    text-align: center;
}

.serendipity_admin_sortorder input,
.serendipity_admin_sortorder select,
.serendipity_admin_filters input,
.serendipity_admin_filters select {
    font-size: 10px;
}

.serendipity_comments {
}

.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.serendipity_msg_important {
    color: red;
    font-weight: bold;
    font-size: small;
}

.serendipity_msg_notice {
    color: green;
    font-weight: bold;
    font-size: small;
}

.serendipity_entry_author_self {
}

.serendipity_comment_author_self {
    border-right: 1px dashed #B22222;
}

/* vim: set sts=4 ts=4 expandtab : */
