[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #%]

[%# INTERFACE:
  # comp: object; Bugzilla::Component object representing the component the
  #               user wants to delete.
  # product: object; Bugzilla::Product object representing the product to
  #               which the component belongs.
  #%]

[% title = BLOCK %]Delete Component of Product '[% product.name FILTER html %]'
  [% END %]

[% PROCESS global/header.html.tmpl
  title = title
%]

<table border="1" cellpadding="4" cellspacing="0">
<tr bgcolor="#6666FF">
  <th valign="top" align="left">Field</th>
  <th valign="top" align="left">Value</th>
</tr>
<tr>
  <td valign="top">Component:</td>
  <td valign="top">[% comp.name FILTER html %]</td>
</tr>
<tr>
  <td valign="top">Component Description:</td>
  <td valign="top">[% comp.description FILTER html_light %]</td>
</tr>
<tr>
  <td valign="top">Default assignee:</td>
  <td valign="top">[% comp.default_assignee.login FILTER html %]</td>
  
[% IF Param('useqacontact') %]
</tr>
<tr>
  <td valign="top">Default QA contact:</td>
  <td valign="top">[% comp.default_qa_contact.login FILTER html %]</td>
[% END %]
  
</tr>
<tr>
  <td valign="top">Component of Product:</td>
  <td valign="top">[% product.name FILTER html %]</td>

[% IF product.description %]
</tr>
<tr>
  <td valign="top">Product Description:</td>
  <td valign="top">[% product.description FILTER html_light %]</td>
[% END %]

[% IF Param('usetargetmilestone') %]
</tr>
<tr>
  <td valign="top">Product Milestone URL:</td>
  <td valign="top">
    <a href="[% product.milestone_url FILTER html %]">
      [% product.milestone_url FILTER html %]
    </a>
  </td>
[% END %]

</tr>
<tr>
  <TD VALIGN="top">Closed for [% terms.bugs %]:</TD>
  <TD VALIGN="top">[% IF product.disallow_new %]Yes[% ELSE %]No[% END %]</td>
</tr>
<tr>
  <td valign="top">[% terms.Bugs %]:</td>
  <td valign="top">
[% IF comp.bug_count %]
  <a title="List of [% terms.bugs %] for component '[% comp.name FILTER html %]'"
     href="buglist.cgi?component=[% comp.name FILTER url_quote %]&amp;product=
          [%- product.name FILTER url_quote %]">[% comp.bug_count %]</a>
[% ELSE %]
  None
[% END %]
  </td>
</tr>
</table>

<h2>Confirmation</h2>
  
[% IF comp.bug_count %]

  [% IF !Param("allowbugdeletion") %]
  <p>
    Sorry, there

    [% IF comp.bug_count > 1 %] 
      are [% comp.bug_count %] [%+ terms.bugs %] 
    [% ELSE %]
      is [% comp.bug_count %] [%+ terms.bug %] 
    [% END %]

    outstanding for this component.  You must reassign 

    [% IF comp.bug_count > 1 %]
       those [% terms.bugs %] 
    [% ELSE %]
       that [% terms.bug %]
    [% END %]

    to another component before you can delete this one.
  </p>
  [% ELSE %]

    <table border="0" cellpadding="20" width="70%" bgcolor="red"><tr><td>

      There [% IF comp.bug_count > 1 %] 
        are [% comp.bug_count %] [%+ terms.bugs %] 
      [% ELSE %]
        is 1 [% terms.bug %]
      [% END %]
      entered for this component!  When you delete this
      component, <b><blink>ALL</blink></b> stored [% terms.bugs %] and
      their history will be deleted too.
      </td></tr></table>

  [% END %]

[% END %]

[% IF comp.bug_count == 0 || Param('allowbugdeletion') %]

  <p>Do you really want to delete this component?</p>
  
  <form method="post" action="editcomponents.cgi">
  <input type="submit" id="delete" value="Yes, delete">
  <input type="hidden" name="action" value="delete">
  <input type="hidden" name="product" value="[% product.name FILTER html %]">
  <input type="hidden" name="component" value="[% comp.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  </form>

[% END %]

[% PROCESS admin/components/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %] 
