
#include "wspool.h"

#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION  "ReactOS Spooler API"
#define REACTOS_STR_INTERNAL_NAME     "winspool"
#define REACTOS_STR_ORIGINAL_FILENAME "winspool.drv"
#include <reactos/version.rc>

#pragma makedep po

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

STRINGTABLE
{
    IDS_CAPTION "Local Port"
    IDS_FILE_EXISTS "The output file already exists. Click OK to overwrite."
    IDS_CANNOT_OPEN "Unable to create the output file."
}

FILENAME_DIALOG DIALOG 6, 18, 245, 47
STYLE DS_CONTEXTHELP | DS_MODALFRAME | DS_SETFONT | DS_SETFOREGROUND | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Print to File"
FONT 8, "MS Shell Dlg"
{
    LTEXT "&Output File Name:", -1, 7, 13, 194, 13, WS_VISIBLE
    EDITTEXT EDITBOX, 6, 28, 174, 12, WS_VISIBLE | ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 199, 10, 40, 14, WS_VISIBLE
    PUSHBUTTON "Cancel", IDCANCEL, 199, 27, 40, 14, WS_VISIBLE
}

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

