/* FILE:       dll/win32/setupapi/lang/cs-CZ.rc
 * TRANSLATOR: Radek Liska aka Black_Fox (radekliska at gmail dot com)
 * THANKS TO:  David Kredba
 * UPDATED:    2010-01-07
 */

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

COPYFILEDLGORD DIALOGEX 20, 20, 208, 105
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Kopíruji soubory..."
FONT 8, "MS Shell Dlg"
BEGIN
    PUSHBUTTON "Storno", IDCANCEL, 79, 84, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    LTEXT "Zdroj:", -1, 7, 7, 77, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
    LTEXT "", SOURCESTRORD, 7, 18, 194, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
    LTEXT "Cíl:", -1, 7, 30, 77, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
    LTEXT "", DESTSTRORD, 7, 41, 194, 22, WS_CHILD | WS_VISIBLE | WS_GROUP
    CONTROL "", PROGRESSORD, "setupx_progress", 7, 63, 194, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

STRINGTABLE
BEGIN
    IDS_QUERY_REBOOT_TEXT "Aby mohla být instalace dokončena, musí být počítač restartován. Pokračovat?"
    IDS_QUERY_REBOOT_CAPTION "Restartovat"
    IDS_INF_FILE "Instalační informace"
END
