/* Simplified Chinese translation by Henry Tang Ih 2015 (henrytang2@hotmail.com) */
/* Improved by Luo Yufan (njlyf2011@hotmail.com) */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

COPYFILEDLGORD DIALOGEX 20, 20, 208, 105
STYLE DS_MODALFRAME | DS_SHELLFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "正在复制文件..."
FONT 9, "宋体"
BEGIN
    PUSHBUTTON "取消", IDCANCEL, 79, 84, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    LTEXT "资料来源：", -1, 7, 7, 77, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
    LTEXT "", SOURCESTRORD, 7, 18, 194, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
    LTEXT "目标：", -1, 7, 30, 77, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
    LTEXT "", DESTSTRORD, 7, 41, 194, 22, WS_CHILD | WS_VISIBLE | WS_GROUP
    CONTROL "", PROGRESSORD, "setupx_progress", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 63, 194, 13
END

IDPROMPTFORDISK DIALOG 0, 0, 260, 120
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "所需文件"
FONT 9, "宋体"
BEGIN
    LTEXT "请插入厂商的安装盘，然后确认已在下面选定正确的驱动器。", IDC_FILENEEDED, 10, 10, 175, 38, WS_CHILD | WS_VISIBLE | WS_GROUP
    LTEXT "", IDC_INFO, 10, 50, 175, 38, WS_CHILD | WS_VISIBLE | WS_GROUP
    LTEXT "厂商文件复制来源：", IDC_COPYFROM, 10, 90, 175, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
    CONTROL "", IDC_PATH, "COMBOBOX", WS_TABSTOP | WS_GROUP | WS_VSCROLL | WS_VISIBLE | CBS_DISABLENOSCROLL | CBS_AUTOHSCROLL | CBS_DROPDOWN, 10, 100, 175, 14
    DEFPUSHBUTTON "确定", IDOK, 195, 10, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "取消", IDCANCEL, 195, 30, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "浏览...", IDC_RUNDLG_BROWSE, 195, 100, 60, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

STRINGTABLE
BEGIN
    IDS_PROMPTDISK   "需要 %2 上的文件“%1”。"
    IDS_UNKNOWN      "未知"
    IDS_COPYFROM     "文件复制来源："
    IDS_INFO         "输入文件所在的路径，然后单击“确定”。"
END

STRINGTABLE
BEGIN
    IDS_QUERY_REBOOT_TEXT "您的计算机需要重新启动才能完成安装，您要继续吗？"
    IDS_QUERY_REBOOT_CAPTION "重新启动"
    IDS_INF_FILE "安装程序信息"
END
