/*
 * PROJECT:     Security Account Manager (SAM) Server
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Chinese (Hong Kong) resource file
 * TRANSLATORS: Copyright 2021-2022 Chan Chilung <eason066@gmail.com>
 * REFERENCES:  Chinese (Traditional) resource file
 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_HONGKONG

STRINGTABLE
BEGIN
    IDS_DOMAIN_BUILTIN_NAME "內建"
    IDS_GROUP_NONE_NAME "無"
    IDS_GROUP_NONE_COMMENT "普通使用者"
    IDS_ALIAS_ADMINISTRATORS_NAME "管理員"
    IDS_ALIAS_ADMINISTRATORS_COMMENT "管理員可以無限制地訪問電腦或網域。"
    IDS_ALIAS_GUESTS_NAME "來賓"
    IDS_ALIAS_GUESTS_COMMENT "來賓在預設情況下權限與［使用者］羣組相同。"
    IDS_ALIAS_POWER_USERS_NAME "進階使用者"
    IDS_ALIAS_POWER_USERS_COMMENT "進階使用者擁有大多數管理權限，但存在一些限制。"
    IDS_ALIAS_USERS_NAME "使用者"
    IDS_ALIAS_USERS_COMMENT "防止使用者對系統進行全面變更。"
    IDS_ALIAS_PRINT_OPS_NAME "Print Operators"
    IDS_ALIAS_PRINT_OPS_COMMENT "其成員可以管理網域印表機"
    IDS_ALIAS_BACKUP_OPS_NAME "Backup Operators"
    IDS_ALIAS_BACKUP_OPS_COMMENT "Backup Operators 只能以備份或還原檔案的原因才能覆蓋安全性限制"
    IDS_ALIAS_REPLICATOR_NAME "Replicator"
    IDS_ALIAS_REPLICATOR_COMMENT "支援網域中的檔案複寫"
    IDS_ALIAS_REMOTE_DESKTOP_USERS_NAME "Remote Desktop Users"
    IDS_ALIAS_REMOTE_DESKTOP_USERS_COMMENT "這個羣組的成員被授權進行遠端登入"
    IDS_ALIAS_NETWORK_CONFIGURATION_OPS_NAME "Network Configuration Operators"
    IDS_ALIAS_NETWORK_CONFIGURATION_OPS_COMMENT "這個羣組的成員可以擁有某些系統管理權限，來管理網絡功能的設定"
    IDS_ALIAS_MONITORING_USERS_NAME "Performance Monitor Users"
    IDS_ALIAS_MONITORING_USERS_COMMENT "這個羣組的成員可以遠端存取來監視這台電腦"
    IDS_ALIAS_LOGGING_USERS_NAME "Performance Log Users"
    IDS_ALIAS_LOGGING_USERS_COMMENT "這個羣組的成員可以遠端存取來安排記錄這台電腦的性能計數器"
    /*
     * ATTENTION:
     *   If you translate the administrator account name, keep IDS_USER_ADMINISTRATOR_NAME and
     *   syssetup.dll:IDS_ADMINISTRATOR_NAME synchronized.
     */
    IDS_USER_ADMINISTRATOR_NAME "Administrator"
    IDS_USER_ADMINISTRATOR_COMMENT "用於管理電腦或網域的內建帳户。"
    IDS_USER_GUEST_NAME "來賓"
    IDS_USER_GUEST_COMMENT "用於來賓存取電腦或網域的內建帳户。"
END
