LANGUAGE LANG_BULGARIAN, SUBLANG_DEFAULT

IDD_PROPPAGEGENERAL DIALOGEX 0, 0, 256, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Общи"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    CONTROL "", IDC_ROSIMG, "Static", SS_OWNERDRAW, 4, 5, 248, 111
    LTEXT "Уредба:", IDC_STATIC, 4, 116, 100, 9
    LTEXT REACTOS_STR_PRODUCT_NAME, IDC_STATIC, 10, 128, 116, 9
    LTEXT "Версия:", IDC_ROSVERSION, 10, 137, 131, 9
    LTEXT KERNEL_VERSION_REVISION_RC, IDC_STATIC, 10, 146, 110, 9
    LTEXT "System Uptime:", IDC_STATIC, 4, 161, 100, 9
    LTEXT "", IDC_UPTIME, 10, 173, 116, 9
    LTEXT "Машина:", IDC_STATIC, 124, 116, 100, 9
    LTEXT "", IDC_MACHINELINE1, 130, 128, 118, 9
    LTEXT "", IDC_MACHINELINE2, 130, 137, 118, 9
    LTEXT "", IDC_MACHINELINE3, 130, 146, 118, 9
    LTEXT "", IDC_MACHINELINE4, 130, 155, 118, 9
    LTEXT "", IDC_MACHINELINE5, 130, 164, 118, 9
    LTEXT "", IDC_MACHINELINE6, 130, 173, 118, 9
    CONTROL "Посетете <A HREF=""https://reactos.org/"">ReactOS Homepage</A>", IDC_ROSHOMEPAGE_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 200, 140, 10
    PUSHBUTTON "&Разрешителното", IDC_LICENCE, 170, 198, 78, 15
END

IDD_PROPPAGEHARDWARE DIALOGEX 0, 0, 256, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Оборудване"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    GROUPBOX "Управител на устройствата", IDC_STATIC, 6, 7, 244, 61
    ICON IDI_DEVMGR, IDC_STATIC, 12, 18, 23, 21, SS_ICON
    LTEXT "Управителят на устройствата извежда списък на всички устройства в компютъра ви. Чрез него можете да укажете свойствата на всяко от тях.", IDC_STATIC, 42, 18, 204, 24
    PUSHBUTTON "Управител на &устройствата...", IDC_HARDWARE_DEVICE_MANAGER, 134, 48, 110, 15
    GROUPBOX "Съветник по оборудването", IDC_STATIC, 6, 79, 244, 61
    ICON IDI_ADDHW, IDC_STATIC, 12, 90, 23, 21, SS_ICON
    LTEXT "Съветникът по оборудването ще ви помогне да подкарате, махнете, извадите, изхмъкнете и настроите оборудването си.", IDC_STATIC, 42, 90, 204, 24
    PUSHBUTTON "Съветник по &оборудването", IDC_HARDWARE_WIZARD, 134, 120, 110, 15
    GROUPBOX "Профили за оборудването", IDC_STATIC, 6, 149, 244, 61
    ICON IDI_HARDPROF, IDC_STATIC, 12, 160, 23, 21, SS_ICON
    LTEXT "Профилите за оборудването позволяват създаването и записа на различни настройки на оборудването.", IDC_STATIC, 42, 160, 204, 24
    PUSHBUTTON "Профили за &оборудването...", IDC_HARDWARE_PROFILE, 134, 190, 110, 15
END

IDD_PROPPAGEADVANCED DIALOGEX 0, 0, 256, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Разширени"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "За повечето от тези настройки са нужни управнически права.", IDC_STATIC, 12, 5, 236, 8
    GROUPBOX "Производителност", IDC_STATIC, 6, 18, 244, 50
    LTEXT "Тези настройки управляват употребата на памет от приложенията, което влияе на бързината на компютъра ви.", IDC_STATIC, 16, 29, 210, 17
    PUSHBUTTON "Настройки", IDC_PERFOR, 194, 48, 50, 15
    GROUPBOX "Потребителски очерци", IDC_STATIC, 6, 75, 244, 48
    LTEXT "Настройки на работната площ, свързани с влизането ви.", IDC_STATIC, 16, 88, 210, 20
    PUSHBUTTON "Настройки", IDC_USERPROFILE, 194, 103, 50, 15
    GROUPBOX "Пускане и възстановяване", IDC_STATIC, 6, 131, 244, 52
    LTEXT "Изборите за пускане и възстановяване казват на компютъра ви как да се пусне и какво да прави, в случай на грешка, която да го накара да спре.", IDC_STATIC, 16, 144, 210, 24
    PUSHBUTTON "Настройки", IDC_STAREC, 194, 162, 50, 15
    PUSHBUTTON "System Settings", IDC_SYSSETTINGS, 6, 192, 80, 15
    PUSHBUTTON "Променливи на средата", IDC_ENVVAR, 88, 192, 80, 15
    PUSHBUTTON "Докладване на грешки", IDC_ERRORREPORT, 170, 192, 80, 15
END

IDD_SYSSETTINGS DIALOGEX 0, 0, 221, 106
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION
CAPTION "Настройки на уредбата"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX "Сведения за версията", IDC_STATIC, 6, 3, 210, 73
    LTEXT "РеактОС е сглобен като сървърна РУ и се докладва като такава. Отметнете това поле, за да го промените само за това приложение.", IDC_STATIC, 15, 15, 183, 41
    CONTROL "Докладване като работна установка", IDC_REPORTASWORKSTATION, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 16, 57, 190, 10
    PUSHBUTTON "Добре", IDOK, 166, 83, 50, 14
END

IDD_HARDWAREPROFILES DIALOGEX 6, 18, 254, 234
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Профили за оборудването"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_HARDPROF, IDC_STATIC, 8, 11, 18, 20, SS_ICON
    LTEXT "Можете на направите профили за различно оборудване и при пускане да изберете кой да използвате." , IDC_STATIC, 46, 11, 188, 25
    LTEXT "Налични профили за оборудването", IDC_STATIC, 8, 41, 120, 8
    LISTBOX IDC_HRDPROFLSTBOX, 8, 52, 215, 54, LBS_NOTIFY
    PUSHBUTTON "", IDC_HRDPROFUP, 232, 59, 15, 15, BS_ICON | WS_DISABLED
    PUSHBUTTON "", IDC_HRDPROFDWN, 232, 79, 15, 15, BS_ICON | WS_DISABLED
    PUSHBUTTON "&Свойства", IDC_HRDPROFPROP, 8, 106, 54, 14, WS_DISABLED
    PUSHBUTTON "За&помняне", IDC_HRDPROFCOPY, 63, 106, 54, 14, WS_DISABLED
    PUSHBUTTON "Пре&именуване", IDC_HRDPROFRENAME, 118, 106, 54, 14, WS_DISABLED
    PUSHBUTTON "Из&триване", IDC_HRDPROFDEL, 173, 106, 54, 14, WS_DISABLED
    GROUPBOX "Избор на профили за оборудването", IDC_STATIC, 7, 130, 240, 75
    LTEXT "При пускане на РеактОС:", IDC_STATIC, 14, 142, 210, 8
    AUTORADIOBUTTON "Из&чакване до избор на профили за оборудването", IDC_HRDPROFWAIT, 14, 158, 220, 8, WS_GROUP
    AUTORADIOBUTTON "&Избиране на първия профил, ако не е избран такъв до", IDC_HRDPROFSELECT, 14, 173, 220, 8
    LTEXT "секунди", IDC_STATIC, 65, 187, 35, 8
    EDITTEXT IDC_HRDPROFEDIT, 25, 185, 35, 12
    CONTROL "", IDC_HRDPROFUPDWN, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT |
            UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 25, 185, 7, 10
    DEFPUSHBUTTON "Добре", IDOK, 143, 213, 50, 14
    PUSHBUTTON "Отказ", IDCANCEL, 197, 213, 50, 14
END

IDD_HARDWAREPROFILE DIALOGEX 0, 0, 212, 188
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "General"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_HARDPROF, IDC_STATIC, 10, 10, 18, 20, SS_ICON
    LTEXT "", IDC_HWPPROP_PROFILE, 48, 16, 150, 8
    LTEXT "Dock ID:", IDC_STATIC, 10, 42, 43, 8
    LTEXT "", IDC_HWPPROP_DOCKID, 64, 42, 135, 8
    LTEXT "Serial Number:", IDC_STATIC, 10, 55, 52, 8
    LTEXT "", IDC_HWPPROP_SERIAL, 64, 55, 135, 8
    GROUPBOX "", IDC_STATIC, 10, 69, 192, 61
    AUTOCHECKBOX "This is a &portable computer", IDC_HWPPROP_PORTABLE, 17, 68, 115, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "The docking &state is unknown", IDC_HWPPROP_UNKNOWN, 22, 85, 160, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "The computer is &docked", IDC_HWPPROP_DOCKED, 22, 97, 160, 10
    AUTORADIOBUTTON "The computer is &undocked", IDC_HWPPROP_UNDOCKED, 22, 109, 160, 10
    GROUPBOX "Hardware profiles selection", IDC_STATIC, 10, 138, 192, 42
    AUTOCHECKBOX "Always &include this profile as an option when ReactOS starts", IDC_HWPPROP_INCLUDE, 17, 150, 164, 20, WS_GROUP | WS_TABSTOP | BS_MULTILINE
END

IDD_COPYPROFILE DIALOGEX 12, 26, 256, 52
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Copy Profile"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "From:", IDC_STATIC, 5, 10, 20, 8
    LTEXT "", IDC_COPYPROFILEFROM, 30, 10, 160, 10
    LTEXT "To:", IDC_STATIC, 5, 30, 20, 8
    EDITTEXT IDC_COPYPROFILETO, 30, 30, 160, 12
    DEFPUSHBUTTON "OK", IDOK, 199, 9, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 199, 30, 50, 14
END

IDD_RENAMEPROFILE DIALOGEX 12, 26, 256, 52
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Преименуване на очерк"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "От:", IDC_STATIC, 5, 10, 20, 8
    LTEXT "", IDC_RENPROFEDITFROM, 30, 10, 160, 10
    LTEXT "На:", IDC_STATIC, 5, 30, 20, 8
    EDITTEXT IDC_RENPROFEDITTO, 30, 30, 160, 12
    DEFPUSHBUTTON "Добре", IDOK, 196, 6, 50, 14
    PUSHBUTTON "Отказ", IDCANCEL, 196, 24, 50, 14
END

IDD_USERPROFILE DIALOGEX 0, 0, 256, 218
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Потребителски очерци"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_USERPROF, IDC_STATIC, 6, 11, 16, 16, SS_ICON
    LTEXT "Потребителските очерци съдържат настройки на работната площ и други сведения, свързани с влизането ви. Можете да си правите различен на всеки компютър, който използвате или можете да изберете прехождащ очерк, който да е еднакъв навсякъде.", IDC_STATIC, 40, 11, 204, 41
    LTEXT "Очерци в компютъра:", IDC_STATIC, 16, 51, 204, 9
    CONTROL "", IDC_USERPROFILE_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP, 6, 66, 244, 85, WS_EX_CLIENTEDGE
    PUSHBUTTON "Промяна на вида", IDC_USERPROFILE_CHANGE, 75, 155, 65, 15
    PUSHBUTTON "Изтриване", IDC_USERPROFILE_DELETE, 145, 155, 50, 15
    PUSHBUTTON "Презапис в", IDC_USERPROFILE_COPY, 200, 155, 50, 15
    CONTROL "За създаване на нова потребителска сметка, отворете <A>Потребителски сметки</A> от крилото за управление.",
            IDC_USERACCOUNT_LINK, "SysLink", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 175, 204, 18
    DEFPUSHBUTTON "Добре", IDOK, 134, 198, 54, 15
    PUSHBUTTON "Отказ", IDCANCEL, 196, 198, 54, 15
END

IDD_USERPROFILE_TYPE DIALOGEX 6, 18, 225, 103
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Change Profile Type"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "", IDC_USERPROFILE_TYPE_TEXT, 7, 11, 206, 28
    AUTORADIOBUTTON "&Roaming profile", IDC_USERPROFILE_TYPE_ROAMING, 60, 49, 145, 10
    AUTORADIOBUTTON "&Local profile", IDC_USERPROFILE_TYPE_LOCAL, 60, 63, 145, 10
    DEFPUSHBUTTON "OK", IDOK, 60, 82, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 122, 82, 50, 14
END

IDD_USERPROFILE_COPY DIALOGEX 6, 18, 261, 133
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Copy To"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Copy &profile to", -1, 8, 9, 185, 52
    EDITTEXT IDC_USERPROFILE_COPY_PATH, 15, 23, 167, 12, ES_AUTOHSCROLL
    PUSHBUTTON "&Browse", IDC_USERPROFILE_COPY_BROWSE, 15, 41, 50, 14
    GROUPBOX "Permitted to use", -1, 8, 77, 185, 48
    LTEXT "", IDC_USERPROFILE_COPY_USER, 15, 91, 167, 8
    PUSHBUTTON "&Change", IDC_USERPROFILE_COPY_CHANGE, 15, 105, 50, 14
    DEFPUSHBUTTON "OK", IDOK, 204, 13, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 204, 30, 50, 14
END

IDD_STARTUPRECOVERY DIALOGEX 6, 18, 252, 280
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Пускане и възстановяване"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Пускане на системата", IDC_STATIC, 7, 12, 238, 95
    LTEXT "Подразбирана работна &система", IDC_STATIC, 14, 26, 160, 8
    COMBOBOX IDC_STRECOSCOMBO, 14, 37, 224, 46, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX "Показване на списъка с &работни системи:", IDC_STRECLIST, 14, 56, 165, 8
    EDITTEXT IDC_STRRECLISTEDIT, 179, 54, 30, 12, ES_NUMBER
    CONTROL "", IDC_STRRECLISTUPDWN, "msctls_updown32", UDS_WRAP | UDS_SETBUDDYINT |
            UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 0, 0, 8, 13
    LTEXT "секунди", IDC_STATIC, 215, 56, 25, 8
    AUTOCHECKBOX "Показване изборник за &възстановяване:", IDC_STRRECREC, 14, 70, 165, 8
    EDITTEXT IDC_STRRECRECEDIT, 179, 68, 30, 12, ES_NUMBER
    CONTROL "", IDC_STRRECRECUPDWN, "msctls_updown32", UDS_WRAP | UDS_SETBUDDYINT |
            UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 0, 0, 8, 13
    LTEXT "секунди", IDC_STATIC, 215, 70, 25, 8
    LTEXT "За да обработите ръчно файла с пусковите настройки, натиснете „Обработка”.", IDC_STATIC, 14, 87, 187, 16
    PUSHBUTTON "&Обработка", IDC_STRRECEDIT, 188, 87, 50, 14
    GROUPBOX "Отказ (повреда) на системата", IDC_STATIC, 7, 111, 238, 140
    AUTOCHECKBOX "В&писване на събития в дневника на уредбата", IDC_STRRECWRITEEVENT, 14, 124, 220, 10
    AUTOCHECKBOX "Из&пращане на административно предупреждение", IDC_STRRECSENDALERT, 14, 138, 220, 10
    AUTOCHECKBOX "Самопре&запускане", IDC_STRRECRESTART, 14, 152, 220, 10
    GROUPBOX "Записване на данни за чистене на недъзи", IDC_STATIC, 12, 167, 227, 76
    COMBOBOX IDC_STRRECDEBUGCOMBO, 17, 182, 151, 49, CBS_DROPDOWNLIST | WS_TABSTOP
    LTEXT "Отчетен &файл:", IDC_STATIC, 17, 202, 150, 8
    EDITTEXT IDC_STRRECDUMPFILE, 17, 210, 153, 12, ES_AUTOHSCROLL
    AUTOCHECKBOX "За&мяна на съществуващите файлове", IDC_STRRECOVERWRITE, 17, 228, 210, 10
    DEFPUSHBUTTON "Добре", IDOK, 141, 258, 50, 15
    PUSHBUTTON "Отказ", IDCANCEL, 195, 258, 50, 15
END

IDD_VIRTMEM DIALOGEX 6, 6, 223, 248
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Обменен файл"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "Устройство [Етикет на тома]", IDC_STATIC, 12, 5, 100, 9
    LTEXT "Размер на обменния файл (МБ)", IDC_STATIC, 113, 5, 110, 9
    LISTBOX IDC_PAGEFILELIST, 10, 16, 204, 52, LBS_NOTIFY | LBS_USETABSTOPS
    GROUPBOX "Размер на обменния файл за избраното устройство", IDC_DRIVEGROUP, 10, 70, 204, 104
    LTEXT "Устройство:", IDC_STATIC, 20, 80, 60, 8
    LTEXT "%s", IDC_DRIVE, 88, 80, 100, 9
    LTEXT "Свободно място:", IDC_STATIC, 20, 92, 60, 9
    LTEXT "%s", IDC_SPACEAVAIL, 88, 92, 104, 9
    LTEXT "&Начален размер (МБ):", -1, 22, 118, 77, 9
    LTEXT "Размер до (МБ):", -1, 22, 131, 64, 9
    AUTORADIOBUTTON "За&даден размер", IDC_CUSTOM, 20, 105, 80, 9, WS_GROUP
    AUTORADIOBUTTON "Определен от &системата размер", IDC_SYSMANSIZE, 20, 145, 135, 9
    AUTORADIOBUTTON "Без обменен файл", IDC_NOPAGEFILE, 20, 158, 135, 9
    EDITTEXT IDC_INITIALSIZE, 100, 114, 44, 13, NOT WS_BORDER, WS_EX_CLIENTEDGE
    EDITTEXT IDC_MAXSIZE, 100, 129, 44, 13, NOT WS_BORDER, WS_EX_CLIENTEDGE
    PUSHBUTTON "Задаване", IDC_SET, 158, 154, 50, 15
    GROUPBOX "Пълен размер на обменния файл за всички устройства", IDC_TOTALGROUP, 10, 177, 204, 46
    LTEXT "Задължително поне:", IDC_STATIC, 18, 188, 73, 9
    LTEXT "%s", IDC_MINIMUM, 98, 188, 100, 9
    LTEXT "Препоръчително:", IDC_STATIC, 18, 199, 73, 9
    LTEXT "%s", IDC_RECOMMENDED, 98, 199, 100, 9
    LTEXT "Текущо заделени:", IDC_STATIC, 18, 210, 73, 9
    LTEXT "%s", IDC_CURRENT, 98, 210, 100, 9
    DEFPUSHBUTTON "Добре", IDOK, 114, 230, 48, 15
    PUSHBUTTON "Отказ", IDCANCEL, 168, 230, 48, 15
END

IDD_ENVIRONMENT_VARIABLES DIALOGEX 6, 18, 252, 245
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_CAPTION | WS_THICKFRAME | WS_VISIBLE
CAPTION "Променливи на средата"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    SCROLLBAR IDC_DIALOG_GRIP, 245, 238, 7, 7, SBS_SIZEGRIP
    GROUPBOX "Потребителски променливи", IDC_USER_VARIABLE_GROUP, 7, 12, 238, 100
    CONTROL "", IDC_USER_VARIABLE_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS |
            LVS_SORTASCENDING | LVS_NOSORTHEADER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 14, 25, 224, 58, WS_EX_CLIENTEDGE
    PUSHBUTTON "&Нов...", IDC_USER_VARIABLE_NEW, 80, 90, 50, 14
    PUSHBUTTON "&Обработка...", IDC_USER_VARIABLE_EDIT, 134, 90, 50, 14
    PUSHBUTTON "Из&триване", IDC_USER_VARIABLE_DELETE, 188, 90, 50, 14
    GROUPBOX "Променливи на системата", IDC_SYSTEM_VARIABLE_GROUP, 7, 116, 238, 100
    CONTROL "", IDC_SYSTEM_VARIABLE_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS |
            LVS_SORTASCENDING | LVS_NOSORTHEADER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 14, 129, 224, 58, WS_EX_CLIENTEDGE
    PUSHBUTTON "Но&в...", IDC_SYSTEM_VARIABLE_NEW, 80, 194, 50, 14
    PUSHBUTTON "Об&работка...", IDC_SYSTEM_VARIABLE_EDIT, 134, 194, 50, 14
    PUSHBUTTON "Из&триване", IDC_SYSTEM_VARIABLE_DELETE, 188, 194, 50, 14
    DEFPUSHBUTTON "Добре", IDOK, 141, 224, 50, 14, WS_GROUP
    PUSHBUTTON "Отказ", IDCANCEL, 195, 224, 50, 14
END

IDD_EDIT_VARIABLE DIALOGEX 10, 15, 372, 71
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_CAPTION | WS_THICKFRAME | WS_VISIBLE
CAPTION "Обработка на променливата"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    SCROLLBAR IDC_DIALOG_GRIP, 365, 64, 7, 7, SBS_SIZEGRIP
    LTEXT "&Име на променливата:", IDC_STATIC, 7, 14, 50, 8
    EDITTEXT IDC_VARIABLE_NAME, 75, 12, 289, 12, ES_AUTOHSCROLL
    LTEXT "&Стойност на променливата:", IDC_STATIC, 7, 32, 50, 8
    EDITTEXT IDC_VARIABLE_VALUE, 75, 30, 289, 12, ES_AUTOHSCROLL
    DEFPUSHBUTTON "Добре", IDOK, 260, 50, 50, 14
    PUSHBUTTON "Отказ", IDCANCEL, 314, 50, 50, 14
    PUSHBUTTON "Browse Directory...", IDC_BUTTON_BROWSE_FOLDER, 6, 50, 75, 14
    PUSHBUTTON "Browse Files...", IDC_BUTTON_BROWSE_FILE, 86, 50, 75, 14
END

IDD_EDIT_VARIABLE_FANCY DIALOGEX 10, 15, 300, 250
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_CAPTION | WS_THICKFRAME | WS_VISIBLE
CAPTION "Обработка на променливата"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    SCROLLBAR IDC_DIALOG_GRIP, 293, 243, 7, 7, SBS_SIZEGRIP
    CONTROL "", IDC_LIST_VARIABLE_VALUE, "SysListView32", LVS_NOCOLUMNHEADER | LVS_EDITLABELS | LVS_SHOWSELALWAYS |
                LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 10, 10, 224, 208, WS_EX_CLIENTEDGE
    PUSHBUTTON "New", IDC_BUTTON_NEW, 242, 10, 50, 14
    PUSHBUTTON "Edit", IDC_BUTTON_EDIT, 242, 30, 50, 14
    PUSHBUTTON "Browse...", IDC_BUTTON_BROWSE_FOLDER, 242, 50, 50, 14
    PUSHBUTTON "Delete", IDC_BUTTON_DELETE, 242, 70, 50, 14
    PUSHBUTTON "Move Up", IDC_BUTTON_MOVE_UP, 242, 100, 50, 14
    PUSHBUTTON "Move Down", IDC_BUTTON_MOVE_DOWN, 242, 120, 50, 14
    PUSHBUTTON "Edit text...", IDC_BUTTON_EDIT_TEXT, 242, 150, 50, 14
    DEFPUSHBUTTON "Добре", IDOK, 188, 228, 50, 14
    PUSHBUTTON "Отказ", IDCANCEL, 242, 228, 50, 14
END

IDD_LICENCE DIALOGEX 6, 5, 267, 159
CAPTION "Разрешително"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
STYLE DS_SHELLFONT | WS_BORDER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
BEGIN
    EDITTEXT IDC_LICENCEEDIT, 6, 3, 255, 131, WS_VSCROLL | ES_READONLY | ES_MULTILINE
    DEFPUSHBUTTON "Добре", IDOK, 106, 140, 54, 15
END

STRINGTABLE
BEGIN
    IDS_CPLSYSTEMNAME "Уредба"
    IDS_CPLSYSTEMDESCRIPTION "Можете да видите сведения за компютъра ви и за различни настройки"
    IDS_MEGABYTE "МБ памет"
    IDS_GIGABYTE "ГБ памет"
    IDS_TERABYTE "ТБ памет"
    IDS_PETABYTE "ПБ памет"
    IDS_MEGAHERTZ "MHz"
    IDS_GIGAHERTZ "GHz"
    IDS_UPTIME_FORMAT "%u Days, %02u:%02u:%02u"
    IDS_VARIABLE "Променлива"
    IDS_VALUE "Стойност"
    IDS_NO_DUMP "(Няма)"
    IDS_MINI_DUMP "Малък отчет (64КБ)"
    IDS_KERNEL_DUMP "Отчет на ядрото"
    IDS_FULL_DUMP "Пълен отчет"
    IDS_USERPROFILE_NAME "Име"
    IDS_USERPROFILE_SIZE "Размер"
    IDS_USERPROFILE_TYPE "Вид"
    IDS_USERPROFILE_STATUS "Състояние"
    IDS_USERPROFILE_MODIFIED "Изменен"
    IDS_USERPROFILE_LOCAL "Local"
    IDS_USERPROFILE_ROAMING "Roaming"
    IDS_USERPROFILE_MANDATORY "Mandatory"
    IDS_USERPROFILE_CONFIRM_DELETE "Are you sure you want to delete %s's profile?"
    IDS_USERPROFILE_CONFIRM_DELETE_TITLE "Confirm Delete"
    IDS_USERPROFILE_ACCOUNT_UNKNOWN "Account Unknown"
    IDS_USERPROFILE_ACCOUNT_DELETED "Account Deleted"
    IDS_USERPROFILE_TYPE_TEXT "When %s logs onto this computer, should the operating system use the roaming profile or just the locally cached copy of the roaming profile."
    IDS_MESSAGEBOXTITLE "Приложение за таблото за управление на уредбата"
    IDS_WARNINITIALSIZE "Въведете числена стойност за началния размер на страниращия файл."
    IDS_WARNMAXIMUMSIZE "Въведете числена стойност за върховия размер на страниращия файл."
    IDS_WARNINITIALRANGE "Началният размер на страниращия файл не трябва да е по-малък от 2 МБ и не трябва да надхвърля свободното пространство на избраното устройство."
    IDS_WARNMAXIMUMRANGE "Върховият размер на страниращия файл не трябва да е по-малък от началния и не трябва да надвишава свободното пространство на избраното устройство"
    IDS_PAGEFILE_MB "%u МБ"
    IDS_PAGEFILE_NONE "Няма"
    IDS_PAGEFILE_SYSTEM "System Managed"
    IDS_INFOREBOOT "You have to reboot the computer in order to apply the changes."
    IDS_HWPROFILE_CONFIRM_DELETE_TITLE "Confirm Profile Delete"
    IDS_HWPROFILE_CONFIRM_DELETE "Are you sure you want to delete the hardware profile ""%s""?"
    IDS_HWPROFILE_ALREADY_IN_USE "The profile name is already in use."
    IDS_HWPROFILE_PROFILE "Profile"
    IDS_HWPROFILE_WARNING "Warning"
    IDS_ENVIRONMENT_WARNING "Any changes that have been done will be discarded and the variable's value will be edited as text."
    IDS_ENVIRONMENT_WARNING_TITLE "System Properties"
END
