[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #                 Gervase Markham <gerv@gerv.net>
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]
[% USE date %]

[% colsepchar = user.settings.csv_colsepchar.value %]

bug_id
[% FOREACH column = displaycolumns %]
  [% colsepchar %][% column FILTER csv %]
[% END %]

[% FOREACH bug = bugs %]
  [% bug.bug_id %]
    [% FOREACH column = displaycolumns %]
      [% colsepchar %]
      [% IF column == "opendate" OR column == "changeddate" %]
        [% rawcolumn = column.replace("date", "time") %]
        [% bug.$column = date.format(bug.$rawcolumn, "%Y-%m-%d %H:%M:%S") %]
      [% ELSIF column == 'bug_status' %]
        [% bug.$column = status_descs.${bug.$column} %]
      [% ELSIF column == 'resolution' %]
        [%- bug.$column = get_resolution(bug.$column) %]
      [% END %]
      [% bug.$column FILTER csv %]
    [% END %]

[% END %]
