[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 2005 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): A. Karl Kornel <karl@kornel.name>
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl title = "sudo: User Impersonation" %]

<p>
  [%+ terms.Bugzilla %] includes the ability to have one user impersonate 
another, in something called a <i>sudo session</i>, so long as the person 
doing the impersonating has the appropriate privileges.
</p>

<p>
  While a session is in progress, [% terms.Bugzilla %] will act as if the 
  impersonated user is doing everything.  This is especially useful for testing,
  and for doing critical work when the impersonated user is unavailable.  The 
  impersonated user will receive an email from [% terms.Bugzilla %] when the 
  session begins; they will not be told anything else.
</p>

<p>
  To use this feature, you must be a member of the appropriate group.  The group 
  includes all administrators by default.  Other users, and members of other 
  groups, can be given access to this feature on a case-by-case basis.  To 
  request access, contact the maintainer of this installation: 
  <a href="mailto:[% Param("maintainer") %]">
  [%- Param("maintainer") %]</a>.
</p>

<p>
  If you would like to be protected from impersonation, you should contact the 
  maintainer of this installation to see if that is possible.  People with 
  access to this feature are protected automatically.
</p>

<p id="message">
  [% IF user.groups.bz_sudoers %]
    You are a member of the <b>bz_sudoers</b> group.  You may use this 
    feature to impersonate others.
  [% ELSE %]
    You are not a member of an appropriate group.  You may not use this 
    feature.
  [% END %]
  [% IF user.groups.bz_sudo_protect %]
    <br>
    You are a member of the <b>bz_sudo_protect</b> group.  Other people will 
    not be able to use this feature to impersonate you.
  [% END %]
</p>

[% INCLUDE global/footer.html.tmpl %]
