/* Simplified Chinese translation by Henry Tang Ih 2015 (henrytang2@hotmail.com) */
/* Improved by Luo Yufan (njlyf2011@hotmail.com) */
/* Improbed by Wu Haotian <rigoligo03@gmail.com> */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

/* Dialogs */

IDD_USERS DIALOGEX 0, 0, 252, 223
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "用户"
FONT 9, "宋体"
BEGIN
    CONTROL "", IDC_USERS_LIST, "SysListView32", LVS_REPORT | LVS_EDITLABELS | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP, 7, 7, 238, 85, WS_EX_CLIENTEDGE
    PUSHBUTTON "添加...(&D)", IDC_USERS_ADD, 87, 98, 50, 14
    PUSHBUTTON "删除(&R)", IDC_USERS_REMOVE, 141, 98, 50, 14
    PUSHBUTTON "属性(&O)", IDC_USERS_PROPERTIES, 195, 98, 50, 14
    AUTOCHECKBOX "在系统启动时需要用户名和密码。", IDC_USERS_STARTUP_REQUIRE, 10, 118, 200, 14, WS_DISABLED
    PUSHBUTTON "重置密码", IDC_USERS_RESET, 165, 200, 80, 14, WS_DISABLED
END

IDD_GROUPS DIALOGEX 0, 0, 252, 223
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "组"
FONT 9, "宋体"
BEGIN
    CONTROL "", IDC_GROUPS_LIST, "SysListView32", LVS_REPORT | LVS_EDITLABELS | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP, 7, 7, 238, 85, WS_EX_CLIENTEDGE
    PUSHBUTTON "添加...(&D)", IDC_GROUPS_ADD, 87, 98, 50, 14
    PUSHBUTTON "删除(&R)", IDC_GROUPS_REMOVE, 141, 98, 50, 14
    PUSHBUTTON "属性(&O)", IDC_GROUPS_PROPERTIES, 195, 98, 50, 14
END

IDD_EXTRA DIALOGEX 0, 0, 252, 223
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "额外"
FONT 9, "宋体"
BEGIN
    LTEXT "此区域有意留空", IDC_STATIC, 66, 90, 112, 8
END

IDD_USER_GENERAL DIALOGEX 0, 0, 252, 223
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "常规"
FONT 9, "宋体"
BEGIN
    LTEXT "", IDC_USER_GENERAL_NAME, 7, 12, 112, 8
    LTEXT "全名：", -1, 7, 46, 63, 8
    EDITTEXT IDC_USER_GENERAL_FULL_NAME, 77, 43, 168, 13, ES_AUTOHSCROLL
    LTEXT "描述：", -1, 7, 64, 63, 8
    EDITTEXT IDC_USER_GENERAL_DESCRIPTION, 77, 61, 168, 13, ES_AUTOHSCROLL
    AUTOCHECKBOX "用户必须更改首次登录密码", IDC_USER_GENERAL_FORCE_CHANGE, 7, 82, 210, 10
    AUTOCHECKBOX "用户不能更改密码", IDC_USER_GENERAL_CANNOT_CHANGE, 7, 95, 210, 10
    AUTOCHECKBOX "密码永不过期", IDC_USER_GENERAL_NEVER_EXPIRES, 7, 108, 210, 10
    AUTOCHECKBOX "帐户已被禁用", IDC_USER_GENERAL_DISABLED, 7, 121, 210, 10
    AUTOCHECKBOX "帐户已锁定", IDC_USER_GENERAL_LOCKED, 7, 134, 210, 10
END

IDD_USER_MEMBERSHIP DIALOGEX 0, 0, 252, 223
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "成员"
FONT 9, "宋体"
BEGIN
    LTEXT "成员：", -1, 7, 7, 170, 8
    CONTROL "", IDC_USER_MEMBERSHIP_LIST, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER |
            LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP, 7, 18, 238, 173, WS_EX_CLIENTEDGE
    PUSHBUTTON "添加...", IDC_USER_MEMBERSHIP_ADD, 7, 197, 50, 14
    PUSHBUTTON "取除", IDC_USER_MEMBERSHIP_REMOVE, 61, 197, 50, 14, WS_DISABLED
END

IDD_USER_PROFILE DIALOGEX 0, 0, 252, 223
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "配置文件"
FONT 9, "宋体"
BEGIN
    GROUPBOX "用户配置文件", -1, 7, 7, 238, 54
    LTEXT "配置文件路径：", -1, 16, 22, 55, 8
    EDITTEXT IDC_USER_PROFILE_PATH, 78, 19, 160, 13, ES_AUTOHSCROLL
    LTEXT "登录脚本：", -1, 16, 40, 55, 8
    EDITTEXT IDC_USER_PROFILE_SCRIPT, 78, 37, 160, 13, ES_AUTOHSCROLL
    GROUPBOX "主址录", -1, 7, 68, 238, 54
    AUTORADIOBUTTON "本地路径：", IDC_USER_PROFILE_LOCAL, 16, 83, 60, 10
    AUTORADIOBUTTON "连接：", IDC_USER_PROFILE_REMOTE, 16, 100, 60, 10
    EDITTEXT IDC_USER_PROFILE_LOCAL_PATH, 78, 81, 160, 13, ES_AUTOHSCROLL
    COMBOBOX IDC_USER_PROFILE_DRIVE, 78, 99, 26, 160, CBS_DROPDOWNLIST | CBS_SORT |
             WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
    LTEXT "到：", -1, 112, 101, 12, 8
    EDITTEXT IDC_USER_PROFILE_REMOTE_PATH, 130, 99, 108, 13, ES_AUTOHSCROLL
END

IDD_GROUP_GENERAL DIALOGEX 0, 0, 252, 223
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "常规"
FONT 9, "宋体"
BEGIN
    LTEXT "", IDC_GROUP_GENERAL_NAME, 7, 12, 112, 8
    LTEXT "描述：", -1, 7, 45, 46, 8
    EDITTEXT IDC_GROUP_GENERAL_DESCRIPTION, 65, 42, 180, 13, ES_AUTOHSCROLL
    LTEXT "成员：", -1, 7, 63, 45, 8
    CONTROL "", IDC_GROUP_GENERAL_MEMBERS, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER |
            LVS_SHOWSELALWAYS | LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP, 7, 74, 238, 117, WS_EX_CLIENTEDGE
    PUSHBUTTON "添加...", IDC_GROUP_GENERAL_ADD, 7, 197, 50, 14
    PUSHBUTTON "移除", IDC_GROUP_GENERAL_REMOVE, 61, 197, 50, 14, WS_DISABLED
END

IDD_CHANGE_PASSWORD DIALOGEX 0, 0, 267, 74
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SHELLFONT
CAPTION "更改密码"
FONT 9, "宋体"
BEGIN
    EDITTEXT IDC_EDIT_PASSWORD1, 107, 7, 153, 14, ES_AUTOHSCROLL | ES_PASSWORD
    RTEXT "新密码：", -1, 7, 10, 96, 8
    EDITTEXT IDC_EDIT_PASSWORD2, 107, 25, 153, 14, ES_AUTOHSCROLL | ES_PASSWORD
    RTEXT "重复密码：", -1, 7, 28, 96, 8
    DEFPUSHBUTTON "确定", IDOK, 156, 53, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 210, 53, 50, 14
END

IDD_USER_NEW DIALOGEX 0, 0, 267, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SHELLFONT
CAPTION "新用户"
FONT 9, "宋体"
BEGIN
    EDITTEXT IDC_USER_NEW_NAME, 107, 7, 153, 14, ES_AUTOHSCROLL
    RTEXT "用户名称：", -1, 7, 10, 96, 8
    EDITTEXT IDC_USER_NEW_FULL_NAME, 107, 25, 153, 14, ES_AUTOHSCROLL
    RTEXT "完整的用户名称：", -1, 7, 28, 96, 8
    EDITTEXT IDC_USER_NEW_DESCRIPTION, 107, 43, 153, 14, ES_AUTOHSCROLL
    RTEXT "描述：", -1, 7, 46, 96, 8
    EDITTEXT IDC_USER_NEW_PASSWORD1, 107, 67, 153, 14, ES_AUTOHSCROLL | ES_PASSWORD
    RTEXT "密码：", -1, 7, 70, 96, 8
    EDITTEXT IDC_USER_NEW_PASSWORD2, 107, 85, 153, 14, ES_AUTOHSCROLL | ES_PASSWORD
    RTEXT "重复密码：", -1, 7, 88, 96, 8
    AUTOCHECKBOX "用户必须更改首次登录密码", IDC_USER_NEW_FORCE_CHANGE, 7, 109, 200, 10
    AUTOCHECKBOX "用户不能更改密码", IDC_USER_NEW_CANNOT_CHANGE, 7, 123, 200, 10, WS_DISABLED
    AUTOCHECKBOX "密码永不过期", IDC_USER_NEW_NEVER_EXPIRES, 7, 137, 200, 10, WS_DISABLED
    AUTOCHECKBOX "帐户已被禁用", IDC_USER_NEW_DISABLED, 7, 151, 200, 10
    DEFPUSHBUTTON "确定", IDOK, 156, 179, 50, 14, WS_DISABLED
    PUSHBUTTON "取消", IDCANCEL, 210, 179, 50, 14
END

IDD_GROUP_NEW DIALOGEX 0, 0, 267, 74
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SHELLFONT
CAPTION "新组"
FONT 9, "宋体"
BEGIN
    EDITTEXT IDC_GROUP_NEW_NAME, 107, 7, 153, 14, ES_AUTOHSCROLL
    RTEXT "组名：", -1, 7, 10, 96, 8
    EDITTEXT IDC_GROUP_NEW_DESCRIPTION, 107, 25, 153, 14, ES_AUTOHSCROLL
    RTEXT "描述：", -1, 7, 28, 96, 8
    DEFPUSHBUTTON "确定", IDOK, 156, 53, 50, 14, WS_DISABLED
    PUSHBUTTON "取消", IDCANCEL, 210, 53, 50, 14
END

IDD_USER_ADD_MEMBERSHIP DIALOGEX 0, 0, 252, 223
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SHELLFONT
CAPTION "组成员身份"
FONT 9, "宋体"
BEGIN
    LTEXT "成员：", -1, 7, 7, 56, 8
    CONTROL "", IDC_USER_ADD_MEMBERSHIP_LIST, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS |
            LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP, 7, 18, 238, 173, WS_EX_CLIENTEDGE
    DEFPUSHBUTTON "确定", IDOK, 141, 197, 50, 14
    PUSHBUTTON "取消", IDCANCEL, 195, 197, 50, 14
END

/* Menus */

IDM_POPUP_GROUP MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "新组...", IDM_GROUP_NEW
    END
    POPUP ""
    BEGIN
        MENUITEM "添加成员", IDM_GROUP_ADD_MEMBER, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "删除", IDM_GROUP_DELETE
        MENUITEM "重命名", IDM_GROUP_RENAME
        MENUITEM SEPARATOR
        MENUITEM "属性", IDM_GROUP_PROPERTIES
    END
END

IDM_POPUP_USER MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "新用户...", IDM_USER_NEW
    END
    POPUP ""
    BEGIN
        MENUITEM "更改密码", IDM_USER_CHANGE_PASSWORD
        MENUITEM SEPARATOR
        MENUITEM "取除", IDM_USER_DELETE
        MENUITEM "重命名", IDM_USER_RENAME
        MENUITEM SEPARATOR
        MENUITEM "属性", IDM_USER_PROPERTIES
    END
END

/* Strings */

STRINGTABLE
BEGIN
    IDS_CPLNAME "用户帐户"
    IDS_CPLDESCRIPTION "管理用户和组。"
END

STRINGTABLE
BEGIN
    IDS_NAME "名称"
    IDS_FULLNAME "全名"
    IDS_DESCRIPTION "描述"
END
