/*
 * Turkish resources for WLDAP32
 *
 * Copyright 2006 Fatih Aþýcý
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
{
    0 "Baþarýlý"
    1 "Ýþlem Hatasý"
    2 "Ýletiþim Kuralý Hatasý"
    3 "Zaman Sýnýrý Aþýldý"
    4 "Boyut Sýnýrý Aþýldý"
    5 "Karþýlaþtýrma Yanlýþ"
    6 "Karþýlaþtýrma Doðru"
    7 "Yetkilendirme Yöntemi Desteklenmiyor"
    8 "Güçlü Yerkilendirme Gerekli"
    9 "Baþvuru (v2)"
    10 "Baþvuru"
    11 "Yönetim Sýnýrý Aþýldý"
    12 "Kullanýlabilir Olmayan Kritik Uzantý"
    13 "Gizli Olarak Gerekli"
    14 ""
    15 ""
    16 "Böyle Bir Öznitelik Yok"
    17 "Tanýmlanmamýþ Tür"
    18 "Uygunsuz Eþleþme"
    19 "Kýsýtlama Ýhlali"
    20 "Varolan Öznitelik Veya Deðer"
    21 "Geçersiz Sözdizimi"
    22 ""
    23 ""
    24 ""
    25 ""
    26 ""
    27 ""
    28 ""
    29 ""
    30 ""
    31 ""
    32 "Böyle Bir Nesne Yok"
    33 "Takma Ad Sorunu"
    34 "Geçersiz DN Sözdizimi"
    35 "Yaprak Konumunda"
    36 "Takma Ad Baþvuru Sorunu"
    37 ""
    38 ""
    39 ""
    40 ""
    41 ""
    42 ""
    43 ""
    44 ""
    45 ""
    46 ""
    47 ""
    48 "Uygunsuz Yetkilendirme"
    49 "Geçersiz Belgeler"
    50 "Geçersiz Yetkiler"
    51 "Meþgul"
    52 "Kullanýlabilir Deðil"
    53 "Yürütmeye Ýsteksiz"
    54 "Döngü Algýlandý"
    55 ""
    56 ""
    57 ""
    58 ""
    59 ""
    60 "Sýralama Denetimi Eksik"
    61 "Eksik Dizin Aralýðý Hatasý"
    62 ""
    63 ""
    64 "Adlandýrma Ýhlali"
    65 "Nesne Sýnýfý Ýhlali"
    66 "Yaprak olmayan konumda izinli deðil"
    67 "RDN üzerinde izin verilmiyor"
    68 "Zaten Var"
    69 "Nesne Sýnýfý Modülleri Yok"
    70 "Sonuçlar Çok Büyük"
    71 "Birden Fazla DSA Etkilenir"
    72 ""
    73 ""
    74 ""
    75 ""
    76 ""
    77 ""
    78 ""
    79 ""
    80 "Diðer"
    81 "Sunucu Kapalý"
    82 "Yerel Hata"
    83 "Kodlama Hatasý"
    84 "Kod Çözme Hatasý"
    85 "Zaman Aþýmý"
    86 "Yazar Bilinmiyor"
    87 "Süzme Hatasý"
    88 "Kullanýcý Ýptal Etti"
    89 "Parametre Hatasý"
    90 "Bellek Yok"
    91 "LDAP sunucusuna baðlanamýyor"
    92 "Ýþlem LDAP iletiþim kuralýnýn bu sürümünce desteklenmiyor."
    93 "Ýletide belirtilen denetim bulunamadý"
    94 "Ýletide sonuç yok"
    95 "Dönen diðer sonuçlar"
    96 "Baþvurularý iþlerken dön"
    97 "Paketin gönderildiði yönlendirici sýnýrý aþýldý"
}
