/* Russian language resource file by Kudratov Olimjon (olim98@bk.ru) */

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_NAME "Имя"
    IDS_TYPE "Тип"
    IDS_MANUFACTURER "Изготовитель: %1"
    IDS_LOCATION "Размещение: %1"
    IDS_STATUS "Состояние устройства: %1"
    IDS_UNKNOWN "Неизвестно"
    IDS_LOCATIONSTR "Размещение %1!u! (%2)"
    IDS_DEVCODE " (код %1!u!)"
    IDS_DEVCODE2 " (код %2!u!)"
    IDS_ENABLEDEVICE "Это устройство используется (включено)"
    IDS_DISABLEDEVICE "Это устройство не используется (выключено)"
    IDS_UNKNOWNDEVICE "Неизвестное устройство"
    IDS_NODRIVERLOADED "Не установлены драйверы для этого устройства."
    IDS_DEVONPARENT "на %1"
    IDS_TROUBLESHOOTDEV "&Диагностика..."
    IDS_ENABLEDEV "В&ключить устройство"
    IDS_REINSTALLDRV "&Переустановить драйвер"
    IDS_PROPERTIES "С&войства"
    IDS_UPDATEDRV "О&бновить драйвер..."
    IDS_REBOOT "Пер&езагрузить компьютер..."
    IDS_NOTAVAILABLE "Недоступно"
    IDS_NOTDIGITALLYSIGNED "Цифровая подпись отсутствует"
    IDS_NODRIVERS "Файлы драйверов для этого устройства не установлены или не были загружены."
    IDS_RESOURCE_COLUMN "Тип ресурса"
    IDS_SETTING_COLUMN "Настройки"
    IDS_RESOURCE_MEMORY_RANGE "Память"
    IDS_RESOURCE_INTERRUPT "IRQ"
    IDS_RESOURCE_DMA "DMA"
    IDS_RESOURCE_PORT "Диапазон I/O"
    IDS_COPY "&Копировать"
END

/* error messages, source: http://www.z123.org/techsupport/medm.htm */
STRINGTABLE
BEGIN
    IDS_DEV_NO_PROBLEM "Устройство работает нормально."
    IDS_DEV_NOT_CONFIGURED "Это устройство ещё не настроено."
    IDS_DEV_DEVLOADER_FAILED "ReactOS не смогла загрузить драйвер для этого устройства, поскольку компьютер сообщает о наличии двух видов шин %1."
    IDS_DEV_DEVLOADER_FAILED2 "%1 загрузчик(ов) для этого устройства не могут загрузить драйвер."
    IDS_DEV_OUT_OF_MEMORY "Драйвер для данного устройства может быть поврежден, или в системе недостаточно памяти или иных ресурсов."
    IDS_DEV_ENTRY_IS_WRONG_TYPE "Это устройство работает неправильно. Один из драйверов или реестр системы поврежден."
    IDS_DEV_LACKED_ARBITRATOR "Драйвер данного устройства требует ресурсов, которые не могут поддерживаться ReactOS."
    IDS_DEV_BOOT_CONFIG_CONFLICT "Конфигурация загрузки для этого устройства конфликтует с другими устройствами."
    IDS_DEV_FAILED_FILTER "Драйверы для этого устройства должны быть переустановлены."
    IDS_DEV_DEVLOADER_NOT_FOUND "Это устройство работает неправильно, поскольку в ReactOS не может загрузить файл %1, загружающий драйверы для устройства."
    IDS_DEV_DEVLOADER_NOT_FOUND2 "Это устройство работает неправильно, поскольку файл %1, загружающий драйверы для него, поврежден."
    IDS_DEV_DEVLOADER_NOT_FOUND3 "Сбой устройства: попробуйте сменить драйвер. Если это не поможет, обратитесь к документации оборудования."
    IDS_DEV_INVALID_DATA "Это устройство работает неправильно, поскольку BIOS компьютера неверно назначил ресурсы для него."
    IDS_DEV_INVALID_DATA2 "Это устройство работает неправильно, поскольку BIOS устройства неверно назначил ресурсы для него. "
    IDS_DEV_FAILED_START "Это устройство отсутствует, работает неправильно или не все драйверы установлены."
    IDS_DEV_LIAR "ReactOS перестала отвечать при попытке запуска этого устройства. Система больше не будет пытаться запустить его снова."
    IDS_DEV_NORMAL_CONFLICT "Устройство не может найти свободные %1  ресурсы для использования"
    IDS_DEV_NOT_VERIFIED "Данное устройство является неизвестным, работает некорректно или не имеет установленных драйверов."
    IDS_DEV_NEED_RESTART "Данное устройство не сможет корректно работать до выполнения перезагрузки."
    IDS_DEV_REENUMERATION "Данное устройство вызвало конфликт ресурсов."
    IDS_DEV_PARTIAL_LOG_CONF "ReactOS не может идентифицировать ресурсы, используемые устройством."
    IDS_DEV_UNKNOWN_RESOURCE "Файл информации о драйвере %1 сообщает, что это дочернее устройство использует ресурс, который не может быть распознан родительским устройством или недоступен."
    IDS_DEV_REINSTALL "Драйверы этого устройства должны быть переустановлены."
    IDS_DEV_REGISTRY "Ваш системный реестр поврежден."
    IDS_DEV_WILL_BE_REMOVED "ReactOS удалит это устройство."
    IDS_DEV_DISABLED "Это устройство не запущено."
    IDS_DEV_DISABLED2 "Это устройство отключено."
    IDS_DEV_DEVLOADER_NOT_READY "Загрузчик этого устройства не может загрузить необходимые драйверы."
    IDS_DEV_DEVLOADER_NOT_READY2 "" /* unused */
    IDS_DEV_DEVLOADER_NOT_READY3 "" /* unused */
    IDS_DEV_DEVICE_NOT_THERE "Устройство отсутствует, работает неправильно или для него установлены не все драйверы."
    IDS_DEV_MOVED "ReactOS настраивает это устройство."
    IDS_DEV_TOO_EARLY "ReactOS настраивает это устройство."
    IDS_DEV_NO_VALID_LOG_CONF "ReactOS не может указать ресурсы для этого устройства."
    IDS_DEV_FAILED_INSTALL "Драйверы для этого устройства не установлены."
    IDS_DEV_HARDWARE_DISABLED "Это устройство отключено, поскольку BIOS устройства не предоставил никаких ресурсов."
    IDS_DEV_CANT_SHARE_IRQ "Это устройство использует IRQ-ресурс, который используется другим устройством и не может быть общим.\nВы должны изменить конфликтную настройку или удалить драйвер реального режима, создающий конфликт."
    IDS_DEV_FAILED_ADD "This device is not working properly because ReactOS cannot load the drivers required for this device."
    IDS_DEV_DISABLED_SERVICE "ReactOS не может установить драйвера для этого устройства, потому что не может получить доступ к месту расположения установочных файлов."
    IDS_DEV_TRANSLATION_FAILED "Это устройство не отвечает своему драйверу."
    IDS_DEV_NO_SOFTCONFIG "ReactOS не удалось определить настройки для этого устройства. Ознакомтесь с его документацией и воспользуйтесь вкладкой Ресурсы для настройки."
    IDS_DEV_BIOS_TABLE "Микропрограмма вашего компьютера не содержит необходимой информации для правильной настройки и использования данного устройства.\nЧтобы использовать это устройство, обратитесь к изготовителю компьютера для получения обновления микропрограммы или BIOS."
    IDS_DEV_IRQ_TRANSLATION_FAILED "Это устройство запрашивет прерываение PCI, но настроено на прерывания ISA (или наоборот).\nВоспользуйтесь программой системной настройки для перенастройки прерываний для данного устройства."
    IDS_DEV_FAILED_DRIVER_ENTRY "ReactOS не может инициализировать драйвер устройства для данного оборудования."
    IDS_DEV_DRIVER_FAILED_PRIOR_UNLOAD "ReactOS не может загрузить драйвер устройства, поскольку предыдущий экземпляр этого драйвера не выгружен из памяти."
    IDS_DEV_DRIVER_FAILED_LOAD "ReactOS не может загрузить драйвер устройства. Возможно, драйвер поврежден или отсутствует."
    IDS_DEV_DRIVER_SERVICE_KEY_INVALID "ReactOS не может получить доступ к этому устройству, поскольку сведения о его службе в реестре отсутствуют или введены неправильно."
    IDS_DEV_LEGACY_SERVICE_NO_DEVICES "ReactOS успешно загрузил драйвер устройства, но не может найти соответствующее ему оборудование."
    IDS_DEV_DUPLICATE_DEVICE "ReactOS не может загрузить драйвер устройства, поскольку такое же устройство уже работает в системе."
    IDS_DEV_FAILED_POST_START "ReactOS остановил данное устройство, так как в его работе обнаружились проблемы."
    IDS_DEV_HALTED "Приложение или служба отключили данное устройство."
    IDS_DEV_PHANTOM "В настоящее время данное устройство не подключено к компьютеру."
    IDS_DEV_SYSTEM_SHUTDOWN "ReactOS не может получить доступа к устройству, потому что идет завершение работы системы."
    IDS_DEV_HELD_FOR_EJECT "ReactOS не может использовать это устройство, потому что оно подготовлено для безопасного извлечения, но ещё не было извлечено."
    IDS_DEV_DRIVER_BLOCKED "Запуск программного обеспечения для этого устройства был отменен, поскольку оно имеет известные проблемы с совместимостью. Свяжитесь с производителем устройства для получения обновленного драйвера."
    IDS_DEV_REGISTRY_TOO_LARGE "ReactOS не может запустить новые устройства, поскольку улей реестра занимает слишком много места (превышен лимит размера реестра (Registry Size Limit))."
    IDS_DEV_SETPROPERTIES_FAILED "ReactOS не может изменить настройки этого устройства."
END

STRINGTABLE
BEGIN
    IDS_PROP_DEVICEID "Код экземпляра устройства"
    IDS_PROP_HARDWAREIDS "Коды (ID) оборудования"
    IDS_PROP_COMPATIBLEIDS "Совместимые коды (ID)"
    IDS_PROP_MATCHINGDEVICEID "Соответствующий код (ID) устройства"
    IDS_PROP_SERVICE "Служба"
    IDS_PROP_ENUMERATOR "Перечислитель"
    IDS_PROP_CAPABILITIES "Характеристики"
    IDS_PROP_DEVNODEFLAGS "Флаги Devnode"
    IDS_PROP_CONFIGFLAGS "Флаги Config"
    IDS_PROP_CSCONFIGFLAGS "Флаги CSConfig"
    IDS_PROP_EJECTIONRELATIONS "Зависимости извлечения"
    IDS_PROP_REMOVALRELATIONS "Зависимости удаления"
    IDS_PROP_BUSRELATIONS "Зависимости шины"
    IDS_PROP_DEVUPPERFILTERS "Верхние фильтры устройства"
    IDS_PROP_DEVLOWERFILTERS "Нижние фильтры устройства"
    IDS_PROP_CLASSUPPERFILTERS "Верхние фильтры класса"
    IDS_PROP_CLASSLOWERFILTERS "Нижние фильтры класса"
    IDS_PROP_CLASSINSTALLER "Установщик классов"
    IDS_PROP_CLASSCOINSTALLER "Соустановщики классов"
    IDS_PROP_DEVICECOINSTALLER "Соустановщики устройств"
    IDS_PROP_FIRMWAREREVISION "Микропрограмма"
    IDS_PROP_CURRENTPOWERSTATE "Текущее состояние электропитания"
    IDS_PROP_POWERCAPABILITIES "Возможности электропитания"
    IDS_PROP_POWERSTATEMAPPINGS "Сопоставления энергосбережения"
END

IDD_HARDWARE DIALOGEX 0, 0, 300, 400
STYLE DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CAPTION | DS_SHELLFONT
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Устройства:", IDC_DEVICES, 7, 6, 196, 10
    CONTROL "", IDC_LV_DEVICES, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS |
            LVS_SHAREIMAGELISTS | LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 7, 16, 196, 50
    GROUPBOX "Свойства устройства", IDC_PROPERTIESGROUP, 7, 76, 196, 105
    LTEXT "", IDC_MANUFACTURER, 14, 88, 183, 10, SS_ENDELLIPSIS
    LTEXT "", IDC_LOCATION, 14, 100, 183, 10, SS_ENDELLIPSIS
    LTEXT "", IDC_STATUS, 14, 112, 183, 30
    PUSHBUTTON "&Диагностика...", IDC_TROUBLESHOOT, 80, 140, 59, 14, BS_PUSHBUTTON | WS_CHILD | WS_DISABLED | WS_TABSTOP
    PUSHBUTTON "С&войства", IDC_PROPERTIES, 146, 140, 50, 14
END

IDD_DEVICEGENERAL DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Общие"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON "", IDC_DEVICON, 7, 7, 20, 20
    LTEXT "", IDC_DEVNAME, 37, 9, 174, 16, SS_NOPREFIX
    LTEXT "Тип устройства:", -1, 37, 39, 60, 8, SS_NOPREFIX
    EDITTEXT IDC_DEVTYPE, 100, 39, 146, 12, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    LTEXT "Изготовитель:", -1, 37, 53, 60, 8, SS_NOPREFIX
    EDITTEXT IDC_DEVMANUFACTURER, 100, 53, 145, 12, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    LTEXT "Размещение:", -1, 37, 67, 60, 8, SS_NOPREFIX
    EDITTEXT IDC_DEVLOCATION, 100, 67, 145, 12, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    GROUPBOX "Состояние устройства", IDC_DEVSTATUSGROUP, 7, 83, 238, 100
    EDITTEXT IDC_DEVSTATUS, 14, 96, 224, 61, NOT WS_TABSTOP | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL
    PUSHBUTTON "&Диагностика...", IDC_DEVPROBLEM, 148, 163, 90, 15
    LTEXT "&Применение устройства:", IDC_DEVUSAGELABEL, 7, 188, 222, 8, WS_DISABLED
    COMBOBOX IDC_DEVUSAGE, 7, 198, 239, 40, CBS_DROPDOWNLIST | WS_VSCROLL | WS_DISABLED
END

IDD_DEVICEDRIVER DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Драйвер"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON "", IDC_DEVICON, 7, 7, 20, 20
    LTEXT "", IDC_DEVNAME, 37, 9, 174, 16, SS_NOPREFIX
    LTEXT "Поставщик драйвера:", -1, 17, 39, 80, 8, SS_NOPREFIX
    EDITTEXT IDC_DRVPROVIDER, 100, 39, 146, 12, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    LTEXT "Дата разработки:", -1, 17, 53, 80, 8, SS_NOPREFIX
    EDITTEXT IDC_DRVDATE, 100, 53, 145, 12, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    LTEXT "Версия драйвера:", -1, 17, 67, 80, 8, SS_NOPREFIX
    EDITTEXT IDC_DRVVERSION, 100, 67, 145, 12, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    LTEXT "Цифровая подпись:", -1, 17, 81, 80, 8, SS_NOPREFIX
    EDITTEXT IDC_DIGITALSIGNER, 100, 81, 145, 12, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    PUSHBUTTON "&Сведения...", IDC_DRIVERDETAILS, 7, 106, 75, 15
    LTEXT "Просмотр сведений о файлах драйверов.", -1, 91, 110, 154, 17, SS_NOPREFIX
    PUSHBUTTON "&Обновить...", IDC_UPDATEDRIVER, 7, 134, 75, 15
    LTEXT "Обновление драйверов для устройства.", -1, 91, 138, 154, 17, SS_NOPREFIX
    PUSHBUTTON "От&катить", IDC_ROLLBACKDRIVER, 7, 162, 75, 15
    LTEXT "Если устройство не работает после обновления драйвера, выполните откат к ранее установленному драйверу.", -1, 91, 162, 154, 25, SS_NOPREFIX
    PUSHBUTTON "&Удалить", IDC_UNINSTALLDRIVER, 7, 190, 75, 15
    LTEXT "Удаление драйвера (для опытных).", -1, 91, 194, 154, 17, SS_NOPREFIX
END

IDD_DRIVERDETAILS DIALOGEX 0, 0, 224, 230
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_DLGFRAME
CAPTION "Сведения о файлах драйверов"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON "", IDC_DEVICON, 7, 7, 20, 20
    LTEXT "", IDC_DEVNAME, 37, 9, 174, 16, SS_NOPREFIX
    LTEXT "&Файлы драйверов:", -1, 7, 36, 204, 8
    CONTROL "", IDC_DRIVERFILES, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER |
            LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_SORTASCENDING |
            LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 7, 46, 209, 80
    LTEXT "Поставщик:", -1, 7, 134, 70, 8
    EDITTEXT IDC_FILEPROVIDER, 81, 134, 140, 8, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    LTEXT "Версия файла:", -1, 7, 150, 70, 8
    EDITTEXT IDC_FILEVERSION, 81, 150, 140, 8, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    LTEXT "Авторские права:", -1, 7, 166, 70, 8
    EDITTEXT IDC_FILECOPYRIGHT, 81, 166, 140, 8, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    LTEXT "Цифровая подпись:", -1, 7, 182, 70, 8
    EDITTEXT IDC_DIGITALSIGNER, 81, 182, 140, 8, NOT WS_TABSTOP | NOT WS_BORDER | ES_AUTOHSCROLL | ES_READONLY
    DEFPUSHBUTTON "OK", IDOK, 167, 208, 50, 14
END

IDD_DEVICEDETAILS DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Сведения"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON "", IDC_DEVICON, 7, 7, 20, 20
    LTEXT "", IDC_DEVNAME, 37, 9, 174, 16, SS_NOPREFIX
    COMBOBOX IDC_DETAILSPROPNAME, 7, 36, 238, 165, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL "", IDC_DETAILSPROPVALUE, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER |
            LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS |
            LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 7, 58, 238, 155
END

IDD_DEVICERESOURCES DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Ресурсы"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON "", IDC_DEVICON, 7, 7, 20, 20
    LTEXT "", IDC_DEVNAME, 37, 9, 174, 16, SS_NOPREFIX
    LTEXT "Настройки ресурсов:", -1, 7, 36, 204, 8
    CONTROL "", IDC_DRIVERRESOURCES, "SysListView32", LVS_REPORT |
            LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SHAREIMAGELISTS | LVS_SORTASCENDING |
            LVS_NOSORTHEADER | WS_BORDER | WS_TABSTOP, 7, 46, 238, 80
END

IDD_DEVICEPOWER DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Питание"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON "", IDC_DEVICON, 7, 7, 20, 20
    LTEXT "", IDC_DEVNAME, 37, 9, 174, 16, SS_NOPREFIX
END

IDD_UNINSTALLDRIVER DIALOGEX 0, 0, 224, 121
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_DLGFRAME
CAPTION "Confirm Device Removal"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON "", IDC_DEVICON, 7, 7, 20, 20
    LTEXT "", IDC_DEVNAME, 40, 9, 174, 16, SS_NOPREFIX
    LTEXT "Warning: You are about to uninstall this device from your system.", -1, 7, 37, 204, 50
    DEFPUSHBUTTON "OK", IDOK, 110, 100, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 166, 100, 50, 14
END


/*
 This code relates to the device manager GUI
 */

IDM_MAINMENU MENU
BEGIN
    POPUP "&Файл"
    BEGIN
        MENUITEM "В&ыход",                       IDM_EXIT
    END
    POPUP "&Действие"
    BEGIN
        MENUITEM "О&бновить конфигурацию оборудования", IDM_SCAN_HARDWARE
        MENUITEM "&Добавить устройство",                IDM_ADD_HARDWARE
    END
    POPUP "&Вид"
    BEGIN
        MENUITEM "&Устройства по типу",          IDM_DEVBYTYPE
        MENUITEM "Устройства по под&ключению",   IDM_DEVBYCONN
        MENUITEM "&Ресурсы по типу",             IDM_RESBYTYPE, GRAYED
        MENUITEM "Ресурсы по подк&лючению",      IDM_RESBYCONN, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Показать &скрытые устройства", IDM_SHOWHIDDEN
    END
    POPUP "&Справка"
    BEGIN
        MENUITEM "О &программе...",              IDM_ABOUT
    END
END


STRINGTABLE
BEGIN
  IDS_APPNAME               "Диспетчер устройств ReactOS"
  IDS_APP_AUTHORS           "Copyright 2015 Ged Murphy"
  IDS_CONFIRM_DISABLE       "Отключение устройства означает, что оно перестанет работать.\nОтключить устройство?"
  IDS_CONFIRM_UNINSTALL     "Предупреждение: Сейчас устройство будет удалено из системы.\nВы хотите продолжить?"
END

STRINGTABLE
BEGIN
  IDS_MENU_UPDATE           "&Обновить драйвер..."
  IDS_MENU_ENABLE           "&Включить"
  IDS_MENU_DISABLE          "&Отключить"
  IDS_MENU_UNINSTALL        "&Удалить"
  IDS_MENU_SCAN             "О&бновить конфигурацию оборудования"
  IDS_MENU_ADD              "&Добавить устройство"
  IDS_MENU_PROPERTIES       "&Свойства"
END

STRINGTABLE
BEGIN
  IDS_TOOLTIP_PROPERTIES    "Свойства"
  IDS_TOOLTIP_SCAN          "Обновить конфигурацию оборудования"
  IDS_TOOLTIP_ENABLE        "Включить"
  IDS_TOOLTIP_DISABLE       "Отключить"
  IDS_TOOLTIP_UPDATE        "Обновить драйвер"
  IDS_TOOLTIP_UNINSTALL     "Удалить"
END

/* Hints */
STRINGTABLE
BEGIN
  IDS_HINT_BLANK        " "
  IDS_HINT_PROPERTIES   " Открытие страницы свойств для выделенного объекта."
  IDS_HINT_SCAN         " Проверка на наличие изменений или новых устройств Plug and Play."
  IDS_HINT_ENABLE       " Включение выбранного устройства."
  IDS_HINT_DISABLE      " Отключение выбранного устройства."
  IDS_HINT_UPDATE       " Запуск мастера обновления драйверов для выделенного устройства."
  IDS_HINT_UNINSTALL    " Удаление драйвера для выбранного устройства."
  IDS_HINT_ADD          " Добавить старое (не Plug-and-Play) устройство на этот компьютер."
  IDS_HINT_ABOUT        " О программе ""Диспетчер устройств ReactOS""."
  IDS_HINT_EXIT         " Выход из программы."

  IDS_HINT_DEV_BY_TYPE  " Показывает устройства, отсортированные по типу оборудования."
  IDS_HINT_DEV_BY_CONN  " Показывает устройства, отсортированные по подключению."
  IDS_HINT_RES_BY_TYPE  " Показывает ресурсы, отсортированные по типу."
  IDS_HINT_RES_BY_CONN  " Показывает ресурсы, отсортированные по подключению."
  IDS_HINT_SHOW_HIDDEN  " Показывает удаленные из системы и устаревшие устройства."

  IDS_HINT_SYS_RESTORE  " Восстанавливает размер этого окна."
  IDS_HINT_SYS_MOVE     " Перемещает это окно."
  IDS_HINT_SYS_SIZE     " Изменяет размер этого окна."
  IDS_HINT_SYS_MINIMIZE " Сворачивает это окно в панель задач."
  IDS_HINT_SYS_MAXIMIZE " Разворачивает это окно на весь экран."
  IDS_HINT_SYS_CLOSE    " Закрывает это окно."
END
