LANGUAGE LANG_BULGARIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_HELP "Управлява настройките за обработка в командния ред, дневника и макротата.\n\
\n\
DOSKEY [/INSERT | /OVERSTRIKE] [/EXENAME=exe] [/HISTORY] [/LISTSIZE=размер]\n\
       [/REINSTALL] [/MACROS[:exe | :ALL]] [/MACROFILE=файл] [macroname=[текст]]\n\
\n\
  /INSERT             Включва режим на вмъкване.\n\
  /OVERSTRIKE         Изключва режима на вмъкване.\n\
  /EXENAME=именаexe   Указва името на приложението за преглед/промяна на дневника\n\
                      и макротата. По подразбиране е cmd.exe.\n\
  /HISTORY            Показва дневника на заповедите.\n\
  /LISTSIZE=размер      Указва размера на дневника за заповеди.\n\
  /REINSTALL          Изчиства дневника на заповедите.\n\
  /MACROS             Показва зададените макрота.\n\
  /MACROS:именаexe     Показва зададените макрота за определено приложение.\n\
  /MACROS:ALL         Показва зададените макрота за всички приложения.\n\
  /MACROFILE=файловоиме Зарежда макрота от файл.\n\
  macroname           Указва името на макрото, което да бъде създадено.\n\
  text                Указва текстът за замяна от макрото.\n"
    IDS_INVALID_MACRO_DEF "Неправилно определено макро: %s\n"
END
