[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # none
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% PROCESS global/header.html.tmpl
           title = "Add a new Custom Field"
           onload = "document.getElementById('new_bugmail').disabled = true;" %]

<script type="text/javascript">
  <!--
  // Disable a checkbox based on the state of another one.
  function toggleCheckbox(this_checkbox, other_checkbox_id) {
    var other_checkbox = document.getElementById(other_checkbox_id);
    other_checkbox.disabled = !this_checkbox.checked;
  }
  //-->
</script>

<p>
  Adding custom fields can make the interface of [% terms.Bugzilla %] very
  complicated. Many admins who are new to [% terms.Bugzilla %] start off
  adding many custom fields, and then their users complain that the interface
  is "too complex". Please think carefully before adding any custom fields.
  It may be the case that [% terms.Bugzilla %] already does what you need,
  and you just haven't enabled the correct feature yet.
</p>

<ul>
  <li>Custom field names must begin with "cf_" to distinguish them from
      standard fields. If you omit "cf_" from the beginning of the name, it
      will be added for you.</li>
  <li>Descriptions are a very short string describing the field and will be
      used as the label for this field in the user interface.</li>
</ul>

<form id="add_field" action="editfields.cgi" method="GET">
  <table border="0" cellspacing="0" cellpadding="5">
    <tr>
      <th align="right"><label for="name">Name:</label></th>
      <td>
        <input type="text" id="name" name="name" value="cf_" size="40" maxlength="64">
      </td>

      <th align="right">
        <label for="enter_bug">Can be set on [% terms.bug %] creation:</label>
      </th>
      <td>
        <input type="checkbox" id="enter_bug" name="enter_bug" value="1"
               onchange="toggleCheckbox(this, 'new_bugmail');">
      </td>
    </tr>
    <tr>
      <th align="right"><label for="desc">Description:</label></th>
      <td><input type="text" id="desc" name="desc" value="" size="40"></td>

      <th align="right">
        <label for="new_bugmail">Displayed in [% terms.bug %]mail for new [% terms.bugs %]:</label>
      </th>
      <td><input type="checkbox" id="new_bugmail" name="new_bugmail" value="1"></td>
    </tr>
    <tr>
      <th align="right"><label for="type">Type:</label></th>
      <td>
        <select id="type" name="type">
          [% FOREACH type = field_types.keys %]
            [% NEXT IF type == constants.FIELD_TYPE_UNKNOWN %]
            <option value="[% type FILTER html %]">[% field_types.$type FILTER html %]</option>
          [% END %]
        </select>
      </td>

      <th align="right"><label for="obsolete">Is obsolete:</label></th>
      <td><input type="checkbox" id="obsolete" name="obsolete" value="1"></td>
    </tr>
    <tr>
      <th align="right"><label for="sortkey">Sortkey:</label></th>
      <td>
        <input type="text" id="sortkey" name="sortkey" size="6" maxlength="6">
      </td>

      <th>&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
  </table>
  <p>
    <input type="hidden" name="action" value="new">
    <input type="hidden" name="token" value="[% token FILTER html %]">
    <input type="submit" id="create" value="Create">
  </p>
</form>

<p>
  <a href="editfields.cgi">Back to the list of existing custom fields</a>
</p>

[% PROCESS global/footer.html.tmpl %]
