/*
 * PROJECT:     ReactOS W32Time Service
 * LICENSE:     GPL-2.0+ (https://spdx.org/licenses/GPL-2.0+)
 * PURPOSE:     Polish resource file
 * TRANSLATORS: Copyright 2019 Adam Słaboń <asaillen456esx@gmail.com>
 *              Copyright 2025 Piotr Hetnarowicz <piotrhwz@gmail.com>
 */

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_DISPLAYNAME "Usługa Czas"
    IDS_DESCRIPTION "Utrzymuje synchronizację daty i godziny na wszystkich klientach i serwerach w sieci."
END
