/*
 * British English Language resource file
 * Translated by: Benedikt Freisen
 */

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_UK

ID_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "New\tCtrl+N", IDM_FILENEW
        MENUITEM "Open...\tCtrl+O", IDM_FILEOPEN
        MENUITEM "Save\tCtrl+S", IDM_FILESAVE
        MENUITEM "Save as...", IDM_FILESAVEAS
        MENUITEM SEPARATOR
        MENUITEM "Set as wallpaper (tiled)", IDM_FILEASWALLPAPERPLANE
        MENUITEM "Set as wallpaper (centered)", IDM_FILEASWALLPAPERCENTERED
        MENUITEM "Set as wallpaper (stretched)", IDM_FILEASWALLPAPERSTRETCHED
        MENUITEM SEPARATOR
        MENUITEM "Quit\tAlt+F4", IDM_FILEEXIT
    END

    POPUP "&Edit"
    BEGIN
        MENUITEM "Undo\tCtrl+Z", IDM_EDITUNDO
        MENUITEM "Redo\tCtrl+Y", IDM_EDITREDO
        MENUITEM SEPARATOR
        MENUITEM "Cut\tCtrl+X", IDM_EDITCUT
        MENUITEM "Copy\tCtrl+C", IDM_EDITCOPY
        MENUITEM "Paste\tCtrl+V", IDM_EDITPASTE
        MENUITEM "Delete selection\tDel", IDM_EDITDELETESELECTION
        MENUITEM "Invert selection", IDM_EDITINVERTSELECTION
        MENUITEM "Select all\tCtrl+A", IDM_EDITSELECTALL
        MENUITEM SEPARATOR
        MENUITEM "Copy to...", IDM_EDITCOPYTO
        MENUITEM "Paste from...", IDM_EDITPASTEFROM
    END

    POPUP "&View"
    BEGIN
        MENUITEM "Tool box\tCtrl+T", IDM_VIEWTOOLBOX, CHECKED
        MENUITEM "Colour palette\tCtrl+L", IDM_VIEWCOLORPALETTE, CHECKED
        MENUITEM "Status bar", IDM_VIEWSTATUSBAR, CHECKED
        MENUITEM "Text Toolbar", IDM_FORMATICONBAR, CHECKED, GRAYED
        MENUITEM SEPARATOR
        POPUP "Zoom"
        BEGIN
            POPUP "User defined"
            BEGIN
                MENUITEM "12,5%", IDM_VIEWZOOM125
                MENUITEM "25%", IDM_VIEWZOOM25
                MENUITEM "50%", IDM_VIEWZOOM50
                MENUITEM "100%", IDM_VIEWZOOM100
                MENUITEM "200%", IDM_VIEWZOOM200
                MENUITEM "400%", IDM_VIEWZOOM400
                MENUITEM "800%", IDM_VIEWZOOM800
            END
            MENUITEM SEPARATOR
            MENUITEM "Show grid\tCtrl+G", IDM_VIEWSHOWGRID
            MENUITEM "Show miniature", IDM_VIEWSHOWMINIATURE
        END
        MENUITEM "Full screen\tCtrl+F", IDM_VIEWFULLSCREEN
    END
    
    POPUP "&Image"
    BEGIN
        MENUITEM "Rotate/Mirror...\tCtrl+R", IDM_IMAGEROTATEMIRROR
        MENUITEM "Resize...\tCtrl+W", IDM_IMAGECHANGESIZE
        MENUITEM "Crop", IDM_IMAGECROP
        MENUITEM "Invert colours\tCtrl+I", IDM_IMAGEINVERTCOLORS
        MENUITEM "Attributes...\tCtrl+E", IDM_IMAGEATTRIBUTES
        MENUITEM "Delete image", IDM_IMAGEDELETEIMAGE
        MENUITEM "Draw opaque", IDM_IMAGEDRAWOPAQUE
    END
    
    POPUP "&Colours"
    BEGIN
        MENUITEM "Edit palette...", IDM_COLORSEDITPALETTE
    END
    
    POPUP "&?"
    BEGIN
        MENUITEM "Help topics", IDM_HELPHELPTOPICS
        MENUITEM SEPARATOR
        MENUITEM "Info", IDM_HELPINFO
    END
END

ID_ACCELERATORS ACCELERATORS
BEGIN
    "^N", IDM_FILENEW
    "^O", IDM_FILEOPEN
    "^S", IDM_FILESAVE
    "^Z", IDM_EDITUNDO
    "^Y", IDM_EDITREDO
    "^X", IDM_EDITCUT
    "^C", IDM_EDITCOPY
    "^V", IDM_EDITPASTE
    VK_DELETE, IDM_EDITDELETESELECTION, VIRTKEY
    "^A", IDM_EDITSELECTALL
    "^T", IDM_VIEWTOOLBOX
    "^L", IDM_VIEWCOLORPALETTE
    "^G", IDM_VIEWSHOWGRID
    "^F", IDM_VIEWFULLSCREEN
    "^R", IDM_IMAGEROTATEMIRROR
    "^W", IDM_IMAGECHANGESIZE
    "^I", IDM_IMAGEINVERTCOLORS
    "^E", IDM_IMAGEATTRIBUTES
    "N", IDM_IMAGEDELETEIMAGE, CONTROL, SHIFT, VIRTKEY
END

IDD_MIRRORROTATE DIALOGEX 100, 100, 180, 100
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Rotate and mirror image"
BEGIN
    GROUPBOX "Rotate or mirror", IDD_MIRRORROTATEGROUP, 6, 6, 112, 86
    AUTORADIOBUTTON "Mirror horizontally", IDD_MIRRORROTATERB1, 12, 18, 100, 10, WS_GROUP
    AUTORADIOBUTTON "Mirror vertically", IDD_MIRRORROTATERB2, 12, 30, 100, 10
    AUTORADIOBUTTON "Rotate by an angle of", IDD_MIRRORROTATERB3, 12, 42, 100, 10
    AUTORADIOBUTTON "90°", IDD_MIRRORROTATERB4, 42, 54, 50, 10, WS_GROUP | WS_DISABLED
    AUTORADIOBUTTON "180°", IDD_MIRRORROTATERB5, 42, 66, 50, 10, WS_DISABLED
    AUTORADIOBUTTON "270°", IDD_MIRRORROTATERB6, 42, 78, 50, 10, WS_DISABLED
    DEFPUSHBUTTON "OK", IDOK, 125, 8, 48, 14
    PUSHBUTTON "Cancel", IDCANCEL, 125, 24, 48, 14
END

IDD_ATTRIBUTES DIALOGEX 100, 100, 210, 120
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Attributes"
BEGIN
    EDITTEXT IDD_ATTRIBUTESEDIT1, 40, 40, 35, 12
    EDITTEXT IDD_ATTRIBUTESEDIT2, 110, 40, 35, 12
    LTEXT "Width:", IDD_ATTRIBUTESTEXT1, 10, 40, 30, 10
    LTEXT "Height:", IDD_ATTRIBUTESTEXT2, 80, 40, 30, 10
    LTEXT "File date:", IDD_ATTRIBUTESTEXT3, 10, 5, 60, 10
    LTEXT "File size:", IDD_ATTRIBUTESTEXT4, 10, 15, 60, 10
    LTEXT "Resolution:", IDD_ATTRIBUTESTEXT5, 10, 25, 60, 10
    LTEXT "Not available", IDD_ATTRIBUTESTEXT6, 70, 5, 60, 10
    LTEXT "Not available", IDD_ATTRIBUTESTEXT7, 70, 15, 60, 10
    LTEXT "Not available", IDD_ATTRIBUTESTEXT8, 70, 25, 60, 10
    GROUPBOX "Unit", IDD_ATTRIBUTESGROUP1, 6, 57, 139, 27
    AUTORADIOBUTTON "Inch", IDD_ATTRIBUTESRB1, 12, 69, 35, 10, WS_GROUP
    AUTORADIOBUTTON "cm", IDD_ATTRIBUTESRB2, 52, 69, 35, 10
    AUTORADIOBUTTON "Pixels", IDD_ATTRIBUTESRB3, 92, 69, 35, 10
    GROUPBOX "Colours", IDD_ATTRIBUTESGROUP2, 6, 88, 139, 27
    AUTORADIOBUTTON "Black and white", IDD_ATTRIBUTESRB4, 12, 100, 70, 10, WS_GROUP
    AUTORADIOBUTTON "Colours", IDD_ATTRIBUTESRB5, 92, 100, 35, 10
    DEFPUSHBUTTON "OK", IDOK, 155, 8, 48, 14
    PUSHBUTTON "Cancel", IDCANCEL, 155, 24, 48, 14
    PUSHBUTTON "Standard", IDD_ATTRIBUTESSTANDARD, 155, 40, 48, 14
END

IDD_CHANGESIZE DIALOGEX 100, 100, 210, 80
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Change size"
BEGIN
    GROUPBOX "Change size", IDD_CHANGESIZEGROUP, 6, 6, 142, 66
    ICON IDI_HORZSTRETCH, IDD_CHANGESIZEICON1, 12, 18, 32, 32
    LTEXT "Horizontally:", IDD_CHANGESIZETEXT1, 45, 24, 40, 10
    EDITTEXT IDD_CHANGESIZEEDIT1, 90, 23, 32, 12
    LTEXT "%", IDD_CHANGESIZETEXT2, 125, 24, 15, 10
    ICON IDI_VERTSTRETCH, IDD_CHANGESIZEICON2, 12, 43, 32, 32
    LTEXT "Vertically:", IDD_CHANGESIZETEXT3, 45, 49, 40, 10
    EDITTEXT IDD_CHANGESIZEEDIT2, 90, 48, 32, 12
    LTEXT "%", IDD_CHANGESIZETEXT4, 125, 49, 15, 10
    DEFPUSHBUTTON "OK", IDOK, 155, 8, 48, 14
    PUSHBUTTON "Cancel", IDCANCEL, 155, 24, 48, 14
END

STRINGTABLE
BEGIN
    IDS_PROGRAMNAME, "Paint"
    IDS_WINDOWTITLE, "%s - Paint"
    IDS_INFOTITLE, "Paint for ReactOS"
    IDS_INFOTEXT, "Paint for ReactOS is available under the GNU Lesser General Public License (LGPL) version 3 (see www.gnu.org)"
    IDS_SAVEPROMPTTEXT, "Do you want to save the changes to %s?"
    IDS_DEFAULTFILENAME, "Unnamed.bmp"
    IDS_MINIATURETITLE, "Miniature"
    IDS_TOOLTIP1, "Free selection"
    IDS_TOOLTIP2, "Selection"
    IDS_TOOLTIP3, "Rubber"
    IDS_TOOLTIP4, "Fill with colour"
    IDS_TOOLTIP5, "Select colour"
    IDS_TOOLTIP6, "Zoom"
    IDS_TOOLTIP7, "Pencil"
    IDS_TOOLTIP8, "Brush"
    IDS_TOOLTIP9, "Airbrush"
    IDS_TOOLTIP10, "Text"
    IDS_TOOLTIP11, "Line"
    IDS_TOOLTIP12, "Bezier curve"
    IDS_TOOLTIP13, "Rectangle"
    IDS_TOOLTIP14, "Polygon"
    IDS_TOOLTIP15, "Ellipse"
    IDS_TOOLTIP16, "Rounded rectangle"
    IDS_OPENFILTER, "Bitmap files (*.bmp;*.dib)\1*.bmp;*.dib\1All files (*.*)\1*.*\1"
    IDS_SAVEFILTER, "24 bit bitmap (*.bmp;*.dib)\1*.bmp;*.dib\1"
END
