/*
 * Spanish Language resource file
 * Traducido por: gabriel ilardi febrero 2009
 */
 
LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

ID_MENU MENU
BEGIN
    POPUP "&Archivo"
    BEGIN
        MENUITEM "Nuevo\tCtrl+N", IDM_FILENEW
        MENUITEM "Abrir...\tCtrl+O", IDM_FILEOPEN
        MENUITEM "Guardar\tCtrl+S", IDM_FILESAVE
        MENUITEM "Guardar como...", IDM_FILESAVEAS
        MENUITEM SEPARATOR
        MENUITEM "Fondo de pantalla (normal)", IDM_FILEASWALLPAPERPLANE
        MENUITEM "Fondo de pantalla (centrado)", IDM_FILEASWALLPAPERCENTERED
        MENUITEM "Fondo de pantalla (extendido)", IDM_FILEASWALLPAPERSTRETCHED
        MENUITEM SEPARATOR
        MENUITEM "Salir\tAlt+F4", IDM_FILEEXIT
    END

    POPUP "&Edición"
    BEGIN
        MENUITEM "Deshacer\tCtrl+Z", IDM_EDITUNDO
        MENUITEM "Rehacer\tCtrl+Y", IDM_EDITREDO
        MENUITEM SEPARATOR
        MENUITEM "Cortar\tCtrl+X", IDM_EDITCUT
        MENUITEM "Copiar\tCtrl+C", IDM_EDITCOPY
        MENUITEM "Pegar\tCtrl+V", IDM_EDITPASTE
        MENUITEM "Borrar selección\tDel", IDM_EDITDELETESELECTION
        MENUITEM "Invertir selección", IDM_EDITINVERTSELECTION
        MENUITEM "Seleccionar todo\tCtrl+A", IDM_EDITSELECTALL
        MENUITEM SEPARATOR
        MENUITEM "Copiar en...", IDM_EDITCOPYTO
        MENUITEM "Pegar desde...", IDM_EDITPASTEFROM
    END

    POPUP "&Vista"
    BEGIN
        MENUITEM "Caja de herramientas\tCtrl+T", IDM_VIEWTOOLBOX, CHECKED
        MENUITEM "Paleta de colores\tCtrl+L", IDM_VIEWCOLORPALETTE, CHECKED
        MENUITEM "Barra de estado", IDM_VIEWSTATUSBAR, CHECKED
        MENUITEM "Barra de formato del texto", IDM_FORMATICONBAR, CHECKED, GRAYED
        MENUITEM SEPARATOR
        POPUP "Zoom"
        BEGIN
            MENUITEM "12,5%", IDM_VIEWZOOM125
            MENUITEM "25%", IDM_VIEWZOOM25
            MENUITEM "50%", IDM_VIEWZOOM50
            MENUITEM "100%", IDM_VIEWZOOM100
            MENUITEM "200%", IDM_VIEWZOOM200
            MENUITEM "400%", IDM_VIEWZOOM400
            MENUITEM "800%", IDM_VIEWZOOM800
        END
        MENUITEM "Ver en pantalla completa\tCtrl+F", IDM_VIEWFULLSCREEN
    END
    
    POPUP "&Imagen"
    BEGIN
        MENUITEM "Rotar/Invertir...\tCtrl+R", IDM_IMAGEROTATEMIRROR
        MENUITEM "Cambiar dimensiones...\tCtrl+W", IDM_IMAGECHANGESIZE
        MENUITEM "Recortar", IDM_IMAGECROP
        MENUITEM "Invertir colores\tCtrl+I", IDM_IMAGEINVERTCOLORS
        MENUITEM "Atributos...\tCtrl+E", IDM_IMAGEATTRIBUTES
        MENUITEM "Borrar imagen\tCtrl+Shft+N", IDM_IMAGEDELETEIMAGE
        MENUITEM "Opaco", IDM_IMAGEDRAWOPAQUE
    END
    
    POPUP "&Colores"
    BEGIN
        MENUITEM "Editar paleta...", IDM_COLORSEDITPALETTE
    END
    
    POPUP "&?"
    BEGIN
        MENUITEM "Ayuda", IDM_HELPHELPTOPICS
        MENUITEM SEPARATOR
        MENUITEM "Acerca", IDM_HELPINFO
    END
END

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

ID_ACCELERATORS ACCELERATORS
BEGIN
    "^N", IDM_FILENEW
    "^O", IDM_FILEOPEN
    "^S", IDM_FILESAVE
    "^Z", IDM_EDITUNDO
    "^Y", IDM_EDITREDO
    "^X", IDM_EDITCUT
    "^C", IDM_EDITCOPY
    "^V", IDM_EDITPASTE
    VK_DELETE, IDM_EDITDELETESELECTION, VIRTKEY
    "^A", IDM_EDITSELECTALL
    "^T", IDM_VIEWTOOLBOX
    "^L", IDM_VIEWCOLORPALETTE
    "^F", IDM_VIEWFULLSCREEN
    "^R", IDM_IMAGEROTATEMIRROR
    "^W", IDM_IMAGECHANGESIZE
    "^I", IDM_IMAGEINVERTCOLORS
    "^E", IDM_IMAGEATTRIBUTES
    "N", IDM_IMAGEDELETEIMAGE, CONTROL, SHIFT, VIRTKEY
END

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

IDD_MIRRORROTATE DIALOGEX 100, 100, 180, 100
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Rotar e invertir"
BEGIN
    GROUPBOX "Rotar e invertir", IDD_MIRRORROTATEGROUP, 6, 6, 112, 86
    AUTORADIOBUTTON "Invertir horizontalmente", IDD_MIRRORROTATERB1, 12, 18, 100, 10, WS_GROUP
    AUTORADIOBUTTON "Invertir verticalmente", IDD_MIRRORROTATERB2, 12, 30, 100, 10
    AUTORADIOBUTTON "Rotar", IDD_MIRRORROTATERB3, 12, 42, 100, 10
    AUTORADIOBUTTON "90°", IDD_MIRRORROTATERB4, 42, 54, 50, 10, WS_GROUP | WS_DISABLED
    AUTORADIOBUTTON "180°", IDD_MIRRORROTATERB5, 42, 66, 50, 10, WS_DISABLED
    AUTORADIOBUTTON "270°", IDD_MIRRORROTATERB6, 42, 78, 50, 10, WS_DISABLED
    DEFPUSHBUTTON "Aceptar", IDOK, 125, 8, 48, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 125, 24, 48, 14
END

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

IDD_ATTRIBUTES DIALOGEX 100, 100, 210, 120
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Atributos"
BEGIN
    EDITTEXT IDD_ATTRIBUTESEDIT1, 40, 40, 35, 12
    EDITTEXT IDD_ATTRIBUTESEDIT2, 110, 40, 35, 12
    LTEXT "Ancho:", IDD_ATTRIBUTESTEXT1, 10, 40, 30, 10
    LTEXT "Altura:", IDD_ATTRIBUTESTEXT2, 80, 40, 30, 10
    LTEXT "Fecha modificación:", IDD_ATTRIBUTESTEXT3, 10, 5, 60, 10
    LTEXT "Espacio en disco:", IDD_ATTRIBUTESTEXT4, 10, 15, 60, 10
    LTEXT "Resolución:", IDD_ATTRIBUTESTEXT5, 10, 25, 60, 10
    LTEXT "No disponible", IDD_ATTRIBUTESTEXT6, 70, 5, 60, 10
    LTEXT "No disponible", IDD_ATTRIBUTESTEXT7, 70, 15, 60, 10
    LTEXT "No disponible", IDD_ATTRIBUTESTEXT8, 70, 25, 60, 10
    GROUPBOX "Unidades", IDD_ATTRIBUTESGROUP1, 6, 57, 139, 27
    AUTORADIOBUTTON "Pulgadas", IDD_ATTRIBUTESRB1, 12, 69, 35, 10, WS_GROUP
    AUTORADIOBUTTON "cm", IDD_ATTRIBUTESRB2, 52, 69, 35, 10
    AUTORADIOBUTTON "Pixels", IDD_ATTRIBUTESRB3, 92, 69, 35, 10
    GROUPBOX "Colores", IDD_ATTRIBUTESGROUP2, 6, 88, 139, 27
    AUTORADIOBUTTON "Blanco y negro", IDD_ATTRIBUTESRB4, 12, 100, 70, 10, WS_GROUP
    AUTORADIOBUTTON "Colores", IDD_ATTRIBUTESRB5, 92, 100, 35, 10
    DEFPUSHBUTTON "Aceptar", IDOK, 155, 8, 48, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 155, 24, 48, 14
    PUSHBUTTON "Predefinido", IDD_ATTRIBUTESSTANDARD, 155, 40, 48, 14
END

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

IDD_CHANGESIZE DIALOGEX 100, 100, 210, 80
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Redimensionar"
BEGIN
    GROUPBOX "Redimensionar", IDD_CHANGESIZEGROUP, 6, 6, 142, 66
    ICON IDI_HORZSTRETCH, IDD_CHANGESIZEICON1, 12, 18
    LTEXT "Horizontalmente:", IDD_CHANGESIZETEXT1, 45, 24, 40, 10
    EDITTEXT IDD_CHANGESIZEEDIT1, 90, 23, 32, 12
    LTEXT "%", IDD_CHANGESIZETEXT2, 125, 24, 15, 10
    ICON IDI_VERTSTRETCH, IDD_CHANGESIZEICON2, 12, 43
    LTEXT "Verticalmente:", IDD_CHANGESIZETEXT3, 45, 49, 40, 10
    EDITTEXT IDD_CHANGESIZEEDIT2, 90, 48, 32, 12
    LTEXT "%", IDD_CHANGESIZETEXT4, 125, 49, 15, 10
    DEFPUSHBUTTON "Aceptar", IDOK, 155, 8, 48, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 155, 24, 48, 14
END

STRINGTABLE
BEGIN
    IDS_PROGRAMNAME, "Paint"
    IDS_WINDOWTITLE, "%s - Paint"
    IDS_INFOTITLE, "Paint for ReactOS"
    IDS_INFOTEXT, "Paint for ReactOS is available under the GNU Lesser General Public License (LGPL) version 3 (see www.gnu.org)"
    IDS_SAVEPROMPTTEXT, "Do you want to save the changes to %s?"
    IDS_DEFAULTFILENAME, "Unnamed.bmp"
    IDS_TOOLTIP1, "Free selection"
    IDS_TOOLTIP2, "Selection"
    IDS_TOOLTIP3, "Rubber"
    IDS_TOOLTIP4, "Fill with color"
    IDS_TOOLTIP5, "Select color"
    IDS_TOOLTIP6, "Zoom"
    IDS_TOOLTIP7, "Pencil"
    IDS_TOOLTIP8, "Brush"
    IDS_TOOLTIP9, "Airbrush"
    IDS_TOOLTIP10, "Text"
    IDS_TOOLTIP11, "Line"
    IDS_TOOLTIP12, "Bezier curve"
    IDS_TOOLTIP13, "Rectangle"
    IDS_TOOLTIP14, "Polygon"
    IDS_TOOLTIP15, "Ellipse"
    IDS_TOOLTIP16, "Rounded rectangle"
    IDS_OPENFILTER, "Bitmap files (*.bmp;*.dib)\1*.bmp;*.dib\1All files (*.*)\1*.*\1"
    IDS_SAVEFILTER, "24 bit bitmap (*.bmp;*.dib)\1*.bmp;*.dib\1"
END
