/*
 * Italian Language resource file
 * Tradotto da: gabriel ilardi, febbraio 2009
 */
 
LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL

ID_MENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "Nuovo\tCtrl+N", IDM_FILENEW
        MENUITEM "Apri...\tCtrl+F12", IDM_FILEOPEN
        MENUITEM "Salva\tMaiusc+F12", IDM_FILESAVE
        MENUITEM "Salva con nome...", IDM_FILESAVEAS
        MENUITEM SEPARATOR
        MENUITEM "Imposta come sfondo (normale)", IDM_FILEASWALLPAPERPLANE
        MENUITEM "Imposta come sfondo (centrata)", IDM_FILEASWALLPAPERCENTERED
        MENUITEM "Imposta come sfondo (estesa)", IDM_FILEASWALLPAPERSTRETCHED
        MENUITEM SEPARATOR
        MENUITEM "Esci\tAlt+F4", IDM_FILEEXIT
    END

    POPUP "&Modifica"
    BEGIN
        MENUITEM "Annulla\tCtrl+Z", IDM_EDITUNDO
        MENUITEM "Ripeti\tCtrl+Y", IDM_EDITREDO
        MENUITEM SEPARATOR
        MENUITEM "Taglia\tCtrl+X", IDM_EDITCUT
        MENUITEM "Copia\tCtrl+C", IDM_EDITCOPY
        MENUITEM "Incolla\tCtrl+V", IDM_EDITPASTE
        MENUITEM "Cancella area selezionata\tCanc", IDM_EDITDELETESELECTION
        MENUITEM "Inverte selezione", IDM_EDITINVERTSELECTION
        MENUITEM "Seleziona tutto\tCtrl+5(tn)", IDM_EDITSELECTALL
        MENUITEM SEPARATOR
        MENUITEM "Copia su...", IDM_EDITCOPYTO
        MENUITEM "Incolla da...", IDM_EDITPASTEFROM
    END

    POPUP "&Visualizza"
    BEGIN
        MENUITEM "Casella degli strumenti\tCtrl+T", IDM_VIEWTOOLBOX, CHECKED
        MENUITEM "Tavolozza\tCtrl+L", IDM_VIEWCOLORPALETTE, CHECKED
        MENUITEM "Barra di stato", IDM_VIEWSTATUSBAR, CHECKED
        MENUITEM "Barra degli strumenti di testo", IDM_FORMATICONBAR, CHECKED, GRAYED
        MENUITEM SEPARATOR
        POPUP "Zoom"
        BEGIN
            MENUITEM "12,5%", IDM_VIEWZOOM125
            MENUITEM "25%", IDM_VIEWZOOM25
            MENUITEM "50%", IDM_VIEWZOOM50
            MENUITEM "100%", IDM_VIEWZOOM100
            MENUITEM "200%", IDM_VIEWZOOM200
            MENUITEM "400%", IDM_VIEWZOOM400
            MENUITEM "800%", IDM_VIEWZOOM800
        END
        MENUITEM "Visualizza a schermo intero\tCtrl+F", IDM_VIEWFULLSCREEN
    END
    
    POPUP "&Immagine"
    BEGIN
        MENUITEM "Capovolgi/ruota...\tCtrl+R", IDM_IMAGEROTATEMIRROR
        MENUITEM "Ridimensiona...\tCtrl+W", IDM_IMAGECHANGESIZE
        MENUITEM "Ritaglia", IDM_IMAGECROP
        MENUITEM "Inverti colori\tCtrl+I", IDM_IMAGEINVERTCOLORS
        MENUITEM "Attributi...\tCtrl+E", IDM_IMAGEATTRIBUTES
        MENUITEM "Cancella immagine\tCtrl+Maiusc+N", IDM_IMAGEDELETEIMAGE
        MENUITEM "Opaco", IDM_IMAGEDRAWOPAQUE
    END
    
    POPUP "&Colori"
    BEGIN
        MENUITEM "Modifica colori...", IDM_COLORSEDITPALETTE
    END
    
    POPUP "&?"
    BEGIN
        MENUITEM "Guida in linea", IDM_HELPHELPTOPICS
        MENUITEM SEPARATOR
        MENUITEM "Informazioni", IDM_HELPINFO
    END
END

ID_ACCELERATORS ACCELERATORS
BEGIN
    "^N", IDM_FILENEW
    VK_F12, IDM_FILEOPEN, CONTROL, VIRTKEY
    VK_F12, IDM_FILESAVE, SHIFT, VIRTKEY
    "^Z", IDM_EDITUNDO
    "^Y", IDM_EDITREDO
    "^X", IDM_EDITCUT
    "^C", IDM_EDITCOPY
    "^V", IDM_EDITPASTE
    VK_DELETE, IDM_EDITDELETESELECTION, VIRTKEY
    "5", IDM_EDITSELECTALL
    "^T", IDM_VIEWTOOLBOX
    "^L", IDM_VIEWCOLORPALETTE
    "^F", IDM_VIEWFULLSCREEN
    "^R", IDM_IMAGEROTATEMIRROR
    "^W", IDM_IMAGECHANGESIZE
    "^I", IDM_IMAGEINVERTCOLORS
    "^E", IDM_IMAGEATTRIBUTES
    "N", IDM_IMAGEDELETEIMAGE, CONTROL, SHIFT, VIRTKEY
END

IDD_MIRRORROTATE DIALOGEX 100, 100, 180, 100
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Capovolgi o ruota"
BEGIN
    GROUPBOX "Capovolgi o ruota", IDD_MIRRORROTATEGROUP, 6, 6, 112, 86
    AUTORADIOBUTTON "Capovolgi orizzontalmente", IDD_MIRRORROTATERB1, 12, 18, 100, 10, WS_GROUP
    AUTORADIOBUTTON "Capovolgi verticalmente", IDD_MIRRORROTATERB2, 12, 30, 100, 10
    AUTORADIOBUTTON "Ruota di", IDD_MIRRORROTATERB3, 12, 42, 100, 10
    AUTORADIOBUTTON "90°", IDD_MIRRORROTATERB4, 42, 54, 50, 10, WS_GROUP | WS_DISABLED
    AUTORADIOBUTTON "180°", IDD_MIRRORROTATERB5, 42, 66, 50, 10, WS_DISABLED
    AUTORADIOBUTTON "270°", IDD_MIRRORROTATERB6, 42, 78, 50, 10, WS_DISABLED
    DEFPUSHBUTTON "OK", IDOK, 125, 8, 48, 14
    PUSHBUTTON "Annulla", IDCANCEL, 125, 24, 48, 14
END

IDD_ATTRIBUTES DIALOGEX 100, 100, 210, 120
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Attributi"
BEGIN
    EDITTEXT IDD_ATTRIBUTESEDIT1, 40, 40, 35, 12
    EDITTEXT IDD_ATTRIBUTESEDIT2, 110, 40, 35, 12
    LTEXT "Larghezza:", IDD_ATTRIBUTESTEXT1, 10, 40, 30, 10
    LTEXT "Altezza:", IDD_ATTRIBUTESTEXT2, 80, 40, 30, 10
    LTEXT "Ultimo salvataggio:", IDD_ATTRIBUTESTEXT3, 10, 5, 60, 10
    LTEXT "Dimensioni su disco:", IDD_ATTRIBUTESTEXT4, 10, 15, 60, 10
    LTEXT "Risoluzione:", IDD_ATTRIBUTESTEXT5, 10, 25, 60, 10
    LTEXT "Non disponibile", IDD_ATTRIBUTESTEXT6, 70, 5, 60, 10
    LTEXT "Non disponibile", IDD_ATTRIBUTESTEXT7, 70, 15, 60, 10
    LTEXT "Non disponibile", IDD_ATTRIBUTESTEXT8, 70, 25, 60, 10
    GROUPBOX "Unità di misura", IDD_ATTRIBUTESGROUP1, 6, 57, 139, 27
    AUTORADIOBUTTON "Pollici", IDD_ATTRIBUTESRB1, 12, 69, 35, 10, WS_GROUP
    AUTORADIOBUTTON "Cm", IDD_ATTRIBUTESRB2, 52, 69, 35, 10
    AUTORADIOBUTTON "Pixel", IDD_ATTRIBUTESRB3, 92, 69, 35, 10
    GROUPBOX "Colori", IDD_ATTRIBUTESGROUP2, 6, 88, 139, 27
    AUTORADIOBUTTON "Bianco e nero", IDD_ATTRIBUTESRB4, 12, 100, 70, 10, WS_GROUP
    AUTORADIOBUTTON "Colori", IDD_ATTRIBUTESRB5, 92, 100, 35, 10
    DEFPUSHBUTTON "OK", IDOK, 155, 8, 48, 14
    PUSHBUTTON "Annulla", IDCANCEL, 155, 24, 48, 14
    PUSHBUTTON "Predefiniti", IDD_ATTRIBUTESSTANDARD, 155, 40, 48, 14
END

IDD_CHANGESIZE DIALOGEX 100, 100, 210, 80
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Ridimensiona"
BEGIN
    GROUPBOX "Ridimensiona", IDD_CHANGESIZEGROUP, 6, 6, 142, 66
    ICON IDI_HORZSTRETCH, IDD_CHANGESIZEICON1, 12, 18
    LTEXT "Orizzontalmente:", IDD_CHANGESIZETEXT1, 45, 24, 40, 10
    EDITTEXT IDD_CHANGESIZEEDIT1, 90, 23, 32, 12
    LTEXT "%", IDD_CHANGESIZETEXT2, 125, 24, 15, 10
    ICON IDI_VERTSTRETCH, IDD_CHANGESIZEICON2, 12, 43
    LTEXT "Verticalmente:", IDD_CHANGESIZETEXT3, 45, 49, 40, 10
    EDITTEXT IDD_CHANGESIZEEDIT2, 90, 48, 32, 12
    LTEXT "%", IDD_CHANGESIZETEXT4, 125, 49, 15, 10
    DEFPUSHBUTTON "OK", IDOK, 155, 8, 48, 14
    PUSHBUTTON "Annulla", IDCANCEL, 155, 24, 48, 14
END

STRINGTABLE
BEGIN
    IDS_PROGRAMNAME, "Paint"
    IDS_WINDOWTITLE, "%s - Paint"
    IDS_INFOTITLE, "Paint for ReactOS"
    IDS_INFOTEXT, "Paint for ReactOS is available under the GNU Lesser General Public License (LGPL) version 3 (see www.gnu.org)"
    IDS_SAVEPROMPTTEXT, "Do you want to save the changes to %s?"
    IDS_DEFAULTFILENAME, "Unnamed.bmp"
    IDS_TOOLTIP1, "Free selection"
    IDS_TOOLTIP2, "Selection"
    IDS_TOOLTIP3, "Rubber"
    IDS_TOOLTIP4, "Fill with color"
    IDS_TOOLTIP5, "Select color"
    IDS_TOOLTIP6, "Zoom"
    IDS_TOOLTIP7, "Pencil"
    IDS_TOOLTIP8, "Brush"
    IDS_TOOLTIP9, "Airbrush"
    IDS_TOOLTIP10, "Text"
    IDS_TOOLTIP11, "Line"
    IDS_TOOLTIP12, "Bezier curve"
    IDS_TOOLTIP13, "Rectangle"
    IDS_TOOLTIP14, "Polygon"
    IDS_TOOLTIP15, "Ellipse"
    IDS_TOOLTIP16, "Rounded rectangle"
    IDS_OPENFILTER, "Bitmap files (*.bmp;*.dib)\1*.bmp;*.dib\1All files (*.*)\1*.*\1"
    IDS_SAVEFILTER, "24 bit bitmap (*.bmp;*.dib)\1*.bmp;*.dib\1"
END
