[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #%]

[%# INTERFACE:
  # product: Bugzilla::Product object; The product
  #
  # (classification fields available if Param('useclassification') is enabled:)
  #
  # classification: Bugzilla::Classification object; The classification 
  #                                                  the product is in
  #
  #%]

[% title = BLOCK %]Delete Product '[% product.name FILTER html %]'
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

[% IF classification %]
  [% classification_url_part = BLOCK %]&amp;classification=
    [%- classification.name FILTER url_quote %]
  [%- END %]
[% ELSE %]
  [% classification_url_part = "" %]
[% END %]

<table border="1" cellpadding="4" cellspacing="0">
  <tr bgcolor="#6666FF">
    <th valign="top" align="left">Field</th>
    <th valign="top" align="left">Value</th>
  </tr>

  [% IF Param('useclassification') %]
    <tr>
      <td>Classification:</td>
      <td>[% classification.name FILTER html %]</td>
    </tr>
    <tr>
      <td>Classification Description:</td>
      [%# descriptions are intentionally not filtered to allow html content %]
      <td>
        [% IF classification.description %]
          [% classification.description FILTER html_light %]
        [% ELSE %]
          <span style="color: red">missing</span>
        [% END %]
      </td>
    </tr>
  [% END %]

  <tr>
    <td valign="top">Product:</td>
    <td valign="top">
      <a href="editproducts.cgi?product=[% product.name FILTER url_quote %]
         [%- classification_url_part %]">
        [% product.name FILTER html %]
      </a>
    </td>
  </tr>
  <tr>
    <td valign="top">Description:</td>
    [%# descriptions are intentionally not filtered to allow html content %]
    <td valign="top">
      [% IF product.description %]
        [% product.description FILTER html_light %]
      [% ELSE %]
        <span style="color: red">missing</span>
      [% END %]
    </td>
  </tr>

  [% IF Param('usetargetmilestone') %]
    <tr>
      <td>Milestone URL:</td>
      <td>
        [% IF product.milestone_url %]
          <a href="[% product.milestone_url FILTER html %]">
            [%- product.milestone_url FILTER html %]
          </a>
        [% ELSE %]
          none
        [% END %]
      </td>
    </tr>
  [% END %]

  <tr>
    <td>Closed for [% terms.bugs %]:</td>
    <td>
      [% IF product.disallownew %]
        closed
      [% ELSE %]
        open
      [% END %]
    </td>
  </tr>

  <tr>
    <td>
      [% IF product.components.size > 0 %]
        <a href="editcomponents.cgi?product=[% product.name FILTER url_quote %]
           [%- classification_url_part %]"
           title="Edit components for product '[% product.name FILTER html %]'">
          Components:
        </a>
      [% ELSE %]
        Components:
      [% END %]
    </td>
    <td>
      [% IF product.components.size > 0 %]
        <table>
          [% FOREACH c = product.components %]
            <tr>
              <th align="right">[% c.name FILTER html %]:</th>
              [%# descriptions are intentionally not filtered to allow html content %]
              <td>
                [% IF c.description %]
                  [% c.description FILTER html_light %]
                [% ELSE %]
                  <span style="color: red">missing</span>
                [% END %]
              </td>
            </tr>
          [% END %]
        </table>
      [% ELSE %]
        none
      [% END %]
    </td>
  </tr>

  <tr>
    <td>
      [% IF product.versions.size > 0 %]
        <a href="editversions.cgi?product=[%- product.name FILTER url_quote %]
           [%- classification_url_part %]">
          Versions:
        </a>
      [% ELSE %]
        Versions:
      [% END %]
    </td>
    <td>
      [% IF product.versions.size > 0 %]
        [% FOREACH v = product.versions %]
          [% v.name FILTER html %]<br>
        [% END %]
      [% ELSE %]
        none
      [% END %]
    </td>
  </tr>


  [% IF Param('usetargetmilestone') %]
    <tr>
      <td valign="top">
        [% IF product.milestones.size > 0 %]
          <a href="editmilestones.cgi?product=[%- product.name FILTER url_quote %]
             [%- classification_url_part -%]">
            Milestones:
          </a>
        [% ELSE %]
          Milestones:
        [% END %]
      </td>
      <td>
        [% IF product.milestones.size > 0 %]
          [% FOREACH m = product.milestones %]
            [% m.name FILTER html %]<br>
          [% END %]
        [% ELSE %]
          none
        [% END %]
      </td>
    </tr>
  [% END %]

  <tr>
    <td>[% terms.Bugs %]:</td>
    <td>
      [% IF product.bug_count %]
        <a href="buglist.cgi?product=[%- product.name FILTER url_quote %]
           [%- classification_url_part %]"
           title="List of [% terms.bugs %] for product '
           [%- product.name FILTER html %]'">
          [% product.bug_count FILTER html %]
        </a>
      [% ELSE %]
        none
      [% END %]
    </td>
  </tr>
</table>

<h2>Confirmation</h2>

[% IF product.bug_count %]

  [% IF !Param("allowbugdeletion") %]

    <p>Sorry, there

    [% IF product.bug_count > 1 %]
      are [% product.bug_count FILTER html %] [%+ terms.bugs %]
    [% ELSE %]
      is 1 [% terms.bug %]
    [% END %]

    outstanding for this product. You must reassign

    [% IF product.bug_count > 1 %]
       those [% terms.bugs %]
    [% ELSE %]
       that [% terms.bug %]
    [% END %]

    to another product before you can delete this one.</p>

  [% ELSE %]

    <table border="0" cellpadding="20" width="70%" bgcolor="red">
      <tr>
        <td>
          There
          [% IF product.bug_count > 1 %]
            are [% product.bug_count FILTER html %] [%+ terms.bugs %]
          [% ELSE %]
            is 1 [% terms.bug %]
          [% END %]
          entered for this product!  When you delete this
          product, <b><blink>ALL</blink></b> stored [% terms.bugs %] and
          their history will be deleted, too.
        </td>
      </tr>
    </table>

  [% END %]

[% END %]

[% IF product.bug_count == 0 || Param('allowbugdeletion') %]

  <p>Do you really want to delete this product?</p>

  <form method="post" action="editproducts.cgi">
    <input type="submit" id="delete" value="Yes, delete">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="product" value="[% product.name FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
    <input type="hidden" name="classification"
           value="[% classification.name FILTER html %]">
  </form>

[% END %]

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
