[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Gabriel S. Oliveira <gabriel@async.com.br>
  #%]

[%# INTERFACE:
  # classification: Bugzilla::Classification object; If classifications
  #                         are enabled, then this is 
  #                         the currently selected classification
  #
  #%]

[% title = BLOCK %]Add Product[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

[% DEFAULT
  product.votesperuser = "0",
  product.maxvotesperbug  = "10000",
  product.votestoconfirm = "0",
  version = "unspecified",
  product.defaultmilestone = "---"
%]

<form method="post" action="editproducts.cgi">
  <table border="0" cellpadding="4" cellspacing="0">

    [% PROCESS "admin/products/edit-common.html.tmpl" %]

    <tr>
      <th align="right">Version:</th>
      <td><input size="64" maxlength="255" name="version" 
                value="[% version FILTER html %]">
      </td>
    </tr>
    <tr>
      <th align="right">Create chart datasets for this product:</th>
      <td><input type="checkbox" name="createseries" value="1"></td>
    </tr>
  </table>

  <input type="submit" value="Add">
  <input type="hidden" name="subcategory" value="-All-">
  <input type="hidden" name="open_name"   value="All Open">
  <input type="hidden" name="action" value="new">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="hidden" name="classification"
        value="[% classification.name FILTER html %]">
</form>

[% PROCESS "admin/products/footer.html.tmpl"
   no_add_product_link = 1 
   no_edit_product_link = 1 %]

[% PROCESS global/footer.html.tmpl %]
