[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #%]

[%# INTERFACE:
  # product: Bugzilla::Product Object; the product
  #
  # classification: Bugzilla::Classification object ; If classifications
  #                         are enabled, then this is the currently 
  #                         selected classification
  #
  # no_XXX_link: boolean; if defined, then don't show the corresponding
  #                       link. Supported parameters are:
  #
  # no_edit_product_link
  # no_edit_other_products_link
  # no_add_product_link
  #%]

[% IF Param('useclassification') && classification %]
  [% classification_url_part = BLOCK %]&amp;classification=
     [%- classification.name FILTER url_quote %]
  [% END %]
  [% classification_url_part_start = BLOCK %]classification=
     [%- classification.name FILTER url_quote %]
  [% END %]
  [% classification_text = BLOCK %] 
    of classification '[% classification.name FILTER html %]'
  [% END %]
[% END %]

<hr>

<p>
[% UNLESS no_add_product_link || !user.in_group("editcomponents") %]
  <a title="Add a product"
     href="editproducts.cgi?action=add">Add</a> a product[% -%]
[%# Strictly speaking, we should not have to check for a
    classification if they are enabled, but I'm just being paranoid %]
  [% IF Param('useclassification') && classification %]
    (<a title="Add a product to classification '
               [%- classification.name FILTER html %]'"
         href="editproducts.cgi?action=add
               [%- classification_url_part %]">to
     classification '[% classification.name FILTER html %]'</a>)
  [% END %].
[% END %]

[% IF product && !no_edit_product_link %]
  Edit product <a 
  title="Edit Product '[% product.name FILTER html %]' 
         [%- classification_text %]"
  href="editproducts.cgi?action=edit&amp;product=
        [%- product.name FILTER url_quote %]
        [%- classification_url_part %]">
        '[% product.name FILTER html %]'</a>.
[% END %]


[%# Edit other products (in a classification if specified): %]
[% UNLESS no_edit_other_products_link %]
  Edit <a 
  href="editproducts.cgi?
        [%- classification_url_part_start FILTER none %]">other products
          [% classification_text %]</a>.

[% END %]

[% IF Param('useclassification') && classification %]
  Edit classification <a href="editclassifications.cgi?action=edit
    [%- classification_url_part %]">'
    [%- classification.name FILTER html %]'</a>.

[% END %]

</p>
