/*
 * PROJECT:     NOTEPAD for ReactOS
 * LICENSE:     GPL-2.0+ (https://spdx.org/licenses/GPL-2.0+)
 * FILE:        base/applications/notepad/lang/et-EE.rc
 * PURPOSE:     Estonian Language resource file
 * TRANSLATOR:  Joann Mõndresku (joannmondresku at gmail dot com)
 */

LANGUAGE LANG_ESTONIAN, SUBLANG_DEFAULT

ID_ACCEL ACCELERATORS
BEGIN
    "^A", CMD_SELECT_ALL
    "^C", CMD_COPY
    "^F", CMD_SEARCH
    "^G", CMD_GOTO
    "H", CMD_REPLACE, VIRTKEY, CONTROL
    "^N", CMD_NEW
    "N", CMD_NEW_WINDOW, VIRTKEY,CONTROL , SHIFT
    "^O", CMD_OPEN
    "^P", CMD_PRINT
    "^S", CMD_SAVE
    "^V", CMD_PASTE
    "^X", CMD_CUT
    "^Z", CMD_UNDO
    VK_F3, CMD_SEARCH_NEXT, VIRTKEY
    VK_F5, CMD_TIME_DATE, VIRTKEY
END

MAIN_MENU MENU
BEGIN
    POPUP "&Fail"
    BEGIN
        MENUITEM "&Uus\tCtrl+N", CMD_NEW
        MENUITEM "&New Window\tCtrl+Shift+N", CMD_NEW_WINDOW
        MENUITEM "&Ava...\tCtrl+O", CMD_OPEN
        MENUITEM "&Salvesta\tCtrl+S", CMD_SAVE
        MENUITEM "Salvesta &nimega...", CMD_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "Lehe ülese&hitus...", CMD_PAGE_SETUP
        MENUITEM "&Prindi...\tCtrl+P", CMD_PRINT
        MENUITEM SEPARATOR
        MENUITEM "&Välju", CMD_EXIT
    END
    POPUP "&Redigeeri"
    BEGIN
        MENUITEM "&Võta tagasi\tCtrl+Z", CMD_UNDO
        MENUITEM SEPARATOR
        MENUITEM "&Lõika\tCtrl+X", CMD_CUT
        MENUITEM "&Kopeeri\tCtrl+C", CMD_COPY
        MENUITEM "Kl&eebi\tCtrl+V", CMD_PASTE
        MENUITEM "Kus&tuta\tDel", CMD_DELETE
        MENUITEM SEPARATOR
        MENUITEM "L&eia...\tCtrl+F", CMD_SEARCH
        MENUITEM "Leia &järgmine\tF3", CMD_SEARCH_NEXT
        MENUITEM "Asen&da...\tCtrl+H", CMD_REPLACE
        MENUITEM "&Mine...\tCtrl+G", CMD_GOTO
        MENUITEM SEPARATOR
        MENUITEM "Vali kõ&ik\tCtrl+A", CMD_SELECT_ALL
        MENUITEM "Aeg/Ku&upäev\tF5", CMD_TIME_DATE
    END
    POPUP "F&ormaat"
    BEGIN
        MENUITEM "&Sõna mähkimine", CMD_WRAP
        MENUITEM "&Font...", CMD_FONT
    END
    POPUP "&Vaade"
    BEGIN
        MENUITEM "&Olekuriba", CMD_STATUSBAR
    END
    POPUP "&Abi"
    BEGIN
        MENUITEM "&Vaata abi", CMD_HELP_CONTENTS
        MENUITEM SEPARATOR
        MENUITEM "&About Notepad", CMD_HELP_ABOUT_NOTEPAD
    END
END

/* Dialog 'Page setup' */
DIALOG_PAGESETUP DIALOGEX 0, 0, 365, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU | DS_CONTEXTHELP
FONT 8, "MS Shell Dlg"
CAPTION "Lehe ülesehitus"
BEGIN
    GROUPBOX "Eelvaade", 0, 240, 6, 120, 153, BS_GROUPBOX
    CONTROL "", rct1, "Static", SS_WHITERECT, 260, 42, 80, 80
    CONTROL "", rct2, "Static", SS_GRAYRECT, 340, 46, 4, 80
    CONTROL "", rct3, "Static", SS_GRAYRECT, 264, 122, 80, 4
    GROUPBOX "Paber", grp2, 8, 6, 224, 56, BS_GROUPBOX
    LTEXT "&Suurus:", stc2, 16, 22, 36, 8
    COMBOBOX cmb2, 64, 20, 160, 160, CBS_SIMPLE | CBS_DROPDOWN | CBS_SORT | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT "&Salv:", stc3, 16, 42, 36, 8
    COMBOBOX cmb3, 64, 40, 160, 160, CBS_SIMPLE | CBS_DROPDOWN | CBS_SORT | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    GROUPBOX "Orientatsioon", grp1, 8, 66, 64, 56, BS_GROUPBOX
    AUTORADIOBUTTON "&Portree", rad1, 16, 80, 52, 12, BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "&Maastik", rad2, 16, 100, 52, 12, BS_AUTORADIOBUTTON
    GROUPBOX "Ääred", grp4, 80, 66, 152, 56, BS_GROUPBOX
    LTEXT "&Vasakult:", stc15, 88, 82, 30, 8
    EDITTEXT edt4, 119, 80, 36, 12, WS_TABSTOP | WS_GROUP | WS_BORDER
    LTEXT "&Paremalt:", stc16, 159, 82, 30, 8
    EDITTEXT edt6, 190, 80, 36, 12, WS_TABSTOP | WS_GROUP | WS_BORDER
    LTEXT "&Ülevalt:", stc17, 88, 102, 30, 8
    EDITTEXT edt5, 119, 100, 36, 12, WS_TABSTOP | WS_GROUP | WS_BORDER
    LTEXT "&Alt:", stc18, 159, 102, 30, 8
    EDITTEXT edt7, 190, 100, 36, 12, WS_TABSTOP | WS_GROUP | WS_BORDER
    LTEXT "&Päis:", 0x140, 8, 132, 40, 15
    EDITTEXT 0x141, 58, 130, 173, 12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "&Jalus:", 0x142, 8, 149, 40, 15
    EDITTEXT 0x143, 58, 147, 173, 12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    PUSHBUTTON "Abi", IDHELP, 8, 170, 50, 14
    DEFPUSHBUTTON "OK", IDOK, 198, 170, 50, 14, BS_PUSHBUTTON
    PUSHBUTTON "Loobu", IDCANCEL, 254, 170, 50, 14
    PUSHBUTTON "P&rinter...", psh3, 310, 170, 50, 14
END

/* Dialog 'Encoding' */
DIALOG_ENCODING DIALOGEX 0, 0, 256, 44
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Kodeering"
BEGIN
    COMBOBOX ID_ENCODING, 124, 0, 125, 80, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT "Kodeering:", 0x155, 65, 2, 41, 12
    COMBOBOX ID_EOLN, 124, 18, 125, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Endlines:", 0x156, 65, 20, 41, 12
END

/* Dialog 'Go To' */
DIALOG_GOTO DIALOGEX 0, 0, 165, 50
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Mine reale"
BEGIN
    EDITTEXT ID_LINENUMBER, 54, 10, 106, 12, WS_CHILD | WS_BORDER | WS_TABSTOP
    LTEXT "Rea number:", 0x155, 5, 12, 41, 12, WS_CHILD | WS_TABSTOP | ES_NUMBER
    DEFPUSHBUTTON "OK", IDOK, 75, 30, 40, 15, WS_CHILD | WS_TABSTOP
    PUSHBUTTON "Loobu", IDCANCEL, 120, 30, 40, 15, WS_CHILD | WS_TABSTOP
END

STRINGTABLE
BEGIN
    STRING_PAGESETUP_HEADERVALUE "&n" /* FIXME */
    STRING_PAGESETUP_FOOTERVALUE "Lk &s" /* FIXME */
    STRING_PAGESETUP_LEFTVALUE "20 mm" /* FIXME */
    STRING_PAGESETUP_RIGHTVALUE "20 mm" /* FIXME */
    STRING_PAGESETUP_TOPVALUE "25 mm" /* FIXME */
    STRING_PAGESETUP_BOTTOMVALUE "25 mm" /* FIXME */
    STRING_NOTEPAD "Notepad"
    STRING_ERROR "TÕRGE"
    STRING_WARNING "HOIATUS"
    STRING_INFO "Informatsioon"
    STRING_UNTITLED "Nimetu"
    STRING_ALL_FILES "Kõik failid (*.*)"
    STRING_TEXT_FILES_TXT "Tekstifailid (*.txt)"
    STRING_TOOLARGE "Fail '%s' on liiga suur Notepad'i jaoks.\n\
Palun kasuta erinevat redigeerijat."
    STRING_NOTEXT "Sa ei sisestanud midagi. \
\nPalun kirjuta midagi ja proovi uuesti."
    STRING_DOESNOTEXIST "Faili '%s'\nei ole olemas\n\n\
Kas soovid uut faili koostada ?"
    STRING_NOTSAVED "Faili '%s'\non redigeeritud\n\n\
Kas soovid muudatused salvestada ?"
    STRING_NOTFOUND "'%s' ei suudetud leida."
    STRING_OUT_OF_MEMORY "Pole piisavalt mälu selle \
käsu lõpetamiseks.\nSulge üks või enam rakendust, et suurendada\nvaba mälu hulka."
    STRING_CANNOTFIND "Ei suuda leida '%s'"
    STRING_ANSI "ANSI"
    STRING_UNICODE "Unicode"
    STRING_UNICODE_BE "Unicode (big endian)"
    STRING_UTF8 "UTF-8"
    STRING_CRLF "Windows (CR + LF)"
    STRING_LF "Unix (LF)"
    STRING_CR "Mac (CR)"
    STRING_LINE_COLUMN "Rida %d, veerg %d"
    STRING_PRINTERROR "Ei suuda printida faili '%s'.\n\nVeendu et printer on sisse lülitatud ja korralikult sättestatud."

    STRING_TEXT_DOCUMENT "Tekstidokument"
    STRING_NOTEPAD_AUTHORS "Autoriõigus 1997,98 Marcel Baur, 2000 Mike McCormack, 2002 Sylvain Petreolle, 2002 Andriy Palamarchuk\r\n"
END
