LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

ID_ACCEL ACCELERATORS
BEGIN
    "^A", CMD_SELECT_ALL
    "^C", CMD_COPY
    "^F", CMD_SEARCH
    "^G", CMD_GOTO
    "H", CMD_REPLACE, VIRTKEY, CONTROL
    "^N", CMD_NEW
    "N", CMD_NEW_WINDOW, VIRTKEY,CONTROL , SHIFT
    "^O", CMD_OPEN
    "^P", CMD_PRINT
    "^S", CMD_SAVE
    "^V", CMD_PASTE
    "^X", CMD_CUT
    "^Z", CMD_UNDO
    VK_F3, CMD_SEARCH_NEXT, VIRTKEY
    VK_F5, CMD_TIME_DATE, VIRTKEY
END

MAIN_MENU MENU
BEGIN
    POPUP "&Файл"
    BEGIN
        MENUITEM "&Створити\tCtrl+N", CMD_NEW
        MENUITEM "New &Window\tCtrl+Shift+N", CMD_NEW_WINDOW
        MENUITEM "&Відкрити...\tCtrl+O", CMD_OPEN
        MENUITEM "&Зберегти\tCtrl+S", CMD_SAVE
        MENUITEM "Зберегти &як...", CMD_SAVE_AS
        MENUITEM SEPARATOR
        MENUITEM "Пара&метри сторінки...", CMD_PAGE_SETUP
        MENUITEM "Д&рук...\tCtrl+P", CMD_PRINT
        MENUITEM SEPARATOR
        MENUITEM "В&ихід", CMD_EXIT
    END
    POPUP "&Редагування"
    BEGIN
        MENUITEM "С&касувати\tCtrl+Z", CMD_UNDO
        MENUITEM SEPARATOR
        MENUITEM "Вир&ізати\tCtrl+X", CMD_CUT
        MENUITEM "Копі&ювати\tCtrl+C", CMD_COPY
        MENUITEM "Вс&тавити\tCtrl+V", CMD_PASTE
        MENUITEM "Ви&далити\tDel", CMD_DELETE
        MENUITEM SEPARATOR
        MENUITEM "З&найти...\tCtrl+F", CMD_SEARCH
        MENUITEM "Зна&йти далі\tF3", CMD_SEARCH_NEXT
        MENUITEM "Зам&інити...\tCtrl+H", CMD_REPLACE
        MENUITEM "П&ерейти...\tCtrl+G", CMD_GOTO
        MENUITEM SEPARATOR
        MENUITEM "Виді&лити все\tCtrl+A", CMD_SELECT_ALL
        MENUITEM "Дата й &час\tF5", CMD_TIME_DATE
    END
    POPUP "Ф&ормат"
    BEGIN
        MENUITEM "Перенос по слова&х", CMD_WRAP
        MENUITEM "&Шрифт...", CMD_FONT
    END
    POPUP "Ви&гляд"
    BEGIN
        MENUITEM "Ряд&ок стан&у", CMD_STATUSBAR
    END
    POPUP "Дов&ідка"
    BEGIN
        MENUITEM "Змі&ст", CMD_HELP_CONTENTS
        MENUITEM SEPARATOR
        MENUITEM "&Про Блокнот", CMD_HELP_ABOUT_NOTEPAD
    END
END

/* Dialog 'Page setup' */
DIALOG_PAGESETUP DIALOGEX 0, 0, 365, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU | DS_CONTEXTHELP
FONT 8, "MS Shell Dlg"
CAPTION "Налаштування сторінки"
BEGIN
    GROUPBOX "Перегляд", 0, 240, 6, 120, 153, BS_GROUPBOX
    CONTROL "", rct1, "Static", SS_WHITERECT, 260, 42, 80, 80
    CONTROL "", rct2, "Static", SS_GRAYRECT, 340, 46, 4, 80
    CONTROL "", rct3, "Static", SS_GRAYRECT, 264, 122, 80, 4
    GROUPBOX "Папір", grp2, 8, 6, 224, 56, BS_GROUPBOX
    LTEXT "&Розмір:", stc2, 16, 22, 36, 8
    COMBOBOX cmb2, 64, 20, 160, 160, CBS_SIMPLE | CBS_DROPDOWN | CBS_SORT | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    LTEXT "&Подача:", stc3, 16, 42, 36, 8
    COMBOBOX cmb3, 64, 40, 160, 160, CBS_SIMPLE | CBS_DROPDOWN | CBS_SORT | WS_GROUP | WS_TABSTOP | WS_VSCROLL
    GROUPBOX "Орієнтація", grp1, 8, 66, 64, 56, BS_GROUPBOX
    AUTORADIOBUTTON "&Книжкова", rad1, 16, 80, 52, 12, BS_AUTORADIOBUTTON
    AUTORADIOBUTTON "П&ортретна", rad2, 16, 100, 52, 12, BS_AUTORADIOBUTTON
    GROUPBOX "Поля", grp4, 80, 66, 152, 56, BS_GROUPBOX
    LTEXT "&Ліве:", stc15, 88, 82, 30, 8
    EDITTEXT edt4, 119, 80, 36, 12, WS_TABSTOP | WS_GROUP | WS_BORDER
    LTEXT "Пр&аве:", stc16, 159, 82, 30, 8
    EDITTEXT edt6, 190, 80, 36, 12, WS_TABSTOP | WS_GROUP | WS_BORDER
    LTEXT "&Верхнє:", stc17, 88, 102, 30, 8
    EDITTEXT edt5, 119, 100, 36, 12, WS_TABSTOP | WS_GROUP | WS_BORDER
    LTEXT "&Нижнє:", stc18, 159, 102, 30, 8
    EDITTEXT edt7, 190, 100, 36, 12, WS_TABSTOP | WS_GROUP | WS_BORDER
    LTEXT "Вер&хній колонтитул:", 0x140, 8, 132, 40, 15
    EDITTEXT 0x141, 58, 130, 173, 12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "Н&ижній колонтитул:", 0x142, 8, 149, 40, 15
    EDITTEXT 0x143, 58, 147, 173, 12, WS_BORDER | WS_TABSTOP | ES_AUTOHSCROLL
    PUSHBUTTON "Допомога", IDHELP, 8, 170, 50, 14
    DEFPUSHBUTTON "OK", IDOK, 198, 170, 50, 14, BS_PUSHBUTTON
    PUSHBUTTON "Скасувати", IDCANCEL, 254, 170, 50, 14
    PUSHBUTTON "Прин&тер...", psh3, 310, 170, 50, 14
END

/* Dialog 'Encoding' */
DIALOG_ENCODING DIALOGEX 0, 0, 256, 44
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPSIBLINGS | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Кодування"
BEGIN
    COMBOBOX ID_ENCODING, 124, 0, 125, 80, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT "Кодування:", 0x155, 65, 2, 41, 12
    COMBOBOX ID_EOLN, 124, 18, 125, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Кінець рядка:", 0x156, 65, 20, 47, 12
END

/* Dialog 'Go To' */
DIALOG_GOTO DIALOGEX 0, 0, 165, 50
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Перехід до рядка"
BEGIN
    EDITTEXT ID_LINENUMBER, 54, 10, 106, 12, WS_CHILD | WS_BORDER | WS_TABSTOP
    LTEXT "Номер рядка:", 0x155, 5, 12, 41, 12, WS_CHILD | WS_TABSTOP | ES_NUMBER
    DEFPUSHBUTTON "OK", IDOK, 75, 30, 40, 15, WS_CHILD | WS_TABSTOP
    PUSHBUTTON "Скасувати", IDCANCEL, 120, 30, 40, 15, WS_CHILD | WS_TABSTOP
END

STRINGTABLE
BEGIN
    STRING_PAGESETUP_HEADERVALUE "&n" /* FIXME */
    STRING_PAGESETUP_FOOTERVALUE "Сторінка &s" /* FIXME */
    STRING_PAGESETUP_LEFTVALUE "20 мм" /* FIXME */
    STRING_PAGESETUP_RIGHTVALUE "20 мм" /* FIXME */
    STRING_PAGESETUP_TOPVALUE "25 мм" /* FIXME */
    STRING_PAGESETUP_BOTTOMVALUE "25 мм" /* FIXME */
    STRING_NOTEPAD "Блокнот"
    STRING_ERROR "ПОМИЛКА"
    STRING_WARNING "УВАГА"
    STRING_INFO "Інформація"
    STRING_UNTITLED "Без заголовка"
    STRING_ALL_FILES "Усі файли (*.*)"
    STRING_TEXT_FILES_TXT "Текстові файли (*.txt)"
    STRING_TOOLARGE "Файл '%s' завеликий для блокнота.\n\
Будь ласка, використайте інший редактор."
    STRING_NOTEXT "Ви не ввели ніякого тексту. \
\nБудь ласка, введіть що-небудь і спробуйте ще раз"
    STRING_DOESNOTEXIST "Файл '%s'\nне існує\n\n\
Хочете створити новий файл?"
    STRING_NOTSAVED "Файл '%s'\nбув змінений\n\n\
Хочете зберегти зміни?"
    STRING_NOTFOUND "'%s' не знайдено."
    STRING_OUT_OF_MEMORY "Недостатньо пам'яті для виконання операції.\
\nЗакрийте один або декілька додатків і повторіть спробу."
    STRING_CANNOTFIND "Неможливо знайти '%s'"
    STRING_ANSI "ANSI"
    STRING_UNICODE "Юнікод"
    STRING_UNICODE_BE "Юнікод (big endian)"
    STRING_UTF8 "UTF-8"
    STRING_CRLF "Windows (CR + LF)"
    STRING_LF "Unix (LF)"
    STRING_CR "Mac (CR)"
    STRING_LINE_COLUMN "Рядок %d, стовпчик %d"
    STRING_PRINTERROR "Неможливо розпечатати файл '%s'.\n\nПереконайтесь, що принтер ввімкнено, та налаштовано."

    STRING_TEXT_DOCUMENT "Текстовий документ"
    STRING_NOTEPAD_AUTHORS "Copyright 1997,98 Marcel Baur, 2000 Mike McCormack, 2002 Sylvain Petreolle, 2002 Andriy Palamarchuk\r\n"
END
