LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_APPTITLE "ReactOS-Bild- und Faxansicht"
    IDS_SETASDESKBG "Als Desktophintergrund setzen"
    IDS_NOPREVIEW "No preview available."
    IDS_PREVIEW "Vorschau"
    /* Tooltips */
    IDS_TOOLTIP_PREV "Vorheriges Bild"
    IDS_TOOLTIP_NEXT "Nächstes Bild"
    IDS_TOOLTIP_BEST_FIT "Best fit to window (Ctrl+B)"
    IDS_TOOLTIP_REAL_SIZE "Actual size (Ctrl+A)"
    IDS_TOOLTIP_SLIDE_SHOW "Start slideshow (F11)"
    IDS_TOOLTIP_ZOOMP "Vergrößern (+)"
    IDS_TOOLTIP_ZOOMM "Verkleinern (-)"
    IDS_TOOLTIP_ROT1 "Drehen im Uhrzeigersinn (Strg+K)"
    IDS_TOOLTIP_ROT2 "Drehen gegen den Uhrzeigersinn (Strg+L)"
    IDS_TOOLTIP_DELETE "Delete (DEL)"
    IDS_TOOLTIP_PRINT "Drucken (Strg+P)"
    IDS_TOOLTIP_SAVEAS "Speichern unter... (Strg+S)"
    IDS_TOOLTIP_MODIFY "Modify (Ctrl+E)"
    IDS_TOOLTIP_HELP_TOC "Help topics (F1)"
END

STRINGTABLE
BEGIN
    IDS_EMF_FILE    "EMF-Bilddatei"
    IDS_GIF_FILE    "GIF-Bilddatei"
    IDS_JPG_FILE    "JPEG-Bilddatei"
    IDS_BMP_FILE    "Bitmap-Bilddatei"
    IDS_PNG_FILE    "PNG-Bilddatei"
    IDS_TIF_FILE    "TIF-Bilddatei"
    IDS_WMF_FILE    "WMF-Bilddatei"
END
