LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

IDD_MAIN_DIALOG DIALOGEX 0, 0, 478, 280
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP |
      WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU
CAPTION "Средство диагностики ReactX"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Tab1", IDC_TAB_CONTROL, "SysTabControl32", WS_TABSTOP, 2, 2, 474, 250
    PUSHBUTTON "&Справка", IDC_BUTTON_HELP, 2, 260, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED
    DEFPUSHBUTTON "&Следующая страница", IDC_BUTTON_NEXT, 237, 260, 70, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "С&охранить всю информацию...", IDC_BUTTON_SAVE_INFO, 311, 260, 110, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED
    PUSHBUTTON "&Выход", IDC_BUTTON_EXIT, 425, 260, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

IDD_SYSTEM_DIALOG DIALOGEX 0, 0, 462, 220
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Данная программа позволяет получить подробные сведения об установленных компонентах и драйверах ReactX.", IDC_STATIC, 5, 0, 443, 17
    LTEXT "Если известна возможная причина неполадки, можно сразу выбрать соответствующую вкладку. В противном случае используйте кнопку ""Следующая страница"" для последовательного просмотра страниц.", IDC_STATIC, 5, 15, 443, 25
    GROUPBOX "Сведения о системе", IDC_STATIC, 5, 35, 452, 150, SS_RIGHT
    LTEXT "Текущие время и дата:", IDC_STATIC, 70, 50, 80, 10, SS_RIGHT
    LTEXT "Имя компьютера:", IDC_STATIC, 70, 60, 80, 10, SS_RIGHT
    LTEXT "Операционная система:", IDC_STATIC, 70, 70, 80, 10, SS_RIGHT
    LTEXT "Язык:", IDC_STATIC, 70, 80, 80, 10, SS_RIGHT
    LTEXT "Изготовитель компьютера:", IDC_STATIC, 70, 90, 80, 10, SS_RIGHT
    LTEXT "Модель компьютера:", IDC_STATIC, 70, 100, 80, 10, SS_RIGHT
    LTEXT "BIOS:", IDC_STATIC, 70, 110, 80, 10, SS_RIGHT
    LTEXT "Процессор:", IDC_STATIC, 70, 120, 80, 10, SS_RIGHT
    LTEXT "Память:", IDC_STATIC, 70, 130, 80, 10, SS_RIGHT
    LTEXT "Файл подкачки:", IDC_STATIC, 70, 140, 80, 10, SS_RIGHT
    LTEXT "Версия ReactX:", IDC_STATIC, 70, 150, 80, 10, SS_RIGHT
    EDITTEXT IDC_STATIC_TIME, 155, 50, 210, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_COMPUTER, 155, 60, 210, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_OS, 155, 70, 210, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_LANG, 155, 80, 210, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_MANU, 155, 90, 210, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_MODEL, 155, 100, 210, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_BIOS, 155, 110, 210, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_PROC, 155, 120, 210, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_MEM, 155, 130, 210, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_SWAP, 155, 140, 220, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_VERSION, 155, 150, 215, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    CHECKBOX "Проверить цифровые подписи WHQL", IDC_WHQL_SIGN_CHECK, 15, 170, 135, 10, WS_DISABLED
END

IDD_DISPLAY_DIALOG DIALOGEX 0, 0, 462, 220
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Устройство", IDC_STATIC, 5, 0, 250, 95
    RTEXT "Имя:", IDC_STATIC, 20, 10, 70, 10
    RTEXT "Изготовитель:", IDC_STATIC, 20, 20, 70, 10
    RTEXT "Тип микросхем:", IDC_STATIC, 20, 30, 70, 10
    RTEXT "Тип ЦАП:", IDC_STATIC, 7, 40, 80, 10
    RTEXT "Всего памяти:", IDC_STATIC, 20, 50, 70, 10
    RTEXT "Режим экрана:", IDC_STATIC, 20, 60, 70, 10
    RTEXT "Монитор:", IDC_STATIC, 20, 70, 70, 10
    EDITTEXT IDC_STATIC_ADAPTER_ID, 95, 10, 150, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_ADAPTER_VENDOR, 95, 20, 150, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_ADAPTER_CHIP, 95, 30, 150, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_ADAPTER_DAC, 95, 40, 150, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_ADAPTER_MEM, 95, 50, 150, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_ADAPTER_MODE, 95, 60, 150, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_ADAPTER_MONITOR, 95, 70, 150, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    GROUPBOX "Драйверы", IDC_STATIC, 260, 0, 197, 95
    RTEXT "Главный:", IDC_STATIC, 275, 10, 55, 10
    RTEXT "Версия:", IDC_STATIC, 275, 20, 55, 10
    RTEXT "Дата:", IDC_STATIC, 275, 30, 55, 10
    RTEXT "Подпись:", IDC_STATIC, 275, 40, 55, 10
    RTEXT "Мини-VDD:", IDC_STATIC, 275, 50, 55, 10
    RTEXT "VDD:", IDC_STATIC, 275, 60, 55, 10
    RTEXT "Версия DDI:", IDC_STATIC, 275, 70, 55, 10
    EDITTEXT IDC_STATIC_ADAPTER_DRIVER, 335, 10, 100, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_ADAPTER_VERSION, 335, 20, 100, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_ADAPTER_DATE, 335, 30, 100, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_ADAPTER_LOGO, 335, 40, 100, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_ADAPTER_MINIVDD, 335, 50, 100, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_ADAPTER_VDD, 335, 60, 100, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_ADAPTER_DDI, 335, 70, 100, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    GROUPBOX "Возможности ReactX", IDC_STATIC, 5, 97, 452, 70
    RTEXT "Ускорение DirectDraw:", IDC_STATIC, 15, 115, 110, 12
    RTEXT "Ускорение Direct3D:", IDC_STATIC, 15, 130, 110, 12
    RTEXT "Ускорение текстур AGP:", IDC_STATIC, 15, 145, 110, 12
    LTEXT "", IDC_STATIC_DDSTATE, 130, 115, 40, 10
    LTEXT "", IDC_STATIC_D3DSTATE, 130, 130, 40, 10
    LTEXT "", IDC_STATIC_AGPSTATE, 130, 145, 40, 10
    PUSHBUTTON "Включить", IDC_BUTTON_DDRAW, 170, 112, 60, 14, WS_DISABLED
    PUSHBUTTON "Включить", IDC_BUTTON_D3D, 170, 128, 60, 14, WS_DISABLED
    PUSHBUTTON "Включить", IDC_BUTTON_AGP, 170, 144, 60, 14, WS_DISABLED
    PUSHBUTTON "Проверка DirectDraw", IDC_BUTTON_TESTDD, 250, 112, 80, 14
    PUSHBUTTON "Проверка Direct3D", IDC_BUTTON_TEST3D, 250, 128, 80, 14
    GROUPBOX "Примечания", IDC_STATIC, 5, 170, 452, 50
    EDITTEXT IDC_TEXT_INFO, 15, 182, 432, 30, ES_LEFT | WS_BORDER | ES_READONLY | WS_TABSTOP
END

IDD_SOUND_DIALOG DIALOGEX 0, 0, 462, 220
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Устройство", IDC_STATIC, 5, 0, 250, 95
    RTEXT "Имя:", IDC_STATIC, 20, 10, 70, 10
    RTEXT "Код оборудования:", IDC_STATIC, 20, 20, 70, 10
    RTEXT "Код изготовителя:", IDC_STATIC, 20, 30, 70, 10
    RTEXT "Код продукта:", IDC_STATIC, 20, 40, 70, 10
    RTEXT "Тип:", IDC_STATIC, 20, 50, 70, 10
    RTEXT "По умолчанию:", IDC_STATIC, 20, 60, 70, 10
    EDITTEXT IDC_STATIC_DSOUND_NAME, 95, 10, 150, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_DSOUND_DEVICEID, 95, 20, 150, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_DSOUND_VENDORID, 95, 30, 150, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_DSOUND_PRODUCTID, 95, 40, 150, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_DSOUND_TYPE, 95, 50, 150, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_DSOUND_STANDARD, 95, 60, 150, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    GROUPBOX "Драйверы", IDC_STATIC, 260, 0, 197, 95
    RTEXT "Имя:", IDC_STATIC, 275, 10, 55, 10
    RTEXT "Версия:", IDC_STATIC, 275, 20, 55, 10
    RTEXT "Дата:", IDC_STATIC, 275, 30, 55, 10
    RTEXT "Подпись:", IDC_STATIC, 275, 40, 55, 10
    RTEXT "Другие файлы:", IDC_STATIC, 275, 50, 55, 10
    RTEXT "Поставщик:", IDC_STATIC, 275, 60, 55, 10
    EDITTEXT IDC_STATIC_DSOUND_DRIVER, 335, 10, 100, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_DSOUND_VERSION, 335, 20, 100, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_DSOUND_DATE, 335, 30, 100, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_DSOUND_LOGO, 335, 40, 100, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_DSOUND_FILES, 335, 50, 100, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    EDITTEXT IDC_STATIC_ADAPTER_PROVIDER, 335, 60, 100, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    GROUPBOX "Возможности ReactX", IDC_STATIC, 5, 97, 452, 70
    CONTROL "", IDC_SLIDER_DSOUND, "msctls_trackbar32", TBS_BOTTOM | TBS_AUTOTICKS | WS_TABSTOP, 110, 125, 80, 17
    RTEXT "Уровень аппаратного\nускорения", IDC_STATIC, 10, 125, 90, 20, WS_DISABLED
    PUSHBUTTON "Проверка DirectSound", IDC_BUTTON_TESTDSOUND, 270, 125, 80, 14, WS_DISABLED
    GROUPBOX "Примечания", IDC_STATIC, 5, 170, 452, 50
    EDITTEXT IDC_TEXT_DSOUNDINFO, 15, 182, 432, 30, ES_LEFT | WS_BORDER | ES_READONLY | WS_TABSTOP
END

IDD_MUSIC_DIALOG DIALOGEX 0, 0, 462, 220
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    RTEXT "General MIDI DLS Collection:", IDC_STATIC, 0, 0, 100, 10
    EDITTEXT IDC_MIDI_DLS_COLLECTION, 105, 0, 250, 10, ES_LEFT | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP | ES_AUTOHSCROLL
    GROUPBOX "Звуковые порты", IDC_STATIC, 5, 10, 452, 85
    GROUPBOX "Возможности ReactX", IDC_STATIC, 5, 97, 452, 70
    LTEXT "Default Port Acceleration:", IDC_STATIC, 15, 120, 95, 17
    LTEXT "", IDC_STATIC_DEFAULT_PORT_ACCELERATION, 115, 120, 50, 10
    PUSHBUTTON "Выключить", IDC_BUTTON_DISABLEDMUSIC, 75, 135, 80, 14, WS_DISABLED
    LTEXT "Проверить с использованием этого порта:", IDC_STATIC, 180, 105, 100, 10
    LISTBOX IDC_DMUSIC_TEST_LIST, 180, 115, 180, 45, LBS_NOINTEGRALHEIGHT | LBS_EXTENDEDSEL | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "Проверить DirectMusic", IDC_BUTTON_TESTDMUSIC, 370, 145, 80, 14, WS_DISABLED
    GROUPBOX "Примечания", IDC_STATIC, 5, 170, 452, 50
    EDITTEXT IDC_MUSIC_NOTES, 15, 182, 432, 30, ES_LEFT | WS_BORDER | ES_READONLY | WS_TABSTOP
END

IDD_INPUT_DIALOG DIALOGEX 0, 0, 462, 220
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Устройства DirectInput", IDC_STATIC, 5, 0, 452, 85
    CONTROL "", IDC_LIST_DEVICE, "SysListView32", LVS_REPORT | WS_CHILD | WS_BORDER | WS_TABSTOP, 15, 12, 432, 65
    GROUPBOX "Устройства ввода", IDC_STATIC, 5, 87, 452, 81
    CONTROL "", IDC_TREE_PORT, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | TVS_SHOWSELALWAYS |
            WS_VISIBLE | WS_BORDER | WS_TABSTOP, 15, 99, 432, 60, 0x00000200
    GROUPBOX "Примечания", IDC_STATIC, 5, 170, 452, 50
    EDITTEXT IDC_RICH_INFO, 15, 182, 432, 30, ES_LEFT | WS_BORDER | ES_READONLY | WS_TABSTOP
END

IDD_NETWORK_DIALOG DIALOGEX 0, 0, 462, 220
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Зарегистрированные поставщики DirectPlay", IDC_STATIC, 5, 0, 452, 75
    CONTROL "", IDC_LIST_PROVIDER, "SysListView32", LVS_REPORT | WS_CHILD | WS_BORDER | WS_TABSTOP, 15, 12, 432, 55
    GROUPBOX "Registered Lobbyable DirectPlay Applications", IDC_STATIC, 5, 77, 452, 55
    GROUPBOX "Возможности ReactX", IDC_STATIC, 5, 133, 452, 35
    PUSHBUTTON "Настройки голоса DirectPlay", IDC_BUTTON_VOICE_OPTIONS, 10, 145, 90, 14, WS_DISABLED
    PUSHBUTTON "Проверить DirectPlay", IDC_BUTTON_TESTDPLAY, 130, 145, 80, 14, WS_DISABLED
    GROUPBOX "Примечания", IDC_STATIC, 5, 170, 452, 50
    EDITTEXT IDC_NETWORK_NOTES, 15, 182, 432, 30, ES_LEFT | WS_BORDER | ES_READONLY | WS_TABSTOP
END

IDD_HELP_DIALOG DIALOGEX 0, 0, 462, 220
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Still can't find the information you're looking for? Here are some additional things you can do:", IDC_STATIC, 5, 0, 300, 10
    PUSHBUTTON "Системная информация", IDC_BUTTON_SYSINFO, 5, 20, 80, 14, WS_DISABLED
    LTEXT "Показать дополнительную системную информацию", IDC_STATIC, 90, 23, 300, 10
    PUSHBUTTON "Refresh Rate Override", IDC_BUTTON_DDRAW_REFRESH, 5, 40, 80, 14, WS_DISABLED
    LTEXT "Overrides the Refresh Rate for DirectDraw", IDC_STATIC, 90, 43, 300, 10
END

STRINGTABLE
BEGIN
    IDS_MAIN_DIALOG "Средство диагностики ReactX"
    IDS_SYSTEM_DIALOG "Система"
    IDS_DISPLAY_DIALOG "Экран"
    IDS_SOUND_DIALOG "Звук"
    IDS_MUSIC_DIALOG "Музыка"
    IDS_INPUT_DIALOG "Ввод"
    IDS_NETWORK_DIALOG "Сеть"
    IDS_HELP_DIALOG "Справка"
    IDS_FORMAT_MB "%I64uМБ ОЗУ"
    IDS_FORMAT_SWAP "%I64u МБ использовано, %I64u МБ доступно"
    IDS_FORMAT_UNIPROC "%s (%u ЦП)"
    IDS_FORMAT_MPPROC "%s (%u ЦП)"
    IDS_VERSION_UNKNOWN "Неизвестная версия"
    IDS_DEVICE_STATUS_ATTACHED "Подключено"
    IDS_DEVICE_STATUS_MISSING "Отключено"
    IDS_DEVICE_STATUS_UNKNOWN "Неизвестно"
    IDS_DEVICE_NAME "Имя устройства"
    IDS_DEVICE_STATUS "Состояние"
    IDS_DEVICE_CONTROLLER "Код контроллера"
    IDS_DEVICE_MANUFACTURER "Код производителя"
    IDS_DEVICE_PRODUCT "Код продукта"
    IDS_DEVICE_FORCEFEEDBACK "Драйвер Force Feedback"
    IDS_NOT_APPLICABLE "Н/Д"
    IDS_OPTION_YES "Да"
    IDS_DIRECTPLAY_COL_NAME1 "Имя"
    IDS_DIRECTPLAY_COL_NAME2 "Реестр"
    IDS_DIRECTPLAY_COL_NAME3 "Файл"
    IDS_DIRECTPLAY_COL_NAME4 "Версия"
    IDS_DIRECTPLAY8_MODEMSP "Поставщик службы модема DirectPlay8"
    IDS_DIRECTPLAY8_SERIALSP "Поставщик службы посл. порта DirectPlay8"
    IDS_DIRECTPLAY8_IPXSP "Поставщик службы IPX DirectPlay8"
    IDS_DIRECTPLAY8_TCPSP "Поставщик службы TCP/IP DirectPlay8"
    IDS_DIRECTPLAY_TCPCONN "Интернет-подключение TCP/IP для DirectPlay"
    IDS_DIRECTPLAY_IPXCONN "IPX подключение для DirectPlay"
    IDS_DIRECTPLAY_MODEMCONN "Подключение через модем для DirectPlay"
    IDS_DIRECTPLAY_SERIALCONN "Последовательное подключение для DirectPlay"
    IDS_REG_SUCCESS "OK"
    IDS_REG_FAIL "Ошибка"
    IDS_DDTEST_ERROR "Сбой в проверке!"
    IDS_DDTEST_DESCRIPTION "Будет произведена проверка DirecDraw на этом устройстве. Продолжить?"
    IDS_DDPRIMARY_DESCRIPTION "В этом тесте будет проверена возможность рисования DirectDraw на основной поверхности экрана. Должны быть видны черные и белые прямоугольники. Продолжить?"
    IDS_DDPRIMARY_RESULT "Вы видели черные и белые прямоугольники?"
    IDS_DDOFFSCREEN_DESCRIPTION "В этом тесте будет проверена возможность рисования DirectDraw на закадровой поверхности экрана. Должен быть виден двигающийся белый квадратик. Продолжить?"
    IDS_DDOFFSCREEN_RESULT "Вы видели двигающийся белый квадратик?"
    IDS_DDFULLSCREEN_DESCRIPTION "В этом тесте будет проверена возможность рисования DirectDraw в полноэкранном режиме. Должен быть виден двигающийся белый квадратик. Продолжить?"
    IDS_DDFULLSCREEN_RESULT "Вы видели белый двигающийся квадратик в полноэкранном режиме?"
    IDS_FORMAT_ADAPTER_MEM "%u МБ"
    IDS_FORMAT_ADAPTER_MODE "%04u x %04u (%u бит)(%uГц)"
    IDS_OPTION_NO "Нет"
    IDS_D3DTEST_DESCRIPTION "Будет произведена проверка Direct3D на этом устройстве. Продолжить?"
    IDS_D3DTEST_D3Dx "Этот тест будет использовать интерфейс Direct3D %u с аппаратным ускорением."
    IDS_OS_VERSION "%s %s (%d.%d, сборка %d)"
    IDS_DMUSIC_DESC "Описание"
    IDS_DMUSIC_TYPE "Тип"
    IDS_DMUSIC_KERNEL "Режим ядра"
    IDS_DMUSIC_IO "Ввод/Вывод"
    IDS_DMUSIC_DLS "Поддерживает DLS"
    IDS_DMUSIC_EXT "Внешний"
    IDS_DMUSIC_PORT "Стандартный порт"
    IDS_DDDISABLE_MSG "Это отключит все аппаратное ускорение DirectDraw на всех дисплеях\n.Вы хотите продолжить?\n"
END
