/*
 * PROJECT:     Multimedia Control Panel Applet
 * LICENSE:     GPL - See COPYING in the top level directory
 * FILE:        dll/cpl/mmsys/Uk.rc
 * PURPOSE:     Ukraianian Language File for Multimedia Control Panel Applet
 * PROGRAMMERS: Artem Reznikov
 */

LANGUAGE LANG_UKRAINIAN, SUBLANG_NEUTRAL

IDD_HARDWARE DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Устаткування"
FONT 8, "MS Shell Dlg"
EXSTYLE DS_SHELLFONT
BEGIN
END

STRINGTABLE 
BEGIN
    IDS_CPLNAME "Звукові і аудіо пристрої"
    IDS_CPLDESCRIPTION "Зміна звукових схем вашого комп'ютера, настроювання колонок і записуючих пристроїв."
END

