LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE
BEGIN
    IDS_ACCOUNTS_SYNTAX "Usage:\nNET ACCOUNTS [/FORCELOGOFF:{Minutes|NO}] [/MINPWLEN:Length]\n\
             [/MAXPWAGE:{Days|UNLIMITED}] [/MINPWAGE:Days]\n\
             [/UNIQUEPW:Count] [/DOMAIN]\n"
    IDS_ACCOUNTS_HELP "ACCOUNTS\n..."
    IDS_COMPUTER_SYNTAX "Usage:\nNET COMPUTER ..."
    IDS_COMPUTER_HELP "COMPUTER\n..."
    IDS_CONFIG_SYNTAX "Usage:\nNET CONFIG ..."
    IDS_CONFIG_HELP "CONFIG\n..."
    IDS_CONTINUE_SYNTAX "Usage:\nNET CONTINUE <Service Name>"
    IDS_CONTINUE_HELP "CONTINUE\n..."
    IDS_FILE_SYNTAX "Usage:\nNET FILE ..."
    IDS_FILE_HELP "FILE\n..."
    IDS_GROUP_SYNTAX "Usage:\nNET GROUP ..."
    IDS_GROUP_HELP "GROUP\n..."
    IDS_HELPMSG_SYNTAX "Usage:\nNET HELPMSG <Error Code>"
    IDS_HELPMSG_HELP "HELPMSG\n..."
    IDS_LOCALGROUP_SYNTAX "Usage:\nNET LOCALGROUP [groupname [/COMMENT:""text""]] [/DOMAIN]\n\
               groupname {/ADD [/COMMENT:""text""] | /DELETE} [/DOMAIN]\n\
               groupname name [...] {/ADD | /DELETE} [/DOMAIN]"
    IDS_LOCALGROUP_HELP "LOCALGROUP\n..."
    IDS_NAME_SYNTAX "Usage:\nNET NAME ..."
    IDS_NAME_HELP "NAME\n..."
    IDS_PRINT_SYNTAX  "Usage:\nNET PRINT ..."
    IDS_PRINT_HELP "PRINT\n..."
    IDS_PAUSE_SYNTAX "Usage:\nNET PAUSE <Service Name>"
    IDS_PAUSE_HELP "PAUSE\n..."
    IDS_SEND_SYNTAX "Usage:\nNET SEND ..."
    IDS_SEND_HELP "SEND\n..."
    IDS_SESSION_SYNTAX "Usage:\nNET SESSION ..."
    IDS_SESSION_HELP "SESSION\n..."
    IDS_SHARE_SYNTAX "Usage:\nNET SHARE ..."
    IDS_SHARE_HELP "SHARE\n..."
    IDS_START_SYNTAX "Usage:\nNET START <Service name>"
    IDS_START_HELP "START\n..."
    IDS_STATISTICS_SYNTAX "Usage:\nNET STATISTICS ..."
    IDS_STATISTICS_HELP "STATISTICS\n..."
    IDS_STOP_SYNTAX "Usage:\nNET STOP <Service name>"
    IDS_STOP_HELP "STOP\n..."
    IDS_TIME_SYNTAX "Usage:\nNET TIME ..."
    IDS_TIME_HELP "TIME\n..."
    IDS_USE_SYNTAX "Usage:\nNET USE ..."
    IDS_USE_HELP "USE\n..."
    IDS_USER_SYNTAX "Usage:\nNET USER [username [password | *] [options]] [/DOMAIN]\n\
         username {password | *} /ADD [options] [/DOMAIN]\n\
         username [/DELETE] [/DOMAIN]"
    IDS_USER_HELP "USER\n..."
    IDS_VIEW_SYNTAX "Usage:\nNET VIEW ..."
    IDS_VIEW_HELP "VIEW\n..."
    IDS_HELP_SYNTAX "Usage:\nNET HELP <Command>\n   - or -\nNET <Command> /HELP\n\n\
   The following commands are available:\n\n\
   NET ACCOUNTS             NET HELP                 NET SHARE\n\
   NET COMPUTER             NET HELPMSG              NET START\n\
   NET CONFIG               NET LOCALGROUP           NET STATISTICS\n\
   NET CONFIG SERVER        NET NAME                 NET STOP\n\
   NET CONFIG WORKSTATION   NET PAUSE                NET TIME\n\
   NET CONTINUE             NET PRINT                NET USE\n\
   NET FILE                 NET SEND                 NET USER\n\
   NET GROUP                NET SESSION              NET VIEW\n\n\
   ..."
    IDS_NET_SYNTAX "Usage:\nNET [ ACCOUNTS | COMPUTER | CONFIG | CONTINUE | FILE | GROUP | HELP |\n\
      HELPMSG | LOCALGROUP | NAME | PAUSE | PRINT | SEND | SESSION |\n\
      SHARE | START | STATISTICS | STOP | TIME | USE | NET USER | VIEW ]\n"

    IDS_ACCOUNTS_FORCE_LOGOFF "Force logoff after"
    IDS_ACCOUNTS_LOGOFF_SECONDS "%lu seconds"
    IDS_ACCOUNTS_MIN_PW_AGE "Minimum password age (in days)"
    IDS_ACCOUNTS_MAX_PW_AGE "Maximum password age (in days)"
    IDS_ACCOUNTS_MIN_PW_LENGTH "Minimum password length"
    IDS_ACCOUNTS_PW_HIST_LENGTH "Password history length"
    IDS_ACCOUNTS_LOCKOUT_THRESHOLD "Lockout threshold"
    IDS_ACCOUNTS_LOCKOUT_DURATION "Lockout duration (in minutes)"
    IDS_ACCOUNTS_LOCKOUT_WINDOW "Lockout observation window (in minutes)"
    IDS_ACCOUNTS_COMPUTER_ROLE "Computer role"
    IDS_ACCOUNTS_PRIMARY_SERVER "Primary server"
    IDS_ACCOUNTS_BACKUP_SERVER "Backup server"
    IDS_ACCOUNTS_STANDALONE_SERVER "Standalone server"
    IDS_ACCOUNTS_WORKSTATION "Workstation"

    IDS_LOCALGROUP_ALIASES "Aliases for \\\\%s"
    IDS_LOCALGROUP_ALIAS_NAME "Alias name"
    IDS_LOCALGROUP_COMMENT "Comment"
    IDS_LOCALGROUP_MEMBERS "Members"

    IDS_USER_ACCOUNTS "User accounts for \\\\%s"
   IDS_USER_NAME "User name"
   IDS_USER_FULL_NAME "Full name"
   IDS_USER_COMMENT "Comment"
   IDS_USER_USER_COMMENT "User comment"
   IDS_USER_COUNTRY_CODE "Country code"
   IDS_USER_ACCOUNT_ACTIVE "Account active"
   IDS_USER_ACCOUNT_EXPIRES "Account expires"
   IDS_USER_PW_LAST_SET "Password last set"
   IDS_USER_PW_EXPIRES "Password expires"
   IDS_USER_PW_CHANGEABLE "Password changeable"
   IDS_USER_PW_REQUIRED "Password required"
   IDS_USER_CHANGE_PW "User may change password"
   IDS_USER_WORKSTATIONS "Workstations allowed"
   IDS_USER_LOGON_SCRIPT "Logon script"
   IDS_USER_PROFILE "User profile"
   IDS_USER_HOME_DIR "Home directory"
   IDS_USER_LAST_LOGON "Last logon"
   IDS_USER_LOGON_HOURS "Logon hours allowed"
   IDS_USER_LOCAL_GROUPS "Local group memberships"
   IDS_USER_GLOBAL_GROUPS "Global group memberships"

   IDS_USER_ENTER_PASSWORD1 "Enter a new password for the user: "
   IDS_USER_ENTER_PASSWORD2 "Enter the password again: "
   IDS_USER_NO_PASSWORD_MATCH "The passwords do not match!"

    IDS_GENERIC_YES "Yes"
    IDS_GENERIC_NO "No"
    IDS_GENERIC_NEVER "Never"
    IDS_GENERIC_NONE "None"
    IDS_GENERIC_ALL "All"
    IDS_GENERIC_LOCKED "Locked"

   IDS_ERROR_OPTION_NOT_SUPPORTED "The %s option is not supported yet.\n"
   IDS_ERROR_INVALID_OPTION_VALUE "You entered an invalid value for the %s option.\n"
END
