/* Russian language resource file by Kudratov Olimjon (olim98@bk.ru) */

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_ACCOUNTS_SYNTAX "Использование:\nNET ACCOUNTS [/FORCELOGOFF:{минуты | NO}] [/MINPWLEN:длина]\n\
             [/MAXPWAGE:{дни | UNLIMITED}] [/MINPWAGE:дни]\n\
             [/UNIQUEPW:число] [/DOMAIN]\n"
    IDS_ACCOUNTS_HELP "ACCOUNTS\n..."
    IDS_COMPUTER_SYNTAX "Использование:\nNET COMPUTER ..."
    IDS_COMPUTER_HELP "COMPUTER\n..."
    IDS_CONFIG_SYNTAX "Использование:\nNET CONFIG ..."
    IDS_CONFIG_HELP "CONFIG\n..."
    IDS_CONTINUE_SYNTAX "Использование:\nNET CONTINUE <имя_службы>"
    IDS_CONTINUE_HELP "CONTINUE\n..."
    IDS_FILE_SYNTAX "Использование:\nNET FILE ..."
    IDS_FILE_HELP "FILE\n..."
    IDS_GROUP_SYNTAX "Использование:\nNET GROUP ..."
    IDS_GROUP_HELP "GROUP\n..."
    IDS_HELPMSG_SYNTAX "Использование:\nNET HELPMSG <Код ошибки>"
    IDS_HELPMSG_HELP "HELPMSG\n..."
    IDS_LOCALGROUP_SYNTAX "Использование:\nNET LOCALGROUP [имя_группы [/COMMENT:""текст""]] [/DOMAIN]\n\
               имя_группы {/ADD [/COMMENT:""текст""] | /DELETE}  [/DOMAIN]\n\
               имя_группы имя [...] {/ADD | /DELETE} [/DOMAIN]"
    IDS_LOCALGROUP_HELP "LOCALGROUP\n..."
    IDS_NAME_SYNTAX "Использование:\nNET NAME ..."
    IDS_NAME_HELP "NAME\n..."
    IDS_PRINT_SYNTAX  "Использование:\nNET PRINT ..."
    IDS_PRINT_HELP "PRINT\n..."
    IDS_PAUSE_SYNTAX "Использование:\nNET PAUSE <имя_службы>"
    IDS_PAUSE_HELP "PAUSE\n..."
    IDS_SEND_SYNTAX "Использование:\nNET SEND ..."
    IDS_SEND_HELP "SEND\n..."
    IDS_SESSION_SYNTAX "Использование:\nNET SESSION ..."
    IDS_SESSION_HELP "SESSION\n..."
    IDS_SHARE_SYNTAX "Использование:\nNET SHARE ..."
    IDS_SHARE_HELP "SHARE\n..."
    IDS_START_SYNTAX "Использование:\nNET START ..."
    IDS_START_HELP "START\n..."
    IDS_STATISTICS_SYNTAX "Использование:\nNET STATISTICS ..."
    IDS_STATISTICS_HELP "STATISTICS\n..."
    IDS_STOP_SYNTAX "Использование:\nNET STOP <имя_службы>"
    IDS_STOP_HELP "STOP\n..."
    IDS_TIME_SYNTAX "Использование:\nNET TIME ..."
    IDS_TIME_HELP "TIME\n..."
    IDS_USE_SYNTAX "Использование:\nNET USE ..."
    IDS_USE_HELP "USE\n..."
    IDS_USER_SYNTAX "Использование:\nNET USER [имя_пользователя [пароль | *] [параметры]] [/DOMAIN]\n\
         имя_пользователя {пароль | *} /ADD [параметры] [/DOMAIN]\n\
         имя_пользователя [/DELETE] [/DOMAIN]"
    IDS_USER_HELP "USER\n..."
    IDS_VIEW_SYNTAX "Использование:\nNET VIEW ..."
    IDS_VIEW_HELP "VIEW\n..."
    IDS_HELP_SYNTAX "Использование:\nNET HELP <Команда>\n   - или -\nNET <Команда> /HELP\n\n\
   Доступны следующие команды:\n\n\
   NET ACCOUNTS             NET HELP                 NET SHARE\n\
   NET COMPUTER             NET HELPMSG              NET START\n\
   NET CONFIG               NET LOCALGROUP           NET STATISTICS\n\
   NET CONFIG SERVER        NET NAME                 NET STOP\n\
   NET CONFIG WORKSTATION   NET PAUSE                NET TIME\n\
   NET CONTINUE             NET PRINT                NET USE\n\
   NET FILE                 NET SEND                 NET USER\n\
   NET GROUP                NET SESSION              NET VIEW\n\n\
   ..."
    IDS_NET_SYNTAX "Использование:\nNET [ ACCOUNTS | COMPUTER | CONFIG | CONTINUE | FILE | GROUP | HELP |\n\
      HELPMSG | LOCALGROUP | NAME | PAUSE | PRINT | SEND | SESSION |\n\
      SHARE | START | STATISTICS | STOP | TIME | USE | NET USER | VIEW ]\n"

   IDS_USER_NAME "User name"
   IDS_USER_FULL_NAME "Full name"
   IDS_USER_COMMENT "Comment"
   IDS_USER_USER_COMMENT "User comment"
   IDS_USER_COUNTRY_CODE "Country code"
   IDS_USER_ACCOUNT_ACTIVE "Account active"
   IDS_USER_ACCOUNT_EXPIRES "Account expires"
   IDS_USER_PW_LAST_SET "Password last set"
   IDS_USER_PW_EXPIRES "Password expires"
   IDS_USER_PW_CHANGEABLE "Password changeable"
   IDS_USER_PW_REQUIRED "Password required"
   IDS_USER_CHANGE_PW "User may change password"
   IDS_USER_WORKSTATIONS "Workstations allowed"
   IDS_USER_LOGON_SCRIPT "Logon script"
   IDS_USER_PROFILE "User profile"
   IDS_USER_HOME_DIR "Home directory"
   IDS_USER_LAST_LOGON "Last logon"
   IDS_USER_LOGON_HOURS "Logon hours allowed"
   IDS_USER_LOCAL_GROUPS "Local group memberships"
   IDS_USER_GLOBAL_GROUPS "Global group memberships"

   IDS_USER_ENTER_PASSWORD1 "Enter a new password for the user: "
   IDS_USER_ENTER_PASSWORD2 "Enter the password again: "
   IDS_USER_NO_PASSWORD_MATCH "\nThe passwords do not match!\n"

   IDS_ERROR_OPTION_NOT_SUPPORTED "The %s option is not supported yet.\n"
   IDS_ERROR_INVALID_OPTION_VALUE "You entered an invalid value for the %s option.\n"
END
