/*
 * PROJECT:     ReactOS Font Text
 * LICENSE:     GPL-2.0+ (https://spdx.org/licenses/GPL-2.0+)
 * PURPOSE:     Romanian translation for FONTEXT
 * TRANSLATORS: Copyright 2018 George Bișoc <george.bisoc@reactos.org>
 *              Copyright 2023 Andrei Miloiu <miloiuandrei@gmail.com>
 */

LANGUAGE LANG_ROMANIAN, SUBLANG_NEUTRAL

IDD_INSTALL DIALOG 0, 0, 205, 60
CAPTION "Installing fonts..."
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Installing fonts...", IDC_INSTALL_TEXT, 5, 10, 195, 10
    CONTROL "", IDC_INSTALL_PROGRESS, "msctls_progress32", 0, 5, 25, 195, 10
    PUSHBUTTON "Cancel", IDCANCEL, 65, 40, 70, 15
END

STRINGTABLE
BEGIN
    IDS_REACTOS_FONTS_FOLDER "Folder-ul de fonturi de ReactOS"
    IDS_INSTALL_OK "The font files have been installed successfully."
    IDS_INSTALL_FAILED "Failed to install the font files."
    IDS_PROPERTIES "P&roperties"
END

STRINGTABLE
BEGIN
    IDS_COL_NAME "Nume"
END

STRINGTABLE
BEGIN
    IDS_COL_FILENAME "Numele fișierului"
    IDS_COL_SIZE "Mărime"
    IDS_COL_MODIFIED "Modificat"
    IDS_COL_ATTR "Atribuții"
    IDS_COL_ATTR_LETTERS "RHSAC"
END


STRINGTABLE
BEGIN
    IDS_FONT_PREVIEW "Previzualizează"
END
