/*
 * cryptdlg dll resources
 *
 * Copyright 2008 Juan Lang
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */
#include <windef.h>

#include "cryptres.h"

#ifdef LANGUAGE_DA_DK
    #include "lang/cryptdlg_Da.rc"
#endif
#ifdef LANGUAGE_EN_US
    #include "lang/cryptdlg_En.rc"
#endif
#ifdef LANGUAGE_KO_KR
    #include "lang/cryptdlg_Ko.rc"
#endif
#ifdef LANGUAGE_NL_NL
    #include "lang/cryptdlg_Nl.rc"
#endif
#ifdef LANGUAGE_PL_PL
    #include "lang/cryptdlg_Pl.rc"
#endif

/* UTF-8 */
#ifdef LANGUAGE_DE_DE
    #include "lang/cryptdlg_De.rc"
#endif
#ifdef LANGUAGE_FR_FR
    #include "lang/cryptdlg_Fr.rc"
#endif
#ifdef LANGUAGE_HE_IL
    #include "lang/cryptdlg_He.rc"
#endif
#ifdef LANGUAGE_HU_HU
    #include "lang/cryptdlg_Hu.rc"
#endif
#ifdef LANGUAGE_IT_IT
    #include "lang/cryptdlg_It.rc"
#endif
#ifdef LANGUAGE_LT_LT
    #include "lang/cryptdlg_Lt.rc"
#endif
#ifdef LANGUAGE_NO_NO
    #include "lang/cryptdlg_No.rc"
#endif
#ifdef LANGUAGE_PT_PT
    #include "lang/cryptdlg_Pt.rc"
#endif
#ifdef LANGUAGE_RO_RO
    #include "lang/cryptdlg_Ro.rc"
#endif
#ifdef LANGUAGE_RU_RU
    #include "lang/cryptdlg_Ru.rc"
#endif
#ifdef LANGUAGE_SQ_AL
    #include "lang/cryptdlg_Sq.rc"
#endif
#ifdef LANGUAGE_TR_TR
    #include "lang/cryptdlg_Tr.rc"
#endif
#ifdef LANGUAGE_UK_UA
    #include "lang/cryptdlg_Uk.rc"
#endif
