LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDR_MAINMENU MENU
BEGIN
  POPUP "&File"
  BEGIN
    MENUITEM "E&xit",                       IDC_EXIT
  END
  POPUP "Action"
  BEGIN
    MENUITEM "Scan for hardware changes",    IDC_REFRESH
    MENUITEM "Print",                       IDC_PRINT, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Properties",                  IDC_PROP, GRAYED
  END
  POPUP "View"
  BEGIN
    MENUITEM "Devices by type",             IDC_DEVBYTYPE
    MENUITEM "Devices by connection",       IDC_DEVBYCONN
    MENUITEM "Resources by type",           IDC_RESBYTYPE, GRAYED
    MENUITEM "Resources by connection",     IDC_RESBYCONN, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Show hidden devices",         IDC_SHOWHIDDEN
  END
  POPUP "Help"
  BEGIN
    MENUITEM "About",                       IDC_ABOUT
  END
END

IDR_POPUP MENU
BEGIN
  POPUP "popup"
  BEGIN
    MENUITEM "Properties",                  IDC_PROP, GRAYED
  END
END

IDD_ABOUTBOX DIALOGEX 22,16,190,182
CAPTION "About Device Manager"
FONT 8,"MS Shell Dlg",0,0
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
BEGIN
  LTEXT "Device Manager v0.2\nCopyright (C) 2012\nby Ged Murphy (gedmurphy@reactos.org)", IDC_STATIC, 48, 7, 130, 30
  PUSHBUTTON "Close", IDOK, 75, 162, 44, 15
  ICON IDI_MAIN_ICON, IDC_STATIC, 10, 10, 7, 30
  EDITTEXT IDC_LICENSE_EDIT, 8, 44, 174, 107, WS_VISIBLE | WS_VSCROLL | WS_TABSTOP | ES_READONLY | ES_MULTILINE
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_LICENSE "This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License as published by the Free Software Foundation; either version 2 of the License, or (at your option) any later version.\r\n\r\nThis program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.\r\n\r\nYou should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA."
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_TOOLTIP_PROP      "Properties"
  IDS_TOOLTIP_REFRESH   "Scan for hardware changes"
  IDS_TOOLTIP_HELP      "Help"
END

/* Hints */
STRINGTABLE DISCARDABLE
BEGIN
  IDS_APPNAME           "ReactOS Device Manager"
  IDS_HINT_BLANK        " "
  IDS_HINT_EXIT         " Exits the program."
  IDS_HINT_REFRESH      " Scan for changed or new Plug and Play devices."
  IDS_HINT_PROP         " Open property dialog for the current selection."
  IDS_HINT_HELP         " Display help window."
  IDS_HINT_ABOUT        " About ReactOS Device Manager."

  IDS_HINT_DEV_BY_TYPE  "Displays devices by hardware type"
  IDS_HINT_DEV_BY_CONN  "Displays devices by connection"
  IDS_HINT_RES_BY_TYPE  "Displays resources by type"
  IDS_HINT_RES_BY_CONN  "Displays resources by connection type"

  IDS_HINT_SYS_RESTORE  " Restores this window to normal size."
  IDS_HINT_SYS_MOVE     " Moves this window."
  IDS_HINT_SYS_SIZE     " Resizes this window."
  IDS_HINT_SYS_MINIMIZE " Collapses this window to an icon."
  IDS_HINT_SYS_MAXIMIZE " Expands this window to fill this screen."
  IDS_HINT_SYS_CLOSE    " Closes this window."
END
