/*
 * Russian resources for WLDAP32
 *
 * Copyright 2005 Dmitry Timoshkov
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE
{
    0 "Успех"
    1 "Ошибка операции"
    2 "Ошибка протокола"
    3 "Превышено ограничение по времени"
    4 "Превышено ограничение по размеру"
    5 "Сравнение неверно"
    6 "Сравнение верно"
    7 "Метод авторизации не поддерживается"
    8 "Требуется строгая проверка подлинности"
    9 "Ссылки (v2)"
    10 "Ссылки"
    11 "Превышен предел полномочий"
    12 "Недоступное критическое расширение"
    13 "Требуется конфиденциальность"
    14 "SASL Bind in Progress"
    15 ""
    16 "Нет такого атрибута"
    17 "Тип не определен"
    18 "Недопустимое соответствие"
    19 "Нарушение ограничения"
    20 "Атрибут или значение существует"
    21 "Синтаксическая ошибка"
    22 ""
    23 ""
    24 ""
    25 ""
    26 ""
    27 ""
    28 ""
    29 ""
    30 ""
    31 ""
    32 "Нет такого объекта"
    33 "Проблема с псевдонимом"
    34 "Недопустимый синтаксис DN"
    35 "Является оконечным листом дерева"
    36 "Ошибка отмены псевдонима"
    37 ""
    38 ""
    39 ""
    40 ""
    41 ""
    42 ""
    43 ""
    44 ""
    45 ""
    46 ""
    47 ""
    48 "Неподходящая авторизация"
    49 "Неправильные учетные данные"
    50 "Недостаточно прав"
    51 "Занято"
    52 "Недоступно"
    53 "Несклонный к выполнению"
    54 "Обнаружено зацикливание"
    55 ""
    56 ""
    57 ""
    58 ""
    59 ""
    60 "Отсутствует управление сортировкой"
    61 "Ошибка диапазона индекса"
    62 ""
    63 ""
    64 "Нарушение правил именования"
    65 "Нарушение класса объекта"
    66 "Допустимо только для оконечного листа дерева"
    67 "Недопустимо для RDN"
    68 "Уже существует"
    69 "Отсутствуют режимы классов объектов"
    70 "Результаты слишком велики"
    71 "Влияет на несколько DSA"
    72 ""
    73 ""
    74 ""
    75 ""
    76 ""
    77 ""
    78 ""
    79 ""
    80 "Другой"
    81 "Сервер недоступен"
    82 "Локальная ошибка"
    83 "Ошибка кодирования"
    84 "Ошибка декодирования"
    85 "Тайм-аут"
    86 "Результат проверки неизвестен"
    87 "Ошибка фильтра"
    88 "Отменено пользователем"
    89 "Ошибка в параметре"
    90 "Недостаточно памяти"
    91 "Не удается подключиться к серверу LDAP"
    92 "Операция не поддерживается этой версией протокола LDAP"
    93 "Указанный элемент управления в сообщении не найден"
    94 "В сообщении отсутствует результат"
    95 "Возвращено большое число результатов"
    96 "Зацикливание при обработке ссылок"
    97 "Превышен предел числа прыжков ссылок"
}