/* HTML Elements */

body {
  background-color: #333333;
  color: black;
  font-family: Verdana, Arial, sans-serif;
  margin: 0px;
}

a,
a:link,
a:visited {
  color: #cccc66;
  text-decoration: none;
}

a:active,
a:hover {
  color: #ffff99;
}

h3, h4 {
  margin: 0;
}

/* Banner */

#serendipity_banner {
  font-weight: bold;
  padding-left: 15px;
}

a.homelink1,
a.homelink1:hover,
a.homelink1:link,
a.homelink1:visited,
#serendipity_banner h1 {
  color: #cc9933;
  font-size: x-large;
}

a.homelink2,
a.homelink2:hover,
a.homelink2:link,
a.homelink2:visited,
#serendipity_banner h2 {
  color: #cccccc;
  font-size: small;
  text-transform: none;
  letter-spacing: none;
}

/* Calendar */

table.serendipity_calendar a,
table.serendipity_calendar a:link,
table.serendipity_calendar a:visited,
table.serendipity_calendar a:hover {
  color: #999999;
  font-size: x-small;
}

table.serendipity_calendar td {
  font-size: x-small;
}

td.serendipity_weekDayName {
  font-size: x-small;
  font-weight: bold;
  line-height: 140%;
}

td.serendipity_calendarHeader a:link,
td.serendipity_calendarHeader a:visited,
td.serendipity_calendarHeader a:hover {
  border: 0;
  text-decoration: none;
}

/* Sidebars */

#serendipityLeftSideBar,
#serendipityRightSideBar {
  background-color: #333333;
  color: #cccccc;
  display: block;
  margin-top: 35px;
  padding: 10px;
  vertical-align: top;
}

.serendipitySideBarTitle {
  border-bottom: 1px solid #666666;
  color: #cccccc;
  margin: 0;
  font-size: x-small;
  font-weight: bold;
  padding-left: 2px;
  text-transform: uppercase;
}

div.serendipitySideBarItem {
  color: #666666;
  font-size: small;
  font-weight: normal;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

/* Entries */

div.serendipity_Entry_Date {
  margin: 10px;
  padding: 10px;
  width: auto;
}

.serendipity_date {
  border-bottom: 1px solid #666666;
  color: #999999;
  font-size: normal;
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}

.serendipity_title,
.serendipity_Admin_title {
  border: 1px solid #666666;
  border-bottom: 0;
  color: #cccccc;
  font-size: small;
  font-weight: bold;
  padding: 10px;
}

.serendipity_entry,
.serendipity_admin {
  background-color: #333333;
  border: 1px solid #666666;
  border-top: 0;
  color: #cccccc;
  font-size: small;
  font-weight: normal;
  line-height: 140%;
  padding: 10px;
}

div.serendipity_entryFooter {
  clear: both;
  color: #999999;
  font-size: x-small;
}

/* Comments */

.serendipity_comment {
  border: 1px solid #666666;
  color: #cccccc;
  font-size: small;
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  overflow: auto;
}

.serendipity_commentsLabel {
  color: #cccccc;
  font-size: small;
}

.serendipity_commentsTitle {
  color: #999999;
  font-size: normal;
  font-weight: bold;
  text-transform: uppercase;
}

/* Admin */

.serendipity_admin td {
  color: #cccccc;
}

/* Misc */

#content {
  width: 100%;
}

/** Embedded images with the s9y image manager **/
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid black;
    background-color: #EFEFEF;
    margin: 3px;
}

.serendipity_imageComment_center {
    margin: 0px;
}

.serendipity_imageComment_left {
    float: left;
}

.serendipity_imageComment_right {
    float: right;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
}

.serendipity_imageComment_txt {
    margin: 0px;
    padding: 3px;
    clear: both;
    font-size: 9pt;
    text-align: center;
}

img.serendipity_entryIcon {
    float: right;
    border: 0px;
}

.serendipity_admin_list_item_even {
    background-color: #ffffff;
}

.serendipity_admin_list_item_uneven {
    background-color: #E0E0E0;
}

.serendipity_admin_filters {
    border: 1px dashed #FFF;
    font-size: 10px;
    margin-bottom: 10px;
    padding: 2px;
}

.serendipity_admin_filters_headline {
    border-bottom: 1px solid;
}

.serendipity_admin_sortorder {
    font-size: 10px;
    text-align: center;
}

.serendipity_admin_sortorder input,
.serendipity_admin_sortorder select,
.serendipity_admin_filters input,
.serendipity_admin_filters select {
    font-size: 10px;
}


.serendipity_comments {
}

.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.serendipity_msg_important {
    color: red;
}

.serendipity_msg_notice {
    color: green;
}

.serendipity_entry_author_self {
}

.serendipity_comment_author_self {
    background-color: #000000;
}
