LANGUAGE LANG_FRENCH, SUBLANG_DEFAULT

IDI_CPLSYSTEM ICON "resources/applet.ico"
IDI_DEVMGR ICON "resources/devmgr.ico"
RC_LICENSE RTDATA "resources/gpl.txt"

IDD_PROPPAGEGENERAL DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Général"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  LTEXT "Système d'exploitation",-1,SYSTEM_COLUMN,LABELLINE(2),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING,8
  LTEXT REACTOS_STR_PRODUCT_NAME,-1,SYSTEM_COLUMN+PROPSHEETPADDING,LABELLINE(3),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING,8
  LTEXT "Version " REACTOS_STR_PRODUCT_VERSION,-1,SYSTEM_COLUMN+PROPSHEETPADDING,LABELLINE(4),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING,8
  
  LTEXT "Ordinateur",-1,SYSTEM_COLUMN,LABELLINE(6),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING,8
  LTEXT "",IDC_PROCESSORMANUFACTURER,SYSTEM_COLUMN+PROPSHEETPADDING,LABELLINE(7),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING,8
  LTEXT "",IDC_PROCESSOR,SYSTEM_COLUMN+PROPSHEETPADDING,LABELLINE(8),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING,8
  LTEXT "",IDC_PROCESSORSPEED,SYSTEM_COLUMN+PROPSHEETPADDING,LABELLINE(9),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING,8
  LTEXT "",IDC_SYSTEMMEMORY,SYSTEM_COLUMN+PROPSHEETPADDING,LABELLINE(10),PROPSHEETWIDTH-SYSTEM_COLUMN-PROPSHEETPADDING,8
  
  EDITTEXT IDC_LICENSEMEMO,PROPSHEETPADDING,LABELLINE(13),PROPSHEETWIDTH-(2*PROPSHEETPADDING),PROPSHEETHEIGHT-LABELLINE(13)-PROPSHEETPADDING,ES_LEFT|WS_TABSTOP|WS_BORDER|WS_VSCROLL|WS_HSCROLL|WS_GROUP|ES_MULTILINE|ES_READONLY
END

IDD_PROPPAGECOMPUTER DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Identification réseau"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  ICON IDI_DEVMGR, IDC_ICON1, PROPSHEETPADDING,LABELLINE(1)-5, ICONSIZE, ICONSIZE, SS_ICON
  LTEXT "ReactOS utilise les informations suivantes pour identifier votre ordinateur sur le réseau.",-1,(4*PROPSHEETPADDING)+ICONSIZE,LABELLINE(1)-5,PROPSHEETWIDTH-(6*PROPSHEETPADDING)-ICONSIZE,LABELLINE(3)
  LTEXT "Nom complet de l'ordinateur:",-1,PROPSHEETPADDING,LABELLINE(4)-4,17*PROPSHEETPADDING,LABELLINE(4)-4
  LTEXT "(Défaut)",IDC_COMPUTERNAME,17*PROPSHEETPADDING,LABELLINE(4)-5,60,LABELLINE(4)-5
  LTEXT "Domaine:",IDC_WORKGROUPDOMAIN,PROPSHEETPADDING,LABELLINE(6)-6,17*PROPSHEETPADDING,LABELLINE(6)-6
  LTEXT "(vide)",IDC_WORKGROUPDOMAIN_NAME,17*PROPSHEETPADDING,LABELLINE(6)-6,60,LABELLINE(6)-6
  LTEXT "Pour utiliser l'Assistant Réseau, afin de rejoindre un domaine ou créer un utilisateur local, cliquez sur Identification Réseau.",-1,PROPSHEETPADDING,LABELLINE(7)+5,PROPSHEETWIDTH-(13*PROPSHEETPADDING)-ICONSIZE,LABELLINE(8)+5
  PUSHBUTTON "&Identification &réseau...",IDC_NETWORK_ID,170,LABELLINE(7)+5,80,LABELLINE(1)+4
  LTEXT "Pour changer le nom de cet ordinateur ou rejoindre un domaine, cliquez sur Propriétés.",-1,PROPSHEETPADDING,LABELLINE(11)+2,PROPSHEETWIDTH-(13*PROPSHEETPADDING)-ICONSIZE,LABELLINE(12)+2
  PUSHBUTTON "&Propriétés...",IDC_NETWORK_PROPERTY,170,LABELLINE(11)+2,80,LABELLINE(1)+4
END

IDD_PROPPAGEHARDWARE DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Matériel"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN  
  GROUPBOX "Assistant matériel",-1,PROPSHEETPADDING,LABELLINE(1),PROPSHEETWIDTH-(2*PROPSHEETPADDING),LABELLINE(6)+PROPSHEETPADDING
  LTEXT "L'Assistant matériel vous aide à installer, désinstaller, réparer, débrancher, enlever et configurer votre matériel.",-1,(4*PROPSHEETPADDING)+ICONSIZE,LABELLINE(2),PROPSHEETWIDTH-(6*PROPSHEETPADDING)-ICONSIZE,LABELLINE(3)
  ICON IDI_DEVMGR, IDC_ICON1, (2*PROPSHEETPADDING),LABELLINE(2), ICONSIZE, ICONSIZE, SS_ICON
  PUSHBUTTON "Assistant &matériel...",IDC_HARDWARE_WIZARD,PROPSHEETWIDTH-(21*PROPSHEETPADDING),LABELLINE(5)+2,(19*PROPSHEETPADDING),14

  GROUPBOX "Gestionnaire de périphériques",-1,PROPSHEETPADDING,LABELLINE(8)+5,PROPSHEETWIDTH-(2*PROPSHEETPADDING),LABELLINE(7)+2
  ICON IDI_DEVMGR, IDC_ICON1, (2*PROPSHEETPADDING),LABELLINE(10)-3,ICONSIZE, ICONSIZE, SS_ICON
  LTEXT "Le Gestionnaire de périphériques liste tous les périphériques installés sur votre ordinateur. Utilisez le Gestionnaire de périphériques pour modifier les propriétés de tout périphérique.",-1,(4*PROPSHEETPADDING)+ICONSIZE,LABELLINE(10)-3,PROPSHEETWIDTH-(6*PROPSHEETPADDING)-ICONSIZE,LABELLINE(3)
  
  PUSHBUTTON "&Gestionnaire de périphériques...",IDC_HARDWARE_DEVICE_MANAGER,PROPSHEETWIDTH-(21*PROPSHEETPADDING),LABELLINE(13)+2,(19*PROPSHEETPADDING),14

  GROUPBOX "Profils matériels",-1,PROPSHEETPADDING,LABELLINE(16)+3,PROPSHEETWIDTH-(2*PROPSHEETPADDING),LABELLINE(6)+PROPSHEETPADDING
  ICON IDI_DEVMGR, IDC_ICON1, (2*PROPSHEETPADDING),LABELLINE(18)-5, ICONSIZE, ICONSIZE, SS_ICON
  LTEXT "Les Profils matériels vous donnent un moyen de metttre en place et conserver différentes configurations matérielles.",0,(4*PROPSHEETPADDING)+ICONSIZE,LABELLINE(18)-5,PROPSHEETWIDTH-(6*PROPSHEETPADDING)-ICONSIZE,LABELLINE(3)
  PUSHBUTTON "Profils &matériels...",IDC_HARDWARE_PROFILE,PROPSHEETWIDTH-(21*PROPSHEETPADDING),LABELLINE(20)+2,(19*PROPSHEETPADDING),14
END

IDD_PROPPAGEUSERPROFILE DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Profils utilisateurs"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  ICON IDI_DEVMGR, IDC_ICON1, PROPSHEETPADDING,LABELLINE(1), ICONSIZE, ICONSIZE, SS_ICON
  LTEXT "Les Profils utilisateurs contiennent les réglages bureau et d'autres informations associées à votre compte utilisateur. Un profil différent peut être créé sur chaque ordinateur que vous utilisez, ou vous pouvez choisir un profil nomade qui sera identique sur chaque ordinateur que vous utiliserez.",-1,(4*PROPSHEETPADDING)+ICONSIZE,LABELLINE(1),PROPSHEETWIDTH-(6*PROPSHEETPADDING)-ICONSIZE,LABELLINE(5)
  LTEXT "Profils sauvés sur cet ordinateur:",-1,PROPSHEETPADDING,LABELLINE(6),PROPSHEETWIDTH-(6*PROPSHEETPADDING)-ICONSIZE,LABELLINE(1)
  CONTROL "",IDC_USERPROFILE_LIST,"SysListView32",LVS_REPORT|LVS_SINGLESEL|LVS_SHOWSELALWAYS|LVS_SORTASCENDING|WS_BORDER|WS_TABSTOP,PROPSHEETPADDING,LABELLINE(8),PROPSHEETWIDTH-(2*PROPSHEETPADDING),LABELLINE(11),WS_EX_CLIENTEDGE
  
  PUSHBUTTON "Effacer",IDC_USERPROFILE_DELETE,PROPSHEETPADDING,LABELLINE(20),60,LABELLINE(1)+2
  PUSHBUTTON "Modifier le type...",IDC_USERPROFILE_CHANGE,(PROPSHEETWIDTH/2)-30,LABELLINE(20),60,LABELLINE(1)+2
  PUSHBUTTON "Copier vers...",IDC_USERPROFILE_COPY,PROPSHEETWIDTH-PROPSHEETPADDING-60,LABELLINE(20),60,LABELLINE(1)+2
END

IDD_PROPPAGEADVANCED DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Avancé"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  GROUPBOX "Performances",-1,PROPSHEETPADDING,LABELLINE(1),PROPSHEETWIDTH-(2*PROPSHEETPADDING),LABELLINE(6)+PROPSHEETPADDING
  ICON IDI_DEVMGR, IDC_ICON1, (2*PROPSHEETPADDING),LABELLINE(2), ICONSIZE, ICONSIZE, SS_ICON
  LTEXT "Les options de performance controlent comment les applications utilisent la mémoire, ce qui affecte la vitesse de votre ordinateur.",-1,(4*PROPSHEETPADDING)+ICONSIZE,LABELLINE(2),PROPSHEETWIDTH-(6*PROPSHEETPADDING)-ICONSIZE,LABELLINE(3)
  PUSHBUTTON "&Options Performances...",IDC_ENVVAR,PROPSHEETWIDTH-(20*PROPSHEETPADDING),LABELLINE(5)+2,(18*PROPSHEETPADDING),14
  GROUPBOX "Variables d'environnement",-1,PROPSHEETPADDING,LABELLINE(8)+2,PROPSHEETWIDTH-(2*PROPSHEETPADDING),LABELLINE(6)+PROPSHEETPADDING
  ICON IDI_DEVMGR, IDC_ICON1, (2*PROPSHEETPADDING),LABELLINE(10)-5, ICONSIZE, ICONSIZE, SS_ICON
  LTEXT "Les Variables d'environnement indiquent à votre ordinateur où trouver certains types d'informations.",-1,(4*PROPSHEETPADDING)+ICONSIZE,LABELLINE(10)-5,PROPSHEETWIDTH-(6*PROPSHEETPADDING)-ICONSIZE,LABELLINE(3)
  PUSHBUTTON "Variables d'&environnement...",IDC_ENVVAR,PROPSHEETWIDTH-(20*PROPSHEETPADDING),LABELLINE(12)+2,(18*PROPSHEETPADDING),14
  GROUPBOX "&Démarrage et récupération",-1,PROPSHEETPADDING,LABELLINE(15)+3,PROPSHEETWIDTH-(2*PROPSHEETPADDING),LABELLINE(6)+PROPSHEETPADDING
  ICON IDI_DEVMGR, IDC_ICON1, (2*PROPSHEETPADDING),LABELLINE(17)-5, ICONSIZE, ICONSIZE, SS_ICON
  LTEXT "Les options de d&émarrage et de récupération disent à votre ordinateur comment démarrer et quoi faire en cas d'arrêt dû à une erreur système.",0,(4*PROPSHEETPADDING)+ICONSIZE,LABELLINE(17)-5,PROPSHEETWIDTH-(6*PROPSHEETPADDING)-ICONSIZE,LABELLINE(3)
  PUSHBUTTON "&Démarrage et récupération...",IDC_STAREC,PROPSHEETWIDTH-(20*PROPSHEETPADDING),LABELLINE(19)+2,(18*PROPSHEETPADDING),14
END

IDD_ENVIRONMENT_VARIABLES DIALOGEX 6, 18, 252, 245
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Variables d'environnement"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  GROUPBOX "Variables utilisateur",-1,7,12,238,100
  LTEXT "&Variables:",-1,14,24,224,8
  CONTROL "",IDC_USER_VARIABLE_LIST,"SysListView32",LVS_REPORT|LVS_SINGLESEL|LVS_SHOWSELALWAYS|LVS_SORTASCENDING|LVS_NOSORTHEADER|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP,14,35,224,48,WS_EX_CLIENTEDGE
  PUSHBUTTON "&Nouveau...",IDC_USER_VARIABLE_NEW,80,90,50,14
  PUSHBUTTON "&Modifier...",IDC_USER_VARIABLE_EDIT,134,90,50,14
  PUSHBUTTON "&Effacer",IDC_USER_VARIABLE_DELETE,188,90,50,14

  GROUPBOX "Variables système",-1,7,116,238,100
  LTEXT "V&ariables:",-1,14,128,224,8
  CONTROL "",IDC_SYSTEM_VARIABLE_LIST,"SysListView32",LVS_REPORT|LVS_SINGLESEL|LVS_SHOWSELALWAYS|LVS_SORTASCENDING|LVS_NOSORTHEADER|WS_VSCROLL|WS_HSCROLL|WS_TABSTOP,14,139,224,48,WS_EX_CLIENTEDGE
  PUSHBUTTON "&Nouveau......",IDC_SYSTEM_VARIABLE_NEW,80,194,50,14
  PUSHBUTTON "&Modifier...",IDC_SYSTEM_VARIABLE_EDIT,134,194,50,14
  PUSHBUTTON "&Effacer",IDC_SYSTEM_VARIABLE_DELETE,188,194,50,14

  DEFPUSHBUTTON "OK",IDOK,141,224,50,14,WS_GROUP
  PUSHBUTTON "Annuler",IDCANCEL,195,224,50,14
END


IDD_EDIT_VARIABLE DIALOGEX 10, 15, 240, 71
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Modifier la variable"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  LTEXT           "&Nom de la variable:",-1,7,14,65,8
  EDITTEXT        IDC_VARIABLE_NAME,85,12,145,12,ES_AUTOHSCROLL
  LTEXT           "&Valeur de la variable:",-1,7,32,70,8
  EDITTEXT        IDC_VARIABLE_VALUE,85,30,145,12,ES_AUTOHSCROLL
  
  DEFPUSHBUTTON "OK",IDOK,116,50,50,14,WS_GROUP
  PUSHBUTTON "Annuler",IDCANCEL,170,50,50,14
END


STRINGTABLE 
BEGIN
  IDS_CPLSYSTEMNAME "Système"
  IDS_CPLSYSTEMDESCRIPTION "Afficher les informations sur votre odrinateur et changer les paramètres du système et du matériel."
END
