/*
 * Chinese Resources for oleacc
 *
 * Copyright (C) 2008 Nikolay Sivov
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 * TRANSLATORS: Copyright 2016 Henry Tang Ih <henrytang2@hotmail.com>
 *              Copyright 2021 Chan Chilung <eason066@gmail.com>
 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE
{
    0 "未知的对象" /* undocumented */
    ROLE_SYSTEM_TITLEBAR    "标题栏"
    ROLE_SYSTEM_MENUBAR     "菜单栏"
    ROLE_SYSTEM_SCROLLBAR   "滚动栏"
    ROLE_SYSTEM_GRIP        "抓地力"
    ROLE_SYSTEM_SOUND       "声音"
    ROLE_SYSTEM_CURSOR      "光标"
    ROLE_SYSTEM_CARET       "插入符号"
    ROLE_SYSTEM_ALERT       "警报"
    ROLE_SYSTEM_WINDOW      "窗口"
    ROLE_SYSTEM_CLIENT      "客户端"
    ROLE_SYSTEM_MENUPOPUP   "弹出菜单"
    ROLE_SYSTEM_MENUITEM    "菜单项"
    ROLE_SYSTEM_TOOLTIP     "工具提示"
    ROLE_SYSTEM_APPLICATION "应用程序"
    ROLE_SYSTEM_DOCUMENT    "文档"
    ROLE_SYSTEM_PANE        "窗格"
    ROLE_SYSTEM_CHART       "图表"
    ROLE_SYSTEM_DIALOG      "对话框"
    ROLE_SYSTEM_BORDER      "边框"
    ROLE_SYSTEM_GROUPING    "分组"
    ROLE_SYSTEM_SEPARATOR   "分隔符"
    ROLE_SYSTEM_TOOLBAR     "工具栏"
    ROLE_SYSTEM_STATUSBAR   "状态栏"
    ROLE_SYSTEM_TABLE        "表"
    ROLE_SYSTEM_COLUMNHEADER "列标题"
    ROLE_SYSTEM_ROWHEADER    "行标题"
    ROLE_SYSTEM_COLUMN       "列"
    ROLE_SYSTEM_ROW          "行"
    ROLE_SYSTEM_CELL         "单元格"
    ROLE_SYSTEM_LINK         "链接"
    ROLE_SYSTEM_HELPBALLOON  "帮助气球"
    ROLE_SYSTEM_CHARACTER    "字符"
    ROLE_SYSTEM_LIST         "列表"
    ROLE_SYSTEM_LISTITEM     "列表项"
    ROLE_SYSTEM_OUTLINE      "大纲"
    ROLE_SYSTEM_OUTLINEITEM  "大纲项"
    ROLE_SYSTEM_PAGETAB      "页选项卡"
    ROLE_SYSTEM_PROPERTYPAGE "属性页"
    ROLE_SYSTEM_INDICATOR    "指示器"
    ROLE_SYSTEM_GRAPHIC      "图形"
    ROLE_SYSTEM_STATICTEXT   "静态文本"
    ROLE_SYSTEM_TEXT         "文本"
    ROLE_SYSTEM_PUSHBUTTON   "按钮"
    ROLE_SYSTEM_CHECKBUTTON  "复选按钮"
    ROLE_SYSTEM_RADIOBUTTON  "单选按钮"
    ROLE_SYSTEM_COMBOBOX     "组合框"
    ROLE_SYSTEM_DROPLIST     "下拉"
    ROLE_SYSTEM_PROGRESSBAR  "进度栏"
    ROLE_SYSTEM_DIAL         "拨号"
    ROLE_SYSTEM_HOTKEYFIELD  "热键域"
    ROLE_SYSTEM_SLIDER       "滑块"
    ROLE_SYSTEM_SPINBUTTON   "框"
    ROLE_SYSTEM_DIAGRAM      "关系图"
    ROLE_SYSTEM_ANIMATION    "动画"
    ROLE_SYSTEM_EQUATION     "方程"
    ROLE_SYSTEM_BUTTONDROPDOWN "下拉按钮"
    ROLE_SYSTEM_BUTTONMENU   "菜单按钮"
    ROLE_SYSTEM_BUTTONDROPDOWNGRID "格线下拉按钮"
    ROLE_SYSTEM_WHITESPACE   "白色空间"
    ROLE_SYSTEM_PAGETABLIST  "页选项卡列表"
    ROLE_SYSTEM_CLOCK        "时钟"
    ROLE_SYSTEM_SPLITBUTTON  "拆分按钮"
    ROLE_SYSTEM_IPADDRESS    "IP 地址"
    ROLE_SYSTEM_OUTLINEBUTTON "大纲按钮"

    IDS_STATE_NORMAL            "正常"
    IDS_STATE_UNAVAILABLE       "不可用"
    IDS_STATE_SELECTED          "选择"
    IDS_STATE_FOCUSED           "专注"
    IDS_STATE_PRESSED           "按下"
    IDS_STATE_CHECKED           "签下"
    IDS_STATE_MIXED             "混合"
    IDS_STATE_READONLY          "只读"
    IDS_STATE_HOTTRACKED        "热跟踪"
    IDS_STATE_DEFAULT           "默认"
    IDS_STATE_EXPANDED          "扩大"
    IDS_STATE_COLLAPSED         "折叠"
    IDS_STATE_BUSY              "繁忙"
    IDS_STATE_FLOATING          "浮动"
    IDS_STATE_MARQUEED          "字幕"
    IDS_STATE_ANIMATED          "动画"
    IDS_STATE_INVISIBLE         "看不见"
    IDS_STATE_OFFSCREEN         "屏幕外"
    IDS_STATE_SIZEABLE          "相当大"
    IDS_STATE_MOVEABLE          "可移动"
    IDS_STATE_SELFVOICING       "自我表达"
    IDS_STATE_FOCUSABLE         "焦点"
    IDS_STATE_SELECTABLE        "可选项"
    IDS_STATE_LINKED            "链接"
    IDS_STATE_TRAVERSED         "遍历"
    IDS_STATE_MULTISELECTABLE   "多可选项"
    IDS_STATE_EXTSELECTABLE     "扩展可选项"
    IDS_STATE_ALERT_LOW         "低警报"
    IDS_STATE_ALERT_MEDIUM      "中警报"
    IDS_STATE_ALERT_HIGH        "高警报"
    IDS_STATE_PROTECTED         "保护"
    IDS_STATE_HASPOPUP          "有弹出菜单"
}

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

STRINGTABLE
{
    0 "不明物件" /* undocumented */
    ROLE_SYSTEM_TITLEBAR    "標題列"
    ROLE_SYSTEM_MENUBAR     "選單列"
    ROLE_SYSTEM_SCROLLBAR   "捲軸"
    ROLE_SYSTEM_GRIP        "底框"
    ROLE_SYSTEM_SOUND       "聲音"
    ROLE_SYSTEM_CURSOR      "游標"
    ROLE_SYSTEM_CARET       "插入點"
    ROLE_SYSTEM_ALERT       "警示"
    ROLE_SYSTEM_WINDOW      "視窗"
    ROLE_SYSTEM_CLIENT      "用戶端"
    ROLE_SYSTEM_MENUPOPUP   "快顯功能表"
    ROLE_SYSTEM_MENUITEM    "功能表項目"
    ROLE_SYSTEM_TOOLTIP     "工具提示"
    ROLE_SYSTEM_APPLICATION "應用程式"
    ROLE_SYSTEM_DOCUMENT    "文件"
    ROLE_SYSTEM_PANE        "窗格"
    ROLE_SYSTEM_CHART       "圖表"
    ROLE_SYSTEM_DIALOG      "對話框"
    ROLE_SYSTEM_BORDER      "邊界"
    ROLE_SYSTEM_GROUPING    "群組"
    ROLE_SYSTEM_SEPARATOR   "分隔字元"
    ROLE_SYSTEM_TOOLBAR     "工具列"
    ROLE_SYSTEM_STATUSBAR   "狀態列"
    ROLE_SYSTEM_TABLE        "表格"
    ROLE_SYSTEM_COLUMNHEADER "欄標題"
    ROLE_SYSTEM_ROWHEADER    "列標題"
    ROLE_SYSTEM_COLUMN       "欄"
    ROLE_SYSTEM_ROW          "列"
    ROLE_SYSTEM_CELL         "儲存格"
    ROLE_SYSTEM_LINK         "連結"
    ROLE_SYSTEM_HELPBALLOON  "説明氣球"
    ROLE_SYSTEM_CHARACTER    "字元"
    ROLE_SYSTEM_LIST         "清單"
    ROLE_SYSTEM_LISTITEM     "清單項目"
    ROLE_SYSTEM_OUTLINE      "邊框"
    ROLE_SYSTEM_OUTLINEITEM  "邊框項目"
    ROLE_SYSTEM_PAGETAB      "索引標籤"
    ROLE_SYSTEM_PROPERTYPAGE "內容頁面"
    ROLE_SYSTEM_INDICATOR    "指示器"
    ROLE_SYSTEM_GRAPHIC      "圖形"
    ROLE_SYSTEM_STATICTEXT   "靜態文字"
    ROLE_SYSTEM_TEXT         "文字"
    ROLE_SYSTEM_PUSHBUTTON   "按鈕"
    ROLE_SYSTEM_CHECKBUTTON  "核取按鈕"
    ROLE_SYSTEM_RADIOBUTTON  "選項按鈕"
    ROLE_SYSTEM_COMBOBOX     "下拉式方塊"
    ROLE_SYSTEM_DROPLIST     "下拉"
    ROLE_SYSTEM_PROGRESSBAR  "進度列"
    ROLE_SYSTEM_DIAL         "撥號"
    ROLE_SYSTEM_HOTKEYFIELD  "快速鍵欄位"
    ROLE_SYSTEM_SLIDER       "滑桿"
    ROLE_SYSTEM_SPINBUTTON   "調整方塊"
    ROLE_SYSTEM_DIAGRAM      "圖表"
    ROLE_SYSTEM_ANIMATION    "動畫"
    ROLE_SYSTEM_EQUATION     "方程式"
    ROLE_SYSTEM_BUTTONDROPDOWN "下拉按鈕"
    ROLE_SYSTEM_BUTTONMENU   "選單按鈕"
    ROLE_SYSTEM_BUTTONDROPDOWNGRID "格線下拉按鈕"
    ROLE_SYSTEM_WHITESPACE   "白色空格"
    ROLE_SYSTEM_PAGETABLIST  "索引標籤清單"
    ROLE_SYSTEM_CLOCK        "時鐘"
    ROLE_SYSTEM_SPLITBUTTON  "分割按鈕"
    ROLE_SYSTEM_IPADDRESS    "IP 位址"
    ROLE_SYSTEM_OUTLINEBUTTON "外框按鈕"

    IDS_STATE_NORMAL            "一般"
    IDS_STATE_UNAVAILABLE       "無法使用"
    IDS_STATE_SELECTED          "已選取"
    IDS_STATE_FOCUSED           "已設定焦點"
    IDS_STATE_PRESSED           "已按下"
    IDS_STATE_CHECKED           "已核取"
    IDS_STATE_MIXED             "已混和"
    IDS_STATE_READONLY          "唯讀"
    IDS_STATE_HOTTRACKED        "熱點追蹤"
    IDS_STATE_DEFAULT           "預設"
    IDS_STATE_EXPANDED          "已展開"
    IDS_STATE_COLLAPSED         "已折疊"
    IDS_STATE_BUSY              "忙碌"
    IDS_STATE_FLOATING          "飄浮"
    IDS_STATE_MARQUEED          "跑馬燈"
    IDS_STATE_ANIMATED          "動畫"
    IDS_STATE_INVISIBLE         "隱藏"
    IDS_STATE_OFFSCREEN         "螢幕不可見"
    IDS_STATE_SIZEABLE          "可調大小"
    IDS_STATE_MOVEABLE          "可移動"
    IDS_STATE_SELFVOICING       "自動發聲"
    IDS_STATE_FOCUSABLE         "可設定焦點"
    IDS_STATE_SELECTABLE        "可選取"
    IDS_STATE_LINKED            "已連結"
    IDS_STATE_TRAVERSED         "可測定"
    IDS_STATE_MULTISELECTABLE   "可多重選取"
    IDS_STATE_EXTSELECTABLE     "可擴充選取"
    IDS_STATE_ALERT_LOW         "低度警示"
    IDS_STATE_ALERT_MEDIUM      "中度警示"
    IDS_STATE_ALERT_HIGH        "高度警示"
    IDS_STATE_PROTECTED         "保護"
    IDS_STATE_HASPOPUP          "有快顯"
}
