/*
 * Turkish resources for oleacc
 *
 * Copyright: 2014 Erdem Ersoy (eersoy93) (erdemersoy [at] erdemersoy [dot] net)
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

STRINGTABLE
{
    0 "bilinmeyen nesne" /* undocumented */
    ROLE_SYSTEM_TITLEBAR    "başlık çubuğu"
    ROLE_SYSTEM_MENUBAR     "seçke çubuğu"
    ROLE_SYSTEM_SCROLLBAR   "kaydırma çubuğu"
    ROLE_SYSTEM_GRIP        "tutacak"
    ROLE_SYSTEM_SOUND       "ses"
    ROLE_SYSTEM_CURSOR      "imleç"
    ROLE_SYSTEM_CARET       "şapka"
    ROLE_SYSTEM_ALERT       "uyarı"
    ROLE_SYSTEM_WINDOW      "pencere"
    ROLE_SYSTEM_CLIENT      "istemci"
    ROLE_SYSTEM_MENUPOPUP   "açılan menü"
    ROLE_SYSTEM_MENUITEM    "menü öğesi"
    ROLE_SYSTEM_TOOLTIP     "araç ipucu"
    ROLE_SYSTEM_APPLICATION "uygulama"
    ROLE_SYSTEM_DOCUMENT    "belge"
    ROLE_SYSTEM_PANE        "panel"
    ROLE_SYSTEM_CHART       "grafik"
    ROLE_SYSTEM_DIALOG      "iletişim kutusu"
    ROLE_SYSTEM_BORDER      "sınır"
    ROLE_SYSTEM_GROUPING    "öbekleme"
    ROLE_SYSTEM_SEPARATOR   "ayırıcı"
    ROLE_SYSTEM_TOOLBAR     "araç çubuğu"
    ROLE_SYSTEM_STATUSBAR   "durum çubuğu"
    ROLE_SYSTEM_TABLE        "tablo"
    ROLE_SYSTEM_COLUMNHEADER "sutun başlığı"
    ROLE_SYSTEM_ROWHEADER    "satır başlığı"
    ROLE_SYSTEM_COLUMN       "sutun"
    ROLE_SYSTEM_ROW          "satır"
    ROLE_SYSTEM_CELL         "hücre"
    ROLE_SYSTEM_LINK         "bağlantı"
    ROLE_SYSTEM_HELPBALLOON  "yardım balonu"
    ROLE_SYSTEM_CHARACTER    "karakter"
    ROLE_SYSTEM_LIST         "liste"
    ROLE_SYSTEM_LISTITEM     "liste öğesi"
    ROLE_SYSTEM_OUTLINE      "anaçizgi"
    ROLE_SYSTEM_OUTLINEITEM  "anaçizgi öğesi"
    ROLE_SYSTEM_PAGETAB      "sayfa sekmesi"
    ROLE_SYSTEM_PROPERTYPAGE "özellikler sayfası"
    ROLE_SYSTEM_INDICATOR    "gösterge"
    ROLE_SYSTEM_GRAPHIC      "grafik"
    ROLE_SYSTEM_STATICTEXT   "statik metin"
    ROLE_SYSTEM_TEXT         "metin"
    ROLE_SYSTEM_PUSHBUTTON   "buton"
    ROLE_SYSTEM_CHECKBUTTON  "kutucuk"
    ROLE_SYSTEM_RADIOBUTTON  "seçenek butonu"
    ROLE_SYSTEM_COMBOBOX     "açılan liste"
    ROLE_SYSTEM_DROPLIST     "açılan"
    ROLE_SYSTEM_PROGRESSBAR  "ilerleme çubuğu"
    ROLE_SYSTEM_DIAL         "kadran"
    ROLE_SYSTEM_HOTKEYFIELD  "kısayol düğmesi alanı"
    ROLE_SYSTEM_SLIDER       "kaydırıcı"
    ROLE_SYSTEM_SPINBUTTON   "döndürme kutusu"
    ROLE_SYSTEM_DIAGRAM      "diagram"
    ROLE_SYSTEM_ANIMATION    "canlandırma"
    ROLE_SYSTEM_EQUATION     "denklem"
    ROLE_SYSTEM_BUTTONDROPDOWN "açılan düğme"
    ROLE_SYSTEM_BUTTONMENU   "menü düğmesi"
    ROLE_SYSTEM_BUTTONDROPDOWNGRID "ızgara açılan düğmesi"
    ROLE_SYSTEM_WHITESPACE   "boşluk"
    ROLE_SYSTEM_PAGETABLIST  "sayfa sekmesi listesi"
    ROLE_SYSTEM_CLOCK        "saat"
    ROLE_SYSTEM_SPLITBUTTON  "ayırma düğmesi"
    ROLE_SYSTEM_IPADDRESS    "IP adresi"
    ROLE_SYSTEM_OUTLINEBUTTON "anaçizgi düğmesi"

    IDS_STATE_NORMAL            "normal"
    IDS_STATE_UNAVAILABLE       "kullanılamaz"
    IDS_STATE_SELECTED          "seçili"
    IDS_STATE_FOCUSED           "odaklı"
    IDS_STATE_PRESSED           "basılı"
    IDS_STATE_CHECKED           "işaretli"
    IDS_STATE_MIXED             "karışık"
    IDS_STATE_READONLY          "salt okunur"
    IDS_STATE_HOTTRACKED        "yakından izlenen"
    IDS_STATE_DEFAULT           "ön tanımlı"
    IDS_STATE_EXPANDED          "genişletilmiş"
    IDS_STATE_COLLAPSED         "daraltılmış"
    IDS_STATE_BUSY              "dolu"
    IDS_STATE_FLOATING          "değişen"
    IDS_STATE_MARQUEED          "asılı"
    IDS_STATE_ANIMATED          "canlı"
    IDS_STATE_INVISIBLE         "görünmez"
    IDS_STATE_OFFSCREEN         "ekran dışı"
    IDS_STATE_SIZEABLE          "boyutlandırılabilir"
    IDS_STATE_MOVEABLE          "taşınabilir"
    IDS_STATE_SELFVOICING       "kendinden sesli"
    IDS_STATE_FOCUSABLE         "odaklanılabilir"
    IDS_STATE_SELECTABLE        "seçilebilir"
    IDS_STATE_LINKED            "bağlanmış"
    IDS_STATE_TRAVERSED         "geçmiş"
    IDS_STATE_MULTISELECTABLE   "çoklu seçilebilir"
    IDS_STATE_EXTSELECTABLE     "genişletilmiş seçilebilir"
    IDS_STATE_ALERT_LOW         "uyarı düşük"
    IDS_STATE_ALERT_MEDIUM      "uyarı orta"
    IDS_STATE_ALERT_HIGH        "uyarı yüksek"
    IDS_STATE_PROTECTED         "korunan"
    IDS_STATE_HASPOPUP          "açılanı var"
}
