/*
 * FILE:        base/applications/network/netstat/lang/tr-TR.rc
 * PURPOSE:     Turkish translations for ReactOS Netstat Command
 * TRANSLATORS: 2024, Süleyman Poyraz < zaryob [dot] dev [at] gmail [dot] com>
 */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_USAGE "\nMevcut TCP/IP protokol istatistiklerini ve ağ bağlantılarını gösterir.\n\n\
NETSTAT [-a] [-b] [-e] [-n] [-o] [-p proto] [-r] [-s] [-t] [-v] [aralık]\n\n\
  -a            Tüm bağlantıları ve dinleme portlarını gösterir.\n\
  -b            FIXME (Kabul edilen seçenek ancak uygulanmamış özellik).\n\
  -e            Ethernet istatistiklerini gösterir. -s seçeneği ile\n\
                birlikte kullanılabilir.\n\
  -n            Adres ve port numaralarını sayısal formatta gösterir.\n\
  -o            Her bağlantı için işlem kimliğini gösterir.\n\
  -p proto      'proto' protokolü (TCP veya UDP) için bağlantıları gösterir.\n\
                -s seçeneği ile protokol bazlı istatistikleri göstermek için\n\
                kullanıldığında, 'proto' TCP, UDP veya IP olabilir.\n\
  -r            Mevcut yönlendirme tablosunu gösterir.\n\
  -s            Protokol bazlı istatistikleri gösterir. Varsayılan olarak,\n\
                IP, ICMP, TCP ve UDP için istatistikler gösterilir;\n\
                -p seçeneği varsayılanın bir alt kümesini belirtmek için kullanılabilir.\n\
  -t            FIXME (Kabul edilen seçenek ancak uygulanmamış özellik).\n\
  -v            FIXME (Kabul edilen seçenek ancak uygulanmamış özellik).\n\
  aralık        Seçilen istatistikleri her 'aralık' saniyede bir yeniden gösterir.\n\
                Yeniden gösterimi durdurmak için CTRL+C tuşlarına basın. Varsayılan olarak\n\
                netstat mevcut bilgileri yalnızca bir kez yazdırır.\n"
    IDS_DISPLAY_THEADER "\n  Protokol  Yerel Adres          Uzak Adres            Durum"
    IDS_DISPLAY_PROCESS "       İşlem\n"
    IDS_ACTIVE_CONNECT "\nAktif Bağlantılar\n"
END

STRINGTABLE
BEGIN
    IDS_IP4_STAT_HEADER "\nIPv4 İstatistikleri\n\n"
    IDS_IP_PACK_REC            "  Alınan Paketler                   = %lu\n"
    IDS_IP_HEAD_REC_ERROR      "  Alınan Başlık Hataları           = %lu\n"
    IDS_IP_ADDR_REC_ERROR      "  Alınan Adres Hataları            = %lu\n"
    IDS_IP_DATAG_FWD           "  İletilen Veri Paketleri          = %lu\n"
    IDS_IP_UNKNOWN_PRO_REC     "  Alınan Bilinmeyen Protokoller    = %lu\n"
    IDS_IP_REC_PACK_DISCARD    "  Alınan İptal Edilen Paketler     = %lu\n"
    IDS_IP_REC_PACK_DELIVER    "  Alınan Teslim Edilen Paketler    = %lu\n"
    IDS_IP_OUT_REQUEST         "  Çıkış İstekleri                  = %lu\n"
    IDS_IP_ROUTE_DISCARD       "  Yönlendirme İptalleri            = %lu\n"
    IDS_IP_DISCARD_OUT_PACK    "  İptal Edilen Çıkış Paketleri     = %lu\n"
    IDS_IP_OUT_PACKET_NO_ROUTE "  Rota Bulunamayan Çıkış Paketleri = %lu\n"
    IDS_IP_REASSEMBLE_REQUIRED "  Yeniden Birleştirme Gerekli      = %lu\n"
    IDS_IP_REASSEMBLE_SUCCESS  "  Başarılı Yeniden Birleştirme     = %lu\n"
    IDS_IP_REASSEMBLE_FAILURE  "  Başarısız Yeniden Birleştirme    = %lu\n"
    IDS_IP_DATAG_FRAG_SUCCESS  "  Başarıyla Parçalanan Veri Paketleri = %lu\n"
    IDS_IP_DATAG_FRAG_FAILURE  "  Parçalanamayan Veri Paketleri    = %lu\n"
    IDS_IP_DATAG_FRAG_CREATE   "  Oluşturulan Parçalar             = %lu\n"
END

STRINGTABLE
BEGIN
    IDS_ICMP4_STAT_HEADER "\nICMPv4 İstatistikleri\n\n"
    IDS_ICMP_THEADER             "                            Alınan    Gönderilen\n"
    IDS_ICMP_MSG                 "  Mesajlar                %-11lu %-10lu\n"
    IDS_ICMP_ERROR               "  Hatalar                 %-11lu %-10lu\n"
    IDS_ICMP_DEST_UNREACH        "  Hedef Ulaşılamaz        %-11lu %-10lu\n"
    IDS_ICMP_TIME_EXCEED         "  Süre Aşıldı            %-11lu %-10lu\n"
    IDS_ICMP_PARAM_PROBLEM       "  Parametre Sorunları    %-11lu %-10lu\n"
    IDS_ICMP_SRC_QUENCHES        "  Kaynak Kısıtlamaları   %-11lu %-10lu\n"
    IDS_ICMP_REDIRECT            "  Yönlendirmeler         %-11lu %-10lu\n"
    IDS_ICMP_ECHO                "  Yankılar               %-11lu %-10lu\n"
    IDS_ICMP_ECHO_REPLY          "  Yankı Yanıtları        %-11lu %-10lu\n"
    IDS_ICMP_TIMESTAMP           "  Zaman Damgaları        %-11lu %-10lu\n"
    IDS_ICMP_TIMESTAMP_REPLY     "  Zaman Damgası Yanıtları = %-11lu %-10lu\n"
    IDS_ICMP_ADDRESSS_MASK       "  Adres Maskeleri        %-11lu %-10lu\n"
    IDS_ICMP_ADDRESSS_MASK_REPLY "  Adres Maskesi Yanıtları = %-11lu %-10lu\n"
END

STRINGTABLE
BEGIN
    IDS_TCP4_HEADER         "\nIPv4 için TCP İstatistikleri\n\n"
    IDS_TCP_ACTIVE_OPEN     "  Aktif Açılışlar                    = %lu\n"
    IDS_TCP_PASS_OPEN       "  Pasif Açılışlar                    = %lu\n"
    IDS_TCP_FAIL_CONNECT    "  Başarısız Bağlantı Denemeleri      = %lu\n"
    IDS_TCP_RESET_CONNECT   "  Sıfırlanan Bağlantılar             = %lu\n"
    IDS_TCP_CURRENT_CONNECT "  Mevcut Bağlantılar                 = %lu\n"
    IDS_TCP_SEG_RECEIVE     "  Alınan Segmentler                  = %lu\n"
    IDS_TCP_SEG_SENT        "  Gönderilen Segmentler              = %lu\n"
    IDS_TCP_SEG_RETRANSMIT  "  Yeniden İletilen Segmentler        = %lu\n"
END

STRINGTABLE
BEGIN
    IDS_UDP_IP4_HEADER    "\nIPv4 için UDP İstatistikleri\n\n"
    IDS_UDP_DATAG_RECEIVE "  Alınan Veri Paketleri    = %lu\n"
    IDS_UDP_NO_PORT       "  Port Bulunamadı          = %lu\n"
    IDS_UDP_RECEIVE_ERROR "  Alım Hataları           = %lu\n"
    IDS_UDP_DATAG_SEND    "  Gönderilen Veri Paketleri = %lu\n"
END

STRINGTABLE
BEGIN
    IDS_ETHERNET_INTERFACE_STAT     "Arayüz İstatistikleri\n\n"
    IDS_ETHERNET_THEADER            "                           Alınan            Gönderilen\n\n"
    IDS_ETHERNET_BYTES              "Baytlar              %14lu %15lu\n"
    IDS_ETHERNET_UNICAST_PACKET     "Tekli paketler      %14lu %15lu\n"
    IDS_ETHERNET_NON_UNICAST_PACKET "Çoklu paketler      %14lu %15lu\n"
    IDS_ETHERNET_DISCARD            "İptaller            %14lu %15lu\n"
    IDS_ETHERNET_ERROR              "Hatalar             %14lu %15lu\n"
    IDS_ETHERNET_UNKNOWN            "Bilinmeyen protokoller    %14lu\n"
END

STRINGTABLE
BEGIN
    IDS_ERROR_WSA_START "HATA: WSAStartup() başarısız oldu: %d\n"
    IDS_ERROR_ROUTE "HATA: 'route.exe' bulunamadı\n"
    IDS_ERROR_TCP_SNAPSHOT "HATA: TCP uç noktalarının anlık görüntüsü alınamadı.\n"
    IDS_ERROR_UDP_ENDPOINT "HATA: UDP uç noktalarının anlık görüntüsü alınamadı.\n"
    IDS_ERROR_UDP_ENDPOINT_TABLE "HATA: UDP uç noktaları tablosunun anlık görüntüsü alınamadı.\n"
END
