body {
  color: black;
  background-color: rgb(214, 223, 231);
}
h1 {
  font-size: 125%;
}
h2 {
  font-size: 110%;
}
h3 {
  font-size: 100%;
}
p {
  font-size: 90%;
}
small {
  font-size: 80%;
}
img {
  vertical-align: middle;
}
#top_banner_div {
  overflow: hidden;
}
