/*
 * German resources for MSI
 *
 * Copyright 2005 Henning Gerhardt
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

#pragma code_page(65001)

STRINGTABLE DISCARDABLE
{
	4 "Das angegebene Installationspaket konnte nicht geöffnet werden. Bitte überprüfen Sie den Pfadnamen und versuchen Sie es noch einmal."
	5 "Der Pfad %s wurde nicht gefunden."
	9 "Bitte Disk %s einlegen."
	10 "Falsche Parameter"
	11 "Geben Sie das Verzeichnis ein, dass %s enthält."
	12 "Die Installationsquelle für das Feature fehlt."
	13 "Das Netzwerklaufwerk für das Feature fehlt."
	14 "Feature von:"
	15 "Wählen Sie das Verzeichnis aus, dass %s enthält."
}

#pragma code_page(default)
