/*  TRANSLATOR : Mário Kačmár /Mario Kacmar/ aka Kario (kario@szm.sk)
 *  DATE OF TR.: 12-03-2009
 *  LAST CHANGE: 12-03-2009
 */

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

IDR_MAINMENU MENU
BEGIN
    POPUP "&Súbor"
    BEGIN
        MENUITEM "&Otvoriť...\tCtrl+O", IDM_OPEN_FILE
        MENUITEM "&Zavrieť\tCtrl+W", IDM_CLOSE_FILE
        MENUITEM SEPARATOR
        MENUITEM "S&končiť", IDM_EXIT
    END
    POPUP "&Play"
    BEGIN
        MENUITEM "Play/&Pause\tCtrl+P", IDC_PLAY
        MENUITEM "St&op\tCtrl+S", IDC_STOP
        MENUITEM SEPARATOR
        MENUITEM "Repea&t\tCtrl+T", IDM_REPEAT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "Single-Window &Mode", IDM_SWITCHVIEW
    END
    POPUP "&Device"
    BEGIN
        MENUITEM "&Properties", IDM_DEVPROPS
        MENUITEM SEPARATOR
        MENUITEM "&Volume Control", IDM_VOLUMECTL
    END
    POPUP "&Pomocník"
    BEGIN
        MENUITEM "Č&o je...", IDM_ABOUT
    END
END

ID_ACCELERATORS ACCELERATORS
BEGIN
    "^O", IDM_OPEN_FILE
    "^W", IDM_CLOSE_FILE
    "^P", IDC_PLAY
    "^S", IDC_STOP
    "^T", IDM_REPEAT
END

STRINGTABLE
BEGIN
    IDS_ALL_TYPES_FILTER "Všetky podporované"
    IDS_TOOLTIP_PLAY "Prehrať"
    IDS_TOOLTIP_STOP "Zastaviť"
    IDS_TOOLTIP_EJECT "Vysunúť"
    IDS_TOOLTIP_BACKWARD "Preskočiť dozadu"
    IDS_TOOLTIP_SEEKBACK "Vyhľadať dozadu"
    IDS_TOOLTIP_SEEKFORW "Vyhľadať dopredu"
    IDS_TOOLTIP_FORWARD "Preskočiť dopredu"
    IDS_TOOLTIP_PAUSE "Pause"
    IDS_APPTITLE "Multimediálny prehrávač systému ReactOS"
    IDS_PLAY "Prehrať"
    IDS_DEFAULTMCIERRMSG "No description is available for this error."
END
