/* TRANSLATOR: 2013, 2014 Erdem Ersoy (eersoy93) (erdemersoy@live.com) */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

IDR_MAINMENU MENU
BEGIN
    POPUP "&Kütük"
    BEGIN
        MENUITEM "&Aç...", IDM_OPEN_FILE
        MENUITEM "&Kapat", IDM_CLOSE_FILE
        MENUITEM SEPARATOR
        MENUITEM "&Çıkış", IDM_EXIT
    END
    POPUP "&Aygıt"
    BEGIN
        MENUITEM "&Husûsiyetler", IDM_DEVPROPS
        MENUITEM SEPARATOR
        MENUITEM "&Ses Düzeyi Denetimi", IDM_VOLUMECTL
    END
    POPUP "&Yardım"
    BEGIN
        MENUITEM "&Üzerine...", IDM_ABOUT
    END
END

STRINGTABLE
BEGIN
    IDS_ALL_TYPES_FILTER "Desteklenen Kütükler (*.wav, *.cda, *.mid, *.midi, *.avi)\0*.wav;*.cda;*.mid;*.midi;*.avi\0"
    IDS_TOOLTIP_PLAY "Çal"
    IDS_TOOLTIP_STOP "Durdur"
    IDS_TOOLTIP_EJECT "Çıkar"
    IDS_TOOLTIP_BACKWARD "Bir Öncekine Geç"
    IDS_TOOLTIP_SEEKBACK "Geri Sar"
    IDS_TOOLTIP_SEEKFORW "İleri Sar"
    IDS_TOOLTIP_FORWARD "Bir Sonrakine Geç"
    IDS_APPTITLE "Çoklu Ortam Oynatıcısı"
    IDS_PLAY "Çal"
    IDS_DEFAULTMCIERRMSG "Bu yanlışlığın tanımı yoktur."
    IDS_UNKNOWNFILEEXT "Verilen kütük türünden aygıt türü belirlenemiyor."
END
