LANGUAGE LANG_NORWEGIAN, SUBLANG_NEUTRAL

IDM_TRAYWND MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Lås oppgavelinjen", ID_LOCKTASKBAR
        MENUITEM "E&genskaper", ID_SHELL_CMD_PROPERTIES
    END
END

IDM_STARTMENU MENUEX DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "", -1, MFT_SEPARATOR
        POPUP "&Programmer", IDM_PROGRAMS
        BEGIN
            MENUITEM "(Tom)", -1, MFT_STRING, MFS_GRAYED
        END
        POPUP "F&avoritter", IDM_FAVORITES
        BEGIN
            MENUITEM "(Tom)", -1, MFT_STRING, MFS_GRAYED
        END
        POPUP "&Dokumenter", IDM_DOCUMENTS
        BEGIN
            MENUITEM "(Tom)", -1, MFT_STRING, MFS_GRAYED
        END
        POPUP "&Innstillinger", IDM_SETTINGS
        BEGIN
            MENUITEM "&Kontrollpanel", IDM_CONTROLPANEL, MFT_STRING, MFS_GRAYED
            MENUITEM "", -1, MFT_SEPARATOR
            MENUITEM "&Sikkerhet...", IDM_SECURITY, MFT_STRING, MFS_ENABLED
            MENUITEM "&Nettverk tilkoblinger", IDM_NETWORKCONNECTIONS, MFT_STRING, MFS_ENABLED
            MENUITEM "&Printere og Fakser", IDM_PRINTERSANDFAXES, MFT_STRING, MFS_ENABLED
            MENUITEM "&Oppgavelinje og Start meny", IDM_TASKBARANDSTARTMENU, MFT_STRING, MFS_ENABLED
        END
        POPUP "Sø&k", IDM_SEARCH
        BEGIN
            MENUITEM "", -1, MFT_SEPARATOR
        END
        MENUITEM "&Hjelp og Støtte", IDM_HELPANDSUPPORT, MFT_STRING, MFS_ENABLED
        MENUITEM "&Kjør...", IDM_RUN, MFT_STRING, MFS_ENABLED
        MENUITEM "", 450, MFT_SEPARATOR, MFS_ENABLED
        MENUITEM "S&ynkroniser", IDM_SYNCHRONIZE, MFT_STRING, MFS_ENABLED
        MENUITEM "&Logg av %s...", IDM_LOGOFF, MFT_STRING, MFS_ENABLED
        MENUITEM "K&oble fra...", IDM_DISCONNECT, MFT_STRING, MFS_ENABLED
        MENUITEM "Lås datamaskin&en", IDM_UNDOCKCOMPUTER, MFT_STRING, MFS_ENABLED
        MENUITEM "Sl&å av...", IDM_SHUTDOWN, MFT_STRING, MFS_ENABLED
    END
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_START             "Start"
    IDS_PROPERTIES        "E&genskaper"
    IDS_OPEN_ALL_USERS    "Å&pne alle brukere"
    IDS_EXPLORE_ALL_USERS "U&tforsk alle brukere"
END
