//Polish translation by Caemyr - Olaf Siejka (caemyr@gmail.com) June, 2007
// updated by niski - Maciej Bialas (bjauy@o2.pl), July 2009

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

IDM_TRAYWND MENU DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM SEPARATOR
        MENUITEM "Mened¿er zadañ", ID_SHELL_CMD_OPEN_TASKMGR
        MENUITEM SEPARATOR
        MENUITEM "&Zablokuj Pasek zadañ", ID_LOCKTASKBAR
        MENUITEM "&W³aœciwoœci", ID_SHELL_CMD_PROPERTIES
    END
END

IDM_STARTMENU MENUEX DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "", -1, MFT_SEPARATOR
        POPUP "&Programy", IDM_PROGRAMS
        BEGIN
            MENUITEM "(Pusty)", -1, MFT_STRING, MFS_GRAYED
        END
        POPUP "&Ulubione", IDM_FAVORITES
        BEGIN
            MENUITEM "(Pusty)", -1, MFT_STRING, MFS_GRAYED
        END
        POPUP "&Dokumenty", IDM_DOCUMENTS
        BEGIN
            MENUITEM "(Pusty)", -1, MFT_STRING, MFS_GRAYED
        END
        POPUP "Us&tawienia", IDM_SETTINGS
        BEGIN
            MENUITEM "P&anel sterowania", IDM_CONTROLPANEL, MFT_STRING, MFS_GRAYED
            MENUITEM "", -1, MFT_SEPARATOR
            MENUITEM "Za&bezpieczenia...", IDM_SECURITY, MFT_STRING, MFS_ENABLED
            MENUITEM "P&o³¹czenia sieciowe", IDM_NETWORKCONNECTIONS, MFT_STRING, MFS_ENABLED
            MENUITEM "&Drukarki i faksy", IDM_PRINTERSANDFAXES, MFT_STRING, MFS_ENABLED
            MENUITEM "P&asek zadañ i Menu Start", IDM_TASKBARANDSTARTMENU, MFT_STRING, MFS_ENABLED
        END
        POPUP "&Szukaj", IDM_SEARCH
        BEGIN
            MENUITEM "", -1, MFT_SEPARATOR
        END
        MENUITEM "Po&moc", IDM_HELPANDSUPPORT, MFT_STRING, MFS_ENABLED
        MENUITEM "&Uruchom...", IDM_RUN, MFT_STRING, MFS_ENABLED
        MENUITEM "", 450, MFT_SEPARATOR, MFS_ENABLED
        MENUITEM "S&ynchronizuj", IDM_SYNCHRONIZE, MFT_STRING, MFS_ENABLED
        MENUITEM "&Wyloguj %s...", IDM_LOGOFF, MFT_STRING, MFS_ENABLED
        MENUITEM "&Roz³¹cz...", IDM_DISCONNECT, MFT_STRING, MFS_ENABLED
        MENUITEM "Oddokuj &komputer", IDM_UNDOCKCOMPUTER, MFT_STRING, MFS_ENABLED
        MENUITEM "&Zamknij system...", IDM_SHUTDOWN, MFT_STRING, MFS_ENABLED
    END
END


IDD_TASKBARPROP_TASKBAR DIALOGEX 0, 0, 252, 218
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Pasek zadañ"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Wygl¹d paska zadañ", IDC_STATIC, 6,6,240,121, WS_DISABLED
    CONTROL         "", IDC_TASKBARPROP_TASKBARBITMAP, "Static", SS_BITMAP | SS_SUNKEN, 13,18,224,21, WS_DISABLED
    AUTOCHECKBOX    "&Zablokuj pasek zadañ", IDC_TASKBARPROP_LOCK, 13,45,200,10, WS_DISABLED
    AUTOCHECKBOX    "A&utomatyczne ukrywanie paska zadañ", IDC_TASKBARPROP_HIDE, 13,58,200,10, WS_DISABLED
    AUTOCHECKBOX    "Zawsze &na wierzchu", IDC_TASKBARPROP_ONTOP, 13,71,200,10, WS_DISABLED
    AUTOCHECKBOX    "&Grupuj programy w pasku zadañ", IDC_TASKBARPROP_GROUP, 13,84,200,10, WS_DISABLED
    AUTOCHECKBOX    "Poka¿ pasek &Szybkiego uruchamiania", IDC_TASKBARPROP_SHOWQL, 13,97,200,10, WS_DISABLED
    AUTOCHECKBOX    "&Poka¿ podgl¹d okien (miniaturki)", IDC_TASKBARPROP_WNDPREV, 13,110,200,10, WS_DISABLED
END

IDD_TASKBARPROP_STARTMENU DIALOGEX 0, 0, 252, 218
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Menu Start"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    AUTORADIOBUTTON "&Menu Start", IDC_TASKBARPROP_STARTMENU, 7,7,105,10
    LTEXT           "Ten styl menu daje Tobie ³atwy dostêp do Twoich folderów, ulubionych programów i wyszukiwania.", IDC_STATIC, 20,17,150,24, WS_DISABLED
    PUSHBUTTON      "&Dostosuj...", IDC_TASKBARPROP_STARTMENUCUST, 192,4,53,14, WS_DISABLED
    AUTORADIOBUTTON "&Klasyczne Menu Start", IDC_TASKBARPROP_STARTMENUCLASSIC, 7,47,105,10, WS_DISABLED
    LTEXT           "Ten styl menu zawiera klasyczny wygl¹d i funkcjonalnoœæ",-1,20,57,150,24, WS_DISABLED
    PUSHBUTTON      "&Dostosuj...", IDC_TASKBARPROP_STARTMENUCLASSICCUST, 192,44,53,14, WS_DISABLED
    GROUPBOX        "Prywatnoœæ",IDC_STATIC, 7,100,238,42
    AUTOCHECKBOX    "Zachowaj i wyœwietl listê niedawno &otwartych plików", IDC_TASKBARPROP_RECENTFILES, 14,114,224,10, WS_DISABLED
    AUTOCHECKBOX    "Zachowaj i wyœwietl listê niedawno otwartych &programów",IDC_TASKBARPROP_RECENTFOLDERS, 14,128,224,10, WS_DISABLED
END

IDD_TASKBARPROP_NOTIFICATION DIALOGEX 0, 0, 252, 218
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Obszar powiadomieñ"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "", IDC_TASKBARPROP_NOTIFICATIONBITMAP, "Static", SS_BITMAP | SS_SUNKEN,7,6,238,21, WS_DISABLED
    GROUPBOX        "Ikony", IDC_STATIC, 6,33,240,58, WS_DISABLED
    LTEXT           "Mo¿esz uporz¹dkowaæ obszar powiadomieñ poprzez ukrycie rzadko u¿ywanych ikon.", IDC_STATIC, 13,48,223,16, WS_DISABLED
    AUTOCHECKBOX    "&Ukryj nieaktywne ikony", IDC_TASKBARPROP_HIDEICONS, 13,70,125,10, WS_DISABLED
    PUSHBUTTON      "&Dostosuj...", IDC_TASKBARPROP_ICONCUST, 188,70,50,14, WS_DISABLED
    GROUPBOX        "Ikony systemowe", IDC_STATIC, 6,97,240,84, WS_DISABLED
    LTEXT           "Wybierz zawsze widoczne ikony systemowe.", IDC_STATIC, 13,112,223,16, WS_DISABLED
    AUTOCHECKBOX    "&Zegar", IDC_TASKBARPROP_CLOCK, 13,126,200,10, WS_DISABLED
    AUTOCHECKBOX    "&G³oœnoœæ", IDC_TASKBARPROP_VOLUME, 13,139,200,10, WS_DISABLED
    AUTOCHECKBOX    "&Sieæ", IDC_TASKBARPROP_NETWORK, 13,152,200,10, WS_DISABLED
    AUTOCHECKBOX    "Z&arz¹dzanie energi¹", IDC_TASKBARPROP_POWER, 13,164,200,10, WS_DISABLED

END

IDD_TASKBARPROP_TOOLBARS DIALOGEX 0, 0, 252, 218
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Paski narzêdzi"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Wybierz paski narzêdzi, które chcesz dodaæ do paska zadañ.", IDC_STATIC, 7,7,223,12, WS_DISABLED
    CONTROL         "", IDC_TASKBARPROP_DESKBANDLIST, "SysTreeView32",WS_BORDER | WS_TABSTOP | WS_DISABLED, 7,20,236,160, WS_EX_CLIENTEDGE
END


STRINGTABLE DISCARDABLE
BEGIN
    IDS_START             "Start"
    IDS_PROPERTIES        "W³aœ&ciwoœci"
    IDS_OPEN_ALL_USERS    "&Otwórz - wszyscy u¿ytkownicy"
    IDS_EXPLORE_ALL_USERS "&Eksploruj - wszyscy u¿ytkownicy"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_TASKBAR_STARTMENU_PROP_CAPTION "W³aœciwoœci paska zadañ i Menu Start"
END
