/* Translation by Vytis "CMan" Girdžijauskas (cman@cman.us) */

LANGUAGE LANG_LITHUANIAN, SUBLANG_DEFAULT

IDM_CONSOLE_SMALL MENU
BEGIN
    POPUP "&Byla"
    BEGIN
        MENUITEM "&Nauja\tCtrl+N", IDM_FILE_NEW
        MENUITEM "&Atverti...\tCtrl+O", IDM_FILE_OPEN
        MENUITEM SEPARATOR
        MENUITEM "&Baigti\tAlt+F4", IDM_FILE_EXIT
    END
    POPUP "&Pagalba"
    BEGIN
        MENUITEM "&Apie ReactOS Valdymo Pultą", IDM_HELP_ABOUT
    END
END

IDM_CONSOLE_LARGE MENU
BEGIN
    POPUP "&Byla"
    BEGIN
        MENUITEM "&Nauja\tCtrl+N", IDM_FILE_NEW
        MENUITEM "&Atverti...\tCtrl+O", IDM_FILE_OPEN
        MENUITEM "Į&rašyti", IDM_FILE_SAVE
        MENUITEM "Įrašyti &kaip...", IDM_FILE_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "&Baigti\tAlt+F4", IDM_FILE_EXIT
    END
    POPUP "&Windows"
    BEGIN
        MENUITEM "List", IDM_WINDOWS_LIST
    END
    POPUP "&Pagalba"
    BEGIN
        MENUITEM "&Apie ReactOS Valdymo Pultą", IDM_HELP_ABOUT
    END
END

STRINGTABLE
BEGIN
    IDS_APPTITLE "ReactOS Valdymo Pultas"
    IDS_CONSOLETITLE "Pultas%1!u!"
END
