/* Translation by Vytis 'CMan' Girdžijauskas cman@cman.us */

LANGUAGE LANG_LITHUANIAN, SUBLANG_DEFAULT

IDD_WELCOMEPAGE DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Vaizdo Tvarkyklės Įdiegimas"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "ReactOS nustatė, kad Jūs diegiate ReactOS virtualioje VMware(r) mašinoje.", -1, 117, 8, 140, 24
    LTEXT "Jei norite įdiegti VMware(r) SVGA vaizdo tvarkyklę, spauskite 'Next', kitu atveju spauskite 'Cancel'.", -1, 117, 140, 140, 24
END

IDD_INSERT_VMWARE_TOOLS DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Vaizdo Tvarkyklės Įdiegimas"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "ReactOS įdiegimas neturi VMware(r) SVGA vaizdo tvarkyklės.\n\nPasirinkite 'Install VMware tools...' punktą iš 'VM' meniu virtualioje VMware(r) mašinoje.\n\n\nNorėdami tęsti, spauskite 'Next'. Jei norite praleisti SVGA tvarkyklės diegimą, spauskite 'Cancel'.", -1, 25, 25, 225, 85
END

IDD_INSTALLING_VMWARE_TOOLS DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Vaizdo Tvarkyklės Įdiegimas"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "{STATUS}", IDC_INSTALLINGSTATUS, 25, 68, 225, 8
    CONTROL "", IDC_INSTALLINGPROGRESS, "msctls_progress32", PBS_MARQUEE | WS_CHILD | WS_VISIBLE | WS_BORDER, 25, 80, 225, 8
END

IDD_CONFIG DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Vaizdo Tvarkyklės Įdiegimas"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "VMware(r) SVGA vaizdo tvarkyklė įdiegta sėkmingai. Pasirinkite norimą ekrano skiriamąją gebą:", -1, 25, 5, 225, 20
    PUSHBUTTON "640x480", 1120, 25, 30, 65, 15, BS_AUTORADIOBUTTON
    PUSHBUTTON "800x600", 1400, 25, 45, 65, 15, BS_AUTORADIOBUTTON
    PUSHBUTTON "1024x768", 1792, 25, 60, 65, 15, BS_AUTORADIOBUTTON
    PUSHBUTTON "1152x864", 2016, 25, 75, 65, 15, BS_AUTORADIOBUTTON
    PUSHBUTTON "1280x960", 2240, 110, 30, 65, 15, BS_AUTORADIOBUTTON
    PUSHBUTTON "1280x1024", 2304, 110, 45, 65, 15, BS_AUTORADIOBUTTON
    PUSHBUTTON "1400x1050", 2450, 110, 60, 65, 15, BS_AUTORADIOBUTTON
    PUSHBUTTON "1600x1200", 2800, 110, 75, 65, 15, BS_AUTORADIOBUTTON
    PUSHBUTTON "1792x1344", 3136, 195, 30, 65, 15, BS_AUTORADIOBUTTON
    PUSHBUTTON "1856x1392", 3248, 195, 45, 65, 15, BS_AUTORADIOBUTTON
    PUSHBUTTON "1920x1440", 3360, 195, 60, 50, 15, BS_AUTORADIOBUTTON
    LTEXT "Pasirinkite norimą spalvos kokybę:", -1, 25, 93, 225, 12
    COMBOBOX IDC_COLORQUALITY, 25, 105, 75, 80, CBS_DROPDOWNLIST | WS_TABSTOP
END

IDD_INSTALLATION_FAILED DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Vaizdo Tvarkyklės Įdiegimas"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "VMware(r) SVGA vaizdo tvarkyklės įdiegti nepavyko.\n\n\nSpauskite 'Finish', kad pratęstumėte ReactOS įdiegimo procesą.", -1, 25, 25, 225, 85
END

IDD_CHOOSEACTION DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Vaizdo Tvarkyklės Įdiegimas"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "VMware(r) SVGA vaizdo tvarkyklė jau įdiegta.\n\nPasirinkite, ką norite atlikti:", -1, 25, 5, 225, 30
    PUSHBUTTON "Konfigūruoti ekrano nustatymus", IDC_CONFIGSETTINGS, 25, 40, 200, 15, BS_AUTORADIOBUTTON
    PUSHBUTTON "Naudoti kitą vaizdo tvarkyklę", IDC_USEOTHERDRIVER, 25, 55, 200, 15, BS_AUTORADIOBUTTON
    PUSHBUTTON "Pašalinti VMware(r) SVGA vaizdo tvarkyklę", IDC_UNINSTALL, 25, 70, 200, 15, BS_AUTORADIOBUTTON
    LTEXT "Spauskite 'Next', norėdami tęsti, arba 'Cancel', kad išeitumėte.", -1, 25, 93, 225, 19
END

IDD_SELECTDRIVER DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Vaizdo Tvarkyklės Įdiegimas"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "Pasirinkite vaizdo tvarkyklę, kurią norite naudoti:", -1, 25, 25, 225, 15
    PUSHBUTTON "ReactOS VGA tvarkyklė", IDC_VGA, 25, 40, 225, 15, BS_AUTORADIOBUTTON
    PUSHBUTTON "ReactOS VBE tvarkyklė (SVGA)", IDC_VBE, 25, 55, 225, 15, BS_AUTORADIOBUTTON
    LTEXT "Spauskite 'Finish', kad užbaigtumėte procesą arba 'Cancel', kad užbaigtumėte diegimą be pakeitimų.", -1, 25, 93, 225, 20
END

IDD_DOUNINSTALL DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Vaizdo Tvarkyklės Įdiegimas"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "VMware(r) SVGA vaizdo tvarkyklė bus pašalinta!!!\n\n\nSpauskite 'Finish', kad pašalintumėte tvarkyklę arba 'Cancel', kad paliktumėte kaip yra.", -1, 25, 25, 225, 85
END

STRINGTABLE
BEGIN
    IDS_WIZARD_NAME "VMware(r) aptikta"
    IDS_FAILEDTOLOCATEDRIVERS "Nepavyko rasti reikiamų bylų.\nĮsitikinkite, kad VMware(r) įrankių diskas įdėtas."
    IDS_FAILEDTOCOPYFILES "Nepavyko nukopijuoti reikiamų bylų.\nĮsitikinkite, kad VMware(r) įrankių diskas įdėtas.\n"
    IDS_FAILEDTOACTIVATEDRIVER "Nepavyko aktyvuoti VMware(r) SVGA vaizdo tvarkyklės!"
    IDS_FAILEDTOSELVGADRIVER "Nepavyko aktyvuoti ReactOS VGA tvarkyklės!"
    IDS_FAILEDTOSELVBEDRIVER "Nepavyko aktyvuoti ReactOS VBE tvarkyklės!"
    IDS_UNINSTNOTICE "VMware(r) SVGA vaizdo tvarkyklės bylos nebuvo ištrintos.\nIštrinkite jas patys po pakartotinio sistemos paleidimo."
    IDS_FAILEDTOADDREGENTRIES "Nepavyko sukurti VMware(r) SVGA vaizdo tvarkyklės registro įrašų!"
END

STRINGTABLE
BEGIN
    10001 "Žemiausia (8BPP)"
    10002 "Vidutinė (16BPP)"
    10003 "Aukščiausia (32BPP)"
END

STRINGTABLE
BEGIN
    IDS_SEARCHINGFORCDROM "Ieškoma VMware(r) įrankių disko..."
    IDS_COPYINGFILES "Kopijuojamos bylos..."
    IDS_ENABLINGDRIVER "Aktyvuojama VMware(r) SVGA vaizdo tvarkyklė..."
END

STRINGTABLE
BEGIN
    IDD_INSERT_VMWARE_TOOLSTITLE "VMware(r) SVGA vaizdo tvarkyklės diegimo vedlys"
    IDD_INSERT_VMWARE_TOOLSSUBTITLE "Įdėkite VMware(r) įrankių diską."
    IDD_INSTALLING_VMWARE_TOOLSTITLE "VMware(r) SVGA vaizdo tvarkyklės diegimo vedlys"
    IDD_INSTALLING_VMWARE_TOOLSSUBTITLE "Surasti ir nukopijuoti VMware(r) SVGA vaizdo tvarkyklę."
    IDD_CONFIGTITLE "VMware(r) SVGA vaizdo tvarkyklės diegimo vedlys"
    IDD_CONFIGSUBTITLE "Pasirinkite norimą ekrano skiriamąją gebą."
    IDD_INSTALLATION_FAILEDTITLE "VMware(r) SVGA vaizdo tvarkyklės diegimo vedlys"
    IDD_INSTALLATION_FAILEDSUBTITLE "VMware(r) SVGA vaizdo tvarkyklės įdiegimas nepavyko."
    IDD_CHOOSEACTIONTITLE "VMware(r) SVGA vaizdo tvarkyklės diegimo vedlys"
    IDD_CHOOSEACTIONSUBTITLE "Pasirinkite, ką norite atlikti."
    IDD_SELECTDRIVERTITLE "VMware(r) SVGA vaizdo tvarkyklės diegimo vedlys"
    IDD_SELECTDRIVERSUBTITLE "Pasirinkite tvarkyklę."
    IDD_DOUNINSTALLTITLE "VMware(r) SVGA vaizdo tvarkyklės diegimo vedlys"
    IDD_DOUNINSTALLSUBTITLE "Pašalinti tvarkyklę."
END
