LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_NT_AUTHORITY "NT-AUTORITÄT"
    IDS_NULL_RID "NULL SID"
    IDS_WORLD_RID "Jeder"
    IDS_LOCAL_RID "LOKAL"
    IDS_CREATOR_OWNER_RID "ERSTELLER-BESITZER"
    IDS_CREATOR_GROUP_RID "ERSTELLERGRUPPE"
    IDS_CREATOR_OWNER_SERVER_RID "ERSTELLER-BESITZER-SERVER"
    IDS_CREATOR_GROUP_SERVER_RID "ERSTELLER-GRUPPEN-SERVER"
    IDS_DIALUP_RID "DIALUP"
    IDS_NETWORK_RID "NETZWERK"
    IDS_BATCH_RID "BATCH"
    IDS_INTERACTIVE_RID "INTERAKTIV"
    IDS_SERVICE_RID "DIENST"
    IDS_ANONYMOUS_LOGON_RID "ANONYMOUS-ANMELDUNG"
    IDS_PROXY_RID "PROXY"
    IDS_ENTERPRISE_CONTROLLERS_RID "DOMÄNENCONTROLLER DER ORGANISATION"
    IDS_PRINCIPAL_SELF_RID "SELBST"
    IDS_AUTHENTICATED_USER_RID "Authentifizierte Benutzer"
    IDS_RESTRICTED_CODE_RID "EINGESCHRÄNKTER ZUGRIFF"
    IDS_TERMINAL_SERVER_RID "TERMINALSERVERBENUTZER"
    IDS_REMOTE_LOGON_RID "INTERAKTIVE REMOTEANMELDUNG"
    IDS_THIS_ORGANIZATION_RID "Diese Organisation"
    IDS_LOCAL_SYSTEM_RID "SYSTEM"
    IDS_LOCAL_SERVICE_RID "LOKALER DIENST"
    IDS_NETWORK_SERVICE_RID "NETZWERKDIENST"
    IDS_BUILTIN_DOMAIN_RID "VORDEFINIERT"
    IDS_ALIAS_RID_ADMINS "Administratoren"
    IDS_ALIAS_RID_USERS "Benutzer"
    IDS_ALIAS_RID_GUESTS "Gäste"
    IDS_ALIAS_RID_POWER_USERS "Hauptbenutzer"
    IDS_ALIAS_RID_ACCOUNT_OPS "Kontenoperatoren"
    IDS_ALIAS_RID_SYSTEM_OPS "Serveroperatoren"
    IDS_ALIAS_RID_PRINT_OPS "Druckoperatoren"
    IDS_ALIAS_RID_BACKUP_OPS "Sicherungsoperatoren"
    IDS_ALIAS_RID_REPLICATOR "Replikationsoperatoren"
    IDS_ALIAS_RID_RAS_SERVERS "RAS- und IAS-Server"
    IDS_ALIAS_RID_PREW2KCOMPACCESS "Prä-Windows 2000 kompatibler Zugriff"
    IDS_ALIAS_RID_REMOTE_DESKTOP_USERS "Remotedesktopbenutzer"
    IDS_ALIAS_RID_NETWORK_CONFIGURATION_OPS "Netzwerk-Konfigurationsoperatoren"
END

STRINGTABLE
BEGIN
    IDS_CREATE_TOKEN_PRIVILEGE "Erstellen eines Tokenobjekts"
    IDS_ASSIGNPRIMARYTOKEN_PRIVILEGE "Ersetzen eines Tokens auf Prozessebene"
    IDS_LOCK_MEMORY_PRIVILEGE "Sperren von Seiten im Speicher"
    IDS_INCREASE_QUOTA_PRIVILEGE "Anpassen von Speicherkontingenten für einen Prozess"
    IDS_MACHINE_ACCOUNT_PRIVILEGE "Hinzufügen von Arbeitsstationen zur Domäne"
    IDS_TCB_PRIVILEGE "Einsetzen als Teil des Betriebssystems"
    IDS_SECURITY_PRIVILEGE "Verwalten von Überwachungs- und Sicherheitsprotokollen"
    IDS_TAKE_OWNERSHIP_PRIVILEGE "Übernehmen des Besitzes von Dateien und Objekten"
    IDS_LOAD_DRIVER_PRIVILEGE "Laden und Entfernen von Gerätetreibern"
    IDS_SYSTEM_PROFILE_PRIVILEGE "Erstellen eines Profils der Systemleistung"
    IDS_SYSTEMTIME_PRIVILEGE "Ändern der Systemzeit"
    IDS_PROF_SINGLE_PROCESS_PRIVILEGE "Erstellen eines Profils für einen Einzelprozess"
    IDS_INC_BASE_PRIORITY_PRIVILEGE "Anheben der Zeitplanungspriorität"
    IDS_CREATE_PAGEFILE_PRIVILEGE "Erstellen einer Auslagerungsdatei"
    IDS_CREATE_PERMANENT_PRIVILEGE "Erstellen von dauerhaft freigegebenen Objekten"
    IDS_BACKUP_PRIVILEGE "Sichern von Dateien und Verzeichnissen"
    IDS_RESTORE_PRIVILEGE "Wiederherstellen von Dateien und Verzeichnissen"
    IDS_SHUTDOWN_PRIVILEGE "Herunterfahren des Systems"
    IDS_DEBUG_PRIVILEGE "Debuggen von Programmen"
    IDS_AUDIT_PRIVILEGE "Generieren von Sicherheitsüberwachungen"
    IDS_SYSTEM_ENVIRONMENT_PRIVILEGE "Verändern der Firmwareumgebungsvariablen"
    IDS_CHANGE_NOTIFY_PRIVILEGE "Auslassen der durchsuchenden Überprüfung"
    IDS_REMOTE_SHUTDOWN_PRIVILEGE "Erzwingen des Herunterfahrens von einem Remotesystem aus"
    IDS_UNDOCK_PRIVILEGE "Entfernen des Computers von der Dockingstation"
    IDS_SYNC_AGENT_PRIVILEGE "Synchronisieren von Verzeichnisdienstdaten"
    IDS_ENABLE_DELEGATION_PRIVILEGE "Ermöglichen, dass Computer- und Benutzerkonten für Delegierungszwecke vertraut wird"
    IDS_MANAGE_VOLUME_PRIVILEGE "Durchführen von Volumewartungsaufgaben"
    IDS_IMPERSONATE_PRIVILEGE "Annehmen der Clientidentität nach Authentifizierung"
    IDS_CREATE_GLOBAL_PRIVILEGE "Erstellen globaler Objekte"
END
