LANGUAGE LANG_SLOVENIAN, SUBLANG_SLOVENIAN_SLOVENIA

IDR_POPUP MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "&Preferences...", ID_PREFERENCES
        MENUITEM SEPARATOR
        MENUITEM "Iz&hod", ID_EXIT
    END
END
