/*
 * PROJECT:      ReactOS RAPPS
 * FILE:         base\applications\dxdiag\lang\sv-SE.rc
 * PURPOSE:      Swedish resource file
 * TRANSLATOR:   Jaix Bly
 */

LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL

IDR_POPUP MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "&Inställingar...",  ID_PREFERENCES
        MENUITEM SEPARATOR
        MENUITEM "&Avsluta",            ID_EXIT
    END
END
