LANGUAGE LANG_JAPANESE, SUBLANG_NEUTRAL

#pragma code_page(65001)

STRINGTABLE
{
	5 "パス %s がみつかりませんでした"
	9 "ディスク %s を挿入してください"
	10 "無効なパラメータです"
	11 "%s のあるフォルダを入力してください"
	12 "機能\のインストール元がありません"
	13 "機能\があるネットワーク ドライブがありません"
	14 "機能\の場所:"
	15 "%s のあるフォルダを選択してください"
}
