LANGUAGE LANG_ROMANIAN, SUBLANG_ROMANIAN_ROMANIA

STRINGTABLE DISCARDABLE
BEGIN
    IDS_DESCRIPTION "Fractal cilindri (animație de inactivitate)"
    IDS_TITLE       "Despre"
    IDS_TEXT        "Fractal cilindri de unC0Rr.\nSpecial pentru ReactOS."
END
