/*
 * PROJECT:     Cylinders fractal ScreenSaver
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Chinese (Hong Kong) resource file
 * TRANSLATORS: Copyright 2021 Chan Chilung <eason066@gmail.com>
 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_HONGKONG

STRINGTABLE
BEGIN
    IDS_DESCRIPTION "分形圓筒"
    IDS_TITLE       "關於"
    IDS_TEXT        "分形圓筒，製作者：unC0Rr。\n特別為 ReactOS 製作。"
END
