LANGUAGE LANG_GREEK, SUBLANG_DEFAULT

IDD_SHUTDOWNCOMPUTER DIALOGEX 45, 22, 164, 52
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Τερματισμός Υπολογιστή"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Τώρα είναι ασφαλές να κλείσετε τον υπολογιστή σας.", IDC_SHUTDOWNCOMPUTER, 31, 6, 132, 18
    ICON IDI_WINLOGON, IDC_SHTDOWNICON, 6, 7, 18, 20
    DEFPUSHBUTTON "&Επανεκκίνηση", IDC_BTNSHTDOWNCOMPUTER, 58, 32, 48, 14
END

IDD_GINALOADFAILED DIALOGEX 58, 83, 231, 119
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Αποτυχία Διεπαφής Χρήστη"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Η Logon  Διεπαφή Χρήστη DLL %s απέτυχε να φορτωθεί.", IDC_GINALOADFAILED, 39, 16, 156, 24
    LTEXT "Επικοινωνείστε με τον διαχειριστή του συστήματός σας για να αντικαταστήσει το DLL, ή να επαναφέρει το αρχικό DLL.", IDC_GINALOADFAILEDCONTACT, 39, 53, 151, 25
    DEFPUSHBUTTON "&Restart", 1, 80, 91, 68, 14
END

IDD_SYSSHUTDOWN DIALOGEX 50, 50, 180, 140
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_CAPTION | WS_POPUP
CAPTION "System Shutdown"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_WARNING, IDC_SYSSHUTDOWNICON, 6, 7, 18, 20
    LTEXT "A system shutdown has been initiated. Please save all your work and terminate your session. All unsaved work will be lost when the system shuts down.", -1, 38, 7, 135, 40
    LTEXT "The system shuts down in:", -1, 38, 50, 90, 8
    LTEXT "00:00:00", IDC_SYSSHUTDOWNTIMELEFT, 132, 50, 41, 8
    LTEXT "Message:", -1, 38, 65, 135, 8
    EDITTEXT IDC_SYSSHUTDOWNMESSAGE, 34, 75, 139, 58, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP, WS_EX_STATICEDGE
END

STRINGTABLE
BEGIN
    IDS_PREPARENETWORKCONNECTIONS "Γίνεται προετοιμασία των συνδέσεων δικτύου..."
    IDS_APPLYINGCOMPUTERSETTINGS "Γίνεται εφαρμογή των ρυθμίσεων του υπολογιστή..."
    IDS_RUNNINGSTARTUPSCRIPTS "Running startup scripts..."
    IDS_RUNNINGSHUTDOWNSCRIPTS "Running shutdown scripts..."
    IDS_APPLYINGYOURPERSONALSETTINGS "Γίνεται εφαρμογή των προσωπικών σας ρυθμίσεων..."
    IDS_RUNNINGLOGOFFSCRIPTS "Running logoff scripts..."
    IDS_RUNNINGLOGONSCRIPTS "Running logon scripts..."
    IDS_LOADINGYOURPERSONALSETTINGS "Γίνεται φόρτωση των ρυθμίσεών σας..."
    IDS_CLOSINGNETWORKCONNECTIONS "Closing network connections..."
    IDS_REACTOSISSHUTTINGDOWN "Το ReactOS τερματίζει..."
    IDS_PREPARETOSTANDBY "Γίνεται προετοιμασία για αναμονή..."
    IDS_PREPARETOHIBERNATE "Preparing to Hibernate..."
    IDS_SAVEYOURSETTINGS "Γίνεται αποθήκευση των ρυθμίσεών σας..."
    IDS_REACTOSISSTARTINGUP "Το ReactOS ξεκινά..."
    IDS_TIMEOUTSHORTFORMAT "%02d:%02d:%02d"
    IDS_TIMEOUTLONGFORMAT "%d days"
END

STRINGTABLE
BEGIN
    IDS_FAILEDACTIVATEUSERSHELL "Winlogon failed to activate user shell!"
END
