LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

IDD_SHUTDOWNCOMPUTER DIALOGEX 45, 22, 164, 52
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "コンピュータのシャットダウン"
FONT 9, "MS UI Gothic"
BEGIN
    LTEXT "コンピュータの電源を切っても安全です。", IDC_SHUTDOWNCOMPUTER, 31, 13, 132, 8
    ICON IDI_WINLOGON, IDC_SHTDOWNICON, 6, 7, 18, 20
    DEFPUSHBUTTON "再起動(&R)", IDC_BTNSHTDOWNCOMPUTER, 62, 32, 40, 14
END

IDD_GINALOADFAILED DIALOGEX 58, 83, 231, 119
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ユーザー インターフェイスに問題が発生しました"
FONT 9, "MS UI Gothic"
BEGIN
    LTEXT "ログオン ユーザー インターフェイス DLL %s の読み込みに失敗しました。", IDC_GINALOADFAILED, 39, 16, 156, 24
    LTEXT "システムの管理者に連絡をとり、DLL を置き換えてもらうか、オリジナルの DLL を復旧してもらってください。", IDC_GINALOADFAILEDCONTACT, 39, 53, 151, 25
    DEFPUSHBUTTON "再起動(&R)", 1, 80, 91, 68, 14
END

IDD_SYSSHUTDOWN DIALOGEX 50, 50, 180, 140
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_VISIBLE | WS_CAPTION | WS_POPUP
CAPTION "システムのシャットダウン"
FONT 9, "MS UI Gothic"
BEGIN
    ICON IDI_WARNING, IDC_SYSSHUTDOWNICON, 6, 7, 18, 20
    LTEXT "システムのシャットダウンが開始されました。あなたの作業をすべて保存し、セッションを終了して下さい。シャットダウン時に保存していない作業は失われます。", -1, 38, 7, 135, 40
    LTEXT "シャットダウンまで:", -1, 38, 50, 90, 8
    LTEXT "00:00:00", IDC_SYSSHUTDOWNTIMELEFT, 132, 50, 41, 8
    LTEXT "メッセージ:", -1, 38, 65, 135, 8
    EDITTEXT IDC_SYSSHUTDOWNMESSAGE, 34, 75, 139, 58, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | NOT WS_TABSTOP, WS_EX_STATICEDGE
END

STRINGTABLE
BEGIN
    IDS_PREPARENETWORKCONNECTIONS "ネットワーク接続を準備しています..."
    IDS_APPLYINGCOMPUTERSETTINGS "コンピュータの設定を適用しています..."
    IDS_RUNNINGSTARTUPSCRIPTS "スタートアップ スクリプトを実行しています..."
    IDS_RUNNINGSHUTDOWNSCRIPTS "シャットダウン スクリプトを実行しています..."
    IDS_APPLYINGYOURPERSONALSETTINGS "個人の設定を適用しています..."
    IDS_RUNNINGLOGOFFSCRIPTS "ログオフ スクリプトを実行しています..."
    IDS_RUNNINGLOGONSCRIPTS "ログオン スクリプトを実行しています..."
    IDS_LOADINGYOURPERSONALSETTINGS "個人の設定を読み込んでいます..."
    IDS_CLOSINGNETWORKCONNECTIONS "ネットワーク接続を切断しています..."
    IDS_REACTOSISRESTARTING "再起動中..."
    IDS_REACTOSISSHUTTINGDOWN "シャットダウン中..."
    IDS_PREPARETOSTANDBY "スタンバイの準備をしています..."
    IDS_PREPARETOHIBERNATE "休止状態の準備をしています..."
    IDS_SAVEYOURSETTINGS "設定を保存しています..."
    IDS_REACTOSISSTARTINGUP "ReactOS を起動しています..."
    IDS_TIMEOUTSHORTFORMAT "%02d:%02d:%02d"
    IDS_TIMEOUTLONGFORMAT "%d 日"
END

STRINGTABLE
BEGIN
    IDS_FAILEDACTIVATEUSERSHELL "Winlogon はユーザー シェルを実行できませんでした!"
END
