LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

IDD_SHUTDOWNCOMPUTER DIALOGEX  45, 22, 164, 52
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Завершення роботи з комп'ютером"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Тепер можна вимкнути комп'ютер.", IDC_SHUTDOWNCOMPUTER, 31, 13, 132, 8
    ICON  IDI_WINLOGON, IDC_SHTDOWNICON, 6, 7, 18, 20
    DEFPUSHBUTTON "&Перезавантаження", IDC_BTNSHTDOWNCOMPUTER, 62, 32, 40, 14
END

IDD_GINALOADFAILED DIALOGEX  58, 83, 231, 119
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Помилка інтерфейсу користувача"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Не вдалося завантажити бібліотеку інтерфейсу входу користувача %s.", IDC_GINALOADFAILED, 39, 16, 156, 24
    LTEXT "Зверніться до системного адміністратора щоб замінити наявну, або відновіть початкову бібліотеку.", IDC_GINALOADFAILEDCONTACT, 39, 53, 151, 25
    DEFPUSHBUTTON "&Перезавантаження", 1, 80, 91, 68, 14
END

STRINGTABLE
BEGIN
    IDS_PREPARENETWORKCONNECTIONS "Підготовка мережних підключень..."
    IDS_APPLYINGCOMPUTERSETTINGS "Застосування параметрів комп'ютера..."
    IDS_RUNNINGSTARTUPSCRIPTS "Виконання сценаріїв запуску..."
    IDS_RUNNINGSHUTDOWNSCRIPTS "Виконання сценаріїв завершення роботи..."
    IDS_APPLYINGYOURPERSONALSETTINGS "Застосування особистих параметрів..."
    IDS_RUNNINGLOGOFFSCRIPTS "Виконання сценаріїв виходу із системи..."
    IDS_RUNNINGLOGONSCRIPTS "Виконання сценаріїв входу до системи..."
    IDS_LOADINGYOURPERSONALSETTINGS "Завантаження особистих параметрів..."
    IDS_CLOSINGNETWORKCONNECTIONS "Закриття мережних підключень..."
    IDS_REACTOSISSHUTTINGDOWN "Завершення роботи ReactOS..."
    IDS_PREPARETOSTANDBY "Підготовка до режиму очікування..."
    IDS_PREPARETOHIBERNATE "Підготовка до сплячого режиму..."
    IDS_SAVEYOURSETTINGS "Збереження параметрів..."
    IDS_REACTOSISSTARTINGUP "Запуск ReactOS..."
END

STRINGTABLE
BEGIN
    IDS_FAILEDACTIVATEUSERSHELL "Winlogon не вдалося активувати оболонку користувача!"
END

