LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_INSTALL "&Installieren"
    IDS_PRINT "&Drucken"
    IDS_STRING "Franz jagt im komplett verwahrlosten Taxi quer durch Bayern. 1234567890"
    IDS_OPEN "Schriftartendatei öffnen..."
    IDS_ERROR "Fehler"
    IDS_ERROR_NOMEM "Es steht nicht genügend Speicher zur Verfügung."
    IDS_ERROR_NOFONT "Die angegebene Datei %1 ist keine gültige Schriftartendatei."
    IDS_ERROR_NOCLASS "Fehler beim Initialisieren der Fensterklasse."
    IDS_FILTER_LIST "All Supported Fonts (*.fon;*.fnt;*.ttf;*.ttc;*.otf;*.otc)\0*.fon;*.fnt;*.ttf;*.ttc;*.otf;*.otc\0\
Font File (*.fon;*.fnt)\0*.fon;*.fnt\0\
TrueType Font (*.ttf)\0*.ttf\0\
TrueType Font Collection (*.ttc)\0*.ttc\0\
OpenType Font (*.otf)\0*.otf\0\
OpenType Font Collection (*.otc)\0*.otc\0\
All Files (*.*)\0*.*\0"
    IDS_PREVIOUS "< P&revious"
    IDS_NEXT "&Next >"
END
