LANGUAGE LANG_NORWEGIAN, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_INSTALL "Install"
    IDS_PRINT "Skriv"
    IDS_STRING "Jackdaws love my big sphinx of quartz. 1234567890"
    IDS_OPEN "Open Font..."
    IDS_ERROR "Feil"
    IDS_ERROR_NOMEM "Det er ikke nok minne for å fullføre oppgaven."
    IDS_ERROR_NOFONT "Filen %1 er ikke et gyldig skriftfil."
    IDS_ERROR_NOCLASS "Kunne ikke initialise vindu klassen."
    IDS_FILTER_LIST "All Supported Fonts (*.ttf;*.fon;*.otf)\0*.ttf;*.fon;*.otf\0\
TrueType Font (*.ttf)\0*.ttf\0\
OpenType Font (*.otf)\0*.otf\0\
Font File (*.fon)\0*.fon\0\
All Files (*.*)\0*.*\0"
END
