// Russian language resource file (Dmitry Chapyshev, 2007-06-21)

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
BEGIN
	IDS_QUIT, "Выход"
	IDS_PRINT, "Печать"
	IDS_STRING, "Jackdaws love my big sphinx of quartz. 1234567890"
	IDS_ERROR, "Ошибка"
	IDS_ERROR_NOMEM, "Недостаточно памяти, чтобы завершить операцию."
	IDS_ERROR_NOFONT, "%1 не является корректным файлом шрифта."
	IDS_ERROR_NOCLASS, "Невозможно инициализировать класс окна."
	IDS_ERROR_BADCMD, "Не указан файл шрифта.\nСинтаксис:\n  fontview.exe <файл_шрифта>"
END


