/* TRANSLATOR: 2013, 2014, 2017 Erdem Ersoy (eersoy93) (erdemersoy [at] erdemersoy [dot] net) */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT
STRINGTABLE
BEGIN
    IDS_INSTALL "&Kur..."
    IDS_PRINT "&Yazdır..."
    IDS_STRING "Pijamalı hasta, yağız şoföre çabucak güvendi. 1234567890"
    IDS_OPEN "Yazı Tipi Aç..."
    IDS_ERROR "Yanlışlık"
    IDS_ERROR_NOMEM "Bu işlemi bitirmek için yeterli bellek yok."
    IDS_ERROR_NOFONT "%1 dosyası, geçerli bir yazı tipi dosyası değil."
    IDS_ERROR_NOCLASS "Pencere sınıfı başlatılamadı."
    IDS_FILTER_LIST "Tüm Desteklenen Yazı Tipleri (*.fon;*.fnt;*.ttf;*.ttc;*.otf;*.otc)\0*.fon;*.fnt;*.ttf;*.ttc;*.otf;*.otc\0\
Yazı Tipi Dosyası (*.fon;*.fnt)\0*.fon;*.fnt\0\
TrueType Yazı Tipi (*.ttf)\0*.ttf\0\
TrueType Yazı Tipi Derlemi (*.ttc)\0*.ttc\0\
OpenType Yazı Tipi (*.otf)\0*.otf\0\
OpenType Yazı Tipi Derlemi (*.otc)\0*.otc\0\
Tüm Dosyalar (*.*)\0*.*\0"
    IDS_PREVIOUS "< &Geri"
    IDS_NEXT "&İleri >"
END
