LANGUAGE LANG_HEBREW, SUBLANG_DEFAULT

IDD_SERIALSETTINGS DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "הגדרות יציאה"
FONT 8, "MS Shell Dlg"
BEGIN
    RTEXT "סיביות לשניה:", -1, 74, 19, 62, 8, WS_GROUP
    COMBOBOX IDC_SERIAL_BITSPERSECOND, 139, 17, 106, 90, WS_TABSTOP | CBS_DROPDOWNLIST
    RTEXT "סיביות מידע:", -1, 74, 40, 62, 8
    COMBOBOX IDC_SERIAL_DATABITS, 139, 38, 106, 54, WS_TABSTOP | CBS_DROPDOWNLIST
    RTEXT "&Parity:", -1, 74, 61, 62, 8
    COMBOBOX IDC_SERIAL_PARITY, 139, 59, 106, 62, WS_TABSTOP | CBS_DROPDOWNLIST
    RTEXT "סיביות עצירה:", -1, 74, 82, 62, 8
    COMBOBOX IDC_SERIAL_STOPBITS, 139, 80, 106, 54, WS_TABSTOP | CBS_DROPDOWNLIST
    RTEXT "בקרת זרימה:", -1, 74, 102, 62, 8
    COMBOBOX IDC_SERIAL_FLOWCONTROL, 139, 100, 106, 54, WS_TABSTOP | CBS_DROPDOWNLIST
    PUSHBUTTON "מתקדם...", IDC_SERIAL_ADVANCED, 111, 130, 65, 14, WS_GROUP
    PUSHBUTTON "שחזר ברירת מחדל", IDC_SERIAL_RESTORE, 180, 130, 65, 14, WS_GROUP
END

IDD_PARALLELSETTINGS DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "הגדרות יציאה"
FONT 8, "MS Shell Dlg"
BEGIN
    RTEXT "TEST", -1, 74, 19, 62, 8, WS_GROUP
END
