/*
 * PROJECT:     ReactOS MyDocs
 * LICENSE:     LGPL-2.1+ (https://spdx.org/licenses/LGPL-2.1+)
 * PURPOSE:     Romanian resource file
 * TRANSLATORS: Copyright 2022 Andrei Miloiu <miloiuandrei@gmail.com>
 */

LANGUAGE LANG_ROMANIAN, SUBLANG_DEFAULT

STRINGTABLE
{
    IDS_NOSRCFILEFOUND "Fișierul sau dosarul sursă '%ls' nu a fost găsit."
}
