//Polish translation Emil Kaczmarek 2006
/*
 *        small changes by TestamenT
 *      testament@users.sourceforge.net
 * https://sourceforge.net/projects/reactospl
 */

#include "resource.h"

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

STRINGTABLE {
	IDS_APPNAME, "Saper"
	IDS_SECONDS, "seconds"
}

MENU_WINEMINE MENU DISCARDABLE
{
	POPUP "&Game" {
		MENUITEM "&Nowa gra",              IDM_NEW
		MENUITEM SEPARATOR
		MENUITEM "Poz&iom",                IDM_MARKQ
		MENUITEM SEPARATOR
		MENUITEM "&Pocz¹tkuj¹cy",          IDM_BEGINNER
		MENUITEM "Z&aawansowany",          IDM_ADVANCED
		MENUITEM "&Ekspert",               IDM_EXPERT
		MENUITEM "&W³asny poziom",         IDM_CUSTOM
		MENUITEM SEPARATOR
		MENUITEM "N&ajlepsze czasy",       IDM_TIMES
		MENUITEM SEPARATOR
		MENUITEM "&Zamknij",               IDM_EXIT
	}
	POPUP "&Informacje" {
		MENUITEM "N&ajlepsze czasy",       IDM_TIMES
		MENUITEM "&WineMine - informacje", IDM_ABOUT
	}
}

DLG_TIMES DIALOGEX DISCARDABLE 0, 0, 200, 75
STYLE DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_POPUP | DS_SHELLFONT
CAPTION "Najlepsze czasy"
FONT 8, "MS Shell Dlg"
{
	GROUPBOX        "Najlepsze czasy", IDNONE,     10,  10, 182,  45
	LTEXT           "Pocz¹tkuj¹cy:",   IDNONE,     20,  20,  58,   8
	LTEXT           "Zaawansowany:",   IDNONE,     20,  30,  58,   8
	LTEXT           "Ekspert:",        IDNONE,     20,  40,  58,   8
	LTEXT           "",                IDC_TIME1,  80,  20,  50,   8
	LTEXT           "",                IDC_TIME2,  80,  30,  50,   8
	LTEXT           "",                IDC_TIME3,  80,  40,  50,   8
	LTEXT           "",                IDC_NAME1, 132,  20,  55,   8
	LTEXT           "",                IDC_NAME2, 132,  30,  55,   8
	LTEXT           "",                IDC_NAME3, 132,  40,  55,   8
	DEFPUSHBUTTON   "OK",              IDOK,      127,  57,  50,  15
	PUSHBUTTON      "&Reset Scores",   IDRESET,    18,  57,  67,  15
}

DLG_CONGRATS DIALOGEX DISCARDABLE  0, 0, 160, 60
STYLE  DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_POPUP | DS_SHELLFONT
CAPTION "Gratulacje!"
FONT 8, "MS Shell Dlg"
{
	LTEXT           "Wpisz swoje imiê", IDNONE,        10,  10, 150,  10
	EDITTEXT                            IDC_EDITNAME,  25,  20, 110,  12
	DEFPUSHBUTTON   "OK",               IDOK,          60,  40,  40,  15
}

DLG_CUSTOM DIALOGEX DISCARDABLE  0, 0, 139, 80
STYLE  DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_POPUP | DS_SHELLFONT
CAPTION "Ustawienia gry"
FONT 8, "MS Shell Dlg"
{
	LTEXT           "Iloœæ rzêdów:", IDNONE,         5,  15,  43,  10
	LTEXT           "Iloœæ kolumn:", IDNONE,         5,  35,  43,  10
	LTEXT           "Iloœæ min:",    IDNONE,         5,  55,  43,  10
	EDITTEXT                         IDC_EDITROWS,  49,  15,  30,  12, ES_NUMBER
	EDITTEXT                         IDC_EDITCOLS,  49,  35,  30,  12, ES_NUMBER
	EDITTEXT                         IDC_EDITMINES, 49,  55,  30,  12, ES_NUMBER
	DEFPUSHBUTTON   "OK",            IDOK,          86,  32,  45,  15
	PUSHBUTTON      "Anuluj",        IDCANCEL,      86,  52,  45,  15 
}

DLG_ABOUT DIALOGEX DISCARDABLE  0, 0, 145, 80
STYLE  DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_POPUP | DS_SHELLFONT
CAPTION "Winemine - informacje"
FONT 8, "MS Shell Dlg"
{
	LTEXT                               "WineMine", IDNONE,  10,  10,  35,  10
	LTEXT         "Copyright 2000, Joshua Thielen", IDNONE,  35,  25, 110,  10
	LTEXT                       "Na licencji Wine", IDNONE,  35,  35, 100,  10
	ICON                              IDI_WINEMINE, IDNONE,  10,  25,  20,  20
	DEFPUSHBUTTON                             "OK", IDOK,    50,  60,  55,  15
}
