#include <windows.h>
#include <ntverp.h>

#define	VER_FILETYPE	            VFT_DRV
#define	VER_FILESUBTYPE	            VFT2_DRV_NETWORK
#define VER_FILEDESCRIPTION_STR     "Novell NE2000 network driver"
#define VER_INTERNALNAME_STR        "NE2000.SYS"
#define VER_ORIGINALFILENAME_STR    "NE2000.SYS"

#include "common.ver"
