/*
 * HTML Help (Simplified and Traditional Chinese Resources)
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 *
 * TRANSLATOR:
 * 2008 Hongbo Ni <hongbo.at.njstar.com>
 * Sync with Wine: Traditional Chinese on 2021; Simplified Chinese on 2021
 */

/* Chinese text is encoded in UTF-8 */
#pragma code_page(65001)

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE
BEGIN
    IDS_CONTENTS     "内容(&C)"
    IDS_INDEX        "目录(&N)"
    IDS_SEARCH       "搜寻(&S)"
    IDS_FAVORITES    "最爱(&I)"

    IDS_HIDETABS     "隐藏选项卡(&T)"
    IDS_SHOWTABS     "显示选项卡(&T)"
END

STRINGTABLE
BEGIN
    IDTB_EXPAND      "显示"
    IDTB_CONTRACT    "隐藏"
    IDTB_STOP        "停止"
    IDTB_REFRESH     "刷新"
    IDTB_BACK        "向后"
    IDTB_HOME        "首页"
    IDTB_SYNC        "同步"
    IDTB_PRINT       "打印"
    IDTB_OPTIONS     "选项"
    IDTB_FORWARD     "向前"
END

MENU_POPUP MENU
{
    POPUP "" /* Options */
    {
        MENUITEM "", IDTB_EXPAND
        MENUITEM "同步(&Y)", IDTB_SYNC
        MENUITEM "向后(&B)", IDTB_BACK
        MENUITEM "向前(&F)", IDTB_FORWARD
        MENUITEM "首页(&H)", IDTB_HOME
        MENUITEM "停止(&S)", IDTB_STOP
        MENUITEM "刷新(&R)", IDTB_REFRESH
        MENUITEM "打印...(&P)", IDTB_PRINT
    }
}

MENU_WEBBROWSER MENU
{
    POPUP ""
    {
        MENUITEM "向后(&B)", IDTB_BACK
        MENUITEM "向前(&F)", IDTB_FORWARD
        MENUITEM SEPARATOR
        MENUITEM "全选(&A)", MIID_SELECTALL
        MENUITEM SEPARATOR
        MENUITEM "查看源代码(&V)", MIID_VIEWSOURCE
        MENUITEM SEPARATOR
        MENUITEM "打印...(&P)", IDTB_PRINT
        MENUITEM "刷新(&R)", IDTB_REFRESH
        MENUITEM SEPARATOR
        MENUITEM "属性(&T)", MIID_PROPERTIES
    }
    POPUP ""
    {
        MENUITEM "剪切(&T)", MIID_CUT
        MENUITEM "复制(&C)", MIID_COPY
        MENUITEM "粘贴", MIID_PASTE
        MENUITEM "全选(&A)", MIID_SELECTALL
        MENUITEM "打印(&P)", IDTB_PRINT
    }
}

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

STRINGTABLE
BEGIN
    IDS_CONTENTS     "內容(&C)"
    IDS_INDEX        "目錄(&N)"
    IDS_SEARCH       "搜尋(&S)"
    IDS_FAVORITES    "我的最愛(&I)"

    IDS_HIDETABS     "隱藏分頁(&T)"
    IDS_SHOWTABS     "顯示分頁(&T)"
END

STRINGTABLE
BEGIN
    IDTB_EXPAND      "顯示"
    IDTB_CONTRACT    "隱藏"
    IDTB_STOP        "停止"
    IDTB_REFRESH     "重新整理"
    IDTB_BACK        "向後"
    IDTB_HOME        "首頁"
    IDTB_SYNC        "同步"
    IDTB_PRINT       "列印"
    IDTB_OPTIONS     "選項"
    IDTB_FORWARD     "向前"
END

MENU_POPUP MENU
{
    POPUP "" /* Options */
    {
        MENUITEM "", IDTB_EXPAND
        MENUITEM "同步(&Y)", IDTB_SYNC
        MENUITEM "返回(&B)", IDTB_BACK
        MENUITEM "向前(&F)", IDTB_FORWARD
        MENUITEM "首頁(&H)", IDTB_HOME
        MENUITEM "停止(&S)", IDTB_STOP
        MENUITEM "重新整理(&R)", IDTB_REFRESH
        MENUITEM "列印...(&P)", IDTB_PRINT
    }
}

MENU_WEBBROWSER MENU
{
    POPUP ""
    {
        MENUITEM "返回(&B)", IDTB_BACK
        MENUITEM "向前(&F)", IDTB_FORWARD
        MENUITEM SEPARATOR
        MENUITEM "全選(&A)", MIID_SELECTALL
        MENUITEM SEPARATOR
        MENUITEM "檢視原始碼(&V)", MIID_VIEWSOURCE
        MENUITEM SEPARATOR
        MENUITEM "列印(&P)...", IDTB_PRINT
        MENUITEM "重新整理(&R)", IDTB_REFRESH
        MENUITEM SEPARATOR
        MENUITEM "內容(&T)", MIID_PROPERTIES
    }
    POPUP ""
    {
        MENUITEM "剪下(&T)", MIID_CUT
        MENUITEM "複製(&C)", MIID_COPY
        MENUITEM "貼上", MIID_PASTE
        MENUITEM "全選(&A)", MIID_SELECTALL
        MENUITEM "列印(&P)", IDTB_PRINT
    }
}
