LANGUAGE LANG_PORTUGUESE, SUBLANG_NEUTRAL

IDD_ACPPAGESHEET DIALOGEX 0, 0, 224, 226
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Compatibilidade"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "Se tiver problemas em executar este programa no ReactOS, seleccione o sistema operacional que o ReactOS deve reportar ao aplicativo.\nTenha em atenção que este é um trabalho em desenvolvimento.", IDC_EXPLANATION, 7, 7, 210, 32
    GROUPBOX "Modo de compatibilidade", IDC_COMPATGROUP, 7, 41, 210, 49
    CHECKBOX "Executar em modo de compatibilidade para:", IDC_CHKRUNCOMPATIBILITY, 18, 57, 188, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    COMBOBOX IDC_COMPATIBILITYMODE, 18, 70, 188, 85, CBS_HASSTRINGS | CBS_DROPDOWNLIST | WS_TABSTOP | WS_DISABLED
    GROUPBOX "Definições de visualização", -1, 7, 99, 210, 61, BS_GROUPBOX
    CHECKBOX "Executar em 256 cores", IDC_CHKRUNIN256COLORS, 18, 114, 188, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "Executar na resolução de ecrã 640x480", IDC_CHKRUNIN640480RES, 18, 129, 188, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    CHECKBOX "Desactivar temas visuais", IDC_CHKDISABLEVISUALTHEMES, 18, 144, 188, 10, BS_AUTOCHECKBOX | WS_TABSTOP
    PUSHBUTTON "E&ditar modos de compatibilidade...", IDC_EDITCOMPATIBILITYMODES, 105, 167, 112, 15
    LTEXT "",IDC_ENABLED_LAYERS,7,185,210,21
    CONTROL "Aprender mais acerca de <A>compatibilidade de programas</A>.", IDC_INFOLINK, "SysLink", WS_CHILD | WS_TABSTOP | WS_VISIBLE, 7, 207, 210, 10, WS_EX_NOPARENTNOTIFY
END

IDD_EDITCOMPATIBILITYMODES DIALOGEX 0, 0, 309, 134
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Editar modos de compatibilidade"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LISTBOX         IDC_NEWCOMPATIBILITYMODE,6,18,132,90,LBS_NOINTEGRALHEIGHT | WS_VSCROLL
    LISTBOX         IDC_COMPATIBILITYMODE,168,18,132,90,LBS_NOINTEGRALHEIGHT | WS_VSCROLL
    PUSHBUTTON      ">",IDC_ADD,144,42,18,14,WS_DISABLED
    PUSHBUTTON      "<<",IDC_REMOVEALL,144,78,18,14,WS_DISABLED
    PUSHBUTTON      "<",IDC_REMOVE,144,60,18,14,WS_DISABLED
    PUSHBUTTON      "&OK",IDOK,174,114,60,14
    PUSHBUTTON      "&Cancelar",IDCANCEL,240,114,60,14
    LTEXT           "Modos disponíveis",-1,6,6,52,8
    LTEXT           "Modos seleccionados",-1,168,6,51,8
END

STRINGTABLE
BEGIN
    IDS_COMPAT_TITLE "Compatibilidade"
    IDS_FAILED_NETWORK "Os modos de compatibilidade não podem ser definidos neste programa porque ele está numa unidade de rede."
    IDS_FAILED_PROTECTED "Os modos de compatibilidade não podem ser definidos neste programa porque faz parte do ReactOS."
END
