LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

IDD_STARTPAGE DIALOG DISCARDABLE 0, 0, 317, 186
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Hardware Assistent"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Wilkommen zum Hardware Assistenten", IDC_FINISHTITLE, 114, 8, 203, 24
	LTEXT "Dieser Assistent unterstützt Sie bei:", -1, 114, 40, 182, 8
	LTEXT "1) Software installieren, um die an den Computer angeschlossene Hardware zu unterstützen.", -1, 121, 56, 184, 16
	LTEXT "2) Probleme lösen, die Sie mit Ihrer Hardware haben.", -1, 121, 78, 185, 16
	ICON IDI_WARNINGICON, IDC_WARNINGICON, 124, 109, 20, 20
	LTEXT "Falls die Hardware mit einer Installations CD geliefert wurde, ist es empfehlenswert den Assistenten zu beenden und die Installations CD des Anbieters zu verwenden.", 503, 150, 106, 155, 50
	LTEXT "Klicken Sie ""Weiter"", um fortzufahren.", -1, 114, 166, 193, 8
END

IDD_SEARCHPAGE DIALOG DISCARDABLE 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Hardware Assistent"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "", IDC_STATUSTEXT, 21, 8, 275, 32
	ICON IDI_SEARCHICON, IDC_SEARCHICON, 148, 50, 20, 20
END

IDD_ISCONNECTEDPAGE DIALOG DISCARDABLE 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Hardware Assistent"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Ist die Hardware bereits am Computer angeschlossen?", -1, 20, 11, 275, 8
	AUTORADIOBUTTON "&Ja, die Hardware ist bereits angeschlossen", IDC_CONNECTED, 29, 23, 266, 8, WS_GROUP
	AUTORADIOBUTTON "&Nein, die Hardware ist noch nicht angeschlossen", IDC_NOTCONNECTED, 29, 35, 266, 8
END

IDD_PROBELISTPAGE DIALOG DISCARDABLE 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Hardware Assistent"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Wählen Sie aus der Liste ein installiertes Gerät aus und klicken Sie auf ""Weiter"", um die Einstellungen zu überprüfen und mögliche Probleme zu lösen.", -1, 21, 8, 275, 22
	LTEXT "Um Hardware zu installieren, die nicht in der Liste aufgelistet ist, klicken Sie ""Ein neues Gerät hinzufügen.""", -1, 21, 32, 275, 24
	LTEXT "I&nstallierte Hardware:", -1, 21, 62, 140, 8
	CONTROL "", IDC_PROBELIST, "SysListView32", WS_BORDER | WS_GROUP | WS_TABSTOP | LVS_REPORT | LVS_NOSORTHEADER | LVS_SINGLESEL | LVS_SHAREIMAGELISTS  | LVS_NOCOLUMNHEADER, 21, 72, 275, 66
END

IDD_SELECTWAYPAGE DIALOG DISCARDABLE 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Hardware Assistent"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Der Assistent kann automatisch Hardware suchen und diese installieren. Oder, falls Sie das zu installierende Gerät genau kennen, können Sie es aus der Liste auswählen.", -1, 21, 8, 280, 24
	LTEXT "Wie wollen Sie den Assistenten fortsetzen?", -1, 23, 40, 275, 8
	AUTORADIOBUTTON "Automatisch nach neuer Hardware &suchen und installieren (empfohlen)", IDC_AUTOINSTALL, 30, 55, 266, 8, WS_GROUP | NOT WS_TABSTOP
	AUTORADIOBUTTON "&Manuell aus der Liste ausgewählte Hardware installieren (erweitert)", IDC_MANUALLYINST, 30, 70, 266, 8, NOT WS_TABSTOP
END

IDD_DETECTEDHWPAGE DIALOG DISCARDABLE 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Hardware Assistent"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "", IDC_STATUSTEXT, 21, 9, 275, 40
	LTEXT "Erkannte Hardware:", IDC_DETECTEDHWTEXT, 21, 53, 176, 8
	CONTROL "", IDC_DETECTEDHWLIST, "SysListView32", WS_BORDER | WS_GROUP | WS_TABSTOP | LVS_REPORT | LVS_NOSORTHEADER | LVS_SINGLESEL | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER, 21, 65, 275, 70
END

IDD_HWTYPESPAGE DIALOG DISCARDABLE 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Hardware Assistent"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Wenn Sie die Hardwarekategorie, die Sie benötigen nicht finden, wählen Sie ""Alle Geräte"".", IDC_STATUSTEXT, 21, 9, 275, 18
	LTEXT "Bekannte &Hardware Typen:", IDC_HWTYPESTEXT, 21, 31, 180, 8
	CONTROL "", IDC_HWTYPESLIST, "SysListView32", WS_BORDER | WS_GROUP | WS_TABSTOP | LVS_REPORT | LVS_NOSORTHEADER | LVS_SINGLESEL | LVS_SHAREIMAGELISTS | LVS_NOCOLUMNHEADER, 21, 42, 275, 92
END

IDD_PROGRESSPAGE DIALOG DISCARDABLE 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Hardware Assistent"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Der Hardware Suchvorgang kann mehere Minuten dauern.", -1, 21, 8, 275, 15
	LTEXT "Fortschitt:", IDC_TPROGRESSTEXT, 21, 25, 275, 8
	CONTROL "", IDC_TPROGRESSBAR, "msctls_progress32", 0, 21, 37, 275, 14
	LTEXT "", IDC_PROGRESSTEXT, 58, 58, 200, 8, SS_NOPREFIX
	CONTROL "", IDC_PROGRESSBAR, "msctls_progress32", 0, 58, 70, 200, 8
END

IDD_FINISHPAGE DIALOG DISCARDABLE 0, 0, 317, 186
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Hardware Assistent"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Hardware Assistent wird vervollständigt", IDC_FINISHTITLE, 114, 8, 203, 24
	LTEXT "Der Hardware Assistent wurde erfolgreich abgeschlossen.", -1, 114, 32, 193, 19
	LTEXT "", IDC_STATUSTEXT, 114, 70, 193, 92
	LTEXT "Klicken Sie ""Beenden"", um den Assistenten zu schließen.", -1, 114, 166, 192, 8
END

IDD_ISFOUNDPAGE DIALOG DISCARDABLE 0, 0, 317, 186
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Hardware Assistent"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Hardware Assistent wird vervollständigt", IDC_FINISHTITLE, 114, 8, 203, 24
	LTEXT "Der Assistent fand folgende Hardware an ihrem Computer:", -1, 114, 32, 193, 19
	LTEXT "Klicken Sie ""Beenden"", um den Assistenten zu schließen.", -1, 114, 166, 132, 8
	CONTROL "", IDC_FOUNDHARDWARELIST, "SysListView32", WS_BORDER | WS_GROUP | WS_TABSTOP | LVS_REPORT | LVS_NOSORTHEADER | LVS_SINGLESEL | LVS_SHAREIMAGELISTS, 114, 56, 193, 78
END

IDD_HWSTATUSPAGE DIALOG DISCARDABLE 0, 0, 317, 186
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Hardware Assistent"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Hardware Assistent wird vervollständigt", IDC_FINISHTITLE, 114, 8, 195, 28
	LTEXT "Derzeitiger Status der ausgewählten Hardware:", -1, 114, 40, 193, 19
	EDITTEXT IDC_HWSTATUSEDIT, 114, 60, 193, 70, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_VSCROLL | NOT WS_TABSTOP
	LTEXT "Klicken Sie ""Beenden"", um Hilfe zum Lösen von möglichen Problemen zu erhalten.", -1, 114, 136, 193, 16
	LTEXT "Klicken Sie ""Abbrechen"", um den Assistenten zu schließen.", IDC_STATUSTEXT, 114, 166, 200, 8
END

IDD_NOTCONNECTEDPAGE DIALOG DISCARDABLE 0, 0, 317, 186
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Hardware Assistent"
FONT 8, "MS Shell Dlg"
BEGIN
	LTEXT "Hardware Assistent kann nicht fortgesetzt werden", IDC_FINISHTITLE, 114, 8, 203, 28
	LTEXT "Um fortsetzen zu können, verbinden Sie folgende Hardware mit dem Computer.", -1, 114, 40, 193, 16
	AUTOCHECKBOX "&Nach Beenden den Computer neustarten, um die Hardware anschließen zu können.", IDC_TURNOFFCHECKBOX, 114, 64, 203, 20, BS_TOP | BS_MULTILINE
	LTEXT "In den meisten Fällen wird ReactOS die Hardware automatisch installieren, wenn Sie sie mit dem Computer verbinden. Andernfalls können Sie den Assistenten erneut starten, um die zu unterstützende Hardware zu installieren.", -1, 114, 98, 193, 32
	LTEXT "Klicken Sie auf ""Beenden"", um den Assistenten zu schließen.", IDC_STATUSTEXT, 114, 166, 200, 8
END

STRINGTABLE
BEGIN
	IDS_CPLNAME "Hardware"
	IDS_CPLDESCRIPTION "Installiert neue Hardwarekomponenten."
	IDS_SEARCHTITLE "Bitte warten Sie, während der Assistent neue Hardware sucht..."
	IDS_SEARCHTEXT "Dieser Assistent sucht nach Hardware, die vor kurzem an Ihren Computer angeschlossen, aber noch nicht installiert wurde."
	IDS_ISCONNECTED "Ist die Hardware bereits verbunden?"
	IDS_PROBELISTTITLE "Folgende Hardware ist bereits auf Ihrem Computer installiert"
	IDS_ADDNEWDEVICE "Ein neues Gerät hinzufügen"
	IDS_SELECTWAYTITLE "Der Assistent kann Sie bei der Installation anderer Hardware unterstützen"
	IDS_HDTYPESTITLE "Wählen Sie die Hardware aus der Liste aus, die Sie installieren möchten."
END
