LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

IDC_MAGNIFIER MENU
BEGIN
    POPUP "&Datei"
    BEGIN
        MENUITEM "&Beenden",                       IDM_EXIT
        MENUITEM "&Optionen",                      IDM_OPTIONS
        MENUITEM SEPARATOR
        MENUITEM "&Über ...",                      IDM_ABOUT
    END
END

IDC_MAGNIFIER ACCELERATORS
BEGIN
    "?",            IDM_ABOUT,              ASCII,  ALT
    "/",            IDM_ABOUT,              ASCII,  ALT
END

IDD_ABOUTBOX DIALOGEX 22, 17, 220, 75
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU
CAPTION "Über"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    ICON            IDI_ICON,IDC_MYICON,14,9,20,20
    LTEXT           "Bildschirm-Lupe Version 1.0",IDC_STATIC,49,10,119,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2007 Marc Piulachs (marc.piulachs@codexchange.net)",IDC_STATIC,48,24,125,22
    PUSHBUTTON      "OK",IDOK,162,48,50,14
END

IDD_DIALOGOPTIONS DIALOGEX 0, 0, 153, 182
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Einstellungen"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Beenden",IDOK,96,161,50,14
    PUSHBUTTON      "Hilfe",IDC_BUTTON_HELP,38,161,50,14
    LTEXT           "Vergrößerungsgrad:",IDC_STATIC,6,12,68,8
    COMBOBOX        IDC_ZOOM,72,6,63,66,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    GROUPBOX        "Folgen",IDC_STATIC,7,25,139,59
    GROUPBOX        "Präsentation",IDC_STATIC,7,87,139,57
    CONTROL         "Maus-Cursor folgen",IDC_FOLLOWMOUSECHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,42,114,10
    CONTROL         "Tastaturfokus folgen",IDC_FOLLOWKEYBOARDCHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,54,114,10
    CONTROL         "Texteingabe folgen",IDC_FOLLOWTEXTEDITINGCHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,66,114,10
    CONTROL         "Farben invertieren",IDC_INVERTCOLORSCHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,102,114,10
    CONTROL         "Minimiert starten",IDC_STARTMINIMIZEDCHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,114,114,10
    CONTROL         "Bildschirm-Lupe anzeigen",IDC_SHOWMAGNIFIERCHECK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,126,114,10
END

IDD_WARNINGDIALOG DIALOGEX 0, 0, 250, 97
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION
CAPTION "ReactOS Bildschirm-Lupe"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,193,76,50,14
    ICON            IDI_ICON,IDC_STATIC,7,17,20,20
    LTEXT           "Die Bildschirmlupe ist für Personen mit leichten visuellen Einschränkungen gedacht und stellt lediglich Grundfunktionen zur Verfügung. Die meisten Nutzer werden jedoch eine Bildschirmlupe mit mehr Funktionen für die alltägliche Nutzung benötigen.",IDC_STATIC,36,7,207,33
    CONTROL         "Diese Nachricht nicht mehr anzeigen",IDC_SHOWWARNINGCHECK, "Button",BS_AUTOCHECKBOX | WS_TABSTOP,43,80,137,10
END

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "Bildschirm-Lupe"
END
