/* Translated by Wu Haotian <rigoligo03@gmail.com> 2021 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE
BEGIN
    IDS_USAGE "对比两个或两组文件的内容，并显示它们之间的不同。\n\
\n\
FC [/A] [/C] [/L] [/LBn] [/N] [/OFF[LINE]] [/T] [/U] [/W] [/nnnn]\n\
   [drive1:][path1]filename1 [drive2:][path2]filename2\n\
FC /B [drive1:][path1]filename1 [drive2:][path2]filename2\n\
\n\
  /A         只显示每组差异的第一行和最后一行。\n\
  /B         执行二进制比较。\n\
  /C         忽略字母大小写的不同。\n\
  /L         将文件作为 ASCII 文本比较。\n\
  /LBn       将最大接受的连续差异行数设为指定值（默认为 100 行。）\n\
  /N         在 ASCII 文本比较时显示行号。\n\
  /OFF[LINE] 不跳过具有离线属性的文件。\n\
  /T         不要将制表符扩展为空格（默认行为为扩展）。\n\
  /U         将文件作为 Unicode 文本文件比较。\n\
  /W         在比较时将空白字符（制表符和空格）压缩。\n\
  /nnnn      指定在每个差异之后必须有连续的多少行匹配（默认为 2 行。）\n\
  [drive1:][path1]filename1\n\
             指定要比较的第一个或第一组文件。\n\
  [drive2:][path2]filename2\n\
             指定要比较的第二个或第二组文件。\n"
    IDS_NO_DIFFERENCE "FC：没有发现差异。\n"
    IDS_LONGER_THAN "FC：%ls 比 %ls 长。\n"
    IDS_COMPARING "正在比较 %ls 和 %ls\n"
    IDS_OUT_OF_MEMORY "FC：内存不足\n"
    IDS_CANNOT_READ "FC：无法从 %ls 读取数据\n"
    IDS_INVALID_SWITCH "FC：不正确的选项\n"
    IDS_CANNOT_OPEN "FC：无法打开 %ls - 找不到此文件或文件夹\n"
    IDS_NEEDS_FILES "FC：指定的文件数量不够。\n"
    IDS_CANT_USE_WILDCARD "暂不支持通配符（“*”和“?”）\n"
    IDS_DIFFERENT "FC：文件 %ls 和 %ls 不同\n"
    IDS_TOO_LARGE "FC：文件 %ls 过大\n"
    IDS_RESYNC_FAILED "文件差异过大，无法继续比较。\n"
END
