/*
 * XCOPY - Wine-compatible xcopy program
 * Danish language support
 *
 * Copyright (C) 2008 Jens Albretsen <jens@albretsen.dk>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */


LANGUAGE LANG_DANISH, SUBLANG_DEFAULT

STRINGTABLE
{
    STRING_INVPARMS, "Ugyldigt antal parametere; brug «xcopy /?» for hjelp\n"
    STRING_INVPARM,  "Ugyldigt parameter «%s»; brug «xcopy /?» for hjelp\n"
    STRING_PAUSE,    "Tryk Enter for at begynde at kopiere\n"
    STRING_SIMCOPY,  "%d fil(er) vil blive kopieret\n"
    STRING_COPY,     "%d fil(er) kopieret\n"
    STRING_QISDIR,   "Er «%s» et filnavn eller katalog\n" \
                     "på destinationen?\n" \
                     "(F - Fil, K - Katalog)\n"
    STRING_SRCPROMPT,"%s? (Ja|Nei)\n"
    STRING_OVERWRITE,"Overskrive «%s»? (Ja|Nei|Alle)\n"
    STRING_COPYFAIL, "Kunne ikke kopiere «%s» til «%s»; fejlet med r/c %d\n"
    STRING_OPENFAIL, "Kunne ikke åbne «%s»\n"
    STRING_READFAIL, "Kunne ikke læse «%s»\n"
    STRING_YES_CHAR, "J"
    STRING_NO_CHAR,  "N"
    STRING_ALL_CHAR, "A"
    STRING_FILE_CHAR,"F"
    STRING_DIR_CHAR, "K"

    STRING_HELP,
"XCOPY - Kopierer filer eller katalogtre til en målplassering\n\
\n\
Syntaks:\n\
XCOPY kilde [mål] [/I] [/S] [/Q] [/F] [/L] [/W] [/T] [/N] [/U]\n\
\t     [/R] [/H] [/C] [/P] [/A] [/M] [/E] [/D] [/Y] [/-Y]\n\
\n\
hvor:\n\
[/I]  Antag at destinationen er et katalog hvis destinationen ikke\n\
      \tfindes og 2 eller flere filer bliver kopieret\n\
[/S]  Kopier kataloger og underkataloger\n\
[/E]  Kopier kataloger og underkataloger, også tomme kataloger\n\
[/Q]  Vær stille : vis ikke filnavne under kopiering\n\
[/F]  Fil hele kilde- og målnavn under kopiering\n\
[/L]  Simulér operationen; vis kun, gør intet\n\
[/W]  Spørg før koperingen starter\n\
[/T]  Lav tom katalogstruktur; kopier ikke filer\n\
[/Y]  Spørg ikke om filer skal overskrives\n\
[/-Y] Spørg før om filer skal overskrives\n\
[/P]  Spørg om hver enkelt fil der skal kopieres\n\
[/N]  Kopier som korte filnavn (8.3 tegn)\n\
[/U]  Kopier kun filer som allerede findes på destinationen\n\
[/R]  Overskriv filer som er skrivebeskyttet\n\
[/H]  Kopier skjulte filer og systemfiler\n\
[/C]  Fortsæt selv om det opstår fejl under kopieringen\n\
[/A]  Kopier ikke filer som er markeret som arkiv\n\
[/M]  Kopier kun filer som er markeret som akriv; fjerner denne markering\n\
[/D | /D:m-d-å] Kopier kun nye filer eller dem som er ændret efter\n\
      \t\tden opgivne dato.\n\
      \t\tHvis ingen dato opgives kopieres kun de filer hvor\n\
      \t\tdestinationen er ældre end kilden\n\n"

}
