LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL

IDD_MONITOR DIALOGEX 0, 0, 252, 226
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Moniteur"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  GROUPBOX "Type de moniteur", -1, 7, 3, 237, 52
  LTEXT "", IDC_MONITORNAME, 40, 17, 190, 20, SS_NOPREFIX
  LISTBOX IDC_MONITORLIST, 40, 13, 196, 30, WS_VSCROLL
  PUSHBUTTON "&Propriétés", IDC_MONITORPROPERTIES, 177, 35, 59, 14, WS_DISABLED
  GROUPBOX "Paramètres du moniteur", IDS_MONITORSETTINGSGROUP, 7, 58, 237, 63
  LTEXT "Taux de rafraîchi&ssement de l'écran:", IDS_REFRESHRATELABEL, 13, 73, 225, 8
  COMBOBOX IDC_REFRESHRATE, 13, 85, 225, 200, WS_VSCROLL | CBS_DROPDOWNLIST | CBS_SORT
  AUTOCHECKBOX "Cac&her les modes que ce moniteur ne peut pas afficher", IDC_PRUNINGCHECK, 13, 106, 225, 10
END

STRINGTABLE
BEGIN
  IDS_USEDEFFRQUENCY "Utiliser les paramètres matériel par défaut"
  IDS_FREQFMT "%u Hertz"
END
