/* $Id: intl.rc 12852 2005-01-06 13:58:04Z mf $ */

LANGUAGE LANG_ENGLISH, SUBLANG_DEFAULT

IDD_GENERALPAGE DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "General"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Property Page 1",-1,73,74,90,8
END


IDD_NUMBERSPAGE DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Numbers"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Property Page 2",-1,73,74,90,8
END


IDD_CURRENCYPAGE DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Currency"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Property Page 3",-1,73,74,90,8
END


IDD_TIMEPAGE DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Time"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Property Page 4",-1,73,74,90,8
END


IDD_DATEPAGE DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Date"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Property Page 5",-1,73,74,90,8
END


IDD_LOCALEPAGE DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Input Locale"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Primary language", -1, 8, 11, 228, 74 
  ICON IDC_FLAGS, IDC_ICON1, 12, 26, 21, 20, SS_ICON
  LTEXT "Select the primary language and region you want to use:", -1, 38, 25, 193, 22
  COMBOBOX IDC_LANGUAGELIST, 39, 49, 191, 83, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
END


STRINGTABLE
BEGIN
  IDS_CPLNAME "Regional Options"
  IDS_CPLDESCRIPTION "Select languages and format numbers, currencies, times and date."
END
