LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL


IDD_PROPPAGEKEYBOARD DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Tastiera"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  GROUPBOX "Tasti bloccabili",-1,PROPSHEETPADDING(1),LABELLINE(1),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(6)+PROPSHEETPADDING(1)
  LTEXT "Usa i tasti bloccabili se vuoi usare i tasti Shift, Ctrl o Alt premendo un tasto alla volta.",-1,PROPSHEETPADDING(2),LABELLINE(2),PROPSHEETWIDTH-PROPSHEETPADDING(4),LABELLINE(3)
  AUTOCHECKBOX "&Usa Tasti bloccabili",IDC_STICKY_BOX,PROPSHEETPADDING(2),LABELLINE(5)+2,PROPSHEETWIDTH-PROPSHEETPADDING(20),14
  PUSHBUTTON "&Impostazioni",IDC_STICKY_BUTTON,PROPSHEETWIDTH-PROPSHEETPADDING(17),LABELLINE(5)+2,PROPSHEETPADDING(15),14

  GROUPBOX "Filtro",-1,PROPSHEETPADDING(1),LABELLINE(8)+5,PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(7)+2
  LTEXT "Usa il filtro se vuoi che siano ignorate le pressioni troppo brevi o doppie dei tastio per rallentare la ripetizione automatica.",-1,PROPSHEETPADDING(2),LABELLINE(10)-3,PROPSHEETWIDTH-PROPSHEETPADDING(4),LABELLINE(3)
  AUTOCHECKBOX "Usa &Filtro",IDC_FILTER_BOX,PROPSHEETPADDING(2),LABELLINE(13)+2,PROPSHEETWIDTH-PROPSHEETPADDING(20),14
  PUSHBUTTON "I&mpostazioni",IDC_FILTER_BUTTON,PROPSHEETWIDTH-PROPSHEETPADDING(17),LABELLINE(13)+2,PROPSHEETPADDING(15),14

  GROUPBOX "Bistabili",-1,PROPSHEETPADDING(1),LABELLINE(16)+3,PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(6)+PROPSHEETPADDING(1)
  LTEXT "Se vuoi un segnale acustico quando viene premuto Blocco Maiuscole, Num o Scr.",-1,PROPSHEETPADDING(2),LABELLINE(18)-3,PROPSHEETWIDTH-PROPSHEETPADDING(4),LABELLINE(2)
  AUTOCHECKBOX "Use &Bistabili",IDC_TOGGLE_BOX,PROPSHEETPADDING(2),LABELLINE(20)+2,PROPSHEETWIDTH-PROPSHEETPADDING(20),14
  PUSHBUTTON "Im&postazioni",IDC_TOGGLE_BUTTON,PROPSHEETWIDTH-PROPSHEETPADDING(17),LABELLINE(20)+2,PROPSHEETPADDING(15),14

  AUTOCHECKBOX "Sho&w extra keyboard help in programs",IDC_KEYBOARD_EXTRA,PROPSHEETPADDING(1),LABELLINE(23)+3,PROPSHEETWIDTH-PROPSHEETPADDING(2),14
END


IDD_PROPPAGESOUND DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Suoni"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  GROUPBOX "Visuale",-1,PROPSHEETPADDING(1),LABELLINE(1),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(10)+PROPSHEETPADDING(1)
  LTEXT "Usa questa opzione se vuoi una segnalazione visiva in corrispondenza delle segnalazioni acustiche.",-1,PROPSHEETPADDING(2),LABELLINE(2),PROPSHEETWIDTH-PROPSHEETPADDING(4),LABELLINE(3)
  AUTOCHECKBOX "Use &Visuale",IDC_SENTRY_BOX,PROPSHEETPADDING(2),LABELLINE(5)+2,PROPSHEETPADDING(15),14
  LTEXT "User the following warning:", IDC_SENTRY_TEXT, PROPSHEETPADDING(2),LABELLINE(8)-2,PROPSHEETWIDTH-PROPSHEETPADDING(4),LABELLINE(1)
  COMBOBOX IDC_SENTRY_COMBO, PROPSHEETPADDING(2), LABELLINE(9), PROPSHEETWIDTH-PROPSHEETPADDING(4), LABELLINE(6), CBS_DROPDOWNLIST | WS_VSCROLL | WS_VISIBLE | WS_TABSTOP

  GROUPBOX "Titoli",-1,PROPSHEETPADDING(1),LABELLINE(12)+5,PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(7)+2
  LTEXT "Usa Titoli per informare i programmi che devono mostrare del testo corrispondente a suoni e parlato.",-1,PROPSHEETPADDING(2),LABELLINE(14)-3,PROPSHEETWIDTH-PROPSHEETPADDING(4),LABELLINE(3)
  AUTOCHECKBOX "Usa &Titoli",IDC_SSHOW_BOX,PROPSHEETPADDING(2),LABELLINE(16)+2,PROPSHEETWIDTH-PROPSHEETPADDING(4),14
END


IDD_PROPPAGEDISPLAY DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Video"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN  
  GROUPBOX "Alto contrasto",-1,PROPSHEETPADDING(1),LABELLINE(1),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(6)+PROPSHEETPADDING(1)
  LTEXT "Usa questa opzione se devono essere usati colori e font che migliorano la leggibilità.",-1,PROPSHEETPADDING(2),LABELLINE(2),PROPSHEETWIDTH-PROPSHEETPADDING(4),LABELLINE(3)
  AUTOCHECKBOX "&Usa Alto contrasto",IDC_CONTRAST_BOX,PROPSHEETPADDING(2),LABELLINE(5)+2,PROPSHEETWIDTH-PROPSHEETPADDING(20),14
  PUSHBUTTON "&Impostazioni",IDC_CONTRAST_BUTTON,PROPSHEETWIDTH-PROPSHEETPADDING(17),LABELLINE(5)+2,PROPSHEETPADDING(15),14
END


IDD_PROPPAGEMOUSE DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Mouse"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  GROUPBOX "Mouse sui tasti",-1,PROPSHEETPADDING(1),LABELLINE(1),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(6)+PROPSHEETPADDING(1)
  LTEXT "Usa questa opzione se vuoi usare il tastierino numerico al posto del mouse.",-1,PROPSHEETPADDING(2),LABELLINE(2),PROPSHEETWIDTH-PROPSHEETPADDING(4),LABELLINE(3)
  AUTOCHECKBOX "Use &Mouse sui tasti",IDC_MOUSE_BOX,PROPSHEETPADDING(2),LABELLINE(5)+2,PROPSHEETWIDTH-PROPSHEETPADDING(20),14
  PUSHBUTTON "&Impostazioni",IDC_MOUSE_BUTTON,PROPSHEETWIDTH-PROPSHEETPADDING(17),LABELLINE(5)+2,PROPSHEETPADDING(15),14
END


IDD_PROPPAGEGENERAL DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "General"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  GROUPBOX "Reset Automatico",-1,PROPSHEETPADDING(1),LABELLINE(1),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(5)
  AUTOCHECKBOX "&Disattiva le funzioni di accessibilità se fermo per:",IDC_RESET_BOX,PROPSHEETPADDING(2),LABELLINE(2)-2,PROPSHEETWIDTH-PROPSHEETPADDING(4),14
  COMBOBOX IDC_RESET_COMBO, PROPSHEETPADDING(4), LABELLINE(4), PROPSHEETPADDING(6), LABELLINE(5),
           CBS_DROPDOWNLIST | WS_VSCROLL | WS_VISIBLE | WS_TABSTOP
  LTEXT "Minutes",-1,PROPSHEETPADDING(10)+2, LABELLINE(4)+2, PROPSHEETPADDING(16), LABELLINE(1)

  GROUPBOX "Notifiche",-1,PROPSHEETPADDING(1),LABELLINE(7)-2,PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(5)
  AUTOCHECKBOX "Avvisa con un messaggio quando si attiva una funzione",IDC_NOTIFICATION_MESSAGE,PROPSHEETPADDING(2),LABELLINE(8)-2,PROPSHEETWIDTH-PROPSHEETPADDING(4),14
  AUTOCHECKBOX "Fai una segnalazione acustica quando una funzione viene attivata o ddisattivata",IDC_NOTIFICATION_SOUND,PROPSHEETPADDING(2),LABELLINE(10)-2,PROPSHEETWIDTH-PROPSHEETPADDING(4),14

  GROUPBOX "Dispositivi seriali",-1,PROPSHEETPADDING(1),LABELLINE(13)-4,PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(5)
  LTEXT "I dispositivi seriali permettono una modalità alternativa per gestire le funzioni di mouse e tastiera.",-1,PROPSHEETPADDING(2),LABELLINE(14)-4,PROPSHEETWIDTH-PROPSHEETPADDING(4),LABELLINE(2)
  AUTOCHECKBOX "Supporta i Dispositivi &Seriali",IDC_SERIAL_BOX,PROPSHEETPADDING(2),LABELLINE(16)-4,PROPSHEETWIDTH-PROPSHEETPADDING(20),14
  PUSHBUTTON "&Impostazioni",IDC_SERIAL_BUTTON,PROPSHEETWIDTH-PROPSHEETPADDING(17),LABELLINE(16)-4,PROPSHEETPADDING(15),14

  GROUPBOX "Opzioni di amministrazione",-1,PROPSHEETPADDING(1),LABELLINE(19)-4,PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(5)
  AUTOCHECKBOX "Applica tutte le impostazioni al desktop di &login ",IDC_ADMIN_LOGON_BOX,PROPSHEETPADDING(2),LABELLINE(20)-4,PROPSHEETWIDTH-PROPSHEETPADDING(4),14
  AUTOCHECKBOX "Applica tutte le impostazioni a quelle predefinite per i nuovi utenti",IDC_ADMIN_USERS_BOX,PROPSHEETPADDING(2),LABELLINE(22)-4,PROPSHEETWIDTH-PROPSHEETPADDING(4),14
END


IDD_STICKYKEYSOPTIONS DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sticky Keys Settings"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Keys",-1,PROPSHEETPADDING(1),LABELLINE(1),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(6)+PROPSHEETPADDING(1)
  LTEXT "Press the SHIFT-Key 5 times in order to activate the Sticky Keys feature.",-1,PROPSHEETPADDING(2),LABELLINE(2),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(3)
  AUTOCHECKBOX "A&ctivate sticky keys",IDC_STICKY_ACTIVATE_CHECK,PROPSHEETPADDING(2),LABELLINE(5)+2,PROPSHEETWIDTH-PROPSHEETPADDING(4),14

  GROUPBOX "Options",-1,PROPSHEETPADDING(1),LABELLINE(9),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(4)+PROPSHEETPADDING(1)
  AUTOCHECKBOX "&Press modifier key twice to lock",IDC_STICKY_LOCK_CHECK,PROPSHEETPADDING(2),LABELLINE(10)+2,PROPSHEETWIDTH-PROPSHEETPADDING(4),14
  AUTOCHECKBOX "&Turn StickyKeys off if two keys are pressed at once",IDC_STICKY_UNLOCK_CHECK,PROPSHEETPADDING(2),LABELLINE(12),PROPSHEETWIDTH-PROPSHEETPADDING(4),14

  GROUPBOX "Notifications",-1,PROPSHEETPADDING(1),LABELLINE(15),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(4)+PROPSHEETPADDING(1)
  AUTOCHECKBOX "&Make sounds when the modifier key is pressed",IDC_STICKY_SOUND_CHECK,PROPSHEETPADDING(2),LABELLINE(16)+2,PROPSHEETWIDTH-PROPSHEETPADDING(4),14
  AUTOCHECKBOX "&Show StickyKeys status on screen",IDC_STICKY_STATUS_CHECK,PROPSHEETPADDING(2),LABELLINE(18),PROPSHEETWIDTH-PROPSHEETPADDING(4),14

  PUSHBUTTON "OK", IDOK, PROPSHEETWIDTH-111, PROPSHEETHEIGHT-21, 50, 14
  PUSHBUTTON "Cancel", IDCANCEL, PROPSHEETWIDTH-57, PROPSHEETHEIGHT-21, 50, 14
END


IDD_FILTERKEYSOPTIONS DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Filter Keys Settings"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "TBD",-1,PROPSHEETPADDING(2),LABELLINE(2),PROPSHEETWIDTH-PROPSHEETPADDING(4),LABELLINE(3)

  PUSHBUTTON "OK", IDOK, PROPSHEETWIDTH-111, PROPSHEETHEIGHT-21, 50, 14
  PUSHBUTTON "Cancel", IDCANCEL, PROPSHEETWIDTH-57, PROPSHEETHEIGHT-21, 50, 14
END


IDD_TOGGLEKEYSOPTIONS DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Toggle Keys Settings"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Keyboard shortcut",-1,PROPSHEETPADDING(1),LABELLINE(1),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(6)+PROPSHEETPADDING(1)
  LTEXT "The shortcut for ToggleKeys is: \nHold down <Num Lock> for five seconds.",-1,PROPSHEETPADDING(2),LABELLINE(2),PROPSHEETWIDTH-PROPSHEETPADDING(4),LABELLINE(3)
  AUTOCHECKBOX "Use &shortcut",IDC_TOGGLE_ACTIVATE_CHECK,PROPSHEETPADDING(2),LABELLINE(5)+2,PROPSHEETWIDTH-PROPSHEETPADDING(4),14

  PUSHBUTTON "OK", IDOK, PROPSHEETWIDTH-111, PROPSHEETHEIGHT-21, 50, 14
  PUSHBUTTON "Cancel", IDCANCEL, PROPSHEETWIDTH-57, PROPSHEETHEIGHT-21, 50, 14
END


IDD_CONTRASTOPTIONS DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "High Contrast Settings"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Keyboard shortcut",-1,PROPSHEETPADDING(1),LABELLINE(1),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(6)+PROPSHEETPADDING(1)
  LTEXT "The shortcut for High Contrast is:  \nPress <Left Alt+Left Shift+Print Screen>.",-1,PROPSHEETPADDING(2),LABELLINE(2),PROPSHEETWIDTH-PROPSHEETPADDING(4),LABELLINE(3)
  AUTOCHECKBOX "&Use shortcut",IDC_CONTRAST_ACTIVATE_CHECK,PROPSHEETPADDING(2),LABELLINE(5)+2,PROPSHEETWIDTH-PROPSHEETPADDING(4),14

  GROUPBOX "High Contrast Color Scheme",-1,PROPSHEETPADDING(1),LABELLINE(9),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(4)+PROPSHEETPADDING(1)
  LTEXT "Current Color Scheme:",-1,PROPSHEETPADDING(2),LABELLINE(10)+2,PROPSHEETWIDTH-PROPSHEETPADDING(4),LABELLINE(1)
  COMBOBOX IDC_CONTRAST_COMBO, PROPSHEETPADDING(2), LABELLINE(11)+2, PROPSHEETWIDTH-PROPSHEETPADDING(4), LABELLINE(6),
           CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_VISIBLE | WS_TABSTOP

  PUSHBUTTON "OK", IDOK, PROPSHEETWIDTH-111, PROPSHEETHEIGHT-21, 50, 14
  PUSHBUTTON "Cancel", IDCANCEL, PROPSHEETWIDTH-57, PROPSHEETHEIGHT-21, 50, 14
END


IDD_MOUSEKEYSOPTIONS DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Mouse Keys Settings"
FONT 8, "MS Shell Dlg"
BEGIN
  GROUPBOX "Keyboard shortcut",-1,PROPSHEETPADDING(1),LABELLINE(1),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(6)+PROPSHEETPADDING(1)
  LTEXT "The shortcut for Mouse Keys is:  \nPress <Left Alt+Left Shift+Num Lock>.",-1,PROPSHEETPADDING(2),LABELLINE(2),PROPSHEETWIDTH-PROPSHEETPADDING(4),LABELLINE(3)
  AUTOCHECKBOX "&Use shortcut",IDC_MOUSEKEYS_ACTIVATE_CHECK,PROPSHEETPADDING(2),LABELLINE(5)+2,PROPSHEETWIDTH-PROPSHEETPADDING(4),14

  GROUPBOX "Pointer speed",-1,PROPSHEETPADDING(1),LABELLINE(9),PROPSHEETWIDTH-PROPSHEETPADDING(2),LABELLINE(9)

  LTEXT "&Top speed:",-1,PROPSHEETPADDING(2),LABELLINE(10)+4,PROPSHEETPADDING(8),LABELLINE(1)
  LTEXT "Low",-1,PROPSHEETPADDING(11),LABELLINE(10)+4,PROPSHEETPADDING(3),LABELLINE(1)
  CONTROL "",IDC_MOUSEKEYS_SPEED_TRACK,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,PROPSHEETPADDING(15),LABELLINE(10)+2,PROPSHEETWIDTH-PROPSHEETPADDING(22),LABELLINE(2)
  LTEXT "High",-1,PROPSHEETWIDTH-PROPSHEETPADDING(7),LABELLINE(10)+4,PROPSHEETPADDING(3),LABELLINE(1)

  LTEXT "&Acceleration:",-1,PROPSHEETPADDING(2),LABELLINE(13)+4,PROPSHEETPADDING(8),LABELLINE(1)
  LTEXT "Slow",-1,PROPSHEETPADDING(11),LABELLINE(13)+4,PROPSHEETPADDING(3),LABELLINE(1)
  CONTROL "",IDC_MOUSEKEYS_ACCEL_TRACK,"msctls_trackbar32",TBS_AUTOTICKS | WS_TABSTOP,PROPSHEETPADDING(15),LABELLINE(13)+2,PROPSHEETWIDTH-PROPSHEETPADDING(22),LABELLINE(2)
  LTEXT "Fast",-1,PROPSHEETWIDTH-PROPSHEETPADDING(7),LABELLINE(13)+4,PROPSHEETPADDING(3),LABELLINE(1)

  AUTOCHECKBOX "&Hold down Ctrl to speed up and Shift to slow down",IDC_MOUSEKEYS_SPEED_CHECK,PROPSHEETPADDING(2),LABELLINE(16),PROPSHEETWIDTH-PROPSHEETPADDING(4),14

  LTEXT "Use MouseKeys when NumLock is:",-1,PROPSHEETPADDING(1),LABELLINE(18)+7,PROPSHEETPADDING(20),LABELLINE(1)
  AUTORADIOBUTTON "O&n",IDC_MOUSEKEYS_ON_RADIO,PROPSHEETWIDTH-PROPSHEETPADDING(14),LABELLINE(18)+7,PROPSHEETPADDING(5),LABELLINE(1)
  AUTORADIOBUTTON "Of&f",IDC_MOUSEKEYS_OFF_RADIO,PROPSHEETWIDTH-PROPSHEETPADDING(8),LABELLINE(18)+7,PROPSHEETPADDING(5),LABELLINE(1)

  AUTOCHECKBOX "&Show MouseKey status on screen",IDC_MOUSEKEYS_STATUS_CHECK,PROPSHEETPADDING(1),LABELLINE(20)+2,PROPSHEETWIDTH-PROPSHEETPADDING(4),14

  PUSHBUTTON "OK", IDOK, PROPSHEETWIDTH-111, PROPSHEETHEIGHT-21, 50, 14
  PUSHBUTTON "Cancel", IDCANCEL, PROPSHEETWIDTH-57, PROPSHEETHEIGHT-21, 50, 14
END


STRINGTABLE
BEGIN
  IDS_CPLSYSTEMNAME "Accessibility"
  IDS_CPLSYSTEMDESCRIPTION "Customizes accessibility features for your computer."

  IDS_SENTRY_NONE "[None]"
  IDS_SENTRY_TITLE "Flash the titlebar"
  IDS_SENTRY_WINDOW "Flash the active window"
  IDS_SENTRY_DISPLAY "Flash the desktop"
END
