LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

STRINGTABLE DISCARDABLE
BEGIN

IDS_USAGE, "SYSTEMINFO [/S system [/U username [/P [password]]]] [/FO format] [/NH]\n\n\
Description:\n\
  This command line tool enables an administrator to query for basic\n\
  system configuration information.\n\n\
Parameter List:\n\
  /S      system           Specifies the remote system to connect to.\n\n\
  /U      [domain\\]user   Specifies the user context under which\n\
	                   the command should execute.\n\n\
  /P      [password]       Specifies the password for the given\n\
	                   user context. Prompts for input if omitted.\n\n\
  /FO     format           Specifies the format in which the output\n\
	                   is to be displayed.\n\
	                   Valid values: \"TABLE\", \"LIST\", \"CSV\".\n\n\
  /NH                      Specifies that the \"Column Header\" should\n\
	                   not be displayed in the output.\n\
	                   Valid only for \"TABLE\" and \"CSV\" formats.\n\n\
  /?                       Displays this help/usage.\n\n\
Examples:\n\
  SYSTEMINFO\n\
  SYSTEMINFO /?\n\
  SYSTEMINFO /S system\n\
  SYSTEMINFO /S system /U user\n\
  SYSTEMINFO /S system /U domain\\user /P password /FO TABLE\n\
  SYSTEMINFO /S system /FO LIST\n\
  SYSTEMINFO /S system /FO CSV /NH\n"

IDS_OS_NAME, 				"OS Name:			%s\n"
IDS_OS_VERSION, 			"OS Version:			%d.%d.%d %s"
IDS_OS_BUILD, 				" Build %s\n"
IDS_OS_BUILD_TYPE, 			"OS Build Type:			%s\n"
IDS_REG_OWNER, 				"Registered Owner:		%s\n"
IDS_REG_ORG, 				"Registered Organization:	%s\n"
IDS_PRODUCT_ID, 			"Product ID:			%s\n"
IDS_INST_DATE, 				"Install Date:			%s, "
IDS_INST_TIME, 				"%s\n"
IDS_SYS_TYPE_UNKNOWN, 		"System type:			Unknown\n"
IDS_SYS_TYPE_X86, 			"System type:			X86-based PC\n"
IDS_SYS_TYPE_IA64, 			"System type:			IA64-based PC\n"
IDS_SYS_TYPE_AMD64, 		"System type:			AMD64-based PC\n"
IDS_PROCESSORS, 			"Processor(s):			%u Processor(s) Installed.\n"
IDS_ROS_DIR, 				"ReactOS Directory:		%s\n"
IDS_SYS_DIR, 				"System Directory:		%s\n"
IDS_BOOT_DEV, 				"Boot Device:			%s\n"
IDS_SYS_LOCALE, 			"System Locale:			%s\n"
IDS_INPUT_LOCALE, 			"Input Locale:			%s\n"
IDS_TOTAL_PHYS_MEM, 		"Total Physical Memory:		%ld MB (%ld KB)\n"
IDS_AVAIL_PHISICAL_MEM, 	"Available Physical Memory:	%ld MB (%ld KB)\n"
IDS_VIRT_MEM_MAX, 			"Virtual Memory: Max Size:	%ld MB (%ld KB)\n"
IDS_VIRT_MEM_AVAIL, 		"Virtual Memory: Available:	%ld MB (%ld KB)\n"
IDS_VIRT_MEM_INUSE, 		"Virtual Memory: In Use:		%ld MB (%ld KB)\n"
IDS_HOST_NAME,				"Host Name:			%s\n"
IDS_PAGEFILE_LOC,			"Page File Location(s) 		%s\n"
IDS_TIME_ZONE,				"Time zone: 			%s\n"
IDS_DOMINE,					"Domain:				%s\n"
IDS_BIOS_DATE,				"BIOS Date:			%s\n"
IDS_BIOS_VERSION,			"BIOS Version:			%s\n"
IDS_NETWORK_CARDS,			"Network Card(s)			%u Installed.\n"

END
