/*
 * crypt32 dll resources
 *
 * Copyright (C) 2006 Henning Gerhardt
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

STRINGTABLE DISCARDABLE
{
    IDS_AUTHORITY_KEY_ID "Autoritätsschlüsselkennung"
    IDS_KEY_ATTRIBUTES "Schlüsselattribute"
    IDS_KEY_USAGE_RESTRICTION "Schlüsselbenutzungseinschränkung"
    IDS_SUBJECT_ALT_NAME "Alternativer Name des Antragsstellers"
    IDS_ISSUER_ALT_NAME "Alternativer Name des Ausgebers"
    IDS_BASIC_CONSTRAINTS "Grundsätzliche Einschränkungen"
    IDS_KEY_USAGE "Schlüsselbenutzung"
    IDS_CERT_POLICIES "Zertifikatsrichtlinien"
    IDS_SUBJECT_KEY_IDENTIFIER "Schlüsselkennung des Antragsstellers"
    IDS_CRL_REASON_CODE "CRL Grundcode"
    IDS_CRL_DIST_POINTS "CRL Verteilungspunkte"
    IDS_ENHANCED_KEY_USAGE "Erweiterte Schlüsselbenutzung"
    IDS_AUTHORITY_INFO_ACCESS "Autoritätsinformationszugriff"
    IDS_CERT_EXTENSIONS "Zertifikatserweiterung"
    IDS_NEXT_UPDATE_LOCATION "Next Update Location"
    IDS_YES_OR_NO_TRUST "Vertrauen oder nicht vertrauen"
    IDS_EMAIL_ADDRESS "E-Mail-Adresse"
    IDS_UNSTRUCTURED_NAME "Unstrukturierter Name"
    IDS_CONTENT_TYPE "Inhaltstyp"
    IDS_MESSAGE_DIGEST "Nachrichtenübersicht"
    IDS_SIGNING_TIME "Signierungszeit"
    IDS_COUNTER_SIGN "Gegensignatur"
    IDS_CHALLENGE_PASSWORD "Challenge Password"
    IDS_UNSTRUCTURED_ADDRESS "Unstrukturierte Adresse"
    IDS_SMIME_CAPABILITIES "SMIME Möglichkeiten"
    IDS_PREFER_SIGNED_DATA "Signierte Daten bevorzugen"
    IDS_CPS "CPS"
    IDS_USER_NOTICE "Benutzerbenachrichtung"
    IDS_OCSP "Online Zertifikationsstatusprotokoll"
    IDS_CA_ISSUER "Ausgeber des Zertifikationsautorität"
    IDS_CERT_TEMPLATE_NAME "Zertifkationsvorlagenname"
    IDS_CERT_TYPE "Zertifikationstyp"
    IDS_CERT_MANIFOLD "Zertifikationsvervielfältigung"
    IDS_NETSCAPE_CERT_TYPE "Netscape Zertifikationstyp"
    IDS_NETSCAPE_BASE_URL "Netscape Basis-URL"
    IDS_NETSCAPE_REVOCATION_URL "Netscape Sperrungs-URL"
    IDS_NETSCAPE_CA_REVOCATION_URL "Netscape CA Sperrungs-URL"
    IDS_NETSCAPE_CERT_RENEWAL_URL "Netscape Zertifikationsernerung-URL"
    IDS_NETSCAPE_CA_POLICY_URL "Netscape CA Richtlinien-URL"
    IDS_NETSCAPE_SSL_SERVER_NAME "Netscape SSL Servername"
    IDS_NETSCAPE_COMMENT "Netscape Kommentar"
    IDS_SPC_SP_AGENCY_INFO "SpcSp Agentur-Information"
    IDS_SPC_FINANCIAL_CRITERIA "Spc Finanzielle Kriterien"
    IDS_SPC_MINIMAL_CRITERIA "Spc Minimale Kriterien"
    IDS_COUNTRY "Land/Region"
    IDS_ORGANIZATION "Organisation"
    IDS_ORGANIZATIONAL_UNIT "Organisationseinheit"
    IDS_COMMON_NAME "Allgemeiner Name"
    IDS_LOCALITY "Ort"
    IDS_STATE_OR_PROVINCE "Bundesland oder Provinz"
    IDS_TITLE "Titel"
    IDS_GIVEN_NAME "Vorname"
    IDS_INITIALS "Initialen"
    IDS_SUR_NAME "Nachname"
    IDS_DOMAIN_COMPONENT "Domänkomponente"
    IDS_STREET_ADDRESS "Straße"
    IDS_SERIAL_NUMBER "Seriennummer"
    IDS_CA_VERSION "CA Version"
    IDS_CROSS_CA_VERSION "Kreuz CA Version"
    IDS_SERIALIZED_SIG_SERIAL_NUMBER "Serialisierte Signaturseriennummer"
    IDS_PRINCIPAL_NAME "Prinzipalname"
    IDS_WINDOWS_PRODUCT_UPDATE "Windows Produkt Aktualisierung"
    IDS_ENROLLMENT_NAME_VALUE_PAIR "Wertepaar für Eintragungsname"
    IDS_OS_VERSION "Betriebssystemversion"
    IDS_ENROLLMENT_CSP "Eintragungs-CSP"
    IDS_CRL_NUMBER "CRL Nummer"
    IDS_DELTA_CRL_INDICATOR "Delta CRL Indikator"
    IDS_ISSUING_DIST_POINT "Ausgeber des Verteilungspunktes"
    IDS_FRESHEST_CRL "Aktuelle CRL"
    IDS_NAME_CONSTRAINTS "Namenseinschränkungen"
    IDS_POLICY_MAPPINGS "Richtlinienzuordnungen"
    IDS_POLICY_CONSTRAINTS "Richtlinieneinschränkungen"
    IDS_CROSS_CERT_DIST_POINTS "Verteilungspunkte für Kreuzzertifikate"
    IDS_APPLICATION_POLICIES "Anwendungsrichtlinien"
    IDS_APPLICATION_POLICY_MAPPINGS "Anwendungsrichtlinienzuordnungen"
    IDS_APPLICATION_POLICY_CONSTRAINTS "Anwendungsungsrichtlinieneinschränkungen"
    IDS_CMC_DATA "CMC Daten"
    IDS_CMC_RESPONSE "CMC Antwort"
    IDS_UNSIGNED_CMC_REQUEST "Unsignierte CMC Antwort"
    IDS_CMC_STATUS_INFO "CMC Statusinformation"
    IDS_CMC_EXTENSIONS "CMC Erweiterungen"
    IDS_CMC_ATTRIBUTES "CMC Attribute"
    IDS_PKCS_7_DATA "PKCS 7 Daten"
    IDS_PKCS_7_SIGNED "PKCS 7 signiert"
    IDS_PKCS_7_ENVELOPED "PKCS 7 umhüllt"
    IDS_PKCS_7_SIGNED_ENVELOPED "PKCS 7 signiert und umhüllt"
    IDS_PKCS_7_DIGESTED "PKCS 7 Digested"
    IDS_PKCS_7_ENCRYPTED "PKCS 7 verschlüsselt"
    IDS_PREVIOUS_CA_CERT_HASH "Vorheriger CA Zertifikatshash"
    IDS_CRL_VIRTUAL_BASE "Virtuelle Basis-CRL-Nummer"
    IDS_CRL_NEXT_PUBLISH "Nächste CRL Veröffentlichung"
    IDS_CA_EXCHANGE "CA Verschlüsselungszertifikat"
    IDS_KEY_RECOVERY_AGENT "Agent zur Schlüsselwiederherstellung"
    IDS_CERTIFICATE_TEMPLATE "Zertifikatsvorlageninformation"
    IDS_ENTERPRISE_ROOT_OID "Unternehmensstamm-OID"
    IDS_RDN_DUMMY_SIGNER "Attrapenunterzeichner"
    IDS_ARCHIVED_KEY_ATTR "Verschlüsselter, privater Schlüssel"
    IDS_CRL_SELF_CDP "Veröffentlichte CRL Standorte"
    IDS_REQUIRE_CERT_CHAIN_POLICY "Erzwinge Zertifikatskettenrichtlinie"
    IDS_TRANSACTION_ID "Transaktions-ID"
    IDS_SENDER_NONCE "Sender einstweilen"
    IDS_RECIPIENT_NONCE "Empfänger einstweilen"
    IDS_REG_INFO "Registrierungsinformationen"
    IDS_GET_CERTIFICATE "Bekomme Zertifikat"
    IDS_GET_CRL "Bekomme CRL"
    IDS_REVOKE_REQUEST "Anfrageablehnen"
    IDS_QUERY_PENDING "Wartende Abfrage"
    IDS_SORTED_CTL "Zertifikatsvertrauensliste"
    IDS_ARCHIVED_KEY_CERT_HASH "Archivierter Schlüsselzertifikatshash"
    IDS_PRIVATE_KEY_USAGE_PERIOD "Private Schlüsselbenutzungsdauer"
    IDS_CLIENT_INFORMATION "Client Information"
    IDS_SERVER_AUTHENTICATION "Server Authentifizierung"
    IDS_CLIENT_AUTHENTICATION "Client Authentifizierung"
    IDS_CODE_SIGNING "Codesignatur"
    IDS_SECURE_EMAIL "Sichere E-Mail"
    IDS_TIME_STAMPING "Zeitstempel"
    IDS_MICROSOFT_TRUST_LIST_SIGNING "Microsoft Vertrauenslistensignatur"
    IDS_MICROSOFT_TIME_STAMPING "Microsoft Zeitstempel"
    IDS_IPSEC_END_SYSTEM "IP Sicherheitsendsystem"
    IDS_IPSEC_TUNNEL "IP Sicherheitstunnelabschluss"
    IDS_IPSEC_USER "IP Sicherheitsbenutzer"
    IDS_EFS "Verschlüsseltes Dateisystem"
    IDS_WHQL_CRYPTO "Windows Hardware Treiber Verifizierung"
    IDS_NT5_CRYPTO "Windows System Komponenten Verifizierung"
    IDS_OEM_WHQL_CRYPTO "OEM Windows System Komponenten Verifizierung"
    IDS_EMBEDDED_NT_CRYPTO "Embedded Windows System Komponenten Verifizierung"
    IDS_KEY_PACK_LICENSES "Schlüsselpaketlizenzen"
    IDS_LICENSE_SERVER "Lizenzserver Verifizierung"
    IDS_SMART_CARD_LOGON "Smartcard Login"
    IDS_DIGITAL_RIGHTS "Digitale Rechte"
    IDS_QUALIFIED_SUBORDINATION "Qualifizierte Unterordnung"
    IDS_KEY_RECOVERY "Schlüsselwiederherstellung"
    IDS_DOCUMENT_SIGNING "Dokumentensignatur"
    IDS_IPSEC_IKE_INTERMEDIATE "dazwischenliegende IP Sicherheits-IKE"
    IDS_FILE_RECOVERY "Dateiwiederherstellung"
    IDS_ROOT_LIST_SIGNER "Stammlistengeber"
    IDS_ANY_APPLICATION_POLICIES "Alle Anwendungsrichtlinien"
    IDS_DS_EMAIL_REPLICATION "Verzeichnisdienst für E-Mail Replikation"
    IDS_ENROLLMENT_AGENT "Agent für Zertifikationsanforderung"
    IDS_LIFETIME_SIGNING "Lebensdauersignatur"
    IDS_ANY_CERT_POLICY "Alle ausgegebenen Richtlinien"
}

STRINGTABLE DISCARDABLE
{
    IDS_LOCALIZEDNAME_ROOT "Vertrauenswürdige Stammzertifizierungsstellen"
    IDS_LOCALIZEDNAME_MY "Persönlich"
    IDS_LOCALIZEDNAME_CA "Zwischenzertifizierungsstellen"
    IDS_LOCALIZEDNAME_ADDRESSBOOK "Andere Personen"
}
