/*
 * Copyright 2005 Sebastian Gasiorek
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

STRINGTABLE LANGUAGE LANG_POLISH, SUBLANG_NEUTRAL
BEGIN

/* MMSYS errors */
MMSYSERR_NOERROR, 		"Wydane polecenie zosta³o wykonane."
MMSYSERR_ERROR, 		"Nie zdefiniowany b³¹d zewnêtrzny."
MMSYSERR_BADDEVICEID, 		"U¿yto identyfikatora urz¹dzenia, któy jest poza zakresem tego systemu."
MMSYSERR_NOTENABLED, 		"Sterownik nie zosta³ w³¹czony."
MMSYSERR_ALLOCATED, 		"Okreœlone urz¹dzenie jest ju¿ u¿ywane. Poczekaj, a¿ bêdzie wolne i spróbuj ponownie."
MMSYSERR_INVALHANDLE, 		"Podane dojœcie urz¹dzenia jest nieprawid³owe."
MMSYSERR_NODRIVER, 		"Nie ma ¿adnego zainstalowanego sterownika w tym systemie !\n"
MMSYSERR_NOMEM, 		"Brak dostêpnej pamiêci do wykonania tego zadania. Zakoñcz jedn¹ lub wiêcej aplikacji, aby zwiêkszyæ dostêpn¹ pamiêæ. Nastêpnie spróbuj ponownie."
MMSYSERR_NOTSUPPORTED, 		"Ta funkcja nie jest obs³ugiwana. U¿yj funkcji Mo¿liwoœci, aby ustaliæ jakie funkcje i komunikaty obs³uguje sterownik."
MMSYSERR_BADERRNUM, 		"Podano numer b³êdu, który nie jest zdefiniowany w systemie."
MMSYSERR_INVALFLAG, 		"Nieprawid³owa flaga zosta³a przekazana do funkcji systemowej."
MMSYSERR_INVALPARAM, 		"Nieprawid³owy parametr zosta³ przekazany do funkcji systemowej."

/* WAVE errors */
WAVERR_BADFORMAT, 		"Okreœlony format nie jest obs³ugiwany i nie mo¿na go przet³umaczyæ. U¿yj funkcji Mo¿liwoœci, aby ustaliæ obs³ugiwane formaty."
WAVERR_STILLPLAYING, 		"Nie mo¿na wykonaæ tej operacji w czasie, gdy dane multimedialne s¹ nadal odtwarzane. Zresetuj urz¹dzenie lub poczekaj, a¿ zakoñczy siê odtwarzanie danych."
WAVERR_UNPREPARED, 		"Nag³ówek WAVE nie zosta³ przygotowany. Przygotuj nag³ówek u¿ywaj¹c funkcji Przygotuj i spróbuj ponownie."
WAVERR_SYNC, 			"Nie mo¿na otworzyæ urz¹dzenia bez u¿ycia flagi WAVE_ALLOWSYNC. U¿yj tej flagi i spróbuj ponownie."

/* MIDI errors */
MIDIERR_UNPREPARED, 		"Nag³ówek MIDI nie zosta³ przygotowany. Przygotuj nag³ówek u¿ywaj¹c funkcji Przygotuj i spróbuj ponownie."
MIDIERR_STILLPLAYING, 		"Nie mo¿na wykonaæ tej operacji w czasie, gdy dane multimedialne s¹ nadal odtwarzane. Zresetuj urz¹dzenie lub poczekaj, a¿ zakoñczy siê odtwarzanie danych."
MIDIERR_NOMAP, 			"Nie mo¿na odnaleŸæ mapowanie urz¹dzenia MIDI. Mo¿e to byæ spowodowane problemem ze sterownikiem albo brakiem lub uszkodzeniem pliku MIDIMAP.CFG."
MIDIERR_NOTREADY, 		"Port przesy³a dane do urz¹dzenia. Poczekaj, a¿ dane zostan¹ przes³ane i spróbuj ponownie."
MIDIERR_NODEVICE, 		"Bie¿¹ce ustawienia mapowania MIDI odwo³uj¹ siê do urz¹dzenia MIDI, które nie jest zainstalowane w systemie. U¿yj Mapowania MIDI do edycji ustawieñ."
MIDIERR_INVALIDSETUP, 		"Bie¿¹ce ustawienia MIDI s¹ uszkodzone. Skopiuj oryginalny plik MIDIMAP.CFG do katalogu ReactOS SYSTEM, a nastêpnie spróbuj ponownie."

/* MCI errors */
MCIERR_INVALID_DEVICE_ID, 	"Nieprawid³owy identyfikator urz¹dzenia MCI. U¿yj identyfikatora zwróconego podczas otwierania urz¹dzenia MCI."
MCIERR_UNRECOGNIZED_KEYWORD, 	"Sterownik nie mo¿e rozpoznaæ podanego parametru polecenia."
MCIERR_UNRECOGNIZED_COMMAND,	"Sterownik nie mo¿e rozpoznaæ podanego polecenia."
MCIERR_HARDWARE, 		"Wyst¹pi³ problem z urz¹dzeniem multimedialnym. SprawdŸ czy dzia³a ono poprawnie lub skontaktuj siê z producentem urz¹dzenia."
MCIERR_INVALID_DEVICE_NAME, 	"Podane urz¹dzenie nie jest otwarte lub nie jest rozpoznawane przez MCI."
MCIERR_OUT_OF_MEMORY, 		"Za ma³o pamiêci dla tego zadania. \nZamknij jedn¹ lub wiêcej aplikacji w celu zwiêkszenia dostêpnej pamiêci, a nastêpnie spróbuj ponownie."
MCIERR_DEVICE_OPEN, 		"Nazwa urz¹dzenia jest ju¿ u¿ywana jako alias przez t¹ aplikacjê. U¿yj unikatowego aliasu."
MCIERR_CANNOT_LOAD_DRIVER, 	"Nieznany problem przy ³adowaniu okreœlonego sterownika urz¹dzenia."
MCIERR_MISSING_COMMAND_STRING, 	"Nie okreœlono polecenia."
MCIERR_PARAM_OVERFLOW, 		"Wyjœciowy ci¹g znaków by³ za du¿y, aby zmieœciæ siê w buforze. Zwiêksz rozmiar buforu."
MCIERR_MISSING_STRING_ARGUMENT, "Okreœlone polecenie wymaga parametru. Podaj ten parametr."
MCIERR_BAD_INTEGER, 		"Okreœlona liczba ca³kowita jest nieprawid³owa dla tego polecenia."
MCIERR_PARSER_INTERNAL, 	"Sterownik urz¹dzenia zwróci³ nieprawid³owy typ zwrotny. Skontaktuj siê z producentem urz¹dzenia w celu otrzymania nowego sterownika."
MCIERR_DRIVER_INTERNAL, 	"Wyst¹pi³ problem ze sterownikiem tego urz¹dzenia. Skontaktuj siê z producentem urz¹dzenia w celu otrzymania nowego sterownika."
MCIERR_MISSING_PARAMETER, 	"Okreœlone polecenie wymaga parametru. Podaj ten parametr."
MCIERR_UNSUPPORTED_FUNCTION, 	"U¿ywane urz¹dzenie MCI nie obs³uguje okreœlonego polecenia."
MCIERR_FILE_NOT_FOUND, 		"Nie mo¿na znaleŸæ okreœlonego pliku. SprawdŸ, czy œcie¿ka i nazwa pliku s¹ poprawne."
MCIERR_DEVICE_NOT_READY, 	"Sterownik urz¹dzenia nie jest gotowy."
MCIERR_INTERNAL, 		"Wyst¹pi³ problem podczas inicjowania MCI. Spróbuj uruchomiæ ponownie ReactOS."
MCIERR_DRIVER, 			"Wyst¹pi³ problem ze steronikiem tego urz¹dzenia. Sterownik zosta³ zamkniêty. Nie ma dostêpu do informacji o b³êdach."
MCIERR_CANNOT_USE_ALL, 		"W okreœlonym poleceniu nie mo¿na u¿yæ parametru 'all' jako nazwy urz¹dzenia."
MCIERR_MULTIPLE, 		"Wyst¹pi³ b³¹d w wiêcej ni¿ jednym urz¹dzeniu. Okreœl ka¿de polecenie i urz¹dzenie oddzielnie, aby ustaliæ, które urz¹dzenie spowodowa³o b³êdy."
MCIERR_EXTENSION_NOT_FOUND, 	"Nie mo¿na ustaliæ typu urz¹dzenia na podstawie podanego rozszerzenia pliku."
MCIERR_OUTOFRANGE, 		"Okreœlony parametr przekracza zakres przewidziany dla tego polecenia."
MCIERR_FLAGS_NOT_COMPATIBLE, 	"Okreœlonych parametrów nie mo¿na u¿ywaæ razem."
MCIERR_FILE_NOT_SAVED, 		"Nie mo¿na zapisaæ okreœlonego pliku, SprawdŸ, czy jest doœæ miejsca na dysku lub czy po³¹czenie sieciowe jest wci¹¿ aktywne."
MCIERR_DEVICE_TYPE_REQUIRED, 	"Nie mo¿na odnaleŸæ okreœlonego urz¹dzenia. SprawdŸ, czy jest ono zainstalowane i czy jest nazwa jest napisana poprawnie."
MCIERR_DEVICE_LOCKED, 		"Okreœlone urz¹dzenie jest w³aœnie zamykane. Poczekaj kilka sekund i spróbuj ponownie."
MCIERR_DUPLICATE_ALIAS, 	"Podany alias jest ju¿ u¿ywany w tej aplikacji. U¿yj unikatowego aliasu."
MCIERR_BAD_CONSTANT, 		"Okreœlony parametr jest nieprawid³owy dla tego polecenia."
MCIERR_MUST_USE_SHAREABLE, 	"Sterownik urz¹dzenia jest ju¿ u¿ywany. Aby go udostêpniæ, zastosuj parametr 'shareable' dla ka¿dego polecenia 'open'."
MCIERR_MISSING_DEVICE_NAME, 	"Okreœlone polecenie wymaga podania nazwy aliasu, pliku, sterownika lub urz¹dzenia. Podaj tê nazwê."
MCIERR_BAD_TIME_FORMAT, 	"Okreœlona wartoœæ formatu czasu jest nieprawid³owa. SprawdŸ prawid³owe formaty w dokumentacji MCI."
MCIERR_NO_CLOSING_QUOTE, 	"W wartoœci parametru brak cudzys³owu zamykaj¹cego. Dodaj go."
MCIERR_DUPLICATE_FLAGS, 	"Parametr lub wartoœæ okreœlono dwukrotnie. Okreœl je tylko raz."
MCIERR_INVALID_FILE, 		"Podanego pliku nie mo¿na odtworzyæ za pomoc¹ tego urz¹dzenia MIDI. Plik mo¿e byæ uszkodzony, mieæ z³y format lub mo¿e nie byæ dostêpna obs³uga tego formatu."
MCIERR_NULL_PARAMETER_BLOCK, 	"Do MCI przekazano blok parametrów zerowych."
MCIERR_UNNAMED_RESOURCE, 	"Nie mo¿na zapisaæ pliku bez nazwy. Podaj nazwê."
MCIERR_NEW_REQUIRES_ALIAS, 	"Podczas u¿ywania parametru 'new' nale¿y podaæ jakiœ alias."
MCIERR_NOTIFY_ON_AUTO_OPEN, 	"Dla automatycznie otwieranych urz¹dzeñ nie mo¿na u¿yæ flagi 'notify'."
MCIERR_NO_ELEMENT_ALLOWED, 	"Z okreœlonym urz¹dzeniem nie mo¿na u¿ywaæ nazwy pliku."
MCIERR_NONAPPLICABLE_FUNCTION, 	"Nie mo¿na wykonaæ poleceñ w podanej kolejnoœci. Popraw kolejnoœæ poleceñ i spróbuj ponownie."
MCIERR_ILLEGAL_FOR_AUTO_OPEN, 	"Nie mo¿na wykonaæ tego polecenia na urz¹dzeniu otwieranym automatycznie. Odczekaj, a¿ urz¹dzenie zostanie zamkniête i spróbuj ponownie."
MCIERR_FILENAME_REQUIRED, 	"Nazwa pliku jest nieprawid³owa. Upewnij siê, ¿e nazwa pliku nie jest d³u¿sza 8 znaków i zakoñczona jest kropk¹ oraz rozszerzeniem."
MCIERR_EXTRA_CHARACTERS, 	"Nie mo¿na okreœliæ dodatkowych znaków po ci¹gu ujêtym w cudzys³owy."
MCIERR_DEVICE_NOT_INSTALLED, 	"Podane urz¹dzenie nie jest zainstalowane w systemie. Aby zainstalowaæ urz¹dzenie, przejdŸ do Panelu sterowania i u¿yj opcji Sterowniki."
MCIERR_GET_CD, 			"Nie mo¿na uzyskaæ dostêpu do okreœlonego pliku lub urz¹dzenia MCI. Spróbuj zmieniæ katalogi lub ponownie uruchomiæ komputer."
MCIERR_SET_CD, 			"Nie mo¿na uzyskaæ dostêpu do podanego pliku lub urz¹dzenia MCI, gdy¿ aplikacja ta nie mo¿e zmieniaæ katalogów."
MCIERR_SET_DRIVE, 		"Nie mo¿na uzyskaæ dostêpu do okreœlonego pliku lub urz¹dzenia MCI, gdy¿ aplikacja ta nie mo¿e zmieniaæ dysków."
MCIERR_DEVICE_LENGTH, 		"Podaj nazwê urz¹dzenia lub sterownika krótsz¹ ni¿ 79 znaków."
MCIERR_DEVICE_ORD_LENGTH, 	"Podaj nazwê urz¹dzenia lub sterownika któtsz¹ ni¿ 69 znaków."
MCIERR_NO_INTEGER, 		"Okreœlone polecenie wymaga parametru w postaci liczby ca³kowitej. Podaj taki parametr."
MCIERR_WAVE_OUTPUTSINUSE, 	"Wszystkie urz¹dzenia dŸwiêkowe Wave, które mog¹ odtwarzaæ pliki w bie¿¹cym formacie, s¹ ju¿ u¿ywane. Zaczekaj na zwolnienie jednego z nich i spróbuj ponownie."
MCIERR_WAVE_SETOUTPUTINUSE, 	"Nie mo¿na ustawiæ bie¿¹cego urz¹dzenia dŸwiêkowego Wave na odtwarzanie, poniewa¿ urz¹dzenie jest u¿ywane. Zaczekaj, a¿ urz¹dzenie zostanie zwolnione i spróbuj ponownie."
MCIERR_WAVE_INPUTSINUSE, 	"Wszystkie urz¹dzenia dŸwiêkowe Wave, które mog¹ nagrywaæ pliki w bie¿¹cym formacie, s¹ ju¿ u¿ywane. Zaczekaj na zwolnienie jednego z nich i spróbuj ponownie."
MCIERR_WAVE_SETINPUTINUSE, 	"Nie mo¿na ustawiæ bie¿¹cego urz¹dzenia dŸwiêkowego Wave na nagrywanie, poniewa¿ urz¹dzenie jest u¿ywane. Zaczekaj, a¿ urz¹dzenie zostanie zwolnione i spróbuj ponownie."
MCIERR_WAVE_OUTPUTUNSPECIFIED,	"Mo¿na u¿yæ dowolnego zgodnego urz¹dzenia odtwarzaj¹cego Wave."
MCIERR_WAVE_INPUTUNSPECIFIED, 	"Mo¿na u¿yæ dowolnego zgodnego urz¹dzenia nagrywaj¹cego Wave."
MCIERR_WAVE_OUTPUTSUNSUITABLE, 	"Nie zainstalowano ¿adnego urz¹dzenia dŸwiêkowego WAVE, które mog³oby odtwarzaæ pliki w bie¿¹cym formacie. Aby zainstalowaæ urz¹dzenie wave, u¿yj opcji Sterowniki."
MCIERR_WAVE_SETOUTPUTUNSUITABLE,"Urz¹dzenie, którego próbujesz u¿yæ do odtwarzania, nie mo¿e rozpoznaæ bie¿¹cego formatu pliku."
MCIERR_WAVE_INPUTSUNSUITABLE, 	"Nie zainstalowano ¿adnego urz¹dzenia dŸwiêkowego WAVE, które mog³oby nagrywaæ pliki w bie¿acym formacie. Aby zainstalowaæ urz¹dzenie wave, u¿yj opcji Sterowniki."
MCIERR_WAVE_SETINPUTUNSUITABLE, "Urz¹dzenie, którego próbujesz u¿yæ do nagrywania, nie mo¿e rozpoznaæ bie¿¹cego formatu pliku."
MCIERR_NO_WINDOW, 		"Brak okna wyœwietlania."
MCIERR_CREATEWINDOW, 		"Nie mo¿na utworzyæ lub u¿yæ okna."
MCIERR_FILE_READ, 		"Nie mo¿na odczytaæ okreœlonego pliku. Upewnij siê, ¿e plik nadal istnieje i sprawdŸ dysk lub po³¹czenie sieciowe."
MCIERR_FILE_WRITE, 		"Nie mo¿na zapisaæ okreœlonego pliku. SprawdŸ, czy jest miejsce na dysku lub czy po³¹czenie sieciowe jest aktywne."
MCIERR_SEQ_DIV_INCOMPATIBLE, 	"Nie mo¿na u¿yæ razem formatu czasu wskaŸnika piosenki i formatu czasu SMPTE."
MCIERR_SEQ_NOMIDIPRESENT, 	"W systemie nie ma zainstalowanych urz¹dzeñ MIDI. Aby zainstalowaæ urz¹dzenie MIDI, przejdŸ do Panelu sterowania i u¿yj opcji Sterowniki."
MCIERR_SEQ_PORT_INUSE, 		"Okreœlony port MIDI jest ju¿ u¿ywany. Poczekaj, a¿ bêdzie wolny i spróbuj ponownie."
MCIERR_SEQ_PORT_MAPNODEVICE, 	"Bie¿¹ce ustawienia mapowania MIDI odwo³uje siê do urz¹dzenia MIDI, które nie jest zainstalowane w systemie. U¿yj Mapowania MIDI do edycji ustawieñ."
MCIERR_SEQ_PORT_MISCERROR, 	"Wyst¹pi³ b³¹d podczas korzystania z okreœlonego portu."
MCIERR_SEQ_PORT_NONEXISTENT, 	"Okreœlone urz¹dzenie MIDI nie jest zainstalowane w systemie. Aby zainstalowaæ urz¹dzenie MIDI, przejdŸ do Panelu sterowania i u¿yj opcji Sterowniki."
MCIERR_SEQ_PORTUNSPECIFIED, 	"Brak bie¿¹cego portu MIDI."
MCIERR_SEQ_TIMER, 		"Wszystkie czasomierze multimediów s¹ u¿ywane przez inne aplikacje. Zamknij jedn¹ z nich i spróbuj ponownie."

END
