LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_HIDE_MOUSE, "&Ocultar puntero del ratón"
    IDS_SHOW_MOUSE, "&Mostrar puntero del ratón"
    IDS_VDM_MENU  , "ReactOS &VDM"
END

STRINGTABLE
BEGIN
    IDS_VDM_DUMPMEM,    "Dump &Memory"
    IDS_VDM_QUIT   ,    "&Salir de ReactOS VDM"
END
