LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_HIDE_MOUSE, "Mas&quer le pointeur de la souris"
    IDS_SHOW_MOUSE, "&Afficher le pointeur de la souris"
    IDS_VDM_MENU  , "ReactOS &VDM"
END

STRINGTABLE
BEGIN
    IDS_VDM_DUMPMEM_TXT,    "Vidage Mémoire (&Texte)"
    IDS_VDM_DUMPMEM_BIN,    "Vidage Mémoire (&Binaire)"
    IDS_VDM_QUIT       ,    "&Quitter la ReactOS VDM"
END
