/*
 * PROJECT:    ReactOS Management Console
 * LICENSE:    GPL - See COPYING in the top level directory
 * FILE:       base/applications/mmc/lang/zh-TW.rc
 * PURPOSE:    Chinese (Traditional) Language File for Management Console
 * TRANSLATOR: Elton Chung aka MfldElton <elton328@gmail.com>
 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

IDM_CONSOLE_SMALL MENU
BEGIN
    POPUP "檔案(&F)"
    BEGIN
        MENUITEM "新建\tCtrl+N", IDM_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "結束(&X)\tAlt+F4", IDM_FILE_EXIT
    END
    POPUP "說明(&H)"
    BEGIN
        MENUITEM "關於 ReactOS 控制台(&A)...", IDM_HELP_ABOUT
    END
END

IDM_CONSOLE_LARGE MENU
BEGIN
    POPUP "檔案(&F)"
    BEGIN
        MENUITEM "新建\tCtrl+N", IDM_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "結束(&X)\tAlt+F4", IDM_FILE_EXIT
    END
    POPUP "視窗(&W)"
    BEGIN
        MENUITEM "清單", IDM_WINDOWS_LIST
    END
    POPUP "說明(&H)"
    BEGIN
        MENUITEM "關於 ReactOS 控制台(&A)...", IDM_HELP_ABOUT
    END
END

STRINGTABLE
BEGIN
    IDS_APPTITLE "ReactOS 控制台"
    IDS_CONSOLETITLE "控制台%1!u!"
END
