[%# 1.0@bugzilla.org %]
 [%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[% title = "Change Password" %]
[% PROCESS global/header.html.tmpl %]

<p>
  To change your password, enter a new password twice:
</p>

<form method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="chgpw">
  <table>
    <tr>
      <th align="right">New Password:</th>
      <td>
        <input type="password" name="password" size="16" maxlength="16">
      </td>
    </tr>
    
    <tr>
      <th align="right">New Password Again:</th>
      <td>
        <input type="password" name="matchpassword" size="16" maxlength="16">
      </td>
    </tr>
    
    <tr>
      <th align="right">&nbsp;</th>
      <td>
        <input type="submit" id="update" value="Submit">
      </td>
    </tr>
  </table>
</form>

[% PROCESS global/footer.html.tmpl %]
