/*
 * FILE:       subsystems/ntvdm/lang/cs-CZ.rc
 * TRANSLATOR: Radek Liska aka Black_Fox (radekliska at gmail dot com)
 * UPDATED:    2014-02-01
 */
 
LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_HIDE_MOUSE, "&Skrýt ukazatel myši"
    IDS_SHOW_MOUSE, "&Zobrazit ukazatel myši"
    IDS_VDM_MENU  , "ReactOS &VDM"
END

STRINGTABLE
BEGIN
    IDS_VDM_DUMPMEM_TXT,    "Dump Memory (&Text)"
    IDS_VDM_DUMPMEM_BIN,    "Dump Memory (&Binary)"
    IDS_VDM_QUIT       ,    "&Ukončit ReactOS VDM"
END
