[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #%]

[%# INTERFACE:
  # milestone: object; Bugzilla::Milestone object representing the
  #                    milestone the user created.
  #
  # product: object; Bugzilla::Product object representing the product to
  #               which the milestone belongs.
  #%]
  
[% title = BLOCK %]Adding new Milestone of Product
                   '[% product.name FILTER html %]'[% END %]
[% PROCESS global/header.html.tmpl
  title = title
%]

<p>The milestone '<a title="Edit milestone '[% milestone.name FILTER html %]' of 
   product '[% product.name FILTER html %]'"
   href="editmilestones.cgi?action=edit&amp;product=
   [%- product.name FILTER url_quote %]&amp;milestone=[% milestone.name FILTER url_quote %]">
   [%- milestone.name FILTER html %]</a>' has been created.</p>

[% PROCESS admin/milestones/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
