[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #%]

[%# INTERFACE:
  # product: object; Bugzilla::Product object representing the product to
  #               which the milestone belongs.
  #%]
  
[% title = BLOCK %]Add Milestone to Product '[% product.name FILTER html %]'[% END %]
[% subheader = BLOCK %]This page allows you to add a new milestone to product
                '[% product.name FILTER html %]'.[% END %]
[% PROCESS global/header.html.tmpl
  title = title
  subheader = subheader
  onload = "document.forms['f'].milestone.focus()"
%]

<form name="f" method="post" action="editmilestones.cgi">
  <table border="0" cellpadding="4" cellspacing="0">
    <tr>
      <th align="right"><label for="milestone">Milestone:</label></th>
      <td><input id="milestone" size="20" maxlength="20" name="milestone"
                 value=""></td>
    </tr>
    <tr>
      <th align="right"><label for="sortkey">Sortkey:</label></th>
      <td><input id="sortkey" size="20" maxlength="20" name="sortkey"
                 value=""></td>
    </tr>
  </table>
  <input type="submit" id="create" value="Add">
  <input type="hidden" name="action" value="new">
  <input type="hidden" name='product' value="[% product.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</form>

[% PROCESS admin/milestones/footer.html.tmpl
    no_add_milestone_link = 1
 %]

[% PROCESS global/footer.html.tmpl %]
