/*
 * PROJECT:     browseui
 * LICENSE:     GPL - See COPYING in the top level directory
 * FILE:        dll/win32/browseui/lang/uk-UA.rc
 * PURPOSE:     Ukraianian Language File
 * TRANSLATORS: Igor Paliychuk, Yaroslav Kibysh
 */

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

/* Menus */

IDM_CABINET_CONTEXTMENU MENUEX
BEGIN
    POPUP "", 264,MFT_STRING,MFS_ENABLED
    BEGIN
        MENUITEM "&Стандартні кнопки", IDM_TOOLBARS_STANDARDBUTTONS, MFT_STRING, MFS_ENABLED
        MENUITEM "&Рядок адреси", IDM_TOOLBARS_ADDRESSBAR, MFT_STRING, MFS_ENABLED
        MENUITEM "&Посилання", IDM_TOOLBARS_LINKSBAR, MFT_STRING, MFS_ENABLED
        MENUITEM "", -1, MFT_SEPARATOR
        MENUITEM "Закріпити панелі", IDM_TOOLBARS_LOCKTOOLBARS, MFT_STRING, MFS_ENABLED
        MENUITEM "&Налаштувати...", IDM_TOOLBARS_CUSTOMIZE, MFT_STRING, MFS_ENABLED
        MENUITEM "&Текстові мітки", IDM_TOOLBARS_TEXTLABELS, MFT_STRING, MFS_ENABLED
        MENUITEM "&Кнопка Йти", IDM_TOOLBARS_GOBUTTON, MFT_STRING, MFS_ENABLED
    END
END

IDM_CABINET_MAINMENU MENUEX
BEGIN
    POPUP "&Файл", FCIDM_MENU_FILE
    BEGIN
        MENUITEM "", -1, MFT_SEPARATOR
        MENUITEM "&Закрити", IDM_FILE_CLOSE
    END
    POPUP "&Редагувати", FCIDM_MENU_EDIT
    BEGIN
        MENUITEM "", -1, MFT_SEPARATOR
    END
    POPUP "&Вигляд", FCIDM_MENU_VIEW
    BEGIN
        POPUP "&Панелі інструментів", IDM_VIEW_TOOLBARS
        BEGIN
            MENUITEM "", -1, MFT_SEPARATOR
        END
        MENUITEM "Рядок &стану", IDM_VIEW_STATUSBAR
        POPUP "&Панель провідника", IDM_VIEW_EXPLORERBAR
        BEGIN
            MENUITEM "&Пошук\tCtrl+E", IDM_EXPLORERBAR_SEARCH
            MENUITEM "&Обране\tCtrl+I", IDM_EXPLORERBAR_FAVORITES
            MENUITEM "&Медіа", IDM_EXPLORERBAR_MEDIA
            MENUITEM "&Історія\tCtrl+H", IDM_EXPLORERBAR_HISTORY
            MENUITEM "П&апки", IDM_EXPLORERBAR_FOLDERS
            MENUITEM "", IDM_EXPLORERBAR_SEPARATOR
        END
        MENUITEM "", FCIDM_MENU_VIEW_SEP_OPTIONS, MFT_SEPARATOR
        POPUP "Й&ти до", FCIDM_MENU_EXPLORE
        BEGIN
            MENUITEM "&Назад\tAlt+Ліва Стрілка", IDM_GOTO_BACK
            MENUITEM "&Вперед\tAlt+Права Стрілка", IDM_GOTO_FORWARD
            MENUITEM "Вве&рх на один рівень", IDM_GOTO_UPONELEVEL
            MENUITEM "", -1, MFT_SEPARATOR
            MENUITEM "&Домашня сторінка\tAlt+Home", IDM_GOTO_HOMEPAGE
        END
        MENUITEM "&Оновити", IDM_VIEW_REFRESH
    END
    POPUP "О&бране", FCIDM_MENU_FAVORITES
    BEGIN
        MENUITEM "&Додати до обраного...", IDM_FAVORITES_ADDTOFAVORITES
        MENUITEM "&Організувати обране...", IDM_FAVORITES_ORGANIZEFAVORITES
        MENUITEM "", -1, MFT_SEPARATOR
        MENUITEM "(Пусто)", IDM_FAVORITES_EMPTY
    END
    POPUP "&Інструменти", FCIDM_MENU_TOOLS
    BEGIN
        MENUITEM "Під'єднати &мережевий диск...", IDM_TOOLS_MAPNETWORKDRIVE
        MENUITEM "&Від'єднати мержевий диск...", IDM_TOOLS_DISCONNECTNETWORKDRIVE
        MENUITEM "&Синхронізувати...", IDM_TOOLS_SYNCHRONIZE
        MENUITEM "", -1, MFT_SEPARATOR
        MENUITEM "&Опції папки...", IDM_TOOLS_FOLDEROPTIONS
    END
    POPUP "&Допомога", FCIDM_MENU_HELP
    BEGIN
        MENUITEM "&Про ReactOS", IDM_HELP_ABOUT
    END
END

IDM_TASKBAR_TOOLBARS MENUEX
BEGIN
    POPUP "&Панелі", -1, MFT_STRING, MFS_ENABLED, 0
    BEGIN
        MENUITEM "&Робочий стіл", IDM_TASKBAR_TOOLBARS_DESKTOP, MFT_STRING
        MENUITEM "&Швидкий запуск", IDM_TASKBAR_TOOLBARS_QUICKLAUNCH, MFT_STRING
        MENUITEM "", -1, MFT_SEPARATOR, MFS_ENABLED
        MENUITEM "&Нова панель...", IDM_TASKBAR_TOOLBARS_NEW, MFT_STRING
    END
END

IDM_BAND_MENU MENUEX
BEGIN
    MENUITEM "Пок&азувати заголовок", IDM_BAND_TITLE
    MENUITEM "&Закрити панель", IDM_BAND_CLOSE
END

IDM_POPUPMENU MENUEX DISCARDABLE
BEGIN
    POPUP ""
    BEGIN
        POPUP "&Вигляд", IDM_VIEW_MENU
        BEGIN
            MENUITEM "&Великі значки", IDM_LARGE_ICONS
            MENUITEM "&Маленькі значки", IDM_SMALL_ICONS
        END
        MENUITEM "В&ідкрити папку", IDM_OPEN_FOLDER
        MENUITEM "&Показувати текст", IDM_SHOW_TEXT
    END
END

/* Dialogs */

IDD_PROGRESS_DLG DIALOGEX 0, 0, 260, 85
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_ANIMATION, ANIMATE_CLASSA, 0, 12, 10, 236, 30 /* TODO: style */
    LTEXT "", IDC_TEXT_LINE,     7, 45, 250, 10, SS_LEFT|SS_NOPREFIX
    LTEXT "", IDC_TEXT_LINE + 1, 7, 55, 250, 10, SS_LEFT|SS_NOPREFIX
    LTEXT "", IDC_TEXT_LINE + 2, 7, 75, 190, 10, SS_LEFT|SS_NOPREFIX
    CONTROL "", IDC_PROGRESS_BAR, PROGRESS_CLASSA, WS_BORDER, 7, 65, 190, 8
    PUSHBUTTON "Скасувати", IDCANCEL, 205, 65, 50, 15, WS_GROUP | WS_TABSTOP | WS_VISIBLE
END

IDD_CUSTOMIZETOOLBAREX DIALOGEX 0, 0, 357, 33
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT "Опції &тексту:", -1, 4, 2, 48, 15
    COMBOBOX IDC_TEXTOPTIONS, 52, 0, 123, 57, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Опції &значків:", -1, 4, 20, 48, 15
    COMBOBOX IDC_ICONOPTIONS, 52, 18, 123, 57, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_SEARCH_DLG DIALOGEX 0, 0, 260, 85
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CAPTION | WS_DLGFRAME
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Search by any or all of the criteria below.", IDC_SEARCH_LABEL, 4, 2, 120, 20

    LTEXT "All or part &of the file name:", -1, 10, 25, 500, 10
    EDITTEXT IDC_SEARCH_FILENAME, 10, 35, 100, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP

    LTEXT "A &word or phrase in the file:", -1, 10, 50, 500, 10
    EDITTEXT IDC_SEARCH_QUERY, 10, 60, 100, 12, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP

    LTEXT "&Look in:", -1, 10, 75, 500, 10
    CONTROL "", IDC_SEARCH_COMBOBOX, WC_COMBOBOXEXW, WS_CHILD | WS_VISIBLE | WS_CLIPCHILDREN | WS_TABSTOP | CCS_NODIVIDER | CCS_NOMOVEY | CBS_OWNERDRAWFIXED, 10, 85, 200, 200

    DEFPUSHBUTTON "Sea&rch", IDC_SEARCH_BUTTON, 80, 110, 40, 15, WS_GROUP | WS_TABSTOP | WS_VISIBLE
    PUSHBUTTON "&Stop", IDC_SEARCH_STOP_BUTTON, 80, 110, 40, 15, WS_GROUP | WS_TABSTOP

    AUTOCHECKBOX "Search Hidden Files and Folders",
                 IDC_SEARCH_HIDDEN, 4, 130, 130, 8, WS_VISIBLE | WS_GROUP | WS_TABSTOP

    CONTROL "", IDC_PROGRESS_BAR, PROGRESS_CLASSA, WS_BORDER | PBS_MARQUEE, 10, 155, 200, 8
END

/* Accelerators */

IDR_ACCELERATORS ACCELERATORS
BEGIN
    VK_F5, IDM_VIEW_REFRESH, VIRTKEY, NOINVERT
    VK_F5, IDM_VIEW_REFRESH, VIRTKEY, CONTROL, NOINVERT
    "R", IDM_VIEW_REFRESH, VIRTKEY, CONTROL, NOINVERT
    VK_HOME, IDM_GOTO_HOMEPAGE, VIRTKEY, ALT, NOINVERT
    "D", IDM_FAVORITES_ADDTOFAVORITES, VIRTKEY, CONTROL, NOINVERT
    "B", IDM_FAVORITES_ORGANIZEFAVORITES, VIRTKEY, CONTROL, NOINVERT
    VK_LEFT, IDM_GOTO_BACK, VIRTKEY, ALT
    VK_RIGHT, IDM_GOTO_FORWARD, VIRTKEY, ALT
    VK_UP, IDM_GOTO_UPONELEVEL, VIRTKEY, ALT
    VK_BACK, 41010, NOINVERT, VIRTKEY
    "W", IDM_FILE_CLOSE, VIRTKEY, CONTROL, NOINVERT
    "E", IDM_EXPLORERBAR_SEARCH, VIRTKEY, CONTROL, NOINVERT
    "I", IDM_EXPLORERBAR_FAVORITES, VIRTKEY, CONTROL, NOINVERT
    "H", IDM_EXPLORERBAR_HISTORY, VIRTKEY, CONTROL, NOINVERT
END

/* Strings */

STRINGTABLE
BEGIN
    IDS_CANCELLING "Скасування..."
    IDS_REMAINING  "Залишається"
END

STRINGTABLE
BEGIN
    800 "Містить команди керування вибраними об'єктами."
END

STRINGTABLE
BEGIN
    864 "Містить команди правки."
END

STRINGTABLE
BEGIN
    928 "Містить команди керування виглядом."
END

STRINGTABLE
BEGIN
    992 "Містить команди інструментів."
END

STRINGTABLE
BEGIN
    1056 "Містить команди для відображення Допомоги."
END

STRINGTABLE
BEGIN
    9025 "Закриває вікно."
    9026 "Йде вверх на один рівень."
END

STRINGTABLE
BEGIN
    9121 "Під'єднує до мережевого диску."
    9122 "Від'єднує від мережевого диску."
END

STRINGTABLE
BEGIN
    9250 "Відображає дані про програму, номер версії, та авторські права."
    9252 "Відображає дані для налагодження."
END

STRINGTABLE
BEGIN
    9281 "Йде до попередньої сторінки."
    9282 "Йде до наступної сторінки."
    9283 "Дозволяє вам змінити налаштування."
    9285 "Йде до вашої домашньої сторінки."
END

STRINGTABLE
BEGIN
    9362 "Відкриває папку з обраним."
    9363 "Додає поточну сторінку до обраних."
END

STRINGTABLE
BEGIN
    9505 "Показує або приховує панелі інструментів."
    9506 "Показує або приховує рядок стану."
    9508 "Показує панель стандартних кнопок."
    9509 "Показує рядок адреси."
    9510 "Показує панель швидких посилань."
    9516 "Блокує розміри та розташування панелей інструментів."
END

STRINGTABLE
BEGIN
    9533 "Персоналізує панель інструментів."
END

STRINGTABLE
BEGIN
    9552 "Показує або приховує панель провідника."
    9553 "Показує панель пошуку."
    9554 "Показує панель обраного."
    9555 "Показує панель історії."
    9557 "Показує панель папок."
    9559 "Показує панель медіа."
END

STRINGTABLE
BEGIN
    IDS_SMALLICONS "Малі значки"
    IDS_LARGEICONS "Великі значки"
    IDS_SHOWTEXTLABELS "Показати текстові мітки"
END

STRINGTABLE
BEGIN
    IDS_NOTEXTLABELS "Без текстових міток"
    IDS_SELECTIVETEXTONRIGHT "Частина тексту праворуч"
END

STRINGTABLE
BEGIN
    IDS_GOBUTTONLABEL "|Йти||"
    IDS_GOBUTTONTIPTEMPLATE "Йти до ""%s"""
END

STRINGTABLE
BEGIN
    IDS_SEARCHLABEL "Пошук"
    IDS_ADDRESSBANDLABEL "А&дреса"
END

STRINGTABLE
BEGIN
    IDS_FOLDERSLABEL "Папки"
END

STRINGTABLE
BEGIN
    IDS_HISTORYTEXT "&Історія\tCtrl+H"
END

STRINGTABLE
BEGIN
    IDS_UP "Вверх"
END

STRINGTABLE
BEGIN
    IDS_BACK "Назад до %s"
    IDS_FORWARD "Вперед до %s"
    IDS_FOLDER_OPTIONS "Налаштування папки"
END

STRINGTABLE
BEGIN
    IDS_STANDARD_TOOLBAR, "|Назад|Вперед|Вверх|Пошук|Папки|Перемістити в|Копіювати в|Видалити|Скасувати|Вигляд|Зупинити|Оновити|Додому|Підключити диск|Відключити|Обране|Історія|На весь екран|Властивості|Вирізати|Копіювати|Вставити|Налаштування папки||"
END

STRINGTABLE
BEGIN
    IDS_BROWSEFORNEWTOOLAR "Обрати папку"
    IDS_TOOLBAR_ERR_TITLE "Панель"
    IDS_TOOLBAR_ERR_TEXT "Не вдалось створити панель."
END

STRINGTABLE
BEGIN
    IDS_SEARCH_RESULTS "Search Results"
    IDS_SEARCHINVALID "'%1' is not a valid folder."
    IDS_SEARCH_FOLDER "Searching %s"
    IDS_SEARCH_FILES_FOUND "%u files found"
    IDS_SEARCH_OPEN_FOLDER "Open Containing &Folder"
    IDS_COL_NAME "Name"
    IDS_COL_LOCATION "In Folder"
    IDS_COL_RELEVANCE "Relevance"
END

STRINGTABLE
BEGIN
    IDS_PARSE_ADDR_ERR_TITLE "ReactOS Explorer"
    IDS_PARSE_ADDR_ERR_TEXT "ReactOS Explorer cannot find '%1'. Check the spelling and try again."
END
