/* TRANSLATOR: 2013, 2014 Erdem Ersoy (eersoy93) (erdemersoy@live.com) */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

IDR_MAINMENU MENU
BEGIN
    POPUP "&Kütük"
    BEGIN
        MENUITEM "&Ayarlar...", ID_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "&Çıkış", ID_EXIT
    END
    POPUP "Y&azılım"
    BEGIN
        MENUITEM "&Kur", ID_INSTALL
        MENUITEM "K&aldır", ID_UNINSTALL
        MENUITEM "&Değiştir", ID_MODIFY
        MENUITEM SEPARATOR
        MENUITEM "&Girişi Değer Defteri'nden Kaldır", ID_REGREMOVE
        MENUITEM SEPARATOR
        MENUITEM "&Yenile", ID_REFRESH
        MENUITEM SEPARATOR
        MENUITEM "Ya&zılım Veri Tabanını Yenile", ID_RESETDB
    END
    POPUP "&Yardım"
    BEGIN
        MENUITEM "&Yardım", ID_HELP, GRAYED
        MENUITEM "&Üzerine...", ID_ABOUT
    END
END

IDR_LINKMENU MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "&Bağlantıyı Tarayıcıda Aç", ID_OPEN_LINK
        MENUITEM "&Bağlantıyı Panoya Çoğalt", ID_COPY_LINK
    END
END

IDR_APPLICATIONMENU MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "&Kur", ID_INSTALL
        MENUITEM "K&aldır", ID_UNINSTALL
        MENUITEM "&Değiştir", ID_MODIFY
        MENUITEM SEPARATOR
        MENUITEM "&Girişi Değer Defteri'nden Kaldır", ID_REGREMOVE
        MENUITEM SEPARATOR
        MENUITEM "&Yenile", ID_REFRESH
        MENUITEM SEPARATOR
        MENUITEM "Ya&zılım Veri Tabanını Yenile", ID_RESETDB
    END
END

IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 250, 200
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Ayarlar"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Umûmî", -1, 4, 2, 240, 61
    AUTOCHECKBOX "&Pencere Konumunu Sakla", IDC_SAVE_WINDOW_POS, 15, 12, 219, 12
    AUTOCHECKBOX "&Başlangıçta Erişilebilir İzlencelerin Dizelgesini Yenile", IDC_UPDATE_AVLIST, 15, 29, 222, 12
    AUTOCHECKBOX "&İzlencelerin Kuruluşlarını ve Kaldırılışlarını Sakla", IDC_LOG_ENABLED, 15, 46, 219, 12
    GROUPBOX "İndirme", -1, 4, 65, 240, 51
    LTEXT "İndirme Dizini:", -1, 16, 75, 100, 9
    EDITTEXT IDC_DOWNLOAD_DIR_EDIT, 15, 86, 166, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | ES_AUTOHSCROLL
    PUSHBUTTON "&Seç", IDC_CHOOSE, 187, 85, 50, 14
    AUTOCHECKBOX "&Kurulumdan Sonra İzlencenin Kurulum Kütüğünü Sil", IDC_DEL_AFTER_INSTALL, 16, 100, 218, 12
    GROUPBOX "Proxy", -1, 4, 116, 240, 61
    CONTROL "System proxy settings", IDC_PROXY_DEFAULT, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 15, 130, 87, 10
    CONTROL "Direct (No proxy)", IDC_NO_PROXY, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 15, 145, 71, 10
    CONTROL "Proxy", IDC_USE_PROXY, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 15, 160, 35, 10
    EDITTEXT IDC_PROXY_SERVER, 50, 160, 70, 14, ES_AUTOHSCROLL
    LTEXT "No proxy for", -1, 122, 160, 42, 8
    EDITTEXT IDC_NO_PROXY_FOR, 165, 160, 70, 14, ES_AUTOHSCROLL
    PUSHBUTTON "Ön Tanımlılar", IDC_DEFAULT_SETTINGS, 8, 180, 60, 14
    PUSHBUTTON "Tamam", IDOK, 116, 180, 60, 14
    PUSHBUTTON "İptal", IDCANCEL, 181, 180, 60, 14
END

IDD_INSTALL_DIALOG DIALOGEX 0, 0, 216, 97
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "İzlence Kurulumu"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "...", IDC_INSTALL_TEXT, 4, 5, 209, 35
    AUTORADIOBUTTON "&Bir Diskten (CD'den veyâ DVD'den) Kur", IDC_CD_INSTALL, 10, 46, 197, 11, WS_GROUP
    AUTORADIOBUTTON "&İndir ve Kur", IDC_DOWNLOAD_INSTALL, 10, 59, 197, 11, NOT WS_TABSTOP
    PUSHBUTTON "Tamam", IDOK, 86, 78, 60, 14
    PUSHBUTTON "İptal", IDCANCEL, 150, 78, 60, 14
END

IDD_DOWNLOAD_DIALOG DIALOGEX 0, 0, 220, 72
STYLE DS_SHELLFONT | DS_CENTER | WS_BORDER | WS_CAPTION | WS_POPUP | WS_SYSMENU | WS_VISIBLE
CAPTION "İndiriliyor"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Progress1", IDC_DOWNLOAD_PROGRESS, "msctls_progress32", WS_BORDER | PBS_SMOOTH, 10, 10, 200, 12
    EDITTEXT IDC_DOWNLOAD_STATUS, 10, 28, 200, 22, ES_CENTER | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_DISABLED | NOT WS_BORDER
    PUSHBUTTON "İptal", IDCANCEL, 85, 53, 50, 15, WS_GROUP | WS_TABSTOP
END

IDD_ABOUT_DIALOG DIALOGEX 22, 16, 190, 66
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
CAPTION "Üzerine"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "ReactOS Uygulama Yöneticisi\nTelif Hakkı: 2009\nDmitry Chapyshev (dmitry@reactos.org) ile.", IDC_STATIC, 48, 7, 130, 39
    PUSHBUTTON "Tamam", IDOK, 133, 46, 50, 14
    ICON IDI_MAIN, IDC_STATIC, 10, 10, 7, 30
END

STRINGTABLE
BEGIN
    IDS_TOOLTIP_INSTALL "Kur"
    IDS_TOOLTIP_UNINSTALL "Kaldır"
    IDS_TOOLTIP_MODIFY "Değiştir"
    IDS_TOOLTIP_SETTINGS "Ayarlar"
    IDS_TOOLTIP_REFRESH "Yenile"
    IDS_TOOLTIP_EXIT "Çıkış"
END

STRINGTABLE
BEGIN
    IDS_APP_NAME "Ad"
    IDS_APP_INST_VERSION "Sürüm"
    IDS_APP_DESCRIPTION "Açıklama"
END

STRINGTABLE
BEGIN
    IDS_INFO_VERSION "\nSürümü: "
    IDS_INFO_DESCRIPTION "\nAçıklaması: "
    IDS_INFO_PUBLISHER "\nYayımcısı: "
    IDS_INFO_HELPLINK "\nYardım Bağlantısı: "
    IDS_INFO_HELPPHONE "\nYardım Telefonu: "
    IDS_INFO_README "\nBenioku Kütüğü: "
    IDS_INFO_REGOWNER "\nKayıtlı Olduğu Kullanıcısı: "
    IDS_INFO_PRODUCTID "\nÜrün Kimliği: "
    IDS_INFO_CONTACT "\nİletişim: "
    IDS_INFO_UPDATEINFO "\nYenileme Bilgisi: "
    IDS_INFO_INFOABOUT "\nÜzerine Bilgisi: "
    IDS_INFO_COMMENTS "\nYorumlar: "
    IDS_INFO_INSTLOCATION "\nKurulum Konumu: "
    IDS_INFO_INSTALLSRC "\nKurulum Kaynağı: "
    IDS_INFO_UNINSTALLSTR "\nKaldırma Dizgisi: "
    IDS_INFO_MODIFYPATH "\nDeğiştirme Yolu: "
    IDS_INFO_INSTALLDATE "\nKurulum Zamânı: "
END

STRINGTABLE
BEGIN
    IDS_AINFO_VERSION "\nSürümü: "
    IDS_AINFO_DESCRIPTION "\nAçıklaması: "
    IDS_AINFO_SIZE "\nBüyüklüğü: "
    IDS_AINFO_URLSITE "\nAna Sayfası: "
    IDS_AINFO_LICENSE "\nRuhsatı: "
END

STRINGTABLE
BEGIN
    IDS_CAT_AUDIO "Ses"
    IDS_CAT_DEVEL "Geliştirme"
    IDS_CAT_DRIVERS "Sürücüler"
    IDS_CAT_EDU "Eğitim"
    IDS_CAT_ENGINEER "Mühendislik"
    IDS_CAT_FINANCE "Mâlî"
    IDS_CAT_GAMES "Oyun ve Eğlence"
    IDS_CAT_GRAPHICS "Çizge"
    IDS_CAT_INTERNET "Ağ"
    IDS_CAT_LIBS "Kitaplıklar"
    IDS_CAT_OFFICE "Büro"
    IDS_CAT_OTHER "Başka"
    IDS_CAT_SCIENCE "Bilim"
    IDS_CAT_TOOLS "Araçlar"
    IDS_CAT_VIDEO "Vidyo"
END

STRINGTABLE
BEGIN
    IDS_APPTITLE "ReactOS Uygulama Yöneticisi"
    IDS_SEARCH_TEXT "Ara"
    IDS_INSTALL "Kur"
    IDS_UNINSTALL "Kaldır"
    IDS_MODIFY "Değiştir"
    IDS_APPS_COUNT "Uygulama Sayısı: %d"
    IDS_WELCOME_TITLE "ReactOS Uygulama Yöneticisi'ne hoş geldiniz.\n\n"
    IDS_WELCOME_TEXT "Solda bir ulam seçiniz, ardından kurmak ya da kaldırmak için bir uygulama seçiniz.\nReactOS'un Umûmî Ağ sitesi: "
    IDS_WELCOME_URL "http://www.reactos.org"
    IDS_INSTALLED "Kurulanlar"
    IDS_AVAILABLEFORINST "Kurulum İçin Bulunanlar"
    IDS_UPDATES "Şimdikileştirmeler"
    IDS_APPLICATIONS "Uygulamalar"
    IDS_CHOOSE_FOLDER_TEXT "İndirilenlerin saklanacağı bir dizin seçiniz:"
    IDS_CHOOSE_FOLDER_ERROR "Belirttiğiniz dizin yok. Belirttiğiniz dizin oluşturulsun mu?"
    IDS_APP_REG_REMOVE "Kurulan izlencenin girişini değer defterinden silmek istediğinizden emin misiniz?"
    IDS_INFORMATION "Bilgi"
    IDS_UNABLE_TO_REMOVE "İzlencenin girişi değer defterinden silinemiyor."
END
