/***
*stdole32.rc - Resource file for stdole32.DLL
*
*  Copyright (C) 1992, Microsoft Corporation.  All Rights Reserved.
*  Information Contained Herein Is Proprietary and Confidential.
*
*Purpose:
*
*Revision History:
*
*****************************************************************************/

// first include the type library as a resource
1 typelib stdole32.tmp

#include "windows.h"
#include "verstamp.h"		// for 'rup'

#ifndef OLEMINORVERS
#define OLEMINORVERS 10		// assume OLE 2.10
#endif  //!OLEMINORVERS

/* Version information -- hardcoded */
VS_VERSION_INFO VERSIONINFO
FILEVERSION	2,OLEMINORVERS,rup,01
PRODUCTVERSION	2,OLEMINORVERS,rup,01
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK

#if 0
#define BETAFLAG VS_FF_PRERELEASE
#else  //1
#define BETAFLAG 0L
#endif  //1

#ifdef _DEBUG
FILEFLAGS       VS_FF_DEBUG | BETAFLAG
#else  // !_DEBUG
FILEFLAGS       BETAFLAG
#endif  // !_DEBUG

FILEOS          VOS_NT_WINDOWS32

FILETYPE        VFT_DLL
FILESUBTYPE     0

BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName",     "Microsoft Corporation\0"
      VALUE "FileDescription", "Microsoft OLE 2.1 for Windows NT(TM) Operating System\0"
      VALUE "FileVersion",     "2.1\0"
      VALUE "InternalName",    "STDOLE32.TLB\0"
      VALUE "LegalCopyright",  "Copyright \251 Microsoft Corp. 1993-1995.\0"
      VALUE "LegalTrademarks", "Microsoft\256 is a registered trademark of Microsoft Corporation. Windows NT(TM) is a trademark of Microsoft Corporation.\0"
      VALUE "ProductName",     "Microsoft OLE 2.1 for Windows NT(TM) Operating System\0"
      VALUE "ProductVersion",  "2.1\0"
      VALUE "Comments",        "Microsoft OLE 2.1 for Windows NT(TM) Operating System\0"
    END

  END

  BLOCK "VarFileInfo"
  BEGIN 
    VALUE "Translation", 0x409, 1252
  END

END

#if ID_DEBUG
// Assertion stuff for ole2disp
#define ASSERT_ID_BREAK		5103
#define ASSERT_ID_EXIT		5104
#define ASSERT_ID_IGNORE	5105
#define ASSERT_ID_LOC		5106
#define ASSERT_ID_EXPR		5107
#define ASSERT_ID_MSG		5108


ASSERTFAILDLG DIALOG 72, 32, 260, 67
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Assertion failure!"
FONT 8, "MS Sans Serif"
BEGIN
    CTEXT       "",        ASSERT_ID_LOC,     11, 15, 240,  8
    CTEXT       "",        ASSERT_ID_MSG,     11, 28, 240,  8
    PUSHBUTTON  "&Break",  ASSERT_ID_BREAK,   54, 47,  40, 14
    PUSHBUTTON  "E&xit",   ASSERT_ID_EXIT,   110, 47,  40, 14
    PUSHBUTTON  "&Ignore", ASSERT_ID_IGNORE, 166, 47,  40, 14
END
#endif  // ID_DEBUG
