/*
 * Copyright (C) 2004 Eric Kohl
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
 */

/*
 *Spanish Language resource file
 *ReactOs (c) 2005 Samuel Serapión Vega
 *ReactOs (c) 2007 Marc Piulachs
 */

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_PROFILEPATH    "%SystemDrive%\\Documents and Settings"
    IDS_APPDATA        "Application Data"
    IDS_DESKTOP        "Escritorio"
    IDS_FAVORITES      "Favoritos"
    IDS_STARTMENU      "Menu de Inicio"
    IDS_PROGRAMS       "Menu de Inicio\\Programas"
    IDS_ADMINTOOLS     "Menu de Inicio\\Programas\\Herramientas Administrativas"
    IDS_STARTUP        "Menu de Inicio\\Programas\\Inicio"
    IDS_MYDOCUMENTS    "Mis Documentos"
    IDS_MYPICTURES     "Mis Documentos\\Mis imágenes"
    IDS_MYMUSIC        "Mis Documentos\\Mi música"
    IDS_MYVIDEOS       "Mis Documentos\\Mis vídeos"
    IDS_TEMPLATES      "Plantillas"
    IDS_RECENT         "Reciente"
    IDS_SENDTO         "SendTo"
    IDS_PRINTHOOD      "Impresoras"
    IDS_NETHOOD        "Entorno de red"
    IDS_LOCALSETTINGS  "Configuración local"
    IDS_LOCALAPPDATA   "Configuración local\\Application Data"
    IDS_TEMP           "Configuración local\\Temp"
    IDS_CACHE          "Configuración local\\Archivos temporales de Internet"
    IDS_HISTORY        "Configuración local\\Historial"
    IDS_COOKIES        "Cookies"
    IDS_PROGRAMFILES   "%SystemDrive%\\Archivos de programa"
    IDS_COMMONFILES    "Common Files"
END
