LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&Open...\tCtrl+O", IDM_OPEN_FILE
        MENUITEM "&Close\tCtrl+W", IDM_CLOSE_FILE
        MENUITEM SEPARATOR
        MENUITEM "&Exit", IDM_EXIT
    END
    POPUP "&Play"
    BEGIN
        MENUITEM "Play/&Pause\tCtrl+P", IDC_PLAY
        MENUITEM "St&op\tCtrl+S", IDC_STOP
        MENUITEM SEPARATOR
        MENUITEM "Repea&t\tCtrl+T", IDM_REPEAT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "Single-Window &Mode", IDM_SWITCHVIEW
    END
    POPUP "&Device"
    BEGIN
        MENUITEM "&Properties", IDM_DEVPROPS
        MENUITEM SEPARATOR
        MENUITEM "&Volume Control", IDM_VOLUMECTL
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...", IDM_ABOUT
    END
END

ID_ACCELERATORS ACCELERATORS
BEGIN
    "^O", IDM_OPEN_FILE
    "^W", IDM_CLOSE_FILE
    "^P", IDC_PLAY
    "^S", IDC_STOP
    "^T", IDM_REPEAT
END

STRINGTABLE
BEGIN
    IDS_ALL_TYPES_FILTER "All Supported"
    IDS_TOOLTIP_PLAY "Play"
    IDS_TOOLTIP_STOP "Stop"
    IDS_TOOLTIP_EJECT "Eject"
    IDS_TOOLTIP_BACKWARD "Skip Backward"
    IDS_TOOLTIP_SEEKBACK "Seek Backward"
    IDS_TOOLTIP_SEEKFORW "Seek Forward"
    IDS_TOOLTIP_FORWARD "Skip Forward"
    IDS_TOOLTIP_PAUSE "Pause"
    IDS_APPTITLE "ReactOS Multimedia Player"
    IDS_PLAY "Play"
    IDS_DEFAULTMCIERRMSG "No description is available for this error."
END
