/*
 * PROJECT:    ReactOS MPlay32
 * FILE:       base\applications\mplay32\lang\sv-SE.rc
 * PURPOSE:    Swedish resource file
 * TRANSLATOR: Jaix Bly
 */

LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL

IDR_MAINMENU MENU
BEGIN
    POPUP "&Arkiv"
    BEGIN
        MENUITEM "&Öppna...\tCtrl+O", IDM_OPEN_FILE
        MENUITEM "&Stäng\tCtrl+W", IDM_CLOSE_FILE
        MENUITEM SEPARATOR
        MENUITEM "&Avsluta", IDM_EXIT
    END
    POPUP "&Play"
    BEGIN
        MENUITEM "Play/&Pause\tCtrl+P", IDC_PLAY
        MENUITEM "St&op\tCtrl+S", IDC_STOP
        MENUITEM SEPARATOR
        MENUITEM "Repea&t\tCtrl+T", IDM_REPEAT
    END
    POPUP "&View"
    BEGIN
        MENUITEM "Single-Window &Mode", IDM_SWITCHVIEW
    END
    POPUP "&Device"
    BEGIN
        MENUITEM SEPARATOR
        MENUITEM "&Properties", IDM_DEVPROPS
        MENUITEM SEPARATOR
        MENUITEM "&Volume Control", IDM_VOLUMECTL
    END
    POPUP "&Hjälp"
    BEGIN
        MENUITEM "&Om...", IDM_ABOUT
    END
END

ID_ACCELERATORS ACCELERATORS
BEGIN
    "^O", IDM_OPEN_FILE
    "^W", IDM_CLOSE_FILE
    "^P", IDC_PLAY
    "^S", IDC_STOP
    "^T", IDM_REPEAT
END

STRINGTABLE
BEGIN
    IDS_MODE_UNKNOWN "Unknown"
    IDS_MODE_OPEN "Opened"
    IDS_MODE_STOP "Stopped"
    IDS_MODE_PLAY "Playing"
    IDS_MODE_PAUSE "Paused"
    IDS_MODE_RECORD "Recording"
    IDS_MODE_SEEK "Seeking"
    IDS_MODE_NOT_READY "Not ready"
    IDS_ALL_TYPES_FILTER "Alla kompaktibla filer"
    IDS_TOOLTIP_PLAY "Spela upp"
    IDS_TOOLTIP_STOP "Stopp"
    IDS_TOOLTIP_EJECT "Mata ut"
    IDS_TOOLTIP_BACKWARD "Spola tillbaka"
    IDS_TOOLTIP_SEEKBACK "Sök bakåt"
    IDS_TOOLTIP_SEEKFORW "Sök framåt"
    IDS_TOOLTIP_FORWARD "Spola fremåt"
    IDS_TOOLTIP_PAUSE "Pause"
    IDS_APPTITLE "ReactOS Multimediaspelare"
    IDS_PLAY "Play"
    IDS_DEFAULTMCIERRMSG "No description is available for this error."
END
