#include <windows.h>
#include <commctrl.h>
#include "resource.h"

// Shared icons
IDI_EVENTVWR            ICON  "res/eventvwr.ico"
IDI_WARNINGICON         ICON  "res/warning.ico"
IDI_INFORMATIONICON     ICON  "res/info.ico"
IDI_ERRORICON           ICON  "res/error.ico"

#include "auto.rc"


