/*
 * PROJECT:     Command-line interface
 * LICENSE:     GPL - See COPYING in the top level directory
 * FILE:        base/shell/cmd/lang/uk-UA.rc
 * PURPOSE:     Ukraianian Language File for Command-line interface
 * TRANSLATORS: Artem Reznikov, Igor Paliychuk
 */

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    STRING_FILE_NOT_FOUND "File not found - '%s'\n"
    STRING_ATTRIB_HELP "Відображення або зміна атрибутів файлу.\n\n\
ATTRIB [+R | -R] [+A | -A] [+S | -S] [+H | -H] файл ...\n\
       [/S [/D]]\n\n\
  +   Встановлення атрибуту\n\
  -   Зняття атрибуту\n\
  R   Атрибут файлу ""Лише читання""\n\
  A   Атрибут файлу ""Архiвний""\n\
  S   Атрибут файлу ""Системний""\n\
  H   Атрибут файлу ""Прихований""\n\
  /S  Обробка файлiв зi вказаними iменами в поточнiй тецi\n\
      i у всіх її пiдтеках\n\
  /D  Обробка також i тек\n\n\
Введiть ATTRIB без параметра, щоб вивести атрибути всiх файлiв.\n"
    STRING_CONSOLE_ERROR "Невiдома помилка: %d\n"
    STRING_ERROR_INVALID_PARAM_FORMAT "Невiрний формат параметра - %s\n"
END
