[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% title = BLOCK %]Confirm Deletion of Flag Type '[% flag_type.name FILTER html %]'[% END %]

[% PROCESS global/header.html.tmpl title = title %]

<p>
   There are [% flag_type.flag_count %] flags of type [% flag_type.name FILTER html %].
   If you delete this type, those flags will also be deleted.  Note that
   instead of deleting the type you can
   <a href="editflagtypes.cgi?action=deactivate&amp;id=[% flag_type.id %]&amp;token=
           [%- token FILTER html %]">deactivate it</a>,
   in which case the type and its flags will remain in the database
   but will not appear in the [% terms.Bugzilla %] UI.
</p>

<table>
   <tr>
      <td colspan="2">
         Do you really want to delete this type?
      </td>
   </tr>
   <tr>
      <td>
         <a href="editflagtypes.cgi?action=delete&amp;id=[% flag_type.id %]&amp;token=
                 [%- token FILTER html %]">Yes, delete
         </a>
      </td>
      <td align="right">
         <a href="editflagtypes.cgi">
            No, don't delete
         </a>
      </td>
   </tr>
</table>

[% PROCESS global/footer.html.tmpl %]
