LANGUAGE LANG_BULGARIAN, SUBLANG_DEFAULT

IDD_PROPPAGE DIALOGEX 0, 0, 246, 230
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
END

STRINGTABLE 
BEGIN
	IDS_CPLSYSTEMNAME "Избори за телефон и модем"
	IDS_CPLSYSTEMDESCRIPTION "Настройване на модема и на начина на избиране на телефона."
END
