// Norwegian (no) resources by LMH1 

LANGUAGE LANG_NORWEGIAN, SUBLANG_NEUTRAL

IDD_PROPPAGE DIALOGEX 0, 0, 246, 230
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION ""
FONT 8, "MS Shell Dlg"
BEGIN
END

STRINGTABLE 
BEGIN
	IDS_CPLSYSTEMNAME "Telefon og Modem valg"
	IDS_CPLSYSTEMDESCRIPTION "Konfigurer din telefon nummerslåing regler og modem innstillinger."
END
