LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

IDM_MAINMENU MENU DISCARDABLE
BEGIN
    POPUP "オプション(&P)"
    BEGIN
        MENUITEM "プロパティ(&R)", IDC_PROPERTIES
        MENUITEM "トーン調整(&A)", IDC_ADVANCED_CONTROLS
        MENUITEM SEPARATOR
        MENUITEM "ボリューム コントロールの終了(&X)", IDC_EXIT
    END
    POPUP "ヘルプ(&H)"
    BEGIN
        MENUITEM "トピックの検索(&H)", IDC_HELP_TOPICS
        MENUITEM SEPARATOR
        MENUITEM "バージョン情報(&A)...", IDC_ABOUT
    END
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_SNDVOL32       "ボリューム コントロール"
    IDS_NOMIXERDEVICES "アクティブなミキサーが利用できません ! アプリケーションを終了します。"
END

IDD_PREFERENCES DIALOGEX 0, 0, 224, 250
STYLE DS_MODALFRAME | DS_CONTEXTHELP | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "プロパティ"
FONT 9, "MS UI Gothic", 0, 0, 0x0
BEGIN
  LTEXT "ミキサー デバイス(&M):", -1, 7,8,48,9
  COMBOBOX IDC_MIXERDEVICE, 55,8,162,80, CBS_DROPDOWNLIST | WS_TABSTOP
  GROUPBOX "音量の調整:", -1, 7,25,211,77
  PUSHBUTTON "再生(&P)", IDC_PLAYBACK, 13,43,47,8, BS_AUTORADIOBUTTON
  PUSHBUTTON "録音(&R)", IDC_RECORDING, 13,61,47,8, BS_AUTORADIOBUTTON
  PUSHBUTTON "その他(&O):", IDC_OTHER, 13,80,42,8, BS_AUTORADIOBUTTON | WS_DISABLED
  COMBOBOX IDC_LINE, 55,80,155,50, CBS_DROPDOWNLIST | WS_TABSTOP | WS_DISABLED
  LTEXT "表\示するコントロール:", IDC_LABELCONTROLS, 7, 109, 162, 8
  CONTROL "", IDC_CONTROLS, "SysListView32", LVS_REPORT | LVS_NOCOLUMNHEADER | WS_TABSTOP | WS_BORDER, 7, 122, 211, 96
  
  PUSHBUTTON "OK", IDOK, 114,226,50,14
  PUSHBUTTON "キャンセル", IDCANCEL, 168,226,50,14
END
