[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Myk Melez <myk@mozilla.org>
  #%]

[%# INTERFACE:
  # bugid: integer. ID of the bug we just attached an attachment to.
  # attachid: integer. ID of the attachment just created.
  # description: string. Description of the attachment just created.
  # contenttype: string. The Content Type we attached it as.
  # contenttypemethod: string. How we got the content type of the attachment.
  #  Possible values: autodetect, list, manual.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = "Changes Submitted"
%]

<dl>
  <dt>
    <a title="[% description FILTER html %]" href="attachment.cgi?id=[% attachid %]&amp;action=edit">Attachment #[% attachid %]</a>
    to [% "$terms.bug $bugid" FILTER bug_link(bugid) %] created
  </dt>
  <dd>
    [% PROCESS "bug/process/bugmail.html.tmpl" mailing_bugid = bugid %]
    [% IF convertedbmp %]
      <p>
        <b>Note:</b> [% terms.Bugzilla %] automatically converted your BMP image file to a
        compressed PNG format.
      </p>
    [% END %]
    [% IF contenttypemethod == 'autodetect' %]
      <p>
        <b>Note:</b> [% terms.Bugzilla %] automatically detected the content type
        <em>[% contenttype %]</em> for this attachment.  If this is
        incorrect, correct the value by
        editing the attachment's <a href="attachment.cgi?id=[% attachid %]&amp;action=edit">details</a>.
      </p>
    [% END %]

    [%# Links to more information about the changed bug. %]
    [% Hook.process("links") %]
  </dd>
</dl>

<p>
<a href="attachment.cgi?bugid=[% bugid %]&amp;action=enter">Create
 Another Attachment to [% terms.Bug %] #[% bugid %]</a>
</p>

[% PROCESS global/footer.html.tmpl %]
