#include "resource.h"
/* Start move all hard code string to En.rc
 * By Magnus Olsen  2005
 */

LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL
STRINGTABLE DISCARDABLE
{

STRING_USERINIT_FAIL, "Userinit non ha potuto avviare l'ambiente(shell)!\n"

}
