[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Svetlana Harisova <light@rathedg.com>
  #%]

[% DEFAULT btn_id = "find" %]

<ul class="links">
  <li><a href="./">Home</a></li>
  <li><span class="separator">| </span><a href="enter_bug.cgi">New</a></li>
  <li><span class="separator">| </span><a href="query.cgi">Search</a></li>

  <li class="form">
    <span class="separator">| </span>
    <form action="buglist.cgi" method="get"
        onsubmit="if (this.quicksearch.value == '')
                  { alert('Please enter one or more search terms first.');
                    return false; } return true;">
    <input class="txt" type="text" name="quicksearch">
    <input class="btn" type="submit" value="Find" id="[% btn_id FILTER html %]">
    [%-# Work around FF bug: keep this on one line %]</form></li>

  <li><span class="separator">| </span><a href="report.cgi">Reports</a></li>

  <li>
    <span class="separator">| </span>
    [% IF user.id %]
      <a href="request.cgi?requester=[% user.login FILTER url_quote %]&amp;requestee=
               [% user.login FILTER url_quote %]&amp;do_union=1&amp;group=type">My Requests</a>
    [% ELSE %]
      <a href="request.cgi">Requests</a>
    [% END %]
  [%-# Work around FF bug: keep this on one line %]</li>

  [% IF user.id && Param('usevotes') %]
    <li><span class="separator">| </span><a href="votes.cgi?action=show_user">My&nbsp;Votes</a></li>
  [% END %]

  [% IF user.login %]
    <li><span class="separator">| </span><a href="userprefs.cgi">Preferences</a></li>
    <li>
      <span class="separator">| </span>
      [% IF user.authorizer.can_logout %]
        <a href="relogin.cgi">Log&nbsp;out</a>
      [% ELSE %]
        Logged&nbsp;in&nbsp;as
      [% END %]
      [% IF sudoer %]
        [%+ sudoer.login FILTER html %] (<b>impersonating
        [%+ user.login FILTER html %]</b>
        <a href="relogin.cgi?action=end-sudo">end session</a>)
      [% ELSE %]
        [%+ user.login FILTER html %]
      [% END %]
    [%-# Work around FF bug: keep this on one line %]</li>
  [% ELSE %]
    [% IF Param('createemailregexp')
          && user.authorizer.user_can_create_account %]
      <li><span class="separator">| </span><a href="createaccount.cgi">New&nbsp;Account</a></li>
    [% END %]
    [% IF user.authorizer.can_login %]
      [%# Use the current script name. If an empty name is returned,
        # then we are accessing the home page. %]

      [% script_name = cgi.url(Relative => 1) %]

      [% IF cgi.request_method == "POST" OR script_name.match("relogin") %]
        [% script_name = "" %]
      [% END %]

      [%# If SSL is in use, use 'sslbase', else use 'urlbase'. %]
      [% IF Param("sslbase") != "" && Param("ssl") != "never" %]
        [% script_name = Param("sslbase") _ script_name %]
      [% ELSE %]
        [% script_name = Param("urlbase") _ script_name %]
      [% END %]

      [% IF cgi.request_method == "GET" AND cgi.query_string %]
        [% script_name = script_name _ "?" _ cgi.query_string %]
        [% script_name = script_name _ "&GoAheadAndLogIn=1" IF !cgi.query_string.match("GoAheadAndLogIn") %]
      [% ELSE %]
        [% script_name = script_name _ "?GoAheadAndLogIn=1" %]
      [% END %]
        
      <li><span class="separator">| </span><a href="[% script_name FILTER html %]">Log&nbsp;In</a></li>
    [% END %]
  [% END %]
</ul>
