[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[%# This is a list of all the possible messages. Please keep them in
  # alphabetical order by message tag, and leave a blank line between messages.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS "global/field-descs.none.tmpl" %]

[% message_tag = message %]

[% message = BLOCK %]
  [% IF    message_tag == "account_created" %]
    [% title = "User $otheruser.login created" %]
    A new user account [% otheruser.login FILTER html %] has been created
    successfully.
    [% IF groups.size %]
      You may want to edit the group settings now, using the form below.
    [% END %]
    [% IF login_info %]
      You can now go to the <a href="index.cgi">Log In</a> page to enter
      this [% terms.Bugzilla %] installation.
    [% END %]

  [% ELSIF message_tag == "account_creation_cancelled" %]
    [% title = "User Account Creation Canceled" %]
    The creation of the user account [% account FILTER html %] has been
    canceled.

  [% ELSIF message_tag == "account_updated" %]
    [% IF changed_fields.size
          + groups_added_to.size + groups_removed_from.size
          + groups_granted_rights_to_bless.size + groups_denied_rights_to_bless.size %]
      [% title = "User $loginold updated" %]
      The following changes have been made to the user account
      [%+ loginold FILTER html %]:
      <ul>
        [% FOREACH field = changed_fields %]
          <li>
            [% IF    field == 'login_name' %]
              The login is now [% otheruser.login FILTER html %].
            [% ELSIF field == 'realname' %]
              The real name has been updated.
            [% ELSIF field == 'cryptpassword' %]
              A new password has been set.
            [% ELSIF field == 'disabledtext' %]
              The disable text has been modified.
            [% ELSIF field == 'disable_mail' %]
              [% IF otheruser.email_disabled %]
                [% terms.Bug %]mail has been disabled.
              [% ELSE %]
                [% terms.Bug %]mail has been enabled.
              [% END %]
            [% END %]
          </li>
        [% END %]
        [% IF groups_added_to.size %]
          <li>
            The account has been added to the
            [%+ groups_added_to.join(', ') FILTER html %]
            group[% 's' IF groups_added_to.size > 1 %].
          </li>
        [% END %]
        [% IF groups_removed_from.size %]
          <li>
            The account has been removed from the
            [%+ groups_removed_from.join(', ') FILTER html %]
            group[% 's' IF groups_removed_from.size > 1 %].
          </li>
        [% END %]
        [% IF groups_granted_rights_to_bless.size %]
          <li>
            The account has been granted rights to bless the
            [%+ groups_granted_rights_to_bless.join(', ') FILTER html %]
            group[% 's' IF groups_granted_rights_to_bless.size > 1 %].
          </li>
        [% END %]
        [% IF groups_denied_rights_to_bless.size %]
          <li>
            The account has been denied rights to bless the
            [%+ groups_denied_rights_to_bless.join(', ') FILTER html %]
            group[% 's' IF groups_denied_rights_to_bless.size > 1 %].
          </li>
        [% END %]
      </ul>
    [% ELSE %]
      [% title = "User $otheruser.login not changed" %]
      You didn't request any changes to the user's account
      [%+ otheruser.login FILTER html %].
    [% END %]

  [% ELSIF message_tag == "account_deleted" %]
    [% title = "User $otheruser.login deleted" %]
    The user account [% otheruser.login FILTER html %] has been deleted
    successfully.

  [% ELSIF message_tag == "attachment_creation_failed" %]
    The [% terms.bug %] was created successfully, but attachment creation
    failed.
    Please add your attachment by clicking the "Create a New Attachment" link
    below.

  [% ELSIF message_tag == "bug_confirmed_by_votes" %]
    *** This [% terms.bug %] has been confirmed by popular vote. ***

  [% ELSIF message_tag == "bug_duplicate_of" %]
    *** This [% terms.bug %] has been marked as a duplicate of [% terms.bug %] [%+ dupe_of FILTER html %] ***

  [% ELSIF message_tag == "bug_has_duplicate" %]
    *** [% terms.Bug %] [%+ dupe FILTER html %] has been marked as a duplicate of this [% terms.bug %]. ***

  [% ELSIF message_tag == "bug_moved_to" %]
    <p>[% terms.Bug %] moved to [% Param("move-to-url") FILTER html %].</p>
    <p>If the move succeeded, [% login FILTER html %] will receive a mail
    containing the number of the new [% terms.bug %] in the other database.
    If all went well, please mark this [% terms.bug %] verified, and paste
    in a link to the new [% terms.bug %]. Otherwise, reopen this [% terms.bug %].

  [% ELSIF message_tag == "buglist_adding_field" %]
    [% title = "Adding field to search page..." %]
    [% link  = "Click here if the page does not redisplay automatically." %]

  [% ELSIF message_tag == "buglist_updated_named_query" %]
    Your search named <code>[% queryname FILTER html %]</code> has been updated.

  [% ELSIF message_tag == "buglist_new_default_query" %]
    OK, you now have a new default search.  You may
    also bookmark the result of any individual search.

  [% ELSIF message_tag == "buglist_new_named_query" %]
    OK, you have a new search named <code>[% queryname FILTER html %]</code>.

  [% ELSIF message_tag == "buglist_query_gone" %]
    [% title = "Search is gone" %]
    [% link  = "Go back to the search page." %]
    OK, the <b>[% namedcmd FILTER html %]</b> search is gone.

  [% ELSIF message_tag == "buglist_sorted_by_relevance" %]
    [% terms.Bugs %] on this list are sorted by relevance, with the most
    relevant [% terms.bugs %] at the top.
    [% IF bugs.size == constants.FULLTEXT_BUGLIST_LIMIT %]
      Only the [% constants.FULLTEXT_BUGLIST_LIMIT FILTER html %]
      most relevant [% terms.bugs %] are shown.
    [% END %]

  [% ELSIF message_tag == "change_columns" %]
    [% title = "Change columns" %]
    Resubmitting your search with new columns...
    Click <a href="[% redirect_url FILTER html %]">here</a>
    if the page does not automatically refresh.

  [% ELSIF message_tag == "custom_field_created" %]
    [% title = "Custom Field Created" %]
    The new custom field '[% field.name FILTER html %]' has been
    successfully created.

  [% ELSIF message_tag == "custom_field_updated" %]
    [% title = "Custom Field Updated" %]
    Properties of the '[% field.name FILTER html %]' field have been
    successfully updated.

  [% ELSIF message_tag == "emailold_change_cancelled" %]
    [% title = "Cancel Request to Change Email Address" %]
    The request to change the email address for your account to
    [%+ new_email FILTER html %] has been canceled.

  [% ELSIF message_tag == "email_change_cancelled" %]
    [% title = "Cancel Request to Change Email Address" %]
    The request to change the email address for the
    account [%+ old_email FILTER html %] to
    [%+ new_email FILTER html %] has been canceled.

  [% ELSIF message_tag == "email_change_cancelled_reinstated" %]
    [% title = "Cancel Request to Change Email Address" %]
    The request to change the email address for the
    account [%+ old_email FILTER html %] to 
    [%+ new_email FILTER html %] has been canceled.
   Your old account settings have been reinstated.

  [% ELSIF message_tag == "flag_creation_failed" %]
    [% title = "Flag Creation Failure" %]
    An error occured while validating flags:
    [%+ flag_creation_error FILTER none %]

  [% ELSIF message_tag == "logged_out" %]
    [% title = "Logged Out" %]
    [% url = "index.cgi?GoAheadAndLogIn=1" %]
    [% link = "Log in again." %]
    <b>Your login has been forgotten</b>.
    The cookie that was remembering your login is now gone. You will be
    prompted for a login the next time it is required.

  [% ELSIF message_tag == "login_changed" %]
    [% title = "$terms.Bugzilla Login Changed" %]
    Your [% terms.Bugzilla %] login has been changed.

  [% ELSIF message_tag == "parameters_updated" %]
    [% title = "Parameters Updated" %]
    [% IF param_changed.size > 0 %]
      [% FOREACH param = param_changed %]
        Changed <em>[% param FILTER html %]</em><br>
        [% IF param == 'utf8' && Param('utf8') %]
          <strong>You must now re-run checksetup.pl.</strong><br>
        [% END %]
      [% END %]
    [% ELSE %]
      No changes made.
    [% END %]

    [% IF shutdown_is_active == 1 %]
      <hr>
      [% terms.Bugzilla %] has now been shut down. To re-enable the system,
      clear the <em>shutdownhtml</em> field.
    [% END%]

  [% ELSIF message_tag == "password_change_cancelled" %]
    [% title = "Cancel Request to Change Password" %]
    Your request has been canceled.

  [% ELSIF message_tag == "password_change_request" %]
    [% title = "Request to Change Password" %]
    A token for changing your password has been emailed to you.
    Follow the instructions in that email to change your password.

  [% ELSIF message_tag == "password_changed" %]
    [% title = "Password Changed" %]
    Your password has been changed.

  [% ELSIF message_tag == "flag_type_created" %]
    [% title = "Flag Type Created" %]
      The flag type <em>[% name FILTER html %]</em> has been created.
      <a href="editflagtypes.cgi">Back to flag types.</a>
    
  [% ELSIF message_tag == "flag_type_changes_saved" %]
    [% title = "Flag Type Changes Saved" %]
    <p>
      Your changes to the flag type <em>[% name FILTER html %]</em> 
      have been saved.
      <a href="editflagtypes.cgi">Back to flag types.</a>
    </p>
    
  [% ELSIF message_tag == "flag_type_deleted" %]
    [% title = "Flag Type Deleted" %]
    <p>
      The flag type <em>[% name FILTER html %]</em> has been deleted.
      <a href="editflagtypes.cgi">Back to flag types.</a>
    </p>
    
  [% ELSIF message_tag == "flag_type_deactivated" %]
    [% title = "Flag Type Deactivated" %]
    <p>
      The flag type <em>[% flag_type.name FILTER html %]</em> 
      has been deactivated.
      <a href="editflagtypes.cgi">Back to flag types.</a>
    </p>
    
  [% ELSIF message_tag == "install_admin_get_email" %]
    Enter the e-mail address of the administrator:

  [% ELSIF message_tag == "install_admin_get_name" %]
    Enter the real name of the administrator:

  [% ELSIF message_tag == "install_admin_get_password" %]
    Enter a password for the administrator account:

  [% ELSIF message_tag == "install_admin_get_password2" %]
    Please retype the password to verify:

  [% ELSIF message_tag == "install_admin_created" %]
    [% user.login FILTER html %] is now set up as an administrator.

  [% ELSIF message_tag == "install_admin_setup" %]
    Looks like we don't have an administrator set up yet.
    Either this is your first time using [% terms.Bugzilla %], or your
    administrator's privileges might have accidentally been deleted.

  [% ELSIF message_tag == "install_column_add" %]
    Adding new column '[% column FILTER html %]' to the '[% table FILTER html %]' table...

  [% ELSIF message_tag == "install_column_drop" %]
    Deleting the '[% column FILTER html %]' column from the '[% table FILTER html %]' table...

  [% ELSIF message_tag == "install_column_rename" %]
    Renaming column '[% old FILTER html %]' to '[% new FILTER html %]'...

  [% ELSIF message_tag == "install_default_classification" %]
    Creating default classification '[% name FILTER html %]'...

  [% ELSIF message_tag == "install_default_product" %]
    Creating initial dummy product '[% name FILTER html %]'...

  [% ELSIF message_tag == "install_file_perms_fix" %]
    Fixing file permissions...

  [% ELSIF message_tag == "install_group_create" %]
    Creating group [% name FILTER html %]...

  [% ELSIF message_tag == "install_setting_new" %]
    Adding a new user setting called '[% name FILTER html %]'

  [% ELSIF message_tag == "install_table_drop" %]
    Dropping the '[% name FILTER html %]' table...

  [% ELSIF message_tag == "install_table_rename" %]
    Renaming the '[% old FILTER html %]' table to '[% new FILTER html %]'...

  [% ELSIF message_tag == "install_urlbase_default" %]
    Now that you have installed [% terms.Bugzilla %], you should visit the
    'Parameters' page (linked in the footer of the Administrator
    account) to ensure it is set up as you wish - this includes
    setting the 'urlbase' option to the correct URL.

  [% ELSIF message_tag == "install_webservergroup_empty" %]
    ****************************************************************************
    WARNING! You have not entered a value for the "webservergroup" parameter
    in localconfig. This means that certain files and directories which need
    to be editable by both you and the webserver must be world writable, and
    other files (including the localconfig file which stores your database
    password) must be world readable. This means that _anyone_ who can obtain
    local access to this machine can do whatever they want to your 
    [%+ terms.Bugzilla %] installation, and is probably also able to run 
    arbitrary Perl code as the user that the webserver runs as.

    You really, really, really need to change this setting.
    ****************************************************************************

  [% ELSIF message_tag == "install_webservergroup_not_in" %]
    Warning: you have entered a value for the "webservergroup" parameter in
    localconfig, but you are not either a) running this script as [% constants.ROOT_USER FILTER html %]; 
    or b) a member of this group. This can cause permissions problems and 
    decreased security.  If you experience problems running [% terms.Bugzilla %]
    scripts, log in as [% constants.ROOT_USER FILTER html %] and re-run this script, become a 
    member of the group, or remove the value of the "webservergroup" parameter.

  [% ELSIF message_tag == "install_webservergroup_windows" %]
    Warning: You have set webservergroup in [% constants.bz_locations.localconfig FILTER html %]
    Please understand that this does not bring you any security when
    running under Windows.
    Verify that the file permissions in your [% terms.Bugzilla %] directory are
    suitable for your system. Avoid unnecessary write access.

  [% ELSIF message_tag == "product_invalid" %]
    [% title = "$terms.Bugzilla Component Descriptions" %]
    The product <em>[% product FILTER html %]</em> does not exist
    or you don't have access to it. The following is a list of the
    products you can choose from.

  [% ELSIF message_tag == "remaining_time_zeroed" %]
    The [% field_descs.remaining_time FILTER html %] field has been 
    set to zero automatically as part of marking this [% terms.bug %]
    as either RESOLVED or CLOSED.

  [% ELSIF message_tag == "sudo_started" %]
    [% title = "Sudo session started" %]
      The sudo session has been started.  For the next 6 hours, or until you 
      end the session, everything you do you do as the user you are 
      impersonating ([% target FILTER html %]).
  
  [% ELSIF message_tag == "sudo_ended" %]
    [% title = "Sudo session complete" %]
      The sudo session has been ended.  From this point forward, everything you 
      do you do as yourself.

  [% ELSIF message_tag == "series_created" %]
    [% title = "Series Created" %]
      The series <em>[% series.category FILTER html %] /
      [%+ series.subcategory FILTER html %] / 
      [%+ series.name FILTER html %]</em>
      has been created. Note that you may need to wait up to 
      [%+ series.frequency * 2 %] days before there will be enough data for a
      chart of this series to be produced.
      <br><br>
      Go back or 
      <a href="query.cgi?format=create-series">create another series</a>.
    
  [% ELSIF message_tag == "shutdown" %]
    [% title = "$terms.Bugzilla is Down" %]
    [% Param("shutdownhtml") %]
    [% IF userid %]
      <p>For security reasons, you have been logged out automatically.
      The cookie that was remembering your login is now gone.
    [% END %]

  [% ELSIF message_tag == "term" %]
    [% terms.$term FILTER html %]

  [% ELSIF message_tag == "user_match_failed" %]
    You entered a username that did not match any known 
    [% terms.Bugzilla %] users, so we have instead left
    the [% match_field FILTER html %] field blank.

  [% ELSIF message_tag == "user_match_multiple" %]
    You entered a username that matched more than one
    user, so we have instead left the [% match_field FILTER html %]
    field blank.
    
  [% ELSE %]
    [%# Give sensible error if error functions are used incorrectly.
      #%]        
    You are using [% terms.Bugzilla %]'s messaging functions incorrectly. You
    passed in the string '[% message_tag %]'. The correct use is to pass
    in a tag, and define that tag in the file messages.html.tmpl.<br>
    <br>
    If you are a [% terms.Bugzilla %] end-user seeing this message, please 
    save this page and send it to [% Param('maintainer') %].
    
  [% END %]
[% END %]
