[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Toms Baugis <toms.baugis@tietoenator.com>
  #                 Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # bug_list: list of integers. List of bug numbers of current query (if any).
  # bug.bug_id: integer. Number of current bug (for navigation purposes)
  #%]

[% PROCESS global/variables.none.tmpl %]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% IF NOT (cgi.user_agent("MSIE [1-6]") OR cgi.user_agent("Mozilla/4")) %]
  <link rel="Top" href="[% Param('urlbase') %]">

  [%# *** Bug List Navigation *** %]
  [% IF bug && bug_list && bug_list.size > 0 %]
    <link rel="Up" href="buglist.cgi?regetlastlist=1">

    <link rel="First" href="show_bug.cgi?id=[% bug_list.first %]">
    <link rel="Last" href="show_bug.cgi?id=[% bug_list.last %]">

    [% current_bug_idx = lsearch(bug_list, bug.bug_id) %]

    [% IF current_bug_idx != -1 %]

      [% IF current_bug_idx > 0 %]
      [% prev_bug = current_bug_idx - 1 %]
        <link rel="Prev" href="show_bug.cgi?id=[% bug_list.$prev_bug %]">
      [% END %]

      [% IF current_bug_idx + 1 < bug_list.size %]
        [% next_bug = current_bug_idx + 1 %]
        <link rel="Next" href="show_bug.cgi?id=[% bug_list.$next_bug %]">
      [% END %]

    [% END %]
  [% END %]

  [%# *** Attachment *** %]
  [% IF attachment && attachment.bug_id %]
    <link rel="Up" href="show_bug.cgi?id=[% attachment.bug_id FILTER none %]">
  [% END %]


  [%# *** Dependencies, Votes, Activity, Print-version *** %]
  [% IF bug %]
    <link rel="Show" title="Dependency Tree"
          href="showdependencytree.cgi?id=[% bug.bug_id %]&amp;hide_resolved=1">
    [% IF Param('webdotbase') %]
      <link rel="Show" title="Dependency Graph"
            href="showdependencygraph.cgi?id=[% bug.bug_id %]">
    [% END %]

    [% IF bug.use_votes %]
      <link rel="Show" title="Votes ([% bug.votes %])"
            href="votes.cgi?action=show_bug&amp;bug_id=[% bug.bug_id %]">
    [% END %]

      <link rel="Show" title="[% terms.Bug %] Activity"
            href="show_activity.cgi?id=[% bug.bug_id %]">
      <link rel="Show" title="Printer-Friendly Version"
            href="show_bug.cgi?format=multiple&amp;id=[% bug.bug_id %]">
  [% END %]


  [%# *** Saved Searches *** %]
  [% IF user.showmybugslink %]
    [% user_login = user.login FILTER url_quote %]
    <link rel="Saved&nbsp;Searches" title="My [% terms.Bugs %]"
          href="[% Param('mybugstemplate').replace('%userid%', user_login) %]">
  [% END %]

  [% FOREACH q = user.queries %]
    <link rel="Saved&nbsp;Searches" 
          title="[% q.name FILTER html %]"
          href="buglist.cgi?cmdtype=runnamed&amp;namedcmd=[% q.name FILTER url_quote %]">
  [% END %]

  [% FOREACH q = user.queries_subscribed %]
    <link rel="Saved&nbsp;Search"
          title="[% q.name FILTER html %] ([% q.user.login FILTER html %])"
          href="buglist.cgi?cmdtype=dorem&amp;remaction=run&amp;namedcmd=
                 [% q.name FILTER url_quote %]&amp;sharer_id=
                 [% q.user.id FILTER url_quote %]">
  [% END %]

  [%# *** Bugzilla Administration Tools *** %]
  [% IF user.login %] 
    [% '<link rel="Administration" title="Parameters"    
              href="editparams.cgi">' IF user.groups.tweakparams %]
    [% '<link rel="Administration" title="Users"    
              href="editusers.cgi">' IF user.groups.editusers %]
    [% '<link rel="Administration" title="Products" href="editproducts.cgi">'
       IF user.groups.editcomponents || user.get_products_by_permission("editcomponents").size %]
    [% '<link rel="Administration" title="Flag Types"   
              href="editflagtypes.cgi">' IF user.groups.editcomponents %]
    [% '<link rel="Administration" title="Groups"        
              href="editgroups.cgi">' IF user.groups.creategroups %]
    [% '<link rel="Administration" title="Keywords"      
              href="editkeywords.cgi">' IF user.groups.editkeywords %]
    [% '<link rel="Administration" title="Whining"       
              href="editwhines.cgi">' IF user.groups.bz_canusewhines %]
    [% '<link rel="Administration" title="Sanity Check"  
              href="sanitycheck.cgi">' IF user.groups.editcomponents %]
  [% END %]  
[% END %]
