/* FILE:       dll/cpl/desk/lang/cs-CZ.rc
 * TRANSLATOR: Radek Liska aka Black_Fox (radekliska at gmail dot com)
 * UPDATED:    2015-04-12
 * THANKS TO:  potapnik, who translated major part of this file
 */

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

IDD_BACKGROUND DIALOGEX 0, 0, 246, 210
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Pozadí"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_BACKGROUND_PREVIEW, "Static", SS_OWNERDRAW, 70, 10, 105, 74, 0
    CONTROL "", IDC_BACKGROUND_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 8, 104, 174, 86
    LTEXT "Vyberte obrázek, který chcete použít jako pozadí", IDC_STATIC, 8, 93, 230, 9
    PUSHBUTTON "&Vybrat...", IDC_BROWSE_BUTTON, 188, 104, 55, 15
    PUSHBUTTON "&Barva...", IDC_COLOR_BUTTON, 188, 167, 55, 15
    LTEXT "Umístění", IDC_STATIC, 188, 128, 55, 9
    COMBOBOX IDC_PLACEMENT_COMBO, 188, 139, 55, 54, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDR_PREVIEW_MENU MENU
BEGIN
    MENUITEM "Normální", ID_MENU_NORMAL
    MENUITEM "Nepřístupné", ID_MENU_DISABLED
    MENUITEM "Vybráno", ID_MENU_SELECTED
END

IDM_MONITOR_MENU MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Přip&ojený", ID_MENU_ATTACHED
        MENUITEM "&Primární", ID_MENU_PRIMARY
        MENUITEM SEPARATOR
        MENUITEM "&Identifikovat", ID_MENU_IDENTIFY
        MENUITEM "&Vlastnosti", ID_MENU_PROPERTIES
    END
END

STRINGTABLE
BEGIN
    IDS_SLIDEEFFECT "Efekt vysunutí"
    IDS_FADEEFFECT "Efekt přechodu"
END

STRINGTABLE
BEGIN
    IDS_STANDARDEFFECT "Standardní"
    IDS_CLEARTYPEEFFECT "FreeType Antialiased"
END

STRINGTABLE
BEGIN
    IDS_MULTIPLEMONITORS "(Více monitorů)"
    IDS_UNKNOWNMONITOR "(Neznámý monitor)"
    IDS_ADVANCEDTITLEFMT "%s a %s"
END

STRINGTABLE
BEGIN
    IDS_CPLNAME "Obrazovka"
    IDS_CPLDESCRIPTION "Nastavení obrazovky, spořiče, vzhledu a rozlišení."
    IDS_NONE "(Není)"
    IDS_CENTER "Na střed"
    IDS_STRETCH "Roztáhnout"
    IDS_TILE "Dlaždice"
    IDS_FIT "Fit"
    IDS_FILL "Fill"
END

STRINGTABLE
BEGIN
    IDS_COLOR_4BIT "16 barev"
    IDS_COLOR_8BIT "256 barev"
    IDS_COLOR_16BIT "High Color (16 Bitů)"
    IDS_COLOR_24BIT "True Color (24 Bitů)"
    IDS_COLOR_32BIT "True Color (32 Bitů)"
    IDS_PIXEL "%lux%lu bodů"
END

STRINGTABLE
BEGIN
    IDS_BACKGROUND_COMDLG_FILTER "Obrázky"
END

STRINGTABLE
BEGIN
    IDS_INACTWIN "Neaktivní okno"
    IDS_ACTWIN "Aktivní okno"
    IDS_WINTEXT "Text okna"
    IDS_MESSBOX "Okno zprávy"
    IDS_MESSTEXT "Text zprávy"
    IDS_BUTTEXT "OK"
    IDS_CLASSIC_THEME "Klasické téma"
END

STRINGTABLE
BEGIN
    IDS_ELEMENT_0 "Plocha"
    IDS_ELEMENT_1 "Neaktivní záhlaví"
    IDS_ELEMENT_2 "Okraj neaktivního okna"
    IDS_ELEMENT_3 "Aktivní záhlaví"
    IDS_ELEMENT_4 "Okraj aktivního okna"
    IDS_ELEMENT_5 "Nabídka"
    IDS_ELEMENT_6 "Vybraná položka"
    IDS_ELEMENT_7 "Okno"
    IDS_ELEMENT_8 "Posuvník"
    IDS_ELEMENT_9 "3D objekty"
    IDS_ELEMENT_10 "Paleta"
    IDS_ELEMENT_11 "Tlačítka záhlaví"
    IDS_ELEMENT_12 "Okno zprávy"
    IDS_ELEMENT_13 "Pozadí aplikace"
    IDS_ELEMENT_14 "Rozestup ikon (vodorovně)"
    IDS_ELEMENT_15 "Rozestup ikon (svisle)"
    IDS_ELEMENT_16 "Popis tlačítek"
    IDS_ELEMENT_17 "Ikona"
//  IDS_ELEMENT_18 "Nepřístupné položky"
END

STRINGTABLE
BEGIN
    IDS_DISPLAY_SETTINGS "Nastavení zobrazení"
    IDS_APPLY_FAILED "Nepodařilo se aplikovat nová nastavení..."
    IDS_APPLY_NEEDS_RESTART "Aby se změny projevily, je třeba restartovat počítač."
    IDS_TIMEOUTTEXT "Revert to previous settings in %d seconds."
END
