/* Traditional Chinese translation by Henry Tang Ih 2016 (henrytang2@hotmail.com) */
/* Translation has been changed by Luo Yufan 2018 (njlyf2011@hotmail.com) and Aobi Chan CL 2020 (eason066@gmail.com) */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

IDD_THEMES DIALOGEX 0, 0, 246, 210
CAPTION "主題"
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
FONT 9, "新細明體"
BEGIN
    LTEXT "主題是由一個背景和一組聲音、圖示和其他因素組成的群組。它能幫助您個人化您的電腦。", IDC_STATIC, 5, 5, 235, 30
    LTEXT "主題︰", IDC_STATIC, 5, 42, 55, 10
    COMBOBOX IDC_THEMES_COMBOBOX, 5, 52, 160, 300, CBS_HASSTRINGS | CBS_AUTOHSCROLL | CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "另存新檔(&A)...", IDC_THEMES_SAVE_AS, 170, 52, 70, 14
    PUSHBUTTON "刪除(&D)", IDC_THEMES_DELETE, 170, 70, 70, 14
    CONTROL "", IDC_THEMES_PREVIEW, "STATIC", SS_BITMAP, 5, 90, 235, 115, WS_EX_CLIENTEDGE
END

IDD_BACKGROUND DIALOGEX 0, 0, 246, 210
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "背景"
FONT 9, "新細明體"
BEGIN
    CONTROL "", IDC_BACKGROUND_PREVIEW, "Static", SS_OWNERDRAW, 70, 10, 105, 74, 0
    CONTROL "", IDC_BACKGROUND_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 8, 104, 174, 86
    LTEXT "牆紙:", IDC_STATIC, 8, 93, 230, 9
    PUSHBUTTON "瀏覽(&B)...", IDC_BROWSE_BUTTON, 188, 104, 55, 15
    PUSHBUTTON "顏色(&C)...", IDC_COLOR_BUTTON, 188, 167, 55, 15
    LTEXT "位置:", IDC_STATIC, 188, 128, 55, 9
    COMBOBOX IDC_PLACEMENT_COMBO, 188, 139, 55, 54, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_SCREENSAVER DIALOGEX 0, 0, 246, 202
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "螢幕保護裝置"
FONT 9, "新細明體", 0, 0
BEGIN
    CONTROL "", IDC_SCREENS_PREVIEW, "Static", SS_OWNERDRAW, 70, 10, 105, 70, WS_EX_STATICEDGE
    GROUPBOX "螢幕保護裝置(&S)", IDC_SCREENS_DUMMY, 8, 92, 230, 52
    COMBOBOX IDC_SCREENS_LIST, 14, 103, 100, 100, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "設定(&T)...", IDC_SCREENS_SETTINGS, 120, 102, 50, 15, WS_GROUP
    PUSHBUTTON "預覽(&V)", IDC_SCREENS_TESTSC, 175, 102, 50, 15
    LTEXT "等待(&W):", IDC_WAITTEXT, 14, 125, 20, 9
    EDITTEXT IDC_SCREENS_TIMEDELAY, 36, 123, 32, 13, ES_RIGHT | WS_GROUP
    CONTROL "", IDC_SCREENS_TIME, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT |
            UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_BORDER | WS_GROUP, 56, 123, 12, 13
    LTEXT "分鐘", IDC_MINTEXT, 70, 125, 26, 9
    CONTROL "以密碼保護(&P)", IDC_SCREENS_USEPASSCHK, "button",
            BS_AUTOCHECKBOX | WS_TABSTOP, 108, 120, 117, 19
    GROUPBOX "顯示器電源(&E)", IDC_SCREENS_DUMMY2, 8, 150, 230, 41
    LTEXT "要修改顯示器的電源設定，請按 [電源]。", IDC_STATIC, 16, 161, 146, 27
    PUSHBUTTON "電源(&O)...", IDC_SCREENS_POWER_BUTTON, 167, 165, 61, 15
END

IDD_APPEARANCE DIALOGEX 0, 0, 246, 212
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "外觀"
FONT 9, "新細明體"
BEGIN
    CONTROL "", IDC_APPEARANCE_PREVIEW, "PreviewWndClass", WS_VISIBLE | WS_BORDER, 7, 7, 232, 120
    LTEXT "視覺樣式", IDC_STATIC, 7, 130, 104, 9
    COMBOBOX IDC_APPEARANCE_VISUAL_STYLE, 7, 140, 134, 90, CBS_DROPDOWNLIST |
             CBS_HASSTRINGS | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT "色彩配置", IDC_STATIC, 7, 157, 104, 9
    COMBOBOX IDC_APPEARANCE_COLORSCHEME, 7, 167, 134, 90, CBS_DROPDOWNLIST |
             CBS_HASSTRINGS | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT "字型大小", IDC_STATIC, 7, 184, 104, 9
    COMBOBOX IDC_APPEARANCE_SIZE, 7, 194, 134, 90, CBS_DROPDOWNLIST |
             CBS_HASSTRINGS | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "效果(&E)...", IDC_APPEARANCE_EFFECTS, 182, 150, 56, 15
    PUSHBUTTON "進階(&D)", IDC_APPEARANCE_ADVANCED, 182, 170, 56, 15
END

IDD_ADVAPPEARANCE DIALOGEX 0, 0, 250, 239
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
CAPTION "進階外觀"
FONT 9, "新細明體"
BEGIN
    CONTROL "", IDC_APPEARANCE_PREVIEW, "PreviewWndClass", WS_VISIBLE | WS_BORDER, 7, 7, 232, 120
    LTEXT "如果您選擇 ReactOS 經典配色以外的視窗和按鈕設定，它會強制覆寫以下設定值，但某些較舊的程式除外。", IDC_ADVAPPEARANCE_DISCLAIMER, 7, 133, 232, 30, BS_MULTILINE
    LTEXT "項目:", 8, 5, 160, 50, 9
    COMBOBOX IDC_ADVAPPEARANCE_ELEMENT, 5, 170, 130, 90, CBS_DROPDOWNLIST |
             CBS_HASSTRINGS | CBS_SORT | WS_CHILD | WS_VSCROLL | WS_TABSTOP
    LTEXT "大小(&S)", IDC_ADVAPPEARANCE_SIZE_T, 142, 160, 39, 9
    EDITTEXT IDC_ADVAPPEARANCE_SIZE_E, 142, 170, 38, 13, ES_RIGHT | WS_GROUP
    CONTROL "", IDC_ADVAPPEARANCE_SIZE_UD, UPDOWN_CLASS, UDS_AUTOBUDDY | WS_BORDER | WS_GROUP |
            UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_SETBUDDYINT | WS_CHILD | WS_VISIBLE, 172, 170, 10, 13
    LTEXT "顏色 1(&1):", IDC_ADVAPPEARANCE_COLOR1_T, 184, 160, 40, 9
    CHECKBOX "-", IDC_ADVAPPEARANCE_COLOR1_B, 184, 170, 28, 13, BS_PUSHLIKE | BS_BITMAP
    LTEXT "顏色 2(&2):", IDC_ADVAPPEARANCE_COLOR2_T, 216, 160, 40, 9
    CHECKBOX "-", IDC_ADVAPPEARANCE_COLOR2_B, 216, 170, 28, 13, BS_PUSHLIKE | BS_BITMAP
    LTEXT "字型:", IDC_ADVAPPEARANCE_FONT_T, 5, 190, 50, 9
    COMBOBOX IDC_ADVAPPEARANCE_FONT_C, 5, 200, 130, 90, CBS_DROPDOWN |
             CBS_HASSTRINGS | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT "大小:", IDC_ADVAPPEARANCE_FONTSIZE_T, 142, 190, 39, 9
    COMBOBOX IDC_ADVAPPEARANCE_FONTSIZE_E, 142, 200, 38, 200, CBS_DROPDOWN | WS_VSCROLL
    LTEXT "顏色:", IDC_ADVAPPEARANCE_FONTCOLOR_T, 184, 190, 28, 9
    CHECKBOX "", IDC_ADVAPPEARANCE_FONTCOLOR_B, 184, 200, 28, 13, BS_PUSHLIKE | BS_BITMAP
    AUTOCHECKBOX "B", IDC_ADVAPPEARANCE_FONTBOLD, 216, 200, 14, 13, BS_PUSHLIKE
    AUTOCHECKBOX "I ", IDC_ADVAPPEARANCE_FONTITALIC, 230, 200, 14, 13, BS_PUSHLIKE
    PUSHBUTTON "取消", IDCANCEL, 191, 220, 50, 14
    DEFPUSHBUTTON "確定", IDOK, 137, 220, 50, 14
END

IDD_EFFAPPEARANCE DIALOGEX 0, 0, 285, 185
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
CAPTION "效果"
FONT 9, "新細明體"
BEGIN
    CONTROL "為選單和工具提示使用以下過渡效果(&U):",
            IDC_EFFAPPEARANCE_ANIMATION, "button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 5, 267, 19
    COMBOBOX IDC_EFFAPPEARANCE_ANIMATIONTYPE, 20, 25, 95, 19, CBS_DROPDOWNLIST |
             CBS_HASSTRINGS | WS_CHILD | WS_VSCROLL | WS_TABSTOP
    CONTROL "使用下列方式使螢幕字型的邊緣平滑(&S)", IDC_EFFAPPEARANCE_SMOOTHING,
            "button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 42, 267, 19
    COMBOBOX IDC_EFFAPPEARANCE_SMOOTHINGTYPE, 20, 62, 95, 19, CBS_DROPDOWNLIST |
             CBS_HASSTRINGS | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    CONTROL "使用大圖示(&E)", IDC_EFFAPPEARANCE_LARGEICONS, "button",
            BS_AUTOCHECKBOX | WS_TABSTOP | WS_DISABLED, 10, 80, 267, 19
    CONTROL "在選單下顯示陰影(&A)", IDC_EFFAPPEARANCE_SETDROPSHADOW,
            "button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 95, 267, 19
    CONTROL "拖動時顯示視窗內容(&W)", IDC_EFFAPPEARANCE_DRAGFULLWINDOWS,
            "button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 110, 267, 19
    CONTROL "直到我按 Alt 鍵之前，請隱藏有下劃線的字母供鍵盤使用",
            IDC_EFFAPPEARANCE_KEYBOARDCUES, "button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 125, 267, 19
    CONTROL "Use &flat menus", IDC_EFFAPPEARANCE_FLATMENUS,
            "button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 140, 267, 19
    PUSHBUTTON "取消", IDCANCEL, 226, 165, 50, 14
    DEFPUSHBUTTON "確定", IDOK, 172, 165, 50, 14
END

IDD_SETTINGS DIALOGEX 0, 0, 246, 202
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "設定"
FONT 9, "新細明體"
BEGIN
    LTEXT "拖動顯示器圖示以便符合顯示器的實際設定。", -1, 3, 3, 240, 20
    CONTROL "", IDC_SETTINGS_MONSEL, "MONITORSELWNDCLASS", WS_CHILD | WS_VISIBLE |
            WS_TABSTOP, 3, 23, 240, 82, WS_EX_CLIENTEDGE
    LTEXT "顯示(&D):", 1820, 3, 107, 70, 9
    LTEXT "<none>", IDC_SETTINGS_DEVICE, 3, 116, 224, 9
    GROUPBOX "螢幕解析度(&S)", 1818, 3, 127, 115, 43
    CONTROL "", IDC_SETTINGS_RESOLUTION, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 30, 137, 58, 17
    LTEXT "小", 1815, 9, 137, 25, 9, NOT WS_GROUP
    LTEXT "大", 1816, 93, 137, 20, 9, NOT WS_GROUP
    LTEXT "", IDC_SETTINGS_RESOLUTION_TEXT, 10, 157, 100, 10, NOT WS_GROUP | SS_CENTER
    GROUPBOX "顏色(&C)", 1817, 125, 127, 115, 43
    COMBOBOX IDC_SETTINGS_BPP, 131, 137, 103, 80, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    CONTROL "", IDC_SETTINGS_SPECTRUM, "Static", SS_OWNERDRAW | SS_SUNKEN, 131, 155, 103, 9
    PUSHBUTTON "進階(&V)...", IDC_SETTINGS_ADVANCED, 170, 174, 70, 15
END

IDD_ADVANCED_GENERAL DIALOGEX 0, 0, 253, 204
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "一般"
FONT 9, "新細明體"
BEGIN
    GROUPBOX "顯示", -1, 7, 6, 237, 56, WS_GROUP
    LTEXT "字型大小:", -1, 14, 20, 222, 9
    COMBOBOX IDC_FONTSIZE_COMBO, 14, 30, 223, 80, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "", IDC_FONTSIZE_CUSTOM, 14, 46, 223, 12
    GROUPBOX "相容性", -1, 7, 67, 237, 97
    LTEXT "如果在更改顏色設定後不立即重新啟動電腦，某些程式可能無法正常工作。\n\n更改顯示設定後:", -1, 12, 78, 228, 34
    AUTORADIOBUTTON "在應用新的顯示設定之前重新啟動電腦(&R)", IDC_RESTART_RB, 14, 116, 228, 10
    AUTORADIOBUTTON "應用新的顯示設定而不重新啟動電腦(&P)", IDC_WITHOUTREBOOT_RB, 14, 131, 228, 10
    AUTORADIOBUTTON "在應用新的顯示設定之前詢問(&K)", IDC_ASKME_RB, 14, 146, 228, 10
END

IDD_CONFIRMSETTINGS DIALOGEX 20, 30, 233, 57
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "顯示設定"
FONT 8, "新細明體"
BEGIN
    LTEXT "您是否想要保留顯示設定?", IDC_STATIC, 7, 7, 219, 8
    LTEXT "", IDC_TIMEOUTTEXT, 7, 20, 219, 8
    PUSHBUTTON "是(&Y)", IDYES, 121, 36, 50, 14
    DEFPUSHBUTTON "否(&N)", IDNO, 175, 36, 50, 14
END

IDR_PREVIEW_MENU MENU
BEGIN
    MENUITEM "一般", ID_MENU_NORMAL
    MENUITEM "無效", ID_MENU_DISABLED
    MENUITEM "已選定", ID_MENU_SELECTED
END

IDM_MONITOR_MENU MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "輔助(&A)", ID_MENU_ATTACHED
        MENUITEM "主要(&P)", ID_MENU_PRIMARY
        MENUITEM SEPARATOR
        MENUITEM "識別(&I)", ID_MENU_IDENTIFY
        MENUITEM "內容(&R)", ID_MENU_PROPERTIES
    END
END

STRINGTABLE
BEGIN
    IDS_SLIDEEFFECT "滑動效果"
    IDS_FADEEFFECT "漸變效果"
END

STRINGTABLE
BEGIN
    IDS_STANDARDEFFECT "標準"
    IDS_CLEARTYPEEFFECT "FreeType 消除鋸齒"
END

STRINGTABLE
BEGIN
    IDS_MULTIPLEMONITORS "(多顯示器)"
    IDS_UNKNOWNMONITOR "(未知裝置)"
    IDS_ADVANCEDTITLEFMT "%s 和 %s"
END

STRINGTABLE
BEGIN
    IDS_CPLNAME "顯示"
    IDS_CPLDESCRIPTION "自訂桌面顯示和螢幕保護裝置"
    IDS_NONE "(無)"
    IDS_CENTER "居中"
    IDS_STRETCH "拉伸"
    IDS_TILE "並排"
    IDS_FIT "Fit"
    IDS_FILL "Fill"
END

STRINGTABLE
BEGIN
    IDS_COLOR_4BIT "16 色"
    IDS_COLOR_8BIT "256 色"
    IDS_COLOR_16BIT "增強色(16 位元)"
    IDS_COLOR_24BIT "真彩色(24 位元)"
    IDS_COLOR_32BIT "真彩色(32 位元)"
    IDS_PIXEL "%lux%lu 像素"
END

STRINGTABLE
BEGIN
    IDS_BACKGROUND_COMDLG_FILTER "點陣圖"
END

STRINGTABLE
BEGIN
    IDS_INACTWIN "非活動視窗"
    IDS_ACTWIN "活動視窗"
    IDS_WINTEXT "視窗文字"
    IDS_MESSBOX "訊息框"
    IDS_MESSTEXT "訊息內容"
    IDS_BUTTEXT "確定"
    IDS_CLASSIC_THEME "經典主題"
END

STRINGTABLE
BEGIN
    IDS_ELEMENT_0 "桌面"
    IDS_ELEMENT_1 "非活動視窗標題欄"
    IDS_ELEMENT_2 "非活動視窗邊框"
    IDS_ELEMENT_3 "活動視窗標題欄"
    IDS_ELEMENT_4 "活動視窗邊框"
    IDS_ELEMENT_5 "選單"
    IDS_ELEMENT_6 "已選定的項目"
    IDS_ELEMENT_7 "視窗"
    IDS_ELEMENT_8 "滾動條"
    IDS_ELEMENT_9 "三維物體"
    IDS_ELEMENT_10 "調色盤標題"
    IDS_ELEMENT_11 "標題按鈕"
    IDS_ELEMENT_12 "訊息框"
    IDS_ELEMENT_13 "應用程式背景"
    IDS_ELEMENT_14 "圖示間距(水平)"
    IDS_ELEMENT_15 "圖示間距(垂直)"
    IDS_ELEMENT_16 "工具提示"
    IDS_ELEMENT_17 "圖示"
//  IDS_ELEMENT_18 "已禁用的選單項"
END

STRINGTABLE
BEGIN
    IDS_DISPLAY_SETTINGS "顯示設定"
    IDS_APPLY_FAILED "應用新設定失敗..."
    IDS_APPLY_NEEDS_RESTART "需要重新啟動電腦使更改生效。"
    IDS_TIMEOUTTEXT "在 %d 內還原設定。"
END
