#include <windows.h>
#include <ntverp.h>
#include "eventcmd.h"

#define	VER_FILETYPE                VFT_APP
#define	VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Event Translator Configuration Tool"
#define VER_INTERNALNAME_STR        "eventcmd.exe"
#define VER_ORIGINALFILENAME_STR    "eventcmd.exe"

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MSG_HELP        "Usage:     evntcmd [options] filename [options]\noptions:   -?,-h        usage help;\n           -s sysname   target 'sysname' for configuration;\n           -v number    verbose level: 0(silent)-10(detailed);\n           -n           don't restart SNMP service on trap changes;\n"
    IDS_MSG_CPYRGHT     "Microsoft (R) Event To Trap Translator; Configuration Tool v2.00\nCopyright (c) Microsoft Corporation 1998.  All rights reserved.\n\n"
    IDS_CHKP_WRN01      "Command line parsed successfully.\n"
    IDS_CHKP_WRN02      "Configuration file '%s' parsed successfully.\n"
    IDS_CHKP_WRN03      "Registry connected to '%s'.\n"
    IDS_CHKP_WRN04      "Commands processed successfully.\n"
    IDS_ALRT_WRN05      "You need to restart the SNMP service..\n"
    IDS_ATTN_WRN06      "SNMP is not currently running, so it will not be started.\n"
    IDS_CHKP_WRN07      "Stopping SNMP Service"
    IDS_CHKP_WRN08      "Starting SNMP Service"
    IDS_CHKP_WRN09      "SNMP Service restarted successfully.\n"
    IDS_ATTN_WRN10      "No need to restart the SNMP service..\n"
    IDS_ATTN_WRN11      "Verbose level set to %u.\n"
    IDS_ALRT_WRN12      "Command line option '%s' is unknown. Ignored.\n"
    IDS_ALRT_WRN13      "Command line contains more than one configuration file. Will use '%s'.\n"
    IDS_ATTN_WRN14      "Verbose level set to %u.\n"
    IDS_ALRT_WRN15      "Command line contains more than one target system. Will use '%s'.\n"
    IDS_ALRT_WRN16      "syntax [%u:%u]: Wrong or missing 'EventLogFile' parameter.\n"
    IDS_ALRT_WRN17      "syntax [%u:%u]: Wrong or missing 'EventSource' parameter.\n"
    IDS_ALRT_WRN18      "syntax [%u:%u]: Wrong or missing 'EventID' parameter.\n"
    IDS_ALRT_WRN19      "syntax [%u:%u]: Wrong 'Count' parameter.\n"
    IDS_ALRT_WRN20      "syntax [%u:%u]: Wrong 'Time' parameter.\n"
    IDS_ALRT_WRN21      "syntax [%u:%u]: 'Count'=1 defaults 'Period' to 0 instead of %u.\n"
    IDS_ALRT_WRN22      "syntax [%u:%u]: 'Count'=%u defaults 'Period' to 1 instead of %u.\n"
    IDS_ALRT_WRN23      "Successfully parsed Trap(%s, %s, %u, %u, %u).\n"
    IDS_ALRT_WRN24      "syntax [%u:%u]: Wrong or missing community parameter.\n"
    IDS_ALRT_WRN25      "syntax [%u:%u]: Wrong or missing address parameter.\n"
    IDS_ATTN_WRN26      "Successfully parsed Trap(%s, %s, %s).\n"
    IDS_TRCK_WRN27      "lexic [%u:%u]: hit again EOF.\n"
    IDS_TRCK_WRN28      "lexic [%u:%u]: hit EOF.\n"
    IDS_ERRO_WRN29      "[%u:%u]: Token cut due to non-matching string delimiter '""'.\n"
    IDS_ALRT_WRN30      "syntax [%u:%u]: expected '#pragma'.\n"
    IDS_ALRT_WRN31      "syntax [%u:%u]: failed to read command.\n"
    IDS_ALRT_WRN32      "syntax [%u:%u]: unrecognized command '%s'.\n"
    IDS_TRCK_WRN33      "Configured new source '%s'.\n"
    IDS_ATTN_WRN34      "Connecting to '%s' registry ...\n"
    IDS_ATTN_WRN35      "Successfully set %s event '%u'.\n"
    IDS_ATTN_WRN36      "Source key '%s' does not exist.\n"
    IDS_ATTN_WRN37      "Event key '%s' does not exist.\n"
    IDS_ATTN_WRN38      "Successfully deleted event '%u'.\n"
    IDS_TRCK_WRN39      "Source '%s' contains now no events. Registry key deleted.\n"
    IDS_TRCK_WRN40      "Error %u encountered while enumerating events for source '%s'.\n"
    IDS_TRCK_WRN41      "Created new key for community '%s'.\n"
    IDS_ATTN_WRN42      "Trap destination '%s' already defined as '%s'.\n"
    IDS_ATTN_WRN43      "Successfully set address '%s'.\n"
    IDS_ATTN_WRN44      "Successfully deleted address '%s'.\n"
    IDS_ATTN_WRN45      "There is no address '%s' for community '%s'.\n"
    IDS_ERRO_WRN46      "Error %u hit while deleting community '%s' from registry.\n"
    IDS_TRCK_WRN47      "Community '%s' contains now no addresses. Registry key deleted.\n"
    IDS_TRCK_WRN48      "Error %u hit while enumerating addresses for community '%s'.\n"
    IDS_TRCK_WRN49      "SNMP service is in state %d.\n"
    IDS_TRCK_WRN50      "SNMP service is not started.\n"
    IDS_ERR01           "Memory Allocation Failure.\n"
    IDS_ERR02           "Unexpected event command type %u.\n"
    IDS_ERR03           "Unexpected trap command type %u.\n"
    IDS_ERR04           "[%u:%u]; Token too long (max %u chars accepted).\n"
    IDS_ERR05           "Failed to format source '%s' OID.\n"
    IDS_ERR06           "Failed on invalid SNMP state '%d'.\n"
    IDS_ERR07           "Timed out while stopping SNMP service.\n"
    IDS_ERR08           "Input file '%s' could not be opened.\n"
    IDS_ERR09           "line %u: Read failure.\n"
    IDS_ERR10           "Failed while un-getting token from configuration file.\n"
    IDS_ERR11           "Failed to set '%s' value for source '%s.'\n"
    IDS_ERR12           "Failed while scanning existing trap destinations.\n"
    IDS_ERR13           "Failed to set '%s' value for event %u.\n"
    IDS_ERR14           "Failed to connect to '%s' registry.\n"
    IDS_ERR15           "Failure while opening the 'Sources' registry key.\n"
    IDS_ERR16           "Failure while creating source '%s' registry key.\n"
    IDS_ERR17           "Failure while creating event '%s' registry key.\n"
    IDS_ERR18           "Failure while opening the 'Sources' registry key.\n"
    IDS_ERR19           "Failure while deleting source '%s' from registry.\n"
    IDS_ERR20           "Failure while opening the 'TrapConfiguration' registry key.\n"
    IDS_ERR21           "Failure while creating key for '%s' community.\n"
    IDS_ERR22           "Failure while creating address '%s'.\n"
    IDS_ERR23           "Failure while opening the 'TrapConfiguration' registry key.\n"
    IDS_ERR24           "Failure while deleting address '%s'.\n"
    IDS_ERR25           "Could not open ServiceController handle.\n"
    IDS_ERR26           "Could not open SNMP Service handle.\n"
    IDS_ERR27           "Failed to query the SNMP service status.\n"
    IDS_ERR28           "Failed while requesting SNMP start.\n"
    IDS_ERR29           "Failed while waiting for SNMP service to initialize.\n"
    IDS_ERR30           "Failed while requesting SNMP stop.\n"
    IDS_ERR31           "Failed while waiting for SNMP service to initialize.\n"
END

#include "common.ver"

