#include "windows.h"
#include "resource.h"
/*
 *  German language file by Klemens Friedl <frik85> 2005-06-03
 *  Update: frik85 2005-06-06
 */

LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL
STRINGTABLE DISCARDABLE
{

STRING_ATTRIB_HELP,    "Zeigt Dateiattribute an oder ändert sie.\n\n\
ATTRIB [+R | -R] [+A | -A] [+S | -S] [+H | -H] Dateiname ...\n\
       [/S [/D]]\n\n\
  +   Setzt ein Attribut\n\
  -   Löscht ein Attribut\n\
  R   Attribut für 'schreibgeschützte Datei'\n\
  A   Attribut für 'zu archivierende Datei'\n\
  S   Attribut für 'Systemdatei'\n\
  H   Attribut für 'versteckte Datei'\n\
 /S   Verarbeitet übereinstimmende Dateien im aktuellen Ordner\n\
      und in allen Unterordnern.\n\
  /D  Verarbeitet auch die Ordner.\n\n\
ATTRIB ohne Parameter zeigt die derzeit gesetzten Attribute aller Dateien an."

STRING_ALIAS_HELP,  "Setzt, löscht oder zeigt Alias.\n\n\
ALIAS [alias=[command]]\n\n\
  alias    Name des Alias.\n\
  command  Text welcher für den Alias zugeordnet wird.\n\n\
Listet alle Aliase auf:\n\
  ALIAS\n\n\
Setzt ein neues oder überschreibt ein bestehendes Alias:\n\
  ALIAS da=dir a:\n\n\
Löscht ein Alias von der Alias-Liste:\n\
  ALIAS da="

STRING_BEEP_HELP, "Gibt einen beep-Ton durch den PC-Speaker aus.\n\nBEEP"

STRING_CALL_HELP, "Ruft eine Batchdatei von einer anderen aus auf.\n\n\
CALL [Laufwerk:][Pfad]Dateiname [Batch-Parameter]\n\n\
  Parameter      Bezeichnet beliebige Angaben in der Befehlszeile, die von\n\
                 dem aufgerufenen Batchprogramm benötigt werden."


STRING_CD_HELP,      "Wechselt das Verzeichnis oder zeigt dessen Namen an.\n\n\
CHDIR [Laufwerk:][Pfad]\n\
CHDIR[..|.]\n\
CD [Laufwerk:][Pfad]\n\
CD[..|.]\n\n\
  ..   übergeordnetes Verzeichnis\n\
  .    vorhergehende Verzeichnis\n\n\
Geben Sie CD Laufwerk: ein, um das aktuelle Verzeichnis auf dem angegebenen\n\
Laufwerk anzuzeigen.\n\
Mit CD ohne Parameter wird das aktuelle Laufwerk und Verzeichnis angezeigt."


STRING_CHCP_HELP,   "Zeigt die aktuelle Codepage oder wechselt sie.\n\n\
CHCP [nnn]\n\n\
  nnn   Codepage angeben.\n\n\
Der Befehl CHCP ohne Parameter zeigt die Nummer der aktuellen Codepage an."


STRING_CHOICE_HELP, "Wartet auf den Benutzer, welcher aus einer Auswahl eine Option wählen muss.\n\n\
CHOICE  [/C[:]choices][/N][/S][/T[:]c,nn][text]\n\n\
  /C[:]choices  Die erlaubten Tasten festlegen. Standard-Tasten sind Y und N.\n\
  /N            Zeigt choices und ? am ende des Promt-Strings NICHT an.\n\
  /S            Groß- und Kleinschreibung wird beachtet.\n\
  /T[:]c,nn     Standard-Auswahl wird auf c gesetzt nach nn Sekunden.\n\
  text          Zeigt eine Beschreibung an.\n\n\
ERRORLEVEL wird auf den Offset der Taste welche der Benutzer gedrückt hat gesetzt."

STRING_CLS_HELP, "Löscht den Bildschirminhalt.\n\nCLS"

STRING_CMD_HELP1, "\nIntere Befehle verfügbar:\n"

STRING_CMD_HELP2, "\nVerfügbare Features:"

STRING_CMD_HELP3,"  [aliases]"

STRING_CMD_HELP4,"  [history]"

STRING_CMD_HELP5,"  [unix filename completion]"

STRING_CMD_HELP6,"  [directory stack]"

STRING_CMD_HELP7,"  [redirections and piping]"

STRING_CMD_HELP8, "Startet eine neue Instanz des ReactOS-Befehlsinterpreters.\n\n\
CMD [/[C|K] command][/P][/Q][/T:bf]\n\n\
  /C command  Führt den Befehl in der Zeichenfolge aus und schließt sich.\n\
  /K command  Führt den Befehl in der Zeichenfolge aus und läuft weiter.\n\
  /P          CMD wird permanent und führt autoexec.bat aus\n\
              (kann nicht beendet werden).\n\
  /T:bf       Setzt die Hintergrund- und Vordergrund-Farbe (siehe COLOR Befehl)."


STRING_COLOR_HELP1, "Legt die standard Hinter- und Vordergrundfarben für die Konsole fest.\n\n\
COLOR [attr [/F]] \n\n\
  attr        Gibt die Farbattribute für die Konsolenausgabe an.\n\
  /F          füllt die Konsoleausgabe mit dem Farbattribut\n\n\
Es gibt 3 Möglickeiten die Farbe festzulegen:\n\
1) [bright] name on [bright] name  (Nur die 4 ersten Buchstaben sind nötig)\n\
2) decimal on decimal\n\
3) two hex digits\n\n\
Farben:\n\
dec  hex  name       dec  hex  name\n\
0    0    Black       8   8    Gray (Bright black)\n\
1    1    Blue        9   9    Bright Blue\n\
2    2    Green      10   A    Bright Green\n\
3    3    Cyan       11   B    Bright Cyan\n\
4    4    Red        12   C    Bright Red\n\
5    5    Magenta    13   D    Bright Magenta\n\
6    6    Yellow     14   E    Bright Yellow\n\
7    7    White      15   F    Bright White"

STRING_COPY_HELP1,  " %s überschreiben (Ja/Nein/Alle)? "

STRING_COPY_HELP2, "Kopiert eine oder mehrere Dateien an eine andere Position.\n\n\
COPY [/V][/Y|/-Y][/A|/B] Quelle [/A|/B]\n\
     [+ source [/A|/B] [+ ...]] [destination [/A|/B]]\n\n\
  source       Bezeichnet die zu kopierende(n) Datei(en).\n\
  /A           Weist auf eine ASCII-Textdatei hin.\n\
  /B           Weist auf eine Binärdatei hin.\n\
  destination  Bezeichnet das Verzeichnis und/oder Dateinamen der neuen Datei(en).\n\
  /V           Überprüft, ob die Dateien richtig geschrieben wurden.\n\
  /Y           Unterdrückt die Bestätigungsaufforderung beim Überschreiben\n\
               vorhandener Zieldateien.\n\
  /-Y          Fordert beim Überschreiben vorhandener Zieldateien zum\n\
               Bestätigen auf.\n\n\
Die Option /Y ist möglicherweise in der Umgebungsvariablen COPYCMD.\n\
..."


STRING_DATE_HELP1, "\nGeben Sie das neue Datum ein (mm%cdd%cyyyy): "

STRING_DATE_HELP2, "\nGeben Sie das neue Datum ein (dd%cmm%cyyyy): "

STRING_DATE_HELP3, "\nGeben Sie das neue Datum ein (yyyy%cmm%cdd): "

STRING_DATE_HELP4, "Ändert das eingestellte Datum oder zeigt es an.\n\n\
DATE [/T][date]\n\n\
  /T    nur Datum anzeigen\n\n\
Der Befehl DATE ohne Parameter zeigt das aktuelle Datum an und fragt nach\n\
einem neuen. Drücken Sie die EINGABETASTE, um das bisherige Datum zu behalten."

STRING_DEL_HELP1,  "Löscht eine oder mehrere Dateien.\n\n\
DEL [/N /P /T /Q /W /Y /Z] Dateinamen ...\n\
DELETE [/N /P /T /Q /W /Y /Z] Dateinamen ...\n\
ERASE [/N /P /T /Q /W /Y /Z] Dateinamen ...\n\n\
  file  Geben Sie die Dateinamen an welche Sie löschen möchten\n\n\
  /N    Nichts.\n\
  /P    Fordert Sie vor dem Löschen jeder Datei zur Bestätigung auf.\n\
  /T    Zeigt die Anzahl der gelöschten Dateien und deren vorher belegter Speicherplatzbedarf an.\n\
  /Q    Beenden.\n\
  /W    Sicheres Löschen. Dateien werden mit Zufallszahlen überschrieben bevor sie gelöscht werden.\n\
  /Y    Löscht alles (*.*) ohne Vorwarnung.\n\
  /Z    Löscht versteckte, mit nur leserechten und Systemdateien.\n"

STRING_DEL_HELP2, "Alle Dateien in diesem Verzeichnis werden gelöscht!\nSind Sie sicher (Y/N)?"
STRING_DEL_HELP3, "    %lu Datei(en) gelöscht\n"
STRING_DEL_HELP4, "    %lu Datei(en) gelöscht\n"

STRING_DELAY_HELP, "Pause für n Sekunden oder Millisekunden\n\
DELAY [/m]n\n\n\
  /m          Millisekunden ansonsten Sekunden\n"

STRING_DIR_HELP1, "Listet die Dateien und Unterverzeichnisse eines Verzeichnisses auf.\n\n\
DIR [Laufwerk:][Pfad][Dateiname] [/A[[:]attributes]] [/B] [/C] [/D] [/L] [/N]\n\
  [/O[[:]sortorder]] [/P] [/Q] [/S] [/T[[:]timefield]] [/W] [/X] [/4]\n\n\
  [Laufwerk:][path][Dateiname]\n\
              Bezeichnet Laufwerk, Verzeichnis und/oder Dateien.\n\n\
  /A          Listet Dateien mit angegebenen Attributen auf.\n\
  attributes   D  Verzeichnisse         R  Schreibgeschützte Dateien\n\
               H  Versteckte Dateien    A  Zu archivierende Dateien\n\
               S  Systemdateien         -  vorangestellt kehrt die Bedeutung um\n\
  /B          Einfaches Format (keine Kopfdaten, keine Zusammenfassung).\n\
  /C          Zeigt das Tausendertrennzeichen bei Dateigrößen an (Standard-\n\
              einstellung). Verwenden Sie /-C, um das Tausendertrennzeichen\n\
              nicht anzuzeigen.\n\
  /D          Gleich wie Breitformat, jedoch nach Spalten sortiert.\n\
  /L          Verwendet Kleinschreibung.\n\
  /N          Neues, langes Listenformat (Dateinamen auf der rechten Seite).\n\
  /O          Gibt die Liste sortiert aus.\n\
  sortorder    N  Name (alphabetisch)         S  Größe (kleinere zuerst)\n\
               E  Erweiterung (alphabetisch)  D Datum/Zeit (ältere zuerst)\n\
               G  Verzeichnisse zuerst        - vorangestellt kehrt die\n\
  /P          Pausiert nach jeder vollen Bildschirmseite.\n\
  /Q          Gibt den Besitzer der Datei aus.\n\
  /S          Listet Dateien und alle Unterverzeichnisse auf.\n\
  /T          Bestimmt welche Zeit verwendet wird.\n\
  timefield   C  Erstellung\n\
              A  Letzter Zugriff\n\
              W  Letzter Schreibzugriff\n\
  /W          Verwendet Breitformat für die Auflistung.\n\
  /X          Zeigt die Kurznamen für Dateien mit Nicht-8Punkt3-Namen an.\n\
              Das Format ist das gleiche wie bei /N, wobei der Kurzname vor\n\
              dem Langnamen eingefügt wird. Wenn kein Kurzname vorhanden ist,\n\
              werden Leerzeichen angezeigt.\n\
  /4          Zeigt das Jahr vierstellig an.\n\n\
Optionen können in der Umgebungsvariablen DIRCMD voreingestellt werden.\n\
""-"" vor einer Option setzt die Voreinstellung ausser Kraft, z.B. DIR /-W."



STRING_DIR_HELP2, " Datenträger in Laufwerk %c ist %s\n"
STRING_DIR_HELP3, " Datenträger in Laufwerk %c hat keinen Namen\n"
STRING_DIR_HELP4, " Datenträger-Seriennummer ist %04X-%04X\n"
STRING_DIR_HELP5, "\n     Gelistete Dateien:\n%16i Datei(en)% 14s bytes\n"
STRING_DIR_HELP6, "%16i Verzeichnis(se)% 15s bytes\n"
STRING_DIR_HELP7, "\n Verzeichnisse %s\n\n"
STRING_DIR_HELP8, "%16i Datei(en)% 14s bytes\n"

STRING_DIRSTACK_HELP1, "Speichert das aktuelle Verzeichnis für den POPD Befehl, und\n\
wechselt dann zu den festgelegten Verzeichnis.\n\n\
PUSHD [path | ..]\n\n\
  path        Legt das Verzeichnis fest zu welchem gewechselt werden soll"

STRING_DIRSTACK_HELP2, "Wechselt zu dem Verzeichnis welches vom PUSHD Befehl gespeichert wurde.\n\nPOPD"

STRING_DIRSTACK_HELP3, "Druckt den Inhalt des Verzeichnis-Stacks.\n\nDIRS"

STRING_DIRSTACK_HELP4, "Verzeichnis-Stack ist leer"

STRING_ECHO_HELP1,  "Sendet eine Nachricht ohne den Zeilenvorschub und Wagenrücklauf zu betätigen.\n\n\
  ECHOS message"

STRING_ECHO_HELP2,  "Sendet eine Nachricht zur Standard Fehlerausgabe.\n\n\
  ECHOERR Nachricht\n\
  ECHOERR.           gibt eine Leerzeile aus"

STRING_ECHO_HELP3, "Sendet eine Nachricht zur Standard Fehlerausgabe ohne den Zeilenvorschub und Wagenrücklauf zu betätigen.\n\n\
  ECHOSERR Nachricht"

STRING_ECHO_HELP4, "Zeigt Meldungen an oder schaltet die Befehlsanzeige ein ""ON"" oder aus ""OFF"".\n\n\
  ECHO [ON | OFF]\n\
  ECHO [Nachricht]\n\
  ECHO.             gibt eine Leerzeile aus\n\n\
ECHO ohne Parameter zeigt die aktuelle Einstellung der Befehlsanzeige an."

STRING_ECHO_HELP5, "ECHO ist %s\n"

STRING_EXIT_HELP, "Beendet den Befehlsinterpreter CMD.EXE oder die aktuelle Batchdatei.\n\nEXIT"

STRING_FOR_HELP1, "Führt einen Befehl für jede einzelne Datei für einen Satz von Dateien aus.\n\n\
FOR %Variable IN (Satz) DO Befehl [Parameter]\n\n\
  %variable  Ein ersetzbarer Parameter bestehend aus einem einzelnen\n\
              Buchstaben.\n\
  (Satz)     Ein Satz von mindestens einer Datei. Platzhalter sind zulässig.\n\
  Befehl    Befehl, der für jede Datei ausgeführt werden soll.\n\
  Parameter Parameter und Optionen für den angegebenen Befehl.\n\n\
Um den FOR-Befehl in einem Batchprogramm zu verwenden, geben Sie %%Variable\n\
statt %Variable an."

STRING_FREE_HELP1, "\nVolume in Laufwerk %s ist %-11s\n\
 Volume-Seriennummer: %s\n\
  %16s bytes Speicherkapazität\n\
  %16s bytes belegter Speicher\n\
  %16s bytes freier Speicher\n"

STRING_FREE_HELP2, "Zeigt die Volumesinformationen an.\n\nFREE [Laufwerk: ...]"

STRING_IF_HELP1, "Verarbeitet Ausdrücke in einer Batchdatei abhängig von Bedingungen.\n\n\
  IF [NOT] ERRORLEVEL Nummer Befehl\n\
  IF [NOT] variable1==variable2 Befehl\n\
  IF [NOT] EXIST Dateiname Befehl\n\
  IF [NOT] DEFINED variable Befehl\n\n\
NOT               Befehl wird nur dann ausgeführt, wenn die Bedingung nicht\n\
                  erfüllt wird\n\
ERRORLEVEL number Bedingung ist erfüllt, wenn das zuletzt ausgeführte\n\
                  Programm einen Code größer oder gleich der Nummer zurückgibt.\n\
command           Gibt den Befehl an, der bei erfüllter Bedingung ausgeführt\n\
                  werden soll.\n\
variable1==variable2\n\
                  Bedingung ist erfüllt, falls die Zeichenfolgen gleich sind.\n\
EXIST Dateiname   Bedingung ist erfüllt, wenn die angegebene Datei existiert.\n\
DEFINED variable  Bedingung ist erfüllt, wenn die angegebene Datei definiert\n\
                  wurde."

STRING_GOTO_HELP1,  "Setzt die Ausführung eines Batchprogramms an einer Marke fort.\n\n\
GOTO Marke\n\n\
  Marke  Definiert eine Zeichenfolge als Marke in einem Batchprogramm.\n\n\
Marken stehen am Zeilenanfang mit einem vorangestellten Doppelpunkt."

STRING_LABEL_HELP1, "Erstellt, ändert oder löscht die Bezeichnung eines Volumes.\n\nLABEL [Laufwerk:][label]"

STRING_LABEL_HELP2, "Datenträger im Laufwerk %c: ist %s\n"
STRING_LABEL_HELP3, "Datenträger im Laufwerk %c: hat keine Bezeichnung\n"
STRING_LABEL_HELP4, "Datenträger-Seriennummer: %04X-%04X\n"
STRING_LABEL_HELP5, "Laufwerksbezeichnung (max. 11 Zeichen, ENTER für keine)? "

STRING_LOCALE_HELP1, "Aktuelle Zeit: "

STRING_MKDIR_HELP,   "Erzeugt ein Verzeichnis.\n\n\
MKDIR [Laufwerk:]Pfad\nMD [Laufwerk:]Pfad"

STRING_MEMMORY_HELP1, "Zeigt die Größe des Systemspeicher an.\n\nMEMORY"

STRING_MEMMORY_HELP2, "\n  %12s%% Speicher geladen.\n\n\
  %13s bytes RAM (insgesamt)\n\
  %13s bytes verfügbarer RAM\n\n\
  %13s bytes Auslagerungsdatei (insgesamt)\n\
  %13s bytes verfügbare Auslagerungsdatei\n\n\
  %13s bytes Virtueller Speicher (insgesamt)\n\
  %13s bytes verfügbarer Virtueller Speicher\n"

STRING_MISC_HELP1, "Drücken Sie eine beliebige Taste . . .\n"

STRING_MOVE_HELP1, "Überschreiben %s (Ja/Nein/Alle)? "

STRING_MOVE_HELP2, "Verschiebt Dateien und benennt Dateien sowie Verzeichnisse um.\n\n\
Um eine oder mehrere Dateien zu verschieben:\n\
MOVE [/N][Laufwerk:][Pfad]Dateiname1[,...] Ziel\n\n\
Um ein Verzeichnis umzubenennen:\n\
MOVE [/N][Laufwerk:][Pfad]Verzeichnis1 Verzeichnis2\n\n\
  [Laufwerk:][Pfad]Datei1  Bezeichnet den Pfad und den Namen der zu\n\
                           verschiebenden Datei(en).\n\
  /N                 Nichts. Tut alles ausser Dateien/Verzeichnisse verschieben.\n\n\
Derzeitige Einschränkung:\n\
Es ist noch nicht möglich Objekte über die Laufwerksgrenzen hinaus zu verschieben.\n"

STRING_MSGBOX_HELP, "Zeigt ein Fenster und wartet auf eine Eingabe vom Benutzer.\n\n\
MSGBOX type ['title'] prompt\n\n\
type          Button anzeigen\n\
              mögliche Werte sind: OK, OKCANCEL,\n\
              YESNO, YESNOCANCEL\n\
title         Titel des Fensters\n\
prompt        Text der in dem Fenster angezeigt wird\n\n\n\
ERRORLEVEL is set according the button pressed:\n\n\
YES  :  10    |  NO      :  11\n\
OK   :  10    |  CANCEL  :  12\n"

STRING_PATH_HELP1, "Legt den Suchpfad für ausführbare Dateien fest oder zeigt diesen an.\n\n\
PATH [[Laufwerk:]Pfad[;...]]\nPATH ;\n\n\
  PATH ;    Löscht den Suchpfad und lässt CMD.EXE nur in dem aktuellen\n\
            Verzeichnis suchen.\n\
  PATH      Ohne Parameter zeigt den aktuellen Pfad an.\n"

STRING_PROMPT_HELP1, "Ändert die Eingabeaufforderung.\n\n\
PROMPT [Text]\n\n\
  Text    Bezeichnet die neue Eingabeaufforderung.\n\n\
Sie kann aus normalen Zeichen und folgenden Sonderzeichen bestehen:\n\n\
  $A   & (Kaufmännisches Und)\n\
  $B   | (Verkettungszeichen oder pipe)\n\
  $C   ( (Klammer auf)\n\
  $D   Aktuelles Datum\n\
  $E   Escapezeichen (ASCII-Code 27)\n\
  $F   ) (Klammer zu)\n\
  $G   > (Größer-als-Zeichen)\n\
  $H   Rückschritt (löscht vorangehendes Zeichen)\n\
  $L   < (Kleiner-als-Zeichen)\n\
  $N   Aktuelles Laufwerk\n\
  $P   Aktuelles Laufwerk und Pfad\n\
  $Q   = (Gleichheitszeichen)\n\
  $T   Aktuelle Zeit\n\
  $V   Betriebssystem-Versionsnummer\n\
  $_   Wagenrücklauf und Zeilenvorschub\n\
  $$   $ (Dollarzeichen)"

STRING_PAUSE_HELP1, "Hält die Ausführung einer Batchdatei an und zeigt folgende Meldung oder eine benutzerdefinierte Nachricht an:\n\
'Drücken Sie eine beliebige Taste . . .'.\n\n\
PAUSE [message]"

STRING_PROMPT_HELP2, "  $+   Zeigt die aktuelle Tiefe des Verzeichnis-Stacks an"

STRING_PROMPT_HELP3, "\n  'PROMPT'   setzt die Prompt auf die Standardwerte zurück."

STRING_REM_HELP, "Leitet Kommentare in einer Batchdatei ein.\n\nREM [Kommentar]"

STRING_RMDIR_HELP,   "Löscht ein Verzeichnis.\n\n\
RMDIR [Laufwerk:]Pfad\nRD [Laufwerk:]Pfad"

STRING_REN_HELP1, "Benennt Dateien und Verzeichnisse um.\n\n\
RENAME [/E /N /P /Q /S /T] alter_Name ... neuer_Name\n\
REN [/E /N /P /Q /S /T] alter_Name ... neuer_Name\n\n\
  /E    keine Fehlermeldung.\n\
  /N    Nichts.\n\
  /P    Wartet vor jedem Umbennen-Vorgang auf eine Benutzereingabe\n\
        (Noch nicht implementiert!)\n\
  /Q    Beenden.\n\
  /S    benennt Unterverzeichnisse um.\n\
  /T    Zeigt die Anzahl der umbenannten Dateien an.\n\n\
Nutzen Sie den 'move' Befehl falls Sie Objekte verschieben wollen.\n"

STRING_REN_HELP2, "    %lu Datei umbennant\n"

STRING_REN_HELP3, "    %lu Dateien umbennant\n"

STRING_SHIFT_HELP, "Verändert die Position ersetzbarer Parameter in einem Batchprogramm.\n\n\
SHIFT [DOWN]"

STRING_SCREEN_HELP, "Bewegt den Cursor und optional die Ausgabe\n\n\
SCREEN Reihe Spalte [Text]\n\n\
  Reihe         Reihe wohin der Curser bewegt werden soll\n\
  Spalte        Spalte wohin der Curser bewegt werden soll"

STRING_SET_HELP, "Setzt oder löscht Umgebungsvariablen für CMD.EXE oder zeigt diese an.\n\n\
SET [variable[=][Zeichenfolge]]\n\n\
  Variable     Bezeichnet den Namen der Umgebungsvariablen.\n\
  Zeichenfolge Eine Zeichenfolge, die der Variable zugewiesen werden soll.\n\n\
Der Befehl SET ohne Parameter zeigt die aktuellen Umgebungsvariablen an.\n"

STRING_START_HELP1, "Startet einen Befehl.\n\n\
START Befehl\n\n\
  Befehl     Befehl welcher ausgeführt werden soll\n\n\
Achtung: Derzeit werden alle Befehle asynchron ausgeführt.\n"

STRING_TITLE_HELP, "Legt den Fenstertitel für das Eingabeaufforderungsfenster fest.\n\n\
TITLE [string]\n\n\
  Zeichenfolge      Bezeichnet den Titel des Eingabeaufforderungsfensters."

STRING_TIME_HELP1, "Stellt die Systemzeit oder zeigt sie an.\n\n\
TIME [/T][Zeit]\n\n\
  /T    nur anzeigen\n\n\
TIME ohne Parameter zeigt die aktuelle Systemzeit an und fragt nach der neuen\n\
Uhrzeit. Drücken Sie die EINGABETASTE, um die bisherige Zeit beizubehalten."

STRING_TIME_HELP2, "Geben Sie eine neue Zeit ein: "

STRING_TIMER_HELP1, "Verstrichene %d Millisekunden\n"

STRING_TIMER_HELP2, "Verstrichene %02d%c%02d%c%02d%c%02d\n"

STRING_TIMER_HELP3, "Erlaubt die Benutzung von 10 Stopuhren.\n\n\
TIMER  [ON|OFF] [/S] [/n] [/Fn]\n\n\
  ON          schaltet die Stopuhr ein\n\
  OFF         schaltet die Stopuhr aus\n\
  /S          Teilzeit. Sende die Stopuhr Teil-\n\
              zeit, ohne den Wert zu verändern\n\
  /n          Anzahl der Stopuhren\n\
              gültige Stopuhren sind 0 bis 9\n\
              Standardwert = 1\n\
  /Fn         Ausgabeformatierung\n\
              n kann 0 oder 1 sein:\n\
                    0    Millisekunden\n\
                    1    hh%cmm%css%cdd\n\n\
Falls nicht ON, OFF oder /S angegeben wurde wird\n\
die Stopuhr ausgeschalten.\n\n"

STRING_TYPE_HELP1, "Zeigt den Inhalt einer oder mehrerer Textdateien an.\n\n\
TYPE [Laufwerk:][Pfad]Dateiname"

STRING_VERIFY_HELP1, "This command is just a dummy!!\n\
Legt fest, ob überwacht werden soll, ob Dateien korrekt auf den Datenträger\n\
geschrieben werden.\n\n\
VERIFY [ON | OFF]\n\n\
Der Befehl VERIFY ohne Parameter zeigt die aktuelle Einstellung von VERIFY an."

STRING_VERIFY_HELP2, "VERIFY ist %s.\n"

STRING_VERIFY_HELP3, "VERIFY kann nur ON oder OFF sein"

STRING_VERSION_HELP1, "Zeigt Shell Informationen an.\n\n\
VER [/C][/R][/W]\n\n\
  /C  Zeigt die Credits an.\n\
  /R  Zeigt die Weitergabeinformationen an.\n\
  /W  Zeigt die Garantieerklärung an."

STRING_VERSION_HELP2, " kommt mit absolut keiner Garantie; für nähere\n\
 Informationen darüber tippen Sie: `ver /W'. Das ist eine freie Software,\n\
 und Sie können die Software unter bestimmten Bedingungen weiter\n\
 vertreiben; tippen Sie `ver /R' für nähere Informationen darüber.\n\
 Tippen Sie `ver /C' um die Mitwirkenden (Credits) aufzulisten."

STRING_VERSION_HELP3, "\n This program is distributed in the hope that it will be useful,\n\
 but WITHOUT ANY WARRANTY; without even the implied warranty of\n\
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the\n\
 GNU General Public License for more details."

STRING_VERSION_HELP4, "\n This program is free software; you can redistribute it and/or modify\n\
 it under the terms of the GNU General Public License as published by\n\
 the Free Software Foundation; either version 2 of the License, or\n\
 (at your option) any later version."

STRING_VERSION_HELP5, "\nSenden Sie Bug-Reports an <ros-dev@reactos.org>.\n\
Updates sind auf der offiziellen ReactOS-Webseite verfügbar:\n\
http://www.reactos.org"

STRING_VERSION_HELP6, "\nFreeDOS Version programmiert von:\n"

STRING_VERSION_HELP7, "\nReactOS Version programmiert von:\n"

STRING_VOL_HELP1, " Datenträger im Laufwerk %c ist %s\n"
STRING_VOL_HELP2, " Datenträger im Laufwerk %c hat keine Bezeichnung.\n"
STRING_VOL_HELP3, " Datenträger-Seriennummer: %04X-%04X\n"
STRING_VOL_HELP4, "Zeigt die Laufwerksvolumebezeichnung und die Seriennummer an, falls diese existieren.\n\nVOL [drive:]"

STRING_WINDOW_HELP1, "change console window aspect\n\n\
WINDOW [/POS[=]left,top,width,heigth]\n\
              [MIN|MAX|RESTORE] ['title']\n\n\
/POS          Gibt Position und Größe des Fenster an\n\
MIN           minimieren das Fenster\n\
MAX           maximieren das Fenster\n\
RESTORE       stellt das Fenster wieder her"

STRING_WINDOW_HELP2, "change console window aspect\n\n\
ACTIVATE 'window' [/POS[=]left,top,width,heigth]\n\
              [MIN|MAX|RESTORE] ['title']\n\n\
window        tile of window on wich perform actions\n\
/POS          specify window placement and dimensions\n\
MIN           minimieren das Fenster\n\
MAX           maximieren das Fenster\n\
RESTORE       stellt das Fenster wieder her\n\
title         neuer Titel"


STRING_HELP1, "Übersicht aller verfügbaren Befehle und deren Kurzbeschreibungen\n\n\
  Befehl /?     Um nähere Informationen zu einem bestimmten Befehl\n\
                zu erhalten.\n\n\
?        Listet alle Befehle auf (ohne Erklärung).\n\
ALIAS    Setzt, löscht oder zeigt den Alias.\n\
ATTRIB   Zeigt Dateiattribute an bzw. ändert sie.\n\
BEEP     Gibt einen beep-Ton durch den PC-Speaker aus.\n\
CALL     Ruft eine Batchdatei aus einer anderen Batchdatei heraus auf.\n\
CD       Zeigt den Namen des aktuellen Verzeichnisses an bzw. ändert diesen.\n\
CHCP     Zeigt die aktive Codepagenummer an bzw. legt diese fest.\n\
CHOICE   Wartet auf den Benutzer, welcher aus einer Auswahl eine Option\n\
         wählen muss.\n\
CLS      Löscht den Bildschirminhalt.\n\
CMD      Startet eine neue Instanz des ReactOS-Befehlsinterpreters.\n\
COLOR    Legt die Hintergrund- und Vordergrundfarben für die Konsole fest.\n\
COPY     Kopiert eine oder mehrere Dateien an eine andere Stelle.\n\
DATE     Zeigt das Datum an bzw. legt dieses fest.\n\
DELETE   Löscht eine oder mehrere Dateien.\n\
DIR      Listet die Dateien und Unterverzeichnisse eines Verzeichnisses auf.\n\
ECHO     Zeigt Meldungen an bzw. schaltet die Befehlsanzeige ein oder aus.\n\
ERASE    Löscht eine oder mehrere Dateien.\n\
EXIT     Beendet das Programm CMD.EXE (Befehlsinterpreter).\n\
FOR      Führt einen angegebenen Befehl für jede Datei in einem Dateiensatz\n\
         aus.\n\
FREE     Zeigt den (freien) Speicherplatz an.\n\
GOTO     Setzt den ReactOS-Befehlsinterpreter auf eine markierte Zeile in\n\
         einem Batchprogramm.\n\
HELP     Zeigt Hilfeinformationen zu ReactOS-Befehlen an.\n\
HISTORY  Listet alle Befehle auf welche sich im Speicher befinden.\n\
IF       Verarbeitet Ausdrücke in einer Batchdatei abhängig von Bedingungen.\n\
LABEL    Erstellt, ändert oder löscht die Bezeichnung eines Volumes.\n\
MD       Erstellt ein Verzeichnis.\n\
MKDIR    Erstellt ein Verzeichnis.\n\
MOVE     Verschiebt eine oder mehrere Dateien von einem Verzeichnis in\n\
         ein anderes.\n\
PATH     Legt den Suchpfad für ausführbare Dateien fest oder zeigt diesen an.\n\
PAUSE    Hält die Ausführung einer Batchdatei an und zeigt eine Meldung an.\n\
POPD     Wechselt zu dem Verzeichnis, das durch PUSHD gespeichert wurde.\n\
PROMPT   Ändert die Eingabeaufforderung.\n\
PUSHD    Speichert das aktuelle Verzeichnis, und wechselt dann zu einem\n\
         anderen Verzeichnis.\n\
RD       Entfernt ein Verzeichnis.\n\
REM      Leitet Kommentare in einer Batchdatei.\n\
REN      Benennt eine Datei bzw. Dateien um.\n\
RENAME   Bennent eine Datei bzw. Dateien um.\n\
RMDIR    Löscht ein Verzeichnis.\n\
SCREEN   Bewegt den Cursor und optional die Ausgabe.\n\
SET      Setzt oder löscht die Umgebungsvariablen bzw. zeigt sie an.\n\
SHIFT    Verändert die Position ersetzbarer Parameter in Batchdateien.\n"
STRING_HELP2, "START    Startet ein eigenes Fenster, um ein bestimmtes Programm oder einen\n\
         Befehl auszuführen.\n\
TIME     Zeigt die Systemzeit an bzw. legt sie fest.\n\
TIMER    Erlaubt die Benutzung von bis zu 10 Stopuhren\n\
TITLE    Legt den Fenstertitel für das Eingabeaufforderungsfenster fest.\n\
TYPE     Zeigt den Inhalt einer Textdatei an.\n\
VER      Zeigt die ReactOS-Version an.\n\
VERIFY   Legt fest, ob überwacht werden soll, ob Dateien korrekt auf den\n\
         Datenträger geschrieben werden.\n\
VOL      Zeigt die Datenträgervolumebezeichnung und die Seriennummer an.\n"


STRING_CHOICE_OPTION,         "JN"
STRING_COPY_OPTION,           "JNA"


STRING_ALIAS_ERROR,          "Die Befehlszeile ist zu lange nach der Alias-Erweiterung!\n"
STRING_BATCH_ERROR,          "Es trat ein Fehler auf, während die Batch-Datei geöffnet wurde.\n"
STRING_CHCP_ERROR1,          "Aktive Code-Page: %u\n"
STRING_CHCP_ERROR4,          "ungültige Code-Page\n"
STRING_CHOICE_ERROR,         "Ungültige Option. Erwartetes Format: /C[:]options"
STRING_CHOICE_ERROR_TXT,     "Ungültige Option. Erwartetes Format: /T[:]c,nn"
STRING_CHOICE_ERROR_OPTION,  "Ungültige Option: %s"
STRING_MD_ERROR,             "Unterverzeichnis oder Datei existiert bereits.\n"
STRING_CMD_ERROR1,           "Die Eingaben konnten nicht umgeleitet werden (von der Datei) %s\n"
STRING_CMD_ERROR2,           "Ein Fehler ist beim Erstellen der temporären Datei für Pipedaten aufgetreten\n"
STRING_CMD_ERROR3,           "%s kann nicht in die Datei umgeleitet werden \n"
STRING_CMD_ERROR4,           "Running %s...\n"
STRING_CMD_ERROR5,           "Running cmdexit.bat...\n"
STRING_COLOR_ERROR1,         "Fehler: Hinter- und Vordergrund können nicht die selben Farben haben!"
STRING_COLOR_ERROR2,         "Fehler in der Farb-Angabe"
STRING_COLOR_ERROR3,         "Farbe %x\n"
STRING_COLOR_ERROR4,         "Fehler: Die selben Farben!"
STRING_CONSOLE_ERROR,        "Unbekannter Fehler: %d\n"
STRING_COPY_ERROR1,          "Fehler: Quelle kann nicht geöffnet werden - %s!\n"
STRING_COPY_ERROR2,          "Fehler: Kann nicht über sich selbst kopiert werden.\n"
STRING_COPY_ERROR3,          "Fehler: Schreibziel!\n"
STRING_COPY_ERROR4,          "Fehler: Noch nicht implementiert!\n"
STRING_DATE_ERROR,           "Ungültiges Datum."
STRING_DEL_ERROR5,           "Die Datei %s wird gelöscht! "
STRING_DEL_ERROR6,           "Sind Sie sicher (J/N)?"
STRING_DEL_ERROR7,           "Löschen: %s\n"
STRING_ERROR_ERROR1,         "Unbekannter Fehler! Fehlernummer: 0x%lx\n"
STRING_ERROR_ERROR2,         "Syntax-Fehler"
STRING_FOR_ERROR1,           "'in' fehlt für ein Statement."
STRING_FOR_ERROR2,           "Klammern nicht gefunden."
STRING_FOR_ERROR3,           "'do' fehlt."
STRING_FOR_ERROR4,           "kein Befehl nach 'do'."
STRING_FREE_ERROR1,          "Ungültiges Laufwerk"
STRING_FREE_ERROR2,          "keine Bezeichnung"
STRING_GOTO_ERROR1,          "Keine Sprungmarke für GOTO gesetzt"
STRING_GOTO_ERROR2,          "Sprungmarke '%s' wurde nicht gefunden\n"

STRING_MOVE_ERROR1,          "[OK]\n"
STRING_MOVE_ERROR2,          "[FEHLER]\n"

STRING_REN_ERROR1,           "MoveFile() ist fehlgeschlagen. Fehler: %lu\n"

STRING_START_ERROR1,         "Derzeit noch kein Batch Support!"

STRING_TIME_ERROR1,          "Ungültige Zeit."

STRING_TYPE_ERROR1,          "Ungültige Option '/%s'\n"

STRING_WINDOW_ERROR1,        "Fenster nicht gefunden"


STRING_ERROR_PARAMETERF_ERROR,     "Parameterformat ist nicht korrekt - %c\n"
STRING_ERROR_INVALID_SWITCH,       "Ungültiger Parameter - /%c\n"
STRING_ERROR_TOO_MANY_PARAMETERS,  "Zu viele Parameter - %s\n"
STRING_ERROR_PATH_NOT_FOUND,       "Pfad wurde nicht gefunden\n"
STRING_ERROR_FILE_NOT_FOUND,       "Datei wurde nicht gefunden\n"
STRING_ERROR_REQ_PARAM_MISSING,    "Benötigter Parameter fehlt\n"
STRING_ERROR_INVALID_DRIVE,        "Ungültige Laufwerksangaben\n"
STRING_ERROR_INVALID_PARAM_FORMAT, "Ungültiges Parameterformat - %s\n"
STRING_ERROR_BADCOMMAND,           "Ungültiger Befehl oder Dateiname\n"
STRING_ERROR_OUT_OF_MEMORY,        "Fehler: Zu wenig Speicher verfügbar.\n"
STRING_ERROR_CANNOTPIPE,           "Fehler: Cannot pipe! Temporäre Datei kann nicht geöffnet werden!\n"
STRING_ERROR_D_PAUSEMSG,           "Drücken Sie eine beliebige Taste . . ."
STRING_ERROR_DRIVER_NOT_READY,     "Laufwerk ist nicht bereit"

STRING_PATH_ERROR,                 "CMD: Nicht in environment '%s'\n"

STRING_CMD_SHELLINFO,              "\nReactOS Befehlszeilen Interpreter"
STRING_VERSION_RUNVER,             " läuft in %s"
STRING_COPY_FILE ,                 "        %d Datei(en) kopiert\n"
STRING_DELETE_WIPE,                "gewiped"
STRING_FOR_ERROR,                  "ungültige Variablenangabe."
STRING_SCREEN_COL,                 "ungültige Spalten-Angabe"
STRING_SCREEN_ROW,                 "ungültige Zeilen-Angabe"
STRING_TIMER_TIME                  "Timer %d ist %s: "
}
