/*
 * PROJECT:     Command-line interface
 * LICENSE:     GPL - See COPYING in the top level directory
 * FILE:        base/shell/cmd/lang/uk-UA.rc
 * PURPOSE:     Ukraianian Language File for Command-line interface
 * TRANSLATORS: Artem Reznikov, Igor Paliychuk
 */

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    STRING_ASSOC_HELP "Змiна асоцiацiй файлових розширень.\n\n\
assoc [.рош[=[ФайлТип]]]\n\
\n\
assoc (друк всiх асоцiацiй)\n\
assoc .рош (друк вiдповiдної асоцiацiї)\n\
assoc .рош= (видалення вiдповiдної асоцiацiї)\n\
assoc .рош=ФайлТип (додати нову асоцiацiю)\n"
    STRING_ATTRIB_HELP "Відображення або зміна атрибутів файлу.\n\n\
ATTRIB [+R | -R] [+A | -A] [+S | -S] [+H | -H] файл ...\n\
       [/S [/D]]\n\n\
  +   Встановлення атрибуту\n\
  -   Зняття атрибуту\n\
  R   Атрибут файлу ""Лише читання""\n\
  A   Атрибут файлу ""Архiвний""\n\
  S   Атрибут файлу ""Системний""\n\
  H   Атрибут файлу ""Прихований""\n\
  /S  Обробка файлiв зi вказаними iменами в поточнiй тецi\n\
      i у всіх її пiдтеках\n\
  /D  Обробка також i тек\n\n\
Введiть ATTRIB без параметра, щоб вивести атрибути всiх файлiв.\n"
    STRING_ALIAS_HELP "Встановлення, видалення або показ псевдонiмiв.\n\n\
ALIAS [псевдонiм=[команда]]\n\n\
  псевдонiм    Iм'я псевдонiма.\n\
  команда      Текст, що пiдставляється замiсть псевдонiма.\n\n\
Виведення списку всiх псевдонiмiв:\n\
  ALIAS\n\n\
Встановлення або змiна iснуючого псевдонiма:\n\
  ALIAS da=dir a:\n\n\
Видалення псевдонiма зi списку:\n\
  ALIAS da="
    STRING_BEEP_HELP "Звуковий сигнал динамiка.\n\nBEEP\n"
    STRING_CALL_HELP "Виклик однiєї пакетної програми з iншої.\n\n\
CALL [диск:][шлях]iм'я_файла [параметри]\n\n\
  параметри  Набiр параметрiв командного рядка, необхiдних для пакетного\n\
             файлу."
    STRING_CD_HELP "Виведення iменi або змiна поточного каталогу\n\n\
CHDIR [/D][диск:][шлях]\n\
CHDIR[..|.]\n\
CD [/D][диск:][шлях]\n\
CD[..|.]\n\n\
  ..   батькiвський каталог\n\
  .    поточний каталог\n\
  /D   Одночасна змiна поточного диску та каталогу.\n\n\
Команда CD диск: вiдображає iм'я поточного каталогу вказаного диску.\n\
Команда CD без параметрiв вiдображає iмена поточних диску та каталогу.\n"
    STRING_CHCP_HELP "Вивiд або змiна поточного номера кодової сторiнки.\n\n\
CHCP [nnn]\n\n\
  nnn   Задає номер кодової сторiнки.\n\n\
Команда CHCP без параметра виводить поточний номер кодової сторiнки.\n"
    STRING_CHOICE_HELP "Очiкує, поки користувач не обере один з вказаних в списку символiв.\n\n\
CHOICE  [/C[:]список_символiв][/N][/S][/T[:]c,nn][текст]\n\n\
  /C[:]список_символiв  Задає допустимi символи. По замовчуванню це YN.\n\
  /N            Не виводити список символiв i ? пiсля пiдказки.\n\
  /S            Трактувати символи як чутливi до регiстру.\n\
  /T[:]c,nn     По замовчуванню вибір c пiсля проминання nn секунд.\n\
  текст         пiдказка.\n\n\
ERRORLEVEL встановлюється рiвним номеру вибраного символу.\n"
    STRING_CLS_HELP "Очищення екрану.\n\nCLS\n"
    STRING_CMD_HELP1 "\nДоступнi внутрiшнi команди:\n"
    STRING_CMD_HELP2 "\nДоступнi можливостi:"
    STRING_CMD_HELP3 "  [псевдонiми]"
    STRING_CMD_HELP4 "  [iсторiя]"
    STRING_CMD_HELP5 "  [заваршення iмен файлiв unix]"
    STRING_CMD_HELP6 "  [стек директорiй]"
    STRING_CMD_HELP7 "  [перенаправлення та piping]"
    STRING_CMD_HELP8 "Запуск нової копiї iнтерпретатора команд ReactOS.\n\n\
CMD [/[C|K] команда][/P][/Q][/T:кл]\n\n\
  /C команда  Виконання вказаної команди з подальшим завершенням.\n\
  /K команда  Виконання вказаної команди без подальшого завершення.\n\
  /P          CMD стає перманентним i запускає autoexec.bat\n\
              (процес не може бути завершений).\n\
  /T:кл       Вибiр кольору тексту/тла (детальнiше див. COLOR /?).\n"
    STRING_COLOR_HELP1 "Встановлення кольорiв по замовчуванню для тексту та тла.\n\n\
COLOR [attr [/-F]] \n\n\
  attr        Атрибути кольорiв для текстових вiкон\n\
  /-F         Не заливати незаповненi мiсця кольором\n\n\
Iснує три способи задання кольорiв:\n\
1) за назвою на англiйськiй мовi  (потрiбно лише першi три букви назви)\n\
2) в виглядi десяткових чисел (decimal on decimal)\n\
3) двi шiснадцятковi цифри\n\n\
Таблиця кольорiв:\n\
дес  шіс  назва      дес  шіс  назва\n\
0    0    Чорний      8   8    Сiрий\n\
1    1    Синiй       9   9    Свiтло-синiй\n\
2    2    Зелений    10   A    Свiтло-зелений\n\
3    3    Блакитний  11   B    Свiтло-блакитний\n\
4    4    Червоний   12   C    Свiтло-червоний\n\
5    5    Малиновий  13   D    Свiтло-малиновий\n\
6    6    Жовтий     14   E    Свiтло-жовтий\n\
7    7    Бiлий      15   F    Яскраво-бiлий\n"
    STRING_COPY_HELP1 "Перезаписати %s (Yes/No/All)? "
    STRING_COPY_HELP2 "Копiювання одного або декількох файлiв в iнше мiсце.\n\n\
COPY [/V][/Y|/-Y][/A|/B] джерело [/A|/B]\n\
     [+ джерело [/A|/B] [+ ...]] [результат [/A|/B]]\n\n\
  джерело      Iмена одного або декiлькох файлiв, що будуть скопійованi.\n\
  /A           Файл є текстовим файлом ASCII.\n\
  /B           Файл є двiйковим файлом.\n\
  результат    Каталог та/або iм'я для кiнцевих файлiв.\n\
  /V           Перевiрка правильностi копiювання файлiв.\n\
  /Y           Придавлення запиту пiдтвердження на перезапис iснуючого\n\
               результуючого файлу.\n\
  /-Y          Обов'язковий запит пiдтвердження на перезапис iснуючого\n\
               результуючого файлу.\n\n\
Ключ /Y можна встановити через змiнну середовища COPYCMD.\n\
...\n"
    STRING_DATE_HELP1 "\nВведiть нову дату (mm%cdd%cyyyy): "
    STRING_DATE_HELP2 "\nВведiть нову дату (dd%cmm%cyyyy): "
    STRING_DATE_HELP3 "\nВведiть нову дату (yyyy%cmm%cdd): "
    STRING_DATE_HELP4 "Вiдображення чи змiна дати.\n\n\
DATE [/T][дата]\n\n\
  /T    лише вiдображення\n\n\
Команда DATE без параматрiв вiдображає поточну дату i запитує ввід\n\
нової дати. Для збереження поточної дати натис ENTER.\n"
    STRING_DEL_HELP1 "Видалення одного або декiлькох файлiв.\n\n\
DEL [/N /P /T /Q /S /W /Y /Z /A[[:]атрибути]] iмена_файлiв ...\n\
DELETE [/N /P /T /Q /S /W /Y /Z /A[[:]атрибути]] iмена_файлiв ...\n\
ERASE [/N /P /T /Q /S /W /Y /Z /A[[:]атрибути]] iмена_файлiв ...\n\n\
      iмена_файлів  Iмена одного або декiлькох файлiв.\n\n\
  /N    Не виконувати операцiю видалення безпосередньо.\n\
  /P    Запит на пiдтвердження перед видаленням кожного файлу.\n\
  /T    Вiдображає кiлькiсть видалених файлiв i звiльненого\n\
        дискового простору.\n\
  /Q    Вимкнення запиту на пiдтвердження при видаленнi файлiв.\n\
  /W    Перезаписати файл випадковими даними перед видаленням.\n\
  /Y    Вимкнення запиту на пiдтвердження при видаленнi файлiв\n\
        навiть для маски *.*.\n\
  /F    Примусове видалення прихованих, системних та файлiв\n\
        доступних лише для читання.\n\
  /S    Видаляти файл з всiх пiддиректорiй\n\
  /A    Вiдбiр файлiв для видалення за властивостями.\n\
        властивостi\n\
        R     Доступнi лише для читання\n\
        S     Системнi файли\n\
        A     Файли для архiвування\n\
        H     Прихованi файли\n\
        Префiкс ""-"" означає НЕ\n"
    STRING_DEL_HELP2 "Всi файли в каталозi будуть видалннi!\nВи впевненi (Y/N)?"
    STRING_DEL_HELP3 "    %lu файл видалено\n"
    STRING_DEL_HELP4 "    %lu файлiв видалено\n"
    STRING_DELAY_HELP "пауза на n секунд чи мiлiсекунд\n\
DELAY [/m]n\n\n\
  /m          вказує, що n це мiлiсекунди\n\
              iнакше n це кiлькiсть секунд\n"
    STRING_DIR_HELP1 "DIR [диск:][шлях][iм'я_файлу] [/A[[:]атрибути]] [/B] [/C] [/D] [/L] [/N]\n\
  [/O[[:]порядок]] [/P] [/Q] [/R] [/S] [/T[[:]час]] [/W] [/X] [/4]\n\n\
  [диск:][шлях][iм'я_файлу]\n\
              Визначає диск, директорію, та/чи файли для їх виведення в списку.\n\n\
  /A          Вiдображення файлiв з вказаними атрибутами.\n\
  атрибути     D  Директорiї                R  Файли, доступнi лише для чтання\n\
               H  Прихованi файли           A  Файли, готовi для архiвування\n\
               S  Системнi файли            Префiкс ""-"" означає НЕ\n\
  /B          Виведення лише iмен файлiв.\n\
  /C          Застосування роздільника груп розрядів для виводу розмірів файлів\n\
              (по замовчуваннi).  Для вимкнення цього режиму використайте ключ /-C.\n\
  /D          Виведення списку в декiлька стовпчикiв з сортуванням по стовпчиках.\n\
  /L          Використання нижнього регiстру.\n\
  /N          Вiдображення iмен файлiв у крайньому правому стовпчику.\n\
  /O          Сортування списку вiдображених файлiв.\n\
  порядок      N  За iм'ям (по алфавiту)        S  За розмiром (спершу меншi)\n\
               E  За розширенням (по алфавiту)  D  За датою/часом (спершу старiшi)\n\
               G  Почати список з каталогiв     Префiкс ""-"" для зворотнього порядку\n\
  /P          Пауза пiсля кожного заповнення екрану.\n\
  /Q          Вiдображення даних про власника файлу.\n\
  /R          Displays alternate data streams of the files.\n\
  /S          Вiдображення файлiв з вказаного каталогу та всiх пiдкаталогiв.\n\
  /T          Вибiр поля часу для вiдображення чи сортування\n\
  час         C  Створення\n\
              A  Останнiй доступ\n\
              W  Остання змiна\n\
  /W          Список на декiлька стовпцiв.\n\
  /X          Вiдображення коротких iмен файлiв, iмена яких не вiдповiдають \n\
              стандарту 8.3.  Формат аналогiчний виводу з ключем /N але короткi\n\
              iмена виводяться спава вiд довгих. Якщо у файла немає короткого\n\
              iм'я, замiсть нього виводяться пробли.\n\
  /4          Вiдображення року в чотиризначному форматi\n\n\
Ключi можуть бути попередньо заданi в змiннiй середовища DIRCMD.  Вiдхилити\n\
попередньо заданi ключi можна префiксом - (дефiс)--наприклад, /-W.\n"
    STRING_DIR_HELP2 " Том в пристрої %c має мiтку %s\n"
    STRING_DIR_HELP3 " Том в пристрої %c не має мiтки.\n"
    STRING_DIR_HELP4 " Серiйний номер тому: %04X-%04X\n"
    STRING_DIR_HELP5 "\n     Всього:\n%16i Файл(iв)% 14s байт\n"
    STRING_DIR_HELP6 "%16i Dir(s)% 15s bytes free\n"
    STRING_DIR_HELP7 "\n Directory of %s\n\n"
    STRING_DIR_HELP8 "%16i Файл(iв)% 14s байт\n"
    STRING_DIRSTACK_HELP1 "Зберiгає поточну директорiю для використання командою POPD, потiм\n\
замiнює її на вказану.\n\n\
PUSHD [path | ..]\n\n\
  path        Вказує директорiю, яку треба зробити поточною\n"
    STRING_DIRSTACK_HELP2 "Змiнює поточну директорiю на ту, яка збережена командою PUSHD.\n\nPOPD"
    STRING_DIRSTACK_HELP3 "Друкує вмiст стеку директорiй.\n\nDIRS"
    STRING_DIRSTACK_HELP4 "Стек директорiй порожнiй"
    STRING_ECHO_HELP1 "Виводить повiдомлення без повернення каретки та переведення рядка.\n\n\
  ECHOS повiдомлення"
    STRING_ECHO_HELP2 "Виводить повiдомлення в стандартний канал виводу помилок.\n\n\
  ECHOERR повiдомлення\n\
  ECHOERR.           друкує порожнiй рядок"
    STRING_ECHO_HELP3 "Друкує повiдомлення в стандартний канал виводу помилок без повернення каретки та переведення рядка.\n\n\
  ECHOSERR повiдомлення"
    STRING_ECHO_HELP4 "Виведення повiдомлення та перемикання режиму вiдображення команд на екранi.\n\n\
  ECHO [ON | OFF]\n\
  ECHO [повiдомлення]\n\
  ECHO.             друкує порожнiй рядок\n\n\
ECHO без параметра виводить поточний режим вiдображення команд."
    STRING_ECHO_HELP5 "ECHO is %s\n"
    STRING_EXIT_HELP "Завершує iнтерпретатор команд.\n\nEXIT [/b] [ExitCode]\n\n\
  /B            Виходить лише з пакетного файлу.  \n\
                Якщо робота йде поза пакетним файлом - вихiд з cmd.exe\n\
  ExitCode      Це значення буде присвоєно ERRORLEVEL при виходi\n"
    STRING_FOR_HELP1 "Запускає вказану команду для кожного файлу з набору файлiв\n\n\
FOR %variable IN (набiр) DO команда [параметри]\n\n\
  %variable  Параметр, що пiдставляється.\n\
  (набiр)    Набiр з одного або декiлькох файлiв. Можна використовувати маски.\n\
  команда    Команда, яку слiд виконати для кожного файлу.\n\
  параметри  Параметри i ключi для вказаної команди.\n\n\
В пакетних програмах для команди FOR використовується %%variable замiсть\n\
%variable.\n"
    STRING_FREE_HELP1 "\nТом диску %s : %-11s\n\
 Серiйний номер: %s\n\
  %16s байт загального дискового простору\n\
  %16s байт зайнято\n\
  %16s байт вiльно\n"
    STRING_FREE_HELP2 "Виводить iнформацiю про том.\n\nFREE [drive: ...]\n"
    STRING_GOTO_HELP1 "Передача управління рядку пакетного файлу, що мiстить мiтку.\n\n\
GOTO мiтка\n\n\
  label  рядок пакетного файлу, визначений як мiтка.\n\n\
Мітка повинна знаходитися в окремому рядку i починатися з двокрапки."
    STRING_IF_HELP1 "Оператор умовного виконання команд у пакетному файлi.\n\n\
  IF [NOT] ERRORLEVEL число команда\n\
  IF [NOT] рядок1==рядок2 команда\n\
  IF [NOT] EXIST iм'я_файлу команда\n\
  IF [NOT] DEFINED змiнна команда\n\n\
NOT               Вказує, що CMD повинен виконати команду, лише якщо\n\
                  умова є хибною\n\
ERRORLEVEL число  Ця умова є iстинною, якщо код, що повернула\n\
                  остання виконана програма не меньше вказаного числа.\n\
команда           Зазначає команду, виконувану при iстинностi умови.\n\
рядок1==рядок2    Ця умова є iстинною, якщо вказанi рядки\n\
                  спiвпадають.\n\
EXIST iм'я_файлу  Умова є iстинною, якщо файл з вказаним iменем iснує.\n\
DEFINED змiнна    Ця умова є iстинною, якщо вказана змiнна\n\
                  задана.\n"
    STRING_LABEL_HELP1 "Вiдображення або змiна мiтки тому.\n\nLABEL [диск:][мiтка]\n"
    STRING_LABEL_HELP2 "Том в пристрої %c: має мiтку %s\n"
    STRING_LABEL_HELP3 "Том в пристрої %c: не має мiтки\n"
    STRING_LABEL_HELP4 "Серiйний номер тому: %04X-%04X\n"
    STRING_LABEL_HELP5 "Мiтка тому (11 букв, ENTER без мiтки)? "
    STRING_LOCALE_HELP1 "Поточний час: "
    STRING_MKDIR_HELP "Створення каталогу.\n\n\
MKDIR [диск:]шлях\nMD [диск:]шлях"
    STRING_MKLINK_HELP "Створення об'єкту-посилання файлової системи.\n\n\
MKLINK [/D | /H | /J] назва_посилання цiль\n\n\
  /D  Вказує, що цiль символчного посилання - це директорiя.\n\
  /H  Створення жорсткого посилання.\n\
  /J  Створення з'єднання директорiй.\n\n\
Якщо не вказано нi /H нi /J , створюється символiчне посилання."
    STRING_MEMMORY_HELP1 "Вiдображення об'єму системної пам'ятi.\n\nMEMORY"
    STRING_MEMMORY_HELP2 "\n  %12s%% пам'ятi використовується.\n\n\
  %13s байт всього фiзичної RAM.\n\
  %13s байт доступно фiзичної RAM.\n\n\
  %13s байт всього в файлi довантаження.\n\
  %13s байт доступно в файлi довантаження.\n\n\
  %13s байт всього вiртуальної пам'ятi.\n\
  %13s байт доступно вiртуальної пам'ятi.\n"
    STRING_MISC_HELP1 "Натиснiть клавiшу для продовження...\n"
    STRING_MOVE_HELP1 "Переписати %s (Yes/No/All)? "
    STRING_MOVE_HELP2 "Перемiщення файлiв i перейменування файлiв i каталогiв.\n\n\
Перемiщення одного та бiльше файлiв:\n\
MOVE [/N][диск:][шлях]iм'я_файлу1[,...] призначення\n\n\
Перейменування каталогу:\n\
MOVE [/N][диск:][шлях]iм'я_каталогу1 iм'я_каталогу2\n\n\
  [диск:][шлях]iм'я_файлу1 Вказує мiсце розташування й iм'я файлу або\n\
                           файлiв якi необхiдно перемiстити.\n\
  /N                    Нiчого. Do everything but move files or directories.\n\n\
Поточнi обмеження:\n\
  - Неможливо переносити файли чи теки мiж рiзними роздiлами.\n"
    STRING_MSGBOX_HELP "показ вiкна з повiдомленням та повернення вiдповдi користувача\n\n\
MSGBOX тип ['заголовок'] пiдказка\n\n\
тип           вiдображені кнопки\n\
              можливi значення: OK, OKCANCEL,\n\
              YESNO, YESNOCANCEL\n\
заголовок     заголовок вiкна з повiдомленням\n\
пiдказка      текст повiдомлення\n\n\n\
ERRORLEVEL встановлюється вiдповдно до натиснутої кнопки:\n\n\
YES  :  10    |  NO      :  11\n\
OK   :  10    |  CANCEL  :  12\n"
    STRING_PATH_HELP1 "Показ або задання шляху пошуку виконуваних файлiв.\n\n\
PATH [[диск:]шлях[;...]]\nPATH ;\n\n\
Команда PATH ; очищає шлях пошуку файлiв та обмежує його\n\
поточним каталогом.\n\
Команда PATH без параметрiв вiдображає поточний шлях пошуку.\n"
    STRING_PROMPT_HELP1 "Змiна запрошення командного рядка.\n\n\
PROMPT [текст]\n\n\
  текст    Нове запрошення командного рядка.\n\n\
Запрошення може складатись з звичайних символiв та наступних кодiв:\n\n\
  $A   & (Амперсанд)\n\
  $B   | (вертикальна риска)\n\
  $C   ( (Лiва кругла дужка)\n\
  $D   Поточна дата\n\
  $E   ESC (символ ASCII з кодом 27)\n\
  $F   ) (Права кругла дужка)\n\
  $G   > (знак більше)\n\
  $H   Backspace (видалення попередьного символу)\n\
  $I   Information line\n\
  $L   < (знак меньше)\n\
  $N   Поточний диск\n\
  $P   Поточний диск та каталог\n\
  $Q   = (знак рiвностi)\n\
  $S   (space)\n\
  $T   Поточний час\n\
  $V   Номер версiї операцiйної системи\n\
  $_   Повернення каретки та переведення рядка\n\
  $$   $ (знак долара)\n"
    STRING_PAUSE_HELP1 "Призупинка обробки пакетного файлу i показ повiдомлення:\n\
'Для продовження натиснiть будь-яку клавiшу...' чи задане повiдомлення.\n\n\
PAUSE [повiдомлення]"
    STRING_PROMPT_HELP2 "  $+   Показує поточну глибину стека каталогiв"
    STRING_PROMPT_HELP3 "\nPROMPT без параметрiв встановлює запрошення командного рядка за замовчуванням."
    STRING_REM_HELP "Стартує рядок коментаря впакетному файлi.\n\nREM [Comment]"
    STRING_RMDIR_HELP "Видалення каталогу.\n\n\
RMDIR [диск:]шлях\nRD [диск:]шлях\n\
/S          Видалення всього дерева всерединi цiлi\n\
/Q          Вимкнення запиту пiдтвердження\n"
    STRING_RMDIR_HELP2 "Каталог не порожнiй!\n"
    STRING_REN_HELP1 "Перейменування одного чи кiлькох файлiв/каталогiв.\n\n\
RENAME [/E /N /P /Q /S /T] старе_iм'я ... нове_iм'я\n\
REN [/E /N /P /Q /S /T] старе_iм'я ... нове_iм'я\n\n\
  /E    Не показувати повiдомлення про помилки.\n\
  /N    Нiчого.\n\
  /P    Запит пiдтвердження для кожного файлу.\n\
        (Ще не реалiзовано!)\n\
  /Q    Тихо.\n\
  /S    Перейменувати пiдкаталоги.\n\
  /T    Вiдображення кiлькостi переiменованих файлiв.\n\n\
Для кiнцевого фалу не можна вказати iнший диск чи каталог.\n\
Для цього використайте команду MOVE.\n"
    STRING_REN_HELP2 "    %lu файл переiменовано\n"
    STRING_REN_HELP3 "    %lu файлiв переiменовано\n"
    STRING_REPLACE_HELP1 "Замiна файлiв.\n\n\
REPLACE [диск1:][шлях1]iм'я_файлу [диск2:][шлях2] [/A] [/P] [/R] [/W]\n\
REPLACE [диск1:][шлях1]iм'я_файлу [диск2:][шлях2] [/P] [/R] [/S] [/W] [/U]\n\n\
  [диск1:][шлях1]iм'я_файлу Задає файл(и) для замiни.\n\
  [диск2:][шлях2]           Задає каталог, в якому будуть замiненi файли\n\
                            файли.\n\
  /A                        Додати новi файли в кiнцеву теку. Неможливе\n\
                            при використаннi ключiв /S чи /U.\n\
  /P                        Запит на пiдтвердження замiни файлу чи\n\
                            додавання початкового файлу.\n\
  /R                        Замiнює також файли лише для читання.\n\
  /S                        Замiнює файли у всiх пiдкаталогах каталогу\n\
                            призначення. Неможливе при використаннi\n\
                            ключа /A.\n\
  /W                        Чекає поки ви вставите диск перед початком.\n\
  /U                        Замiнює (оновлює) лише файли, що старiшi нiж\n\
                            копiйованi. Неможливе при використаннi ключа /A.\n"
    STRING_REPLACE_HELP2 "Необхiдний шлях джерела\n"
    STRING_REPLACE_HELP3 "Не замiнено жодних файлiв\n"
    STRING_REPLACE_HELP4 "%lu файл(iв) замiнено\n"
    STRING_REPLACE_HELP5 "Замiна %s\n"
    STRING_REPLACE_HELP6 "Замiнити %s\n"
    STRING_REPLACE_HELP7 "Не додано жодних файлiв\n"
    STRING_REPLACE_HELP8 "%lu файл(iв) додано\n"
    STRING_REPLACE_HELP9 "Додати %s (Y/N) "
    STRING_REPLACE_HELP10 "Замiнити %s (Y/N) "
    STRING_REPLACE_HELP11 "Додавання %s\n"
    STRING_SHIFT_HELP "Змiна позицiї пiдставлюваних параметрiв для пакетного файлу.\n\n\
SHIFT [DOWN]"
    STRING_SCREEN_HELP "перемiщення курсора та опцiонально показ тексту\n\n\
SCREEN ряд стп [текст]\n\n\
  ряд         рядок, куди требе перемiстити курсор\n\
  стп         стовпчик, куди требе перемiстити курсор"
    STRING_SET_HELP "Показ, задання чи видалення змiнних середовища.\n\n\
SET [змiнна[=][значення]]\n\n\
  змiнна     Iм'я змiнної середовища.\n\
  значення   Рядок символiв, що призначається вказанiй змiннiй.\n\n\
SET без параметрiв виводить поточнi значення змiнних середовища.\n"
    STRING_START_HELP1 "Запуск команди.\n\n\
START команда\n\n\
  команда     Команда для запуску.\n\n\
На даний момент всi команди стартують асинхронно.\n"
    STRING_TITLE_HELP "Змiна заголовка вiкна командного рядка.\n\n\
TITLE [рядок]\n\n\
рядок       Майбутнiй заголовок вiкна командного рядка.\n"
    STRING_TIME_HELP1 "Вiдображення чи змiна системного часу.\n\n\
TIME [/T][час]\n\n\
  /T    лише вiдображення\n\n\
TIME без параметрiв виводить поточний час та запитує\n\
введення нового. Натиснiть ENTER для збереження поточного.\n"
    STRING_TIME_HELP2 "Введiть новий час: "
    STRING_TIMER_HELP1 "Минуло %d мсек\n"
    STRING_TIMER_HELP2 "Минуло %02d%c%02d%c%02d%c%02d\n"
    STRING_TIMER_HELP3 "дозволяє використати десять секундомiрiв.\n\n\
TIMER  [ON|OFF] [/S] [/n] [/Fn]\n\n\
  ON          ввiмкнути секундомiр (ON)\n\
  OFF         вимкнути секундомiр (OFF)\n\
  /S          Рiзниця в часi. Повертає рiзницю в часi\n\
              секундомiра без змiни його значення\n\
  /n          Задати номер секундомiра.\n\
              Доступнi номери вiд 0 до 9\n\
              За замовчуванням - 1\n\
  /Fn         Формат виводу\n\
              n може бути:\n\
                    0    мiлiсекунди\n\
                    1    hh%cmm%css%cdd\n\n\
Якщо не вказанi ON, OFF та /S , команда перемикає\n\
стан секундомiра\n\n"
    STRING_TYPE_HELP1 "Виведення вмiсту текстових файлiв.\n\nTYPE [диск:][шлях]iм'я_файлу \n\
  /P          Поекранний вивiд.\n"
    STRING_VERIFY_HELP1 "This command is just a dummy!!\n\
Ввiмкнення чи вимкнення перевiрки правильностi запису файлiв\n\
на диск.\n\n\
VERIFY [ON | OFF]\n\n\
VERIFY без параметрiв виводить поточне значення команди.\n"
    STRING_VERIFY_HELP2 "VERIFY %s.\n"
    STRING_VERIFY_HELP3 "Треба задати ON або OFF."
    STRING_VERSION_HELP1 "Данi про версiю оболонки\n\n\
VER [/C][/R][/W]\n\n\
  /C  Вiдображення списку авторiв.\n\
  /R  Вiдображення iнформацiї про перепоширення.\n\
  /W  Вiдображення гарантiйної iнформацiї."
    STRING_VERSION_HELP2 " надається без БУДЬ-ЯКИХ ГАРАНТIЙ; для детальних даних\n\
надрукуйте: `ver /w'. Ця програма є вiльним ПЗ, i ви можете розповсюджувати\n\
її згiдно певних умов; надрукуйте `ver /r' для детальних даних. Надрукуйте `ver /c' \n\
для виведення списку авторiв."
    STRING_VERSION_HELP3 "\n Ця програма розповсюджується iз сподiванням, що вона буде корисною,\n\
 але БЕЗ БУДЬ-ЯКИХ ГАРАНТIЙ; навiть без непрямих гарантiй\n\
 щодо ПРОДАЖУ чи ПРИДАТНОСТI ДЛЯ ПЕВНИХ ЦIЛЕЙ.  Дивiться\n\
 GNU General Public License для детальної iнформацiї."
    STRING_VERSION_HELP4 "\n Ця програма є вiльним ПЗ; ви можете перепоширювати її та/чи\n\
 модифiкувати згiдно умов GNU General Public License, що опублiкована\n\
 Free Software Foundation; версiї 2 Лiцензiї, чи\n\
 (на ваш вибiр) будь-якої новiшої версiї.\n"
    STRING_VERSION_HELP5 "\nВiдсилайте звiти про помилки на <ros-dev@reactos.org>.\n\
Оновлення доступнi на: http://www.reactos.org"
    STRING_VERSION_HELP6 "\nFreeDOS-версiя написана:\n"
    STRING_VERSION_HELP7 "\nReactOS-версiя написана:\n"
    STRING_VOL_HELP1 " Том в пристрої %c має мiтку %s\n"
    STRING_VOL_HELP2 " Том в пристрої %c не має мiтки.\n"
    STRING_VOL_HELP3 " Серiйний номер тому: %04X-%04X\n"
    STRING_VOL_HELP4 "Виводить мiтку тому та серiйний номер, якщо вони iснують.\n\nVOL [диск:]"
    STRING_WINDOW_HELP1 "змiнює вигляд вiкна консолi\n\n\
WINDOW [/POS[=]left,top,width,heigth]\n\
              [MIN|MAX|RESTORE] ['заголовок']\n\n\
/POS          визначає розміри та розмiщення вiкна\n\
MIN           згортає вiкно\n\
MAX           розгортає вiкно\n\
RESTORE       вiдновлює вiкно"
    STRING_WINDOW_HELP2 "змiнює вигляд вiкна консолi\n\n\
ACTIVATE 'window' [/POS[=]left,top,width,heigth]\n\
              [MIN|MAX|RESTORE] ['title']\n\n\
window        заголовок вiкна, вигляд якого треба змiнити\n\
/POS          визначає розміри та розмiщення вiкна\n\
MIN           згортає вiкно\n\
MAX           розгортає вiкно\n\
RESTORE       вiдновлює вiкно\n\
title         новий заголовок\n"
    STRING_CHOICE_OPTION "YN"
    STRING_COPY_OPTION "YNA"
    STRING_ALIAS_ERROR "Командний рядок занадто довгий пiсля розгортання псевдонiмiв!\n"
    STRING_ASSOC_ERROR "Не знайдено файлової асоцiацiї для розширення %s\n"
    STRING_BATCH_ERROR "Помилка вiдкриття пакетного файлу\n"
    STRING_CHCP_ERROR1 "Поточна кодова сторiнка: %u\n"
    STRING_CHCP_ERROR4 "Помилкова кодова сторiнка\n"
    STRING_CHOICE_ERROR "Невiрний параметр. Очiкується формат: /C[:]параметри"
    STRING_CHOICE_ERROR_TXT "Невiрний параметр. Очiкується формат: /T[:]c,nn"
    STRING_CHOICE_ERROR_OPTION "Невiрний параметр: %s"
    STRING_CMD_ERROR1 "Не можу перенаправити ввiд з файлу %s\n"
    STRING_CMD_ERROR2 "Помилка створення тимчасового файлу для pipe-даних\n"
    STRING_CMD_ERROR3 "Не можу перенаправити в файл %s\n"
    STRING_CMD_ERROR4 "Запуск %s...\n"
    STRING_CMD_ERROR5 "Запуск cmdexit.bat...\n"
    STRING_COLOR_ERROR1 "помилка - однаковi кольори! (тло та текст не можуть бути однакового кольору)"
    STRING_COLOR_ERROR2 "помилка при вказаннi кольору"
    STRING_COLOR_ERROR3 "Колiр %02x\n"
    STRING_CONSOLE_ERROR "Невiдома помилка: %d\n"
    STRING_COPY_ERROR1 "Помилка: Неможливо вiдкрити джерело - %s!\n"
    STRING_COPY_ERROR2 "Помилка: Неможливо копiювати в себе!\n"
    STRING_COPY_ERROR3 "Помилка запису призначення!\n"
    STRING_COPY_ERROR4 "Помилка: Ще не реалiзовано!\n"
    STRING_DATE_ERROR "Невiрна дата."
    STRING_DEL_ERROR5 "Файл %s буде видалений! "
    STRING_DEL_ERROR6 "Ви впевненi (Y/N)?"
    STRING_DEL_ERROR7 "Видалення: %s\n"
    STRING_ERROR_ERROR1 "Невiдома помилка! Код помилки: 0x%lx\n"
    STRING_ERROR_ERROR2 "Синтаксична помилка"
    STRING_FOR_ERROR1 "'in' вiдсутнє в команді for."
    STRING_FOR_ERROR2 "дужок не знайдено."
    STRING_FOR_ERROR3 "'do' вiдсутнє."
    STRING_FOR_ERROR4 "немає команди пiсля 'do'."
    STRING_FREE_ERROR1 "Невiрний диск"
    STRING_FREE_ERROR2 "не вiдмiчено"
    STRING_GOTO_ERROR1 "Не визначена мiтка для GOTO"
    STRING_GOTO_ERROR2 "Мiтка '%s' не знайдена\n"
    STRING_MD_ERROR "Пiдкаталог чи файл вже iснує.\n"
    STRING_MD_ERROR2 "Шлях до нового каталогу не iснує.\n"
    STRING_MOVE_ERROR1 "[OK]\n"
    STRING_MOVE_ERROR2 "[Помилка]\n"
    STRING_REN_ERROR1 "Невдачне виконання MoveFile(). Помилка: %lu\n"
    STRING_TIME_ERROR1 "Невiрний час."
    STRING_TYPE_ERROR1 "Невiрний параметр '/%s'\n"
    STRING_WINDOW_ERROR1 "вiкно не знайдено"
    STRING_ERROR_PARAMETERF_ERROR "Неправильний формат параметра - %c\n"
    STRING_ERROR_INVALID_SWITCH "Невірна опцiя - /%c\n"
    STRING_ERROR_TOO_MANY_PARAMETERS "Забагато параметрiв - %s\n"
    STRING_ERROR_PATH_NOT_FOUND "Шлях не знайдений\n"
    STRING_ERROR_FILE_NOT_FOUND "Файл не знайдений\n"
    STRING_ERROR_REQ_PARAM_MISSING "Вiдсутнiй обов'язковий параметр\n"
    STRING_ERROR_INVALID_DRIVE "Невiрне визначення диску\n"
    STRING_ERROR_INVALID_PARAM_FORMAT "Невiрний формат параметра - %s\n"
    STRING_ERROR_BADCOMMAND "Невiрна команда або iм'я файлу - %s\n"
    STRING_ERROR_OUT_OF_MEMORY "Недостатньо пам'ятi.\n"
    STRING_ERROR_CANNOTPIPE "Помилка!  Неможливо використати pipe!  Неможливо вiдкрити тимчасовий файл!\n"
    STRING_ERROR_D_PAUSEMSG "Натиснiть будь-яку клавiшу для продовження . . ."
    STRING_ERROR_DRIVER_NOT_READY "Пристрій не готовий"
    STRING_PATH_ERROR "CMD: Не в середовищi '%s'\n"
    STRING_REPLACE_ERROR1 "Невiрний ключ - %s\n"
    STRING_REPLACE_ERROR2 "Шлях не знайдено - %s\n"
    STRING_REPLACE_ERROR3 "Синтаксис iменi файлу, теки чи мiтки диску некоректнi.\n"
    STRING_REPLACE_ERROR4 "Невiрна комбiнацiя параметрiв\n"
    STRING_REPLACE_ERROR5 "Немає доступу - %s\n"
    STRING_REPLACE_ERROR6 "Файли не знайдено - %s\n"
    STRING_REPLACE_ERROR7 "Розширена помилка 32\n"
    STRING_CMD_INFOLINE "  ReactOS Command Prompt                                      Type HELP = Help  "
    STRING_REACTOS_VERSION "Операцiйна Система ReactOS [Версiя %s-%s]\n"
    STRING_CMD_SHELLINFO "\nIнтерпретатор командного рядка ReactOS\nVersion %s %s"
    STRING_VERSION_RUNNING_ON "Запущений на: "
    STRING_VERSION_RUNVER "%s [Version %d.%d.%d] %s"
    STRING_COPY_FILE "        %d файл(iв) скопiйовано\n"
    STRING_DELETE_WIPE "витерто"
    STRING_FOR_ERROR "невiрна специфiкацiя змiнної."
    STRING_SCREEN_COL "неправильне значення col"
    STRING_SCREEN_ROW "неправильне значення row"
    STRING_TIMER_TIME "Таймер %d - %s: "
    STRING_MKLINK_CREATED_SYMBOLIC "Створено символiчне посилання для %s <<===>> %s\n"
    STRING_MKLINK_CREATED_HARD "Створено жорстке посилання для %s <<===>> %s\n"
    STRING_MKLINK_CREATED_JUNCTION "Створено з'єднання для %s <<===>> %s\n"
    STRING_MORE "Бiльше? "
    STRING_CANCEL_BATCH_FILE "\r\nнатиснено Ctrl-Break.  Припинити виконання пакетного файлу? (Yes/No/All) "
    STRING_INVALID_OPERAND "Невiрний операнд."
    STRING_EXPECTED_CLOSE_PAREN "Очiкується ')'."
    STRING_EXPECTED_NUMBER_OR_VARIABLE "Очiкується число або iм'я змiнної."
    STRING_SYNTAX_COMMAND_INCORRECT "Некоректний синтаксис команди."
END
