/*
 * Copyright 2007 Robert Shearman (for CodeWeavers)
 * Copyright 2009 Michael Stefaniuc
 *           2011 Fulea Ștefan
 *           2024 Andrei Miloiu
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_ROMANIAN, SUBLANG_NEUTRAL

STRINGTABLE
{
    IDS_TITLEFORMAT     "Conectare la %s"
    IDS_MESSAGEFORMAT   "Conectare la %s"
    IDS_INCORRECTPASSWORDTITLE  "Log on nu a reuşit:"
    IDS_INCORRECTPASSWORD       "ReactOS nu vă acceptă Log on.\nAsiguraţi-vă că numele de utilizator şi\nparola sunt corecte."
    IDS_CAPSLOCKONTITLE "Tasta Caps Lock activă:"
    IDS_CAPSLOCKON      "Dacă aveţi tasta Caps Lock activată există posibilitatea să\nintroduceţi parola incorect.\n\nDezactivaţi tasta Caps Lock\nînainte de a introduce parola."
}

IDD_CREDDIALOG DIALOGEX  0, 0, 213, 149
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         IDB_BANNER,-1,"Static",SS_BITMAP | SS_CENTERIMAGE,0,
                    0,213,37
    LTEXT           "",IDC_MESSAGE,8,48,199,8,NOT WS_GROUP
    LTEXT           "Nume utilizator:",-1,8,62,72,12,SS_CENTERIMAGE
    CONTROL         "",IDC_USERNAME,"ComboBoxEx32",CBS_DROPDOWN |
                    CBS_NOINTEGRALHEIGHT | WS_TABSTOP,80,62,126,87
    LTEXT           "&Parolă:",-1,8,80,72,12,SS_CENTERIMAGE
    EDITTEXT        IDC_PASSWORD,80,80,126,12,ES_PASSWORD | ES_AUTOHSCROLL
    CONTROL         "Ține minte pa&rola",IDC_SAVE,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,80,98,126,12
    DEFPUSHBUTTON   "OK",IDOK,97,128,50,14
    PUSHBUTTON      "Revocare",IDCANCEL,156,128,50,14
END
