/*
  PROJECT:    ReactOS Website
  LICENSE:    GPL v2 or any later version
  FILE:       web/reactos.org/htdocs/getbuilds/getbuilds.css
  PURPOSE:    Easily download prebuilt ReactOS Revisions
  COPYRIGHT:  Copyright 2007-2008 Colin Finck <mail@colinfinck.de>
*/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0 0 1em 0;
	padding: 0; /* Only affects Opera */
	background: #FFFFFF url('http://www.reactos.org/images/topbar.jpg') repeat-x scroll top left;
}

a {
	color: #006090;
}
 
a:hover {
	color: #000000;
}

h1 {
	display: block;
	line-height: normal;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #5984C3;
	padding: 0px 0px 1px 10px;
	margin-top: 0;
}

h1 a {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #5984C3;
	text-decoration: none;
}

h1 a:hover {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #5984C3;
	text-decoration: underline;
}

h2 {
	font-size: 22px;
	color: #5984C3;
	font-weight: bold;
	margin-top: 0;
}

h3 {
	font-size: 10pt;
	color: black;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 1em;
}

#top {
	margin: 0;
	background: url('http://www.reactos.org/images/logo.jpg') no-repeat scroll 35px 0;
	padding: 103px 0 26px 0;
	color: #FFFFFF;
	text-align: right;
}
 
#top a {
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
	padding: 1px 5px 1px 5px;
}
 
#top a:hover {
	color: #000000;
	background-color: #FFCC33;
}
 
#topMenu {
	font-size: 13px;
	margin-left: 300px;
	background-color: #5984C3;
}
 
#topMenu p {
	text-align: left;
	margin: 0;
}

#leftNav {
	padding: 0px 10px 10px 7px;
}

#leftNav ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #EEEEEE;
	border-top: #3F3849 0px solid;
	border-right: #3F3849 1px solid;
	border-left: #3F3849 1px solid;
}
 
#leftNav ol li {
	font-size: 13px;
	font-weight: bold;
	border-bottom: #3f3849 1px solid;
}
 
#leftNav ol li a {
	font-size: 12px;
	
	display: block;
	width: 137px;
	padding: 2px 4px 2px 4px;
 
	color: #3F3849;
	text-decoration: none;
	background-color: #EEEEEE;
}
 
#leftNav ol li a:hover {
	color: #000000;
	background-color: #FFCC33;
}
 
#leftNav ol li a.extern {
	background: none;
	padding-right: 0px; 
}
 
#leftNav .navTitle {
	padding-left: 12px;
	border-top: #3F3849 1px solid;
	border-right: #3F3849 1px solid;
	border-bottom: #3F3849 1px solid;
	border-left: #3F3849 1px solid;
 
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #5984c3;
}

#content {
	padding-right: 10px;
}

.bubble_bg {
	background: #C9DAF8 none repeat scroll 0%;
	margin-bottom: 10px;
}

.bubble {
	padding: 8px;
}

.rounded_ul {
	background: transparent url(images/ul.gif) no-repeat scroll left top;
}
.rounded_ur {
	background: transparent url(images/ur.gif) no-repeat scroll right top;
}
.rounded_ll {
	background: transparent url(images/ll.gif) no-repeat scroll left bottom;
}
.rounded_lr {
	background: transparent url(images/lr.gif) no-repeat scroll right bottom;
}

ul.web {
	list-style-image: url(images/web.gif);
	margin-top: 0;
	margin-bottom: 1em;
}

ul.web li {
	vertical-align: top;
}

#js_stuff {
	/* Will be shown by the JavaScript */
	display: none;
}

#showrev td {
	vertical-align: top;
}

#revcontrols img {
	vertical-align: middle;
	cursor: pointer;
}

#revcontrols input {
	vertical-align: middle;
}

#controlbox {
	margin-bottom: 2em;
}

#controlbox input {
	font-weight: bold;
}

#ajaxloadinginfo {
	font-weight: bold;
	margin-left: 20px;
}

#infotable {
	width: 100%;
}

#pagesbox {
	font-weight: bold;
	text-align: right;
}

.datatable {
	min-width: 350px;
	width: 100%;
	cursor: pointer;
	empty-cells: show;
}

.datatable tr.head th,
.datatable tr.head {
	background-image: none;
	background: #5984C3;
	color: white;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	text-align: left;
	cursor: default;
}

.datatable tr.head th.fname {
	width: 50%;
}

.datatable tr.head th.fsize,
.datatable tr.head th.fdate {
	width: 25%;
}

.datatable tr.odd td,
.datatable tr.even td {
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px solid #bbb;
	background-image: none;
}

.datatable tr.odd td,
.datatable tr.odd {
	background-color: #DDDDDD;
}
.datatable tr.even td,
.datatable tr.even {
	background-color: #EEEEEE;
}

.datatable tr.odd td a,
.datatable tr.even td a {
	color: black;
	display: block;
	text-decoration: none;
}

.datatable img {
	border: 0;
	padding: 1px;
	vertical-align: top;
}
