/*
  PROJECT:    ReactOS Website
  LICENSE:    GPL v2 or any later version
  FILE:       web/reactos.org/htdocs/getbuilds/getbuilds.css
  PURPOSE:    Easily download prebuilt ReactOS Revisions
  COPYRIGHT:  Copyright 2007-2009 Colin Finck <mail@colinfinck.de>
*/

a {
	color: #006090;
}
 
a:hover {
	color: #000000;
}

ul.web {
	list-style-image: url(images/web.gif);
	margin-top: 0;
	margin-bottom: 1em;
}

ul.web li {
	vertical-align: top;
}

#js_stuff {
	/* Will be shown by the JavaScript */
	display: none;
}

#showrev td {
	vertical-align: top;
}

#revcontrols img {
	vertical-align: middle;
	cursor: pointer;
}

#revcontrols input {
	vertical-align: middle;
}

#controlbox input {
	font-weight: bold;
}

#ajax_loading {
	font-weight: bold;
	margin-left: 20px;
}

#infotable
{
	margin-top: 2em;
	width: 100%;
}

#pagesbox {
	font-weight: bold;
	text-align: right;
}

.datatable {
	cursor: pointer;
	width: 100%;
}

.datatable tr.head th.fname {
	width: 50%;
}

.datatable tr.head th.fsize,
.datatable tr.head th.fdate {
	width: 25%;
}

.datatable tr.odd td a,
.datatable tr.even td a {
	color: black;
	display: block;
	text-decoration: none;
}

.datatable img {
	border: 0;
	padding: 1px;
	vertical-align: top;
}
