/*
  PROJECT:    ReactOS Website
  LICENSE:    GPL v2 or any later version
  FILE:       web/reactos.org/htdocs/getbuilds/ie-lt7-fixes.css
  PURPOSE:    Easily download prebuilt ReactOS Revisions
  COPYRIGHT:  Copyright 2007 Colin Finck <mail@colinfinck.de>
  
  This file contains fixes for Internet Explorer versions older than IE 7
*/

/* IE versions older than IE7 don't add the size of the edges to the box height. So we have to add this space by enhancing the "padding-bottom" value */
.bubble_bg {
	padding-bottom: 4px;
}
