/*
 *  Notepad (Polish resources)
 *
 *  Copyright 1997,98 Marcel Baur <mbaur@g26.ethz.ch>
 *  Proofread 1998 by David Lee Lambert <lamber45@egr.msu.edu>
 *  Copyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>
 *  Copyright 2004 Jacek Caban <jack@itma.pwr.wroc.pl>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/*
 *        small changes by TestamenT 
 *      testament@users.sourceforge.net
 * https://sourceforge.net/projects/reactospl
 */

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

ID_ACCEL ACCELERATORS
{
    "^A", CMD_SELECT_ALL
    "^C", CMD_COPY
    "^F", CMD_SEARCH
    "^G", CMD_GOTO
    "H", CMD_REPLACE, VIRTKEY, CONTROL 
    "^O", CMD_OPEN
    "^S", CMD_SAVE
    "^V", CMD_PASTE
    "^X", CMD_CUT
    "^Z", CMD_UNDO
    VK_F3, CMD_SEARCH_NEXT, VIRTKEY
    VK_F5, CMD_TIME_DATE, VIRTKEY
}

MAIN_MENU MENU
BEGIN
	POPUP "&Plik"
	BEGIN
		MENUITEM "&Nowy...",           CMD_NEW
		MENUITEM "&Otwórz\tCtrl+O",     CMD_OPEN
		MENUITEM "&Zapisz\tCtrl+S",     CMD_SAVE
		MENUITEM "Z&apisz jako...",       CMD_SAVE_AS
		MENUITEM SEPARATOR
		MENUITEM "&Drukuj",            CMD_PRINT
		MENUITEM "&Ustawienia strony...",    CMD_PAGE_SETUP
		MENUITEM "Ustawienia &drukarki...", CMD_PRINTER_SETUP
		MENUITEM SEPARATOR
		MENUITEM "Zakoñ&cz",             CMD_EXIT
	END
	POPUP "&Edycja" 
	BEGIN
		MENUITEM "&Cofnij\tCtrl+Z",     CMD_UNDO
		MENUITEM SEPARATOR
		MENUITEM "&Wytnij\tCtrl+X",      CMD_CUT
		MENUITEM "&Kopiuj\tCtrl+C",     CMD_COPY
		MENUITEM "Wkl&ej\tCtrl+V",    CMD_PASTE
		MENUITEM "&Usuñ\tDel",      CMD_DELETE
		MENUITEM SEPARATOR
		MENUITEM "&ZnajdŸ\tCtrl+F",   CMD_SEARCH
		MENUITEM "Z&najdŸ nastêpny\tF3",  CMD_SEARCH_NEXT
		MENUITEM SEPARATOR
		MENUITEM "Zaznacz w&szystko\tCtrl+A",       CMD_SELECT_ALL
		MENUITEM "Godzina/&Data\tF5",    CMD_TIME_DATE
		MENUITEM SEPARATOR
		MENUITEM "&Zawijanie wierszy",  CMD_WRAP
		MENUITEM "Czci&onka...",          CMD_FONT
	END
	POPUP "Pomo&c" 
	BEGIN
		MENUITEM "&Tematy pomocy",         CMD_HELP_CONTENTS
		MENUITEM "&Szukaj...",        CMD_HELP_SEARCH
		MENUITEM "Pomo&c",     CMD_HELP_ON_HELP
		MENUITEM SEPARATOR
		MENUITEM "&Notepad - informacje"             CMD_ABOUT
		MENUITEM "&Wine - informacje",      CMD_ABOUT_WINE
	END
END

/* Dialog `Page setup' */

DIALOG_PAGESETUP DIALOG 0, 0, 225, 95
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Ustawienia strony"
{
LTEXT    "&Nag³ówek:",  0x140,   10, 07, 40, 15
EDITTEXT                         0x141,       60, 05,110, 12, WS_BORDER | WS_TABSTOP
LTEXT    "&Stopka:",  0x142,   10, 24, 40, 15
EDITTEXT                         0x143,       60, 22,110, 12, WS_BORDER | WS_TABSTOP

GROUPBOX "&Marginesy:",      0x144,     10, 43,160, 45
LTEXT    "&Lewy:",        0x145,   20, 55, 30, 10, WS_CHILD
EDITTEXT /*STRING_PAGESETUP_LEFTVALUE,*/   0x147,       50, 55, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "&Górny:",         0x148,    20, 73, 30, 10, WS_CHILD
EDITTEXT /*STRING_PAGESETUP_TOPVALUE,*/    0x14A,        50, 73, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "P&rawy:",       0x14B, 100, 55, 30, 10, WS_CHILD
EDITTEXT /*STRING_PAGESETUP_RIGHTVALUE,*/  0x14D,     130, 55, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP
LTEXT    "&Dolny:",      0x14E,100, 73, 30, 10, WS_CHILD
EDITTEXT /*STRING_PAGESETUP_BOTTOMVALUE,*/ 0x150,    130, 73, 35, 11, WS_CHILD | WS_BORDER | WS_TABSTOP

DEFPUSHBUTTON "OK",         0x151,                   180,  3, 40, 15, WS_TABSTOP
PUSHBUTTON    "Anuluj",     0x152,               180, 21, 40, 15, WS_TABSTOP
PUSHBUTTON    "Pomo&c",       0x153,                180, 39, 40, 15, WS_TABSTOP
}

IDD_ABOUTBOX DIALOG DISCARDABLE  22,16,284,170
STYLE DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS Notatnik"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "ReactOS Notatnik v1.0\r\nCopyright 1997,98 Marcel Baur <mbaur@g26.ethz.ch>\r\nCopyright 2000 Mike McCormack <Mike_McCormack@looksmart.com.au>\r\nCopyright 2002 Sylvain Petreolle <spetreolle@yahoo.fr>\r\nCopyright 2002 Andriy Palamarchuk\r\n ",
                    -1,"Static",SS_LEFTNOWORDWRAP | WS_GROUP,46,7,232,39
    CONTROL         " ",
                    -1,"Static",0x50000000,8,48,272,11
    DEFPUSHBUTTON   "Zamknij",IDOK,114,149,44,15,WS_GROUP
    ICON            IDI_NPICON,-1,12,9,20,30
    EDITTEXT        IDC_LICENSE,8,64,272,81,ES_MULTILINE |
                    ES_READONLY | WS_VSCROLL
END

STRINGTABLE DISCARDABLE
BEGIN
  STRING_LICENSE, "Niniejszy program jest wolnym oprogramowaniem; mo¿esz go rozprowadzaæ dalej i/lub modyfikowaæ na warunkach Powszechnej Licencji Publicznej GNU, wydanej przez Fundacjê Wolnego Oprogramowania - wed³ug wersji 2 tej Licencji lub (wed³ug Twojego wyboru) którejœ z póŸniejszych wersji.\r\n\r\nNiniejszy program rozpowszechniany jest z nadziej¹, i¿ bêdzie on u¿yteczny - jednak BEZ JAKIEJKOLWIEK GWARANCJI, nawet domyœlnej gwarancji PRZYDATNOŒCI HANDLOWEJ albo PRZYDATNOŒCI DO OKREŒLONYCH ZASTOSOWAÑ. W celu uzyskania bli¿szych informacji siêgnij do Powszechnej Licencji Publicznej GNU.\r\n\r\nZ pewnoœci¹ wraz z niniejszym programem otrzyma³eœ te¿ egzemplarz Powszechnej Licencji Publicznej GNU (GNU General Public License); jeœli nie - napisz do Free Software Foundation, Inc., 59 Temple Place, Fifth Floor, Boston, MA  02110-1301  USA."
END

STRINGTABLE DISCARDABLE
{
STRING_PAGESETUP_HEADERVALUE,   "&n"        /* FIXME */
STRING_PAGESETUP_FOOTERVALUE,   "Strona &s"   /* FIXME */
STRING_PAGESETUP_LEFTVALUE,             "20 mm"     /* FIXME */
STRING_PAGESETUP_RIGHTVALUE,    "20 mm"     /* FIXME */
STRING_PAGESETUP_TOPVALUE,              "25 mm"     /* FIXME */
STRING_PAGESETUP_BOTTOMVALUE,   "25 mm"     /* FIXME */

STRING_NOTEPAD,                                 "Notatnik"
STRING_ERROR,                                   "B£¥D"
STRING_WARNING,                                 "OSTRZE¯ENIE"
STRING_INFO,                                    "Informacja"

STRING_UNTITLED,                                "(bez tytu³u)"

STRING_ALL_FILES,                               "Wszystkie pliki (*.*)"
STRING_TEXT_FILES_TXT,                  "Pliki tekstowe (*.txt)"

STRING_TOOLARGE,                                "Plik '%s' jest za du¿y dla Notatnika.\n \
Proszê u¿yæ innego edytora."
STRING_NOTEXT,                                  "Nie wprowadzi³eœ ¿adnego tekstu. \
\nProszê coœ wpisaæ i spróbowaæ ponownie."
STRING_DOESNOTEXIST,                            "Plik '%s' nie istnieje\n\n \
Czy chcesz utworzyæ nowy plik?"
STRING_NOTSAVED,                                "Plik '%s'\nzosta³ zmodyfikowany\n\n \
Czy chcesz zachowaæ zmiany?"
STRING_NOTFOUND,                                        "Nie mo¿na odnaleŸæ '%s'."
STRING_OUT_OF_MEMORY,                   "Za ma³o pamiêci do wykonania tego zadania.\n \
Zamknij jedn¹ lub wiêcej aplikacji, by zwiêkszyæ iloœæ wolnej pamiêci."

}
