LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

IDR_MAINMENU MENU
BEGIN
  POPUP "&Datei"
  BEGIN
    MENUITEM "&Neu...",         ID_NEW
    MENUITEM "Ö&ffnen...",        ID_OPEN
    MENUITEM SEPARATOR
    MENUITEM "Sch&ließen\tStrg+F4", ID_CLOSE, GRAYED
    MENUITEM "&Alle Schließen",      ID_CLOSEALL, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Speichern",           ID_SAVE, GRAYED
    MENUITEM "Speichern &unter...",     ID_SAVEAS, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Druckansicht",  ID_PRINTPRE, GRAYED
    MENUITEM "&Drucken...",       ID_PRINT, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Seite ein&richten...",  ID_PAGESETUP, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Beenden\tAlt+F4",   ID_EXIT
  END
  POPUP "&Bearbeiten"
  BEGIN
    MENUITEM "&Rückgängig",           ID_UNDO, GRAYED
    MENUITEM "&Wiederholen",           ID_REDO, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Ausschneiden",            ID_CUT, GRAYED
    MENUITEM "&Kopieren",           ID_COPY, GRAYED
    MENUITEM "&Einfügen",          ID_PASTE, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Löschen",           -1, GRAYED
    MENUITEM "Alles &markieren",     ID_SELALL, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Suchen...\tStrg+F",-1, GRAYED
    MENUITEM "Weitersuchen",       -1, GRAYED
    MENUITEM "Erset&zen...\tStrg+H", -1, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Objekteigenschaften",-1, GRAYED
    MENUITEM "Objekt",          -1, GRAYED
  END
  POPUP "&Ansicht"
  BEGIN
    MENUITEM "&Symbolleiste",        -1, CHECKED
    MENUITEM "&Formatierungsleiste",     -1, CHECKED
    MENUITEM "&Lineal",          -1, CHECKED
    MENUITEM "Status&leiste",     ID_STATUSBAR, CHECKED
  END
  POPUP "&Einfügen"
  BEGIN
    MENUITEM "&Datum und Uhrzeit...",-1, GRAYED
    MENUITEM "&Objekt...",       -1, GRAYED
  END
  POPUP "&Format"
  BEGIN
    MENUITEM "&Schriftart...",        -1 GRAYED
    MENUITEM "Aufzählungszeichen",     -1, GRAYED
    MENUITEM "Absatz...",    -1, GRAYED
    MENUITEM "Tabstops...",         -1, GRAYED
  END
  POPUP "&Fenster"
  BEGIN
    MENUITEM "&Kaskadieren",           ID_WINDOW_CASCADE
    MENUITEM "&Horizontal unterteilen", ID_WINDOW_TILE_HORZ
    MENUITEM "&Vertikal unterteilen",   ID_WINDOW_TILE_VERT
    MENUITEM "Symbole &anordnen",     ID_WINDOW_ARRANGE
    MENUITEM SEPARATOR
    MENUITEM "Nächstes\tStrg+F6",     ID_WINDOW_NEXT
  END
  POPUP "&Hilfe"
  BEGIN
    MENUITEM "&Über...",       ID_ABOUT
  END
END

IDR_POPUP MENU
BEGIN
  POPUP "popup"
  BEGIN

    MENUITEM SEPARATOR

  END
END


IDD_NEWDOCSEL DIALOGEX 6,6,159,67
CAPTION "Neu"
FONT 8, "MS Shell Dlg",0,0
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | DS_MODALFRAME
BEGIN
  LTEXT "Typ des neuen Dokuments:", IDC_STATIC, 4, 3, 72, 9
  LISTBOX IDC_LIST, 4, 16, 104, 46, WS_TABSTOP
  PUSHBUTTON "&OK", IDOK, 112, 16, 44, 13
  PUSHBUTTON "&Abbrechen", IDCANCEL, 112, 33, 44, 13
END


IDD_ABOUTBOX DIALOGEX 22,16,190,182
CAPTION "Über WordPad"
FONT 8, "MS Shell Dlg",0,0
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
BEGIN
  LTEXT "WordPad II v0.1\nCopyright (C) 2006\nGed Murphy (gedmurphy@gmail.com)", IDC_STATIC, 48, 7, 150, 36
  PUSHBUTTON "Close", IDOK, 65, 162, 44, 15
  ICON IDI_ICON, IDC_STATIC, 10, 10, 7, 30
  EDITTEXT IDC_LICENSE_EDIT, 8, 40, 174, 110, WS_VISIBLE | WS_VSCROLL | WS_TABSTOP | ES_READONLY | ES_MULTILINE
END


STRINGTABLE
BEGIN
  IDS_LICENSE           "Dieses Programm ist kostenlos; Sie können es frei verteilen mit od. ohne Änderungen unter der GNU Lesser General Public License wie es von der Free Software Foundation veröffentlicht wurde; entweder Version 2.1 der Lizenz, oder eine spätere Version (ihrer Wahl).\r\n\r\nThis program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.\r\n\r\nYou should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA."
  IDS_DEFAULT_NAME      "Dokument %1!u!"
  IDS_READY             " Fertig."
END

STRINGTABLE
BEGIN
  IDS_DOC_TYPE_RICH_TEXT    "Rich Text-Dokument"
  IDS_DOC_TYPE_UNICODE_TEXT "Text-Dokument"
  IDS_DOC_TYPE_TEXT         "Unicode Text-Dokument"
END



/* Tooltips */
STRINGTABLE
BEGIN
  IDS_TOOLTIP_NEW       "Neu"
  IDS_TOOLTIP_OPEN      "Öffnen"
  IDS_TOOLTIP_SAVE      "Speichern"
  IDS_TOOLTIP_PRINTPRE  "Druckansicht"
  IDS_TOOLTIP_PRINT     "Drucken"
  IDS_TOOLTIP_CUT       "Ausschneiden"
  IDS_TOOLTIP_COPY      "Kopieren"
  IDS_TOOLTIP_PASTE     "Einfügen"
  IDS_TOOLTIP_UNDO      "Rückgängig"
  IDS_TOOLTIP_REDO      "Wiederholen"
END

/* Hints */
STRINGTABLE
BEGIN
  IDS_HINT_BLANK        " "
  IDS_HINT_NEW          " Erstellt iin neues Dokument."
  IDS_HINT_OPEN         " Öffnet ein vorhandenes Dokument."
  IDS_HINT_CLOSE        " Schließt dieses Fenster."
  IDS_HINT_CLOSEALL     " Schließt alle Fenster."
  IDS_HINT_SAVE         " Speichert das aktive Dokument."
  IDS_HINT_SAVEAS       " Speichert das aktive Dokument unter einem neuen Namen."
  IDS_HINT_PRINT        " Druckt das aktive Dokument."
  IDS_HINT_PRINTPRE     " Voransicht des gedruckten Dokumentes."
  IDS_HINT_PAGESETUP    " Ändert Seitenlayout Einstellungen."
  IDS_HINT_EXIT         " Beendet das Programm."

  IDS_HINT_CASCADE      " Ordnet die Fenster so an, dass sie überlappen."
  IDS_HINT_TILE_HORZ    " Ordnet die Fenster so am, dass sie nicht-überlappen."
  IDS_HINT_TILE_VERT    " Ordnet die Fenster so am, dass sie nicht-überlappen."
  IDS_HINT_ARRANGE      " Ordnet Symbole am Fuß des Fensters an."
  IDS_HINT_NEXT         " Aktiviert das nächste Fenster."

  IDS_HINT_SYS_RESTORE  " Dieses Fenster auf normale Größe wiederherstellen."
  IDS_HINT_SYS_MOVE     " Dieses Fenster bewegen."
  IDS_HINT_SYS_SIZE     " Größe dieses Fensters verändern."
  IDS_HINT_SYS_MINIMIZE " Dieses Fenster auf Symbolgröße verkleinern."
  IDS_HINT_SYS_MAXIMIZE " Dieses Fenster auf Vollbildgröße vergrößern."
END

