// Russian language resource file (Dmitry Chapyshev, 2007-06-11)

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

IDR_MAINMENU MENU
BEGIN
  POPUP "&Файл"
  BEGIN
    MENUITEM "&Новый...",          ID_NEW
    MENUITEM "&Открыть...",        ID_OPEN
    MENUITEM SEPARATOR
    MENUITEM "&Закрыть\tCtrl+F4",  ID_CLOSE, GRAYED
    MENUITEM "З&акрыть все",       ID_CLOSEALL, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Сохранить",         ID_SAVE, GRAYED
    MENUITEM "Со&хранить как...",  ID_SAVEAS, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Предварительный просмотр",  ID_PRINTPRE, GRAYED
    MENUITEM "П&ечать...",                 ID_PRINT, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Пара&метры страницы...",     ID_PAGESETUP, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Выход\tAlt+F4",   ID_EXIT
  END
  POPUP "&Правка"
  BEGIN
    MENUITEM "&Отменить",             ID_UNDO, GRAYED
    MENUITEM "&Вернуть",              ID_REDO, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "В&ырезать",             ID_CUT, GRAYED
    MENUITEM "&Копировать",           ID_COPY, GRAYED
    MENUITEM "В&ставить",             ID_PASTE, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Очистить",           -1, GRAYED
    MENUITEM "Вы&делить все",         ID_SELALL, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "&Найти...\tCtrl+F",-1, GRAYED
    MENUITEM "Найти далее",       -1, GRAYED
    MENUITEM "Заменить\tCtrl+H", -1, GRAYED
    MENUITEM SEPARATOR
    MENUITEM "Свойства объекта",-1, GRAYED
    MENUITEM "Объект",          -1, GRAYED
  END
  POPUP "&Вид"
  BEGIN
    MENUITEM "&Панель инструментов",        -1, CHECKED
    MENUITEM "П&анель форматирования",     -1, CHECKED
    MENUITEM "&Линейка",          -1, CHECKED
    MENUITEM "&Строка состояния",     ID_STATUSBAR, CHECKED
  END
  POPUP "Вст&авка"
  BEGIN
    MENUITEM "&Дата и время...",-1, GRAYED
    MENUITEM "&Объект...",       -1, GRAYED
  END
  POPUP "Фор&мат"
  BEGIN
    MENUITEM "&Шрифт...",        -1 GRAYED
    MENUITEM "Маркер",     -1, GRAYED
    MENUITEM "Абзац...",    -1, GRAYED
    MENUITEM "Табуляция...",         -1, GRAYED
  END
  POPUP "&Окно"
  BEGIN
    MENUITEM "&Каскадом",      ID_WINDOW_CASCADE
    MENUITEM "&Слева направо", ID_WINDOW_TILE_HORZ
    MENUITEM "С&верху вниз",   ID_WINDOW_TILE_VERT
    MENUITEM "&Упорядочить",   ID_WINDOW_ARRANGE
    MENUITEM SEPARATOR
    MENUITEM "С&ледующее\tCtrl+F6",     ID_WINDOW_NEXT
  END
  POPUP "&Справка"
  BEGIN
    MENUITEM "&О программе...",       ID_ABOUT
  END
END

IDR_POPUP MENU
BEGIN
  POPUP "popup"
  BEGIN

    MENUITEM SEPARATOR

  END
END


IDD_NEWDOCSEL DIALOGEX 6,6,159,67
CAPTION "Новый"
FONT 8, "MS Shell Dlg",0,0
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | DS_MODALFRAME
BEGIN
  LTEXT "Тип нового документа:", IDC_STATIC, 4, 3, 72, 9
  LISTBOX IDC_LIST, 4, 16, 104, 46, WS_TABSTOP
  PUSHBUTTON "&OK", IDOK, 112, 16, 44, 13
  PUSHBUTTON "&Отмена", IDCANCEL, 112, 33, 44, 13
END


IDD_ABOUTBOX DIALOGEX 22,16,190,182
CAPTION "О программе WordPad"
FONT 8, "MS Shell Dlg",0,0
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
BEGIN
  LTEXT "WordPad II v0.1\nCopyright (C) 2006\nGed Murphy (gedmurphy@gmail.com)", IDC_STATIC, 48, 7, 150, 36
  PUSHBUTTON "Закрыть", IDOK, 65, 162, 44, 15
  ICON IDI_ICON, IDC_STATIC, 10, 10, 7, 30
  EDITTEXT IDC_LICENSE_EDIT, 8, 40, 174, 110, WS_VISIBLE | WS_VSCROLL | WS_TABSTOP | ES_READONLY | ES_MULTILINE
END


STRINGTABLE
BEGIN
  IDS_LICENSE           "Эта программа является свободно распространяемой; Вы можете распространять ее повторно и (или) изменять, соблюдая условия Открытого лицензионного соглашения GNU, опубликованного Фондом свободно распространяемого программного обеспечения; либо редакции 2 Соглашения, либо (на ваше усмотрение) любой редакции, выпущенной позже.\r\n\r\nЭта программа распространяется в надежде на то, что она окажется полезной, но БЕЗ КАКИХ-ЛИБО ГАРАНТИЙ, включая подразумеваемую гарантию КАЧЕСТВА либо ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробности содержатся в Открытом лицензионном соглашении GNU.\r\n\r\nВместе с этой программой должен распространяться экземпляр Открытого лицензионного соглашения GNU, если он отсутствует, сообщите об этом в Фонд свободно распространяемого программного обеспечения (Free Software Foundation, Inc.), 675 Mass Ave, Cambridge, MA 02139, USA."
  IDS_DEFAULT_NAME      "Документ %1!u!"
  IDS_READY             " Готово."
END

STRINGTABLE
BEGIN
  IDS_DOC_TYPE_RICH_TEXT    "Документ в формате RTF"
  IDS_DOC_TYPE_UNICODE_TEXT "Текстовый документ"
  IDS_DOC_TYPE_TEXT         "Текстовый документ в Юникоде"
END



/* Tooltips */
STRINGTABLE
BEGIN
  IDS_TOOLTIP_NEW       "Новый"
  IDS_TOOLTIP_OPEN      "Открыть"
  IDS_TOOLTIP_SAVE      "Сохранить"
  IDS_TOOLTIP_PRINTPRE  "Предварительный просмотр"
  IDS_TOOLTIP_PRINT     "Печать"
  IDS_TOOLTIP_CUT       "Вырезать"
  IDS_TOOLTIP_COPY      "Копировать"
  IDS_TOOLTIP_PASTE     "Вставить"
  IDS_TOOLTIP_UNDO      "Отменить"
  IDS_TOOLTIP_REDO      "Вернуть"
END

/* Подсказки */
STRINGTABLE
BEGIN
  IDS_HINT_BLANK        " "
  IDS_HINT_NEW          " Создать новый документ."
  IDS_HINT_OPEN         " Открыть существующий документ."
  IDS_HINT_CLOSE        " Закрыть это окно."
  IDS_HINT_CLOSEALL     " Закрыть все окна."
  IDS_HINT_SAVE         " Сохранить текущий документ."
  IDS_HINT_SAVEAS       " Сохранить текущий документ с новым именем."
  IDS_HINT_PRINT        " Печать текущего документа."
  IDS_HINT_PRINTPRE     " Предпросмотр печатаемого документа."
  IDS_HINT_PAGESETUP    " Изменить расположение страниц."
  IDS_HINT_EXIT         " Выход из этого приложения."

  IDS_HINT_CASCADE      " Окна накладываются друг на друга."
  IDS_HINT_TILE_HORZ    " Заголовки окон не накладываются друг на друга."
  IDS_HINT_TILE_VERT    " Заголовки окон не накладываются друг на друга."
  IDS_HINT_ARRANGE      " Расположение значков внизу окна."
  IDS_HINT_NEXT         " Перейти к следующему окну."

  IDS_HINT_SYS_RESTORE  " Востановить нормальный размер окна."
  IDS_HINT_SYS_MOVE     " Переместить это окно."
  IDS_HINT_SYS_SIZE     " Изменить размер этого окна."
  IDS_HINT_SYS_MINIMIZE " Сворачивание окна в значок."
  IDS_HINT_SYS_MAXIMIZE " Разворачивание окна во весь экран"
END


