/*
 *    Translated by xrogers (http://rogers.cyberdusk.pl/)
 *    xxrogers@users.sourceforge.net
 *    https://sourceforge.net/projects/reactospl
 *    UTF-8 conversion by Caemyr (May, 2011)
 */

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_UsageMessage "%s\n\
Sposób użycia: regsvr32 [/u] [/s] [/c] [/n] [/i[:wiersz_polecenia]] nazwa_pliku_dll\n\
/u -	Wyrejestruj serwer\n\
/s -	Tryb cichy; nie wyświetlaj okien komunikatów\n\
/c -	Wyjście w konsoli\n\
/i -	Wywołaj funkcję DllInstall, przekazując jej opcjonalny [wiersz_polecenia]; użycie tej opcji razem z opcją /u wywołuje funkcję dll uninstall\n\
/n -	Nie wywołuj serwera DllRegisterServer; tej opcji trzeba użyć z opcją /i"
    IDS_NoDllSpecified "Nie określono nazwy biblioteki DLL."
    IDS_InvalidFlag "Nierozpoznana flaga: %s"
    IDS_SwitchN_NoI "Nierozpoznana flaga: /n musi być użyta z przełącznikiem /i"
    IDS_DllNotLoaded "LoadLibrary('%s') nie powiodło się.\nGetLastError zwraca 0x%08x."
    IDS_MissingEntry "%s został załadowany, jednak punkt wejścia %s nie został odnaleziony.\n\n\
%s może nie być eksportowalny, lub uszkodzona wersja %s może być załadowana w pamięci. Proszę rozważyć użycie PView, aby wykryć i usunąć błędy."
    IDS_FailureMessage "%s w %s nie powiodła się.\nKod rezultatu: 0x%08x"
    IDS_SuccessMessage "%s w %s zakończona sukcesem."
END
