//Slovak language file by M·rio KaËm·r aka Kario (kario@szm.sk) 16-01-2008

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

STRINGTABLE DISCARDABLE
BEGIN

IDS_HELP, "ZobrazÌ alebo zmenÌ zoznamy prÌstupov˝ch pr·v (Access Control List) s˙borov.\n\n\
CACLS n·zov_s˙boru [/T] [/E] [/C] [/G pouûÌvateæ:povolenia [...]]\n\
                   [/R pouûÌvateæ [...]] [/P pouûÌvateæ:povolenia [...]]\n\
                   [/D pouûÌvateæ [...]]\n\
    n·zov_s˙boru   ZobrazÌ zoznamy ACL.\n\
    /T             ZmenÌ zoznamy ACL öpecifikovan˝ch s˙borov\n\
                   v aktu·lnom adres·ri a vo vöetk˝ch podadres·roch.\n\
    /E             UpravÌ zoznam ACL namiesto jeho nahradenia.\n\
    /C             PokraËovanie pri chyb·ch odmietnutia prÌstupu.\n\
    /G pouûÌvateæ:povolenia\n\
                   UdelÌ öpecifikovanÈmu pouûÌvateæovi prÌstupovÈ pr·va.\n\
                   Povolenia mÙûu byù: R  ËÌtanie\n\
                                       W  z·pis\n\
                                       C  zmena (z·pis)\n\
                                       F  ˙pln˝ prÌstup\n\
    /R pouûÌvateæ  Odoberie öpecifikovan˝m pouûÌvateæom prÌstupovÈ pr·va\n\
                   (platnÈ iba s prepÌnaËom /E).\n\
    /P pouûÌvateæ:povolenia\n\
                   NahradÌ öpecifikovan˝m pouûÌvateæom prÌstupovÈ pr·va.\n\
                   Povolenia mÙûu byù: N  ûiadne\n\
                                       R  ËÌtanie\n\
                                       W  z·pis\n\
                                       C  zmena (z·pis)\n\
                                       F  ˙pln˝ prÌstup\n\
    /D pouûÌvateæ  Odoprie öpecifikovanÈmu pouûÌvateæovi prÌstup.\n\
N·hradnÈ znaky sa daj˙ pouûiù na öpecifikovanie viacer˝ch s˙borov v jednom\n\
prÌkaze. Rovnako mÙûete öpecifikovaù aj viacer˝ch pouûÌvateæov v prÌkaze.\n\n\
Skratky:\n\
    CI - KontajnÈrovÈ dedenie.\n\
         ACE budÈ zdedenÈ po adres·roch.\n\
    OI - ObjektovÈ dedenie.\n\
         ACE budÈ zdedenÈ po s˙boroch.\n\
    IO - Iba zdediù.\n\
         ACE sa neaplikuje na aktu·lny s˙bor alebo adres·r.\n"

IDS_ABBR_CI, "(CI)"
IDS_ABBR_OI, "(OI)"
IDS_ABBR_IO, "(IO)"
IDS_ABBR_FULL, "F"
IDS_ABBR_READ, "R"
IDS_ABBR_WRITE, "W"
IDS_ABBR_CHANGE, "C"
IDS_ABBR_NONE, "N"
IDS_ALLOW, ""
IDS_DENY, "(DENY)"
IDS_SPECIAL_ACCESS, "(öpeci·lny prÌstup:)"
IDS_GENERIC_READ, "GENERIC_READ"
IDS_GENERIC_WRITE, "GENERIC_WRITE"
IDS_GENERIC_EXECUTE, "GENERIC_EXECUTE"
IDS_GENERIC_ALL, "GENERIC_ALL"
IDS_FILE_GENERIC_EXECUTE, "FILE_GENERIC_EXECUTE"
IDS_FILE_GENERIC_READ, "FILE_GENERIC_READ"
IDS_FILE_GENERIC_WRITE, "FILE_GENERIC_WRITE"
IDS_FILE_READ_DATA, "FILE_READ_DATA"
IDS_FILE_WRITE_DATA, "FILE_WRITE_DATA"
IDS_FILE_APPEND_DATA, "FILE_APPEND_DATA"
IDS_FILE_READ_EA, "FILE_READ_EA"
IDS_FILE_WRITE_EA, "FILE_WRITE_EA"
IDS_FILE_EXECUTE, "FILE_EXECUTE"
IDS_FILE_DELETE_CHILD, "FILE_DELETE_CHILD"
IDS_FILE_READ_ATTRIBUTES, "FILE_READ_ATTRIBUTES"
IDS_FILE_WRITE_ATTRIBUTES, "FILE_WRITE_ATTRIBUTES"
IDS_MAXIMUM_ALLOWED, "MAXIMUM_ALLOWED"
IDS_ACCESS_SYSTEM_SECURITY, "ACCESS_SYSTEM_SECURITY"
IDS_SPECIFIC_RIGHTS_ALL, "SPECIFIC_RIGHTS_ALL"
IDS_STANDARD_RIGHTS_REQUIRED, "STANDARD_RIGHTS_REQUIRED"
IDS_SYNCHRONIZE, "SYNCHRONIZE"
IDS_WRITE_OWNER, "WRITE_OWNER"
IDS_WRITE_DAC, "WRITE_DAC"
IDS_READ_CONTROL, "READ_CONTROL"
IDS_DELETE, "DELETE"
IDS_STANDARD_RIGHTS_ALL, "STANDARD_RIGHTS_ALL"
END
