body {
	font-family: Verdana;
	font-size: 12px;
	margin: 0 0 1em 0;
	padding: 0; /* Only affects Opera */
	background: #FFFFFF url('http://www.reactos.org/images/topbar.jpg') repeat-x scroll top left;
}

hr {
	margin: 5px 0 5px 0;
	color: #8D8D8D;
}

address {
	font-size: 9px;
}

address p {
	margin: 0;
}

h1,.contentSmallTitle {
	display: block;
	line-height: normal;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #5984C3;
	padding: 0 0 1px 10px;
	margin-top: 0;
}

h1 a, .contentSmallTitle a {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #5984C3;
}

h1 a, .contentSmallTitle a {
	text-decoration: none;
}

h1 a:hover, .contentSmallTitle a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	background-color: transparent;
}

h2 {
	font-size: 22px;
	color: #5984C3;
	font-weight: bold;
	margin-top: 15px;
}

h3 {
	font-size: 18px;
	color: #5984C3;
	font-weight: bold;
	margin-top: 10px;
}

h4 {
	font-size: 16px;
	color: #5984C3;
	font-weight: bold;
	margin-top: 5px;
}

h5 {
	font-size: 14px;
	color: #5984C3;
	font-weight: bold;
	margin-top: 5px;
}

h6 {
	font-size: 12px;
	color: #5984C3;
	font-weight: bold;
}

a {
	font-size: 12px;
	color: #006090;
}

a:hover {
	background-color: #DDEEFF;
	color: #000000;
}

/* set by the generator */
a.extern {
	background: url('http://www.reactos.org/wiki/stylesheets/monobook/external.png') no-repeat center right;
	padding-right: 14px;
}

#content, .contentSmall {
	padding-right: 3px;
	font-size: 12px;
	text-align: justify;
}

#content li {
	list-style-image: url('http://www.reactos.org/images/bullet.png')
}

#top {
	margin: 0;
	background: url('http://www.reactos.org/images/logo.jpg') no-repeat scroll 35px 0;
	padding: 103px 0 26px 0;
	color: #FFFFFF;
	text-align: right;
}

#top a {
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
	padding: 1px 5px 1px 5px;
}

#top a:hover {
	color: #000000;
	background-color: #FFCC33;
}

#topMenu {
	font-size: 13px;
	margin-left: 300px;
	background-color: #5984C3;
}

#topMenu p {
	text-align: left;
	margin: 0;
}

#leftNav {
	padding: 0 10px 10px 7px;
}

#rightNav {
	padding: 0 3px 0 5px;
	width: 270px;
	line-height: 150%;
}

#rightNavpic img {
	border: 1px solid #000000;
	height: 200px;
	width: 266px;
}

#rightNavpic .imagedesc {
	font-style: italic;
	text-align: center;
}

#progressbar img {
	border: 0;
}

#leftNav ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #EEEEEE;
	border-top: #3F3849 0 solid;
	border-right: #3F3849 1px solid;
	border-left: #3F3849 1px solid;
}

#leftNav ol li {
	font-size: 13px;
	font-weight: bold;
	border-bottom: #3f3849 1px solid;
}

#leftNav ol li a {
	display: block;
	width: 137px;
	padding: 2px 4px 2px 4px;

	color: #3F3849;
	text-decoration: none;
	background-color: #EEEEEE;
}

#leftNav ol li a:hover {
	color: #000000;
	background-color: #FFCC33;
}

#leftNav ol li a.extern {
	background: none;
	padding-right: 0;
}

#leftNav .navTitle {
	padding-left: 12px;
	border-top: #3F3849 1px solid;
	border-right: #3F3849 1px solid;
	border-bottom: #3F3849 1px solid;
	border-left: #3F3849 1px solid;

	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #5984c3;
}

#leftNav .navBox {
	text-align: center;
	padding: 2px;
	background-color: #EEEEEE;
	border-right: 1px solid #3F3849;
	border-bottom: 1px solid #3F3849;
	border-left: 1px solid #3F3849;
	font-size: 13px;
}

/* icon-pics */
p.icon_p {
	clear: left;
}
img.icon, p.icon_p img {
	height: 48px;
	width: 48px;
	float: left;
	margin: 5px 10px 5px 10px;
	border: 0;
}

/* Graphical Buttons */
div.center {
	text-align: center;
}

/* Picture Button Big */
#picbutton {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width:370px;
}

#picbutton span {
	display: block;
	height: 110px;
	padding-left: 65px;
	padding-top: 25px;
	padding-bottom: 3px;
	font-style: normal;
	letter-spacing: 0;

	font-size: 18px;
	color: #367d10;
}

#picbutton span:hover {
	font-size: 18px;
	color: #3A935B;
	cursor: pointer;
}

#picbutton a.pb_download_link {
	background-position: 0 0;
	display: block;
	height: 110px;
	padding-left: 50px;
	padding-top: 3px;
	padding-bottom: 3px;
	font-style: normal;
	letter-spacing: 0;

	font-size: 18px;
	color: #367d10;
}

#picbutton a.pb_download_link:hover {
	background-position: 0 0;
	cursor: pointer;
	color: #3A935B;
}
#picbutton a.pb_download_link:hover span {
	background-position: 0 0;
	cursor: pointer;
	color: #3A935B;
}
#picbutton a.pb_download_link:hover strong {
	background-position: 0 0;
	cursor: pointer;
	color: #3A935B;
	text-decoration: underline;
}

#picbutton .pb_smalltext {
	padding-top: 5px;
	font-size: 10px;
	text-decoration: none;
}

#picbutton a.pb_smalltext {
	font-size: 10px;
	text-decoration: none;
}

#picbutton a.pb_smalltext em {
	font-style: normal;
	color: #367d10;
	letter-spacing: 0;
	display: block;
	padding-top: 3px;
	font-size: 10px;
	text-decoration: none;
}

/* Button Pictures */
#b_download a {
	padding-left: 30px;
	font-size: 14px;
	color: #367d10;
	background: url('http://www.reactos.org/images/button_reactos_big.jpg') no-repeat 0 100%;
}

#b_download a:hover {
	font-size: 18px;
	color: #3A935B;
	background-color: transparent;
	background: url('http://www.reactos.org/images/button_reactos_big_m.jpg') no-repeat 0 100%;
	cursor: pointer;
}

#b_downloadsmall a {
	background-position: 0 0;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-style: normal;
	letter-spacing: 0;
	width: 235px;
	height: 49px;

	font-size: 16px;
	color: #367d10;
	background: url('http://www.reactos.org/images/button_download.jpg') no-repeat 0 100%;
}

#b_downloadsmall a:hover {
	font-size: 16px;
	color: #3A935B;
	background-color: transparent;
	background: url('http://www.reactos.org/images/button_download_m.jpg') no-repeat 0 100%;
	cursor: pointer;
}

#b_downloadsmall .placeholder {
	padding-top: 5px;
	font-size: 5px;
	text-decoration: none;
}

#b_downloadsmall .sb_margin {
	letter-spacing: 0;
	padding-top: 10px;
	text-decoration: none;
}

#b_donate a {
	background-position: 0 0;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-style: normal;
	letter-spacing: 0;
	width: 235px;
	height: 49px;

	font-size: 16px;
	color: #367d10;
	background: url('http://www.reactos.org/images/button_donate.jpg') no-repeat 0 100%;
}

#b_donate a:hover {
	font-size: 16px;
	color: #3A935B;
	background-color: transparent;
	background: url('http://www.reactos.org/images/button_donate_m.jpg') no-repeat 0 100%;
	cursor: pointer;
}

#b_donate .placeholder {
	padding-top: 5px;
	font-size: 5px;
	text-decoration: none;
}

#b_donate .sb_margin {
	letter-spacing: 0;
	padding-top: 10px;
	text-decoration: none;
}

#b_compatibility a {
	background-position: 0 0;
	display: block;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	font-style: normal;
	letter-spacing: 0;
	width:232px;
	height: 49px;

	font-size: 16px;
	color: #367d10;
	background: url('http://www.reactos.org/support/media/icons/buttons/button_comp_home.jpg') no-repeat 0 100%;

	padding-left: 0 !important;
}

#b_compatibility a:hover {
	font-size: 16px;
	color: #3A935B;
	background-color: transparent;
	background: url('http://www.reactos.org/support/media/icons/buttons/button_comp_home_m.jpg') no-repeat 0 100%;
	cursor: pointer;
}

#b_compatibility .sb_margin {
	letter-spacing: 0;
	padding-top: 10px;
	text-decoration: none;
}

#sb_search {
	font-size: 10px;
	color: #367d10;
}
