LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL

IDD_DOWNLOAD DIALOG LOADONCALL MOVEABLE DISCARDABLE  0, 0, 220, 76
STYLE DS_CENTER | WS_BORDER | WS_CAPTION | WS_POPUP | WS_SYSMENU | WS_VISIBLE
CAPTION "Download..."
FONT 8, "MS Shell Dlg"
BEGIN
  CONTROL "Progress1",IDC_PROGRESS,"msctls_progress32",WS_BORDER|PBS_SMOOTH,10,10,200,12
  LTEXT "", IDC_STATUS, 10, 30, 200, 10, SS_CENTER
  PUSHBUTTON "Cancel", IDCANCEL, 85, 58, 50, 15, WS_GROUP | WS_TABSTOP
END

IDD_PROF DIALOGEX 6, 6, 267, 110
STYLE DS_CENTER | WS_BORDER | WS_CAPTION | WS_POPUP | WS_SYSMENU | WS_VISIBLE
CAPTION "Proferences"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Download folder:", -1, 6, 10, 140, 8
  EDITTEXT IDC_DOWNLOAD_FOLDER_EDIT, 6, 20, 205, 14, WS_VISIBLE | WS_TABSTOP
  PUSHBUTTON "C&hoose...", IDC_CHOOSE_BUTTON, 216, 20, 45, 14
  AUTOCHECKBOX "&Delete installation files after setup", IDC_DELINST_FILES_CHECKBOX, 8, 40, 210, 10, WS_GROUP
  LTEXT "Update server:", -1, 6, 55, 140, 8
  EDITTEXT IDC_UPDATE_SERVER_EDIT, 6, 65, 255, 14, WS_VISIBLE | WS_TABSTOP
  DEFPUSHBUTTON "&OK", IDOK, 147, 90, 54, 15
  PUSHBUTTON "&Cancel", IDCANCEL, 207, 90, 54, 15
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_WINDOW_TITLE		"Download ! - ReactOS Downloader"
  IDS_WELCOME_TITLE		"Benvenuto al ReactOS Downloader"
  IDS_WELCOME			"Scegli una categoria a sinistra. Questa è la versione 1.1."
  IDS_NO_APP_TITLE		"Nessuna applicazione selezionata"
  IDS_NO_APP			"Scegli una Applicazione prima di premere il bottone di download, se serve assistenza clicca sul punto di domanda nell'angolo in alto a destra."
  IDS_UPDATE_TITLE		"Aggiorna"
  IDS_UPDATE			"Funzione non ancora implementata."
  IDS_HELP_TITLE		"Aiuto"
  IDS_HELP			"Scegli una categoria a sinistra, poi scegli una applicazione e clicca il bottone download. Per aggiornare le informazioni sulla applicazione clicca il bottone accanto a quello di aiuto."
  IDS_NO_APPS			"Non ci sono ancora applicazioni in questa categoria. Puoi aiutare aggiungendone altre."
  IDS_CHOOSE_APP		"Scegli una applicazione."
  IDS_CHOOSE_SUB		"Scegli una sottocategoria."
  IDS_CHOOSE_CATEGORY		"Scegli una categoria."
  IDS_CHOOSE_BOTH		"Scegli una sottocategoria o una applicazione."
  IDS_XMLERROR_1		"File xml non trovato !"
  IDS_XMLERROR_2		"Impossibile trattare il contenuto del file xml !"
  IDS_DOWNLOAD_ERROR		"Download del file impossibile.\nVerifica la connessione a Internet."
  IDS_VERSION			"Versione: "
  IDS_LICENCE			"Licenza: "
  IDS_MAINTAINER		"Manutentore: "
  IDS_APPS_TITLE		"Applications"
  IDS_CATS_TITLE		"Categories"
  IDS_CHOOSE_FOLDER		"Please, choose the folder..."
  IDS_NOTCREATE_REGKEY		"Could not create the registry key."
  IDS_DOWNLOAD_FOLDER		"Downloader"
  IDS_UNABLECREATE_FOLDER	"Unable to create a folder with this name!"
  IDS_UPDATE_URL		"http://svn.reactos.org"
  TTT_HELPBUTTON, "Get help about the downloader"
  TTT_UPDATEBUTTON, "Not yet available"
  TTT_PROFBUTTON, "Let you configure the downloader"
END
