#include <windef.h>
#include <winuser.h>
#include <commctrl.h>

#include "resource.h"

#define REACTOS_STR_FILE_DESCRIPTION  "ReactOS Applications Manager\0"
#define REACTOS_STR_INTERNAL_NAME     "rapps\0"
#define REACTOS_STR_ORIGINAL_FILENAME "rapps.exe\0"
#include <reactos/version.rc>

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDI_MAIN ICON "res/main.ico"
IDI_EXIT ICON "res/exit.ico"
IDI_INSTALL ICON "res/install.ico"
IDI_UNINSTALL ICON "res/uninstall.ico"
IDI_SETTINGS ICON "res/settings.ico"
IDI_MODIFY ICON "res/modify.ico"
IDI_REFRESH ICON "res/refresh.ico"
IDI_APPS ICON "res/apps.ico"
IDI_APPUPD ICON "res/appupd.ico"
IDI_CATEGORY ICON "res/cat.ico"

/* Categories */
IDI_CAT_AUDIO ICON "res/cats/audio.ico"
IDI_CAT_DEVEL ICON "res/cats/devel.ico"
IDI_CAT_DRIVERS ICON "res/cats/drivers.ico"
IDI_CAT_EDU ICON "res/cats/edu.ico"
IDI_CAT_ENGINEER ICON "res/cats/engineer.ico"
IDI_CAT_FINANCE ICON "res/cats/finance.ico"
IDI_CAT_GAMES ICON "res/cats/games.ico"
IDI_CAT_GRAPHICS ICON "res/cats/graphics.ico"
IDI_CAT_INTERNET ICON "res/cats/internet.ico"
IDI_CAT_LIBS ICON "res/cats/libs.ico"
IDI_CAT_OFFICE ICON "res/cats/office.ico"
IDI_CAT_OTHER ICON "res/cats/other.ico"
IDI_CAT_SCIENCE ICON "res/cats/science.ico"
IDI_CAT_TOOLS ICON "res/cats/tools.ico"
IDI_CAT_VIDEO ICON "res/cats/video.ico"

#include <reactos/manifest_exe.rc>

#include <rappsmsg.rc>

#include "rsrc.rc"
