/* TRANSLATOR: 2013, 2014 Erdem Ersoy (eersoy93) (erdemersoy [at] erdemersoy [dot] net) */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

IDD_RUNONCE_DLG DIALOGEX 0, 0, 239, 170
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS'u Kur"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "ReactOS şimdi aşağıdaki ögeleri kuruyor:", -1, 38, 8, 196, 18
    LISTBOX IDC_COMP_LIST, 36, 32, 197, 131, LBS_OWNERDRAWVARIABLE | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    ICON IDI_ICON, -1, 5, 6, 21, 20
END
