// Translation by Vytis 'CMan' Girdžijauskas cman@cman.us

LANGUAGE LANG_LITHUANIAN, SUBLANG_DEFAULT

/* String Tables */
STRINGTABLE DISCARDABLE
BEGIN
    IDS_CAPTION  "ReactOS Įdiegimas"
    IDS_TEXT     "Jūs negalite įdiegti ReactOS tiesiogiai iš šio CD!\n\nNorėdami įdiegti ReactOS, prašome perkrauti Jūsų kompiuterį su šiuo CD."
END
