LANGUAGE LANG_NORWEGIAN, SUBLANG_NEUTRAL

IDD_STARTPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS installering"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Velkommen til ReactOS installering veiviseren.", IDC_STARTTITLE, 115, 8, 220, 24
    LTEXT "Du kan ennå ikke installere ReactOS direkte fra denne CD-en! Vennligst start datamaskinen på nytt og start fra denne platen for å installere ReactOS.", IDC_STATIC, 115, 40, 195, 100
    LTEXT "Trykk på Fullført for å avslutte installeringen.", IDC_STATIC, 115, 169, 195, 17
END

IDD_TYPEPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS installering"
FONT 8, "MS Shell Dlg"
BEGIN
    AUTORADIOBUTTON "Installere ReactOS", IDC_INSTALL, 7, 7, 277, 10
    LTEXT "Install a new copy of ReactOS. This option does not keep your files, settings and programs. You can make changes to disks and partitions.", IDC_INSTALLTEXT, 18, 18, 269, 25
    AUTORADIOBUTTON "Reparere eller oppdatere en installert ReactOS", IDC_UPDATE, 7, 50, 277, 10
    LTEXT "Update or repair an installed copy of ReactOS. This option keeps your files, settings and programs. This option is only available if ReactOS is already installed on this computer.", IDC_UPDATETEXT, 18, 61, 269, 30
    LTEXT "Trykk på Neste for installere enhetene.", IDC_STATIC, 7, 128, 297, 8
END

IDD_DEVICEPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS installering"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Datamaskin:", IDC_STATIC, 20, 15, 80, 10
    CONTROL "", IDC_COMPUTER, "ComboBox", WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST, 100, 15, 150, 80
    LTEXT "Skjerm:", IDC_STATIC, 20, 35, 80, 10
    CONTROL "", IDC_DISPLAY, "ComboBox", WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST, 100, 35, 150, 80
    LTEXT "Tastatur:", IDC_STATIC, 20, 55, 80, 10
    CONTROL "", IDC_KEYBOARD, "ComboBox", WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST, 100, 55, 150, 80
    LTEXT "Trykk på Neste for å installere enhetene.", IDC_STATIC, 7, 128, 297, 8
END

IDD_DRIVEPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS installering"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_PARTITION, "SysListView32", WS_BORDER | WS_VISIBLE | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL, 7, 7, 303, 112
    PUSHBUTTON "&Opprett", IDC_PARTCREATE, 7, 122, 50, 15
    PUSHBUTTON "&Slett", IDC_PARTDELETE, 63, 122, 50, 15
    PUSHBUTTON "S&tasjon", IDC_DEVICEDRIVER, 174, 122, 50, 15, WS_DISABLED
    PUSHBUTTON "&Avansert valg...", IDC_PARTMOREOPTS, 230, 122, 80, 15
    LTEXT "Trykk på Neste for å starte installasjon prosessen.", IDC_STATIC, 10, 180, 277, 20
END

IDD_PARTITION DIALOGEX 0, 0, 145, 90
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CAPTION
CAPTION "Opprett partisjon"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_UPDOWN1, "msctls_updown32", WS_VISIBLE, 104, 22, 9, 13
    CONTROL "Opprett og formater partisjon", IDC_STATIC, "Button", BS_GROUPBOX, 7, 5, 129, 57
    LTEXT "Størrelse:", IDC_STATIC, 13, 24, 27, 9
    EDITTEXT IDC_PARTSIZE, 58, 22, 47, 13, WS_VISIBLE | WS_TABSTOP
    LTEXT "GB", IDC_UNIT, 117, 24, 14, 9
    LTEXT "Filsystem:", IDC_STATIC, 13, 46, 42, 9
    CONTROL "", IDC_FSTYPE, "ComboBox", WS_VISIBLE | WS_TABSTOP | CBS_DROPDOWNLIST, 58, 42, 73, 50
    PUSHBUTTON "&OK", IDOK, 35, 68, 47, 15, WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "&Avbryt", IDCANCEL, 87, 68, 47, 15, WS_VISIBLE | WS_TABSTOP
END

IDD_BOOTOPTIONS DIALOGEX 0, 0, 305, 116
STYLE DS_SHELLFONT | WS_VISIBLE | WS_CAPTION
CAPTION "Avansert partisjon innstillinger"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Installasjon mappe", IDC_STATIC, "Button", BS_GROUPBOX, 4, 1, 298, 30
    EDITTEXT IDC_PATH, 10, 11, 278, 13, WS_VISIBLE
    CONTROL "Oppstartslaster installasjon", IDC_STATIC, "Button", BS_GROUPBOX, 4, 36, 298, 52
    CONTROL "Installer oppstartslaster på harddiskens (MBR og VBR)", IDC_INSTFREELDR, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 10, 46, 278, 11
    CONTROL "Installer oppstartslaster på harddiskens (bare VBR)", IDC_INSTVBRONLY, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 10, 57, 278, 11
    CONTROL "Ikke installer oppstartslaster", IDC_NOINSTFREELDR, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_DISABLED, 10, 68, 278, 11
    PUSHBUTTON "&OK", IDOK, 180, 94, 50, 15, WS_TABSTOP | WS_VISIBLE
    PUSHBUTTON "&Avbryt", IDCANCEL, 240, 94, 50, 15, WS_TABSTOP | WS_VISIBLE
END

IDD_SUMMARYPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS installering"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Trykk på Neste for å starte installasjon prosessen.", IDC_STATIC, 7, 180, 303, 20
END

IDD_PROCESSPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS installering"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Installer filer...", IDC_ACTIVITY, 20, 50, 277, 10
    LTEXT "test.txt", IDC_ITEM, 30, 80, 257, 10
    CONTROL "", IDC_PROCESSPROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 20, 120, 277, 8
END

IDD_RESTARTPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Fullfører ReactOS installering"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Du har nå fullført første steget av ReactOS installering.", IDC_STATIC, 20, 50, 277, 10
    LTEXT "Når du trykker Fullført, vil din datamaskin starte på nytt.", IDC_STATIC, 20, 80, 277, 10
    CONTROL "", IDC_RESTART_PROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 20, 120, 277, 8
    LTEXT "Hvis du fortsatt har CD platen i stasjon, fjern denne. For å starte din datamaskin på nytt, trykk på Fullført.", IDC_STATIC, 10, 180, 297, 20
END

STRINGTABLE
BEGIN
    IDS_TYPETITLE "Velkommen til ReactOS installering"
    IDS_TYPESUBTITLE "Velg installering type."
    IDS_DEVICETITLE "Installer grunnleggende enheter"
    IDS_DEVICESUBTITLE "Velg innstillingene til skjermen og tastaturet."
    IDS_DRIVETITLE "Valg av installasjon partisjon og system mappe"
    IDS_DRIVESUBTITLE "Forbrede installasjon partisjon, system mappe og oppstartslaster."
    IDS_PROCESSTITLE "Forbrede partisjon, kopiere filer og installere system"
    IDS_PROCESSSUBTITLE "Opprett og formater partisjon, kopier filer, installere og sett opp oppstartlaster"
    IDS_RESTARTTITLE "Første steget av installering er fullført"
    IDS_RESTARTSUBTITLE "Første steget av installering har blitt fullført, start på nytt for å fortsette til andre steget"
    IDS_SUMMARYTITLE "Installasjon oppsumering"
    IDS_SUMMARYSUBTITLE "Sjekk listen av installasjon egenskapene før du fortsetter installasjon av enhetene"
    IDS_ABORTSETUP "ReactOS er ikke fullstendig installert på datamaskinen. Hvis du avslutter nå, trenger du å kjøre installeringen på nytt for å installere ReactOS. Vil du virkelig avslutte?"
    IDS_ABORTSETUP2 "Avbryt installasjonen?"
    IDS_NO_TXTSETUP_SIF "Unable to find 'txtsetup.sif'\nSetup is unable to continue."
    IDS_CAPTION "ReactOS installering"
END

STRINGTABLE
BEGIN
    IDS_PARTITION_NAME "Name"
    IDS_PARTITION_SIZE "Size"
    IDS_PARTITION_TYPE "Type"
END
