/* TRANSLATOR : Ardit Dani (Ard1t) (ardit.dani@gmail.com)
 * DATE OF TRANSLATION:  18-01-2014
*/

LANGUAGE LANG_ALBANIAN, SUBLANG_NEUTRAL

IDD_PROPPAGEMAIN DIALOGEX 0, 0, 252, 205
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Kontrollues Lojës"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_CPLSYSTEM, -1, 7, 7, 20, 20
    LTEXT "Këto rregullime do ju ndihmojnë të konfiguroni kontrolluesit e lojës të instaluar në kompjuterin tuaj.", -1, 33, 7, 214, 20, NOT WS_GROUP
    GROUPBOX "Kontrollues Lojës të I&nstaluar", -1, 7, 34, 238, 117
    CONTROL "List1", IDC_CONTROLLER_LIST, "SysListView32", WS_BORDER | WS_GROUP | WS_TABSTOP | 0x0000808D, 14, 44, 224, 80
    PUSHBUTTON "&Shto...", IDC_ADD_BUTTON, 35, 129, 65, 14
    PUSHBUTTON "&Hiq", IDC_REMOVE_BUTTON, 104, 129, 65, 14, WS_DISABLED
    PUSHBUTTON "&Karakteristikat", IDC_PROPERTIES_BUTTON, 173, 129, 65, 14, WS_DISABLED
    PUSHBUTTON "A&vancuar...", IDC_ADVANCED_BUTTON, 111, 157, 65, 14
    PUSHBUTTON "&Kontrollo...", IDC_TROUBLESHOOT_BUTTON, 180, 157, 65, 14
    PUSHBUTTON "OK", IDOK, 195, 185, 50, 14
END

IDD_ADD DIALOGEX 0, 0, 265, 200
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_SETFOREGROUND | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Shto Kontrollues Lojë"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_CPLSYSTEM, -1, 8, 7, 20, 20
    LTEXT "Zgjidh një kontrollues lojë nga lista e meposhtme, dhe pastaj kliko OK. Nëse kontrollues juaj i lojës nuk paraqitet në listë, kliko variante.", -1, 35, 7, 210, 33
    LTEXT "&Kontrollues Lojë:", -1, 8, 45, 126, 8
    LISTBOX IDC_GAME_CONTROLLERS_LIST, 7, 55, 251, 57, LBS_STANDARD | LBS_NOINTEGRALHEIGHT | LBS_WANTKEYBOARDINPUT | WS_HSCROLL | WS_TABSTOP
    AUTOCHECKBOX "&Aktivizo rudders dhe pedals", IDC_ENABLE_RUDDERS_CHECKBOX, 7, 114, 100, 10, WS_GROUP
    LTEXT "&Porti lojërave:", -1, 7, 134, 38, 8, NOT WS_VISIBLE
    COMBOBOX IDC_GAME_PORT_COMBO, 7, 147, 140, 50, CBS_DROPDOWNLIST | CBS_SORT | NOT WS_VISIBLE | WS_VSCROLL
    PUSHBUTTON "&Variante...", IDC_CUSTOM_BUTTON, 208, 147, 50, 14
    CONTROL "", -25525, "STATIC", SS_ETCHEDHORZ, 7, 170, 251, 1
    DEFPUSHBUTTON "OK", IDOK, 155, 179, 50, 14
    PUSHBUTTON "Anulo", IDCANCEL, 208, 179, 50, 14
END

IDD_CUSTOM DIALOGEX 0, 0, 265, 183, 0
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_SETFOREGROUND | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Variantet Kontrolluesve Lojës"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Karakteristika të veçanta", -1, 7, 7, 245, 52
    AUTORADIOBUTTON "&Levë", IDC_JOYSTICK_RADIO, 17, 23, 55, 10
    AUTORADIOBUTTON "&Pendë fluturimi ose shkop fluturimi", IDC_FLIGHT_YOKE_RADIO, 147, 23, 89, 10
    AUTORADIOBUTTON "&Pad Loje", IDC_GAME_PAD_RADIO, 17, 40, 65, 10
    AUTORADIOBUTTON "&Kontrollues Gare makine", IDC_RACE_CAR_RADIO, 147, 40, 93, 10
    GROUPBOX "&Axes", -1, 7, 67, 116, 44, WS_GROUP
    COMBOBOX IDC_AXES_COMBO, 37, 79, 48, 50, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    AUTORADIOBUTTON "Rudder/Pedals", IDC_RUDDER_PEDALS_RADIO, 14, 97, 63, 10, NOT WS_VISIBLE
    AUTORADIOBUTTON "Z Axis", IDC_Z_AXIS_RADIO, 81, 97, 35, 10, NOT WS_VISIBLE
    GROUPBOX "&Butona", -1, 137, 67, 116, 44
    COMBOBOX IDC_BUTTONS_COMBO, 178, 79, 48, 50, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL, WS_EX_CLIENTEDGE
    AUTOCHECKBOX "Përfshij një &pika e kontrollit vëshgues", IDC_INC_POINT_CHECKBOX, 7, 123, 115, 10
    LTEXT "Emri K&ontrolluesit:", -1, 7, 139, 200, 9
    EDITTEXT IDC_CONTROLLER_NAME_EDIT, 7, 150, 116, 15, ES_AUTOHSCROLL, WS_EX_CLIENTEDGE | WS_EX_STATICEDGE
    DEFPUSHBUTTON "OK", IDOK, 137, 150, 50, 14
    PUSHBUTTON "Anulo", IDCANCEL, 203, 150, 50, 14
END

IDD_ADVANCED DIALOGEX 0, 0, 220, 86
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Rregullime të Avancuara"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_CPLSYSTEM, -1, 7, 24, 20, 20
    DEFPUSHBUTTON "OK", IDOK, 106, 65, 50, 14
    PUSHBUTTON "Anulo", IDCANCEL, 163, 65, 50, 14
    LTEXT "Zgjidhni pajisjen që dëshironi të përdorni me programet më të vjetër.", -1, 7, 7, 208, 10
    LTEXT "&Pajisja e preferuar:", -1, 34, 24, 70, 10
    COMBOBOX IDC_PREFERRED_DEV_COMBO, 34, 38, 179, 75, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
END

STRINGTABLE
BEGIN
    IDS_CPLSYSTEMNAME "Kontrolluesve Lojës"
    IDS_CPLSYSTEMDESCRIPTION "Shtoni, hiqni, dhe konfiguroni pajisjet elektronike kontrolluese të lojërave të tilla si levë dhe pad-loje."
    IDS_CONTROLLER "Kontrollues"
    IDS_STATUS "Gjendje"
END
