/*
 * PROJECT:     ReactOS uxtheme.dll
 * LICENSE:     LGPL-2.1-or-later (https://spdx.org/licenses/LGPL-2.1-or-later)
 * PURPOSE:     Slovak resource file
 * TRANSLATOR:  Copyright 2024 Václav Zouzalík (Venca24) <vaclav.zouzalik@seznam.cz>
 */

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

/* Strings */

STRINGTABLE
BEGIN
    IDS_MESSAGEBOX "Okno správy"
    IDS_ACTIVEWIN "Aktívne okno"
    IDS_INACTIVEWIN "Neaktívne okno"
    IDS_OK "OK"
    IDS_WINTEXT "Text okna"
END
