LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

IDR_MAINMENU MENU
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "設定(&S)", ID_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "終了(&X)", ID_EXIT
    END
    POPUP "プログラム(&P)"
    BEGIN
        MENUITEM "インストール(&I)\tCtrl+Enter", ID_INSTALL
        MENUITEM "アンインストール(&U)\tCtrl+Del", ID_UNINSTALL
        MENUITEM "変更(&M)", ID_MODIFY
        MENUITEM SEPARATOR
        MENUITEM "レジストリから削除(&R)\tF5", ID_REGREMOVE
        MENUITEM SEPARATOR
        MENUITEM "更新(&R)", ID_REFRESH
        MENUITEM SEPARATOR
        MENUITEM "アップデート データベース(&T)\tCtrl+F5", ID_RESETDB
    END
    POPUP "ヘルプ"
    BEGIN
        MENUITEM "ヘルプ\tF1", ID_HELP, GRAYED
        MENUITEM "バージョン情報", ID_ABOUT
    END
END

IDR_LINKMENU MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "ブラウザでリンクを開く(&O)", ID_OPEN_LINK
        MENUITEM "クリップボードにコピーする(&C)", ID_COPY_LINK
    END
END

IDR_APPLICATIONMENU MENU
BEGIN
    POPUP "popup"
    BEGIN
        MENUITEM "インストール(&I)\tCtrl+Enter", ID_INSTALL
        MENUITEM "アンインストール(&U)\tCtrl+Del", ID_UNINSTALL
        MENUITEM "変更(&M)", ID_MODIFY
        MENUITEM SEPARATOR
        MENUITEM "レジストリから削除(&R)\tF5", ID_REGREMOVE
        MENUITEM SEPARATOR
        MENUITEM "更新(&R)", ID_REFRESH
        MENUITEM SEPARATOR
        MENUITEM "アップデート データベース(&T)\tCtrl+F5", ID_RESETDB
    END
END

IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 250, 265
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "設定"
FONT 9, "MS UI Gothic"
BEGIN
    GROUPBOX "全般", -1, 4, 2, 240, 61
    AUTOCHECKBOX "ウィンドウの場所を保存する(&S)", IDC_SAVE_WINDOW_POS, 15, 12, 219, 12
    AUTOCHECKBOX "起動時に利用できるプログラムのリストを更新する(&U)", IDC_UPDATE_AVLIST, 15, 29, 222, 12
    AUTOCHECKBOX "プログラムのインストールと削除を記録する(&L)", IDC_LOG_ENABLED, 15, 46, 219, 12
    GROUPBOX "ダウンロード処理", -1, 4, 65, 240, 51
    LTEXT "ダウンロードするフォルダ:", -1, 16, 75, 100, 9
    EDITTEXT IDC_DOWNLOAD_DIR_EDIT, 15, 86, 166, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | ES_AUTOHSCROLL
    PUSHBUTTON "選択(&C)", IDC_CHOOSE, 187, 85, 50, 14
    AUTOCHECKBOX "インストール後にプログラムのインストーラを削除する(&D)", IDC_DEL_AFTER_INSTALL, 16, 100, 218, 12
    GROUPBOX "Software source", -1, 4, 118, 240, 46
    CONTROL "Use default", IDC_SOURCE_DEFAULT, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 15, 132, 74, 10
    CONTROL "Specified source", IDC_USE_SOURCE, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 15, 147, 74, 10
    EDITTEXT IDC_SOURCE_URL, 97, 147, 140, 12, ES_AUTOHSCROLL | WS_DISABLED
    GROUPBOX "プロキシ", -1, 4, 166, 240, 76
    CONTROL "システム プロキシ設定", IDC_PROXY_DEFAULT, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 15, 180, 210, 10
    CONTROL "直接 (プロキシなし)", IDC_NO_PROXY, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 15, 195, 210, 10
    CONTROL "プロキシ", IDC_USE_PROXY, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 15, 210, 74, 10
    EDITTEXT IDC_PROXY_SERVER, 90, 210, 147, 12, ES_AUTOHSCROLL | WS_DISABLED
    LTEXT "次のはプロキシなし", -1, 27, 225, 64, 10
    EDITTEXT IDC_NO_PROXY_FOR, 90, 225, 147, 12, ES_AUTOHSCROLL | WS_DISABLED
    PUSHBUTTON "デフォルト", IDC_DEFAULT_SETTINGS, 8, 245, 60, 14
    DEFPUSHBUTTON "OK", IDOK, 116, 245, 60, 14
    PUSHBUTTON "キャンセル", IDCANCEL, 181, 245, 60, 14
END

IDD_INSTALL_DIALOG DIALOGEX 0, 0, 216, 97
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "プログラムのインストール"
FONT 9, "MS UI Gothic"
BEGIN
    LTEXT "...", IDC_INSTALL_TEXT, 4, 5, 209, 35
    AUTORADIOBUTTON "ディスクからインストール (CD や DVD)(&I)", IDC_CD_INSTALL, 10, 46, 197, 11, WS_GROUP
    AUTORADIOBUTTON "ダウンロードしてインストール(&D)", IDC_DOWNLOAD_INSTALL, 10, 59, 197, 11, NOT WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 86, 78, 60, 14
    PUSHBUTTON "キャンセル", IDCANCEL, 150, 78, 60, 14
END

IDD_DOWNLOAD_DIALOG DIALOGEX 0, 0, 220, 72
STYLE DS_SHELLFONT | DS_CENTER | WS_BORDER | WS_CAPTION | WS_POPUP | WS_SYSMENU | WS_VISIBLE
CAPTION "ダウンロード %ls..."
FONT 9, "MS UI Gothic"
BEGIN
    CONTROL "Progress1", IDC_DOWNLOAD_PROGRESS, "msctls_progress32", WS_BORDER | PBS_SMOOTH, 10, 10, 200, 12
    EDITTEXT IDC_DOWNLOAD_STATUS, 10, 28, 200, 22, ES_CENTER | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_DISABLED | NOT WS_BORDER
    PUSHBUTTON "キャンセル", IDCANCEL, 85, 53, 50, 15, WS_GROUP | WS_TABSTOP
END

STRINGTABLE
BEGIN
    IDS_TOOLTIP_INSTALL     "インストール"
    IDS_TOOLTIP_UNINSTALL   "アンインストール"
    IDS_TOOLTIP_MODIFY      "変更"
    IDS_TOOLTIP_SETTINGS    "設定"
    IDS_TOOLTIP_REFRESH     "更新"
    IDS_TOOLTIP_UPDATE_DB   "アップデート データベース"
    IDS_TOOLTIP_EXIT        "終了"
END

STRINGTABLE
BEGIN
    IDS_APP_NAME            "名前"
    IDS_APP_INST_VERSION    "バージョン"
    IDS_APP_DESCRIPTION     "概要"
END

STRINGTABLE
BEGIN
    IDS_INFO_VERSION        "\nバージョン: "
    IDS_INFO_DESCRIPTION    "\n概要: "
    IDS_INFO_PUBLISHER      "\n発行元: "
    IDS_INFO_HELPLINK       "\nヘルプへのリンク: "
    IDS_INFO_HELPPHONE      "\nヘルプの電話番号: "
    IDS_INFO_README         "\nReadmeの位置: "
    IDS_INFO_REGOWNER       "\n登録された所有者: "
    IDS_INFO_PRODUCTID      "\nプロダクトID: "
    IDS_INFO_CONTACT        "\n連絡先: "
    IDS_INFO_UPDATEINFO     "\nアップデート情報: "
    IDS_INFO_INFOABOUT      "\nこれに関する情報: "
    IDS_INFO_COMMENTS       "\nコメント: "
    IDS_INFO_INSTLOCATION   "\nインストール場所: "
    IDS_INFO_INSTALLSRC     "\nインストール元: "
    IDS_INFO_UNINSTALLSTR   "\nアンインストールに使用する文字列: "
    IDS_INFO_MODIFYPATH     "\n変更に使用するパス: "
    IDS_INFO_INSTALLDATE    "\nインストールした日付: "
    IDS_AINFO_PACKAGE_NAME "\nPackage Name: "
END

STRINGTABLE
BEGIN
    IDS_AINFO_VERSION       "\nバージョン: "
    IDS_AINFO_AVAILABLEVERSION "\n利用可能なバージョン: "
    IDS_AINFO_DESCRIPTION   "\n概要: "
    IDS_AINFO_SIZE          "\nサイズ: "
    IDS_AINFO_URLSITE       "\nホームページ: "
    IDS_AINFO_LICENSE       "\nライセンス: "
    IDS_AINFO_URLDOWNLOAD    "\nダウンロード: "
    IDS_AINFO_LANGUAGES "\nLanguages: "
END

STRINGTABLE
BEGIN
    IDS_CAT_AUDIO           "オーディオ"
    IDS_CAT_DEVEL           "開発"
    IDS_CAT_DRIVERS         "ドライバ"
    IDS_CAT_EDU             "教育"
    IDS_CAT_ENGINEER        "工学"
    IDS_CAT_FINANCE         "経営"
    IDS_CAT_GAMES           "ゲームとお楽しみ"
    IDS_CAT_GRAPHICS        "グラフィックス"
    IDS_CAT_INTERNET        "インターネットとネットワーク"
    IDS_CAT_LIBS            "ライブラリ"
    IDS_CAT_OFFICE          "オフィス"
    IDS_CAT_OTHER           "その他"
    IDS_CAT_SCIENCE         "科学"
    IDS_CAT_TOOLS           "ツール"
    IDS_CAT_VIDEO           "ビデオ"
    IDS_CAT_THEMES          "テーマ"
END

STRINGTABLE
BEGIN
    IDS_APPTITLE            "ReactOS アプリケーション マネージャ"
    IDS_APP_AUTHORS "Copyright 2009 Dmitry Chapyshev"
    IDS_SEARCH_TEXT         "検索..."
    IDS_INSTALL             "インストール"
    IDS_UNINSTALL           "アンインストール"
    IDS_MODIFY              "変更"
    IDS_APPS_COUNT          "アプリケーション数: %d; Selected: %d"
    IDS_WELCOME_TITLE       "ReactOS アプリケーション マネージャへようこそ!\n\n"
    IDS_WELCOME_TEXT        "左側からカテゴリを選択し、インストール又はアンインストールするアプリケーションを選んでください。\nReactOS ウェブ サイト: "
    IDS_WELCOME_URL "https://reactos.org/"
    IDS_INSTALLED           "インストール済み"
    IDS_AVAILABLEFORINST    "インストール可能"
    IDS_UPDATES             "アップデート"
    IDS_APPLICATIONS        "アプリケーション"
    IDS_CHOOSE_FOLDER_TEXT  "プログラムのダウンロードに使用するフォルダを選択してください:"
    IDS_CHOOSE_FOLDER_ERROR "指定されたフォルダは存在しません!"
    IDS_URL_INVALID "The URL you have specified is invalid or not supported. Please correct it!"
    IDS_APP_REG_REMOVE "レジストリからインストールされたプログラムに関するデータを削除してもよろしいですか?"
    IDS_INFORMATION "情報"
    IDS_UNABLE_TO_DOWNLOAD "パッケージをダウンロードできません! アドレスが見つからない!"
    IDS_UNABLE_TO_DOWNLOAD2 "パッケージをダウンロードできません! インターネット接続を確認して!"
    IDS_UNABLE_TO_REMOVE "レジストリからこのプログラムに関するデータを削除できません!"
    IDS_UNABLE_TO_INSTALL "インストーラを開けません!"
    IDS_UNABLE_TO_QUERY_CERT "証明書情報を取得できません。\n\nそれでも続けますか？"
    IDS_INTEG_CHECK_TITLE "パッケージの構成を確認しています..."
    IDS_INTEG_CHECK_FAIL "このパッケージは構成チェックに失格しました。おそらく壊れているか、インストール中に破損したと考えられます。このソフトを実行するのはお勧めできません。"
    IDS_INTERRUPTED_DOWNLOAD "ダウンロードは中断しました。インターネット接続を確認して下さい。"
    IDS_UNABLE_TO_WRITE "ディスクへの書き込みができません。容量を確認して下さい。"
    IDS_SELECT_ALL "すべて選択/非選択"
    IDS_INSTALL_SELECTED "選択をインストール"
    IDS_SELECTEDFORINST "インストールを選択済み"
    IDS_MISMATCH_CERT_INFO "証明書は未知のものです:\nSubject: %s\nIssuer: %s\nそれでも続けますか？"
    IDS_UNABLE_PATH "Incorrect path format."
    IDS_APP_DISPLAY_DETAILS "Details"
    IDS_APP_DISPLAY_LIST "List"
    IDS_APP_DISPLAY_TILE "Tile"
    IDS_NO_SEARCH_RESULTS "No search results"
END

STRINGTABLE
BEGIN
    IDS_STATUS_INSTALLED "インストール済み"
    IDS_STATUS_NOTINSTALLED "未インストール"
    IDS_STATUS_DOWNLOADED "ダウンロード完了"
    IDS_STATUS_UPDATE_AVAILABLE "更新があります"
    IDS_STATUS_DOWNLOADING "ダウンロード中..."
    IDS_STATUS_INSTALLING "インストール中..."
    IDS_STATUS_WAITING "インストール待ち..."
    IDS_STATUS_FINISHED "完了"
END

STRINGTABLE
BEGIN
    IDS_LICENSE_OPENSOURCE "オープンソース"
    IDS_LICENSE_FREEWARE "フリーソフト"
    IDS_LICENSE_TRIAL "試用/デモ"
END

STRINGTABLE
BEGIN
    IDS_LANGUAGE_AVAILABLE_TRANSLATION "あなたの言語をサポート"
    IDS_LANGUAGE_NO_TRANSLATION "他の言語をサポート"
    IDS_LANGUAGE_ENGLISH_TRANSLATION "英語をサポート"
    IDS_LANGUAGE_SINGLE "単一言語"
    IDS_LANGUAGE_MORE_PLACEHOLDER " (+%d more)"
    IDS_LANGUAGE_AVAILABLE_PLACEHOLDER " (+%d available)"
END

STRINGTABLE
BEGIN
    IDS_DL_DIALOG_DB_DISP "アプリのデータベース"
    IDS_DL_DIALOG_DB_DOWNLOAD_DISP "データベースを更新中..."
    IDS_DL_DIALOG_DB_UNOFFICIAL_DOWNLOAD_DISP "Updating Database… (Unofficial source)"
END

STRINGTABLE
BEGIN
    IDS_CMD_USAGE "Usage: "
    IDS_CMD_NEED_PACKAGE_NAME "Error: option %1 expects one or more package name.\n"
    IDS_CMD_NEED_FILE_NAME "Error: option %1 expects a file name.\n"
    IDS_CMD_NEED_PARAMS "Error: option %1 expects one or more parameters.\n"
    IDS_CMD_INVALID_OPTION "Error: Unknown or invalid command line option specified.\n"
    IDS_CMD_FIND_RESULT_FOR "Find result for %1:\n"
    IDS_CMD_PACKAGE_NOT_FOUND "Failed to find package %1.\n"
    IDS_CMD_PACKAGE_INFO "Information about package %1:\n"
END
