/*
 * PROJECT:     ReactOS Applications Manager
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Albanian resource file
 * TRANSLATOR:  Copyright 2013 Ardit Dani (Ard1t) <ardit.dani@gmail.com>
 */

LANGUAGE LANG_ALBANIAN, SUBLANG_NEUTRAL

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "Konfigurime", ID_SETTINGS
        MENUITEM SEPARATOR
        MENUITEM "Dil", ID_EXIT
    END
    POPUP "&Programe"
    BEGIN
        MENUITEM "&Instalo\tCtrl+Enter", ID_INSTALL
        MENUITEM "&Uninstall\tCtrl+Del", ID_UNINSTALL
        MENUITEM "&Modifiko", ID_MODIFY
        MENUITEM SEPARATOR
        MENUITEM "Hiq nga R&egjistri", ID_REGREMOVE
        MENUITEM SEPARATOR
        MENUITEM "&Rifresko\tF5", ID_REFRESH
        MENUITEM SEPARATOR
        MENUITEM "Update Data&base\tCtrl+F5", ID_RESETDB
    END
    POPUP "Ndihmë"
    BEGIN
        MENUITEM "Ndihmë\tF1", ID_HELP, GRAYED
        MENUITEM "Rreth", ID_ABOUT
    END
END

IDR_LINKMENU MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Hap linkun ne nje browser", ID_OPEN_LINK
        MENUITEM "Kopjo linkun ne nje tabele", ID_COPY_LINK
    END
END

IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 250, 265
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Konfigurime"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Pergjithshem", -1, 4, 2, 240, 61
    AUTOCHECKBOX "Ruaj pozicionin e dritare", IDC_SAVE_WINDOW_POS, 15, 12, 219, 12
    AUTOCHECKBOX "&Updejto listen e programeve te aksesuar ne start", IDC_UPDATE_AVLIST, 15, 29, 222, 12
    AUTOCHECKBOX "&Log instalalimin dhe heqjen e programeve", IDC_LOG_ENABLED, 15, 46, 219, 12
    GROUPBOX "Shkarko", -1, 4, 65, 240, 51
    LTEXT "Dosja e shkarkimit:", -1, 16, 75, 100, 9
    EDITTEXT IDC_DOWNLOAD_DIR_EDIT, 15, 86, 166, 12, WS_CHILD | WS_VISIBLE | WS_GROUP | ES_AUTOHSCROLL
    PUSHBUTTON "Zgjedh", IDC_CHOOSE, 187, 85, 50, 14
    AUTOCHECKBOX "Fshi instaluesit e programeve pas instalimit", IDC_DEL_AFTER_INSTALL, 16, 100, 218, 12
    GROUPBOX "Software source", -1, 4, 118, 240, 46
    AUTORADIOBUTTON "Use default", IDC_SOURCE_DEFAULT, 15, 132, 74, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Specified source", IDC_USE_SOURCE, 15, 147, 74, 10
    EDITTEXT IDC_SOURCE_URL, 97, 147, 140, 12, ES_AUTOHSCROLL | WS_DISABLED
    GROUPBOX "Proxy", -1, 4, 166, 240, 76
    AUTORADIOBUTTON "System proxy settings", IDC_PROXY_DEFAULT, 15, 180, 210, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Direct (No proxy)", IDC_NO_PROXY, 15, 195, 210, 10
    AUTORADIOBUTTON "Proxy", IDC_USE_PROXY, 15, 210, 74, 10
    EDITTEXT IDC_PROXY_SERVER, 90, 210, 147, 12, ES_AUTOHSCROLL | WS_DISABLED
    LTEXT "No proxy for", -1, 26, 226, 64, 10
    EDITTEXT IDC_NO_PROXY_FOR, 90, 225, 147, 12, ES_AUTOHSCROLL | WS_DISABLED
    PUSHBUTTON "Parazgjedhur", IDC_DEFAULT_SETTINGS, 8, 245, 60, 14, WS_GROUP | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 116, 245, 60, 14
    PUSHBUTTON "Anulo", IDCANCEL, 181, 245, 60, 14
END

IDD_INSTALL_DIALOG DIALOGEX 0, 0, 216, 97
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Instalimi i Programeve"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "…", IDC_INSTALL_TEXT, 4, 5, 209, 35
    AUTORADIOBUTTON "&Instalo nga nje disk (CD or DVD)", IDC_CD_INSTALL, 10, 46, 197, 11, WS_GROUP
    AUTORADIOBUTTON "Shkarko &dhe instalo", IDC_DOWNLOAD_INSTALL, 10, 59, 197, 11, NOT WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 86, 78, 60, 14
    PUSHBUTTON "Anulo", IDCANCEL, 150, 78, 60, 14
END

IDD_DOWNLOAD_DIALOG DIALOGEX 0, 0, 220, 220
STYLE DS_SHELLFONT | DS_CENTER | WS_POPUPWINDOW | WS_CAPTION | WS_VISIBLE
CAPTION "Shkarko %ls…"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_DOWNLOAD_PROGRESS, "msctls_progress32", WS_BORDER | PBS_SMOOTH, 10, 10, 200, 12
    EDITTEXT IDC_DOWNLOAD_STATUS, 10, 28, 200, 22, ES_CENTER | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | WS_DISABLED | NOT WS_BORDER
    PUSHBUTTON "Anulo", IDCANCEL, 85, 53, 50, 15, WS_GROUP | WS_TABSTOP
END

STRINGTABLE
BEGIN
    IDS_TOOLTIP_INSTALL "Instalo"
    IDS_TOOLTIP_UNINSTALL "Uninstall"
    IDS_TOOLTIP_MODIFY "Modifiko"
    IDS_TOOLTIP_SELECT_ALL "Select/Deselect All"
    IDS_TOOLTIP_SETTINGS "Konfigurime"
    IDS_TOOLTIP_REFRESH "Rifresko"
    IDS_TOOLTIP_UPDATE_DB "Update Database"
    IDS_TOOLTIP_EXIT "Dil"
END

STRINGTABLE
BEGIN
    IDS_APP_NAME "Emri"
    IDS_APP_INST_VERSION "Versioni"
    IDS_APP_DESCRIPTION "Pershkrimi"
END

STRINGTABLE
BEGIN
    IDS_INFO_VERSION "\nVersioni: "
    IDS_INFO_DESCRIPTION "\nPershkrimi: "
    IDS_INFO_PUBLISHER "\nPublikuesi: "
    IDS_INFO_HELPLINK "\nLink ndihmes: "
    IDS_INFO_HELPPHONE "\nNdihma Telefonike: "
    IDS_INFO_README "\nLexo: "
    IDS_INFO_REGOWNER "\nZoteruesi i rregjistruar: "
    IDS_INFO_PRODUCTID "\nID Productit: "
    IDS_INFO_CONTACT "\nKontakt: "
    IDS_INFO_UPDATEINFO "\nUpdejto Informacionet: "
    IDS_INFO_INFOABOUT "\nInformacione rreth: "
    IDS_INFO_COMMENTS "\nKomente: "
    IDS_INFO_INSTLOCATION "\nVendndodhja Instalimit: "
    IDS_INFO_INSTALLSRC "\nBurimi Instalimit: "
    IDS_INFO_UNINSTALLSTR "\nUninstall String: "
    IDS_INFO_MODIFYPATH "\nModifiko Rrugen: "
    IDS_INFO_INSTALLDATE "\nData Instalimit: "
    IDS_AINFO_PACKAGE_NAME "\nPackage Name: "
END

STRINGTABLE
BEGIN
    IDS_AINFO_VERSION "\nVersioni: "
    IDS_AINFO_AVAILABLEVERSION "\nAvailable Version: "
    IDS_AINFO_DESCRIPTION "\nPershkrimi: "
    IDS_AINFO_SIZE "\nMasa: "
    IDS_AINFO_URLSITE "\nHome Page: "
    IDS_AINFO_LICENSE "\nLicenca: "
    IDS_AINFO_URLDOWNLOAD "\nShkarko: "
    IDS_AINFO_LANGUAGES "\nLanguages: "
END

STRINGTABLE
BEGIN
    IDS_CAT_AUDIO "Audio"
    IDS_CAT_DEVEL "Zhvillim"
    IDS_CAT_DRIVERS "Driverar"
    IDS_CAT_EDU "Argetim"
    IDS_CAT_ENGINEER "Inxhinieri"
    IDS_CAT_FINANCE "Financa"
    IDS_CAT_GAMES "Lojra & Qef"
    IDS_CAT_GRAPHICS "Grafika"
    IDS_CAT_INTERNET "Interneti & Rrjeti"
    IDS_CAT_LIBS "Librarite"
    IDS_CAT_OFFICE "Office"
    IDS_CAT_OTHER "T'jere"
    IDS_CAT_SCIENCE "Skenca"
    IDS_CAT_TOOLS "Vegla"
    IDS_CAT_VIDEO "Video"
    IDS_CAT_THEMES "Themes"
END

STRINGTABLE
BEGIN
    IDS_APPTITLE "ReactOS Applications Manager"
    IDS_APP_AUTHORS "Copyright 2009 Dmitry Chapyshev"
    IDS_WELCOME_TITLE "Mire Se Erdhe ne ReactOS Applications Manager!"
    IDS_WELCOME_TEXT "Zgjidh nje kategori ne te majte, pastaj zgjidh nje aplicacion per ta instaluar ose uninstall.\nReactOS Web Site: "
    IDS_WELCOME_URL "https://reactos.org"

    IDS_APPWIZ_TITLE "Add/Remove Programs"
    IDS_APPWIZ_TEXT1 "Choose ""Applications"" or ""Updates"" to view the list of applications or updates installed on your system."
    IDS_APPWIZ_TEXT2 "To remove a program or to modify its installed components, select it from the list and click on ""Uninstall"" or ""Modify""."
END

STRINGTABLE
BEGIN
    IDS_SEARCH_TEXT "Kerko…"
    IDS_APPS_COUNT "Numrimi Aplicacioneve: %d"
    IDS_APPS_SELECT_COUNT "; Selected: %d"
    IDS_INSTALLED "Instaluar"
    IDS_AVAILABLEFORINST "Te vlefshem per instalim"
    IDS_UPDATES "Updates"
    IDS_APPLICATIONS "Aplicacione"
    IDS_CHOOSE_FOLDER_TEXT "Zgjidh nje dosje ku do duhen Downloadusit:"
    IDS_CHOOSE_FOLDER_ERROR "Dosja qe keni zgjedhur nuk ekziston. Krijoje?"
    IDS_URL_INVALID "The URL you have specified is invalid or not supported. Please correct it!"
    IDS_APP_REG_REMOVE "Jeni te sigurt qe do ti fshini informacionet e programit te instaluar nga regjistri?"
    IDS_INFORMATION "Informacione"
    IDS_UNABLE_TO_DOWNLOAD "Unable to download the package! Address not found!"
    IDS_UNABLE_TO_DOWNLOAD2 "Unable to download the package! Check Internet Connection!"
    IDS_UNABLE_TO_REMOVE "E pamundur te fshihen informacionet e programit nga regjistri!"
    IDS_UNABLE_TO_INSTALL "Unable to open installer!"
    IDS_UNABLE_TO_QUERY_CERT "Unable to retrieve certificate info.\n\nDo you want to continue anyway?"
    IDS_INTEG_CHECK_TITLE "Verifying package integrity…"
    IDS_INTEG_CHECK_FAIL "The package did not pass the integrity check, it may have been corrupted or tampered with during downloading. Running the software is not recommended."
    IDS_INTERRUPTED_DOWNLOAD "The download was interrupted. Check connection to Internet."
    IDS_UNABLE_TO_WRITE "Unable to write to disk. Disk may be at capacity."
    IDS_INSTALL_SELECTED "Install Selected"
    IDS_SELECTEDFORINST "Selected for installation"
    IDS_MISMATCH_CERT_INFO "The certificate used is unknown:\nSubject: %s\nIssuer: %s\nDo you want to continue anyway?"
    IDS_UNABLE_PATH "Incorrect path format."
    IDS_APP_DISPLAY_DETAILS "Details"
    IDS_APP_DISPLAY_LIST "List"
    IDS_APP_DISPLAY_TILE "Tile"
    IDS_NO_SEARCH_RESULTS "No search results"
END

STRINGTABLE
BEGIN
    IDS_STATUS_INSTALLED "Installed"
    IDS_STATUS_NOTINSTALLED "Not installed"
    IDS_STATUS_DOWNLOADED "Downloaded"
    IDS_STATUS_UPDATE_AVAILABLE "Update available"
    IDS_STATUS_DOWNLOADING "Downloading…"
    IDS_STATUS_INSTALLING "Installing…"
    IDS_STATUS_WAITING "Waiting to install…"
    IDS_STATUS_FINISHED "Finished"
END

STRINGTABLE
BEGIN
    IDS_LICENSE_OPENSOURCE "Open Source"
    IDS_LICENSE_FREEWARE "Freeware"
    IDS_LICENSE_TRIAL "Trial/Demo"
END

STRINGTABLE
BEGIN
    IDS_LANGUAGE_AVAILABLE_TRANSLATION "Supports your language"
    IDS_LANGUAGE_NO_TRANSLATION "Supports other languages"
    IDS_LANGUAGE_ENGLISH_TRANSLATION "Supports English"
    IDS_LANGUAGE_SINGLE "Single language"
    IDS_LANGUAGE_MORE_PLACEHOLDER " (+%d more)"
    IDS_LANGUAGE_AVAILABLE_PLACEHOLDER " (+%d available)"
END

STRINGTABLE
BEGIN
    IDS_DL_DIALOG_DB_DISP "Applications Database"
    IDS_DL_DIALOG_DB_DOWNLOAD_DISP "Updating Database…"
    IDS_DL_DIALOG_DB_UNOFFICIAL_DOWNLOAD_DISP "Updating Database… (Unofficial source)"
END

STRINGTABLE
BEGIN
    IDS_CMD_USAGE "Usage: "
    IDS_CMD_NEED_PACKAGE_NAME "Error: option %1 expects one or more package name.\n"
    IDS_CMD_NEED_FILE_NAME "Error: option %1 expects a file name.\n"
    IDS_CMD_NEED_PARAMS "Error: option %1 expects one or more parameters.\n"
    IDS_CMD_INVALID_OPTION "Error: Unknown or invalid command line option specified.\n"
    IDS_CMD_FIND_RESULT_FOR "Find result for %1:\n"
    IDS_CMD_PACKAGE_NOT_FOUND "Failed to find package %1.\n"
    IDS_CMD_PACKAGE_INFO "Information about package %1:\n"
END

STRINGTABLE
BEGIN
    IDS_INSTGEN_CONFIRMUNINST "Are you sure you want to uninstall %s?"
END
