/*
 *Korean translation by manatails007(www.manatails007.org) Seungju Kim
 */
LANGUAGE LANG_KOREAN, SUBLANG_DEFAULT
// Dialog

IDD_DIALOG_SCIENTIFIC DIALOGEX 0, 0, 316, 161
STYLE DS_SHELLFONT | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS 계산기"
MENU IDR_MENU_SCIENTIFIC_1
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "",IDC_STATIC,4,16,132,21
    CONTROL         "Hex",IDC_RADIO_HEX,"Button",BS_AUTORADIOBUTTON,8,24,29,
                    10
    CONTROL         "Dec",IDC_RADIO_DEC,"Button",BS_AUTORADIOBUTTON,40,24,29,
                    10
    CONTROL         "Oct",IDC_RADIO_OCT,"Button",BS_AUTORADIOBUTTON,72,24,27,
                    10
    CONTROL         "Bin",IDC_RADIO_BIN,"Button",BS_AUTORADIOBUTTON,100,24,
                    26,10
    GROUPBOX        "",IDC_STATIC,4,36,76,21
    CONTROL         "Inv",IDC_CHECK_INV,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,8,44,26,10
    CONTROL         "Hyp",IDC_CHECK_HYP,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,40,44,29,10
    CTEXT           "",IDC_TEXT_PARENT,84,40,24,17,SS_CENTERIMAGE,
                    WS_EX_CLIENTEDGE
    CTEXT           "",IDC_TEXT_MEMORY,112,40,24,17,SS_CENTERIMAGE,
                    WS_EX_CLIENTEDGE
    PUSHBUTTON      "Sta",IDC_BUTTON_STA,4,64,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "Ave",IDC_BUTTON_AVE,4,83,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | WS_DISABLED | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "Sum",IDC_BUTTON_SUM,4,102,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | WS_DISABLED | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "s",IDC_BUTTON_S,4,121,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | WS_DISABLED | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "Dat",IDC_BUTTON_DAT,4,140,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | WS_DISABLED | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "F-E",IDC_BUTTON_FE,38,64,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "dms",IDC_BUTTON_DMS,38,83,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "sin",IDC_BUTTON_SIN,38,102,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "cos",IDC_BUTTON_COS,38,121,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "tan",IDC_BUTTON_TAN,38,140,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "(",IDC_BUTTON_LEFTPAR,64,64,24,17,BS_CENTER | 
                    BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "Exp",IDC_BUTTON_EXP,64,83,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "x^y",IDC_BUTTON_XeY,64,102,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "x^2",IDC_BUTTON_Xe2,64,121,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "x^3",IDC_BUTTON_Xe3,64,140,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      ")",IDC_BUTTON_RIGHTPAR,90,64,24,17,BS_CENTER | 
                    BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "ln",IDC_BUTTON_LN,90,83,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "log",IDC_BUTTON_LOG,90,102,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "n!",IDC_BUTTON_NF,90,121,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "1/x",IDC_BUTTON_RX,90,140,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "MC",IDC_BUTTON_MC,124,64,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "MR",IDC_BUTTON_MR,124,83,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "MS",IDC_BUTTON_MS,124,102,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "M+",IDC_BUTTON_MP,124,121,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "pi",IDC_BUTTON_PI,124,140,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "7",IDC_BUTTON_7,158,64,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "4",IDC_BUTTON_4,158,83,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "1",IDC_BUTTON_1,158,102,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "0",IDC_BUTTON_0,158,121,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "A",IDC_BUTTON_A,158,140,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "8",IDC_BUTTON_8,184,64,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "5",IDC_BUTTON_5,184,83,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "2",IDC_BUTTON_2,184,102,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "+/-",IDC_BUTTON_SIGN,184,121,24,17,BS_CENTER | 
                    BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "B",IDC_BUTTON_B,184,140,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "9",IDC_BUTTON_9,210,64,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "6",IDC_BUTTON_6,210,83,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "3",IDC_BUTTON_3,210,102,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      ",",IDC_BUTTON_DOT,210,121,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "C",IDC_BUTTON_C,210,140,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "/",IDC_BUTTON_DIV,236,64,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "*",IDC_BUTTON_MULT,236,83,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "-",IDC_BUTTON_SUB,236,102,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "+",IDC_BUTTON_ADD,236,121,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "D",IDC_BUTTON_D,236,140,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "Mod",IDC_BUTTON_MOD,262,64,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "Or",IDC_BUTTON_OR,262,83,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "Lsh",IDC_BUTTON_LSH,262,102,24,17,BS_CENTER | 
                    BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "=",IDC_BUTTON_EQU,262,121,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "E",IDC_BUTTON_E,262,140,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "And",IDC_BUTTON_AND,288,64,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "Xor",IDC_BUTTON_XOR,288,83,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "Not",IDC_BUTTON_NOT,288,102,24,17,BS_CENTER | 
                    BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "Int",IDC_BUTTON_INT,288,121,24,17,BS_CENTER | 
                    BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "F",IDC_BUTTON_F,288,140,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    GROUPBOX        "",IDC_STATIC,140,16,172,21
    CONTROL         "Qword",IDC_RADIO_QWORD,"Button",BS_AUTORADIOBUTTON | 
                    NOT WS_VISIBLE,148,24,37,10
    CONTROL         "Dword",IDC_RADIO_DWORD,"Button",BS_AUTORADIOBUTTON | 
                    NOT WS_VISIBLE,188,24,37,10
    CONTROL         "Word",IDC_RADIO_WORD,"Button",BS_AUTORADIOBUTTON | NOT 
                    WS_VISIBLE,232,24,33,10
    CONTROL         "Byte",IDC_RADIO_BYTE,"Button",BS_AUTORADIOBUTTON | NOT 
                    WS_VISIBLE,272,24,30,10
    CONTROL         "Degrees",IDC_RADIO_DEG,"Button",BS_AUTORADIOBUTTON,148,24,
                    42,10
    CONTROL         "Radians",IDC_RADIO_RAD,"Button",BS_AUTORADIOBUTTON,192,
                    24,42,10
    CONTROL         "Grads",IDC_RADIO_GRAD,"Button",BS_AUTORADIOBUTTON,
                    236,24,44,10
    PUSHBUTTON      "C",IDC_BUTTON_CANC,272,40,40,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "CE",IDC_BUTTON_CE,228,40,40,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "Back",IDC_BUTTON_BACK,184,40,40,17,BS_CENTER | 
                    BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    RTEXT           "",IDC_TEXT_OUTPUT,4,4,308,12,SS_CENTERIMAGE,
                    WS_EX_CLIENTEDGE
    DEFPUSHBUTTON   "",IDC_BUTTON_FOCUS,0,0,5,5, NOT WS_VISIBLE
END

IDD_DIALOG_STANDARD DIALOGEX 0, 0, 172, 127
STYLE DS_SHELLFONT | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS 계산기"
MENU IDR_MENU_STANDARD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "C",IDC_BUTTON_CANC,128,24,40,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "CE",IDC_BUTTON_CE,84,24,40,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "Back",IDC_BUTTON_BACK,40,24,40,17,BS_CENTER | 
                    BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    RTEXT           "",IDC_TEXT_OUTPUT,4,4,164,12,SS_CENTERIMAGE,
                    WS_EX_CLIENTEDGE
    PUSHBUTTON      "7",IDC_BUTTON_7,40,48,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "4",IDC_BUTTON_4,40,67,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "1",IDC_BUTTON_1,40,86,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "0",IDC_BUTTON_0,40,105,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "8",IDC_BUTTON_8,66,48,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "5",IDC_BUTTON_5,66,67,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "2",IDC_BUTTON_2,66,86,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "+/-",IDC_BUTTON_SIGN,66,105,24,17,BS_CENTER | 
                    BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "9",IDC_BUTTON_9,92,48,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "6",IDC_BUTTON_6,92,67,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "3",IDC_BUTTON_3,92,86,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      ",",IDC_BUTTON_DOT,92,105,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "/",IDC_BUTTON_DIV,118,48,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "*",IDC_BUTTON_MULT,118,67,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "-",IDC_BUTTON_SUB,118,86,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "+",IDC_BUTTON_ADD,118,105,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "Sqrt",IDC_BUTTON_SQRT,144,48,24,17,BS_CENTER | 
                    BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "%",IDC_BUTTON_PERCENT,144,67,24,17,BS_CENTER | 
                    BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "1/x",IDC_BUTTON_RX,144,86,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "=",IDC_BUTTON_EQU,144,105,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    CTEXT           "",IDC_TEXT_MEMORY,4,24,24,17,SS_CENTERIMAGE,
                    WS_EX_CLIENTEDGE
    PUSHBUTTON      "MC",IDC_BUTTON_MC,4,48,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "MR",IDC_BUTTON_MR,4,67,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "MS",IDC_BUTTON_MS,4,86,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON      "M+",IDC_BUTTON_MP,4,105,24,17,BS_CENTER | BS_VCENTER | 
                    BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    DEFPUSHBUTTON   "",IDC_BUTTON_FOCUS,0,0,5,5, NOT WS_VISIBLE
END

IDD_DIALOG_ABOUT DIALOGEX DISCARDABLE  0, 0, 264, 169
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS 계산기 정보"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,105,148,52,16
    CONTROL         106,IDC_STATIC,"Static",SS_BITMAP | SS_CENTERIMAGE | 
                    SS_REALSIZEIMAGE | WS_BORDER,4,4,104,48
    LTEXT           "ReactOS 계산기",IDC_STATIC,120,12,132,8,
                    SS_CENTERIMAGE
    LTEXT           "버젼 ",IDC_TEXT_VERSION,120,20,132,8,SS_CENTERIMAGE
    LTEXT           "Carlo Bramini에 의해 쓰여짐",IDC_STATIC,120,32,132,8,
                    SS_CENTERIMAGE
    GROUPBOX        "",IDC_STATIC,112,0,148,52
    GROUPBOX        "",IDC_STATIC,4,56,256,88
    EDITTEXT        IDC_EDIT_LICENSE,12,68,240,68,ES_MULTILINE | ES_READONLY | 
                    WS_VSCROLL
END

IDD_DIALOG_STAT DIALOGEX DISCARDABLE  0, 0, 163, 85
STYLE DS_SHELLFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Statistics box"
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX         IDC_LIST_STAT,4,4,156,40,LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "RET",IDC_BUTTON_RET,4,48,36,16
    PUSHBUTTON      "LOAD",IDC_BUTTON_LOAD,44,48,36,16
    PUSHBUTTON      "CD",IDC_BUTTON_CD,84,48,36,16
    PUSHBUTTON      "CAD",IDC_BUTTON_CAD,124,48,36,16
    CTEXT           "n=0",IDC_TEXT_NITEMS,4,68,156,12,SS_CENTERIMAGE | 
                    SS_SUNKEN
END


// Menus

IDR_MENU_SCIENTIFIC_1 MENU DISCARDABLE 
BEGIN
    POPUP "편집"
    BEGIN
        MENUITEM "복사\tCTRL-C",                IDM_EDIT_COPY
        MENUITEM "붙여넣기\tCTRL-V",               IDM_EDIT_PASTE
    END
    POPUP "보기"
    BEGIN
        MENUITEM "일반",                    IDM_VIEW_STANDARD, CHECKED
        MENUITEM "공학",                  IDM_VIEW_SCIENTIFIC, CHECKED
        MENUITEM "전환",                  IDM_VIEW_CONVERSION
        MENUITEM SEPARATOR
        MENUITEM "Hex\tF5",                     IDM_VIEW_HEX, CHECKED
        MENUITEM "Decimal\tF6",                 IDM_VIEW_DEC, CHECKED
        MENUITEM "Octal\tF7",                   IDM_VIEW_OCT, CHECKED
        MENUITEM "Binary\tF8",                  IDM_VIEW_BIN, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "Degrees\tF2",                 IDM_VIEW_DEG, CHECKED
        MENUITEM "Radians\tF3",                 IDM_VIEW_RAD, CHECKED
        MENUITEM "Grads\tF4",                   IDM_VIEW_GRAD, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "자릿수 구분 단위",                IDM_VIEW_GROUP, CHECKED
    END
    POPUP "도움말"
    BEGIN
        MENUITEM "도움말 항목",                 IDM_HELP_HELP
        MENUITEM SEPARATOR
        MENUITEM "ReactOS 계산기 정보",          IDM_HELP_ABOUT
    END
END

IDR_MENU_SCIENTIFIC_2 MENU DISCARDABLE 
BEGIN
    POPUP "편집"
    BEGIN
        MENUITEM "복사\tCTRL-C",                IDM_EDIT_COPY
        MENUITEM "붙여넣기\tCTRL-V",               IDM_EDIT_PASTE
    END
    POPUP "보기"
    BEGIN
        MENUITEM "일반",                    IDM_VIEW_STANDARD, CHECKED
        MENUITEM "공학",                  IDM_VIEW_SCIENTIFIC, CHECKED
        MENUITEM "전환",                  IDM_VIEW_CONVERSION
        MENUITEM SEPARATOR
        MENUITEM "Hex\tF5",                     IDM_VIEW_HEX, CHECKED
        MENUITEM "Decimal\tF6",                 IDM_VIEW_DEC, CHECKED
        MENUITEM "Octal\tF7",                   IDM_VIEW_OCT, CHECKED
        MENUITEM "Binary\tF8",                  IDM_VIEW_BIN, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "Qword\tF12",                  IDM_VIEW_QWORD, CHECKED
        MENUITEM "Dword\tF2",                   IDM_VIEW_DWORD, CHECKED
        MENUITEM "Word\tF3",                    IDM_VIEW_WORD, CHECKED
        MENUITEM "Byte\tF4",                    IDM_VIEW_BYTE, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "자릿수 구분 단위",                IDM_VIEW_GROUP, CHECKED
    END
    POPUP "도움말"
    BEGIN
        MENUITEM "도움말 항목",                 IDM_HELP_HELP
        MENUITEM SEPARATOR
        MENUITEM "ReactOS 계산기 정보",          IDM_HELP_ABOUT
    END
END

IDR_MENU_STANDARD MENU DISCARDABLE 
BEGIN
    POPUP "편집"
    BEGIN
        MENUITEM "복사\tCTRL-C",                IDM_EDIT_COPY
        MENUITEM "붙여넣기\tCTRL-V",               IDM_EDIT_PASTE
    END
    POPUP "보기"
    BEGIN
        MENUITEM "일반",                    IDM_VIEW_STANDARD, CHECKED
        MENUITEM "공학",                  IDM_VIEW_SCIENTIFIC, CHECKED
        MENUITEM "전환",                  IDM_VIEW_CONVERSION
        MENUITEM SEPARATOR
        MENUITEM "자릿수 구분 단위",                IDM_VIEW_GROUP, CHECKED
    END
    POPUP "도움말"
    BEGIN
        MENUITEM "도움말 항목",                 IDM_HELP_HELP
        MENUITEM SEPARATOR
        MENUITEM "ReactOS 계산기 정보",          IDM_HELP_ABOUT
    END
END

// String Tables

STRINGTABLE DISCARDABLE 
BEGIN
    IDS_STRING_LICENSE      "ReactOS Calc is free software released under GNU GPL license.\r\n\r\nYou can get a copy of GNU GPL license here:\r\nhttp://www.gnu.org/licenses/gpl.html\r\n\r\nYou can also get a translation of GNU GPL license here:\r\nhttp://www.gnu.org/licenses/translations.html"
    IDS_MATH_ERROR          "에러"
    IDS_QUICKHELP           "빠른 도움말"
END

