/*
 * PROJECT:     ReactOS Calc
 * LICENSE:     LGPL-2.0-or-later (https://spdx.org/licenses/LGPL-2.0-or-later)
 * PURPOSE:     Chinese (Hong Kong) resource file
 * TRANSLATORS: Copyright 2021 Chan Chilung <eason066@gmail.com>
 * REFERENCES:  Chinese (Simplified) resource file
 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_HONGKONG

/* Dialogs */

IDD_DIALOG_SCIENTIFIC DIALOGEX 0, 0, 316, 163
STYLE DS_SHELLFONT | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS 計數機"
MENU IDR_MENU_SCIENTIFIC_1
FONT 9, "新細明體", 0, 0, 0x1
BEGIN
    GROUPBOX "", IDC_STATIC, 5 ,14, 141, 20
    CONTROL "Hex", IDC_RADIO_HEX, "Button", BS_AUTORADIOBUTTON, 8, 21, 30, 10
    CONTROL "Dec", IDC_RADIO_DEC, "Button", BS_AUTORADIOBUTTON, 41, 21, 30, 10
    CONTROL "Oct", IDC_RADIO_OCT, "Button", BS_AUTORADIOBUTTON, 74, 21, 30, 10
    CONTROL "Bin", IDC_RADIO_BIN, "Button", BS_AUTORADIOBUTTON, 107, 21, 30, 10
    GROUPBOX "", IDC_STATIC, 5, 34, 84, 20
    CONTROL "Inv", IDC_CHECK_INV, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 8, 41, 26, 10
    CONTROL "Hyp", IDC_CHECK_HYP, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 49, 41, 29, 10
    CTEXT "", IDC_TEXT_PARENT, 93, 38, 18, 16, SS_CENTERIMAGE, WS_EX_CLIENTEDGE
    CTEXT "", IDC_TEXT_MEMORY, 126, 38, 18, 16, SS_CENTERIMAGE, WS_EX_CLIENTEDGE
    PUSHBUTTON "Sta", IDC_BUTTON_STA, 5, 60, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "Ave", IDC_BUTTON_AVE, 5, 80, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | WS_DISABLED | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "Sum", IDC_BUTTON_SUM, 5, 100, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | WS_DISABLED | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "s", IDC_BUTTON_S, 5, 120, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | WS_DISABLED | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "Dat", IDC_BUTTON_DAT, 5, 140, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | WS_DISABLED | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "F-E", IDC_BUTTON_FE, 38, 60, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "dms", IDC_BUTTON_DMS, 38, 80, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "sin", IDC_BUTTON_SIN, 38, 100, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "cos", IDC_BUTTON_COS, 38, 120, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "tan", IDC_BUTTON_TAN, 38, 140, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "(", IDC_BUTTON_LEFTPAR, 64, 60, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "Exp", IDC_BUTTON_EXP, 64, 80, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "x^y", IDC_BUTTON_XeY, 64, 100, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "x^2", IDC_BUTTON_Xe2, 64, 120, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "x^3", IDC_BUTTON_Xe3, 64, 140, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON ")", IDC_BUTTON_RIGHTPAR, 90, 60, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "ln", IDC_BUTTON_LN, 90, 80, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "log", IDC_BUTTON_LOG, 90, 100, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "n!", IDC_BUTTON_NF, 90, 120, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "1/x", IDC_BUTTON_RX, 90, 140, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "MC", IDC_BUTTON_MC, 123, 60, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "MR", IDC_BUTTON_MR, 123, 80, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "MS", IDC_BUTTON_MS, 123, 100, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "M+", IDC_BUTTON_MP, 123, 120, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "pi", IDC_BUTTON_PI, 123, 140, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "7", IDC_BUTTON_7, 156, 60, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "4", IDC_BUTTON_4, 156, 80, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "1", IDC_BUTTON_1, 156, 100, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "0", IDC_BUTTON_0, 156, 120, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "A", IDC_BUTTON_A, 156, 140, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "8", IDC_BUTTON_8, 182, 60, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "5", IDC_BUTTON_5, 182, 80, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "2", IDC_BUTTON_2, 182, 100, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "+/-", IDC_BUTTON_SIGN, 182, 120, 24, 18,BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "B", IDC_BUTTON_B, 182, 140, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "9", IDC_BUTTON_9, 208, 60, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "6", IDC_BUTTON_6, 208, 80, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "3", IDC_BUTTON_3, 208, 100, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON ",", IDC_BUTTON_DOT, 208, 120, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "C", IDC_BUTTON_C, 208, 140, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "/", IDC_BUTTON_DIV, 234, 60, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "*", IDC_BUTTON_MULT, 234, 80, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "-", IDC_BUTTON_SUB, 234, 100, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "+", IDC_BUTTON_ADD, 234, 120, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "D", IDC_BUTTON_D, 234, 140, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "Mod", IDC_BUTTON_MOD, 260, 60, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "Or", IDC_BUTTON_OR, 260, 80, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "Lsh", IDC_BUTTON_LSH, 260, 100, 24, 18, BS_CENTER |
               BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "=", IDC_BUTTON_EQU, 260, 120, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "E", IDC_BUTTON_E, 260, 140, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "And", IDC_BUTTON_AND, 286, 60, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "Xor", IDC_BUTTON_XOR, 286, 80, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "Not", IDC_BUTTON_NOT, 286, 100, 24, 18, BS_CENTER |
               BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "Int", IDC_BUTTON_INT, 286, 120, 24, 18, BS_CENTER |
               BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "F", IDC_BUTTON_F, 286, 140, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    GROUPBOX "", IDC_STATIC, 147, 14, 163, 20
    CONTROL "Qword", IDC_RADIO_QWORD, "Button", BS_AUTORADIOBUTTON |
            NOT WS_VISIBLE, 150, 21, 38, 10
    CONTROL "Dword", IDC_RADIO_DWORD, "Button", BS_AUTORADIOBUTTON |
            NOT WS_VISIBLE, 190, 21, 38, 10
    CONTROL "Word", IDC_RADIO_WORD, "Button", BS_AUTORADIOBUTTON |
            NOT WS_VISIBLE, 230, 21, 38, 10
    CONTROL "位元組", IDC_RADIO_BYTE, "Button", BS_AUTORADIOBUTTON |
            NOT WS_VISIBLE, 270, 21, 38, 10
    CONTROL "角度", IDC_RADIO_DEG, "Button", BS_AUTORADIOBUTTON, 150, 21, 45, 10
    CONTROL "弧度", IDC_RADIO_RAD, "Button", BS_AUTORADIOBUTTON, 204, 21, 45, 10
    CONTROL "梯度", IDC_RADIO_GRAD, "Button", BS_AUTORADIOBUTTON, 258, 21, 45, 10
    PUSHBUTTON "C", IDC_BUTTON_CANC, 267, 38, 43, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "CE", IDC_BUTTON_CE, 222, 38, 43, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "Back", IDC_BUTTON_BACK, 177, 38, 43, 18, BS_CENTER |
               BS_VCENTER | BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    RTEXT "", IDC_TEXT_OUTPUT, 5, 1, 305, 14, SS_CENTERIMAGE, WS_EX_CLIENTEDGE
    DEFPUSHBUTTON "", IDC_BUTTON_FOCUS, 0, 0, 5, 5, NOT WS_VISIBLE
END

IDD_DIALOG_STANDARD DIALOGEX 0, 0, 169, 128
STYLE DS_SHELLFONT | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS 計數機"
MENU IDR_MENU_STANDARD
FONT 9, "新細明體", 0, 0, 0x1
BEGIN
    PUSHBUTTON "C", IDC_BUTTON_CANC, 123, 23, 41, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "CE", IDC_BUTTON_CE, 80, 23, 41, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "Back", IDC_BUTTON_BACK, 36, 23, 42, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    RTEXT "", IDC_TEXT_OUTPUT, 5, 1, 159, 14, SS_CENTERIMAGE, WS_EX_CLIENTEDGE
    PUSHBUTTON "7", IDC_BUTTON_7, 36, 45, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "4", IDC_BUTTON_4, 36, 65, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "1", IDC_BUTTON_1, 36, 85, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "0", IDC_BUTTON_0, 36, 105, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "8", IDC_BUTTON_8, 62, 45, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "5", IDC_BUTTON_5, 62, 65, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "2", IDC_BUTTON_2, 62, 85, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "+/-", IDC_BUTTON_SIGN, 62, 105, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "9", IDC_BUTTON_9, 88, 45, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "6", IDC_BUTTON_6, 88, 65, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "3", IDC_BUTTON_3, 88, 85, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON ",", IDC_BUTTON_DOT, 88, 105, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "/", IDC_BUTTON_DIV, 114, 45, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "*", IDC_BUTTON_MULT, 114, 65, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "-", IDC_BUTTON_SUB, 114, 85, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "+", IDC_BUTTON_ADD, 114, 105, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "Sqrt", IDC_BUTTON_SQRT, 140, 45, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "%", IDC_BUTTON_PERCENT, 140, 65, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "1/x", IDC_BUTTON_RX, 140, 85, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "=", IDC_BUTTON_EQU, 140, 105, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    CTEXT "", IDC_TEXT_MEMORY, 8, 24, 18, 16, SS_CENTERIMAGE, WS_EX_CLIENTEDGE
    PUSHBUTTON "MC", IDC_BUTTON_MC, 5, 45, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "MR", IDC_BUTTON_MR, 5, 65, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "MS", IDC_BUTTON_MS, 5, 85, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    PUSHBUTTON "M+", IDC_BUTTON_MP, 5, 105, 24, 18, BS_CENTER | BS_VCENTER |
               BS_NOTIFY | BS_OWNERDRAW | WS_TABSTOP
    DEFPUSHBUTTON "", IDC_BUTTON_FOCUS, 0, 0, 5, 5, NOT WS_VISIBLE
END

IDD_DIALOG_CONVERSION DIALOGEX 0, 0, 320, 130
STYLE DS_SHELLFONT | WS_MINIMIZEBOX | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS 計數機"
MENU IDR_MENU_STANDARD
FONT 9, "新細明體"
BEGIN
    PUSHBUTTON "轉換", IDC_BUTTON_CONVERT, 35, 105, 76, 17
    COMBOBOX IDC_COMBO_CATEGORY, 5, 31, 140, 168, CBS_DROPDOWNLIST | WS_VSCROLL |
             WS_TABSTOP | CBS_SORT
    LTEXT "類別：", IDC_STATIC, 5, 20, 56, 8
    COMBOBOX IDC_COMBO_FROM, 5, 60, 140, 168, CBS_DROPDOWNLIST | WS_VSCROLL |
             WS_TABSTOP | CBS_SORT
    LTEXT "從...轉換：", IDC_STATIC, 5, 49, 56, 8
    COMBOBOX IDC_COMBO_TO, 5, 87, 140, 168, CBS_DROPDOWNLIST | WS_VSCROLL |
             WS_TABSTOP | CBS_SORT
    LTEXT "轉換為：", IDC_STATIC, 5, 76, 56, 8
    CONTROL "C", IDC_BUTTON_CANC, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 276, 24, 40, 17
    CONTROL "CE", IDC_BUTTON_CE, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 232, 24, 40, 17
    CONTROL "Back", IDC_BUTTON_BACK, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 188, 24, 40,17
    RTEXT "", IDC_TEXT_OUTPUT, 5, 1, 312, 14, SS_CENTERIMAGE, WS_EX_CLIENTEDGE
    CONTROL "7", IDC_BUTTON_7, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 188, 48, 24, 18
    CONTROL "4", IDC_BUTTON_4, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 188, 67, 24, 18
    CONTROL "1", IDC_BUTTON_1, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 188, 86, 24, 18
    CONTROL "0", IDC_BUTTON_0, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 188, 105, 24, 18
    CONTROL "8", IDC_BUTTON_8, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 214, 48, 24, 18
    CONTROL "5", IDC_BUTTON_5, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 214, 67, 24, 18
    CONTROL "2", IDC_BUTTON_2, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 214, 86, 24, 18
    CONTROL "+/-", IDC_BUTTON_SIGN, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 214, 105, 24, 18
    CONTROL "9", IDC_BUTTON_9, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 240, 48, 24, 18
    CONTROL "6", IDC_BUTTON_6, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 240, 67, 24, 18
    CONTROL "3", IDC_BUTTON_3, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 240, 86, 24, 18
    CONTROL ",", IDC_BUTTON_DOT, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 240, 105, 24, 18
    CONTROL "/", IDC_BUTTON_DIV, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 266, 48, 24, 18
    CONTROL "*", IDC_BUTTON_MULT, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 266, 67, 24, 18
    CONTROL "-", IDC_BUTTON_SUB, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 266, 86, 24, 18
    CONTROL "+", IDC_BUTTON_ADD, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 266, 105, 24, 18
    CONTROL "Sqrt", IDC_BUTTON_SQRT, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 292, 48, 24, 18
    CONTROL "%", IDC_BUTTON_PERCENT, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 292, 67, 24, 18
    CONTROL "1/x", IDC_BUTTON_RX, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 292, 86, 24, 18
    CONTROL "=", IDC_BUTTON_EQU, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 292, 105, 24, 18
    CTEXT "", IDC_TEXT_MEMORY, 152, 24, 24, 18, SS_CENTERIMAGE, WS_EX_CLIENTEDGE
    CONTROL "MC", IDC_BUTTON_MC, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 152, 48, 24, 18
    CONTROL "MR", IDC_BUTTON_MR, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 152, 67, 24, 18
    CONTROL "MS", IDC_BUTTON_MS, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 152, 86, 24, 18
    CONTROL "M+", IDC_BUTTON_MP, "Button", BS_OWNERDRAW | BS_CENTER |
            BS_VCENTER | BS_NOTIFY | WS_TABSTOP, 152, 105, 24, 18
    DEFPUSHBUTTON "", IDC_BUTTON_FOCUS, 0, 0, 5, 5, NOT WS_VISIBLE
END

IDD_DIALOG_STAT DIALOGEX 0, 0, 163, 85
STYLE DS_SHELLFONT | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "統計框"
FONT 9, "新細明體"
BEGIN
    LISTBOX IDC_LIST_STAT, 4, 4, 156, 40, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "返回", IDC_BUTTON_RET, 4, 48, 36, 16
    PUSHBUTTON "載入", IDC_BUTTON_LOAD, 44, 48, 36, 16
    PUSHBUTTON "清除", IDC_BUTTON_CD, 84, 48, 36, 16
    PUSHBUTTON "全清", IDC_BUTTON_CAD, 124, 48, 36, 16
    CTEXT "n=0", IDC_TEXT_NITEMS, 4, 68, 156, 12, SS_CENTERIMAGE | SS_SUNKEN
END

/* Menus */

IDR_MENU_SCIENTIFIC_1 MENU
BEGIN
    POPUP "編輯"
    BEGIN
        MENUITEM "複製\tCtrl+C", IDM_EDIT_COPY
        MENUITEM "貼上\tCtrl+V", IDM_EDIT_PASTE
    END
    POPUP "查看"
    BEGIN
        MENUITEM "標準型", IDM_VIEW_STANDARD
        MENUITEM "工程型", IDM_VIEW_SCIENTIFIC
        MENUITEM "轉換", IDM_VIEW_CONVERSION
        MENUITEM SEPARATOR
        MENUITEM "十六進制\tF5", IDM_VIEW_HEX, CHECKED
        MENUITEM "十進制\tF6", IDM_VIEW_DEC, CHECKED
        MENUITEM "八進制\tF7", IDM_VIEW_OCT, CHECKED
        MENUITEM "二進制\tF8", IDM_VIEW_BIN, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "角度\tF2", IDM_VIEW_DEG, CHECKED
        MENUITEM "弧度\tF3", IDM_VIEW_RAD, CHECKED
        MENUITEM "梯度\tF4", IDM_VIEW_GRAD, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "數字分組", IDM_VIEW_GROUP, CHECKED
    END
    POPUP "說明"
    BEGIN
        MENUITEM "說明主題", IDM_HELP_HELP
        MENUITEM SEPARATOR
        MENUITEM "關於 ReactOS 計數機", IDM_HELP_ABOUT
    END
END

IDR_MENU_SCIENTIFIC_2 MENU
BEGIN
    POPUP "編輯"
    BEGIN
        MENUITEM "複製\tCtrl+C", IDM_EDIT_COPY
        MENUITEM "貼上\tCtrl+V", IDM_EDIT_PASTE
    END
    POPUP "查看"
    BEGIN
        MENUITEM "標準型", IDM_VIEW_STANDARD
        MENUITEM "工程型", IDM_VIEW_SCIENTIFIC
        MENUITEM "轉換", IDM_VIEW_CONVERSION
        MENUITEM SEPARATOR
        MENUITEM "十六進制\tF5", IDM_VIEW_HEX, CHECKED
        MENUITEM "十進制\tF6", IDM_VIEW_DEC, CHECKED
        MENUITEM "八進制\tF7", IDM_VIEW_OCT, CHECKED
        MENUITEM "二進制\tF8", IDM_VIEW_BIN, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "Qword\tF12", IDM_VIEW_QWORD, CHECKED
        MENUITEM "Dword\tF2", IDM_VIEW_DWORD, CHECKED
        MENUITEM "Word\tF3", IDM_VIEW_WORD, CHECKED
        MENUITEM "位元組\tF4", IDM_VIEW_BYTE, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "數字分組", IDM_VIEW_GROUP, CHECKED
    END
    POPUP "說明"
    BEGIN
        MENUITEM "說明主題", IDM_HELP_HELP
        MENUITEM SEPARATOR
        MENUITEM "關於 ReactOS 計數機", IDM_HELP_ABOUT
    END
END

IDR_MENU_STANDARD MENU
BEGIN
    POPUP "編輯"
    BEGIN
        MENUITEM "複製\tCtrl+C", IDM_EDIT_COPY
        MENUITEM "貼上\tCtrl+V", IDM_EDIT_PASTE
    END
    POPUP "查看"
    BEGIN
        MENUITEM "標準型", IDM_VIEW_STANDARD
        MENUITEM "工程型", IDM_VIEW_SCIENTIFIC
        MENUITEM "轉換", IDM_VIEW_CONVERSION
        MENUITEM SEPARATOR
        MENUITEM "數字分組", IDM_VIEW_GROUP, CHECKED
    END
    POPUP "說明"
    BEGIN
        MENUITEM "說明主題", IDM_HELP_HELP
        MENUITEM SEPARATOR
        MENUITEM "關於 ReactOS 計數機", IDM_HELP_ABOUT
    END
END

/* String Tables */

STRINGTABLE
BEGIN
    IDS_MATH_ERROR "錯誤"
    IDS_QUICKHELP "快速說明"
END

/* About */
STRINGTABLE
BEGIN
    IDS_CALC_NAME "ReactOS 計數機"
    IDS_AUTHOR "作者 Carlo Bramini"
END

/* Types of conversion */
STRINGTABLE
BEGIN
    IDS_CONV_ANGLE "角度"
    IDS_CONV_AREA "面積"
    IDS_CONV_CONSUMPTION "油耗（引擎）"
    IDS_CONV_CURRENCY "貨幣"
    IDS_CONV_ENERGY "能量"
    IDS_CONV_LENGTH "長度"
    IDS_CONV_POWER "功率"
    IDS_CONV_PRESSURE "壓力"
    IDS_CONV_TEMPERATURE "溫度"
    IDS_CONV_TIME "時間"
    IDS_CONV_VELOCITY "速度"
    IDS_CONV_VOLUME "體積"
    IDS_CONV_WEIGHT "質量"
END

/* Angles */
STRINGTABLE
BEGIN
    IDS_ANGLE_ARCMINUTES "角分"
    IDS_ANGLE_ARCSECONDS "角秒"
    IDS_ANGLE_DEGREES "角度"
    IDS_ANGLE_GRADIANS "梯度"
    IDS_ANGLE_RADIANS "弧度"
END

/* Areas */
STRINGTABLE
BEGIN
    IDS_AREA_ACRES "英畝"
    IDS_AREA_ACRES_BRAZIL "英畝（巴西）"
    IDS_AREA_ACRES_FRANCE "英畝（法國）"
    IDS_AREA_ACRES_SCOTS "英畝（蘇格蘭）"
    IDS_AREA_ACRES_US "英畝（美國）"
    IDS_AREA_ARES "公畝"
    IDS_AREA_CHOU "疇"
    IDS_AREA_DANBO "大畝"
    IDS_AREA_HECTARES "公頃"
    IDS_AREA_JEONGBO "Jeongbo"
    IDS_AREA_MORGEN_HUNGARY "摩根（匈牙利）"
    IDS_AREA_MU "畝"
    IDS_AREA_PING "坪"
    IDS_AREA_PYEONG "坪（韓國）"
    IDS_AREA_PYEONGBANGJA "Pyeongbangja"
    IDS_AREA_RAI "萊"
    IDS_AREA_SE "畝（日本）"
    IDS_AREA_SQUARE_CENTIMETERS "平方厘米"
    IDS_AREA_SQUARE_CHR "Square chr"
    IDS_AREA_SQUARE_FATHOMS "平方英尋"
    IDS_AREA_SQUARE_FATHOMS_HUNGARY "平方英尋（匈牙利）"
    IDS_AREA_SQUARE_FEET "平方英尺"
    IDS_AREA_SQUARE_INCHES "平方英寸"
    IDS_AREA_SQUARE_KILOMETERS "平方公里"
    IDS_AREA_SQUARE_LAR "平方拉爾"
    IDS_AREA_SQUARE_METER "平方米"
    IDS_AREA_SQUARE_MILES "平方英里"
    IDS_AREA_SQUARE_MILLIMETERS "平方毫米"
    IDS_AREA_SQUARE_SHAKU "平方尺"
    IDS_AREA_SQUARE_TSUEN "平方寸"
    IDS_AREA_SQUARE_VA "Square va"
    IDS_AREA_SQUARE_YARD "平方碼"
    IDS_AREA_TAN "段"
    IDS_AREA_TSUBO "坪（日本）"
END

/* Consumptions */
STRINGTABLE
BEGIN
    IDS_CONSUMPTION_KM_PER_L "公里／升"
    IDS_CONSUMPTION_L_PER_100_KM "升／100 公里"
    IDS_CONSUMPTION_MILES_GALLON_UK "英里／加侖（英國）"
    IDS_CONSUMPTION_MILES_GALLON_US "英里／加侖（美國）"
END

/* Currencies */
STRINGTABLE
BEGIN
    IDS_CURRENCY_AUSTRIAN_SCHILLING "奥地利先令"
    IDS_CURRENCY_BELGIAN_FRANC "比利時法郎"
    IDS_CURRENCY_CYPRIOT_POUND "賽普勒斯鎊"
    IDS_CURRENCY_CZECH_KORUNA "捷克克朗"
    IDS_CURRENCY_DEUTSCHE_MARK "德國馬克"
    IDS_CURRENCY_DUTCH_GUILDER "荷蘭盾"
    IDS_CURRENCY_ESTONIAN_KROON "愛沙尼亞克朗"
    IDS_CURRENCY_EURO "歐元"
    IDS_CURRENCY_FINNISH_MARKKA "芬蘭馬克"
    IDS_CURRENCY_FRENCH_FRANC "法郎"
    IDS_CURRENCY_GREEK_DRACHMA "希臘德拉克馬"
    IDS_CURRENCY_IRISH_POUND "愛爾蘭鎊"
    IDS_CURRENCY_ITALIAN_LIRA "義大利里拉"
    IDS_CURRENCY_LATVIAN_LATS "拉脫維亞拉特"
    IDS_CURRENCY_LITHUANIAN_LITAS "拉脫維亞拉分"
    IDS_CURRENCY_LUXEMBOURG_FRANC "盧森堡法郎"
    IDS_CURRENCY_MALTESE_LIRA "馬爾他里拉"
    IDS_CURRENCY_PORTOGUESE_ESCUDO "葡萄牙埃斯庫多"
    IDS_CURRENCY_SLOVAK_KORUNA "斯洛伐克克朗"
    IDS_CURRENCY_SLOVENIAN_TOLAR "斯洛維尼亞拖拉"
    IDS_CURRENCY_SPANISH_PESETA "西班牙比塞塔"
END

/* Energies */
STRINGTABLE
BEGIN
    IDS_ENERGY_15_C_CALORIES "15 °C 卡路里"
    IDS_ENERGY_BTUS "英制熱量單位"
    IDS_ENERGY_ERGS "爾格"
    IDS_ENERGY_EVS "電子伏特"
    IDS_ENERGY_FOOT_POUNDS "英尺-磅"
    IDS_ENERGY_IT_CALORIES "國際蒸汽表卡路里"
    IDS_ENERGY_IT_KILOCALORIES "國際蒸汽表千卡路里"
    IDS_ENERGY_JOULES "焦耳"
    IDS_ENERGY_KILOJOULES "千焦耳"
    IDS_ENERGY_KILOWATT_HOURS "千瓦時"
    IDS_ENERGY_NUTRITION_CALORIES "營養卡路里"
    IDS_ENERGY_TH_CALORIES "熱化學卡路里"
END

/* Lengths */
STRINGTABLE
BEGIN
    IDS_LENGTH_ANGSTROMS "埃"
    IDS_LENGTH_ASTRONOMICAL_UNITS "天文單位"
    IDS_LENGTH_BARLEYCORNS "Barleycorns"
    IDS_LENGTH_CENTIMETERS "釐米"
    IDS_LENGTH_CHAINS_UK "鏈（英國）"
    IDS_LENGTH_CHI "尺"
    IDS_LENGTH_CHOU "疇"
    IDS_LENGTH_CHR "Chr"
    IDS_LENGTH_CUN "寸"
    IDS_LENGTH_FATHOMS "英尋"
    IDS_LENGTH_FATHOMS_HUNGARY "英尋（匈牙利）"
    IDS_LENGTH_FEET "英尺"
    IDS_LENGTH_FURLONGS "化朗"
    IDS_LENGTH_GAN "杆"
    IDS_LENGTH_HANDS "掌寬"
    IDS_LENGTH_HUNH "Hunh"
    IDS_LENGTH_INCHES "英尺"
    IDS_LENGTH_JA "尺（韓國）"
    IDS_LENGTH_JEONG "Jeong"
    IDS_LENGTH_KABIET "Kabiet"
    IDS_LENGTH_KEN "Ken"
    IDS_LENGTH_KEUB "Keub"
    IDS_LENGTH_KILOMETERS "公里"
    IDS_LENGTH_LAR "拉爾"
    IDS_LENGTH_LIGHT_YEARS "光年"
    IDS_LENGTH_LINKS_UK "Links（英國）"
    IDS_LENGTH_METERS "米"
    IDS_LENGTH_MICRONS "微米"
    IDS_LENGTH_MILES "英里"
    IDS_LENGTH_MILLIMETERS "毫米"
    IDS_LENGTH_NAUTICAL_MILES "海里"
    IDS_LENGTH_NIEU "Nieu"
    IDS_LENGTH_PARSECS "秒差距"
    IDS_LENGTH_PICAS "派卡"
    IDS_LENGTH_RI_JAPAN "里（日本）"
    IDS_LENGTH_RI_KOREA "里（韓國）"
    IDS_LENGTH_RODS "杆"
    IDS_LENGTH_SAWK "Sawk"
    IDS_LENGTH_SEN "Sen"
    IDS_LENGTH_SHAKU "尺（日本）"
    IDS_LENGTH_SPAN "拃"
    IDS_LENGTH_SUN "寸（日本）"
    IDS_LENGTH_TSUEN "寸"
    IDS_LENGTH_VA "Va"
    IDS_LENGTH_YARDS "碼"
    IDS_LENGTH_YOTE "約特"
    IDS_LENGTH_ZHANG "丈"
END

/* Powers */
STRINGTABLE
BEGIN
    IDS_POWER_BTUS_PER_MINUTE "英制熱量單位每分鐘"
    IDS_POWER_FPS_PER_MINUTE "英尺-磅每分鐘"
    IDS_POWER_HORSEPOWER "馬力"
    IDS_POWER_KILOWATTS "千瓦"
    IDS_POWER_MEGAWATTS "兆瓦"
    IDS_POWER_WATTS "瓦"
END

/* Pressures */
STRINGTABLE
BEGIN
    IDS_PRESSURE_ATMOSPHERES "大氣壓"
    IDS_PRESSURE_BARS "巴"
    IDS_PRESSURE_HECTOPASCALS "百帕"
    IDS_PRESSURE_KILOPASCALS "千帕"
    IDS_PRESSURE_MM_OF_MERCURY "毫米汞柱"
    IDS_PRESSURE_PASCALS "帕斯卡"
    IDS_PRESSURE_PSI "英磅-力每平方英尺"
END

/* Temperatures */
STRINGTABLE
BEGIN
    IDS_TEMPERATURE_CELSIUS "攝氏度"
    IDS_TEMPERATURE_FAHRENHEIT "華氏度"
    IDS_TEMPERATURE_KELVIN "開爾文"
    IDS_TEMPERATURE_RANKINE "蘭金度"
END

/* Time */
STRINGTABLE
BEGIN
    IDS_TIME_DAYS "日"
    IDS_TIME_HOURS "小時"
    IDS_TIME_NANOSECONDS "納秒"
    IDS_TIME_MICROSECONDS "微秒"
    IDS_TIME_MILLISECONDS "毫秒"
    IDS_TIME_MINUTES "分"
    IDS_TIME_SECONDS "秒"
    IDS_TIME_WEEKS "周"
    IDS_TIME_YEARS "年"
END

/* Velocities */
STRINGTABLE
BEGIN
    IDS_VELOCITY_CMS_SECOND "厘米／小時"
    IDS_VELOCITY_FEET_HOUR "英尺／小時"
    IDS_VELOCITY_FEET_SECOND "英尺／秒"
    IDS_VELOCITY_KILOMETERS_HOUR "公里／小時"
    IDS_VELOCITY_KNOTS "節"
    IDS_VELOCITY_MACH "馬赫"
    IDS_VELOCITY_METERS_SECOND "米／秒"
    IDS_VELOCITY_MILES_HOUR "英里／小時"
END

/* Volumes */
STRINGTABLE
BEGIN
    IDS_VOLUME_BARRELS_UK "桶（英國）"
    IDS_VOLUME_BARRELS_OIL "桶油"
    IDS_VOLUME_BUN "Bun"
    IDS_VOLUME_BUSHELS_UK "蒲式耳（英國）"
    IDS_VOLUME_BUSHELS_US "蒲式耳（美國）"
    IDS_VOLUME_CUBIC_CENTIMETERS "立方釐米"
    IDS_VOLUME_CUBIC_FEET "立方英尺"
    IDS_VOLUME_CUBIC_INCHES "立方英寸"
    IDS_VOLUME_CUBIC_METERS "立方米"
    IDS_VOLUME_CUBIC_YARDS "立方碼"
    IDS_VOLUME_DOE "Doe"
    IDS_VOLUME_FLUID_OUNCES_UK "液安士（英國）"
    IDS_VOLUME_FLUID_OUNCES_US "液安士（美國）"
    IDS_VOLUME_GALLONS_UK "加侖（英國）"
    IDS_VOLUME_GALLONS_DRY_US "乾量加侖（美國）"
    IDS_VOLUME_GALLONS_LIQUID_US "濕量加侖（美國）"
    IDS_VOLUME_GOU "合"
    IDS_VOLUME_HOP "Hop"
    IDS_VOLUME_ICCE "Icce"
    IDS_VOLUME_KWIAN "Kwian"
    IDS_VOLUME_LITERS "升"
    IDS_VOLUME_MAL "Mal"
    IDS_VOLUME_MILLILITERS "毫升"
    IDS_VOLUME_PINTS_UK "品脱（英國）"
    IDS_VOLUME_PINTS_DRY_US "乾量品脱（美國）"
    IDS_VOLUME_PINTS_LIQUID_US "濕量品脱（美國）"
    IDS_VOLUME_QUARTS_UK "夸脫（英國）"
    IDS_VOLUME_QUARTS_DRY_US "乾量夸脫（美國）"
    IDS_VOLUME_QUARTS_LIQUID_US "濕量夸脫（美國）"
    IDS_VOLUME_SEKI "Seki"
    IDS_VOLUME_SYOU "Syou"
    IDS_VOLUME_TANANLOUNG "Tananloung"
    IDS_VOLUME_TANG "Tang"
    IDS_VOLUME_TO "斗（日本）"
END

/* Weights */
STRINGTABLE
BEGIN
    IDS_WEIGHT_BAHT "銖"
    IDS_WEIGHT_CARATS "克拉"
    IDS_WEIGHT_CHUNG "Chung"
    IDS_WEIGHT_DON "Don"
    IDS_WEIGHT_GEUN "Geun"
    IDS_WEIGHT_GRAMS "克"
    IDS_WEIGHT_GWAN "Gwan"
    IDS_WEIGHT_HARB "Harb"
    IDS_WEIGHT_JIN_CHINA "斤（中國）"
    IDS_WEIGHT_JIN_TAIWAN "斤（台灣）"
    IDS_WEIGHT_KAN "貫（日本）"
    IDS_WEIGHT_KILOGRAMS "千克"
    IDS_WEIGHT_KIN "斤（日本）"
    IDS_WEIGHT_LIANG_CHINA "兩（中國）"
    IDS_WEIGHT_LIANG_TAIWAN "兩（台灣）"
    IDS_WEIGHT_MONME "兩（日本）"
    IDS_WEIGHT_OUNCES_AVOIRDUPOIS "常衡安士"
    IDS_WEIGHT_OUNCES_TROY "金衡安士"
    IDS_WEIGHT_POUNDS "英磅"
    IDS_WEIGHT_QUINTAL_METRIC "公擔"
    IDS_WEIGHT_SALOUNG "Saloung"
    IDS_WEIGHT_STONES "石"
    IDS_WEIGHT_TAMLUNG "Tamlung"
    IDS_WEIGHT_TONNES "噸"
    IDS_WEIGHT_TONS_UK "噸（英國）"
    IDS_WEIGHT_TONS_US "噸（美國）"
END
