#include "resource.h"

#ifdef _MSC_VER
#include <../../../include/defines.h>
#else
#include <defines.h>
#endif

#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION	"ReactOS Display  Panel\0"
#define REACTOS_STR_INTERNAL_NAME	"desk\0"
#define REACTOS_STR_ORIGINAL_FILENAME	"desk.cpl\0"
#ifdef _MSC_VER
#include <../../../include/reactos/version.rc>
#else
#include <reactos/version.rc>
#endif

IDD_PROPPAGEBACKGROUND DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Background"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    GROUPBOX        "&Pattern",1001,5,118,115,92
    LISTBOX         1002,11,130,103,42,LBS_SORT | LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Edit Pattern...",1003,53,175,61,14
    GROUPBOX        "&Wallpaper",1004,127,118,115,92
    LISTBOX         1005,133,130,103,42,LBS_SORT | LBS_NOINTEGRALHEIGHT | 
                    WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "&Browse...",1006,174,175,61,14
    LTEXT           "&Position:",1007,134,196,28,8
    COMBOBOX        1008,169,193,67,30,CBS_DROPDOWN | CBS_SORT | WS_VSCROLL | 
                    WS_TABSTOP
END

IDD_PROPPAGESCREENSAVER DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Screen Saver"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    GROUPBOX        "&Screen Saver",200,4,129,238,48
    COMBOBOX        1000,10,140,115,200,CBS_DROPDOWNLIST | CBS_SORT | 
                    WS_VSCROLL | WS_GROUP | WS_TABSTOP
    PUSHBUTTON      "Se&ttings...",1003,130,139,50,14,WS_GROUP
    PUSHBUTTON      "Pre&view",1004,183,139,50,14
    CONTROL         "&Lock desktop on resume",1020,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,13,157,112,9
    LTEXT           "&Wait:",1016,151,160,17,9
    EDITTEXT        1006,170,158,30,12,ES_RIGHT | WS_GROUP
    CONTROL         "",1007,"msctls_updown32",UDS_SETBUDDYINT | 
                    UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | 
                    UDS_NOTHOUSANDS | WS_BORDER | WS_GROUP,203,158,11,12
    LTEXT           "minutes",1022,204,160,28,9
    GROUPBOX        "Energy saving features of monitor",1017,4,179,238,33
    PUSHBUTTON      "P&ower...",1014,175,190,50,14
    LTEXT           "To adjust the power settings for your monitor, click Power.",
                    1018,19,190,155,16
    CONTROL         "",1002,"Static",SS_BITMAP | SS_CENTERIMAGE,60,11,125,
                    107
END

IDD_PROPPAGEAPPEARANCE DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Appearance"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

IDD_PROPPAGESETTINGS DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Settings"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
END

STRINGTABLE 
BEGIN
  IDS_CPLSYSTEMNAME "Display"
  IDS_CPLSYSTEMDESCRIPTION "Customizes your desktop display and screen saver."
END
