LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_APPNAME "WineMine"
    IDS_NOBODY "Nobody"
    IDS_ABOUT "Copyright 2000 Joshua Thielen"
END

IDM_WINEMINE MENU
BEGIN
    POPUP "&Игра"
    BEGIN
        MENUITEM "&Новая игра\tF2", IDM_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Вопросительные знаки", IDM_MARKQ
        MENUITEM SEPARATOR
        MENUITEM "Нови&чок", IDM_BEGINNER
        MENUITEM "&Любитель", IDM_ADVANCED
        MENUITEM "&Эксперт", IDM_EXPERT
        MENUITEM "Особые...", IDM_CUSTOM
        MENUITEM SEPARATOR
        MENUITEM "&Закрыть\tAlt+X", IDM_EXIT
    END
    POPUP "&Справка"
    BEGIN
        MENUITEM "&Лучшее время", IDM_TIMES
        MENUITEM "&О программе", IDM_ABOUT
    END
END

DLG_TIMES DIALOGEX 0, 0, 160, 80
STYLE DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_POPUP | DS_SHELLFONT
CAPTION "Лучшее время"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Лучшее время", -1, 10, 10, 140, 45
    LTEXT "Новичок", -1, 20, 20, 40, 8
    LTEXT "Любитель", -1, 20, 30, 40, 8
    LTEXT "Эксперт", -1, 20, 40, 40, 8
    LTEXT "999", IDC_TIME1, 70, 20, 15, 8
    LTEXT "999", IDC_TIME2, 70, 30, 15, 8
    LTEXT "999", IDC_TIME3, 70, 40, 15, 8
    LTEXT "", IDC_NAME1, 90, 20, 55, 8
    LTEXT "", IDC_NAME2, 90, 30, 55, 8
    LTEXT "", IDC_NAME3, 90, 40, 55, 8
    DEFPUSHBUTTON "OK", IDOK, 55, 60, 50, 15
END

DLG_CONGRATS DIALOGEX 0, 0, 160, 60
STYLE DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_POPUP | DS_SHELLFONT
CAPTION "Поздравляю!"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Пожалуйста, введите ваше имя", -1, 10, 10, 150, 10
    EDITTEXT IDC_EDITNAME, 25, 20, 110, 12
    DEFPUSHBUTTON "OK", IDOK, 60, 40, 40, 15
END

DLG_CUSTOM DIALOGEX 0, 0, 130, 85
STYLE DS_MODALFRAME | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_POPUP | DS_SHELLFONT
CAPTION "Нестандартные параметры"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Высота:", -1, 8, 22, 28, 10
    LTEXT "Ширина:", -1, 8, 37, 29, 10
    LTEXT "Число мин:", -1, 8, 52, 40, 10
    EDITTEXT IDC_EDITROWS, 50, 20, 25, 12, ES_NUMBER
    EDITTEXT IDC_EDITCOLS, 50, 35, 25, 12, ES_NUMBER
    EDITTEXT IDC_EDITMINES, 50, 50, 25, 12, ES_NUMBER
    DEFPUSHBUTTON "OK", IDOK, 84, 20, 40, 16
    PUSHBUTTON "Отмена", IDCANCEL, 84, 46, 40, 16
END
