/* French translation by Benoit Plante 2005 (cmoibenlepro AT hotmail DOT com) */
/* Updated French translation by Pierre Schweitzer 2007 (heis_spiter AT hotmail DOT com) */

LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL

IDD_BACKGROUND DIALOGEX DISCARDABLE 0, 0, 246, 188
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Fond d'écran"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "", IDC_BACKGROUND_PREVIEW,"Static", SS_OWNERDRAW,
                    70, 10, 105, 70, WS_EX_STATICEDGE
    CONTROL         "", IDC_BACKGROUND_LIST, "SysListView32", LVS_REPORT |
                    LVS_SINGLESEL | LVS_NOCOLUMNHEADER | LVS_SHAREIMAGELISTS |
                    WS_BORDER | WS_TABSTOP, 7, 99, 173, 71
    LTEXT           "Sélectionnez une image à utiliser comme fond d'écran:",
                    IDC_STATIC, 8, 87, 180, 8
    PUSHBUTTON      "&Parcourir...",IDC_BROWSE_BUTTON, 187, 135, 50, 14
    PUSHBUTTON      "&Couleur...",IDC_COLOR_BUTTON, 187, 155, 50, 14
    LTEXT           "Position:",IDC_STATIC, 187, 98, 36, 8
    COMBOBOX        IDC_PLACEMENT_COMBO, 187, 108, 50, 90,
                    CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
END

IDD_SCREENSAVER DIALOGEX 0, 0, 246, 204
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Écran de veille"
FONT 8, "MS Shell Dlg", 0, 0
BEGIN
    CONTROL         "", IDC_SCREENS_PREVIEW, "Static", SS_OWNERDRAW,
                    70, 10, 105, 70, WS_EX_STATICEDGE
    GROUPBOX        "É&cran de veille",IDC_SCREENS_DUMMY, 8, 92, 230, 52
    COMBOBOX        IDC_SCREENS_LIST, 14, 103, 100, 100, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Paramè&tres",IDC_SCREENS_SETTINGS, 120, 103, 50, 13, WS_GROUP
    PUSHBUTTON      "&Aperçu",IDC_SCREENS_TESTSC, 175, 103, 50, 13
    LTEXT           "Dé&lai: ",IDC_WAITTEXT, 14, 125, 16, 9
    EDITTEXT        IDC_SCREENS_TIMEDELAY, 34, 123, 32, 13, ES_RIGHT | WS_GROUP
    CONTROL         "",IDC_SCREENS_TIME ,UPDOWN_CLASS,UDS_SETBUDDYINT |
                    UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS |
                    WS_BORDER | WS_GROUP, 54, 123, 12, 13
    LTEXT           "minutes", IDC_MINTEXT, 70, 125, 26, 9
    CONTROL         "À la reprise, demander un mot de &passe.",IDC_SCREENS_USEPASSCHK,"button",
                    BS_AUTOCHECKBOX | WS_TABSTOP, 97, 120, 138, 19
    GROUPBOX        "G&estion de l'alimentation du moniteur", IDC_SCREENS_DUMMY2, 6, 155, 232, 41
    LTEXT           "Pour modifier les paramètres de l'alimentation du moniteur, cliquez sur Gestion de l'alimentation.",
                    IDC_STATIC, 14, 166, 140, 20
    PUSHBUTTON      "&Gestion de l'alimentation...", IDC_SCREENS_POWER_BUTTON, 140, 171, 93, 13
END

IDD_APPEARANCE DIALOGEX DISCARDABLE  0, 0, 246, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Apparence"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "", IDC_APPEARANCE_PREVIEW, "PreviewWndClass",
                    WS_VISIBLE | WS_BORDER, 7, 7, 232, 120
    LTEXT           "Colorscheme", IDC_STATIC, 7, 140, 64, 7
    COMBOBOX        IDC_APPEARANCE_UI_ITEM, 7, 169, 120, 54, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Avancé", IDC_APPEARANCE_ADVANCED, 182, 150, 56, 15
END

IDD_ADVAPPEARANCE DIALOGEX DISCARDABLE 0, 0, 250, 239
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_DLGMODALFRAME | WS_EX_WINDOWEDGE
CAPTION "Apparence avancée"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "", IDC_APPEARANCE_PREVIEW, "PreviewWndClass",
                    WS_VISIBLE | WS_BORDER, 7, 7, 232, 120

    LTEXT "Élément:", 8, 5, 160, 50, 9
    COMBOBOX IDC_ADVAPPEARANCE_ELEMENT, 5, 170, 130, 90, CBS_DROPDOWNLIST | CBS_HASSTRINGS | CBS_SORT | WS_CHILD | WS_VSCROLL | WS_TABSTOP

    LTEXT "&Taille", IDC_ADVAPPEARANCE_SIZE_T, 142, 160, 21, 9
    EDITTEXT IDC_ADVAPPEARANCE_SIZE_E, 142, 170, 38, 13, ES_RIGHT | WS_GROUP
    CONTROL "", IDC_ADVAPPEARANCE_SIZE_UD, UPDOWN_CLASS, UDS_AUTOBUDDY | WS_BORDER | WS_GROUP | UDS_ALIGNRIGHT | UDS_ARROWKEYS | UDS_SETBUDDYINT | WS_CHILD | WS_VISIBLE, 172, 170, 10, 13

    LTEXT   "&1ère Couleur:", IDC_ADVAPPEARANCE_COLOR1_T, 184, 160, 40, 9
    CHECKBOX   "-", IDC_ADVAPPEARANCE_COLOR1_B, 184, 170, 28, 13, BS_PUSHLIKE | BS_BITMAP

    LTEXT   "&2ème Couleur:", IDC_ADVAPPEARANCE_COLOR2_T, 216, 160, 40, 9
    CHECKBOX   "-", IDC_ADVAPPEARANCE_COLOR2_B, 216, 170, 28, 13, BS_PUSHLIKE | BS_BITMAP

    LTEXT "Fonte:", IDC_ADVAPPEARANCE_FONT_T, 5, 190, 50, 8
    COMBOBOX IDC_ADVAPPEARANCE_FONT_C, 5, 200, 130, 90, CBS_DROPDOWN | CBS_HASSTRINGS | CBS_SORT | WS_VSCROLL | WS_TABSTOP

    LTEXT   "Taille:", IDC_ADVAPPEARANCE_FONTSIZE_T, 142, 190, 39, 8
    COMBOBOX IDC_ADVAPPEARANCE_FONTSIZE_E, 142, 200, 38, 200, CBS_DROPDOWN | WS_VSCROLL

    LTEXT   "Couleur:", IDC_ADVAPPEARANCE_FONTCOLOR_T, 184, 190, 20, 9
    CHECKBOX   "", IDC_ADVAPPEARANCE_FONTCOLOR_B, 184, 200, 28, 13, BS_PUSHLIKE | BS_BITMAP

    AUTOCHECKBOX   "B", IDC_ADVAPPEARANCE_FONTBOLD, 216, 200, 14, 13, BS_PUSHLIKE
    AUTOCHECKBOX   "I ", IDC_ADVAPPEARANCE_FONTITALIC, 230, 200, 14, 13, BS_PUSHLIKE

    PUSHBUTTON "Annuler", IDCANCEL, 191, 220, 50, 14
    DEFPUSHBUTTON "OK", IDOK, 137, 220, 50, 14
END

IDD_SETTINGS DIALOGEX DISCARDABLE  0, 0, 246, 188
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Paramètres"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "Déplacez les icônes de moniteur pour qu'elles correspondent à l'arragement physique de vos moniteurs.",-1,3,3,240,10
    CONTROL         "",IDC_SETTINGS_MONSEL,"MONITORSELWNDCLASS",WS_CHILD|WS_VISIBLE|WS_TABSTOP,3,16,240,82,WS_EX_CLIENTEDGE
    LTEXT           "&Affichage:",1820,3,100,30,8
    LTEXT           "<aucun>",IDC_SETTINGS_DEVICE,9,109,224,8
    GROUPBOX        "&Résolution de l'affichage",1818,3,120,115,43
    CONTROL         "",IDC_SETTINGS_RESOLUTION,"msctls_trackbar32",
                    TBS_AUTOTICKS | WS_TABSTOP, 30, 130, 58, 17
    LTEXT           "Moins",1815,9,130,15,8,NOT WS_GROUP
    LTEXT           "Plus",1816,93,130,21,8,NOT WS_GROUP
    LTEXT           "",IDC_SETTINGS_RESOLUTION_TEXT,10,150,100,10,NOT WS_GROUP | SS_CENTER
    GROUPBOX        "&Couleurs",1817,125,120,115,43
    COMBOBOX        IDC_SETTINGS_BPP,131,130,103,80,CBS_DROPDOWNLIST | CBS_AUTOHSCROLL |
                    WS_VSCROLL | WS_TABSTOP
    CONTROL         "",IDC_SETTINGS_SPECTRUM,"Static",SS_OWNERDRAW | SS_SUNKEN,131,148,103,9
    PUSHBUTTON      "A&vancé...",IDC_SETTINGS_ADVANCED,170,165,70,14
END

IDD_ADVANCED_GENERAL DIALOGEX DISCARDABLE 0, 0, 246, 204
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Général"
FONT 8, "MS Shell Dlg"
BEGIN
END

IDR_PREVIEW_MENU MENU
BEGIN
    MENUITEM "Normal",           ID_MENU_NORMAL
    MENUITEM "Désactivé",         ID_MENU_DISABLED
    MENUITEM "Sélectionné",         ID_MENU_SELECTED
END

IDM_MONITOR_MENU MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Attaché",   ID_MENU_ATTACHED
        MENUITEM "&Principal",    ID_MENU_PRIMARY
        MENUITEM SEPARATOR
        MENUITEM "&Identifier",   ID_MENU_IDENTIFY
        MENUITEM "P&ropriétés", ID_MENU_PROPERTIES
    END
END

STRINGTABLE
BEGIN
    IDS_MULTIPLEMONITORS "(Moniteurs multiples)"
    IDS_UNKNOWNMONITOR "(Moniteur inconnu)"
    IDS_ADVANCEDTITLEFMT "%s et %s"
END

STRINGTABLE
BEGIN
    IDS_CPLNAME "Affichage"
    IDS_CPLDESCRIPTION "Personalise l'affichage du bureau et de l'écran de veille."
    IDS_NONE "(Aucun)"
    IDS_CENTER "Centre"
    IDS_STRETCH "Étirer"
    IDS_TILE "Mosaïque"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_COLOR_4BIT "16 Couleurs"
    IDS_COLOR_8BIT "256 Couleurs"
    IDS_COLOR_16BIT "Moyenne (16 Bits)"
    IDS_COLOR_24BIT "Vraies couleurs (24 Bits)"
    IDS_COLOR_32BIT "Optimale (32 Bits)"
    IDS_PIXEL "%lux%lu Pixel"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_BACKGROUND_COMDLG_FILTER "Images (*.bmp;*.dib)\0*.bmp;*.dib\0"
    IDS_SUPPORTED_EXT "*.bmp;*.dib"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_INACTWIN "Fenêtre inactive"
    IDS_ACTWIN   "Fenêtre active"
    IDS_WINTEXT  "Texte de la fenêtre"
    IDS_MESSBOX  "Boîte de message"
    IDS_MESSTEXT "Texte de message"
    IDS_BUTTEXT  "OK"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ELEMENT_1 "Bureau"
    IDS_ELEMENT_2 "Titre de fenêtres actives"
    IDS_ELEMENT_3 "Bord de fenêtres inactives"
    IDS_ELEMENT_4 "Titre de fenêtres actives"
    IDS_ELEMENT_5 "Bord de fenêtres actives"
    IDS_ELEMENT_6 "Menu"
    IDS_ELEMENT_7 "Éléments sélectionnés"
    IDS_ELEMENT_8 "Fenêtres"
    IDS_ELEMENT_9 "Barres de défilement"
    IDS_ELEMENT_10 "Objets 3D "
    IDS_ELEMENT_11 "Palette title"
    IDS_ELEMENT_12 "Titre d'icône"
    IDS_ELEMENT_13 "Barre de titre"
    IDS_ELEMENT_14 "Éléments de menu désactivés"
    IDS_ELEMENT_15 "Fenêtre de dialogue"
    IDS_ELEMENT_16 "Contrôles de défilement"
    IDS_ELEMENT_17 "Fond de l'application"
    IDS_ELEMENT_18 "Petite barre de titre"
    IDS_ELEMENT_19 "Espace entre les icônes (horizontal)"
    IDS_ELEMENT_20 "Espace entre les icônes (vertical)"
    IDS_ELEMENT_21 "Info rapide"
    IDS_ELEMENT_22 "Symbole"
END
