/*
 * MPR dll Russian resources
 *
 * Copyright (C) 2008 Vitaliy Margolen
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE
{
    IDS_ENTIRENETWORK "Вся сеть"
}

IDD_PROXYDLG DIALOGEX 36, 24, 228, 145
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Введите сетевой пароль"
FONT 8, "MS Shell Dlg"
{
 LTEXT "Введите ваши имя и пароль пользователя:", IDC_EXPLAIN, 6, 6, 150, 18
 LTEXT "Прокси", -1, 6, 26, 60, 10
/* LTEXT "Realm", -1, 6, 46, 60, 10 */
 LTEXT "Имя", -1, 6, 66, 60, 10
 LTEXT "Пароль", -1, 6, 86, 60, 10
 LTEXT "", IDC_PROXY, 70, 26, 150, 14, 0
 LTEXT "", IDC_REALM, 70, 46, 150, 14, 0
 EDITTEXT IDC_USERNAME, 70, 66, 150, 14, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_PASSWORD, 70, 86, 150, 14, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | ES_PASSWORD
 CHECKBOX "&Сохранить этот пароль (небезопасно)", IDC_SAVEPASSWORD,
           70, 106, 150, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 DEFPUSHBUTTON "OK", IDOK, 114, 126, 50, 14, WS_GROUP | WS_TABSTOP
 PUSHBUTTON "Отмена", IDCANCEL, 170, 126, 50, 14, WS_GROUP | WS_TABSTOP
}
