/* Translated by Radek Liska aka Black_Fox (radekliska at gmail dot com) */

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

IDD_END_NOW DIALOGEX 0, 0, 200, 95
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ukončit program - "
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Probíhá ukončení programu... Čekejte, prosím", IDC_STATIC, 7, 7, 186, 11
    CONTROL "Progress", IDC_PROGRESS, "msctls_progress32", WS_BORDER, 7, 20, 186, 13
    LTEXT "IPokud zvolíte okamžité ukončení programu, všechna neuložená data budou ztracena. Kliknutím na Ukončit okamžitě ukončíte program.", IDC_STATIC, 7, 40, 186, 26
    DEFPUSHBUTTON "&Ukončit okamžitě", IDC_END_NOW, 150, 71, 43, 17
END

IDD_NOT_RESPONDING DIALOGEX 0, 0, 192, 122
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ukončit program - "
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "Storno", IDCANCEL, 142, 98, 43, 17
    PUSHBUTTON "&Ukončit okamžitě", IDC_END_NOW, 78, 98, 43, 17
    LTEXT "Tento program neodpovídá.", IDC_STATIC, 7, 7, 178, 8
    LTEXT "Kliknutím na Storno se lze vrátit do systému ReactOS a ověřit stav programu.", IDC_STATIC, 7, 26, 178, 16
    LTEXT "Pokud zvolíte okamžité ukončení programu, všechna neuložená data budou ztracena. Kliknutím na Ukončit okamžitě ukončíte program.", IDC_STATIC, 7, 53, 178, 26
END
