/*
* PROJECT:    ReactOS Client/Server Runtime subsystem
* LICENSE:    GPL - See COPYING in the top level directory
* FILE:       win32ss/user/winsrv/usersrv/lang/it-IT.rc
* PURPOSE:    Italian Translation of subsystems/win32/csrss/win32csr/lang/en-US.rc
* TRANSLATOR: Daniele Forsi (dforsi at gmail.com)
*/

LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL

IDD_END_NOW DIALOGEX 0, 0, 200, 95
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Arresto del programma - "
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Arresto del programma... Attendere", IDC_STATIC, 7, 7, 186, 11
    CONTROL "Progresso", IDC_PROGRESS, "msctls_progress32", WS_BORDER, 7, 20, 186, 13
    LTEXT "Se si sceglie di terminare il programma immediatamente, si perderanno tutti i dati non salvati. Per terminare il programma ora, selezionare Termina ora.", IDC_STATIC, 7, 40, 186, 26
    DEFPUSHBUTTON "T&ermina ora", IDC_END_NOW, 150, 71, 43, 17
END

IDD_NOT_RESPONDING DIALOGEX 0, 0, 192, 122
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Arresto del programma - "
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "Annulla", IDCANCEL, 142, 98, 43, 17
    PUSHBUTTON "T&ermina ora", IDC_END_NOW, 78, 98, 43, 17
    LTEXT "Il programma non risponde.", IDC_STATIC, 7, 7, 178, 8
    LTEXT "Per tornare a ReactOS e controllare lo stato del programma, selezionare Annulla.", IDC_STATIC, 7, 26, 178, 16
    LTEXT "Se si sceglie di terminare il programma immediatamente, si perderanno tutti i dati non salvati. Per terminare il programma ora, selezionare Termina ora.", IDC_STATIC, 7, 53, 178, 26
END
