/* Spanish Language resource file.
 * Translated by: ?? and Ismael Ferreras Morezuelas (Swyter) <2014-11-07> */

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_BCAST   "Difusión"
    IDS_P2P     "Punto a punto"
    IDS_MIXED   "Mixto"
    IDS_HYBRID  "Híbrido"
    IDS_UNKNOWN "Desconocido"
END

STRINGTABLE
BEGIN
    IDS_OTHER "Otro tipo de adaptador"
    IDS_ETH   "Adaptador Ethernet"
    IDS_TOKEN "Adaptador de red en anillo"
    IDS_FDDI  "Adaptador FDDI"
    IDS_PPP   "Adaptador PPP"
    IDS_LOOP  "Adaptador de bucle invertido"
    IDS_SLIP  "Adaptador SLIP"
END

STRINGTABLE
BEGIN
/* Please keep the spacing/formatting as per En.rc when translating */
    IDS_USAGE
    "\nUSO:\n\
        ipconfig [/? | /all | /renew [adaptador] | /release [adaptador] |\n\
                  /flushdns | /displaydns | /registerdns |\n\
                  /showclassid adaptador |\n\
                  /setclassid adaptador [classid] ]\n\
\n\
    donde\n\
        adaptador       Nombre de la conexión\n\
                       (los caracteres comodín * y ? están permitidos, ver ejemplos)\n\
\n\
        Opciones:\n\
           /?           Muestra este mensaje de ayuda\n\
           /all         Muestra la información de configuración.\n\
           /release     Libera la dirección IP para el adaptador especificado.\n\
           /renew       Renueva la dirección IP para el adaptador especificado.\n\
           /flushdns    Purga la caché de resolución DNS.\n\
           /registerdns Actualiza todas las concesiones DHCP y registran\n\
                        de nuevo los nombres DNS.\n\
           /displaydns  Muestra el contenido de la caché de resolución DNS.\n\
           /showclassid Muestra todos los id. de clase DHCP permitidos al adaptador.\n\
           /setclassid  Modifica el id. de clase DHCP.\n\
\n\
    Normalmente se muestra sólo la dirección IP, la máscara de red y\n\
    la puerta de enlace predeterminada de cada adaptador enlazado a TCP/IP.\n\
\n\
    Para los parámetros Release y Renew, si no se especifica un adaptador,\n\
    se liberan o renuevan las concesiones de dirección IP para todos\n\
    los adaptadores enlazados por TCP/IP.\n\
\n\
    Para Setclassid, si no se especifica algún classid, se quita.\n\
\n\
    Ejemplos:\n\
        > ipconfig                   ... Muestra información.\n\
        > ipconfig /all              ... Muestra información detallada.\n\
        > ipconfig /renew            ... Renueva todos los adaptadores.\n\
        > ipconfig /renew EL*        ... Renueva todas las direcciones IP de los adaptadores\n\
                                         cuyo nombre comienza con EL.\n\
        > ipconfig /release *Con*    ... Libera todas las conexiones coincidentes,\n\
                                         por ejemplo. ""Conexión de área local 1"" o\n\
                                                      ""Conexión de área local 2"".\n"
END
