/*
 * PROJECT:     ReactOS ipconfig utility
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Romanian resource file
 * TRANSLATORS: Copyright 2011-2018 Ștefan Fulea <stefan.fulea@mail.com>
 *              Copyright 2023 Andrei Miloiu <miloiuandrei@gmail.com>
 */

LANGUAGE LANG_ROMANIAN, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_HEADER "\nConfigurația IP a ReactOS\n\n"
    IDS_HOSTNAME            "\tNumele gazdei . . . . . . . . . . : %hs\n"
    IDS_PRIMARYDNSSUFFIX    "\tSufixul primar DNS. . . . . . . . : %hs\n"
    IDS_NODETYPEBCAST       "\tTipul nodului . . . . . . . . . . : Difuzare\n"
    IDS_NODETYPEP2P         "\tTipul nodului . . . . . . . . . . : Egal la egal\n"
    IDS_NODETYPEMIXED       "\tTipul nodului . . . . . . . . . . : Mixtă\n"
    IDS_NODETYPEHYBRID      "\tTipul nodului . . . . . . . . . . : Hibridă\n"
    IDS_NODETYPEUNKNOWN     "\tTipul nodului . . . . . . . . . . : necunoscut\n"
    IDS_IPROUTINGNO         "\tRutarea IP activată . . . . . . . : Nu\n"
    IDS_IPROUTINGYES        "\tRutarea IP activată . . . . . . . : Da\n"
    IDS_WINSPROXYNO         "\tProxy-ul WINS activat . . . . . . : Nu\n"
    IDS_WINSPROXYYES        "\tProxy-ul WINS activat . . . . . . : Da\n"
    IDS_DNSSUFFIXLIST       "\tLista de căutare a sufixului DNS. : %hs\n"
    IDS_EMPTYLINE           "\t                                    %hs\n"
    IDS_MEDIADISCONNECTED   "\tStarea mediului . . . . . . . . . : Mediu deconectat\n"
    IDS_CONNECTIONDNSSUFFIX "\tSufixul DNS specific conexiunii . : %hs\n"
    IDS_DESCRIPTION         "\tDescriere . . . . . . . . . . . . : "
    IDS_PHYSICALADDRESS     "\tAdresă fizică . . . . . . . . . . : %hs\n"
    IDS_DHCPNO              "\tDHCP activat. . . . . . . . . . . : Nu\n"
    IDS_DHCPYES             "\tDHCP activat. . . . . . . . . . . : Da\n"
    IDS_AUTOCONFIGNO        "\tAutoconfigurare activată. . . . . : Nu\n"
    IDS_AUTOCONFIGYES       "\tAutoconfigurare activată. . . . . : Da\n"
    IDS_IPADDRESS           "\tAdresa IP . . . . . . . . . . . . : %hs\n"
    IDS_SUBNETMASK          "\tMasca subrețelei. . . . . . . . . : %hs\n"
    IDS_DEFAULTGATEWAY      "\tPoarta de acces implicită . . . . : %hs\n"
    IDS_DHCPSERVER          "\tServerul DHCP . . . . . . . . . . : %hs\n"
    IDS_DNSSERVERS          "\tServerele DNS . . . . . . . . . . : %hs\n"
    IDS_PRIMARYWINSSERVER   "\tServer WINS primar. . . . . . . . : %hs\n"
    IDS_SECONDARYWINSSERVER "\tServer WINS secundar. . . . . . . : %hs\n"
    IDS_LEASEOBTAINED       "\tAtribuire obținută. . . . . . . . : %s\n"
    IDS_LEASEEXPIRES        "\tAtribuire expiră. . . . . . . . . : %s\n"
END

STRINGTABLE
BEGIN
    IDS_UNKNOWNADAPTER "\nAdaptor necunoscut: %ls\n\n"
    IDS_OTHER "\nAlt tip de adaptor: %ls\n\n"
    IDS_ETH "\nAdaptor Ethernet: %ls\n\n"
    IDS_TOKEN "\nAdaptor Token Ring: %ls\n\n"
    IDS_FDDI "\nAdaptor FDDI: %ls\n\n"
    IDS_PPP "\nAdaptor PPP: %ls\n\n"
    IDS_LOOP "\nAdaptor Loopback: %ls\n\n"
    IDS_SLIP "\nAdaptor SLIP: %ls\n\n"
    IDS_WIFI "\nAdaptor de rețea fără fir: %ls\n\n"
END

STRINGTABLE
BEGIN
    IDS_DNSNAME              "\t%ls\n"
    IDS_DNSLINE              "\t----------------------------------------\n"
    IDS_DNSRECORDNAME        "\tNume de înregistrare. . : %ls\n"
    IDS_DNSRECORDTYPE        "\tTipul de înregistrare . : %hu\n"
    IDS_DNSRECORDTTL         "\tValabilitate (TTL). . . : %lu\n"
    IDS_DNSRECORDLENGTH      "\tLungimea datelor. . . . : %hu\n"
    IDS_DNSSECTIONQUESTION   "\tSecțiune. . . . . . . . : Întrebare\n"
    IDS_DNSSECTIONANSWER     "\tSecțiune. . . . . . . . : Răspuns\n"
    IDS_DNSSECTIONAUTHORITY  "\tSecțiune. . . . . . . . : Autoritate\n"
    IDS_DNSSECTIONADDITIONAL "\tSecțiune. . . . . . . . : Suplimentar\n"
    IDS_DNSTYPEA             "\tÎnregistrarea (gazdei) A: %ls\n"
    IDS_DNSTYPENS            "\tÎnregistrarea NS. . . . : %ls\n"
    IDS_DNSTYPECNAME         "\tÎnregistrarea CNAME . . : %ls\n"
    IDS_DNSTYPESOA1          "\tÎnregistrarea SOA . . . : %ls\n\t                        %ls\n\t                        %lu\n"
    IDS_DNSTYPESOA2          "\t                        %lu\n\t                        %lu\n\t                        %lu\n\t                        %lu\n"
    IDS_DNSTYPEPTR           "\tÎnregistrarea PTR . . . : %ls\n"
    IDS_DNSTYPEMX            "\tÎnregistrarea MX. . . . : %ls\n\t                        %hu\n\t                        %hu\n"
    IDS_DNSTYPEAAAA          "\tÎnregistrarea AAAA. . . : %ls\n"
    IDS_DNSTYPEATMA          "\tÎnregistrarea ATMA. . . : \n"
    IDS_DNSTYPESRV           "\tÎnregistrarea SRV . . . : %ls\n\t                        %hu\n\t                        %hu\n\t                        %hu\n"
END

STRINGTABLE
BEGIN
    IDS_DNSNORECORD         "\tNu sunt înregistrări de tipul %ls\n\n"
    IDS_DNSNONAME           "\tNumele nu există.\n\n"
    IDS_DNSFLUSHERROR       "Memoria de depozitare a resolverului DNS nu a putut fi golită: "
    IDS_DNSFLUSHSUCCESS     "Memoria de depozitare a resolverului DNS a fost golită cu succes.\n"
    IDS_DHCPNOTCONNECTED    "Nu poate fi efectuată nicio operațiune %ls atât timp cât mediul este deconectat.\n"
    IDS_DHCPNOTENABLED      "Adaptorul %ls nu este activat pentru DHCP.\n"
    IDS_DHCPNOADAPTER       "Operațiunea a eșuat pentru că adaptorul nu este în stadiul admisibil \npentru această operațiune.\n"
    IDS_DHCPRELEASED        "Adresa IP pentru adaptorul %ls a fost deja eliberată.\n"
    IDS_DHCPRELEASEERROR    "A apărut o eroare în timpul eliberării interfeței %ls: "
    IDS_DHCPRENEWERROR      "A apărut o eroare în timpul reînnoirii interfeței %ls: "
END

STRINGTABLE
BEGIN
/* Please keep the spacing/formatting as per En.rc when translating */
    IDS_USAGE
    "\nUTILIZARE:\n\
        ipconfig [/? | /all | /renew [adaptor] | /release [adaptor] |\n\
                  /flushdns | /displaydns | /registerdns |\n\
                  /showclassid adaptor |\n\
                  /setclassid adaptor [id_clasă] ]\n\
\n\
    unde\n\
        adaptor         Numele conexiunii\n\
                       (sunt permise metacaracterele * și ?, vezi exemple)\n\
\n\
        Opțiuni:\n\
           /?           Afișează acest manual.\n\
           /all         Afișează toată informația de configurare.\n\
           /release     Detașează adresa IP pentru adaptorul specificat.\n\
           /renew       Reînnoiește adresa IP pentru adaptorul specificat.\n\
           /flushdns    Curăță memoria rezolvatorului DNS.\n\
           /registerdns Reîmprospătează toate alocările DHCP și\n\
                        repetă înregistrarea numelor DNS.\n\
           /displaydns  Afișează conținutul memoriei rezolvatorului DNS.\n\
           /showclassid Afișează toate identitățile de clasă dhcp permise\n\
                        pentru adaptor.\n\
           /setclassid  Modifică identitatea de clasă (id_clasă) dhcp.\n\
\n\
    În mod implicit sunt afișate doar adresa IP, masca de subrețea și\n\
    ieșirea ""gateway"" implicită pentru fiecare adaptor ce suportă TCP/IP.\n\
\n\
    Pentru ""Release"" și ""Renew"", dacă nu este specificat nici un adaptor,\n\
    atunci vor fi detașate sau reînnoite toate alocările de adrese IP pentru\n\
    toate adaptoarele care suportă TCP/IP.\n\
\n\
    Dacă pentru setclassid nu este specificată și identitatea de clasă, atunci\n\
    identitatea de clasă este eliminată.\n\
\n\
    Exemple:\n\
        > ipconfig                   ... Afișează informații.\n\
        > ipconfig /all              ... Afișează informații detaliate.\n\
        > ipconfig /renew            ... Reînnoiește toate adaptoarele.\n\
        > ipconfig /renew EL*        ... Reînnoiește toate conexiunile care\n\
                                         au numele începând cu ""EL"".\n\
        > ipconfig /release *Con*    ... Detașează conexiunile care conțin în\n\
                                         numele lor secvența ""Con"".\n\
                                         ex. ""Local Area Connection 1"" sau\n\
                                             ""Local Area Connection 2""\n"
END
