/*
 * PROJECT:     ReactOS ipconfig utility
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Russian resource file
 * TRANSLATORS: Copyright 2007 Dmitry Chapyshev <dmitry@reactos.org>
 *              Copyright 2014-2015 Kudratov Olimjon <olim98@bk.ru>
 */

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_HEADER "\nНастройка протокола IP для ReactOS\n\n"
    IDS_HOSTNAME            "\tИмя компьютера  . . . . . . . . . : %hs\n"
    IDS_PRIMARYDNSSUFFIX    "\tОсновной DNS-суффикс  . . . . . . : %hs\n"
    IDS_NODETYPEBCAST       "\tТип узла. . . . . . . . . . . . . : Широковещательный\n"
    IDS_NODETYPEP2P         "\tТип узла. . . . . . . . . . . . . : Одноранговый\n"
    IDS_NODETYPEMIXED       "\tТип узла. . . . . . . . . . . . . : Смешанный\n"
    IDS_NODETYPEHYBRID      "\tТип узла. . . . . . . . . . . . . : Гибридный\n"
    IDS_NODETYPEUNKNOWN     "\tТип узла. . . . . . . . . . . . . : неизвестный\n"
    IDS_IPROUTINGNO         "\tIP-маршрутизация включена . . . . : нет\n"
    IDS_IPROUTINGYES        "\tIP-маршрутизация включена . . . . : да\n"
    IDS_WINSPROXYNO         "\tWINS-прокси включён . . . . . . . : нет\n"
    IDS_WINSPROXYYES        "\tWINS-прокси включён . . . . . . . : да\n"
    IDS_DNSSUFFIXLIST       "\tПорядок просмотра суффиксов DNS . : %hs\n"
    IDS_EMPTYLINE           "\t                                    %hs\n"
    IDS_MEDIADISCONNECTED   "\tСостояние сети  . . . . . . . . . : сеть отключена\n"
    IDS_CONNECTIONDNSSUFFIX "\tDNS-суффикс этого подключения . . : %hs\n"
    IDS_DESCRIPTION         "\tОписание  . . . . . . . . . . . . : "
    IDS_PHYSICALADDRESS     "\tФизический адрес. . . . . . . . . : %hs\n"
    IDS_DHCPNO              "\tDHCP включён. . . . . . . . . . . : нет\n"
    IDS_DHCPYES             "\tDHCP включён. . . . . . . . . . . : да\n"
    IDS_AUTOCONFIGNO        "\tАвтонастройка включена  . . . . . : нет\n"
    IDS_AUTOCONFIGYES       "\tАвтонастройка включена  . . . . . : да\n"
    IDS_IPADDRESS           "\tIP-адрес  . . . . . . . . . . . . : %hs\n"
    IDS_SUBNETMASK          "\tМаска подсети . . . . . . . . . . : %hs\n"
    IDS_DEFAULTGATEWAY      "\tОсновной шлюз . . . . . . . . . . : %hs\n"
    IDS_DHCPSERVER          "\tDHCP-сервер . . . . . . . . . . . : %hs\n"
    IDS_DNSSERVERS          "\tDNS-серверы . . . . . . . . . . . : %hs\n"
    IDS_PRIMARYWINSSERVER   "\tОсновной WINS-сервер  . . . . . . : %hs\n"
    IDS_SECONDARYWINSSERVER "\tДополнительный WINS-сервер. . . . : %hs\n"
    IDS_LEASEOBTAINED       "\tАренда получена . . . . . . . . . : %s\n"
    IDS_LEASEEXPIRES        "\tАренда истекает . . . . . . . . . : %s\n"
END

STRINGTABLE
BEGIN
    IDS_UNKNOWNADAPTER "\nНеизвестный адаптер: %ls\n\n"
    IDS_OTHER "\nДругой тип адаптера: %ls\n\n"
    IDS_ETH "\nEthernet адаптер: %ls\n\n"
    IDS_TOKEN "\nАдаптер Token Ring: %ls\n\n"
    IDS_FDDI "\nАдаптер FDDI: %ls\n\n"
    IDS_PPP "\nАдаптер PPP: %ls\n\n"
    IDS_LOOP "\nАдаптер замыкания на себя: %ls\n\n"
    IDS_SLIP "\nАдаптер SLIP: %ls\n\n"
    IDS_WIFI "\nАдаптер беспроводной сети: %ls\n\n"
END

STRINGTABLE
BEGIN
    IDS_DNSNAME              "\t%ls\n"
    IDS_DNSLINE              "\t----------------------------------------\n"
    IDS_DNSRECORDNAME        "\tИмя записи  . . . . . : %ls\n"
    IDS_DNSRECORDTYPE        "\tТип записи  . . . . . : %hu\n"
    IDS_DNSRECORDTTL         "\tСрок жизни (TTL). . . : %lu\n"
    IDS_DNSRECORDLENGTH      "\tДлина данных. . . . . : %hu\n"
    IDS_DNSSECTIONQUESTION   "\tРаздел  . . . . . . . : Вопрос\n"
    IDS_DNSSECTIONANSWER     "\tРаздел  . . . . . . . : Ответ\n"
    IDS_DNSSECTIONAUTHORITY  "\tРаздел  . . . . . . . : Полномочия\n"
    IDS_DNSSECTIONADDITIONAL "\tРаздел  . . . . . . . : Дополнительно\n"
    IDS_DNSTYPEA             "\tА-запись (узла) . . . : %ls\n"
    IDS_DNSTYPENS            "\tNS-запись . . . . . . : %ls\n"
    IDS_DNSTYPECNAME         "\tCNAME-запись  . . . . : %ls\n"
    IDS_DNSTYPESOA1          "\tSOA-запись  . . . . . : %ls\n\t                        %ls\n\t                        %lu\n"
    IDS_DNSTYPESOA2          "\t                        %lu\n\t                        %lu\n\t                        %lu\n\t                        %lu\n"
    IDS_DNSTYPEPTR           "\tPTR-запись  . . . . . : %ls\n"
    IDS_DNSTYPEMX            "\tMX-запись . . . . . . : %ls\n\t                        %hu\n\t                        %hu\n"
    IDS_DNSTYPEAAAA          "\tAAAA-запись . . . . . : %ls\n"
    IDS_DNSTYPEATMA          "\tATMA-запись . . . . . : \n"
    IDS_DNSTYPESRV           "\tSRV-запись  . . . . . : %ls\n\t                        %hu\n\t                        %hu\n\t                        %hu\n"
END

STRINGTABLE
BEGIN
    IDS_DNSNORECORD         "\tНет записей типа %ls\n\n"
    IDS_DNSNONAME           "\tИмя не существует.\n\n"
    IDS_DNSFLUSHERROR       "Не удаётся очистить кэш распознавателя DNS: "
    IDS_DNSFLUSHSUCCESS     "Успешно сброшен кэш распознавателя DNS.\n"
    IDS_DHCPNOTCONNECTED    "Операции не могут  быть выполнены на ""%ls"", до тех пор, пока сеть отключена.\n"
    IDS_DHCPNOTENABLED      "Адаптер ""%ls"" не доступен для DHCP.\n"
    IDS_DHCPNOADAPTER       "Операция завершена с ошибкой, поскольку ни один адаптер\nне находился в состоянии, допустимом для её выполнения.\n"
    IDS_DHCPRELEASED        "IP-адрес для адаптера ""%ls"" уже освобождён.\n"
    IDS_DHCPRELEASEERROR    "Произошла ошибка при освобождении интерфейса ""%ls"": "
    IDS_DHCPRENEWERROR      "Произошла ошибка при обновлении интерфейса ""%ls"": "
END

STRINGTABLE
BEGIN
/* Please keep the spacing/formatting as per En.rc when translating */
    IDS_USAGE
    "\nИСПОЛЬЗОВАНИЕ:\n\
        ipconfig [/? | /all | /renew [адаптер] | /release [адаптер] |\n\
                  /flushdns | /displaydns | /registerdns |\n\
                  /showclassid адаптер |\n\
                  /setclassid адаптер [устанавливаемый_код_класса_dhcp] ]\n\
\n\
    Где\n\
        адаптер         Название подключения (можно использовать знаки\n\
                        подстановки * и ?, см. примеры)\n\
\n\
        Параметры:\n\
           /?           Вывод данного справочного сообщения.\n\
           /all         Вывод подробных сведений о конфигурации.\n\
           /release     Освобождение адреса IPv4 для указанного адаптера.\n\
           /renew       Обновление адреса IPv4 для указанного адаптера.\n\
           /flushdns    Очистка кэша сопоставителя DNS.\n\
           /registerdns Обновление всех DHCP-аренд и перерегистрация DNS-имен.\n\
           /displaydns  Отображение содержимого кэша сопоставителя DNS.\n\
           /showclassid Отображение всех допустимых для этого адаптера\n\
                        идентификаторов классов DHCP.\n\
           /setclassid  Изменение идентификатора класса DHCP.\n\
\n\
    По умолчанию отображается только IP-адрес, маска подсети и стандартный\n\
    шлюз для каждого адаптера, для которого выполнена привязка к TCP/IP.\n\
\n\
    Если для параметров Release и Renew не указано имя адаптера, то аренда\n\
    IP-адреса для всех адаптеров, для которых существуют привязки к TCP/IP,\n\
    будет освобождена или обновлена.\n\
\n\
    Если для параметра SetClassid не указан идентификатор класса, то\n\
    существующий идентификатор класса будет удален.\n\
\n\
    Примеры:\n\
        > ipconfig                  ... Вывод сведений\n\
        > ipconfig /all             ... Вывод подробных сведений\n\
        > ipconfig /renew           ... Обновление адресов всех адаптеров\n\
        > ipconfig /renew EL*       ... Обновление адресов для всех адаптеров,\n\
                                        имя которых начинается с ""EL""\n\
        > ipconfig /release *Con*   ... Освобождение адресов для всех адаптеров\n\
                                        с соответствующим именем, например:\n\
                                        ""Local Area Connection 1"" или\n\
                                        ""Local Area Connection 2""\n"
END
