/*
 * PROJECT:    ReactOS IpConfig Network Command
 * LICENSE:    GPL - See COPYING in the top level directory
 * FILE:       base/applications/network/ipconfig/lang/uk-UA.rc
 * PURPOSE:    Ukraianian Language File for IpConfig Network Command
 * TRANSLATOR: Rostislav Zabolotny
 */

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_HEADER "\nReactOS IP Configuration\n\n"
    IDS_HOSTNAME            "\tHost Name . . . . . . . . . . . . : %hs\n"
    IDS_PRIMARYDNSSUFFIX    "\tPrimary DNS Suffix. . . . . . . . : %hs\n"
    IDS_NODETYPE            "\tNode Type . . . . . . . . . . . . : "
    IDS_IPROUTINGNO         "\tIP Routing Enabled. . . . . . . . : No\n"
    IDS_IPROUTINGYES        "\tIP Routing Enabled. . . . . . . . : Yes\n"
    IDS_WINSPROXYNO         "\tWINS Proxy enabled. . . . . . . . : No\n"
    IDS_WINSPROXYYES        "\tWINS Proxy enabled. . . . . . . . : Yes\n"
    IDS_DNSSUFFIXLIST       "\tDNS Suffix Search List. . . . . . : %hs\n"
    IDS_EMPTYLINE           "\t                                    %hs\n"
    IDS_MEDIADISCONNECTED   "\tMedia State . . . . . . . . . . . : Media disconnected\n"
    IDS_CONNECTIONDNSSUFFIX "\tConnection-specific DNS Suffix. . : %hs\n"
    IDS_DESCRIPTION         "\tDescription . . . . . . . . . . . : "
    IDS_PHYSICALADDRESS     "\tPhysical Address. . . . . . . . . : %hs\n"
    IDS_DHCPNO              "\tDHCP Enabled. . . . . . . . . . . : No\n"
    IDS_DHCPYES             "\tDHCP Enabled. . . . . . . . . . . : Yes\n"
    IDS_AUTOCONFIGNO        "\tAutoconfiguration Enabled . . . . : No\n"
    IDS_AUTOCONFIGYES       "\tAutoconfiguration Enabled . . . . : Yes\n"
    IDS_IPADDRESS           "\tIP Address. . . . . . . . . . . . : %hs\n"
    IDS_SUBNETMASK          "\tSubnet Mask . . . . . . . . . . . : %hs\n"
    IDS_DEFAULTGATEWAY      "\tDefault Gateway . . . . . . . . . : %hs\n"
    IDS_DHCPSERVER          "\tDHCP Server . . . . . . . . . . . : %hs\n"
    IDS_DNSSERVERS          "\tDNS Servers . . . . . . . . . . . : %hs\n"
    IDS_PRIMARYWINSSERVER   "\tPrimary WINS Server . . . . . . . : %hs\n"
    IDS_SECONDARYWINSSERVER "\tSecondary WINS Server . . . . . . : %hs\n"
    IDS_LEASEOBTAINED       "\tLease Obtained. . . . . . . . . . : %s\n"
    IDS_LEASEEXPIRES        "\tLease Expires . . . . . . . . . . : %s\n"
END

STRINGTABLE
BEGIN
    IDS_YES "Yes"
    IDS_NO  "No"
END

STRINGTABLE
BEGIN
    IDS_BCAST "Broadcast"
    IDS_P2P "Peer To Peer"
    IDS_MIXED "Mixed"
    IDS_HYBRID "Hybrid"
    IDS_UNKNOWN "Невідомий"
END

STRINGTABLE
BEGIN
    IDS_UNKNOWNADAPTER "Unknown Adapter"
    IDS_OTHER "Інший тип адаптера"
    IDS_ETH "Ethernet адаптер"
    IDS_TOKEN "Token Ring адаптер"
    IDS_FDDI "FDDI адаптер"
    IDS_PPP "PPP адаптер"
    IDS_LOOP "Loopback адаптер"
    IDS_SLIP "SLIP адаптер"
    IDS_WIFI "Wireless Network Adapter"
END

STRINGTABLE
BEGIN
/* Please keep the spacing/formatting as per En.rc when translating */
    IDS_USAGE
    "\nВИКОРИСТАННЯ:\n\
        ipconfig [/? | /all | /renew [адаптер] | /release [адаптер] |\n\
                  /flushdns | /displaydns | /registerdns |\n\
                  /showclassid адптер |\n\
                  /setclassid адаптер [встановлюваний_classid] ]\n\
\n\
    де\n\
        адаптер         Назва з'єднання\n\
                       (дозволені символи маскування -- *(будь-яка кількість знаків) і ?(один символ)\n\
\n\
        Ключі:\n\
           /?           Вивести це повідомлення\n\
           /all         Показати повну інформацію про мережні налаштування.\n\
           /release     Звільнити IP-адресу вказаного адаптера.\n\
           /renew       Обновити IP-адресу вказаного адаптера.\n\
           /flushdns    Очистити кеш DNS записів.\n\
           /registerdns Оновити всі реєстрації DHCP і перереєстувати імена DNS.\n\
           /displaydns  Показати вміст кешу DNS.\n\
           /showclassid Показати всі довзолені для вказаного адаптера коди(Class ID) DHCP.\n\
           /setclassid  Змінтити код DHCP (Class ID).\n\
\n\
    По замовчуванню відображається тільки IP-адреса, маска підмережі і шлюз\n\
    для кожного адаптера зв'язаного з TCP/IP.\n\
\n\
    При використанні ключів Release і Renew, якщо не було вказано ім'я адаптера,то\n\
    IP-адреса звільняється чи оновлюється для всіх адапетрів зв'язаних з TCP/IP.\n\
\n\
    При використанні ключа Setclassid, якщо не було вказано ID класу (ClassId), то існуючий код класу буде видалено.\n\
\n\
    Приклади:\n\
        > ipconfig                   ... Вивести загальну інформацію.\n\
        > ipconfig /all              ... Вивести повну інформацію.\n\
        > ipconfig /renew            ... Оновити стан всіх адапетрів\n\
        > ipconfig /renew EL*        ... Оновити стан всіх з'єднань,\n\
                                          ім'я яких починається на EL\n\
        > ipconfig /release *Con*    ... Звільнити (скинути динамічну конфігурацію)\n\
                                         всі з'єднання, які містять у назві ""Сon""\n\
                                         напр. ""Local Area Connection 1"" чи\n\
                                               ""Local Area Connection 2""\n"
END
