#include "resource.h"

LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL

STRINGTABLE DISCARDABLE
{

IDS_Copy, "Programma per la espansione dei file di ReactOS Versione 1.0\n\
Copyright Victor Schneider 1997\n\n\
Usage: %s infile [outfile]\n"

IDS_FAILS "LZCopy fallito: return è %ld\n"
}
