LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

IDD_DISPLAYADAPTER DIALOGEX 0, 0, 252, 226
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Адаптер"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    GROUPBOX "Тип адаптера", -1, 7, 3, 237, 50
    ICON IDC_DESK_ADAPTER, IDC_DESK_ADAPTER, 13, 11, 21, 20, SS_ICON
    LTEXT "", IDC_ADAPTERNAME, 40, 17, 190, 20, SS_NOPREFIX
    PUSHBUTTON "&Свойства", IDC_ADAPTERPROPERTIES, 177, 33, 59, 14
    GROUPBOX "Сведения об адаптере", -1, 7, 56, 237, 75
    LTEXT "Тип микросхем:", -1, 13, 68, 58, 8
    LTEXT "", IDC_CHIPTYPE, 90, 68, 150, 8, SS_NOPREFIX
    LTEXT "Тип конвертера DAC:", -1, 13, 80, 80, 8
    LTEXT "", IDC_DACTYPE, 90, 80, 150, 8, SS_NOPREFIX
    LTEXT "Объем памяти:", -1, 13, 92, 58, 8
    LTEXT "", IDC_MEMORYSIZE, 90, 92, 150, 8, SS_NOPREFIX
    LTEXT "Строка контроллера:", -1, 13, 104, 80, 8
    LTEXT "", IDC_ADAPTERSTRING, 90, 104, 150, 8, SS_NOPREFIX
    LTEXT "Сведения о BIOS:", -1, 13, 116, 67, 8
    LTEXT "", IDC_BIOSINFORMATION, 90, 116, 150, 8, SS_NOPREFIX
    PUSHBUTTON "&Список всех режимов...", IDC_LISTALLMODES, 7, 139, 95, 14
END

IDD_LISTALLMODES DIALOGEX 0, 0, 225, 135
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_DLGFRAME
CAPTION "Список всех режимов"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 112, 115, 50, 15
    PUSHBUTTON "Отмена", IDCANCEL, 167, 115, 50, 15
    GROUPBOX "Список допустимых режимов", -1, 6, 7, 212, 98
    LISTBOX IDC_ALLVALIDMODES, 10, 20, 204, 87, LBS_NOTIFY | WS_VSCROLL
END

STRINGTABLE
BEGIN
    IDS_MODEFMT "%d от %d, %s, %s"
    IDS_DEFREFRESHRATE "частота по умолчанию"
    IDES_REFRESHRATEFMT "%d Гц"
    IDS_4BPP "16 цветов"
    IDS_8BPP "256 цветов"
    IDS_15BPP "Высокое (15 бит)"
    IDS_16BPP "Высокое (16 бит)"
    IDS_24BPP "Самое высокое (24 бита)"
    IDS_32BPP "Самое высокое (32 бита)"
END
