#include <windows.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

IDB_BITMAP1      BITMAP  DISCARDABLE  "matrix.bmp"
IDC_BLANKCURSOR  CURSOR  DISCARDABLE  "cursor1.cur"
IDI_ICON1        ICON    DISCARDABLE  "icon1.ico"

#include "lang/bg-BG.rc"
#include "lang/en-US.rc"
#include "lang/de-DE.rc"
#include "lang/fr-FR.rc"
#include "lang/nl-NL.rc"
#include "lang/th-TH.rc"
#include "lang/sk-SK.rc"
#include "lang/uk-UA.rc"
