/* TRANSLATOR: 2017 Erdem Ersoy (eersoy93) (erdemersoy [at] erdemersoy [dot] net) */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_USAGE "AT komutu, belirlenen bir zamanda bilgisayarda çalıştırmak için komutları\n\
ve programları zamanlar. AT komutunu çalıştırmak için Zamanlayıcı hizmeti\n\
çalıştırılmalıdır.\n\n\
AT [\\\\bilgisayar adı] [ [kimlik] [/DELETE] | /DELETE [/YES]]\n\
AT [\\\\bilgisayar adı] saat [/INTERACTIVE]\n\
    [ /EVERY:tarih[,...] | /NEXT:tarih[,...]] ""komut""\n\n\
\\\\bilgisayar adı   Bir uzak bilgisayarı belirtir. Bu değişken yazılmazsa\n\
                   komutlar yerel bilgisayarda zamanlanır.\n\
kimlik             Zamanlanan bir komuta atanan bir kimlik numarasıdır.\n\
/DELETE            Zamanlanan bir komutu iptal eder. Kimlik yazılmadığında\n\
                   bilgisayardaki tüm zamanlanan komutlar iptal edilir.\n\
/YES               Sonraki onaylamalar istenilmediğinde tüm işleri iptal etme\n\
                   komutuyla birlikte kullanılır.\n\
saat               Komutun çalıştırılma saatini belirtir.\n\
/INTERACTIVE       İşe, çalıştırılacağı saatte oturum açmış kullanıcının\n\
                   masaüstüyle etkileşmesine izin verir.\n\
/EVERY:tarih[,...] Haftanın ya da ayın belirtilen tüm günlerinde komutu çalıştırır.\n\
                   month. Tarih yazılmadığında ayın şimdiki gününü varsayar.\n\
/NEXT:tarih[,...]  Günün bir sonraki oluşunda (örneğin bir sonraki perşembede)\n\
                   belirtilen komutu çalıştırır. Tarih yazılmadığında ayın\n\
                   şimdiki gününü varsayar.\n\
""komut""            Çalıştırılacak komut ya da toplu iş dosyası.\n"

    IDS_DELETE_ALL "Bu işlem tüm zamanlanan işleri silecek.\n"
    IDS_NEW_JOB "%lu iş kimliğiyle yeni bir iş eklendi.\n"
    IDS_JOBS_LIST "Durum  Km.  Gün                     Saat          Komut Yatacı\n"
    IDS_NO_ENTRIES "Tabloda bir giriş yok.\n"

    IDS_CONFIRM_QUESTION "Devam etmek ister misiniz? (E/H) [H]: "
    IDS_CONFIRM_INVALID  "\nBu geçersiz bir yanıttır.\n"
    IDS_CONFIRM_YES "E"
    IDS_CONFIRM_NO "H"

    IDS_TODAY "Bugün"
    IDS_TOMORROW "Yarın"
    IDS_EVERY "Her"
    IDS_NEXT "Bir sonraki"

    IDS_YES "Evet"
    IDS_NO "Hayır"
    IDS_ERROR "YANLIŞLIK"
    IDS_OK "Tamam"

    IDS_TASKID      "Görev kimliği: %lu\n"
    IDS_STATUS      "Durum:         %s\n"
    IDS_SCHEDULE    "Zamanlama:     %s\n"
    IDS_TIME        "Günün saati:   %s\n"
    IDS_INTERACTIVE "Etkileşme:     %s\n"
    IDS_COMMAND     "Komut:         %s\n"
END
