LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL

IDD_PROPPAGESETTINGS DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Paramètres"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    GROUPBOX "Langue de saisie par défaut", -1, 7,7,231,53
    LTEXT "Sélectionnez une des langues de saisie installées pour l'utiliser quand vous allumez votre ordinateur.",-1,14,18,220,17
    COMBOBOX IDC_DEFAULT_INPUT_LANG, 14, 40, 218, 46, CBS_DROPDOWNLIST | CBS_SORT
    GROUPBOX "Services &installés", -1, 7,65,231,115
    LTEXT "Sélectionnez les services que vous voulez pour chaque langue de saisie affichée dans la liste. Utilisez les boutons Ajouter et Supprimer pour modifier cette liste.",-1,14,75,220,17
    CONTROL "TEXT", IDC_KEYLAYOUT_TREE, "SysTreeView32", WS_BORDER | WS_VSCROLL | WS_TABSTOP | 0x00000034, 14, 96, 160, 78
    PUSHBUTTON "Définir par défaut", IDC_SET_DEFAULT, 179, 106, 53, 14
    PUSHBUTTON "Ajouter...", IDC_ADD_BUTTON, 179, 124, 53, 14
    PUSHBUTTON "Supp&rimer...", IDC_REMOVE_BUTTON, 179, 142, 53, 14
    PUSHBUTTON "&Propriétés...", IDC_PROP_BUTTON, 179, 160, 53, 14
    GROUPBOX "Préférences", -1, 7,185,231,36
    PUSHBUTTON "&Barre de langue...", IDC_LANG_BAR_BUTTON, 14, 198, 70, 14
    PUSHBUTTON "Paramètres des touches...", IDC_KEY_SETTINGS_BUTTON, 90, 198, 70, 14
END

IDD_PROPPAGEADVANCED DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Avancé"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    GROUPBOX "Configuration de la compatibilité", -1, 7,7,231,60
    AUTOCHECKBOX "&Étendre le support des services avancés de à tous les programmes", IDC_SUPPORT_ADV_SERV_CHECKBOX, 14, 19, 210, 10, WS_GROUP
    LTEXT "Sélectionnez cette case à cocher pour activer les services avancés de texte dans le bloc-note et d'autres programmes qui ne supporte normalement pas la reconnaissance vocale et l'écriture manuscrite ou tout autre service avancé de saisie.",-1,14,33,220,25
    GROUPBOX "Configuration du système", -1, 7,74,231,60
    AUTOCHECKBOX "Désac&tiver les services avancés de texte", IDC_TURNOFF_ADV_TXTSERV_CHECKBOX, 14, 86, 210, 10, WS_GROUP
    LTEXT "Déselectionnez cette case à cocher pour désactiver les services avancés de texte dans tous les programmes. Non recommandé pour les utilisateurs de l'Est de l'Asie car cela ferme la barre de langue.",-1,14,100,220,25
END

IDD_LANGBAR DIALOG 20, 20, 240, 120
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Paramètres de la barre de langue"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "", -1, 7, 7, 226, 85
    AUTOCHECKBOX "Montrer la &Barre de langue sur le bureau", IDC_LANGBAR_ON_DESK_CHECKBOX, 17, 17, 210, 10, WS_GROUP
    AUTOCHECKBOX "Montrer la Barre de langue de façon transparente quand elle est inactive", IDC_LANGBAR_TRANSP_INACT_CHECKBOX, 17, 32, 210, 10
    AUTOCHECKBOX "Montrer les icônes &additionnelles de la barre de langue dans la zone de Notification", IDC_ADDIT_LANGBAR_ICON_NOTIFYAREA_CHECKBOX, 17, 47, 210, 10
    AUTOCHECKBOX "Monter &les intitulés de texte sur la Barre de langue", IDC_TEXTLABEL_ON_LANGBAR_CHECKBOX, 17, 62, 210, 10
    AUTOCHECKBOX "Désac&tiver les services avancés de texte", IDC_OFF_ADVAN_TEXTSERV_CHECKBOX, 17, 77, 200, 10
    DEFPUSHBUTTON "OK", IDOK, 129, 99, 50, 14
    PUSHBUTTON "Annuler", IDCANCEL, 182, 99, 50, 14
END

IDD_KEYSETTINGS DIALOG 0, 0, 272, 163
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Paramètres de touche avancés"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Pour désactiver le verouillage majuscule", -1, 7, 7, 258, 26
    AUTORADIOBUTTON "Presser &la touche VERR MAJ", IDC_PRESS_CAPSLOCK_KEY_RADIOBTN, 14, 17, 120, 11, WS_GROUP
    AUTORADIOBUTTON "Presser la touche MAJ", IDC_PRESS_SHIFT_KEY_RADIOBTN, 144, 17, 120, 11, NOT WS_TABSTOP
    GROUPBOX "Touches de raccourci pour la saisie des langues", -1, 7, 37, 258, 95
    LTEXT "Action", -1, 14, 47, 60, 9
    RTEXT "Séquence de touches", -1, 177, 47, 79, 9
    LISTBOX IDC_KEY_LISTBOX, 14, 57, 244, 52, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "&Changer la séquence de touches...", IDC_CHANGE_KEY_SEQ_BUTTON, 152, 113, 106, 14, WS_GROUP
    DEFPUSHBUTTON "OK", IDOK, 66, 140, 70, 14
    PUSHBUTTON "Annuler", IDCANCEL, 146, 140, 70, 14
END

IDD_ADD DIALOG 20, 20, 227, 90
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Ajouter une langue de saisie"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Langue de sa&isie :", -1, 7, 7, 61, 10
    COMBOBOX IDC_INPUT_LANGUAGE_COMBO, 7, 17, 212, 110, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    LTEXT "Configuration du clavier/IME :", -1, 7, 36, 110, 10
    COMBOBOX IDC_KEYBOARD_LAYOUT_COMBO, 7, 47, 212, 110, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    DEFPUSHBUTTON "OK", IDOK, 116, 68, 50, 14
    PUSHBUTTON "Annuler", IDCANCEL, 169, 68, 50, 14
END

IDD_CHANGE_KEY_SEQ2 DIALOG 5, 100, 269, 78
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Changer la séquence de touches"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "", -1, 16, 5, 250, 10
    GROUPBOX "", -1, 12, 17, 184, 48
    AUTOCHECKBOX "Activ&er la séquence de touches", IDC_ENABLE_KEY_SEQ_CHECKBOX, 17, 17, 85, 8
    CTEXT "MAJ", -1, 68, 37, 27, 12
    CTEXT "+", -1, 57, 37, 8, 9
    CTEXT "+", -1, 98, 37, 8, 10
    CHECKBOX "&CTRL", IDC_CTRL_CHECKBOX, 24, 31, 30, 11, NOT WS_TABSTOP
    CHECKBOX "&ALT", IDC_ALT_CHECKBOX, 24, 45, 40, 12, NOT WS_TABSTOP
    LTEXT "Touche :", -1, 110, 37, 14, 10
    COMBOBOX IDC_CKEY_COMBOBOX, 127, 34, 46, 48, CBS_DROPDOWNLIST | WS_VSCROLL
    DEFPUSHBUTTON "OK", IDOK, 212, 25, 50, 14
    PUSHBUTTON "Annuler", IDCANCEL, 212, 47, 50, 14
END

IDD_INPUT_LANG_PROP DIALOG 20, 20, 227, 75
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Proprietés de la langue de saisie"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Langue de saisie :", -1, 7, 7, 61, 8
    LTEXT "", -1, 73, 7, 129, 8
    LTEXT "Configuration clavier/IME :", -1, 7, 21, 110, 10
    COMBOBOX IDC_KEYBOARD_LAYOUT_IME_COMBO, 7, 32, 212, 60, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    DEFPUSHBUTTON "OK", IDOK, 116, 53, 52, 14
    PUSHBUTTON "Annuler", IDCANCEL, 169, 53, 52, 14
END

IDD_ADD2 DIALOG 20, 20, 257, 176
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Ajouter une langue de saisie"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Langue de sa&isie :", -1, 7, 7, 61, 10
    COMBOBOX IDC_INPUT_LANG_COMBO, 7, 17, 105, 60, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    AUTOCHECKBOX "Configuration clavier/IME :", IDC_KEYBOARD_LO_CHECKBOX, 37, 36, 110, 10
    COMBOBOX IDC_KEYBOARD_LO_COMBO, 49, 47, 200, 60, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    AUTOCHECKBOX "Reconnaissance de l'écriture manuelle :", IDC_HANDWRITING_REC_CHECKBOX, 37, 65, 110, 10
    COMBOBOX IDC_HANDWRITING_REC_COMBO, 49, 76, 200, 60, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    AUTOCHECKBOX "Vocale :", IDC_SPEECH_CHECKBOX, 37, 94, 110, 10
    COMBOBOX IDC_SPEECH_COMBO, 49, 105, 200, 60, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    AUTOCHECKBOX "Plus de services de texte :", IDC_MORE_TEXT_SERV_CHECKBOX, 37, 123, 110, 10
    COMBOBOX IDC_MORE_TEXT_SERV_COMBO, 49, 134, 200, 60, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    DEFPUSHBUTTON "OK", IDOK, 146, 155, 50, 14
    PUSHBUTTON "Annuler", IDCANCEL, 199, 155, 50, 14
END

IDD_ADD3 DIALOG 20, 20, 257, 147
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Ajouter une langue de saisie"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Langue de sa&isie :", -1, 7, 7, 61, 10
    COMBOBOX IDC_INPUT_LANG_COMBO, 7, 17, 105, 60, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    AUTOCHECKBOX "Configuration clavier/IME :", IDC_KEYBOARD_LO_CHECKBOX, 37, 36, 110, 10
    COMBOBOX IDC_KEYBOARD_LO_COMBO, 49, 47, 200, 60, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    AUTOCHECKBOX "Reconnaissance de l'écriture manuelle :", IDC_HANDWRITING_REC_CHECKBOX, 37, 65, 110, 10
    COMBOBOX IDC_HANDWRITING_REC_COMBO, 49, 76, 200, 60, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    AUTOCHECKBOX "Vocale :", IDC_SPEECH_CHECKBOX, 37, 94, 110, 10
    COMBOBOX IDC_SPEECH_COMBO, 49, 105, 200, 60, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL
    DEFPUSHBUTTON "OK", IDOK, 146, 126, 50, 14
    PUSHBUTTON "Annuler", IDCANCEL, 199, 126, 50, 14
END

IDD_CHANGE_KEY_SEQ DIALOG 5, 100, 285, 74
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Changer la séquence de touche"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "", -1, 9, 5, 209, 60
    AUTOCHECKBOX "Échanger le&s langues de saisie", IDC_SWITCH_INPUT_LANG_CHECKBOX, 15, 15, 90, 12
    LTEXT "SHIFT", -1, 73, 37, 27, 12
    CTEXT "+", -1, 62, 37, 8, 9
    AUTORADIOBUTTON "&CTRL", IDC_INLANG_CTRL_RADIOBTN, 29, 31, 30, 11, WS_GROUP
    AUTORADIOBUTTON "&ALT gauche", IDC_INLANG_LEFTALT_RADIOBTN, 29, 45, 40, 12, NOT WS_TABSTOP
    AUTOCHECKBOX "Échanger le&s configurations clavier", IDC_SWITCH_KEYBOARD_LO_CHECKBOX, 121, 15, 90, 12
    LTEXT "SHIFT", -1, 179, 37, 27, 12
    CTEXT "+", -1, 168, 37, 8, 9
    AUTORADIOBUTTON "C&TRL", IDC_LAYOUT_CTRL_RADIOBTN, 135, 31, 30, 11, WS_GROUP
    AUTORADIOBUTTON "A&LT gauche", IDC_LAYOUT_LEFTALT_RADIOBTN, 135, 45, 40, 12, NOT WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 227, 18, 50, 14
    PUSHBUTTON "Annuler", IDCANCEL, 227, 44, 50, 14
END

IDD_CHANGE_KEY_SEQ3 DIALOG 5, 100, 249, 125
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Changer la séquence de touche"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "", -1, 9, 5, 174, 110
    AUTOCHECKBOX "Échanger le&s langues de saisie", IDC_SWITCH_INPUT_LANG_CHECKBOX, 15, 15, 90, 12
    LTEXT "SHIFT", -1, 73, 37, 27, 12
    CTEXT "+", -1, 62, 37, 8, 9
    AUTORADIOBUTTON "&CTRL", IDC_INLANG_CTRL_RADIOBTN, 29, 31, 30, 11, WS_GROUP
    AUTORADIOBUTTON "&ALT gauche", IDC_INLANG_LEFTALT_RADIOBTN, 29, 45, 40, 12, NOT WS_TABSTOP
    AUTOCHECKBOX "Échanger le&s configurations clavier", IDC_SWITCH_KEYBOARD_LO_CHECKBOX, 15, 65, 90, 12
    LTEXT "SHIFT", -1, 73, 87, 27, 12
    CTEXT "+", -1, 62, 87, 8, 9
    CONTROL "", IDC_CKS_BUTTON, "BUTTON", BS_OWNERDRAW, 96, 77, 13, 33
    AUTORADIOBUTTON "Accent &grave ( ` )", IDC_GRAVE_ACCENT_RADIOBTN, 110, 87, 69, 10, WS_GROUP
    AUTORADIOBUTTON "C&TRL", IDC_LAYOUT_CTRL_RADIOBTN, 29, 81, 30, 11, NOT WS_TABSTOP
    AUTORADIOBUTTON "A&LT gauche", IDC_LAYOUT_LEFTALT_RADIOBTN, 29, 95, 40, 12, NOT WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 192, 25, 50, 14
    PUSHBUTTON "Annuler", IDCANCEL, 192, 47, 50, 14
END

IDD_CHANGE_KEY_SEQ4 DIALOG 5, 100, 249, 125
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Changer la séquence de touche"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "", -1, 9, 5, 174, 110
    AUTOCHECKBOX "Échanger le&s langues de saisie", IDC_SWITCH_INPUT_LANG_CHECKBOX, 15, 15, 90, 12
    LTEXT "SHIFT", -1, 73, 37, 27, 12
    CTEXT "+", -1, 62, 37, 8, 9
    CONTROL "", IDC_CKS_BUTTON, "BUTTON", BS_OWNERDRAW, 96, 27, 13, 33
    AUTORADIOBUTTON "Accent &grave ( ` )", IDC_GRAVE_ACCENT_RADIOBTN, 110, 37, 69, 10, WS_GROUP
    AUTORADIOBUTTON "&CTRL", IDC_INLANG_CTRL_RADIOBTN, 29, 31, 30, 11, NOT WS_TABSTOP
    AUTORADIOBUTTON "&ALT gauche", IDC_INLANG_LEFTALT_RADIOBTN, 29, 45, 40, 12, NOT WS_TABSTOP
    AUTOCHECKBOX "Échanger le&s configurations clavier", IDC_SWITCH_KEYBOARD_LO_CHECKBOX, 15, 65, 90, 12
    LTEXT "SHIFT", -1, 73, 87, 27, 12
    CTEXT "+", -1, 62, 87, 8, 9
    AUTORADIOBUTTON "C&TRL", IDC_LAYOUT_CTRL_RADIOBTN, 29, 81, 30, 11, WS_GROUP
    AUTORADIOBUTTON "A&LT gauche", IDC_LAYOUT_LEFTALT_RADIOBTN, 29, 95, 40, 12, NOT WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 192, 25, 50, 14
    PUSHBUTTON "Annuler", IDCANCEL, 192, 47, 50, 14
END

IDD_CHANGE_KEY_SEQ5 DIALOG 5, 100, 269, 78
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Changer la séquence de touche"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "", 1240, 16, 5, 250, 10
    GROUPBOX "", -1, 12, 17, 184, 48
    AUTOCHECKBOX "Activ&er la séquence de touche", 1249, 17, 17, 85, 8
    CTEXT "SHIFT", -1, 68, 37, 27, 12
    CTEXT "+", -1, 57, 37, 8, 9
    CTEXT "+", -1, 98, 37, 8, 10
    AUTORADIOBUTTON "&CTRL", -1, 24, 31, 30, 11, WS_GROUP
    AUTORADIOBUTTON "&ALT gauche", -1, 24, 45, 40, 12, NOT WS_TABSTOP
    LTEXT "Touche:", -1, 110, 37, 14, 10
    COMBOBOX 1236, 127, 34, 46, 48, CBS_DROPDOWNLIST | WS_VSCROLL
    DEFPUSHBUTTON "OK", IDOK, 212, 25, 50, 14
    PUSHBUTTON "Annuler", IDCANCEL, 212, 47, 50, 14
END

STRINGTABLE
BEGIN
    IDS_CPLSYSTEMNAME "Services texte et langue de saisie"
    IDS_CPLSYSTEMDESCRIPTION "Personnalise les paramètres pour la langue de saisie de texte."
END

/* FIXME : To improve/complete */
/* FIXME : À améliorer/compléter */
STRINGTABLE
BEGIN
	//Selected language on "Add Input language"
	IDS_SELECTED_LANGUAGE               "Anglais (États-Unis)"
	//Selected keyboard layout on "Add Input language"
	IDS_SELECTED_LAYOUT, 				"États-Unis-Dvorak"
	IDS_US_LAYOUT, 									"US"
	IDS_BELGIAN_LAYOUT, 							"Belge (Period)"
	IDS_BELGIAN_FRENCH_LAYOUT, 						"Belge Français"
	IDS_PORTUGUESE_BRAZILIAN_ABNT_LAYOUT, 			"Portugais(Brésilien ABNT)"
	IDS_CANADIAN_FRENCH_LAYOUT, 					"Canadien Français"
	IDS_CANADIAN_FRENCH_LEGACY_LAYOUT, 				"Canadian French (Legacy)"
	IDS_DANISH_LAYOUT, 								"Danois"
	IDS_DUTCH_LAYOUT, 								"Néérlandais"
	IDS_FINNISH_LAYOUT, 							"Finlandais"
	IDS_FRENCH_LAYOUT, 								"Français"
	IDS_GERMAN_LAYOUT, 								"Allemand"
	IDS_GERMAN_IBM_LAYOUT, 							"Allemand (IBM)"
	IDS_ICELANDIC_LAYOUT, 							"Icelandic"
	IDS_IRISH_LAYOUT, 								"Irlandais"
	IDS_ITALIAN_LAYOUT, 							"Italien"
	IDS_ITALIAN_142_LAYOUT, 						"Italien (142)"
	IDS_LATIN_AMERICAN_LAYOUT, 						"Latino-Américain"
	IDS_NORWEGIAN_LAYOUT, 							"Norvégien"
	IDS_PORTUGUESE_LAYOUT, 							"Portugais"
	IDS_SPANISH_LAYOUT, 							"Espagnol"
	IDS_SPANISH_VARIANTION_LAYOUT, 					"Varition espagnole"
	IDS_SWEDISH_LAYOUT, 							"Suédois"
	IDS_SWISS_FRENCH_LAYOUT, 						"Suisse Française"
	IDS_SWISS_GERMAN_LAYOUT, 						"Suisse Allemande"
	IDS_UNITED_KINGDOM_LAYOUT, 						"Royaume-Uni"
	IDS_UNITED_STATES_INTERNATIONAL_LAYOUT, 		"États-Unis-International"
	IDS_UNITED_STATES_DVORAK_FOR_LEFT_HAND_LAYOUT, 	"États-Unis-Dvorak pour la main gauche"
	IDS_UNITED_STATES_DVORAK_FOR_RIGHT_HAND_LAYOUT, "États-Unis-Dvorak pour la main droite"
	IDS_ALBANIAN_LAYOUT, 							"Albanais"
	IDS_CROATIAN_LAYOUT, 							"Croate"
	IDS_CZECH_LAYOUT, 								"Tchèque"
	IDS_CZECH_QWERTY_LAYOUT, 						"Tchèqye (QWERTY)"
	IDS_HUNGARIAN_LAYOUT, 							"Hongrois"
	IDS_HUNGARIAN_101_KEY_LAYOUT, 					"Hongrois 101-key"
	IDS_POLISH_LAYOUT, 								"Polonais (Programmeurs)"
	IDS_POLISH_214_LAYOUT, 							"Polonais (214)"
	IDS_ROMANIAN_LAYOUT, 							"Roumain"
	IDS_SERBIAN_LATIN_LAYOUT, 						"Serbe (Latin)"
	IDS_SLOVAK_LAYOUT, 								"Slovaque"
	IDS_SLOVAK_QWERTY_LAYOUT, 						"Slovaque (QWERTY)"
	IDS_SLOVENIAN_LAYOUT, 							"Slovène"
	IDS_ESTONIAN_LAYOUT, 							"Estonien"
	IDS_LATVIAN_LAYOUT, 							"Letton"
	IDS_LATVIAN_QWERTY_LAYOUT, 						"Letton (QWERTY)"
	IDS_LITHUANIAN_IBM_LAYOUT, 						"Lituanien IBM"
	IDS_GREEK_LAYOUT, 								"Grec"
	IDS_GREEK_LATIN_LAYOUT, 						"Grec Latin"
	IDS_GREEK_220_LAYOUT, 							"Grec (220)"
	IDS_GREEK_319_LAYOUT, 							"Grec (319)"
	IDS_GREEK_220_LATIN_LAYOUT, 					"Grec (220) Latin"
	IDS_GREEK_319_LATIN_LAYOUT, 					"Grec (319) Latin"
	IDS_BELARUSIAN_LAYOUT, 							"Biélorusse"
	IDS_BULGARIAN_LAYOUT, 							"Bulgare"
	IDS_BULGARIAN_LATIN_LAYOUT, 					"Bulgare (Latin)"
	IDS_RUSSIAN_LAYOUT, 							"Russe"
	IDS_RUSSIAN_TYPEWRITER_LAYOUT, 					"Russe (Typewriter)"
	IDS_SERBIAN_CYRILLIC_LAYOUT, 					"Serbe (Cyrillic)"
	IDS_UKRAINIAN_LAYOUT, 							"Ukrainien"
	IDS_TURKISH_F_LAYOUT, 							"Turque F"
	IDS_TURKISH_Q_LAYOUT, 							"Turque Q"
	IDS_JAPANESE_LAYOUT, 							"Japonais"
	IDS_JAPANESE_INPUT_SYSTEM_MSIME2002_LAYOUT, 	"Système de saisie japonais (MS-IME2002)"
	IDS_KOREAN_LAYOUT, 								"Koréen"
	IDS_KOREAN_INPUT_SYSTEM_MSIME2002_LAYOUT, 		"Système de saisie koréen (MS-IME2002)"
	IDS_CHINESE_TRADITIONAL_USKEYBOARD_LAYOUT, 		"Chinois (Traditionnel) - Clavier américain"
	IDS_CHINESE_TRADITIONAL_PHONETIC_LAYOUT, 		"Chinois (Traditionnel) - Phonétique"
	IDS_CHINESE_TRADITIONAL_CHANGJIE_LAYOUT, 		"Chinois (Traditionnel) - ChangJie"
	IDS_CHINESE_TRADITIONAL_BIG5CODE_LAYOUT, 		"Chinois (Traditionnel) - Big5 Code"
	IDS_CHINESE_TRADITIONAL_DAYI_LAYOUT, 			"Chinois (Traditionnel) - DaYi"
	IDS_CHINESE_TRADITIONAL_UNICODE_LAYOUT, 		"Chinois (Traditionnel) - Unicode"
	IDS_CHINESE_TRADITIONAL_ALPHANUMERIC_LAYOUT, 	"Chinois (Traditionnel) - Alpha-numérique"
	IDS_CHINESE_SIMPLIFIED_USKEYBOARD_LAYOUT, 		"Chinois (Simplifié) - Clavier américain"
	IDS_CHINESE_SIMPLIFIED_QUANPIN_LAYOUT, 			"Chinois (Simplifié) - QuanPin"
	IDS_CHINESE_SIMPLIFIED_SHUANGPIN_LAYOUT, 		"Chinois (Simplifié) - ShuangPin"
	IDS_CHINESE_SIMPLIFIED_ZHENGMA_LAYOUT, 			"Chinois (Simplifié) - ZhengMa"
	IDS_CHINESE_SIMPLIFIED_NEIMA_LAYOUT, 			"Chinois (Simplifié) - NeiMa"
	IDS_THAI_KEDMANEE_LAYOUT, 						"Thaïlandais Kedmanee"
	IDS_THAI_PATTACHOTE_LAYOUT, 					"Thaïlandais Pattachote"
	IDS_THAI_KEDMANEE_NONSHIFTLOCK_LAYOUT, 			"Thaïlandais Kedmanee (pas de vérouillage majuscule)"
	IDS_THAI_PATTACHOTE_NONSHIFTLOCK_LAYOUT, 		"Thaïlandais Pattachote (pas de vérouillage majuscule)"
	IDS_HEBREW_LAYOUT, 								"Hébreux"
	IDS_ARABIC_101_LAYOUT, 							"Arabe (101)"
	IDS_ARABIC_102_LAYOUT, 							"Arabe (102)"
	IDS_ARABIC_102_AZERTY_LAYOUT, 					"Arabe (102) AZERTY"
	IDS_CZECH_PROGRAMMERS_LAYOUT, 					"Tchèque Programmeurs"
	IDS_LITHUANIAN_LAYOUT, 							"Lituanien"
	IDS_BELGIAN_COMMA_LAYOUT, 						"Belge (Comma)"
	IDS_CHINESE_TRADITIONAL_NEWPHONETIC_LAYOUT, 	"Chinois (Traditionnel) - Nouvelle phonétique"
	IDS_CHINESE_SIMPLIFIED_MSPINYINIME30_LAYOUT, 	"Chinois (Simplifié) - Microsoft Pinyin IME 3.0"
	IDS_UNITED_STATES_DVIRAK_LAYOUT, 				"États-Unis-Dvorak"
	IDS_CHINESE_TRADITIONAL_NEWCHANGJIE_LAYOUT, 	"Chinois (Traditionnel) - New ChangJie"
	IDS_ASSAMESE_LAYOUT, 							"Assamese"
	IDS_BENGALI_LAYOUT, 							"Bengali"
	IDS_DEVANAGARI_INSCRIPT_LAYOUT, 				"Devanagari - INSCRIPT"
	IDS_GUJARATI_LAYOUT, 							"Gujarati"
	IDS_KANNADA_LAYOUT, 							"Kannada"
	IDS_MALAYALAM_LAYOUT, 							"Malayalam"
	IDS_ORIYA_LAYOUT, 								"Oriya"
	IDS_PUNJABI_LAYOUT, 							"Punjabi"
	IDS_TAMIL_LAYOUT, 								"Tamil"
	IDS_TELUGU_LAYOUT, 								"Telugu"
	IDS_MARATHI_LAYOUT, 							"Marathi"
	IDS_HINDI_TRADITIONAL_LAYOUT, 					"Hindi Traditionnel"
	IDS_CANTONESE_PHONETIC_LAYOUT, 					"Cantonais Phonétique"
	IDS_FAEROESE_LAYOUT, 							"Faeroese"
	IDS_FYRO_MACEDONIAN_LAYOUT, 					"FYRO Macédonien"
	IDS_CANADIAN_MULTILINGUAL_STD_LAYOUT, 			"Canadien Multilangue Standard"
	IDS_CHINESE_TRADITIONAL_QUICK_LAYOUT, 			"Chinois (Traditionnel) - Rapide"
	IDS_CHINESE_TRADITIONAL_ARRAY_LAYOUT, 			"Chinois (Traditionnel) - Tableau"
	IDS_KAZAKH_LAYOUT, 								"Kazakh"
	IDS_UZBEK_CYRILLIC_LAYOUT, 						"Uzbek Cyrillic"
	IDS_AZERI_CYRILLIC_LAYOUT, 						"Azeri Cyrillic"
	IDS_TATAR_LAYOUT, 								"Tatare"
	IDS_AZERI_LATIN_LAYOUT, 						"Azeri Latin"
	IDS_VIETNAMESE_LAYOUT, 							"Vietnamien"
	IDS_GEORGIAN_LAYOUT, 							"Géorgien"
	IDS_ARMENIAN_EASTERN_LAYOUT, 					"Arménien Est"
	IDS_ARMENIAN_WESTERN_LAYOUT, 					"Arménien Ouest"
	IDS_GREEK_POLYTONIC_LAYOUT, 					"Grec Polytonic"
	IDS_USENG_TABLE_IBM_ARABIC238L_LAYOUT, 			"US English Table for IBM Arabic 238_L"
	IDS_FARSI_LAYOUT, 								"Farsi"
	IDS_GAELIC_LAYOUT, 								"Gaelic"
	IDS_PORTUGUESE_BRAZIL_ABNT2_LAYOUT, 			"Portugais (Brésilien ABNT2)"
	IDS_MONGOLIAN_CYRILLIC_LAYOUT, 					"Mongole Cyrillic"
	IDS_KYRGYZ_CYRILLIC_LAYOUT, 					"Kyrgyz Cyrillic"
	IDS_URDU_LAYOUT, 								"Urdu"
	IDS_SYRIAC_LAYOUT, 								"Syrien"
	IDS_SYRIAC_PHONETIC_LAYOUT, 					"Syrien Phonétique"
	IDS_DIVEHI_PHONETIC_LAYOUT, 					"Divehi Phonétique"
	IDS_DIVEHI_TYPEWRITER_LAYOUT, 					"Divehi Typewriter"
	IDS_BULGARIAN_PHONETIC_CLASSIC_LAYOUT, 			"Bulgarian Phonetic (Classic)"
	IDS_BULGARIAN_PHONETIC_BDS_LAYOUT, 				"Bulgarian Phonetic (BDS)"
END
