/*
 *Spanish Language resource file
 * Traducido por: Javier Remacha 2007-12-23
 */

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

IDD_PROPPAGEPOWERSHEMES DIALOGEX 0, 0, 252, 237
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Combinaciones de energía"
FONT 8, "MS Shell Dlg"
BEGIN
  ICON IDI_ACDC, IDI_ACDC, 7, 7, 28, 22
  LTEXT "Seleccione la combinación de energía cuya configuración sea la más adecuada para su equipo. Tenga en cuenta que, si cambia la configuración siguiente, se modificará la combinación seleccionada.",
	-1,37, 6, 209, 36
  GROUPBOX "C&ombinaciones de energía ", -1, 6, 43, 240, 50
  COMBOBOX IDC_ENERGYLIST, 14, 54, 224, 92, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL
  PUSHBUTTON "&Guardar como...", IDC_SAVEAS_BTN, 109, 72, 70, 14, WS_DISABLED
  PUSHBUTTON "E&liminar", IDC_DELETE_BTN, 183, 72, 55, 14, WS_DISABLED
  GROUPBOX "Desconocido ", IDC_GRPDETAIL, 6, 95, 240, 136
  LTEXT "Cuando el equipo está:",IDC_SAT, 12, 109, 65, 14
  LTEXT "Enchufado",IDC_SAC, 123, 110, 45, 15
  ICON IDI_AC, IDC_IAC, 97, 108, 21, 20
  LTEXT "Con baterias",IDC_SDC, 195, 110, 45, 15
  ICON IDI_DC, IDC_IDC, 170, 108, 21, 20
  LTEXT "Apagar &monitor:",IDC_MONITOR, 13, 148, 84, 10
  COMBOBOX IDC_MONITORACLIST, 100, 145, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  COMBOBOX IDC_MONITORDCLIST, 173, 145, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  LTEXT "Apagar los &discos duros:",IDC_DISK, 13, 171, 84, 10
  COMBOBOX IDC_DISKACLIST, 100, 167, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  COMBOBOX IDC_DISKDCLIST, 173, 167, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  LTEXT "Pasar a inac&tividad:",IDC_STANDBY, 13, 191, 84, 10
  COMBOBOX IDC_STANDBYACLIST, 100, 188, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  COMBOBOX IDC_STANDBYDCLIST, 173, 188, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  LTEXT "El sistema &hiberna:",IDC_HYBERNATE, 13, 212, 84, 10
  COMBOBOX IDC_HYBERNATEACLIST, 100, 209, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  COMBOBOX IDC_HYBERNATEDCLIST, 173, 209, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_PROPPAGEALARMS DIALOGEX DISCARDABLE  0, 0, 252, 237
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Alarmas"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Alarma de batería baja ",-1, 6, 7, 239, 104
    CONTROL         "Activar la a&larma de batería baja cuando la potencia alcance un nivel:",IDC_ALARM1,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP, 15, 17, 190, 15
    LTEXT           "Desconocido",IDC_ALARMVALUE1, 209, 20, 33, 10
    LTEXT           "0%",-1, 28, 43, 15, 10
    CONTROL         "Slider1",IDC_ALARMBAR1,"msctls_trackbar32",TBS_HORZ |
                    TBS_AUTOTICKS | WS_TABSTOP, 42, 45, 170, 15
    LTEXT           "100%", -1, 214, 43, 25, 10
    PUSHBUTTON      "Acción de la alar&ma...",-1, 17, 69, 70, 14,WS_DISABLED
    LTEXT           "Notificación:",-1, 95, 71, 57, 10
    LTEXT           "Desconocido",IDC_ALARMMSG1, 154, 71, 84, 10
    LTEXT           "Acción:",-1, 95, 83, 55, 10
    LTEXT           "Desconocido",IDC_ALARMAKTION1, 154, 83, 84, 10
    LTEXT           "Ejecutar programa:",-1, 95, 95, 55, 10
    LTEXT           "Desconocido",IDC_ALARMPROG1, 154, 95, 84, 10

    GROUPBOX        "Alarma de batería crítica ",-1, 6, 120, 239, 106
    CONTROL         "Activar la a&larma de batería baja cuando la potencia alcance un nivel:",IDC_ALARM2,
                    "Button",BS_AUTOCHECKBOX | WS_TABSTOP, 15, 131, 180, 15
    LTEXT           "Desconocido",IDC_ALARMVALUE2, 209, 133, 33, 10
    LTEXT           "0%",-1, 28, 154, 15, 10
    CONTROL         "Slider1",IDC_ALARMBAR2,"msctls_trackbar32",TBS_HORZ |
                    TBS_AUTOTICKS | WS_TABSTOP, 42, 158, 170, 15
    LTEXT           "100%",-1, 214, 154, 25, 10
    PUSHBUTTON      "Acción de la alar&ma...",-1, 17, 183, 70, 14, WS_DISABLED
    LTEXT           "Notificación:",-1, 95, 185, 50, 10
    LTEXT           "Desconocido",IDC_ALARMMSG2, 154, 185, 84, 10
    LTEXT           "Acción:",-1, 95, 198, 45, 10
    LTEXT           "Desconocido",IDC_ALARMAKTION2, 154, 198, 84, 10
    LTEXT           "Ejecutar programa:",-1, 95, 211, 50, 10
    LTEXT           "Desconocido",IDC_ALARMPROG2, 154, 211, 84, 10
END

IDD_PROPPAGEADVANCED DIALOGEX DISCARDABLE  0, 0, 252, 237
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Opciones avanzadas"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_ACDC,IDI_ACDC, 7, 7, 20, 20
    LTEXT           "Seleccione la configuración de ahorro de energía que desea usar.",-1, 37, 6, 207, 20
    GROUPBOX        "Opciones ",-1, 6, 30, 240, 65
    CONTROL         "Mo&strar siempre el icono en la barra de tareas",IDC_SYSTRAYBATTERYMETER,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP, 17, 43, 220, 10
    CONTROL         "S&olicitar una contraseña cuando el equipo se active tras un tiempo de inactividad",IDC_PASSWORDLOGON,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP, 17, 56, 220, 14
    CONTROL         "&Atenuar monitor cuando esté funcionando con baterias",IDC_VIDEODIMDISPLAY,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP, 17, 78, 220, 10
    GROUPBOX        "Botones de encendido ",-1, 6, 101, 240, 127
    LTEXT           "&Cuando cierre la tapa de mi ordenador portátil:", IDC_SLIDCLOSE, 15, 115, 222, 10
    COMBOBOX        IDC_LIDCLOSE, 15, 127, 220, 90, CBS_DROPDOWNLIST | CBS_SORT |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Cuando pr&esione el botón de encendido de mi equipo:", IDC_SPOWERBUTTON, 15, 153, 222, 10
    COMBOBOX        IDC_POWERBUTTON, 15, 165, 220, 90, CBS_DROPDOWNLIST | CBS_SORT |
                    WS_VSCROLL | WS_TABSTOP
    LTEXT           "Cua&ndo presione el botón de suspender del equipo:", IDC_SSLEEPBUTTON, 15, 191, 222, 10
    COMBOBOX        IDC_SLEEPBUTTON, 15, 203, 220, 90, CBS_DROPDOWNLIST | CBS_SORT |
                    WS_VSCROLL | WS_TABSTOP
END

IDD_PROPPAGEHIBERNATE DIALOGEX DISCARDABLE  0, 0, 252, 237
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Hibernación"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON            IDI_HIBERNATE,IDI_HIBERNATE, 7, 7, 20, 20
    LTEXT           "Cuando su equipo hiberna, almacena lo que hay en memoria en el disco duro y luego se apaga. Cuando sale del modo de hibernación vuelve a su estado anterior. ",
                    -1, 37, 6, 210, 35
    GROUPBOX        "Hibernar ",-1, 6, 41, 240, 32
    CONTROL         "Habilitar &hibernación",IDC_HIBERNATEFILE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP, 17, 55, 210, 10
    GROUPBOX        "Espacio en disco para hibernación ",-1, 6, 80, 240, 76
    LTEXT           "Espacio libre en disco:",-1, 15, 95, 140, 10
    LTEXT           "Desconocido",IDC_FREESPACE, 160, 95, 80, 10
    LTEXT           "Espacio en disco requerido para hibernar:",-1, 15, 115, 140, 10
    LTEXT           "Desconocido",IDC_SPACEFORHIBERNATEFILE, 160, 115, 80, 10
    LTEXT           "Debe liberar algo de espacio en el disco para que su equipo pueda hibernar. ",IDC_TOLESSFREESPACE, 15, 135, 224, 20
END

STRINGTABLE
BEGIN
  IDS_CPLNAME_1 "Opciones de energía"
  IDS_CPLDESCRIPTION_1 "Configura los parámetros de ahorro de energía de su equipo."
  IDS_PROCENT "%i%%"
  IDS_SOUND "Sonido"
  IDS_TEXT "Texto"
  IDS_CONFIG1 "Configuración para %1 combinación de energía"
  IDS_CONFIG2 "Opciones avanzadas para %1"

  IDS_SIZEBYTS "%i bytes"
  IDS_SIZEMB "%i MB"

  IDS_NOACTION "No hacer nada"

  IDS_PowerActionNone1 "No hacer nada"
  IDS_PowerActionUnknown "desconocido"
  IDS_PowerActionSleep "Suspender"
  IDS_PowerActionHibernate "Hibernar"
  IDS_PowerActionShutdown "Apagar"
  IDS_PowerActionRestart "Reiniciar"
  IDS_PowerActionShutdownOff "Apagar y quitar la corriente"
  IDS_PowerActionWarmEject "Preguntarme qué hacer"
  IDS_PowerActionNone2 "None"

  IDS_TIMEOUT1 "Tras 1 min"
  IDS_TIMEOUT2 "Tras 2 mins"
  IDS_TIMEOUT3 "Tras 3 mins"
  IDS_TIMEOUT4 "Tras 5 mins"
  IDS_TIMEOUT5 "Tras 10 mins"
  IDS_TIMEOUT6 "Tras 15 mins"
  IDS_TIMEOUT7 "Tras 20 mins"
  IDS_TIMEOUT8 "Tras 25 mins"
  IDS_TIMEOUT9 "Tras 30 mins"
  IDS_TIMEOUT10 "Tras 45 mins"
  IDS_TIMEOUT11 "Tras 1 hora"
  IDS_TIMEOUT12 "Tras 2 horas"
  IDS_TIMEOUT13 "Tras 3 horas"
  IDS_TIMEOUT14 "Tras 4 horas"
  IDS_TIMEOUT15 "Tras 5 horas"
  IDS_TIMEOUT16 "Nunca"
  
  IDS_DEL_SCHEME "¿Está seguro de que desea eliminar la combinación de energía?"
  IDS_DEL_SCHEME_TITLE "Eliminar combinación"
END



