h4,h3 {
    margin: 0;
}

.serendipitySideBarContent input {
    width: 175px;
}

#mainpane {
    line-height: 140%;
    text-align: left;
    padding: 0px;
    width: 700px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin: auto;
}

#content {
    width: 500px;
}

#serendipityRightSideBar {
    width: 150px;
    padding: 10px;
    background-color: #FAFFFF;
    vertical-align: top;
}

#serendipityLeftSideBar {
    width: 150px;
    padding: 10px;
    vertical-align: top;
    background-color: #FAFFFF;
}

body {
	margin: 0px 0px 20px 0px;
	background-color: #8FABBE;
}

input, textarea {
    font-size: x-small;
    font-family: verdana, arial, helvetica, sans-serif;
}

th, td {
    font-size: x-small;
}

p, td, th, div, span {
    font-family: verdana, arial, helvetica, sans-serif;
}

#serendipity_banner {
    font-family: Verdana, Arial, sans-serif;
    color: #FFFFFF;
    background-color: #999999;
    text-align: left;
    border-bottom: 1px solid #FFFFFF;
    width: 700px;
    height: 72px;
    margin: auto;
}

a.homelink1,
a.homelink1:hover,
a.homelink1:link,
a.homelink1:visited,
#serendipity_banner h1 {
    color: #FFFFFF;
    font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: normal;
    padding-left:10px;
    padding-top: 5px;
    margin: 0px;
    text-decoration: none;
}

a.homelink2,
a.homelink2:hover,
a.homelink2:link,
a.homelink2:visited,
#serendipity_banner h2 {
    color: #FFFFFF;
    padding-left: 10px;
    font-size: small;
    font-weight: normal;
    margin: 0px;
    text-decoration: none;
}

.serendipity_title {
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    font-size: small;
    text-align: left;
    font-weight: bold;
}

.serendipity_title a:link {
    color: #666666;
    text-decoration: none;
}

.serendipity_title a:visited {
    color: #666666;
    text-decoration: none;
}

.serendipity_title a:hover {
    color: #666666;
    text-decoration: none;
}

.serendipity_entry {
	padding: 0px 15px 5px 0px;
	background-color: #FFFFFF;
	color: #666666;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	clear: both;
}

.serendipity_entry_body_folded,
.serendipity_entry_body_unfolded,
.serendipity_entry_extended {
    /* Inner blocks of .serendipity_entry, can be used for further customization */
}

div.serendipity_Entry_Date {
    padding-left: 15px;
    width: auto;
}

.serendipity_date {
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    font-size: x-small;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}

.serendipity_commentsTitle {
    display: block;
    width: 100%;
    color: #404040;
    font-size: small;
    font-weight: bold;
}

div.serendipity_entryFooter {
    color: #999999;
    font-family: Verdana, Arial, sans-serif;
    font-size: x-small;
    border-top: 1px solid #999999;
    text-align: left;
    margin-bottom: 25px;
    line-height: normal;
    padding: 3px;
}

img.serendipity_entryIcon {
    float: right;
    border: 0px;
}

img.serendipity_entryIcon {
    float: right;
    border: 0px;
}

td.serendipity_commentsLabel {
    font-size: x-small;
    font-weight: bold;
    vertical-align: top;
}

td.serendipity_commentsValue input,
td.serendipity_commentsValue select,
td.serendipity_commentsValue textarea {
    width: 99%;
    border: 1px solid #333;
    padding: 2px;
}

.serendipity_commentForm {
    font-size:x-small;
    color: #404040;
    margin-bottom: 13px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #FFFFFF;
}
.serendipity_comment {
    font-size: x-small;
    margin-right: 10px;
    margin-left: 10px;
    color: #404040;
    padding: 3px;
    background-color: #FFFFFF;
    overflow: auto;
}

.serendipity_comment_source {
    margin-top: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
}

td.serendipity_admin {
    padding: 10px;
}

a {
	text-decoration: underline;


	}

a:link {
	color: #8FABBE;
	}

a:visited {
	color: #8FABBE;
	}

a:active {
	color: #8FABBE;
	}

a:hover {
	color: #006699;
	}

table.serendipity_calendar td {
    font-size: x-small;
    text-align: center;
    padding: 3px;
}
table.serendipity_calendar a {
    font-weight: bold;
    text-decoration:underline;
}

table.serendipity_calendar a:hover {
    text-decoration: none;
}

td.serendipity_weekDayName {
    font-size: x-small;
    font-weight:bold;
}
td.serendipity_calendarHeader a:link,
td.serendipity_calendarHeader a:visited,
td.serendipity_calendarHeader a:hover {
    border: 0;
    text-decoration: none;
}
div.serendipityPlug, div.serendipityPlug a {
    font-size: 11px;
    text-decoration: none;
    border: 0px;
}

/* Container for each item on the side bar */
div.serendipitySideBarItem {
	color: #999999;
	font-family: Verdana, Arial, sans-serif;
	font-size: x-small;
	text-align: left;
	margin-bottom: 25px;
	line-height: normal;
	padding: 3px;}

/* title of an individual item */
.serendipitySideBarTitle {
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
    font-size: x-small;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2em;
    padding-bottom: 5px;
}

.serendipityImageButton {
    cursor: pointer;
}

td.serendipitySideBar {
    font-size: x-small;
    width: 200px;
    padding: 10px;
}

div.serendipity_admin_title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
}

div.serendipity_admin_list_title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 8px;
}

td.serendipity_admin_list_item {
    padding: 15px;
    border: dashed 1px #000000;
}

.serendipity_entry p {
    margin: 0px;
    padding-bottom: 10px;
}

/** Embedded images with the s9y image manager **/
.serendipity_imageComment_center,
.serendipity_imageComment_left,
.serendipity_imageComment_right {
    border: 1px solid black;
    background-color: #EFEFEF;
    margin: 3px;
}

.serendipity_imageComment_center {
    margin: 0px;
}

.serendipity_imageComment_left {
    float: left;
}

.serendipity_imageComment_right {
    float: right;
}

.serendipity_imageComment_img,
.serendipity_imageComment_img img {
    margin: 0px;
    padding: 0px;
    border: 0px;
    text-align: center;
}

.serendipity_imageComment_txt {
    margin: 0px;
    padding: 3px;
    clear: both;
    font-size: xx-small;
    text-align: center;
}

.serendipity_admin_list_item_even {
    background-color: #ffffff;
}

.serendipity_admin_list_item_uneven {
    background-color: #E0E0E0;
}
.serendipity_admin_filters {
    border: 1px dashed;
    background-color: #FFFFFF;
    font-size: 10px;
    margin-bottom: 10px;
    padding: 2px;
}

.serendipity_admin_filters_headline {
    border-bottom: 1px solid;
}

.serendipity_admin_sortorder {
    font-size: 10px;
    text-align: center;
}

.serendipity_admin_sortorder input,
.serendipity_admin_sortorder select,
.serendipity_admin_filters input,
.serendipity_admin_filters select {
    font-size: 10px;
}

.serendipity_comments {
}

.serendipity_center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.serendipity_entry_author_self {
}

.serendipity_comment_author_self {
    background-color: #f5f5f5;
}
