/* Simplified Chinese translation by Henry Tang Ih 2016 (henrytang2@hotmail.com) */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE
BEGIN
    IDS_ACCOUNTS_FORCE_LOGOFF "强制注销后"
    IDS_ACCOUNTS_LOGOFF_SECONDS "%lu 秒"
    IDS_ACCOUNTS_PRIMARY_SERVER "主服务器"
    IDS_ACCOUNTS_BACKUP_SERVER "备份服务器"
    IDS_ACCOUNTS_STANDALONE_SERVER "独立服务器"
    IDS_ACCOUNTS_WORKSTATION "工作站"

    IDS_STATISTICS_TEXT "Statistics are available for the following services:\n\n\
   Server\n   Workstation\n\n"
    IDS_STATISTICS_SINCE "Statistics since %d/%d/%d %d:%02d %s\n\n\n"
    IDS_STATISTICS_SRV_NAME "Server statistics for \\\\%s\n\n\n"
    IDS_STATISTICS_SRV_SESACCEPT "Sessions accepted"
    IDS_STATISTICS_SRV_SESSTIME "Sessions timed-out"
    IDS_STATISTICS_SRV_SESSERROR "Sessions errored-out"
    IDS_STATISTICS_SRV_KBSENT "Kilobytes sent"
    IDS_STATISTICS_SRV_KBRCVD "Kilobytes received"
    IDS_STATISTICS_SRV_MRESPTIME "Mean response time (msec)"
    IDS_STATISTICS_SRV_SYSERRORS "System errors"
    IDS_STATISTICS_SRV_PMERRORS "Permission violations"
    IDS_STATISTICS_SRV_PWERRORS "Password violations"
    IDS_STATISTICS_SRV_FILES "Files accessed"
    IDS_STATISTICS_SRV_DEVICES "Communication devices accessed"
    IDS_STATISTICS_SRV_JOBS "Print jobs spooled"
    IDS_STATISTICS_SRV_BUFFERS "Times buffers exhausted\n\n"
    IDS_STATISTICS_SRV_BIGBUFFERS "  Big buffers"
    IDS_STATISTICS_SRV_REQBUFFERS "  Request buffers"
    IDS_STATISTICS_WKS_NAME "Workstation statistics for \\\\%s\n\n\n"
    IDS_STATISTICS_WKS_BYTESRCVD "Bytes received"
    IDS_STATISTICS_WKS_SMBSRCVD "Server Message Blocks (SMBs) received"
    IDS_STATISTICS_WKS_BYTESTRANS "Bytes transmitted"
    IDS_STATISTICS_WKS_SMBSTRANS "Server Message Blocks (SMBs) transmitted"
    IDS_STATISTICS_WKS_READOPS "Read operations"
    IDS_STATISTICS_WKS_WRITEOPS "Write operations"
    IDS_STATISTICS_WKS_READDENIED "Raw reads denied"
    IDS_STATISTICS_WKS_WRITEDENIED "Raw writes denied"
    IDS_STATISTICS_WKS_NETWORKERROR "Network errors"
    IDS_STATISTICS_WKS_CONNECTS "Connections made"
    IDS_STATISTICS_WKS_RECONNECTS "Reconnections made"
    IDS_STATISTICS_WKS_DISCONNECTS "Server disconnects"
    IDS_STATISTICS_WKS_SESSIONS "Sessions started"
    IDS_STATISTICS_WKS_HUNGSESSIONS "Hung sessions"
    IDS_STATISTICS_WKS_FAILSESSIONS "Failed sessions"
    IDS_STATISTICS_WKS_FAILEDOPS "Failed operations"
    IDS_STATISTICS_WKS_USECOUNT "Use count"
    IDS_STATISTICS_WKS_FAILUSECOUNT "Failed use count"

    IDS_USER_ACCOUNTS "\\\\%s 的用户帐户"
    IDS_USER_NAME "用户名"
    IDS_USER_FULL_NAME "全名"
    IDS_USER_COMMENT "注释"
    IDS_USER_USER_COMMENT "用户注释"
    IDS_USER_COUNTRY_CODE "国家/地区代码"
    IDS_USER_ACCOUNT_ACTIVE "帐户活动"
    IDS_USER_ACCOUNT_EXPIRES "帐户过期"
    IDS_USER_PW_LAST_SET "上次设置的密码"
    IDS_USER_PW_EXPIRES "密码过期"
    IDS_USER_PW_CHANGEABLE "密码可更改"
    IDS_USER_PW_REQUIRED "需要密码"
    IDS_USER_CHANGE_PW "用户可以更改密码"
    IDS_USER_WORKSTATIONS "允许的工作站"
    IDS_USER_LOGON_SCRIPT "登录脚本"
    IDS_USER_PROFILE "用户配置文件"
    IDS_USER_HOME_DIR "主目录"
    IDS_USER_LAST_LOGON "最后一次登录"
    IDS_USER_LOGON_HOURS "允许的登录的时常 (以小时为单位)"
    IDS_USER_LOCAL_GROUPS "本地组成员身份"
    IDS_USER_GLOBAL_GROUPS "全局组成员身份"

    IDS_USER_ENTER_PASSWORD1 "为用户输入新的密码: "
    IDS_USER_ENTER_PASSWORD2 "再次输入密码: "
    IDS_USER_NO_PASSWORD_MATCH "密码不匹配！"

    IDS_USE_NOW_CONNECTED "%s 现在连接到 %s\n"

    IDS_GENERIC_YES "是"
    IDS_GENERIC_NO "否"
    IDS_GENERIC_NEVER "永不"
    IDS_GENERIC_NONE "无"
    IDS_GENERIC_ALL "所有"
    IDS_GENERIC_LOCKED "锁定"
    IDS_GENERIC_UNLIMITED "Unlimited"
    IDS_GENERIC_SYNTAX "The syntax of this command is:\n\n"

    IDS_ERROR_OPTION_NOT_SUPPORTED "尚不支持 %s 选项。\n"
    IDS_ERROR_INVALID_OPTION_VALUE "您输入了 %s 选项的无效的值。\n"
    IDS_ERROR_SYSTEM_ERROR "发生了系统错误 %d。\n"
    IDS_ERROR_NO_ERROR "命令执行成功。\n\n"
END
