/* Simplified Chinese translation by Henry Tang Ih 2016 (henrytang2@hotmail.com) */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE
BEGIN
    IDS_ACCOUNTS_FORCE_LOGOFF "强制注销后"
    IDS_ACCOUNTS_LOGOFF_SECONDS "%lu 秒"
    IDS_ACCOUNTS_PRIMARY_SERVER "主服务器"
    IDS_ACCOUNTS_BACKUP_SERVER "备份服务器"
    IDS_ACCOUNTS_STANDALONE_SERVER "独立服务器"
    IDS_ACCOUNTS_WORKSTATION "工作站"

    IDS_USE_NOW_CONNECTED "%s 现在连接到 %s\n"

    IDS_GENERIC_SYNTAX "The syntax of this command is:\n\n"

    IDS_ERROR_OPTION_NOT_SUPPORTED "尚不支持 %s 选项。\n"
    IDS_ERROR_INVALID_OPTION_VALUE "您输入了 %s 选项的无效的值。\n"
    IDS_ERROR_SYSTEM_ERROR "发生了系统错误 %d。\n"
    IDS_ERROR_NO_ERROR "命令执行成功。\n\n"
END
