LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

IDD_WELCOMEPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Instalator ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Witamy w programie instalacyjnym ReactOS.", IDC_WELCOMETITLE, 115, 8, 195, 24
    LTEXT "Ten program pomoże w instalacji systemu ReactOS. W tym celu konieczne będzie zebranie informacji o twoim komputerze, by prawidłowo skonfigurować system operacyjny.", IDC_STATIC, 115, 40, 168, 100
    LTEXT "Naciśnij Dalej, by kontynuować.", IDC_STATIC, 115, 169, 195, 17
END

IDD_ACKPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Instalator ReactOS"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT "Twórcy ReactOS chcieliby podziękować następującym projektom Open Source, których to fragmenty zostały wykorzystane do stworzenia ReactOS:", IDC_STATIC, 15, 7, 286, 19
    LISTBOX IDC_PROJECTS, 15, 30, 286, 75, LBS_NOSEL | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL
    LTEXT "ReactOS oparty jest na licencji GPL, więc by w całości lub częściowo wykorzystać źródła ReactOS, musisz przestrzegać postanowień licencji.", IDC_STATIC, 15, 110, 247, 19
    PUSHBUTTON "Pokaż &GPL..", IDC_VIEWGPL, 251, 110, 50, 19
    LTEXT "Naciśnij Dalej, by kontynuować.", IDC_STATIC, 15, 136, 195, 17
END

IDD_OWNERPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Instalator ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_ICON2, IDC_STATIC, 21, 7, 20, 20
    LTEXT "Podaj swoje imię i nazwisko, a także nazwę Twojej firmy lub organizacji.", IDC_STATIC, 54, 7, 242, 21
    LTEXT "Na&zwa:", IDC_STATIC, 54, 37, 44, 8
    EDITTEXT IDC_OWNERNAME, 132, 35, 163, 14, WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL
    LTEXT "&Organizacja:", IDC_STATIC, 54, 57, 44, 8
    EDITTEXT IDC_OWNERORGANIZATION, 132, 55, 163, 14, WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL
END

IDD_COMPUTERPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Instalator ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_ICON1, IDC_STATIC, 21, 7, 20, 20
    LTEXT "Podaj nazwę komputera, nie dłuższą niż 15 znaków. Jeśli chcesz pracować w sieci, nazwa musi pozostać unikalna.", IDC_STATIC, 54, 7, 250, 24
    LTEXT "&Nazwa komputera:", IDC_STATIC, 54, 38, 75, 8
    EDITTEXT IDC_COMPUTERNAME, 132, 35, 163, 14, WS_VISIBLE | WS_TABSTOP | ES_AUTOHSCROLL | ES_UPPERCASE
    ICON IDI_ICON5, IDC_STATIC, 21, 57, 20, 20
    LTEXT "Program konfiguracyjny stworzy konto Administrator. Dzięki niemu uzyskasz, w razie potrzeby, pełny dostęp do systemu.", IDC_STATIC, 54, 57, 250, 25
    LTEXT "Podaj hasło administratora, nie dłuższe niż 127 znaków.", IDC_STATIC, 54, 87, 250, 8
    LTEXT "&Hasło administratora:", IDC_STATIC, 54, 104, 75, 8
    EDITTEXT IDC_ADMINPASSWORD1, 132, 101, 172, 14, WS_VISIBLE | WS_TABSTOP | ES_PASSWORD
    LTEXT "&Potwierdzenie hasła:", IDC_STATIC, 54, 123, 75, 8
    EDITTEXT IDC_ADMINPASSWORD2, 132, 120, 172, 14, WS_VISIBLE | WS_TABSTOP | ES_PASSWORD
END

IDD_LOCALEPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Instalator ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_ICON4, IDC_STATIC, 21, 7, 20, 20
    LTEXT "Lokalizacja systemu powinna być zgodna (językowo) z aplikacjami, których planujesz używać. Lokalizacja odpowiada również za wyświetlanie danych, liczb i walut.", IDC_STATIC, 53, 7, 238, 25
    LTEXT "", IDC_LOCALETEXT, 53, 29, 250, 16
    LTEXT "By zmienić lokalizację systemu, naciśnij Ustaw.", IDC_STATIC, 53, 60, 184, 8
    PUSHBUTTON "&Ustaw...", IDC_CUSTOMLOCALE, 245, 57, 50, 14
    LTEXT "Układ klawiatury decyduje o przyporządkowaniu znaków pod klawisze.", IDC_STATIC, 53, 86, 253, 8
    LTEXT "", IDC_LAYOUTTEXT, 53, 100, 250, 16
    LTEXT "Aby zmienić układ klawiatury, naciśnij Ustaw.", IDC_STATIC, 53, 126, 184, 8
    PUSHBUTTON "U&staw...", IDC_CUSTOMLAYOUT, 245, 122, 50, 14
END

IDD_DATETIMEPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Instalator ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_ICON3, IDC_STATIC, 21, 10, 20, 20
    LTEXT "Data i czas", IDC_STATIC, 53, 7, 253, 8
    CONTROL "", IDC_DATEPICKER, "SysDateTimePick32", DTS_LONGDATEFORMAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 17, 137, 14
    CONTROL "", IDC_TIMEPICKER, "SysDateTimePick32", DTS_TIMEFORMAT | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 200, 17, 54, 14
    LTEXT "Strefa czasowa", IDC_STATIC, 53, 42, 253, 8
    COMBOBOX IDC_TIMEZONELIST, 53, 52, 201, 93, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
    AUTOCHECKBOX "Automatycznie ustaw zegar przy &zmianie czasu (DST)", IDC_AUTODAYLIGHT, 53, 124, 201, 10
END

IDD_PROCESSPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Instalator ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "", IDC_ACTIVITY, 53, 7, 253, 20
    LTEXT "", IDC_ITEM, 53, 29, 253, 20
    CONTROL "", IDC_PROCESSPROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 53, 70, 253, 8
END

IDD_FINISHPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Zakończenie instalacji ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Konfiguracja ReactOS ukończona.", IDC_FINISHTITLE, 115, 8, 195, 24
    LTEXT "To już koniec ustawień ReactOS.\n\nTeraz naciśnij Koniec, by ponownie uruchomić komputer.", IDC_STATIC, 115, 40, 195, 100
    CONTROL "", IDC_RESTART_PROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 115, 138, 188, 12
    LTEXT "Upewnij się, czy w napędach CD/DVD nie pozostał żaden nośnik. Jeśli tak, to wyjmij go przed naciśnięciem przycisku Koniec.", IDC_STATIC, 115, 169, 195, 17
END

IDD_GPL DIALOGEX 0, 0, 333, 230
STYLE DS_SHELLFONT | DS_CENTER | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Powszechna Licencja Publiczna GNU"
FONT 8, "MS Shell Dlg"
BEGIN
    EDITTEXT IDC_GPL_TEXT, 7, 7, 319, 190, ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL
    DEFPUSHBUTTON "OK", IDOK, 141, 209, 50, 14
END

IDD_STATUSWINDOW_DLG DIALOGEX 0, 0, 274, 26
STYLE NOT WS_VISIBLE | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP
CAPTION "Proszę czekać..."
FONT 8, "MS Shell Dlg", 400, 0, 1
BEGIN
    LTEXT "", IDC_STATUSLABEL, 7, 8, 234, 12, SS_WORDELLIPSIS
END

STRINGTABLE
BEGIN
    IDS_ACKTITLE "Podziękowania"
    IDS_ACKSUBTITLE "Wszyscy, bez których nie byłoby ReactOS, a także informacje o Licencji "
    IDS_OWNERTITLE "Personalizacja systemu"
    IDS_OWNERSUBTITLE "Program konfiguracyjny wykorzysta te informacje, aby spersonalizować system."
    IDS_COMPUTERTITLE "Nazwa komputera i hasło administratora"
    IDS_COMPUTERSUBTITLE "Musisz podać nazwę swojego komputera a także hasło administratora."
    IDS_LOCALETITLE "Opcje regionalne i językowe"
    IDS_LOCALESUBTITLE "Możesz ustawić ReactOS pod kątem języka i sposobu wyświetlania danych."
    IDS_DATETIMETITLE "Data i czas"
    IDS_DATETIMESUBTITLE "Ustaw prawidłową datę i czas."
    IDS_PROCESSTITLE "Rejestracja składników"
    IDS_PROCESSSUBTITLE "Proszę czekać..."
END

STRINGTABLE
BEGIN
    IDS_REACTOS_SETUP "Ustawienia ReactOS"
    IDS_UNKNOWN_ERROR "Nieznany błąd"
    IDS_REGISTERING_COMPONENTS "Rejestracja składników..."
    IDS_LOADLIBRARY_FAILED "Nieudane LoadLibrary : "
    IDS_GETPROCADDR_FAILED "Nieudane GetProcAddr : "
    IDS_REGSVR_FAILED "Nieudane DllRegisterServer: "
    IDS_DLLINSTALL_FAILED "Nieudane DllInstall: "
    IDS_TIMEOUT "Upłynął czas rejestracji"
    IDS_REASON_UNKNOWN ""
    /*
     * ATTENTION: 
     *   If you translate the administator account name, keep IDS_ADMINISTRATOR_NAME and
     *   samsrv.dll:IDS_USER_ADMINISTRATOR_NAME synchronized.
     *   Also check the IDD_COMPUTERPAGE dialog.
     */
    IDS_ADMINISTRATOR_NAME "Administrator"
END

STRINGTABLE
BEGIN
    IDS_WZD_NAME "Program instalacyjny nie może kontynuować dopóki nie wpiszesz swojego imienia i nazwiska."
    IDS_WZD_SETCOMPUTERNAME "Program instalacyjny nie zdołał ustawić nowej nazwy komputera."
    IDS_WZD_COMPUTERNAME "Program instalacyjny nie może kontynuować dopóki nie wpiszesz nazwy komputera."
    IDS_WZD_PASSWORDEMPTY "Musisz wprowadzić hasło!"
    IDS_WZD_PASSWORDMATCH "Oba wprowadzone hasła nie są identyczne. Musisz wpisać to samo hasło dwa razy."
    IDS_WZD_PASSWORDCHAR "Wprowadzone hasło zawiera nieodpowiednie znaki. Proszę wprowadzić hasło bez ich udziału."
    IDS_WZD_LOCALTIME "Program instalacyjny nie zdołał ustawić czasu lokalnego."
END

STRINGTABLE
BEGIN
    IDS_STATUS_INSTALL_DEV "Instalacja urządzeń..."
END
