/*
 * PROJECT:     ReactOS CryptExt Shell Extension
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Czech resource file
 * TRANSLATOR:  Copyright 2024 Václav Zouzalík (Venca24) <vaclav.zouzalik@seznam.cz>
 */

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_INVALIDFILE "Toto není platný soubor certifikátu."
    IDS_CER_FILE "Soubor certifikátu"
END
