/*
 * PROJECT:     ReactOS CryptExt Shell Extension
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Slovak resource file
 * TRANSLATOR:  Copyright 2024 Václav Zouzalík (Venca24) <vaclav.zouzalik@seznam.cz>
 */

LANGUAGE LANG_SLOVAK, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_INVALIDFILE "Toto nie je platný súbor certifikátu."
    IDS_CER_FILE "Súbor certifikátu"
END
