/*
 * Copyright 2003 Mike McCormack for CodeWeavers
 * Copyright 2008 Michael Stefaniuc
 *           2011 Ștefan Fulea
 *           2023-2024 Miloiu Andrei <miloiuandrei@gmail.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_ROMANIAN, SUBLANG_NEUTRAL

STRINGTABLE
{
  IDS_LANCONNECTION "Conexiune de rețea locală"
  IDS_CERT_CA_INVALID   "Certificatul este emis de o parte necunoscută sau nesigură."
  IDS_CERT_DATE_INVALID "Data din certificat nu este validă."
  IDS_CERT_CN_INVALID   "Numele din certificat nu corespunde cu cel al sitului."
  IDS_CERT_ERRORS       "Există cel puțin o problemă nespecificată de securitate cu acest certificat."
  IDS_CERT_SUBJECT      "Subiect"
  IDS_CERT_ISSUER       "Emitent"
  IDS_CERT_EFFECTIVE    "Data efectivă"
  IDS_CERT_EXPIRATION   "Data expirării"
  IDS_CERT_PROTOCOL     "Protocolul de securitate"
  IDS_CERT_SIGNATURE    "Tipul semnăturii"
  IDS_CERT_ENCRYPTION   "Tipul de criptare"
  IDS_CERT_PRIVACY      "Puterea de confidențialitate"
  IDS_CERT_HIGH         "Înaltă"
  IDS_CERT_LOW          "Joasă"
  IDS_CERT_BITS         "octeți"
}

IDD_PROXYDLG DIALOGEX 36, 24, 220, 146
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Introducere parolă de rețea"
FONT 8, "MS Shell Dlg"
{
 LTEXT "Introduceți numele de utilizator și parola:", -1, 6, 6, 210, 15
 LTEXT "Mandatar", -1, 6, 26, 50, 18
 LTEXT "Domeniu", -1, 6, 46, 50, 18
 LTEXT "Utilizator", -1, 6, 66, 50, 18
 LTEXT "Parolă", -1, 6, 86, 50, 18
 LTEXT "", IDC_PROXY, 60, 26, 150, 14, 0
 LTEXT "", IDC_REALM, 60, 46, 150, 14, 0
 EDITTEXT IDC_USERNAME, 60, 66, 150, 14, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_PASSWORD, 60, 86, 150, 14, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | ES_PASSWORD
 CHECKBOX "&Salvare a acestei parole (nerecomandat)", IDC_SAVEPASSWORD,
           60, 106, 150, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "OK", IDOK, 90, 126, 56, 14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
 PUSHBUTTON "Revocare", IDCANCEL, 154, 126, 56, 14, WS_GROUP | WS_TABSTOP
}

IDD_AUTHDLG DIALOGEX 36, 24, 220, 146
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Autentificare necesară"
FONT 8, "MS Shell Dlg"
{
 LTEXT "Introduceți numele de utilizator și parola:", -1, 6, 6, 210, 15
 LTEXT "Server", -1, 6, 26, 50, 18
 LTEXT "Domeniu", -1, 6, 46, 50, 18
 LTEXT "Utilizator", -1, 6, 66, 50, 18
 LTEXT "Parolă", -1, 6, 86, 50, 18
 LTEXT "", IDC_SERVER, 60, 26, 150, 14, 0
 LTEXT "", IDC_REALM, 60, 46, 150, 14, 0
 EDITTEXT IDC_USERNAME, 60, 66, 150, 14, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP
 EDITTEXT IDC_PASSWORD, 60, 86, 150, 14, ES_AUTOHSCROLL | WS_BORDER | WS_TABSTOP | ES_PASSWORD
 CHECKBOX "Sal&vare a acestei parole (nerecomandat)", IDC_SAVEPASSWORD,
           60, 106, 150, 12, BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP
 PUSHBUTTON "OK", IDOK, 90, 126, 56, 14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
 PUSHBUTTON "Revocare", IDCANCEL, 154, 126, 56, 14, WS_GROUP | WS_TABSTOP
}

IDD_INVCERTDLG DIALOGEX 3, 24, 250, 86
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Alertă de securitate"
FONT 8, "MS Shell Dlg"
{
 LTEXT "Emiţătorul certificatului acestui sit este necunoscut sau nu prezintă încredere.", -1, 40, 6, 200, 20
 LTEXT "", IDC_CERT_ERROR, 40, 26, 200, 20
 LTEXT "Continuaţi?", -1, 40, 46, 200, 20
 PUSHBUTTON "Da", IDOK, 40, 66, 56, 14, WS_GROUP | WS_TABSTOP | BS_DEFPUSHBUTTON
 PUSHBUTTON "Nu", IDCANCEL, 100, 66, 56, 14, WS_GROUP | WS_TABSTOP
}
