LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

IDD_POWER_METER DIALOGEX 0, 0, 252, 218
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "電源メーター"
FONT 9, "MS UI Gothic"
BEGIN
    CONTROL "電源の状態", 1001, "Button", BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 9, 20, 234, 189
    CONTROL "常にタスクバーにアイコンを表示する(&A)", 1002, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 6, 6, 120, 10
    CONTROL "各バッテリーの詳細を表示する(&B)", 1003, "Button", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 135, 6, 120, 8
    CONTROL "", 1000, "Static", SS_LEFT | WS_CHILD | WS_GROUP, 11, 29, 229, 178
END

STRINGTABLE
BEGIN
    //Power related strings
    IDS_PWR_PROPERTIES        "電源のプロパティを調整(&A)"
    IDS_PWR_METER             "電源メーターを開く(&O)"
    IDS_PWR_RUN               "shell32.dll,Control_RunDLL PowerCfg.cpl"
    IDS_PWR_PERCENT_REMAINING "残り %u%%"
    IDS_PWR_CHARGING          "充電中 (%u%%)"
    IDS_PWR_UNKNOWN_REMAINING "不明"
    IDS_PWR_AC "交流電源"
    IDS_PWR_HOURS_REMAINING "残り %1!u!:%2!02u! 時間 (%3!u!%%)"
    IDS_PWR_MINUTES_REMAINING "残り %1!u! 分 (%2!u!%%)"

    //Hotplug related strings
    IDS_HOTPLUG_REMOVE_1 "安全なハードウェアの取り外し"
    IDS_HOTPLUG_REMOVE_2 "安全にハードウェアを取り除く(&S)"
    IDS_HOTPLUG_REMOVE_3 "安全に %s を取り外す"
    IDS_HOTPLUG_RUN "shell32.dll,Control_RunDLL hotplug.dll"
    IDS_HOTPLUG_COMMA ", "
    IDS_HOTPLUG_DRIVE " - ドライブ(%s)"
    IDS_HOTPLUG_DRIVES " - ドライブ(%s)"
    IDS_HOTPLUG_A "A:"
    IDS_HOTPLUG_REQUIRES "このハードウェアは ""安全な取り外し"" が必要です"
    IDS_HOTPLUG_CLICK "ハードウェアを取り除く前に、取り除くハードウェアを選択して、このアイコンをクリックして下さい。"

    //Volume related strings
    IDS_VOL_VOLUME "音量"
    IDS_VOL_ADJUST "音声プロパティを調整(&A)"
    IDS_VOL_OPEN "音量調整を開く(&O)"
    IDS_VOL_RUN "SNDVOL32.EXE"
    IDS_VOL_MUTED "音量 (ミュート中)"

    //Keyboard-Mouse related strings
    IDS_KEYS_STICKY "スティッキー キー"
    IDS_KEYS_MOUSE "マウス キー"
    IDS_KEYS_FILTER "フィルタ キー"
END
