/*
 * PROJECT:         ReactOS Console Configuration DLL
 * LICENSE:         GPL - See COPYING in the top level directory
 * FILE:            dll/win32/console/uk.rc
 * PURPOSE:         Ukraianian resource file for console
 * TRANSLATOR:      Artem Reznikov
 */

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

IDD_PROPPAGEOPTIONS DIALOGEX 0, 0, 250, 220
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Параметри"
FONT 8, "MS Shell Dlg"
BEGIN
GROUPBOX "Розмір курсора", -1, 15, 15, 120, 70, WS_CHILD | WS_VISIBLE | WS_GROUP
CONTROL "&Маленький", IDC_RADIO_SMALL_CURSOR, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 25, 90, 10
CONTROL "&Середній", IDC_RADIO_MEDIUM_CURSOR, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 40, 90, 10
CONTROL "&Великий", IDC_RADIO_LARGE_CURSOR, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 55, 90, 10
GROUPBOX "Параметри відображення", -1, 140, 15, 100, 70, WS_CHILD | WS_VISIBLE | WS_GROUP
CONTROL "У вік&ні", IDC_RADIO_DISPLAY_WINDOW, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 35, 70, 10
CONTROL "На весь &екран", IDC_RADIO_DISPLAY_FULL, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 50, 70, 10
GROUPBOX "Історія команд:", -1, 15, 90, 120, 70, WS_CHILD | WS_VISIBLE | WS_GROUP
LTEXT "&Розмір буфера", -1, 25, 100, 60, 15
EDITTEXT IDC_EDIT_BUFFER_SIZE, 90, 100, 30, 15, ES_RIGHT | WS_GROUP 
CONTROL  "", IDC_UPDOWN_BUFFER_SIZE, UPDOWN_CLASS,UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_BORDER | WS_GROUP, 115, 100, 12, 12
LTEXT "&Кількість буферів:", -1, 25, 120, 80, 15
EDITTEXT IDC_EDIT_NUM_BUFFER, 90, 120, 30, 15, ES_RIGHT | WS_GROUP 
CONTROL  "", IDC_UPDOWN_NUM_BUFFER, UPDOWN_CLASS,UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_BORDER | WS_GROUP, 115, 120, 12, 12
CHECKBOX "В&ідкидати повторення", IDC_CHECK_DISCARD_DUPLICATES, 25, 140, 100, 15


GROUPBOX "Параметри редагування", -1, 140, 90, 100, 70, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP
CHECKBOX "Режим &QuickEdit", IDC_CHECK_QUICK_EDIT, 150, 100, 60, 15, WS_CHILD | WS_VISIBLE | WS_TABSTOP
CHECKBOX "Режим &вставки", IDC_CHECK_INSERT_MODE, 150, 120, 60, 15, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

IDD_PROPPAGEFONT DIALOGEX 0, 0, 220, 220
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Шрифт"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT "This space is intentionally left blank", -1, 55, 103, 120, 10
END

IDD_PROPPAGELAYOUT DIALOGEX 0, 0, 220, 220
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Розташування"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT "This space is intentionally left blank", -1, 55, 103, 120, 10
END

IDD_PROPPAGECOLORS DIALOGEX 0, 0, 220, 220
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Кольори"
FONT 8, "MS Shell Dlg"
BEGIN
LTEXT "This space is intentionally left blank", -1, 55, 103, 120, 10
END

IDD_APPLYOPTIONS DIALOGEX 0, 0, 220, 100
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_CAPTION
CAPTION "Зміна властивостей"
FONT 8, "MS Shell Dlg"
BEGIN
CONTROL "&Змінити тільки для поточного вікна", IDC_RADIO_APPLY_CURRENT, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_DISABLED, 25, 25, 150, 10
CONTROL "&Зберігти для майбутніх вікон з таким самим заголовком", IDC_RADIO_APPLY_ALL, "Button", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 40, 185, 10
PUSHBUTTON "OK", IDOK, 25, 80, 40, 15, WS_VISIBLE
PUSHBUTTON "Скасувати", IDCANCEL, 120, 80, 50, 15, WS_VISIBLE
END

STRINGTABLE
BEGIN
  IDS_CPLNAME "Консоль"
  IDS_CPLDESCRIPTION "Настройка властивостей консолі."
  IDS_APPLY_SHORTCUT_ALL "Зміна &ярлика, який запустив це вікно"
END
