/* TRANSLATOR: 2017, 2020 Erdem Ersoy (eersoy93) (erdemersoy [at] erdemersoy [dot] net) */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

IDD_PROPPAGEGENERAL DIALOGEX 0, 0, 246, 228
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Genel"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_CPLICON, IDI_CPLICON, 8, 0, 21, 20
    GROUPBOX "İşleyici Ayarları", -1, 5, 25, 230, 90
    LTEXT "İş&leyici:", -1, 15, 42, 37, 10
    COMBOBOX IDC_RENDERER, 55, 40, 160, 10, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
    LTEXT "Bu, grafik sürücünüz için ön tanımlı ayarları geçersiz kılacak! Ön tanımlı ayarlara dönmek için ""Ön Tanımlı""yı seçiniz.", -1, 15, 60, 210, 40
    GROUPBOX "Hata Ayıklama", -1, 5, 125, 230, 90
    LTEXT "DEBUGCHANNEL:", -1, 15, 142, 65, 10
    COMBOBOX IDC_DEBUG_OUTPUT, 80, 140, 135, 10, WS_TABSTOP | WS_VSCROLL | CBS_DROPDOWNLIST
    LTEXT "opengl32'den hata ayıklama çıktısını etkinleştirir ya da devre dışı bırakılır.\n\nUYARI: ""Ayarla""yı ya da ""Sil""i seçmek DEBUGCHANNEL ortam değişkeninin içeriğine yazacak!", -1, 15, 165, 210, 40
END

STRINGTABLE
BEGIN
    IDS_RENDERER_DEFAULT "Ön Tanımlı Sistem Ayarları"
    IDS_RENDERER_RSWR "ReactOS Yazılım Gerçekleştirmesi"
    IDS_CPLNAME "OpenGL Yapılandırması"
    IDS_CPLDESCRIPTION "OpenGL işleyicisini yapılandırır."
    IDS_DEBUG_SET "Ayarla"
    IDS_DEBUG_CLEAR "Sil"
    IDS_DEBUG_DNM "Değiştirme"
END
