/* TRANSLATOR: 2015 Erdem Ersoy (eersoy93) (erdemersoy [at] erdemersoy [dot] net), 2018 Ercan Ersoy (ercanersoy) (ercanersoy [at] ercanersoy [dot] net) */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_NTOBJFLD_NAME "NT Nesne Ad Alanı"
    IDS_REGISTRY_NAME "Sistem Kayıt Dosyası"
    IDS_NTOBJFLD_COMMENT "NT Nesne Ad Alanına göz atmaya izin verir"
    IDS_REGISTRY_COMMENT "Sistem Kayıt Defterine göz atmaya izin verir"
END
