/*
 * PROJECT:     NT Object Namespace shell extension
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Chinese (Traditional) resource file
 * TRANSLATORS: Copyright 2016 Henry Tang Ih <henrytang2@hotmail.com>
 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

STRINGTABLE
BEGIN
    IDS_NTOBJFLD_NAME "NT 物件命名空間"
    IDS_REGISTRY_NAME "系統登錄"
    IDS_NTOBJFLD_COMMENT "允許瀏覽 NT 物件命名空間"
    IDS_REGISTRY_COMMENT "允許瀏覽系統登錄"
END
