LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

IDC_REACTOS_SNDREC32 ACCELERATORS
BEGIN
    "?",            IDM_ABOUT,              ASCII,  ALT
    "/",            IDM_ABOUT,              ASCII,  ALT
END

IDD_ABOUTBOX DIALOGEX 0, 0, 196, 75
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Acerca de Grabadora de sonidos ReactOS"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    ICON            128,IDC_REACTOS_SNDREC32,19,14,21,20
    LTEXT           "reactOS_sndrec32, version 1.0",IDC_STATIC,56,16,114,8,SS_NOPREFIX
    LTEXT           "Copyright (C) 2009",IDC_STATIC,55,25,114,8
    DEFPUSHBUTTON   "Aceptar",IDOK,139,54,50,14,WS_GROUP
END

IDR_MENU1 MENU
BEGIN
    POPUP "Archivo"
    BEGIN
        MENUITEM "Nuevo",                         ID_NEW
        MENUITEM "Abrir...",                     ID_FILE_OPEN
        MENUITEM "Guardar",                        ID_FILE_SAVE, GRAYED
        MENUITEM "Guardar como...",                  ID_FILE_SAVEAS, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Salir",                        ID_EXIT
    END
    MENUITEM "todo1",                       0
    MENUITEM "todo2",                       0
    POPUP "?"
    BEGIN
        MENUITEM "Acerca de...",                    ID__ABOUT
    END
END

STRINGTABLE
BEGIN
    IDS_APP_TITLE           "reactOS_sndrec32"
    IDC_REACTOS_SNDREC32    "REACTOS_SNDREC32"
END
