/* Translator: Ștefan Fulea (stefan dot fulea at mail dot com) */

LANGUAGE LANG_ROMANIAN, SUBLANG_NEUTRAL

IDC_REACTOS_SNDREC32 ACCELERATORS
BEGIN
    "?", IDM_ABOUT, ASCII, ALT
    "/", IDM_ABOUT, ASCII, ALT
END

IDR_MENU1 MENU
BEGIN
    POPUP "&Fișier"
    BEGIN
        MENUITEM "&Nou", ID_FILE_NEW
        MENUITEM "&Deschidere…", ID_FILE_OPEN
        MENUITEM "&Păstrează", ID_FILE_SAVE, GRAYED
        MENUITEM "Păst&rare în…", ID_FILE_SAVEAS, GRAYED
        MENUITEM "Re&constituire…", ID_FILE_RESTORE, GRAYED
        MENUITEM "Pr&oprietăți…", ID_FILE_PROPERTIES
        MENUITEM SEPARATOR
        MENUITEM "I&eșire", ID_FILE_EXIT
    END
    POPUP "&Editare"
    BEGIN
        MENUITEM "&Copiază", ID_EDIT_COPY
        MENUITEM "&Lipește inserție", ID_EDIT_PASTE, GRAYED
        MENUITEM "Lipește mi&x", ID_EDIT_PASTEMIX, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "I&nserare fișier…", ID_EDIT_INSERTFILE
        MENUITEM "&Mixare cu fișier…", ID_EDIT_MIXFILE
        MENUITEM SEPARATOR
        MENUITEM "Șterge în&ainte de poziția curentă",ID_EDIT_DELETEBEFORE, GRAYED
        MENUITEM "Șterge d&upă poziția curentă",ID_EDIT_DELETEAFTER, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Proprietăți audio…", ID_EDIT_AUDIOPROPS
    END
    POPUP "Efe&cte"
    BEGIN
        MENUITEM "&Crește volum (cu 25%)", ID_EFFECTS_INCVOL
        MENUITEM "&Descrește volum", ID_EFFECTS_DECVOL
        MENUITEM SEPARATOR
        MENUITEM "C&rește viteză (cu 100%)", ID_EFFECTS_INCSPD
        MENUITEM "D&escrește viteză", ID_EFFECTS_DECSPD
        MENUITEM SEPARATOR
        MENUITEM "&Adaugă ecou", ID_EFFECTS_ECHO
        MENUITEM "In&versează", ID_EFFECTS_REVERSE
    END
    POPUP "Aj&utor"
    BEGIN
        MENUITEM "&Despre…", ID_ABOUT
    END
END

STRINGTABLE
BEGIN
    IDS_APP_TITLE "Înregistrator audio"
    IDC_REACTOS_SNDREC32 "REACTOS_SNDREC32"
END

STRINGTABLE
BEGIN
    IDS_STRPOS "Poziție: %.2f s"
    IDS_STRDUR "Lungime: %.2f s"
    IDS_STRBUF "Memorie: %.2f kb"
    IDS_STRFMT "%.1f kHz %u biți"
    IDS_STRMONO "mono"
    IDS_STRSTEREO "stereo"
    IDS_STRCHAN "%s"
END
