/*
  PROJECT:    People Map of the ReactOS Website
  LICENSE:    GPL v2 or any later version
  FILE:       web/reactos.org/htdocs/peoplemap/peoplemap.css
  PURPOSE:    Main stylesheet
  COPYRIGHT:  Copyright 2007-2008 Colin Finck <mail@colinfinck.de>
*/

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0 0 1em 0;
	padding: 0; /* Only affects Opera */
	background: #FFFFFF url('http://www.reactos.org/images/topbar.jpg') repeat-x scroll top left;
}

a {
	color: #006090;
}
 
a:hover {
	color: #000000;
}

h1 {
	display: block;
	line-height: normal;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #5984C3;
	padding: 0px 0px 1px 10px;
	margin-top: 0;
}

h1 a {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #5984C3;
	text-decoration: none;
}

h1 a:hover {
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #5984C3;
	text-decoration: underline;
}

h2 {
	font-size: 22px;
	color: #5984C3;
	font-weight: bold;
	margin-top: 0;
}

h3 {
	font-size: 10pt;
	color: black;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 1em;
}

#top {
	margin: 0;
	background: url('http://www.reactos.org/images/logo.jpg') no-repeat scroll 35px 0;
	padding: 103px 0 26px 0;
	color: #FFFFFF;
	text-align: right;
}
 
#top a {
	font-size: 13px;
	color: #FFFFFF;
	text-decoration: none;
	padding: 1px 5px 1px 5px;
}
 
#top a:hover {
	color: #000000;
	background-color: #FFCC33;
}
 
#topMenu {
	font-size: 13px;
	margin-left: 300px;
	background-color: #5984C3;
}
 
#topMenu p {
	text-align: left;
	margin: 0;
}

#leftNav {
	padding: 0px 10px 10px 7px;
}

#leftNav ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #EEEEEE;
	border-top: #3F3849 0px solid;
	border-right: #3F3849 1px solid;
	border-left: #3F3849 1px solid;
}
 
#leftNav ol li {
	font-size: 13px;
	font-weight: bold;
	border-bottom: #3f3849 1px solid;
}
 
#leftNav ol li a {
	font-size: 12px;
	
	display: block;
	width: 137px;
	padding: 2px 4px 2px 4px;
 
	color: #3F3849;
	text-decoration: none;
	background-color: #EEEEEE;
}
 
#leftNav ol li a:hover {
	color: #000000;
	background-color: #FFCC33;
}
 
#leftNav ol li a.extern {
	background: none;
	padding-right: 0px; 
}
 
#leftNav .navTitle {
	padding-left: 12px;
	border-top: #3F3849 1px solid;
	border-right: #3F3849 1px solid;
	border-bottom: #3F3849 1px solid;
	border-left: #3F3849 1px solid;
 
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	background-color: #5984c3;
}

#content {
	padding-right: 10px;
}

.bubble_bg, .selectable_bubble_bg, .hovered_bubble_bg {
	margin-bottom: 10px;
}

.bubble_bg {
	background: #C9DAF8;
}

.selectable_bubble_bg {
	background: #E1EAFB;
}

.hovered_bubble_bg {
	background: #FFFFCC;
}

.bubble {
	padding: 8px;
}

.rounded_ul {
	background: transparent url(images/ul.gif) no-repeat scroll left top;
}
.rounded_ur {
	background: transparent url(images/ur.gif) no-repeat scroll right top;
}
.rounded_ll {
	background: transparent url(images/ll.gif) no-repeat scroll left bottom;
}
.rounded_lr {
	background: transparent url(images/lr.gif) no-repeat scroll right bottom;
}

#map_td, #toolbox_td {
	vertical-align: top;
}

#toolbox_td {
	width: 300px;
	padding-left: 7px;
}

#icon_marker {
	height: 31px;
	width: 19px;
	background: url(images/marker_white.png) no-repeat;
}

#icon_circle {
	height: 10px;
	width: 10px;
	background: url(images/circle_white.png) no-repeat center;
}

#toolbox0_image, #toolbox1_image, #toolbox2_image {
	height: 40px;
	width: 47px;
}

#toolbox0_image {
	background: url(images/filter.png) no-repeat;
}

#toolbox1_image {
	background: url(images/add-user.png) no-repeat;
}

#toolbox2_image {
	background: url(images/set-location.png) no-repeat;
}

#toolbox1_head, #toolbox2_head {
	cursor: pointer;
}

#toolbox1_controls, #toolbox2_controls {
	display: none;
}

div.colorbox {
	border: solid 1px black;
	height: 15px;
	width: 15px;
}

td.toolbox_head {
  /* This is mainly necessary for IE (as always ;-), but also useful as a general rule for the other browsers */
	width: 220px;
}
