/*
  PROJECT:    People Map of the ReactOS Website
  LICENSE:    GPL v2 or any later version
  FILE:       web/reactos.org/htdocs/peoplemap/peoplemap.css
  PURPOSE:    Main stylesheet
  COPYRIGHT:  Copyright 2007-2009 Colin Finck <mail@colinfinck.de>
*/

a {
	color: #006090;
}
 
a:hover {
	color: #000000;
}

#map_td, #toolbox_td {
	vertical-align: top;
}

#toolbox_td {
	width: 300px;
	padding-left: 7px;
}

#icon_marker {
	height: 31px;
	width: 19px;
	background: url(images/marker_white.png) no-repeat;
}

#icon_circle {
	height: 10px;
	width: 10px;
	background: url(images/circle_white.png) no-repeat center;
}

#toolbox0_image, #toolbox1_image, #toolbox2_image {
	height: 40px;
	width: 47px;
}

#toolbox0_image {
	background: url(images/filter.png) no-repeat;
}

#toolbox1_image {
	background: url(images/add-user.png) no-repeat;
}

#toolbox2_image {
	background: url(images/set-location.png) no-repeat;
}

#toolbox1_head, #toolbox2_head {
	cursor: pointer;
}

#toolbox1_controls, #toolbox2_controls {
	display: none;
}

div.colorbox {
	border: solid 1px black;
	height: 15px;
	width: 15px;
}

td.toolbox_head {
  /* This is mainly necessary for IE (as always ;-), but also useful as a general rule for the other browsers */
	width: 220px;
}
