LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_PROPPAGEPOWERSCHEMES DIALOGEX 0, 0, 252, 237
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Power Schemes"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_ACDC, IDI_ACDC, 7, 7, 28, 22
    LTEXT "Select the power scheme with the most appropriate settings for this computer. Note that changing the settings below will modify the selected scheme.", -1, 37, 6, 209, 36
    GROUPBOX "P&ower schemes", -1, 6, 43, 240, 50
    COMBOBOX IDC_ENERGYLIST, 14, 54, 224, 92, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL
    PUSHBUTTON "&Save As...", IDC_SAVEAS_BTN, 109, 72, 70, 14, WS_DISABLED
    PUSHBUTTON "&Delete", IDC_DELETE_BTN, 183, 72, 55, 14, WS_DISABLED
    GROUPBOX "Unknown", IDC_GRPDETAIL, 6, 95, 240, 136
    LTEXT "When computer is:", IDC_SAT, 12, 109, 60, 12
    LTEXT "Plugged in", IDC_SAC, 123, 110, 45, 15
    ICON IDI_AC, IDC_IAC, 97, 108, 21, 20
    LTEXT "Running on batteries", IDC_SDC, 195, 110, 45, 15
    ICON IDI_DC, IDC_IDC, 170, 108, 21, 20
    LTEXT "Turn off &monitor:", IDC_MONITOR, 13, 148, 84, 10
    COMBOBOX IDC_MONITORACLIST, 100, 145, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX IDC_MONITORDCLIST, 173, 145, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "Turn off hard d&isks:", IDC_DISK, 13, 171, 84, 10
    COMBOBOX IDC_DISKACLIST, 100, 167, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX IDC_DISKDCLIST, 173, 167, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "System s&tandby:", IDC_STANDBY, 13, 191, 84, 10
    COMBOBOX IDC_STANDBYACLIST, 100, 188, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX IDC_STANDBYDCLIST, 173, 188, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "System &hibernates:", IDC_HYBERNATE, 13, 212, 84, 10
    COMBOBOX IDC_HYBERNATEACLIST, 100, 209, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX IDC_HYBERNATEDCLIST, 173, 209, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_PROPPAGEALARMS DIALOGEX 0, 0, 252, 237
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Alarms"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Low battery alarm", -1, 6, 7, 239, 104
    AUTOCHECKBOX "Activate &low battery alarm when power level reaches:", IDC_ALARM1, 15, 17, 190, 15, WS_TABSTOP
    LTEXT "unknown", IDC_ALARMVALUE1, 215, 20, 20, 10
    LTEXT "0%", -1, 28, 43, 15, 10
    CONTROL "Slider1", IDC_ALARMBAR1, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_TABSTOP, 42, 45, 170, 15
    LTEXT "100%", -1, 214, 43, 25, 10
    PUSHBUTTON "Alar&m Action...", -1, 17, 69, 70, 14, WS_DISABLED
    LTEXT "Notification:", -1, 95, 71, 57, 10
    LTEXT "Unknown", IDC_ALARMMSG1, 154, 71, 84, 10
    LTEXT "Action:", -1, 95, 83, 55, 10
    LTEXT "Unknown", IDC_ALARMAKTION1, 154, 83, 84, 10
    LTEXT "Run Program:", -1, 95, 95, 55, 10
    LTEXT "Unknown", IDC_ALARMPROG1, 154, 95, 84, 10
    GROUPBOX "Critical battery alarm", -1, 6, 120, 239, 106
    AUTOCHECKBOX "Activate &critical battery alarm when power level reaches:", IDC_ALARM2, 15, 131, 195, 15, WS_TABSTOP
    LTEXT "unknown", IDC_ALARMVALUE2, 215, 134, 20, 10
    LTEXT "0%", -1, 28, 154, 15, 10
    CONTROL "Slider1", IDC_ALARMBAR2, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_TABSTOP, 42, 158, 170, 15
    LTEXT "100%", -1, 214, 154, 25, 10
    PUSHBUTTON "Alar&m Action...", -1, 17, 183, 70, 14, WS_DISABLED
    LTEXT "Notification:", -1, 95, 185, 50, 10
    LTEXT "Unknown", IDC_ALARMMSG2, 154, 185, 84, 10
    LTEXT "Action:", -1, 95, 198, 45, 10
    LTEXT "Unknown", IDC_ALARMAKTION2, 154, 198, 84, 10
    LTEXT "Run Program:", -1, 95, 211, 50, 10
    LTEXT "Unknown", IDC_ALARMPROG2, 154, 211, 84, 10
END

IDD_PROPPAGEADVANCED DIALOGEX 0, 0, 252, 237
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Advanced"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_ACDC, IDI_ACDC, 7, 7, 20, 20
    LTEXT "Select the power-saving settings you want to use.", -1, 37, 6, 207, 20
    GROUPBOX "Options", -1, 6, 30, 240, 65
    AUTOCHECKBOX "Alway&s show icon on the taskbar", IDC_SYSTRAYBATTERYMETER, 17, 43, 220, 10, WS_TABSTOP
    AUTOCHECKBOX "&Prompt for password when computer resumes from standby", IDC_PASSWORDLOGON, 17, 60, 220, 10, WS_TABSTOP
    AUTOCHECKBOX "&Dim display when running on batteries", IDC_VIDEODIMDISPLAY, 17, 78, 220, 10, WS_TABSTOP
    GROUPBOX "Power buttons", -1, 6, 101, 240, 127
    LTEXT "&When I close the lid of my portable computer:", IDC_SLIDCLOSE, 15, 115, 222, 10
    COMBOBOX IDC_LIDCLOSE, 15, 127, 220, 90, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT "Wh&en I press the power button on my computer:", IDC_SPOWERBUTTON, 15, 153, 222, 10
    COMBOBOX IDC_POWERBUTTON, 15, 165, 220, 90, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT "Whe&n I press the sleep button on my computer:", IDC_SSLEEPBUTTON, 15, 191, 222, 10
    COMBOBOX IDC_SLEEPBUTTON, 15, 203, 220, 90, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
END

IDD_PROPPAGEHIBERNATE DIALOGEX 0, 0, 252, 237
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Hibernate"
FONT 8, "MS Shell Dlg"
BEGIN
    ICON IDI_HIBERNATE, IDI_HIBERNATE, 7, 7, 20, 20
    LTEXT "When your computer hibernates, it stores whatever it has in memory on your hard disk and then shuts down. When your computer comes out of hibernation, it returns to its previous state. ", -1, 37, 6, 210, 35
    GROUPBOX "Hibernate", -1, 6, 41, 240, 32
    AUTOCHECKBOX "Enable &hibernation", IDC_HIBERNATEFILE, 17, 55, 210, 10, WS_TABSTOP
    GROUPBOX "Disk space for hibernation", -1, 6, 80, 240, 76
    LTEXT "Free disk space:", -1, 15, 95, 140, 10
    LTEXT "Unknown", IDC_FREESPACE, 160, 95, 80, 10
    LTEXT "Disk space required to hibernate:", -1, 15, 115, 140, 10
    LTEXT "Unknown", IDC_SPACEFORHIBERNATEFILE, 160, 115, 80, 10
    LTEXT "You must free some disk space before your computer can hibernate. ", IDC_TOLESSFREESPACE, 15, 135, 224, 20
END

STRINGTABLE
BEGIN
    IDS_CPLNAME_1 "Power Options"
    IDS_CPLDESCRIPTION_1 "Configure energy-saving settings for your computer."
    IDS_PROCENT "%i%%"
    IDS_SOUND "Sound"
    IDS_TEXT "Text"
    IDS_CONFIG1 "Settings for %1 power scheme"
    IDS_CONFIG2 "Advanced settings for %1"
    IDS_NOACTION "Do nothing"
    IDS_PowerActionNone1 "No action"
    IDS_PowerActionUnknown "Unknown"
    IDS_PowerActionSleep "Stand by"
    IDS_PowerActionHibernate "Hibernate"
    IDS_PowerActionShutdown "Shut down"
    IDS_PowerActionRestart "Restart"
    IDS_PowerActionShutdownOff "Shutdown and Turn the Power Off"
    IDS_PowerActionWarmEject "Ask me what to do"
    IDS_PowerActionNone2 "None"
    IDS_TIMEOUT1 "After 1 min"
    IDS_TIMEOUT2 "After 2 mins"
    IDS_TIMEOUT3 "After 3 mins"
    IDS_TIMEOUT4 "After 5 mins"
    IDS_TIMEOUT5 "After 10 mins"
    IDS_TIMEOUT6 "After 15 mins"
    IDS_TIMEOUT7 "After 20 mins"
    IDS_TIMEOUT8 "After 25 mins"
    IDS_TIMEOUT9 "After 30 mins"
    IDS_TIMEOUT10 "After 45 mins"
    IDS_TIMEOUT11 "After 1 hour"
    IDS_TIMEOUT12 "After 2 hours"
    IDS_TIMEOUT13 "After 3 hours"
    IDS_TIMEOUT14 "After 4 hours"
    IDS_TIMEOUT15 "After 5 hours"
    IDS_TIMEOUT16 "Never"
    IDS_DEL_SCHEME "Are you sure you want to delete the power scheme?"
    IDS_DEL_SCHEME_TITLE "Delete Scheme"
END
