// COPYRIGHT: Tomoya Kitagawa <jptomoya@yahoo.co.jp>

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

IDD_POWERSCHEMESPAGE_ACDC DIALOGEX 0, 0, 252, 220
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "電源設定"
FONT 9, "MS UI Gothic"
BEGIN
    ICON IDI_ACDC, IDI_ACDC, 7, 7, 0, 0
    LTEXT "このコンピュータに最も適した電源設定を選択してください。下の設定を変更すると、選択された電源設定も変更される点に注意してください。", -1, 37, 6, 208, 36
    GROUPBOX "電源設定(&O)", -1, 6, 43, 240, 50
    COMBOBOX IDC_ENERGYLIST, 14, 54, 224, 92, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON "名前を付けて保存(&S)...", IDC_SAVEAS_BTN, 85, 72, 80, 14, WS_DISABLED
    PUSHBUTTON "削除(&D)", IDC_DELETE_BTN, 173, 72, 64, 14, WS_DISABLED
    GROUPBOX "", IDC_GRPDETAIL, 6, 95, 240, 119
    LTEXT "コンピュータの状態:", IDC_SAT, 12, 110, 60, 15
    LTEXT "電源に接続", IDC_SAC, 100, 110, 50, 15
    ICON IDI_AC, IDC_IAC, 141, 122, 0, 0
    LTEXT "バッテリ使用", IDC_SDC, 173, 110, 50, 15
    ICON IDI_DC, IDC_IDC, 218, 122, 0, 0
    LTEXT "モニタの電源を切る(&M):", IDC_MONITOR, 13, 148, 85, 10
    COMBOBOX IDC_MONITORACLIST, 100, 145, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX IDC_MONITORDCLIST, 173, 145, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "ハードディスクの電源を切る(&I):", IDC_DISK, 13, 163, 85, 10
    COMBOBOX IDC_DISKACLIST, 100, 160, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX IDC_DISKDCLIST, 173, 160, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "システム スタンバイ(&T):", IDC_STANDBY, 13, 178, 85, 10
    COMBOBOX IDC_STANDBYACLIST, 100, 175, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX IDC_STANDBYDCLIST, 173, 175, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "システムを休止状態にする(&H):", IDC_HIBERNATE, 13, 193, 85, 10
    COMBOBOX IDC_HIBERNATEACLIST, 100, 190, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    COMBOBOX IDC_HIBERNATEDCLIST, 173, 190, 65, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_POWERSCHEMESPAGE_AC DIALOGEX 0, 0, 252, 220
STYLE DS_SHELLFONT | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "電源設定"
FONT 9, "MS UI Gothic"
BEGIN
    ICON IDI_ACDC, IDI_ACDC, 7, 7, 0, 0
    LTEXT "このコンピュータに最も適した電源設定を選択してください。下の設定を変更すると、選択された電源設定も変更される点に注意してください。", -1, 37, 6, 208, 36
    GROUPBOX "電源設定(&O)", -1, 6, 43, 240, 50
    COMBOBOX IDC_ENERGYLIST, 14, 54, 224, 92, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL
    PUSHBUTTON "名前を付けて保存(&S)...", IDC_SAVEAS_BTN, 85, 72, 80, 14, WS_DISABLED
    PUSHBUTTON "削除(&D)", IDC_DELETE_BTN, 173, 72, 64, 14, WS_DISABLED
    GROUPBOX "", IDC_GRPDETAIL, 6, 95, 240, 119
    LTEXT "モニタの電源を切る(&M):", IDC_MONITOR, 13, 148, 85, 10
    COMBOBOX IDC_MONITORACLIST, 100, 145, 140, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "ハードディスクの電源を切る(&I):", IDC_DISK, 13, 163, 85, 10
    COMBOBOX IDC_DISKACLIST, 100, 160, 140, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "システム スタンバイ(&T):", IDC_STANDBY, 13, 178, 85, 10
    COMBOBOX IDC_STANDBYACLIST, 100, 175, 140, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT "システムを休止状態にする(&H):", IDC_HIBERNATE, 13, 193, 85, 10
    COMBOBOX IDC_HIBERNATEACLIST, 100, 190, 140, 150, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_PROPPAGEALARMS DIALOGEX 0, 0, 252, 220
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "アラーム"
FONT 9, "MS UI Gothic"
BEGIN
    GROUPBOX "バッテリ低下アラーム", -1, 6, 7, 239, 99
    AUTOCHECKBOX "電源レベルが次に達したらバッテリ低下アラームで知らせる(&L):", IDC_ALARM1, 15, 17, 225, 10, WS_TABSTOP
    LTEXT "xxx%", IDC_ALARMVALUE1, 28, 32, 20, 10
    CONTROL "", IDC_ALARMBAR1, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_TABSTOP, 47, 32, 194, 15
    PUSHBUTTON "アラームの動作(&M)...", -1, 148, 50, 88, 14, WS_DISABLED //FIXME: accelerator collision &m
    LTEXT "通知方法:", -1, 28, 67, 89, 10
    LTEXT "?", IDC_ALARMMSG1, 118, 67, 125, 10
    LTEXT "動作:", -1, 28, 79, 89, 10
    LTEXT "?", IDC_ALARMAKTION1, 118, 79, 125, 10
    LTEXT "プログラムの実行:", -1, 28, 91, 89, 10
    LTEXT "?", IDC_ALARMPROG1, 118, 91, 125, 10
    GROUPBOX "バッテリ限界アラーム", -1, 6, 115, 239, 99
    AUTOCHECKBOX "電源レベルが次に達したらバッテリ限界アラームで知らせる(&C):", IDC_ALARM2, 15, 125, 225, 10, WS_TABSTOP
    LTEXT "xxx%", IDC_ALARMVALUE2, 28, 140, 20, 10
    CONTROL "", IDC_ALARMBAR2, "msctls_trackbar32", TBS_HORZ | TBS_AUTOTICKS | WS_TABSTOP, 47, 140, 194, 15
    PUSHBUTTON "アラームの動作(&M)...", -1, 148, 158, 88, 14, WS_DISABLED //FIXME: accelerator collision &m
    LTEXT "通知方法:", -1, 28, 175, 89, 10
    LTEXT "?", IDC_ALARMMSG2, 118, 175, 125, 10
    LTEXT "動作:", -1, 28, 187, 89, 10
    LTEXT "?", IDC_ALARMAKTION2, 118, 187, 125, 10
    LTEXT "プログラムの実行:", -1, 28, 199, 89, 10
    LTEXT "?", IDC_ALARMPROG2, 118, 199, 125, 10
END

IDD_PROPPAGEADVANCED DIALOGEX 0, 0, 252, 220
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "詳細設定"
FONT 9, "MS UI Gothic"
BEGIN
    ICON IDI_ACDC, IDI_ACDC, 7, 7, 0, 0
    LTEXT "使用する省電力設定を選択してください。", -1, 37, 6, 208, 20
    GROUPBOX "オプション", -1, 6, 30, 240, 65
    AUTOCHECKBOX "アイコンを常にタスク バーに表示する(&S)", IDC_SYSTRAYBATTERYMETER, 17, 43, 220, 10, WS_TABSTOP
    AUTOCHECKBOX "スタンバイから回復するときにパスワードの入力を求める(&P)", IDC_PASSWORDLOGON, 17, 60, 220, 10, WS_TABSTOP
    AUTOCHECKBOX "バッテリを使用するときは、薄暗く表示する(&D)", IDC_VIDEODIMDISPLAY, 17, 78, 220, 10, WS_TABSTOP
    GROUPBOX "電源ボタン", -1, 6, 101, 240, 110
    LTEXT "ポータブル コンピュータを閉じたとき(&W):", IDC_SLIDCLOSE, 15, 115, 222, 10
    COMBOBOX IDC_LIDCLOSE, 15, 127, 220, 90, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT "コンピュータの電源ボタンを押したとき(&E):", IDC_SPOWERBUTTON, 15, 145, 222, 10
    COMBOBOX IDC_POWERBUTTON, 15, 157, 220, 90, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT "コンピュータのスリープ ボタンを押したとき(&N):", IDC_SSLEEPBUTTON, 15, 175, 222, 10
    COMBOBOX IDC_SLEEPBUTTON, 15, 187, 220, 90, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
END

IDD_PROPPAGEHIBERNATE DIALOGEX 0, 0, 252, 220
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "休止状態"
FONT 9, "MS UI Gothic"
BEGIN
    ICON IDI_HIBERNATE, IDI_HIBERNATE, 7, 7, 0, 0
    LTEXT "休止状態になると、コンピュータはメモリ上にあるものをすべてハード ディスクに格納してからシャットダウンします。休止状態が解除されると、コンピュータは以前の状態に戻ります。", -1, 37, 6, 208, 35
    GROUPBOX "休止状態", -1, 6, 41, 240, 32
    AUTOCHECKBOX "休止状態を有効にする(&H)", IDC_HIBERNATEFILE, 17, 55, 210, 10, WS_TABSTOP
    GROUPBOX "休止のためのディスク領域", -1, 6, 80, 240, 76
    LTEXT "ディスクの空き領域:", -1, 15, 95, 150, 10
    LTEXT "?", IDC_FREESPACE, 170, 95, 70, 10
    LTEXT "休止状態に必要なディスク領域:", -1, 15, 115, 150, 10
    LTEXT "?", IDC_SPACEFORHIBERNATEFILE, 170, 115, 70, 10
    LTEXT "休止状態をサポートするには、ディスクの空き領域を増やす必要があります。", IDC_TOLESSFREESPACE, 15, 135, 224, 20
END

IDD_SAVEPOWERSCHEME DIALOGEX 0, 0, 190, 62
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "設定の保存"
FONT 9, "MS UI Gothic"
BEGIN
    LTEXT "この電源設定を次の名前で保存:", -1, 7, 7, 180, 8
    EDITTEXT IDC_SCHEMENAME, 7, 18, 176, 14, ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
    DEFPUSHBUTTON "OK", IDOK, 79, 40, 50, 14
    PUSHBUTTON "キャンセル", IDCANCEL, 133, 40, 50, 14
END

STRINGTABLE
BEGIN
    IDS_CPLNAME_1 "電源オプション"
    IDS_CPLDESCRIPTION_1 "コンピュータの省電力設定を構成します。"
    IDS_PERCENT "%i%%"
    IDS_SOUND "音"
    IDS_TEXT "テキスト"
    IDS_CONFIG1 "[%s] の電源設定"
    IDS_CONFIG2 "%sの詳細設定"
    IDS_NOACTION "何もしない"
    IDS_PowerActionNone1 "何もしない"
    IDS_PowerActionUnknown "不明"
    IDS_PowerActionSleep "スタンバイ"
    IDS_PowerActionHibernate "休止状態"
    IDS_PowerActionShutdown "シャットダウン"
    IDS_PowerActionRestart "再起動"
    IDS_PowerActionShutdownOff "シャットダウンして電源を切る"
    IDS_PowerActionWarmEject "入力を求める"
    IDS_PowerActionNone2 "なし"
    IDS_TIMEOUT1 "1 分後"
    IDS_TIMEOUT2 "2 分後"
    IDS_TIMEOUT3 "3 分後"
    IDS_TIMEOUT4 "5 分後"
    IDS_TIMEOUT5 "10 分後"
    IDS_TIMEOUT6 "15 分後"
    IDS_TIMEOUT7 "20 分後"
    IDS_TIMEOUT8 "25 分後"
    IDS_TIMEOUT9 "30 分後"
    IDS_TIMEOUT10 "45 分後"
    IDS_TIMEOUT11 "1 時間後"
    IDS_TIMEOUT12 "2 時間後"
    IDS_TIMEOUT13 "3 時間後"
    IDS_TIMEOUT14 "4 時間後"
    IDS_TIMEOUT15 "5 時間後"
    IDS_TIMEOUT16 "なし"
    IDS_DEL_SCHEME "この電源設定を削除しますか: ""%s""?"
    IDS_DEL_SCHEME_TITLE "電源設定の削除"
    IDS_DEL_SCHEME_ERROR "電源設定を削除できません"
END
