LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL

IDD_CHARMAP DIALOGEX 6, 6, 293, 205 //233
CAPTION "Zeichentabelle"
FONT 8,"MS Shell Dlg",0,0
STYLE DS_SHELLFONT | WS_BORDER | WS_VISIBLE | WS_SYSMENU | WS_MINIMIZEBOX
BEGIN
  LTEXT         "Schrift:", IDC_STATIC, 6, 7, 24, 9
  COMBOBOX      IDC_FONTCOMBO, 36, 5, 210, 210, WS_CHILD | WS_VISIBLE | WS_VSCROLL | CBS_DROPDOWNLIST | CBS_SORT | CBS_HASSTRINGS
  PUSHBUTTON    "Hilfe", IDC_CMHELP, 249, 5, 35, 13
  CONTROL       "", IDC_FONTMAP, "FontMapWnd", WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL, 20, 22, 266, 156
  LTEXT         "Zeichenauswahl:", IDC_STATIC, 6, 188, 66, 9
  EDITTEXT       IDC_TEXTBOX, 74, 186, 114, 13, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  DEFPUSHBUTTON "Auswählen", IDC_SELECT, 194, 186, 44, 13
  PUSHBUTTON    "Kopieren", IDC_COPY, 242, 186, 44, 13, WS_DISABLED
  //AUTOCHECKBOX  "Erweiterte Ansicht", IDC_ADVVIEW, 10, 204, 64, 9, WS_CHILD | WS_VISIBLE | WS_TABSTOP
  //EDITTEXT      IDC_DISPLAY,  8, 217, 278, 13, WS_VISIBLE | WS_TABSTOP | ES_READONLY
END

IDD_ABOUTBOX DIALOGEX 22,16,210,182
CAPTION "Über Zeichentabelle"
FONT 8,"MS Shell Dlg",0,0
STYLE DS_SHELLFONT | WS_BORDER | WS_DLGFRAME | WS_SYSMENU | DS_MODALFRAME
BEGIN
  LTEXT         "Zeichentabelle v0.1\nCopyright (C) 2007 Ged Murphy (gedmurphy@reactos.org)", IDC_STATIC, 48, 7, 150, 36
  PUSHBUTTON    "Schließen", IDOK, 75, 162, 44, 15
  ICON          IDI_ICON, IDC_STATIC, 10, 10, 7, 30
  EDITTEXT      IDC_LICENSE_EDIT, 8, 44, 194, 107, WS_VISIBLE | WS_VSCROLL | WS_TABSTOP | ES_READONLY | ES_MULTILINE
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_LICENSE   "Dieses Programm ist kostenlos; Sie können es frei verteilen mit od. ohne Änderungen unter der GNU Lesser General Public License wie es von der Free Software Foundation veröffentlicht wurde; entweder Version 2.1 der Lizenz, oder eine spätere Version (ihrer Wahl).\r\n\r\nThis program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for more details.\r\n\r\nYou should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA."
  IDS_ABOUT     "Ü&ber..."
END
