/*
 * PROJECT:     ReactOS Tasklist Command
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Romanian resource file
 * TRANSLATOR:  Copyright 2023 Andrei Miloiu <miloiuandrei@gmail.com>
 */

LANGUAGE LANG_ROMANIAN, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_USAGE, "Utilizare: TASKLIST [/?] [/NH]\n"
    IDS_DESCRIPTION, "\n\
Descriere:\
    Acest instrument afișează o listă a proceselor curente din\n\
    calculator.\n"
    IDS_OPTION_TOO_MUCH, "Eroare: Sintaxă nevalidă. Opțiunea '%1' nu este permisă mai mult de '%2!d!' singură dată (ori).\n"
    IDS_INVALID_SYNTAX, "Eroare: Sintaxă nevalidă.\n"
    IDS_INVALID_OPTION, "Eroare: Opțiune de linie de comandă specificată necunoscută sau nevalidă.\n"
    IDS_ENUM_FAILED, "Eroare: Nu poate fi enumerată lista de procese.\n"
    IDS_OUT_OF_MEMORY, "Eroare: Fără memorie.\n"
    IDS_HEADER_IMAGENAME, "Numele imaginii"
    IDS_HEADER_PID, "PID"
    IDS_HEADER_SESSION, "Sesiune#"
    IDS_HEADER_MEMUSAGE, "Uz mem."
    IDS_MEMORY_STR, "%s K"
END
