/*
 * Copyright 2004, 2007 José Manuel Ferrer Ortiz
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

UIINSERTOBJECT DIALOG DISCARDABLE  0, 0, 294, 151
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Insertar objeto"
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX         IDC_OBJTYPELIST,82,19,131,66,LBS_SORT |
                    LBS_NOINTEGRALHEIGHT | WS_VISIBLE | WS_VSCROLL |
                    WS_TABSTOP
    LTEXT           "Tipo de objeto:",IDC_OBJTYPELBL,82,7,53,8,WS_VISIBLE
    DEFPUSHBUTTON   "Aceptar",IDOK,221,7,66,14
    PUSHBUTTON      "Cancelar",IDCANCEL,221,24,66,14
    GROUPBOX        "Resultado",IDC_RESULT,7,103,208,41
    CONTROL         "Crear nuevo",IDC_CREATENEW,"Button",BS_AUTORADIOBUTTON | 
                    WS_GROUP,7,20,62,10
    CONTROL         "Crear control",IDC_CREATECONTROL,"Button",
                    BS_AUTORADIOBUTTON | NOT WS_VISIBLE,7,54,62,10
    CONTROL         "Crear desde archivo",IDC_CREATEFROMFILE,"Button",
                    BS_AUTORADIOBUTTON,7,37,67,10
    LTEXT           "",IDC_RESULTDESC,49,112,159,23
    PUSHBUTTON      "&Añadir control...",IDC_ADDCONTROL,81,88,63,14,NOT WS_VISIBLE
    CONTROL         "Mostrar como icono",IDC_ASICON,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP | NOT WS_VISIBLE,223,58,64,10
    PUSHBUTTON      "Explorar...",IDC_BROWSE,83,53,50,14,NOT WS_VISIBLE
    LTEXT           "Archivo:",IDC_FILELBL,83,27,20,8, NOT WS_VISIBLE
    EDITTEXT        IDC_FILE,83,37,132,13,ES_AUTOHSCROLL | NOT WS_VISIBLE
END

STRINGTABLE DISCARDABLE
{
  IDS_RESULTOBJDESC	"Inserta un nuevo objeto %s en su documento"
  IDS_RESULTFILEOBJDESC	"Inserta el contenido del archivo como un objeto en su documento, con lo que podrá activarlo utilizando el programa que lo creó."
  IDS_BROWSE            "Explorar"
  IDS_NOTOLEMOD         "El archivo no parece ser un módulo OLE válido. Incapaz de registrar el control OLE."
  IDS_NOTOLEMODCAPTION  "Añadir control"
}

IDD_PASTESPECIAL4 DIALOG DISCARDABLE 3, 15, 293, 140
STYLE DS_MODALFRAME | DS_SETFONT | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pegado especial"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT         "Origen:", -1, 6, 9, 30, 8, WS_VISIBLE | WS_GROUP
    CONTROL       "&Pegar", IDC_PS_PASTE, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_GROUP | WS_VISIBLE,
                  6, 38, 55, 10
    CONTROL       "Pegar &enlace", IDC_PS_PASTELINK, "Button", BS_AUTORADIOBUTTON | WS_VISIBLE,
                  6, 63, 55, 10
    LTEXT         "&Como:", -1, 65, 25, 16, 8, WS_VISIBLE | WS_GROUP
    LISTBOX       IDC_PS_PASTELIST,     65, 36, 153, 57, LBS_NOTIFY | LBS_USETABSTOPS | WS_VSCROLL | WS_BORDER | NOT WS_VISIBLE
    LISTBOX       IDC_PS_PASTELINKLIST, 65, 36, 153, 57, LBS_NOTIFY | LBS_USETABSTOPS | WS_VSCROLL | WS_BORDER | NOT WS_VISIBLE
    LISTBOX       IDC_PS_DISPLAYLIST,   65, 36, 153, 57, LBS_NOTIFY | LBS_USETABSTOPS | WS_VSCROLL | WS_BORDER | WS_VISIBLE
    CONTROL       "Aceptar", IDOK, "Button", BS_DEFPUSHBUTTON | WS_TABSTOP | WS_GROUP | WS_VISIBLE, 224, 6, 66, 14
    CONTROL       "Cancelar", IDCANCEL, "Button", BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE, 224, 23, 66, 14
    CONTROL       "A&yuda", IDC_OLEUIHELP, "Button", BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE, 224, 42, 66, 14
    CONTROL       "&Mostrar como icono", IDC_PS_DISPLAYASICON, "Button", BS_AUTOCHECKBOX | WS_TABSTOP | WS_VISIBLE, 224, 59, 66, 14
    CONTROL       "", IDC_PS_ICONDISPLAY, "Static", SS_ICON | WS_VISIBLE, 224, 75, 66, 44
    CONTROL       "Cambiar &icono...", IDC_PS_CHANGEICON, "Button", BS_PUSHBUTTON | WS_TABSTOP | WS_VISIBLE, 224, 123, 66, 14
    CONTROL       "", IDC_PS_RESULTIMAGE, "Static", SS_ICON | WS_VISIBLE, 8, 101, 42, 34
    CONTROL       "<< el texto del resultado va aquí >>", IDC_PS_RESULTTEXT, "Static", SS_NOPREFIX | WS_VISIBLE, 54, 100, 159, 35
    CONTROL       "Resultado", -1, "Button", BS_GROUPBOX | WS_GROUP | WS_VISIBLE, 6, 90, 212, 48
    CONTROL       "", IDC_PS_SOURCETEXT, "Edit", ES_READONLY | ES_AUTOHSCROLL | WS_VISIBLE, 37, 9, 180, 8
END

STRINGTABLE DISCARDABLE
{
    IDS_PS_PASTE_DATA                     "Inserta el contenido del portapapeles en su documento como %s."
    IDS_PS_PASTE_OBJECT                   "Inserta el contenido del portapapeles en su documento de modo que pueda activarlo usando %s."
    IDS_PS_PASTE_OBJECT_AS_ICON           "Inserta el contenido del portapapeles en su documento de modo que pueda activarlo usando %s.  Será mostrado como un icono."
    IDS_PS_PASTE_LINK_DATA                "Inserta el contenido del portapapeles en su documento como %s.  Los datos estarán enlazados al archivo de origen, por lo que los cambios en el archivo se reflejarán en su documento."
    IDS_PS_PASTE_LINK_OBJECT              "Inserta una imagen del contenido del portapapeles en su documento.  La imagen estará enlazada al archivo de origen, por lo que los cambios en el archivo se reflejarán en su documento."
    IDS_PS_PASTE_LINK_OBJECT_AS_ICON      "Inserta un acceso directo que apunte a la localización del contenido del portapapeles.  El acceso directo estará enlazado al archivo de origen, por lo que los cambios en el archivo se reflejarán en su documento."
    IDS_PS_NON_OLE                        "Inserta el contenido del portapapeles en su documento."
    IDS_PS_UNKNOWN_TYPE                   "Tipo desconocido"
    IDS_PS_UNKNOWN_SRC                    "Origen desconocido"
    IDS_PS_UNKNOWN_APP                    "el programa que lo creó"
}
