LANGUAGE 0x2D, 0x01

STRINGTABLE DISCARDABLE
BEGIN
    // Note to localizers:  it is desirable (though not absolutely necessary)
    // to keep the following directory names synchronized with their counterparts
    // in shell\shell32\shell32.rc.

    IDS_CSIDL_PERSONAL        L"Dokumentuak"
    IDS_CSIDL_MYPICTURES      L"Irudiak"
    IDS_CSIDL_APPDATA         L"Aplikazio-datuak"
    IDS_CSIDL_LOCAL_APPDATA   L"Ezarpen lokalak\\Aplikazio-datuak"
    IDS_CSIDL_CACHE           L"Ezarpen lokalak\\Temporary Internet Files"
    IDS_CSIDL_COOKIES         "Cookies"
    IDS_CSIDL_HISTORY         "History"
    IDS_CSIDL_COMMON_DOCUMENTS "Dokumentoak"
    IDS_CSIDL_ADMINTOOLS       L"Administrazio-tresnak"

END
