[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Albert Ting <alt@sonic.net>
  #%]

[% PROCESS global/header.html.tmpl
  title = "Edit classification"
%]

<form method=post action="editclassifications.cgi">
  <table  border=0 cellpadding=4 cellspacing=0>
    <tr>
      <th align="right">Classification:</th>
      <td><input size=64 maxlength=64 name="classification" 
                 value="[% classification.name FILTER html %]"></td>
    </tr>
    <tr>
      <th align="right">Description:</th>
      <td>
        [% INCLUDE global/textarea.html.tmpl
          name           = 'description'
          minrows        = 4
          cols           = 64
          defaultcontent = classification.description
        %]
      </td>
    </tr>
    <tr>
      <th align="right"><label for="sortkey">Sortkey:</label></th>
      <td><input id="sortkey" size="20" maxlength="20" name="sortkey" value="
      [%- classification.sortkey FILTER html %]"></td>
    </tr>
    <tr valign=top>
      <th align="right">
        <a href="editproducts.cgi?classification=[% classification.name FILTER url_quote %]">
        Edit Products</a>:
      </th>
      <td>
        [% IF classification.products.size > 0 %]
          <table>
            [% FOREACH product = classification.products %]
              <tr>
                <th align=right valign=top>[% product.name FILTER html %]</th>
                <td valign=top>
                  [% IF product.description %]
                    [% product.description FILTER html_light %]
                  [% ELSE %]
                    <font color="red">description missing</font>
                  [% END %]
                </td>
              </tr>
            [% END %]
          </table>
        [% ELSE %]
          <font color="red">none</font>
        [% END %]
      </td>
    </tr>
  </table>

  <input type=hidden name="classificationold" 
         value="[% classification.name FILTER html %]">
  <input type=hidden name="action" value="update">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type=submit value="Update">
</form>

<p>Back to the <a href="./">main [% terms.bugs %] page</a>
or <a href="editclassifications.cgi"> edit</a> more classifications.

[% PROCESS global/footer.html.tmpl %] 
