#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION	"ReactOS Thai Kedmanee Keyboard Layout\0"
#define REACTOS_STR_INTERNAL_NAME	"kbdth0\0"
#define REACTOS_STR_ORIGINAL_FILENAME	"kbdth0.dll\0"
#include <reactos/version.rc>
