LANGUAGE LANG_RUSSIAN, SUBLANG_NEUTRAL

IDD_KEYBSPEED DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Скорость"
FONT 8, "MS Shell Dlg"
BEGIN
  LTEXT "Скорость клавиатуры",-1,73,74,90,8
END

IDD_HARDWARE DIALOGEX 0, 0, 246, 228
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Оборудование"
FONT 8, "MS Shell Dlg"
BEGIN
END

STRINGTABLE
BEGIN
  IDS_CPLNAME_1 "Мышь"
  IDS_CPLDESCRIPTION_1 "Изменение настроек мыши."
  IDS_CPLNAME_2 "Клавиатура"
  IDS_CPLDESCRIPTION_2 "Изменение настроек клавиатуры."
END
