/* Simplified Chinese translation by Henry Tang Ih 2015 (henrytang2@hotmail.com) */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE
BEGIN
    IDS_EVENPARITY "偶校验"
    IDS_MARKPARITY "标志校验"
    IDS_NOPARITY "无校验"
    IDS_ODDPARITY "奇校验"
    IDS_SPACEPARITY "空格校验"
    IDS_ONESTOPBIT "1 个停止位"
    IDS_ONE5STOPBITS "1.5 停止位"
    IDS_TWOSTOPBITS "2 停止位"
    IDS_FC_NO "否"
    IDS_FC_CTSRTS "CTS/RTS"
    IDS_FC_XONXOFF "XON/XOFF"
    IDS_TITLE "%s 的属性"
END

IDD_COMMDLG DIALOGEX 6, 5, 222, 175
FONT 9, "宋体"
STYLE 0x10C80080
EXSTYLE 0x00000001
BEGIN
    CONTROL "", IDC_GRP1, "Button", 0x50000007, 6, 5, 210, 146, 0x00000000
    CONTROL "确定", IDC_OKBTN, "Button", 0x50010000, 98, 156, 56, 13, 0x00000000
    CONTROL "取消", IDC_CANCELBTN, "Button", 0x50010000, 158, 156, 56, 13, 0x00000000
    CONTROL "波特率：", IDC_STC1, "Static", 0x50000000, 24, 31, 42, 9, 0x00000000
    CONTROL "字节大小：", IDC_STC2, "Static", 0x50000000, 24, 53, 42, 9, 0x00000000
    CONTROL "奇偶校验：", IDC_STC3, "Static", 0x50000000, 24, 73, 42, 9, 0x00000000
    CONTROL "停止位：", IDC_STC4, "Static", 0x50000000, 24, 96, 42, 9, 0x00000000
    CONTROL "流量控制：", IDC_STC5, "Static", 0x50000000, 24, 120, 42, 9, 0x00000000
    CONTROL "", IDC_BAUDRATE, "ComboBox", 0x50210003, 98, 29, 100, 50, 0x00000000
    CONTROL "", IDC_BYTESIZE, "ComboBox", 0x50210003, 98, 49, 100, 50, 0x00000000
    CONTROL "", IDC_PARITY, "ComboBox", 0x50210003, 98, 72, 100, 50, 0x00000000
    CONTROL "", IDC_STOPBITS, "ComboBox", 0x50210003, 98, 94, 100, 50, 0x00000000
    CONTROL "", IDC_FLOW, "ComboBox", 0x50210003, 98, 116, 100, 50, 0x00000000
END
