/* TRANSLATOR : Ardit Dani (Ard1t) (ardit.dani@gmail.com)
 * DATE OF TR:  04-01-2014
*/

LANGUAGE LANG_ALBANIAN, SUBLANG_NEUTRAL

IDD_PROPPAGEOPTIONS DIALOGEX 0, 0, 253, 220
STYLE DS_SHELLFONT | WS_CHILD | WS_CAPTION
CAPTION "Opsione"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Masa Kursorit", IDC_STATIC, 7, 7, 120, 70, WS_CHILD | WS_VISIBLE | WS_GROUP
    AUTORADIOBUTTON "Vogel", IDC_RADIO_SMALL_CURSOR, 15, 20, 90, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    AUTORADIOBUTTON "&Mesem", IDC_RADIO_MEDIUM_CURSOR, 15, 40, 90, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    AUTORADIOBUTTON "Madhe", IDC_RADIO_LARGE_CURSOR, 15, 60, 90, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    GROUPBOX "Shfaq Opsione", IDC_STATIC, 133, 7, 112, 70, WS_CHILD | WS_VISIBLE | WS_GROUP
    AUTORADIOBUTTON "Dritare", IDC_RADIO_DISPLAY_WINDOW, 142, 20, 70, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    AUTORADIOBUTTON "Monitor Plote", IDC_RADIO_DISPLAY_FULL, 142, 40, 70, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    GROUPBOX "Historiku Komandave", IDC_STATIC, 7, 85, 120, 77, WS_CHILD | WS_VISIBLE | WS_GROUP
    LTEXT "&Buffer Masa:", IDC_STATIC, 14, 101, 70, 12
    EDITTEXT IDC_EDIT_BUFFER_SIZE, 90, 97, 30, 15, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_BUFFER_SIZE, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT |
            UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 119, 97, 12, 15
    LTEXT "&Numri i Buffers:", IDC_STATIC, 14, 124, 70, 12
    EDITTEXT IDC_EDIT_NUM_BUFFER, 90, 120, 30, 15, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_NUM_BUFFER, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT |
            UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 119, 120, 12, 15
    AUTOCHECKBOX "Hiq Duplikimet e Vjetra", IDC_CHECK_DISCARD_DUPLICATES, 12, 140, 110, 15
    GROUPBOX "Modifiko Opsione", IDC_STATIC, 133, 85, 112, 77, BS_GROUPBOX | WS_CHILD | WS_VISIBLE | WS_GROUP
    AUTOCHECKBOX "Mënyra e shpejt Modifikimi", IDC_CHECK_QUICK_EDIT, 140, 97, 102, 15, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    AUTOCHECKBOX "Mënyr Futje", IDC_CHECK_INSERT_MODE, 140, 113, 76, 15, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    GROUPBOX "Code Page", IDC_STATIC, 7, 170, 238, 31
    COMBOBOX IDL_CODEPAGE, 13, 181, 224, 58, CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
END

IDD_PROPPAGEFONT DIALOGEX 0, 0, 253, 220
STYLE DS_SHELLFONT | WS_CHILD | WS_CAPTION
CAPTION "Font"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Dritare Preview:", IDC_STATIC, 7, 7, 115, 10
    CONTROL "", IDC_STATIC_FONT_WINDOW_PREVIEW, "WinPreview", WS_BORDER | WS_CHILD | WS_VISIBLE, 7, 20, 115, 70
    LTEXT "Masë:", IDC_STATIC, 130, 7, 45, 10
    LISTBOX IDC_LBOX_FONTSIZE, 130, 20, 50, 86, LBS_SORT | LBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    COMBOBOX IDC_CBOX_FONTSIZE, 130, 20, 30, 86, CBS_SIMPLE | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    AUTORADIOBUTTON "pi&xels", IDC_RADIO_PIXEL_UNIT, 165, 17, 60, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    AUTORADIOBUTTON "&points", IDC_RADIO_POINT_UNIT, 165, 28, 60, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    LTEXT "&Font:", IDC_STATIC, 10, 105, 33, 10
    AUTOCHECKBOX "&Bold fonts", IDC_CHECK_BOLD_FONTS, 56, 105, 60, 10
    LISTBOX IDC_LBOX_FONTTYPE, 10, 120, 110, 40, LBS_SORT | LBS_HASSTRINGS | WS_VSCROLL | WS_TABSTOP
    GROUPBOX "Selected Font", IDC_GROUPBOX_FONT_NAME, 7, 156, 240, 50
    CONTROL "", IDC_STATIC_SELECT_FONT_PREVIEW, "Static", SS_OWNERDRAW | SS_SUNKEN, 12, 166, 104, 35, WS_EX_CLIENTEDGE
    LTEXT "Çdo krarakter është:", IDC_STATIC, 125, 166, 85, 10
    LTEXT "pixeli ekranit i gjerë\npixel ekranit i gjatë", IDC_STATIC, 138, 180, 100, 20
    RTEXT "", IDC_FONT_SIZE_X, 124, 180, 10, 10
    RTEXT "", IDC_FONT_SIZE_Y, 124, 188, 10, 10
END

IDD_PROPPAGELAYOUT DIALOGEX 0, 0, 253, 220
STYLE DS_SHELLFONT | WS_CHILD | WS_CAPTION
CAPTION "Pamja"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Dritare Preview:", IDC_STATIC, 7, 7, 115, 10
    CONTROL "", IDC_STATIC_LAYOUT_WINDOW_PREVIEW, "WinPreview", WS_BORDER | WS_CHILD | WS_VISIBLE, 7, 20, 115, 70
    GROUPBOX "Masa e Ekranit Buffer", IDC_STATIC, 130, 12, 115, 50
    LTEXT "Gjerë:", IDC_STATIC, 140, 28, 40, 10
    LTEXT "Gjatë:", IDC_STATIC, 140, 46, 39, 10
    EDITTEXT IDC_EDIT_SCREEN_BUFFER_WIDTH, 203, 25, 35, 14, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_SCREEN_BUFFER_WIDTH, UPDOWN_CLASS, UDS_NOTHOUSANDS |
            UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 238, 25, 13, 14
    EDITTEXT IDC_EDIT_SCREEN_BUFFER_HEIGHT, 203, 42, 35, 14, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_SCREEN_BUFFER_HEIGHT, UPDOWN_CLASS, UDS_NOTHOUSANDS |
            UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 238, 42, 13, 14
    GROUPBOX "Masa Dritares", IDC_STATIC, 130, 65, 115, 47
    LTEXT "&Gjerë:", IDC_STATIC, 140, 78, 39, 10
    LTEXT "&Gjatë:", IDC_STATIC, 140, 95, 37, 10
    EDITTEXT IDC_EDIT_WINDOW_SIZE_WIDTH, 203, 75, 35, 14, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_WINDOW_SIZE_WIDTH, UPDOWN_CLASS, UDS_NOTHOUSANDS |
            UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 238, 75, 13, 14
    EDITTEXT IDC_EDIT_WINDOW_SIZE_HEIGHT, 203, 92, 35, 14, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_WINDOW_SIZE_HEIGHT, UPDOWN_CLASS, UDS_NOTHOUSANDS |
            UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 238, 92, 13, 14
    GROUPBOX "Pozicioni Dritares", IDC_STATIC, 130, 116, 115, 64
    LTEXT "&Majtas:", IDC_STATIC, 140, 132, 38, 10
    LTEXT "&Lart:", IDC_STATIC, 140, 149, 40, 10
    EDITTEXT IDC_EDIT_WINDOW_POS_LEFT, 203, 128, 35, 14, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_WINDOW_POS_LEFT, UPDOWN_CLASS, UDS_NOTHOUSANDS |
            UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 238, 128, 13, 14
    EDITTEXT IDC_EDIT_WINDOW_POS_TOP, 203, 146, 35, 14, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_WINDOW_POS_TOP, UPDOWN_CLASS, UDS_NOTHOUSANDS |
            UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 238, 146, 13, 14
    AUTOCHECKBOX "Lejo sistemin e &pozicionimit dritares", IDC_CHECK_SYSTEM_POS_WINDOW, 137, 165, 104, 10
END

IDD_PROPPAGECOLORS DIALOGEX 0, 0, 253, 220
STYLE DS_SHELLFONT | WS_CHILD | WS_CAPTION
CAPTION "Ngjyra"
FONT 8, "MS Shell Dlg"
BEGIN
    AUTORADIOBUTTON "Monitori &Teksti", IDC_RADIO_SCREEN_TEXT, 10, 12, 90, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    AUTORADIOBUTTON "Monitori &Sfond", IDC_RADIO_SCREEN_BACKGROUND, 10, 24, 90, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    AUTORADIOBUTTON "&Popup Texkst", IDC_RADIO_POPUP_TEXT, 10, 36, 90, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    AUTORADIOBUTTON "Pop&up Sfondi", IDC_RADIO_POPUP_BACKGROUND, 10, 48, 90, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    GROUPBOX "Përzgjidh ngjyrat e komponenteve", IDC_STATIC, 105, 6, 140, 60
    LTEXT "&Kuq:", IDC_STATIC, 135, 18, 30, 10
    EDITTEXT IDC_EDIT_COLOR_RED, 175, 16, 35, 14, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_COLOR_RED, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT |
            UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 210, 16, 10, 14
    LTEXT "&Jeshil:", IDC_STATIC, 135, 34, 30, 10
    EDITTEXT IDC_EDIT_COLOR_GREEN, 175, 32, 35, 14, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_COLOR_GREEN, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT |
            UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 210, 32, 10, 14
    LTEXT "&Blu:", IDC_STATIC, 135, 50, 30, 10
    EDITTEXT IDC_EDIT_COLOR_BLUE, 175, 48, 35, 14, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_COLOR_BLUE, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT |
            UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 210, 48, 10, 14
    CONTROL "", IDC_STATIC_COLOR1, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 23, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR2, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 36, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR3, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 49, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR4, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 62, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR5, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 75, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR6, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 88, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR7, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 101, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR8, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 114, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR9, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 127, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR10, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 140, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR11, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 153, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR12, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 166, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR13, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 179, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR14, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 192, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR15, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 205, 80, 12, 12
    CONTROL "", IDC_STATIC_COLOR16, "Static", SS_NOTIFY | SS_SUNKEN | SS_OWNERDRAW, 218, 80, 12, 12
    GROUPBOX "Preview (monitor)", IDC_STATIC, 8, 100, 237, 55
    CONTROL "", IDC_STATIC_SCREEN_COLOR, "Static", SS_OWNERDRAW | SS_SUNKEN, 13, 110, 227, 40, WS_EX_CLIENTEDGE
    GROUPBOX "Preview (Popup)", IDC_STATIC, 8, 160, 237, 55
    CONTROL "", IDC_STATIC_POPUP_COLOR, "Static", SS_OWNERDRAW | SS_SUNKEN, 13, 170, 227, 40, WS_EX_CLIENTEDGE
END

IDD_APPLYOPTIONS DIALOGEX 0, 0, 220, 79
STYLE DS_SHELLFONT | WS_POPUP | WS_CAPTION
CAPTION "Apliko Konfigurimet"
FONT 8, "MS Shell Dlg"
BEGIN
    AUTORADIOBUTTON "&Apliko Konfigurimet vetem tek dritarja aktuale", IDC_RADIO_APPLY_CURRENT, 12, 12, 207, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    AUTORADIOBUTTON "&Ruaj Konfigurimet per dritaret e te ardhmes me te njejtin emer", IDC_RADIO_APPLY_ALL, 12, 31, 207, 10, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "OK", IDOK, 58, 58, 50, 14, WS_VISIBLE
    PUSHBUTTON "Anulo", IDCANCEL, 114, 58, 50, 14, WS_VISIBLE
END

STRINGTABLE
BEGIN
    IDS_CPLNAME "Console"
    IDS_CPLDESCRIPTION "Konfigurim i parametrave te konsole."
    IDS_APPLY_SHORTCUT_ALL "Modifiko &shkurtimi qe filloj kete dritare"
    IDS_RASTERFONTS "Raster Fonts"
    IDS_GROUPBOX_FONT_NAME "Selected Font: "
END
