/*
 * PROJECT:         ReactOS Disk Cleanup
 * LICENSE:         GPL-2.0+ (https://spdx.org/licenses/GPL-2.0+)
 * PURPOSE:         Disk Cleanup (American Resources)
 * COPYRIGHT:       Copyright 2020 Arnav Bhatt (arnavbhatt288 at gmail dot com)
 */

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/* Dialogs */

IDD_START DIALOGEX 0, 0, 204, 82
CAPTION "Disk Cleanup: Drive Selection"
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
FONT 9, "MS Shell Dlg", 0, 0, 1
{
    DEFPUSHBUTTON "OK", IDOK, 45, 55, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 108, 55, 50, 14
    LTEXT "Drives:", -1, 7, 19, 36, 9
    COMBOBOX IDC_DRIVE, 8, 32, 186, 300, CBS_DROPDOWNLIST | CBS_OWNERDRAWFIXED | CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | WS_BORDER | WS_VSCROLL | WS_TABSTOP
    LTEXT "Select the drive you want to clean up.", -1, 7, 6, 135, 14
}

IDD_PROGRESS DIALOGEX 0, 0, 210, 83
CAPTION "Disk Cleanup"
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Sans Serif", 0, 0, 0
{
    LTEXT "Disk Cleanup is calculating how much space you can free on Drive null. This may take a few minutes to complete.", IDC_STATIC_SCAN, 30, 9, 176, 25
    CONTROL "", IDC_PROGRESS_1, "msctls_progress32", WS_BORDER, 7, 46, 141, 7
    LTEXT "", IDC_STATIC_INFO, 42, 65, 92, 9
    LTEXT "Scanning:", -1, 8, 65, 33, 9
    PUSHBUTTON "Cancel", IDCANCEL, 156, 43, 48, 13, 0, 0, 2
    ICON IDI_CLEANMGR, -1, 6, 8, 0, 0
}

IDD_CHOICE DIALOGEX 0, 0, 244, 274
CAPTION "Disk Cleanup"
STYLE DS_CENTER | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    CONTROL "Tab1", IDC_TAB, "SysTabControl32", WS_TABSTOP, 4, 4, 235, 246
    DEFPUSHBUTTON "OK", IDOK, 132, 257, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 185, 257, 50, 14
}

IDD_PROGRESS_END DIALOGEX 0, 0, 210, 83
CAPTION "Disk Cleanup"
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
FONT 8, "MS Sans Serif", 0, 0, 0
{
    LTEXT "The Disk Cleanup utility is cleaning up unnecessary files on your Drive null.", IDC_STATIC_REMOVAL, 30, 9, 176, 25
    CONTROL "", IDC_PROGRESS_2, "msctls_progress32", WS_BORDER, 7, 46, 141, 7
    LTEXT "", IDC_STATIC_INFO, 42, 65, 92, 9
    LTEXT "Removing:", -1, 8, 65, 33, 9
    PUSHBUTTON "Cancel", IDCANCEL, 156, 43, 48, 13, 0, 0, 2
    ICON IDI_CLEANMGR, -1, 6, 8, 0, 0
}

IDD_STAGEFLAG DIALOGEX 0, 0, 244, 274
CAPTION "Disk Cleanup Settings"
STYLE DS_CENTER | DS_SHELLFONT | WS_POPUPWINDOW | WS_CAPTION | WS_CLIPSIBLINGS | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg", 0, 0, 0
{
    CONTROL "Tab1", IDC_TAB_SAGESET, "SysTabControl32", WS_TABSTOP, 4, 4, 235, 246
    DEFPUSHBUTTON "OK", IDOK, 132, 257, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 185, 257, 50, 14
}

IDD_CHOICE_PAGE DIALOGEX 0, 0, 230, 227
STYLE DS_CONTROL | DS_SHELLFONT | WS_CHILD | WS_CLIPCHILDREN | NOT WS_CAPTION
FONT 8, "MS Sans Serif", 0, 0, 0
{
    LTEXT "You can free up to idkbytes of disk space on null:", IDC_STATIC_DLG, 37, 9, 177, 20
    LTEXT "Total amount of disk space you gain:", -1, 7, 104, 129, 9
    CONTROL "", IDC_CHOICE_LIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_ALIGNLEFT | LVS_AUTOARRANGE | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 8, 35, 214, 64
    RTEXT "", IDC_STATIC_SIZE, 174, 105, 48, 8
    LTEXT "", IDC_STATIC_DETAILS, 14, 134, 202, 45
    GROUPBOX "Details", -1, 8, 123, 214, 91, BS_LEFTTEXT, WS_EX_TRANSPARENT
    PUSHBUTTON "View Files", IDC_VIEW_FILES, 156, 188, 60, 14, NOT WS_VISIBLE
    ICON IDI_CLEANMGR, -1, 9, 8, 0, 0
}

IDD_OPTIONS_PAGE DIALOGEX 0, 0, 230, 227
STYLE DS_CONTROL | DS_SHELLFONT | WS_CHILD | WS_CLIPCHILDREN | NOT WS_CAPTION
FONT 8, "MS Sans Serif", 0, 0, 0
{
    GROUPBOX "Installed Programs", -1, 2, 9, 225, 72, BS_LEFTTEXT, WS_EX_TRANSPARENT
    LTEXT "You can free more disk space by removing programs that you don't use.", -1, 34, 22, 187, 32
    PUSHBUTTON "Clean up...", IDC_CLEAN_PROGRAMS, 161, 62, 60, 14
    ICON IDI_INSTALLER, -1, 8, 22, 0, 0
    GROUPBOX "System Restore", -1, 2, 89, 225, 72, BS_LEFTTEXT, WS_EX_TRANSPARENT
    LTEXT "You can free more disk space by removing all but the most recent restore point.", -1, 34, 102, 187, 32, WS_DISABLED | NOT WS_GROUP
    PUSHBUTTON "Clean up...", -1, 161, 142, 60, 14, WS_DISABLED
}

IDD_STAGEFLAG_PAGE DIALOGEX 0, 0, 230, 227
STYLE DS_CONTROL | DS_SHELLFONT | WS_CHILD | WS_CLIPCHILDREN | NOT WS_CAPTION
FONT 8, "MS Sans Serif", 0, 0, 0
{
    LTEXT "Check the items that you would like Disk Cleanup to automatically clean up during its scheduled run times.", -1, 37, 9, 177, 20
    LTEXT "Files to delete:", -1, 10, 36, 65, 9
    CONTROL "", IDC_SAGESET_LIST, "SysListView32", LVS_NOCOLUMNHEADER | LVS_ALIGNLEFT | LVS_AUTOARRANGE | LVS_SINGLESEL | LVS_REPORT | WS_BORDER | WS_TABSTOP, 8, 51, 214, 64
    LTEXT "", IDC_STATIC_DETAILS, 14, 134, 202, 45
    GROUPBOX "Description", -1, 8, 123, 214, 91, BS_LEFTTEXT, WS_EX_TRANSPARENT
    ICON IDI_CLEANMGR, -1, 9, 8, 0, 0
}

/* Strings */

STRINGTABLE
BEGIN
    IDS_CLEANUP "You can free up to %s of disk space on (%s):"
    IDS_SCAN "Disk Cleanup is calculating how much space you can free on Drive (%s). This may take a few minutes to complete."
    IDS_REMOVAL "The Disk Cleanup utility is cleaning up unnecessary files on your Drive (%s)."
END

STRINGTABLE
BEGIN
	IDS_CONFIRM_DELETION "Are you sure to delete these files?"
	IDS_CONFIRM_CONFIG "Are you sure to save this configuration?"
END

STRINGTABLE
BEGIN
    IDS_DETAILS_TEMP "Program can sometimes store information in a TEMP folder. Before a program closes, it usually deletes this information.\n\nYou can safely delete temporary files that have not been modified in over a week."
    IDS_DETAILS_RECYCLE "The Recycle Bin contains files that you have deleted from your computer. These files are temporarily removed until you empty the Recycle Bin"
    IDS_DETAILS_CHKDSK "Old files created by ChkDsk. It is safe to remove it."
    IDS_DETAILS_RAPPS "The RAPPS program will store the downloaded files in to a temporary folder. It is safe to remove it."
END

STRINGTABLE
BEGIN
	IDS_ERROR_DRIVE "Invalid drive! Please try again!"
END

STRINGTABLE
BEGIN
    IDS_LABEL_CHKDSK "Old ChkDsk Files"
    IDS_LABEL_RECYCLE "Recycle Bin"
    IDS_LABEL_RAPPS "Temporary RAPPS Files"
    IDS_LABEL_TEMP "Temporary Files"
END

STRINGTABLE
BEGIN
	IDS_WARNING_FOLDER "Folder doesn't exist!"
	IDS_WARNING_OPTION "Select an option!"
END

STRINGTABLE
BEGIN
    IDS_CHOICE_DLG_TITLE "Disk Cleanup for (%s)"
END
