/* French translation by Benoit Plante 2005 (cmoibenlepro AT hotmail DOT com) */

LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL

IDD_PROPPAGEINSTALL DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Ajout/Supression de programmes"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  ICON            IDI_CPLSYSTEM,-1,PROPSHEETPADDING,18,16,16
  LTEXT "Pour installer un nouveau programme, cliquez sur Installer",-1,36,18,PROPSHEETWIDTH-48,8
  PUSHBUTTON "&Installer...", IDC_INSTALL, PROPSHEETWIDTH-(72), 36, 65, 14
  LTEXT "", -1, PROPSHEETPADDING, 63, PROPSHEETWIDTH-12, 1, NOT WS_GROUP | SS_SUNKEN
  
  ICON            IDI_CPLSYSTEM,-1,PROPSHEETPADDING,76,16,16
  CONTROL "&Afficher les mises à jour",IDC_SHOWUPDATES,"button",BS_AUTOCHECKBOX | WS_TABSTOP,PROPSHEETPADDING, 105, 119, 18
  LTEXT "Les logiciels suivant peuvent être supprimés automatiquement. Pour supprimer un programme ou modifier ses composantes installées, sélectionnez-le dans la liste et cliquez sur Modifier/Supprimer.",-1,36,72,PROPSHEETWIDTH-48,32
  LISTBOX IDC_SOFTWARELIST, PROPSHEETPADDING, 123, PROPSHEETWIDTH-12, 75, LBS_STANDARD | WS_TABSTOP | LBS_NOINTEGRALHEIGHT
  PUSHBUTTON "Ajouter/Supp&rimer", IDC_ADDREMOVE, PROPSHEETWIDTH-72, 200, 65, 14
END

IDD_PROPPAGEROSSETUP DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Configuration de ReactOS"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN

END

IDD_FIRSTPAGE DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Créer un raccourci"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  LTEXT "Texte 1", -1, 115, 15, 160, 24
  LTEXT "Texte 2", -1, 115, 35, 160, 17
END

IDD_SUBMIT_REPORT DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Créer un raccourci"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  LTEXT "Texte 1",-1,10,0,225,40
  LTEXT "Texte 2",-1,10,40,120,20
  LTEXT "Texte 3",-1,10,55,120,20
END

STRINGTABLE 
BEGIN
  IDS_CPLSYSTEMNAME "Ajout/Supression de programmes"
  IDS_CPLSYSTEMDESCRIPTION "Installe et supprime les programmes et les composantes de ReactOS, ainsi que les raccourcis."
END
