LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL

IDR_POPUP_APP MENU
BEGIN
  POPUP "popup"
  BEGIN
    MENUITEM "Modifica/&Rimuovi",ID_APP_MODIFYREMOVE
    MENUITEM "&Informazioni",  ID_APP_INFORMATION
  END
END

IDR_POPUP_UPD MENU
BEGIN
  POPUP "popup"
  BEGIN
    MENUITEM "&Removi",      ID_UPD_REMOVE
    MENUITEM "&Informazioni", ID_UPD_INFORMATION
  END
END

IDD_PROPPAGEINSTALL DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Modifica o rimozione programmi"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
	ICON IDI_CPLSYSTEM,-1,PROPSHEETPADDING,6,16,16
	LTEXT "Il software seguente può essere rimosso automaticamente. Per rimuovere un programma o modificarne i componenti installati, selezionarlo nella lista e cliccare Modifica/Rimuovi.",-1,36,7,PROPSHEETWIDTH-48,22
	LTEXT "Cerca:",-1,PROPSHEETPADDING,33,30,8
	EDITTEXT IDC_FIND_EDIT, PROPSHEETPADDING+30, 30, 180, 14, WS_VISIBLE | WS_TABSTOP
	LTEXT "Visualizza:",-1,250,33,30,8
	COMBOBOX IDC_VIEW_COMBO, 280, 30, 94, 80, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
	CONTROL "", IDC_SOFTWARELIST, "SysListView32", LVS_REPORT | LVS_SORTASCENDING | LVS_AUTOARRANGE | LVS_SINGLESEL, PROPSHEETPADDING, 50, PROPSHEETWIDTH-12, 155, WS_EX_CLIENTEDGE
	PUSHBUTTON "Modifica/&Rimuovi", IDC_ADDREMOVE, PROPSHEETPADDING, 210, 80, 14, WS_DISABLED
	PUSHBUTTON "&Informationi", IDC_INFO_BUTTON, PROPSHEETPADDING+85, 210, 80, 14, WS_DISABLED
END

IDD_PROPPAGEUPDATES DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Rimozione aggiornamenti"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
	ICON IDI_UPDATES,-1,PROPSHEETPADDING,6,16,16
	LTEXT "Gli aggiornamenti seguenti possono essere rimossi automaticamente. Per rimuovere un aggiornamento, Selezionarlo nella lista e cliccare Rimuovi.",-1,36,7,PROPSHEETWIDTH-48,22
	LTEXT "Cerca:",-1,PROPSHEETPADDING,33,30,8
	EDITTEXT IDC_UPD_FIND_EDIT, PROPSHEETPADDING+30, 30, 180, 14, WS_VISIBLE | WS_TABSTOP
	LTEXT "Visualizza:",-1,250,33,30,8
	COMBOBOX IDC_UPD_VIEW_COMBO, 280, 30, 94, 80, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_TABSTOP | WS_VSCROLL
	CONTROL "", IDC_UPDATESLIST, "SysListView32", LVS_REPORT | LVS_SORTASCENDING | LVS_AUTOARRANGE | LVS_SINGLESEL, PROPSHEETPADDING, 50, PROPSHEETWIDTH-12, 155, WS_EX_CLIENTEDGE
	PUSHBUTTON "&Rimuovi", IDC_UPD_REMOVE, PROPSHEETPADDING, 210, 80, 14, WS_DISABLED
	PUSHBUTTON "&Informationi", IDC_UPD_INFO_BUTTON, PROPSHEETPADDING+85, 210, 80, 14, WS_DISABLED
END

IDD_PROPPAGEADD DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Aggiungi un nuovo programma"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
	ICON IDI_CPLSYSTEM,-1,PROPSHEETPADDING,10,32,32
	LTEXT "Per installare un programma, cliccare ""Installa"".",-1,36,11,PROPSHEETWIDTH-48,8
	PUSHBUTTON "&Installa...", IDC_INSTALL, PROPSHEETWIDTH-(90), 46, 80, 14
	LTEXT "", -1, PROPSHEETPADDING, 70, PROPSHEETWIDTH-12, 1, NOT WS_GROUP | SS_SUNKEN
	ICON IDI_DOWNLOADICO,-1,PROPSHEETPADDING,80,32,32
	LTEXT "Per scaricare e installare una applicazione premere ""Scarica !"".",-1,36,83,PROPSHEETWIDTH-48,17
	PUSHBUTTON "&Download !", IDC_ADD_DOWNLOAD_BUTTON, PROPSHEETWIDTH-(90), 125, 80, 14, WS_DISABLED
	LTEXT "", -1, PROPSHEETPADDING, 150, PROPSHEETWIDTH-12, 1, NOT WS_GROUP | SS_SUNKEN
	ICON IDI_APPINETICO,-1,PROPSHEETPADDING,160,32,32
	LTEXT "Premere ""Cerca in Internet"" per cercare una applicazione disponibile attraverso una connessione a internet..",-1,36,161,PROPSHEETWIDTH-48,17
	PUSHBUTTON "&Proprietà...", IDC_ADD_PROP_BUTTON, PROPSHEETWIDTH-(175), 205, 80, 14, WS_DISABLED
	PUSHBUTTON "&Cerca in Internet", IDC_ADD_FIND_BUTTON, PROPSHEETWIDTH-(90), 205, 80, 14, WS_DISABLED
END

IDD_PROPPAGEROSSETUP DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "ReactOS Setup"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
	ICON IDI_REACTOS,-1,PROPSHEETPADDING,6,16,16
	LTEXT "",-1,36,7,PROPSHEETWIDTH-48,22
END

IDD_FIRSTPAGE DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Crea collegamento"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
	LTEXT "Text1", -1, 115, 15, 160, 24
	LTEXT "Text2", -1, 115, 35, 160, 17
END

IDD_SUBMIT_REPORT DIALOGEX 0, 0, PROPSHEETWIDTH, PROPSHEETHEIGHT
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Crea collegamento"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
	LTEXT "Text1",-1,10,0,225,40
	LTEXT "Text2",-1,10,40,120,20
	LTEXT "Text3",-1,10,55,120,20
END

IDD_SHORTCUT_LOCATION DIALOGEX 0, 0, 340, 200
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Create Scociatoia"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  LTEXT "Questo wizard permette la creazione di scorciatoie verso programmi locali o di rete, file, cartella, computer, o \nindirizzi Internet.", -1, 120, 15, 200, 30
  LTEXT "Digitare la posizione:", -1, 120, 50, 120, 10
  EDITTEXT IDC_SHORTCUT_LOCATION, 120, 65, 150, 15, ES_LEFT
  PUSHBUTTON "Sfoglia...", IDC_SHORTCUT_BROWSE, 272, 65, 55, 15, ES_LEFT
  LTEXT "Premere Avanti per continuare.", -1, 120, 97, 162, 10
END

IDD_SHORTCUT_FINISH DIALOGEX 0, 0, 340, 200
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Scelta del titolo del programma"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  LTEXT "&Digitare il nome per uesta scorciatoia:", -1, 120, 15, 150, 10
  EDITTEXT IDC_SHORTCUT_NAME, 120, 35, 150, 15, ES_LEFT
  LTEXT "Premere Fine per creare la scorciatoia.", -1, 118, 97, 178, 17
END

IDD_INFORMATION DIALOG 5, 100, 269, 218
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Informationi"
FONT 8, "MS Shell Dlg"
BEGIN
	EDITTEXT IDS_INFO_DISPNAME, PROPSHEETPADDING, 6, 258, 15, ES_READONLY | WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Proprietario Registrato:", -1, PROPSHEETPADDING, 27, 97, 8
	EDITTEXT IDS_INFO_REGOWNER, PROPSHEETPADDING+97, 25, 160, 14, ES_READONLY | WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "ID Prodotto:", -1, PROPSHEETPADDING, 44, 97, 8
	EDITTEXT IDS_INFO_PRODUCTID, PROPSHEETPADDING+97, 42, 160, 14, ES_READONLY | WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Pubblicato da:", -1, PROPSHEETPADDING, 61, 97, 8
	EDITTEXT IDS_INFO_PUBLISHER, PROPSHEETPADDING+97, 59, 160, 14, ES_READONLY | WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Versione:", -1, PROPSHEETPADDING, 78, 97, 8
	EDITTEXT IDS_INFO_VERSION, PROPSHEETPADDING+97, 76, 160, 14, ES_READONLY | WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Contto:", -1, PROPSHEETPADDING, 95, 97, 8
	EDITTEXT IDS_INFO_CONTACT, PROPSHEETPADDING+97, 93, 160, 14, ES_READONLY | WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Informazioni per Supporto:", -1, PROPSHEETPADDING, 112, 97, 8
	EDITTEXT IDS_INFO_SUPPORTINFO, PROPSHEETPADDING+97, 110, 160, 14, ES_READONLY | WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Telefono:", -1, PROPSHEETPADDING, 129, 97, 8
	EDITTEXT IDS_INFO_SUPPORTPHONE, PROPSHEETPADDING+97, 127, 160, 14, ES_READONLY | WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Aggiornamenti del prodotto:", -1, PROPSHEETPADDING, 146, 97, 8
	EDITTEXT IDS_INFO_PRODUCT_UPDATES, PROPSHEETPADDING+97, 144, 160, 14, ES_READONLY | WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Informazioni in breve:", -1, PROPSHEETPADDING, 163, 97, 8
	EDITTEXT IDS_INFO_README, PROPSHEETPADDING+97, 161, 160, 14, ES_READONLY | WS_CHILD | WS_VISIBLE | WS_GROUP
	LTEXT "Commenti:", -1, PROPSHEETPADDING, 180, 97, 8
	EDITTEXT IDS_INFO_COMMENTS, PROPSHEETPADDING+97, 178, 160, 14, ES_READONLY | WS_CHILD | WS_VISIBLE | WS_GROUP
    PUSHBUTTON "&Chiudi", IDCANCEL, 212, 198, 50, 14
END

STRINGTABLE
BEGIN
	IDS_CPLSYSTEMNAME "Aggiunge/Rimuove programmi"
	IDS_CPLSYSTEMDESCRIPTION "Predispone i programmi e crea scorciatoie."
	IDS_ERROR "Errore"
	IDS_UNABLEREAD_UNINSTSTR "Impossibile leggere la stringa UninstallString. Questo elemento è corrotto o è stato creato da MSI installer."
	IDS_UNABLEOPEN_UNINSTKEY "Impossibile aprire la Chiave di Disinstallazione"
	IDS_APPLIST "Programmi attualmente installati"
	IDS_UPDATESLIST "Aggiornamenti attualmente installati"
	IDS_LARGEICONS "Icone Grandi"
	IDS_LIST "Lista"
	IDS_DETAILS "Dettagli"
    IDS_CREATE_SHORTCUT "Crea scorciatoia"
    IDS_ERROR_NOT_FOUND "Il file %s non è stato trovato."
	IDS_UNABLEREAD_INFORMATION "Impossibile aprire la Chiavi delle informazioni"
	IDS_NO_INFORMATION "Nessuna informazione"
	IDS_NONE_APP "Non ci sono applicazioni installate."
	IDS_NONE_UPD "Non ci sono aggiornamenti installati."
END
