/* Simpified Chinese translation by Song Fuchang (0xfc) <sfc_0@yahoo.com.cn> 2011 */
/* Translation has been changed by Luo Yufan in 2018 (njlyf2011@hotmail.com) */
/* Improved by Wu Haotian <rigoligo03@gmail.com> 2021 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDD_LOCALEPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS LiveCD"
FONT 9, "宋体"
BEGIN
    CONTROL "IDB_LOGO", IDC_LOCALELOGO, "Static", WS_CHILD | WS_VISIBLE | SS_OWNERDRAW, 18, 4, 290, 99
    RTEXT "语言(&L)：", IDC_STATIC, 20, 109, 106, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
    COMBOBOX IDC_LANGUAGELIST, 132, 107, 176, 142, CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | CBS_SORT | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP
    RTEXT "键盘布局(&K)：", IDC_STATIC, 20, 132, 106, 11, WS_CHILD | WS_VISIBLE | WS_GROUP
    COMBOBOX IDC_LAYOUTLIST, 132, 130, 176, 81, CBS_DROPDOWNLIST | CBS_NOINTEGRALHEIGHT | CBS_SORT | WS_VSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP
    LTEXT "请选择您的语言和键盘布局，请单击下一步继续。", IDC_STATIC, 7, 152, 300, 8

    CONTROL "", IDC_STATIC, "STATIC", SS_ETCHEDHORZ, 0, 165, 317, 1
    DEFPUSHBUTTON "下一步(&N)", IDOK, 205, 172, 50, 14
    PUSHBUTTON "取消(&C)", IDCANCEL, 260, 172, 50, 14
END

IDD_STARTPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_MINIMIZEBOX | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "ReactOS LiveCD"
FONT 9, "宋体"
BEGIN
    CONTROL "IDB_LOGO", IDC_STARTLOGO, "Static", WS_CHILD | WS_VISIBLE | SS_OWNERDRAW, 18, 4, 290, 99
    DEFPUSHBUTTON "运行 ReactOS Live CD(&L)", IDC_RUN, 71, 108, 175, 21
    PUSHBUTTON "安装 ReactOS(&I)", IDC_INSTALL, 71, 136, 175, 21

    // LTEXT "", IDC_STATIC, 7, 152, 300, 8

    CONTROL "", IDC_STATIC, "STATIC", SS_ETCHEDHORZ, 0, 165, 317, 1
    PUSHBUTTON "上一页(&P)", IDOK, 205, 172, 50, 14
    PUSHBUTTON "取消(&C)", IDCANCEL, 260, 172, 50, 14
END

STRINGTABLE
BEGIN
    IDS_SHELL_FAIL "Userinit 无法启动用户界面 shell 程序！"
    IDS_INSTALLER_FAIL "Userinit 启动安装程序失败！"
    IDS_CANCEL_CONFIRM "您确定要退出 ReactOS LiveCD 吗？\n如果选择退出，您的计算机将重新启动。"
END

STRINGTABLE
BEGIN
    IDS_SPAIN "西班牙语（西班牙）"
END
