/* Russian translation by Dmitry Chapyshev, 2007-06-10 */

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

/* Menu */
IDC_FDEBUG MENU
BEGIN
    POPUP "&Файл"
    BEGIN
        MENUITEM "&Подключить", IDM_FILE_CONNECT
        MENUITEM "&Отключить", IDM_FILE_DISCONNECT, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "О&чистить экран", IDM_FILE_CLEARDISPLAY
        MENUITEM SEPARATOR
        MENUITEM "&Начать захват", IDM_FILE_STARTCAPTURE
        MENUITEM "Ос&тановить захват", IDM_FILE_STOPCAPTURE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Локальный ответ", IDM_FILE_LOCALECHO
        MENUITEM SEPARATOR
        MENUITEM "&Выход", IDM_EXIT
    END
    POPUP "&Справка"
    BEGIN
        MENUITEM "&О программе...", IDM_ABOUT
    END
END

/* Accelerators */
IDC_FDEBUG ACCELERATORS
BEGIN
    VK_OEM_2, IDM_ABOUT, VIRTKEY, ALT //FIXME: ?/ US keyboard only
    VK_DIVIDE, IDM_ABOUT, VIRTKEY, ALT
END

/* Dialogs */

IDD_ABOUTBOX DIALOGEX 22, 17, 259, 210
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "О программе Отладчик FreeLoader"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Отладчик FreeLoader\nАвторские права (C) 2003\nБраин Палмер (brianp@reactos.org)", IDC_STATIC, "Static", SS_LEFTNOWORDWRAP | WS_GROUP, 53, 28, 122, 26
    DEFPUSHBUTTON "OK", IDOK, 183, 189, 44, 14, WS_GROUP
    ICON IDI_FDEBUG, IDC_STATIC, 19, 30, 20, 20
    EDITTEXT IDC_LICENSE_EDIT, 53, 63, 174, 107, ES_MULTILINE | ES_READONLY | WS_VSCROLL
END

IDD_CONNECTION DIALOGEX 0, 0, 196, 100
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Настройки соединения"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "COM-порт (напр. COM1):", IDC_STATIC, 7, 7, 108, 8
    EDITTEXT IDC_COMPORT, 7, 17, 182, 14, ES_AUTOHSCROLL
    LTEXT "Скорость передачи (напр. 115200):", IDC_STATIC, 7, 38, 114, 8
    EDITTEXT IDC_BAUTRATE, 7, 48, 182, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 45, 79, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 100, 79, 50, 14
END

IDD_CAPTURE DIALOGEX 0, 0, 251, 95
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Файл захвата"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Название файла захвата:", IDC_STATIC, 7, 17, 62, 8
    EDITTEXT IDC_CAPTUREFILENAME, 7, 26, 181, 14, ES_AUTOHSCROLL
    PUSHBUTTON "&Обзор", IDC_BROWSE, 194, 26, 50, 14
    DEFPUSHBUTTON "OK", IDOK, 139, 74, 50, 14
    PUSHBUTTON "Отмена", IDCANCEL, 194, 74, 50, 14
END

/* String Tables */

STRINGTABLE
BEGIN
    IDS_APP_TITLE "Отладчик FreeLoader"
    IDS_HELLO "Привет мир!"
    IDC_FDEBUG "FDEBUG"
END

STRINGTABLE
BEGIN
    IDS_LICENSE "Эта программа является свободным программным обеспечением; Вы можете распространять и/или изменять ее в соответствии с лицензией GNU General Public License версии 2 или более поздней, опубликованной Free Software Foundation.\r\n\r\nЭта программа распространяется с надеждой, что она может быть полезна, но БЕЗ ВСЯКОЙ ГАРАНТИИ; не подразумевается даже РАБОТОСПОСОБНОСТЬ или ПРИГОДНОСТЬ ДЛЯ ВЫПОЛНЕНИЯ НЕОБХОДИМЫХ ЗАДАЧ. См. GNU General Public License для получения дополнительных сведений.\r\n\r\nВы должны получить копию лицензии GNU вместе с этой программой, в противном случае обращайтесь в Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA."
END
