LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

/* Menu */
IDC_FDEBUG MENU
BEGIN
    POPUP "&Файл"
    BEGIN
        MENUITEM "&Підключити", IDM_FILE_CONNECT
        MENUITEM "&Відключити", IDM_FILE_DISCONNECT, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Очистити екран", IDM_FILE_CLEARDISPLAY
        MENUITEM SEPARATOR
        MENUITEM "Почати &захоплення", IDM_FILE_STARTCAPTURE
        MENUITEM "Зупинити з&ахоплення", IDM_FILE_STOPCAPTURE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Локальна відповідь", IDM_FILE_LOCALECHO
        MENUITEM SEPARATOR
        MENUITEM "В&ихід", IDM_EXIT
    END
    POPUP "&Довідка"
    BEGIN
        MENUITEM "Пр&о програму...", IDM_ABOUT
    END
END

/* Accelerators */
IDC_FDEBUG ACCELERATORS
BEGIN
    VK_OEM_2, IDM_ABOUT, VIRTKEY, ALT //FIXME: ?/ US keyboard only
    VK_DIVIDE, IDM_ABOUT, VIRTKEY, ALT
END

/* Dialogs */

IDD_ABOUTBOX DIALOGEX 22, 17, 259, 210
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_CAPTION | WS_SYSMENU
CAPTION "Про програму Налагоджувач FreeLoader"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Налагоджувач FreeLoader\nCopyright (C) 2003\nby Brian Palmer (brianp@reactos.org)", IDC_STATIC, "Static", SS_LEFTNOWORDWRAP | WS_GROUP, 53, 28, 122, 26
    DEFPUSHBUTTON "Так", IDOK, 183, 189, 44, 14, WS_GROUP
    ICON IDI_FDEBUG, IDC_STATIC, 19, 30, 20, 20
    EDITTEXT IDC_LICENSE_EDIT, 53, 63, 174, 107, ES_MULTILINE | ES_READONLY | WS_VSCROLL
END

IDD_CONNECTION DIALOGEX 0, 0, 196, 100
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Настройки з'єднання"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Введіть COM-порт (напр. COM1):", IDC_STATIC, 7, 7, 108, 8
    EDITTEXT IDC_COMPORT, 7, 17, 182, 14, ES_AUTOHSCROLL
    LTEXT "Введіть швидкість передачі (напр. 115200):", IDC_STATIC, 7, 38, 114, 8
    EDITTEXT IDC_BAUTRATE, 7, 48, 182, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 45, 79, 50, 14
    PUSHBUTTON "Скасувати", IDCANCEL, 100, 79, 50, 14
END

IDD_CAPTURE DIALOGEX 0, 0, 251, 95
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Файл захоплення"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Ім'я файлу захоплення:", IDC_STATIC, 7, 17, 62, 8
    EDITTEXT IDC_CAPTUREFILENAME, 7, 26, 181, 14, ES_AUTOHSCROLL
    PUSHBUTTON "&Огляд", IDC_BROWSE, 194, 26, 50, 14
    DEFPUSHBUTTON "OK", IDOK, 139, 74, 50, 14
    PUSHBUTTON "Скасувати", IDCANCEL, 194, 74, 50, 14
END

/* String Tables */

STRINGTABLE
BEGIN
    IDS_APP_TITLE "FreeLoader Debugger"
    IDS_HELLO "Привіт Світ!"
    IDC_FDEBUG "FDEBUG"
END

STRINGTABLE
BEGIN
    IDS_LICENSE "Це вільне програмне забезпечення; Ви можете розповсюджувати її та змінювати, дотримуючись умови Відкритої ліцензійної угоди GNU, опублікованої Фондом вільного програмного забезпечення; або редакції 2 Угоди, або будь-якої редакції, випущеної пізніше.\r\n\r\nЦя програма розповсюджується в надії на те, що вона виявиться корисною, але БЕЗ БУДЬ-ЯКИХ ГАРАНТІЙ, включаючи УЯВНОЮ ГАРАНТІЄЮ ЯКОСТІ або ПРИДАТНОСТІ для певних цілей. Подробиці містяться у Відкритій ліцензійній угоді GNU.\r\n\r\nРазом з цією програмою повинен поширюватися примірник Відкритої ліцензійної угоди GNU. Якщо він відсутній, повідомте про це в Фонд вільного програмного забезпечення (Free Software Foundation, Inc.), 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA."
END
