/*
 * PROJECT:     ReactOS trace route utility
 * LICENSE:     GPL-2.0+ (https://spdx.org/licenses/GPL-2.0+)
 * PURPOSE:     TRACERT translation file in Italian
 * COPYRIGHT:   Copyright 2018 George Bișoc (george.bisoc@reactos.org)
 */

LANGUAGE LANG_ITALIAN, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_USAGE "\r\n\
Uso: tracert [-d] [-h salti_massime] [-j lista-ospiti] [-w timeout] nome_bersaglio \r\n\r\n\
Opzioni:\r\n\
    -d                 Non risolvi gli indirizzi a nomi host.\r\n\
    -h salti_massime   Numero massimo di salti per cercare il bersaglio.\r\n\
    -j lista-ospiti    Fonte route libera lungo lista-ospiti.\r\n\
    -w timeout         Aspetta il timeout in millisecondi per ogni risposta.\r\n\
    -4                 Forza l'uso del IPv4.\r\n\
    -6                 Forza l'uso del IPv6.\r\n\
\r\n"

    IDS_INVALID_OPTION  "%1 non è un opzione di commando valido.\r\n"
    IDS_TRACE_INFO      "\r\nTraccia route a %1 [%2]\r\noltre il massimo di %3!u! salti:\r\n\r\n"
    IDS_TRACE_COMPLETE  "\r\nTraccia completa.\r\n"
    IDS_UNABLE_RESOLVE  "Impossibile risolvere il nome bersaglio di sistema %1.\r\n"

    IDS_GEN_FAILURE     "Fallimento generale.\r\n"
    IDS_TRANSMIT_FAILED "Transmissione fallita. (Errore %1!u!)\r\n"

    IDS_HOP_COUNT       "%1!3lu!  %0\r\n"
    IDS_HOP_TIME        "%1!4lu! ms  %0\r\n"
    IDS_HOP_ZERO,       "  <1 ms  %0\r\n"
    IDS_TIMEOUT         "   *     %0\r\n"
    IDS_HOP_RES_INFO    "%1 [%2]"
    IDS_HOP_IP_INFO     "%1"
    IDS_LINEBREAK       "\r\n"
    IDS_REQ_TIMED_OUT   "Richiesta fallita (time out).\r\n"
    IDS_HOP_RESPONSE    "  rapporti: "
    IDS_DEST_HOST_UNREACHABLE "Destinazione ospite irraggiungibile.\r\n"
    IDS_DEST_NET_UNREACHABLE  "Destinazione rete irraggiungibile.\r\n"

END
