/* TRANSLATORS: 2012 Arda Tanrıkulu (ardatan) (ardatanrikulu [at] gmail [dot] com), 2016 Erdem Ersoy (eersoy93) (erdemersoy [at] erdemersoy [dot] net), 2018 Ercan Ersoy (ercanersoy) (ercanersoy [at] ercanersoy [dot] net) */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_EDIT "&Düzenle"
    IDS_MARK "İşaretle"
    IDS_COPY "Kopyala\tEnter"
    IDS_PASTE "Yapıştır"
    IDS_SELECTALL "Tümünü Seç"
    IDS_SCROLL "Kaydır"
    IDS_FIND "Bul..."
    IDS_DEFAULTS "&Ön Tanımlılar"
    IDS_PROPERTIES "&Özellikler"
/*
    IDS_SCROLLHERE "Buraya Kaydır"
    IDS_SCROLLTOP "Üste Kaydır"
    IDS_SCROLLBOTTOM "Alta Kaydır"
    IDS_SCROLLPAGE_UP "Bir Sayfa Yukarı"
    IDS_SCROLLPAGE_DOWN "Bir Sayfa Aşağı"
    IDS_SCROLLUP "Yukarı Kaydır"
    IDS_SCROLLDOWN "Aşağı Kaydır"
*/
    IDS_TERMINAL_TITLE "ReactOS Konsol"
END

STRINGTABLE
BEGIN
    IDS_MARK_TITLE "İşaretle"
    IDS_SELECT_TITLE "Seç"
END
