/* $Id$ */

/*
 * German (Austria) resources by Klemens Friedl (frik85 at hotmail dot com)
 */

LANGUAGE LANG_GERMAN, SUBLANG_GERMAN

/* String Tables */

/* Default settings */
STRINGTABLE DISCARDABLE 
BEGIN
    IDS_APPTITLE            "ReactOS - Willkommen"
    IDS_DEFAULTTOPICTITLE   "ReactOS"
    IDS_DEFAULTTOPICDESC    "Willkommen in ReactOS.\n\nKlicken Sie auf ein Thema auf der linken Seite."
//    IDS_CHECKTEXT           "Dialog beim nächsen Start wieder anzeigen"
//    IDS_CLOSETEXT           "Beenden"
END

/* Topic buttons */
STRINGTABLE DISCARDABLE
BEGIN
    IDS_TOPICBUTTON0        "ReactOS installieren"
    IDS_TOPICBUTTON1        "CD durchsuchen"
    IDS_TOPICBUTTON2        "Beenden"
//    IDS_TOPICBUTTON3        "Empty Topic 3"
//    IDS_TOPICBUTTON4        "Empty Topic 4"
//    IDS_TOPICBUTTON5        "Empty Topic 5"
//    IDS_TOPICBUTTON6        "Empty Topic 6"
//    IDS_TOPICBUTTON7        "Empty Topic 7"
//    IDS_TOPICBUTTON8        "Empty Topic 8"
//    IDS_TOPICBUTTON9        "Empty Topic 9"
END

/* Topic titles */
STRINGTABLE DISCARDABLE
BEGIN
    IDS_TOPICTITLE0         "ReactOS installieren"
    IDS_TOPICTITLE1         "CD durchsuchen"
    IDS_TOPICTITLE2         "Beenden"
//    IDS_TOPICTITLE3         "Empty Topic Title 3"
//    IDS_TOPICTITLE4         "Empty Topic Title 4"
//    IDS_TOPICTITLE5         "Empty Topic Title 5"
//    IDS_TOPICTITLE6         "Empty Topic Title 6"
//    IDS_TOPICTITLE7         "Empty Topic Title 7"
//    IDS_TOPICTITLE8         "Empty Topic Title 8"
//    IDS_TOPICTITLE9         "Empty Topic Title 9"
END

/* Topic descriptions */
STRINGTABLE DISCARDABLE
BEGIN
    IDS_TOPICDESC0          "Installiert ReactOS auf ihrem Computer oder aktualisiert eine bestehende Installation."
    IDS_TOPICDESC1          "Die ReactOS-CD durchsuchen."
    IDS_TOPICDESC2          "Klicken Sie um dieses Programm zu beenden."
//    IDS_TOPICDESC3          "Topic description 3.\n\nDescribe topic 3 here."
//    IDS_TOPICDESC4          "Topic description 4.\n\nDescribe topic 4 here."
//    IDS_TOPICDESC5          "Topic description 5.\n\nDescribe topic 5 here."
//    IDS_TOPICDESC6          "Topic description 6.\n\nDescribe topic 6 here."
//    IDS_TOPICDESC7          "Topic description 7.\n\nDescribe topic 7 here."
//    IDS_TOPICDESC8          "Topic description 8.\n\nDescribe topic 8 here."
//    IDS_TOPICDESC9          "Topic description 9.\n\nDescribe topic 9 here."
END

/* EOF */

