/* FILE:       base/system/rundll32/lang/cs-CZ.rc
 * TRANSLATOR: Radek Liska aka Black_Fox (radekliska at gmail dot com)
 * UPDATED:    2008-04-21
 */

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_DllNotLoaded "LoadLibrary se nepodařilo načíst '%s'"
    IDS_MissingEntry "Chybí vstupní bod:%s\nV %s"
END
