/* 
 * PROJECT:     Run a DLL as an App
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Chinese (Hong Kong) resource file
 * TRANSLATORS: Copyright 2022 Chan Chilung <eason066@gmail.com>
 * REFERENCES:  Chinese (Traditional) resource file
 */
 
LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_HONGKONG

STRINGTABLE
BEGIN
    IDS_DllNotLoaded "LoadLibrary 無法載入「%s」"
    IDS_MissingEntry "由於缺少進入點：%s\n因此 %s 發生錯誤"
END
