/*
 * Top level resource file for MS ACM
 *
 * Copyright 2000 Eric Pouech
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */

#include "windef.h"
#include "winbase.h"
#include "winuser.h"
#include "wineacm.h"

#ifdef LANGUAGE_BG_BG
    #include "msacm_Bg.rc"
#endif
#ifdef LANGUAGE_CS_CZ
    #include "msacm_Cs.rc"
#endif
#ifdef LANGUAGE_DA_DK
    #include "msacm_Da.rc"
#endif
#ifdef LANGUAGE_EL_GR
    #include "msacm_El.rc"
#endif
#ifdef LANGUAGE_EN_US
    #include "msacm_En.rc"
#endif
#ifdef LANGUAGE_ES_ES
    #include "msacm_Es.rc"
#endif
#ifdef LANGUAGE_HU_HU
    #include "msacm_Hu.rc"
#endif
#ifdef LANGUAGE_IT_IT
    #include "msacm_It.rc"
#endif
#ifdef LANGUAGE_KO_KR
    #include "msacm_Ko.rc"
#endif
#ifdef LANGUAGE_NL_NL
    #include "msacm_Nl.rc"
#endif
#ifdef LANGUAGE_NO_NO
    #include "msacm_No.rc"
#endif
#ifdef LANGUAGE_PL_PL
    #include "msacm_Pl.rc"
#endif
#ifdef LANGUAGE_SV_SE
    #include "msacm_Sv.rc"
#endif
#ifdef LANGUAGE_TR_TR
    #include "msacm_Tr.rc"
#endif

/* UTF-8 */
#ifdef LANGUAGE_DE_DE
    #include "msacm_De.rc"
#endif
#ifdef LANGUAGE_FR_FR
    #include "msacm_Fr.rc"
#endif
#ifdef LANGUAGE_HE_IL
    #include "msacm_He.rc"
#endif
#ifdef LANGUAGE_JA_JP
    #include "msacm_Ja.rc"
#endif
#ifdef LANGUAGE_LT_LT
    #include "msacm_Lt.rc"
#endif
#ifdef LANGUAGE_PT_PT
    #include "msacm_Pt.rc"
#endif
#ifdef LANGUAGE_RO_RO
    #include "msacm_Ro.rc"
#endif
#ifdef LANGUAGE_RU_RU
    #include "msacm_Ru.rc"
#endif
#ifdef LANGUAGE_SL_SI
    #include "msacm_Si.rc"
#endif
#ifdef LANGUAGE_UK_UA
    #include "msacm_Uk.rc"
#endif
#ifdef LANGUAGE_ZH_CN
    #include "msacm_Zh.rc"
#endif
