<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="TechBot.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <appSettings>
		<add key="IRCServerHostName" value="irc.eu.freenode.net" />
		<add key="IRCServerHostPort" value="6667" />
		<add key="IRCChannelNames" value="channel1;channel2" />
		<add key="IRCBotName" value="MyBot" />
		<add key="IRCBotPassword" value="MyPassword" />
		<add key="ChmPath" value="C:\IRC\TechBot\CHM" />
		<add key="MainChm" value="kmarch.chm" />
		<add key="NtstatusXml" value="C:\IRC\TechBot\ntstatus.xml" />
		<add key="WinerrorXml" value="C:\IRC\TechBot\winerror.xml" />
		<add key="HresultXml" value="C:\IRC\TechBot\hresult.xml" />
		<add key="WmXml" value="C:\IRC\TechBot\wm.xml" />
		<add key="SvnCommand" value="svn co svn://svn.reactos.org/trunk/reactos" />
		<add key="BugUrl" value="http://www.reactos.org/bugzilla/show_bug.cgi?id={0}" />
		<add key="WineBugUrl" value="http://bugs.winehq.org/show_bug.cgi?id={0}" />
		<add key="SambaBugUrl" value="https://bugzilla.samba.org/show_bug.cgi?id={0}" />
	</appSettings>
 <userSettings>
  <TechBot.Settings>
   <setting name="IRCServerHostName" serializeAs="String">
    <value>irc.eu.freenode.net</value>
   </setting>
   <setting name="IRCChannelNames" serializeAs="String">
    <value>rbuildbottest</value>
   </setting>
   <setting name="IRCBotName" serializeAs="String">
    <value>RBuildBot</value>
   </setting>
   <setting name="IRCBotPassword" serializeAs="String">
    <value>qwerty</value>
   </setting>
   <setting name="IRCServerHostPort" serializeAs="String">
    <value>6667</value>
   </setting>
  </TechBot.Settings>
 </userSettings>
</configuration>
