LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    IDS_USAGE "Affiche des données page par page à l'écran.\n\
\n\
MORE [/E [options]] < [lect:][chemin]fichier\n\
commande | MORE [/E [options]]\n\
\n\
    [lect:][chemin]fichier  Un fichier dont le contenu sera affiché.\n\
    commande                Une commande dont la sortie sera affichée.\n\
\n\
Lorsque les Fonctions Étendues sont activées, la forme suivante est reconnue :\n\
MORE [/E] [options] [fichiers]\n\
\n\
Options :\n\
    /E       Active les Fonctions Étendues.\n\
    L'état par défaut des Fonctions Étendues est contrôlé par les paramètres\n\
    de registre par défaut pour CMD.EXE. Pour plus de détails sur comment\n\
    changer ces paramètres, consultez la section ""Extensions de Commandes""\n\
    dans l'aide de CMD.EXE.\n\
\n\
    Lorsque les Fonctions Étendues sont activées, les options suivantes sont\n\
    disponibles :\n\
    /C       Efface l'écran avant d'afficher une page.\n\
    /P       Développe les caractères de saut de page.\n\
    /S       Groupe toutes lignes vides consécutives en une seule ligne.\n\
    /Tn      Développe les tabulations en n espaces (défaut : 8).\n\
\n\
    Ces options peuvent être présentes dans la variable d'environnement MORE.\n\
\n\
    +n       Débute l'affichage du premier fichier à la ligne n.\n\
    fichiers Liste de fichiers à afficher, séparés par des blancs.\n\
\n\
Lorsque les Fonctions Étendues sont activées, les commandes suivantes sont\n\
disponibles à l'invite ""-- Continuer --"" :\n\
\n\
    P n      Affiche les n lignes suivantes.\n\
    S n      Saute les n lignes suivantes.\n\
    F        Affiche le fichier suivant.\n\
    Q        Quitte.\n\
    =        Montre le numéro de ligne.\n\
    ?        Montre la ligne d'aide.\n\
    <Espace> Affiche la page suivante.\n\
    <Entrée> Affiche la ligne suivante.\n"

    IDS_BAD_FLAG "Paramètre invalide - '%s'\n"
    IDS_FILE_ACCESS "Impossible d'accéder au fichier %s.\n"
    IDS_CONTINUE_PROMPT  "-- Continuer%1%2%3 --%4"
    IDS_CONTINUE_PERCENT " (%d %%)"
    IDS_CONTINUE_LINE_AT " [Ligne : %d]"
    IDS_CONTINUE_OPTIONS " [Options : psfq=<Espace><Entrée>]"
    IDS_CONTINUE_LINES   " Lignes : "
END
