/*
 * Chinese Resources for winmm
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 *
 * TRANSLATORS: Copyright 2016 Henry Tang Ih <henrytang2@hotmail.com>
 *              Copyright 2021 Chan Chilung <eason066@gmail.com>
 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE
BEGIN

/* MMSYS errors */
MMSYSERR_NOERROR, 		"指定的命令被执行了。"
MMSYSERR_ERROR, 		"未定义的外部错误。"
MMSYSERR_BADDEVICEID, 		"设备 ID 使用的已是超出范围为您的系统。"
MMSYSERR_NOTENABLED, 		"不启用驱动程序。"
MMSYSERR_ALLOCATED, 		"指定的设备已在使用。等待，直到它是免费的然后再试。"
MMSYSERR_INVALHANDLE, 		"指定的设备句柄无效。"
MMSYSERR_NODRIVER, 		"没有在您的系统上安装的驱动程序!\n"
MMSYSERR_NOMEM, 		"没有足够的内存完成此任务。退出一个或多个应用程序以增加可用内存，然后再试一次。"
MMSYSERR_NOTSUPPORTED, 		"不支持此功能。使用能力功能来确定哪些功能和消息驱动程序支持。"
MMSYSERR_BADERRNUM, 		"没有定义在系统中指定的错误号。"
MMSYSERR_INVALFLAG, 		"给系统函数传递了无效的标志。"
MMSYSERR_INVALPARAM, 		"无效的参数被传递给系统函数。"

/* WAVE errors */
WAVERR_BADFORMAT, 		"以指定的格式不受支持或无法进行转换。使用能力功能来确定所支持的格式"
WAVERR_STILLPLAYING, 		"还播放媒体数据时，无法执行此操作。重置该设备，或等到完成数据玩。"
WAVERR_UNPREPARED, 		"没有准备的波标题。使用准备功能来准备标题，然后再试。"
WAVERR_SYNC, 			"无法打开设备没有使用 WAVE_ALLOWSYNC 标志。请使用该标志，然后再试。"

/* MIDI errors */
MIDIERR_UNPREPARED, 		"MIDI 标题未准备。使用准备功能来准备标题，然后再试。"
MIDIERR_STILLPLAYING, 		"还播放媒体数据时，无法执行此操作。重置该设备，或等到完成数据玩。"
MIDIERR_NOMAP, 			"找不到一个 MIDI 映射。可能有问题的驱动程序或 MIDIMAP.CFG 文件可能已损坏或丢失。"
MIDIERR_NOTREADY, 		"端口正在传输数据到设备。等待，直到数据传送完毕，然后再试。"
MIDIERR_NODEVICE, 		"当前的 MIDI 映射器安装是指没有安装在系统的 MIDI 设备。使用 MIDI 映射器来编辑的设置。"
MIDIERR_INVALIDSETUP, 		"当前的 MIDI 设置已损坏。复制原始的 MIDIMAP.CFG 文件到电脑系统的目录，然后再试。"

/* MCI errors */
MCIERR_INVALID_DEVICE_ID, 	"无效的 MCI 设备 ID。使用时打开 MCI 设备返回的 ID。"
MCIERR_UNRECOGNIZED_KEYWORD, 	"驱动程序无法识别指定的命令参数。"
MCIERR_UNRECOGNIZED_COMMAND,	"驱动程序无法识别指定的命令。"
MCIERR_HARDWARE, 		"还有一个问题与您的媒体设备。请确保它正常工作，或与设备制造商联系。"
MCIERR_INVALID_DEVICE_NAME, 	"指定的设备未打开，或不被 MCI 识别。"
MCIERR_OUT_OF_MEMORY, 		"没有足够的内存完成此任务。\n退出一个或多个应用程序以增加可用内存，然后再试一次。"
MCIERR_DEVICE_OPEN, 		"设备名称是已被该应用程序用作别名。使用唯一的别名。"
MCIERR_CANNOT_LOAD_DRIVER, 	"在加载指定的设备驱动程序是检测不到的问题。"
MCIERR_MISSING_COMMAND_STRING, 	"未不指定任何命令。"
MCIERR_PARAM_OVERFLOW, 		"输出字符串是太大，无法容纳返回的缓冲区。增加缓冲区的大小。"
MCIERR_MISSING_STRING_ARGUMENT, "指定的命令需要一个字符串参数。请提供一个。"
MCIERR_BAD_INTEGER, 		"指定的整数对此命令无效。"
MCIERR_PARSER_INTERNAL, 	"设备驱动程序返回一个无效的返回类型。请与设备制造商联系，获得新的驱动程序。"
MCIERR_DRIVER_INTERNAL, 	"有是有问题的设备驱动程序。请与设备制造商联系，获得新的驱动程序。"
MCIERR_MISSING_PARAMETER, 	"指定的命令需要一个参数。请提供一个。"
MCIERR_UNSUPPORTED_FUNCTION, 	"您正使用的 MCI 设备不支持指定的命令。"
MCIERR_FILE_NOT_FOUND, 		"找不到指定的文件。请确认路径和文件名正确。"
MCIERR_DEVICE_NOT_READY, 	"设备驱动程序未准备好。"
MCIERR_INTERNAL, 		"在初始化 MCI 的时候出现了问题。请尝试重新启动 ReactOS。"
MCIERR_DRIVER, 			"有是有问题的设备驱动程序。驱动程序已关闭。无法访问错误。"
MCIERR_CANNOT_USE_ALL, 		"不能使用 'all' 作为设备的名称与指定的命令。"
MCIERR_MULTIPLE, 		"错误发生在多个设备。指定每个命令和设备分开，以确定哪个设备导致错误"
MCIERR_EXTENSION_NOT_FOUND, 	"不能确定从给定的文件扩展名的设备类型。"
MCIERR_OUTOFRANGE, 		"指定的参数是不指定命令的范围。"
MCIERR_FLAGS_NOT_COMPATIBLE, 	"指定的参数不能一起使用。"
MCIERR_FILE_NOT_SAVED, 		"无法保存指定的文件。请确保您有足够的磁盘空间，或仍连接到网络。"
MCIERR_DEVICE_TYPE_REQUIRED, 	"找不到指定的设备。请确保它安装或设备名称的拼写正确。"
MCIERR_DEVICE_LOCKED, 		"现在正在关闭指定的设备。等待几秒钟，然后再试。"
MCIERR_DUPLICATE_ALIAS, 	"指定的别名已被使用在此应用程序。使用唯一的别名。"
MCIERR_BAD_CONSTANT, 		"指定的参数对此命令无效。"
MCIERR_MUST_USE_SHAREABLE, 	"设备驱动程序已在使用。若要共享它，使用每个 '打开' 命令 '可共享' 参数。"
MCIERR_MISSING_DEVICE_NAME, 	"指定的命令需要别名、 文件、 驱动程序或设备名称。请提供一个。"
MCIERR_BAD_TIME_FORMAT, 	"时间格式为指定的值是无效的。请参阅 MCI 文档为有效格式。"
MCIERR_NO_CLOSING_QUOTE, 	"右双引号是从参数值丢失。请提供一个。"
MCIERR_DUPLICATE_FLAGS, 	"参数或值被指定了两次。只需指定一次。"
MCIERR_INVALID_FILE, 		"指定的文件不在指定的 MCI 设备上播放。该文件可能已损坏，或不在正确的格式。"
MCIERR_NULL_PARAMETER_BLOCK, 	"向 MCI 传送了一个空的参数块。"
MCIERR_UNNAMED_RESOURCE, 	"无法保存未命名的文件。提供一个文件名。"
MCIERR_NEW_REQUIRES_ALIAS, 	"使用 '新' 的参数时，必须指定一个别名。"
MCIERR_NOTIFY_ON_AUTO_OPEN, 	"不能自动打开的设备使用通知的标志。"
MCIERR_NO_ELEMENT_ALLOWED, 	"不能使用指定的设备文件名。"
MCIERR_NONAPPLICABLE_FUNCTION, 	"能执行的命令中指定的顺序。正确的命令序列，然后再试。"
MCIERR_ILLEGAL_FOR_AUTO_OPEN, 	"无法执行指定的命令自动打开的设备上。等待，直到关闭设备，然后再试。"
MCIERR_FILENAME_REQUIRED, 	"文件名无效。请确保文件名长度不超过 8 个字符后, 跟句点和扩展名。"
MCIERR_EXTRA_CHARACTERS, 	"不能指定额外的字符后的字符串括在引号中。"
MCIERR_DEVICE_NOT_INSTALLED, 	"在系统上没有安装指定的设备。使用控制面板中的驱动程序选项来安装设备。"
MCIERR_GET_CD, 			"无法访问指定的文件或 MCI 设备。尝试更改目录或重新启动您的计算机。"
MCIERR_SET_CD, 			"无法访问指定的文件或 MCI 设备，因为应用程序无法更改目录。"
MCIERR_SET_DRIVE, 		"无法访问指定的文件或 MCI 设备，因为应用程序不能更改驱动器。"
MCIERR_DEVICE_LENGTH, 		"指定的设备或驱动程序的名称，是少于 79 个字符。"
MCIERR_DEVICE_ORD_LENGTH, 	"指定是少于 69 个字符的设备或驱动程序的名称。"
MCIERR_NO_INTEGER, 		"指定的命令需要一个整数参数。请提供一个。"
MCIERR_WAVE_OUTPUTSINUSE, 	"所有可以播放当前格式文件的波形设备正在使用中。等待，直到波形设备是免费的然后再试。"
MCIERR_WAVE_SETOUTPUTINUSE, 	"不能设置为播放当前的波形设备，回来，因为它是在使用中。等待，直到该设备是免费的然后再试。"
MCIERR_WAVE_INPUTSINUSE, 	"所有可以记录当前格式文件的波形设备正在使用。等待，直到波形设备是免费的然后再试。"
MCIERR_WAVE_SETINPUTINUSE, 	"不能设置为录制，因为它是在使用当前的波形设备。等待，直到该设备是免费的然后再试。"
MCIERR_WAVE_OUTPUTUNSPECIFIED,	"可以使用任何兼容的波形回放设备。"
MCIERR_WAVE_INPUTUNSPECIFIED, 	"可以使用任何兼容的波形记录设备。"
MCIERR_WAVE_OUTPUTSUNSUITABLE, 	"安装没有可以播放当前格式文件的波形设备。使用驱动程序选项来安装波形设备。"
MCIERR_WAVE_SETOUTPUTUNSUITABLE,"你正在试图用来播放设备无法识别当前的文件格式。"
MCIERR_WAVE_INPUTSUNSUITABLE, 	"安装是没有可以记录当前格式文件的波形设备。使用驱动程序选项来安装波形设备。"
MCIERR_WAVE_SETINPUTUNSUITABLE, "你试图用来记录从该设备无法识别当前的文件格式。"
MCIERR_NO_WINDOW, 		"那里是没有显示窗口。"
MCIERR_CREATEWINDOW, 		"无法创建或使用窗口。"
MCIERR_FILE_READ, 		"无法读取指定的文件。请确保该文件仍然存在，或检查磁盘或网络连接。"
MCIERR_FILE_WRITE, 		"无法写入指定的文件。请确保您有足够的磁盘空间，或仍连接到网络。"
MCIERR_SEQ_DIV_INCOMPATIBLE, 	"'Song Pointer' 和 SMPTE 时间格式是互斥的。您不能使用他们在一起。"
MCIERR_SEQ_NOMIDIPRESENT, 	"系统有没有安装的 MIDI 设备。使用控制面板中的驱动程序选项来安装 MIDI 驱动程序。"
MCIERR_SEQ_PORT_INUSE, 		"指定的 MIDI 端口已被使用。等待，直到它是免费的;再试一次。"
MCIERR_SEQ_PORT_MAPNODEVICE, 	"当前的 MIDI 映射器安装是指没有安装在系统的 MIDI 设备。使用 MIDI 映射器选项从控制面板来编辑的设置。"
MCIERR_SEQ_PORT_MISCERROR, 	"用指定的端口时出错。"
MCIERR_SEQ_PORT_NONEXISTENT, 	"在系统上没有安装指定的 MIDI 设备。使用控制面板中的驱动程序选项来安装一个 MIDI 设备。"
MCIERR_SEQ_PORTUNSPECIFIED, 	"系统没有指定当前 MIDI 端口。"
MCIERR_SEQ_TIMER, 		"所有多媒体定时器正在被其他应用程序使用。退出这些应用程序;然后，再试一次。"

END

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_TRADITIONAL

STRINGTABLE
BEGIN

/* MMSYS errors */
MMSYSERR_NOERROR, 		"指定的命令已經執行。"
MMSYSERR_ERROR, 		"未定義的外部錯誤。"
MMSYSERR_BADDEVICEID, 		"使用的裝置識別碼已超出您的系統範圍。"
MMSYSERR_NOTENABLED, 		"驅動程式未啟用。"
MMSYSERR_ALLOCATED, 		"指定的裝置已在使用中。請等待該裝置空出來，然後再試一次。"
MMSYSERR_INVALHANDLE, 		"指定的裝置控制代碼無效。"
MMSYSERR_NODRIVER, 		"您的系統上沒有安裝任何驅動程式！\n"
MMSYSERR_NOMEM, 		"可用於這個任務的記憶體不足。結束一個或多個應用程式以增加可用記憶體，然後再試一次。"
MMSYSERR_NOTSUPPORTED, 		"不支援這項功能。請使用［能力］功能來決定驅動程式所支援的功能和訊息。"
MMSYSERR_BADERRNUM, 		"指定的號碼錯誤：號碼未在系統中定義。"
MMSYSERR_INVALFLAG, 		"無效的旗標被傳送給系統功能。"
MMSYSERR_INVALPARAM, 		"無效的參數被傳送給系統功能。"

/* WAVE errors */
WAVERR_BADFORMAT, 		"指定的格式未支援或無法翻譯。請使用［能力］功能來決定支援的格式。"
WAVERR_STILLPLAYING, 		"當媒體資料仍在播放時，無法進行這個操作。請重設裝置，或等待資料播放完畢。"
WAVERR_UNPREPARED, 		"wave 標頭尚未就緒。請使用［準備］功能以準備標頭，然後再試一次。。"
WAVERR_SYNC, 			"無法在不使用 WAVE_ALLOWSYNC 旗標的狀態下開啟裝置。請使用旗標，然後再試一次。"

/* MIDI errors */
MIDIERR_UNPREPARED, 		"MIDI 標頭尚未就緒。請使用［準備］功能以準備標頭，然後再試一次。"
MIDIERR_STILLPLAYING, 		"當媒體資料仍在播放中將無法進行這個作業。請重置裝置，或是等到資料已完成播放。"
MIDIERR_NOMAP, 			"找不到 MIDI 對應。這可能是驅動程式的問題，或是 MIDIMAP.CFG 檔案已損壞或遺失。"
MIDIERR_NOTREADY, 		"連接埠正在傳送資料給裝置。請等待資料傳輸完成，然後再試一次。"
MIDIERR_NODEVICE, 		"目前的 MIDI Mapper 安裝程式參照了未安裝到系統上的 MIDI 裝置。請使用 MIDI Mapper 以編輯設定。"
MIDIERR_INVALIDSETUP, 		"目前的 MIDI Mapper 安裝程式已損壞。請複製原始的 MIDIMAP.CFG 檔案到 Windows SYSTEM 目錄，然後再試一次。"

/* MCI errors */
MCIERR_INVALID_DEVICE_ID, 	"無效的多媒體控制介面裝置識別碼。請在開啟多媒體控制介面裝置時使用傳回的識別碼。"
MCIERR_UNRECOGNIZED_KEYWORD, 	"驅動程式無法識別指定的命令參數。"
MCIERR_UNRECOGNIZED_COMMAND,	"驅動程式無法識別指定的命令。"
MCIERR_HARDWARE, 		"您的媒體裝置有問題。請確定它正常運作或與裝置製造商聯絡。"
MCIERR_INVALID_DEVICE_NAME, 	"指定的裝置未開啟或未被多媒體控制介面識別出來。"
MCIERR_OUT_OF_MEMORY, 		"可用於這個任務的記憶體不足。\n結束一個或多個應用程式以增加可用記憶體，然後再試一次。"
MCIERR_DEVICE_OPEN, 		"裝置名稱已被這個應用程式用做別名。請使用唯一的別名。"
MCIERR_CANNOT_LOAD_DRIVER, 	"載入指定的裝置驅動程式時發生無法偵測的問題。"
MCIERR_MISSING_COMMAND_STRING, 	"未指定任何命令。"
MCIERR_PARAM_OVERFLOW, 		"輸出字串太大，超出了傳回的緩衝區容量。請增加緩衝區的大小。"
MCIERR_MISSING_STRING_ARGUMENT, "指定的命令需要一個字串參數。請提供一個。"
MCIERR_BAD_INTEGER, 		"指定的整數對於這個命令無效。"
MCIERR_PARSER_INTERNAL, 	"裝置驅動程式傳回了無效的回傳類型。請詢問裝置製造商以取得新的驅動程式。"
MCIERR_DRIVER_INTERNAL, 	"裝置驅動程式有問題。請詢問裝置製造商以取得新的驅動程式。"
MCIERR_MISSING_PARAMETER, 	"指定的命令需要參數。請提供一個。"
MCIERR_UNSUPPORTED_FUNCTION, 	"您正在使用的多媒體控制介面裝置不支援指定的命令。"
MCIERR_FILE_NOT_FOUND, 		"找不到指定的檔案。請確定路徑和檔案名稱正確。"
MCIERR_DEVICE_NOT_READY, 	"裝置驅動程式未就緒。"
MCIERR_INTERNAL, 		"初始化多媒體控制介面時發生問題。嘗試重新啟動 ReactOS。"
MCIERR_DRIVER, 			"裝置驅動程式有問題。驅動程式已關閉。發生無法存取的錯誤。"
MCIERR_CANNOT_USE_ALL, 		"無法使用 all 做為指定命令的裝置名稱。"
MCIERR_MULTIPLE, 		"在一個以上的裝置中發生錯誤。請分別指定每一個命令和裝置，以判定造成錯誤的裝置。"
MCIERR_EXTENSION_NOT_FOUND, 	"無法從給定的副檔名決定裝置類型。"
MCIERR_OUTOFRANGE, 		"指定的參數超出指定命令的範圍。"
MCIERR_FLAGS_NOT_COMPATIBLE, 	"指定的參數無法一起使用。"
MCIERR_FILE_NOT_SAVED, 		"無法儲存指定的檔案。請確定您有足夠的磁碟空間，或是仍然連線到網路。"
MCIERR_DEVICE_TYPE_REQUIRED, 	"找不到指定的裝置。請確定它已安裝，或是該裝置名稱的拼寫正確。。"
MCIERR_DEVICE_LOCKED, 		"指定的裝置現在被關閉。請等待數秒，然後再試一次。"
MCIERR_DUPLICATE_ALIAS, 	"指定的別名已被用於這個應用程式。使用唯一的別名。"
MCIERR_BAD_CONSTANT, 		"指定的參數對於這個命令無效。"
MCIERR_MUST_USE_SHAREABLE, 	"裝置驅動程式已在使用中。要分享它，請在每個 open 命令使用 shareable 參數。"
MCIERR_MISSING_DEVICE_NAME, 	"指定的命令需要一個別名、檔案、驅動程式或裝置名稱。請提供一個。"
MCIERR_BAD_TIME_FORMAT, 	"指定的值對時間格式而言是無效的。關於有效的格式，請參考多媒體控制介面文件。"
MCIERR_NO_CLOSING_QUOTE, 	"參數值缺少一個右側的雙引號。請提供一個。"
MCIERR_DUPLICATE_FLAGS, 	"參數或值被指定了兩次。請只指定它一次。"
MCIERR_INVALID_FILE, 		"指定的檔案無法在指定的多媒體控制介面裝置上播放。檔案可能已經損壞，或者並非正確格式。"
MCIERR_NULL_PARAMETER_BLOCK, 	"空的參數區塊被傳送到多媒體控制介面。"
MCIERR_UNNAMED_RESOURCE, 	"無法儲存未命名的檔案。請提供一個檔案名稱。"
MCIERR_NEW_REQUIRES_ALIAS, 	"使用 new 參數時，您必須指定別名。"
MCIERR_NOTIFY_ON_AUTO_OPEN, 	"無法於自動開啟的裝置使用 notify 旗標。"
MCIERR_NO_ELEMENT_ALLOWED, 	"無法於指定裝置使用檔案名稱。"
MCIERR_NONAPPLICABLE_FUNCTION, 	"無法以指定的順序執行命令。請修正命令序列，然後再試一次。"
MCIERR_ILLEGAL_FOR_AUTO_OPEN, 	"無法於自動開啟的裝置執行指定的命令。請等待裝置關閉，然後再試一次。"
MCIERR_FILENAME_REQUIRED, 	"無效的檔案名稱。請確定檔案名稱長度不超過 8 個字元，然後接著句點和副檔名。"
MCIERR_EXTRA_CHARACTERS, 	"夾於引號的字串之後無法指定額外字元。"
MCIERR_DEVICE_NOT_INSTALLED, 	"指定的裝置未被安裝在系統上。請使用控制臺中的驅動程式選項以安裝裝置。"
MCIERR_GET_CD, 			"無法存取指定的檔案或多媒體控制介面裝置。請嘗試變更目錄或重新啟動您的電腦。"
MCIERR_SET_CD, 			"無法存取指定的檔案或多媒體控制介面裝置，因為應用程式無法變更目錄。"
MCIERR_SET_DRIVE, 		"無法存取指定的檔案或多媒體控制介面裝置，因為應用程式無法變更儲存裝置。"
MCIERR_DEVICE_LENGTH, 		"請指定少於 79 個字元的裝置或驅動程式名稱。"
MCIERR_DEVICE_ORD_LENGTH, 	"請指定少於 69 個字元的裝置或驅動程式名稱。"
MCIERR_NO_INTEGER, 		"指定的命令需要整數參數。請提供一個。"
MCIERR_WAVE_OUTPUTSINUSE, 	"所有可以用目前格式播放檔案的 wave 裝置都在使用中。請等待其中一個 wave 裝置空出來，然後再試一次。"
MCIERR_WAVE_SETOUTPUTINUSE, 	"目前的 wave 裝置正在使用中，所以無法設定它來播放。請等待該裝置空出來，然後再試一次。"
MCIERR_WAVE_INPUTSINUSE, 	"所有可以用目前格式記錄檔案的 wave 裝置都在使用中。請等待其中一個 wave 裝置空出來，然後再試一次。"
MCIERR_WAVE_SETINPUTINUSE, 	"無法設定目前的 wave 裝置去記錄，因為它正在使用中。請等待該裝置空出來，然後再試一次。"
MCIERR_WAVE_OUTPUTUNSPECIFIED,	"也許可以使用任何相容的波形播放控制裝置。"
MCIERR_WAVE_INPUTUNSPECIFIED, 	"也許可以使用任何相容的波形記錄裝置。"
MCIERR_WAVE_OUTPUTSUNSUITABLE, 	"沒有任何可以用目前格式播放檔案的 wave 裝置已被安裝。請使用「驅動程式」選項以安裝 wave 裝置。"
MCIERR_WAVE_SETOUTPUTUNSUITABLE,"您正在嘗試用以播放的裝置無法識別目前的檔案格式。"
MCIERR_WAVE_INPUTSUNSUITABLE, 	"沒有安裝任何能以目前的格式記錄檔案的 wave 裝置。使用「驅動程式」選項以安裝 wave 裝置。"
MCIERR_WAVE_SETINPUTUNSUITABLE, "您正在嘗試記錄的裝置無法識別目前的檔案格式。"
MCIERR_NO_WINDOW, 		"沒有任何顯示視窗。"
MCIERR_CREATEWINDOW, 		"無法建立或使用視窗。"
MCIERR_FILE_READ, 		"無法讀取指定的檔案。確定檔案仍然存在，或者檢查看看您的磁碟或網路連線。"
MCIERR_FILE_WRITE, 		"無法寫入指定的檔案。確定您有足夠的磁碟空間或是仍然連線到網路。"
MCIERR_SEQ_DIV_INCOMPATIBLE, 	"「歌曲指標」的時間格式和 SMPTE 彼此互斥。您無法一起使用它們。"
MCIERR_SEQ_NOMIDIPRESENT, 	"指定的 MIDI 裝置未安裝到系統上。請使用控制臺中的「驅動程式」選項以安裝 MIDI 裝置。"
MCIERR_SEQ_PORT_INUSE, 		"指定的 MIDI 連接埠已在使用中。請等待該連接埠空出來，然後再試一次。"
MCIERR_SEQ_PORT_MAPNODEVICE, 	"目前的 MIDI Mapper 安裝程式參照了未安裝到系統上的 MIDI 裝置。請使用 MIDI Mapper 以編輯設定。"
MCIERR_SEQ_PORT_MISCERROR, 	"指定的連接埠發生了錯誤。"
MCIERR_SEQ_PORT_NONEXISTENT, 	"指定的 MIDI 裝置未安裝到系統上。請使用控制臺中的「驅動程式」選項以安裝 MIDI 裝置。"
MCIERR_SEQ_PORTUNSPECIFIED, 	"系統尚未指定目前的 MIDI 連接埠。"
MCIERR_SEQ_TIMER, 		"所有多媒體計時器正被其他應用程式使用中。請結束其中某一個應用程式，然後再試一次。"

END
