/*
 * PROJECT:     Circles ScreenSaver
 * LICENSE:     GPL - See COPYING in the top level directory
 * FILE:        applications/screensavers/circles/lang/uk-UA.rc
 * PURPOSE:     Ukraianian Language File for Circles ScreenSaver
 * TRANSLATOR:  Artem Reznikov
 */

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_DESCRIPTION "Заставка ""Кола"""
    IDS_TEXT        "Ця заставка не має налаштовуваних параметрів."
END
