[%# 1.0@bugzilla.org %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "Shadow Database"
   desc = "An optional hack to increase database performance"
%]

[% param_descs = {
  shadowdbhost => "The host the shadow database is on.",

  shadowdbport => "The port the shadow database is on. Ignored if " _
                  "<tt>shadowdbhost</tt> is blank. Note: if the host is the local " _
                  "machine, then MySQL will ignore this setting, and you must " _
                  "specify a socket below.",

  shadowdbsock => "The socket used to connect to the shadow database, if the host " _
                  "is the local machine. This setting is required because MySQL " _
                  "ignores the port specified by the client and connects using " _
                  "its compiled-in socket path (on unix machines) when connecting " _
                  "from a client to a local server. If you leave this blank, and " _
                  "have the database on localhost, then the <tt>shadowdbport</tt> " _
                  "will be ignored.",

  shadowdb => "If non-empty, then this is the name of another database in " _
              "which $terms.Bugzilla will use as a read-only copy of everything. " _
              "This is done so that long slow read-only operations can be used " _
              "against this db, and not lock up things for everyone else. This " _
              "database is on the <tt>shadowdbhost</tt>, and must exist. " _
              "$terms.Bugzilla does not update it, if you use this parameter, then " _
              "you need to set up replication for your database." }
%]
