/* $Id$ */

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/* String Tables */
STRINGTABLE DISCARDABLE
BEGIN
    IDS_CAPTION  "ReactOS Setup"
    IDS_TEXT     "You cannot install ReactOS directly from this CD!\n\nPlease restart your computer from this CD in order to install ReactOS."
END

/* EOF */
