/*
 * PROJECT:     ReactOS Setup
 * LICENSE:     GPL-2.0+ (https://spdx.org/licenses/GPL-2.0+)
 * PURPOSE:     Spanish locale file
 * COPYRIGHT:   Javier Remacha 2008
 *              Julio Carchi Ruiz 2018
 *              Julen Urizar Compains 2020
 *              Alex Mendoza 2026
 *              Ismael Ferreras Morezuelas 2026
 */

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

/* Dialogs */

IDD_STARTPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Bienvenido al instalador de ReactOS", IDC_STARTTITLE, 115, 8, 195, 24
    LTEXT "Este asistente instalará o actualizará ReactOS en su equipo, \
y preparará la segunda parte de la instalación.", IDC_STATIC, 115, 40, 195, 27
////
    GROUPBOX " INFORMACIÓN IMPORTANTE ", IDC_WARNTEXT1, 115, 70, 195, 90, BS_CENTER
    LTEXT "ReactOS está en fase alfa, con limitaciones importantes y \
todavía en desarrollo. Se recomienda usarlo solo para \
evaluación y pruebas, y no como su sistema operativo de uso diario.\n\
Puede perder sus datos o dañar su equipo.", IDC_WARNTEXT2, 120, 80, 185, 50, SS_CENTER
    LTEXT "Asegúrese de tener sus datos bien respaldados y pruébelo en un equipo secundario \
si intenta ejecutar ReactOS en hardware real.", IDC_WARNTEXT3, 120, 130, 185, 27, SS_CENTER
////
    LTEXT "Pulse Siguiente para continuar con la instalación.", IDC_STATIC, 115, 169, 195, 17
END

IDD_TYPEPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    AUTORADIOBUTTON "&Instalar ReactOS", IDC_INSTALL, 7, 20, 277, 10, WS_GROUP
    AUTORADIOBUTTON "&Actualizar o reparar ReactOS", IDC_UPDATE, 7, 80, 277, 10
    LTEXT "Instala una nueva copia de ReactOS. Esta opción borrará sus archivos, programas y ajustes. Realizando cambios a su disco duro y particiones.", IDC_INSTALLTEXT, 19, 36, 279, 27
    LTEXT "Actualiza o repara una instalación existente de ReactOS. Esta opción mantiene sus archivos, programas y ajustes. Y sólo está disponible si ReactOS ya se ha instalado previamente en este equipo.", IDC_UPDATETEXT, 19, 96, 279, 27
END

IDD_UPDATEREPAIRPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT       "El instalador puede actualizar una de las instalaciones disponibles listadas a continuación o, si la instalación de ReactOS está dañada, intentar repararla.", IDC_STATIC, 6, 6, 303, 18
    CONTROL     "", IDC_NTOSLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_ALIGNLEFT | WS_BORDER | WS_TABSTOP, 6, 30, 303, 90
    PUSHBUTTON  "&No actualizar", IDC_SKIPUPGRADE, 230, 128, 80, 14
    LTEXT       "Haga clic en Siguiente para actualizar el sistema operativo seleccionado, o en No actualizar para realizar una nueva instalación.", IDC_STATIC, 7, 124, 222, 16
END

IDD_DEVICEPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Equipo:", IDC_STATIC, 20, 15, 80, 10
    COMBOBOX IDC_COMPUTER, 100, 15, 180, 80, WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST
    LTEXT "&Pantalla:", IDC_STATIC, 20, 35, 80, 10
    COMBOBOX IDC_DISPLAY, 100, 35, 180, 80, WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST
    LTEXT "&Teclado:", IDC_STATIC, 20, 55, 80, 10
    COMBOBOX IDC_KEYBOARD, 100, 55, 180, 80, WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST
    LTEXT "Presione Siguiente para configurar la instalación de dispositivos.", IDC_STATIC, 7, 128, 297, 8
END

IDD_DRIVEPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_PARTITION, "SysTreeList32", WS_BORDER | WS_VISIBLE | WS_TABSTOP | LVS_REPORT | LVS_SINGLESEL, 7, 7, 303, 112
    PUSHBUTTON "&Inicializar", IDC_INITDISK, 7, 122, 50, 14, WS_GROUP // NOTE: At same position as IDC_PARTCREATE
    PUSHBUTTON "&Crear", IDC_PARTCREATE, 7, 122, 50, 14
    PUSHBUTTON "&Formatear", IDC_PARTFORMAT, 7, 122, 50, 14 // NOTE: At same position as IDC_PARTCREATE
    PUSHBUTTON "&Borrar", IDC_PARTDELETE, 63, 122, 50, 14
    PUSHBUTTON "Co&ntrolador", IDC_DEVICEDRIVER, 174, 122, 50, 14, WS_DISABLED
    PUSHBUTTON "&Opciones avanzadas...", IDC_PARTMOREOPTS, 230, 122, 80, 14
    // LTEXT "Presione Siguiente para verificar el resumen.", IDC_STATIC, 7, 128, 277, 8
END

IDD_PARTITION DIALOGEX 0, 0, 200, 120
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Crear y formatear una partición"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Tamaño:", IDC_STATIC, 7, 9, 70, 9
    EDITTEXT IDC_EDIT_PARTSIZE, 82, 7, 47, 13, ES_RIGHT | ES_NUMBER | WS_GROUP
    CONTROL "", IDC_UPDOWN_PARTSIZE, UPDOWN_CLASS, UDS_SETBUDDYINT | UDS_ALIGNRIGHT |
            UDS_AUTOBUDDY | UDS_ARROWKEYS | WS_GROUP, 120, 22, 9, 13
    LTEXT "MB", IDC_UNIT, 134, 9, 14, 9
    AUTOCHECKBOX "Partición &extendida", IDC_CHECK_MBREXTPART, 7, 22, 180, 14
    LTEXT "&Sistema de archivos:", IDC_FS_STATIC, 7, 46, 70, 9
    COMBOBOX IDC_FSTYPE, 82, 44, 100, 50, CBS_DROPDOWNLIST | WS_TABSTOP
    AUTOCHECKBOX "&Formateo rápido", IDC_CHECK_QUICKFMT, 7, 59, 180, 14
    PUSHBUTTON "Aceptar", IDOK, 88, 98, 50, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 143, 98, 50, 14
END

IDD_FORMAT DIALOGEX 0, 0, 200, 83
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Formatear una partición"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "&Sistema de archivos:", IDC_FS_STATIC, 7, 9, 70, 9
    COMBOBOX IDC_FSTYPE, 82, 7, 100, 50, CBS_DROPDOWNLIST | WS_TABSTOP
    AUTOCHECKBOX "&Formateo rápido", IDC_CHECK_QUICKFMT, 7, 22, 180, 14
    PUSHBUTTON "Aceptar", IDOK, 88, 61, 50, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 143, 61, 50, 14
END

IDD_ADVINSTOPTS DIALOGEX 0, 0, 305, 135
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Opciones avanzadas de instalación"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Elija la &carpeta donde desea instalar ReactOS:", IDC_STATIC, 7, 9, 291, 10
    EDITTEXT IDC_PATH, 7, 23, 291, 13
    GROUPBOX "Cargador de arranque", IDC_STATIC, 7, 45, 291, 60
    LTEXT "Seleccione dónde instalar el\ncargador de arranque FreeLoader.\n\nDe forma predeterminada se instalará en la partición del sistema del disco de arranque (en el Registro de Arranque Maestro (MBR), o del Volumen (VBR) para equipos con BIOS).", IDC_STATIC, 13, 57, 279, 44
    COMBOBOX IDC_INSTFREELDR, 150, 58, 142, 45, WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST
    DEFPUSHBUTTON "Aceptar", IDOK, 193, 113, 50, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 248, 113, 50, 14
END

IDD_SUMMARYPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Tipo de instalación:", IDC_STATIC, 18, 5, 74, 11
    EDITTEXT IDC_INSTALLTYPE, 95, 5, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Fuente de instalación:", IDC_STATIC, 18, 17, 74, 11
    EDITTEXT IDC_INSTALLSOURCE, 95, 17, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Arquitectura:", IDC_STATIC, 18, 29, 74, 11
    EDITTEXT IDC_ARCHITECTURE, 95, 29, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Equipo:", IDC_STATIC, 18, 41, 74, 11
    EDITTEXT IDC_COMPUTER, 95, 41, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Pantalla:", IDC_STATIC, 18, 53, 74, 11
    EDITTEXT IDC_DISPLAY, 95, 53, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Teclado:", IDC_STATIC, 18, 65, 74, 11
    EDITTEXT IDC_KEYBOARD, 95, 65, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Volumen de destino:", IDC_STATIC, 18, 77, 74, 11
    EDITTEXT IDC_DESTDRIVE, 95, 77, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Carpeta de destino:", IDC_STATIC, 18, 89, 74, 11
    EDITTEXT IDC_PATH, 95, 89, 210, 12, ES_READONLY | ES_AUTOHSCROLL | NOT WS_BORDER | NOT WS_TABSTOP
    AUTOCHECKBOX "Confirmo que todos mis ajustes de instalación son correctos. También sé que ReactOS está en una fase de desarrollo alfa temprana y podría dañar mi equipo y perder mis datos.",
        IDC_CONFIRM_INSTALL, 7, 100, 309, 24, BS_MULTILINE | WS_GROUP | WS_TABSTOP
    LTEXT "Asegúrese de que todos sus ajustes son correctos y\n haga clic en Instalar para empezar el proceso de instalación.", IDC_STATIC, 7, 124, 303, 18
END

IDD_PROCESSPAGE DIALOGEX 0, 0, 317, 143
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Instalando archivos...", IDC_ACTIVITY, 20, 35, 277, 10
    LTEXT "test.txt", IDC_ITEM, 20, 83, 277, 10
    CONTROL "", IDC_PROCESSPROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 20, 97, 277, 11
END

IDD_FINISHPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Reiniciando el equipo", IDC_FINISHTITLE, 115, 8, 195, 24
    LTEXT "La primera parte de la instalación de ReactOS se ha completado satisfactoriamente.", IDC_STATIC, 115, 40, 195, 24
    // The following text can be replaced by IDS_FINISH_NO_REBOOT at runtime;
    // please ensure it can hold in the text control!
    LTEXT "El instalador reiniciará su equipo para continuar con el segundo paso de instalación.\n\nSu equipo se reiniciará automáticamente en unos 15 segundos o tras hacer clic en el botón de Reiniciar.", IDC_FINISHTEXT, 115, 78, 195, 56
    CONTROL "", IDC_RESTART_PROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 115, 135, 188, 12
END

IDD_ABORTPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | WS_CHILD
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "El instalador de ReactOS ha cancelado la instalación", IDC_FINISHTITLE, 115, 8, 195, 24
    LTEXT "El primer paso de instalación de ReactOS ha terminado por error o por petición del usuario.\n\nPodrá volver a instalar o actualizar ReactOS más tarde.", IDC_STATIC, 115, 40, 195, 48
    // The following text can be replaced by IDS_ABORT_NO_REBOOT at runtime;
    // please ensure it can hold in the text control!
    LTEXT "Su equipo se reiniciará automáticamente en unos 15 segundos o tras hacer clic en el botón de Reiniciar.", IDC_FINISHTEXT, 115, 110, 195, 24
    CONTROL "", IDC_RESTART_PROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 115, 135, 188, 12
END

/* Strings */

STRINGTABLE
BEGIN
    IDS_CAPTION "Instalación de ReactOS"
    IDS_TYPETITLE "Tipo de instalación"
    IDS_TYPESUBTITLE "Puede configurar una nueva instalación de ReactOS o actualizar/reparar una instalación existente."
    IDS_UPDATETITLE "Actualizar o reparar ReactOS"
    IDS_UPDATESUBTITLE "Elija qué instalación existente de ReactOS desea actualizar o reparar."
    IDS_DEVICETITLE "Instalación de los dispositivos básicos"
    IDS_DEVICESUBTITLE "Seleccione los ajustes de la pantalla y el teclado."
    IDS_DRIVETITLE "Crear la partición para la instalación y la carpeta del sistema"
    IDS_DRIVESUBTITLE "Preparar la partición para la instalación, la carpeta del sistema y el cargador de arranque."
    IDS_SUMMARYTITLE "Resumen de la instalación"
    IDS_SUMMARYSUBTITLE "Lista las propiedades de la instalación para su verificación antes de aplicarlas al dispositivo instalado."
    IDS_PROCESSTITLE "Preparar partición, copiar archivos e instalar sistema"
    IDS_PROCESSSUBTITLE "Crear y formatear partición, copiar archivos, instalar e instalar el cargador de arranque."
    IDS_ABORTSETUP "ReactOS no está completamente instalado en su equipo. Si sale ahora de la instalación tendrá que empezar otra vez de cero para poder instalar ReactOS. ¿Seguro que quiere salir?"
    IDS_ABORTSETUP2 "¿Abortar instalación?"
    IDS_NO_TXTSETUP_SIF "No se pudo encontrar 'txtsetup.sif'.\nLa instalación no puede continuar."
    IDS_FINISH_NO_REBOOT "El asistente necesita reiniciar su equipo para seguir con el segundo paso de instalación.\n\nUtilice el botón de Reiniciar para reiniciar ahora mismo el equipo,\no haga clic en Posponer para salir del instalador y reiniciar el equipo en otro momento."
    IDS_ABORT_NO_REBOOT "Utilice el botón de Reiniciar para reiniciar ahora mismo el equipo,\no haga clic en Cerrar para salir del instalador."
    IDS_INSTALLBTN "&Instalar"
    IDS_RESTARTBTN "&Reiniciar"
    IDS_POSTPONEBTN "&Posponer"
    IDS_VOLUME_NOFORMAT "Sin formatear"
END

STRINGTABLE
BEGIN
    IDS_INSTALLATION_NAME "Nombre"
    IDS_INSTALLATION_PATH "Ruta de instalación"
    IDS_INSTALLATION_VENDOR "Fabricante"
END

STRINGTABLE
BEGIN
    IDS_PARTITION_NAME "Nombre"
    IDS_PARTITION_TYPE "Tipo"
    IDS_PARTITION_SIZE "Tamaño"
    IDS_PARTITION_STATUS "Estado"
END

STRINGTABLE
BEGIN
    IDS_BOOTLOADER_NOINST "No instalar"
    IDS_BOOTLOADER_REMOVABLE "Medio extraíble"
    IDS_BOOTLOADER_SYSTEM "Partición del sistema (Predeterminado)"
    IDS_BOOTLOADER_MBRVBR "MBR y VBR (Predeterminado)"
    IDS_BOOTLOADER_VBRONLY "Solo VBR"
END

/* Progress Strings */

STRINGTABLE
BEGIN
    IDS_FORMATTING_PROGRESS1 "Formateando volumen %c: (%s) en %s..."
    IDS_FORMATTING_PROGRESS2 "Formateando volumen %s en %s..."

    IDS_CHECKING_PROGRESS1 "Comprobando volumen %c: (%s)..."
    IDS_CHECKING_PROGRESS2 "Comprobando volumen %s..."

    IDS_COPYING  "Copiando %s"
    IDS_MOVING   "Moviendo %s a %s"
    IDS_RENAMING "Renombrando %s a %s"
    IDS_DELETING "Eliminando %s"

    IDS_CONFIG_SYSTEM_PARTITION "Configurando la partición del sistema..."
    IDS_PREPARE_PARTITIONS "Preparando particiones..."
    IDS_PREPARE_FILES "Preparando la lista de archivos a copiar, espere un momento..."
    IDS_COPYING_FILES "Copiando archivos..."

    IDS_CREATE_REGISTRY "Creando el registro..."
    IDS_UPDATE_REGISTRY "Actualizando el registro..."

    // IDS_INSTALL_FINALIZE "Finalizing the installation..."
    IDS_INSTALL_BOOTLOADER "Instalando el cargador de arranque..."
END

// Note to translators: please refer to the corresponding usetup/lang/*.h translations.
STRINGTABLE
BEGIN
    IDS_REG_DONE "Hecho"
    IDS_REG_REGHIVEUPDATE "Actualizando subárboles del registro"
    IDS_REG_IMPORTFILE "Importando %s"
    IDS_REG_DISPLAYSETTINGSUPDATE "Actualizando la configuración del registro de pantalla"
    IDS_REG_LOCALESETTINGSUPDATE "Actualizando la configuración regional"
    IDS_REG_ADDKBLAYOUTS "Añadiendo distribuciones de teclado"
    IDS_REG_KEYBOARDSETTINGSUPDATE "Actualizando la configuración de distribución del teclado"
    IDS_REG_CODEPAGEINFOUPDATE "Añadiendo información de página de códigos"
    IDS_REG_UNKNOWN "Estado desconocido %d"
END

/* Error Strings */

STRINGTABLE
BEGIN
    IDS_ERROR_INVALID_INSTALLDIR_CHAR_TITLE "Carácter no válido"
    IDS_ERROR_INVALID_INSTALLDIR_CHAR "Los únicos caracteres válidos son:\n\
alfanuméricos (a-z, A-Z, 0-9), y\n . \\ - _\n\
No se permiten espacios."

    IDS_ERROR_DIRECTORY_NAME_TITLE "Ruta de instalación incorrecta"
    IDS_ERROR_DIRECTORY_NAME "La ruta de instalación de ReactOS debe seguir el esquema de nombres DOS 8.3, \
y contener únicamente letras, dígitos, guiones y puntos. No se permiten espacios."

    IDS_ERROR_CREATE_PARTITION_TITLE "Crear partición"
    IDS_ERROR_CREATE_PARTITION "No se pudo crear una nueva partición."

    IDS_WARN_DELETE_PARTITION_TITLE "¿Eliminar partición?"
    IDS_WARN_DELETE_PARTITION "¿Está seguro que desea eliminar la partición seleccionada?"
    IDS_WARN_DELETE_MBR_EXTENDED_PARTITION "¿Está seguro que desea eliminar la partición extendida seleccionada y TODAS las particiones lógicas que contiene?"

    IDS_ERROR_WRITE_PTABLE "La instalación no pudo escribir las tablas de partición."

    IDS_ERROR_SYSTEM_PARTITION "El instalador de ReactOS no pudo encontrar una partición del sistema compatible\n\
en su sistema o no pudo crear una nueva. Sin dicha partición\n\
el programa de instalación no puede instalar ReactOS.\
\nHaga clic en Aceptar para volver a la lista de selección de particiones."

    IDS_ERROR_FORMAT_UNRECOGNIZED_VOLUME "Volumen no reconocido al intentar formatear la partición."

    IDS_ERROR_COULD_NOT_FORMAT "La instalación en este momento no puede formatear una partición en %s.\n\
\nHaga clic en Aceptar para continuar la instalación.\
\nHaga clic en Cancelar para salir de la instalación."

    IDS_ERROR_FORMATTING_PARTITION "La instalación no puede formatear la partición:\n %s\n"

    IDS_ERROR_COULD_NOT_CHECK "La instalación en este momento no puede comprobar una partición formateada en %s.\n\
\nHaga clic en Aceptar para continuar la instalación.\
\nHaga clic en Cancelar para salir de la instalación."

    IDS_ERROR_CHECKING_PARTITION "ChkDsk detectó algunos errores de disco.\n(Estado 0x%08lx)."

    IDS_ERROR_WRITE_BOOT "La instalación no pudo instalar el código de arranque %s en la partición del sistema."
    IDS_ERROR_INSTALL_BOOTCODE "La instalación no pudo instalar el código de arranque %s en el disco de arranque."
    IDS_ERROR_INSTALL_BOOTCODE_REMOVABLE "La instalación no pudo instalar el código de arranque en el medio extraíble."
    IDS_ERROR_BOOTLDR_ARCH_UNSUPPORTED "La instalación en este momento no admite instalar el cargador de arranque en el equipo que está utilizando.\
\nHaga clic en Aceptar para continuar de todos modos."
    IDS_ERROR_BOOTLDR_FAILED "La instalación no pudo instalar el cargador de arranque (Estado 0x%08lx)."
END
