/*
 * translation by xrogers
 * xxrogers@users.sourceforge.net
 * https://sourceforge.net/projects/reactospl
 * http://rogers.cyberdusk.pl/
 * update - niski (bjauy@o2.pl)
 */

 LANGUAGE LANG_POLISH, SUBLANG_DEFAULT
 
 IDD_STARTPAGE DIALOGEX DISCARDABLE  0, 0, 317, 193
 STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
 CAPTION "Instalator ReactOS"
 FONT 8, "MS Shell Dlg"
 BEGIN
 	LTEXT "Witaj w Kreatorze instalacji ReactOS.", IDC_STARTTITLE, 115, 8, 195, 24
 	LTEXT "Nie mo¿esz zainstalowaæ ReactOS bezpoœrednio! "\
 		"Uruchom ponownie komputer z tej p³yty aby "\
 		"zainstalowaæ ReactOS.", IDC_STATIC, 115, 40, 195, 100
	LTEXT "Naciœnij przycisk aby zakoñczyæ pracê Instalatora.", IDC_STATIC, 115, 169, 195, 17
END

/* EOF */
