/*
 * PROJECT:    ReactOS Setup
 * LICENSE:    GPL - See COPYING in the top level directory
 * FILE:       base/setup/reactos/lang/uk-UA.rc
 * PURPOSE:    Ukraianian Language File for ReactOS Setup
 * TRANSLATOR: Artem Reznikov, Sakara Yevhen
 */

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT

IDD_STARTPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Встановлення ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT "Вас вітає програма встановлення ReactOS.", IDC_STARTTITLE, 115, 8, 195, 24
    LTEXT "Ви не можете встановити ReactOS прямо з цього CD! Будь ласка перезапустіть Ваш комп’ютер з цього CD для того, щоб встановити ReactOS.", IDC_STATIC, 115, 40, 195, 100
    LTEXT "Натисніть кнопку Завершити для виходу.", IDC_STATIC, 115, 169, 195, 17
END

IDD_LANGSELPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Встановлення ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "IDB_LOGO", IDB_ROSLOGO, "Static", WS_CHILD | WS_VISIBLE | SS_OWNERDRAW, 18, 0, 290, 99
    CONTROL "Мова системи:", IDC_STATIC, "Static", WS_CHILD | WS_VISIBLE | WS_GROUP | SS_RIGHT, 20, 109, 106, 11
    CONTROL "", IDC_LANGUAGES, "ComboBox", WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST, 132, 107, 176, 142
    CONTROL "Розкладка клавіатури:", IDC_STATIC, "Static", WS_CHILD | WS_VISIBLE | WS_GROUP | SS_RIGHT, 20, 142, 106, 11
    CONTROL "", IDC_KEYLAYOUT, "ComboBox", WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST, 132, 141, 176, 81
    LTEXT "Для вибору типу встановлення натисніть Далі.", IDC_STATIC, 10, 180, 297, 10
END

IDD_TYPEPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Встановлення ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Тип встановлення", IDC_STATIC, "Button", BS_GROUPBOX, 10, 0, 297, 172
    CONTROL "Встановлення ReactOS", IDC_INSTALL, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 20, 15, 277, 10
    CONTROL "Відновити або змінити встановлений раніше ReactOS", IDC_SETUP, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_DISABLED, 20, 30, 277, 10
    LTEXT "Для встановлення пристроїв натисніть Далі.", IDC_STATIC, 10, 180, 297, 10
END

IDD_DEVICEPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Встановлення ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Основні пристрої", IDC_STATIC, "Button", BS_GROUPBOX, 10, 0, 297, 172
    LTEXT "Комп’ютер:", IDC_STATIC, 20, 15, 80, 10
    CONTROL "", IDC_COMPUTER, "ComboBox", WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST, 100, 15, 180, 80
    LTEXT "Екран:", IDC_STATIC, 20, 35, 80, 10
    CONTROL "", IDC_DISPLAY, "ComboBox", WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST, 100, 35, 180, 80
    LTEXT "Клавіатура:", IDC_STATIC, 20, 55, 80, 10
    CONTROL "", IDC_KEYBOARD, "ComboBox", WS_VSCROLL | WS_TABSTOP | CBS_DROPDOWNLIST, 100, 55, 180, 80
    LTEXT "Для встановлення пристроїв натисніть Далі.", IDC_STATIC, 10, 180, 277, 20
END

IDD_DRIVEPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Встановлення ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Розділи для встановлення ReactOS", IDC_STATIC, "Button", BS_GROUPBOX, 10, 1, 298, 176
    LISTBOX IDC_PARTITION, 20, 12, 278, 142, LBS_HASSTRINGS | WS_VSCROLL
    PUSHBUTTON "&Створити", IDC_PARTCREATE, 20, 155, 50, 15
    PUSHBUTTON "&Видалити", IDC_PARTDELETE, 76, 155, 50, 15
    PUSHBUTTON "Д&райвер", IDC_DEVICEDRIVER, 162, 155, 50, 15, WS_DISABLED
    PUSHBUTTON "&Додаткові Опції...", IDC_PARTMOREOPTS, 218, 155, 80, 15
    LTEXT "Для початку встановлення натисніть Далі", IDC_STATIC, 10, 180, 277, 20
END

IDD_PARTITION DIALOGEX 0, 0, 172, 90
STYLE WS_VISIBLE | WS_CAPTION
CAPTION "Створення розділу"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_UPDOWN1, "msctls_updown32", WS_VISIBLE, 131, 22, 9, 13
    CONTROL "Створити та відформатувати розділ", IDC_STATIC, "Button", BS_GROUPBOX, 7, 5, 156, 57
    LTEXT "Розмір:", IDC_STATIC, 13, 24, 27, 9
    EDITTEXT IDC_PARTSIZE, 79, 23, 53, 13, WS_VISIBLE | WS_TABSTOP
    LTEXT "Гб", IDC_UNIT, 144, 24, 14, 9
    LTEXT "Файлова система:", IDC_STATIC, 13, 46, 65, 9
    CONTROL "", IDC_FSTYPE, "ComboBox", WS_VISIBLE | WS_TABSTOP | CBS_DROPDOWNLIST, 79, 42, 79, 50
    PUSHBUTTON "&OK", IDOK, 35, 68, 47, 15, WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "&Скасувати", IDCANCEL, 87, 68, 47, 15, WS_VISIBLE | WS_TABSTOP
END

IDD_BOOTOPTIONS DIALOGEX 0, 0, 305, 116
STYLE WS_VISIBLE | WS_CAPTION
CAPTION "Розширені параметри розділу"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Тека встановлення", IDC_STATIC, "Button", BS_GROUPBOX, 4, 1, 298, 30
    EDITTEXT IDC_PATH, 10, 11, 278, 13, WS_VISIBLE
    CONTROL "Встановлення завантажувача", IDC_STATIC, "Button", BS_GROUPBOX, 4, 36, 298, 52
    CONTROL "Встановити завантажувач на жосткий диск (MBR та VBR)", IDC_INSTFREELDR, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 10, 46, 278, 11
    CONTROL "Встановити завантажувач на жосткий диск (лише VBR)", IDC_INSTVBRONLY, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 10, 57, 278, 11
    CONTROL "Не встановлювати завантажувач", IDC_NOINSTFREELDR, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP | WS_DISABLED, 10, 68, 278, 11
    PUSHBUTTON "&OK", IDOK, 180, 94, 50, 15, WS_TABSTOP | WS_VISIBLE
    PUSHBUTTON "&Скасувати", IDCANCEL, 240, 94, 50, 15, WS_TABSTOP | WS_VISIBLE
END

IDD_SUMMARYPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Встановлення ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Інформація про Встановлення", IDC_ACTION, "Button", BS_GROUPBOX, 10, 0, 297, 172
    LTEXT "Для початку встановлення натисніть Далі.", IDC_STATIC, 10, 180, 277, 20
END

IDD_PROCESSPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Встановлення ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Виконується встановлення", IDC_ACTION, "Button", BS_GROUPBOX, 10, 0, 297, 172
    LTEXT "Копіювання файлів...", IDC_ACTIVITY, 20, 50, 277, 10
    LTEXT "test.txt", IDC_ITEM, 30, 80, 257, 10
    CONTROL "", IDC_PROCESSPROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 20, 120, 277, 8
END

IDD_RESTARTPAGE DIALOGEX 0, 0, 317, 193
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Завершення встановлення ReactOS"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Завершення першого етапу встановлення ReactOS", IDC_FINISHTITLE, "Button", BS_GROUPBOX, 10, 0, 297, 172
    LTEXT "Перший етап встановлення ReactOS завершено.", IDC_STATIC, 20, 50, 277, 10
    LTEXT "Після натискання клавіші Завершити ваш комп'ютер буде перезавантажений.", IDC_STATIC, 20, 80, 277, 10
    CONTROL "", IDC_RESTART_PROGRESS, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 20, 120, 277, 8
    LTEXT "Ви можете витягнути інсталяційний диск. Для перезавантаження комп'ютера натисніть Завершити", IDC_STATIC, 10, 180, 297, 20
END

STRINGTABLE
BEGIN
    IDS_LANGTITLE "Вибір мови"
    IDS_LANGSUBTITLE "Виберіть мову за замовчуванням в системі."
    IDS_TYPETITLE "Вас вітає програма встановлення ReactOS"
    IDS_TYPESUBTITLE "Виберіть тип встановлення."
    IDS_DEVICETITLE "Встановлення базових пристроїв"
    IDS_DEVICESUBTITLE "Налаштування параметрів екрану та клавіатури."
    IDS_DRIVETITLE "Вибір розташування на диску і системного каталогу"
    IDS_DRIVESUBTITLE "Підготовка розділу диска, системного каталогу та завантажувача."
    IDS_PROCESSTITLE "Підготовка розділу диска, копіювання системних файлів"
    IDS_PROCESSSUBTITLE "Створення розділу на диску, копіювання файлів, встановлення завантажувача"
    IDS_RESTARTTITLE "Перший етап встановлення завершено"
    IDS_RESTARTSUBTITLE "Перший етап завершено, для продовження потрібне перезавантаження"
    IDS_SUMMARYTITLE "Інформація про Встановлення"
    IDS_SUMMARYSUBTITLE "Перевірте список властивостей встановлення, перш ніж почати встановлення системи"
    IDS_ABORTSETUP "ReactOS встановлений на комп'ютер не повністю. Якщо ви закриєте програму встановлення зараз, в подальшому вам доведеться повторити встановлення ReactOS. Ви впевнені, що необхідно перервати встановлення?"
    IDS_ABORTSETUP2 "Перервати встановлення?"
    IDS_NO_TXTSETUP_SIF "Unable to find 'txtsetup.sif'\nSetup is unable to continue."
    IDS_CAPTION "Встановлення ReactOS"
END
