/* $Id: version.rc 12852 2005-01-06 13:58:04Z mf $ */

#include "powrprof.h"
//#include "misc.h"
//#include "type.h"
#define REACTOS_VERSION_DLL
#define REACTOS_STR_FILE_DESCRIPTION	"Power Profile Helper DLL\0"
#define REACTOS_STR_INTERNAL_NAME	"powerprof\0"
#define REACTOS_STR_ORIGINAL_FILENAME	"powerprof.dll\0"
#include <reactos/version.rc>
