/* TRANSLATOR: 2015 Erdem Ersoy (eersoy93) (erdemersoy [at] erdemersoy [dot] net) */

LANGUAGE LANG_TURKISH, SUBLANG_NEUTRAL

STRINGTABLE
{
    STRING_CMDLINE_NOT_SUPPORTED, "Hata: Komut yatacı desteklenmiyor\n"
    STRING_ALIAS_NOT_FOUND, "Hata: Başka ad bulunamadı\n"
    STRING_INVALID_QUERY, "Hata: Geçersiz sorgu\n"
    STRING_INVALID_PATH, "YOL için geçersiz söz dizimi.\n"
}
