/*
 * Regedit resources
 *
 * Copyright 2003 José Manuel Ferrer Ortiz
 * Copyright 2005 Patricio Martínez Ros
 * Copyright 2005 Samuel Serapión Vega
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

ID_ACCEL ACCELERATORS
{
    VK_DELETE, ID_EDIT_DELETE, VIRTKEY, NOINVERT
    "^F", ID_EDIT_FIND
    VK_F3, ID_EDIT_FINDNEXT, VIRTKEY, NOINVERT
    VK_F5, ID_VIEW_REFRESH, VIRTKEY, NOINVERT
    VK_F1, ID_HELP_HELPTOPICS, VIRTKEY, NOINVERT
}

/*
 * Menu
 */

IDC_REGEDIT MENU DISCARDABLE
BEGIN
    POPUP "&Archivo"
    BEGIN
        MENUITEM "&Salir",                      ID_REGISTRY_EXIT
    END
    POPUP "A&yuda"
    BEGIN
        MENUITEM "&Acerca de...",               ID_HELP_ABOUT
    END
END

IDR_REGEDIT_MENU MENU DISCARDABLE
BEGIN
    POPUP "&Registro"
    BEGIN
        MENUITEM "&Importar archivo de registro...", ID_REGISTRY_IMPORTREGISTRYFILE
        MENUITEM "&Exportar archivo de registro...", ID_REGISTRY_EXPORTREGISTRYFILE

	MENUITEM SEPARATOR
		MENUITEM "Cargar archivo de registro...",				ID_REGISTRY_LOADHIVE, GRAYED
		MENUITEM "Descargar archivo de registro...",				ID_REGISTRY_UNLOADHIVE, GRAYED
        MENUITEM "&Conectar registro de red...", ID_REGISTRY_CONNECTNETWORKREGISTRY
        MENUITEM "&Desconectar registro de red...", ID_REGISTRY_DISCONNECTNETWORKREGISTRY, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Im&primir\tCtrl+P",           ID_REGISTRY_PRINT, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "S&alir",                      ID_REGISTRY_EXIT
    END
    POPUP "&Editar"
    BEGIN
        MENUITEM "&Modificar",                  ID_EDIT_MODIFY
        MENUITEM SEPARATOR
        POPUP "&Nuevo"
        BEGIN
            MENUITEM "&Clave",                      ID_EDIT_NEW_KEY
            MENUITEM SEPARATOR
            MENUITEM "Valor de c&adena",            ID_EDIT_NEW_STRINGVALUE
            MENUITEM "Valor &binario",              ID_EDIT_NEW_BINARYVALUE
            MENUITEM "Valor &DWORD",                ID_EDIT_NEW_DWORDVALUE
			MENUITEM "&Valor de varias lineas",			ID_EDIT_NEW_MULTISTRINGVALUE
			MENUITEM "&Valor de una linea expandibles",	ID_EDIT_NEW_EXPANDABLESTRINGVALUE
        END
        MENUITEM SEPARATOR
	MENUITEM "&Permisos...",		ID_EDIT_PERMISSIONS
	MENUITEM SEPARATOR
	MENUITEM "&Eliminar\tDel",              ID_EDIT_DELETE
        MENUITEM "&Renombrar",                  ID_EDIT_RENAME
        MENUITEM SEPARATOR
        MENUITEM "&Copiar valor de la clave",   ID_EDIT_COPYKEYNAME
        MENUITEM SEPARATOR
        MENUITEM "&Buscar\tCtrl+F",             ID_EDIT_FIND, GRAYED
        MENUITEM "Buscar &siguiente\tF3",       ID_EDIT_FINDNEXT, GRAYED
    END
    POPUP "&Ver"
    BEGIN
        MENUITEM "&Barra de estado",            ID_VIEW_STATUSBAR
        MENUITEM SEPARATOR
        MENUITEM "&Separar",                    ID_VIEW_SPLIT
        MENUITEM SEPARATOR
        MENUITEM "&Actualizar\tF5",             ID_VIEW_REFRESH
    END
    POPUP "&Favoritos"
    BEGIN
        MENUITEM "&Añadir a Favoritos",         ID_FAVOURITES_ADDTOFAVOURITES
        , GRAYED
        MENUITEM "&Eliminar Favorito",          ID_FAVOURITES_REMOVEFAVOURITE
        , GRAYED
    END
    POPUP "&Ayuda"
    BEGIN
        MENUITEM "Temas de Ayuda",                ID_HELP_HELPTOPICS
        MENUITEM SEPARATOR
        MENUITEM "&Acerca de Editor de registro", ID_HELP_ABOUT
    END
END

IDR_POPUP_MENUS MENU DISCARDABLE
BEGIN
  POPUP ""
  BEGIN
	MENUITEM "&Modificar",                     ID_EDIT_MODIFY
	MENUITEM "Modificar Data Binaria",          ID_EDIT_MODIFY_BIN
	MENUITEM SEPARATOR
	MENUITEM "&Borrar\tDel",                ID_EDIT_DELETE
	MENUITEM "&Renombrar",                     ID_EDIT_RENAME
  END
  POPUP ""
  BEGIN
        POPUP "&Nuevo"
        BEGIN
            MENUITEM "&Clave",                        ID_EDIT_NEW_KEY
            MENUITEM SEPARATOR
            MENUITEM "Valores& Linea",               ID_EDIT_NEW_STRINGVALUE
            MENUITEM "Valores& Binario",               ID_EDIT_NEW_BINARYVALUE
            MENUITEM "Valores &DWORD",                ID_EDIT_NEW_DWORDVALUE
        END
  END
  POPUP ""
  BEGIN
        MENUITEM "Expandir/Colapsar",                 ID_TREE_EXPANDBRANCH
        POPUP "&Nuevo"
        BEGIN
            MENUITEM "&Clave",                        ID_EDIT_NEW_KEY
            MENUITEM SEPARATOR
            MENUITEM "Valores& Linea",              ID_EDIT_NEW_STRINGVALUE
            MENUITEM "Valores& Binario",               ID_EDIT_NEW_BINARYVALUE
            MENUITEM "Valores &DWORD",                ID_EDIT_NEW_DWORDVALUE
        END
        MENUITEM "&Encuentra",                           ID_EDIT_FIND
        MENUITEM SEPARATOR
        MENUITEM "&Borrar",                         ID_TREE_DELETE
        MENUITEM "&Renombrar",                         ID_TREE_RENAME
        MENUITEM SEPARATOR
        MENUITEM "&Exportar",                         ID_TREE_EXPORT
        MENUITEM "&Permisos...",                 ID_TREE_PERMISSIONS, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Copiar nombre de clave",                  ID_EDIT_COPYKEYNAME
  END
END


/*
 * Dialog
 */

IDD_EDIT_STRING DIALOG  32, 24, 252, 84
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP |
    WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Edit String"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Nombre de Valor:",IDC_STATIC,6,6,134,8
    EDITTEXT        IDC_VALUE_NAME,6,17,240,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "&Valor del data:",IDC_STATIC,6,35,161,8
    EDITTEXT        IDC_VALUE_DATA,6,46,240,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Aceptar",IDOK,142,64,50,14
    PUSHBUTTON      "Cancelar",IDCANCEL,196,64,50,14
END

IDD_EDIT_MULTI_STRING DIALOG  32, 24, 252, 174
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP |
    WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Multi-String"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Nombre de Valor:",IDC_STATIC,6,6,134,8
    EDITTEXT        IDC_VALUE_NAME,6,17,240,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "&Valor del data:",IDC_STATIC,6,35,161,8
    EDITTEXT        IDC_VALUE_DATA,6,46,240,102,ES_AUTOHSCROLL | ES_MULTILINE | ES_WANTRETURN | ES_AUTOVSCROLL | WS_VSCROLL
    DEFPUSHBUTTON   "Aceptar",IDOK,142,64,50,14
    PUSHBUTTON      "Cancelar",IDCANCEL,196,64,50,14
END

IDD_EDIT_BIN_DATA DIALOG  32, 24, 252, 174
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP |
    WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Binary Value"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Nombre de Valor:",IDC_STATIC,6,6,134,8
    EDITTEXT        IDC_VALUE_NAME,6,17,240,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "&Valor del data:",IDC_STATIC,6,35,161,8
    CONTROL         "",IDC_VALUE_DATA,"HexEdit32",WS_VSCROLL | WS_BORDER | WS_TABSTOP,6,46,240,102
    DEFPUSHBUTTON   "Aceptar",IDOK,142,154,50,14
    PUSHBUTTON      "Cancelar",IDCANCEL,196,154,50,14
END


IDD_EDIT_DWORD DIALOG  32, 24, 252, 104
STYLE DS_SETFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_3DLOOK | DS_CONTEXTHELP |
    WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Edit DWORD"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Nombre de Valor:",IDC_STATIC,6,6,134,8
    EDITTEXT        IDC_VALUE_NAME,6,17,240,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "&Valor del data:",IDC_STATIC,6,35,161,8
    EDITTEXT        IDC_VALUE_DATA,6,46,116,12,ES_AUTOHSCROLL
    GROUPBOX        "Base",IDC_STATIC,130,35,116,39
    AUTORADIOBUTTON "&Hexadecimal",IDC_FORMAT_HEX,141,46,60,10,WS_GROUP
    AUTORADIOBUTTON "&Decimal",IDC_FORMAT_DEC,141,59,60,10
    DEFPUSHBUTTON   "Aceptar",IDOK,142,82,50,14
    PUSHBUTTON      "Cancelar",IDCANCEL,196,82,50,14
END
/*
 * String Table
 */

STRINGTABLE DISCARDABLE
BEGIN
    IDS_LIST_COLUMN_NAME    "Nombre"
    IDS_LIST_COLUMN_TYPE    "Tipo"
    IDS_LIST_COLUMN_DATA    "Datos"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_APP_TITLE           "Editor de registro"
    IDC_REGEDIT             "REGEDIT"
    IDC_REGEDIT_FRAME       "REGEDIT_FRAME"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_REGISTRY_MENU        "Contiene comandos para trabajar con el registro completo"
    ID_EDIT_MENU            "Contiene comandos para editar valores o claves"
    ID_VIEW_MENU            "Contiene comandos para personalizar la ventana de registro"
    ID_FAVOURITES_MENU      "Contiene comandos para acceder a claves usadas frecuentemente"
    ID_HELP_MENU            "Contiene comandos para mostrar ayuda e información sobre el editor de registro"
    ID_EDIT_NEW_MENU        "Contiene comandos para crear nuevas claves o valores"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_EDIT_MODIFY          "Modifica los datos del valor"
    ID_EDIT_NEW_KEY         "Añade una nueva clave"
    ID_EDIT_NEW_STRINGVALUE "Añade un nuevo valor de cadena"
    ID_EDIT_NEW_BINARYVALUE "Añade un nuevo valor binario"
    ID_EDIT_NEW_DWORDVALUE  "Añade un nuevo valor de doble palabra"
    ID_REGISTRY_IMPORTREGISTRYFILE "Importa un archivo de texto al registro"
    ID_REGISTRY_EXPORTREGISTRYFILE
                            "Exporta todo o parte del registro a un archivo de texto"
    ID_REGISTRY_CONNECTNETWORKREGISTRY
                            "Se conecta al registro de un ordenador remoto"
    ID_REGISTRY_DISCONNECTNETWORKREGISTRY
                            "Se desconecta del registro de un ordenador remoto"
    ID_REGISTRY_PRINT       "Imprime todo o parte del registro"
/*    ID_HELP_HELPTOPICS      "Opens registry editor help" */
    ID_HELP_ABOUT           "Muestra información del programa, número de versión y derechos de autor"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_REGISTRY_EXIT        "Sale del editor de registro"
    ID_FAVOURITES_ADDTOFAVOURITES "Añade claves a la lista de favoritos"
    ID_FAVOURITES_REMOVEFAVOURITE "Elimina claves de la lista de favoritos"
    ID_VIEW_STATUSBAR       "Muestra u oculta la barra de estado"
    ID_VIEW_SPLIT           "Cambia la posición del separador entre dos paneles"
    ID_VIEW_REFRESH         "Actualiza la ventana"
    ID_EDIT_DELETE          "Elimina la selección"
    ID_EDIT_RENAME          "Renombra la selección"
    ID_EDIT_COPYKEYNAME     "Copia el nombre de la clave seleccionada al portapapeles"
    ID_EDIT_FIND            "Busca una cadena de texto en una clave, valor o datos"
    ID_EDIT_FINDNEXT        "Busca la siguiente ocurrencia del texto especificado en la búsqueda anterior"
END


STRINGTABLE DISCARDABLE
BEGIN
    IDS_ERROR		    "Error"
    IDS_WARNING		    "Aviso"
    IDS_BAD_KEY             "No puede averiguar valor clave '%s'"
    IDS_BAD_VALUE           "No puede averiguar valor '%s'"
    IDS_UNSUPPORTED_TYPE    "No puede editar claves de este tipo (%ld)"
    IDS_TOO_BIG_VALUE       "Valor es muy grande (%ld)"
    IDS_MULTI_SZ_EMPTY_STRING "Data del tipo REG_MULTI_SZ no puede contener lineas vacias.\nLas lineas vacias han sido removidas."
    IDS_QUERY_DELETE_KEY_ONE    "Esta seguro que quiere borrar esta clave?"
    IDS_QUERY_DELETE_KEY_MORE   "Esta seguro que quiere borrar estas claves?"
    IDS_QUERY_DELETE_KEY_CONFIRM "Confirme borrar clave"
    IDS_QUERY_DELETE_ONE    "Esta seguro que quiere borrar este valor?"
    IDS_QUERY_DELETE_MORE   "Esta seguro que quiere borrar estos valores?"
    IDS_QUERY_DELETE_CONFIRM "Confirme borrar valor"
    IDS_ERR_DELVAL_CAPTION  "Error Borrando Valores"
    IDS_ERR_DELETEVALUE     "Incapaz de borrar todos los valores especificados!"
    IDS_ERR_RENVAL_CAPTION  "Error Renombrando Valor"
    IDS_ERR_RENVAL_TOEMPTY  "No puede renombrar %s. El nombre de valor especificado esta vacio. Trate otro nombre y comienze otra vez."
    IDS_NEW_KEY             "Nueva Clave #%d"
    IDS_NEW_VALUE           "Nuevo Valor #%d"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_BINARY_EMPTY	    "(valor binario de longitud zero)"
    IDS_DEFAULT_VALUE_NAME  "(Default)"
    IDS_VALUE_NOT_SET       "(valor no entrado)"
    IDS_UNKNOWN_TYPE        "Tipo desconocido: (0x%lx)"
    IDS_MY_COMPUTER         "My Computer"
    IDS_IMPORT_REG_FILE     "Importa Fichero de Registro"
    IDS_EXPORT_REG_FILE     "Exporta Fichero de Registro"
    IDS_INVALID_DWORD       "(valor DWORD invalido)"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_FLT_REGFILES        "Fichero de Registro"
    IDS_FLT_REGFILES_FLT    "*.reg"
    IDS_FLT_REGEDIT4        "Fichero de Registro Win9x/NT4 (REGEDIT4)"
    IDS_FLT_REGEDIT4_FLT    "*.reg"
    IDS_FLT_ALLFILES        "Todos los archivos (*.*)"
    IDS_FLT_ALLFILES_FLT    "*.*"
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_ACCESS_FULLCONTROL        "Control Completo"
  IDS_ACCESS_READ               "Lectura"
  IDS_ACCESS_QUERYVALUE         "Pregunta Valor"
  IDS_ACCESS_SETVALUE           "Modifica Valor"
  IDS_ACCESS_CREATESUBKEY       "Crear Subclave"
  IDS_ACCESS_ENUMERATESUBKEYS   "Enumera Subclaves"
  IDS_ACCESS_NOTIFY             "Notifica"
  IDS_ACCESS_CREATELINK         "Crear enlace"
  IDS_ACCESS_DELETE             "Borrar"
  IDS_ACCESS_WRITEDAC           "Escribir DAC"
  IDS_ACCESS_WRITEOWNER         "Dueño Escritura"
  IDS_ACCESS_READCONTROL        "Control de Lectura"
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_INHERIT_THISKEYONLY        "Esta clave solamente"
  IDS_INHERIT_THISKEYANDSUBKEYS  "Esta clave y sus subclaves"
  IDS_INHERIT_SUBKEYSONLY        "Subclaves solamente"
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_EXPAND                     "&Expandir"
  IDS_COLLAPSE                   "&Colapsar"
  IDS_GOTO_SUGGESTED_KEY         "&Ir a '%s'"
  IDS_FINISHEDFIND               "Finalizado la busqueda del registro."
END

/*****************************************************************/


/*
 * Dialog
 */

IDD_EXPORTRANGE DIALOG DISCARDABLE  50, 50, 370, 50
STYLE DS_3DLOOK | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS |
    WS_BORDER
FONT 8, "MS Sans Serif"
BEGIN
   GROUPBOX "Export Range",IDC_STATIC,2,0,366,48
   CONTROL "&All",IDC_EXPORT_ALL,"Button",BS_AUTORADIOBUTTON,10,10, 29,11
   CONTROL "S&elected Branch",IDC_EXPORT_BRANCH,"Button",BS_AUTORADIOBUTTON,10,22, 100,11
   EDITTEXT IDC_EXPORT_BRANCH_TEXT,30,34,335,12
END

IDD_ADDFAVORITES DIALOG DISCARDABLE  0, 0, 186, 46
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Añadir a Favoritos"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Aceptar",IDOK,129,7,50,14
    PUSHBUTTON      "Cancelar",IDCANCEL,129,24,50,14
    LTEXT           "Nombre del &Favorito:",IDC_STATIC,7,7,70,10
    EDITTEXT        IDC_FAVORITENAME,7,26,110,13,ES_AUTOHSCROLL
END

IDD_REMOVEFAVORITES DIALOG DISCARDABLE  0, 0, 164, 135
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Remove Favorites"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "Aceptar",IDOK,107,114,50,14
    PUSHBUTTON      "Cancelar",IDCANCEL,7,114,50,14
    CONTROL         "Lista1",IDC_FAVORITESLIST,"SysListView32",LVS_LIST |
                    WS_BORDER | WS_TABSTOP,7,20,150,90
    LTEXT           "Select Favorite(s):",IDC_STATIC,7,7,99,12
END

IDD_FIND DIALOG DISCARDABLE  0, 0, 254, 82
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Encontrar"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&Encontrar Próximo",IDOK,197,7,50,14
    PUSHBUTTON      "Cancelar",IDCANCEL,197,24,50,14
    GROUPBOX        "Mirar a",IDC_STATIC,7,25,63,51
    LTEXT           "Encontrar& que:",IDC_STATIC,7,8,37,10
    EDITTEXT        IDC_FINDWHAT,47,7,142,13,ES_AUTOHSCROLL
    CONTROL         "&Claves",IDC_LOOKAT_KEYS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,36,35,8
    CONTROL         "&Valores",IDC_LOOKAT_VALUES,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,48,36,8
    CONTROL         "&Data",IDC_LOOKAT_DATA,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,60,42,8
    CONTROL         "Match &whole string only",IDC_MATCHSTRING,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,83,32,94,13
    CONTROL         "Match &case",IDC_MATCHCASE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,83,48,90,12
END

IDD_FINDING DIALOGEX 0, 0, 145, 50
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP |
    WS_CAPTION | WS_SYSMENU
CAPTION "Find"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            IDI_REGEDIT,IDC_STATIC,7,7,20,20
    PUSHBUTTON      "&Cancelar",IDCANCEL,93,29,45,14
    LTEXT           "Buscando en el registro...",IDC_STATIC,33,12,83,8
END

/*
 * TEXTINCLUDE
 */

1 TEXTINCLUDE DISCARDABLE
BEGIN
    "resource.h\0"
END



/*
 * String Table
 */

/*
 *STRINGTABLE DISCARDABLE
 *BEGIN
 *    ID_HELP_HELPTOPICS      "Abre la ayuda de registry editor."
 *    ID_HELP_ABOUT           "Despliega información del programa, version y licensia."
 *END
 */

/*****************************************************************/
