/*
 * Turkish Resources for ReactOS Regedit
 *
 * Copyright: 2013 Erdem Ersoy (eersoy93) (erdemersoy@lve.com)
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301  USA
 */

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

ID_ACCEL ACCELERATORS
BEGIN
    VK_DELETE, ID_EDIT_DELETE, VIRTKEY, NOINVERT
    "^F", ID_EDIT_FIND
    VK_F3, ID_EDIT_FINDNEXT, VIRTKEY, NOINVERT
    VK_F5, ID_VIEW_REFRESH, VIRTKEY, NOINVERT
    VK_F1, ID_HELP_HELPTOPICS, VIRTKEY, NOINVERT
END

/*
 * Menu
 */

IDC_REGEDIT MENU DISCARDABLE
BEGIN
    POPUP "&Kütük"
    BEGIN
        MENUITEM "&Çıkış",                               ID_REGISTRY_EXIT
    END
    POPUP "&Yardım"
    BEGIN
        MENUITEM "&Hakkında",                            ID_HELP_ABOUT
    END
END

IDR_REGEDIT_MENU MENU DISCARDABLE
BEGIN
    POPUP "&Kütük"
    BEGIN
        MENUITEM "&Al...",                               ID_REGISTRY_IMPORTREGISTRYFILE

        MENUITEM "&Ver...",                              ID_REGISTRY_EXPORTREGISTRYFILE

        MENUITEM SEPARATOR
        MENUITEM "&Yığın Yükle...",                      ID_REGISTRY_LOADHIVE, GRAYED
        MENUITEM "Y&ığını kaldır...",                    ID_REGISTRY_UNLOADHIVE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "A&ğ Değerlerine Bağlan...",            ID_REGISTRY_CONNECTNETWORKREGISTRY
        MENUITEM "Ağ &Değerlerine Bağlantıyı Kes...",    ID_REGISTRY_DISCONNECTNETWORKREGISTRY, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "Ya&zdır...\tCtrl+P",                   ID_REGISTRY_PRINT, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Çıkış",                               ID_REGISTRY_EXIT
    END
    POPUP "&Düzen"
    BEGIN
        MENUITEM "&Değiştir...",                         ID_EDIT_MODIFY
        MENUITEM SEPARATOR
        POPUP "&Yeni"
        BEGIN
            MENUITEM "&Dizin",                           ID_EDIT_NEW_KEY
            MENUITEM SEPARATOR
            MENUITEM "D&izgi Değeri",                    ID_EDIT_NEW_STRINGVALUE
            MENUITEM "İ&kili Değer",                     ID_EDIT_NEW_BINARYVALUE
            MENUITEM "&32 İkillik Değer",                ID_EDIT_NEW_DWORDVALUE
            MENUITEM "&Çok Dizeli Dizgi Değeri",         ID_EDIT_NEW_MULTISTRINGVALUE
            MENUITEM "&Genişletilebilir Dizgi Değeri",   ID_EDIT_NEW_EXPANDABLESTRINGVALUE
        END
        MENUITEM SEPARATOR
        MENUITEM "&İzinler...",                          ID_EDIT_PERMISSIONS
        MENUITEM SEPARATOR
        MENUITEM "&Sil\tDel",                            ID_EDIT_DELETE
        MENUITEM "&Adını Değiştir",                      ID_EDIT_RENAME
        MENUITEM SEPARATOR
        MENUITEM "Y&olunu Çoğalt",                       ID_EDIT_COPYKEYNAME
        MENUITEM SEPARATOR
        MENUITEM "A&ra...\tCtrl+F",                      ID_EDIT_FIND
        MENUITEM "So&nrakini Ara\tF3",                   ID_EDIT_FINDNEXT
    END
    POPUP "&Görünüm"
    BEGIN
        MENUITEM "&Durum Çubuğu",                        ID_VIEW_STATUSBAR
        MENUITEM SEPARATOR
        MENUITEM "&Ayırıcının Yerini Değiştir",          ID_VIEW_SPLIT
        MENUITEM SEPARATOR
        MENUITEM "&Yenile\tF5",                          ID_VIEW_REFRESH
    END
    POPUP "Y&er İmleri"
    BEGIN
        MENUITEM "&Yer İmlerine Ekle...",                ID_FAVOURITES_ADDTOFAVOURITES, GRAYED
        MENUITEM "Y&er İmlerinden Çıkar...",             ID_FAVOURITES_REMOVEFAVOURITE, GRAYED
    END
    POPUP "&Yardım"
    BEGIN
        MENUITEM "&Yardım Konuları\tF1",                 ID_HELP_HELPTOPICS
        MENUITEM SEPARATOR
        MENUITEM "&Hakkında",                            ID_HELP_ABOUT
    END
END

IDR_POPUP_MENUS MENU DISCARDABLE
BEGIN
  POPUP ""
  BEGIN
    MENUITEM "&Değiştir...",                             ID_EDIT_MODIFY
    MENUITEM "&İkili Olarak Değiştir...",                ID_EDIT_MODIFY_BIN
    MENUITEM SEPARATOR
    MENUITEM "&Sil\tDel",                                ID_EDIT_DELETE
    MENUITEM "&Adını Değiştir",                          ID_EDIT_RENAME
  END
  POPUP ""
  BEGIN
        POPUP "&Yeni"
        BEGIN
            MENUITEM "&Dizin",                           ID_EDIT_NEW_KEY
            MENUITEM SEPARATOR
            MENUITEM "D&izgi Değeri",                    ID_EDIT_NEW_STRINGVALUE
            MENUITEM "İ&kili Değer",                     ID_EDIT_NEW_BINARYVALUE
            MENUITEM "&32 İkillik Değer",                ID_EDIT_NEW_DWORDVALUE
            MENUITEM "&Çoklu Dizeli Dizgi Değeri",       ID_EDIT_NEW_MULTISTRINGVALUE
            MENUITEM "&Genişletilebilir Dizgi Değeri",   ID_EDIT_NEW_EXPANDABLESTRINGVALUE
        END
  END
  POPUP ""
  BEGIN
        MENUITEM "&Genişlet ya da Daralt",               ID_TREE_EXPANDBRANCH
        POPUP "&Yeni"
        BEGIN
            MENUITEM "&Dizin",                           ID_EDIT_NEW_KEY
            MENUITEM SEPARATOR
            MENUITEM "D&izgi Değeri",                    ID_EDIT_NEW_STRINGVALUE
            MENUITEM "İ&kili Değer",                     ID_EDIT_NEW_BINARYVALUE
            MENUITEM "&32 İkillik Değer",                ID_EDIT_NEW_DWORDVALUE
            MENUITEM "&Çoklu Dizeli Dizgi Değeri",       ID_EDIT_NEW_MULTISTRINGVALUE
            MENUITEM "&Genişletilebilir Dizgi Değeri",   ID_EDIT_NEW_EXPANDABLESTRINGVALUE
        END
        MENUITEM "A&ra...",                              ID_EDIT_FIND
        MENUITEM SEPARATOR
        MENUITEM "&Sil",                                 ID_TREE_DELETE
        MENUITEM "&Adını Değiştir",                      ID_TREE_RENAME
        MENUITEM SEPARATOR
        MENUITEM "&Ver...",                              ID_TREE_EXPORT
        MENUITEM "&İzinler...",                          ID_TREE_PERMISSIONS, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Dizin Yolunu Çoğalt",                 ID_EDIT_COPYKEYNAME
  END
  POPUP ""
  BEGIN
        MENUITEM "&Kes",                                 ID_HEXEDIT_CUT
        MENUITEM "&Çoğalt",                              ID_HEXEDIT_COPY
        MENUITEM "&Yapıştır",                            ID_HEXEDIT_PASTE
        MENUITEM "&Sil",                                 ID_HEXEDIT_DELETE
        MENUITEM SEPARATOR
        MENUITEM "&Tümünü Seç",                          ID_HEXEDIT_SELECT_ALL
  END
END


/*
 * Dialog
 */

IDD_EDIT_STRING DIALOGEX  32, 24, 252, 84
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_CONTEXTHELP |
    WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Dizgi Değerini Düzenle"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Değer Adı:",IDC_STATIC,6,6,134,8
    EDITTEXT        IDC_VALUE_NAME,6,17,240,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "D&eğer Bilgisi:",IDC_STATIC,6,35,161,8
    EDITTEXT        IDC_VALUE_DATA,6,46,240,12,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "Tamam",IDOK,142,64,50,14
    PUSHBUTTON      "Vazgeç",IDCANCEL,196,64,50,14
END

IDD_EDIT_MULTI_STRING DIALOGEX  32, 24, 252, 174
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_CONTEXTHELP |
    WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Çoklu Dizeli Dizgi Değerini Düzenle"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Değer Adı:",IDC_STATIC,6,6,134,8
    EDITTEXT        IDC_VALUE_NAME,6,17,240,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "D&eğer Bilgisi:",IDC_STATIC,6,35,161,8
    EDITTEXT        IDC_VALUE_DATA,6,46,240,102,ES_AUTOHSCROLL | ES_MULTILINE | ES_WANTRETURN | ES_AUTOVSCROLL | WS_VSCROLL
    DEFPUSHBUTTON   "Tamam",IDOK,142,154,50,14
    PUSHBUTTON      "Vazgeç",IDCANCEL,196,154,50,14
END

IDD_EDIT_BIN_DATA DIALOGEX  32, 24, 252, 174
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_CONTEXTHELP |
    WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "İkili Değeri Düzenle"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Değer Adı:",IDC_STATIC,6,6,134,8
    EDITTEXT        IDC_VALUE_NAME,6,17,240,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "D&eğer Bilgisi:",IDC_STATIC,6,35,161,8
    CONTROL         "",IDC_VALUE_DATA,"HexEdit32",WS_VSCROLL | WS_BORDER | WS_TABSTOP,6,46,240,102
    DEFPUSHBUTTON   "Tamam",IDOK,142,154,50,14
    PUSHBUTTON      "Vazgeç",IDCANCEL,196,154,50,14
END


IDD_EDIT_DWORD DIALOGEX  32, 24, 252, 104
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_CONTEXTHELP |
    WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "32 İkillik Değeri Düzenle"
FONT 8, "MS Shell Dlg"
BEGIN
    LTEXT           "&Değer Adı:",IDC_STATIC,6,6,134,8
    EDITTEXT        IDC_VALUE_NAME,6,17,240,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "D&eğer:",IDC_STATIC,6,35,161,8
    EDITTEXT        IDC_VALUE_DATA,6,46,116,12,ES_AUTOHSCROLL
    GROUPBOX        "Şimdi Girilen Değer",IDC_STATIC,130,35,116,39
    AUTORADIOBUTTON "&Onaltılık",IDC_FORMAT_HEX,141,46,60,10,WS_GROUP
    AUTORADIOBUTTON "O&nluk",IDC_FORMAT_DEC,141,59,60,10
    DEFPUSHBUTTON   "Tamam",IDOK,142,82,50,14
    PUSHBUTTON      "Vazgeç",IDCANCEL,196,82,50,14
END


IDD_EDIT_RESOURCE_LIST DIALOGEX 32, 24, 170, 120
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_CONTEXTHELP |
      WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Kaynak Dizelgesi"
FONT 8, "MS Shell Dlg"
{
    CONTROL "", IDC_RESOURCE_LIST, "SysListView32", LVS_REPORT | LVS_NOSORTHEADER | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 10, 10, 150, 75
    DEFPUSHBUTTON "Tamam", IDOK, 27, 100, 50, 14
    PUSHBUTTON "Göster...", IDC_SHOW_RESOURCE, 93, 100, 50, 14, WS_DISABLED
}


IDD_EDIT_RESOURCE DIALOGEX  6, 18, 281, 283
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_NOIDLEMSG | DS_CONTEXTHELP |
      WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Kaynaklar"
FONT 8, "MS Shell Dlg"
{
    LTEXT "DMA:", IDC_STATIC, 10, 5, 20, 8
    CONTROL "", IDC_DMA_LIST, "SysListView32", LVS_REPORT | LVS_NOSORTHEADER | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 10, 15, 261, 31
    LTEXT "Kesme:", IDC_STATIC, 10, 48, 35, 8
    CONTROL "", IDC_IRQ_LIST, "SysListView32", LVS_REPORT | LVS_NOSORTHEADER | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 10, 58, 261, 31
    LTEXT "Bellek:", IDC_STATIC, 10, 91, 32, 8
    CONTROL "", IDC_MEMORY_LIST, "SysListView32", LVS_REPORT | LVS_NOSORTHEADER | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 10, 101, 261, 31
    LTEXT "Giriş:", IDC_STATIC, 10, 134, 38, 8
    CONTROL "", IDC_PORT_LIST, "SysListView32", LVS_REPORT | LVS_NOSORTHEADER | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 10, 144, 261, 31
    LTEXT "Özel Aygıt Bilgisi:", IDC_STATIC, 10, 177, 80, 8
    CONTROL "", IDC_DEVICE_LIST, "SysListView32", LVS_REPORT | LVS_NOSORTHEADER | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 10, 188, 261, 31
    GROUPBOX "Kullanım", IDC_STATIC, 10, 219, 125, 39
    LTEXT "Belirsiz:", IDC_UNDETERMINED, 18, 230, 46, 8, WS_DISABLED
    LTEXT "Paylaşılan:", IDC_SHARED, 18, 240, 48, 8, WS_DISABLED
    LTEXT "Özel Aygıt", IDC_DEVICE_EXCLUSIVE, 72, 230, 58, 8, WS_DISABLED
    LTEXT "Özel Sürücü", IDC_DRIVER_EXCLUSIVE, 72, 240, 54, 8, WS_DISABLED
    RTEXT "Arayüz Türü:", IDC_STATIC, 144, 220, 58, 8
    LTEXT "", IDC_INTERFACETYPE, 205, 220, 66, 8
    RTEXT "Veri Yolu Numarası:", IDC_STATIC, 151, 230, 51, 8
    LTEXT "", IDC_BUSNUMBER, 205, 230, 66, 8
    RTEXT "Sürüm:", IDC_STATIC, 151, 240, 51, 8
    LTEXT "", IDC_VERSION, 205, 240, 66, 8
    RTEXT "Düzeltme:", IDC_STATIC, 151, 250, 51, 8
    LTEXT "", IDC_REVISION, 205, 250, 66, 8
    DEFPUSHBUTTON "Tamam",IDOK, 92, 263, 40, 14
    PUSHBUTTON "Kaynak Bilgisi...", IDC_SHOW_RESOURCE_DATA, 148, 263, 40, 14, WS_DISABLED
}


/*
 * String Table
 */

STRINGTABLE DISCARDABLE
BEGIN
    IDS_LIST_COLUMN_NAME    "Değerin Adı"
    IDS_LIST_COLUMN_TYPE    "Değerin Türü"
    IDS_LIST_COLUMN_DATA    "Değer"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_APP_TITLE           "Değer Defteri Düzenleyicisi"
    IDC_REGEDIT             "REGEDIT"
    IDC_REGEDIT_FRAME       "REGEDIT_FRAME"
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_REGISTRY_MENU        "Bu seçke, bütün Değer Defteri ile çalışma komutlarını içerir."
    ID_EDIT_MENU            "Bu seçke, dizinleri veya değerleri düzenleme komutlarını içerir."
    ID_VIEW_MENU            "Bu seçke, Değer Defteri Düzenleyicisi'nin penceresini özelleştirme komutlarını içerir."
    ID_FAVOURITES_MENU      "Bu seçke, yer imleri ile ilgili komutları içerir."
    ID_HELP_MENU            "Bu seçke, Değer Defteri Düzenleyicisi ile ilgili bilgi veya yardım alma komutlarını içerir."
    ID_EDIT_NEW_MENU        "Bu seçke, yeni bir dizin veya yeni bir değer oluşturma komutlarını içerir."
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_EDIT_MODIFY                        "Değeri değiştirir."
    ID_EDIT_NEW_KEY                       "Yeni bir dizin oluşturur."
    ID_EDIT_NEW_STRINGVALUE               "Yeni bir dizgi değeri oluşturur."
    ID_EDIT_NEW_BINARYVALUE               "Yeni bir ikili değer oluşturur."
    ID_EDIT_NEW_DWORDVALUE                "Yeni bir 32 ikillik değer oluşturur."
    ID_REGISTRY_IMPORTREGISTRYFILE        "Uygun bir kütükten bilgiler alır."
    ID_REGISTRY_EXPORTREGISTRYFILE        "Değer Defteri'nin tümünü ya da bir bölümünü bir kütüğe kaydeder."
    ID_REGISTRY_LOADHIVE                  "Değer Defteri'ne bir yığın yükler."
    ID_REGISTRY_UNLOADHIVE                "Değer Defteri'nden bir yığın kaldırır."
    ID_REGISTRY_CONNECTNETWORKREGISTRY    "Uzaktaki bir bilgisyarın değerlerine bağlanır."
    ID_REGISTRY_DISCONNECTNETWORKREGISTRY "Uzaktaki bir bilgisayarın değerlerine olan bağlantıyı keser."
    ID_REGISTRY_PRINT                     "Değer Defteri'nin tümünü ya da bir bölümünü yazdırır."
  /*ID_HELP_HELPTOPICS                    "Değer Defteri Düzenleyicisi ile ilgili yardım konularını açar."*/
    ID_HELP_ABOUT                         "Değer Defteri Düzenleyicisi ile ilgili bilgi görüntüler."
END

STRINGTABLE DISCARDABLE
BEGIN
    ID_REGISTRY_EXIT                      "Değer Defteri Düzenleyicisi'nden çıkar."
    ID_FAVOURITES_ADDTOFAVOURITES         "Bir dizini yer imlerine ekler."
    ID_FAVOURITES_REMOVEFAVOURITE         "Dizinleri yer imlerinden kaldırır."
    ID_VIEW_STATUSBAR                     "Durum çubuğunu gizler ya da gösterir."
    ID_VIEW_SPLIT                         "Ayırıcının yerini değiştirir."
    ID_VIEW_REFRESH                       "Pencereyi yeniler."
    ID_EDIT_DELETE                        "Seçilen öğeyi siler."
    ID_EDIT_RENAME                        "Seçilen öğenin adını değiştirir."
    ID_EDIT_COPYKEYNAME                   "Seçilen öğenin dizin yolunu çoğaltır."
    ID_EDIT_FIND                          "Belirtilen dizgiyi dizinlerin adlarında, değerlerde veya değer adlarında arar."
    ID_EDIT_FINDNEXT                      "Bulunan dizgiyi bulunduğu yerden başlayarak bir daha arar."
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_ERROR                             "Hatâ"
    IDS_WARNING                           "Uyarı"
    IDS_BAD_KEY                           "Dizin sorgulanamıyor: %s"
    IDS_BAD_VALUE                         "Değer sorgulanamıyor: %s"
    IDS_UNSUPPORTED_TYPE                  "Bu türdeki dizinler değiştirilemez: %ld"
    IDS_TOO_BIG_VALUE                     "Değer çok büyük: %ld"
    IDS_MULTI_SZ_EMPTY_STRING             "REG_MULTI_SZ boş dizgi içeremez.\nBoş dizgiler dizelgeden silinmiştir."
    IDS_QUERY_DELETE_KEY_ONE              "Bu dizini silmeye emin misiniz?"
    IDS_QUERY_DELETE_KEY_MORE             "Bu dizinleri silmeye emin misiniz?"
    IDS_QUERY_DELETE_KEY_CONFIRM          "Emin Misiniz?"
    IDS_QUERY_DELETE_ONE                  "Bu değeri silmeye emin misiniz?"
    IDS_QUERY_DELETE_MORE                 "Bu değerleri silmeye emin misiniz?"
    IDS_QUERY_DELETE_CONFIRM              "Emin Misiniz?"
    IDS_ERR_DELVAL_CAPTION                "Değerlerin Silinmesi"
    IDS_ERR_DELETEVALUE                   "Belirtilmiş değerler silinemiyor."
    IDS_ERR_RENVAL_CAPTION                "Değerin Adının Değiştirilmesi"
    IDS_ERR_RENVAL_TOEMPTY                "Yeni bir ad girmediğinizden dolayı bu değerin adı değiştirilemiyor: %s"
    IDS_QUERY_IMPORT_HIVE_CAPTION         "Emin Misiniz?"
    IDS_QUERY_IMPORT_HIVE_MSG             "Bu dizin, seçili dizinle yenilenecektir.\nBu yüzden bu dizinin tüm alt dizinleri ve değerleri silinecektir.\nİşlemi sürdürmek istiyor musunuz?"
    IDS_NEW_KEY                           "%d. Yeni Dizin"
    IDS_NEW_VALUE                         "%d. Yeni Değer"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_BINARY_EMPTY                      "(Bu değer sıfır uzunluktadır.)"
    IDS_DEFAULT_VALUE_NAME                "(Ön tanımlı)"
    IDS_VALUE_NOT_SET                     "(Bu değer belirtilmemiştir.)"
    IDS_UNKNOWN_TYPE                      "Bilinmeyen tür: (0x%lx)"
    IDS_MY_COMPUTER                       "Bilgisayar"
    IDS_IMPORT_REG_FILE                   "Değer Kütüğünden Al"
    IDS_EXPORT_REG_FILE                   "Değer Kütüğüne Ver"
    IDS_LOAD_HIVE                         "Yığın Yükle"
    IDS_UNLOAD_HIVE                       "Yığını Kaldır"
    IDS_INVALID_DWORD                     "(Bu 32 ikillik değer geçersizdir.)"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_FLT_REGFILE                       "Değer Kütüğü"
    IDS_FLT_REGFILES                      "Değer Kütükleri (*.reg)"
    IDS_FLT_REGFILES_FLT                  "*.reg"
    IDS_FLT_HIVFILES                      "Yığın Dosyaları (*.*)"
    IDS_FLT_HIVFILES_FLT                  "*.*"
    IDS_FLT_REGEDIT4                      "Windows 9x ve Windows NT 4.0 Türündeki Değer Kütükleri (*.reg)"
    IDS_FLT_REGEDIT4_FLT                  "*.reg"
    IDS_FLT_ALLFILES                      "Tüm Kütükler (*.*)"
    IDS_FLT_ALLFILES_FLT                  "*.*"
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_ACCESS_FULLCONTROL        "Tam Denetim"
  IDS_ACCESS_READ               "Okuma"
  IDS_ACCESS_QUERYVALUE         "Değer Sorgulama"
  IDS_ACCESS_SETVALUE           "Değer Atama"
  IDS_ACCESS_CREATESUBKEY       "Alt Dizin Oluşturma"
  IDS_ACCESS_ENUMERATESUBKEYS   "Alt Dizinleri Sıralama"
  IDS_ACCESS_NOTIFY             "Bildirme"
  IDS_ACCESS_CREATELINK         "Bağlantı Oluşturma"
  IDS_ACCESS_DELETE             "Silme"
  IDS_ACCESS_WRITEDAC           "DAC Yazma"
  IDS_ACCESS_WRITEOWNER         "Sahibi Yazma"
  IDS_ACCESS_READCONTROL        "Okuma Denetimi"
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_INHERIT_THISKEYONLY        "Yalnızca bu dizin"
  IDS_INHERIT_THISKEYANDSUBKEYS  "Alt dizinleriyle birlikte bu dizin"
  IDS_INHERIT_SUBKEYSONLY        "Yalnızca bu dizinin alt dizinleri"
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_EXPAND                     "&Genişlet"
  IDS_COLLAPSE                   "&Daralt"
  IDS_GOTO_SUGGESTED_KEY         "G&it: %s"
  IDS_FINISHEDFIND               "Değer defterinde arama tamamlandı."
END

STRINGTABLE DISCARDABLE
BEGIN
  IDS_IMPORT_PROMPT              "Eklenen bilgiler değerleri değiştirebilir veya bileşenlerin doğru çalışmasını engelleyebilir.\nEğer %s  kütüğündeki bilgilerin kaynağını bilmiyorsanız bu bilgileri değer defterine eklemeyiniz.\n\nSürdürmek istiyor musunuz?"
  IDS_IMPORT_OK                  "Bilgiler, %s kütüğünden başarıyla alındı."
  IDS_IMPORT_ERROR               "%s alınamıyor. Disk hatâsı, kütük dizgesi hatâsı ya da belirtilen kütüğün olmamasından dolayı bilgi alınacak kütük açılamıyor."
  IDS_EXPORT_ERROR               "%s verilemiyor. Disk hatâsı ya da kütük dizgesi hatâsından dolayı belirtilen kütük oluşturulamıyor ya da bilgiler bu kütüğün üzerine yazılamıyor."
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_BUSNUMBER                 "Veri Yolu Numarası"
    IDS_INTERFACE                 "Arayüz"
    IDS_DMA_CHANNEL               "Kanal"
    IDS_DMA_PORT                  "Giriş"
    IDS_INTERRUPT_VECTOR          "Yöney"
    IDS_INTERRUPT_LEVEL           "Düzey"
    IDS_INTERRUPT_AFFINITY        "Benzerlik"
    IDS_INTERRUPT_TYPE            "Tür"
    IDS_MEMORY_ADDRESS            "Fiziksel Erişki"
    IDS_MEMORY_LENGTH             "Uzunluk"
    IDS_MEMORY_ACCESS             "Erişim"
    IDS_PORT_ADDRESS              "Fiziksel Erişki"
    IDS_PORT_LENGTH               "Uzunluk"
    IDS_PORT_ACCESS               "Erişim"
    IDS_SPECIFIC_RESERVED1        "Ayrılmış 1"
    IDS_SPECIFIC_RESERVED2        "Ayrılmış 2"
    IDS_SPECIFIC_DATASIZE         "Veri Niceliği"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_PORT_PORT_IO              "Giriş"
    IDS_PORT_MEMORY_IO            "Bellek"
    IDS_INTERRUPT_EDGE_SENSITIVE  "Kenar Duyarlılığı"
    IDS_INTERRUPT_LEVEL_SENSITIVE "Düzey Duyarlılığı"
    IDS_MEMORY_READ_ONLY          "Salt Okunur"
    IDS_MEMORY_WRITE_ONLY         "Salt Yazılır"
    IDS_MEMORY_READ_WRITE         "Okuma/Yazma"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_BUS_UNDEFINED             "Tanımlanmamış"
    IDS_BUS_INTERNAL              "Dâhilî"
    IDS_BUS_ISA                   "ISA"
    IDS_BUS_EISA                  "EISA"
    IDS_BUS_MICROCHANNEL          "MikroKanal"
    IDS_BUS_TURBOCHANNEL          "TurboKanal"
    IDS_BUS_PCIBUS                "PCI"
    IDS_BUS_VMEBUS                "VME"
    IDS_BUS_NUBUS                 "Nu Veri Yolu"
    IDS_BUS_PCMCIABUS             "PCMCIA"
    IDS_BUS_CBUS                  "C Veri Yolu"
    IDS_BUS_MPIBUS                "MPI Veri Yolu"
    IDS_BUS_MPSABUS               "MPSA Veri Yolu"
    IDS_BUS_PROCESSORINTERNAL     "Dâhilî İşlemci"
    IDS_BUS_INTERNALPOWERBUS      "Dâhilî Güç Veri Yolu"
    IDS_BUS_PNPISABUS             "PnP-ISA Veri Yolu"
    IDS_BUS_PNPBUS                "PnP Veri Yolu"
    IDS_BUS_UNKNOWNTYPE           "Bilinmeyen Arayüz Türü"
END

/*****************************************************************/


/*
 * Dialog
 */

IDD_EXPORTRANGE DIALOGEX DISCARDABLE  50, 50, 370, 50
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_BORDER
FONT 8, "MS Shell Dlg"
BEGIN
   GROUPBOX "Verme Kapsamı",IDC_STATIC,2,0,366,48
   CONTROL "&Tümü",IDC_EXPORT_ALL,"Button",BS_AUTORADIOBUTTON,10,10, 29,11
   CONTROL "&Seçili Dal",IDC_EXPORT_BRANCH,"Button",BS_AUTORADIOBUTTON,10,22, 100,11
   EDITTEXT IDC_EXPORT_BRANCH_TEXT,30,34,335,12
END

//
// Dialog resources
//
IDD_LOADHIVE DIALOGEX DISCARDABLE 0, 0, 193, 34
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Yığın Yükleme"
FONT 8, "Ms Shell Dlg"
{
    LTEXT           "Dizin:", IDC_STATIC, 4, 4, 15, 8, SS_LEFT
    EDITTEXT        IDC_EDIT_KEY, 23, 2, 167, 13
    DEFPUSHBUTTON   "Tamam", IDOK, 140, 17, 50, 14
    PUSHBUTTON      "Vazgeç", IDCANCEL, 89, 17, 50, 14
}

IDD_ADDFAVORITES DIALOGEX DISCARDABLE  0, 0, 186, 46
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Yer İmlerine Ekleme"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Tamam",IDOK,129,7,50,14
    PUSHBUTTON      "Vazgeç",IDCANCEL,129,24,50,14
    LTEXT           "Yer İmi Adı:",IDC_STATIC,7,7,70,10
    EDITTEXT        IDC_FAVORITENAME,7,26,110,13,ES_AUTOHSCROLL
END

IDD_REMOVEFAVORITES DIALOGEX DISCARDABLE  0, 0, 164, 135
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Yer İmlerini Silme"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "Tamam",IDOK,107,114,50,14
    PUSHBUTTON      "Vazgeç",IDCANCEL,7,114,50,14
    CONTROL         "List1",IDC_FAVORITESLIST,"SysListView32",LVS_LIST |
                    WS_BORDER | WS_TABSTOP,7,20,150,90
    LTEXT           "Yer İmlerini Seç:",IDC_STATIC,7,7,99,12
END

IDD_FIND DIALOGEX DISCARDABLE  0, 0, 254, 82
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Ara"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "&Sonrakini Ara",IDOK,197,7,50,14
    PUSHBUTTON      "Vazgeç",IDCANCEL,197,24,50,14
    GROUPBOX        "Şunlara Bak",IDC_STATIC,7,25,63,51
    LTEXT           "Şunu Ara:",IDC_STATIC,7,8,37,10
    EDITTEXT        IDC_FINDWHAT,47,7,142,13,ES_AUTOHSCROLL
    CONTROL         "D&iznler",IDC_LOOKAT_KEYS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,36,35,8
    CONTROL         "D&eğer Adları",IDC_LOOKAT_VALUES,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,48,36,8
    CONTROL         "&Değerler",IDC_LOOKAT_DATA,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,60,42,8
    CONTROL         "Aranan, bir şeyin tam adı olsun.",IDC_MATCHSTRING,"Button",
                    BS_AUTOCHECKBOX | WS_TABSTOP,83,32,94,13
    CONTROL         "Büyük-küçük hârf ayrımı olsun.",IDC_MATCHCASE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,83,48,90,12
END

IDD_FINDING DIALOGEX 0, 0, 145, 50
STYLE DS_SHELLFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP |
    WS_CAPTION | WS_SYSMENU
CAPTION "Arama"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    ICON            IDI_REGEDIT,IDC_STATIC,7,7,20,20
    DEFPUSHBUTTON   "Vazgeç",IDCANCEL,93,29,45,14
    LTEXT           "Aranıyor...",IDC_STATIC,33,12,83,8
END

/*
 * TEXTINCLUDE
 */

1 TEXTINCLUDE DISCARDABLE
BEGIN
    "resource.h\0"
END



/*
 * String Table
 */

/*
 *STRINGTABLE DISCARDABLE
 *BEGIN
 *    ID_HELP_HELPTOPICS      "Değer Defteri Düzenleyicisi ile ilgili yardım konularını açar."
 *    ID_HELP_ABOUT           "Değer Defteri Düzenleyicisi ile ilgili bilgi görüntüler."
 *END
 */

/*****************************************************************/
