/*
 * PROJECT:     System Information
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Romanian resource file
 * TRANSLATORS: Copyright 2011-2018 Ștefan Fulea <stefan.fulea@mail.com>
 *              Copyright 2024 Andrei Miloiu <miloiuandrei@gmail.com>
 */

LANGUAGE LANG_ROMANIAN, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN

IDS_USAGE, "SYSTEMINFO [/S sistem [/U nume [/P [parolă]]]] [/FO format] [/NH]\n\n\
Descriere:\n\
  Această comandă permite unui administrator interogarea pentru informații\n\
  de bază referitoare la configurația sistemului.\n\n\
Lista de parametri:\n\
  /S      sistem           Specifică sistemul (de la distanță) vizat.\n\n\
  /U      [domeniu\\]nume  Specifică utilizatorului sub autoritatea\n\
                           căruia este executată comanda.\n\n\
  /P      [parolă]         Specifică parola pentru utilizatorul dat.\n\
                           Urmează solicitare automată dacă este omis.\n\n\
  /FO     format           Specifică formatul sub care ieșirea va fi\n\
                           reprezentată.\n\
                           Valori valide: „TABLE”, „LIST”, „CSV”.\n\n\
  /NH                      Specifică faptul că „antetul coloanelor” nu\n\
                           trebuie inclus la ieșire.\n\
                           Valid doar pentru formatele „TABLE” și „CSV”.\n\n\
  /?                       Afișează acest manual de utilizare.\n\n\
Exemple:\n\
  SYSTEMINFO\n\
  SYSTEMINFO /?\n\
  SYSTEMINFO /S sistem\n\
  SYSTEMINFO /S sistem /U nume\n\
  SYSTEMINFO /S sistem /U domeniu\\nume /P parolă /FO TABLE\n\
  SYSTEMINFO /S sistem /FO LIST\n\
  SYSTEMINFO /S sistem /FO CSV /NH\n"

IDS_HOST_NAME,               "Nume gazdă"
IDS_OS_NAME,                 "Nume SO"
IDS_OS_VERSION,              "Versiune SO"
IDS_BUILD,                   "Construcție"
IDS_OS_BUILD_TYPE,           "Tip construcție SO"
IDS_REG_OWNER,               "Deținător înregistrat"
IDS_REG_ORG,                 "Organizație înregistrată"
IDS_PRODUCT_ID,              "ID produs"
IDS_INST_DATE,               "Data de instalare"
IDS_UP_TIME,                 "Timp de operare"
IDS_UP_TIME_FORMAT,          "%u zile, %u ore, %u minute, %u secunde"
IDS_SYS_MANUFACTURER,        "Furnizorul sistemului"
IDS_SYS_MODEL,               "Modelul sistemului"
IDS_SYS_TYPE,                "Tipul sistemului"
IDS_PROCESSORS,              "Proceso(a)r(e)"
IDS_PROCESSORS_FORMAT,       "%u proceso(a)r(e) instalate."
IDS_BIOS_DATE,               "Dată BIOS"
IDS_BIOS_VERSION,            "Versiune BIOS"
IDS_ROS_DIR,                 "Director ReactOS"
IDS_SYS_DIR,                 "Director System"
IDS_BOOT_DEV,                "Dispozitiv de inițializare"
IDS_SYS_LOCALE,              "Localizare sistem"
IDS_INPUT_LOCALE,            "Localizare intrare"
IDS_TIME_ZONE,               "Fus orar"
IDS_TOTAL_PHYS_MEM,          "Memorie fizică totală"
IDS_AVAIL_PHISICAL_MEM,      "Memorie fizică disponibilă"
IDS_VIRT_MEM_MAX,            "Memorie virtuală: Maximă"
IDS_VIRT_MEM_AVAIL,          "Memorie virtuală: Disponibilă"
IDS_VIRT_MEM_INUSE,          "Memorie virtuală: În uz"
IDS_PAGEFILE_LOC,            "Locația(iile) fișierelor de paginare"
IDS_DOMAIN,                  "Domeniu"
IDS_NETWORK_CARDS,           "Plăci de rețea"
IDS_NETWORK_CARDS_FORMAT,    "%u instalate."
IDS_CONNECTION_NAME,         "Nume conexiune"
IDS_STATUS,                  "Stare"
IDS_MEDIA_DISCONNECTED,      "Dispozitiv deconectat"
IDS_DHCP_ENABLED,            "DHCP activat"
IDS_NO,                      "Nu"
IDS_IP_ADDRESSES,            "Adrese IP"

END
