// Japanese language resource file

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDM_MAINMENU MENU DISCARDABLE 
BEGIN
    POPUP "ファイル(&F)"
    BEGIN
        MENUITEM "閉じる(&C)",                  IDM_CLOSE
    END
    POPUP "表\示(&V)"
    BEGIN
        MENUITEM "大きいアイコン",              IDM_LARGEICONS
        MENUITEM "小さいアイコン",              IDM_SMALLICONS
        MENUITEM "一覧",                        IDM_LIST
        MENUITEM "詳細",                        IDM_DETAILS
    END
    POPUP "ヘルプ"
    BEGIN
        MENUITEM "About",                       IDM_ABOUT
    END
END

