/*
 * Top level resource file for Common Dialogs
 *
 * Copyright 1999 Bertho Stultiens
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU Lesser General Public
 * License as published by the Free Software Foundation; either
 * version 2.1 of the License, or (at your option) any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301, USA
 */

#include <windef.h>
#include <winuser.h>

#include "cdlg.h"
#include "filedlgbrowser.h"

/*
 * Everything that does not depend on language,
 * like textless bitmaps etc, go into the
 * neutral language. This will prevent them from
 * being duplicated for each language.
 */
#include "cdlg_xx.rc"

#include <reactos/manifest_dll.rc>

/*
 * Everything specific to any language goes
 * in one of the specific files.
 * Note that you can and may override resources
 * which also have a neutral version. This is to
 * get localized bitmaps for example.
 */

/* UTF-8 */
#pragma code_page(65001)

#ifdef LANGUAGE_BG_BG
    #include "lang/cdlg_Bg.rc"
#endif
#ifdef LANGUAGE_CA_ES
    #include "lang/cdlg_Ca.rc"
#endif
#ifdef LANGUAGE_CS_CZ
    #include "lang/cdlg_Cs.rc"
#endif
#ifdef LANGUAGE_DA_DK
    #include "lang/cdlg_Da.rc"
#endif
#ifdef LANGUAGE_DE_DE
    #include "lang/cdlg_De.rc"
#endif
#ifdef LANGUAGE_EL_GR
    #include "lang/cdlg_El.rc"
#endif
#ifdef LANGUAGE_EN_US
    #include "lang/cdlg_En.rc"
#endif
#ifdef LANGUAGE_EO_AA
    #include "lang/cdlg_Eo.rc"
#endif
#ifdef LANGUAGE_ES_ES
    #include "lang/cdlg_Es.rc"
#endif
#ifdef LANGUAGE_ET_EE
    #include "lang/cdlg_Et.rc"
#endif
#ifdef LANGUAGE_FI_FI
    #include "lang/cdlg_Fi.rc"
#endif
#ifdef LANGUAGE_FR_FR
    #include "lang/cdlg_Fr.rc"
#endif
#ifdef LANGUAGE_HE_IL
    #include "lang/cdlg_He.rc"
#endif
#ifdef LANGUAGE_HI_IN
    #include "lang/cdlg_Hi.rc"
#endif
#ifdef LANGUAGE_HU_HU
    #include "lang/cdlg_Hu.rc"
#endif
#ifdef LANGUAGE_ID_ID
    #include "lang/cdlg_Id.rc"
#endif
#ifdef LANGUAGE_IT_IT
    #include "lang/cdlg_It.rc"
#endif
#ifdef LANGUAGE_JA_JP
    #include "lang/cdlg_Ja.rc"
#endif
#ifdef LANGUAGE_KO_KR
    #include "lang/cdlg_Ko.rc"
#endif
#ifdef LANGUAGE_LT_LT
    #include "lang/cdlg_Lt.rc"
#endif
#ifdef LANGUAGE_NL_NL
    #include "lang/cdlg_Nl.rc"
#endif
#ifdef LANGUAGE_NO_NO
    #include "lang/cdlg_No.rc"
#endif
#ifdef LANGUAGE_PL_PL
    #include "lang/cdlg_Pl.rc"
#endif
#ifdef LANGUAGE_PT_PT
    #include "lang/cdlg_Pt.rc"
#endif
#ifdef LANGUAGE_RO_RO
    #include "lang/cdlg_Ro.rc"
#endif
#ifdef LANGUAGE_RU_RU
    #include "lang/cdlg_Ru.rc"
#endif
#ifdef LANGUAGE_SK_SK
    #include "lang/cdlg_Sk.rc"
#endif
#ifdef LANGUAGE_SL_SI
    #include "lang/cdlg_Si.rc"
#endif
#ifdef LANGUAGE_SQ_AL
    #include "lang/cdlg_Sq.rc"
#endif
#ifdef LANGUAGE_SR_SP
    #include "lang/cdlg_Sr.rc"
#endif
#ifdef LANGUAGE_SV_SE
    #include "lang/cdlg_Sv.rc"
#endif
#ifdef LANGUAGE_TH_TH
    #include "lang/cdlg_Th.rc"
#endif
#ifdef LANGUAGE_TR_TR
    #include "lang/cdlg_Tr.rc"
#endif
#ifdef LANGUAGE_UK_UA
    #include "lang/cdlg_Uk.rc"
#endif
#ifdef LANGUAGE_ZH_CN
    #include "lang/cdlg_Zh.rc"
#endif
