LANGUAGE LANG_HEBREW, SUBLANG_DEFAULT

STRINGTABLE
BEGIN
    IDS_SERVICE_START   "התחל"
    IDS_SERVICE_STOP    "עצור"
    IDS_SERVICE_PAUSE   "השהה"
    IDS_SERVICE_RESUME  "התחל מחדש"
    IDS_SERVICE_RUNNING "פועל"
    IDS_SERVICE_STOPPED "נעצר"
    IDS_SERVICE_PAUSED  "מושהה"
END
