/* 
 * PROJECT:     Service Control Manager
 * LICENSE:     GPL-2.0-or-later (https://spdx.org/licenses/GPL-2.0-or-later)
 * PURPOSE:     Chinese (Hong Kong) resource file
 * TRANSLATORS: Copyright 2021 Chan Chilung <eason066@gmail.com>
 * REFERENCES:  Chinese (Traditional) resource file
 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_HONGKONG

STRINGTABLE
BEGIN
    IDS_SERVICE_START   "開始"
    IDS_SERVICE_STOP    "停止"
    IDS_SERVICE_PAUSE   "暫停"
    IDS_SERVICE_RESUME  "繼續"
    IDS_SERVICE_RUNNING "執行中"
    IDS_SERVICE_STOPPED "已停止"
    IDS_SERVICE_PAUSED  "已暫停"
END
