/*
  PROJECT:    ReactOS Web Test Manager
  LICENSE:    GNU GPLv2 or any later version as published by the Free Software Foundation
  PURPOSE:    Stylesheet for the Compare Page
  COPYRIGHT:  Copyright 2008-2009 Colin Finck <colin@reactos.org>
*/

#legend {
	border: solid 1px black;
	display: inline-block;
	height: 16px;
	margin-bottom: 1em;
	padding: 5px;
}

#legend div {
	float: left;
	height: 15px;
	margin-right: 5px;
}

#legend #intro {
	font-weight: bold;
	padding-right: 10px;
}

#legend .box {
	border: solid 1px black;
	width: 15px;
}

#legend .desc {
	margin-right: 9px;
}

.totaltests {
	background-color: #FFFFCC !important;
}

.zero_failedtests {
	background-color: #33FF66 !important;
}

.real_failedtests {
	background-color: #FF6666 !important;
}

.todotests {
	background-color: #9999FF !important;
}

.skippedtests {
	background-color: #CCCCCC !important;
}

.diff_legend {
	background-color: #5A5A5A !important;
}

.diff {
	color: #5A5A5A;
}

#TempBlock {
	background: #5984C3;
	color: white;
	font-weight: bold;
}

#comparetable {
	clear: left;
}

#comparetable th, #TempBlock {
	cursor: move;
	padding: 3px 8px 3px 3px;
	vertical-align: bottom;
}

#comparetable th.TestSuite {
	cursor: default;
	width: 200px;
}

#comparetable td {
	border-right: solid 1px #BBBBBB;
	border-bottom: solid 1px #BBBBBB;
	padding: 3px;
}

#comparetable td.clickable {
	cursor: pointer;
}

.celltable {
	width: 215px;
}

.celltable td {
	text-align: center;
}

.celltable td.totaltests {
	font-weight: bold;
}
