/*
 * PROJECT:    PAINT for ReactOS
 * LICENSE:    LGPL
 * FILE:       base/applications/mspaint/lang/cs-CZ.rc
 * PURPOSE:    Czech Language resource file
 * TRANSLATOR: Radek Liska aka Black_Fox (radekliska at gmail dot com)
 */

LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

//IDB_FONTSTOOLBAR BITMAP "icons/fontstoolbar-cs-CZ.bmp"

ID_MENU MENU
BEGIN
    POPUP "&Soubor"
    BEGIN
        MENUITEM "&Nový\tCtrl+N", IDM_FILENEW
        MENUITEM "&Otevřít...\tCtrl+O", IDM_FILEOPEN
        MENUITEM "Uložit\tCtrl+S", IDM_FILESAVE
        MENUITEM "Uložit j&ako...", IDM_FILESAVEAS
        MENUITEM SEPARATOR
        MENUITEM "From Scanner or Camera...", IDM_FILEFROMSCANNERORCAMERA
        MENUITEM SEPARATOR
        MENUITEM "Page View", IDM_FILEPAGEVIEW
        MENUITEM "Page Setup...", IDM_FILEPAGESETUP
        MENUITEM "Print...\tCtrl+P", IDM_FILEPRINT
        MENUITEM SEPARATOR
        MENUITEM "Send...", IDM_FILESEND
        MENUITEM SEPARATOR
        MENUITEM "Nastavit jako pozadí (vedle sebe)", IDM_FILEASWALLPAPERPLANE
        MENUITEM "Nastavit jako pozadí (na střed)", IDM_FILEASWALLPAPERCENTERED
        MENUITEM "Nastavit jako pozadí (roztáhnout)", IDM_FILEASWALLPAPERSTRETCHED
        MENUITEM SEPARATOR
        MENUITEM "Most recently used file", IDM_FILEMOSTRECENTLYUSEDFILE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Ukončit\tAlt+F4", IDM_FILEEXIT
    END
    POPUP "Úpr&avy"
    BEGIN
        MENUITEM "Zpět\tCtrl+Z", IDM_EDITUNDO
        MENUITEM "Znovu\tCtrl+Y", IDM_EDITREDO
        MENUITEM SEPARATOR
        MENUITEM "Vyjmout\tCtrl+X", IDM_EDITCUT
        MENUITEM "Kopírovat\tCtrl+C", IDM_EDITCOPY
        MENUITEM "Vložit\tCtrl+V", IDM_EDITPASTE
        MENUITEM "Vymazat výběr\tDel", IDM_EDITDELETESELECTION
        MENUITEM "Invertovat výběr", IDM_EDITINVERTSELECTION
        MENUITEM "Vybrat v&še\tCtrl+A", IDM_EDITSELECTALL
        MENUITEM SEPARATOR
        MENUITEM "Kopírovat do...", IDM_EDITCOPYTO
        MENUITEM "Vložit z...", IDM_EDITPASTEFROM
    END
    POPUP "&Zobrazit"
    BEGIN
        MENUITEM "Panel nástrojů\tCtrl+T", IDM_VIEWTOOLBOX, CHECKED
        MENUITEM "Barevná paleta\tCtrl+L", IDM_VIEWCOLORPALETTE, CHECKED
        MENUITEM "Stavový řádek", IDM_VIEWSTATUSBAR, CHECKED
        MENUITEM "Format icon bar", IDM_FORMATICONBAR, CHECKED, GRAYED
        MENUITEM SEPARATOR
        POPUP "Lupa"
        BEGIN
            POPUP "Vlastní nastavení"
            BEGIN
                MENUITEM "12,5%", IDM_VIEWZOOM125
                MENUITEM "25%", IDM_VIEWZOOM25
                MENUITEM "50%", IDM_VIEWZOOM50
                MENUITEM "100%", IDM_VIEWZOOM100
                MENUITEM "200%", IDM_VIEWZOOM200
                MENUITEM "400%", IDM_VIEWZOOM400
                MENUITEM "800%", IDM_VIEWZOOM800
            END
            MENUITEM SEPARATOR
            MENUITEM "Zobrazit mřížku\tCtrl+G", IDM_VIEWSHOWGRID
            MENUITEM "Zobrazit miniaturu", IDM_VIEWSHOWMINIATURE
        END
        MENUITEM "Celá obrazovka\tCtrl+F", IDM_VIEWFULLSCREEN
    END
    POPUP "&Obrázek"
    BEGIN
        MENUITEM "Překlopit nebo otočit...\tCtrl+R", IDM_IMAGEROTATEMIRROR
        MENUITEM "Stretch/Skew...\tCtrl+W", IDM_IMAGESTRETCHSKEW
        MENUITEM "Oříznout", IDM_IMAGECROP
        MENUITEM "Inverovat barvy\tCtrl+I", IDM_IMAGEINVERTCOLORS
        MENUITEM "Atributy...\tCtrl+E", IDM_IMAGEATTRIBUTES
        MENUITEM "Vymazat obrázek", IDM_IMAGEDELETEIMAGE
        MENUITEM "Kreslit neprůhledně", IDM_IMAGEDRAWOPAQUE
    END
    POPUP "&Barvy"
    BEGIN
        MENUITEM "Upravit paletu...", IDM_COLORSEDITPALETTE
        MENUITEM SEPARATOR
        MENUITEM "Modern palette", IDM_COLORSMODERNPALETTE
        MENUITEM "Old palette", IDM_COLORSOLDPALETTE
    END
    POPUP "&Nápověda"
    BEGIN
        MENUITEM "Témata nápovědy", IDM_HELPHELPTOPICS
        MENUITEM SEPARATOR
        MENUITEM "&O programu...", IDM_HELPINFO
    END
END

ID_ACCELERATORS ACCELERATORS
BEGIN
    "^N", IDM_FILENEW
    "^O", IDM_FILEOPEN
    "^S", IDM_FILESAVE
    "^Z", IDM_EDITUNDO
    "^Y", IDM_EDITREDO
    "^X", IDM_EDITCUT
    "^C", IDM_EDITCOPY
    "^V", IDM_EDITPASTE
    VK_DELETE, IDM_EDITDELETESELECTION, VIRTKEY
    "^A", IDM_EDITSELECTALL
    "^T", IDM_VIEWTOOLBOX
    "^L", IDM_VIEWCOLORPALETTE
    "^G", IDM_VIEWSHOWGRID
    "^F", IDM_VIEWFULLSCREEN
    "^R", IDM_IMAGEROTATEMIRROR
    "^W", IDM_IMAGESTRETCHSKEW
    "^I", IDM_IMAGEINVERTCOLORS
    "^E", IDM_IMAGEATTRIBUTES
    "N", IDM_IMAGEDELETEIMAGE, CONTROL, SHIFT, VIRTKEY
END

IDD_MIRRORROTATE DIALOGEX 100, 100, 180, 100
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Překlopit nebo otočit"
BEGIN
    GROUPBOX "Překlopit nebo otočit", IDD_MIRRORROTATEGROUP, 6, 6, 112, 86
    AUTORADIOBUTTON "Překlopit vodorovně", IDD_MIRRORROTATERB1, 12, 18, 100, 10, WS_GROUP
    AUTORADIOBUTTON "Překlopit svisle", IDD_MIRRORROTATERB2, 12, 30, 100, 10
    AUTORADIOBUTTON "Otočit o úhel", IDD_MIRRORROTATERB3, 12, 42, 100, 10
    AUTORADIOBUTTON "90°", IDD_MIRRORROTATERB4, 42, 54, 50, 10, WS_GROUP | WS_DISABLED
    AUTORADIOBUTTON "180°", IDD_MIRRORROTATERB5, 42, 66, 50, 10, WS_DISABLED
    AUTORADIOBUTTON "270°", IDD_MIRRORROTATERB6, 42, 78, 50, 10, WS_DISABLED
    DEFPUSHBUTTON "OK", IDOK, 125, 8, 48, 14
    PUSHBUTTON "Storno", IDCANCEL, 125, 24, 48, 14
END

IDD_ATTRIBUTES DIALOGEX 100, 100, 225, 120
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Atributy"
BEGIN
    EDITTEXT IDD_ATTRIBUTESEDIT1, 48, 40, 35, 12
    EDITTEXT IDD_ATTRIBUTESEDIT2, 128, 40, 35, 12
    LTEXT "Šířka:", IDD_ATTRIBUTESTEXT1, 10, 40, 35, 10
    LTEXT "Výška:", IDD_ATTRIBUTESTEXT2, 90, 40, 35, 10
    LTEXT "Datum změny:", IDD_ATTRIBUTESTEXT3, 10, 5, 60, 10
    LTEXT "Velikost souboru:", IDD_ATTRIBUTESTEXT4, 10, 15, 60, 10
    LTEXT "Rozlišení:", IDD_ATTRIBUTESTEXT5, 10, 25, 60, 10
    LTEXT "Nedostupné", IDD_ATTRIBUTESTEXT6, 60, 5, 90, 10
    LTEXT "Nedostupné", IDD_ATTRIBUTESTEXT7, 60, 15, 90, 10
    LTEXT "Nedostupné", IDD_ATTRIBUTESTEXT8, 60, 25, 90, 10
    GROUPBOX "Jednotka", IDD_ATTRIBUTESGROUP1, 6, 57, 158, 27
    AUTORADIOBUTTON "Palce", IDD_ATTRIBUTESRB1, 12, 69, 45, 10, WS_GROUP
    AUTORADIOBUTTON "Centimetry", IDD_ATTRIBUTESRB2, 62, 69, 45, 10
    AUTORADIOBUTTON "Pixely", IDD_ATTRIBUTESRB3, 112, 69, 45, 10
    GROUPBOX "Barvy", IDD_ATTRIBUTESGROUP2, 6, 88, 158, 27
    AUTORADIOBUTTON "Černobílé", IDD_ATTRIBUTESRB4, 12, 100, 70, 10, WS_GROUP
    AUTORADIOBUTTON "Barvy", IDD_ATTRIBUTESRB5, 92, 100, 35, 10
    DEFPUSHBUTTON "OK", IDOK, 170, 8, 48, 14
    PUSHBUTTON "Storno", IDCANCEL, 170, 24, 48, 14
    PUSHBUTTON "Výchozí", IDD_ATTRIBUTESSTANDARD, 170, 40, 48, 14
END

IDD_STRETCHSKEW DIALOGEX 100, 100, 225, 150
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Roztáhnout a zkosit"
BEGIN
    GROUPBOX "Roztáhnout", IDD_STRETCHSKEWGROUPSTRETCH, 6, 6, 158, 66
    ICON IDI_HORZSTRETCH, IDD_STRETCHSKEWICONHSTRETCH, 12, 18, 32, 32
    LTEXT "Vodorovně:", IDD_STRETCHSKEWTEXTHSTRETCH, 45, 24, 40, 10
    EDITTEXT IDD_STRETCHSKEWEDITHSTRETCH, 90, 23, 32, 12
    LTEXT "%", IDD_STRETCHSKEWTEXTHPERCENT, 125, 24, 15, 10
    ICON IDI_VERTSTRETCH, IDD_STRETCHSKEWICONVSTRETCH, 12, 43, 32, 32
    LTEXT "Svisle:", IDD_STRETCHSKEWTEXTVSTRETCH, 45, 49, 40, 10
    EDITTEXT IDD_STRETCHSKEWEDITVSTRETCH, 90, 48, 32, 12
    LTEXT "%", IDD_STRETCHSKEWTEXTVPERCENT, 125, 49, 15, 10
    GROUPBOX "Zkosit", IDD_STRETCHSKEWGROUPSKEW, 6, 76, 158, 66
    ICON IDI_HORZSKEW, IDD_STRETCHSKEWICONHSKEW, 12, 88, 32, 32
    LTEXT "Vodorovně:", IDD_STRETCHSKEWTEXTHSKEW, 45, 94, 40, 10
    EDITTEXT IDD_STRETCHSKEWEDITHSKEW, 90, 93, 32, 12
    LTEXT "stupně", IDD_STRETCHSKEWTEXTHDEG, 125, 94, 30, 10
    ICON IDI_VERTSKEW, IDD_STRETCHSKEWICONVSKEW, 12, 113, 32, 32
    LTEXT "Svisle:", IDD_STRETCHSKEWTEXTVSKEW, 45, 119, 40, 10
    EDITTEXT IDD_STRETCHSKEWEDITVSKEW, 90, 118, 32, 12
    LTEXT "stupně", IDD_STRETCHSKEWTEXTVDEG, 125, 119, 30, 10
    DEFPUSHBUTTON "OK", IDOK, 170, 8, 48, 14
    PUSHBUTTON "Storno", IDCANCEL, 170, 24, 48, 14
END

IDD_FONTS DIALOG 0, 0, 225, 25
CAPTION "Fonts"
STYLE DS_CENTER | DS_MODALFRAME | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE WS_EX_TOOLWINDOW
FONT 8, "MS Shell Dlg"
BEGIN
    COMBOBOX IDD_FONTSNAMES, 5, 5, 110, 200, CBS_HASSTRINGS | CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | CBS_OWNERDRAWFIXED | WS_VSCROLL | WS_TABSTOP
    COMBOBOX IDD_FONTSSIZES, 120, 5, 35, 250, CBS_HASSTRINGS | CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    CONTROL "", IDD_FONTSTOOLBAR, "ToolbarWindow32", TBSTYLE_TOOLTIPS | CCS_NODIVIDER | CCS_NOPARENTALIGN | CCS_NOMOVEY, 160, 5, 60, 20
END

STRINGTABLE
BEGIN
    IDS_PROGRAMNAME "Malování"
    IDS_WINDOWTITLE "%s - Malování"
    IDS_INFOTITLE "ReactOS Malování"
    IDS_INFOTEXT "Dostupné pod licencí GNU Lesser General Public License (LGPL, viz. www.gnu.org)"
    IDS_SAVEPROMPTTEXT "Chcete uložit provedené změny v %s?"
    IDS_DEFAULTFILENAME "Bez názvu"
    IDS_MINIATURETITLE "Miniatura"
    IDS_TOOLTIP1 "Volný výběr"
    IDS_TOOLTIP2 "Výběr"
    IDS_TOOLTIP3 "Guma"
    IDS_TOOLTIP4 "Vyplnit barvou"
    IDS_TOOLTIP5 "Zvolit barvu"
    IDS_TOOLTIP6 "Lupa"
    IDS_TOOLTIP7 "Tužka"
    IDS_TOOLTIP8 "Štětec"
    IDS_TOOLTIP9 "Sprej"
    IDS_TOOLTIP10 "Text"
    IDS_TOOLTIP11 "Čára"
    IDS_TOOLTIP12 "Beziérova křivka"
    IDS_TOOLTIP13 "Obdélník"
    IDS_TOOLTIP14 "Polygon"
    IDS_TOOLTIP15 "Elipsa"
    IDS_TOOLTIP16 "Zaoblený obdélník"
    IDS_ALLFILES "Všechny soubory"
    IDS_ALLPICTUREFILES "All Picture Files"
    IDS_FILESIZE "%d bajtů"
    IDS_PRINTRES "%d x %d pixelů na metr"
    IDS_INTNUMBERS "Zadávejte pouze celá čísla!"
    IDS_PERCENTAGE "Měřítko musí být mezi 1 a 500."
    IDS_ANGLE "Úhel musí být -89 a 89."
    IDS_LOADERRORTEXT "Soubor %s nemohl být načten."
    IDS_ENLARGEPROMPTTEXT "Obrázek ve schránce je větší než bitmapa.\nChcete bitmapu zvětšit?"
    IDS_BOLD "Bold"
    IDS_ITALIC "Italic"
    IDS_UNDERLINE "Underline"
    IDS_VERTICAL "Vertical"
END
