/*
 * PROJECT:     PAINT for ReactOS
 * LICENSE:     GPL-2.0+ (https://spdx.org/licenses/GPL-2.0+)
 * FILE:        base/applications/mspaint/lang/et-EE.rc
 * PURPOSE:     Estonian Language resource file
 * TRANSLATOR:  Joann Mõndresku (joannmondresku at gmail dot com)
 */

LANGUAGE LANG_ESTONIAN, SUBLANG_DEFAULT

ID_MENU MENU
BEGIN
    POPUP "&Fail"
    BEGIN
        MENUITEM "&Uus\tCtrl+N", IDM_FILENEW
        MENUITEM "&Ava...\tCtrl+O", IDM_FILEOPEN
        MENUITEM "&Salvesta\tCtrl+S", IDM_FILESAVE
        MENUITEM "Salvesta &nimega...", IDM_FILESAVEAS
        MENUITEM SEPARATOR
        MENUITEM "Skännerist või kaamerast...", IDM_FILEFROMSCANNERORCAMERA
        MENUITEM SEPARATOR
        MENUITEM "Lehe vaade", IDM_FILEPAGEVIEW
        MENUITEM "Lehe ülesehitus...", IDM_FILEPAGESETUP
        MENUITEM "&Prindi...\tCtrl+P", IDM_FILEPRINT
        MENUITEM SEPARATOR
        MENUITEM "Saada...", IDM_FILESEND
        MENUITEM SEPARATOR
        MENUITEM "Määra taustapildiks (Paanitud)", IDM_FILEASWALLPAPERPLANE
        MENUITEM "Määra taustapildiks (Keskele)", IDM_FILEASWALLPAPERCENTERED
        MENUITEM "Määra taustapildiks (Venitatud)", IDM_FILEASWALLPAPERSTRETCHED
        MENUITEM SEPARATOR
        MENUITEM "Kõige hiljutisemalt kasutatud fail", IDM_FILEMOSTRECENTLYUSEDFILE, GRAYED
        MENUITEM SEPARATOR
        MENUITEM "&Välju\tAlt+F4", IDM_FILEEXIT
    END
    POPUP "&Redigeeri"
    BEGIN
        MENUITEM "&Võta tagasi\tCtrl+Z", IDM_EDITUNDO
        MENUITEM "&Tee uuesti\tCtrl+Y", IDM_EDITREDO
        MENUITEM SEPARATOR
        MENUITEM "&Lõika\tCtrl+X", IDM_EDITCUT
        MENUITEM "&Kopeeri\tCtrl+C", IDM_EDITCOPY
        MENUITEM "K&leebi\tCtrl+V", IDM_EDITPASTE
        MENUITEM "Kustuta &valik\tDel", IDM_EDITDELETESELECTION
        MENUITEM "&Pööra valikut", IDM_EDITINVERTSELECTION
        MENUITEM "Vali k&õik\tCtrl+A", IDM_EDITSELECTALL
        MENUITEM SEPARATOR
        MENUITEM "Kopee&ri asukohta...", IDM_EDITCOPYTO
        MENUITEM "Klee&bi asukohast...", IDM_EDITPASTEFROM
    END
    POPUP "&Vaade"
    BEGIN
        MENUITEM "&Tööriista kast\tCtrl+T", IDM_VIEWTOOLBOX, CHECKED
        MENUITEM "&Värvipalett\tCtrl+L", IDM_VIEWCOLORPALETTE, CHECKED
        MENUITEM "&Olekuriba", IDM_VIEWSTATUSBAR, CHECKED
        MENUITEM "Teksti t&ööriistariba", IDM_FORMATICONBAR, CHECKED, GRAYED
        MENUITEM SEPARATOR
        POPUP "&Suum"
        BEGIN
            POPUP "&Kasutaja määratud"
            BEGIN
                MENUITEM "12.5%", IDM_VIEWZOOM125
                MENUITEM "25%", IDM_VIEWZOOM25
                MENUITEM "50%", IDM_VIEWZOOM50
                MENUITEM "100%", IDM_VIEWZOOM100
                MENUITEM "200%", IDM_VIEWZOOM200
                MENUITEM "400%", IDM_VIEWZOOM400
                MENUITEM "800%", IDM_VIEWZOOM800
            END
            MENUITEM SEPARATOR
            MENUITEM "Näita v&õrgustiku\tCtrl+G", IDM_VIEWSHOWGRID
            MENUITEM "Näita miniatuurset", IDM_VIEWSHOWMINIATURE
        END
        MENUITEM "T&äisekraan\tCtrl+F", IDM_VIEWFULLSCREEN
    END
    POPUP "&Pilt"
    BEGIN
        MENUITEM "Pööra/&Peegelda...\tCtrl+R", IDM_IMAGEROTATEMIRROR
        MENUITEM "&Venita/Kalluta...\tCtrl+W", IDM_IMAGESTRETCHSKEW
        MENUITEM "&Kärbi", IDM_IMAGECROP
        MENUITEM "&Pööra värvid\tCtrl+I", IDM_IMAGEINVERTCOLORS
        MENUITEM "&Atribuudid...\tCtrl+E", IDM_IMAGEATTRIBUTES
        MENUITEM "Kustuta pilt\tCtrl+Shft+N", IDM_IMAGEDELETEIMAGE
        MENUITEM "&Joonista läbipaistmatult", IDM_IMAGEDRAWOPAQUE
    END
    POPUP "&Värvid"
    BEGIN
        MENUITEM "&Muuda paletti...", IDM_COLORSEDITPALETTE
        MENUITEM SEPARATOR
        MENUITEM "Modernne palett", IDM_COLORSMODERNPALETTE
        MENUITEM "Vana palett", IDM_COLORSOLDPALETTE
    END
    POPUP "&Abi"
    BEGIN
        MENUITEM "&Abi Teemad", IDM_HELPHELPTOPICS
        MENUITEM SEPARATOR
        MENUITEM "&Info", IDM_HELPINFO
    END
END

ID_ACCELERATORS ACCELERATORS
BEGIN
    "^N", IDM_FILENEW
    "^O", IDM_FILEOPEN
    "^S", IDM_FILESAVE
    "^Z", IDM_EDITUNDO
    "^Y", IDM_EDITREDO
    "^X", IDM_EDITCUT
    "^C", IDM_EDITCOPY
    "^V", IDM_EDITPASTE
    VK_DELETE, IDM_EDITDELETESELECTION, VIRTKEY
    "^A", IDM_EDITSELECTALL
    "^T", IDM_VIEWTOOLBOX
    "^L", IDM_VIEWCOLORPALETTE
    "^G", IDM_VIEWSHOWGRID
    "^F", IDM_VIEWFULLSCREEN
    "^R", IDM_IMAGEROTATEMIRROR
    "^W", IDM_IMAGESTRETCHSKEW
    "^I", IDM_IMAGEINVERTCOLORS
    "^E", IDM_IMAGEATTRIBUTES
    "N", IDM_IMAGEDELETEIMAGE, CONTROL, SHIFT, VIRTKEY
END

IDD_MIRRORROTATE DIALOGEX 100, 100, 180, 100
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Pööra ja peegelda pilti"
BEGIN
    GROUPBOX "Pööra või peegelad", IDD_MIRRORROTATEGROUP, 6, 6, 112, 86
    AUTORADIOBUTTON "Peegelda &horisontaalselt", IDD_MIRRORROTATERB1, 12, 18, 100, 10, WS_GROUP
    AUTORADIOBUTTON "Peegelda &vertikaalselt", IDD_MIRRORROTATERB2, 12, 30, 100, 10
    AUTORADIOBUTTON "&Pööra kraadiga", IDD_MIRRORROTATERB3, 12, 42, 100, 10
    AUTORADIOBUTTON "&90°", IDD_MIRRORROTATERB4, 42, 54, 50, 10, WS_GROUP | WS_DISABLED
    AUTORADIOBUTTON "&180°", IDD_MIRRORROTATERB5, 42, 66, 50, 10, WS_DISABLED
    AUTORADIOBUTTON "&270°", IDD_MIRRORROTATERB6, 42, 78, 50, 10, WS_DISABLED
    DEFPUSHBUTTON "OK", IDOK, 125, 8, 48, 14
    PUSHBUTTON "Tühista", IDCANCEL, 125, 24, 48, 14
END

IDD_ATTRIBUTES DIALOGEX 100, 100, 225, 120
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Atribuudid"
BEGIN
    EDITTEXT IDD_ATTRIBUTESEDIT1, 48, 40, 35, 12
    EDITTEXT IDD_ATTRIBUTESEDIT2, 128, 40, 35, 12
    LTEXT "&Laius:", IDD_ATTRIBUTESTEXT1, 10, 40, 35, 10
    LTEXT "&Pikkus:", IDD_ATTRIBUTESTEXT2, 90, 40, 35, 10
    LTEXT "Faili &kuupäev:", IDD_ATTRIBUTESTEXT3, 10, 5, 60, 10
    LTEXT "Faili &suurus:", IDD_ATTRIBUTESTEXT4, 10, 15, 60, 10
    LTEXT "&Resolutsioon:", IDD_ATTRIBUTESTEXT5, 10, 25, 60, 10
    LTEXT "Pole saadaval", IDD_ATTRIBUTESTEXT6, 60, 5, 90, 10
    LTEXT "Pole saadaval", IDD_ATTRIBUTESTEXT7, 60, 15, 90, 10
    LTEXT "Pole saadaval", IDD_ATTRIBUTESTEXT8, 60, 25, 90, 10
    GROUPBOX "Ühikud", IDD_ATTRIBUTESGROUP1, 6, 57, 158, 27
    AUTORADIOBUTTON "&Tollid", IDD_ATTRIBUTESRB1, 12, 69, 45, 10, WS_GROUP
    AUTORADIOBUTTON "c&m", IDD_ATTRIBUTESRB2, 62, 69, 45, 10
    AUTORADIOBUTTON "Piksl&id", IDD_ATTRIBUTESRB3, 112, 69, 45, 10
    GROUPBOX "Värvid", IDD_ATTRIBUTESGROUP2, 6, 88, 158, 27
    AUTORADIOBUTTON "&Mustvalge", IDD_ATTRIBUTESRB4, 12, 100, 70, 10, WS_GROUP
    AUTORADIOBUTTON "&Värvid", IDD_ATTRIBUTESRB5, 92, 100, 35, 10
    DEFPUSHBUTTON "OK", IDOK, 170, 8, 48, 14
    PUSHBUTTON "Tühista", IDCANCEL, 170, 24, 48, 14
    PUSHBUTTON "Vaikimisi", IDD_ATTRIBUTESSTANDARD, 170, 40, 48, 14
END

IDD_STRETCHSKEW DIALOGEX 100, 100, 225, 150
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg"
CAPTION "Venita ja kalluta pilti"
BEGIN
    GROUPBOX "Venita", IDD_STRETCHSKEWGROUPSTRETCH, 6, 6, 158, 66
    ICON IDI_HORZSTRETCH, IDD_STRETCHSKEWICONHSTRETCH, 12, 18, 32, 32
    LTEXT "Horisontaalselt:", IDD_STRETCHSKEWTEXTHSTRETCH, 45, 24, 40, 10
    EDITTEXT IDD_STRETCHSKEWEDITHSTRETCH, 90, 23, 32, 12
    LTEXT "%", IDD_STRETCHSKEWTEXTHPERCENT, 125, 24, 15, 10
    ICON IDI_VERTSTRETCH, IDD_STRETCHSKEWICONVSTRETCH, 12, 43, 32, 32
    LTEXT "Vertikaalselt:", IDD_STRETCHSKEWTEXTVSTRETCH, 45, 49, 40, 10
    EDITTEXT IDD_STRETCHSKEWEDITVSTRETCH, 90, 48, 32, 12
    LTEXT "%", IDD_STRETCHSKEWTEXTVPERCENT, 125, 49, 15, 10
    GROUPBOX "Kalluta", IDD_STRETCHSKEWGROUPSKEW, 6, 76, 158, 66
    ICON IDI_HORZSKEW, IDD_STRETCHSKEWICONHSKEW, 12, 88, 32, 32
    LTEXT "Horisontaalselt:", IDD_STRETCHSKEWTEXTHSKEW, 45, 94, 40, 10
    EDITTEXT IDD_STRETCHSKEWEDITHSKEW, 90, 93, 32, 12
    LTEXT "kraadi", IDD_STRETCHSKEWTEXTHDEG, 125, 94, 30, 10
    ICON IDI_VERTSKEW, IDD_STRETCHSKEWICONVSKEW, 12, 113, 32, 32
    LTEXT "Vertikaalselt:", IDD_STRETCHSKEWTEXTVSKEW, 45, 119, 40, 10
    EDITTEXT IDD_STRETCHSKEWEDITVSKEW, 90, 118, 32, 12
    LTEXT "kraadi", IDD_STRETCHSKEWTEXTVDEG, 125, 119, 30, 10
    DEFPUSHBUTTON "OK", IDOK, 170, 8, 48, 14
    PUSHBUTTON "Tühista", IDCANCEL, 170, 24, 48, 14
END

STRINGTABLE
BEGIN
    IDS_PROGRAMNAME "Paint"
    IDS_WINDOWTITLE "%s - Paint"
    IDS_INFOTITLE "Paint ReactOS'ile"
    IDS_INFOTEXT "Paint ReactOS'ile on saadaval ""GNU Lesser General Public License"" litsentsi all (LGPL, vaata www.gnu.org)"
    IDS_SAVEPROMPTTEXT "Kas soovid salvesta muudatusi failis %s?"
    IDS_DEFAULTFILENAME "Nimetu.bmp"
    IDS_MINIATURETITLE "Miniatuur"
    IDS_TOOLTIP1 "Vaba valik"
    IDS_TOOLTIP2 "Valik"
    IDS_TOOLTIP3 "Kustukumm"
    IDS_TOOLTIP4 "Täida värviga"
    IDS_TOOLTIP5 "Vali värv"
    IDS_TOOLTIP6 "Suum"
    IDS_TOOLTIP7 "Pliiats"
    IDS_TOOLTIP8 "Pintsel"
    IDS_TOOLTIP9 "Õhupintsel"
    IDS_TOOLTIP10 "Tekst"
    IDS_TOOLTIP11 "Joon"
    IDS_TOOLTIP12 "Kumerjoon"
    IDS_TOOLTIP13 "Ristkülik"
    IDS_TOOLTIP14 "Hulknurk"
    IDS_TOOLTIP15 "Ellips"
    IDS_TOOLTIP16 "Ümardatud ristkülik"
    IDS_ALLFILES "Kõik failid"
    IDS_ALLPICTUREFILES "Kõik Pildifailid"
    IDS_FILESIZE "%d baiti"
    IDS_PRINTRES "%d x %d pikslit meetri kohta"
    IDS_INTNUMBERS "Palun sisesta ainult terviklike numbreid!"
    IDS_PERCENTAGE "Protsent peab 1 ja 500 vahemikus olema."
    IDS_ANGLE "Nurk peab -89 ja 89 vahemikus olema."
    IDS_LOADERRORTEXT "Faili %s ei suudetud laadida."
    IDS_ENLARGEPROMPTTEXT "Pilt lõikelaual on suurem kui digitaalkujutis.\nKas soovid digitaalkujutist suurendada?"
END
