/*
** Diff rendering
*/
table.diff, td.diff-otitle, td.diff-ntitle {
	background-color: white;
}
td.diff-otitle,
td.diff-ntitle {
	text-align: center;
}
td.diff-marker {
	text-align: right;
}
.rtl td.diff-marker {
	text-align: left;
}
td.diff-lineno {
	font-weight: bold;
}
td.diff-addedline {
	background: #cfc;
	font-size: smaller;
}
td.diff-deletedline {
	background: #ffa;
	font-size: smaller;
}
td.diff-context {
	background: #eee;
	font-size: smaller;
}
.diffchange {
	color: red;
	font-weight: bold;
	text-decoration: none;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
}

table.diff {
	border: none;
	width: 98%;
	border-spacing: 4px;
	
	/* Fixed layout is required to ensure that cells containing long URLs
	   don't widen in Safari, Internet Explorer, or iCab */
	table-layout: fixed;
}
table.diff td {
	padding: 0;
}
table.diff col.diff-marker {
	width: 2%;
}
table.diff col.diff-content {
	width: 48%;
}
table.diff td div {
	/* Force-wrap very long lines such as URLs or page-widening char strings.
	   CSS 3 draft..., but Gecko doesn't support it yet:
	   https://bugzilla.mozilla.org/show_bug.cgi?id=99457 */
	word-wrap: break-word;
	
	/* As fallback, scrollbars will be added for very wide cells
	   instead of text overflowing or widening */
	overflow: auto;
	
	/* The above rule breaks on very old versions of Mozilla due
	   to a bug which collapses the table cells to a single line.
	   
	   In Mozilla 1.1 and below with JavaScript enabled, the rule
	   will be overridden with this by diff.js; wide cell contents
	   then spill horizontally without widening the rest of the
	   table: */
	/* overflow: visible; */
}
