LANGUAGE LANG_NORWEGIAN, SUBLANG_NEUTRAL

STRINGTABLE
BEGIN
    STRING_CHCP_HELP "Viser eller velger aktive tegntabellnummer.\n\n\
CHCP [nnn]\n\n\
  nnn   Spesifisere aktive tegntabellnummer.\n\n\
Skriv CHCP uten parametrer for å vise aktiv tegntabellnummer.\n"
    STRING_CHCP_ERROR1 "Aktiv tegntabell: %u\n"
    STRING_CHCP_ERROR4 "Ugyldig tegntabell\n"
    STRING_ERROR_INVALID_PARAM_FORMAT "Ugyldig parameter format - %s\n"
END
