LANGUAGE LANG_NORWEGIAN, SUBLANG_NORWEGIAN_BOKMAL

STRINGTABLE
{
    STRING_INVPARMS, "Ugyldig antall parametere; bruk «xcopy /?» for hjelp\n"
    STRING_INVPARM,  "Ugyldig parameter «%1»; bruk «xcopy /?» for hjelp\n"
    STRING_PAUSE,    "Trykk Enter for å begynne å kopiere\n"
    STRING_SIMCOPY,  "%1!d! fil(er) ville blitt kopiert\n"
    STRING_COPY,     "%1!d! fil(er) kopiert\n"
    STRING_QISDIR,   "Eer «%1» et filnevn eller katalog\n\
                     i målet?\n\
                     (F - Fil, K - Katalog)\n"
    STRING_SRCPROMPT,"%1? (Ja|Nei)\n"
    STRING_OVERWRITE,"Skrive over «%1»? (Ja|Nei|Alle)\n"
    STRING_COPYFAIL, "Klarte ikke kopiere «%1» til «%2»; feilet med r/c %3!d!\n"
    STRING_OPENFAIL, "Klarte ikke åpne «%1»\n"
    STRING_READFAIL, "Klarte ikke lese «%1»\n"
    STRING_YES_CHAR, "J"
    STRING_NO_CHAR,  "N"
    STRING_ALL_CHAR, "A"
    STRING_FILE_CHAR,"F"
    STRING_DIR_CHAR, "K"

    STRING_HELP,
"XCOPY - Kopierer filer eller katalogtre til en målplassering\n\
\n\
Syntax:\n\
XCOPY kilde [mål] [/I] [/S] [/Q] [/F] [/L] [/W] [/T] [/N] [/U]\n\
\t     [/R] [/H] [/C] [/P] [/A] [/M] [/E] [/D] [/Y] [/-Y] [/K]\n\
\n\
Where:\n\
\n\
[/I]  Anta at målet er en katalog hvis målet ikke finnes og 2 eller\n\
\tflere filer blir kopiert\n\
[/S]  Kopier kataloger og underkataloger\n\
[/E]  Kopier kataloger og underkataloger, ta med tomme kataloger\n\
[/Q]  Stille modus: ikke vis filnavn under kopiering\n\
[/F]  Fil hele kilde- og målnavn under kopiering\n\
[/L]  Simuler operasjonen; vis bare hva som ville blitt kopiert\n\
[/W]  Spør for koperingen starter\n\
[/T]  Lag tom  katalogstruktur; ikke kopier filer\n\
[/Y]  Ikke spør når filer skal overskrives\n\
[/-Y] Spør før filer skal overskrives\n\
[/P]  Spør for hver kildefil som skal kopieres\n\
[/N]  Kopier som korte filnavn (8.3 tegn)\n\
[/U]  Bare kopier filer som allerede finnes i målet\n\
[/R]  Skriv over filer som er skrivebeskyttet\n\
[/H]  Kopier skjulte filer og systemfiler\n\
[/C]  Fortsett selv om det oppstår feil under kopieringen\n\
[/A]  Ikke kopier filer som er markert som arkiv\n\
[/M]  Bare kopier filer som er markert som akriv; fjerner denne merkingen\n\
[/K]  Copy file attributes, without this attributes are not preserved.\n\
[/D | /D:m-d-å] Kopier nye filer eller de som er endret etter\n\
\t\tden oppgitte datoen.\n\
\t\tHvis ingen dato oppgis kopieres bare de filene som er\n\
\t\teldre i målet enn i kilden\n\n"

}
