/* Simplified Chinese translation by Henry Tang Ih 2016 (henrytang2@hotmail.com) */
/* Improved by Wu Haotian <rigoligo03@gmail.com> 2021 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

STRINGTABLE
{
    STRING_INVPARMS, "无效的参数数目 - 使用 xcopy /? 查看帮助\n"
    STRING_INVPARM,  "无效的参数“%1” - 使用 xcopy /? 查看帮助\n"
    STRING_PAUSE,    "请按 <Enter> 开始复制\n"
    STRING_SIMCOPY,  "%1!d! 个文件将被复制\n"
    STRING_COPY,     "%1!d! 个文件已复制\n"
    STRING_QISDIR,   "“%1” 在目标系统上是文件名或\n\
                     目录吗？\n\
                     （F - 文件，D - 目录）\n"
    STRING_SRCPROMPT,"%1? (Yes|No)\n"
    STRING_OVERWRITE,"要覆盖 %1 吗？ (Yes|No|All)\n"
    STRING_COPYFAIL, "从“%1”到“%2”复制失败， r/c %3!d!\n"
    STRING_OPENFAIL, "无法打开“%1”\n"
    STRING_READFAIL, "读取“%1”时失败\n"
    STRING_YES_CHAR, "Y"
    STRING_NO_CHAR,  "N"
    STRING_ALL_CHAR, "A"
    STRING_FILE_CHAR,"F"
    STRING_DIR_CHAR, "D"

    STRING_HELP,
"XCOPY - 复制源文件或目录树到目标。\n\
\n\
语法：\n\
XCOPY 源 [目标] [/I] [/S] [/Q] [/F] [/L] [/W] [/T] [/N] [/U]\n\
\t     [/R] [/H] [/C] [/P] [/A] [/M] [/E] [/D] [/Y] [/-Y] [/K]\n\
\n\
详细说明：\n\
\n\
[/I]  如果目标不存在并且复制超过两个或更多文件则\n\
\t假设目标是个目录。\n\
[/S]  复制目录和子目录。\n\
[/E]  复制目录和子目录，包括任何空目录。\n\
[/Q]  复制时不列出名字，即静默复制。\n\
[/F]  在复制是显示完整的源和目标名称。\n\
[/L]  模拟操作，显示将被复制的名字。\n\
[/W]  在开始复制操作之前提示。\n\
[/T]  创建空的目录结构，但不复制文件。\n\
[/Y]  禁止提示覆盖文件。\n\
[/-Y] 启用提示覆盖文件。\n\
[/P]  在每个源文件在复制前提示。\n\
[/N]  复制使用短名字。\n\
[/U]  只复制目标中已经存在的文件。\n\
[/R]  覆盖所有只读文件。\n\
[/H]  复制包括隐藏文件和系统文件。\n\
[/C]  复制时发生错误后依然继续。\n\
[/A]  仅复制具有存档属性设置的文件。\n\
[/M]  仅复制具有存档属性设置的文件，并删除\n\
\t存档属性。\n\
[/K]  复制文件属性。不指定该选项则不保留属性。\n\
[/D | /D:m-d-y] 复制指定日期后的新文件或新修改的文件。\n\
\t\t如果指定没有日期，则只复制目标中比源中旧的文件。\n\n"

}
