/*
 * PURPOSE:     Simplified Chinese Language resource file
 * TRANSLATORS: zhangbing <e_zb@21cn.com, ezb@mail.gywb.cn>
 *              Li Keqing <auroracloud4096@gmail.com>
 *              Luo Yufan <njlyf2011@hotmail.com>
 */

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

IDD_ABOUTBOX DIALOGEX 0, 0, 229, 98
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "关于系统配置程序"
FONT 9, "宋体"
BEGIN
    ICON            IDI_APPICON, IDC_STATIC, 14, 14, 20, 20
    LTEXT           "系统配置程序\n版本 1.0", IDC_STATIC, 42, 14, 182, 17, SS_NOPREFIX
//  "Copyright (C) ReactOS Team 2005-"COPYRIGHT_YEAR"\n"
    LTEXT           "版权所有 (C) ReactOS Team 2005-2015\n\
Christoph von Wittich (Christoph@ApiViewer.de)\n\
Gregor Schneider (Gregor.Schneider@reactos.org)\n\
Hermès BÉLUSCA - MAÏTO (hermes.belusca@sfr.fr)",
                    IDC_STATIC, 41, 34, 183, 34
    DEFPUSHBUTTON   "确定", IDOK, 174, 79, 50, 14, WS_GROUP
END

IDD_GENERAL_PAGE DIALOGEX 0, 0, 366, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CAPTION
CAPTION "一般"
FONT 9, "宋体"
BEGIN
    CONTROL         "正常启动(&N)", IDC_RB_NORMAL_STARTUP, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 15, 18, 332, 10
    CONTROL         "诊断启动(&D)", IDC_RB_DIAGNOSTIC_STARTUP, "Button", BS_AUTORADIOBUTTON, 15, 46, 332, 10
    CONTROL         "有选择的启动(&E)", IDC_RB_SELECTIVE_STARTUP, "Button", BS_AUTORADIOBUTTON, 15, 73, 332, 10
    CONTROL         "处理 SYSTEM.INI 文件(&Y)", IDC_CBX_SYSTEM_INI, "Button", BS_AUTO3STATE | WS_TABSTOP, 35, 86, 316, 10
    CONTROL         "处理 WIN.INI 文件(&W)", IDC_CBX_WIN_INI, "Button", BS_AUTO3STATE | WS_TABSTOP, 35, 98, 316, 10
    CONTROL         "加载系统服务(&L)", IDC_CBX_LOAD_SYSTEM_SERVICES, "Button", BS_AUTO3STATE | WS_TABSTOP, 35, 110, 316, 10
    CONTROL         "加载启动项(&O)", IDC_CBX_LOAD_STARTUP_ITEMS, "Button", BS_AUTO3STATE | WS_TABSTOP, 35, 122, 316, 10
    CONTROL         "使用原始启动配置(&U)", IDC_CBX_USE_ORIGINAL_BOOTCFG, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 35, 134, 316, 10
    PUSHBUTTON      "启动系统还原(&C)", IDC_BTN_SYSTEM_RESTORE_START, 146, 156, 124, 14
    PUSHBUTTON      "展开文件(&E)...", IDC_BTN_FILE_EXTRACTION, 275, 156, 85, 14
    GROUPBOX        "启动选择", IDC_STATIC, 5, 5, 356, 145
    LTEXT           "加载所有设备驱动程序和服务", IDC_STATIC, 25, 30, 322, 10
    LTEXT           "仅加载基本的设备驱动程序和服务", IDC_STATIC, 25, 58, 322, 10
END

IDD_SYSTEM_PAGE DIALOGEX 0, 0, 366, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CAPTION
CAPTION "系统"
FONT 9, "宋体"
BEGIN
    CONTROL         "", IDC_SYSTEM_TREE, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_EDITLABELS | TVS_SHOWSELALWAYS | WS_BORDER | WS_HSCROLL | WS_TABSTOP, 5, 5, 285, 146
    PUSHBUTTON      "上移(&U)", IDC_BTN_SYSTEM_UP, 295, 5, 66, 14
    PUSHBUTTON      "下移(&D)", IDC_BTN_SYSTEM_DOWN, 295, 24, 66, 14
    PUSHBUTTON      "启用(&E)", IDC_BTN_SYSTEM_ENABLE, 295, 52, 66, 14
    PUSHBUTTON      "禁用(&I)", IDC_BTN_SYSTEM_DISABLE, 295, 71, 66, 14
    PUSHBUTTON      "搜索(&F)", IDC_BTN_SYSTEM_FIND, 295, 99, 66, 14
    PUSHBUTTON      "新增(&N)", IDC_BTN_SYSTEM_NEW, 295, 118, 66, 14
    PUSHBUTTON      "编辑(&T)", IDC_BTN_SYSTEM_EDIT, 295, 137, 66, 14
    PUSHBUTTON      "全部启用(&B)", IDC_BTN_SYSTEM_ENABLE_ALL, 153, 156, 66, 14
    PUSHBUTTON      "全部禁用(&L)", IDC_BTN_SYSTEM_DISABLE_ALL, 224, 156, 66, 14
    PUSHBUTTON      "删除", IDC_BTN_SYSTEM_DELETE, 295, 156, 66, 14
END

IDD_FREELDR_PAGE DIALOGEX 0, 0, 366, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CAPTION
CAPTION "FREELDR.INI"
FONT 9, "宋体"
BEGIN
    LISTBOX         IDC_LIST_BOX, 5, 5, 356, 61, LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP
    PUSHBUTTON      "检查所有启动路径(&C)", IDC_BTN_CHECK_BOOT_PATH, 5, 68, 72, 14
    PUSHBUTTON      "设置为默认(&S)", IDC_BTN_SET_DEFAULT_BOOT, 82, 68, 66, 14
    PUSHBUTTON      "向上移动(&U)", IDC_BTN_MOVE_UP_BOOT_OPTION, 153, 68, 66, 14
    PUSHBUTTON      "向下移动(&D)", IDC_BTN_MOVE_DOWN_BOOT_OPTION, 224, 68, 66, 14
    GROUPBOX        "引导选项", IDC_STATIC, 5, 84, 285, 86
    GROUPBOX        "", IDC_STATIC, 10, 97, 143, 68
    CHECKBOX        "安全模式 (/SA&FEBOOT)", IDC_CBX_SAFE_BOOT, 15, 97, 121, 10
    CONTROL         "最小化启动 (&MINIMAL)", IDC_RADIO1, "Button", BS_AUTORADIOBUTTON, 15, 110, 133, 10
    CONTROL         "其他外壳程序\n(M&INIMAL (ALTERNATESHELL))", IDC_RADIO4,
                    "Button", BS_AUTORADIOBUTTON | BS_MULTILINE, 15, 121, 133, 17
    CONTROL         "修复活动目录 (DSRE&PAIR)", IDC_RADIO3, "Button", BS_AUTORADIOBUTTON, 15, 139, 133, 10
    CONTROL         "网络 (NET&WORK)", IDC_RADIO2, "Button", BS_AUTORADIOBUTTON, 15, 150, 133, 10
    CHECKBOX        "无 GUI 引导\n(/&NOGUIBOOT)", IDC_CBX_NO_GUI_BOOT, 158, 91, 127, 17, BS_MULTILINE
    CHECKBOX        "引导日志 (/&BOOTLOG)", IDC_CBX_BOOT_LOG, 158, 110, 127, 12
    CHECKBOX        "基本视频 (/BAS&EVIDEO)", IDC_CBX_BASE_VIDEO, 158, 124, 127, 12
    CHECKBOX        "OS 引导信息 (/S&OS)", IDC_CBX_SOS, 158, 138, 127, 12
    PUSHBUTTON      "高级选项(&V)...", IDC_BTN_ADVANCED_OPTIONS, 207, 151, 78, 14
    LTEXT           "超时(&T):", IDC_STATIC, 296, 91, 32, 10
    EDITTEXT        IDC_TXT_BOOT_TIMEOUT, 295, 102, 33, 12, ES_RIGHT | ES_NUMBER
    LTEXT           "秒", IDC_STATIC, 330, 104, 31, 10
    CONTROL         "使所有的引导设置成为永久设置(&A)", 292,
                    "Button", BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_TABSTOP, 295, 121, 66, 49
    PUSHBUTTON      "删除(&D)", IDC_BTN_DELETE, 295, 68, 66, 14
END

IDD_SERVICES_PAGE DIALOGEX 0, 0, 366, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CAPTION
CAPTION "服务"
FONT 9, "宋体"
BEGIN
    CONTROL         "List1", IDC_SERVICES_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP, 5, 5, 356, 129
    PUSHBUTTON      "全部启用(&A)", IDC_BTN_SERVICES_ACTIVATE, 224, 156, 66, 14
    PUSHBUTTON      "全部禁用(&D)", IDC_BTN_SERVICES_DEACTIVATE, 295, 156, 66, 14
    CONTROL         "隐藏所有 %s 服务(&H)", IDC_CBX_SERVICES_MASK_PROPRIETARY_SVCS,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 5, 158, 203, 12
    LTEXT           "请注意一些安全 %s 服务可能未被禁用。", IDC_STATIC_SERVICES_WARNING, 5, 138, 220, 17
END

IDD_STARTUP_PAGE DIALOGEX 0, 0, 362, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 9, "宋体"
BEGIN
    CONTROL "List3", IDC_STARTUP_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 2, 1, 360, 148
    PUSHBUTTON "全部启用(&A)", IDC_BTN_STARTUP_ACTIVATE, 223, 155, 66, 14
    PUSHBUTTON "全部禁用(&D)", IDC_BTN_STARTUP_DEACTIVATE, 295, 155, 66, 14
END

IDD_TOOLS_PAGE DIALOGEX 0, 0, 366, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CAPTION
CAPTION "工具"
FONT 9, "宋体"
BEGIN
    CONTROL         "List1", IDC_TOOLS_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 5, 5, 356, 118
    EDITTEXT        IDC_TOOLS_CMDLINE, 5, 139, 356, 14, ES_READONLY
    PUSHBUTTON      "运行(&R)", IDC_BTN_RUN, 311, 156, 50, 14
    CONTROL         "高级选项(&A)", IDC_CBX_TOOLS_ADVOPT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 5, 158, 134, 12
    LTEXT           "所选的命令(&C):", IDC_STATIC, 5, 127, 128, 10
END

IDD_FILE_EXTRACT_DIALOG DIALOGEX 0, 0, 353, 117
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "从安装源位置展开一个文件"
FONT 9, "宋体"
BEGIN
    LTEXT           "指定您要还原的文件，包含安装文件的源位置和文件的目标位置。", IDC_STATIC, 7, 7, 339, 17
    LTEXT           "要还原的文件(&I):", IDC_STATIC, 7, 34, 93, 10
    EDITTEXT        IDC_TXT_FILE_TO_RESTORE, 103, 32, 158, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "浏览文件(&B)...", IDC_BTN_BROWSE_ALL_FILES, 264, 30, 82, 14
    LTEXT           "还原自(&R):", IDC_STATIC, 7, 55, 93, 10
    COMBOBOX        IDC_DRP_CAB_FILE, 103, 53, 158, 56, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "浏览自(&F)...", IDC_BTN_BROWSE_CAB_FILES, 264, 51, 82, 14
    LTEXT           "保存文件:(&S)", IDC_STATIC, 7, 76, 93, 10
    COMBOBOX        IDC_DRP_DEST_DIR, 103, 74, 158, 42, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "浏览到(&T)...", IDC_BTN_BROWSE_DIRS, 264, 72, 82, 14
    DEFPUSHBUTTON   "展开", IDOK, 179, 96, 82, 14
    PUSHBUTTON      "取消", IDCANCEL, 264, 96, 82, 14
END

IDD_FIND_DIALOG DIALOGEX 30, 73, 236, 75
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "查找"
FONT 9, "宋体"
BEGIN
    LTEXT           "查找内容(&F):", IDC_STATIC, 4, 8, 42, 10, NOT WS_GROUP
    EDITTEXT        IDC_TXT_FIND_TEXT, 47, 7, 128, 12, ES_AUTOHSCROLL | WS_GROUP
    CONTROL         "全字匹配(&W)", IDC_CBX_FIND_WHOLE_WORD_ONLY,
                    "Button", BS_AUTOCHECKBOX | WS_GROUP | WS_TABSTOP, 4, 26, 100, 12
    CONTROL         "区分大小写(&C)", IDC_CBX_FIND_MATCH_CASE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 4, 42, 100, 12
    GROUPBOX        "方向", IDC_STATIC, 107, 26, 68, 28
    CONTROL         "上移(&U)", IDC_RB_FIND_UP, "Button", BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 111, 38, 28, 12
    CONTROL         "下移(&D)", IDC_RB_FIND_DOWN, "Button", BS_AUTORADIOBUTTON | WS_TABSTOP, 143, 38, 28, 12
    DEFPUSHBUTTON   "查找下一个(&N)", IDOK, 182, 5, 50, 14, WS_GROUP
    PUSHBUTTON      "取消", IDCANCEL, 182, 23, 50, 14, WS_GROUP
    CONTROL         "从最初(方向:下)或末尾(方向:上)开始搜索(&S)", IDC_CBX_FIND_FROM_BEGINNING,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 4, 58, 231, 12
END

IDD_FREELDR_ADVANCED_PAGE DIALOGEX 0, 0, 175, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 9, "宋体"
BEGIN
    CHECKBOX "/&MAXMEM=", IDC_CBX_MAX_MEM, 10, 10, 50, 10
    EDITTEXT IDC_TXT_MAX_MEM, 80, 10, 60, 12
    CONTROL "", IDC_SCR_MAX_MEM, "msctls_updown32", 0x50000000, 140, 10, 11, 11
    CHECKBOX "/&NUMPROC=", IDC_CBX_NUM_PROC, 10, 25, 50, 10
    COMBOBOX IDC_DRP_NUM_PROC, 80, 25, 60, 10, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
    CHECKBOX "/&PCILOCK", IDC_CBX_PCI_LOCK, 10, 40, 50, 10
    CHECKBOX "/P&ROFILE", IDC_CBX_PROFILE, 10, 55, 50, 10
    CHECKBOX "/&IRQ", IDC_CBX_IRQ, 10, 70, 40, 12
    EDITTEXT IDC_TXT_IRQ, 80, 70, 60, 12, ES_LEFT
    CHECKBOX "/&DEBUG", IDC_CBX_DEBUG, 10, 85, 40, 10
    CHECKBOX "/D&EBUGPORT", IDC_CBX_DEBUG_PORT, 20, 100, 60, 10
    COMBOBOX IDC_DRP_DEBUG_PORT, 80, 100, 60, 10, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
    CHECKBOX "/&BAUDRATE", IDC_CBX_BAUD_RATE, 20, 115, 50, 10
    COMBOBOX IDC_DRP_DRP_BAUD_RATE, 80, 115, 60, 10, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
    CHECKBOX "/&CHANNEL", IDC_CBX_CHANNEL, 20, 130, 50, 10
    EDITTEXT IDC_TXT_CHANNEL, 80, 130, 60, 12, ES_LEFT
    CONTROL "", IDC_SCR_CHANNEL, "msctls_updown32", 0x50000000, 140, 130, 11, 11
    PUSHBUTTON "确定", IDOK, 20, 160, 50, 12
    PUSHBUTTON "取消", IDCANCEL, 100, 160, 50, 12
END

IDD_REQUIRED_SERVICES_DISABLING_DIALOG DIALOGEX 0, 0, 237, 62
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "系统配置实用程序"
FONT 9, "宋体"
BEGIN
    DEFPUSHBUTTON   "确定", IDOK, 180, 41, 50, 14
    LTEXT           "无法禁用关键服务。这样做可能会阻止 %s 在您的计算机上运行。", IDC_STATIC_REQSVCSDIS_INFO, 7, 7, 223, 28
    CONTROL         "不再显示此消息(&D)", IDC_CBX_REQSVCSDIS_NO_MSG_ANYMORE,
                    "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 42, 154, 13
END

STRINGTABLE
BEGIN
    IDS_MSCONFIG            "系统配置程序"
    IDS_MSCONFIG_2          "系统配置"
    IDS_ABOUT               "关于(&A)...\tShift+F1"
END

STRINGTABLE
BEGIN
    IDS_YES                 "是"
    IDS_NO                  "否"
    IDS_UNKNOWN             "未知"
END

STRINGTABLE
BEGIN
    IDS_TAB_STARTUP "启动"
END

STRINGTABLE
BEGIN
    IDS_SERVICES_COLUMN_SERVICE "服务"
    IDS_SERVICES_COLUMN_REQ "必需的"
    IDS_SERVICES_COLUMN_VENDOR "制造商"
    IDS_SERVICES_COLUMN_STATUS "状态"
    IDS_SERVICES_COLUMN_DATEDISABLED "于日期...禁用"
END

STRINGTABLE
BEGIN
    IDS_TOOLS_COLUMN_NAME "工具名称"
    IDS_TOOLS_COLUMN_DESCR "描述"
    IDS_TOOLS_COLUMN_STANDARD "标准"
    IDS_STARTUP_COLUMN_ELEMENT "项目"
    IDS_STARTUP_COLUMN_CMD "命令"
    IDS_STARTUP_COLUMN_PATH "路径"
END

STRINGTABLE
BEGIN
    IDS_SERVICES_STATUS_RUNNING "正在运行"
    IDS_SERVICES_STATUS_STOPPED "已停止"
END
