LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_DISPLAYADAPTER DIALOGEX 0, 0, 224, 226
STYLE DS_SETFONT | DS_FIXEDSYS | WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Adapter"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
  GROUPBOX "Adapter Type", -1, 7, 3, 237, 50
  LTEXT "", IDC_ADAPTERNAME, 40, 17, 190, 20
  PUSHBUTTON "&Properties", IDC_ADAPTERPROPERTIES, 177, 33, 59, 14
END

