LANGUAGE LANG_PORTUGUESE, SUBLANG_NEUTRAL

STRINGTABLE
{
    STRING_USAGE, "A sintaxe deste comando é:\n\nREG [ ADD | DELETE | QUERY ]\nREG comando /?\n"
    STRING_ADD_USAGE, "REG ADD nome_chave [/v nome_valor | /ve] [/t tipo] [/s separador] [/d dados] [/f]\n"
    STRING_DELETE_USAGE, "REG DELETE nome_chave [/v nome_valor | /ve | /va] [/f]\n"
    STRING_QUERY_USAGE, "REG QUERY nome_chave [/v nome_valor | /ve] [/s]\n"
    STRING_SUCCESS, "A operação foi completada com sucesso\n"
    STRING_INVALID_KEY, "Erro: Nome de chave inválido\n"
    STRING_INVALID_CMDLINE, "Erro: Parâmetros da linha de comandos inválidos\n"
    STRING_NO_REMOTE, "Erro: Incapaz de adicionar chaves à máquina remota\n"
    STRING_CANNOT_FIND, "Erro: O sistema foi incapaz de encontrar a chave de registo ou valor especificado\n"
    STRING_ERROR, "Unexpected error: "
    STRING_UNSUPPORTED_TYPE, "Error: Unsupported type\n"
    STRING_INVALID_DWORD, "Error: /d must be positive number\n"
}
