LANGUAGE LANG_CZECH, SUBLANG_DEFAULT

IDR_TASKMANAGER MENU
BEGIN
    POPUP "&Soubor"
    BEGIN
        MENUITEM "&Nová úloha (Spustit...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "U&zavřít správce úloh", ID_FILE_EXIT
    END
    POPUP "&Volby"
    BEGIN
        MENUITEM "&Vždy navrchu", ID_OPTIONS_ALWAYSONTOP, CHECKED
        MENUITEM "&Minimalizovat při použití", ID_OPTIONS_MINIMIZEONUSE, CHECKED
        MENUITEM "&Skrýt při minimalizaci", ID_OPTIONS_HIDEWHENMINIMIZED, CHECKED
        MENUITEM "", ID_OPTIONS_SHOW16BITTASKS, CHECKED
    END
    POPUP "&Zobrazit"
    BEGIN
        MENUITEM "&Aktualizovat", ID_VIEW_REFRESH
        POPUP "&Rychlost aktualizace"
        BEGIN
            MENUITEM "&Vysoká", ID_VIEW_UPDATESPEED_HIGH
            MENUITEM "&Normální", ID_VIEW_UPDATESPEED_NORMAL, CHECKED
            MENUITEM "&Nízká", ID_VIEW_UPDATESPEED_LOW
            MENUITEM "&Zastavit", ID_VIEW_UPDATESPEED_PAUSED
        END
        MENUITEM SEPARATOR
        MENUITEM "", ID_VIEW_LARGE
        MENUITEM "", ID_VIEW_SMALL
        MENUITEM "", ID_VIEW_DETAILS, CHECKED
        MENUITEM "", ID_VIEW_SELECTCOLUMNS
        POPUP ""
        BEGIN
            MENUITEM "", ID_VIEW_CPUHISTORY_ONEGRAPHALL
            MENUITEM "", ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU, CHECKED
        END
        MENUITEM "", ID_VIEW_SHOWKERNELTIMES
    END
    POPUP ""
    BEGIN
        MENUITEM "Vyrovnat &horizontálně", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "Vyrovnat &vertikálně", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Minimalizovat", ID_WINDOWS_MINIMIZE
        MENUITEM "Ma&ximalizovat", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Kaskáda", ID_WINDOWS_CASCADE
        MENUITEM "&Přenést do popředí", ID_WINDOWS_BRINGTOFRONT
    END
    POPUP "Vy&pnout"
    BEGIN
        MENUITEM "Režim &spánku", ID_SHUTDOWN_STANDBY
        MENUITEM "&Hibernace", ID_SHUTDOWN_HIBERNATE
        MENUITEM "&Vypnout", ID_SHUTDOWN_POWEROFF
        MENUITEM "&Restartovat", ID_SHUTDOWN_REBOOT
        MENUITEM "&Odhlásit uživatele %s", ID_SHUTDOWN_LOGOFF
        MENUITEM "&Přepnout uživatele\tWin+L", ID_SHUTDOWN_SWITCHUSER, GRAYED
        MENUITEM "&Zamknout počítač\tWin+L", ID_SHUTDOWN_LOCKCOMPUTER
        MENUITEM "O&dpojit se", ID_SHUTDOWN_DISCONNECT, GRAYED
        MENUITEM "Vy&jmout počítač", ID_SHUTDOWN_EJECT_COMPUTER, GRAYED
    END
    POPUP "&Nápověda"
    BEGIN
        MENUITEM "&Nápověda pro správce úloh", ID_HELP_TOPICS
        MENUITEM SEPARATOR
        MENUITEM "&O správci úloh", ID_HELP_ABOUT
    END
END

IDR_WINDOWSMENU MENU
BEGIN
    MENUITEM "Vyrovnat &horizontálně", ID_WINDOWS_TILEHORIZONTALLY
    MENUITEM "Vyrovnat &vertikálně", ID_WINDOWS_TILEVERTICALLY
    MENUITEM "&Minimalizovat", ID_WINDOWS_MINIMIZE
    MENUITEM "Ma&ximalizovat", ID_WINDOWS_MAXIMIZE
    MENUITEM "&Kaskáda", ID_WINDOWS_CASCADE
    MENUITEM "&Přenést do popředí", ID_WINDOWS_BRINGTOFRONT
END

IDR_APPLICATION_PAGE_CONTEXT1 MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nová úloha (Spustit...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Velké ikony", ID_VIEW_LARGE
        MENUITEM "&Malé ikony", ID_VIEW_SMALL
        MENUITEM "&Detaily", ID_VIEW_DETAILS, CHECKED
    END
END

IDR_APPLICATION_PAGE_CONTEXT2 MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Přepnout do", ID_APPLICATION_PAGE_SWITCHTO
        MENUITEM "&Přenést do popředí", ID_WINDOWS_BRINGTOFRONT
        MENUITEM SEPARATOR
        MENUITEM "Vyrovnat &horizontálně", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "Vyrovnat &Vertikálně", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Minimalizovat", ID_WINDOWS_MINIMIZE
        MENUITEM "Ma&ximalizovat", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Kaskáda", ID_WINDOWS_CASCADE
        MENUITEM SEPARATOR
        MENUITEM "&Ukončit úlohu", ID_APPLICATION_PAGE_ENDTASK
        MENUITEM "&Přejít k procesu", ID_APPLICATION_PAGE_GOTOPROCESS
    END
END

IDR_TRAY_POPUP MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Obnovit", ID_RESTORE
        MENUITEM "&Uzavřít", ID_FILE_EXIT
        MENUITEM SEPARATOR
        MENUITEM "&Vždy navrchu", ID_OPTIONS_ALWAYSONTOP
    END
END

IDR_PROCESS_PAGE_CONTEXT MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Ukončit proces", ID_PROCESS_PAGE_ENDPROCESS
        MENUITEM "Ukončit &strom procesu", ID_PROCESS_PAGE_ENDPROCESSTREE
        MENUITEM "&Ladit", ID_PROCESS_PAGE_DEBUG
        MENUITEM SEPARATOR
        POPUP "&Priorita"
        BEGIN
            MENUITEM "&Realtime", ID_PROCESS_PAGE_SETPRIORITY_REALTIME
            MENUITEM "&Vysoká", ID_PROCESS_PAGE_SETPRIORITY_HIGH
            MENUITEM "&Nadprůměrná", ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL
            MENUITEM "Nor&mální", ID_PROCESS_PAGE_SETPRIORITY_NORMAL
            MENUITEM "&Podprůměrná", ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL
            MENUITEM "Ní&zká", ID_PROCESS_PAGE_SETPRIORITY_LOW
        END
        MENUITEM "Nastavit &afinitu...", ID_PROCESS_PAGE_SETAFFINITY
        MENUITEM SEPARATOR
        MENUITEM "P&roperties", ID_PROCESS_PAGE_PROPERTIES
        MENUITEM "&Open File Location", ID_PROCESS_PAGE_OPENFILELOCATION
    END
END

/* Dialogs */

/* TRANSLATORS: CAPTION must be the same as IDS_APP_TITLE to be brought back to focus when already opened */

IDD_TASKMGR_DIALOG DIALOGEX 0, 0, 264, 246
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP |
      WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Správce úloh"
MENU IDR_TASKMANAGER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_TAB, "SysTabControl32", WS_TABSTOP, 3, 3, 257, 228
END

IDD_APPLICATION_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_APPLIST, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS |
            WS_BORDER | WS_TABSTOP, 5, 7, 235, 177
    PUSHBUTTON "&Ukončit úlohu", IDC_ENDTASK, 75, 189, 53, 14, WS_DISABLED
    PUSHBUTTON "&Přepnout", IDC_SWITCHTO, 131, 189, 53, 14, WS_DISABLED
    PUSHBUTTON "&Nová úloha...", IDC_NEWTASK, 187, 189, 53, 14
END

IDD_PROCESS_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_PROCESSLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 5, 7, 235, 177
    AUTOCHECKBOX "&Zobrazit procesy všech uživatelů", IDC_SHOWALLPROCESSES, 5, 191, 153, 10
    PUSHBUTTON "&Ukončit proces", IDC_ENDPROCESS, 171, 189, 69, 14
END

IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Využití CPU", IDC_CPU_USAGE_FRAME, 5, 5, 60, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Využití RAM", IDC_MEM_USAGE_FRAME, 5, 63, 60, 54, BS_LEFTTEXT, WS_EX_TRANSPARENT
    GROUPBOX "Celkem", IDC_TOTALS_FRAME, 5, 122, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Využití paměti (kB)", IDC_COMMIT_CHARGE_FRAME, 5, 166, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Fyzická paměť (kB)", IDC_PHYSICAL_MEMORY_FRAME, 128, 122, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Paměť jádra (kB)", IDC_KERNEL_MEMORY_FRAME, 128, 166, 114, 39, 0, WS_EX_TRANSPARENT
    LTEXT "Popisovače", IDS_TOTALS_HANDLE_COUNT, 12, 131, 57, 8
    LTEXT "Vlákna", IDS_TOTALS_THREAD_COUNT, 12, 140, 57, 8
    LTEXT "Procesy", IDS_TOTALS_PROCESS_COUNT, 12, 149, 57, 8
    EDITTEXT IDC_TOTALS_HANDLE_COUNT, 69, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_THREAD_COUNT, 69, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_PROCESS_COUNT, 69, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Celkem", IDS_COMMIT_CHARGE_TOTAL, 12, 175, 57, 8
    LTEXT "Limit", IDS_COMMIT_CHARGE_LIMIT, 12, 184, 57, 8, NOT WS_BORDER
    LTEXT "Špička", IDS_COMMIT_CHARGE_PEAK, 12, 193, 57, 8
    EDITTEXT IDC_COMMIT_CHARGE_TOTAL, 69, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_LIMIT, 69, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_PEAK, 69, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Celkem", IDS_PHYSICAL_MEMORY_TOTAL, 134, 131, 57, 8
    LTEXT "Dostupná", IDS_PHYSICAL_MEMORY_AVAILABLE, 134, 140, 57, 8
    LTEXT "Mezipaměť", IDS_PHYSICAL_MEMORY_SYSTEM_CACHE, 134, 149, 57, 8
    EDITTEXT IDC_PHYSICAL_MEMORY_TOTAL, 192, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_AVAILABLE, 192, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_SYSTEM_CACHE, 192, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Celkem", IDS_KERNEL_MEMORY_TOTAL, 134, 174, 57, 8
    LTEXT "Stránkováno", IDS_KERNEL_MEMORY_PAGED, 134, 184, 57, 8
    LTEXT "Nestránkováno", IDS_KERNEL_MEMORY_NONPAGED, 134, 193, 57, 8
    EDITTEXT IDC_KERNEL_MEMORY_TOTAL, 192, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_PAGED, 192, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_NONPAGED, 192, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    GROUPBOX "Historie využití CPU", IDC_CPU_USAGE_HISTORY_FRAME, 74, 5, 168, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Historie využití paměti", IDC_MEMORY_USAGE_HISTORY_FRAME, 74, 63, 168, 54, 0, WS_EX_TRANSPARENT
    PUSHBUTTON "Zobrazení využití CPU", IDC_CPU_USAGE_GRAPH, 12, 17, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Zobrazení využití paměti", IDC_MEM_USAGE_GRAPH, 12, 75, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Historie využití CPU", IDC_CPU_USAGE_HISTORY_GRAPH, 81, 17, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Historie využití paměti", IDC_MEM_USAGE_HISTORY_GRAPH, 81, 75, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
END

IDD_AFFINITY_DIALOG DIALOGEX 0, 0, 231, 154
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Afinita procesoru"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 120, 133, 50, 14
    PUSHBUTTON "Storno", IDCANCEL, 174, 133, 50, 14
    LTEXT "Nastavení afinity procesoru kontroluje, který proces bude zpracován kterým procesorem.", IDC_STATIC, 5, 5, 220, 16
    AUTOCHECKBOX "CPU 0", IDC_CPU0, 11, 28, 37, 10
    AUTOCHECKBOX "CPU 1", IDC_CPU1, 11, 41, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 2", IDC_CPU2, 11, 54, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 3", IDC_CPU3, 11, 67, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 4", IDC_CPU4, 11, 80, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 5", IDC_CPU5, 11, 93, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 6", IDC_CPU6, 11, 106, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 7", IDC_CPU7, 11, 119, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 8", IDC_CPU8, 61, 28, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 9", IDC_CPU9, 61, 41, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 10", IDC_CPU10, 61, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 11", IDC_CPU11, 61, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 12", IDC_CPU12, 61, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 13", IDC_CPU13, 61, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 14", IDC_CPU14, 61, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 15", IDC_CPU15, 61, 119, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 16", IDC_CPU16, 116, 28, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 17", IDC_CPU17, 116, 41, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 18", IDC_CPU18, 116, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 19", IDC_CPU19, 116, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 20", IDC_CPU20, 116, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 21", IDC_CPU21, 116, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 22", IDC_CPU22, 116, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 23", IDC_CPU23, 116, 119, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 24", IDC_CPU24, 175, 28, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 25", IDC_CPU25, 175, 41, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 26", IDC_CPU26, 175, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 27", IDC_CPU27, 175, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 28", IDC_CPU28, 175, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 29", IDC_CPU29, 175, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 30", IDC_CPU30, 175, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 31", IDC_CPU31, 175, 119, 41, 10, WS_DISABLED | WS_TABSTOP
END

IDD_COLUMNS_DIALOG DIALOGEX 0, 0, 195, 199
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Vyberte sloupce"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 84, 178, 50, 14
    PUSHBUTTON "Storno", IDCANCEL, 138, 178, 50, 14
    LTEXT "Vyberte sloupce, které se zobrazí na kartě Procesy Správce úloh.", IDC_STATIC, 7, 7, 181, 17
    AUTOCHECKBOX "Název &procesu", IDC_IMAGENAME, 7, 28, 60, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "&PID", IDC_PID, 7, 39, 28, 10
    AUTOCHECKBOX "Využití &CPU", IDC_CPUUSAGE, 7, 50, 53, 10
    AUTOCHECKBOX "&Čas CPU", IDC_CPUTIME, 7, 61, 48, 10
    AUTOCHECKBOX "Využití &paměti", IDC_MEMORYUSAGE, 7, 72, 63, 10
    AUTOCHECKBOX "&Změna využití paměti", IDC_MEMORYUSAGEDELTA, 7, 83, 82, 10
    AUTOCHECKBOX "&Špička využití paměti", IDC_PEAKMEMORYUSAGE, 7, 94, 82, 10
    AUTOCHECKBOX "&Chyby stránek", IDC_PAGEFAULTS, 7, 105, 58, 10
    AUTOCHECKBOX "&Uživatelské objekty", IDC_USEROBJECTS, 7, 116, 74, 10
    AUTOCHECKBOX "I/O čtení", IDC_IOREADS, 7, 127, 49, 10
    AUTOCHECKBOX "I/O přečtené bajty", IDC_IOREADBYTES, 7, 138, 72, 10
    AUTOCHECKBOX "&ID sezení", IDC_SESSIONID, 7, 149, 50, 10
    AUTOCHECKBOX "Uživatelské &jméno", IDC_USERNAME, 7, 160, 72, 10
    AUTOCHECKBOX "&Změna chyb stránek", IDC_PAGEFAULTSDELTA, 107, 28, 78, 10
    AUTOCHECKBOX "&Virtuální paměť", IDC_VIRTUALMEMORYSIZE, 107, 39, 64, 10
    AUTOCHECKBOX "&Stránkováno", IDC_PAGEDPOOL, 107, 50, 53, 10
    AUTOCHECKBOX "&Nestránkováno", IDC_NONPAGEDPOOL, 107, 61, 67, 10
    AUTOCHECKBOX "Základní p&riorita", IDC_BASEPRIORITY, 107, 72, 62, 10
    AUTOCHECKBOX "P&očet popisovačů", IDC_HANDLECOUNT, 107, 83, 68, 10
    AUTOCHECKBOX "&Počet vláken", IDC_THREADCOUNT, 107, 94, 59, 10
    AUTOCHECKBOX "GDI Objekty", IDC_GDIOBJECTS, 107, 105, 55, 10
    AUTOCHECKBOX "I/O zápisy", IDC_IOWRITES, 107, 116, 49, 10
    AUTOCHECKBOX "I/O zapsané bajty", IDC_IOWRITEBYTES, 107, 127, 72, 10
    AUTOCHECKBOX "I/O ostatní", IDC_IOOTHER, 107, 138, 48, 10
    AUTOCHECKBOX "I/O ostatní bajty", IDC_IOOTHERBYTES, 107, 149, 65, 10
    AUTOCHECKBOX "Command &Line", IDC_COMMANDLINE, 107, 160, 65, 10
END

/* String Tables */

STRINGTABLE
BEGIN
    IDS_APP_TITLE "Správce úloh"
    IDC_TASKMGR "Správce úloh"
    IDS_IDLE_PROCESS "Nečinné procesy"
END

STRINGTABLE
BEGIN
    ID_FILE_NEW "Spustí novou aplikaci"
    ID_OPTIONS_ALWAYSONTOP "Správce úloh zůstane zobrazený nad ostatními okny, dokud jej neminimalizujete"
    ID_OPTIONS_MINIMIZEONUSE "Správce úloh se zminimalizuje po přepnutí na jinou úlohu"
    ID_OPTIONS_HIDEWHENMINIMIZED "Schovat správce úloh po minimalizaci"
    ID_VIEW_REFRESH "Přinutí správce úloh k aktualizaci nezávisle na nastavení rychlosti aktualizace"
    ID_VIEW_LARGE "Zobrazí úlohy velkými ikonami"
    ID_VIEW_SMALL "Zobrazí úlohy malými ikonami"
    ID_VIEW_DETAILS "Zobrazí informace o každé úloze"
    ID_VIEW_UPDATESPEED_HIGH "Aktualizuje ukazatel dvakrát za vteřinu"
    ID_VIEW_UPDATESPEED_NORMAL "Aktualizuje ukazatel jednou za dvě vteřinu"
    ID_VIEW_UPDATESPEED_LOW "Aktualizuje ukazatel jednou za čtyři vteřinu"
END

STRINGTABLE
BEGIN
    ID_VIEW_UPDATESPEED_PAUSED "Automaticky neaktualizuje"
    ID_WINDOWS_TILEHORIZONTALLY "Vyrovná okna horizontálně na ploše"
    ID_WINDOWS_TILEVERTICALLY "Vyrovná okna vertikálně na ploše"
    ID_WINDOWS_MINIMIZE "Minimalizuje okna"
    ID_WINDOWS_MAXIMIZE "Maximalizuje okna"
    ID_WINDOWS_CASCADE "Poskládá okna do diagonální kaskády"
    ID_WINDOWS_BRINGTOFRONT "Přesune úlohu do popředí, ale nepřepne do ní"
    ID_HELP_TOPICS "Zobrazí témata nápovědy pro správce úloh"
    ID_HELP_ABOUT "Zobrazí informace o aplikaci, její verzi a copyright"
    ID_FILE_EXIT "Ukončí správce úloh"
    ID_OPTIONS_SHOW16BITTASKS "Zobrazí 16-bitové úlohy pod NTVDM"
    ID_VIEW_SELECTCOLUMNS "Vyberte, které sloupce budou viditelné na kartě Procesy"
    ID_VIEW_SHOWKERNELTIMES "Zobrazí čas jádra v grafu výkonu"
    ID_VIEW_CPUHISTORY_ONEGRAPHALL "Jediný graf historie zobrazí celkovou využitelnost CPU"
    ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU "Každý procesor má svůj vlastní graf historie"
    ID_APPLICATION_PAGE_SWITCHTO "Přepne úlohu do popředí"
END

STRINGTABLE
BEGIN
    ID_ENDTASK "Pokusí se ukončit zvolenou aplikaci"
    ID_GOTOPROCESS "Přepne na proces zvolené úlohy"
    ID_RESTORE "Obnoví správce úloh z neviditelného stavu"
    ID_PROCESS_PAGE_ENDPROCESS "Odstraní proces ze systému"
    ID_PROCESS_PAGE_ENDPROCESSTREE "Odstraní proces a všechny jeho dceřinné podprocesy ze systému"
    ID_PROCESS_PAGE_DEBUG "Připojí ladicí aplikaci k tomuto procesu"
    ID_PROCESS_PAGE_SETAFFINITY "Spravuje, který procesor obslouží daný proces"
    ID_PROCESS_PAGE_SETPRIORITY_REALTIME "Přiřadí procesu Realtime prioritu"
    ID_PROCESS_PAGE_SETPRIORITY_HIGH "Přiřadí procesu vysokou prioritu"
    ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL "Přiřadí procesu nadprůměrnou prioritu"
    ID_PROCESS_PAGE_SETPRIORITY_NORMAL "Přiřadí procesu normální prioritu"
    ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL "Přiřadí procesu podprůměrnou prioritu"
    ID_PROCESS_PAGE_SETPRIORITY_LOW "Přiřadí procesu nízkou prioritu"
    ID_PROCESS_PAGE_PROPERTIES "Shows process file properties"
    ID_PROCESS_PAGE_OPENFILELOCATION "Opens process file location"
END

STRINGTABLE
BEGIN
    IDS_TAB_APPS "Aplikace"
    IDS_TAB_PROCESSES "Procesy"
    IDS_TAB_PERFORMANCE "Výkon"
    IDS_TAB_TASK "Úloha"
    IDS_TAB_STATUS "Status"
    IDS_TAB_IMAGENAME "Název procesu"
    IDS_TAB_PID "PID"
    IDS_TAB_USERNAME "Uživ. jméno"
    IDS_TAB_SESSIONID "ID sezení"
    IDS_TAB_CPU "CPU"
    IDS_TAB_CPUTIME "Čas CPU"
    IDS_TAB_MEMUSAGE "Využití paměti"
    IDS_TAB_PEAKMEMUSAGE "Vrchol využití paměti"
    IDS_TAB_MEMDELTA "Paměť Změna"
    IDS_TAB_PAGEFAULT "Chyby stránek"
    IDS_TAB_PFDELTA "Chyby stránek Změna"
    IDS_TAB_VMSIZE "Velikost virtuální paměti"
    IDS_TAB_PAGEDPOOL "Stránkováno"
    IDS_TAB_NPPOOL "Nestránkováno"
    IDS_TAB_BASEPRI "Zákl. priorita"
    IDS_TAB_HANDLES "Ukazatele"
    IDS_TAB_THREADS "Vlákna"
    IDS_TAB_USERPBJECTS "USER Objeky"
    IDS_TAB_GDIOBJECTS "GDI Objekty"
    IDS_TAB_IOREADS "I/O čtení"
    IDS_TAB_IOWRITES "I/O zápisy"
    IDS_TAB_IOOTHER "I/O ostatní"
    IDS_TAB_IOREADBYTES "I/O přečtené bajty"
    IDS_TAB_IOWRITESBYTES "I/O zapsané bajty"
    IDS_TAB_IOOTHERBYTES "I/O ostatní bajty"
    IDS_TAB_COMMANDLINE "Příkazový řádek"
    IDS_MENU_SELECTCOLUMNS "&Vybrat sloupce..."
    IDS_MENU_16BITTASK "&Zobrazit 16-bitové úlohy"
    IDS_MENU_WINDOWS "&Okna"
    IDS_MENU_LARGEICONS "&Velké ikony"
    IDS_MENU_SMALLICONS "&Malé ikony"
    IDS_MENU_DETAILS "&Detaily"
    IDS_MENU_ONEGRAPHALLCPUS "&Jeden graf, všechny CPU"
    IDS_MENU_ONEGRAPHPERCPU "Jeden graf &pro každý CPU"
    IDS_MENU_CPUHISTORY "Historie &CPU"
    IDS_MENU_SHOWKERNELTIMES "&Zobrazit časy jádra"
    IDS_CREATENEWTASK "Vytvořit novou úlohu"
    IDS_CREATENEWTASK_DESC "Zadejte název aplikace, složku, dokument nebo zdroj na Internetu, a správce úloh jej otevře."
    IDS_MSG_ACCESSPROCESSAFF "Není možné zpřístupnit afinitu procesu"
    IDS_MSG_PROCESSONEPRO "Proces musí mít nastavenou afinitu alespoň s jedním procesorem."
    IDS_MSG_INVALIDOPTION "Neplatná volba"
    IDS_MSG_UNABLEDEBUGPROCESS "Není možné ladit proces"
    IDS_MSG_WARNINGDEBUG "Upozornění: ladění tohoto procesu může způsobit ztrátu dat.\nJste si jisti s připojením ladicího nástroje k tomuto procesu?"
    IDS_MSG_TASKMGRWARNING "Upozornění správce úloh"
    IDS_MSG_WARNINGTERMINATING "Upozornění: ukončení procesu může způsobit nevratné škody,\nnapř.: ztrátu dat nebo nestability systému.\nProcesu nebude poskytnuta šance k uložení jeho stavu nebo\ndat předtím, než bude ukončen. Jste si jisti\ns ukončením procesu?"
    IDS_MSG_UNABLETERMINATEPRO "Není možné ukončit proces"
    IDS_MSG_CLOSESYSTEMPROCESS "Toto je důležitý systémový proces. Správce úloh tento proces neukončí."
    IDS_MSG_UNABLECHANGEPRIORITY "Není možné změnit prioritu"
    IDS_MSG_WARNINGCHANGEPRIORITY "Upozornění: Změna priority procesu může\nzpůsobit nestabilitu systému a jiné nepředvídatelné problémy. Jste si jisti\nse změnou priority procesu?"
    IDS_MSG_TRAYICONCPUUSAGE "Využití CPU: %d%%"
    IDS_STATUS_MEMUSAGE "Využití paměti: %s / %s (%d%%)"
    IDS_STATUS_CPUUSAGE "CPU: %3d%%"
    IDS_STATUS_PROCESSES "Procesy: %d"
    IDS_NOT_RESPONDING "Neodpovídá"
    IDS_RUNNING "Běží"
END
