LANGUAGE LANG_DANISH, SUBLANG_DEFAULT

IDR_TASKMANAGER MENU
BEGIN
    POPUP "&Fil"
    BEGIN
        MENUITEM "&Ny Opgave (Kør...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "A&slut Opgavestyring", ID_FILE_EXIT
    END
    POPUP "&Indstillinger"
    BEGIN
        MENUITEM "&Altid Øverst", ID_OPTIONS_ALWAYSONTOP, CHECKED
        MENUITEM "&Minimere Ved Brug", ID_OPTIONS_MINIMIZEONUSE, CHECKED
        MENUITEM "&Skjul Når Minimeret", ID_OPTIONS_HIDEWHENMINIMIZED, CHECKED
        MENUITEM "&Vis 16-bit Opgaver", ID_OPTIONS_SHOW16BITTASKS, CHECKED
    END
    POPUP "&Vis"
    BEGIN
        MENUITEM "&Opdatere Nu", ID_VIEW_REFRESH
        POPUP "&Opdaterings Hastighed"
        BEGIN
            MENUITEM "&Høj", ID_VIEW_UPDATESPEED_HIGH
            MENUITEM "&Normal", ID_VIEW_UPDATESPEED_NORMAL, CHECKED
            MENUITEM "&Lav", ID_VIEW_UPDATESPEED_LOW
            MENUITEM "&Pauset", ID_VIEW_UPDATESPEED_PAUSED
        END
        MENUITEM SEPARATOR
        MENUITEM "St&ore Ikoner", ID_VIEW_LARGE
        MENUITEM "S&må Ikoner", ID_VIEW_SMALL
        MENUITEM "&Detaljer", ID_VIEW_DETAILS, CHECKED
        MENUITEM "&Vælg Kolonner...", ID_VIEW_SELECTCOLUMNS
        POPUP "&CPU Historie"
        BEGIN
            MENUITEM "&En Graf, Alle CPUer", ID_VIEW_CPUHISTORY_ONEGRAPHALL
            MENUITEM "En Graf &Pr CPU", ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU, CHECKED
        END
        MENUITEM "&Vis Kernel Tider", ID_VIEW_SHOWKERNELTIMES
    END
    POPUP "&Vinduer"
    BEGIN
        MENUITEM "Tile &Horisontalt", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "Tile &Verticalt", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Minimere", ID_WINDOWS_MINIMIZE
        MENUITEM "Ma&ksimeree", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Cascade", ID_WINDOWS_CASCADE
        MENUITEM "&Bring til front", ID_WINDOWS_BRINGTOFRONT
    END
    POPUP "Sh&ut Down"
    BEGIN
        MENUITEM "Stand &By",                  ID_SHUTDOWN_STANDBY
        MENUITEM "&Hibernate",                 ID_SHUTDOWN_HIBERNATE
        MENUITEM "T&urn Off",                  ID_SHUTDOWN_POWEROFF
        MENUITEM "&Restart",                   ID_SHUTDOWN_REBOOT
        MENUITEM "&Log Off %s",                ID_SHUTDOWN_LOGOFF
        MENUITEM "&Switch User\tWinKey+L",     ID_SHUTDOWN_SWITCHUSER, GRAYED
        MENUITEM "Loc&k Computer\tWinKey+L",   ID_SHUTDOWN_LOCKCOMPUTER
        MENUITEM "&Disconnect",                ID_SHUTDOWN_DISCONNECT, GRAYED
        MENUITEM "&Eject Computer",            ID_SHUTDOWN_EJECT_COMPUTER, GRAYED
    END
    POPUP "&Hjælp"
    BEGIN
        MENUITEM "Opgavestyring &Hjælpe Emner", ID_HELP_TOPICS
        MENUITEM SEPARATOR
        MENUITEM "&Omkring Opgavestyring", ID_HELP_ABOUT
    END
END

IDR_WINDOWSMENU MENU
BEGIN
    MENUITEM "Tile &Horisontalt", ID_WINDOWS_TILEHORIZONTALLY
    MENUITEM "Tile &Verticalt", ID_WINDOWS_TILEVERTICALLY
    MENUITEM "&Minimere", ID_WINDOWS_MINIMIZE
    MENUITEM "Ma&ksimere", ID_WINDOWS_MAXIMIZE
    MENUITEM "&Detaljer", ID_WINDOWS_CASCADE
    MENUITEM "&Bring til front", ID_WINDOWS_BRINGTOFRONT
END

IDR_APPLICATION_PAGE_CONTEXT1 MENU
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Ny Opgave (Kør...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "St&ore ikoner", ID_VIEW_LARGE
        MENUITEM "S&må Ikoner", ID_VIEW_SMALL
        MENUITEM "&Detaljer", ID_VIEW_DETAILS, CHECKED
    END
END

IDR_APPLICATION_PAGE_CONTEXT2 MENU
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Skift Til", ID_APPLICATION_PAGE_SWITCHTO
        MENUITEM "&Bring til front", ID_WINDOWS_BRINGTOFRONT
        MENUITEM SEPARATOR
        MENUITEM "Tile &Horisontalt", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "Tile &Verticalt", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Minimere", ID_WINDOWS_MINIMIZE
        MENUITEM "Ma&ksimere", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Cascade", ID_WINDOWS_CASCADE
        MENUITEM SEPARATOR
        MENUITEM "&Afslut Opgave", ID_APPLICATION_PAGE_ENDTASK
        MENUITEM "&Gå Til Process", ID_APPLICATION_PAGE_GOTOPROCESS
    END
END

IDR_TRAY_POPUP MENU
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Gendan", ID_RESTORE
        MENUITEM "&Luk", ID_FILE_EXIT
        MENUITEM SEPARATOR
        MENUITEM "&Altid Øverest", ID_OPTIONS_ALWAYSONTOP
    END
END

IDR_PROCESS_PAGE_CONTEXT MENU
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Afslut Process", ID_PROCESS_PAGE_ENDPROCESS
        MENUITEM "Afslut Process &Træ", ID_PROCESS_PAGE_ENDPROCESSTREE
        MENUITEM "&Debug", ID_PROCESS_PAGE_DEBUG
        MENUITEM SEPARATOR
        POPUP "Sæt &prioritet"
        BEGIN
            MENUITEM "&Højeste", ID_PROCESS_PAGE_SETPRIORITY_REALTIME
            MENUITEM "&Høj", ID_PROCESS_PAGE_SETPRIORITY_HIGH
            MENUITEM "&Over Normal", ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL
            MENUITEM "&Normal", ID_PROCESS_PAGE_SETPRIORITY_NORMAL
            MENUITEM "&Under Normal", ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL
            MENUITEM "&Lav", ID_PROCESS_PAGE_SETPRIORITY_LOW
        END
        MENUITEM "Sæt &Affinitet...", ID_PROCESS_PAGE_SETAFFINITY
        MENUITEM SEPARATOR
        MENUITEM "&Properties", ID_PROCESS_PAGE_PROPERTIES
        MENUITEM "&Open File Location", ID_PROCESS_PAGE_OPENFILELOCATION
    END
END

/* Dialogs */

/* TRANSLATORS: CAPTION must be the same as IDS_APP_TITLE to be brought back to focus when already opened */

IDD_TASKMGR_DIALOG DIALOGEX 0, 0, 264, 246
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP |
      WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Opgavestyring"
MENU IDR_TASKMANAGER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Tab1", IDC_TAB, "SysTabControl32", WS_TABSTOP, 3, 3, 257, 228
END

IDD_APPLICATION_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "List2", IDC_APPLIST, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS |
            WS_BORDER | WS_TABSTOP, 7, 7, 233, 177
    PUSHBUTTON "&Ny Opgave...", IDC_NEWTASK, 187, 189, 53, 14
    PUSHBUTTON "&Skift Til", IDC_SWITCHTO, 131, 189, 53, 14, WS_DISABLED
    PUSHBUTTON "&Afslut Opgave", IDC_ENDTASK, 75, 189, 53, 14, WS_DISABLED
END

IDD_PROCESS_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "List2", IDC_PROCESSLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 7, 7, 233, 177
    PUSHBUTTON "&Afslut Proces", IDC_ENDPROCESS, 171, 189, 69, 14
    CONTROL "&Vis Processor fra alle brugere", IDC_SHOWALLPROCESSES, "Button",
            BS_AUTOCHECKBOX | WS_TABSTOP, 7, 191, 111, 10
END

/* IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210 */
IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "CPU Forbrug", IDC_CPU_USAGE_FRAME, 5, 5, 60, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Hukommelse Forbrug", IDC_MEM_USAGE_FRAME, 5, 63, 60, 54, BS_LEFTTEXT, WS_EX_TRANSPARENT
    GROUPBOX "Ialt", IDC_TOTALS_FRAME, 5, 122, 111, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Aftaget Forbrug (K)", IDC_COMMIT_CHARGE_FRAME, 5, 166, 111, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Fysisk Hukommelse (K)", IDC_PHYSICAL_MEMORY_FRAME, 131, 122, 111, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Kernel Hukommelse (K)", IDC_KERNEL_MEMORY_FRAME, 131, 166, 111, 39, 0, WS_EX_TRANSPARENT
    LTEXT "Håndtag", IDS_TOTALS_HANDLE_COUNT, 12, 131, 27, 8
    LTEXT "Tråde", IDS_TOTALS_THREAD_COUNT, 12, 140, 27, 8
    LTEXT "Processor", IDS_TOTALS_PROCESS_COUNT, 12, 149, 34, 8
    EDITTEXT IDC_TOTALS_HANDLE_COUNT, 65, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_THREAD_COUNT, 65, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_PROCESS_COUNT, 65, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Ialt", IDS_COMMIT_CHARGE_TOTAL, 12, 175, 35, 8
    LTEXT "Begrænsning", IDS_COMMIT_CHARGE_LIMIT, 12, 184, 45, 8, NOT WS_BORDER
    LTEXT "Top", IDS_COMMIT_CHARGE_PEAK, 12, 193, 35, 8
    EDITTEXT IDC_COMMIT_CHARGE_TOTAL, 65, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_LIMIT, 65, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_PEAK, 65, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Ialt", IDS_PHYSICAL_MEMORY_TOTAL, 137, 131, 27, 8
    LTEXT "Tilgængelig", IDS_PHYSICAL_MEMORY_AVAILABLE, 137, 140, 45, 8
    LTEXT "System Cache", IDS_PHYSICAL_MEMORY_SYSTEM_CACHE, 137, 149, 45, 8
    EDITTEXT IDC_PHYSICAL_MEMORY_TOTAL, 185, 131, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_AVAILABLE, 185, 140, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_SYSTEM_CACHE, 185, 149, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Ialt", IDS_KERNEL_MEMORY_TOTAL, 137, 174, 27, 8
    LTEXT "Allokeret", IDS_KERNEL_MEMORY_PAGED, 137, 184, 45, 8
    LTEXT "Ikke Allokeret", IDS_KERNEL_MEMORY_NONPAGED, 137, 193, 45, 8
    EDITTEXT IDC_KERNEL_MEMORY_TOTAL, 185, 174, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_PAGED, 185, 184, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_NONPAGED, 185, 193, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    GROUPBOX "CPU Usage History", IDC_CPU_USAGE_HISTORY_FRAME, 74, 5, 168, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Hukommelses Forbrug Historik", IDC_MEMORY_USAGE_HISTORY_FRAME, 74, 63, 168, 54, 0, WS_EX_TRANSPARENT
    PUSHBUTTON "CPU Forbrug Visning", IDC_CPU_USAGE_GRAPH, 12, 17, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Hukommelses Forbrug Visning", IDC_MEM_USAGE_GRAPH, 12, 75, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "CPU Forbrug Historik", IDC_CPU_USAGE_HISTORY_GRAPH, 81, 17, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Hukommelses Forbrug Historik", IDC_MEM_USAGE_HISTORY_GRAPH, 81, 75, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
END

IDD_DEBUG_CHANNELS_DIALOG DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Debug Kanaler"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "List2", IDC_DEBUG_CHANNELS_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP | LVS_SORTASCENDING, 7, 7, 233, 177
    PUSHBUTTON "Luk", IDOK, 171, 189, 69, 14
END

IDD_AFFINITY_DIALOG DIALOGEX 0, 0, 231, 154
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Processor Affinitet"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 120, 133, 50, 14
    PUSHBUTTON "Fortryd", IDCANCEL, 174, 133, 50, 14
    LTEXT "Processor Affinitets indstillingen kontrollere hvilken CPUer processen har lov at eksekvere på.", IDC_STATIC, 5, 5, 220, 16
    CONTROL "CPU 0", IDC_CPU0, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 28, 37, 10
    CONTROL "CPU 1", IDC_CPU1, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 41, 37, 10
    CONTROL "CPU 2", IDC_CPU2, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 54, 37, 10
    CONTROL "CPU 3", IDC_CPU3, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 67, 37, 10
    CONTROL "CPU 4", IDC_CPU4, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 80, 37, 10
    CONTROL "CPU 5", IDC_CPU5, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 93, 37, 10
    CONTROL "CPU 6", IDC_CPU6, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 106, 37, 10
    CONTROL "CPU 7", IDC_CPU7, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 119, 37, 10
    CONTROL "CPU 8", IDC_CPU8, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 28, 37, 10
    CONTROL "CPU 9", IDC_CPU9, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 41, 37, 10
    CONTROL "CPU 10", IDC_CPU10, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 54, 41, 10
    CONTROL "CPU 11", IDC_CPU11, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 67, 41, 10
    CONTROL "CPU 12", IDC_CPU12, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 80, 41, 10
    CONTROL "CPU 13", IDC_CPU13, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 93, 41, 10
    CONTROL "CPU 14", IDC_CPU14, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 106, 41, 10
    CONTROL "CPU 15", IDC_CPU15, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 119, 41, 10
    CONTROL "CPU 16", IDC_CPU16, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 28, 41, 10
    CONTROL "CPU 17", IDC_CPU17, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 41, 41, 10
    CONTROL "CPU 18", IDC_CPU18, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 54, 41, 10
    CONTROL "CPU 19", IDC_CPU19, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 67, 41, 10
    CONTROL "CPU 20", IDC_CPU20, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 80, 41, 10
    CONTROL "CPU 21", IDC_CPU21, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 93, 41, 10
    CONTROL "CPU 22", IDC_CPU22, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 106, 41, 10
    CONTROL "CPU 23", IDC_CPU23, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 119, 41, 10
    CONTROL "CPU 24", IDC_CPU24, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 28, 41, 10
    CONTROL "CPU 25", IDC_CPU25, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 41, 41, 10
    CONTROL "CPU 26", IDC_CPU26, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 54, 41, 10
    CONTROL "CPU 27", IDC_CPU27, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 67, 41, 10
    CONTROL "CPU 28", IDC_CPU28, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 80, 41, 10
    CONTROL "CPU 29", IDC_CPU29, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 93, 41, 10
    CONTROL "CPU 30", IDC_CPU30, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 106, 41, 10
    CONTROL "CPU 31", IDC_CPU31, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 119, 41, 10
END

IDD_COLUMNS_DIALOG DIALOGEX 0, 0, 195, 199
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Vælg Kolonner"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 84, 178, 50, 14
    PUSHBUTTON "Fortryd", IDCANCEL, 138, 178, 50, 14
    LTEXT "Vælg de Kolonner som skal vises under Processor.", IDC_STATIC, 7, 7, 181, 17
    CONTROL "&Billede Navn", IDC_IMAGENAME, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 7, 28, 56, 10
    CONTROL "&PID (Process Identifikation)", IDC_PID, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 39, 100, 10
    CONTROL "&CPU Forbrug", IDC_CPUUSAGE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 50, 53, 10
    CONTROL "CPU &Tid", IDC_CPUTIME, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 61, 48, 10
    CONTROL "&Huk. Forbrug", IDC_MEMORYUSAGE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 72, 63, 10
    CONTROL "Huk. Forbrug &Delta", IDC_MEMORYUSAGEDELTA, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 83, 82, 10
    CONTROL "To&p Huk. Forbrug", IDC_PEAKMEMORYUSAGE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 94, 82, 10
    CONTROL "Side &Fejl", IDC_PAGEFAULTS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 105, 53, 10
    CONTROL "&USER Objektor", IDC_USEROBJECTS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 116, 62, 10
    CONTROL "I/O Læsning", IDC_IOREADS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 127, 65, 10
    CONTROL "I/O Læste Bytes", IDC_IOREADBYTES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 138, 65, 10
    CONTROL "&Session ID", IDC_SESSIONID, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 149, 50, 10
    CONTROL "Bruger &Navn", IDC_USERNAME, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 160, 51, 10
    CONTROL "Side F&ejl Delta", IDC_PAGEFAULTSDELTA, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 28, 85, 10
    CONTROL "&Virtuel Huk. Størrelse", IDC_VIRTUALMEMORYSIZE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 39, 85, 10
    CONTROL "Cach&ed Pool", IDC_PAGEDPOOL, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 50, 85, 10
    CONTROL "Ikke C&ached Pool", IDC_NONPAGEDPOOL, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 61, 85, 10
    CONTROL "Base P&rioritet", IDC_BASEPRIORITY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 72, 85, 10
    CONTROL "Antal Af &Håndtag", IDC_HANDLECOUNT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 83, 85, 10
    CONTROL "&Antal Af Tråde", IDC_THREADCOUNT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 94, 85, 10
    CONTROL "GDI Objektor", IDC_GDIOBJECTS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 105, 85, 10
    CONTROL "I/O Skrivning", IDC_IOWRITES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 116, 85, 10
    CONTROL "I/O Skrevet Bytes", IDC_IOWRITEBYTES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 127, 85, 10
    CONTROL "I/O Andet", IDC_IOOTHER, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 138, 85, 10
    CONTROL "I/O Andre Bytes", IDC_IOOTHERBYTES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 149, 85, 10
    CONTROL "Command &Line", IDC_COMMANDLINE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 107, 160, 85, 10
END

/* String Tables */

STRINGTABLE
BEGIN
    IDS_APP_TITLE "Opgavestyring"
    IDC_TASKMGR "Opgavestyring"
    IDS_IDLE_PROCESS "System Idle Process"
END

STRINGTABLE
BEGIN
    ID_FILE_NEW "Kører et nyt Program"
    ID_OPTIONS_ALWAYSONTOP "Opgavestyring bliver i front af alle de andre vinduer med mindre Opgavestyring er minimeret"
    ID_OPTIONS_MINIMIZEONUSE "Opgavestyring er minimeret når en Gå til operation er fortaget"
    ID_OPTIONS_HIDEWHENMINIMIZED "Skjul Opgavestyring ved minimering"
    ID_VIEW_REFRESH "Gennemtving Opgavestyring til at opdatere nu"
    ID_VIEW_LARGE "Vis Opgaver med store ikoner"
    ID_VIEW_SMALL "Vis Opgaver med små ikoner"
    ID_VIEW_DETAILS "Vis information om alle opgaver"
    ID_VIEW_UPDATESPEED_HIGH "Opdatere visning 2 gange per sekund"
    ID_VIEW_UPDATESPEED_NORMAL "Opdatere visning hvert 2 sekund"
    ID_VIEW_UPDATESPEED_LOW "Opdatere visning hvert 4 sekund"
END

STRINGTABLE
BEGIN
    ID_VIEW_UPDATESPEED_PAUSED "Opdatere ikke visning automatisk"
    ID_WINDOWS_TILEHORIZONTALLY "Tiles the windows horizontally on the desktop"
    ID_WINDOWS_TILEVERTICALLY "Tiles the windows vertically on the desktop"
    ID_WINDOWS_MINIMIZE "Minimizes the windows"
    ID_WINDOWS_MAXIMIZE "Maximizes the windows"
    ID_WINDOWS_CASCADE "Cascades the windows diagonally on the desktop"
    ID_WINDOWS_BRINGTOFRONT "Brings the window front, but does not switch to it"
    ID_HELP_TOPICS "Viser Opgavestyring Hjælpe Emner"
    ID_HELP_ABOUT "Viser program information, version nummer, of kopibeskyttelse"
    ID_FILE_EXIT "Exits the Task Manager application"
    ID_OPTIONS_SHOW16BITTASKS "Viser 16-bit opgaver som kører under ntvdm.exe"
    ID_VIEW_SELECTCOLUMNS "Vælg hvilke kolonner der vil være tilgængelig under Processor Siden"
    ID_VIEW_SHOWKERNELTIMES "Viser kernel tider i performance graffen"
    ID_VIEW_CPUHISTORY_ONEGRAPHALL "En enkelt Historie graf der viser det totale CPU forbrug"
    ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU "Hver cpu har dens egen historie graf"
    ID_APPLICATION_PAGE_SWITCHTO "Bringer opgaven til fronten, og skifter fokus til denne opgave"
END

STRINGTABLE
BEGIN
    ID_ENDTASK "Fortæller den valgt opgave at den skal lukkes"
    ID_GOTOPROCESS "Switches the focus to the process of the selected task"
    ID_RESTORE "Gendanner Opgavestyring fra sin skjule position"
    ID_PROCESS_PAGE_ENDPROCESS "Removes the process from the system"
    ID_PROCESS_PAGE_ENDPROCESSTREE "Removes this process and all descendants from the system"
    ID_PROCESS_PAGE_DEBUG "Attaches the debugger to this process"
    ID_PROCESS_PAGE_SETAFFINITY "Kontrollere hvilken processorer processen er tilladt at køre på!"
    ID_PROCESS_PAGE_SETPRIORITY_REALTIME "Sets process to the REALTIME priority class"
    ID_PROCESS_PAGE_SETPRIORITY_HIGH "Sets process to the HIGH priority class"
    ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL "Sæt proces til Over Normal Priotet Klasse"
    ID_PROCESS_PAGE_SETPRIORITY_NORMAL "Sæt proces til Normal Priotet Klasse"
    ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL "Sæt proces til Under Normal Priotet Klasse"
    ID_PROCESS_PAGE_SETPRIORITY_LOW "Sæt proces til Lav Priotet Klasse"
END

STRINGTABLE
BEGIN
    IDS_TAB_APPS "Applications"
    IDS_TAB_PROCESSES "Processes"
    IDS_TAB_PERFORMANCE "Performance"
    IDS_TAB_TASK "Task"
    IDS_TAB_STATUS "Status"
    IDS_TAB_IMAGENAME "Image Name"
    IDS_TAB_PID "PID"
    IDS_TAB_USERNAME "Username"
    IDS_TAB_SESSIONID "Session ID"
    IDS_TAB_CPU "CPU"
    IDS_TAB_CPUTIME "CPU Time"
    IDS_TAB_MEMUSAGE "Mem Usage"
    IDS_TAB_PEAKMEMUSAGE "Peak Mem Usage"
    IDS_TAB_MEMDELTA "Mem Delta"
    IDS_TAB_PAGEFAULT "Page Faults"
    IDS_TAB_PFDELTA "PF Delta"
    IDS_TAB_VMSIZE "VM Size"
    IDS_TAB_PAGEDPOOL "Paged Pool"
    IDS_TAB_NPPOOL "NP Pool"
    IDS_TAB_BASEPRI "Base Pri"
    IDS_TAB_HANDLES "Handles"
    IDS_TAB_THREADS "Threads"
    IDS_TAB_USERPBJECTS "USER Objects"
    IDS_TAB_GDIOBJECTS "GDI Objects"
    IDS_TAB_IOREADS "I/O Reads"
    IDS_TAB_IOWRITES "I/O Writes"
    IDS_TAB_IOOTHER "I/O Other"
    IDS_TAB_IOREADBYTES "I/O Read Bytes"
    IDS_TAB_IOWRITESBYTES "I/O Write Bytes"
    IDS_TAB_IOOTHERBYTES "I/O Other Bytes"
    IDS_TAB_COMMANDLINE "Command Line"
    IDS_MENU_SELECTCOLUMNS "&Select Columns..."
    IDS_MENU_16BITTASK "&Show 16-bit tasks"
    IDS_MENU_WINDOWS "&Windows"
    IDS_MENU_LARGEICONS "Lar&ge Icons"
    IDS_MENU_SMALLICONS "S&mall Icons"
    IDS_MENU_DETAILS "&Details"
    IDS_MENU_ONEGRAPHALLCPUS "&One Graph, All CPUs"
    IDS_MENU_ONEGRAPHPERCPU "One Graph &Per CPU"
    IDS_MENU_CPUHISTORY "&CPU History"
    IDS_MENU_SHOWKERNELTIMES "&Show Kernel Times"
    IDS_CREATENEWTASK "Create New Task"
    IDS_CREATENEWTASK_DESC "Type the name of a program, folder, document, or Internet resource, and Task Manager will open it for you."
    IDS_MSG_ACCESSPROCESSAFF "Unable to Access or Set Process Affinity"
    IDS_MSG_PROCESSONEPRO "The process must have affinity with at least one processor."
    IDS_MSG_INVALIDOPTION "Invalid Option"
    IDS_MSG_UNABLEDEBUGPROCESS "Unable to Debug Process"
    IDS_MSG_WARNINGDEBUG "WARNING: Debugging this process may result in loss of data.\nAre you sure you wish to attach the debugger?"
    IDS_MSG_TASKMGRWARNING "Task Manager Warning"
    IDS_MSG_WARNINGTERMINATING "WARNING: Terminating a process can cause undesired\nresults including loss of data and system instability. The\nprocess will not be given the chance to save its state or\ndata before it is terminated. Are you sure you want to\nterminate the process?"
    IDS_MSG_UNABLETERMINATEPRO "Unable to Terminate Process"
    IDS_MSG_CLOSESYSTEMPROCESS "This is a critical system process. Task Manager will not end this process."
    IDS_MSG_UNABLECHANGEPRIORITY "Unable to Change Priority"
    IDS_MSG_WARNINGCHANGEPRIORITY "WARNING: Changing the priority class of this process may\ncause undesired results including system instability. Are you\nsure you want to change the priority class?"
    IDS_MSG_TRAYICONCPUUSAGE "CPU Usage: %d%%"
    IDS_STATUS_MEMUSAGE "Mem Usage: %s / %s (%d%%)"
    IDS_STATUS_CPUUSAGE "CPU Usage: %3d%%"
    IDS_STATUS_PROCESSES "Processes: %d"
    IDS_NOT_RESPONDING "Not Responding"
    IDS_RUNNING "Running"
END
