// COPYRIGHT: Carlos Garcia Gomez, Samuel Serapión, Ismael Ferreras Morezuelas (Swyter)

LANGUAGE LANG_SPANISH, SUBLANG_NEUTRAL

IDR_TASKMANAGER MENU
BEGIN
    POPUP "&Archivo"
    BEGIN
        MENUITEM "&Nueva tarea (Ejecutar...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Salir del Administrador de tareas", ID_FILE_EXIT
    END
    POPUP "&Opciones"
    BEGIN
        MENUITEM "Siempre &visible", ID_OPTIONS_ALWAYSONTOP, CHECKED
        MENUITEM "&Minimizar al abrir", ID_OPTIONS_MINIMIZEONUSE, CHECKED
        MENUITEM "&Ocultar al estar minimizado", ID_OPTIONS_HIDEWHENMINIMIZED, CHECKED
        MENUITEM "", ID_OPTIONS_SHOW16BITTASKS, CHECKED
    END
    POPUP "&Ver"
    BEGIN
        MENUITEM "&Actualizar ahora", ID_VIEW_REFRESH
        POPUP "Velocidad de a&ctualización"
        BEGIN
            MENUITEM "A&lta", ID_VIEW_UPDATESPEED_HIGH
            MENUITEM "&Normal", ID_VIEW_UPDATESPEED_NORMAL, CHECKED
            MENUITEM "&Baja", ID_VIEW_UPDATESPEED_LOW
            MENUITEM "&Pausar", ID_VIEW_UPDATESPEED_PAUSED
        END
        MENUITEM SEPARATOR
        MENUITEM "", ID_VIEW_LARGE
        MENUITEM "", ID_VIEW_SMALL
        MENUITEM "", ID_VIEW_DETAILS, CHECKED
        MENUITEM "", ID_VIEW_SELECTCOLUMNS
        POPUP ""
        BEGIN
            MENUITEM "", ID_VIEW_CPUHISTORY_ONEGRAPHALL
            MENUITEM "", ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU, CHECKED
        END
        MENUITEM "&Mostrar cronología del kernel", ID_VIEW_SHOWKERNELTIMES
    END
    POPUP ""
    BEGIN
        MENUITEM "Mosaico &horizontal", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "Mosaico &vertical", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Minimizar", ID_WINDOWS_MINIMIZE
        MENUITEM "Ma&ximizar", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Cascada", ID_WINDOWS_CASCADE
        MENUITEM "&Traer al frente", ID_WINDOWS_BRINGTOFRONT
    END
    POPUP "Apaga&r"
    BEGIN
        MENUITEM "&Suspender", ID_SHUTDOWN_STANDBY
        MENUITEM "&Hibernar", ID_SHUTDOWN_HIBERNATE
        MENUITEM "&Apagar", ID_SHUTDOWN_POWEROFF
        MENUITEM "&Reiniciar", ID_SHUTDOWN_REBOOT
        MENUITEM "&Cerrar sesión de %s", ID_SHUTDOWN_LOGOFF //FIXME: accelerator collision
        MENUITEM "&Cambiar usuario\tWin+L", ID_SHUTDOWN_SWITCHUSER, GRAYED //FIXME: accelerator collision
        MENUITEM "&Bloquear equipo\tWin+L", ID_SHUTDOWN_LOCKCOMPUTER
        MENUITEM "&Desconectar", ID_SHUTDOWN_DISCONNECT, GRAYED
        MENUITEM "&Expulsar equipo", ID_SHUTDOWN_EJECT_COMPUTER, GRAYED
    END
    POPUP "Ay&uda"
    BEGIN
        MENUITEM "&Temas de Ayuda del Administrador de tareas", ID_HELP_TOPICS
        MENUITEM SEPARATOR
        MENUITEM "&Acerca del Administrador de tareas", ID_HELP_ABOUT
    END
END

IDR_WINDOWSMENU MENU
BEGIN
    MENUITEM "Mosaico &horizontal", ID_WINDOWS_TILEHORIZONTALLY
    MENUITEM "Mosaico &vertical", ID_WINDOWS_TILEVERTICALLY
    MENUITEM "&Minimizar", ID_WINDOWS_MINIMIZE
    MENUITEM "Ma&ximizar", ID_WINDOWS_MAXIMIZE
    MENUITEM "&Cascada", ID_WINDOWS_CASCADE
    MENUITEM "&Traer al frente", ID_WINDOWS_BRINGTOFRONT
END

IDR_APPLICATION_PAGE_CONTEXT1 MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nueva tarea (Ejecutar...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "Iconos &grandes", ID_VIEW_LARGE
        MENUITEM "Iconos &pequeños", ID_VIEW_SMALL
        MENUITEM "&Detalles", ID_VIEW_DETAILS, CHECKED
    END
END

IDR_APPLICATION_PAGE_CONTEXT2 MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Cambiar a", ID_APPLICATION_PAGE_SWITCHTO
        MENUITEM "&Traer al frente", ID_WINDOWS_BRINGTOFRONT
        MENUITEM SEPARATOR
        MENUITEM "Mosaico &horizontal", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "Mosaico &vertical", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Minimizar", ID_WINDOWS_MINIMIZE
        MENUITEM "Ma&ximizar", ID_WINDOWS_MAXIMIZE
        MENUITEM "Ca&scada", ID_WINDOWS_CASCADE
        MENUITEM SEPARATOR
        MENUITEM "&Finalizar tarea", ID_APPLICATION_PAGE_ENDTASK
        MENUITEM "&Ir al proceso", ID_APPLICATION_PAGE_GOTOPROCESS
    END
END

IDR_TRAY_POPUP MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Restaurar", ID_RESTORE
        MENUITEM "&Cerrar", ID_FILE_EXIT
        MENUITEM SEPARATOR
        MENUITEM "&Siempre visible", ID_OPTIONS_ALWAYSONTOP
    END
END

IDR_PROCESS_PAGE_CONTEXT MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Terminar proceso", ID_PROCESS_PAGE_ENDPROCESS
        MENUITEM "Finalizar el ár&bol de procesos", ID_PROCESS_PAGE_ENDPROCESSTREE
        MENUITEM "&Depurar", ID_PROCESS_PAGE_DEBUG
        MENUITEM SEPARATOR
        POPUP "Establecer &prioridad"
        BEGIN
            MENUITEM "Tiempo &real", ID_PROCESS_PAGE_SETPRIORITY_REALTIME
            MENUITEM "&Alta", ID_PROCESS_PAGE_SETPRIORITY_HIGH
            MENUITEM "Por &encima de lo normal", ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL
            MENUITEM "&Normal", ID_PROCESS_PAGE_SETPRIORITY_NORMAL
            MENUITEM "Por &debajo de lo normal", ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL
            MENUITEM "&Baja", ID_PROCESS_PAGE_SETPRIORITY_LOW
        END
        MENUITEM "Establecer &afinidad...", ID_PROCESS_PAGE_SETAFFINITY
        MENUITEM SEPARATOR
        MENUITEM "P&roperties", ID_PROCESS_PAGE_PROPERTIES
        MENUITEM "&Open File Location", ID_PROCESS_PAGE_OPENFILELOCATION
    END
END

/* Dialogs */

/* TRANSLATORS: CAPTION must be the same as IDS_APP_TITLE to be brought back to focus when already opened */

IDD_TASKMGR_DIALOG DIALOGEX 0, 0, 264, 246
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP |
      WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Administrador de tareas"
MENU IDR_TASKMANAGER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_TAB, "SysTabControl32", WS_TABSTOP, 3, 3, 257, 228
END

IDD_APPLICATION_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_APPLIST, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS |
            WS_BORDER | WS_TABSTOP, 5, 7, 235, 177
    PUSHBUTTON "&Finalizar tarea", IDC_ENDTASK, 75, 189, 53, 14, WS_DISABLED
    PUSHBUTTON "&Cambiar a", IDC_SWITCHTO, 131, 189, 53, 14, WS_DISABLED
    PUSHBUTTON "&Nueva tarea...", IDC_NEWTASK, 187, 189, 53, 14
END

IDD_PROCESS_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_PROCESSLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 5, 7, 235, 177
    AUTOCHECKBOX "&Mostrar procesos de todos los usuarios", IDC_SHOWALLPROCESSES, 5, 191, 160, 10
    PUSHBUTTON "&Finalizar proceso", IDC_ENDPROCESS, 171, 189, 69, 14
END

IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Uso de CPU", IDC_CPU_USAGE_FRAME, 5, 5, 60, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Memoria", IDC_MEM_USAGE_FRAME, 5, 63, 60, 54, BS_LEFTTEXT, WS_EX_TRANSPARENT
    GROUPBOX "Sistema", IDC_TOTALS_FRAME, 5, 122, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Carga de transacciones (KB)", IDC_COMMIT_CHARGE_FRAME, 5, 166, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Memoria física (KB)", IDC_PHYSICAL_MEMORY_FRAME, 128, 122, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Memoria del kernel (KB)", IDC_KERNEL_MEMORY_FRAME, 128, 166, 114, 39, 0, WS_EX_TRANSPARENT
    LTEXT "Identificadores", IDS_TOTALS_HANDLE_COUNT, 12, 131, 57, 8
    LTEXT "Subprocesos", IDS_TOTALS_THREAD_COUNT, 12, 140, 57, 8
    LTEXT "Procesos", IDS_TOTALS_PROCESS_COUNT, 12, 149, 57, 8
    EDITTEXT IDC_TOTALS_HANDLE_COUNT, 69, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_THREAD_COUNT, 69, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_PROCESS_COUNT, 69, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Total", IDS_COMMIT_CHARGE_TOTAL, 12, 175, 57, 8
    LTEXT "Límite", IDS_COMMIT_CHARGE_LIMIT, 12, 184, 57, 8, NOT WS_BORDER
    LTEXT "Máximo", IDS_COMMIT_CHARGE_PEAK, 12, 193, 57, 8
    EDITTEXT IDC_COMMIT_CHARGE_TOTAL, 69, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_LIMIT, 69, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_PEAK, 69, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Total", IDS_PHYSICAL_MEMORY_TOTAL, 134, 131, 57, 8
    LTEXT "Disponible", IDS_PHYSICAL_MEMORY_AVAILABLE, 134, 140, 57, 8
    LTEXT "En caché", IDS_PHYSICAL_MEMORY_SYSTEM_CACHE, 134, 149, 57, 8
    EDITTEXT IDC_PHYSICAL_MEMORY_TOTAL, 192, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_AVAILABLE, 192, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_SYSTEM_CACHE, 192, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Total", IDS_KERNEL_MEMORY_TOTAL, 134, 174, 57, 8
    LTEXT "Paginado", IDS_KERNEL_MEMORY_PAGED, 134, 184, 57, 8
    LTEXT "No paginado", IDS_KERNEL_MEMORY_NONPAGED, 134, 193, 57, 8
    EDITTEXT IDC_KERNEL_MEMORY_TOTAL, 192, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_PAGED, 192, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_NONPAGED, 192, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    GROUPBOX "Historial de uso de CPU", IDC_CPU_USAGE_HISTORY_FRAME, 74, 5, 168, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Historial de uso de memoria física", IDC_MEMORY_USAGE_HISTORY_FRAME, 74, 63, 168, 54, 0, WS_EX_TRANSPARENT
    PUSHBUTTON "Gráfico de uso de CPU", IDC_CPU_USAGE_GRAPH, 12, 17, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Gráfico de uso de memoria", IDC_MEM_USAGE_GRAPH, 12, 75, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Historial de uso de CPU", IDC_CPU_USAGE_HISTORY_GRAPH, 81, 17, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Historial de uso de memoria", IDC_MEM_USAGE_HISTORY_GRAPH, 81, 75, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
END

IDD_AFFINITY_DIALOG DIALOGEX 0, 0, 231, 154
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Afinidad del procesador"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "Aceptar", IDOK, 120, 133, 50, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 174, 133, 50, 14
    LTEXT "El ajuste de afinidad de procesador controla las CPU en las que el proceso tendrá permiso para ejecutarse.", IDC_STATIC, 5, 5, 220, 16
    AUTOCHECKBOX "CPU 0", IDC_CPU0, 11, 28, 37, 10
    AUTOCHECKBOX "CPU 1", IDC_CPU1, 11, 41, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 2", IDC_CPU2, 11, 54, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 3", IDC_CPU3, 11, 67, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 4", IDC_CPU4, 11, 80, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 5", IDC_CPU5, 11, 93, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 6", IDC_CPU6, 11, 106, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 7", IDC_CPU7, 11, 119, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 8", IDC_CPU8, 61, 28, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 9", IDC_CPU9, 61, 41, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 10", IDC_CPU10, 61, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 11", IDC_CPU11, 61, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 12", IDC_CPU12, 61, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 13", IDC_CPU13, 61, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 14", IDC_CPU14, 61, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 15", IDC_CPU15, 61, 119, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 16", IDC_CPU16, 116, 28, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 17", IDC_CPU17, 116, 41, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 18", IDC_CPU18, 116, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 19", IDC_CPU19, 116, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 20", IDC_CPU20, 116, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 21", IDC_CPU21, 116, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 22", IDC_CPU22, 116, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 23", IDC_CPU23, 116, 119, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 24", IDC_CPU24, 175, 28, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 25", IDC_CPU25, 175, 41, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 26", IDC_CPU26, 175, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 27", IDC_CPU27, 175, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 28", IDC_CPU28, 175, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 29", IDC_CPU29, 175, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 30", IDC_CPU30, 175, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 31", IDC_CPU31, 175, 119, 41, 10, WS_DISABLED | WS_TABSTOP
END

IDD_COLUMNS_DIALOG DIALOGEX 0, 0, 245, 199
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Seleccionar columnas"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "Aceptar", IDOK, 126, 178, 50, 14
    PUSHBUTTON "Cancelar", IDCANCEL, 180, 178, 50, 14
    LTEXT "Seleccione las columnas que aparecerán en la página de Procesos del Administrador de tareas.", IDC_STATIC, 7, 7, 221, 17
    AUTOCHECKBOX "Nombre de ruta de la &imagen", IDC_IMAGENAME, 7, 28, 105, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "Identificador de proceso (&PID)", IDC_PID, 7, 39, 120, 10
    AUTOCHECKBOX "Uso de &CPU", IDC_CPUUSAGE, 7, 50, 53, 10
    AUTOCHECKBOX "Ti&empo de CPU", IDC_CPUTIME, 7, 61, 65, 10
    AUTOCHECKBOX "Uso de &memoria", IDC_MEMORYUSAGE, 7, 72, 63, 10
    AUTOCHECKBOX "Di&ferencia de uso de memoria", IDC_MEMORYUSAGEDELTA, 7, 83, 120, 10
    AUTOCHECKBOX "Uso má&ximo de la memoria", IDC_PEAKMEMORYUSAGE, 7, 94, 120, 10
    AUTOCHECKBOX "Err&ores de página", IDC_PAGEFAULTS, 7, 105, 80, 10
    AUTOCHECKBOX "O&bjetos de USUARIO", IDC_USEROBJECTS, 7, 116, 80, 10
    AUTOCHECKBOX "Lecturas de E/S", IDC_IOREADS, 7, 127, 70, 10
    AUTOCHECKBOX "Bytes de lectura de E/S", IDC_IOREADBYTES, 7, 138, 90, 10
    AUTOCHECKBOX "I&d. de sesión", IDC_SESSIONID, 7, 149, 65, 10
    AUTOCHECKBOX "&Nombre de usuario", IDC_USERNAME, 7, 160, 75, 10
    AUTOCHECKBOX "Diferencia de erro&res de página", IDC_PAGEFAULTSDELTA, 127, 28, 115, 10
    AUTOCHECKBOX "Tamaño de la memoria &virtual", IDC_VIRTUALMEMORYSIZE, 127, 39, 115, 10
    AUTOCHECKBOX "B&loque paginado", IDC_PAGEDPOOL, 127, 50, 67, 10
    AUTOCHECKBOX "Blo&que no paginado", IDC_NONPAGEDPOOL, 127, 61, 115, 10
    AUTOCHECKBOX "P&rioridad base", IDC_BASEPRIORITY, 127, 72, 80, 10
    AUTOCHECKBOX "&Recuento de identificadores", IDC_HANDLECOUNT, 127, 83, 105, 10
    AUTOCHECKBOX "Nú&mero de subprocesos", IDC_THREADCOUNT, 127, 94, 105, 10
    AUTOCHECKBOX "Objetos &GDI", IDC_GDIOBJECTS, 127, 105, 55, 10
    AUTOCHECKBOX "Escrituras de E/S", IDC_IOWRITES, 127, 116, 90, 10
    AUTOCHECKBOX "Bytes de escritura de E/S", IDC_IOWRITEBYTES, 127, 127, 105, 10
    AUTOCHECKBOX "Otros de E/S", IDC_IOOTHER, 127, 138, 60, 10
    AUTOCHECKBOX "Otros bytes de E/S", IDC_IOOTHERBYTES, 127, 149, 75, 10
    AUTOCHECKBOX "&Línea de comandos", IDC_COMMANDLINE, 127, 160, 75, 10
END

/* String Tables */

STRINGTABLE
BEGIN
    IDS_APP_TITLE "Administrador de tareas"
    IDC_TASKMGR "Administrador de tareas"
    IDS_IDLE_PROCESS "Proceso inactivo del sistema"
END

STRINGTABLE
BEGIN
    ID_FILE_NEW "Ejecutar un nuevo programa"
    ID_OPTIONS_ALWAYSONTOP "El Administrador de tareas permanece siempre visible excepto cuando esté minimizado"
    ID_OPTIONS_MINIMIZEONUSE "El Administrador de tareas se minimiza cuando se realiza una operación Cambiar a"
    ID_OPTIONS_HIDEWHENMINIMIZED "Ocultar el Administrador de tareas al minimizar"
    ID_VIEW_REFRESH "Actualizar el Administrador de tareas, sea cual sea la velocidad de actualización"
    ID_VIEW_LARGE "Mostrar tareas usando iconos grandes"
    ID_VIEW_SMALL "Mostrar tareas usando iconos pequeños"
    ID_VIEW_DETAILS "Mostrar información sobre cada tarea"
    ID_VIEW_UPDATESPEED_HIGH "Actualizar la vista dos veces por segundo"
    ID_VIEW_UPDATESPEED_NORMAL "Actualizar la vista cada dos segundos"
    ID_VIEW_UPDATESPEED_LOW "Actualizar la vista cada cuatro segundos"
END

STRINGTABLE
BEGIN
    ID_VIEW_UPDATESPEED_PAUSED "No actualizar automáticamente"
    ID_WINDOWS_TILEHORIZONTALLY "Mostrar las ventanas horizontalmente sobre el escritorio"
    ID_WINDOWS_TILEVERTICALLY "Mostrar las ventanas verticalmente sobre el escritorio"
    ID_WINDOWS_MINIMIZE "Minimizar las ventanas"
    ID_WINDOWS_MAXIMIZE "Maximizar las ventanas"
    ID_WINDOWS_CASCADE "Mostrar las ventanas en diagonal sobre el escritorio en forma de cascada"
    ID_WINDOWS_BRINGTOFRONT "Trae al frente la ventana, pero no cambia a ella"
    ID_HELP_TOPICS "Mostrar Temas de ayuda del Administrador de tareas"
    ID_HELP_ABOUT "Mostrar información del programa, número de versión y copyright"
    ID_FILE_EXIT "Cierra el Administrador de tareas"
    ID_OPTIONS_SHOW16BITTASKS "Mostrar tareas de 16-bit bajo el ntvdm.exe asociado"
    ID_VIEW_SELECTCOLUMNS "Seleccione las columnas que serán visibles en la página de procesos"
    ID_VIEW_SHOWKERNELTIMES "Muestra el tiempo del kernel en los gráficos de rendimiento"
    ID_VIEW_CPUHISTORY_ONEGRAPHALL "Un simple histograma muestra el uso total de la CPU"
    ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU "Cada CPU tiene su histograma propio"
    ID_APPLICATION_PAGE_SWITCHTO "Trae una tarea al primer plano, enfocar esa tarea"
END

STRINGTABLE
BEGIN
    ID_ENDTASK "Terminar las tareas seleccionadas"
    ID_GOTOPROCESS "Enfocar el proceso de la tarea seleccionada"
    ID_RESTORE "Restaurar el Administrador de Tareas de su estado oculto"
    ID_PROCESS_PAGE_ENDPROCESS "Finaliza el proceso"
    ID_PROCESS_PAGE_ENDPROCESSTREE "Finaliza este proceso y todos sus subprocesos asociados"
    ID_PROCESS_PAGE_DEBUG "Vincula el depurador a este proceso"
    ID_PROCESS_PAGE_SETAFFINITY "Controlar en que procesadores puede ejecutarse cada proceso"
    ID_PROCESS_PAGE_SETPRIORITY_REALTIME "Establece el proceso en prioridad de TIEMPO REAL"
    ID_PROCESS_PAGE_SETPRIORITY_HIGH "Establece el proceso en ALTA prioridad"
    ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL "Establece el proceso en prioridad ARRIBA DE LO NORMAL"
    ID_PROCESS_PAGE_SETPRIORITY_NORMAL "Establece el proceso en prioridad NORMAL"
    ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL "Establece el proceso en prioridad ABAJO DE LO NORMAL"
    ID_PROCESS_PAGE_SETPRIORITY_LOW "Establece el proceso en prioridad BAJA"
    ID_PROCESS_PAGE_PROPERTIES "Shows process file properties"
    ID_PROCESS_PAGE_OPENFILELOCATION "Opens process file location"
END

STRINGTABLE
BEGIN
    IDS_TAB_APPS "Aplicaciones"
    IDS_TAB_PROCESSES "Procesos"
    IDS_TAB_PERFORMANCE "Rendimiento"
    IDS_TAB_TASK "Tareas"
    IDS_TAB_STATUS "Estado"
    IDS_TAB_IMAGENAME "Nombre de imagen"
    IDS_TAB_PID "PID"
    IDS_TAB_USERNAME "Nombre de usuario"
    IDS_TAB_SESSIONID "ID de sección"
    IDS_TAB_CPU "CPU"
    IDS_TAB_CPUTIME "Tiempo de CPU"
    IDS_TAB_MEMUSAGE "Uso de memoria"
    IDS_TAB_PEAKMEMUSAGE "Pico uso de memoria"
    IDS_TAB_MEMDELTA "Diferencia de memoria"
    IDS_TAB_PAGEFAULT "Fallos de página"
    IDS_TAB_PFDELTA "Diferencia de FP"
    IDS_TAB_VMSIZE "Tamaño MV (máquina virtual)"
    IDS_TAB_PAGEDPOOL "Grupo paginado"
    IDS_TAB_NPPOOL "Grupo NP"
    IDS_TAB_BASEPRI "Base Pri"
    IDS_TAB_HANDLES "Identificadores"
    IDS_TAB_THREADS "Hilos"
    IDS_TAB_USERPBJECTS "Objetos USER"
    IDS_TAB_GDIOBJECTS "Objetos GDI"
    IDS_TAB_IOREADS "Lecturas de E/S"
    IDS_TAB_IOWRITES "Escrituras de E/S"
    IDS_TAB_IOOTHER "Otros de E/S"
    IDS_TAB_IOREADBYTES "Bytes de lectura de E/S"
    IDS_TAB_IOWRITESBYTES "Bytes de escritura de E/S"
    IDS_TAB_IOOTHERBYTES "Otros bytes de E/S"
    IDS_TAB_COMMANDLINE "Línea de comandos"
    IDS_MENU_SELECTCOLUMNS "&Seleccionar columnas..."
    IDS_MENU_16BITTASK "Mos&trar tareas de 16-bit"
    IDS_MENU_WINDOWS "&Ventanas"
    IDS_MENU_LARGEICONS "Iconos g&randes"
    IDS_MENU_SMALLICONS "Iconos &pequeños"
    IDS_MENU_DETAILS "&Detalles"
    IDS_MENU_ONEGRAPHALLCPUS "&Un gráfico de todas las CPU"
    IDS_MENU_ONEGRAPHPERCPU "Un gráfico &por CPU"
    IDS_MENU_CPUHISTORY "Historial de &CPU"
    IDS_MENU_SHOWKERNELTIMES "Mostrar cronología del &kernel"
    IDS_CREATENEWTASK "Crear nueva tarea"
    IDS_CREATENEWTASK_DESC "Escriba el nombre del programa, carpeta, documento o recurso de Internet que desea abrir con ReactOS."
    IDS_MSG_ACCESSPROCESSAFF "No se pudo acceder o configurar la afinidad del proceso"
    IDS_MSG_PROCESSONEPRO "El proceso debe tener afinidad al menos con un procesador."
    IDS_MSG_INVALIDOPTION "Opción no válida"
    IDS_MSG_UNABLEDEBUGPROCESS "No se pudo depurar el proceso"
    IDS_MSG_WARNINGDEBUG "ADVERTENCIA: La depuración de este proceso puede resultar en perdidad de datos.\n¿Esta seguro que quiere usar el depurador?"
    IDS_MSG_TASKMGRWARNING "Advertencia del Administrador de tareas"
    IDS_MSG_WARNINGTERMINATING "ADVERTENCIA: Si finaliza un proceso puede obtener resultados no\ndeseados como la pérdida de datos y la inestabilidad del sistema. El\nproceso no tendrá tiempo para guardar su estado o datos\nantes de cerrarse. ¿Está seguro que desea continuar?"
    IDS_MSG_UNABLETERMINATEPRO "No se pudo finalizar el proceso"
    IDS_MSG_CLOSESYSTEMPROCESS "Éste es un proceso crítico para el sistema. El administrador de tareas no terminará este proceso."
    IDS_MSG_UNABLECHANGEPRIORITY "No se pudo cambiar la prioridad"
    IDS_MSG_WARNINGCHANGEPRIORITY "Advertencia: El cambio de prioridad en ciertos procesos podría provocar la inestabilidad del sistema.\n¿Seguro que desea cambiar la prioridad?"
    IDS_MSG_TRAYICONCPUUSAGE "Promedio CPU: %d%%"
    IDS_STATUS_MEMUSAGE "Uso de memoria: %s / %s (%d%%)"
    IDS_STATUS_CPUUSAGE "CPU: %3d%%"
    IDS_STATUS_PROCESSES "Procesos: %d"
    IDS_NOT_RESPONDING "No responde"
    IDS_RUNNING "En ejecución"
END
