/* French (Fr) resources by Benoit Plante (aka cmoibenlepro) */

LANGUAGE LANG_FRENCH, SUBLANG_NEUTRAL

IDR_TASKMANAGER MENU
BEGIN
    POPUP "&Fichier"
    BEGIN
        MENUITEM "&Nouvelle tâche (Exécuter...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Quitter le Gestionnaire des tâches", ID_FILE_EXIT
    END
    POPUP "&Options"
    BEGIN
        MENUITEM "&Toujours visible", ID_OPTIONS_ALWAYSONTOP, CHECKED
        MENUITEM "&Réduire à l'exécution", ID_OPTIONS_MINIMIZEONUSE, CHECKED
        MENUITEM "&Masquer l'icône réduite", ID_OPTIONS_HIDEWHENMINIMIZED, CHECKED
        MENUITEM "Afficher les &tâches 16-bits", ID_OPTIONS_SHOW16BITTASKS, CHECKED
    END
    POPUP "&Affichage"
    BEGIN
        MENUITEM "&Actualiser maintenant", ID_VIEW_REFRESH
        POPUP "&Fréquence d'actualisation"
        BEGIN
            MENUITEM "&Haute", ID_VIEW_UPDATESPEED_HIGH
            MENUITEM "&Normale", ID_VIEW_UPDATESPEED_NORMAL, CHECKED
            MENUITEM "&Basse", ID_VIEW_UPDATESPEED_LOW
            MENUITEM "&En pause", ID_VIEW_UPDATESPEED_PAUSED
        END
        MENUITEM SEPARATOR
        MENUITEM "&Grandes icônes", ID_VIEW_LARGE
        MENUITEM "&Petites icônes", ID_VIEW_SMALL
        MENUITEM "&Détails", ID_VIEW_DETAILS, CHECKED
        MENUITEM "&Sélectionner les colonnes...", ID_VIEW_SELECTCOLUMNS
        POPUP "&Historique du processeur"
        BEGIN
            MENUITEM "&Un graphique pour tous les UC", ID_VIEW_CPUHISTORY_ONEGRAPHALL
            MENUITEM "Un graphique &par UC", ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU, CHECKED
        END
        MENUITEM "Aff&icher les temps du noyau", ID_VIEW_SHOWKERNELTIMES
    END
    POPUP "&Fenêtres"
    BEGIN
        MENUITEM "Mosaïque &horizontale", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "Mosaïque &verticale", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "Réd&uire", ID_WINDOWS_MINIMIZE
        MENUITEM "Agra&ndir", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Cascade", ID_WINDOWS_CASCADE
        MENUITEM "Mettre au &premier plan", ID_WINDOWS_BRINGTOFRONT
    END
    POPUP "É&teindre"
    BEGIN
        MENUITEM "&Mettre en veille",                  ID_SHUTDOWN_STANDBY
        MENUITEM "&Hiberner",                 ID_SHUTDOWN_HIBERNATE
        MENUITEM "É&teindre",                  ID_SHUTDOWN_POWEROFF
        MENUITEM "&Redémarrer",                   ID_SHUTDOWN_REBOOT
        MENUITEM "&Femer la session %s",                ID_SHUTDOWN_LOGOFF
        MENUITEM "&Changer d'utilisateur\tWinKey+L",     ID_SHUTDOWN_SWITCHUSER, GRAYED
        MENUITEM "&Verrouiller l'ordinateur\tWinKey+L",   ID_SHUTDOWN_LOCKCOMPUTER
        MENUITEM "&Déconnecter",                ID_SHUTDOWN_DISCONNECT, GRAYED
        MENUITEM "Libér&er l'ordinateur de la station",            ID_SHUTDOWN_EJECT_COMPUTER, GRAYED
    END
    POPUP "&Aide"
    BEGIN
        MENUITEM "&Rubriques d'aide du Gestionnaire des tâches", ID_HELP_TOPICS
        MENUITEM SEPARATOR
        MENUITEM "À &propos du Gestionnaire des tâches", ID_HELP_ABOUT
    END
END

IDR_WINDOWSMENU MENU
BEGIN
    MENUITEM "Mosaïque &horizontale", ID_WINDOWS_TILEHORIZONTALLY
    MENUITEM "Mosaïque &verticale", ID_WINDOWS_TILEVERTICALLY
    MENUITEM "Réd&uire", ID_WINDOWS_MINIMIZE
    MENUITEM "Agra&ndir", ID_WINDOWS_MAXIMIZE
    MENUITEM "&Cascade", ID_WINDOWS_CASCADE
    MENUITEM "Mettre au &premier plan", ID_WINDOWS_BRINGTOFRONT
END

IDR_APPLICATION_PAGE_CONTEXT1 MENU
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Nouvelle tâche (Exécuter...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Grandes icônes", ID_VIEW_LARGE
        MENUITEM "&Petites icônes", ID_VIEW_SMALL
        MENUITEM "&Détails", ID_VIEW_DETAILS, CHECKED
    END
END

IDR_APPLICATION_PAGE_CONTEXT2 MENU
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Basculer vers", ID_APPLICATION_PAGE_SWITCHTO
        MENUITEM "Mettre au &premier plan", ID_WINDOWS_BRINGTOFRONT
        MENUITEM SEPARATOR
        MENUITEM "Mosaïque &horizontale", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "Mosaïque &verticale", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "Réd&uire", ID_WINDOWS_MINIMIZE
        MENUITEM "Agra&ndir", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Cascade", ID_WINDOWS_CASCADE
        MENUITEM SEPARATOR
        MENUITEM "F&in de tâche", ID_APPLICATION_PAGE_ENDTASK
        MENUITEM "&Aller dans le processus", ID_APPLICATION_PAGE_GOTOPROCESS
    END
END

IDR_TRAY_POPUP MENU
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Restaurer", ID_RESTORE
        MENUITEM "&Fermer", ID_FILE_EXIT
        MENUITEM SEPARATOR
        MENUITEM "&Toujours visible", ID_OPTIONS_ALWAYSONTOP
    END
END

IDR_PROCESS_PAGE_CONTEXT MENU
BEGIN
    POPUP "DUMMY"
    BEGIN
        MENUITEM "&Terminer le processus", ID_PROCESS_PAGE_ENDPROCESS
        MENUITEM "T&erminer l'arborescence du processus", ID_PROCESS_PAGE_ENDPROCESSTREE
        MENUITEM "&Déboguer", ID_PROCESS_PAGE_DEBUG
        MENUITEM SEPARATOR
        POPUP "Dé&finir la priorité"
        BEGIN
            MENUITEM "&Temps réel", ID_PROCESS_PAGE_SETPRIORITY_REALTIME
            MENUITEM "&Haute", ID_PROCESS_PAGE_SETPRIORITY_HIGH
            MENUITEM "&Supérieure à la normale", ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL
            MENUITEM "&Normale", ID_PROCESS_PAGE_SETPRIORITY_NORMAL
            MENUITEM "&Inférieure à la normale", ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL
            MENUITEM "&Basse", ID_PROCESS_PAGE_SETPRIORITY_LOW
        END
        MENUITEM "Définir l'&affinité...", ID_PROCESS_PAGE_SETAFFINITY
        MENUITEM SEPARATOR
        MENUITEM "&Properties", ID_PROCESS_PAGE_PROPERTIES
        MENUITEM "&Open File Location", ID_PROCESS_PAGE_OPENFILELOCATION
    END
END

/* Dialogs */

/* TRANSLATORS: CAPTION must be the same as IDS_APP_TITLE to be brought back to focus when already opened */

IDD_TASKMGR_DIALOG DIALOGEX 0, 0, 264, 246
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP |
      WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Gestionnaire des tâches"
MENU IDR_TASKMANAGER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Tab1", IDC_TAB, "SysTabControl32", WS_TABSTOP, 3, 3, 257, 228
END

IDD_APPLICATION_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "List2", IDC_APPLIST, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS |
            WS_BORDER | WS_TABSTOP, 7, 7, 233, 177
    PUSHBUTTON "&Nouvelle tâche", IDC_NEWTASK, 187, 189, 53, 14
    PUSHBUTTON "&Basculer vers", IDC_SWITCHTO, 131, 189, 53, 14, WS_DISABLED
    PUSHBUTTON "F&in de tâche", IDC_ENDTASK, 75, 189, 53, 14, WS_DISABLED
END

IDD_PROCESS_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "List2", IDC_PROCESSLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 7, 7, 233, 177
    PUSHBUTTON "&Terminer le processus", IDC_ENDPROCESS, 165, 189, 75, 14
    CONTROL "Aff&icher les processus de tous les utilisateurs", IDC_SHOWALLPROCESSES, "Button",
            BS_AUTOCHECKBOX | WS_TABSTOP, 7, 191, 155, 10
END

/* IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210 */
IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Util. de l'UC", IDC_CPU_USAGE_FRAME, 5, 5, 60, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Util. de la mémoire", IDC_MEM_USAGE_FRAME, 5, 63, 60, 54, BS_LEFTTEXT, WS_EX_TRANSPARENT
    GROUPBOX "Totaux", IDC_TOTALS_FRAME, 5, 122, 111, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Charge dédiée (Ko)", IDC_COMMIT_CHARGE_FRAME, 5, 166, 111, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Mémoire physique (Ko)", IDC_PHYSICAL_MEMORY_FRAME, 131, 122, 111, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Mémoire noyau (Ko)", IDC_KERNEL_MEMORY_FRAME, 131, 166, 111, 39, 0, WS_EX_TRANSPARENT
    LTEXT "Handles", IDS_TOTALS_HANDLE_COUNT, 12, 131, 53, 8
    LTEXT "Threads", IDS_TOTALS_THREAD_COUNT, 12, 140, 53, 8
    LTEXT "Processus", IDS_TOTALS_PROCESS_COUNT, 12, 149, 53, 8
    EDITTEXT IDC_TOTALS_HANDLE_COUNT, 65, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_THREAD_COUNT, 65, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_PROCESS_COUNT, 65, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Total", IDS_COMMIT_CHARGE_TOTAL, 12, 175, 53, 8
    LTEXT "Limite", IDS_COMMIT_CHARGE_LIMIT, 12, 184, 53, 8, NOT WS_BORDER
    LTEXT "Pic", IDS_COMMIT_CHARGE_PEAK, 12, 193, 53, 8
    EDITTEXT IDC_COMMIT_CHARGE_TOTAL, 65, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_LIMIT, 65, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_PEAK, 65, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Total", IDS_PHYSICAL_MEMORY_TOTAL, 137, 131, 48, 8
    LTEXT "Disponible", IDS_PHYSICAL_MEMORY_AVAILABLE, 137, 140, 48, 8
    LTEXT "Cache système", IDS_PHYSICAL_MEMORY_SYSTEM_CACHE, 137, 149, 48, 8
    EDITTEXT IDC_PHYSICAL_MEMORY_TOTAL, 185, 131, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_AVAILABLE, 185, 140, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_SYSTEM_CACHE, 185, 149, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Total", IDS_KERNEL_MEMORY_TOTAL, 137, 174, 48, 8
    LTEXT "Paginée", IDS_KERNEL_MEMORY_PAGED, 137, 184, 48, 8
    LTEXT "Non paginée", IDS_KERNEL_MEMORY_NONPAGED, 137, 193, 48, 8
    EDITTEXT IDC_KERNEL_MEMORY_TOTAL, 185, 174, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_PAGED, 185, 184, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_NONPAGED, 185, 193, 48, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    GROUPBOX "Historique de l'utilisation de l'UC", IDC_CPU_USAGE_HISTORY_FRAME, 74, 5, 168, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Historique d'utilisation de la mémoire", IDC_MEMORY_USAGE_HISTORY_FRAME, 74, 63, 168, 54, 0, WS_EX_TRANSPARENT
    PUSHBUTTON "Affichage de l'utilisation de l'UC", IDC_CPU_USAGE_GRAPH, 12, 17, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Affichage de l'utilisation du fichier d'échange", IDC_MEM_USAGE_GRAPH, 12, 75, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Historique de l'utilisation de l'UC", IDC_CPU_USAGE_HISTORY_GRAPH, 81, 17, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Historique d'utilisation du fichier d'échange", IDC_MEM_USAGE_HISTORY_GRAPH, 81, 75, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
END

IDD_DEBUG_CHANNELS_DIALOG DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Cannaux de débogage"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "List2", IDC_DEBUG_CHANNELS_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP | LVS_SORTASCENDING, 7, 7, 233, 177
    PUSHBUTTON "Fermer", IDOK, 171, 189, 69, 14
END

IDD_AFFINITY_DIALOG DIALOGEX 0, 0, 231, 154
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Affinité du processeur"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 120, 133, 50, 14
    PUSHBUTTON "Annuler", IDCANCEL, 174, 133, 50, 14
    LTEXT "La configuration de l'affinité du processeur contrôle l'UC sur lequel un processus sera autorisé d'être exécuté", IDC_STATIC, 5, 5, 220, 16
    CONTROL "UC 0", IDC_CPU0, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 11, 28, 37, 10
    CONTROL "UC 1", IDC_CPU1, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 41, 37, 10
    CONTROL "UC 2", IDC_CPU2, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 54, 37, 10
    CONTROL "UC 3", IDC_CPU3, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 67, 37, 10
    CONTROL "UC 4", IDC_CPU4, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 80, 37, 10
    CONTROL "UC 5", IDC_CPU5, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 93, 37, 10
    CONTROL "UC 6", IDC_CPU6, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 106, 37, 10
    CONTROL "UC 7", IDC_CPU7, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 11, 119, 37, 10
    CONTROL "UC 8", IDC_CPU8, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 28, 37, 10
    CONTROL "UC 9", IDC_CPU9, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 41, 37, 10
    CONTROL "UC 10", IDC_CPU10, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 54, 41, 10
    CONTROL "UC 11", IDC_CPU11, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 67, 41, 10
    CONTROL "UC 12", IDC_CPU12, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 80, 41, 10
    CONTROL "UC 13", IDC_CPU13, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 93, 41, 10
    CONTROL "UC 14", IDC_CPU14, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 106, 41, 10
    CONTROL "UC 15", IDC_CPU15, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 61, 119, 41, 10
    CONTROL "UC 16", IDC_CPU16, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 28, 41, 10
    CONTROL "UC 17", IDC_CPU17, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 41, 41, 10
    CONTROL "UC 18", IDC_CPU18, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 54, 41, 10
    CONTROL "UC 19", IDC_CPU19, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 67, 41, 10
    CONTROL "UC 20", IDC_CPU20, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 80, 41, 10
    CONTROL "UC 21", IDC_CPU21, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 93, 41, 10
    CONTROL "UC 22", IDC_CPU22, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 106, 41, 10
    CONTROL "UC 23", IDC_CPU23, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 116, 119, 41, 10
    CONTROL "UC 24", IDC_CPU24, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 28, 41, 10
    CONTROL "UC 25", IDC_CPU25, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 41, 41, 10
    CONTROL "UC 26", IDC_CPU26, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 54, 41, 10
    CONTROL "UC 27", IDC_CPU27, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 67, 41, 10
    CONTROL "UC 28", IDC_CPU28, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 80, 41, 10
    CONTROL "UC 29", IDC_CPU29, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 93, 41, 10
    CONTROL "UC 30", IDC_CPU30, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 106, 41, 10
    CONTROL "UC 31", IDC_CPU31, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 175, 119, 41, 10
END

IDD_COLUMNS_DIALOG DIALOGEX 0, 0, 244, 198
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sélection de colonnes"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 130, 177, 50, 14
    PUSHBUTTON "Annuler", IDCANCEL, 187, 177, 50, 14
    LTEXT "Sélectionnez les colonnes qui apparaîtront dans la page Processus du Gestionnaire des tâches", IDC_STATIC, 7, 7, 181, 17
    CONTROL "&Nom de l'image", IDC_IMAGENAME, "Button", BS_AUTOCHECKBOX | WS_DISABLED | WS_TABSTOP, 7, 28, 123, 10
    CONTROL "&PID (Identificateur du Processus)", IDC_PID, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 39, 123, 10
    CONTROL "Utilisation de l'UC", IDC_CPUUSAGE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 50, 123, 10
    CONTROL "T&emps processeur", IDC_CPUTIME, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 61, 123, 10
    CONTROL "Utilisation de la &mémoire", IDC_MEMORYUSAGE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 72, 123, 10
    CONTROL "Écart &d'utilisation de la mémoire", IDC_MEMORYUSAGEDELTA, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 83, 123, 10
    CONTROL "Utilisation ma&ximale de la mémoire", IDC_PEAKMEMORYUSAGE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 94, 123, 10
    CONTROL "Erreurs de page", IDC_PAGEFAULTS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 105, 123, 10
    CONTROL "Objets &USER", IDC_USEROBJECTS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 116, 123, 10
    CONTROL "Lectures E/S", IDC_IOREADS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 127, 123, 10
    CONTROL "Octets de lecture E/S", IDC_IOREADBYTES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 138, 123, 10
    CONTROL "Identificateur de &session", IDC_SESSIONID, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 149, 123, 10
    CONTROL "&Nom de l'utilisateur", IDC_USERNAME, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 7, 160, 123, 10
    CONTROL "Éc&art d'erreurs de pagination", IDC_PAGEFAULTSDELTA, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 129, 28, 108, 10
    CONTROL "Taille de la mémoire &virtuelle", IDC_VIRTUALMEMORYSIZE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 129, 39, 108, 10
    CONTROL "Réserve pa&ginée", IDC_PAGEDPOOL, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 129, 50, 108, 10
    CONTROL "Réserve &non paginée", IDC_NONPAGEDPOOL, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 129, 61, 108, 10
    CONTROL "P&riorité de base", IDC_BASEPRIORITY, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 129, 72, 108, 10
    CONTROL "Nombre de &handles", IDC_HANDLECOUNT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 129, 83, 108, 10
    CONTROL "Nombre de &threads", IDC_THREADCOUNT, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 129, 94, 108, 10
    CONTROL "Objets GDI", IDC_GDIOBJECTS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 129, 105, 108, 10
    CONTROL "Écritures E/S", IDC_IOWRITES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 129, 116, 108, 10
    CONTROL "Octets d'écriture E/S", IDC_IOWRITEBYTES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 129, 127, 108, 10
    CONTROL "Autres E/S", IDC_IOOTHER, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 129, 138, 108, 10
    CONTROL "Octets d'autres E/S", IDC_IOOTHERBYTES, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 129, 149, 108, 10
    CONTROL "&Ligne de commande", IDC_COMMANDLINE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 129, 160, 95, 10
END

/* String Tables */

STRINGTABLE
BEGIN
    IDS_APP_TITLE "Gestionnaire des tâches"
    IDC_TASKMGR "Gestionnaire des tâches"
    IDS_IDLE_PROCESS "Processus système en attente"
END

STRINGTABLE
BEGIN
    ID_FILE_NEW "Exécute un nouveau programme"
    ID_OPTIONS_ALWAYSONTOP "Le Gestionnaire des tâches reste devant toutes les autres fenêtre à moins d'être réduit"
    ID_OPTIONS_MINIMIZEONUSE "Le Gestionnaire des tâches est réduite lorqu'une action Basculer vers est réalisée"
    ID_OPTIONS_HIDEWHENMINIMIZED "Masquer le Gestionnaire des tâches lorsqu'il est réduit"
    ID_VIEW_REFRESH "Actualise l'affichage maintenant, sans tenir compte de la fréquence d'actualisation"
    ID_VIEW_LARGE "Affiche les tâches en utilisant des grandes icônes"
    ID_VIEW_SMALL "Affiche les tâches en utilisant des petites icônes"
    ID_VIEW_DETAILS "Affiche des informations à propos de chaque tâche"
    ID_VIEW_UPDATESPEED_HIGH "Actualise l'écran deux fois par seconde"
    ID_VIEW_UPDATESPEED_NORMAL "Actualise l'écran une fois toutes les deux secondes"
    ID_VIEW_UPDATESPEED_LOW "Actualise l'écran toutes les quatre secondes"
END

STRINGTABLE
BEGIN
    ID_VIEW_UPDATESPEED_PAUSED "L'affichage n'est pas automatiquement actualisé"
    ID_WINDOWS_TILEHORIZONTALLY "Dispose les fenêtres en mosaïque horizontale sur le bureau"
    ID_WINDOWS_TILEVERTICALLY "Dispose les fenêtres en mosaïque verticale sur le bureau"
    ID_WINDOWS_MINIMIZE "Minimise les fenêtres"
    ID_WINDOWS_MAXIMIZE "Maximise les fenêtres"
    ID_WINDOWS_CASCADE "Dispose les fenêtres en cascade diagonale sur le bureau"
    ID_WINDOWS_BRINGTOFRONT "Amène une fenêtre au premier plan, sans basculer vers elle"
    ID_HELP_TOPICS "Affiche les rubriques d'aide du Gestionnaire des tâches"
    ID_HELP_ABOUT "Affiche les information sur le programme, la version et le copyright"
    ID_FILE_EXIT "Quitte l'application Gestionnaire des tâches"
    ID_OPTIONS_SHOW16BITTASKS "Affiche les tâches 16-bits sous le ntvdm.exe associé"
    ID_VIEW_SELECTCOLUMNS "Sélectionne quelles colonnes seront affichés dans la page des processus"
    ID_VIEW_SHOWKERNELTIMES "Affiche les temps du noyau dans les graphiques de performances"
    ID_VIEW_CPUHISTORY_ONEGRAPHALL "Un seul graphique montre l'usage de tous les UC"
    ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU "Chaque UC a son propre graphique"
    ID_APPLICATION_PAGE_SWITCHTO "Amène une tâche en avant-plan, mettre le focus sur cette tâche"
END

STRINGTABLE
BEGIN
    ID_ENDTASK "Ferme la tâche sélectionnée"
    ID_GOTOPROCESS "Met le focus sur le processus de la tâche sélectionnée"
    ID_RESTORE "Restaure le Gestionnaire des tâches de son état masqué"
    ID_PROCESS_PAGE_ENDPROCESS "Enlève le processus du système"
    ID_PROCESS_PAGE_ENDPROCESSTREE "Enlève ce processus et tous ses descendants du système"
    ID_PROCESS_PAGE_DEBUG "Attache le débogueur à ce processus"
    ID_PROCESS_PAGE_SETAFFINITY "Contrôle le processeur sur lequel le processus sera autorisé de s'exécuter"
    ID_PROCESS_PAGE_SETPRIORITY_REALTIME "Place le processus dans la priorité TEMPS RÉEL"
    ID_PROCESS_PAGE_SETPRIORITY_HIGH "Place le processus dans la priorité HAUTE"
    ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL "Place le processus dans la priorité SUPÉRIEURE À LA NORMALE"
    ID_PROCESS_PAGE_SETPRIORITY_NORMAL "Place le processus dans la priorité NORMALE"
    ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL "Place le processus dans la priorité INFÉRIRIEURE À LA NORMALE"
    ID_PROCESS_PAGE_SETPRIORITY_LOW "Place le processus dans la priorité BASSE"
END

STRINGTABLE
BEGIN
    IDS_TAB_APPS "Applications"
    IDS_TAB_PROCESSES "Processus"
    IDS_TAB_PERFORMANCE "Performance"
    IDS_TAB_TASK "Tâche"
    IDS_TAB_STATUS "Statut"
    IDS_TAB_IMAGENAME "Nom de l'image"
    IDS_TAB_PID "PID"
    IDS_TAB_USERNAME "Nom d'utilisateur"
    IDS_TAB_SESSIONID "Identificateur de session"
    IDS_TAB_CPU "UC"
    IDS_TAB_CPUTIME "Temps de l'UC"
    IDS_TAB_MEMUSAGE "Utilisation de la mémoire"
    IDS_TAB_PEAKMEMUSAGE "Utilisation maximale du fichier"
    IDS_TAB_MEMDELTA "Écart d'utilisation du fichier"
    IDS_TAB_PAGEFAULT "Erreurs de page"
    IDS_TAB_PFDELTA "Écart de PF"
    IDS_TAB_VMSIZE "Taille du VM"
    IDS_TAB_PAGEDPOOL "Réserve paginée"
    IDS_TAB_NPPOOL "Réserve non paginée"
    IDS_TAB_BASEPRI "Priorité de base"
    IDS_TAB_HANDLES "Handles"
    IDS_TAB_THREADS "Threads"
    IDS_TAB_USERPBJECTS "Objets USER"
    IDS_TAB_GDIOBJECTS "Objets GDI"
    IDS_TAB_IOREADS "Lectures E/S"
    IDS_TAB_IOWRITES "Écritures E/S"
    IDS_TAB_IOOTHER "Autres E/S"
    IDS_TAB_IOREADBYTES "Octets de lecture E/S"
    IDS_TAB_IOWRITESBYTES "Octets d'écriture E/S"
    IDS_TAB_IOOTHERBYTES "Octets d'autres E/S"
    IDS_TAB_COMMANDLINE "Ligne de commande"
    IDS_MENU_SELECTCOLUMNS "&Sélectionner les colonnes..."
    IDS_MENU_16BITTASK "&Afficher les tâches 16 bits"
    IDS_MENU_WINDOWS "&Fenêtres"
    IDS_MENU_LARGEICONS "&Grandes icônes"
    IDS_MENU_SMALLICONS "&Petites icônes"
    IDS_MENU_DETAILS "&Détails"
    IDS_MENU_ONEGRAPHALLCPUS "&Un graphique pour tous les UC"
    IDS_MENU_ONEGRAPHPERCPU "Un graphique &par UC"
    IDS_MENU_CPUHISTORY "Historique de l'utilisation de l'UC"
    IDS_MENU_SHOWKERNELTIMES "Aff&icher les temps du noyau"
    IDS_CREATENEWTASK "Créer une nouvelle tâche"
    IDS_CREATENEWTASK_DESC "Entrez le nom d'un programme, d'un dossier, d'un document ou d'une ressource Internet, et le Gestionnaire des tâches l'ouvrira pour vous."
    IDS_MSG_ACCESSPROCESSAFF "Impossible d'accéder ou de mofier l'affinité du processeur."
    IDS_MSG_PROCESSONEPRO "Le processus doit avoir de l'affinité avec au moins un processeur."
    IDS_MSG_INVALIDOPTION "Option Invalide"
    IDS_MSG_UNABLEDEBUGPROCESS "Impossible de déboguer le processus."
    IDS_MSG_WARNINGDEBUG "ATTENTION : Déboguer ce processus peut entraîner une perte de données.\nÊtes-vous sûrs de vouloir le déboguer ?"
    IDS_MSG_TASKMGRWARNING "Avertissement du Gestionnaire des tâches"
    IDS_MSG_WARNINGTERMINATING "ATTENTION : Terminer un processus peut causer des effets indésirables\nincluant une perte de donnée ou une instabilité du système.\nLe processus n'aura pas la chance de sauvegarder son état\nou les données avant de terminer.\nÊtes-vous sûr de vouloir terminer le processus ?"
    IDS_MSG_UNABLETERMINATEPRO "Impossible de terminer le processus"
    IDS_MSG_CLOSESYSTEMPROCESS "C'est un processus critique du système. Le gestionnaire de tâche ne le terminera pas."
    IDS_MSG_UNABLECHANGEPRIORITY "Impossible de changer la priorité"
    IDS_MSG_WARNINGCHANGEPRIORITY "ATTENTION : Changer la priorité du processus peut causer des\neffets indésirables comme l'instabilité du système.\nÊtes-vous sûr de vouloir changer la priorité ?"
    IDS_MSG_TRAYICONCPUUSAGE "UC utilisée : %d%%"
    IDS_STATUS_MEMUSAGE "Fichier d'échange utilisé : %s / %s (%d%%)"
    IDS_STATUS_CPUUSAGE "UC utilisée : %3d%%"
    IDS_STATUS_PROCESSES "Processus : %d"
    IDS_NOT_RESPONDING "Ne répond pas"
    IDS_RUNNING "En cours d'exécution"
END
