// COPYRIGHT: Baruch Rutman (peterooch), Shy Zedaka

LANGUAGE LANG_HEBREW, SUBLANG_DEFAULT

IDR_TASKMANAGER MENU
BEGIN
    POPUP "&קובץ"
    BEGIN
        MENUITEM "משימה &חדשה", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "י&ציאה", ID_FILE_EXIT
    END
    POPUP "&אפשרויות"
    BEGIN
        MENUITEM "תמיד &עליון", ID_OPTIONS_ALWAYSONTOP, CHECKED
        MENUITEM "&מזער בעת שימוש", ID_OPTIONS_MINIMIZEONUSE, CHECKED
        MENUITEM "&הסתר בעת שימוש", ID_OPTIONS_HIDEWHENMINIMIZED, CHECKED
        MENUITEM "", ID_OPTIONS_SHOW16BITTASKS, CHECKED
    END
    POPUP "ת&צוגה"
    BEGIN
        MENUITEM "&רענן כעת", ID_VIEW_REFRESH
        POPUP "מה&ירות עדכון"
        BEGIN
            MENUITEM "&גבוהה", ID_VIEW_UPDATESPEED_HIGH
            MENUITEM "&רגילה", ID_VIEW_UPDATESPEED_NORMAL, CHECKED
            MENUITEM "&נמוכה", ID_VIEW_UPDATESPEED_LOW
            MENUITEM "&מושהה", ID_VIEW_UPDATESPEED_PAUSED
        END
        MENUITEM SEPARATOR
        MENUITEM "", ID_VIEW_LARGE
        MENUITEM "", ID_VIEW_SMALL
        MENUITEM "", ID_VIEW_DETAILS, CHECKED
        MENUITEM "", ID_VIEW_SELECTCOLUMNS
        POPUP ""
        BEGIN
            MENUITEM "", ID_VIEW_CPUHISTORY_ONEGRAPHALL
            MENUITEM "", ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU, CHECKED
        END
        MENUITEM "", ID_VIEW_SHOWKERNELTIMES
    END
    POPUP ""
    BEGIN
        MENUITEM "חלונות מוערמים", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "חלונות זה לצד זה", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&מזער", ID_WINDOWS_MINIMIZE
        MENUITEM "&הגדל", ID_WINDOWS_MAXIMIZE
        MENUITEM "מדורג", ID_WINDOWS_CASCADE
        MENUITEM "ה&בא לפנים", ID_WINDOWS_BRINGTOFRONT
    END
    POPUP "&כיבוי"
    BEGIN
        MENUITEM "Stand &By", ID_SHUTDOWN_STANDBY
        MENUITEM "&Hibernate", ID_SHUTDOWN_HIBERNATE
        MENUITEM "T&urn Off", ID_SHUTDOWN_POWEROFF
        MENUITEM "&Restart", ID_SHUTDOWN_REBOOT
        MENUITEM "&Log Off %s", ID_SHUTDOWN_LOGOFF
        MENUITEM "&Switch User\tWinKey+L", ID_SHUTDOWN_SWITCHUSER, GRAYED
        MENUITEM "Loc&k Computer\tWinKey+L", ID_SHUTDOWN_LOCKCOMPUTER
        MENUITEM "&Disconnect", ID_SHUTDOWN_DISCONNECT, GRAYED
        MENUITEM "&Eject Computer", ID_SHUTDOWN_EJECT_COMPUTER, GRAYED
    END
    POPUP "&עזרה"
    BEGIN
        MENUITEM "&נושאי עזרה של מנהל המשימות", ID_HELP_TOPICS
        MENUITEM SEPARATOR
        MENUITEM "&אודות מנהל המשימות", ID_HELP_ABOUT
    END
END

IDR_WINDOWSMENU MENU
BEGIN
    MENUITEM "חלונות מוערמים", ID_WINDOWS_TILEHORIZONTALLY
    MENUITEM "חלונות זה לצד זה", ID_WINDOWS_TILEVERTICALLY
    MENUITEM "&מזער", ID_WINDOWS_MINIMIZE
    MENUITEM "&הגדל", ID_WINDOWS_MAXIMIZE
    MENUITEM "מדורג", ID_WINDOWS_CASCADE
    MENUITEM "ה&בא לפנים", ID_WINDOWS_BRINGTOFRONT
END

IDR_APPLICATION_PAGE_CONTEXT1 MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "משימה &חדשה", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "סמלים &גדולים", ID_VIEW_LARGE
        MENUITEM "סמלים &קטנים", ID_VIEW_SMALL
        MENUITEM "&מאפיינים", ID_VIEW_DETAILS, CHECKED
    END
END

IDR_APPLICATION_PAGE_CONTEXT2 MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&עבור אל", ID_APPLICATION_PAGE_SWITCHTO
        MENUITEM "ה&בא לפנים", ID_WINDOWS_BRINGTOFRONT
        MENUITEM SEPARATOR
        MENUITEM "Tile &Horizontally", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "Tile &Vertically", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&מזער", ID_WINDOWS_MINIMIZE
        MENUITEM "&הגדל", ID_WINDOWS_MAXIMIZE
        MENUITEM "מדורג", ID_WINDOWS_CASCADE
        MENUITEM SEPARATOR
        MENUITEM "&סיים משימה", ID_APPLICATION_PAGE_ENDTASK
        MENUITEM "&עבור אל תהליך", ID_APPLICATION_PAGE_GOTOPROCESS
    END
END

IDR_TRAY_POPUP MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&שחזר", ID_RESTORE
        MENUITEM "&סגור", ID_FILE_EXIT
        MENUITEM SEPARATOR
        MENUITEM "&תמיד מעל", ID_OPTIONS_ALWAYSONTOP
    END
END

IDR_PROCESS_PAGE_CONTEXT MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&סיים תהליך", ID_PROCESS_PAGE_ENDPROCESS
        MENUITEM "סיים &עץ תהליכים", ID_PROCESS_PAGE_ENDPROCESSTREE
        MENUITEM "&ניפוי שגיאות", ID_PROCESS_PAGE_DEBUG
        MENUITEM SEPARATOR
        POPUP "&קבע עדיפות"
        BEGIN
            MENUITEM "&זמן אמת", ID_PROCESS_PAGE_SETPRIORITY_REALTIME
            MENUITEM "&גבוהה", ID_PROCESS_PAGE_SETPRIORITY_HIGH
            MENUITEM "&מעל לרגילה", ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL
            MENUITEM "&רגילה", ID_PROCESS_PAGE_SETPRIORITY_NORMAL
            MENUITEM "מ&תחת לרגילה", ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL
            MENUITEM "&נמוכה", ID_PROCESS_PAGE_SETPRIORITY_LOW
        END
        MENUITEM "הגדרת &קירבה", ID_PROCESS_PAGE_SETAFFINITY
        MENUITEM SEPARATOR
        MENUITEM "P&roperties", ID_PROCESS_PAGE_PROPERTIES
        MENUITEM "&Open File Location", ID_PROCESS_PAGE_OPENFILELOCATION
    END
END

/* Dialogs */

/* TRANSLATORS: CAPTION must be the same as IDS_APP_TITLE to be brought back to focus when already opened */

IDD_TASKMGR_DIALOG DIALOGEX 0, 0, 264, 246
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP |
      WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "מנהל המשימות"
MENU IDR_TASKMANAGER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_TAB, "SysTabControl32", WS_TABSTOP, 3, 3, 257, 228
END

IDD_APPLICATION_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_APPLIST, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS |
            WS_BORDER | WS_TABSTOP, 5, 7, 235, 177
    PUSHBUTTON "&סיים משימה", IDC_ENDTASK, 75, 189, 53, 14, WS_DISABLED
    PUSHBUTTON "&עבור אל", IDC_SWITCHTO, 131, 189, 53, 14, WS_DISABLED
    PUSHBUTTON "&משימה חדשה", IDC_NEWTASK, 187, 189, 53, 14
END

IDD_PROCESS_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_PROCESSLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 5, 7, 235, 177
    AUTOCHECKBOX "&הראה תהליכים מכל המשתמשים", IDC_SHOWALLPROCESSES, 5, 191, 126, 10
    PUSHBUTTON "&סיים תהליך", IDC_ENDPROCESS, 171, 189, 69, 14
END

IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "שימוש במעבד", IDC_CPU_USAGE_FRAME, 5, 5, 60, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "שימוש בזיכרון", IDC_MEM_USAGE_FRAME, 5, 63, 60, 54, BS_LEFTTEXT, WS_EX_TRANSPARENT
    GROUPBOX "סך הכל", IDC_TOTALS_FRAME, 5, 122, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Commit Charge (K)", IDC_COMMIT_CHARGE_FRAME, 5, 166, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "זיכרון פיזי (K)", IDC_PHYSICAL_MEMORY_FRAME, 128, 122, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "זיכרון ליבה (K)", IDC_KERNEL_MEMORY_FRAME, 128, 166, 114, 39, 0, WS_EX_TRANSPARENT
    LTEXT "מזהים יחודיים", IDS_TOTALS_HANDLE_COUNT, 12, 131, 57, 8
    LTEXT "תהליכי משנה", IDS_TOTALS_THREAD_COUNT, 12, 140, 57, 8
    LTEXT "תהליכים", IDS_TOTALS_PROCESS_COUNT, 12, 149, 57, 8
    EDITTEXT IDC_TOTALS_HANDLE_COUNT, 69, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_THREAD_COUNT, 69, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_PROCESS_COUNT, 69, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "סה""כ", IDS_COMMIT_CHARGE_TOTAL, 12, 175, 57, 8
    LTEXT "הגבלה", IDS_COMMIT_CHARGE_LIMIT, 12, 184, 57, 8, NOT WS_BORDER
    LTEXT "שיא", IDS_COMMIT_CHARGE_PEAK, 12, 193, 57, 8
    EDITTEXT IDC_COMMIT_CHARGE_TOTAL, 69, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_LIMIT, 69, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_PEAK, 69, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "סך הכל", IDS_PHYSICAL_MEMORY_TOTAL, 134, 131, 57, 8
    LTEXT "זמין", IDS_PHYSICAL_MEMORY_AVAILABLE, 134, 140, 57, 8
    LTEXT "מטמון המערכת", IDS_PHYSICAL_MEMORY_SYSTEM_CACHE, 134, 149, 57, 8
    EDITTEXT IDC_PHYSICAL_MEMORY_TOTAL, 192, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_AVAILABLE, 192, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_SYSTEM_CACHE, 192, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "סך הכל", IDS_KERNEL_MEMORY_TOTAL, 134, 174, 57, 8
    LTEXT "Paged", IDS_KERNEL_MEMORY_PAGED, 134, 184, 57, 8 //FIXME: Shorten the string. "מאגר בקובץ ההחלפה" is too long. Do NOT shorten the numbers!
    LTEXT "Nonpaged", IDS_KERNEL_MEMORY_NONPAGED, 134, 193, 57, 8 //FIXME: Shorten the string. "מאגר שלא בקובץ ההחלפה" is too long. Do NOT shorten the numbers!
    EDITTEXT IDC_KERNEL_MEMORY_TOTAL, 192, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_PAGED, 192, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_NONPAGED, 192, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    GROUPBOX "היסטורית שימוש במעבד", IDC_CPU_USAGE_HISTORY_FRAME, 74, 5, 168, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "היסטורית שימוש בזיכרון", IDC_MEMORY_USAGE_HISTORY_FRAME, 74, 63, 168, 54, 0, WS_EX_TRANSPARENT
    PUSHBUTTON "CPU Usage Display", IDC_CPU_USAGE_GRAPH, 12, 17, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "MEM Usage Display", IDC_MEM_USAGE_GRAPH, 12, 75, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "היסטורית שימוש במעבד", IDC_CPU_USAGE_HISTORY_GRAPH, 81, 17, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "היסטורית שימוש בזיכרון", IDC_MEM_USAGE_HISTORY_GRAPH, 81, 75, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
END

IDD_AFFINITY_DIALOG DIALOGEX 0, 0, 231, 154
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "קירבה בין מעבדים"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "אישור", IDOK, 120, 133, 50, 14
    PUSHBUTTON "ביטול", IDCANCEL, 174, 133, 50, 14
    LTEXT "The Processor Affinity setting controls which CPUs the process will be allowed to execute on.", IDC_STATIC, 5, 5, 220, 16
    AUTOCHECKBOX "CPU 0", IDC_CPU0, 11, 28, 37, 10
    AUTOCHECKBOX "CPU 1", IDC_CPU1, 11, 41, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 2", IDC_CPU2, 11, 54, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 3", IDC_CPU3, 11, 67, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 4", IDC_CPU4, 11, 80, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 5", IDC_CPU5, 11, 93, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 6", IDC_CPU6, 11, 106, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 7", IDC_CPU7, 11, 119, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 8", IDC_CPU8, 61, 28, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 9", IDC_CPU9, 61, 41, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 10", IDC_CPU10, 61, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 11", IDC_CPU11, 61, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 12", IDC_CPU12, 61, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 13", IDC_CPU13, 61, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 14", IDC_CPU14, 61, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 15", IDC_CPU15, 61, 119, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 16", IDC_CPU16, 116, 28, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 17", IDC_CPU17, 116, 41, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 18", IDC_CPU18, 116, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 19", IDC_CPU19, 116, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 20", IDC_CPU20, 116, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 21", IDC_CPU21, 116, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 22", IDC_CPU22, 116, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 23", IDC_CPU23, 116, 119, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 24", IDC_CPU24, 175, 28, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 25", IDC_CPU25, 175, 41, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 26", IDC_CPU26, 175, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 27", IDC_CPU27, 175, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 28", IDC_CPU28, 175, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 29", IDC_CPU29, 175, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 30", IDC_CPU30, 175, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 31", IDC_CPU31, 175, 119, 41, 10, WS_DISABLED | WS_TABSTOP
END

IDD_COLUMNS_DIALOG DIALOGEX 0, 0, 195, 199
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "בחירת עמודות"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "אישור", IDOK, 84, 178, 50, 14
    PUSHBUTTON "ביטול", IDCANCEL, 138, 178, 50, 14
    LTEXT "Select the columns that will appear on the Process page of the Task Manager.", IDC_STATIC, 7, 7, 181, 17
    AUTOCHECKBOX "&Image Name", IDC_IMAGENAME, 7, 28, 56, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "&זיהוי תהליך", IDC_PID, 7, 39, 88, 10
    AUTOCHECKBOX "&שימוש במעבד", IDC_CPUUSAGE, 7, 50, 53, 10
    AUTOCHECKBOX "&זמן מעבד", IDC_CPUTIME, 7, 61, 48, 10
    AUTOCHECKBOX "שימוש ב&זיכרון", IDC_MEMORYUSAGE, 7, 72, 63, 10
    AUTOCHECKBOX "Memory Usage &Delta", IDC_MEMORYUSAGEDELTA, 7, 83, 82, 10
    AUTOCHECKBOX "Pea&k Memory Usage", IDC_PEAKMEMORYUSAGE, 7, 94, 82, 10
    AUTOCHECKBOX "Page &Faults", IDC_PAGEFAULTS, 7, 105, 53, 10
    AUTOCHECKBOX "&USER Objects", IDC_USEROBJECTS, 7, 116, 62, 10
    AUTOCHECKBOX "I/O Reads", IDC_IOREADS, 7, 127, 49, 10
    AUTOCHECKBOX "I/O Read Bytes", IDC_IOREADBYTES, 7, 138, 65, 10
    AUTOCHECKBOX "&Session ID", IDC_SESSIONID, 7, 149, 50, 10
    AUTOCHECKBOX "שם &משתמש", IDC_USERNAME, 7, 160, 51, 10
    AUTOCHECKBOX "Page F&aults Delta", IDC_PAGEFAULTSDELTA, 107, 28, 72, 10
    AUTOCHECKBOX "&Virtual Memory Size", IDC_VIRTUALMEMORYSIZE, 107, 39, 77, 10
    AUTOCHECKBOX "Pa&ged Pool", IDC_PAGEDPOOL, 107, 50, 53, 10
    AUTOCHECKBOX "N&on-paged Pool", IDC_NONPAGEDPOOL, 107, 61, 67, 10
    AUTOCHECKBOX "&עדיפות", IDC_BASEPRIORITY, 107, 72, 55, 10
    AUTOCHECKBOX "&Handle Count", IDC_HANDLECOUNT, 107, 83, 59, 10
    AUTOCHECKBOX "&Thread Count", IDC_THREADCOUNT, 107, 94, 59, 10
    AUTOCHECKBOX "GDI Objects", IDC_GDIOBJECTS, 107, 105, 55, 10
    AUTOCHECKBOX "I/O Writes", IDC_IOWRITES, 107, 116, 49, 10
    AUTOCHECKBOX "I/O Write Bytes", IDC_IOWRITEBYTES, 107, 127, 65, 10
    AUTOCHECKBOX "I/O Other", IDC_IOOTHER, 107, 138, 46, 10
    AUTOCHECKBOX "I/O Other Bytes", IDC_IOOTHERBYTES, 107, 149, 65, 10
    AUTOCHECKBOX "Command &Line", IDC_COMMANDLINE, 107, 160, 65, 10
END

/* String Tables */

STRINGTABLE
BEGIN
    IDS_APP_TITLE "מנהל המשימות"
    IDC_TASKMGR "מנהל המשימות"
    IDS_IDLE_PROCESS "תהליך לא פעיל של המערכת"
END

STRINGTABLE
BEGIN
    ID_FILE_NEW "הפעלת תוכנית חדשה"
    ID_OPTIONS_ALWAYSONTOP "Task Manager remains in front of all other windows unless minimized"
    ID_OPTIONS_MINIMIZEONUSE "Task Manager is minimized when a SwitchTo operation is performed"
    ID_OPTIONS_HIDEWHENMINIMIZED "Hide the Task Manager when it is minimized"
    ID_VIEW_REFRESH "Force Task Manager to update now, regardless of Update Speed setting"
    ID_VIEW_LARGE "Displays tasks by using large icons"
    ID_VIEW_SMALL "Displays tasks by using small icons"
    ID_VIEW_DETAILS "Displays information about each task"
    ID_VIEW_UPDATESPEED_HIGH "מעדכן את התצוגה פעמיים בכל שניה"
    ID_VIEW_UPDATESPEED_NORMAL "מעדכן את התצוגה כל 2 שניות"
    ID_VIEW_UPDATESPEED_LOW "מעדכן את התצוגה כל 4 שניות"
END

STRINGTABLE
BEGIN
    ID_VIEW_UPDATESPEED_PAUSED "Does not automatically update"
    ID_WINDOWS_TILEHORIZONTALLY "Tiles the windows horizontally on the desktop"
    ID_WINDOWS_TILEVERTICALLY "Tiles the windows vertically on the desktop"
    ID_WINDOWS_MINIMIZE "Minimizes the windows"
    ID_WINDOWS_MAXIMIZE "Maximizes the windows"
    ID_WINDOWS_CASCADE "Cascades the windows diagonally on the desktop"
    ID_WINDOWS_BRINGTOFRONT "Brings the window front, but does not switch to it"
    ID_HELP_TOPICS "Displays Task Manager help topics"
    ID_HELP_ABOUT "Displays program information, version number, and copyright"
    ID_FILE_EXIT "Exits the Task Manager application"
    ID_OPTIONS_SHOW16BITTASKS "Shows 16-bit tasks under the associated ntvdm.exe"
    ID_VIEW_SELECTCOLUMNS "Select which columns will be visible on the Process page"
    ID_VIEW_SHOWKERNELTIMES "Displays kernel time in the performance graphs"
    ID_VIEW_CPUHISTORY_ONEGRAPHALL "A single history graph shows total CPU usage"
    ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU "Each CPU has its own history graph"
    ID_APPLICATION_PAGE_SWITCHTO "Brings a task to the foreground, switch focus to that task"
END

STRINGTABLE
BEGIN
    ID_ENDTASK "Tells the selected tasks to close"
    ID_GOTOPROCESS "Switches the focus to the process of the selected task"
    ID_RESTORE "Restores the Task Manager from its hidden state"
    ID_PROCESS_PAGE_ENDPROCESS "Removes the process from the system"
    ID_PROCESS_PAGE_ENDPROCESSTREE "Removes this process and all descendants from the system"
    ID_PROCESS_PAGE_DEBUG "Attaches the debugger to this process"
    ID_PROCESS_PAGE_SETAFFINITY "Controls which processors the process will be allowed to run on"
    ID_PROCESS_PAGE_SETPRIORITY_REALTIME "Sets process to the REALTIME priority class"
    ID_PROCESS_PAGE_SETPRIORITY_HIGH "Sets process to the HIGH priority class"
    ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL "Sets process to the ABOVE NORMAL priority class"
    ID_PROCESS_PAGE_SETPRIORITY_NORMAL "Sets process to the NORMAL priority class"
    ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL "Sets process to the BELOW NORMAL priority class"
    ID_PROCESS_PAGE_SETPRIORITY_LOW "Sets process to the LOW priority class"
    ID_PROCESS_PAGE_PROPERTIES "Shows process file properties"
    ID_PROCESS_PAGE_OPENFILELOCATION "Opens process file location"
END

STRINGTABLE
BEGIN
    IDS_TAB_APPS "יישומים"
    IDS_TAB_PROCESSES "תהליכים"
    IDS_TAB_PERFORMANCE "ביצועים"
    IDS_TAB_TASK "משימה"
    IDS_TAB_STATUS "מצב"
    IDS_TAB_IMAGENAME "שם תהליך"
    IDS_TAB_PID "PID"
    IDS_TAB_USERNAME "שם משתמש"
    IDS_TAB_SESSIONID "Session ID"
    IDS_TAB_CPU "CPU"
    IDS_TAB_CPUTIME "זמן מעבד"
    IDS_TAB_MEMUSAGE "זיכרון בשימוש"
    IDS_TAB_PEAKMEMUSAGE "Peak Mem Usage"
    IDS_TAB_MEMDELTA "Mem Delta"
    IDS_TAB_PAGEFAULT "Page Faults"
    IDS_TAB_PFDELTA "PF Delta"
    IDS_TAB_VMSIZE "VM Size"
    IDS_TAB_PAGEDPOOL "Paged Pool"
    IDS_TAB_NPPOOL "NP Pool"
    IDS_TAB_BASEPRI "Base Pri"
    IDS_TAB_HANDLES "Handles"
    IDS_TAB_THREADS "Threads"
    IDS_TAB_USERPBJECTS "USER Objects"
    IDS_TAB_GDIOBJECTS "GDI Objects"
    IDS_TAB_IOREADS "I/O Reads"
    IDS_TAB_IOWRITES "I/O Writes"
    IDS_TAB_IOOTHER "I/O Other"
    IDS_TAB_IOREADBYTES "I/O Read Bytes"
    IDS_TAB_IOWRITESBYTES "I/O Write Bytes"
    IDS_TAB_IOOTHERBYTES "I/O Other Bytes"
    IDS_TAB_COMMANDLINE "Command Line"
    IDS_MENU_SELECTCOLUMNS "&Select Columns..."
    IDS_MENU_16BITTASK "&Show 16-bit tasks"
    IDS_MENU_WINDOWS "&חלונות"
    IDS_MENU_LARGEICONS "Lar&ge Icons"
    IDS_MENU_SMALLICONS "S&mall Icons"
    IDS_MENU_DETAILS "&Details"
    IDS_MENU_ONEGRAPHALLCPUS "&One Graph, All CPUs"
    IDS_MENU_ONEGRAPHPERCPU "One Graph &Per CPU"
    IDS_MENU_CPUHISTORY "&CPU History"
    IDS_MENU_SHOWKERNELTIMES "&Show Kernel Times"
    IDS_CREATENEWTASK "יצירת משימה חדשה"
    IDS_CREATENEWTASK_DESC "הקלד את שם התוכנית, תקיה, מסמך, משאב אינטרנטי ו- מנהל המשימות יפתח אותם עבורך."
    IDS_MSG_ACCESSPROCESSAFF "Unable to Access or Set Process Affinity"
    IDS_MSG_PROCESSONEPRO "The process must have affinity with at least one processor."
    IDS_MSG_INVALIDOPTION "Invalid Option"
    IDS_MSG_UNABLEDEBUGPROCESS "Unable to Debug Process"
    IDS_MSG_WARNINGDEBUG "WARNING: Debugging this process may result in loss of data.\nAre you sure you wish to attach the debugger?"
    IDS_MSG_TASKMGRWARNING "Task Manager Warning"
    IDS_MSG_WARNINGTERMINATING "WARNING: Terminating a process can cause undesired\nresults including loss of data and system instability. The\nprocess will not be given the chance to save its state or\ndata before it is terminated. Are you sure you want to\nterminate the process?"
    IDS_MSG_UNABLETERMINATEPRO "Unable to Terminate Process"
    IDS_MSG_CLOSESYSTEMPROCESS "This is a critical system process. Task Manager will not end this process."
    IDS_MSG_UNABLECHANGEPRIORITY "Unable to Change Priority"
    IDS_MSG_WARNINGCHANGEPRIORITY "WARNING: Changing the priority class of this process may\ncause undesired results including system instability. Are you\nsure you want to change the priority class?"
    IDS_MSG_TRAYICONCPUUSAGE "%3d%% :שימוש במעבד"
    IDS_STATUS_MEMUSAGE "Commit Charge: %s / %s (%d%%)"
    IDS_STATUS_CPUUSAGE "%3d%% :מעבד"
    IDS_STATUS_PROCESSES "%d :תהליכים"
    IDS_NOT_RESPONDING "לא מגיב"
    IDS_RUNNING "פועל"
END
