LANGUAGE LANG_DUTCH, SUBLANG_NEUTRAL

IDR_TASKMANAGER MENU
BEGIN
    POPUP "&Bestand"
    BEGIN
        MENUITEM "&Nieuwe taak (Uitvoeren...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Taakbeheer afsluiten", ID_FILE_EXIT
    END
    POPUP "&Opties"
    BEGIN
        MENUITEM "&Altijd op voorgrond", ID_OPTIONS_ALWAYSONTOP, CHECKED
        MENUITEM "Minimaliseren &bij gebruik", ID_OPTIONS_MINIMIZEONUSE, CHECKED
        MENUITEM "&Verbergen indien geminimaliseerd", ID_OPTIONS_HIDEWHENMINIMIZED, CHECKED
        MENUITEM "", ID_OPTIONS_SHOW16BITTASKS, CHECKED
    END
    POPUP "B&eeld"
    BEGIN
        MENUITEM "&Nu vernieuwen", ID_VIEW_REFRESH
        POPUP "Bijwerk&snelheid"
        BEGIN
            MENUITEM "&Hoog", ID_VIEW_UPDATESPEED_HIGH
            MENUITEM "&Standaard", ID_VIEW_UPDATESPEED_NORMAL, CHECKED
            MENUITEM "&Laag", ID_VIEW_UPDATESPEED_LOW
            MENUITEM "&Onderbroken", ID_VIEW_UPDATESPEED_PAUSED
        END
        MENUITEM SEPARATOR
        MENUITEM "", ID_VIEW_LARGE
        MENUITEM "", ID_VIEW_SMALL
        MENUITEM "", ID_VIEW_DETAILS, CHECKED
        MENUITEM "", ID_VIEW_SELECTCOLUMNS
        POPUP ""
        BEGIN
            MENUITEM "", ID_VIEW_CPUHISTORY_ONEGRAPHALL
            MENUITEM "", ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU, CHECKED
        END
        MENUITEM "", ID_VIEW_SHOWKERNELTIMES
    END
    POPUP ""
    BEGIN
        MENUITEM "&Onder elkaar", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "N&aast elkaar", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "Mi&nimaliseren", ID_WINDOWS_MINIMIZE
        MENUITEM "&Maximaliseren", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Trapsgewijs", ID_WINDOWS_CASCADE
        MENUITEM "Naar &voorgrond", ID_WINDOWS_BRINGTOFRONT
    END
    POPUP "Afsl&uiten"
    BEGIN
        MENUITEM "Stand &By", ID_SHUTDOWN_STANDBY
        MENUITEM "&Hibernate", ID_SHUTDOWN_HIBERNATE
        MENUITEM "&Uitzetten", ID_SHUTDOWN_POWEROFF
        MENUITEM "&Opnieuw Opstarten", ID_SHUTDOWN_REBOOT
        MENUITEM "%s &afmelden", ID_SHUTDOWN_LOGOFF
        MENUITEM "&Verander van gebruiker\tWinKey+L", ID_SHUTDOWN_SWITCHUSER, GRAYED
        MENUITEM "Loc&k Computer\tWinKey+L", ID_SHUTDOWN_LOCKCOMPUTER
        MENUITEM "&Disconnect", ID_SHUTDOWN_DISCONNECT, GRAYED
        MENUITEM "&Eject Computer", ID_SHUTDOWN_EJECT_COMPUTER, GRAYED
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&Help-onderwerpen", ID_HELP_TOPICS
        MENUITEM SEPARATOR
        MENUITEM "&Info", ID_HELP_ABOUT
    END
END

IDR_WINDOWSMENU MENU
BEGIN
    MENUITEM "&Onder elkaar", ID_WINDOWS_TILEHORIZONTALLY
    MENUITEM "N&aast elkaar", ID_WINDOWS_TILEVERTICALLY
    MENUITEM "Mi&nimaliseren", ID_WINDOWS_MINIMIZE
    MENUITEM "&Maximaliseren", ID_WINDOWS_MAXIMIZE
    MENUITEM "&Trapsgewijs", ID_WINDOWS_CASCADE
    MENUITEM "Naar &voorgrond", ID_WINDOWS_BRINGTOFRONT
END

IDR_APPLICATION_PAGE_CONTEXT1 MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Nieuwe taak (Uitvoeren...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Grote pictogrammen", ID_VIEW_LARGE
        MENUITEM "&Kleine pictogrammen", ID_VIEW_SMALL
        MENUITEM "&Details", ID_VIEW_DETAILS, CHECKED
    END
END

IDR_APPLICATION_PAGE_CONTEXT2 MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Activeren", ID_APPLICATION_PAGE_SWITCHTO
        MENUITEM "Naar &voorgrond", ID_WINDOWS_BRINGTOFRONT
        MENUITEM SEPARATOR
        MENUITEM "&Onder elkaar", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "N&aast elkaar", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "Mi&nimaliseren", ID_WINDOWS_MINIMIZE
        MENUITEM "&Maximaliseren", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Trapsgewijs", ID_WINDOWS_CASCADE
        MENUITEM SEPARATOR
        MENUITEM "Taa&k beëindigen", ID_APPLICATION_PAGE_ENDTASK
        MENUITEM "&Ga naar proces", ID_APPLICATION_PAGE_GOTOPROCESS
    END
END

IDR_TRAY_POPUP MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Vorig formaat", ID_RESTORE
        MENUITEM "&Sluiten", ID_FILE_EXIT
        MENUITEM SEPARATOR
        MENUITEM "&Altijd op voorgrond", ID_OPTIONS_ALWAYSONTOP
    END
END

IDR_PROCESS_PAGE_CONTEXT MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "Pro&ces beëindigen", ID_PROCESS_PAGE_ENDPROCESS
        MENUITEM "Process&tructuur beëindigen", ID_PROCESS_PAGE_ENDPROCESSTREE
        MENUITEM "&Fouten opsporen", ID_PROCESS_PAGE_DEBUG
        MENUITEM SEPARATOR
        POPUP "&Prioriteit instellen"
        BEGIN
            MENUITEM "&Realtime", ID_PROCESS_PAGE_SETPRIORITY_REALTIME
            MENUITEM "&Hoog", ID_PROCESS_PAGE_SETPRIORITY_HIGH
            MENUITEM "Hoger &dan normaal", ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL
            MENUITEM "&Normaal", ID_PROCESS_PAGE_SETPRIORITY_NORMAL
            MENUITEM "L&ager dan normaal", ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL
            MENUITEM "&Laag", ID_PROCESS_PAGE_SETPRIORITY_LOW
        END
        MENUITEM "&Affiniteit instellen...", ID_PROCESS_PAGE_SETAFFINITY
        MENUITEM SEPARATOR
        MENUITEM "P&roperties", ID_PROCESS_PAGE_PROPERTIES
        MENUITEM "&Open File Location", ID_PROCESS_PAGE_OPENFILELOCATION
    END
END

/* Dialogs */

/* TRANSLATORS: CAPTION must be the same as IDS_APP_TITLE to be brought back to focus when already opened */

IDD_TASKMGR_DIALOG DIALOGEX 0, 0, 264, 246
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP |
      WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Taakbeheer"
MENU IDR_TASKMANAGER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_TAB, "SysTabControl32", WS_TABSTOP, 3, 3, 257, 228
END

IDD_APPLICATION_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_APPLIST, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS |
            WS_BORDER | WS_TABSTOP, 5, 7, 235, 177
    PUSHBUTTON "Taa&k beëindigen", IDC_ENDTASK, 28, 188, 68, 14, WS_DISABLED
    PUSHBUTTON "&Activeren", IDC_SWITCHTO, 100, 188, 68, 14, WS_DISABLED
    PUSHBUTTON "&Nieuwe Taak...", IDC_NEWTASK, 172, 188, 68, 14
END

IDD_PROCESS_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_PROCESSLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 5, 7, 235, 177
    AUTOCHECKBOX "Processen van &alle gebruikers weergeven", IDC_SHOWALLPROCESSES, 5, 191, 151, 10
    PUSHBUTTON "&Proces beëindigen", IDC_ENDPROCESS, 171, 189, 69, 14
END

IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "CPU", IDC_CPU_USAGE_FRAME, 5, 5, 60, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Wisselbestand", IDC_MEM_USAGE_FRAME, 5, 63, 60, 54, BS_LEFTTEXT, WS_EX_TRANSPARENT
    GROUPBOX "Totalen", IDC_TOTALS_FRAME, 5, 122, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Geheugengebruik (kB)", IDC_COMMIT_CHARGE_FRAME, 5, 166, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Fysiek geheugen (kB)", IDC_PHYSICAL_MEMORY_FRAME, 128, 122, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Kernelgeheugen (kB)", IDC_KERNEL_MEMORY_FRAME, 128, 166, 114, 39, 0, WS_EX_TRANSPARENT
    LTEXT "Ingangen", IDS_TOTALS_HANDLE_COUNT, 12, 131, 57, 8
    LTEXT "Threads", IDS_TOTALS_THREAD_COUNT, 12, 140, 57, 8
    LTEXT "Processen", IDS_TOTALS_PROCESS_COUNT, 12, 149, 57, 8
    EDITTEXT IDC_TOTALS_HANDLE_COUNT, 69, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_THREAD_COUNT, 69, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_PROCESS_COUNT, 69, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Totaal", IDS_COMMIT_CHARGE_TOTAL, 12, 175, 57, 8
    LTEXT "Limiet", IDS_COMMIT_CHARGE_LIMIT, 12, 184, 57, 8, NOT WS_BORDER
    LTEXT "Piek", IDS_COMMIT_CHARGE_PEAK, 12, 193, 57, 8
    EDITTEXT IDC_COMMIT_CHARGE_TOTAL, 69, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_LIMIT, 69, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_PEAK, 69, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Totaal", IDS_PHYSICAL_MEMORY_TOTAL, 134, 131, 57, 8
    LTEXT "Beschikbaar", IDS_PHYSICAL_MEMORY_AVAILABLE, 134, 140, 57, 8
    LTEXT "Systeemcache", IDS_PHYSICAL_MEMORY_SYSTEM_CACHE, 134, 149, 57, 8
    EDITTEXT IDC_PHYSICAL_MEMORY_TOTAL, 192, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_AVAILABLE, 192, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_SYSTEM_CACHE, 192, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Totaal", IDS_KERNEL_MEMORY_TOTAL, 134, 174, 57, 8
    LTEXT "In wisselbestand", IDS_KERNEL_MEMORY_PAGED, 134, 184, 57, 8
    LTEXT "N. wisselbestand", IDS_KERNEL_MEMORY_NONPAGED, 134, 193, 57, 8
    EDITTEXT IDC_KERNEL_MEMORY_TOTAL, 192, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_PAGED, 192, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_NONPAGED, 192, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    GROUPBOX "Geschiedenis van CPU gebruik", IDC_CPU_USAGE_HISTORY_FRAME, 74, 5, 168, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Geschiedenis van wisselbestandsgebruik", IDC_MEMORY_USAGE_HISTORY_FRAME, 74, 63, 168, 54, 0, WS_EX_TRANSPARENT
    PUSHBUTTON "Weergave van CPU-gebruik", IDC_CPU_USAGE_GRAPH, 12, 17, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Weergave van wisselbestandsgebruik", IDC_MEM_USAGE_GRAPH, 12, 75, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Geschiedenis van CPU gebruik", IDC_CPU_USAGE_HISTORY_GRAPH, 81, 17, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Geschiedenis van wisselbestandsgebruik", IDC_MEM_USAGE_HISTORY_GRAPH, 81, 75, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
END

IDD_AFFINITY_DIALOG DIALOGEX 0, 0, 231, 154
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Processoraffiniteit"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 120, 133, 50, 14
    PUSHBUTTON "Annuleren", IDCANCEL, 174, 133, 50, 14
    LTEXT "De instellingen voor processoraffiniteit bepalen welke processors voor het uitvoeren van programma's kunnen worden gebruikt.", IDC_STATIC, 5, 5, 220, 16
    AUTOCHECKBOX "CPU 0", IDC_CPU0, 11, 28, 37, 10
    AUTOCHECKBOX "CPU 1", IDC_CPU1, 11, 41, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 2", IDC_CPU2, 11, 54, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 3", IDC_CPU3, 11, 67, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 4", IDC_CPU4, 11, 80, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 5", IDC_CPU5, 11, 93, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 6", IDC_CPU6, 11, 106, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 7", IDC_CPU7, 11, 119, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 8", IDC_CPU8, 61, 28, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 9", IDC_CPU9, 61, 41, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 10", IDC_CPU10, 61, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 11", IDC_CPU11, 61, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 12", IDC_CPU12, 61, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 13", IDC_CPU13, 61, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 14", IDC_CPU14, 61, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 15", IDC_CPU15, 61, 119, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 16", IDC_CPU16, 116, 28, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 17", IDC_CPU17, 116, 41, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 18", IDC_CPU18, 116, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 19", IDC_CPU19, 116, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 20", IDC_CPU20, 116, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 21", IDC_CPU21, 116, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 22", IDC_CPU22, 116, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 23", IDC_CPU23, 116, 119, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 24", IDC_CPU24, 175, 28, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 25", IDC_CPU25, 175, 41, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 26", IDC_CPU26, 175, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 27", IDC_CPU27, 175, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 28", IDC_CPU28, 175, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 29", IDC_CPU29, 175, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 30", IDC_CPU30, 175, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 31", IDC_CPU31, 175, 119, 41, 10, WS_DISABLED | WS_TABSTOP
END

IDD_COLUMNS_DIALOG DIALOGEX 0, 0, 235, 199
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Kolommen selecteren"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 124, 178, 50, 14
    PUSHBUTTON "Annuleren", IDCANCEL, 178, 178, 50, 14
    LTEXT "Selecteer de kolommen die op het tabblad Processen van Taakbeheer moeten worden weergegeven.", IDC_STATIC, 7, 7, 221, 17
    AUTOCHECKBOX "Pr&ocesnaam", IDC_IMAGENAME, 7, 28, 56, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "&PID (proces-id)", IDC_PID, 7, 39, 88, 10
    AUTOCHECKBOX "&CPU-gebruik", IDC_CPUUSAGE, 7, 50, 53, 10
    AUTOCHECKBOX "CPU-&tijd", IDC_CPUTIME, 7, 61, 48, 10
    AUTOCHECKBOX "&Geheugengebruik", IDC_MEMORYUSAGE, 7, 72, 102, 10
    AUTOCHECKBOX "Ve&rschil in geheugengebruik", IDC_MEMORYUSAGEDELTA, 7, 83, 102, 10
    AUTOCHECKBOX "Pie&kgeheugengebruik", IDC_PEAKMEMORYUSAGE, 7, 94, 82, 10
    AUTOCHECKBOX "&Wisselbestandsfouten", IDC_PAGEFAULTS, 7, 105, 102, 10
    AUTOCHECKBOX "&USER-objecten", IDC_USEROBJECTS, 7, 116, 62, 10
    AUTOCHECKBOX "I/O: leesbewerkingen", IDC_IOREADS, 7, 127, 80, 10
    AUTOCHECKBOX "I/O: gelezen bytes", IDC_IOREADBYTES, 7, 138, 102, 10
    AUTOCHECKBOX "S&essie-id", IDC_SESSIONID, 7, 149, 50, 10
    AUTOCHECKBOX "Gebruikers&naam", IDC_USERNAME, 7, 160, 102, 10
    AUTOCHECKBOX "Verschil in &aantal wisselfouten", IDC_PAGEFAULTSDELTA, 117, 28, 110, 10
    AUTOCHECKBOX "Grootte van &virtueel geheugen", IDC_VIRTUALMEMORYSIZE, 117, 39, 110, 10
    AUTOCHECKBOX "Wissel&bare pool", IDC_PAGEDPOOL, 117, 50, 100, 10
    AUTOCHECKBOX "Niet-wisse&lbare pool", IDC_NONPAGEDPOOL, 117, 61, 100, 10
    AUTOCHECKBOX "Ba&sisprioriteit", IDC_BASEPRIORITY, 117, 72, 100, 10
    AUTOCHECKBOX "Aantal &ingangen", IDC_HANDLECOUNT, 117, 83, 100, 10
    AUTOCHECKBOX "Aantal t&hreads", IDC_THREADCOUNT, 117, 94, 100, 10
    AUTOCHECKBOX "G&DI-objecten", IDC_GDIOBJECTS, 117, 105, 100, 10
    AUTOCHECKBOX "I/O: schrijfbewerkingen", IDC_IOWRITES, 117, 116, 100, 10
    AUTOCHECKBOX "I/O: geschreven bytes", IDC_IOWRITEBYTES, 117, 127, 100, 10
    AUTOCHECKBOX "I/O: overig", IDC_IOOTHER, 117, 138, 100, 10
    AUTOCHECKBOX "I/O: overige bytes", IDC_IOOTHERBYTES, 117, 149, 100, 10
    AUTOCHECKBOX "Command &Line", IDC_COMMANDLINE, 117, 160, 65, 10
END

/* String Tables */

STRINGTABLE
BEGIN
    IDS_APP_TITLE "Taakbeheer"
    IDC_TASKMGR "Taakbeheer"
    IDS_IDLE_PROCESS "Niet-actieve systeemprocessen"
END

STRINGTABLE
BEGIN
    ID_FILE_NEW "Een nieuw programma uitvoeren"
    ID_OPTIONS_ALWAYSONTOP "Taakbeheer blijft op de voorgrond, behalve als het wordt geminimaliseerd"
    ID_OPTIONS_MINIMIZEONUSE "Taakbeheer wordt geminimaliseerd als een taak wordt geactiveerd"
    ID_OPTIONS_HIDEWHENMINIMIZED "Taakbeheer verbergen als dit geminimaliseerd is"
    ID_VIEW_REFRESH "Gegevens nu vernieuwen, ongeacht de instelling van Bijwerksnelheid"
    ID_VIEW_LARGE "De taken met grote pictogrammen weergeven"
    ID_VIEW_SMALL "De taken met kleine pictogrammen weergeven"
    ID_VIEW_DETAILS "Gegevens van elke taak weergeven"
    ID_VIEW_UPDATESPEED_HIGH "Het beeldscherm twee keer per seconde bijwerken"
    ID_VIEW_UPDATESPEED_NORMAL "Het beeldscherm elke twee seconden bijwerken"
    ID_VIEW_UPDATESPEED_LOW "Het beeldscherm elke vier seconden bijwerken"
END

STRINGTABLE
BEGIN
    ID_VIEW_UPDATESPEED_PAUSED "Beeldscherm wordt niet automatisch bijgewerkt"
    ID_WINDOWS_TILEHORIZONTALLY "Vensters onder elkaar schikken"
    ID_WINDOWS_TILEVERTICALLY "Vensters naast elkaar schikken"
    ID_WINDOWS_MINIMIZE "Vensters minimaliseren"
    ID_WINDOWS_MAXIMIZE "Vensters maximaliseren"
    ID_WINDOWS_CASCADE "Vensters diagonaal over het bureaublad schikken"
    ID_WINDOWS_BRINGTOFRONT "Venster naar de voorgrond brengen, maar niet actief maken"
    ID_HELP_TOPICS "Help-onderwerpen over Taakbeheer weergeven"
    ID_HELP_ABOUT "Programma-informatie, versienummer en copyrightgegevens weergeven"
    ID_FILE_EXIT "Taakbeheer afsluiten"
    ID_OPTIONS_SHOW16BITTASKS "16-bits taken weergeven van de bijbehorende ntvdm.exe"
    ID_VIEW_SELECTCOLUMNS "De kolommen selecteren die moeten worden weergegeven op de pagina Proces"
    ID_VIEW_SHOWKERNELTIMES "De kerneltijden in de prestatiegrafiek weergeven"
    ID_VIEW_CPUHISTORY_ONEGRAPHALL "Eén grafiek geeft het totale CPU-gebruik weer"
    ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU "Elke CPU heeft zijn eigen grafiek"
    ID_APPLICATION_PAGE_SWITCHTO "Venster naar de voorgrond brengen en actief maken"
END

STRINGTABLE
BEGIN
    ID_ENDTASK "Sluit de geselecteerde taken"
    ID_GOTOPROCESS "Activeert het proces van de geselecteerde taak"
    ID_RESTORE "Taakbeheer herstellen als dit verborgen is"
    ID_PROCESS_PAGE_ENDPROCESS "Dit proces wordt van het systeem verwijderd"
    ID_PROCESS_PAGE_ENDPROCESSTREE "Dit proces en alle afhankelijkheden ervan van het systeem verwijderen"
    ID_PROCESS_PAGE_DEBUG "De debugger wordt voor dit proces gebruikt"
    ID_PROCESS_PAGE_SETAFFINITY "Instellen op welke processors het proces uitgevoerd kan worden"
    ID_PROCESS_PAGE_SETPRIORITY_REALTIME "Het proces wordt ingesteld met de prioriteitsklasse REALTIME"
    ID_PROCESS_PAGE_SETPRIORITY_HIGH "Het proces wordt ingesteld met de prioriteitsklasse HOOG"
    ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL "Proces instellen op prioriteitsklasse HOGER DAN NORMAAL"
    ID_PROCESS_PAGE_SETPRIORITY_NORMAL "Het proces wordt ingesteld met de prioriteitsklasse NORMAAL"
    ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL "Proces instellen op prioriteitsklasse LAGER DAN NORMAAL"
    ID_PROCESS_PAGE_SETPRIORITY_LOW "Het proces wordt ingesteld met de prioriteitsklasse LAAG"
    ID_PROCESS_PAGE_PROPERTIES "Shows process file properties"
    ID_PROCESS_PAGE_OPENFILELOCATION "Opens process file location"
END

STRINGTABLE
BEGIN
    IDS_TAB_APPS "Toepassingen"
    IDS_TAB_PROCESSES "Procesnaam"
    IDS_TAB_PERFORMANCE "Prestaties"
    IDS_TAB_TASK "Taak"
    IDS_TAB_STATUS "Status"
    IDS_TAB_IMAGENAME "Proces Naam"
    IDS_TAB_PID "PID"
    IDS_TAB_USERNAME "Gebruikersnaam"
    IDS_TAB_SESSIONID "Sessie-ID"
    IDS_TAB_CPU "CPU"
    IDS_TAB_CPUTIME "CPU-tijd"
    IDS_TAB_MEMUSAGE "Geheugengebruik"
    IDS_TAB_PEAKMEMUSAGE "Piekgeheugengebruik"
    IDS_TAB_MEMDELTA "Geheugenverschil"
    IDS_TAB_PAGEFAULT "Wisselbestandsfouten"
    IDS_TAB_PFDELTA "PF-verschil"
    IDS_TAB_VMSIZE "VM-grootte"
    IDS_TAB_PAGEDPOOL "Wisselbare pool"
    IDS_TAB_NPPOOL "Niet-wisselbare pool"
    IDS_TAB_BASEPRI "Basisprioriteit"
    IDS_TAB_HANDLES "Ingangen"
    IDS_TAB_THREADS "Threads"
    IDS_TAB_USERPBJECTS "USER-objecten"
    IDS_TAB_GDIOBJECTS "GDI-objecten"
    IDS_TAB_IOREADS "I/O: leesbewerkingen"
    IDS_TAB_IOWRITES "I/O: schrijfbewerkingen"
    IDS_TAB_IOOTHER "I/O: overig"
    IDS_TAB_IOREADBYTES "I/O: gelezen bytes"
    IDS_TAB_IOWRITESBYTES "I/O: geschreven bytes"
    IDS_TAB_IOOTHERBYTES "I/O: overige bytes"
    IDS_TAB_COMMANDLINE "Command Line"
    IDS_MENU_SELECTCOLUMNS "&Kolommen selecteren..."
    IDS_MENU_16BITTASK "&16-bits taken weergeven"
    IDS_MENU_WINDOWS "&Vensters"
    IDS_MENU_LARGEICONS "&Grote pictogrammen"
    IDS_MENU_SMALLICONS "&Kleine pictogrammen"
    IDS_MENU_DETAILS "&Details"
    IDS_MENU_ONEGRAPHALLCPUS "&Eén grafiek, alle CPU's"
    IDS_MENU_ONEGRAPHPERCPU "Eén grafiek &per CPU"
    IDS_MENU_CPUHISTORY "&Geschiedenis van de CPU"
    IDS_MENU_SHOWKERNELTIMES "&Kerneltijden weergeven"
    IDS_CREATENEWTASK "Nieuwe taak maken"
    IDS_CREATENEWTASK_DESC "Geef de naam van een programma, map of document op, of geef een Internet-adres op. Wat u opgeeft, wordt vervolgens in Windows geopend."
    IDS_MSG_ACCESSPROCESSAFF "Kan procesaffiniteit niet opvragen of instellen"
    IDS_MSG_PROCESSONEPRO "Het proces moet affiniteit hebben met ten minste één processor."
    IDS_MSG_INVALIDOPTION "Ongeldige optie"
    IDS_MSG_UNABLEDEBUGPROCESS "Kan de debugger niet gebruiken"
    IDS_MSG_WARNINGDEBUG "Waarschuwing: het opsporen van fouten in dit proces kan verlies van gegevens als resultaat hebben.\nWeet u zeker dat u de debugger wilt gebruiken?"
    IDS_MSG_TASKMGRWARNING "Waarschuwing van Taakbeheer"
    IDS_MSG_WARNINGTERMINATING "Waarschuwing: het beëindigen van een proces kan tot\nonverwachte resultaten leiden, zoals verlies van gegevens\nof een instabiel systeem, omdat de status of de gegevens\nniet meer kunnen worden opgeslagen. Weet u zeker dat\nu het proces wilt beëindigen?"
    IDS_MSG_UNABLETERMINATEPRO "Kan het proces niet beëindigen"
    IDS_MSG_CLOSESYSTEMPROCESS "Dit is een cruciaal systeemproces. Taakbeheer zal dit proces niet beëindigen."
    IDS_MSG_UNABLECHANGEPRIORITY "Kan de prioriteit niet wijzigen"
    IDS_MSG_WARNINGCHANGEPRIORITY "Waarschuwing: het wijzigen van de prioriteitsklasse van dit proces\nkan ongewenste resultaten hebben, zoals een instabiel systeem. Weet u\nzeker dat u de prioriteitsklasse wilt wijzigen?"
    IDS_MSG_TRAYICONCPUUSAGE "CPU-gebruik: %d%%"
    IDS_STATUS_MEMUSAGE "Geheugengebruik: %s / %s (%d%%)"
    IDS_STATUS_CPUUSAGE "CPU: %3d%%"
    IDS_STATUS_PROCESSES "Processen: %d"
    IDS_NOT_RESPONDING "Reageert niet"
    IDS_RUNNING "Geactiveerd"
END
