// COPYRIGHT: David Nordenberg

LANGUAGE LANG_SWEDISH, SUBLANG_NEUTRAL

IDR_TASKMANAGER MENU
BEGIN
    POPUP "&Arkiv"//FIXME: accelerator collision &A
    BEGIN
        MENUITEM "&Ny Aktivitet (Kör...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Avsluta Aktivitetshanteraren", ID_FILE_EXIT
    END
    POPUP "&Alternativ"//FIXME: accelerator collision &A
    BEGIN
        MENUITEM "&Alltid överst", ID_OPTIONS_ALWAYSONTOP, CHECKED
        MENUITEM "&Minimera vid användning", ID_OPTIONS_MINIMIZEONUSE, CHECKED
        MENUITEM "&Göm minimerad", ID_OPTIONS_HIDEWHENMINIMIZED, CHECKED
        MENUITEM "", ID_OPTIONS_SHOW16BITTASKS, CHECKED
    END
    POPUP "&Visa"
    BEGIN
        MENUITEM "&Uppdatera", ID_VIEW_REFRESH
        POPUP "U&ppdateringshastighet"
        BEGIN
            MENUITEM "&Hög", ID_VIEW_UPDATESPEED_HIGH
            MENUITEM "&Normal", ID_VIEW_UPDATESPEED_NORMAL, CHECKED
            MENUITEM "&Låg", ID_VIEW_UPDATESPEED_LOW
            MENUITEM "&Fryst", ID_VIEW_UPDATESPEED_PAUSED
        END
        MENUITEM SEPARATOR
        MENUITEM "", ID_VIEW_LARGE
        MENUITEM "", ID_VIEW_SMALL
        MENUITEM "", ID_VIEW_DETAILS, CHECKED
        MENUITEM "", ID_VIEW_SELECTCOLUMNS
        POPUP ""
        BEGIN
            MENUITEM "", ID_VIEW_CPUHISTORY_ONEGRAPHALL
            MENUITEM "", ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU, CHECKED
        END
        MENUITEM "", ID_VIEW_SHOWKERNELTIMES
    END
    POPUP ""
    BEGIN
        MENUITEM "Ordna &horizontellt", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "Ordna &vertikalt", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Minimera", ID_WINDOWS_MINIMIZE
        MENUITEM "Ma&ximera", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Överlappande", ID_WINDOWS_CASCADE
        MENUITEM "&För till förgrunden", ID_WINDOWS_BRINGTOFRONT
    END
    POPUP "Sh&ut Down"
    BEGIN
        MENUITEM "Stand &By", ID_SHUTDOWN_STANDBY
        MENUITEM "&Hibernate", ID_SHUTDOWN_HIBERNATE
        MENUITEM "T&urn Off", ID_SHUTDOWN_POWEROFF
        MENUITEM "&Restart", ID_SHUTDOWN_REBOOT
        MENUITEM "&Log Off %s", ID_SHUTDOWN_LOGOFF
        MENUITEM "&Switch User\tWinKey+L", ID_SHUTDOWN_SWITCHUSER, GRAYED
        MENUITEM "Loc&k Computer\tWinKey+L", ID_SHUTDOWN_LOCKCOMPUTER
        MENUITEM "&Disconnect", ID_SHUTDOWN_DISCONNECT, GRAYED
        MENUITEM "&Eject Computer", ID_SHUTDOWN_EJECT_COMPUTER, GRAYED
    END
    POPUP "&Hjälp"
    BEGIN
        MENUITEM "Aktivitetshanteraren &hjälpavsnitt", ID_HELP_TOPICS
        MENUITEM SEPARATOR
        MENUITEM "&Om Aktivitetshanteraren", ID_HELP_ABOUT
    END
END

IDR_WINDOWSMENU MENU
BEGIN
    MENUITEM "Ordna &horizontellt", ID_WINDOWS_TILEHORIZONTALLY
    MENUITEM "Ordna &vertikalt", ID_WINDOWS_TILEVERTICALLY
    MENUITEM "&Minimera", ID_WINDOWS_MINIMIZE
    MENUITEM "Ma&ximera", ID_WINDOWS_MAXIMIZE
    MENUITEM "&Överlappande", ID_WINDOWS_CASCADE
    MENUITEM "&För till förgrunden", ID_WINDOWS_BRINGTOFRONT
END

IDR_APPLICATION_PAGE_CONTEXT1 MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Ny aktivitet (Kör...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Stora ikoner", ID_VIEW_LARGE
        MENUITEM "S&må ikoner", ID_VIEW_SMALL
        MENUITEM "&Detaljer", ID_VIEW_DETAILS, CHECKED
    END
END

IDR_APPLICATION_PAGE_CONTEXT2 MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Växla till", ID_APPLICATION_PAGE_SWITCHTO
        MENUITEM "&För till förgrunden", ID_WINDOWS_BRINGTOFRONT
        MENUITEM SEPARATOR
        MENUITEM "Ordna &horizontellt", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "Ordna &vertikalt", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Minimera", ID_WINDOWS_MINIMIZE
        MENUITEM "Ma&ximera", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Överlappande", ID_WINDOWS_CASCADE
        MENUITEM SEPARATOR
        MENUITEM "&Avsluta aktiviteten", ID_APPLICATION_PAGE_ENDTASK
        MENUITEM "&Gå till process", ID_APPLICATION_PAGE_GOTOPROCESS
    END
END

IDR_TRAY_POPUP MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Återställ", ID_RESTORE
        MENUITEM "&Stäng", ID_FILE_EXIT
        MENUITEM SEPARATOR
        MENUITEM "&Alltid överst", ID_OPTIONS_ALWAYSONTOP
    END
END

IDR_PROCESS_PAGE_CONTEXT MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Avsluta process", ID_PROCESS_PAGE_ENDPROCESS
        MENUITEM "Avsluta process&träd", ID_PROCESS_PAGE_ENDPROCESSTREE
        MENUITEM "&Felsök", ID_PROCESS_PAGE_DEBUG
        MENUITEM SEPARATOR
        POPUP "Ändra &prioritet"
        BEGIN
            MENUITEM "&Realtid", ID_PROCESS_PAGE_SETPRIORITY_REALTIME
            MENUITEM "&Hög", ID_PROCESS_PAGE_SETPRIORITY_HIGH
            MENUITEM "&Över normal", ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL
            MENUITEM "&Normal", ID_PROCESS_PAGE_SETPRIORITY_NORMAL
            MENUITEM "&Under normal", ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL
            MENUITEM "&Låg", ID_PROCESS_PAGE_SETPRIORITY_LOW
        END
        MENUITEM "Välj &källa...", ID_PROCESS_PAGE_SETAFFINITY
        MENUITEM SEPARATOR
        MENUITEM "P&roperties", ID_PROCESS_PAGE_PROPERTIES
        MENUITEM "&Open File Location", ID_PROCESS_PAGE_OPENFILELOCATION
    END
END

/* Dialogs */

/* TRANSLATORS: CAPTION must be the same as IDS_APP_TITLE to be brought back to focus when already opened */

IDD_TASKMGR_DIALOG DIALOGEX 0, 0, 264, 246
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP |
      WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Aktivitetshanteraren"
MENU IDR_TASKMANAGER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_TAB, "SysTabControl32", WS_TABSTOP, 3, 3, 257, 228
END

IDD_APPLICATION_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_APPLIST, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS |
            WS_BORDER | WS_TABSTOP, 5, 7, 235, 177
    PUSHBUTTON "&Avsluta aktiviteten", IDC_ENDTASK, 34, 189, 83, 14, WS_DISABLED
    PUSHBUTTON "&Växla till", IDC_SWITCHTO, 120, 189, 53, 14, WS_DISABLED
    PUSHBUTTON "&Ny aktivitet...", IDC_NEWTASK, 175, 189, 65, 14
END

IDD_PROCESS_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_PROCESSLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 5, 7, 235, 177
    AUTOCHECKBOX "&Visa processer från alla användare", IDC_SHOWALLPROCESSES, 5, 191, 156, 10
    PUSHBUTTON "&Avsluta process", IDC_ENDPROCESS, 171, 189, 69, 14
END

IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Processoranv.", IDC_CPU_USAGE_FRAME, 5, 5, 60, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Minnesanv.", IDC_MEM_USAGE_FRAME, 5, 63, 60, 54, BS_LEFTTEXT, WS_EX_TRANSPARENT
    GROUPBOX "Totalt", IDC_TOTALS_FRAME, 5, 122, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Upptaget minne (K)", IDC_COMMIT_CHARGE_FRAME, 5, 166, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Fysiskt minne (K)", IDC_PHYSICAL_MEMORY_FRAME, 128, 122, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Kernel minne (K)", IDC_KERNEL_MEMORY_FRAME, 128, 166, 114, 39, 0, WS_EX_TRANSPARENT
    LTEXT "Referenser", IDS_TOTALS_HANDLE_COUNT, 12, 131, 57, 8
    LTEXT "Trådar", IDS_TOTALS_THREAD_COUNT, 12, 140, 57, 8
    LTEXT "Processer", IDS_TOTALS_PROCESS_COUNT, 12, 149, 57, 8
    EDITTEXT IDC_TOTALS_HANDLE_COUNT, 69, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_THREAD_COUNT, 69, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_PROCESS_COUNT, 69, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Totalt", IDS_COMMIT_CHARGE_TOTAL, 12, 175, 57, 8
    LTEXT "Gräns", IDS_COMMIT_CHARGE_LIMIT, 12, 184, 57, 8, NOT WS_BORDER
    LTEXT "Topp", IDS_COMMIT_CHARGE_PEAK, 12, 193, 57, 8
    EDITTEXT IDC_COMMIT_CHARGE_TOTAL, 69, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_LIMIT, 69, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_PEAK, 69, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Totalt", IDS_PHYSICAL_MEMORY_TOTAL, 134, 131, 57, 8
    LTEXT "Tillgängligt", IDS_PHYSICAL_MEMORY_AVAILABLE, 134, 140, 57, 8
    LTEXT "System Cache", IDS_PHYSICAL_MEMORY_SYSTEM_CACHE, 134, 149, 57, 8
    EDITTEXT IDC_PHYSICAL_MEMORY_TOTAL, 192, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_AVAILABLE, 192, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_SYSTEM_CACHE, 192, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Totalt", IDS_KERNEL_MEMORY_TOTAL, 134, 174, 57, 8
    LTEXT "Fysiskt / virtuellt", IDS_KERNEL_MEMORY_PAGED, 134, 184, 57, 8
    LTEXT "Fysiskt", IDS_KERNEL_MEMORY_NONPAGED, 134, 193, 57, 8
    EDITTEXT IDC_KERNEL_MEMORY_TOTAL, 192, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_PAGED, 192, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_NONPAGED, 192, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    GROUPBOX "Processorhistorik", IDC_CPU_USAGE_HISTORY_FRAME, 74, 5, 168, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Minneshistorik", IDC_MEMORY_USAGE_HISTORY_FRAME, 74, 63, 168, 54, 0, WS_EX_TRANSPARENT
    PUSHBUTTON "Processoranvändning", IDC_CPU_USAGE_GRAPH, 12, 17, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Minnesanvändning", IDC_MEM_USAGE_GRAPH, 12, 75, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Processorhistorik", IDC_CPU_USAGE_HISTORY_GRAPH, 81, 17, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Minneshistorik", IDC_MEM_USAGE_HISTORY_GRAPH, 81, 75, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
END

IDD_AFFINITY_DIALOG DIALOGEX 0, 0, 231, 154
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Processorsamhörighet"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 120, 133, 50, 14
    PUSHBUTTON "Avbryt", IDCANCEL, 174, 133, 50, 14
    LTEXT "Processorsamhörighets-inställningen bestämmer vilka processorer processen tillåts exekvera på", IDC_STATIC, 5, 5, 220, 16
    AUTOCHECKBOX "CPU 0", IDC_CPU0, 11, 28, 37, 10
    AUTOCHECKBOX "CPU 1", IDC_CPU1, 11, 41, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 2", IDC_CPU2, 11, 54, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 3", IDC_CPU3, 11, 67, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 4", IDC_CPU4, 11, 80, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 5", IDC_CPU5, 11, 93, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 6", IDC_CPU6, 11, 106, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 7", IDC_CPU7, 11, 119, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 8", IDC_CPU8, 61, 28, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 9", IDC_CPU9, 61, 41, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 10", IDC_CPU10, 61, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 11", IDC_CPU11, 61, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 12", IDC_CPU12, 61, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 13", IDC_CPU13, 61, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 14", IDC_CPU14, 61, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 15", IDC_CPU15, 61, 119, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 16", IDC_CPU16, 116, 28, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 17", IDC_CPU17, 116, 41, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 18", IDC_CPU18, 116, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 19", IDC_CPU19, 116, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 20", IDC_CPU20, 116, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 21", IDC_CPU21, 116, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 22", IDC_CPU22, 116, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 23", IDC_CPU23, 116, 119, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 24", IDC_CPU24, 175, 28, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 25", IDC_CPU25, 175, 41, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 26", IDC_CPU26, 175, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 27", IDC_CPU27, 175, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 28", IDC_CPU28, 175, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 29", IDC_CPU29, 175, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 30", IDC_CPU30, 175, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 31", IDC_CPU31, 175, 119, 41, 10, WS_DISABLED | WS_TABSTOP
END

IDD_COLUMNS_DIALOG DIALOGEX 0, 0, 275, 199
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Välj kolumner"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "OK", IDOK, 84, 178, 50, 14
    PUSHBUTTON "Avbryt", IDCANCEL, 138, 178, 50, 14
    LTEXT "Välj de kolumner som skall synas på process-sidan i Aktivitetshanteraren.", IDC_STATIC, 7, 7, 181, 17
    AUTOCHECKBOX "&Processnamn", IDC_IMAGENAME, 7, 28, 60, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "P&ID (Processidentifierare)", IDC_PID, 7, 39, 119, 10
    AUTOCHECKBOX "Processoranvändnin&g", IDC_CPUUSAGE, 7, 50, 89, 10
    AUTOCHECKBOX "Pro&cessortid", IDC_CPUTIME, 7, 61, 62, 10
    AUTOCHECKBOX "&Minnesanvändning", IDC_MEMORYUSAGE, 7, 72, 77, 10
    AUTOCHECKBOX "Minnesanvändnings&förändring", IDC_MEMORYUSAGEDELTA, 7, 83, 121, 10
    AUTOCHECKBOX "T&oppvärde minnesanvändning", IDC_PEAKMEMORYUSAGE, 7, 94, 121, 10
    AUTOCHECKBOX "&Sidfel", IDC_PAGEFAULTS, 7, 105, 56, 10
    AUTOCHECKBOX "&USER Objekt", IDC_USEROBJECTS, 7, 116, 64, 10
    AUTOCHECKBOX "Antal I/O-l&äsningar", IDC_IOREADS, 7, 127, 88, 10
    AUTOCHECKBOX "I/O, anta&l tecken lästa", IDC_IOREADBYTES, 7, 138, 119, 10
    AUTOCHECKBOX "Sessions-I&D", IDC_SESSIONID, 7, 149, 58, 10
    AUTOCHECKBOX "Användar&namn", IDC_USERNAME, 7, 160, 62, 10
    AUTOCHECKBOX "Sidfelsf&örändring", IDC_PAGEFAULTSDELTA, 133, 28, 82, 10
    AUTOCHECKBOX "Storl&ek i virtuella minnet", IDC_VIRTUALMEMORYSIZE, 133, 39, 116, 10
    AUTOCHECKBOX "Växlings&bar pool", IDC_PAGEDPOOL, 133, 50, 76, 10
    AUTOCHECKBOX "Ic&ke växlingsbar pool", IDC_NONPAGEDPOOL, 133, 61, 96, 10
    AUTOCHECKBOX "&Basprioritet", IDC_BASEPRIORITY, 133, 72, 60, 10
    AUTOCHECKBOX "Antal referenser (&handles)", IDC_HANDLECOUNT, 133, 83, 117, 10
    AUTOCHECKBOX "Antal tr&ådar", IDC_THREADCOUNT, 133, 94, 60, 10
    AUTOCHECKBOX "GDI-ob&jekt", IDC_GDIOBJECTS, 133, 105, 52, 10
    AUTOCHECKBOX "An&tal I/O-Skrivningar", IDC_IOWRITES, 133, 116, 97, 10
    AUTOCHECKBOX "I/O, &antal tecken skrivna", IDC_IOWRITEBYTES, 133, 127, 113, 10
    AUTOCHECKBOX "And&ra I/O åtgärder", IDC_IOOTHER, 133, 138, 89, 10
    AUTOCHECKBOX "Antal tecken, andra I/O åtgärder", IDC_IOOTHERBYTES, 133, 149, 141, 10
    AUTOCHECKBOX "Command &Line", IDC_COMMANDLINE, 133, 160, 95, 10
END

/* String Tables */

STRINGTABLE
BEGIN
    IDS_APP_TITLE "Aktivitetshanteraren"
    IDC_TASKMGR "Aktivitetshanteraren"
    IDS_IDLE_PROCESS "Systemets lediga resurser"
END

STRINGTABLE
BEGIN
    ID_FILE_NEW "Kör ett nytt program"
    ID_OPTIONS_ALWAYSONTOP "Aktivitetshanteraren förblir i förgrunden om den inte minimeras"
    ID_OPTIONS_MINIMIZEONUSE "Aktivitetshanteraren minimeras när en Växla till operation utförs"
    ID_OPTIONS_HIDEWHENMINIMIZED "Göm Aktivitetshanteraren när den minimeras"
    ID_VIEW_REFRESH "Tvinga Aktivitetshanteraren att uppdatera nu, oavsätt vald uppdateringshastighet"
    ID_VIEW_LARGE "Visa aktiviteter med stora ikoner"
    ID_VIEW_SMALL "Visa aktiviteter med små ikoner"
    ID_VIEW_DETAILS "Visa information om varje aktivitet"
    ID_VIEW_UPDATESPEED_HIGH "Uppdaterar värden två gånger per sekund"
    ID_VIEW_UPDATESPEED_NORMAL "Uppdaterar värden varannan sekund"
    ID_VIEW_UPDATESPEED_LOW "Uppdaterar värden var 4:e sekund"
END

STRINGTABLE
BEGIN
    ID_VIEW_UPDATESPEED_PAUSED "Uppdaterar inte automatiskt"
    ID_WINDOWS_TILEHORIZONTALLY "Ordna fönstren horizontellt på skrivbordet"
    ID_WINDOWS_TILEVERTICALLY "Ordna fönstren vertikalt på skrivbordet"
    ID_WINDOWS_MINIMIZE "Minimerar fönstret"
    ID_WINDOWS_MAXIMIZE "Maximerar fönstret"
    ID_WINDOWS_CASCADE "Ordna fönstren diagonalt överlappande på skrivbordet"
    ID_WINDOWS_BRINGTOFRONT "För fönstret till förgrunden men växla inte till det"
    ID_HELP_TOPICS "Visa Aktivitetshanterarens hjälpavsnitt"
    ID_HELP_ABOUT "Visa programinformation, versionsnummer, och upphovsrätt"
    ID_FILE_EXIT "Avsluta Aktivitetshanteraren"
    ID_OPTIONS_SHOW16BITTASKS "Visa 16-bitarsprocesser under tillhörande ntvdm.exe"
    ID_VIEW_SELECTCOLUMNS "Välj de kolumner som ska synas på process-sidan"
    ID_VIEW_SHOWKERNELTIMES "Visar kernel-tider i prestandagrafer"
    ID_VIEW_CPUHISTORY_ONEGRAPHALL "En enda historik-graf visar totala processoranvändningen"
    ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU "Varje processor har sin egen historik-graf"
    ID_APPLICATION_PAGE_SWITCHTO "För aktiviteten till förgrunden och växla till den"
END

STRINGTABLE
BEGIN
    ID_ENDTASK "Ber de valda aktiviteterna att avslutas"
    ID_GOTOPROCESS "Ändrar fokus till den valda aktivitetens process"
    ID_RESTORE "Återställer Aktivitetshanteraren från sitt gömda tillstånd"
    ID_PROCESS_PAGE_ENDPROCESS "Tar bort processen från systemet"
    ID_PROCESS_PAGE_ENDPROCESSTREE "Tar bort den här processen och underprocesser från systemet"
    ID_PROCESS_PAGE_DEBUG "Kopplar felsökaren till den här processen"
    ID_PROCESS_PAGE_SETAFFINITY "Kontrollerar vilka processorer processen tillåts att köras på"
    ID_PROCESS_PAGE_SETPRIORITY_REALTIME "Ändrar processens prioritet till realtidsläge"
    ID_PROCESS_PAGE_SETPRIORITY_HIGH "Ändrar processens prioritet till hög"
    ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL "Ändrar processens prioritet till över normal"
    ID_PROCESS_PAGE_SETPRIORITY_NORMAL "Ändrar processens prioritet till normal"
    ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL "Ändrar processens prioritet till under normal"
    ID_PROCESS_PAGE_SETPRIORITY_LOW "Ändrar processens prioritet till låg"
    ID_PROCESS_PAGE_PROPERTIES "Shows process file properties"
    ID_PROCESS_PAGE_OPENFILELOCATION "Opens process file location"
END

STRINGTABLE
BEGIN
    IDS_TAB_APPS "Program"
    IDS_TAB_PROCESSES "Processer"
    IDS_TAB_PERFORMANCE "Prestanda"
    IDS_TAB_TASK "Aktivitet"
    IDS_TAB_STATUS "Status"
    IDS_TAB_IMAGENAME "Processnamn"
    IDS_TAB_PID "PID"
    IDS_TAB_USERNAME "Användarnamn"
    IDS_TAB_SESSIONID "Sessions-ID"
    IDS_TAB_CPU "Processor"
    IDS_TAB_CPUTIME "Processortid"
    IDS_TAB_MEMUSAGE "Minnesanvändning"
    IDS_TAB_PEAKMEMUSAGE "Toppvärde minne"
    IDS_TAB_MEMDELTA "Minnesvärdesförändring"
    IDS_TAB_PAGEFAULT "Sidfel"
    IDS_TAB_PFDELTA "Sidfelsförändring"
    IDS_TAB_VMSIZE "VM Storlek"
    IDS_TAB_PAGEDPOOL "Växlingsbar pool"
    IDS_TAB_NPPOOL "Oväxlingsbar pool"
    IDS_TAB_BASEPRI "Basprioritet"
    IDS_TAB_HANDLES "Referenser"
    IDS_TAB_THREADS "Trådar"
    IDS_TAB_USERPBJECTS "USER Objekt"
    IDS_TAB_GDIOBJECTS "GDI Objekt"
    IDS_TAB_IOREADS "I/O-läsningar"
    IDS_TAB_IOWRITES "I/O-skrivningar"
    IDS_TAB_IOOTHER "I/O-övriga"
    IDS_TAB_IOREADBYTES "Antal tecken lästa, andra I/O-åtgärder"
    IDS_TAB_IOWRITESBYTES "Antal tecken skrivna, andra I/O-åtgärder"
    IDS_TAB_IOOTHERBYTES "I/O, antal tecken"
    IDS_TAB_COMMANDLINE "Command Line"
    IDS_MENU_SELECTCOLUMNS "&Välj kolumner..."
    IDS_MENU_16BITTASK "&Visa 16-bitsprocesser"
    IDS_MENU_WINDOWS "&Fönster"
    IDS_MENU_LARGEICONS "&Stora ikoner"
    IDS_MENU_SMALLICONS "S&må ikoner"
    IDS_MENU_DETAILS "&Detaljer"
    IDS_MENU_ONEGRAPHALLCPUS "En visare för &alla processorer"
    IDS_MENU_ONEGRAPHPERCPU "&En visare per processor"
    IDS_MENU_CPUHISTORY "&Processorhistorik"
    IDS_MENU_SHOWKERNELTIMES "&Visa kerneltider"
    IDS_CREATENEWTASK "Ny aktivitet"
    IDS_CREATENEWTASK_DESC "Skriv namnet på ett program, en mapp, en web-adress eller ett dokument för att öppna det."
    IDS_MSG_ACCESSPROCESSAFF "Kunde inte komma åt eller ändra processorsamhörigheten"
    IDS_MSG_PROCESSONEPRO "Processen måste ha samhörighet med minst en processor."
    IDS_MSG_INVALIDOPTION "Ogiltigt val"
    IDS_MSG_UNABLEDEBUGPROCESS "Kunde inte felsöka processen"
    IDS_MSG_WARNINGDEBUG "VARNING: Felsökning av den här processen kan resultera i förlorad data.\nÄr du säker på att du vill ansluta felsökaren?"
    IDS_MSG_TASKMGRWARNING "Aktivitetshanteraren varning"
    IDS_MSG_WARNINGTERMINATING "VARNING: Ett avslutande av en process kan orsaka\noönskade effekter och påverka systemets stabilitet. Processen\nkommer inte att ges chans att spara sitt arbete innan\nden avslutas. Är du säker på att du vill avsluta processen?"
    IDS_MSG_UNABLETERMINATEPRO "Kunde inte avsluta processen"
    IDS_MSG_CLOSESYSTEMPROCESS "This is a critical system process. Task Manager will not end this process."
    IDS_MSG_UNABLECHANGEPRIORITY "Kunde inte ändra prioritet"
    IDS_MSG_WARNINGCHANGEPRIORITY "VARNING: Ändring av prioritetsklassen hos den här processen kan\norsaka oönskade effekter och påverka systemets stabilitet. Är du\nsäker på att du vill ändra prioritetsklassen?"
    IDS_MSG_TRAYICONCPUUSAGE "Processoranvändning: %d%%"
    IDS_STATUS_MEMUSAGE "Minnesanv: %s / %s (%d%%)"
    IDS_STATUS_CPUUSAGE "CPU: %3d%%"
    IDS_STATUS_PROCESSES "Processer: %d"
    IDS_NOT_RESPONDING "Svarar inte"
    IDS_RUNNING "Igång"
END
