// COPYRIGHT: 2013-2019 Erdem Ersoy

LANGUAGE LANG_TURKISH, SUBLANG_DEFAULT

IDR_TASKMANAGER MENU
BEGIN
    POPUP "&Dosya"
    BEGIN
        MENUITEM "&Yeni Görev (Çalıştır...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "Ç&ıkış", ID_FILE_EXIT
    END
    POPUP "&Seçenekler"
    BEGIN
        MENUITEM "&Her Zaman Üstte", ID_OPTIONS_ALWAYSONTOP, CHECKED
        MENUITEM "&Kullanımda Simge Durumuna Küçült", ID_OPTIONS_MINIMIZEONUSE, CHECKED
        MENUITEM "&Simge Durumuna Küçültüldüğünde Gizle", ID_OPTIONS_HIDEWHENMINIMIZED, CHECKED
        MENUITEM "", ID_OPTIONS_SHOW16BITTASKS, CHECKED
    END
    POPUP "&Görünüm"
    BEGIN
        MENUITEM "Ş&imdi Yenile", ID_VIEW_REFRESH
        POPUP "&Yenilenme Hızı"
        BEGIN
            MENUITEM "&Yüksek", ID_VIEW_UPDATESPEED_HIGH
            MENUITEM "&Orta", ID_VIEW_UPDATESPEED_NORMAL, CHECKED
            MENUITEM "&Düşük", ID_VIEW_UPDATESPEED_LOW
            MENUITEM "D&uraklatılmış", ID_VIEW_UPDATESPEED_PAUSED
        END
        MENUITEM SEPARATOR
        MENUITEM "", ID_VIEW_LARGE
        MENUITEM "", ID_VIEW_SMALL
        MENUITEM "", ID_VIEW_DETAILS, CHECKED
        MENUITEM "", ID_VIEW_SELECTCOLUMNS
        POPUP ""
        BEGIN
            MENUITEM "", ID_VIEW_CPUHISTORY_ONEGRAPHALL
            MENUITEM "", ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU, CHECKED
        END
        MENUITEM "", ID_VIEW_SHOWKERNELTIMES
    END
    POPUP ""
    BEGIN
        MENUITEM "&Yatay Olarak Döşe", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "&Dikey Olarak Döşe", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Simge Durumuna Küçült", ID_WINDOWS_MINIMIZE
        MENUITEM "&Ekranı Kapla", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Basamaklandır", ID_WINDOWS_CASCADE
        MENUITEM "&Öne Getir", ID_WINDOWS_BRINGTOFRONT
    END
    POPUP "&Bilgisayarı Kapat"
    BEGIN
        MENUITEM "&Uykuya Geçir", ID_SHUTDOWN_STANDBY
        MENUITEM "&Hazırda Beklet", ID_SHUTDOWN_HIBERNATE
        MENUITEM "&Kapat", ID_SHUTDOWN_POWEROFF
        MENUITEM "&Yeniden Başlat", ID_SHUTDOWN_REBOOT
        MENUITEM """%s"" &Oturumunu Kapat", ID_SHUTDOWN_LOGOFF
        MENUITEM "Ku&llanıcı Değiştir\tROS+L", ID_SHUTDOWN_SWITCHUSER, GRAYED
        MENUITEM "&Bilgisayarı Kilitle\tROS+L", ID_SHUTDOWN_LOCKCOMPUTER
        MENUITEM "B&ağlantıyı Kes", ID_SHUTDOWN_DISCONNECT, GRAYED
        MENUITEM "B&ilgisayarı Çıkar", ID_SHUTDOWN_EJECT_COMPUTER, GRAYED
    END
    POPUP "&Yardım"
    BEGIN
        MENUITEM "&Görev Yöneticisi Yardım Konuları", ID_HELP_TOPICS
        MENUITEM SEPARATOR
        MENUITEM "&Görev Yöneticisi Hakkında", ID_HELP_ABOUT
    END
END

IDR_WINDOWSMENU MENU
BEGIN
    MENUITEM "&Yatay Olarak Döşe", ID_WINDOWS_TILEHORIZONTALLY
    MENUITEM "&Dikey Olarak Döşe", ID_WINDOWS_TILEVERTICALLY
    MENUITEM "&Simge Durumuna Küçült", ID_WINDOWS_MINIMIZE
    MENUITEM "&Ekranı Kaplat", ID_WINDOWS_MAXIMIZE
    MENUITEM "&Basamaklandır", ID_WINDOWS_CASCADE
    MENUITEM "&Öne Getir", ID_WINDOWS_BRINGTOFRONT
END

IDR_APPLICATION_PAGE_CONTEXT1 MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Yeni Görev (Çalıştır...)", ID_FILE_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Büyük Simgeler", ID_VIEW_LARGE
        MENUITEM "&Küçük Simgeler", ID_VIEW_SMALL
        MENUITEM "&Ayrıntılar", ID_VIEW_DETAILS, CHECKED
    END
END

IDR_APPLICATION_PAGE_CONTEXT2 MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Geç", ID_APPLICATION_PAGE_SWITCHTO
        MENUITEM "&Öne Getir", ID_WINDOWS_BRINGTOFRONT
        MENUITEM SEPARATOR
        MENUITEM "&Yatay Olarak Döşe", ID_WINDOWS_TILEHORIZONTALLY
        MENUITEM "&Dikey Olarak Döşe", ID_WINDOWS_TILEVERTICALLY
        MENUITEM "&Simge Durumuna Küçült", ID_WINDOWS_MINIMIZE
        MENUITEM "&Ekranı Kaplat", ID_WINDOWS_MAXIMIZE
        MENUITEM "&Basamaklandır", ID_WINDOWS_CASCADE
        MENUITEM SEPARATOR
        MENUITEM "Gö&revi Sonlandır", ID_APPLICATION_PAGE_ENDTASK
        MENUITEM "&İşleme Git", ID_APPLICATION_PAGE_GOTOPROCESS
    END
END

IDR_TRAY_POPUP MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&Eski Durumuna Getir", ID_RESTORE
        MENUITEM "&Kapat", ID_FILE_EXIT
        MENUITEM SEPARATOR
        MENUITEM "&Her Zaman Üstte", ID_OPTIONS_ALWAYSONTOP
    END
END

IDR_PROCESS_PAGE_CONTEXT MENU
BEGIN
    POPUP ""
    BEGIN
        MENUITEM "&İşlemi Sonlandır", ID_PROCESS_PAGE_ENDPROCESS
        MENUITEM "İ&şlem Ağacını Sonlandır", ID_PROCESS_PAGE_ENDPROCESSTREE
        MENUITEM "&Hata Ayıkla", ID_PROCESS_PAGE_DEBUG
        MENUITEM SEPARATOR
        POPUP "&Önceliği Aayarla"
        BEGIN
            MENUITEM "&Gerçek Zamanlı", ID_PROCESS_PAGE_SETPRIORITY_REALTIME
            MENUITEM "&Yüksek", ID_PROCESS_PAGE_SETPRIORITY_HIGH
            MENUITEM "&Normalin Üstü", ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL
            MENUITEM "N&ormal", ID_PROCESS_PAGE_SETPRIORITY_NORMAL
            MENUITEM "No&rmalin Altı", ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL
            MENUITEM "&Düşük", ID_PROCESS_PAGE_SETPRIORITY_LOW
        END
        MENUITEM "İ&lişkiyi Ayarla...", ID_PROCESS_PAGE_SETAFFINITY
        MENUITEM SEPARATOR
        MENUITEM "P&roperties", ID_PROCESS_PAGE_PROPERTIES
        MENUITEM "&Open File Location", ID_PROCESS_PAGE_OPENFILELOCATION
    END
END

/* Dialogs */

/* TRANSLATORS: CAPTION must be the same as IDS_APP_TITLE to be brought back to focus when already opened */

IDD_TASKMGR_DIALOG DIALOGEX 0, 0, 264, 246
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUP |
      WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
CAPTION "Görev Yöneticisi"
MENU IDR_TASKMANAGER
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_TAB, "SysTabControl32", WS_TABSTOP, 3, 3, 257, 228
END

IDD_APPLICATION_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_APPLIST, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS |
            WS_BORDER | WS_TABSTOP, 5, 7, 235, 177
    PUSHBUTTON "G&örevi Sonlandır", IDC_ENDTASK, 60, 189, 68, 14, WS_DISABLED
    PUSHBUTTON "&Geç", IDC_SWITCHTO, 131, 189, 53, 14, WS_DISABLED
    PUSHBUTTON "&Yeni Görev...", IDC_NEWTASK, 187, 189, 53, 14
END

IDD_PROCESS_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_PROCESSLIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 5, 7, 235, 177
    AUTOCHECKBOX "&Tüm Kullanıcıların İşlemlerini Göster", IDC_SHOWALLPROCESSES, 5, 191, 140, 10
    PUSHBUTTON "&İşlemi Sonlandır", IDC_ENDPROCESS, 171, 189, 69, 14
END

IDD_PERFORMANCE_PAGE DIALOGEX 0, 0, 247, 210
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "CPU Kullanımı", IDC_CPU_USAGE_FRAME, 5, 5, 60, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Bellek Kullanımı", IDC_MEM_USAGE_FRAME, 5, 63, 60, 54, BS_LEFTTEXT, WS_EX_TRANSPARENT
    GROUPBOX "Toplam", IDC_TOTALS_FRAME, 5, 122, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Ayrılmış Bellek (KB)", IDC_COMMIT_CHARGE_FRAME, 5, 166, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Fiziksel Bellek (KB)", IDC_PHYSICAL_MEMORY_FRAME, 128, 122, 114, 39, 0, WS_EX_TRANSPARENT
    GROUPBOX "Çekirdek Belleği (KB)", IDC_KERNEL_MEMORY_FRAME, 128, 166, 114, 39, 0, WS_EX_TRANSPARENT
    LTEXT "İşleçler", IDS_TOTALS_HANDLE_COUNT, 12, 131, 57, 8
    LTEXT "İş Parçacıkları", IDS_TOTALS_THREAD_COUNT, 12, 140, 57, 8
    LTEXT "İşlemler", IDS_TOTALS_PROCESS_COUNT, 12, 149, 57, 8
    EDITTEXT IDC_TOTALS_HANDLE_COUNT, 69, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_THREAD_COUNT, 69, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_TOTALS_PROCESS_COUNT, 69, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Toplam", IDS_COMMIT_CHARGE_TOTAL, 12, 175, 57, 8
    LTEXT "Sınır", IDS_COMMIT_CHARGE_LIMIT, 12, 184, 57, 8, NOT WS_BORDER
    LTEXT "En Yüksek", IDS_COMMIT_CHARGE_PEAK, 12, 193, 57, 8
    EDITTEXT IDC_COMMIT_CHARGE_TOTAL, 69, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_LIMIT, 69, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_COMMIT_CHARGE_PEAK, 69, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Toplam", IDS_PHYSICAL_MEMORY_TOTAL, 134, 131, 57, 8
    LTEXT "Kullanılabilir", IDS_PHYSICAL_MEMORY_AVAILABLE, 134, 140, 57, 8
    LTEXT "Sistem Ön Belleği", IDS_PHYSICAL_MEMORY_SYSTEM_CACHE, 134, 149, 57, 8
    EDITTEXT IDC_PHYSICAL_MEMORY_TOTAL, 192, 131, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_AVAILABLE, 192, 140, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_PHYSICAL_MEMORY_SYSTEM_CACHE, 192, 149, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    LTEXT "Toplam", IDS_KERNEL_MEMORY_TOTAL, 134, 174, 57, 8
    LTEXT "Sayfalanmış", IDS_KERNEL_MEMORY_PAGED, 134, 184, 57, 8
    LTEXT "Sayfalanmamış", IDS_KERNEL_MEMORY_NONPAGED, 134, 193, 57, 8
    EDITTEXT IDC_KERNEL_MEMORY_TOTAL, 192, 174, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_PAGED, 192, 184, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    EDITTEXT IDC_KERNEL_MEMORY_NONPAGED, 192, 193, 45, 8, ES_RIGHT | ES_READONLY |
             ES_NUMBER | NOT WS_BORDER | NOT WS_TABSTOP
    GROUPBOX "CPU Kullanım Geçmişi", IDC_CPU_USAGE_HISTORY_FRAME, 74, 5, 168, 54, 0, WS_EX_TRANSPARENT
    GROUPBOX "Bellek Kullanım Geçmişi", IDC_MEMORY_USAGE_HISTORY_FRAME, 74, 63, 168, 54, 0, WS_EX_TRANSPARENT
    PUSHBUTTON "CPU Kullanım Grafiği", IDC_CPU_USAGE_GRAPH, 12, 17, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Bellek Kullanım Grafiği", IDC_MEM_USAGE_GRAPH, 12, 75, 47, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "CPU Kullanım Geçmişi Grafiği", IDC_CPU_USAGE_HISTORY_GRAPH, 81, 17, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
    PUSHBUTTON "Bellek Kullanım Geçmişi Grafiği", IDC_MEM_USAGE_HISTORY_GRAPH, 81, 75, 153, 37, NOT WS_TABSTOP, WS_EX_CLIENTEDGE
END

IDD_AFFINITY_DIALOG DIALOGEX 0, 0, 231, 154
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "İşlemci İlişkisi"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "Tamam", IDOK, 120, 133, 50, 14
    PUSHBUTTON "İptal", IDCANCEL, 174, 133, 50, 14
    LTEXT "İşlemci İlişkisi ayarı, işleme hangi CPU'ların üzerinde çalışmasına izin verileceğini düzenler.", IDC_STATIC, 5, 5, 220, 16
    AUTOCHECKBOX "CPU 0", IDC_CPU0, 11, 28, 37, 10
    AUTOCHECKBOX "CPU 1", IDC_CPU1, 11, 41, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 2", IDC_CPU2, 11, 54, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 3", IDC_CPU3, 11, 67, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 4", IDC_CPU4, 11, 80, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 5", IDC_CPU5, 11, 93, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 6", IDC_CPU6, 11, 106, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 7", IDC_CPU7, 11, 119, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 8", IDC_CPU8, 61, 28, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 9", IDC_CPU9, 61, 41, 37, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 10", IDC_CPU10, 61, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 11", IDC_CPU11, 61, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 12", IDC_CPU12, 61, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 13", IDC_CPU13, 61, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 14", IDC_CPU14, 61, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 15", IDC_CPU15, 61, 119, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 16", IDC_CPU16, 116, 28, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 17", IDC_CPU17, 116, 41, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 18", IDC_CPU18, 116, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 19", IDC_CPU19, 116, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 20", IDC_CPU20, 116, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 21", IDC_CPU21, 116, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 22", IDC_CPU22, 116, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 23", IDC_CPU23, 116, 119, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 24", IDC_CPU24, 175, 28, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 25", IDC_CPU25, 175, 41, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 26", IDC_CPU26, 175, 54, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 27", IDC_CPU27, 175, 67, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 28", IDC_CPU28, 175, 80, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 29", IDC_CPU29, 175, 93, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 30", IDC_CPU30, 175, 106, 41, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "CPU 31", IDC_CPU31, 175, 119, 41, 10, WS_DISABLED | WS_TABSTOP
END

IDD_COLUMNS_DIALOG DIALOGEX 0, 0, 195, 199
STYLE DS_SHELLFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sütunları Seç"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON "Tamam", IDOK, 84, 178, 50, 14
    PUSHBUTTON "İptal", IDCANCEL, 138, 178, 50, 14
    LTEXT "Görev Yöneticisi'nin İşlemler sayfasında gözükecek sütunları seçiniz.", IDC_STATIC, 7, 7, 181, 17
    AUTOCHECKBOX "Yansıma Adı", IDC_IMAGENAME, 7, 28, 56, 10, WS_DISABLED | WS_TABSTOP
    AUTOCHECKBOX "PID (İşlem Kimliği)", IDC_PID, 7, 39, 100, 10
    AUTOCHECKBOX "CPU Kullanımı", IDC_CPUUSAGE, 7, 50, 100, 10
    AUTOCHECKBOX "CPU Süresi", IDC_CPUTIME, 7, 61, 100, 10
    AUTOCHECKBOX "Bellek Kullanımı", IDC_MEMORYUSAGE, 7, 72, 100, 10
    AUTOCHECKBOX "Bellek Kullanım Farkı", IDC_MEMORYUSAGEDELTA, 7, 83, 100, 10
    AUTOCHECKBOX "En Yüksek Bellek Kullanımı", IDC_PEAKMEMORYUSAGE, 7, 94, 100, 10
    AUTOCHECKBOX "Sayfa Hataları", IDC_PAGEFAULTS, 7, 105, 100, 10
    AUTOCHECKBOX "KULLANICI Nesneleri", IDC_USEROBJECTS, 7, 116, 100, 10
    AUTOCHECKBOX "G/Ç Okuma", IDC_IOREADS, 7, 127, 100, 10
    AUTOCHECKBOX "G/Ç Okuma Baytları", IDC_IOREADBYTES, 7, 138, 100, 10
    AUTOCHECKBOX "Oturum Kimliği", IDC_SESSIONID, 7, 149, 100, 10
    AUTOCHECKBOX "Kullanıcı Adı", IDC_USERNAME, 7, 160, 100, 10
    AUTOCHECKBOX "Sayfa Hataları Farkı", IDC_PAGEFAULTSDELTA, 107, 28, 85, 10
    AUTOCHECKBOX "Sanal Bellek Boyutu", IDC_VIRTUALMEMORYSIZE, 107, 39, 85, 10
    AUTOCHECKBOX "Sayfalanmış Havuz", IDC_PAGEDPOOL, 107, 50, 85, 10
    AUTOCHECKBOX "Sayfalanmamış Havuz", IDC_NONPAGEDPOOL, 107, 61, 85, 10
    AUTOCHECKBOX "Birinci Öncelik", IDC_BASEPRIORITY, 107, 72, 85, 10
    AUTOCHECKBOX "İşleçler", IDC_HANDLECOUNT, 107, 83, 85, 10
    AUTOCHECKBOX "İş Parçacıkları", IDC_THREADCOUNT, 107, 94, 85, 10
    AUTOCHECKBOX "GDI Nesneleri", IDC_GDIOBJECTS, 107, 105, 85, 10
    AUTOCHECKBOX "G/Ç Yazma", IDC_IOWRITES, 107, 116, 85, 10
    AUTOCHECKBOX "G/Ç Yazma Baytları", IDC_IOWRITEBYTES, 107, 127, 85, 10
    AUTOCHECKBOX "G/Ç Başka", IDC_IOOTHER, 107, 138, 85, 10
    AUTOCHECKBOX "G/Ç Başka Baytları", IDC_IOOTHERBYTES, 107, 149, 85, 10
    AUTOCHECKBOX "Komut Satırı", IDC_COMMANDLINE, 107, 160, 65, 10
END

/* String Tables */

STRINGTABLE
BEGIN
    IDS_APP_TITLE "Görev Yöneticisi"
    IDC_TASKMGR "Görev Yöneticisi"
    IDS_IDLE_PROCESS "Boş Sistem İşlemi"
END

STRINGTABLE
BEGIN
    ID_FILE_NEW "Yeni bir program çalıştırır."
    ID_OPTIONS_ALWAYSONTOP "Görev Yöneticisi, simge durumuna küçültülmeden diğer tüm pencerelerin önünde durur."
    ID_OPTIONS_MINIMIZEONUSE "Görev Yöneticisi bir geçme işlemi uygulanırken simge durumuna küçültülür."
    ID_OPTIONS_HIDEWHENMINIMIZED "Görev Yöneticisi simge durumuna küçültüldüğünde Görev Yöneticisi'ni gizler."
    ID_VIEW_REFRESH "Yenileme Hızı ayarını önemsemeden Görev Yöneticisi'ni şimdi yenilemeye zorlar."
    ID_VIEW_LARGE "Görevleri büyük simgeler kullanarak gösterir."
    ID_VIEW_SMALL "Görevleri küçük simgeler kullanarak gösterir."
    ID_VIEW_DETAILS "Her bir görev hakkında bilgi görüntüler."
    ID_VIEW_UPDATESPEED_HIGH "Saniyede iki kez görünümü yeniler."
    ID_VIEW_UPDATESPEED_NORMAL "İki saniyede bir görünümü yeniler."
    ID_VIEW_UPDATESPEED_LOW "Dört saniyede bir görünümü yeniler."
END

STRINGTABLE
BEGIN
    ID_VIEW_UPDATESPEED_PAUSED "Kendiliğinden yenilemez."
    ID_WINDOWS_TILEHORIZONTALLY "Masaüstünde pencereleri yatay olarak döşer."
    ID_WINDOWS_TILEVERTICALLY "Masaüstünde pencereleri dikey olarak döşer."
    ID_WINDOWS_MINIMIZE "Pencereleri simge durumuna küçültür."
    ID_WINDOWS_MAXIMIZE "Pencereleri ekrana kaplatır."
    ID_WINDOWS_CASCADE "Masaüstünde pencereleri çapraz olarak basamaklar."
    ID_WINDOWS_BRINGTOFRONT "Pencereyi öne getirir ancak ona geçmez."
    ID_HELP_TOPICS "Görev Yöneticisi yardım konularını görüntüler."
    ID_HELP_ABOUT "Program bilgisini, sürüm numarasını ve telif hakkını görüntüler."
    ID_FILE_EXIT "Görev Yöneticisi uygulamasından çıkar."
    ID_OPTIONS_SHOW16BITTASKS "İlişkili ntvdm.exe altındaki 16 bitlik görevleri gösterir."
    ID_VIEW_SELECTCOLUMNS "İşlemler sayfasında hangi sütunların görünür olacağını seçer."
    ID_VIEW_SHOWKERNELTIMES "Performans grafiklerinde çekirdek sürelerini görüntüler."
    ID_VIEW_CPUHISTORY_ONEGRAPHALL "Toplam CPU kullanımını gösteren bir tek geçmiş grafiği göster"
    ID_VIEW_CPUHISTORY_ONEGRAPHPERCPU "Her CPU'nun kendi geçmiş grafiği vardır."
    ID_APPLICATION_PAGE_SWITCHTO "Bir görevi ön plana getirir, odağı o göreve verir."
END

STRINGTABLE
BEGIN
    ID_ENDTASK "Seçilen görevleri sonlandırmayı bildirir."
    ID_GOTOPROCESS "Seçilen görevin işlemine odağı verir."
    ID_RESTORE "Görev Yöneticisi'ni görümür hale getirir."
    ID_PROCESS_PAGE_ENDPROCESS "İşleme, sonlanmasını bildirir."
    ID_PROCESS_PAGE_ENDPROCESSTREE "Bu işlemi ve tüm alt görevlerini sonlandırır."
    ID_PROCESS_PAGE_DEBUG "Bu işleme hata ayıklayıcı bağlar."
    ID_PROCESS_PAGE_SETAFFINITY "İşlemin hangi CPU'ların üzerinde çalışmasına izin verileceğini belirler."
    ID_PROCESS_PAGE_SETPRIORITY_REALTIME "İşlemi EŞ ZAMANLI öncelik sınıfına getirir."
    ID_PROCESS_PAGE_SETPRIORITY_HIGH "İşlemi YÜKSEK öncelik sınıfına getirir."
    ID_PROCESS_PAGE_SETPRIORITY_ABOVENORMAL "İşlemi NORMAL ÜSTÜ öncelik sınıfına getirir."
    ID_PROCESS_PAGE_SETPRIORITY_NORMAL "İşlemi NORMAL öncelik sınıfına getirir."
    ID_PROCESS_PAGE_SETPRIORITY_BELOWNORMAL "İşlemi NORMAL ALTI öncelik sınıfına getirir."
    ID_PROCESS_PAGE_SETPRIORITY_LOW "İşlemi DÜŞÜK öncelik sınıfına getirir."
    ID_PROCESS_PAGE_PROPERTIES "Shows process file properties"
    ID_PROCESS_PAGE_OPENFILELOCATION "Opens process file location"
END

STRINGTABLE
BEGIN
    IDS_TAB_APPS "Uygulamalar"
    IDS_TAB_PROCESSES "İşlemler"
    IDS_TAB_PERFORMANCE "Performans"
    IDS_TAB_TASK "Görev"
    IDS_TAB_STATUS "Durum"
    IDS_TAB_IMAGENAME "Yansıma Adı"
    IDS_TAB_PID "PID"
    IDS_TAB_USERNAME "Kullanıcı Adı"
    IDS_TAB_SESSIONID "Oturum Kimliği"
    IDS_TAB_CPU "CPU Kullanımı"
    IDS_TAB_CPUTIME "CPU Süresi"
    IDS_TAB_MEMUSAGE "Bellek Kullanımı"
    IDS_TAB_PEAKMEMUSAGE "En Yüksek Bellek Kullanımı"
    IDS_TAB_MEMDELTA "Bellek Kullanım Aralığı"
    IDS_TAB_PAGEFAULT "Sayfa Hataları"
    IDS_TAB_PFDELTA "Sayfa Hataları Aralığı"
    IDS_TAB_VMSIZE "Sanal Bellek Boyutu"
    IDS_TAB_PAGEDPOOL "Sayfalanmış Havuz"
    IDS_TAB_NPPOOL "Sayfalanmamış Havuz"
    IDS_TAB_BASEPRI "Birinci Öncelik"
    IDS_TAB_HANDLES "İşleçler"
    IDS_TAB_THREADS "İş Parçacıkları"
    IDS_TAB_USERPBJECTS "Kullanıcı Nesneleri"
    IDS_TAB_GDIOBJECTS "GDI Nesneleri"
    IDS_TAB_IOREADS "G/Ç Okuma"
    IDS_TAB_IOWRITES "G/Ç Yazma"
    IDS_TAB_IOOTHER "G/Ç Başka"
    IDS_TAB_IOREADBYTES "G/Ç Okuma Baytları"
    IDS_TAB_IOWRITESBYTES "G/Ç Yazma Baytları"
    IDS_TAB_IOOTHERBYTES "G/Ç Başka Baytlar"
    IDS_TAB_COMMANDLINE "Komut Satırı"
    IDS_MENU_SELECTCOLUMNS "&Sütunları Seç..."
    IDS_MENU_16BITTASK "&16 Bitlik Görevleri Göster"
    IDS_MENU_WINDOWS "&Pencereler"
    IDS_MENU_LARGEICONS "&Büyük Simgeler"
    IDS_MENU_SMALLICONS "&Küçük Simgeler"
    IDS_MENU_DETAILS "&Ayrıntılar"
    IDS_MENU_ONEGRAPHALLCPUS "&Tek Grafik, Tüm CPU'ları Göster"
    IDS_MENU_ONEGRAPHPERCPU "&CPU Başına Bir Grafik Göster"
    IDS_MENU_CPUHISTORY "&CPU Geçmişi"
    IDS_MENU_SHOWKERNELTIMES "&Çekirdek Sürelerini Göster"
    IDS_CREATENEWTASK "Yeni Görev Oluşturma"
    IDS_CREATENEWTASK_DESC "Bir programın, bir dizinin, bir belgenin veya bir İnternet kaynağının adını yazınız, Görev Yöneticisi onu sizin için açacaktır."
    IDS_MSG_ACCESSPROCESSAFF "İşlemci İlişkisinin Erişilemedi veya Ayarlanadı"
    IDS_MSG_PROCESSONEPRO "İşlemin en azından bir işlemciyle ilişkisi olmalıdır."
    IDS_MSG_INVALIDOPTION "Geçersiz Seçenek"
    IDS_MSG_UNABLEDEBUGPROCESS "Hata Ayıklama İşleminin Yapılamadı"
    IDS_MSG_WARNINGDEBUG "UYARI: Bu işlemde hata ayıklama veri kaybıyla sonuçlanabilir.\nHata ayıklayıcı bağlamak istediğinizden emin misiniz?"
    IDS_MSG_TASKMGRWARNING "Görev Yöneticisi Uyarısı"
    IDS_MSG_WARNINGTERMINATING "UYARI: Bir işlemin sonlandırılması, veri\nkaybı ve sistem kararsızlığı dahil pek çok istenmeyen sonuca neden\nolabilir. İşleme, işlem sonlandırılmadan önce durumunu veya verisini\nkaydetme fırsatı verilmeyecektir. İşlemi\nsonlandırmak istediğinizden emin misiniz?"
    IDS_MSG_UNABLETERMINATEPRO "İşlem Sonlandırlamadı"
    IDS_MSG_CLOSESYSTEMPROCESS "Bu çok önemli bir sistem işlemidir. Görev Yöneticisi bu işlemi sonlandırmayacak."
    IDS_MSG_UNABLECHANGEPRIORITY "Öncelik Değiştirilemedi"
    IDS_MSG_WARNINGCHANGEPRIORITY "UYARI: Bu işlemin öncelik sınıfının değiştirilmesi, sistem\nkararsızlığı dahil pek çok istenmeyen sonuca neden olabilir. Öncelik\nsınıfını değiştirmek istediğinizden emin misiniz?"
    IDS_MSG_TRAYICONCPUUSAGE "CPU Kullanımı: %%%d"
    IDS_STATUS_MEMUSAGE "Ayrılmış Bellek: %s / %s (%%%d)"
    IDS_STATUS_CPUUSAGE "CPU: %%%3d"
    IDS_STATUS_PROCESSES "İşlem: %d"
    IDS_NOT_RESPONDING "Yanıt Vermiyor"
    IDS_RUNNING "Çalışıyor"
END
