/*
 *      translated by Caemyr - Olaf Siejka (Feb, 2008)
 *      Use ReactOS forum PM or IRC to contact me
 *      http://www.reactos.org
 *      IRC: irc.freenode.net #reactos-pl;
 */

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

/* String Tables */
STRINGTABLE DISCARDABLE
BEGIN
  IDS_LOAD	   "£adowanie ..."
  ERR_OK	   "Zadanie ukoñczone."
  ERR_PACK	   "Nie uda³o siê zainstalowaæ wszystkich pakietów\n\nProszê sprawdziæ szczegó³y w logach."
  ERR_GENERIC      "Wyst¹pi³ b³¹d. \nWiêcej informacji znajduje siê w logach."
  ERR_DOWNL	   "Niezbêdny plik nie móg³ zostaæ œci¹gniêty!\nWiêcej informacji znajduje siê w logach."
  ERR_FILE	   "B³¹d podczas wykonywania skryptu.\nPlik nie móg³ zostaæ otwarty."

  ERR_SYNATX       "B³¹d podczas wykonywania skryptu.\nNieprawid³owa sk³adnia."
  ERR_CALL         "B³¹d podczas wykonywania skryptu.\nFunkcja nie zosta³a znaleziona."
  ERR_PARAMETER    "B³¹d podczas wykonywania skryptu.\nB³êdny parametr(y)."

  ERR_DEP1	   "Do zainstalowania tego pakietu konieczne jest uprzednie zainstalowanie nastêpuj¹cych:\n\n"
  ERR_DEP2	   "\nCzy chcesz je teraz zainstalowaæ ?"
  ERR_READY	   "Wybra³eœ instalacjê %d pakietu(ów). Aby je zainstalowaæ, musisz przeczytaæ i zaakceptowaæ licencjê ka¿dego z nich. \n\nCzy chcesz kontynuowaæ ?"
END

123 RCDATA	   "options.xml"

/* EOF */
/*
 *      translated by Caemyr - Olaf Siejka (Feb, 2008)
 *      Use ReactOS forum PM or IRC to contact me
 *      http://www.reactos.org
 *      IRC: irc.freenode.net #reactos-pl;
 */

LANGUAGE LANG_POLISH, SUBLANG_DEFAULT

/* String Tables */
STRINGTABLE DISCARDABLE
BEGIN
  IDS_LOAD	   "£adowanie ..."
  ERR_OK	   "Zadanie ukoñczone."
  ERR_PACK	   "Nie uda³o siê zainstalowaæ wszystkich pakietów\n\nProszê sprawdziæ szczegó³y w logach."
  ERR_GENERIC      "Wyst¹pi³ b³¹d. \nWiêcej informacji znajduje siê w logach."
  ERR_DOWNL	   "Niezbêdny plik nie móg³ zostaæ œci¹gniêty!\nWiêcej informacji znajduje siê w logach."
  ERR_FILE	   "B³¹d podczas wykonywania skryptu.\nPlik nie móg³ zostaæ otwarty."

  ERR_SYNATX       "B³¹d podczas wykonywania skryptu.\nNieprawid³owa sk³adnia."
  ERR_CALL         "B³¹d podczas wykonywania skryptu.\nFunkcja nie zosta³a znaleziona."
  ERR_PARAMETER    "B³¹d podczas wykonywania skryptu.\nB³êdny parametr(y)."

  ERR_DEP1	   "Do zainstalowania tego pakietu konieczne jest uprzednie zainstalowanie nastêpuj¹cych:\n\n"
  ERR_DEP2	   "\nCzy chcesz je teraz zainstalowaæ ?"
  ERR_READY	   "Wybra³eœ instalacjê %d pakietu(ów). Aby je zainstalowaæ, musisz przeczytaæ i zaakceptowaæ licencjê ka¿dego z nich. \n\nCzy chcesz kontynuowaæ ?"
END

123 RCDATA	   "options.xml"

/* EOF */
