LANGUAGE LANG_BULGARIAN, SUBLANG_DEFAULT

IDD_MSCONFIG_DIALOG DIALOGEX 0, 0, 378, 220
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP |
      WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU
CAPTION "Приложение за настройка на системата"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Tab1", IDC_TAB, "SysTabControl32", WS_TABSTOP, 2, 2, 374, 195
    DEFPUSHBUTTON "Добре", IDOK, 211, 201, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "&Помощ", IDC_BTN_HELP, 2, 201, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "Отказ", IDCANCEL, 267, 201, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "Прилагане", IDC_BTN_APPLY, 323, 201, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

IDD_STARTUP_PAGE DIALOGEX 0, 0, 362, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "List3", IDC_STARTUP_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 2, 1, 360, 148
    PUSHBUTTON "&Activate all", IDC_BTN_STARTUP_ACTIVATE, 223, 155, 66, 14
    PUSHBUTTON "&Изключване на всички", IDC_BTN_STARTUP_DEACTIVATE, 272, 155, 83, 14
END

IDD_SYSTEM_PAGE DIALOGEX 0, 0, 362, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "", IDC_SYSTEM_TREE, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES |
            TVS_LINESATROOT | TVS_EDITLABELS | TVS_SHOWSELALWAYS | WS_CHILD |
            WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 1, 280, 148
    PUSHBUTTON "На&горе", IDC_BTN_SYSTEM_UP, 290, 5, 66, 14
    PUSHBUTTON "На&долу", IDC_BTN_SYSTEM_DOWN, 290, 25, 66, 14
    PUSHBUTTON "&Включване", IDC_BTN_SYSTEM_ENABLE, 290, 50, 66, 14
    PUSHBUTTON "&Изключване", IDC_BTN_SYSTEM_DISABLE, 290, 70, 66, 14
    PUSHBUTTON "&Търсене", IDC_BTN_SYSTEM_FIND, 290, 95, 66, 14
    PUSHBUTTON "&Нов", IDC_BTN_SYSTEM_NEW, 290, 115, 66, 14
    PUSHBUTTON "Об&работка", IDC_BTN_SYSTEM_EDIT, 290, 135, 66, 14
    PUSHBUTTON "В&ключване на всички", IDC_BTN_SYSTEM_ACTIVATE, 103, 155, 79, 14
    PUSHBUTTON "Изк&лючване на всички", IDC_BTN_SYSTEM_DEACTIVATE, 185, 155, 79, 14
END

IDD_TOOLS_PAGE DIALOGEX 0, 0, 362, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "List2", IDC_TOOLS_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 2, 1, 360, 134
    EDITTEXT IDC_TOOLS_CMDLINE, 1, 139, 360, 12, ES_READONLY
    PUSHBUTTON "&Запуск", IDC_BTN_RUN, 311, 155, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

IDD_SERVICES_PAGE DIALOGEX 0, 0, 362, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "List1", IDC_SERVICES_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL |
            LVS_SHOWSELALWAYS | LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP, 2, 1, 360, 148
    PUSHBUTTON "&Activate all", IDC_BTN_SERVICES_ACTIVATE, 223, 155, 66, 14
    PUSHBUTTON "&Изключване на всички", IDC_BTN_SERVICES_DEACTIVATE, 272, 155, 83, 14
END

IDD_GENERAL_PAGE DIALOGEX 0, 0, 362, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX "Избор на пусканията", -1, 10, 10, 340, 150, 0, WS_EX_TRANSPARENT
    CONTROL "&Нормално пускане – зареждане на всички водачи (драйвери) и услуги", IDC_CBX_NORMAL_START, "Button", 0x50010009, 20, 30, 260, 10
    CONTROL "&Разследващо пускане- зареждане само на основните водачи и услуги ", IDC_CBX_DIAGNOSTIC_START, "Button", 0x50010009, 20, 45, 260, 10
    CONTROL "Избираемо пускане", IDC_CBX_SELECTIVE_STARTUP, "Button", 0x50010009, 20, 60, 260, 10
    AUTOCHECKBOX "Зареждане на файл SYSTEM.INI", IDC_CBX_SYSTEM_INI, 30, 80, 260, 10
    AUTOCHECKBOX "&Зареждане на системните услуги", IDC_CBX_SYSTEM_SERVICE, 30, 95, 260, 10
    AUTOCHECKBOX "Зареждане на пусковите предмети", IDC_CBX_STARTUP_ITEM, 30, 110, 260, 10
END

IDD_FREELDR_PAGE DIALOGEX 0, 0, 362, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    LISTBOX IDC_LIST_BOX, 10, 10, 340, 50, WS_CHILD | WS_VISIBLE | WS_TABSTOP |
            LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_HSCROLL
    PUSHBUTTON "&Проверка на всички пускови пътища", IDC_BTN_CHECK_BOOT_PATH, 5, 65, 129, 12
    PUSHBUTTON "&Направи подразбрано", IDC_BTN_SET_DEFAULT_BOOT, 135, 65, 78, 12
    PUSHBUTTON "Премести на&горе", IDC_BTN_MOVE_UP_BOOT_OPTION, 213, 65, 66, 12
    PUSHBUTTON "Премести на&долу", IDC_BTN_MOVE_DOWN_BOOT_OPTION, 280, 65, 70, 12
    GROUPBOX "Пускови настройки", -1, 10, 80, 250, 90, 0, WS_EX_TRANSPARENT
    CHECKBOX "/SA&FEBOOT", IDC_CBX_SAFE_BOOT, 15, 90, 55, 10
    CHECKBOX "/&NOGUIBOOT", IDC_CBX_NO_GUI_BOOT, 15, 105, 60, 10
    CHECKBOX "/&BOOTLOG", IDC_CBX_BOOT_LOG, 15, 120, 50, 10
    CHECKBOX "/BAS&EVIDEO", IDC_CBX_BASE_VIDEO, 15, 135, 55, 10
    CHECKBOX "/S&OS", IDC_CBX_SOS, 15, 150, 50, 10
    PUSHBUTTON "Раз&ширени настройки...", IDC_BTN_ADVANCED_OPTIONS, 100, 150, 90, 12
    LTEXT "&Изчакване:", -1, 265, 91, 40, 10
    EDITTEXT IDC_TXT_BOOT_TIMEOUT, 310, 90, 25, 12, ES_LEFT
    LTEXT "сек.", -1, 340, 91, 15, 10
END

IDD_FREELDR_ADVANCED_PAGE DIALOGEX 0, 0, 175, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CHECKBOX "/&MAXMEM=", IDC_CBX_MAX_MEM, 10, 10, 50, 10
    EDITTEXT IDC_TXT_MAX_MEM, 80, 10, 60, 12
    CONTROL "", IDC_SCR_MAX_MEM, "msctls_updown32", 0x50000000, 140, 10, 11, 11
    CHECKBOX "/&NUMPROC=", IDC_CBX_NUM_PROC, 10, 25, 50, 10
    COMBOBOX IDC_DRP_NUM_PROC, 80, 25, 60, 10, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
    CHECKBOX "/&PCILOCK", IDC_CBX_PCI_LOCK, 10, 40, 50, 10
    CHECKBOX "/P&ROFILE", IDC_CBX_PROFILE, 10, 55, 50, 10
    CHECKBOX "/&IRQ", IDC_CBX_IRQ, 10, 70, 40, 12
    EDITTEXT IDC_TXT_IRQ, 80, 70, 60, 12, ES_LEFT
    CHECKBOX "/&DEBUG", IDC_CBX_DEBUG, 10, 85, 40, 10
    CHECKBOX "/D&EBUGPORT", IDC_CBX_DEBUG_PORT, 20, 100, 60, 10
    COMBOBOX IDC_DRP_DEBUG_PORT, 80, 100, 60, 10, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
    CHECKBOX "/&BAUDRATE", IDC_CBX_BAUD_RATE, 20, 115, 50, 10
    COMBOBOX IDC_DRP_DRP_BAUD_RATE, 80, 115, 60, 10, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
    CHECKBOX "/&CHANNEL", IDC_CBX_CHANNEL, 20, 130, 50, 10
    EDITTEXT IDC_TXT_CHANNEL, 80, 130, 60, 12, ES_LEFT
    CONTROL "", IDC_SCR_CHANNEL, "msctls_updown32", 0x50000000, 140, 130, 11, 11
    PUSHBUTTON "Добре", IDC_OK, 20, 160, 50, 12
    PUSHBUTTON "Отказ", IDC_CANCEL, 100, 160, 50, 12
END

STRINGTABLE
BEGIN
    IDS_MSCONFIG "Приложение за настройка на системата"
    IDS_TAB_GENERAL "Общи"
    IDS_TAB_SYSTEM "SYSTEM.INI"
    IDS_TAB_FREELDR "FREELDR.INI"
    IDS_TAB_SERVICES "Услуги"
    IDS_TAB_STARTUP "Запуск"
    IDS_TAB_TOOLS "Средства"
END

STRINGTABLE
BEGIN
    IDS_SERVICES_COLUMN_SERVICE "Услуга"
    IDS_SERVICES_COLUMN_REQ "Задължително"
    IDS_SERVICES_COLUMN_VENDOR "Производител"
    IDS_SERVICES_COLUMN_STATUS "Състояние"
END

STRINGTABLE
BEGIN
    IDS_TOOLS_COLUMN_NAME "Име"
    IDS_TOOLS_COLUMN_DESCR "Описание"
    IDS_TOOLS_CMD_NAME "Управляващ прозорец (console)"
    IDS_TOOLS_CMD_DESCR ""
    IDS_TOOLS_CMD_CMD "cmd.exe"
    IDS_TOOLS_INFO_NAME "Версия"
    IDS_TOOLS_INFO_DESCR "Дава сведения за версията."
    IDS_TOOLS_INFO_CMD "winver.exe"
    IDS_TOOLS_REGEDIT_NAME "Обработчик на регистъра"
    IDS_TOOLS_REGEDIT_DESCR "Отваря обработчика на регистъра "
    IDS_TOOLS_REGEDIT_CMD "regedit.exe"
    IDS_TOOLS_SYSDM_NAME "Свойства на системата"
    IDS_TOOLS_SYSDM_DESCR "Дава сведения закомпютъра."
    IDS_TOOLS_SYSDM_CMD "control.exe"
    IDS_TOOLS_SYSDM_PARAM "sysdm.cpl"
    IDS_STARTUP_COLUMN_ELEMENT "Предмет"
    IDS_STARTUP_COLUMN_CMD "Команда"
    IDS_STARTUP_COLUMN_PATH "Път"
END

STRINGTABLE
BEGIN
    IDS_SERVICES_STATUS_RUNNING "Пуснат"
    IDS_SERVICES_STATUS_STOPPED "Спрян"
    IDS_SERVICES_YES "Да"
    IDS_SERVICES_UNKNOWN "Неизвестен"
END
