// Russian language resource file (Dmitry Chapyshev, 2007-06-10)

LANGUAGE LANG_RUSSIAN, SUBLANG_DEFAULT

IDD_MSCONFIG_DIALOG DIALOGEX DISCARDABLE  0, 0, 378, 220
STYLE DS_SHELLFONT | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP |
    WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION | WS_SYSMENU |
    WS_THICKFRAME
CAPTION "Настройки системы"
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "Tab1",IDC_TAB,"SysTabControl32",WS_TABSTOP,2,2,374,195
    DEFPUSHBUTTON "OK", IDOK, 211, 201, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "&Справка", IDC_BTN_HELP, 2, 201, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "Отмена", IDCANCEL, 267, 201, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
    PUSHBUTTON "Применить", IDC_BTN_APPLY, 323, 201, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

IDD_STARTUP_PAGE DIALOGEX DISCARDABLE  0, 0, 362, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "List3",IDC_STARTUP_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 2, 1, 360, 148
    PUSHBUTTON      "&Включить все",IDC_BTN_STARTUP_ACTIVATE,223,155,66,14
    PUSHBUTTON      "В&ыключить все",IDC_BTN_STARTUP_DEACTIVATE,295,155,66,14
END

IDD_SYSTEM_PAGE DIALOGEX DISCARDABLE  0, 0, 362, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", 237, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_EDITLABELS | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 2, 1, 280, 148
    PUSHBUTTON      "Вв&ерх", IDC_BTN_SYSTEM_UP, 290, 5, 66, 14
    PUSHBUTTON      "В&низ", IDC_BTN_SYSTEM_DOWN, 290, 25, 66, 14

    PUSHBUTTON      "В&ключить", IDC_BTN_SYSTEM_ENABLE, 290, 50, 66, 14
    PUSHBUTTON      "&Отключить", IDC_BTN_SYSTEM_DISABLE, 290, 70, 66, 14

    PUSHBUTTON      "&Поиск", IDC_BTN_SYSTEM_FIND, 290, 95, 66, 14
    PUSHBUTTON      "&Создать", IDC_BTN_SYSTEM_NEW, 290, 115, 66, 14
    PUSHBUTTON      "&Изменить", IDC_BTN_SYSTEM_EDIT, 290, 135, 66, 14

    PUSHBUTTON      "Вк&лючить все", IDC_BTN_SYSTEM_ACTIVATE, 123, 155, 66, 14
    PUSHBUTTON      "О&тключить все",IDC_BTN_SYSTEM_DEACTIVATE, 195, 155, 66, 14
END

IDD_TOOLS_PAGE DIALOGEX DISCARDABLE  0, 0, 362, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL "List2",IDC_TOOLS_LIST, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP, 2, 1, 360, 134
    EDITTEXT IDC_TOOLS_CMDLINE, 1, 139, 360, 12, ES_READONLY
    PUSHBUTTON "&Запуск", IDC_BTN_RUN, 311, 155, 50, 14, WS_CHILD | WS_VISIBLE | WS_TABSTOP
END

IDD_SERVICES_PAGE DIALOGEX DISCARDABLE  0, 0, 362, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
    CONTROL         "List1",IDC_SERVICES_LIST,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_SORTASCENDING | WS_BORDER | WS_TABSTOP,2,1,360,148
    PUSHBUTTON      "&Включить все",IDC_BTN_SERVICES_ACTIVATE,223,155,66,14
    PUSHBUTTON      "В&ыключить все",IDC_BTN_SERVICES_DEACTIVATE,295,155,66,14
END

IDD_GENERAL_PAGE DIALOGEX DISCARDABLE  0, 0, 362, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
 GROUPBOX "Варианты запуска", -1, 10, 10, 340, 150,0,WS_EX_TRANSPARENT
 CONTROL "&Обычный запуск - загрузка всех драйверов устройств и запуск всех служб", IDC_CBX_NORMAL_START, "Button", 0x50010009, 20, 30, 280, 10
 CONTROL "&Диагностический запуск - загрузка только основных драйверов и запуск основных служб", IDC_CBX_DIAGNOSTIC_START, "Button", 0x50010009, 20, 45, 325, 10
 CONTROL "&Выборочный запуск", IDC_CBX_SELECTIVE_STARTUP, "Button", 0x50010009, 20, 60, 100, 10
 AUTOCHECKBOX "О&брабатывать файл SYSTEM.INI", IDC_CBX_SYSTEM_INI, 30, 80, 130, 10
 AUTOCHECKBOX "&Загружать системные службы", IDC_CBX_SYSTEM_SERVICE, 30, 95, 130, 10
 AUTOCHECKBOX "З&агружать элементы автозагрузки", IDC_CBX_STARTUP_ITEM, 30, 110, 140, 10
END

IDD_FREELDR_PAGE DIALOGEX DISCARDABLE  0, 0, 362, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", IDC_LIST_BOX, "ListBox", 0x50010141, 10, 10, 340, 50, 0x00000200
   PUSHBUTTON    "&Проверить все пути загрузки", IDC_BTN_CHECK_BOOT_PATH, 10, 65, 110, 12
   PUSHBUTTON    "П&о умолчанию", IDC_BTN_SET_DEFAULT_BOOT, 125, 65, 70, 12
   PUSHBUTTON    "&Вверх", IDC_BTN_MOVE_UP_BOOT_OPTION, 200, 65, 70, 12
   PUSHBUTTON    "В&низ", IDC_BTN_MOVE_DOWN_BOOT_OPTION, 275, 65, 70, 12
   GROUPBOX "Параметры загрузки", -1, 10, 80, 250, 90,0,WS_EX_TRANSPARENT
   CHECKBOX "/SA&FEBOOT", IDC_CBX_SAFE_BOOT, 15, 90, 55, 10
   CHECKBOX "/&NOGUIBOOT", IDC_CBX_NO_GUI_BOOT, 15, 105, 60, 10
   CHECKBOX "/&BOOTLOG", IDC_CBX_BOOT_LOG, 15, 120, 50, 10
   CHECKBOX "/BAS&EVIDEO", IDC_CBX_BASE_VIDEO, 15, 135, 55, 10
   CHECKBOX "/S&OS", IDC_CBX_SOS, 15, 150, 50, 10
   PUSHBUTTON "&Дополнительно...", IDC_BTN_ADVANCED_OPTIONS, 100, 150, 70, 12
   LTEXT "&Таймаут:", -1, 280, 82, 30, 10
   EDITTEXT IDC_TXT_BOOT_TIMEOUT, 280, 93, 25, 12, ES_LEFT
   LTEXT "сек.", -1, 310, 91, 15, 10
END

IDD_FREELDR_ADVANCED_PAGE DIALOGEX DISCARDABLE  0, 0, 175, 175
STYLE DS_SHELLFONT | DS_CONTROL | WS_CHILD | WS_CLIPCHILDREN
FONT 8, "MS Shell Dlg"
BEGIN
   CHECKBOX "/&MAXMEM=", IDC_CBX_MAX_MEM, 10, 10, 50, 10
   EDITTEXT IDC_TXT_MAX_MEM, 80, 10, 60, 12
   CONTROL "",IDC_SCR_MAX_MEM, "msctls_updown32", 0x50000000, 140, 10, 11, 11
   CHECKBOX "/&NUMPROC=", IDC_CBX_NUM_PROC, 10, 25, 50, 10
   COMBOBOX IDC_DRP_NUM_PROC, 80, 25, 60, 10, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   CHECKBOX "/&PCILOCK", IDC_CBX_PCI_LOCK, 10, 40, 50, 10
   CHECKBOX "/P&ROFILE", IDC_CBX_PROFILE, 10, 55, 50, 10
   CHECKBOX "/&IRQ", IDC_CBX_IRQ, 10, 70, 40, 12
   EDITTEXT IDC_TXT_IRQ, 80, 70, 60, 12, ES_LEFT
   CHECKBOX "/&DEBUG", IDC_CBX_DEBUG, 10, 85, 40, 10
   CHECKBOX "/D&EBUGPORT", IDC_CBX_DEBUG_PORT, 20, 100, 60, 10
   COMBOBOX IDC_DRP_DEBUG_PORT, 80, 100, 60, 10, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   CHECKBOX "/&BAUDRATE", IDC_CBX_BAUD_RATE, 20, 115, 50, 10
   COMBOBOX IDC_DRP_DRP_BAUD_RATE, 80, 115, 60, 10, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_TABSTOP
   CHECKBOX "/&CHANNEL", IDC_CBX_CHANNEL, 20, 130, 50, 10
   EDITTEXT IDC_TXT_CHANNEL, 80, 130, 60, 12, ES_LEFT
   CONTROL "",IDC_SCR_CHANNEL, "msctls_updown32", 0x50000000, 140, 130, 11, 11
   PUSHBUTTON "OK", IDC_OK, 20, 160, 50, 12
   PUSHBUTTON "Отмена", IDC_CANCEL, 100, 160, 50, 12
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_MSCONFIG             "Настройка системы"
    IDS_TAB_GENERAL          "Общие"
    IDS_TAB_SYSTEM           "SYSTEM.INI"
    IDS_TAB_FREELDR          "FREELDR.INI"
    IDS_TAB_SERVICES         "Службы"
    IDS_TAB_STARTUP          "Автозагрузка"
    IDS_TAB_TOOLS            "Утилиты"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_SERVICES_COLUMN_SERVICE "Служба"
    IDS_SERVICES_COLUMN_REQ     "Базовая"
    IDS_SERVICES_COLUMN_VENDOR  "Изготовитель"
    IDS_SERVICES_COLUMN_STATUS  "Состояние"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_TOOLS_COLUMN_NAME    "Название"
    IDS_TOOLS_COLUMN_DESCR   "Описание"

    IDS_TOOLS_CMD_NAME       "Командная строка"
    IDS_TOOLS_CMD_DESCR      ""
    IDS_TOOLS_CMD_CMD        "cmd.exe"

    IDS_TOOLS_INFO_NAME      "О программе"
    IDS_TOOLS_INFO_DESCR     "Показать информацию о версии."
    IDS_TOOLS_INFO_CMD       "winver.exe"

    IDS_TOOLS_REGEDIT_NAME   "Редактор реестра"
    IDS_TOOLS_REGEDIT_DESCR  "Открытый редактор реестра."
    IDS_TOOLS_REGEDIT_CMD    "regedit.exe"

    IDS_TOOLS_SYSDM_NAME     "Настройки системы"
    IDS_TOOLS_SYSDM_DESCR    "Показать информацию об этом компьютере."
    IDS_TOOLS_SYSDM_CMD      "control.exe"
    IDS_TOOLS_SYSDM_PARAM    "sysdm.cpl"

    IDS_STARTUP_COLUMN_ELEMENT "Элемент"
    IDS_STARTUP_COLUMN_CMD     "Команда"
    IDS_STARTUP_COLUMN_PATH    "Расположение"
END

STRINGTABLE DISCARDABLE
BEGIN
    IDS_SERVICES_STATUS_RUNNING "Запущено"
    IDS_SERVICES_STATUS_STOPPED "Остановлено"
    IDS_SERVICES_YES "Да"
    IDS_SERVICES_UNKNOWN "Неизвестный"
END
