/*
 * PROJECT:     Solitaire
 * LICENSE:     Freeware, permission to use under Public Domain
 * FILE:        base/applications/games/solitaire/lang/de-DE.rc
 * PURPOSE:     German Language File for Solitaire
 * PROGRAMMERS: Daniel "EmuandCo" Reimer (reimer.daniel@freenet.de)
 */
#include "resource.h"

LANGUAGE LANG_GERMAN, SUBLANG_NEUTRAL


/* Dialogs */

IDD_OPTIONS DIALOGEX DISCARDABLE  0, 0, 186, 118
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SHELLFONT
CAPTION "Optionen"
FONT 8, "MS Shell Dlg"
BEGIN
    GROUPBOX        "Karten", -1, 7, 7, 65, 40
    AUTORADIOBUTTON "&Eine ziehen", IDC_OPT_DRAWONE, 14, 19, 52, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "&Drei ziehen", IDC_OPT_DRAWTHREE, 14, 32, 52, 10

    AUTOCHECKBOX    "&Zeit anzeigen", IDC_OPT_SHOWTIME, 7 ,51 ,65 ,10, WS_TABSTOP | WS_DISABLED
    AUTOCHECKBOX    "S&tatusleiste", IDC_OPT_STATUSBAR, 7, 66, 64, 10, WS_TABSTOP

    DEFPUSHBUTTON   "OK",IDOK,35,97,50,14
    PUSHBUTTON      "Abbrechen",IDCANCEL,101,97,50,14
END

IDD_CARDBACK DIALOGEX 6, 6, 186, 104
CAPTION "Kartenhintergrund wählen"
FONT 8, "MS Shell Dlg"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | DS_SHELLFONT
BEGIN
    CONTROL       "", IDC_CARDBACK1, "Static", SS_NOTIFY, 4, 7, 26, 32
    CONTROL       "", IDC_CARDBACK2, "Static", SS_NOTIFY, 34, 7, 26, 32
    CONTROL       "", IDC_CARDBACK3, "Static", SS_NOTIFY, 64, 7, 26, 32
    CONTROL       "", IDC_CARDBACK4, "Static", SS_NOTIFY, 94, 7, 26, 32
    CONTROL       "", IDC_CARDBACK5, "Static", SS_NOTIFY, 124, 7, 26, 32
    CONTROL       "", IDC_CARDBACK6, "Static", SS_NOTIFY, 154, 7, 26, 32 
    CONTROL       "", IDC_CARDBACK7, "Static", SS_NOTIFY, 4, 46, 26, 32
    CONTROL       "", IDC_CARDBACK8, "Static", SS_NOTIFY, 34, 46, 26, 32
    CONTROL       "", IDC_CARDBACK9, "Static", SS_NOTIFY, 64, 46, 26, 32
    CONTROL       "", IDC_CARDBACK10, "Static", SS_NOTIFY, 94, 46, 26, 32
    CONTROL       "", IDC_CARDBACK11, "Static", SS_NOTIFY, 124, 46, 26, 32
    CONTROL       "", IDC_CARDBACK12, "Static", SS_NOTIFY, 154, 46, 26, 32
    DEFPUSHBUTTON "OK", IDOK, 66, 84, 54, 13
    PUSHBUTTON    "Abbrechen", IDCANCEL, 126, 84, 54, 13
END


/* Strings */

STRINGTABLE
BEGIN
    IDS_SOL_NAME    "Solitär"
    IDS_SOL_ABOUT   "Solitär von J Brown\n\nCardLib version 1.0."
    IDS_SOL_QUIT    "Laufendes Spiel beenden?"
    IDS_SOL_WIN     "Glückwunsch, Sie haben gewonnen!"
    IDS_SOL_DEAL    "Neu geben?"
END


/* Menus */

IDR_MENU1 MENU DISCARDABLE
BEGIN
    POPUP "&Spiel"
    BEGIN
        MENUITEM "&Karten geben\t F2",        IDM_GAME_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Deckblatt...",             IDM_GAME_DECK
        MENUITEM "&Optionen...",              IDM_GAME_OPTIONS
        MENUITEM SEPARATOR
        MENUITEM "&Beenden",                  IDM_GAME_EXIT
    END
    POPUP "&?"
    BEGIN
        MENUITEM "&Inhalt\tF1",               IDM_HELP_CONTENTS
        MENUITEM "Inf&o",                     IDM_HELP_ABOUT
    END
END


/* Accelerators */

IDR_ACCELERATOR1 ACCELERATORS DISCARDABLE
BEGIN
    VK_F1,          IDM_HELP_CONTENTS,      VIRTKEY, NOINVERT
    VK_F2,          IDM_GAME_NEW,           VIRTKEY, NOINVERT
END
