/*
 * PROJECT:     Solitaire
 * LICENSE:     Freeware, permission to use under Public Domain
 * FILE:        base/applications/games/solitaire/uk.rc
 * PURPOSE:     Ukraianian Language File for Solitaire
 * TRANSLATOR:  Artem Reznikov
 */
#include "resource.h"

LANGUAGE LANG_UKRAINIAN, SUBLANG_DEFAULT


/* Dialogs */

IDD_OPTIONS DIALOGEX DISCARDABLE 0, 0, 186, 118
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Options"
FONT 8, "MS Shell Dlg"
EXSTYLE DS_SHELLFONT
BEGIN
    GROUPBOX        "Cards", -1, 7, 7, 65, 40
    AUTORADIOBUTTON "Draw &One", IDC_OPT_DRAWONE, 14, 19, 52, 10, WS_GROUP | WS_TABSTOP
    AUTORADIOBUTTON "Draw &Three", IDC_OPT_DRAWTHREE, 14, 32, 52, 10

    AUTOCHECKBOX    "&Show Time", IDC_OPT_SHOWTIME, 7 ,51 ,65 ,10, WS_TABSTOP
    AUTOCHECKBOX    "S&tatus bar", IDC_OPT_STATUSBAR, 7, 66, 64, 10, WS_TABSTOP

    DEFPUSHBUTTON   "OK", IDOK, 35, 97, 50, 14
    PUSHBUTTON      "Скасувати", IDCANCEL, 101, 97, 50, 14
END


/* Strings */

STRINGTABLE
BEGIN
    IDS_SOL_NAME    "Solitaire"
    IDS_SOL_ABOUT   "Solitaire by J Brown\n\nCardLib version 1.0."
    IDS_SOL_QUIT    "Quit the current game?"
END


/* Menus */

IDR_MENU1 MENU DISCARDABLE
BEGIN
    POPUP "&Гра"
    BEGIN
        MENUITEM "&Роздати карти\tF2",          IDM_GAME_NEW
        MENUITEM SEPARATOR
        MENUITEM "&Колода...",                  IDM_GAME_DECK
        MENUITEM "&Параметри...",               IDM_GAME_OPTIONS
        MENUITEM SEPARATOR
        MENUITEM "В&ихід",                      IDM_GAME_EXIT
    END
    POPUP "&Довідка"
    BEGIN
        MENUITEM "&Зміст\tF1",                  IDM_HELP_CONTENTS
        MENUITEM "&Про",                        IDM_HELP_ABOUT
    END
END


/* Accelerators */

IDR_ACCELERATOR1 ACCELERATORS DISCARDABLE
BEGIN
    VK_F1,          IDM_HELP_CONTENTS,      VIRTKEY, NOINVERT
    VK_F2,          IDM_GAME_NEW,           VIRTKEY, NOINVERT
END
